div.mk-container {
	display:inline-table;
	width:100%;
	background:rgba(245,245,245,0.25);
	border:1px solid rgba(159,159,159,0.25);
	font-family:arial;
	margin-top:20px;
	box-sizing:border-box;
}



div.mk-container .mk-top {
	border-bottom:1px solid rgba(159,159,159,0.25);
	width:100%;
	display:inline-table;
	position:relative;
}
div.mk-container h2 {
	font-size:20px;
	font-weight:bold;
	margin-left:20px; 
	margin-right:20px;
}
.cb-container {
	margin-top:20px;
	
}
.cb-container input {
	 float:left;
}
.cb-container label {
	font-size:13px;
	float:left;
	padding-top:2px;
	font-family:Arial;
	 
}
div.mk-container .mk-top h2, div.mk-container .mk-top .cb-container {
	float:left;
}

div.mk-container .mk-top .right-nav {
	float:right;
	margin-top:10px;
	margin-right:10px;
	
}
/*sorting*/
div.mk-container .mk-top .right-nav .sorting {
	float:left;
	height:35px;
	width:170px;
	position:relative;
	display:inline-table;
	line-height:35px;
	font-size:13px;
	text-indent:10px;
	background:#EDEDED;
	border-radius:6px;
	margin-right:15px;
	cursor:pointer;
	transition:background-color 0.3s ease;
}
div.mk-container .mk-top .right-nav .sorting:hover {
	background:#DFDFDF;
}
div.mk-container .mk-top .right-nav .buttons {
	display:block;
	float:right;
	margin-top:10px;
	width:47px;
}
div.mk-container .mk-top .right-nav .buttons .btnSort {
	width:15px;
	height:15px;
	display:block;
	background-color:transparent;
	border:0;
	float:left;
	margin-left:4px;
	opacity:0.12;
	outline:none;
	cursor:pointer;
	transition:filter 0.3s ease, opacity 0.3s ease;
}
div.mk-container .mk-top .right-nav .buttons .btnSort:hover {
	-webkit-filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .3));
	filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .3));
	opacity:1;
	transition:filter 0.3s ease, opacity 0.3s ease;
}
div.mk-container .mk-top .right-nav .buttons .btnSort.active {
	opacity:1;
}
div.mk-container .mk-top .right-nav .buttons .sortdown {
	background:url(sortdown.svg) 50% 50% no-repeat;
	background-size:13px 8px;
}
div.mk-container .mk-top .right-nav .buttons .sortup {
	background:url(sortup.svg) 50% 50% no-repeat;
	background-size:13px 8px;
}
 
/*sorting drop down*/
div.mk-container .mk-top .right-nav .sorting-dd {
	position:absolute;
	width:205px;
	background:#ffffff;
	z-index:5;
	margin-top:40px;
	border-radius:6px;
	
	-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.36);
	box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.36);
} 

div.mk-container .mk-top .right-nav .sorting-dd .sortby {
	border-bottom:1px solid #D8D8D8;
	display:block;
	height:40px;
	width:100%;
	text-indent:16px;
	font-size:13px;
	font-weight:bold;
	margin-top:7px;
	line-height:37px;
}
div.mk-container .mk-top .right-nav .sorting-dd .sortby  .buttons {
	margin-right:10px;
}
div.mk-container .mk-top .right-nav .sorting-dd ul {
	 margin:0;
	 padding:10px 16px;
	 
 }
div.mk-container .mk-top .right-nav .sorting-dd ul li {
	list-style:none;
	padding:0;
	margin:0;
	text-indent:0;
	line-height:28px;
	font-size:13px;
}
div.mk-container .mk-top .right-nav .sorting-dd ul li:hover {
	font-weight:bold;
	cursor:pointer;
}
div.mk-container .mk-top .right-nav .sorting-dd ul li.active {
	background:url(checkmark.svg) 0px 50% no-repeat;
	background-size:13px 10px;
	color:#2B3A70;
	font-weight:bold;
	padding-left:19px;
}




div.mk-container .mk-top .right-nav .btnBlue {
	width:35px;
	height:35px;
	display:block;
	border-radius:6px;
	text-align:center;
	 
	float:left;
	border:0;
	margin-left:5px;
	cursor:pointer;
	transition:background-color	0.3s ease;
	}

	

div.mk-container .mk-top .right-nav .btnExpand {
	background:#00A2FF url(expandw.svg) 50% 55% no-repeat;
	background-size:14px 11px;
}
div.mk-container .mk-top .right-nav .btnExpand.btnCollapse {
	background:#00A2FF url(collapsew.svg) 50% 50% no-repeat;
	background-size:14px 11px;
}

div.mk-container .mk-top .right-nav .btnEdit {
	background:#00A2FF url(editw.svg) 50% 50% no-repeat;
	background-size:18px auto;
}

div.mk-container .mk-top .right-nav .btnBlue:hover {
	background-color:#008CDC;
}	
/*medikation table*/


table.medikation {
	margin:10px;
	width:calc(100% - 20px);
	
	 
}
 
table.medikation > thead > tr > th {
	text-align:left;
	font-size:12px;
	font-weight:bold;
	letter-spacing:0.5pt;
	vertical-align:bottom;
	padding-bottom:8px;
	
	padding-left:8px;
	padding-right:8px;
	position:relative;
}
table.medikation > thead > tr > th:before {
	border-left:1px solid #D8D8D8;
	display:block;
	padding-left:1px;
	height:35px;
	content:" ";
	position:absolute;
	left:0px;
	top:0;
}
table.medikation > thead > tr > th.dosierung {
	padding-bottom:5px;
}
table.medikation > thead > tr.time > th {
	 font-weight:normal;
	 max-width:100px;
}
table.medikation > thead > tr.time > th:before {
	height:17px;
}

table.medikation > thead > tr > th.name:before {
	border:0;
}
 table.medikation > thead > tr > th.name span {
	 font-weight:normal;
	 font-style:italic;
	 text-decoration:underline;
 }
/*medikation elements */ 
 
table.medikation > tbody > tr > td {
	background:#F3F3F3;
	font-size:13px;
	border-left:1px solid #D8D8D8;
	padding:8px;
	height:34px;
}
table.medikation > tbody > tr.double > td {
	height:auto;
}

table.medikation > tbody > tr.double.first > td.name, table.medikation > tbody > tr.double.first > td.dosierung {
	
	padding-top:5px;
	padding-bottom:5px;
}

table.medikation > tbody > tr.double.last > td.name, table.medikation > tbody > tr.double.last > td.dosierung { 
	border-top:1px solid #D8D8D8;
}


table.medikation > tbody > tr > td.name, table.medikation > tbody > tr > td.sortnum {
	border-left:0;
	padding-left:0;
}
table.medikation > tbody > tr.double.last > td  {
	text-decoration:underline;
	font-style:italic;
	color:#5D5D5D;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:0;
}
table.medikation > tbody > tr.double.last .escallation {
	border-top:1px solid #D8D8D8;
	padding-top:5px;
	padding-bottom:5px;
}
table.medikation > tbody > tr.double.last .escallation span {
	background:url(escallation.svg) 0% 50% no-repeat;
	display:inline-table;
	width:100%;
	padding-left:22px;
	
}

table.medikation > tbody > tr > td:first-child {
	border-radius:6px 0 0 6px;
}
table.medikation > tbody > tr > td:last-child {
	border-radius:0 6px 6px 0;
	padding-right:0;
}
table.medikation > tbody > tr.double > td:last-child {
	 
	padding-right:8px;
}


table.medikation > tbody > tr > td.sortnum {
	width:40px;
	min-width:40px;
	padding:0;
}
.mk-container.mk-edit table.medikation > tbody > tr > td.sortnum {
	padding-left:5px;
	padding-right:5px;
	text-align:center;
}
.mk-container.mk-edit table.medikation > tbody > tr > td.sortnum input {
	width:35px;
	text-align:center;
	padding-left:0;
}
/* .mk-container.mk-edit table.medikation > tbody > tr > td.sortnum label {
	text-align:center;
} */

table.medikation > tbody > tr > td.sortnum > span {
	width:17px;
	height:17px;
	background:#AFAFAF;
	display:block;
	text-align:center;
	line-height:17px;
	border-radius:50%;
	margin:0 auto;
	font-size:10px;
	color:#ffffff;
	font-family:arial;
}

/*indikation / comment */
table.medikation > tbody > tr > td.ind-comm div.indikation {
	display:inline-table;
	width:100%;
	margin-bottom:2px;
	margin-top:2px;
}
table.medikation > tbody > tr > td.ind-comm div.indikation span {
	width:12px;
	height:12px;
	display:block;
	float:left;
	border-radius:50%;
	background:#333;
	margin-right:7px;
}

table.medikation > tbody > tr > td.ind-comm div.comment, .mk-container > div.comment {
	display:inline-table;
	width:100%;
	background:url(comment.svg) 0px 2px no-repeat;
	background-size:14px auto;
	padding-left:19px;
	color:#8E8E8E;
	font-size:13px;
	margin-bottom:2px;
	margin-top:2px;
}



/*buttons*/
table.medikation td.date {
	position:relative;
	min-width:102px;
	width:102px;
	/* padding-top:0;
	padding-bottom:0; */
	
/* 	min-height:50px; */
}
table.medikation tr.double td.date {
	padding-top:5px;
	padding-bottom:5px;
}

table.medikation td.date .date-cont {
	display:inline-table;
	float:left;
	line-height:20px;
	 
}
table.medikation td.date .btnHistory {
	background:url(historyback.svg) 50% 50% no-repeat;
	background-size:17px 17px;
	border:0;
	width:18px;
	height:18px;
	display:block;
	float:left;
	margin-right:5px;
	outline:none;
	transition:filter 0.3s ease;
}
table.medikation td.date .btnHistory:hover {
	-webkit-filter: drop-shadow( 0px 0px 4px rgba(0, 162, 255, .6));
	filter: drop-shadow( 0px 0px 4px rgba(0, 162, 255, .6));
	cursor:pointer;
	transition:filter 0.3s ease;
}
.btncontainer {
	position:relative;
	right:0;
	top:0;
	height:100%;
	width:44px;
	background:red;
}
table.medikation td.details {
	padding:0 !important ;
	border-left:0;
	width:44px;
	cursor:pointer;
	overflow:hidden !important;
	position:relative;
	background:#EDEDED url(expand.svg) 50% 50% no-repeat;
	background-size:16px 11px;
	transition:background-color 0.3s ease;
}
 table.medikation td.delete {
	padding:0 !important ;
	border-left:0;
	width:44px;
	cursor:pointer;
	overflow:hidden !important;
	position:relative;
	background:#EDEDED url(cross.svg) 50% 50% no-repeat;
	background-size:13px auto;
	transition:background-color 0.3s ease;
	border-left:1px solid #D8D8D8;
	border-right:1px solid #D8D8D8;
}
table.medikation td.delete:hover {
	background-color: #dfdfdf;
	transition:background-color 0.3s ease;
}
 
 
table.medikation td.details:hover {
	background: #dfdfdf url(expand.svg) 50% 50% no-repeat;
	background-size:16px 11px;
	transition:background-color 0.3s ease;
}

table.medikation tr.expanded td.details {
	background: #EDEDED url(collapse.svg) 50% 50% no-repeat;
	background-size:16px 11px;
	transition:background-color 0.3s ease;
}

table.medikation tr.expanded td.details:hover {
	background: #dfdfdf url(collapse.svg) 50% 50% no-repeat;
	background-size:16px 11px;
	transition:background-color 0.3s ease;
}




/*separator*/
table.medikation > tbody > tr.separator td {
	height:5px;
	padding:0;
	font-size:0;
	background:transparent;
	border:0;
}
.mk-container.mk-edit table.medikation > tbody > tr.separator td { 
	height:10px;
}



/*expanded*/
table.medikation > tbody > tr.expanded td:first-child {
	border-radius:6px 0 0 0 ;
}
table.medikation > tbody > tr.expanded td:last-child  {
	border-radius:0 6px 0 0 ;
}
table.medikation > tbody > tr.expandedItem td {
	border:0;
	border-radius:0 0 6px 6px;
	padding:0;
	-webkit-box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.07);
	-moz-box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.07);
	box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.07);
}
table.medikation > tbody > tr.expandedItem td h3 {
	margin:0;
	padding:0;
	width:auto;
	display:block;
	border-bottom:1px solid  rgba(159,159,159,0.25);
	
	font-size:13px;
	font-weight:bold;
	letter-spacing:0.5pt;
	padding-top:20px;
	padding-bottom:15px;
	padding-left:15px;
}
table.medikation .ei-content {
	padding:15px;
	
	display:inline-table;
}
table.medikation .ei-content ul {
	margin:0;
	padding:0;
	display:inline-table;
	float:left;
	width:250px;
}
table.medikation .ei-content ul li {
	padding:0;
	margin:0;
	list-style:none;
	color:#8E8E8E;
	font-size:13px;
	font-weight:bold;
	line-height:24px;
}

table.medikation .ei-content ul li span {
	width:120px;
	white-space:nowrap;
	display:inline-table;
	font-weight:normal;
}

table.medikation .ei-content ul:nth-child(3) li span {
	width:160px;
}

table.medikation .ei-content .btnBlue {
	background:#00A2FF;
	border:0;
	border-radius:6px;
	color:#ffffff;
	height:24px;
	transition:all 0.3s ease;
}
table.medikation .ei-content .btnBlue:hover {
	cursor:pointer;
	background:#008CDC;
}

.mk-container.comment h2 {
	padding-bottom:0;
	margin-bottom:5px;
}
.mk-container > div.comment {
	margin-left:20px;
	margin-bottom:20px;
	margin-top:-10px;
	display:inline-table;
	width:calc(100% - 20px);
	padding-left:20px;
	box-sizing:border-box;
	
	 
}
/*edit section*/
.mk-container.mk-edit table.medikation > thead > tr.time th { 
	width:67px;
}
/* .mk-container.mk-edit table.medikation > thead > tr.time th:last-child { 
	width:70px;
} */
.mk-container.mk-edit table.medikation > thead > tr > th:before {
	height:74px;
}
.mk-container.mk-edit table.medikation > thead > tr.time > th:before {
	height:55px;
}



.mk-container.mk-edit table.medikation tr.time th {
	position:relative;
}
.mk-container.mk-edit table.medikation tr.time th input.date {
	width:65px;
	float:left;
 
	padding-left:14px;
	
}

.mk-container.mk-edit table.medikation td.name .cn {
	width:100%;
	display:inline-table;
	position:relative;
}
.mk-container.mk-edit table.medikation td.name .cn input.name {
	padding-right:40px;
}
.mk-container.mk-edit table.medikation td.name .cn .btnMMI {
	position:absolute;
	right:4px;
	background: #00A2FF;
	border-radius:6px;
	border:0;
	color:#ffffff;
	top:4px;
	padding:5px 6px;
	outline:none;
	font-size:11px;
	transition:background-color 0.3s ease;
}

.mk-container.mk-edit table.medikation tr.time .btnContainer {
	display:inline-table;
	float:left;
	position:relative;
	margin-top:2px;
	width:100%;
}
.mk-container.mk-edit table.medikation tr.time .btnBlue {
	margin-right:2px;
}
.mk-container.mk-edit table.medikation tr.time .btnPlus {
	background: #EDEDED  url(plus.svg) 50% 50% no-repeat;
	background-size:10px auto;
    border: 0;
    border-radius: 6px;
    color: #00A2FF;
    height: 20px;
	width:20px;
    transition: background-color 0.3s ease;
	float:left;
	font-size:15px;
	font-weight:bold;
	
	 
	
	outline:none;
	cursor:pointer;
	padding:0;
	box-sizing:border-box;
}


 


.mk-container.mk-edit table.medikation tr.time .btnDelete {
 
	background: #EDEDED  url(cross.svg) 50% 50% no-repeat;
	background-size:8px auto;
    border: 0;
    border-radius: 6px;
    color: #000;
    height: 20px;
	width:20px;
    transition: background-color 0.3s ease;
	float:left;
	font-size:15px;
 font-weight:bold;
	outline:none;
	cursor:pointer;
 
	padding:0;
	box-sizing:border-box;
}
.mk-container.mk-edit table.medikation tr.time .btnBlue:hover  {
	background-color: #dfdfdf;
	transition:background-color 0.3s ease;
}

.mk-container.mk-edit .btnBlue:hover, .mk-container.mk-edit .btnMMI:hover {
	background-color:#008CDC !important;
	color:#ffffff !important;
	cursor:pointer;7
	transition:background-color 0.3s ease;
}

 

.mk-container.mk-edit table.medikation .name.sort {
	 
	
}

.mk-container.mk-edit table.medikation .dosierung .item {
	display:inline-table;
	position:relative;
	width:100%;
	 
}
.mk-container.mk-edit table.medikation .dosierung .item .unit {
	position:absolute;
	background:#F3F3F3;
	padding:3px;
	border-radius:6px;
	right:5px;
	top:calc(50% - 9px);
	font-size:11px;
}

.mk-container.mk-edit table.medikation input[type=text], .mk-container.mk-edit table.medikation select, .mk-container.mk-edit table.medikation textarea, .mk-container.mk-edit .editcomment {
	border-radius:6px;
	border:1px solid #D8D8D8;
	box-sizing:border-box;
	height:30px;
	font-family:Arial, sans-serif;
	padding-left:5px;
	font-size:13px;
	width:100%;
	outline:none;
	
}
.mk-container.mk-edit table.medikation input[type=text]:focus, .mk-container.mk-edit table.medikation select:focus, .mk-container.mk-edit table.medikation textarea:focus,  .mk-container.mk-edit .editcomment:focus {
	border:1px solid #00A2FF;
}


.mk-container.mk-edit table.medikation textarea {
	padding-top:5px;
	height:43px;
	margin-top:0px;
}
 
.mk-container.mk-edit table.medikation td.date {
	vertical-align:top;
}
.mk-container.mk-edit table.medikation td.date input.date {
	background:#ffffff url(date.svg) calc(100% - 5px) 50% no-repeat;
	background-size:15px auto;
	margin-top:5px;
}

.mk-container.mk-edit table.medikation td.date select {
	margin-top:5px;
}


.mk-container.mk-edit textarea.editcomment {
	background:#ffffff url(comment.svg) 7px 7px no-repeat;
	background-size:14px auto;
	padding-left:26px !important;
	margin-top:5px;
}

.mk-container.mk-edit.comment > .editcomment {
	margin-left:20px;
	margin-bottom:20px;
	box-sizing:border-box;
	width:calc(100% - 40px);
	height:60px;
	padding-top:5px;
}


.mk-container.mk-edit table.medikation > tbody > tr > td.ind-comm div.indikation {
	position:relative;
}
.mk-container.mk-edit table.medikation > tbody > tr > td.ind-comm div.indikation .circle {
	position:absolute;
	top:9px;
	left:7px;
}
.mk-container.mk-edit table.medikation > tbody > tr > td.ind-comm div.indikation select {
	 
	padding:0;
	margin:0;
	 
}
.mk-container.mk-edit table.medikation > tbody > tr > td.ind-comm div.indikation select option {
	padding-left:40px;
	text-indent:0;
}
.mk-container.mk-edit .ei-content ul.item  {
	margin-right:20px;
}
.mk-container.mk-edit .ei-content ul.item li {
	margin-bottom:10px;
	display:inline-table;
}
.mk-container.mk-edit .ei-content ul.item li span {
	float:left;
	display:block;
	margin-top:5px;
	white-space:normal;
	line-height:15px;
}
.mk-container.mk-edit .ei-content ul.item li select, .mk-container.mk-edit .ei-content ul.item li input[type=text] {
	width:110px;
	float:left;
}
.mk-container.mk-edit table.medikation .ei-content ul:nth-child(3) li span {
	width:110px;
	
}





