/*<!-- ISPC-2507 Lore 31.01.2020 -->*/

.them_table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000000;
	margin-bottom: 20px;
}

.them_table td textarea.full_textarea {
	margin: 2px;
	width: 99%;
	height: 100px;
}

.textarea_th {
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	padding: 3px;
}
