<script type="text/javascript">
	var pl_loading = function()
	{
		var dlist = '<div class="loadingdiv" align="center" style="width: 660px;float: left;"><img src="<? echo RES_FILE_PATH;  ?>/images/pageloading.gif"><br />	Loading... please wait</div>';
		document.getElementById('content').innerHTML = dlist;
	}

	var callBack = function(params)
	{
		document.getElementById('content').innerHTML = params.patientlist;
	}

	$(document).ready(function() {
		$('.addr-letter').live('click',function() {
			ajaxCallserver({callLoading:pl_loading,url:'addressbook/fetchlist/?slet='+$(this).attr('rel') + '&type=' + $('#type_c').val()});
			$('.addr-letter').each(function() {
				$(this).removeClass('selected');
			});
			$('#fav-filter').parent().css('background','#fff');
			$(this).addClass('selected');

			return false;
		});

		$('#default-all').live('click',function() {
			ajaxCallserver({callLoading:pl_loading,url:'addressbook/fetchlist?type=' + $('#type_c').val()});
			$('.addr-letter').each(function() {
				$(this).removeClass('selected');
			});
			$('#fav-filter').parent().css('background','#fff');
			return false;
		});

		
		$('#fav-filter').live('click',function() {
			ajaxCallserver({callLoading:pl_loading,url:'addressbook/fetchlist/?fav=1&type=' + $('#type_c').val()});
			$('.addr-letter').each(function() {
				$(this).removeClass('selected');
			});

			$(this).parent().css('background','black');

			return false;
		});

		$('.addr-more').live('click',function() {
			$(this).parent().find('.addr-details').toggle();
			return false;
		});


		$('tr.alternable').live('mouseover',function(){
			$(this).addClass('hover');
		});

		$('tr.alternable').live('mouseout',function(){
			$(this).removeClass('hover');
		});

		$('.addr-star').live('click',function(){
			var fav_id = $(this).attr('rel');
			var user_id = $('#user_'+fav_id).val();
			var type = $('#type_'+fav_id).val();
			var isfavorite = $(this).attr('title');

			if(isfavorite != '') {
				$.get('addressbook/deladdrfavorite/?usr_id='+user_id+'&fav_id='+fav_id+'&type='+type, function(data) {
				});
				$(this).removeClass('favorite');
			} else {
				$.get('addressbook/addaddrfavorite/?usr_id='+user_id+'&fav_id='+fav_id+'&type='+type, function(data) {
				});
				$(this).addClass('favorite');
			}

			return false;
		});

		$('.tabf').live('click',function() {
			var thetype = $(this).attr('id');
			$('#type_c').val(thetype);
			ajaxCallserver({callLoading:pl_loading,url:'addressbook/fetchlist?type='+ thetype});
			$('.addr-letter').each(function() {
				$(this).removeClass('selected');
			});
			$('#fav-filter').parent().css('background','#fff');
			return false;
		});

	});

</script>
<table style="width: 800px">
<tr>
<td colspan="2">

</td>
</tr>
<tr>
<td style="width: 800px">
<div class="err"><? echo $this->error_message ?></div>
<div style="border: 1px solid #000;width: 775px; padding: 10px">
<input type="hidden" id="type_c" />
	<ul class="tabs addressb">
			 <li><a href="#" id="All" class="tabf">Alle</a></li>
			 <li><a href="#" id="H" class="tabf">Hausarzt</a></li>
			 <li><a href="#" id="F" class="tabf">Facharzt</a></li>
			 <li><a href="#" id="P" class="tabf">Pflegedienst</a></li>
			 <li><a href="#" id="A" class="tabf">Apotheke</a></li>
			 <li><a href="#" id="AU" class="tabf"><?php echo $this->translate('locations');  ?></a></li>
			 <li><a href="#" id="I" class="tabf"><?php echo $this->translate('healthinsurance');  ?></a></li>
			 <li><a href="#" id="SH" class="tabf"><?php echo $this->translate('supplies');  ?></a></li>
			 <li><a href="#" id="SR" class="tabf"><?php echo $this->translate('suppliers');  ?></a></li>
			 <li><a href="#" id="PH" class="tabf"><?php echo $this->translate('Physiotherapeut');  ?></a></li>
			 <li><a href="#" id="HC" class="tabf"><?php echo $this->translate('Homecare');  ?></a></li>
			 <li><a href="#" id="B" class="tabf">Bestatter</a></li>
	</ul>
		<div id="content"><? echo $this->patientgrid ?></div>
		<div id="addressbook-tabs">
		<table>
		<tr><td><a href="#" id="default-all">ALL</a></td></tr>
		<tr><td><a href="#" id="fav-filter"></a></td></tr>
		<?php
		$alphabet = array ("A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z");
		foreach($alphabet as $letter){
			echo '<tr><td><a href="#" class="addr-letter" rel="'.$letter.'">'.$letter.'</a></td></tr>';
		}
		?>
		</table>
		</div>
		<br style="clear: both" />
</div>
</td>
</tr>
</table>
<script type="text/javascript">
	ajaxCallserver({callLoading:pl_loading,url:'addressbook/fetchlist'});
</script>
