<form action="" name="members_list" id="members_list"  method="POST">

<input type="hidden" id="current_page" name="current_page"  value="<?php echo $this->current_page?>" />
<input type="hidden" id="sortby" name="sortby" value="<?php echo $this->orderby?>" />
<input type="hidden" id="sortdir" name="sortdir" value="<?php echo $this->sort?>" />
<input type="hidden" id="cols"  name="viewable_columns"  value="<?php echo $this->selectedColumns; ?>" />
<input type="hidden" id="tabcols"  name="all_colums" value="<?php echo $this->tabColumns; ?>" />
<input type="hidden" id="setlimit" name="setlimit" value="<? echo $this->limit;?>" />

<input type="hidden" id="generate" name="generate" value="0" />
<input type="hidden" id="template_id" name="template_id" value="0" />
<input type="hidden" id="transfer2sendemail" name="transfer2sendemail" value="0" />


<table class="overalllistatable datatable">
	<!--
	<tr>
	<td  class="paginationRow">
		<div class="members2page">
		<label>pro Seite</label>
			<select name="limit_top" id="ltop"  class="limit">
				<option value="20" <?php if($this->limit == "20"):?>  selected="selected" <? endif;?>  >20</option>
				<option value="50" <?php if($this->limit == "50"):?>  selected="selected" <? endif;?>>50</option>
				<option value="100" <?php if($this->limit == "100"):?>  selected="selected" <? endif;?>>100</option>
				<option value="-1" <?php if($this->limit == "-1"):?>  selected="selected" <? endif;?>><?php echo $this->translate("All members");?> </option>
			</select>
		</div>
		<br/>
		<?php if($this->no_pages > 1):?>
			<div id="pg">
				<?php
					$max_pages = 7;
					if($this->no_pages < $max_pages){
						$max_pages = $this->no_pages;
					}

					echo '<a href="javascript: void(0)" class="overallpages" rel="1">&lt;&lt;</a>';
					if($this->current_page > 1) {
						echo '<a href="javascript: void(0)" class="overallpages" rel="'.($this->current_page* 1).'">&laquo; '.$this->translate('prev').'</a>';
					} else {
						echo '<span class="disabled">&laquo; '.$this->translate('prev').'</span>';
					}
					$pivot = floor($max_pages / 2);

					if($this->current_page <= $pivot) {
						$leftmost = 1;
						$rightmost = $max_pages;
					} elseif($this->current_page > ($this->no_pages - $max_pages)) {
						$leftmost = max(1,($this->no_pages - $max_pages));
						$rightmost = $this->no_pages;
					} else {
						$leftmost = max(1, ($this->current_page - $pivot));
						$rightmost = $this->current_page + $pivot;
					}

					for($thepage = $leftmost;$thepage <= $rightmost; $thepage++) {
						echo '<a '.($thepage == $this->current_page ? 'class="current overallpages"' : 'class="overallpages"').' href="javascript: void(0)"  rel="'.$thepage.'">'.$thepage.'</a>';
					}

					if($this->current_page < $this->no_pages) {
						echo '<a href="javascript: void(0)" class="overallpages" rel="'.($this->current_page + 1).'">'.$this->translate('nextptlist').' &raquo;</a>';
					} else {
						echo '<span class="disabled">'.$this->translate('nextptlist').' &raquo;</span>';
					}
					echo '<a href="javascript: void(0)" class="overallpages" rel="'.$this->no_pages.'">&gt;&gt;</a>';
				?>
			</div>
		<?php endif;?>
		
	</td>
</tr>
-->
<thead>
<tr>
	<th  class="col-0 columns" >
 			<span class="thtitle">#</span>
 	</th>
	<th  class="col-55 columns" style="width:3%;">
 			<span class="thtitle"><input type="checkbox" name="" value="" id="all-members" /></span>
 	</th>
	
	<th class="col-16 columns">
		<span class="thtitle"><? echo $this->translate('member_company')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="member_company" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="member_company" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
	   </span>
	</th>	
 	
	<th  class="col-1 columns">
		<span class="thtitle"><? echo $this->translate('title')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="title" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="title" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	<th class="col-2 columns">
		<span class="thtitle"><? echo $this->translate('lastname')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="last_name" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="last_name" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	<th class="col-3 columns">
		<span class="thtitle"><? echo $this->translate('firstname')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="first_name" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="first_name" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	<th class="col-4 columns">
		<span class="thtitle"><? echo $this->translate('dateofbirth')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="birthd" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="birthd" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	<th class="col-5 columns">
		<span class="thtitle"><? echo $this->translate('salutation_letter')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="salutation_letter" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="salutation_letter" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	
	<th class="col-6 columns">
		<span class="thtitle"><? echo $this->translate('gender')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="gender" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="gender" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	<th class="col-7 columns">
		<span class="thtitle"><? echo $this->translate('street')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="street1" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="street1" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	<th class="col-8 columns">
		<span class="thtitle"><? echo $this->translate('zip')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="zip" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="zip" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	<th class="col-9 columns">
		<span class="thtitle"><? echo $this->translate('city')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="city" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="city" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	<th class="col-10 columns">
		<span class="thtitle"><? echo $this->translate('phone')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="phone" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="phone" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	<th class="col-11 columns">
		<span class="thtitle"><? echo $this->translate('mobile')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="mobile" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="mobile" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	<th class="col-12 columns">
		<span class="thtitle"><? echo $this->translate('email')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="email" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="email" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	<th class="col-13 columns">
		<span class="thtitle"><? echo $this->translate('image')?></span>
		
	</th>
	
	<th class="col-14 columns">
		<span class="thtitle"><? echo $this->translate('membership types')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="membership_type" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="membership_type" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	
	<th class="col-15 columns">
		<span class="thtitle"><? echo $this->translate('last_invoice_date')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="last_invoice_date" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="last_invoice_date" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
	</th>
	
	<th class="col-17 columns">
		<span class="thtitle"><? echo $this->translate('voluntary_referance')?></span>
		<span class="colsorting">
		<a href="javascript: void(0)" class="overallsort colsortasc" rel="voluntary_referance" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
	    <a href="javascript: void(0)"  class="overallsort colsortdesc" rel="voluntary_referance" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
	   </span>
	</th>
	<th class="col-18 columns">
		<span class="thtitle"><? echo $this->translate('status')?></span>
		<span class="colsorting">
		<a href="javascript: void(0)" class="overallsort colsortasc" rel="status" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
		<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="status" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
	   </span>
	</th>
	
		
	
	<th class="col-19 columns">
		<span class="thtitle"><? echo $this->translate('member_profession')?></span>
			<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="profession" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="profession" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
	        </span>
	</th>
	
		<th class="col-20 columns">
		<span class="thtitle"><? echo $this->translate('last_donation')?></span>
		<span class="colsorting">
			<a href="javascript: void(0)" class="overallsort colsortasc" rel="last_donation_date" title="asc"><img  src="<? echo RES_FILE_PATH;  ?>/images/up-arrow.png" alt="" /></a>
			<a href="javascript: void(0)"  class="overallsort colsortdesc" rel="last_donation_date" title="desc"><img  src="<? echo RES_FILE_PATH;  ?>/images/down-arrow.png" alt="" /></a>
		</span>
		
	</th>
	
	<th class="col-56 columns">
		<span class="thtitle"><? echo $this->translate('action')?></span>
	</th>
	
</tr>
</thead>
	
<tbody>
<?php if(sizeof($this->memberlist) > 0):?>

	<?php
	$i=1;
	foreach($this->memberlist as $member_item):?>
		<?php
			$member_link = APP_BASE.'member/editmember?id='.$member_item['id'];
		?>
		<tr id="row-<?php echo $i; ?>">	
			<td class="col-0 columns"><a href="<?php echo $member_link?>"><?php echo ($i+(($this->current_page-1)*$this->limit)); ?></a></td>
			<td  class="col-55 columns" ><input type="checkbox" class="members" name="members_ids[]" value="<?php echo $member_item['id']?>" /></td>
			<td class="col-16 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['member_company']?></a></td>
			<td class="col-1 columns"><a href="<?php echo $member_link?>"><?php echo $member_item['title']?></a></td>
			<td class="col-2 columns"> <a href="<?php echo $member_link?>"> <?php echo $member_item['last_name']?></a></td>
			<td class="col-3 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['first_name']?></a></td>
			<?php if($member_item['birthd'] != "0000-00-00"):?>
				<td class="col-4 columns" ><a href="<?php echo $member_link?>"><?php echo date('d.m.Y',strtotime($member_item['birthd']))?></a></td>
			<?php else:?>
				<td class="col-4 columns" ><a href="<?php echo $member_link?>"></a></td>
			<?php endif;?>
			
			<td class="col-5 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['salutation_letter']; ?></a></td>
			<td class="col-6 columns" ><a href="<?php echo $member_link?>"><?php echo $this->translate($member_item['gender']); ?></a></td>
			<td class="col-7 columns" ><a href="<?php echo $member_link?>"><?php echo  $member_item['street'];?></a></td>
			<td class="col-8 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['zip']?></a></td>
			<td class="col-9 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['city']?></a></td>
			<td class="col-10 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['phone']?></a></td>
			<td class="col-11 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['mobile']?></a></td>
			<td class="col-12 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['email']?></a></td>
			<td class="col-13 columns" >
			
			<? if (strlen($member_item['img_path']) > 0 ):?>
			<?php $img_file = 'icons_system/'.trim($member_item['img_path']);?>
				<a href="<?php echo $member_link?>"><?php echo $member_item['img']?>
					<img src="<?php echo $img_file; ?>" class="vw_img" style="width:40px;"/>
				</a>
			<? endif; ?>	
			</td>
			<td class="col-14 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['membership_type']?></a></td>
			<td class="col-15 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['last_invoice_date']?></a></td>
			
			<td class="col-17 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['voluntary_referance']?></a></td>
			
			<td class="col-18 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['status']?></a></td>
			<td class="col-19 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['profession']?></a></td>
			
			<td class="col-20 columns" ><a href="<?php echo $member_link?>"><?php echo $member_item['last_donation']?></a></td>
			
			
			<td class="col-56 columns"> 
			
			<a href="member/editmember?id=<?php echo $member_item['id']; ?>"  class="memberlist_link"><img src="<?php echo RES_FILE_PATH;  ?>/images/edit.png" border="0" /></a>
			<a href="javascript:void(0);"  onclick="deleteconfirm('<?php echo $member_item['id'];?>', '<?php echo $i; ?>')"  class="memberlist_link"><img src="<?php echo RES_FILE_PATH;  ?>/images/action_delete.png" border="0" id="delete_<?php echo $member_item['id']; ?>" rel="<?php echo $member_item['id']; ?>" class="confirm_button" /></a>
			</td>

		</tr>
	<?php
	$i++;
	endforeach;?>
<?php else:?>
	<tr>
	<!--<td colspan="9"><?php echo $this->translate('nomembersfound')?></td>-->
	<td colspan="<?php echo (count(explode(",", $this->selectedColumns))+3); ?>"><?php echo $this->translate('nomembersfound')?></td>
	</tr>
<?php endif;?>
</tbody>

	
<tfoot>	
<tr>
<td class="paginationRow">
	<div id="toarchivebuttondiv" style="display:none;">
		<input type="button" name="archive" value="In das Archiv verschieben." id="archive">
	</div>
	<div id="fromarchivebuttondiv" style="display:none;">
		<input type="button" name="activate" value="Aus dem Archiv wieder aktivieren." id="activate">
	</div>
</td>
</tr>
<tr>

	<td class="paginationRow">

		<?php if($this->no_pages > 1):?>
			<div id="pg">
				<?php
					$max_pages = 7;
					if($this->no_pages < $max_pages){
						$max_pages = $this->no_pages;
					}

					echo '<a href="javascript: void(0)" class="overallpages" rel="1">&lt;&lt;</a>';
					if($this->current_page > 1) {
						echo '<a href="javascript: void(0)" class="overallpages" rel="'.($this->current_page* 1).'">&laquo; '.$this->translate('prev').'</a>';
					} else {
						echo '<span class="disabled">&laquo; '.$this->translate('prev').'</span>';
					}
					$pivot = floor($max_pages / 2);

					if($this->current_page <= $pivot) {
						$leftmost = 1;
						$rightmost = $max_pages;
					} elseif($this->current_page > ($this->no_pages - $max_pages)) {
						$leftmost = max(1,($this->no_pages - $max_pages));
						$rightmost = $this->no_pages;
					} else {
						$leftmost = max(1, ($this->current_page - $pivot));
						$rightmost = $this->current_page + $pivot;
					}

					for($thepage = $leftmost;$thepage <= $rightmost; $thepage++) {
						echo '<a '.($thepage == $this->current_page ? 'class="current overallpages"' : 'class="overallpages"').' href="javascript: void(0)"  rel="'.$thepage.'">'.$thepage.'</a>';
					}

					if($this->current_page < $this->no_pages) {
						echo '<a href="javascript: void(0)" class="overallpages" rel="'.($this->current_page + 1).'">'.$this->translate('nextptlist').' &raquo;</a>';
					} else {
						echo '<span class="disabled">'.$this->translate('nextptlist').' &raquo;</span>';
					}
					echo '<a href="javascript: void(0)" class="overallpages" rel="'.$this->no_pages.'">&gt;&gt;</a>';
				?>
		</div>
		<?php endif;?>
		
		
		<div class="members2page">
			<label>pro Seite</label>
				<select name="lbottom" id="limit_bottom" class="limit">
					<option value="20" <?php if($this->limit == "20"):?>  selected="selected" <? endif;?>  >20</option>
					<option value="50" <?php if($this->limit == "50"):?>  selected="selected" <? endif;?>>50</option>
					<option value="100" <?php if($this->limit == "100"):?>  selected="selected" <? endif;?>>100</option>
					<option value="-1" <?php if($this->limit == "-1"):?>  selected="selected" <? endif;?>><?php echo $this->translate("All members");?> </option>
				</select>
		</div>
		<div class="export_buttons">
			<select name="export" id="export" class="export">
		        <option value="0">Exportieren</option>
		        <option value="export_xlsx">Excel(*.xlsx)</option>
		        <option value="export_csv">Kommagetrennte Werte (*.csv)</option>
		    </select>
		 
		 
		     <select name="print" id="print"  class="print">
		        <option value="0">Drucken</option>
		        <option value="print_list_all_columns"> <?php echo $this->translate('Print list -all columns');?></option>
		        <option value="print_list_viewable_columns"><?php echo $this->translate('Print list -viewable columns');?></option>

		       <?php if (count($this->letter_templates) == 1):?>
  	       			<?php foreach($this->letter_templates as $tpl_id => $tpl_value): ?>
				 		<option value="print_letters-<?php echo $tpl_id;?>" ><?php echo $this->translate('Print letters');?></option>
				 	<?php endforeach; ?>
		       <?php elseif ( count($this->letter_templates) >= 1):?>
	       			<optgroup  label="<?php echo $this->translate('Print letters');?>" value="print_letters">
	       			<?php foreach($this->letter_templates as $tpl_id => $tpl_value): ?>
				 		<option value="print_letters-<?php echo $tpl_id;?>" ><?php echo $tpl_value['title'];?></option>
				 	<?php endforeach; ?>	
				 	</optgroup>
		        <?php endif;?>
		       
		        <option value="print_labels_3424"><?php echo $this->translate('Print label -avery 3424');?></option>
		        <option value="print_labels_3422"><?php echo $this->translate('Print label -avery 3422');?></option>
		        <option value="upcomming_birthdays"><?php echo $this->translate('Print upcomming_birthdays');?></option>
		        <option value="allyear_birthdays"><?php echo $this->translate('Print allyear_birthdays');?></option>   
		    </select>
			<input type="submit"  name="send_email" id="send_email"  class="send_email" value="Email" />
			<input type="button"  id="merge_members" value="<?php echo $this->translate('merge_members_button');?>" onclick="location.href='<?php echo APP_BASE; ?>member/mergemember';" />
			<input type="button"  id="undo_merge_members" value="<?php echo $this->translate('merge_members_undo_button');?>" onclick="location.href='<?php echo APP_BASE; ?>member/mergememberundo';" />
			

		</div>
		
		
		
	</td>
</tr>
</tfoot>
</table>

</form>
