<?php
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/jgrowl/fileuploader.js?'.date('Ymd'));
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/javascript/jgrowl/filepatient.css?'.date('Ymd'));
?>

<?php 
	$membership_history = $this->membership_history;
	$memberships = $this->memberships ;
	$invoices = $this->invoices_array ;
?>
<script type="text/javascript">
$(document).ready(function() { /*------ Start $(document).ready --------------------*/

 
	$('a.invoice_element').live('click', function() {
			$(this).addClass('generated_flow_element');
	});
 
	$( "#tabs" ).tabs({
		show: function(event, ui) {},
		select: function(event, ui) {
			var selected_tab = ui.index;
		}
	});	
 
	
 
});/*-- END  $(document).ready ----------- --*/
</script>

<style>
.generated_flow_element{
 background-color: greenyellow;
}
input,textarea,select{
	background: #fdfdfd;
}
textarea.text_blocks{
	background: #fdfdfd!important;
}
 
.error_overlapping{
	border: 1px solid red;
	background: #ffcccc;
}
.PatientDetail_datatable td {
    border: 1px solid #bbb;
    padding: 5px;
}


.hospiz_v_table td {
    border: 1px solid #bbb;
}

.hospiz_v_table td input[type="text"] {
    margin: auto 1px auto 1px;
    width: 39px;
}

.hospiz_v_table td input.date[type="text"] {
    float: none;
    margin: auto;
    width: 70px;
}

.a_date{
	width: 65px;
}
.date_input{
	width: 65px;
}
.tcontainer {
	display: block;
	width: 100%;
	height: auto;
	clear: both;
}
.form_row_vw {
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

.form_row_vw label{
	width: 16%;
	display: block; 
	float: left;
	line-height: 26px;
}
.form_row_vw .form_row_inpt{
	width: 80%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses{
	width: 40%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses li.voluntaryworkers_p_statuses_li{
	width: 100%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses li.voluntaryworkers_p_statuses_li input{
	width: 20px;
	display: block; 
	float: left;
	margin-top:5px;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses li.voluntaryworkers_p_statuses_li label{
	width: 80%;
	display: block; 
	float: left;
	line-height: 26px;
}

.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses{
	width: 40%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses li.voluntaryworkers_statuses_li{
	width: 100%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses li.voluntaryworkers_statuses_li input{
	width: 25px;
	display: block; 
	float: left;
	margin-top:5px;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses li.voluntaryworkers_statuses_li label{
	width: 80%;
	display: block; 
	float: left;
	line-height: 26px;
}
.span_page_title{
	display: block; 
	float: left; 
	widht: 100%;
	margin: 20px 0 5px 0; 
	text-align: center;
	font-size: 14px;
}

.add_new_patient_line span,
.add_new_shv_patient_line span
.add_new_bhv_patient_line span
{
	float: left; 
	display: block;
	line-height: 26px;
	font-size: 13px;
}

.add_new_patient_line img,
.add_new_shv_patient_line img
.add_new_bhv_patient_line img
{
	float: left; 
	display: block;
	margin-top:2px;
}
.pat_tab_title{
	float: left; 
	display: block;
	font-size: 14px;

}
img.vw_color_status{
	height:20px;
	width:20px;
}
input.vw_color_status_input{
	display: block;
 	float: left;
	margin: 4px 0 0 3px;
}

td.vw_status_color_td_input{
	width:20px; 
	vertical-align:top;
}
td.vw_status_color_td_img{
	width:60px; 
}
a.print{
	height: 20px;
	width: 20px;
}
a.invoice_element{
	margin:0px;
	height: 100%;
	width: 100%;
}

</style>
<div style="display: none"> <img id="calImg" src="<?php echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
<div  class="back_list">
	<a href="member/memberslist">&laquo; <?php echo $this->translate('members_list') ?></a>
</div>
<fieldset>
	<legend><?php echo $this->translate("Member:")?><?php echo $this->first_name ?> <?php echo $this->last_name ?></legend>
<form action="" method="post" name="member_form" id="member_form">
<div id="addfamilydoctor_Msgerror" class="err"><?php echo $this->error_message ?></div>

<div class="tab_container" >
	<div>
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Stammdaten</a></li>
				<li><a href="#tabs-2">Mitgliedschaft</a></li>
			</ul>
			
			<div id="tabs-1">
				<label for="title" id="lbl_title"><?php echo $this->translate('title'); ?></label>
				<input type="text" name="title" id="title" tabindex="3" value="<?php echo $this->title; ?>">
				<div id="addfamilydoctor_titleOneerror" class="error"><?php echo $this->error_title ?></div><div class="clearer"></div>
				
				<label for="salutation" id="lbl_salutation"><?php echo $this->translate('salutation_letter'); ?></label>
				<input type="text" name="salutation_letter" id="salutation" tabindex="3" value="<?php echo $this->salutation_letter; ?>">
				<div id="addfamilydoctor_salutationOneerror" class="error"><?php echo $this->error_salutation ?></div><div class="clearer"></div>
				
				<label for="first_name" id="lbl_firstname"><?php echo $this->translate('firstname') ?></label>
				<input type="text" name="first_name" id="first_name" tabindex="4" value="<?php echo $this->first_name ?>">
				<div id="addfamilydoctor_firstNameerror" class="error"><?php echo $this->error_first_name ?></div><div class="clearer"></div>
		
				<label for="last_name" id="lbl_lastname"><?php echo $this->translate('lastname') ?></label>
				<input type="text" name="last_name" tabindex="5" id="last_name" value="<?php echo $this->last_name ?>">
				<div id="addfamilydoctor_lastNameerror" class="error"> <?php echo $this->error_last_name ?></div><div class="clearer"></div>
		
				<label for="birthd" id="lbl_birthd"><?php echo $this->translate('birthd') ?></label>
				<input type="text" name="birthd" tabindex="5" id="birthd" style="width:115px;" value="<?php if(strlen($this->birthd) > 0): echo date('d.m.Y',strtotime($this->birthd)); endif;?>" class="birth_date"> 
				<div id="addfamilydoctor_birthderror" class="error"> <?php echo $this->error_birthd ?></div><div class="clearer"></div>
		
				<label for="sex" id="lbl_sex"><?php echo $this->translate('gender') ?></label>
				<?php echo $this->formSelect('gender', $this->gender, null, $this->genders) ?>
				<div id="patientMsterAd_ErrorMsg" class="error"> <?php echo $this->error_sex ?></div>

		
		
		
				<label for="street1" id="lbl_street1"><?php echo $this->translate('street') ?></label>
				<input type="text" name="street" id="street1" tabindex="6" value="<?php echo $this->street1 ?>">
				<div id="addfamilydoctor_streetOneerror" class="error"><?php echo $this->error_street ?></div><div class="clearer"></div>
		
				<label for="zip" id="lbl_postcode"><?php echo $this->translate('postcode') ?></label>
				<input type="text" name="zip" id="zip" tabindex="7" value="<?php echo $this->zip ?>">
				<div id="addfamilydoctor_ziperror" class="error"> <?php echo $this->error_zip ?></div><div class="clearer"></div>
		
				<label for="city" id="lbl_city"><?php echo $this->translate('city') ?></label>
				<input type="text" name="city" id="city" tabindex="8" value="<?php echo $this->city ?>">
				<div id="addfamilydoctor_cityerror" class="error"> <?php echo $this->error_city ?></div><div class="clearer"></div>
		
		
				<label for="phone_private" id="lbl_phone_private"><?php echo $this->translate('phone') ?></label>
				<input type="text" name="phone" id="phone" tabindex="9" value="<?php echo $this->phone ?>">
				<div id="addfamilydoctor_Privatephoneerror" class="error"> <?php echo $this->error_phone ?></div><div class="clearer"></div>
		
				<label for="phone_emergency" id="lbl_phone_private"><?php echo $this->translate('mobile') ?></label>
				<input type="text" name="mobile" id="mobile" tabindex="10" value="<?php echo $this->mobile ?>">
				<div id="addfamilydoctor_Privatephoneerror" class="error"> <?php echo $this->error_mobile ?></div><div class="clearer"></div>
		
				<label for="email" id="lbl_email"><?php echo $this->translate('email') ?></label>
				<input type="text" name="email" id="email" tabindex="11" value="<?php echo $this->email ?>">
				<div id="addfamilydoctor_emailerror" class="error"> <?php echo $this->error_email ?></div><div class="clearer"></div>
		
		
				<label for="inactive" class="label_class100px" id="lbl_incative"><?php echo $this->translate('inactive') ?></label>
				<select name="inactive">
					<option value="1" <? if($this->inactive == "1"): ?> selected="selected" <? endif;?> >Ja</option>
					<option value="0" <? if($this->inactive == "0"): ?> selected="selected" <? endif;?> >Nein</option>
				</select>


				<!-- upload image -->
				<table  style="width: 530px;">
					<?php if(strlen($this->img_path)>0): ?>
					<tr>
						<td style="width: 115px; vertical-align: middle;"><?php echo $this->translate('member image') ?></td>
						<td>
						
						<?php $img_file = 'icons_system/'.trim($this->img_path);?>
						<img src="<?php echo $img_file; ?>" class="vw_img" style="width:100px;"/>
						</td>
					</tr>
						<?php endif;?>
				</table>
			</div>
			
			<div id="tabs-2">
					<h5 class="pat_tab_title"> <?php echo $this->translate('Add membership') ?></h5>
					
					<!-- table of patients where voluntary worker is associated -->
					<table id="patient_table" class="PatientDetail_datatable">
					<tr>
						<th><? echo $this->translate('Membership')?></th>
						<th><? echo $this->translate('start_date')?></th>
						<th><? echo $this->translate('end_date')?></th>
						<th><? echo $this->translate('Membershipi invoice')?></th>
					</tr>
					<? foreach($membership_history as $ke =>$membership_data): ?>
						<tr class="<? echo $membership_data['id']; ?>">
							<td>
								<select name="membership[<? echo $membership_data['id']?>][membership]">
									<option value="0"><?php echo $this->translate('select')?></option>
									<?php foreach($memberships as $k=>$mt):?>
										<option value="<? echo $mt['id']?>" <? if($membership_data['membership'] == $mt['id'] ):?>  selected="selected" <? endif;?> > <?php echo $mt['membership']?></option>
									<?php endforeach; ?>
								</select>
							</td>
							<td><input type="text" name="membership[<? echo $membership_data['id']; ?>][start]" value="<? echo $membership_data['start']?>" rel="<? echo $membership_data['id']; ?>" id="membership_start_<? echo $membership_data['id']; ?>" class="a_date <? echo $membership_data['id']; ?>"></td>
							<td>
								<input type="text" name="membership[<? echo $membership_data['id']; ?>][end]"  value="<? echo $membership_data['end']?>"   rel="<? echo $membership_data['id']; ?>" id="membership_end_<? echo $membership_data['id']; ?>" class="a_date <? echo $membership_data['id']; ?>">
								<input type="hidden" name="membership[<? echo $membership_data['id']; ?>][custom]"  value="0" >
							</td>
							
							<td>
							<?php if($this->billing_method =="membership"):?>
								<? foreach ($this->membership_invoice_period[$membership_data['id']] as $interval =>$interval_data):?>
									<a href="invoicenew/membersinvoice?member=<?php echo $membership_data['member']; ?>&membership_data=<?php echo $membership_data['id'];?>&int_start=<?php echo strtotime($interval_data['start']);?>&int_end=<?php echo strtotime($interval_data['end']);?>"  class="invoice_element  <?php if($interval_data['invoiced'] > 0) :?> generated_flow_element<?php endif;?>" ><?php echo  $this->translate('generate invoice for period: ');?> <? echo $interval_data['start'].' - '.$interval_data['end']?></a>
								<?php endforeach;?>
							<? else: ?>	
								<? foreach ($this->membership_invoice_period[$membership_data['id']] as $interval =>$interval_data):?>
									<a href="invoicenew/membersinvoice?member=<?php echo $membership_data['member']; ?>&membership_data=<?php echo $membership_data['id'];?>&int_start=<?php echo strtotime($interval_data['start']);?>&int_end=<?php echo strtotime($interval_data['end']);?>"  class="invoice_element  <?php if($interval_data['invoiced'] > 0) :?> generated_flow_element<?php endif;?>" ><?php echo  $this->translate('generate invoice for period: ');?> <? echo $interval_data['start'].' - '.$interval_data['end']?></a>
								<?php endforeach;?>
							<? endif; ?>
							</td>
						</tr>
					<? endforeach;?>
					</table>
					
					<table class="overalllistatable datatable">
					<tr>
						<th colspan="2"><b><?php echo $this->translate("Member- generated invoices")?></b></th>
						<th><b><?php echo $this->translate("Rechnungsdatum")?></b></th>
						<th colspan="2"><b><?php echo $this->translate("action")?></b></th>
					</tr>
					
					<?php if(sizeof($invoices) > 0):?>
						<?php $i=1;	foreach($invoices as $invoice):?>
							<tr id="row-<?php echo $i; ?>" class="listItemData row">
								<td class="columns"  width="5%">
									<?php echo ($i+(($this->current_page-1)*$this->limit)); ?>
								</td>
								<td class="columns" width="65%" >
									Rechnungen:  <?php echo $invoice['prefix']; ?><?php echo $invoice['invoice_number']; ?> (<?php echo date('d.m.Y',strtotime($invoice['invoice_start']))?> - <?php echo date('d.m.Y',strtotime($invoice['invoice_end']))?>)
									<span style="color:#999;" id="i_status_<?php echo $invoice['id'] ?>"> <?php echo $this->translate('inv_type_'.$invoice['status']); ?> </span> 
									<?php if($invoice['storno'] == 1):  ?>
									- Storno
									<?php endif; ?>
								</td>
								
								<td class="columns" width="15%" >
									<?php echo date('d.m.Y',strtotime($invoice['completed_date_sort']))?>
								</td>
								
								<td class="columns" width="5%" >
									<?php if($invoice['storno'] == 0 && $invoice['isdelete'] == '0'):  ?>
										<a href="invoicenew/editmembersinvoice?invoiceid=<?php echo $invoice['id']; ?>"><img src="<?php echo RES_FILE_PATH;  ?>/images/edit.png" border="0" /></a>
									<?php endif; ?>
								</td>
					
								<td class="columns" width="5%" >
									<?php if($invoice['storno'] == 0 && $invoice['isdelete'] == '0'):  ?>
										<div class="ui-icon-printer">
											<a class="print" target="_blank" href="invoicenew/membersinvoice?iid=<?php echo $invoice['id']; ?>&amp;only_invoice=1&amp;member=<?php echo $invoice['member']; ?>&membership_data=<?php echo $invoice['membership_data']; ?>&type=pdf"></a>
										</div>
									<?php elseif($invoice['storno'] == 1 && $invoice['isdelete'] == '0'):  ?>
											<div class="ui-icon-printer"><a class="print" target="_blank" href="invoicenew/membersinvoice?iid=<?php echo $invoice['id']; ?>&amp;only_invoice=1&amp;member=<?php echo $invoice['member']; ?>&membership_data=<?php echo $invoice['membership_data']; ?>&stornopdf=1&stornoid=<?php echo $invoice['record_id']; ?>"></a></div>
											
									<?php endif; ?>
								</td>
							</tr>
						<?php	$i++;	endforeach;?>
					<?php else:?>
						<tr>
							<td colspan="5"><?php echo $this->translate('noinvoicesfound')?></td>
						</tr>
					<?php endif;?>
					</table>
<div class="clearer"></div>
</div>
			
		</div>
	</div>
	</div>
</form>
</fieldset>