<br/>&nbsp; <br/>

<table width="820" border="0" align="left" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; ">
<tr>
<td align="left">
<font size="14"><b>Anlage 4a (Teil 2) Palliativdokumentation – Statistik</b></font>
</td>
</tr>
<tr>
<td align="center" style="color:#ff0000;">&nbsp;<br/>
<font size="14" ><b>
(mit der Quartalsabrechnung an die KVWL zu übermitteln)
</b></font>
</td>
</tr>
<tr>
<td align="left">&nbsp;<br/>&nbsp;<br/>
<font size="11"><b>Vereinbarung über die ambulante palliativmedizinische Versorgung von unheilbar erkrankten Patienten im
häuslichen Umfeld</b></font>
</td>
</tr>

</table>

<br/>



<table width="820" border="1" align="left" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; ">
<tr>
<td colspan="2" width="650" class="tdheader" style="background-color: #FFFF99; ">&nbsp;<br/>&nbsp;<font size="14"><b>Quartal: <?php echo $this->currentQ; ?>. <?php echo $this->currentY; ?></b></font><br/> </td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><b>Werte</b></font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Neu-Aufnahme Kassenpatient</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><?php echo $this->noprivatepatientadmission; ?></font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Palliativ-Fälle Gesamt</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><?php echo $this->patientsamountvv; ?></font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Betreuungszeitraum in Tagen (Median)</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><?php echo $this->averagetreatmentdays; ?></font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Vollversorgung ohne Pallicare-Versorgung</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><?php echo $this->versorgungstatus; ?></font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Vollversorgung mit Pallicare-Versorgung</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12">0</font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Vollversorgung mit 24-Std.-Präsenzphase</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12">0</font><br/></td>
</tr>
<tr>
<td class="tdheader"  style="background-color: #FFFF99; " width="450">&nbsp;<br/>&nbsp;<font size="14"><b>Sterbeort</b></font></td><td width="200"> <font size="12">&nbsp;Verstorbene <br/>&nbsp;Gesamt</font></td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><?php echo $this->alldeadpatients; ?></font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Wohnung</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><?php echo $this->wohnungdeadpatients; ?></font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Pflegeheim (einschl. Kurzzeitpflege)</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><?php echo $this->altenheimdeadpatients; ?></font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Stationäres Hospiz</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><?php echo $this->hospizdeadpatients; ?></font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Krankenhaus</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><?php echo $this->krankenhausdeadpatients; ?></font><br/></td>
</tr>
<tr>
<td colspan="2" width="650" >&nbsp;<br/>&nbsp;<font size="12">Palliativstation</font><br/></td>
<td align="center" width="100px">&nbsp;<br/><font size="12"><?php echo $this->palliativdeadpatients; ?></font><br/></td>
</tr>
</table>
<p>&nbsp;</p>
 

<table width="100%"  style="font-family:Arial, Helvetica, sans-serif; ">
	<tr>
		<td align="left" width="170"><font size="12"><b>Zuständiger PKD:</b></font></td>
		<td align="left"><font size="12"><?php echo $this->client_team_name;?></font></td>
	</tr>
	<tr>
		<td align="left" width="170"><b>&nbsp;</b></td>
		<td align="left"><img src="<?php echo PUBLIC_PATH;?>/images/black-line-dashed.jpg" width="320" height="1" /></td>
	</tr>
	<tr>
		<td align="left" width="170"><font size="12"><b>Ort / Datum:</b></font></td>
			<td align="left"><font size="12"><?php echo ucfirst($this->clientcity)." / ".$this->todaydate; ?></font></td>
	</tr>
	<tr>
		<td align="left" width="170"><b>&nbsp;</b></td>
		<td align="left"><img src="<?php echo PUBLIC_PATH;?>/images/black-line-dashed.jpg" width="320" height="1" /></td>
	</tr>
	<tr>
			<td colspan="2" align="left"><font size="12"><b>Stempel, Unterschrift des QPA:</b></font></td>
	</tr>
	<tr>
			<td colspan="2" align="left">&nbsp;</td>
	</tr>
	<tr>
			<td colspan="2" align="left">&nbsp;</td>
	</tr>
	<tr>
			<td colspan="2" align="left"> ________________________________</td>
	</tr>
</table>
