<?
$kv_header = $this->kv_header;
$content = $this->content;
?>
<table border="0" cellpadding="0" width="860">
	<tr>
		<td colspan="2">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="350" align="left" valign="top">

						<table width="350"  cellspacing="0" cellpadding="0"  style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000">
							<tr>
								<td height="30" align="left" valign="top" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000" >
									<table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="22" align="left" width="10">&nbsp;</td>
											<td height="22" align="left" valign="top" width="340"><font color="#ff0000" size="8pt">Krankenkasse bzw. Kostenträger</font></td>
										</tr>
										<tr>
											<td height="28" align="left" width="10">&nbsp;</td>
											<td height="28" align="left" valign="top" width="340"><? echo $kv_header['insurance_company_name']; ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td  style="border-width: 0.2mm;  border-color: #FF0000">
									<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000" >
										<tr>
											<td width="10"  height="20">&nbsp;</td>
											<td width="250" height="20"><font color="#ff0000" size="8pt">Name, Vorname des Versicherten</font></td>
											<td width="90"  height="20">&nbsp;</td>
										</tr>

										<tr>
											<td width="10"  height="65">&nbsp;</td>
											<td width="250" height="65"><? echo nl2br($kv_header['patientname']); ?></td>
											<td width="90"  height="65" align="left" valign="top">
												<table width="90" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="5"  height="20" align="left" valign="top">&nbsp;</td>
														<td width="85" height="20" align="center" valign="top"><font color="#ff0000" size="8pt">geb. am</font></td>
													</tr>
													<tr>
														<td width="5" height="20">&nbsp;</td>
														<td width="85" height="20">  <? echo $kv_header['patbirth']; ?>	</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td style="border-width: 0.2mm;  border-color: #FF0000">
									<table width="350" border="0" cellspacing="0" cellpadding="0" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Kassen-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Versicherten-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Status</font></td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $kv_header['kvnumber']; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"> <? echo $kv_header['insurance_no']; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><? echo $kv_header['insurance_status']; ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td  style="border-width: 0.2mm;  border-color: #FF0000">
									<table width="350" border="0" cellspacing="0" cellpadding="0"  style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Betriebsstätten-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Arzt-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Datum</font></td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><? echo $kv_header['betriebsstatten_nr']; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $kv_header['arzt_nr']; ?>  </td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><? echo $this->topdatum; ?></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>

					<td width="30" height="33" align="left">&nbsp;</td>

					<td width="440" height="33" align="left" valign="top">
 
					</td>
				</tr>
			</table>

		</td>
		<td border="0" width="220"  >
			<table border="0" cellspacing="0" cellpadding="0" style="width:100%;" >
				
				<!-- <tr>
					<td align="center" width="220" height="100">
						<? echo str_replace("--\\--","<br/>",$this->stamp_block); ?>
					</td>
				</tr> -->
				<tr>
					<td height="60" width="220" align="center" >&nbsp;</td>
				</tr>
				<tr>
					<td border="1"  height="120" width="220" align="center" >
						<table border="0" cellspacing="0" cellpadding="0" style="width:100%;" >
							<tr>
								<td height="100" width="220" align="center" >
								 <font size="6"> <? echo str_replace("%r%","<br/>",$this->stamp_block); ?></font>
								</td>
							</tr>
							<tr>
								<td height="20" width="220" align="center" >Vertragsarztstempel</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	</table>
			<table cellpadding="3" width="100%" class="header_table">
					<tr>
						<td colspan="5">
							<table style="width:100%;">
								<tr>
									<td>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td class="title" align="right">
										<h2><b>Anlage 2</b></h2>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="5" align="center">
							<h1>Weiterleitung an die KV Nordrhein<br /> mit der Quartalsabrechnung</h1>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="5" align="center">
							<h1>Erstdokumentation im Rahmen der AAPV <br />Ersatzkassen</h1>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td colspan="5" align="center">
							<p><font>zur Vereinbarung zwischen der KV Nordrhein ind der vdek-Landesvertretung Nordrhein-<br />Westfalen über die palliativmedizinische Versorgung von unheilbar erkrankten Patienten im<br />häuslichen Umfeld</font></p>
						</td>
					</tr>
			</table>
			<br/>
			<table border="1" width="100%" class="anlage3data" cellpadding="6" cellspacing="0" style="font-size: 10pt">
				<tr>
					<th width="10%"> <b>Nr.</b> </th>
					<th width="40%"> <b>Sachverhalt</b> </th>
					<th width="50%"> <b>Bitte ankreuzen bzw. ausfüllen</b> </th>
				</tr>
				<tr>
					<td rowspan="2"><b>1</b></td>
					<td rowspan="2"><b>Aufnahme in die AAPV</b></td>
					<td>
						&nbsp;<?php echo $this->admission_date; ?> Datum der Aufnahme 
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->admission == '1' ): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">Erstaufnahme </td>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->admission == '2' ): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">Wiederaufnahme </td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td><b>2</b></td>
					<td><b>Betreuungsort</b></td>
					<td>
						<table>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->location == '1'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="90%">zu Hause </td>
							</tr>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->location == '2'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="90%">Betreutes wohnen </td>
							</tr>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->location == '3'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="90%">Pflege/- Seniorenheim </td>
							</tr>
							
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->location == '4'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="90%">Kurzzeitpflege </td>
							</tr>
							
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->location == '5'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="90%">Hospiz</td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td><b>3</b></td>
					<td><b>Patient betreut als</b></td>
					<td>
						<table>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->patient_care == '1'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">Haus- Facharzt</td>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->patient_care == '2'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">QPA</td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td><b>4</b></td>
					<td><b>Angehörige im <br/>
					Betreuungsprozess einbezogen </b></td>
					<td>
						<table>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->members_included =='1'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">ja</td>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->members_included =='2'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">nein</td>
							</tr>
							<tr>
								<td  width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->members_included =='3'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td colspan="3"  width="90%">keine Angehörigen </td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td><b>5</b></td>
					<td><b>Hauptdiagnose</b></td>
					<td>
						<table width="100%">
							<tr>
								<td><?php echo $this->diagnosis_date; ?>  Erstdiagnose (nur Monat und Jahr)</td>
							</tr>
							<tr>
								<td><?php echo $this->icd_diagnosis; ?> (ICD-10)</td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td><b>6</b></td>
					<td><b>Beteiligte der AAPV Versorgung</b></td>
					<td>
						<table>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('1',$this->participants)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">QPA</td>
							</tr>
							<tr>
								<td  width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('2',$this->participants)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">Palliativpflegedienst</td>
							</tr>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('3',$this->participants)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">Psychotherapeut/psychosoziale Fachdienste</td>
							</tr>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('4',$this->participants)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">Ehrenamtliche Hospizbegleitung</td>
							</tr>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('5',$this->participants)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">SAPV-Teilversorgung/Beratung PCT</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>7</b></td>
					<td><b>Schmerztherapie erforderlich</b></td>
					<td>
						<table>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->pain_therapy =='1'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">ja </td>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->pain_therapy =='2'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">nein </td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td><b>8</b></td>
					<td><b>Art der Schmerztherapie</b></td>
					<td>
						<table>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('1',$this->name_therapy)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">
								<table width="100%">
									<tr>
										<td width="60%">Analgetika WHO - Stufen</td> 
										<td width="13%">1 <img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->pain_level == '1'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
										<td width="13%">/ 2	<img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->pain_level == '2'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
										<td width="13%">/ 3	<img src="<?php echo PUBLIC_PATH;?>/images/<?php if  ($this->pain_level == '3'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
									</tr>
								</table>
								
								</td>
							</tr>
							
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('2',$this->name_therapy)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td colspan="2" width="90%">Physiotherapie</td>
							</tr>
							
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('3',$this->name_therapy)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td colspan="2">Sonstige</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>9</b></td>
					<td><b>Applikationsform Medikation</b></td>
					<td>
						<table   width="100%">
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('1',$this->medication_form)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">oral/PEG</td>
							</tr>
							<tr>
								<td><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('2',$this->medication_form)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>								
								<td>transdermal</td>
							</tr>
							<tr>
								<td><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('3',$this->medication_form)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td>parenteral</td>
							</tr>
							<tr>
								<td><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('4',$this->medication_form)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td>Schmerzpumpe</td>
							</tr>
			 
						</table>
					</td>
				</tr>

				<tr>
					<td><b>10</b></td>
					<td><b>Wundtherapie</b></td>
					<td>
						<table  width="100%">
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->wound_therapy =='1'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">ja</td>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->wound_therapy =='2'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%"> nein </td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			
			
			
			