<?php 
	$plan = $this->plan;
	$plan_posting = $this->posting;
?>

<table class="anlage7table"  width="820" style="font-size:10pt;">
	<tr><td colspan="3"><font size="9pt"><b>Anlage 7</b> in der Fassung vom 21.12.2012<br /> zur
				Vereinbarung über die spezialisierte ambulante
				Palliativversorgung von unheilbar erkrankten Menschen im<br />
				häuslichen Umfeld
			</font>
		</td>
	</tr>
	<tr>
		<td colspan="3" height="30">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<table width="820">
				<tr>
					<td width="45%"><font size="10pt"><b>Abrechnung gegenüber der Krankenkasse</b></font></td>
					<td width="5%"></td>
					<td width="25%"><font size="10pt"><b>Betriebsstätten-Nummer:</b></font> </td>
					<td width="25%"><font size="10pt"><?php echo $plan['client']['betriebsstattennummer']; ?></font></td>
				</tr>
				<tr>
					<td height="10" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="320" height="1px"/></td>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="320" height="1px" /></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="320" height="1px" /></td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td colspan="3" height="20">&nbsp;</td>
	</tr>
 
	<tr>
		<td colspan="3">
			<table width="820">
				<tr>
					<td width="20%"><font size="10pt">für den Zeitraum vom</font></td>
					<td width="25%"><font size="10pt"><?php echo $plan['patient']['first_active_day']; ?></font></td>
					<td width="5%"></td>
					<td width="10%"><font size="10pt">bis</font> </td>
					<td width="40%"><font size="10pt"><?php echo $plan['patient']['last_active_day']; ?></font></td>
				</tr>
				<tr>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="320" height="1px" /></td>
					<td></td>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="320" height="1px" /></td>
				</tr>

				
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3" height="50">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<table width="820">
				<tr>
					<td width="20%"><font size="10pt"><b>1. Versichertendaten:</b></font></td>
					<td width="25%">&nbsp;</td>
					<td width="5%"></td>
					<td width="10%"><font size="10pt">Vers. Nr</font></td>
					<td width="40%"><font size="10pt"><?php echo $plan['patient']['patient_health_insurance_nr']; ?></font></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="320" height="1px" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3" height="20">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<table width="820">
				<tr>
					<td width="10%"><font size="10pt">Name:</font></td>
					<td width="35%"><font size="10pt"><?php echo $plan['patient']['last_name']; ?></font></td>
					<td width="5%"></td>
					<td width="10%"><font size="10pt">Vorname:</font></td>
					<td width="40%"><font size="10pt"><?php echo $plan['patient']['first_name']; ?></font></td>
				</tr>
				<tr>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="320" height="1px" /></td>
					<td></td>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="320" height="1px" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3" height="50">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<table width="820">
				<tr>
					<td width="60%"><font size="10pt"><b>2. Datum der Aufnahme in die SAPV / Datum des Erstkontakts:</b></font></td>
					<td width="40%"><font size="10pt"><?php echo $plan['shortcut']['pct01']['days'];?></font></td>
				</tr>
				<tr>
					<td><font size="10pt">(PCT 01, ggf. HF 01)</font></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="620" height="1px" /></td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan="3" height="35">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<font size="10pt"><b>3. Datumsangaben zu den Behandlungstage, an denen abrechnungsfähige gemeinsame Haus-
 					besuche von Hausarzt und PCT durchgeführt wurden</b>(PCT 05, HF 02):</font> 
		</td>
	</tr>
	<tr>
		<td colspan="3">
	<font size="10pt">	  <?php echo $plan['shortcut']['pct05']['days'];?>        </font>
		</td>
	</tr>
	<tr>
		<td colspan="3"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="820" height="1px" /></td>
	</tr>
	<tr>
		<td colspan="3" height="30">&nbsp;</td>
	</tr>
	
	<tr>
		<td colspan="3">
			<table>
				<tr>
					<td width="48%"><font size="10pt"><b>4.  Name und IK des mitbetreuenden Hausarztes: </b></font></td>
					<td width="52%"><font size="10pt"><?php echo $plan['family_doc']['name']?><?php echo $plan['family_doc']['iknr']?> </font></td>
				</tr>
				<tr>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="520" height="1px" /></td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td colspan="3" height="25">&nbsp;</td>
	</tr>
	
	<tr>
		<td colspan="3">
		<table>
			<tr>
				<td width="55%"><label class="lbl_big"><font size="10pt">Mitwirkungserklärung gemäß § 5 Absatz 2 liegt vor:</font></label></td> 
				<td width="5%"><font size="10pt">Ja</font></td> 
				<td width="5%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan_posting['declaration'] == 1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
				<td width="5%"><font size="10pt">Nein</font></td>
				<td width="5%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan_posting['declaration'] == 2){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
				<td width="25%"></td>
			</tr>
		</table> 
		</td>
	</tr>
	<tr>
		<td colspan="3" height="30">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<font size="10pt"><b>5. Abgerechnete Pauschalen für den o. g. Versicherten:</b></font>
		</td>
	</tr>
	<tr>
		<td colspan="3">
		<table border="1" class="anlage7actions"  cellpadding="5px" >
				<tr>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>Pauschale</b></font></th>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>PCT 01</b></font></th>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>PCT 02</b></font></th>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>PCT 03a</b></font></th>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>PCT 03b</b></font></th>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>PCT 04a</b></font></th>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>PCT 04b</b></font></th>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>PCT 05</b></font></th>
				</tr>
				<tr>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>Anzahl</b></font></th>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct01']['qty'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct02']['qty'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct03a']['qty'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct03b']['qty'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct04a']['qty'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct04b']['qty'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct05']['qty'];?></font></td>
				</tr>
				<tr>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>Summe</b></font></th>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct01']['total'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct02']['total'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct03a']['total'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct03b']['total'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct04a']['total'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct04b']['total'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['pct05']['total'];?></font></td>
				</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td colspan="3" height="25">&nbsp;</td>
	</tr>

	<tr>
		<td colspan="2">
		<table border="1" class="anlage7actions tsmall" cellpadding="5">
				<tr>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>Pauschale</b></font></th>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>HF 01</b></font></th>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>HF 02</b></font></th>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>Gesamtsumme</b></font></th>
	 
				</tr>
				<tr>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>Anzahl</b></font></th>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['hf01']['qty'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['hf02']['qty'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['hf']['qty'];?></font></td>

				</tr>
				<tr>
					<th bgcolor="#F4F4F4"><font size="10pt"><b>Summe</b></font></th>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['hf01']['total'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['hf02']['total'];?></font></td>
					<td align="center"><font size="10pt"><?php echo $plan['shortcut']['hf']['total'];?></font></td>
				</tr>
		</table>
		</td>
		<td></td>
	</tr>
	<tr>
		<td colspan="3" height="20">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<table>
				<tr>
					<td width="38%"><font size="10pt">behandelnder Palliativarzt (Name, Ort):</font></td>
					<td width="62%"><font size="10pt"><?php echo $plan_posting['assigned_doctors']; ?> </font></td>
				</tr>
				<tr>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="520" height="1px" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3" height="10">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<table>
				<tr>
					<td width="42%"><font size="10pt">versorgender Palliativpflegedienst (Name, Ort):</font></td>
					<td width="58%"><font size="10pt"><?php echo $plan_posting['assigned_nurse'];?> </font></td>
				</tr>
				<tr>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="520" height="1px" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3" height="30">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<table>
				<tr>
					<td width="20%"><font size="10pt"><b>6. ggf. Sterbedatum</b></font></td>
					<td width="35%"><font size="10pt"><?php echo $plan['patient']['death_date'];?> </font></td>
					<td width="45%"></td>
				</tr>
				<tr>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="520" height="1px" /></td>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr>
		<td colspan="3" height="100">&nbsp;</td>
	</tr>
      <tr>
        <td width="60%" colspan="2" height="30" align="left" valign="middle">
     <font size="10pt">   <?php echo $plan_posting['date'];?></font><br/>
        <img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="320" height="1px" /><br />
          <font size="10pt">Ort, Datum</font></td>
        <td width="40%" height="30" align="left" valign="middle"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="320" height="1px" /><br />
         <font size="10pt"> Stempel, Unterschrift</font></td>
      </tr>
</table>
