<!-- Maria:: Migration ISPC to CISPC 08.08.2020 -->
<?php 
	$form_values = $this->bi;
  
?>

<table border="0" cellpadding="2" width="100%" style="font-size: 10;">
 		<tr>
			<td width="50%" align="left" style="border-bottom:1px solid #000000; font-weight: bold;"><?php echo $this->patientname;?></td>
			<td width="50%" align="right" style="border-bottom:1px solid #000000;font-weight: bold;"><?php echo date('d.m.Y')?></td>
		</tr>
</table>
<br />
<table border="1" cellspacing="0" cellpadding="2" style="float:left; font-size: 9;">
	<tbody>

<!--BI1-->
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;width:90%;">
				BI1. Essen
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;width:10%;">
				Score
			</th>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Komplett selbständig <b><i>oder</i></b> selbständige PEG-Beschickung /-Versorgung
			</td>
			<td style="width:10%;">
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('10', $form_values['1'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 10
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				<b>Hilfe bei mundgerechter Vorbereitung</b>, aber <b>selbständiges Einnehmen <i>oder</i> Hilfe bei PEG-Beschickung /-Versorgung</b>
			</td>
			<td style="line-height: 15px;width:10%;">
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('5', $form_values['1'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 5
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				<b>Kein selbständiges Einnehmen <i>und</i> keine MS /PEG-Ernährung</b>
			</td>
			<td style="line-height: 15px;width:10%;">
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('0', $form_values['1'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 0
			</td>
		</tr>

	</tbody>

<!--BI2-->
	<tbody>
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;">
				BI2. Aufsetzen und Umsetzen
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;">
				Score
			</th>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Komplett selbständig <b>aus liegender Position in (Roll-)Stuhl und zurück</b>
			</td>
			<td>				
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('15', $form_values['2'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 15
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Aufsicht oder geringe Hilfe (<b>ungeschulte Laienhilfe</b>)
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('10', $form_values['2'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 10
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Erhebliche Hilfe (<b>geschulte Laienhilfe oder professionelle Hilfe</b>)
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('5', $form_values['2'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 5
			</td>
		</tr>

		<tr>
			<td colspan="3" style="width:90%;">
				Wird faktisch <b>nicht aus dem Bett transferiert</b>
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('0', $form_values['2'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 0
			</td>

		</tr>


<!--BI3-->
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;">
				BI3. Sich waschen
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;">
				Score
			</th>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Vor Ort komplett <b>selbständig incl. Zähneputzen, Rasieren und Frisieren</b>

			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('5', $form_values['3'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 5
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Erfüllt obige Bedingungen nicht
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('0', $form_values['3'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 0
			</td>
		</tr>

<!--BI4-->
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;">
				BI4. Toilettenbenutzung
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;">
				Score
			</th>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Vor Ort komplett <b>selbständige Nutzung von Toilette oder Toilettenstuhl incl. Spülung / Reinigung</b>
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('10', $form_values['4'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 10
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Vor Ort <b>Hilfe oder Aufsicht bei Toiletten- oder Toilettenstuhlbenutzung oder deren Spülung / Reinigung</b> erforderlich
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('5', $form_values['4'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 5
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Benutzt faktisch <b>weder Toilette noch Toilettenstuhl</b>
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('0', $form_values['4'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 0
			</td>
		</tr>

<!--BI5-->
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;">
				BI5. Baden / Duschen
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;">
				Score
			</th>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				<b>Selbständiges Baden <i>oder</i> Duschen</b> incl. Ein- /ausstieg, sich reinigen oder abtrocknen
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('5', $form_values['5'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 5
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Erfüllt obige Bedingungen nicht
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('0', $form_values['5'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 0
			</td>
		</tr>


<!--BI6-->
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;">
				BI6. Aufstehen und Gehen
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;">
				Score
			</th>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Ohne Aufsicht oder personelle Hilfe <b>vom Sitz in den Stand kommen und mindestens 50 m ohne Gehwagen</b> (aber ggf. Stöcken / Gehstützen) <b>gehen</b>
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('15', $form_values['6'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 15
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Ohne Aufsicht oder personelle Hilfe <b>vom Sitz in den Stand kommen und mindestens 50 m mit Hilfe eines Gehwagens gehen</b>

			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('10', $form_values['6'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 10
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				<b><i>Mit</i> Laienhilfe oder Gehwegen vom Sitz in den Stand kommen und Strecken im<br />
				Wohnbereich bewältigen <br />
				<i>Alternativ:</i> im Wohnbereich komplett selbständig im Rollstuhl</b>
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('5', $form_values['6'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 5
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Erfüllt obige Bedingungen nicht
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('0', $form_values['6'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 0

			</td>
		</tr>

<!--BI7-->
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;">
				BI7. Treppensteigen
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;">
				Score
			</th>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Ohne Aufsicht oder personelle Hilfe (ggf. Stöcken / Gehstützen) mindestens <b>ein Stockwerk hinauf <i>und</i> hinuntersteigen</b>

			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('10', $form_values['7'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 10
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				<b>Mit Aufsicht oder Laienhilfe</b> mindestens <b>ein Stockwerk hinauf und hinunter</b>
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('5', $form_values['7'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 5
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Erfüllt obige Bedingungen nicht
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('0', $form_values['7'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 0
			</td>
		</tr>

<!--BI8-->
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;">
				BI8. An- und Auskleiden
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;">
				Score
			</th>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Zieht sich <b>in angemessener Zeit selbständig Tageskleidung, Schuhe</b> (und ggf. benötigte Hilfsmittel z.B. ATS, Prothesen) <b>an und aus</b>

			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('10', $form_values['8'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 10
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Kleidet mindestens <b>den Oberkörper in angemessener Zeit selbständig an und aus,</b> sofern die Utensilien in greifbarer Nähe sind
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('5', $form_values['8'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 5
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Erfüllt obige Bedingungen nicht
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('0', $form_values['8'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 0
			</td>
		</tr>

<!--BI9-->
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;">
				BI9. Stuhlinkontinenz
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;">
				Score
			</th>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Ist <b>stuhlkontinent</b>, ggf. <b>selbständig bei rektalen Abführmaßnahmen oder AP-Versorgung</b>

			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('10', $form_values['9'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 10
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Ist durchschnittlich <b>nicht mehr als 1x/Woche stuhlinkontinent <i>oder</i></b> benötigt <b>Hilfe bei rektalen Abführmaßnahmen / AP-Versorgung</b>

			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('5', $form_values['9'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 5
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Ist durchschnittlich <b>mehr als 1x/Woche stuhlinkontinent</b>
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('0', $form_values['9'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 0
			</td>
		</tr>

<!--BI10-->
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;">
				BI10. Harninkontinenz
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;">
				Score
			</th>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Ist <b>harnkontinent <i>oder</i> kompensiert seine Harninkontinenz <i>oder</i> versorgt seinen DK komplett selbständig und mit Erfolg</b> (kein Einnässen von Kleidung oder Bettwäsche)
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('10', $form_values['10'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 10
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Kompensiert seine Harninkontinenz selbständig und <b>mit überwiegendem Erfolg (durchschnittlich nicht mehr als 1x/Tag Einnässen</b> von Kleidung oder Bettwäsche) <b><i>oder</i></b> benötigt <b>Hilfe bei der Versorgung seines Harnkathetersystems</b>
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('5', $form_values['10'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 5
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:90%;">
				Ist durchschnittlich <b>mehr als 1x/Tag harninkontinent</b>
			</td>
			<td>
				<img src="<?php echo PUBLIC_PATH;?>/images/<?php if(in_array('0', $form_values['10'])){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}  ?>" /> 0
			</td>
		</tr>
		<tr>
			<th colspan="3" style="background-color: #CCCCCC;font-weight: bold;">
				Barthel Index Gesamtscore
			</th>
			<th style="background-color: #CCCCCC;font-weight: bold;">
				<?php echo $this->total_score; ?>
			</th>
		</tr>


	</tbody>
</table>