<?php
$btmbuchhistory_lang = $this->translate('btmbuchhistory_lang');
?>
<table class="patientMasterStab1Table" style="width:100%;" border="1">
	<tr>
		<td  style="vertical-align:middle;">
			<b><?php echo $btmbuchhistory_lang['filter by user'];  ?> <?php echo $this->filter_by_user; ?></b>
		</td>
		<td  style="vertical-align:middle;">
			<b><?php echo $btmbuchhistory_lang['filter by year'];  ?> <?php echo $this->filter_by_year; ?></b>
		</td>
		
	</tr>


	<tr>
		<th colspan="2"><b><?php $btmbuchhistory_lang['filter by event table']; ?> </b>  
		
		<br/>
		
		<?php
		$selected_btm_tables = $this->selected_btm_tables;
		?>
		
		<?php 
		if ( in_array("tresor", $selected_btm_tables) ) {
			echo $btmbuchhistory_lang['event tresor'] . "<br/>"; 
		}
		?>
		
		
		<?php 
		if ( in_array("user", $selected_btm_tables) ) {
			echo $btmbuchhistory_lang['event user']. "<br/>"; 
		}
		?>
		
		
		<?php 
		if ( in_array("patient", $selected_btm_tables) ) {
			echo $btmbuchhistory_lang['event patient']; 
		}
		?>

		</th>
	</tr>

	<tr>
		<th colspan="2"><b><?php echo $btmbuchhistory_lang['filter by medicine'];  ?></b></th>
	</tr>
	
	<tr>	
<?php
	$cnt = 0;
	$medicationsarray = $this->medicationsarray ;
	foreach ($this->selected_btm_array as $selected_btm_array):
		$cnt++;
?>
		<td><?php echo  $medicationsarray [$selected_btm_array] ['name']; ?></td>
		<?php
		if ($cnt % 2 ==0) {
			echo "</tr><tr>";
		}

?>
<?php endforeach; ?>
	<?php
		//missing td's
		if (count($this->medicationsarray ) % 4 !=0) 
		for ($i=0; $i< (4 - count($this->medicationsarray ) % 4); $i++){
			echo "<td></td>";
		}
	?>


	</tr>

</table>
<br/>
<br/>

<?php echo $this->grid; ?>

<br/>
<br/>
<div class="footer_date">
		<?php echo $this->translate('createdate') ?>: <?php echo date('d.m.Y');?> 
</div>