<? 
	$sgbvform = $this->sgbvform;
?>
<table width="880" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td width="100%" height="23" align="left">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="350" align="left">
						<table width="350" border="1" bordercolor="#000000"	cellspacing="0" cellpadding="0" style="font-size: 12px;">
							<tr>
								<td height="30" align="left" valign="top">
									<table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="22" align="left" width="10">&nbsp;</td>
											<td height="22" align="left" valign="top" width="340">Krankenkasse bzw. Kostenträger</td>
										</tr>
										<tr>
											<td height="28" align="left" width="10">&nbsp;</td>
											<td height="28" align="left" valign="top" width="340"><? echo $this->krankenkasse ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10"  height="20">&nbsp;</td>
											<td width="250" height="20">Name, Vorname des Versicherten</td>
											<td width="90"  height="20">&nbsp;</td>
										</tr>

										<tr>
											<td width="10"  height="65">&nbsp;</td>
											<td width="250" height="65"><? echo nl2br($this->patient_name); ?></td>
											<td width="90"  height="65" align="left" valign="top">
												<table width="90" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="5"  height="20" align="left" valign="top">&nbsp;</td>
														<td width="85" height="20" align="center" valign="top">geb. am</td>
													</tr>
													<tr>
														<td width="5" height="20">&nbsp;</td>
														<td width="85" height="20"><? echo $this->patbirth ?>	</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">Kassen-Nr.</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="150" height="18" align="left" valign="top">Versicherten-Nr.</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="120" height="18" align="left" valign="top">Status</td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $this->kassen_nr ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="150" height="18" align="left" valign="top"><? echo $this->versicherten_nr ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="120" height="18" align="left" valign="top"><? echo $this->status ?>&nbsp;</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top">Betriebsstätten-Nr.</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">Arzt-Nr.</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">Datum</td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><? echo $this->betriebsstatten_nr ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"> <? echo $this->arzt_nr ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"> <? echo $this->topdatum ?></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>

					<td width="25" align="left">&nbsp;</td>


					<td width="502" align="left" valign="top">
						
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="left">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="94%" height="28" align="left" valign="top"><font	size="14pt"><b>Verordnung häuslicher Krankenpflege</b></font></td>	
											<td width="6%" height="28" align="right" valign="top"><font size="11pt">12</font></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<table height="50">
							<tr>
								<td border="1" height="37">
									<table width="100%" border="0"  cellspacing="5"  cellpadding="5" height="37">
										<tr>
											<td width="5%"><img src="<?php echo PUBLIC_PATH;?>/images/exclamation.png" width="10" /></td>
											<td width="90%" align="center" height="37">Der Anspruch auf
												häusliche Krankenpflege besteht nicht, soweit der
												Versicherte die erforderlichen Maßnahmen selbst durchführen
												oder eine im Haushalt lebende Person diese übernehmen kann.
											</td>
											<td width="5%"><img src="<?php echo PUBLIC_PATH;?>/images/exclamation.png" width="10" height="37" /></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height="2mm" style="height: 2mm!important;" ></td>
							</tr>
							
							
						</table>
 
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="5%"  height="38" align="center" valign="top"> <table cellspacing="2"><tr><td border="1"><font size="14pt"><? if($sgbvform['no_evaluation_possible'] == '1'){ echo "X"; }else{ echo "&nbsp;";} ?></font></td></tr></table></td>
								<td width="95%" height="38" align="left">&nbsp;<font>Die Beurteilung, ob eine im Haushalt lebende Person die<br/> &nbsp;verordnete(n) Maßnahme(n) übernehmen kann, ist nicht möglich.</font></td>
							</tr>
						</table>
						
						
						<table width="100%" border="0"	cellspacing="0" cellpadding="0">
							<tr>
								<td width="5%"  height="28" align="center" valign="middle"> <table cellspacing="1"><tr><td border="1"><font size="14pt"><? if($sgbvform['form_type'] == 'first'){ echo "X"; }else{ echo "&nbsp;";} ?></font></td></tr></table></td>
								<td width="45%" height="28" align="left" >&nbsp;<font>Erst-<br/>&nbsp;verordnung</font></td>
								<td width="5%"  height="28" align="center" valign="middle"> <table cellspacing="1" ><tr><td border="1"><font size="14pt"><? if($sgbvform['form_type'] == 'follow'){ echo "X"; }else{ echo "&nbsp;";} ?></font></td></tr></table></td>
								<td width="45%" height="28" align="left" >&nbsp;<font>Folge-<br/>&nbsp;verordnung</font></td>
							</tr>
						</table>

						<table width="100%" border="0"	cellspacing="0" cellpadding="0">
							<tr>
								<td width="45" height="28" align="left" border="0">&nbsp;<br/><font>vom</font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_from'])):?><? echo substr(date('d',strtotime($sgbvform['valid_from'])),0,1); ?> <? endif;?></font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_from'])):?><? echo substr(date('d',strtotime($sgbvform['valid_from'])),1); ?> <? endif;?></font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_from'])):?><? echo substr(date('m',strtotime($sgbvform['valid_from'])),0,1); ?> <? endif;?></font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_from'])):?><? echo substr(date('m',strtotime($sgbvform['valid_from'])),1); ?> <? endif;?></font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_from'])):?><? echo substr(date('y',strtotime($sgbvform['valid_from'])),0,1); ?> <? endif;?></font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_from'])):?><? echo substr(date('y',strtotime($sgbvform['valid_from'])),1); ?> <? endif;?></font></td>
								
								<td width="35" height="28" align="center" border="0" >&nbsp;<br/><font>bis</font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_till'])):?><? echo substr(date('d',strtotime($sgbvform['valid_till'])),0,1); ?> <? endif;?></font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_till'])):?><? echo substr(date('d',strtotime($sgbvform['valid_till'])),1); ?> <? endif;?></font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_till'])):?><? echo substr(date('m',strtotime($sgbvform['valid_till'])),0,1); ?> <? endif;?></font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_till'])):?><? echo substr(date('m',strtotime($sgbvform['valid_till'])),1); ?> <? endif;?></font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_till'])):?><? echo substr(date('y',strtotime($sgbvform['valid_till'])),0,1); ?> <? endif;?></font></td>
								<td width="25" align="center" border="1"><font size="14pt"><? if(!empty($sgbvform['valid_till'])):?><? echo substr(date('y',strtotime($sgbvform['valid_till'])),1); ?> <? endif;?></font></td>
								
 								<td width="50" height="28" align="right" border="0" >
 								<table cellpadding="4" border="0" width="100%">
									<tr>
										<td width="43%"></td>
										<td width="57%" align="right" border="1"><font size="14pt"><? if($sgbvform['accident'] == '1'){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
									</tr>
								</table>
								</td>
								<td width="72" height="28" align="left"> <font>Unfall<br/>Unfallfolgen</font></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td border="2">
			<table cellspacing="2">
				<tr>
					<td align="left" width="38%"><b>Begründung bei Verordnungsdauer über 14 Tagen:</b></td>
					<td align="left" width="62%" ><? echo $sgbvform['regulation_time']; ?></td>
				</tr>
			</table>
			<table cellspacing="2" border="0">
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr>
					<td align="left" width="25%" ><b>Verordnungsrelevante Diagnose(n)</b><br/> Besonderheiten lt. Verzeichnis:</td>
					<td align="left" width="75%" rowspan="2"><? echo $sgbvform['diagnosen']; ?></td>
				</tr>
				<tr>
					<td align="left" width="25%" ></td>
				</tr>
			</table>
		</td>
	</tr>
 
	<tr>
		<td>
			<table width="100%" border="0"	cellspacing="2" cellpadding="2">
				<tr>
					<td width="30%" border="0" height="15" align="left"><font size="9pt"><b> Häusliche Krankenpflege erfolgt:</b></font></td>
					<td width="3%"  border="0" height="15" align="center" valign="middle"><table cellspacing="0"  celpadding="0"><tr><td border="1" width="20"><font size="14pt"><? if($sgbvform['hospital_treatment'] == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
					<td width="23%" border="0" height="15" align="left"><table cellpadding="5"><tr><td>statt Krankenhausbehandlung</td></tr></table></td>
					<td width="3%"  border="0" height="15" align="center" valign="middle"><table cellspacing="0"  celpadding="0"><tr><td border="1"  width="20"><font size="14pt"><? if($sgbvform['ambulant_treatment'] == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
					<td width="41%" border="0" height="15" align="left"><table cellpadding="5"><tr><td>zur Sicherung der ambulanten ärztlichen Behandlung</td></tr></table></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td border="2">
			<table align="left" cellspacing="3">
				<tr>
					<td>
						<font><b>Folgende Maßnahmen sind notwendig</b> (siehe Verzeichnis der verordnungsfähigen Maßnahmen):</font>	
					</td>
				</tr>
				<tr>
					<td>
						<font><b>Behandlungspflege:</b></font>	
					</td>
				</tr>
			</table>
			
		<table cellspacing="2" >
			
			<tr>
				<td width="3%"><table cellspacing="2"  cellpadding="2"><tr><td border="1"><font size="14pt"><? if($sgbvform['has_treatment_care'] == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="15%" align="left">&nbsp;<font>Anleitung zur <br/>&nbsp;Behandlungspflege</font></td>
				<td width="57%" align="left">&nbsp;<br/><?php echo $sgbvform['treatment_care'];?></td>
				<td width="5%">&nbsp;</td>
				<td width="20%" align="left">&nbsp;<br/><?php echo $sgbvform['treatment_care_total'];?></td>
			</tr>
			
			<tr>
				<td colspan="2">&nbsp;</td>
				<td height="2" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="500" height="1" /></td>
				<td></td>
				<td height="2" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="300" height="1" /></td>
			</tr>
			
			<tr>
				<td colspan="2">&nbsp;</td>
				<td align="center"><font size="8pt">folgende Leistungen</font></td>
				<td></td>
				<td align="center" ><font size="8pt">Anzahl/Einsätze</font></td>
			</tr>
			
		</table>
			
 
		
		<table class="table_actions" border="0" cellpadding="1"  cellspacing="1">
			<tr>
				<td colspan="12">&nbsp;</td>
			</tr>
			<tr>
				<th width="70%" colspan="8">&nbsp;</th>
				<th width="10%" colspan="2" align="center" ><b>Häufigkeit</b></th>
				<th width="20%" colspan="2"  align="center" ><b>Dauer</b></th>
			</tr>
			<tr>
				<th width="70%" colspan="8">&nbsp;</th>
				<th width="5%" ><b>x tgl.</b></th>
				<th width="5%" ><b>x wtl.</b></th>
				<th width="10%" ><b>vom</b></th>
				<th width="10%"><b>bis</b></th>
			</tr>
			<tr>
				<td width="3%"><table cellspacing="2"  celpadding="2"><tr><td border="1"><font size="14pt"><? if($sgbvform['glucose'] == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="67%" colspan="7" align="left"><table cellpadding="3"  cellspacing="3"><tr><td>Blutzuckermessung</td></tr></table></td>
				<td width="5%" ><table><tr><td height="15"> <? echo $sgbvform['glucose_day']; ?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="5%" ><table><tr><td height="15"> <? echo $sgbvform['glucose_week']; ?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="10%" ><table><tr><td height="15"> <? echo  $sgbvform['glucose_from'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
				<td width="10%" ><table><tr><td height="15"> <? echo  $sgbvform['glucose_till'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
			</tr>
			<tr>
				<td width="3%"><table cellspacing="2" ><tr><td border="1"><font size="14pt"><? if($sgbvform['ulcer_treatment_degree'] == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="67%" colspan="6" align="left"><table cellpadding="3"  cellspacing="3"><tr><td>Dekubitusbehandlung</td></tr></table></td>
				
				<td width="5%" ><table><tr><td height="15"></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="5%" ><table><tr><td height="15"></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="10%" ><table><tr><td height="15"></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
				<td width="10%" ><table><tr><td height="15"></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
			</tr>
			<tr>
				<td width="3%"></td>
				<td width="20%" align="left" ><table cellpadding="3"  cellspacing="3"><tr><td>Lokalisation / Grad/ Größe:</td></tr></table></td>
				<td width="77%" align="left"  colspan="10"><table><tr><td height="15"> <? echo  $sgbvform['size_degree'];  ?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="800" height="1" /></td></tr></table></td>
			</tr>
			<tr>
				<td width="3%"  ><table cellspacing="2" ><tr><td border="1"><font size="14pt"><? if(  $sgbvform['injection']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="15%" align="left" ><table cellpadding="3"  cellspacing="3"><tr><td>Injektionen:</td></tr></table></td>

				<td width="3%"  ><table cellspacing="2" ><tr><td border="1"><font size="14pt"><? if( $sgbvform['injection_ready_preparation']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="15%" align="left" ><table cellpadding="3"  cellspacing="3"><tr><td>herrichten</td></tr></table></td>

				<td width="3%"  ><table cellspacing="2" ><tr><td border="1"><font size="14pt"><? if( $sgbvform['injection_im_preparation']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="15%" align="left" ><table cellpadding="3"  cellspacing="3"><tr><td>i.m.</td></tr></table></td>

				<td width="3%"  ><table cellspacing="2" ><tr><td border="1"><font size="14pt"><? if( $sgbvform['injection_sc_preparation']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="13%" align="left" ><table cellpadding="3"  cellspacing="3"><tr><td>s.c.</td></tr></table></td>
				
				<td width="5%"  align="center" ><table><tr><td height="15"> <? echo   $sgbvform['injection_other_day'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="5%"  align="center" ><table><tr><td height="15"> <? echo   $sgbvform['injection_other_week'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="10%" align="center" ><table><tr><td height="15"> <? echo   $sgbvform['injection_other_from'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
				<td width="10%" align="center" ><table><tr><td height="15"> <? echo   $sgbvform['injection_other_till'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
				
			</tr>
			<tr>
				<td width="3%"><table cellspacing="2" ><tr><td border="1"><font size="14pt"><? if( $sgbvform['medication']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="15%" align="left" ><table cellpadding="2"  cellspacing="2"><tr><td>Medikamentengabe:</td></tr></table></td>
		
				<td width="3%"><table cellspacing="2" ><tr><td border="1"><font size="14pt"><? if( $sgbvform['medication_ready_preparation']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="15%" align="left" > <table cellpadding="3"  cellspacing="3"><tr><td>herrichten</td></tr></table></td>
		
				<td width="3%"><table cellspacing="2" ><tr><td border="1"><font size="14pt"><? if( $sgbvform['medication_administer_preparation']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td  width="31%" align="left"  colspan="3"><table cellpadding="3"  cellspacing="3"><tr><td>verabreichen</td></tr></table></td>
				
				
				<td width="5%"  align="center" ><table><tr><td height="15"> <? echo   $sgbvform['medication_other_day'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="5%"  align="center" ><table><tr><td height="15"> <? echo   $sgbvform['medication_other_week'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="10%" align="center" ><table><tr><td height="15"> <? echo   $sgbvform['medication_other_from'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
				<td width="10%" align="center" ><table><tr><td height="15"> <? echo   $sgbvform['medication_other_till'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
 

			</tr>
			<tr>
				<td width="3%"></td>
				<td width="20%" align="left" ><table cellpadding="3"  cellspacing="3"><tr><td>Präparate:<br/>(auch bei Injektionen):</td></tr></table></td>
				<td width="77%" align="left"  colspan="10"><table><tr><td height="15"> <? echo   $sgbvform['preparations'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="800" height="1" /></td></tr></table></td>
			</tr>
			<tr>
				<td width="18%"> <font size="10pt">Verbände:</font></td>
				<td width="3%"><table cellspacing="2"  celpadding="2"><tr><td border="1"><font size="14pt"><? if( $sgbvform['supportive_association']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="49%" colspan="5" align="left"><table cellpadding="3"  cellspacing="3"><tr><td> Anlegen vonstützenden/stabilisierenden Verbänden</td></tr></table></td>
				<td width="5%" ><table><tr><td height="15"> <? echo   $sgbvform['supportive_association_day'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="5%" ><table><tr><td height="15"> <? echo   $sgbvform['supportive_association_week'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="10%" ><table><tr><td height="15"> <? echo   $sgbvform['supportive_association_from'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
				<td width="10%" ><table><tr><td height="15"> <? echo   $sgbvform['supportive_association_till'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
			</tr>

			<tr>
				<td width="3%"></td>
				<td width="15%"></td>
				<td width="3%"><table cellspacing="2"  celpadding="2"><tr><td border="1"><font size="14pt"><? if( $sgbvform['compression_bandages']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="49%" colspan="5" align="left"><table cellpadding="3"  cellspacing="3"><tr><td> Anlegen vonstützenden/stabilisierenden Verbänden</td></tr></table></td>
				<td width="5%" ><table><tr><td height="15"> <? echo   $sgbvform['compression_bandages_day'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="5%" ><table><tr><td height="15"> <? echo   $sgbvform['compression_bandages_week'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="10%" ><table><tr><td height="15"> <? echo   $sgbvform['compression_bandages_from'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
				<td width="10%" ><table><tr><td height="15"> <? echo   $sgbvform['compression_bandages_till'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
			</tr>
	 		<tr>
				<td width="3%"></td>
				<td width="15%"></td>
				<td width="3%"><table cellspacing="2"  celpadding="2"><tr><td border="1"><font size="14pt"><? if( $sgbvform['wund_bandages_location']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="49%" colspan="5" align="left"><table cellpadding="3"  cellspacing="3"><tr><td>Anlegen und Wechseln vonWundverbänden</td></tr></table></td>
				<td width="5%" ><table><tr><td height="15"> <? echo   $sgbvform['wund_bandages_location_day'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="5%" ><table><tr><td height="15"> <? echo   $sgbvform['wund_bandages_location_week'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
				<td width="10%" ><table><tr><td height="15"> <? echo   $sgbvform['wund_bandages_location_from'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
				<td width="10%" ><table><tr><td height="15"> <? echo   $sgbvform['wund_bandages_location_till'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
			</tr>
			<tr>
				<td width="18%" colspan="2"></td>
				<td width="22%" colspan="2" align="left"><table cellpadding="3"  cellspacing="3"><tr><td>Lokalisation / Wundbefund:</td></tr></table></td>
				<td width="60%" colspan="8"><table><tr><td height="15" align="left"> <? echo   $sgbvform['wound_findings'];?></td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="800" height="1" /></td></tr></table></td>
			</tr>			
			<tr>
				<td width="3%"><table cellspacing="2" ><tr><td border="1"><font size="14pt"><? if( $sgbvform['other']  == 1 ){ echo "X"; } else { echo "&nbsp;";} ?></font></td></tr></table></td>
				<td width="97%" colspan="11" align="left"><table cellpadding="3"  cellspacing="3"><tr><td>Sonstige Maßnahmen der Behandlungspflege (einschl. Häufigkeit und Dauer):</td></tr></table></td>
			</tr>
			<tr>
				<td width="100%" colspan="12" align="left"><? echo $sgbvform['other_text'] ?></td>
			</tr>
 

		</table>	
		
		</td>
	</tr>
	<tr>
		<td>
		<table>
			<tr>
				<td colspan="6" width="65%"  border="2">	
					<table align="left" cellspacing="3">
						<tr>
							<td>
								<font><b>Grundpflege:</b></font>	
							</td>
						</tr>
					</table>				
					<table cellspacing="2" >
						<tr>
							<td width="5%">&nbsp;<table cellspacing="2"  celpadding="2"><tr><td border="1"><font size="14pt">&nbsp;</font></td></tr></table></td>
							<td width="20%" align="left">&nbsp;<font>Anleitung zur <br/>&nbsp;Grundpflege</font></td>
							<td width="50%"><table><tr>	<td></td></tr><tr><td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="300" height="1" /></td></tr></table></td>
							<td width="3%"> </td>
							<td width="20%"><table><tr>	<td></td></tr><tr><td><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="100" height="1" /></td></tr></table></td>
						</tr>
						<tr>
							<td colspan="2">&nbsp;</td>
							<td align="center"><font size="8pt">folgende Leistungen</font></td>
							<td></td>
							<td align="center" ><font size="8pt">Anzahl/Einsätze</font></td>
						</tr>
					</table>
					
					<table border="0"  width="100%" cellspacing="2">
							<tr>
								<th width="50%" colspan="2">&nbsp;</th>
								<th width="20%" colspan="2" align="center" ><b>Häufigkeit</b></th>
								<th width="30%" colspan="2"  align="center" ><b>Dauer</b></th>
							</tr>
							<tr>
								<th width="50%" colspan="2">&nbsp;</th>
								<th width="10%"><b>x tgl.</b></th>
								<th width="10%"><b>x wtl.</b></th>
								<th width="15%"><b>vom</b></th>
								<th width="15%"><b>bis</b></th>
							</tr>
				 
						
					 		<tr>
								<td width="5%"><table cellspacing="2"  celpadding="2"><tr><td border="1"><font size="14pt">&nbsp;</font></td></tr></table></td>
								<td width="45%" align="left"><table cellpadding="3"  cellspacing="3"><tr><td> Ausscheidungen <br/> (Hilfe, Kontrolle und Training)</td></tr></table></td>
								<td width="10%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
								<td width="10%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
								<td width="15%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
								<td width="15%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
							</tr>
					 		<tr>
								<td width="5%"><table cellspacing="2"  celpadding="2"><tr><td border="1"><font size="14pt">&nbsp;</font></td></tr></table></td>
								<td width="45%" align="left"><table cellpadding="3"  cellspacing="3"><tr><td> Ernährung</td></tr></table></td>
								<td width="10%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
								<td width="10%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
								<td width="15%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
								<td width="15%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
							</tr>
					 		<tr>
								<td width="5%"><table cellspacing="2"  celpadding="2"><tr><td border="1"><font size="14pt">&nbsp;</font></td></tr></table></td>
								<td width="45%" align="left"><table cellpadding="3"  cellspacing="3"><tr><td> Körperpflege</td></tr></table></td>
								<td width="10%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
								<td width="10%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
								<td width="15%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
								<td width="15%" ><table><tr><td height="15"> &nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
							</tr>
				 
				 
					 		<tr>
								<td width="50%" colspan="2" align="left"><table cellpadding="3"  cellspacing="3"><tr><td>Hauswirtschaftliche Versorgung:</td></tr></table></td>
								<td width="10%" ><table><tr><td height="15">&nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
								<td width="10%" ><table><tr><td height="15">&nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="35" height="1" /></td></tr></table></td>
								<td width="15%" ><table><tr><td height="15">&nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
								<td width="15%" ><table><tr><td height="15">&nbsp;</td></tr><tr><td height="1"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="65" height="1" /></td></tr></table></td>
							</tr>
					</table>
				</td>
					<td colspan="6" width="35%" border="0">
					<table width="100%"	border="0" bordercolor="#FFFFFF" cellspacing="0" cellpadding="0">
						<tr>
							<td height="60"></td>
						</tr> 
						<tr>
							<td height="160"  align="center">&nbsp;
								<table width="95%" border="1" cellspacing="0" cellpadding="0">
									<tr>
										<td height="160" align="center">
											<font size="8pt" ><? echo nl2br($this->stamp_block); ?></font>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td height="30" align="center"><font>Ausfertigung für die Krankenkasse	</font></td>
						</tr> 
						<tr>
							<td align="right"><font>Muster 12a (7.2008)</font></td>
						</tr> 
						
						
					</table>
					
					</td>
			</tr>
		</table>
		</td>
	</tr>
	
</table>
