<? 
$plan = $this->plan; 
$stage = $this->stage;
?>
<table border="1"  width="100%" cellpadding="5" >
	<tr>
 		<th bgcolor="#F3F3F3" align="center" height = "30" > <font size="14pt"><b> Klinikbesuch Brückenpflege Entlassplanung</b></font></th>
 	</tr>
 		<tr>
		<td>
			<table class="planning_table_sec">
				<tr>
					<td width="10%"><b>Patient:</b> </td>
					<td width="55%"><?php echo $this->patient_fname_lname; ?></td>
					<td width="10%"><b><?php echo $this->translate("birthd");?> :</b></td>
					<td width="25%"><?php echo $this->patbirth;?></td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr>
		<td>
			<table border="0"  width="100%">
				<tr>
					<td colspan="6" height="30"></td>
				</tr>
				<tr>
					<td><b>Beginn Besuch:</b> </td>
					<td><? echo $plan['start_time']?></td>
					<td><b>Ende Besuch:</b></td>
					<td><? echo $plan['end_time']?></td>
					<td><b>Datum</b></td>
					<td><? if( $plan['plan_date'] != '0000-00-00 00:00:00' && !empty( $plan['plan_date'])  ){	 echo date('d.m.Y',strtotime($plan['plan_date']));} ?>	</td>
				</tr>
				<tr>
					<td colspan="6" height="20"></td>
				</tr>
				<tr>
					<td><b>Fahrtzeit / km </b></td>
					<td><? echo $plan['driving_time']?>/<? echo $plan['driving_distance']?></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="6" height="20"></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><b>Klinik /Abteilung:</b> </td>
					<td colspan="3"><? echo $plan['location']?></td>
				</tr>
				<tr>
					<td colspan="6" height="20"></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><b>Telefon Nr. :  </b></td>
					<td><? echo $plan['location_phone']?></td>
					<td><b>FAX-Nr. :  </b></td>
					<td><? echo $plan['location_fax']?></td>
				</tr>
				<tr>
					<td colspan="6" height="30"></td>
				</tr>
			</table>
		</td>	
 	</tr>
 	<tr>
 		<td>
			<table border="0"  width="100%">
			
				<tr>
					<td colspan="6" height="10"></td>
				</tr>
				<tr>
					<td colspan="4"><b>Voraussichtliche Entlassung:</b></td>
					<td><b>Datum:</b> </td>
					<td><? if( $plan['expected_discharge_date'] != '0000-00-00 00:00:00' && !empty( $plan['expected_discharge_date'])  ){ echo date('d.m.Y',strtotime($plan['expected_discharge_date'])) ;} ?></td>
				</tr>
				<tr>
					<td colspan="6" height="10"></td>
				</tr>
			</table>
		</td>
	</tr>
 	<tr>
 		<td>
			<table border="0"  width="100%">
				<tr> 
					<td colspan="6" height="10"></td>
				</tr>
				<tr>
					<td  colspan="2"><b>Ansprechpartner / Bezugspflegekraft:</b></td>
					<td colspan="2"> <? echo $plan['user_details']?> </td>
					<td><b>Telefon:</b> </td>
					<td> <? echo $plan['user_phone']?> </td>
				</tr>
				<tr>
					<td colspan="6" height="10"></td>
				</tr>

			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border="0"  width="100%">
				<tr>
					<td colspan="7" height="10"></td>
				</tr>
				
				<tr>
					<td width="31%"><b>Gespräch mit:</b></td>
					<td width="3%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan['interview_with_patient'] == '1' ){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
					<td width="20%">Patient</td>
					<td width="3%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan['interview_with_nurse'] == '1' ){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
					<td width="20%">Pflege</td>
					<td width="3%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan['interview_with_doctor'] == '1' ){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
					<td width="20%">Arzt</td>
				</tr>
				
				<tr>
					<td colspan="7" ><? echo $plan['interview_details'] ?></td>
				</tr>
				
				<tr>
					<td width="31%"></td>
					<td width="3%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan['interview_with_contact'] == '1' ){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
					<td>Angehörigen</td>
					<td colspan="4" height="50"><? echo nl2br($plan['interview_contact']) ?></td>
				</tr>

				<tr>
					<td colspan="7" height="10"></td>
				</tr>

			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border="0"  width="100%">

				<tr>
					<td colspan="5" height="10"></td>
				</tr>

				<tr>
					<td width="31%"><b>Pflegedienste und Versorger:</b></td>
					<td width="3%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan['existing_care_service'] == '1' ){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
					<td width="31%">betreut bereits</td>
					<td width="3%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan['new_care_service'] == '1' ){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
					<td width="32%">wird eingeschaltet</td>
				</tr>


				<tr>
					<td></td>
					<td colspan="2" height="50"><? echo nl2br($plan['existing_care_service_text'])?></td>
					<td colspan="2" height="50"><? echo nl2br($plan['new_care_service_text'])?></td>
				</tr>
				<tr>
					<td colspan="5" height="10"></td>
				</tr>
			
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border="0"  width="100%">
				<tr>
					<td colspan="4" height="10"></td>
				</tr>
			
				<tr>
					<td colspan="2" width="65%"><b>Antrag auf Pflegeversicherung nach SGB XI:</b></td>
					<td height="25" width="3%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan['care_application_set'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
					<td>ist gestellt</td>
				</tr>		

				<tr>
					<td  height="25"></td>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan['care_application_provided'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
					<td>wird gestellt</td>
				</tr>


				<tr>
					<td height="25"></td>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if( $stage == '1' ){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
					<td>Pflegestufe I eingestuft</td>
				</tr>
				<tr>
					<td height="25"></td>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if( $stage == '2' ){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
					<td>Pflegestufe II eingestuft</td>
				</tr>
				<tr>
					<td  height="25"></td>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if( $stage == '3' ){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
					<td>Pflegestufe III eingestuft</td>
				</tr>
				<tr>
					<td height="25"></td>
					<td></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan['care_application_upgrade'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
					<td>Antrag auf Höherstufung</td>
				</tr>
				<tr>
					<td colspan="5" height="10"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="1">
			<tr>
				<th bgcolor="#F3F3F3" align="center" height = "20" >Hilfsmittel</th>
				<th bgcolor="#F3F3F3" align="center" height = "20">vorhanden</th>
				<th bgcolor="#F3F3F3" align="center" height = "20">rezeptiert</th>
				<th bgcolor="#F3F3F3" align="center" height = "20">Bestellt bei Firma</th>
			</tr>
		
		<? foreach($this->aid as $k => $aid): ?>
			<tr class="aid_row">
				<td align="left" height = "35">	&nbsp;<? echo $aid['aid_item']; ?></td>
				<td><table border="0" cellpadding="5" cellspacing="5"><tr><td><img src="<?php echo PUBLIC_PATH;?>/images/<? if( $aid['aid_type'] == '1' ){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td></tr></table></td>
				<td><table border="0" cellpadding="5" cellspacing="5"><tr><td><img src="<?php echo PUBLIC_PATH;?>/images/<? if( $aid['aid_type'] == '2' ){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td></tr></table></td>
				<td>&nbsp;<? echo $this->supplier[$k]['supplier']?></td>
			</tr>
		<? endforeach; ?>
		</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border="0"  width="100%">
				<tr>
					<td colspan="3" height="10"> </td>
				</tr>
				<tr>
					<td width="3%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($plan['another_service'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
					<td>Nur Überleitung an anderen Dienst</td>
					<td><? echo $plan['another_service_text']?></td>
				</tr>
				<tr>
					<td colspan="3" height="10"> </td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td>
			<table border="0"  width="100%">
			
				<tr>
					<td colspan="2" height="10"> </td>
				</tr>
				<tr>
					<td width="31%"  height="60" ><b>Ergänzender Kommentar:</b> </td>
					<td><? echo nl2br($plan['official_comment']); ?></td>
				</tr>
				<tr>
					<td colspan="2" height="10"> </td>
				</tr>
			
			</table>
		</td>
	</tr>
</table>