<!--  ISPC-2578, elena, 15.09.2020 -->
<h2>Anfrage: Benutzer deaktivieren</h2>
<p>Mandant/Netz: <?php echo $this->client_name ?></p>
<p>Abmeldedatum: <?php echo $this->abmeldedatum; ?></p>
 <p>
     Zusätzliche Bemerkung:<br>
     <?php echo $this->notes; ?>

 </p>
<!-- ISPC-2578, elena, 12.11.2020 -->
<p>
   E-Mail für Feedback:<br>
   <?php echo $this->user_email; ?>
</p>
<table id="deact_userlist" class="datatable">
    <tr>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>Benutzername</th>

        <th>Benutzergruppe</th>
        <td></td>

    </tr>

    <?php foreach ($this->local_users as $localuser):?>
    <?php if(in_array($localuser['id'], $this->deactivate_ids)):?>
    <tr>

        <td id="lastname_<?php echo $localuser['id']; ?>"><?php echo $localuser['last_name'];?></td>
        <td id="firstname_<?php echo $localuser['id']; ?>"><?php echo $localuser['first_name'];?></td>
        <td  id="username_<?php echo $localuser['id']; ?>"><?php echo $localuser['username'];?></td>

        <td id="group_<?php echo $localuser['id']; ?>"><?php echo $this->groups[$localuser['groupid']];?></td>


    </tr>
    <?php endif;?>
    <?php endforeach;?>
</table>