<!--  Maria:: Migration CISPC to ISPC 22.07.2020 -->
<?php
$f_values=$this->f_values;
$f_values=Pms_CommonData::clear_pdf_data($f_values);
?>
<?php if($this->pdf):?>
<table>
    <?php foreach (array("Name"=>"Name","Station"=>"Station", "Telefonnummer"=>"Telefonnummer", "Piepernummer"=>"Piepernummer") as $name=>$caption):
        $myval= $f_values[$name];
        ?>
        <tr>
            <td style="width:4cm;"><label><?php echo $caption;?></label></td>
            <td><?php echo $myval;?></td>
        </tr>
    <?php endforeach;?>
</table>
<?php else:?>
<table>
    <?php foreach (array("Name"=>"Name","Station"=>"Station", "Telefonnummer"=>"Telefonnummer", "Piepernummer"=>"Piepernummer") as $name=>$caption):
        $myval= $f_values[$name];
        ?>
        <tr>
            <td>
                <label><?php echo $caption;?></label>
            </td>
            <td>
                <input type="text" name="<?php echo $this->config['blockname'];?>[<?php echo $name;?>]" value="<?php echo $myval;?>">
            </td>
        </tr>
    <?php endforeach;?>
</table>
<?php endif;?>