<b>Entwicklung und Verlauf der aktuellen Beschwerden bis zur Aufnahme</b>
<i>(Verlauf, bisherige Diagnostik, Therapie)</i>
<?php if(!$this->pdf):?>
<script>
    //ISPC-2849,Elena,03.03.2021
    tinymce.init({
        selector: '.form_assessment_basis_freetext',
        menubar : false,
        plugins: 'bbcode,paste', //i use bbcode for formating and decode it later to show in pdf
        paste_as_text: true,
        branding: false,
        language: 'de',
        valid_elements : 'br,em,i,b,strong,u',

        entity_encoding : 'raw',
        forced_root_block : false,
        toolbar: 'bold italic underline | undo redo'
    });

</script>
<div>
<textarea class="form_assessment_basis_freetext" style="width:100%;min-height:240px;" name="assessment_basis[freetext]"><?php echo $this->f_values['freetext'];?></textarea>
</div>
<?php else:?>
    <br>
	<?php
	//ISPC-2849,Elena,03.03.2021
    // we have a very simple formating, that's why we can use simple replace for decode from BBCode
	$aBBTags = ['[b]', '[/b]', '[u]', '[/u]', '[i]', '[/i]'];

    $aTags = ['<b>', '</b>', '<u>', '</u>', '<i>', '</i>'];

    $x=htmlspecialchars($this->f_values['freetext']);


    $x2 = str_replace($aBBTags, $aTags, $x);
    echo str_replace("\r\n",'<br>', $x2);
    //$x=htmlspecialchars($this->f_values['freetext']);
    //echo str_replace("\r\n",'<br>', $x);

    ?>
<?php endif;?>
