<!--  Maria:: Migration CISPC to ISPC 22.07.2020 -->
<?php
//print_r($this->f_values['value']);
$karnofsky = $this->f_values['options'];
$karnofsky_val =  $this->f_values['value'];


?>
<!--  ############################################################################## -->
<!--  ################################# Karnofsky   ##################################### -->
<!--  ############################################################################## -->

    <div class="karnofsky"  >
        <table class="kvno_ecog" width="100%">
            <tr>
                <td style="width:80px;">
                    <b>Karnofsky :</b>
                </td>
                <td>
                    <?php if(!$this->pdf):?>
                    <select name="karnofsky[value]" id="karnofsky">
                        <option value="" <?php if(  $karnofsky_val == 'NULL' || empty( $karnofsky_val)) {echo  'selected="selected"';}?> ><?php echo $this->translate('please_select');  ?></option>
                        <?php foreach($karnofsky as $karnofsky_value => $karnofsky_details):?>
                        <option value="<?php echo  $karnofsky_details['value']; ?>" <?php if(  $karnofsky_val == $karnofsky_details['value'] ) {echo  'selected="selected"';}?> ><?php echo $karnofsky_details['label'];?></option>
                        <?php endforeach;?>
                    </select>
                    <?php else: ?>
                        <?php foreach($karnofsky as $karnofsky_value => $karnofsky_details):?>
                        <?php
                        if(  $karnofsky_val == $karnofsky_details['value'] ) {
                        echo $karnofsky_details['label'];
                        }
                        ?>
                        <?php endforeach;?>
                    <? endif; ?>

                </td>
                <td></td>
            </tr>
        </table>
    </div>
