 <!-- Maria:: Migration ISPC to CISPC 08.08.2020 -->
<? 
	$patient = $this->patient_details;
	$hopq = $this->hospiz_questionnaire_details;
	$hq_users = $this->users_details;

	$client_details = $this->client_details;
	// add nobr="true" to textarea fields + end box for ISPC-2647 Carmen 28.07.2020
?>
 
 
  <table width="860" align="left" cellpadding="0" cellspacing="0"	style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none; font-size: 10pt; color: #000000;">
   	<!--ISPC-2647 Carmen 28.07.2020
   	<tr>
		<td align="left">
			<font size="12pt"><b> Fragebogen zur Feststellung der stationären Hospizpflegebedürftigkeit</b></font>
		</td>
	</tr>
	 
 	<tr>
		<td  height="2" align="left">
			<img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="860" height="1" />
		</td>
	</tr>  
	<tr>
		<td height="30" align="left"></td>
	</tr> -->
	<tr>
		<td>
			<table>
				<tr>
					<td width="5%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['initial_application'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
					<td><b>Erstantrag</b></td>
				</tr>
				<tr>
					<td width="5%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['renew_application'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
					<td><b>Verlängerungsantrag </b> - Aufnahme am: <? echo $patient['admission_date'] ?> </td>
				</tr>
			</table>
		</td>	
	</tr>

	<tr>
		<td height="20" align="left"></td>
	</tr>

	<tr>
		<td>
			<table>
				<tr>
					<td width="17%"><b>Krankenkasse:</b></td> <!-- ISPC-2647 -->
					<td align="left" colspan="2"><? echo $patient['health_insurance'];?></td>
				</tr>
				<tr>
					<td width="17%"><b>Name, Vorname:</b></td> <!-- ISPC-2647 -->
					<td width="68%"><? echo $patient['last_name'] ?>, <? echo $patient['first_name'] ?></td> <!-- ISPC-2647 -->
					<td width="15%"><b>geb.:</b> <? echo $patient['birthd']; ?></td>
				</tr>
				<tr><td colspan="3">&nbsp;</td></tr>
			</table>
		</td>
	</tr>

	<tr>
		<td height="20" align="left"></td>
	</tr>

	<tr>
		<td>
			<table>
				<tr><td><b>Diagnose mit Erstdiagnose und Stadium:</b></td></tr>
				<tr nobr="true"><td><? echo $hopq['diagnostic_details']; ?></td></tr>
			</table>
		</td>
	</tr>

	<tr>
		<td height="20" align="left"></td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td width="12%"><b>Metastasen:</b></td> <!-- ISPC-2647 -->
					<td width="88%"> <!-- ISPC-2647 -->
						<table>
							<tr>
								<td width="15%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['metastasen_options'] == '1'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>ja</label></td>
								<td width="15%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['metastasen_options'] == '0'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>nein</label></td>
								<td  width="70%">welche:</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr nobr="true">
					<td colspan="2" >
						<? echo $hopq['metastasen_details']; ?>
					</td>
				</tr>
			</table>
		</td>
	 </tr>
	 
	 
	<tr>
		<td height="20" align="left"></td>
	</tr>


	<tr>
		<td>
			<table>
				<tr>
					<td><font size="10pt"><b>Allgemeine Befunde:</b></font></td>
				</tr>
				<tr>
					<td>
						<table>
							<tr>
								<td width="3%">1.</td> 	<!-- ISPC-2647 -->
								<td width="24%">AZ:  <? echo $hopq['findings_ez']; ?></td>
								<td width="24%"> EZ:  <? echo $hopq['findings_az']; ?></td>
								<td width="24%"> Gewicht/Größe:  <? echo $hopq['findings_height_weight']; ?></td>
								<td width="24%"> Hautzustand: <? echo $hopq['findings_skin_condition']; ?></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td  width="3%">2. </td> 	<!-- ISPC-2647 -->
					<td  width="95%"><b>Psychische Auffälligkeiten:</b></td>
				</tr>
				<tr nobr="true">
					<td colspan="2"><? echo $hopq['mental_disorders']; ?></td>
				</tr>
			</table>
		</td>
	</tr>		
	
	
	
	<tr>
		<td height="20" align="left"></td>
	</tr>


	<tr>
		<td>
		<table>
				<tr>
				<!-- ISPC-2647 -->
					<td width="26%"> <b>Bisherige Therapien:</b></td>
					<td width="17%">operativ</td>
					<td width="17%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['operativ'] == '1'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>ja</label></td>
					<td width="17%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['operativ'] == '0'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>nein</label></td>
					<td width="24%">
						<?php if($hopq['operativ'] =='1'):  ?>
						<label>wann:</label> &nbsp;<?php echo $hopq['operativ_details'] ?>
						<?php endif;  ?>
					</td>
					<!-- ISPC-2647 -->
				</tr>
				<tr>
					<td></td>
					<td>chemo</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['chemo'] =='1'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>ja</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['chemo'] =='0'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>nein</label></td>
					<td>
						<?php if($hopq['chemo'] =='1'):  ?>
						<label>wann:</label> &nbsp;<?php echo $hopq['chemo_details']  ?>
						<?php endif;  ?>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Radiatio</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['radiatio'] =='1'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>ja</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['radiatio'] =='0'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>nein</label></td>
					<td>
						<?php if($hopq['radiatio'] =='1'):  ?>
						<label>wann:</label> &nbsp;<?php echo $hopq['radiatio_details'] ; ?>
						<?php endif;  ?>
					</td>
				</tr>
			</table>
 
		</td>
	</tr>		

	<tr>
		<td height="20" align="left"></td>
	</tr>
	
	<tr>
		<td>		
			<table>
				<tr>
					<td><b><font size="11pt"> I Derzeit erforderliche palliative Therapie</font></b></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td  width="100%">
			<table>
				<tr>
					<td> &nbsp;</td>
				</tr>
			</table>		
			<table border="0"  width="860">				
				<tr>
					<td width="3%">1.</td> 	<!-- ISPC-2647 -->
					<td width="26%"><b>Symptomkontrolle</b> </td> 	<!-- ISPC-2647 -->
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['symptom_schmerzen'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="20%">Schmerzen</td>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['symptom_dyspnoe'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="20%">Dyspnoe</td>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['symptom_erbrechen'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="25%">Erbrechen</td>
				</tr>
			</table>
			
			<table>
				<tr>
					<td> &nbsp;</td>
				</tr>
			</table>		
			
			<table border="0"  width="860">				
				<tr>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['symptom_ubelkeit'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="10%">Übelkeit</td>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['symptom_obstipation'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="15%">Obstipation</td>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['symptom_durchfalle'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="20%">Durchfälle</td>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['symptom_depression'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="20%">Depression</td>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['symptom_angste'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="10%">Ängste</td>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['symptom_haut'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="10%">Haut</td>
				</tr>
				<tr>
					<td colspan="13">&nbsp;</td>
				</tr>
				<tr nobr="true">
					<td colspan="13"><? echo $hopq['symptom_control']; ?> </td>
				</tr>
			</table>
		</td>
	</tr>	

	<tr>
		<td height="20" align="left"></td>
	</tr>

	<tr>
		<td>
			<table border="0"  width="860">	
				<tr>
					<td width="3%">2.</td> 	<!-- ISPC-2647 -->
					<td width="15%"><b>Medikamente: </b></td> 	<!-- ISPC-2647 -->
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['med_oral'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="8%"> <label>oral</label></td>
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['med_iv'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="8%"> <label>i.v.</label></td> 	<!-- ISPC-2647 -->
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['med_im'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="8%"> <label>i.m.</label></td> 	<!-- ISPC-2647 -->
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['med_sc'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="8%"> <label>s.c.</label></td> 	<!-- ISPC-2647 -->
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['med_infusion'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="12%"> <label>Infusion</label></td> 	<!-- ISPC-2647 -->
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['med_nebuliser'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="12%"> <label>Verneblung</label></td> 	<!-- ISPC-2647 -->
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['med_inhalation'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="12%"><label>Inhalation</label></td> 	<!-- ISPC-2647 -->
				</tr>
				<tr>
					<td colspan="16">&nbsp;</td>
				</tr>
				<tr nobr="true">
					<td width="99%" colspan="16"><label>Welche: </label> <? echo $hopq['med_details']; ?></td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td height="20" align="left"></td>
	</tr>
	
	
	<tr>
		<td>
			<table>
				<tr>
					<td colspan = "10"><b>3.&nbsp;&nbsp;&nbsp; Andere Therapien:</b></td> 	<!-- ISPC-2647 -->
				</tr>
				<tr>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['chemotherapie'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="18%"> Chemotherapie</td> 	<!-- ISPC-2647 -->
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['radiatio_needed'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="18%"> Radiatio</td> 	<!-- ISPC-2647 -->
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['kg'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="18%"> KG</td> 	<!-- ISPC-2647 -->
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['lymphdrainage'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="18%"> Lymphdrainage</td> 	<!-- ISPC-2647 -->
					
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['atemtherapie'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td width="18%"> Atemtherapie</td> 	<!-- ISPC-2647 -->
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="20" align="left"></td>
	</tr>
	<tr>
		<td>	
			<table>
				<tr>
					<td colspan="5"><b>4.&nbsp;&nbsp;&nbsp; Besonderheiten:</b></td> 	<!-- ISPC-2647 -->
				</tr>
				<tr>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->port == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Port</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->peg == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> &nbsp;<label>PEG/Magensonde</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['sauerstoffgabe'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp;<label>Sauerstoffgabe</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['bzrr_control'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp;<label>BZ/RR-Kontrolle</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->dk == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> &nbsp;<label>DK/Zysto-Fix</label></td>
				</tr>
				<tr>
					<td colspan="5">&nbsp;</td>
				</tr>
				<tr>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['anuspraeter'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp;<label>Anus pr.</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['urostoma'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp;<label>Urostoma</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['tracheostoma'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp;<label>Tracheostoma</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($hopq['wound_treatment'] == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp;<label>Wundbehandlung</label></td>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td height="30" align="left"></td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td><b> <font size="11pt">II Psychosoziale Betreuung:</font></b></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><b>familiäre Situation/soziales Umfeld:</b> </td>
				</tr>
				<tr nobr="true">
					<td width="99%"><? echo $hopq['family_social_environment']; ?></td> 	<!-- ISPC-2647 -->
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
			
			<table>
				<tr>
					<td><b>erforderliche psychosoziale Begleitung:</b></td>
				</tr>
			
				<tr nobr="true">
					<td width="99%"><? echo $hopq['required_psychosocial_support']; ?></td> 	<!-- ISPC-2647 -->
				</tr>
			
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
			
			
		</td>
	</tr>
	<tr>
		<td height="20" align="left"></td>
	</tr>

	<tr nobr="true">
		<td width="99%"> 	<!-- ISPC-2647 -->
			<table border="1" style="border:1px solid #000;">
				<tr>
					<td>
						<table>
							<tr><td colspan="2">&nbsp;</td></tr>
							<tr>
								<td width="50%" >&nbsp;<? echo $client_details['city']; ?>,  <? echo date('d.m.Y'); ?></td>
								<td width="50%" align="right"><? echo $hq_users['selected_user'][$hopq['user']]?>&nbsp;</td>
							</tr>
							<tr><td colspan="2">&nbsp;</td></tr>
						</table>
					</td>
				</tr>
			</table>			
		</td>
	</tr>		
</table>
