<?php //ISPC-2630, elena, 29.09.2020, fixes ?>
<div style="display:table;width:100%;">
<div style="display:table-row;"  >
<div style="display:table-cell;vertical-align:top;"  >
<select name="<?php echo $this->blockconfig['blockname']; ?>[proceed_group]">
    <?php foreach($this->options_array as $verfahren_option) : ?>
    <option value="<?php echo $verfahren_option; ?>"  <?php if($verfahren_option == $this->intervention->proceed_group){echo 'selected="selected"';} ?>><?php echo $verfahren_option; ?></option>
    <?php endforeach; ?>
</select>
</div>
    <!-- ISPC-2719, elena, 30.11.2020 -->
    <div style="display:table-cell;padding-top:5px;vertical-align:top;padding-left:7px;"  >
        Kommentar:
    </div>
    <div style="display:table-cell;vertical-align:top;"  >
    <textarea name="<?php echo $this->blockconfig['blockname']; ?>[<?php echo $this->blockconfig['blockname']; ?>_verfahren_freetext]"><?php echo $this->intervention->proceed_group_freetext; ?></textarea>
    </div>
</div>
</div>