<?
$kv_header = $this->kv_header;
$content = $this->content;
?>
<table border="0" cellpadding="3" width="860">
	<tr>
		<td colspan="5">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="350" align="left" valign="top">

						<table width="350"  cellspacing="0" cellpadding="0"  style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000">
							<tr>
								<td height="30" align="left" valign="top" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000" >
									<table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="22" align="left" width="10">&nbsp;</td>
											<td height="22" align="left" valign="top" width="340"><font color="#ff0000" size="8pt">Krankenkasse bzw. Kostenträger</font></td>
										</tr>
										<tr>
											<td height="28" align="left" width="10">&nbsp;</td>
											<td height="28" align="left" valign="top" width="340"><? echo $kv_header['insurance_company_name']; ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000" >
										<tr>
											<td width="10"  height="20">&nbsp;</td>
											<td width="250" height="20"><font color="#ff0000" size="8pt">Name, Vorname des Versicherten</font></td>
											<td width="90"  height="20">&nbsp;</td>
										</tr>

										<tr>
											<td width="10"  height="65">&nbsp;</td>
											<td width="250" height="65"><? echo nl2br($kv_header['patientname']); ?></td>
											<td width="90"  height="65" align="left" valign="top">
												<table width="90" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="5"  height="20" align="left" valign="top">&nbsp;</td>
														<td width="85" height="20" align="center" valign="top"><font color="#ff0000" size="8pt">geb. am</font></td>
													</tr>
													<tr>
														<td width="5" height="20">&nbsp;</td>
														<td width="85" height="20">  <? echo $kv_header['patbirth']; ?>	</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="350" border="0" cellspacing="0" cellpadding="0" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Kassen-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Versicherten-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Status</font></td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $kv_header['kvnumber']; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"> <? echo $kv_header['insurance_no']; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><? echo $kv_header['insurance_status']; ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="350" border="0" cellspacing="0" cellpadding="0"  style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Betriebsstätten-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Arzt-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Datum</font></td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><? echo $kv_header['betriebsstatten_nr']; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $kv_header['arzt_nr']; ?>  </td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><? echo date('d.m.Y') ?></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>

					<td width="30" height="33" align="left">&nbsp;</td>

					<td width="440" height="33" align="left" valign="top">
 
					</td>
				</tr>
			</table>

		</td>
	</tr>
	</table>
			<table cellpadding="3" width="100%" class="header_table">
					<tr>
						<td colspan="5">
							<table style="width:100%;">
								<tr>
									<td>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td class="title" align="right">
										<h2><b>Anlage 3b</b></h2>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="5" align="center">
							<h1>Qualitätsindikatoren - Abschlussdokumentation AAPV</h1>
						<font size="9pt">
							<b>
								zum Strukturvertrag über die palliativmedizinische und palliativpflegerische Versorgung nach<br/>
								§ 73a SGB V zwischen der<br/>
								Kassenärztlichen Vereinigung Nordrhein, AOK Rheinland/Hamburg, IKK classic,<br/>
								Sozialversicherung für Landwirtschaft, Forsten und Gartenbau als Landwirtschaftliche<br/>
								Krankenkasse, Knappschaft und BKK-Landesverband NORDWEST
															</b>
						</font>
						</td>
					</tr>
			</table>
			<br/>
			<table border="1" width="100%" class="anlage3data" cellpadding="10" cellspacing="0" style="font-size: 11pt">
				<tr>
					<th width="10%"> <b>Nr.</b> </th>
					<th width="40%"> <b>Sachverhalt</b> </th>
					<th width="50%"> <b>Bitte ankreuzen bzw. ausfüllen</b> </th>
				</tr>
				<tr>
					<td><b>1</b></td>
					<td><b>Beendigung der AAPV-Versorgung</b></td>
					<td>
					<table>
						<tr>				
							<td colspan="2"><?php echo $this->discharge_date; ?> Datum der Beendigung</td>
						</tr>
						
						<tr>				
							<td colspan="2">Grund der Beendigung:</td>
						</tr>
						
						<tr>
							<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('standard',$this->sapv_ending)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
							<td width="90%">Überleitung in Regelversorgung</td>
						</tr>
						<tr>
							<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('sapv',$this->sapv_ending)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
							<td width="90%">Überleitung in die SAPV-Vollversorgung</td>
						</tr>
						<tr>
							<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('death',$this->sapv_ending)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
							<td width="90%">Ausscheiden/Tod</td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>2</b></td>
					<td><b>Sterbedatum</b></td>
					<td>
						<table>
							<tr>				
								<td colspan="2"><?php echo $this->death_date; ?></td>
							</tr>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->not_known == '1'): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">nicht bekannt</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>3</b></td>
					<td><b>Betreuungsort</b></td>
					<td>
						<table>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('home',$this->discharge_location)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">zu Hause </td>
							</tr>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('assisted',$this->discharge_location)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">Betreutes wohnen </td>
							</tr>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('pflegeheim',$this->discharge_location)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">Pflege/- Seniorenheim </td>
							</tr>
							
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('kurzzeitpflege',$this->discharge_location)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">Kurzzeitpflege </td>
							</tr>
							
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('hospiz',$this->discharge_location)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">Hospiz</td>
							</tr>
							
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('palliativstation',$this->discharge_location)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">Palliativstation</td>
							</tr>
							
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('hospital',$this->discharge_location)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">Krankenhaus (nicht Palliativstation)</td>
							</tr>
							
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if (in_array('not_known',$this->discharge_location)): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
								<td width="90%">nicht bekannt</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>4</b></td>
					<td><b>Angehörige im <br/>
					Betreuungsprozess einbezogen </b></td>
					<td>
						<table>
							<tr>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->members_included =='yes'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">ja</td>
								<td width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->members_included =='no'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td width="40%">nein</td>
							</tr>
							<tr>
								<td  width="10%"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($this->members_included =='none'): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
								<td colspan="3"  width="90%">keine Angehörigen </td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<br/>
			<table>
				<tr>
					<td></td>
					<td align="center">
						<? echo str_replace("--\\--","<br/>",$this->stamp_block); ?>
					</td>
				</tr>
			</table>
			