<?
$kv_header = $this->kv_header;
$content = $this->content;
?>
<table border="0" cellpadding="0" width="860">
	<tr>
		<td colspan="5">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="350" align="left" valign="top">

						<table width="350"  cellspacing="0" cellpadding="0"  style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000">
							<tr>
								<td height="30" align="left" valign="top" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000" >
									<table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="22" align="left" width="10">&nbsp;</td>
											<td height="22" align="left" valign="top" width="340"><font color="#ff0000" size="6pt">Krankenkasse bzw. Kostenträger</font></td>
										</tr>
										<tr>
											<td height="28" align="left" width="10">&nbsp;</td>
											<td height="28" align="left" valign="top" width="340"><? echo $kv_header['insurance_company_name']; ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000" >
										<tr>
											<td width="10"  height="20">&nbsp;</td>
											<td width="250" height="20"><font color="#ff0000" size="6pt">Name, Vorname des Versicherten</font></td>
											<td width="90"  height="20">&nbsp;</td>
										</tr>

										<tr>
											<td width="10"  height="65">&nbsp;</td>
											<td width="250" height="65"><? echo nl2br($kv_header['patientname']); ?></td>
											<td width="90"  height="65" align="left" valign="top">
												<table width="90" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="5"  height="20" align="left" valign="top">&nbsp;</td>
														<td width="85" height="20" align="center" valign="top"><font color="#ff0000" size="6pt">geb. am</font></td>
													</tr>
													<tr>
														<td width="5" height="20">&nbsp;</td>
														<td width="85" height="20">  <? echo $kv_header['patbirth']; ?>	</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="350" border="0" cellspacing="0" cellpadding="0" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><font color="#ff0000" size="6pt">Kostenträgerkennung</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><font color="#ff0000" size="6pt">Versicherten-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><font color="#ff0000" size="6pt">Status</font></td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $kv_header['kvnumber']; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"> <? echo $kv_header['insurance_no']; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><? echo $kv_header['insurance_status']; ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="350" border="0" cellspacing="0" cellpadding="0"  style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #FF0000">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><font color="#ff0000" size="6pt">Betriebsstätten-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><font color="#ff0000" size="6pt">Arzt-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><font color="#ff0000" size="6pt">Datum</font></td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><? echo $kv_header['betriebsstatten_nr']; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $kv_header['arzt_nr']; ?>  </td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#FF0000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><? echo $this->topdatum; ?></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>


					<td width="80" height="33" align="left">&nbsp;</td>

					<td width="390" height="33" align="left" valign="top">&nbsp;<br />
						<table>
							<tr>
								<td align="left"><font size="9pt"><b>Aufklärung
											und Teilnahmeinformation des<br />Versicherten
									</b></font></td>
							</tr>
							<tr>
								<td align="left"></td>
							</tr>
							<tr>
								<td align="left"><font size="10pt"> zur Vereinbarung
										über die palliativmedizinische<br /> Versorgung von unheilbar
										erkrankten Versicherten im<br /> häuslichen Umfeld
								</font></td>
							</tr>
							<tr>
								<td align="center"><font size="10pt">zwischen der</font></td>
							</tr>
							<tr>
								<td align="center"><font size="10pt"><b>Kassenärztlichen
											Vereinigung Nordrhein<br /> &nbsp; <br />und<br /> &nbsp;
											<br />den Ersatzkassen
									</b></font></td>
							</tr>
						</table>

					</td>
				</tr>
			</table>

		</td>
	</tr>
	</table>
&nbsp;<br/> 
&nbsp;<br/> 
<table width="100%" cellpadding="5" border="2" style="border-color: #000000;">
<tr>
<td>
<font size="11pt"><b>Aufklärung und Teilnahmeinformation des/der Versicherten</b></font>
<br/>
<p style="line-height: 1.2;"><font size="9pt">Eine wesentliche Aufgabe der Palliativversorgung ist es, den fließenden Übergang zwischen einer kurativen und einer palliativen<br/>
Behandlung von schwerstkranken und sterbenden Versicherten zu gewährleisten, um die Leiden und Schmerzen zu lindern sowie<br/>
eine der Situation angemessene Lebensqualität zu sichern. Ziel des Vertrages ist somit eine qualifizierte allgemeine ambulante<br/>
Palliativversorgung von unheilbar kranken Menschen in der letzten Phase ihres Lebens. Die Versorgung nach diesem Vertrag soll ein<br/>
Sterben zu Hause bzw. in selbst gewählter Umgebung ermöglichen. Ausgehend von den bewährten und bestehenden<br/>
Versorgungsstrukturen und dem Engagement vieler Ärzte wird die allgemeine ambulante Palliativversorgung durch die Strukturierung<br/>
der Versorgungsabläufe gestärkt und die Versorgungsqualität erhöht.<br/>
Als behandelnde Ärztin / behandelnder Arzt nehmen Sie an der qualifizierten allgemeinen ambulanten Palliativversorgung teil und<br/>
informieren Ihren teilnehmende/n Versicherten/e gemäß folgender Punkte ausführlich über die Teilnahme, den Leistungsumfang, den<br/>
Ablauf der Versorgung sowie die entsprechenden datenschutzrechtlichen Bestimmungen.<br/>
</font>
</p>
<p>
<font size="9pt">Die Teilnahme ist freiwillig und beginnt mit dem Tag der Erklärung zur Teilnahme am Vertrag. Die Teilnahmeerklärung kann<br/>
jederzeit widerrufen werden. Darüber hinaus endet die Teilnahme mit der vollständigen Leistungserbringung nach diesem<br/>
Vertrag oder mit der Beendigung des Vertrages.
</font>
</p>

<p>
<font size="9pt">
Über folgende Punkte wurde der Versicherte / die Versicherte eingehend seitens des erhebenden Arztes belehrt:
</font>
</p>
&nbsp;<br/>
<table>
	<tr>
		<td width="5%"></td>
		<td width="3%">1)</td>
		<td width="92%"><p style="line-height: 1.2;"><font size="9pt">Ausführliche Darstellung über die Leistungsinhalte des AAPV-Vertrages</font></p></td>
	</tr>
	<tr>
		<td></td>
		<td>2)</td>
		<td><p style="line-height: 1.2;"><font size="9pt">Umfassende Information über die Freiwilligkeit zur Teilnahme am AAPV-Vertrag und über das Widerrufsrecht zur Teilnahme und zur Datenweitergabe</font></p></td>
	</tr>
	<tr>
		<td></td>
		<td>3)</td>
		<td><p style="line-height: 1.5;"><font size="9pt">Teilnahme am AAPV-Vertrag erfolgt erst nach der Aufklärung und Zustimmungserklärung</font></p></td>
	</tr>
	<tr>
		<td></td>
		<td>4)</td>
		<td><p style="line-height: 1.2;"><font size="9pt">Begründungsfreies Widerrufsrecht bzgl. der Teilnahme am AAPV-Vertrag innerhalb von zwei Wochen gegenüber dem <br/>behandelnden Arzt
		
		</font></p></td>
	</tr>
	<tr>
		<td></td>
		<td>5)</td>
		<td><p style="line-height: 1.4;"><font size="9pt">Darlegung des Zwecks und der Ziele der Datenerhebung und Datenweitergabe an den an der Versorgung beteiligten QPA,
		Information zu Befugnis und Verpflichtung des betreuenden Arztes hinsichtlich der Weitergabe und Speicherung der Daten
		des/der Versicherten an die KV Nordrhein zur Leistungsabrechnung (§ 295 SGB V) sowie ausdrückliches Einverständnis
		des/der Versicherten zur Datenverarbeitung bei Teilnahme an dem Vertrag</font></p></td>
	</tr>
	<tr>
		<td></td>
		<td>6)</td>
		<td><p style="line-height: 1.5;"><font size="9pt">Darlegung, dass die behandelnden Ärzte der ärztlichen Schweigepflicht unterliegen</font></p></td>
	</tr>
	<tr>
		<td></td>
		<td>7)</td>
		<td><p style="line-height: 1.2;"><font size="9pt">Löschung der im Rahmen dieses Vertrages erhobenen und gespeicherten Daten beim Ausscheiden aus dem Vertrag,
		soweit sie für die Erfüllung der gesetzlichen Anforderungen nicht mehr benötigt werden, spätestens jedoch nach 10 Jahren
		nach Teilnahmeende.</font></p></td>
	</tr>
</table>
<p>
<font size="9pt">
Die Teilnahmeerklärung des/der Versicherten ergeht gegenüber dem/r behandelnden Arzt/Ärztin und verbleibt in der Praxis.
</font>
</p>
<p>
<font size="9pt">Grundsätzlich sollte die Einwilligungserklärung durch die/den teilnehmende/n Versicherte/n oder seines/Ihres Vertreters schriftlich
erfolgen; die entsprechenden Dokumentationspflichten sind dem behandelnden Arzt bekannt. In konkreten Ausnahmefällen reicht
eine mündliche Einwilligungserklärung. Der Arzt hat die Gründe für die Ausnahme bei seiner Unterschrift zu benennen.
</font>
</p>
&nbsp;<br/>
&nbsp;<br/>
<table width="90%" cellpadding="10">
<tr>
	<td style="border-bottom: 1px solid #000000;">&nbsp;</td>
	<td style="border-bottom: 1px solid #000000;">&nbsp;</td>
</tr>
<tr>
	<td width="65%">Ort, Datum</td>
	<td width="35%">Unterschrift Versicherte/r</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
&nbsp;
<br/>
<font size="11pt"><b>Vom Arzt mit Unterschrift zu bestätigen:</b></font>

<p>
<font size="8pt">Ich habe als behandelnder Arzt den/die Versicherten/e umgehend über o.g. Punkte aufgeklärt. Der/die Versicherte bzw. der Betreuer/die Betreuerin
hat mündlich die Zustimmung zur Teilnahme und Weitergabe der Daten erteilt..</font>
</p>



&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>
&nbsp;<br/>
<table width="90%" cellpadding="10">
<tr>
	<td style="border-bottom: 1px solid #000000;">&nbsp;</td>
	<td>&nbsp;</td>
	<td style="border-bottom: 1px solid #000000;">&nbsp;</td>
</tr>
<tr>
	<td width="30%">Ort, Datum</td>
	<td width="36%">&nbsp;</td>
	<td width="34%">Unterschrift des Arztes
</td>
</tr>
</table>
</td>
</tr>
</table>
<br/>
<table width="90%" cellpadding="10" style="margin: auto;">
<tr>
	<td  width="10%">&nbsp;</td>
	<td width="60%" style="border-top: 1px solid #a1a1a1;"><font size="8pt" color="#a1a1a1">Anlage 7 zur Vereinbarung über die palliativmedizinische Versorgung<br/>
	von unheilbar erkrankten Patienten im häuslichen Umfeld<br/>
	KV Nordrhein – Verband der Ersatzkassen e.V. (vdek)<br/></font>
	</td>
	<td  width="15%" style="border-top: 1px solid #a1a1a1;"><font size="8pt" color="#a1a1a1">ab 01.07.2015</font>
	</td>
	<td  width="15%" style="border-top: 1px solid #a1a1a1;"><font size="8pt" color="#a1a1a1">Seite 1 von 1</font>
	</td>
</tr>

</table>


