 <table width="930" border="0" align="center" cellpadding="0" cellspacing="0">
	
	<tr>

		 <td width="395" align="left" height="25"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		 		<tr>
				<td width="395"  style="line-height: 3px;">&nbsp;</td>
				</tr> 
				 <tr>
					<td width="395" align="left"><table width="395"  border="0" align="left" cellspacing="0" cellpadding="0">
							<tr>
								<td width="32" align="left" height="30"><table width="100%" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
										<tr>
											 <td width="100%" align="center" valign="middle" height="30"><font size="5pt" >Gebühr frei</font> <br/>
											 	<font size="10pt" ><b><? if($this->charge == "1"): ?> X <? endif; ?></b></font>
											 </td>
										</tr>
									</table>  
								</td>
								<td  width="363" align="left" height="44" border="1">&nbsp;<table  width="100%" cellspacing="0" cellpadding="0" border="0">
													<tr>
														<td width="2"  align="left" height="22"> </td>
														<td width="361"  align="left" height="22"><font size="7pt" line-height="6">Krankenkasse bzw. Kostenträger</font></td>
													</tr>
													<tr>
														<td width="2"  align="left" height="22"> </td>
														<td width="361"  align="left" height="22"><font size="8pt"><? echo $this->krankenkasse ?></font></td>
													</tr>
										</table>
								</td>
						 	</tr>
						 	<tr>
						 	<td width="32" align="left"  height="30"><table width="100%" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
											<tr>
												<td width="100%" align="center" height="30"><font size="5pt">Gebühr<br />pflicht.</font><br/>
												<font size="10pt" ><b><? if($this->charge == "2"): ?> X <? endif; ?></b></font>
												</td> 
											</tr>
										</table> 
							</td>
							<td width="363" align="left" border="1" ><table width="100%" cellspacing="0" cellpadding="0" border="0">
													
													<tr>
														<td width="2" height="30"> </td>
														<td width="361" height="30"><font size="7pt">Name, Vorname des Versicherten</font></td>
														
													</tr>
													<tr>
														<td width="2" height="60"> </td>
														<td width="236" height="60"><font size="8pt"><? echo nl2br($this->patient_name); ?></font></td>
														<td width="125" height="60" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<td width="10" height="15" align="left" valign="top"></td>
																	<td width="115" height="15" align="center" ><font size="7pt">geb.am</font></td>
																	
																</tr>
																<tr>
																	<td width="10" height="20" align="left" valign="top"></td>
																	<td width="115" height="20" align="center" ></td>
																	
																</tr>
																<tr>
																	<td width="10" height="25"> </td>
																	<td width="115" height="25" colspan="2" align="center"><font size="8pt"><? echo $this->geb ?></font></td>
																</tr>
															</table></td>
										
													</tr>
													<tr>
														<td width="363" border="1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="2" height="20" align="left" valign="top"></td>
														<td width="93" height="20" align="left" valign="top"><font size="7pt">Kassen-Nr.</font></td>
														<td width="1" height="20" align="left" valign="top"></td>
														<td width="7" height="20" align="left" valign="top"></td>
														<td width="150" height="20" align="left" valign="top"><font size="7pt">Versicherten-Nr.</font></td>
														<td width="1" height="20" align="left" valign="top"></td>
														<td width="4" height="20" align="left" valign="top"></td>
														<td width="105" height="20" align="left" valign="top"><font size="7pt">Status</font></td>
													</tr>
													<tr>
														<td width="2" height="20" align="left" valign="top"></td>
														<td width="93" height="20" align="left" valign="top"><font size="8pt"><? echo $this->kassen_nr ?></font></td>
														<td width="1" height="20" align="left" valign="top" bgcolor="#000000"></td>
														<td width="7" height="20" align="left" valign="top"></td>
														<td width="150" height="20" align="left" valign="top"><font size="8pt"><? echo $this->versicherten_nr ?></font></td>
														<td width="1" height="20" align="left" valign="top"	bgcolor="#000000"></td>
														<td width="4" height="20" align="left" valign="top"></td>
														<td width="105" height="20" align="left" valign="top"><font size="8pt"><? echo $this->status ?>&nbsp;</font></td>
													</tr>
												</table></td>
													</tr>
													<tr>
														<td width="363" ><table width="100%" border="0" 	cellspacing="0" cellpadding="0">
													
													<tr>
														<td width="2" height="20" align="left" valign="top"></td>
														<td width="123" height="20" align="left" valign="top"><font size="7pt">Betriebsstätten-Nr.</font></td>
														<td width="1" height="20" align="left" valign="top"></td>
														<td width="5" height="20" align="left" valign="top"></td>
														<td width="120" height="20" align="left" valign="top"><font size="7pt">Arzt-Nr.</font></td>
														<td width="1" height="20" align="left" valign="top"></td>
														<td width="5" height="20" align="left" valign="top"></td>
														<td width="106" height="20" align="left" valign="top"><font size="7pt">Datum</font></td>
													</tr>
													<tr>
														<td width="2" height="18" align="left" valign="top"></td>
														<td width="123" height="18" align="left" valign="top"><font size="8pt"><? echo $this->betriebsstatten_nr ?></font></td>
														<td width="1" height="18" align="left" valign="top"	bgcolor="#000000"></td>
														<td width="5" height="18" align="left" valign="top"></td>
														<td width="120" height="18" align="left" valign="top"><font size="8pt"><? echo $this->arzt_nr ?></font></td>
														<td width="1" height="18" align="left" valign="top"	bgcolor="#000000"></td>
														<td width="5" height="18" align="left" valign="top"></td>
														<td width="106" height="18" align="left" valign="top"><font size="8pt"><? echo $this->topdatum ?></font></td>
													</tr>
												</table></td>
													</tr>
												</table></td>
						 	</tr>
						</table>
					</td>
				</tr>
			</table></td> 
			<td width="5" align="left">&nbsp;</td>
			<td width="530" align="left"><table width="100%"  cellpadding="0" cellspacing="0" border="0" >
				<tr><td width="530" height="3">&nbsp;</td></tr>
				 <tr>
					<td width="530"><table>
						<tr>
							<td height="20" width="5" align="left">&nbsp;</td>
							<td height="20" width="500"><font size="14pt" line-height="18"><strong>Verordnung einer Krankenbeförderung </strong></font></td>
							<td height="20" width="26" align="right"><font size="14pt" line-height="16"><strong>4</strong></font></td>
						</tr></table>
					</td>
				</tr>
				
				<tr> <td width="530"><table width="100%">
					
					<tr>
				 		<td width="5"  height="20" align="left"></td>
						<td width="526" height="20" valign="bottom"><font size="7pt"><strong>Mitteilung von Krankheiten und drittverursachten Gesundheitsschäden gemäß § 294a SGB V</strong></font></td>
					</tr>
					</table></td>
				</tr>
				 <tr>
					<td width="5" align="left">&nbsp;</td>
					<td width="526" ><table width="100%" border="0" cellpadding="0" cellspacing="0" >
					  <tr>
					  		<td width="24" align="center" height="13"><img src="<?php echo PUBLIC_PATH;?>/images/<?	if($this->mittellung_von_krankheiten == 1){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
					  		<td width="5" align="left" height="13"> </td>
					  		<td width="62"  height="13"><font size="7pt">Unfall,<br />Unfallfolgen</font></td>
					  	   	<td width="24" align="center" valign="middle" height="13" ><img src="<?php echo PUBLIC_PATH;?>/images/<?	if($this->mittellung_von_krankheiten == 2){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
							<td width="5" align="left" height="13"> </td>
							<td width="90" height="13" valign="middle"><font size="7pt">Arbeitsunfall,<br />Berufskrankheit</font></td>
							<td width="24" align="center" valign="middle" height="13" ><img src="<?php echo PUBLIC_PATH;?>/images/<?	if($this->mittellung_von_krankheiten == 3){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
							<td width="5" align="left" height="12"> </td>
							<td width="97" height="13" valign="middle"><font size="7pt">Versorgungsleiden<br /> (BVG u.a.)</font></td>
							<td width="24" align="center" valign="middle" height="13"><img src="<?php echo PUBLIC_PATH;?>/images/<?	if($this->mittellung_von_krankheiten == 4){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
							<td width="5" align="left" height="13"></td>
							<td width="52" height="12" valign="middle" ><font size="7pt">sonstiger<br /> Schaden</font></td>
							<td width="5" align="left" height="13"></td>
							<td width="108" colspan="8" valign="middle" height="13"><font size="7pt"><? echo $this->mittellung_sonstiger_schaden_txt ;?></font></td>
					  </tr>
						
					</table> </td>
				</tr>
				<tr>
					<td height="20" width="5" align="left">&nbsp;</td>
				</tr>
				<tr>
					<td height="15" width="5" align="left">&nbsp;</td>
					<td height="15" valign="middle"><font size="9pt"><strong>1. Hauptleistung</strong></font></td>
				</tr>
			 	<tr>
					<td width="5" align="left">&nbsp;</td>
					<td width="526">
						<table width="100%" border="0" >
							<tr>
								<td width="250"><table width="100%" border="0" cellpadding="0" cellspacing="0" >
									<tr>
										<td height="20" colspan="3" valign="middle"><font size="8pt"><strong>A) im Krankenhaus</strong></font></td>
									</tr>
									<tr>
										<td height="36" width="24" valign="middle" align="center"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->hauptleistung_krankenhaus == 1) { echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
										<td height="36" width="5" align="left" ></td>
										<td height="36" width="222" colspan="2" valign="middle"><font size="7pt">Krankenhausbehandlung<br /> voll- oder teilstationär</font></td>
									</tr>
									
									<tr>
										<td height="32" width="24" valign="middle" align="center"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->hauptleistung_krankenhaus == 2) { echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
										<td height="32" width="5" align="left" ></td>
										<td height="32" width="107"  valign="middle" ><font size="7pt">Krankenhaus-<br />behandlung vor-oder nachstationär</font></td>
										<td height="32" width="115"  valign="middle"><font size="7pt">Behandlungsdaten<br /><? echo $this->krankenhaus_behandlungsdaten_txt ;?></font></td>
									</tr>
									
								</table></td>
								<td width="276"><table width="100%" cellpadding="0" cellspacing="0" border="0" >
									<tr>
										<td height="20" width="3" align="left" ></td>
										<td height="20" width="163" colspan="2" valign="middle" ><font size="8pt"><strong>B) ambulante Operation</strong></font></td>
										<td height="20" width="110" align="left" valign="bottom">Datum</td>
									</tr>
									<tr>
									    <td height="36" width="3" align="left" ></td>
										<td height="36" width="24" valign="middle" align="center"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->ambulante_op_behandlung == 1) { echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
										<td height="36" width="5" align="left" ></td>
										<td height="36" width="128" valign="middle"><font size="7pt">ambulante Operation<br />gem. § 115 b SGB V</font></td>
										<td width="90" align="left" ><font size="7pt"><? echo $this->hauptleistung_datum;?></font></td>
									</tr>
									
									<tr>
										<td height="32" width="3" align="left" ></td>
										<td height="32" width="24" valign="middle" align="center"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->ambulante_op_behandlung == 2) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
										<td height="32" width="5" align="left" ></td>
										<td height="32" width="128" valign="middle"><font size="7pt">Vor- oder Nach-<br />behandlung bei<br /> ambulanter Operation</font></td>
										<td colspan="6" height="32" width="116" valign="middle"><font size="7pt">Behandlungsdaten<br /><? echo $this->ambulante_op_behandlung_txt ;?></font></td>
									</tr>
								</table></td>
							</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
	</tr>
	<!-- <tr><td height="2" width="930">&nbsp;</td></tr> -->
	<tr>
		<td width="930">
			<table border="0" width="100%" cellpadding="5" cellspacing="0" >
				<tr>
					<td width="27" >&nbsp;</td>
					<td height="24" align="left" width="378" ><font size="8pt"><strong>C) ambulante Behandlung</strong></font><font size="7pt"> (von der Krankenkasse zu genehmigen)</font></td>
					<td height="24" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->ambulante_behandlung == 1) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					
					<td height="24" align="left" width="116"><font size="7pt"> beim<br />Vertragsarzt</font></td>
					<td height="24" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->ambulante_behandlung == 2) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					
					<td height="24" align="left" width="92"><font size="7pt">im<br />Krankenhaus</font></td>
					<td height="24" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->ambulante_behandlung == 3) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					
					<td height="24" align="left" width="56"><font size="7pt">sonstige</font></td>
					<td height="24" align="left" width="190"><font size="7pt"><? echo $this->ambulante_behandlung_txt;?></font></td>
				</tr>	
	
			</table>
		</td>
	</tr>
	<tr>
		<td width="930">
			<table  border="0" width="100%" cellpadding="0" cellspacing="0"  >
				<tr>
					<td width="32">&nbsp;</td>
					<td width="900" colspan="6"  align="left"><font size="7pt"><strong>Begründung des Ausnahmefalls gemäß § 60 Abs. 1 SGB V:</strong></font></td>
		
				</tr>
				<tr>
					<td width="32">&nbsp;</td>
					<td colspan="3" height="11" align="left" width="466"><font size="7pt"><strong>Hochfrequente Behandlung:</strong></font></td>
					<td colspan="3" height="17" align="left" width="432"><font size="7pt"><strong>Dauerhafte Mobilitätseinschränkung</strong></font></td>
				</tr>
				<tr>
					<td height="22" width="32">&nbsp;</td>
					<td height="22" width="24" align="center"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->begrundung_des_ausnahmefalls == 1) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					<td height="22" width="4"></td>
					<td height="22" width="438" align="left"><font size="7pt">gemäß Anlage 2 der Krankentransport-Richtlinien (Dialyse, onkologische Chemo-<br />oder Strahlentherapie)</font></td>
					<td height="22" width="24" align="center"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->dauerhafte_mobilitat == 1) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					<td height="22" width="4" align="left" ></td>
					<td height="22" width="404" align="left"><font size="7pt">Merkzeichen „aG“, „BI“, „H“ oder Pflegestufe 2 bzw. 3 vorgeleg</font></td>
				</tr>
				<tr>
					<td height="24" align="left" width="32"></td>
					<td height="24" width="24" align="center"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->begrundung_des_ausnahmefalls == 2)  {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					<td height="24" width="4"></td>
					<td height="24" width="438" align="left"><font size="7pt">vergleichbarer Ausnahmefall wegen</font></td>
					<td height="24" width="24" align="center"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->dauerhafte_mobilitat == 2) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					<td height="24" width="4" align="left" ></td>
					<td height="24" width="404" align="left"><font size="7pt">vergleichbarer Grund wegen (ggf. Angabe ICD-10)</font></td>
				</tr>
				<tr>
					<td height="24" width="32">&nbsp;</td>
					<td height="24" width="28" colspan="2"></td>
					<td height="24" width="438" align="left"><font size="7pt"><? echo $this->begrundung_des_ausnahmefalls_txt;?></font></td>
					<td height="24" width="28" colspan="2"></td>
					<td height="24" width="404" align="left"><font size="7pt"><? echo $this->dauerhafte_mobilitat_txt;?></font></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="930">
			<table border="0" width="100%" cellpadding="5" cellspacing="0" >
				<tr>
					<td height="26" width="55" valign="middle" align="left">&nbsp;</td>
					<td height="26" width="223" align="left"><font size="7pt">voraussichtliche Behandlungsfrequenz:</font></td>
					<td height="26" width="24" align="center"><font size="7pt"><? echo $this->voraussichtliche_behandlungsfrequenz_woche ;?></font></td>
					<td height="26" width="105" align="left"><font size="7pt">X pro Woche über</font></td>
					<td height="26" width="34" align="center"><font size="7pt"><? echo $this->voraussichtliche_behandlungsfrequenz_monate ;?></font></td>
					<td height="26" width="72" align="left"><font size="7pt">Monate</font></td>
					<td height="26" width="193" align="right"><font size="7pt">voraussichtliche Behandlungsdauer:</font></td>
					<td height="26" width="225" align="left"><font size="7pt"><? echo $this->voraussichtliche_behandlungsdauer_txt ;?></font></td>
				</tr>
			</table>
		</td>
	</tr>
	 <tr>
		<td width="492">
			<table border="0" width="100%" cellpadding="5" cellspacing="0" style="font-size: 12px;">
				<tr>
					<td height="22" width="52"></td>
					<td height="22" width="100" align="left"><font size="7pt">ggf. Zeitraum der<br />Serienverordnung</font></td>
					<td height="22" width="340" align="left"><font size="7pt"><? echo $this->zeitraum_serienverordnung_txt; ?></font></td>
				</tr>
			</table>
		</td>
	</tr>
	</table>
	<table  width="930" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr><td width="700"><table width="100%"><tr>
		<td align="left" width="700">
			<table  width="100%" border="0" cellpadding="2" cellspacing="0" >
				<tr>
					<td height="24" align="left" width="30" ></td>
					<td height="24" align="left" width="150" ><font size="9pt"><strong>2.Beförderungsmittel</strong></font></td>
					<td height="24" align="center" width="24" ><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->beforderungsmittel == 1) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					<td height="24" align="left" width="57" ><font size="7pt">Taxi, Miet-<br />wagen</font></td>
					<td height="24" align="center" width="24" ><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->beforderungsmittel == 2) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					<td height="24" align="left" width="91" ><font size="7pt">Kranken-<br />transportwagen</font></td>
					<td height="24" align="center" width="24" ><img src="<?php echo PUBLIC_PATH;?>/images/<?  if ($this->beforderungsmittel == 3) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					<td height="24" align="left" width="58" ><font size="7pt">Rettungs-<br />wagen</font></td>
					<td height="24" align="center" width="24" ><img src="<?php echo PUBLIC_PATH;?>/images/<?  if ($this->beforderungsmittel == 4) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					<td height="24" align="left" width="57" ><font size="7pt">Notarzt-<br />wagen</font></td>
					<td height="24" align="center" width="24" ><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->beforderungsmittel == 5) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
					<td height="24" align="left" width="45" ><font size="7pt">andere</font></td>
					<td height="24" align="left" width="97" ><font size="7pt"><? echo $this->beforderungsmittel_txt; ?></font></td>
					
				</tr>
			</table>
		</td>	
	</tr>
	<tr>
		<td align="left" width="700">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td align="left" width="30">&nbsp;</td>
					<td width="670">
						<table border="0" cellpadding="3" cellspacing="0" width="100%">
							<tr>
								<td height="18" colspan="12" width="670"><strong>Begründung des Beförderungsmittels</strong> (ggf. Angabe ICD-10)</td></tr>
							<tr>
								<td height="22" align="left" colspan="12" width="670"><? echo $this->begrundung_beforderungsmittels_txt; ?></td>
							</tr>
						 	<tr>
								<td height="22" align="left" width="145"><font size="7pt"><strong>Medizinisch-technische<br />Ausstattung erforderlich:</strong></font></td>
								<td height="22" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->medizinisch_technische == 1) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
								<td height="22" align="left" width="32"><font size="7pt">nein</font></td>
								<td height="22" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->medizinisch_technische == 2) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
								<td height="22" align="left" width="47"><font size="7pt">Trage-<br />stuhl</font></td>
								<td height="22" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->medizinisch_technische == 3) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
								<td height="22" align="left" width="92"><font size="7pt">Nicht umsetzbar-<br /> aus Rollstuhl</font></td>
								<td height="22" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->medizinisch_technische == 4) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
								<td height="22" align="left" width="44"><font size="7pt">liegend</font></td>
								<td height="22" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->medizinisch_technische == 5) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /></td>
								<td height="22" align="left" width="46"><font size="7pt">andere</font></td>
								<td height="22" align="left" width="144"><font size="7pt"><? echo $this->medizinisch_technische_txt; ?></font></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" width="30">&nbsp;</td>
					<td align="left" width="670">
						<table border="0" cellpadding="3" cellspacing="0" width="100%">
						<tr>
		 					<td height="20" align="left" width="28"><font size="7pt"><strong>Von</strong></font></td>
							<td height="20" colspan="6" align="left" width="334"><font size="7pt"><strong>Nach</strong></font></td>
		 					<td height="20" colspan="5" align="left" width="308"><font size="7pt"><strong>Medizinisch-fachliche Betreuung notwendig:</strong></font></td>		  
						</tr>
						<tr>
		 	
							<td height="20" align="center" width="26"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->wohnung == 1) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>"/></td>
							<td height="20" align="center" width="28"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->wohnung == 2) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>"/></td>
							<td height="20" align="left" width="92"><font size="7pt">Wohnung</font></td>
							<td height="20" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if(in_array(1,$this->hinfahrt)) { echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
							<td height="20" align="left" width="80"><font size="7pt">Hinfahrt</font></td>
							<td height="20" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if (in_array(4,$this->hinfahrt)) { echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
							<td height="20" align="left" width="90"><font size="7pt">Rückfahrt</font></td>
							<td height="20" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->medizinisch_fachliche == 1) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>"/></td>
							<td height="20" align="left" width="34"><font size="7pt">nein</font></td>
							<td height="20" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->medizinisch_fachliche == 2) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>"/></td>
							<td height="20" align="left" width="58"><font size="7pt">ja,<br />folgende:</font></td>
							<td height="20" align="left" width="166"><font size="7pt"><? echo $this->medizinisch_fachliche_folgende_txt; ?></font></td>
		 	
						</tr>
						<tr>
			 				<td height="22" align="center" width="26"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->arztpraxis == 1) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>"/></td>
							<td height="22" align="center" width="28"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->arztpraxis == 2) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>"/></td>
							<td height="22" align="left" width="92"><font size="7pt">Arztpraxis</font></td>
							<td height="22" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if (in_array(2,$this->hinfahrt)) { echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
							<td height="22" colspan="2" align="left" width="105"><font size="7pt">Wartezeit (Dauer):</font></td>
							<td height="22"  align="left" width="90"><font size="7pt"><? echo $this->wartezeit_txt; ?></font></td>
						</tr>
						<tr>
							<td height="20" align="center" width="26"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->krankenhaus == 1) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>"/></td>
							<td height="20" align="center" width="28"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->krankenhaus == 2) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>"/></td>
							<td height="20" align="left" width="92"><font size="7pt">Krankenhaus</font></td>
							<td height="20" align="center" width="24"><img src="<?php echo PUBLIC_PATH;?>/images/<? if(in_array(3,$this->hinfahrt)) { echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
							<td height="20" colspan="2" align="left" width="105"><font size="7pt">Gemeinschaftsfahrt<br />(Anzahl Mitfahrer):</font></td>
							<td height="20" align="left" width="90"><font size="7pt"><? echo $this->gemeinschaftsfahrt_txt; ?></font></td>
						</tr>
						 <tr>
						    <td height="20" align="center" width="26"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->andere_beford == 1) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>"/></td> 
						 	<td height="20" align="center" width="28"><img src="<?php echo PUBLIC_PATH;?>/images/<? if ($this->andere_beford == 2) {echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>"/></td>
							 <td height="20" align="left" width="46"><font size="7pt">andere</font></td>
							<td height="20" align="left" width="102"><font size="7pt">Beförderungswege</font></td>
							<td height="20" colspan="8" align="left" width="466"><font size="7pt"><? echo $this->beforderungswege_txt; ?></font></td> 
						</tr> 
					</table>
					</td>
				</tr>
			</table></td>
		</tr> 
	</table>
	</td>
	<td width="10">&nbsp;</td>
	<td  width="220" align="left" valign="top">
		<table width="100%" border="0" bordercolor="#000000" cellspacing="0" cellpadding="0">
			<tr>
				<td width="220" height="50"></td>
			</tr>
			<tr>
				<td height="165" border="1">
					<table width="100%" border="0" cellspacing="0" cellpadding="5">
						<tr>
							<td height="148" align="center">
								<?php echo $this->stamp_block; ?>
							</td>
						</tr>
						<tr>
							<td height="12" align="center"><font size="6pt" >Unterschrift und Stempel des Vertragsarztes</font></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="100%" align="right"><font size="6pt">Muster 4 (7.2008)</font></td>
			</tr>
		</table>
	</td> 
	</tr>
</table>

