<!-- Maria:: Migration ISPC to CISPC 08.08.2020 -->
<!-- Maria:: Migration CISPC to ISPC 02.09.2020 -->
<!-- Elena:: ISPC-2627 ISPC: new form Krankenbeförderung 2020 19.08.2020 -->
<table width="656" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; background-color: #dbf3fa;">
    <tr>
        <td>
            <table width="656" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="656" style="font-size: 21px; font-weight: bold; line-height: 0.5;">&nbsp;</td>
                </tr>
                <tr>
                    <td width="27" align="left" valign="top">
                        <table width="27" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" valign="top" style="font-size: 8.5px;">
                                    <table border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;">
                                        <tr>
                                            <td width="27" align="center" style="color: #ce6370; border-top: 1px solid #ce6370; border-left: 1px solid #ce6370; border-right: 1px solid #ce6370;">Zuzah-lungs-pflicht</td>
                                        </tr>
                                        <tr>
                                            <td width="27" align="center" style="border-bottom: 1px solid #ce6370; border-left: 1px solid #ce6370; border-right: 1px solid #ce6370;"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->fees_type[0] == "1"): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-size: 16px; font-weight: bold; line-height: 1;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-size: 8.5px;">
                                    <table border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;">
                                        <tr>
                                            <td width="27" align="center" style="color: #ce6370; border-top: 1px solid #ce6370; border-left: 1px solid #ce6370; border-right: 1px solid #ce6370;">Zuzah-lungs-pflicht</td>
                                        </tr>
                                        <tr>
                                            <td width="27" align="center" style="border-bottom: 1px solid #ce6370; border-left: 1px solid #ce6370; border-right: 1px solid #ce6370;"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->fees_type[0] == "2"): ?>radio-selected-btn.jpg<?php else: ?>radio-btn.jpg<?php endif; ?>" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="5" align="left" valign="top">&nbsp;</td>
                    <td width="368" align="left" valign="top">
                        <table border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #ce6370;">
                            <tr>
                                <td width="368" align="left" valign="top" style="font-size: 6px; font-weight: bold; line-height: 0.5;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="border-bottom: 1px solid #ce6370;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td  width="368" align="left" valign="top" style="color: #ce6370; line-height: 1.5;">Krankenkasse bzw. Kostenträger</td>
                                        </tr>
                                        <tr>
                                            <td  width="368"align="left" valign="top" style="line-height: 1.5;"><? echo $this->phealthinsurance_name ?></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td align="left" valign="top">
                                    <table width="368" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td  width="368" align="left" valign="top" style="color: #ce6370; line-height: 2.5;">Name, Vorname des Versicherten</td>
                                        </tr>
                                        <tr>
                                            <td width="3" align="left" valign="top">&nbsp;</td>
                                            <td width="270"><? echo nl2br($this->insured_name_firstname); ?></td>
                                            <td width="98" align="left" valign="top">
                                                <table width="98" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="98" align="left" valign="top" style="line-height: 1;">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td  width="98" align="left" valign="top" style="color: #ce6370; line-height: 1.5;">geb. am</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="98" align="left" valign="top" style="line-height: 1.5;"><? echo $this->born_on ?></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td  width="368" align="left" valign="top" style="color: #ce6370; line-height: 3.5; border-bottom: 1px solid  #ce6370;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="border-bottom: 1px solid #ce6370;">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td  width="368" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="3" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">&nbsp;</td>
                                            <td width="131" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">Kostenträgerkennung</td>
                                            <td width="147" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">Versicherten-Nr.</td>
                                            <td width="87" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">Status</td>
                                        </tr>
                                        <tr>
                                            <td width="3" align="left" valign="top" style="line-height: 0.5;">&nbsp;</td>
                                            <td width="131" align="left" valign="top" style="line-height: 0.5;"><? echo $this->health_insurance_nr ?></td>
                                            <td width="147" align="left" valign="top" style="line-height: 0.5;"><? echo $this->health_insurance_patient_number ?></td>
                                            <td width="87" align="left" valign="top" style="line-height: 0.5;"><? echo $this->health_insurance_patient_status ?></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td width="368" align="left" valign="top">
                                    <table width="368" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td  width="368" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="3" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">&nbsp;</td>
                                            <td width="131" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">Arzt-Nr.</td>
                                            <td width="147" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">Betriebsstätten-Nr.</td>
                                            <td width="87" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">Datum</td>
                                        </tr>
                                        <tr>
                                            <td width="3" align="left" valign="top" style="line-height: 0.5;">&nbsp;</td>
                                            <td width="131" align="left" valign="top" style="line-height: 0.5;"><? echo $this->stamp_user_bsnr ?></td>
                                            <td width="147" align="left" valign="top" style="line-height: 0.5;"><? echo $this->stamp_user_lanr ?></td>
                                            <td width="87" align="left" valign="top" style="line-height: 0.5;"><? echo $this->formular_date ?></td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="267" align="left" valign="top">
                        <table width="267" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="14" align="left" valign="top">&nbsp;</td>
                                <td align="left" valign="top"   style="color: #ce6370;">
                                    <table width="253" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="200" align="left" valign="top" style="font-size: 18px; font-weight: bold; line-height: 1;">Verordnung einer</td>
                                            <td width="27" align="left" valign="top" style="font-size: 18px; font-weight: bold; line-height: 1;">4</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" width="250" align="left" valign="top" style="font-size: 18px; font-weight: bold; line-height: 1;">Krankenbeförderung</td>
                                        </tr>
                                    </table>
                                    <table width="253" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td colspan="2" align="left" valign="top" style="font-size: 20px; font-weight: bold; line-height: 0.75;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="27" height="27" align="left" valign="top" style="font-size: 20px; font-weight: bold; line-height: 1;"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->sick_reason[0] == "1"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                            <td width="226" align="left" valign="top">Unfall, Unfallfolge</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="left" valign="top" style="font-size: 20px; font-weight: bold; line-height: 0.75;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="27" height="27"  align="left" valign="top" style="font-size: 20px; font-weight: bold; line-height: 1;"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->sick_reason[0] == "2" || $this->sick_reason[1] == "2"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                            <td width="226" align="left" valign="top">Arbeitsunfall, Berufskrankheit</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="left" valign="top" style="font-size: 20px; font-weight: bold; line-height: 1;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="27" height="27" align="left" valign="top" style="font-size: 20px; font-weight: bold; line-height: 1;"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->sick_reason[0] == "3" || $this->sick_reason[1] == "3" || $this->sick_reason[2] == "3"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                            <td width="226" align="left" valign="top">Versorgungsleiden(z.B. BVG)</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left" valign="top" style="font-size: 20px; font-weight: bold; line-height: 0.75;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="14" align="left" valign="top">&nbsp;</td>
                                <td width="220" align="left" valign="middle"  style=" border: 1px solid #ce6370;">
                                    <table width="220" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td colspan="2" align="left" valign="top" style="font-size: 20px; font-weight: bold; line-height: 1;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="27" style="font-size: 20px; font-weight: bold; line-height: 1;"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->travel[0] == "1"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                            <td width="83">Hinfahrt</td>
                                            <td width="27" align="left" valign="top" style="font-size: 20px; font-weight: bold; line-height: 1;"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->travel[0] == "2" || $this->travel[1] == "2"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                            <td width="83">Rückfahrt</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="656">
            <table width="656" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="2" width="656" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">&nbsp;</td>
                </tr>
                <tr>
                    <td width="33" align="left" valign="top" style="color: #ce6370; line-height: 1.5;">&nbsp;</td>
                    <td width="629" align="left" valign="top" style="color: #ce6370; line-height: 1.5; font-weight: bold;">1. Grund der Beförderung</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="33" align="left" valign="top" style="color: #ce6370; line-height: 1.5;">&nbsp;</td>
                    <td width="606" style="border: 1px solid #ce6370; color: #ce6370;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="606" colspan="5" align="left" valign="top" style="line-height: 0.25">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="606" colspan="5" align="left" valign="top" style="font-weight: bold;">Genehmigungsfreie Fahrten</td>
                            </tr>
                            <tr>
                                <td width="606" colspan="5" align="left" valign="top" style="font-weight: bold;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="62" align="left" valign="top" style="font-weight: bold;">a)</td>
                                <td width="27" align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transfers_not_needing_approvals[treatmentinclinic][0] == "1"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                <td width="204" align="left" valign="top" style="font-weight: bold;">voll-/teilstationäre Krankenhausbehandlung</td>
                                <td width="27"  align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transfers_not_needing_approvals[treatmentinclinic][0] == "2" || $this->transfers_not_needing_approvals[treatmentinclinic][1] == "2"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                <td width="330" align="left" valign="top" style="font-weight: bold;">vor-/nachstationäre Behandlung</td>
                            </tr>
                            <tr>
                                <td width="606" colspan="5" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="62" align="left" valign="top" style="font-weight: bold;">b)</td>
                                <td width="27" align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transfers_not_needing_approvals[treatmentinclinic][3] == "1"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                <td colspan="3" width="561" align="left" valign="top" style="font-weight: bold;">ambulante Behandlung bei Merkzeichen "aG", "Bl", "H", Pflegegrad 3 mit dauernhafter Mobilitäts&shy;beeinträchtigung, Pflegegrad 4 oder 5 nur Taxi/Mietwagen (<i><small>Farht mit KTW  ist unter f) zu verdordnen</small></i>) .</td>

                            </tr>
                            <tr>
                                <td width="606" colspan="5" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="62" align="left" valign="top" style="font-weight: bold;">c)</td>
                                <td width="27" align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transfers_not_needing_approvals[otherreason][0] == "1"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                <td width="204" align="left" valign="top" style="font-weight: bold;">anderer Grund, z.B.<br/><font style="font-weight: normal;">Fahrten zu stationären Hospizen</font></td>
                                <td width="303" align="left" valign="top">
                                    <table>
                                        <tr>
                                            <td height="18" style="border-bottom: 2px solid #ce6370; background-color: #fff;"><? echo $this->transfers_not_needing_approvals[otherreason_text]; ?></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="5" align="left" valign="top" style="font-weight: bold;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="606" colspan="5" align="left" valign="top" style="line-height: 0.5">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="33" align="left" valign="top" style="color: #ce6370; line-height: 1.5;">&nbsp;</td>
                    <td width="606" style="border: 1px solid #ce6370; color: #ce6370;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="606" colspan="5" align="left" valign="top" style="line-height: 0.25">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="606" colspan="6" align="left" valign="top" style="font-weight: bold;">Genehmigungspflichtige Fahrten zu ambulanten Behandlungen<font style="font-size: 9px;">(vor Fahrtrantritt der Krankenkasse vorzulegen)</font></td>
                            </tr>
                            <tr>
                                <td width="606" colspan="6" align="left" valign="top" style="font-weight: bold;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="62" align="left" valign="top" style="font-weight: bold;">d)</td>
                                <td width="27" align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transfers_needing_approvals[high_frequency_treatment][0] == "1"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                <td width="204" align="left" valign="top" style="font-weight: bold;">hochfrequente Behandlung<br><small>Dialyse, onkol. Chemo- oder Strahlentherapie</small></td>
                                <td width="27"  align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transfers_needing_approvals[high_frequency_treatment][0] == "2" || $this->transfers_needing_approvals[high_frequency_treatment][1] == "2"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                <td width="330" align="left" valign="top" style="font-weight: bold;">vor-/nachstationäre Behandlung</td>
                            </tr>

                            <tr>
                                <td width="606" colspan="6" align="left" valign="top" style="font-weight: bold;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="606" colspan="6" align="left" valign="top" style="font-weight: bold;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="62" align="left" valign="top" style="font-weight: bold;">e)</td>

                                <td width="27" align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transfers_needing_approvals[durable_limited_mobility][0] == "1"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                <td colspan="3" width="466" align="left" valign="top" style="font-weight: bold;">Dauerhafte Mobilitäts-beeinträchtigung, vergleichbar mit b) und Behandlungsdauer mindestens 6 Monate <font style="font-size: 9px;">(Begründung unter 4. erforderlich)</font></td>

                            </tr>
                            <tr>
                                <td width="606" colspan="6" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="62" align="left" valign="top" style="font-weight: bold;">f)</td>

                                <td width="27" align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transfers_needing_approvals[otherreason_needing_approval][0] == "1"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                <td colspan="3" width="466" align="left" valign="top" style="font-weight: bold;">Anderer Grund für Fahrt mit KTW, <font style="font-weight: normal;">z.B. fachgerechtes Lagern, Tragen, Heben erforderlich</font><br><font style="font-size: 9px;">(Begründung unter 3. und ggf. 4. erforderlich)</font></td>

                            </tr>
                            <!--<tr>
                                <td width="116" align="left" valign="top">Begründung</td>
                                <td width="480" height="18" style="border-bottom: 2px solid #ce6370; background-color: #fff;"><? echo $this->transfers_needing_approvals[reason_needed_for_transfer_text]; ?></td>
                            </tr>-->
                            <tr>
                                <td width="606" colspan="6" align="left" valign="top">&nbsp;</td>
                            </tr>

                            <tr>
                                <td width="606" colspan="6" align="left" valign="top" style="line-height: 0.5;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="656">
            <table width="656" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="2" width="656" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">&nbsp;</td>
                </tr>
                <tr>
                    <td width="33" align="left" valign="top" style="color: #ce6370; line-height: 1.5;">&nbsp;</td>
                    <td width="629" align="left" valign="top" style="color: #ce6370; line-height: 1.5; font-weight: bold;">2. Behandlungstag/Behandlungfrequenz und nächsterreichbare, geeignete Behandlungstätte</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="33" align="left" valign="top" style="color: #ce6370; line-height: 1.5;">&nbsp;</td>
                    <td width="606" style="border: 1px solid #ce6370; color: #ce6370;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="606" colspan="16" align="left" valign="top" style="line-height: 1">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="50" align="left" valign="top">von/am</td>
                                <?php
				               		if($this->treatment_info[from_text]) {
                                foreach($this->treatment_info[from_text] as $from_digit) { ?>
                                <td width="23" height="21" align="center" valign="top" style="font-size: 14px; border-left: 1px solid #ce6370; border-bottom: 1px solid #ce6370; border-right: 1px solid #ce6370; background-color: #fff;"><? echo $from_digit ?></td>
                                <?php  } }
									else {
										for($i=1; $i<=6; $i++) { ?>
                                <td width="23" height="21" align="center" valign="top" style="font-size: 14px; border-left: 1px solid #ce6370; border-bottom: 1px solid #ce6370; border-right: 1px solid #ce6370; background-color: #fff;">&nbsp;</td>
                                <?php  } } ?>
                                <td width="50" align="center" valign="top" style="line-height: 1;"> / </td>
                                <?php
				               		if($this->treatment_info[per_week_text]) { ?>
                                <td width="23" height="21" align="center" valign="top" style="font-size: 14px; border-left: 1px solid #ce6370; border-bottom: 1px solid #ce6370; border-right: 1px solid #ce6370; background-color: #fff;"><? echo $this->treatment_info[per_week_text] ?></td>
                                <?php  } else { ?>
                                <td width="23" height="21" align="center" valign="top" style="font-size: 14px; border-left: 1px solid #ce6370; border-bottom: 1px solid #ce6370; border-right: 1px solid #ce6370; background-color: #fff;">&nbsp;</td>
                                <?php  } ?>
                                <td width="195" align="center" valign="top" style="line-height: 1;">x pro Woche, bis voraussichtlich</td>
                                <?php
				               		if($this->treatment_info[till_text]) {
                                foreach($this->treatment_info[till_text] as $from_digit) { ?>
                                <td width="23" height="21" align="center" valign="top" style="font-size: 14px; border-left: 1px solid #ce6370; border-bottom: 1px solid #ce6370; border-right: 1px solid #ce6370;background-color: #fff;"><? echo $from_digit ?></td>
                                <?php  } }
									else {
										for($i=1; $i<=6; $i++) { ?>
                                <td width="23" height="21" align="center" valign="top" style="font-size: 14px; border-left: 1px solid #ce6370; border-bottom: 1px solid #ce6370; border-right: 1px solid #ce6370; background-color: #fff;">&nbsp;</td>
                                <?php  } } ?>
                            </tr>
                            <tr>
                                <td width="606" colspan="16" align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="606" colspan="16" align="left" valign="top">Behandlungstätte <font style="font-size: 9px; font-weight: bold">(Name, Ort)</font></td>
                            </tr>
                            <tr>
                                <td width="596" colspan="16" height="18" style="border-bottom: 2px solid #ce6370; background-color: #fff;"><? echo  $this->treatment_info[treatment_location_text]; ?></td>
                            </tr>
                            <tr>
                                <td width="606" colspan="16" align="left" valign="top" style="line-height: 0.5;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="656">
            <table width="656" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="2" width="656" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">&nbsp;</td>
                </tr>
                <tr>
                    <td width="33" align="left" valign="top" style="color: #ce6370; line-height: 1.5;">&nbsp;</td>
                    <td width="629" align="left" valign="top" style="color: #ce6370; line-height: 1.5; font-weight: bold;">3. Art und Ausstatung der Beförderung</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>

        <td width="656">
            <table width="656" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="3" width="656" align="left" valign="top" style="color: #ce6370; line-height: 0.5;">&nbsp;</td>
                </tr>
                <tr>
                    <td width="23" align="left" valign="top" style="color: #ce6370; line-height: 1.5;">&nbsp;</td>
                    <td width="390" >
                        <!-- anfang 3 -->
                        <table border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #ce6370; color: #ce6370;">
                            <tr>
                                <td width="280" align="left" valign="top">
                                    <!-- anfang left -->
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="270" colspan="2" align="left" valign="top" style="font-weight: bold;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td >

                                                <table>
                                                    <tr>



                                                        <td width="27" align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transport_info[transport_type][0] == "1"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                                        <td width="220" align="left" valign="top">Taxi/Mietwagen</td>


                                                    </tr>
                                                    <tr>
                                                        <td width="270" colspan="2" align="left" valign="top" style="font-weight: bold;">&nbsp;</td>
                                                    </tr>
                                                    <tr>

                                                        <td width="27" align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transport_info[transport_type][0] == "5" || $this->transport_info[transport_type][1] == "5" || $this->transport_info[transport_type][2] == "5" || $this->transport_info[transport_type][3] == "5" || $this->transport_info[transport_type][4] == "5"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                                        <td width="220" colspan="6" align="left" valign="top">KTW da medizinisch-fachliche Betreuung und/oder <br />Einrichtung notwendig ist wegen</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="270" colspan="2" align="left" valign="top">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="270" colspan="2" height="18" style="border-bottom: 2px solid #ce6370; background-color: #fff;"><? echo  $this->transport_info[transport_type_text]; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="270" colspan="2" height="18" style="border-bottom: 2px solid #ce6370; background-color: #fff;"><? echo  $this->transport_info[transport_type_more_text]; ?></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- ende left -->
                                </td>
                                <td width="90" >

                                    <!-- anfang right -->
                                    <table width="90" >
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="27"  align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transport_info[transport_type][0] == "2" || $this->transport_info[transport_type][1] == "2"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                            <td  align="left" valign="top">Roll-<br />stuhl</td>
                                        </tr>
                                        <tr>
                                            <td width="27"  align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transport_info[transport_type][0] == "3" || $this->transport_info[transport_type][1] == "3" || $this->transport_info[transport_type][2] == "3"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                            <td  align="left" valign="top">Trage-<br />stuhl</td>
                                        </tr>
                                        <tr>
                                        <td width="27"  align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transport_info[transport_type][0] == "4" || $this->transport_info[transport_type][1] == "4" || $this->transport_info[transport_type][2] == "4" || $this->transport_info[transport_type][3] == "4"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                        <td  align="left" valign="top">liegend</td>
                                        </tr>

                                    </table>
                                    <!-- ende right-->

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="370">
                                        <tr>
                                            <td width="370" colspan="8" align="left" valign="top" style="font-weight: bold;">&nbsp;</td>
                                        </tr>

                                        <tr>

                                            <td width="27" align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transport_info[special_transport_type][0] == "1"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                            <td width="40" align="left" valign="top">RTW</td>

                                            <td width="27"  align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transport_info[special_transport_type][0] == "2" || $this->transport_info[special_transport_type][1] == "2"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                            <td width="40" align="left" valign="top">NAV<br />NEF</td>
                                            <td width="27"  align="left" valign="top"><img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->transport_info[special_transport_type][0] == "3" || $this->transport_info[special_transport_type][1] == "3" || $this->transport_info[special_transport_type][2] == "3"): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /></td>
                                            <td width="40" align="left" valign="top">andere</td>
                                            <td width="170" colspan="2" height="18" style="border-bottom: 2px solid #ce6370; background-color: #fff;"><? echo $this->transport_info[special_transport_type_text] ?></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- unten -->
                        <table width="370" >
                            <tr>
                                <td> </td>
                            </tr>


                            <tr>
                            <td colspan="8">
                            <table>
                            <tr >

                                <td width="335" align="left" valign="top" style="color: #ce6370; line-height: 1.5; font-weight: bold;">4. Begründung/Sonstiges <font style="font-size: 9px;">(z.B. Datum Aufnahme Krankenhaus, Gewicht bei Schwergewichttransport, Wartezeit, Gemeinschaftsfahrt, Ortsangabe, wenn Beförderung nicht von/zur Wohnung stattfindet).</font></td>
                            </tr>
                            </table>
                            </td>
                            </tr>

                            <tr>
                                <td width="370" colspan="8" height="18" style="border-bottom: 2px solid #ce6370; background-color: #fff;"><? echo $this->transport_info[special_transport_type_more_text] ?></td>
                            </tr>

                        </table>



                        <!-- ende unten-->


                        <!-- ende 3 -->
                    </td>

                <td width="207">
                    <table  width="207" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="207"  align="left" valign="top" style="line-height: 8.5">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="207" style="border: 1px solid #ce6370;">

                                <table>
                                    <tr>
                                        <td width="207" align="center" valign="top" style="font-size: 9px; height: 10px;">&nbsp;</td>
                                    </tr>
                                    <tr>

                                        <?php if($this->stamp_block) { ?>
                                        <td width="207" align="center" valign="top" style="height: 120px;"><? echo $this->stamp_block ?></td>
                                        <?php } else { ?>
                                        <td width="207" align="center" valign="top" style="height: 120px;">&nbsp;</td>
                                        <?php } ?>
                                    </tr>
                                    <tr>
                                        <td width="207" align="center" valign="top" style="font-size: 9px; height: 10px; color: #ce6370;">Vertragsarztstempel / /Unterschrift der Arztes</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                </tr>

            </table>

        </td>



                </tr>

    <tr>

        <td width="646" align="right" valign="top" style="color: #ce6370; line-height: 2; font-size: 9px;">Muster 4(3.2020)</td>

    </tr>
</table>
