<table width="100%" border="0">
 	<tr>
		<td colspan="2" border="0" align="center"><font color="#000" size="16pt"><?php echo $this->translate('big_network_statistics');?></font></td>
	</tr>
 	<tr>
		<td colspan="2" border="0" align="center"><font color="#000" size="16pt"></font></td>
	</tr>
</table>
<table width="100%" border="0">
 	<tr>
		<td colspan="2" border="0" bgcolor="#6E757F"><font color="#ffffff" size="11pt"> <?php echo $this->translate('reportperiods'); ?></font></td>
	</tr>
		
	<?php foreach ($this->reportPeriod['start'] as $k_period => $value):?>
		<tr>
			<td><b><?php echo $this->translate('rfrom'); ?>: </b> <?php echo date('d.m.Y', strtotime($value)); ?></td>
			<td><b><?php echo $this->translate('rtill'); ?>: </b> <?php echo date('d.m.Y', strtotime($this->reportPeriod['end'][$k_period])); ?></td>
		</tr>
	<?php endforeach;?>
</table>
<!-- ################################# 1. Erst-Aufnahmen  ###################################  -->

	<table cellpadding="2" cellspacing="0" border="1" width="100%">
	<tr>
		<td colspan="8" bgcolor="#6E757F"><font color="#ffffff" size="11pt">1. Erst-Aufnahmen</font></td>
	</tr>
	<tr>
		<td colspan="8" bgcolor="#FFF"><font color="000"><?php echo $this->report_no1_description; ?></font></td>
	</tr>
		<tr>
			<th bgcolor="#EFEFEF">Nr</th>
			<th bgcolor="#EFEFEF">Pat. Nr.</th>
			<th bgcolor="#EFEFEF">Nachname</th>
			<th bgcolor="#EFEFEF">Vorname</th>
			<th bgcolor="#EFEFEF">Geburtsdatum</th>
			<th bgcolor="#EFEFEF">Aufnahme</th>
			<th bgcolor="#EFEFEF">Entlassung</th>
			<th bgcolor="#EFEFEF">Privatpatient</th>
		</tr>

		<?php if(!empty($this->admitedpatients)):?>

			<?php $i=1; foreach ($this->admitedpatients  as $admitted_patient) :?>

				<tr>
					<td><?php echo $i;?></td>
					<td><?php echo $admitted_patient['epid']; ?></td>
					<td><?php echo $admitted_patient['lastname']; ?></td>
					<td><?php echo $admitted_patient['firstname']; ?></td>
					<td><?php echo $admitted_patient['birthd']; ?></td>
					<td><?php echo $admitted_patient['admissiondate'][0]; ?></td>
					<td><?php echo $admitted_patient['dischargedate'][0]; ?></td>
					<td><?php echo $admitted_patient['private_patient']; ?></td>
			</tr>

			<?php $i++; endforeach;?>

		<?php else:?>

		<tr>
			<td colspan="8"><?php echo $this->translate('no_results_found'); ?></td>
		</tr>

		<?php endif;?>

	</table>
	<table width="100%">
		<tr>
			<td>
				&nbsp;
			</td>
		</tr>
	</table>
	 <br pagebreak="true"/>
<!-- ################################# 2. Entlassungen  ###################################  -->

	<table class="report_datatable" cellpadding="2" cellspacing="0" border="1"	width="100%">
		<tr>
			<td colspan="5" bgcolor="#6E757F"><font color="#ffffff" size="11pt">2. Entlassungen</font></td>
		</tr>
		<tr>
			<td colspan="5" bgcolor="#FFF"><font color="000"><?php echo $this->report_no2_description; ?></font></td>
		</tr>
		<tr>
			<th bgcolor="#EFEFEF">Nr</th>
			<th bgcolor="#EFEFEF">Entlassungsart</th>
			<th bgcolor="#EFEFEF">Anzahl</th>
			<th bgcolor="#EFEFEF">Prozent</th>
			<th bgcolor="#EFEFEF">Pat. Nr.</th>
		</tr>
		<?php if(!empty($this->discharge_methode_array)):?>
			<?php $i=1; foreach ($this->discharge_methode_array  as $dis_method) :?>
				<tr>
				<td><?php echo $i;?></td>
				<td><?php echo $dis_method['discharge_methode']; ?></td>
				<td><?php echo $dis_method['count']; ?></td>
				<td><?php echo $dis_method['percentage']; ?></td>
				<td><?php echo $dis_method['epids']; ?></td>

			</tr>
			<?php $i++; endforeach;?>
		<?php else:?>
		<tr>
			<td  colspan="5"><?php echo $this->translate('no_results_found'); ?></td>
		</tr>
		<?php endif;?>
	</table>
	<?php if(!empty($this->discharge_methode_array)):?>
	<table width="100%">
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
					<img src="<?php echo dirname(APPLICATION_PATH).'/public/_graphs_pdf/'.$this->no2_pie_image_pdf ?>" border="0"/> 
			</td>
		</tr>
	</table>
	<?php endif;?>


 <br pagebreak="true"/>
<!-- ################################# 3. Sterbeorte  ###################################  -->

	<table width="100%" cellspacing="0" cellpadding="2" border="1" class="report_datatable">
		<tbody>
			<tr>
				<td colspan="5" bgcolor="#6E757F"><font color="#ffffff" size="11pt">3. Sterbeorte</font></td>
			</tr>
			<tr>
				<td colspan="5" bgcolor="#FFF"><font color="000"><?php echo $this->report_no3_description; ?></font></td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF">Nr</th>
				<th bgcolor="#EFEFEF">Entlassungsort</th>
				<th bgcolor="#EFEFEF">Anzahl</th>
				<th bgcolor="#EFEFEF">Prozent</th>
				<th bgcolor="#EFEFEF">Pat. Nr.</th>
			</tr>

			<?php if(!empty($this->dischargeLocationSortedArr)):?>
			<?php $i=1; foreach ($this->dischargeLocationSortedArr  as $dis_loc) :?>
				<tr>
				<td><?php echo $i;?></td>
				<td><?php echo $dis_loc['dischargelocation']; ?></td>
				<td><?php echo $dis_loc['count']; ?></td>
				<td><?php echo $dis_loc['percentage'];?></td>
				<td><?php echo $dis_loc['epids'];?></td>
			</tr>
			<?php $i++; endforeach;?>
		<?php else:?>
		<tr>
			<td  colspan="5"><?php echo $this->translate('no_results_found'); ?></td>
		</tr>
		<?php endif;?>


		</tbody>
	</table>
	<?php if(!empty($this->dischargeLocationSortedArr)):?>
	<table width="100%">
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				<img src="<?php echo dirname(APPLICATION_PATH).'/public/_graphs_pdf/'.$this->no3_pie_image_pdf ?>" border="0"/> 
			</td>
		</tr>
	</table>
	<?php endif;?>


 <br pagebreak="true"/>
<!-- ################################# 4. Krankenhauseinweisungen  ###################################  -->

	<table width="100%" cellspacing="0" cellpadding="2" border="1" class="report_datatable">
		<tbody>
			<tr>
				<td colspan="12" bgcolor="#6E757F"><font color="#ffffff" size="11pt">4. Krankenhauseinweisungen </font></td>
			</tr>
			<tr>
				<td colspan="12" bgcolor="#FFF"><font color="000"><?php echo $this->report_no4_description; ?></font></td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF">Nr</th>
				<th bgcolor="#EFEFEF">Pat. Nr.</th>
				<th bgcolor="#EFEFEF">Nachname</th>
				<th bgcolor="#EFEFEF">Vorname</th>
				<th bgcolor="#EFEFEF">Behandlungsdauer</th>
				<th bgcolor="#EFEFEF">Anzahl KH Einweisungen</th>
				<th bgcolor="#EFEFEF">KH Tage</th>
				<th bgcolor="#EFEFEF">Zeitraum</th>
				<th bgcolor="#EFEFEF">Grund der Aufnahme</th>
				<th bgcolor="#EFEFEF">Einweisender Arzt</th>
				<th bgcolor="#EFEFEF">Transportmittel</th>
				<th bgcolor="#EFEFEF">Sterbeort</th>
			</tr>

			 <?php if(!empty($this->hospital_stats_array)):?>
			 	<?php $rowcount=1; foreach($this->hospital_stats_array as $key=>$row) :?>
			 		<?php $rowspan = sizeof($row['locationstatsarr']);?>
			 		<?php foreach($row['locationstatsarr'] as $sec_key=>$sec_row) : ?>
						<?php if($sec_key == min(array_keys($row['locationstatsarr']))):?>
							<tr>
								<td  rowspan="<?php echo $rowspan; ?>"><?php echo $rowcount; ?></td>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $row['epid']; ?></td>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $row['lastname']; ?></td>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $row['firstname']; ?></td>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $row['treateddays']; ?></td>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $row['admissionsinhopital']; ?></td>
								<td><?php echo $sec_row['khtage']; ?></td>
								<td><?php echo $sec_row['locationstats']; ?></td>
								<td><?php echo $sec_row['reason']; ?></td>
								<td><?php echo $sec_row['hospdoc']; ?></td>
								<td><?php echo $sec_row['transport']; ?></td>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $row['dielocation']; ?></td>
							</tr>
						<?php else: ?>
							<tr>
								<td ><?php echo $sec_row['khtage']; ?></td>
								<td ><?php echo $sec_row['locationstats']; ?></td>
								<td ><?php echo $sec_row['reason']; ?></td>
								<td ><?php echo $sec_row['hospdoc']; ?></td>
								<td ><?php echo $sec_row['transport']; ?></td>
							</tr>
						<?php endif?>
				 	<?php endforeach;?>
			 	<?php $rowcount++; endforeach;?>

			 <?php else:?>
				<tr>
					<td colspan="12"><?php echo $this->translate('no_results_found'); ?></td>
				</tr>
			 <?php endif;?>
		</tbody>
	</table>
	<br/>
 <?php if(!empty($this->hospital_stats_array)):?>
	<table width="100%">
		<tr><td><img src="<?php echo dirname(APPLICATION_PATH).'/public/_graphs_pdf/'.$this->no4a_pie_image_pdf ?>" border="0" height="300px"/></td></tr>
		<tr><td><img src="<?php echo dirname(APPLICATION_PATH).'/public/_graphs_pdf/'.$this->no4b_pie_image_pdf ?>" border="0" height="300px"/></td></tr>
		<tr><td><img src="<?php echo dirname(APPLICATION_PATH).'/public/_graphs_pdf/'.$this->no4c_pie_image_pdf ?>" border="0" height="300px"/></td></tr>
	</table>
 <?php endif;?>


 <br pagebreak="true"/>
<!-- ################################# 5. Privatpatienten  ###################################  -->

	<table width="100%" cellspacing="0" cellpadding="2" border="1"	class="report_datatable">
		<tbody>
			<tr>
				<td colspan="7" bgcolor="#6E757F"><font color="#ffffff" size="11pt">5. Privatpatienten</font></td>
			</tr>
			<tr>
				<td colspan="7" bgcolor="#FFF"><font color="000"><?php echo $this->report_no5_description; ?></font></td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF">Nr</th>
				<th bgcolor="#EFEFEF">Pat. Nr.</th>
				<th bgcolor="#EFEFEF">Nachname</th>
				<th bgcolor="#EFEFEF">Vorname</th>
				<th bgcolor="#EFEFEF">Aufnahmedatum</th>
				<th bgcolor="#EFEFEF">Entlassung</th>
				<th bgcolor="#EFEFEF">Behandlungsdauer</th>
			</tr>
		 	<?php if(!empty($this->private_patients_array)):?>
		 		<?php $pv=1; foreach($this->private_patients_array as $pvpatient) :?>
		 			<tr>
		 				<td><?php echo $pv;?></td>
		 				<td><?php echo $pvpatient['epid'];?></td>
		 				<td><?php echo $pvpatient['lastname'];?></td>
		 				<td><?php echo $pvpatient['firstname'];?></td>
		 				<td><?php echo $pvpatient['admissiondate'];?></td>
		 				<td><?php echo $pvpatient['dischargedate'];?></td>
		 				<td><?php echo $pvpatient['treateddays'];?></td>
		 			</tr>

		 		<?php $pv++; endforeach;?>
		 	<tr>
		 		<td colspan = "4">Gesamt</td>
		 		<td colspan = "3"> <?php echo $this->total_pv_patients;  ?></td>
		 	</tr>

		 	<tr>
		 		<td colspan = "4">Anteil der Privatpatienten an der Gesamtpatientenzahl</td>
		 		<td colspan = "3"> <?php echo $this->percentage_pv_patients;  ?></td>
		 	</tr>


		 	<?php else: ?>
		 	<tr class="report_no_results">
		 		<td colspan="5"><?php echo $this->translate('no_results_found'); ?></td>
		 	</tr>
		 	<?php endif;?>
		</tbody>
	</table>
<?php if(!empty($this->private_patients_array)):?>
	<table width="100%">
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				<img src="<?php echo dirname(APPLICATION_PATH).'/public/_graphs_pdf/'.$this->no5_pie_image_pdf ?>" border="0"/> 
			</td>
		</tr>
	</table>
<?php endif;?>

 <br pagebreak="true"/>
<!-- ################################# 6. Hauptdiagnosen  ###################################  -->

	<table width="100%" cellspacing="0" cellpadding="2" border="1"	class="report_datatable">
		<tbody>
			<tr>
				<td colspan="6" bgcolor="#6E757F"><font color="#ffffff" size="11pt">6. Hauptdiagnosen</font></td>
			</tr>
			<tr>
				<td colspan="6" bgcolor="#FFF"><font color="000"><?php echo $this->report_no6_description; ?></font></td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF">Nr</th>
				<th bgcolor="#EFEFEF">Primär Code</th>
				<th bgcolor="#EFEFEF">Beschreibung</th>
				<th bgcolor="#EFEFEF">Anzahl</th>
				<th bgcolor="#EFEFEF">Pat. Nr.</th>
				<th bgcolor="#EFEFEF">Durchschnittlicher Behandlungszeitraum bei Patienten mit dieser ICD</th>
			</tr>
		 	<?php if(!empty($this->maindiagnosis_array)):?>
		 		<?php $mdiag=1; foreach($this->maindiagnosis_array as $main_diagno):?>
		 			<tr>
		 				<td><?php echo $mdiag;?></td>
		 				<td><?php echo $main_diagno['icdprimary'];?></td>
		 				<td><?php echo $main_diagno['description'];?></td>
		 				<td><?php echo $main_diagno['count'];?></td>
		 				<td><?php echo $main_diagno['epids'];?></td>
		 				<td><?php echo $main_diagno['treatment_avg'];?></td>
		 			</tr>
		 		<?php $mdiag ++; endforeach;?>
		 	<?php else: ?>
		 	<tr class="report_no_results">
		 		<td colspan="6"><?php echo $this->translate('no_results_found'); ?></td>
		 	</tr>
		 	<?php endif;?>
		</tbody>
	</table>

	<?php if(!empty($this->maindiagnosis_array)):?>
		<table width="100%">
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<img src="<?php echo dirname(APPLICATION_PATH).'/public/_graphs_pdf/'.$this->no6_pie_image_pdf ?>" border="0"/> 
				</td>
			</tr>
		</table>
	<?php endif;?>

 <br pagebreak="true"/>
<!-- ################################# 7. Nebendiagnosen  ###################################  -->

	<table width="100%" cellspacing="0" cellpadding="2" border="1"	class="report_datatable">
		<tbody>
			<tr>
				<td colspan="5" bgcolor="#6E757F"><font color="#ffffff" size="11pt">7. Nebendiagnosen</font></td>
			</tr>
			<tr>
				<td colspan="5" bgcolor="#FFF"><font color="000"><?php echo $this->report_no7_description; ?></font></td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF">Nr</th>
				<th bgcolor="#EFEFEF">Primär Code</th>
				<th bgcolor="#EFEFEF">Beschreibung</th>
				<th bgcolor="#EFEFEF">Anzahl</th>
				<th bgcolor="#EFEFEF">Pat. Nr.</th>
			</tr>
		 	<?php if(!empty($this->sidediagnosis_array)):?>
		 		<?php $sdiag=1; foreach($this->sidediagnosis_array as $side_diagno):?>
		 			<tr>
		 				<td><?php echo $sdiag;?></td>
		 				<td><?php echo $side_diagno['icdprimary'];?></td>
		 				<td><?php echo $side_diagno['description'];?></td>
		 				<td><?php echo $side_diagno['count'];?></td>
		 				<td><?php echo $side_diagno['epids'];?></td>
		 			</tr>
		 		<?php $sdiag ++; endforeach;?>
		 	<?php else: ?>
		 	<tr class="report_no_results">
		 		<td colspan="5"><?php echo $this->translate('no_results_found'); ?></td>
		 	</tr>
		 	<?php endif;?>
		</tbody>
	</table>
	<?php if(!empty($this->sidediagnosis_array)):?>
	<table width="100%">
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				<img src="<?php echo dirname(APPLICATION_PATH).'/public/_graphs_pdf/'.$this->no7_pie_image_pdf ?>" border="0"/> 
			</td>
		</tr>
	</table>
 	<?php endif;?>


 <br pagebreak="true"/>
<!-- ################################# 8. Pflegedienst  ###################################  -->

	<table width="100%" cellspacing="0" cellpadding="2" border="1" class="report_datatable">
		<tbody>
			<tr>
				<td colspan="8" bgcolor="#6E757F"><font color="#ffffff" size="11pt">8. Pflegedienst</font></td>
			</tr>
			<tr>
				<td colspan="8" bgcolor="#FFF"><font color="000"><?php echo $this->report_no8_description; ?></font></td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF">Nr</th>
				<th bgcolor="#EFEFEF">Pat. Nr.</th>
				<th bgcolor="#EFEFEF">Nachname</th>
				<th bgcolor="#EFEFEF">Vorname</th>
				<th bgcolor="#EFEFEF">Aufnahmedatum</th>
				<th bgcolor="#EFEFEF">Entlassungsdatum</th>
				<th bgcolor="#EFEFEF">Pflegedienst</th>
				<th bgcolor="#EFEFEF">Palliativpflegedienst</th>
			</tr>
		 	<?php if(!empty($this->patients_pfleged_array)):?>
		 		<?php $ppfl=1; foreach($this->patients_pfleged_array as $pat_pflegedienst):?>
		 			<tr>
		 				<td><?php echo $ppfl;?></td>
		 				<td><?php echo $pat_pflegedienst['epid'];?></td>
		 				<td><?php echo $pat_pflegedienst['lastname'];?></td>
		 				<td><?php echo $pat_pflegedienst['firstname'];?></td>
		 				<td><?php echo $pat_pflegedienst['admissiondate'];?></td>
		 				<td><?php echo $pat_pflegedienst['dischargedate'];?></td>
		 				<td><?php echo $pat_pflegedienst['pflegedienst'];?></td>
		 				<td><?php echo $pat_pflegedienst['pal_pflegedienst'];?></td>
		 			</tr>
		 		<?php $ppfl++; endforeach;?>
			<tr>
				<td colspan="4">Pflegedienst</td>
				<td><?php echo $this->patients_pflegedienst; ?></td>
				<td colspan="3"><?php echo $this->patients_pfle_percentage; ?></td>
			</tr>
			<tr>
				<td colspan="4">Palliativpflegedienst</td>
				<td><?php echo $this->patients_paliativepfle; ?></td>
				<td colspan="3"><?php echo $this->patients_pal_percentage; ?></td>
			</tr>
			<tr>
				<td colspan="4">Pflegedienst und Palliativpflegedienst</td>
				<td><?php echo $this->patients_pflegedienst_paliativepfle; ?></td>
				<td colspan="3"><?php echo $this->patients_pfle_and_pal_percentage; ?></td>
			</tr>
			<tr>
				<td colspan="4">kein Pflegedienst</td>
				<td><?php echo $this->patients_no_pflegedienst_no_paliativepfle; ?></td>
				<td colspan="3"><?php echo $this->patients_no_pfle_no_pal_percentage; ?></td>
			</tr>
		 	<?php else: ?>
		 	<tr class="report_no_results">
		 		<td colspan="8"><?php echo $this->translate('no_results_found'); ?></td>
		 	</tr>
		 	<?php endif;?>


		</tbody>
	</table>
 	<?php if(!empty($this->patients_pfleged_array)):?>
	<table width="100%">
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				<img src="<?php echo dirname(APPLICATION_PATH).'/public/_graphs_pdf/'.$this->no8_pie_image_pdf ?>" border="0"/> 
			</td>
		</tr>
	</table>
 	<?php endif;?>

 <br pagebreak="true"/>
<!-- ################################# 9. Hausbesuche  ###################################  -->

	<table width="100%" cellspacing="0" cellpadding="2" border="1" class="report_datatable">
		<tbody>
			<tr>
				<td colspan="9" bgcolor="#6E757F"><font color="#ffffff" size="11pt">9. Hausbesuche</font></td>
			</tr>
			<tr>
				<td colspan="9" bgcolor="#FFF"><font color="000"><?php echo $this->report_no9_description; ?></font></td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF">Nr</th>
				<th bgcolor="#EFEFEF">Pat. Nr.</th>
				<th bgcolor="#EFEFEF">Nachname</th>
				<th bgcolor="#EFEFEF">Vorname</th>
				<th bgcolor="#EFEFEF">Aufnahmedatum</th>
				<th bgcolor="#EFEFEF">Entlassungsdatum</th>
				<th bgcolor="#EFEFEF">Datum des Besuchs</th>
				<th bgcolor="#EFEFEF">Besuch durch</th>
				<th bgcolor="#EFEFEF">Dauer des Besuchs</th>
			</tr>
			<?php if(!empty($this->patients_visits_array)):?>
				<?php $rowcount=1;foreach($this->patients_visits_array as $key=>$row): ?>
					<?php $rowspan = sizeof($row['visit'])?>
					<?php foreach($row['visit'] as $sec_key=>$sec_row) : ?>
						<?php if($sec_key == min(array_keys($row['visit']))) : ?>
									<tr>
										<td rowspan="<?php echo $rowspan;?>"><?php echo $rowcount;?></td>
										<td rowspan="<?php echo $rowspan;?>"><?php echo $row['epid'];?></td>
										<td rowspan="<?php echo $rowspan;?>"><?php echo $row['lastname'];?></td>
										<td rowspan="<?php echo $rowspan;?>"><?php echo $row['firstname'];?></td>
										<td rowspan="<?php echo $rowspan;?>"><?php echo $row['admissiondate'];?></td>
										<td rowspan="<?php echo $rowspan;?>"><?php echo $row['dischargedate'];?></td>
										<td ><?php echo $sec_row['visit_date'];?></td>
										<td ><?php echo $sec_row['visit_by'];?></td>
										<td ><?php echo $sec_row['visit_duration'];?></td>
									</tr>
							<?php else: ?>
									<tr>
										<td ><?php echo $sec_row['visit_date'];?></td>
										<td ><?php echo $sec_row['visit_by'];?></td>
										<td ><?php echo $sec_row['visit_duration'];?></td>
									</tr>
						<?php endif;?>
					<?php endforeach;?>
			<?php $rowcount++; endforeach; ?>

			<tr>
				<td colspan="6"><?php echo $this->translate('average_vist_per_day'); ?></td>
				<td colspan="3"><?php echo $this->average_visit_per_day?></td>
			</tr>


			<tr>
				<td colspan="6"><?php echo $this->translate('overall_amount_of_visits'); ?></td>
				<td colspan="3"><?php echo $this->overall_visits;?></td>
			</tr>



			<tr>
				<td colspan="8"><?php echo $this->translate('overall_time_of_visits'); ?></td>
				<td><?php echo $this->overall_time;?></td>
			</tr>

		 	<?php else: ?>
		 	<tr class="report_no_results">
		 		<td colspan="9"><?php echo $this->translate('no_results_found'); ?></td>
		 	</tr>
		 	<?php endif;?>
		</tbody>
	</table>
	<table width="100%">
		<tr>
			<td>
			&nbsp;
			</td>
		</tr>
	</table>
	 <br pagebreak="true"/>
<!-- ################################# 10. Vollversorgung  ###################################  -->

	<table width="100%" cellspacing="0" cellpadding="2" border="1"	class="report_datatable">
		<tbody>
			<tr>
				<td colspan="8" bgcolor="#6E757F"><font color="#ffffff" size="11pt">10. Vollversorgung</font></td>
			</tr>
			<tr>
				<td colspan="8" bgcolor="#FFF"><font color="000"><?php echo $this->report_no110_description; ?></font></td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF">Nr</th>
				<th bgcolor="#EFEFEF">Pat. Nr.</th>
				<th bgcolor="#EFEFEF">Nachname</th>
				<th bgcolor="#EFEFEF">Vorname</th>
				<th bgcolor="#EFEFEF">Geburtsdatum</th>
				<th bgcolor="#EFEFEF">Vollversorgung Tage</th>
				<th bgcolor="#EFEFEF">Start Vollversorgung</th>
				<th bgcolor="#EFEFEF">Ende Vollversorgung</th>
			</tr>
			<?php if(!empty($this->vollversorgung_patients_array)):?>
				<?php $rowcount=1; foreach($this->vollversorgung_patients_array as $key=>$row) :?>
					<?php $rowspan = sizeof($row['sapv']); ?>
					<?php foreach($row['sapv'] as $sec_key=>$sec_row) :?>
						<?php if($sec_key == min(array_keys($row['sapv']))):?>
							<tr>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $rowcount; ?></td>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $row['epid']; ?></td>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $row['lastname']; ?></td>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $row['firstname']; ?></td>
								<td rowspan="<?php echo $rowspan; ?>"><?php echo $row['birthd']; ?></td>
								<td><?php echo $sec_row['sapv_days_nr']; ?></td>
								<td><?php echo $sec_row['sapv_startdate']; ?></td>
								<td><?php echo $sec_row['sapv_enddate']; ?></td>
							</tr>
						<?php else : ?>
							<tr>
								<td><?php echo $sec_row['sapv_days_nr']; ?></td>
								<td><?php echo $sec_row['sapv_startdate']; ?></td>
								<td><?php echo $sec_row['sapv_enddate']; ?></td>
							</tr>
						<?php endif;?>
					<?php endforeach;?>
				<?php $rowcount++; endforeach;?>
			<tr>
				<td colspan="5">Tage gesamt Vollversorgung</td>
				<td colspan="3"><?php echo $this->overall_voll_days; ?></td>
			</tr>
			<tr>
				<td colspan="5">Gesamtzahl Patienten aktiv in Berichtszeitraum</td>
				<td colspan="3"><?php echo $this->total_active_patients; ?></td>
			</tr>
			<tr>
				<td colspan="5">Anzahl der Patienten mit Vollversorgung</td>
				<td colspan="3"><?php echo $this->percentage_voll; ?></td>
			</tr>
			<tr>
				<td colspan="5">Durchschnittliche Vollversorgungszeit(nur Vollversorgungspatienten)</td>
				<td colspan="3"><?php echo $this->average_voll_days;?></td>
			</tr>
			<tr>
				<td colspan="5">Durchschnitt Vollversorgungszeit (Gesamtheit der Patienten)</td>
				<td colspan="3"><?php echo $this->average_voll_days_total_patients;?></td>
			</tr>
			<tr>
				<td colspan="5">Median Vollversorgung</td>
				<td colspan="3"><?php echo $this->median_voll_days;?></td>
			</tr>

			<?php else: ?>
			<tr class="report_no_results">
				<td colspan="8"><?php echo $this->translate('no_results_found'); ?></td>
			</tr>
			<?php endif;?>
		</tbody>
	</table>
 	<?php if(!empty($this->vollversorgung_patients_array)):?>
	<table width="100%">
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				<img src="<?php echo dirname(APPLICATION_PATH).'/public/_graphs_pdf/'.$this->no10_pie_image_pdf ?>" border="0"/> 
			</td>
		</tr>
	</table>
 	<?php endif;?>
