<table border="0" cellpadding="0" >
	<tr>
		<td height="60">
			<font size="14pt"><b>Einverständnis- /Teilnahmeerklärung (Versicherter)</b></font>
		</td>
	</tr>
	<tr>
		<td height="40">
			<font size="12pt"><b>Meine Personalien:</b></font>
		</td>
	</tr>
</table>

<table border="1" cellpadding="0">
	<tr>
		<td width="380" rowspan="5">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="380" colspan="2" height="15">&nbsp;</td>
				</tr>
				<tr>
					<td width="15">&nbsp;</td>
					<td width="350" align="left" valign="top">

						<table width="350"  cellspacing="0" cellpadding="0"  border="1">
							<tr>
								<td height="30" align="left" valign="top" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #000000" >
									<table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="22" align="left" width="10">&nbsp;</td>
											<td height="22" align="left" valign="top" width="340"><font color="#ff0000" size="8pt">Krankenkasse bzw. Kostenträger</font></td>
										</tr>
										<tr>
											<td height="28" align="left" width="10">&nbsp;</td>
											<td height="28" align="left" valign="top" width="340"><? echo $this->insurance_company_name; ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td  style="border-width: 0.2mm;  border-color: #000000">
									<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #000000" >
										<tr>
											<td width="10"  height="20">&nbsp;</td>
											<td width="250" height="20"><font color="#ff0000" size="8pt">Name, Vorname des Versicherten</font></td>
											<td width="90"  height="20">&nbsp;</td>
										</tr>

										<tr>
											<td width="10"  height="65">&nbsp;</td>
											<td width="250" height="65"><? echo nl2br($this->patientname); ?></td>
											<td width="90"  height="65" align="left" valign="top">
												<table width="90" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="5"  height="20" align="left" valign="top">&nbsp;</td>
														<td width="85" height="20" align="center" valign="top"><font color="#ff0000" size="8pt">geb. am</font></td>
													</tr>
													<tr>
														<td width="5" height="20">&nbsp;</td>
														<td width="85" height="20">  <? echo $this->patbirth; ?>	</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td  >
									<table width="350" border="0" cellspacing="0" cellpadding="0" style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #000000">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Kassen-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Versicherten-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Status</font></td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $this->kvnumber; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"> <? echo $this->insurance_no; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><? echo $this->insurance_status; ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td  style="border-width: 0.2mm;  border-color: #000000">
									<table width="350" border="0" cellspacing="0" cellpadding="0"  style="border-width: 0.2mm  0.2mm 0.2mm 0.2mm;  border-color: #000000">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Betriebsstätten-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Arzt-Nr.</font></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><font color="#ff0000" size="8pt">Datum</font></td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><? echo $this->betriebsstatten_nr; ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $this->arzt_nr; ?>  </td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="88" height="18" align="left" valign="top"><? echo date('d.m.Y') ?></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				
				</tr>
				<tr>
					<td width="380" colspan="2" height="15">&nbsp;</td>
				</tr>
			</table>

		</td>
		<td width="350" height="44"><font size="9pt"><br />&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp; <? echo  $this->patsurname; ?></font></td> 
	</tr>
	
	<tr>
		<td height="44"><font size="9pt"><br />&nbsp;&nbsp;Vorname&nbsp;&nbsp;&nbsp;&nbsp; <? echo  $this->patfirstname; ?></font></td>
	</tr>
	<tr>
		<td height="46"><font size="9pt"><br />&nbsp;&nbsp;Adresse&nbsp;&nbsp;&nbsp;&nbsp; <? echo $this->patadress;?></font></td> 
	</tr>
	<tr>
		<td  height="44"><font size="9pt"><br />&nbsp;&nbsp;Geburtsdatum&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $this->birthdate; ?></font></td>
	</tr>
	<tr>
		<td  height="44"><font size="9pt"><br />&nbsp;&nbsp;KV-Nr.&nbsp;&nbsp;&nbsp;&nbsp; <? echo $this->patkvnumber; ?></font></td>
	</tr>
	<tr>
		<td colspan="2" height="44">&nbsp;<br/>&nbsp;&nbsp;<font size="8pt">gesicherte Behandlungsdiagnosen (nach ICD 10): <? echo $this->icd_diagnosis ?> </font></td>
	</tr>	
	<tr>
		<td colspan="2" height="60">&nbsp;<br/>&nbsp;&nbsp;<font size="8pt">mein Hausarzt (Name und Anschrift): <? echo $this->familydoc; ?></font></td>
	</tr>
</table>

	<table width="820" border="0" cellspacing="0" cellpadding="0">
	
		<tr>
			<td height="50">&nbsp;</td>
		</tr>
		
		<tr>
			<td  height="30">
				<font size="12pt"><b>Hiermit erkläre ich meine Teilnahme an der</b></font> 
			</td>
		</tr>
		
		<tr>
			<td align="center"  height="30">
				<font size="12pt" style="text-align:center;"><b>&#8222;spezialisierten ambulanten Palliativversorgung&#8221;.</b></font>
			</td>
		</tr>
		
		<tr>
			<td  height="44">
				<font size="12pt"><b>Die entsprechenden Informationen zum Betreuungskonzept habe ich erhalten.</b></font>
			</td>
		</tr>
		
		
		<tr>
			<td>
				<font size="12pt"><br />Mir ist bekannt, dass in diesem Betreuungskonzept über meine Behandlung durch Ärzte,<br/>
				Pflegepersonal und andere Leistungserbringer in dieser Versorgungsform Aufzeichnun-<br/>
				gen gemacht werden. Durch mein Vertrauensverhältnis zu Ärzten und Pflegepersonal,<br/>
				etc. enthalten diese Aufzeichnungen Angaben, die meine Privatsphäre betreffen und so-<br/>
				mit einer gesetzlichen <b>Geheimhaltungspflicht</b> unterliegen.<br /></font>
			
		 		<br /><font size="12pt">Von mir in Patientenbefragungen in <b>Zusammenarbeit mit Kooperationspartnern (wie<br/>
				z. B.: Frau / Herrn Doktor, Krankenpflegekraft, etc.)</b> gemachte Angaben dürfen in die-<br/>
				ser Versorgung dokumentiert und an die Leistungserbringer und meine Krankenkasse im<br/>
				jeweils erforderlichen Umfang ggf. für eine Projektauswertung / -analyse weitergeleitet<br/>
				und ausgewertet werden.<br /></font>
		
				<br /><font size="12pt">Ich erkläre ausdrücklich, dass meine Teilnahme an dieser <b>&#8222;spezialisierten ambulanten<br/>
				Palliativversorgung&#8221;</b> freiwillig ist.<br /></font>
				<br/>
				<br /><font size="12pt">Mir ist bekannt, dass ich meine Teilnahmeerklärung schriftlich widerrufen kann.</font>
			</td>
		</tr>
	</table>
			
