<table border="0" align="left" cellpadding="1" cellspacing="0" style="line-height: 12px; font-family: Arial, Helvetica, sans-serif; ">
	  <tr  style="font-family:Arial, Helvetica, sans-serif; font-size:1.8em; color:#000000;font-weight:bold;">
			<td  align="left"><strong>Re-Assessment</strong></td>
			<td  align="right"><strong>Datum: <? echo $this->fill_date;?></strong></td>
	  </tr>
	<tr>
		<td colspan="2" height="1" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="860" height="1" /></td>
	</tr>
  <tr>
      <td><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.5em; color:#000000;font-weight:bold;">Name:</font> <span  style="font-size: 1.4em;"><?php echo $this->patientname; ?></span></td>
      <td><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.5em; color:#000000;font-weight:bold;text-align: right;">Geburtsdatum:</font> <span  style="font-size: 1.4em;"><?php echo $this->birthd; ?></span></td>
  </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
   <tr>
       <td colspan="2" width="100%">
	   <table width="100%" style="width: 100%;"  style="font-size: 1.4em; text-align: justify;" cellspacing="0" cellpadding="0">
	  		<tr><td colspan="5"  style="font-size:12pt"><strong>Ängste / Sorgen:</strong></td></tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		<tr>
		    <td width="60%" style="">Depressivität</td>
		    <td width="10%" style="text-align: right; " ><label for="kein1"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->depresiv == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
		    <td width="10%" style="text-align: right;"><label for="leicht1"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->depresiv == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		    <td width="10%" style="text-align: right;"><label for="mittel1"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->depresiv == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		    <td width="10%" style="text-align: right;"><label for="stark1"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->depresiv == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		</tr>
		<tr><td colspan="5" height="2">&nbsp;</td></tr>
		<tr>
		    <td width="60%" style="">Angst</td>
		    <td width="10%" style="text-align: right;"><label for="kein2"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->angst == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
		    <td width="10%" style="text-align: right;"><label for="leicht2"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->angst == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		    <td width="10%" style="text-align: right;"><label for="mittel2"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->angst == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		    <td width="10%" style="text-align: right;"><label for="stark2"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->angst == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		</tr>
		<tr><td colspan="5" height="2">&nbsp;</td></tr>
		<tr>
		    <td width="60%" style="">Anspannung</td>
		    <td width="10%" style="text-align: right; "><label for="kein3"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->anspannung == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
		    <td width="10%" style="text-align: right; "><label for="leicht3"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->anspannung == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		    <td width="10%" style="text-align: right; "><label for="mittel3"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->anspannung == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		    <td width="10%" style="text-align: right; "><label for="stark3"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->anspannung == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		</tr>
		<tr><td colspan="5" height="2">&nbsp;</td></tr>
		<tr>
		    <td width="60%" style="">Desorientiertheit / Verwirrtheit</td>
		    <td width="10%" style="text-align: right; "><label for="kein4"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->desorientier == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
		    <td width="10%" style="text-align: right; "><label for="leicht4"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->desorientier == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		    <td width="10%" style="text-align: right; "><label for="mittel4"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->desorientier == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		    <td width="10%" style="text-align: right; "><label for="stark4"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->desorientier == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		</tr>
	    </table>
       </td>
  </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
   <tr>
      <td colspan="2">
	  <table width="100%" style="width: 100%;"  style="font-size: 1.4em; text-align: justify;">
	  		<tr><td colspan="5"  style="font-size:12pt"><strong>Hilfsbedürftigkeit:</strong></td></tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		    <tr>
			<td width="60%" style="">Pflegeprobleme wg. Wunden / Dekubitus</td>
			<td width="10%" style="text-align: right; "><label for="kein5"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->dekubitus == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%" style="text-align: right; "><label for="leicht5"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->dekubitus == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%" style="text-align: right; "><label for="mittel5"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->dekubitus == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" />  mittel</label></td>
			<td width="10%" style="text-align: right; "><label for="stark5"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->dekubitus == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		    <tr>
			<td width="60%" style="">Hilfebedarf b. Aktivitäten d. tägl. Lebens</td>
			<td width="10%" style="text-align: right; "><label for="kein6"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->hilfebedarf == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%" style="text-align: right; "><label for="leicht6"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->hilfebedarf == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%" style="text-align: right; "><label for="mittel6"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->hilfebedarf == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%" style="text-align: right; "><label for="stark6"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->hilfebedarf == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		    <tr>
			<td width="60%" style="">Probleme mit Organisation der Versorgung</td>
			<td width="10%" style="text-align: right; "><label for="kein7"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->versorgung == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%" style="text-align: right; "><label for="leicht7"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->versorgung == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%" style="text-align: right; "><label for="mittel7"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->versorgung == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%" style="text-align: right; "><label for="stark7"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->versorgung == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		    <tr>
			<td width="60%" style="">Überforderung der Familie, des Umfelds</td>
			<td width="10%"  style="text-align: right; "><label for="kein8"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->umfelds == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"  style="text-align: right; "><label for="leicht8"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->umfelds == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"  style="text-align: right; "><label for="mittel8"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->umfelds == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"  style="text-align: right; "><label for="stark8"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->umfelds == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		</table>
      </td>
  </tr>
 
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2">
	  <table width="100%" style="width: 100%;" style="font-size: 1.4em; text-align: justify;">
		<tr>
		    <td width="60%" style=""><strong>Vigilanz:</strong></td>
		    <td width="10%"  style="text-align: right; "><label for="kein9"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->vigilanz == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
		    <td width="10%"  style="text-align: right; "><label for="leicht9"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->vigilanz == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		    <td width="10%"  style="text-align: right; "><label for="mittel9"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->vigilanz == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		    <td width="10%"  style="text-align: right; "><label for="stark9"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->vigilanz == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		</tr>
	    </table>
      </td>
  </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2">
		  <table style="font-size: 1.4em; text-align: justify;">
		    <tr>
			<td width="60%" style=""><b>Schmerzen</b></td>
			<td width="10%"  style="text-align: right; "> <img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->schmerzen == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein </td>
			<td width="10%"  style="text-align: right; "> <img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->schmerzen == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht </td>
			<td width="10%"  style="text-align: right; "> <img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->schmerzen == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel </td>
			<td width="10%"  style="text-align: right; "> <img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->schmerzen == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark </td>
		    </tr>
		    </table>
      </td>
  </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2">
	  <table style="font-size: 1.4em; text-align: justify;">
		    <tr><td colspan="5"  style="font-size:12pt"><strong>Andere schwerwiegende Symptome:</strong></td></tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		    <tr>
			<td width="60%" style="">Übelkeit</td>
			<td width="10%"  style="text-align: right; "><label for="kein11"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ubelkeit == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"  style="text-align: right; "><label for="leicht11"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ubelkeit == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"  style="text-align: right; "><label for="mittel11"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ubelkeit == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"  style="text-align: right; "><label for="stark11"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ubelkeit == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		    <tr>
			<td width="60%" style="">Erbrechen</td>
			<td width="10%"  style="text-align: right; "><label for="kein12"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->erbrechen == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"  style="text-align: right; "><label for="leicht12"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->erbrechen == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"  style="text-align: right; "><label for="mittel12"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->erbrechen == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"  style="text-align: right; "><label for="stark12"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->erbrechen == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		    <tr>
			<td width="60%" style="">Luftnot</td>
			<td width="10%"  style="text-align: right; "><label for="kein13"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->luftnot == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"  style="text-align: right; "><label for="leicht13"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->luftnot == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"  style="text-align: right; "><label for="mittel13"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->luftnot == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"  style="text-align: right; "><label for="stark13"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->luftnot == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		    <tr>
			<td width="60%" style="">Verstopfung</td>
			<td width="10%"  style="text-align: right; "><label for="kein14"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->verstopfung == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"  style="text-align: right; "><label for="leicht14"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->verstopfung == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"  style="text-align: right; "><label for="mittel14"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->verstopfung == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"  style="text-align: right; "><label for="stark14"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->verstopfung == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		    <tr>
			<td width="60%" style="">Schwäche</td>
			<td width="10%"  style="text-align: right; "><label for="kein15"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->swache == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"  style="text-align: right; "><label for="leicht15"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->swache == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"  style="text-align: right; "><label for="mittel15"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->swache == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"  style="text-align: right; "><label for="stark15"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->swache == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" />  stark</label></td>
		    </tr>
		    <tr><td colspan="5" height="2">&nbsp;</td></tr>
		    <tr>
			<td width="60%" style="">Appetitmangel</td>
			<td width="10%"  style="text-align: right; "><label for="kein16"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->appetitmangel == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"  style="text-align: right; "><label for="leicht16"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->appetitmangel == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"  style="text-align: right; "><label for="mittel16"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->appetitmangel == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"  style="text-align: right; "><label for="stark16"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->appetitmangel == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		</table>
      </td>
  </tr>
  <tr>
      <td colspan="2" >&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style=" text-align: justify;">
      	<table width="100%" cellspacing="0" cellpadding="0">
      		<tr><td colspan="5"  style="font-size:1.4em"><strong>Kommentar:</strong></td></tr>
			<tr><td colspan="5"  style="font-size:1.2em"><?php echo $this->comment; ?></td></tr>
		</table>
      </td>
  </tr>
  <tr>
      <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
       <td colspan="2" width="100%">
	   <table width="100%" style="width: 100%;"  style="font-size: 1.4em; text-align: justify;" cellspacing="0" cellpadding="0">
		<tr>
		    <td width="60%" style=""><strong>Die medizinische Indikation für SAPV besteht weiter</strong></td>
		    <td width="10%" style="text-align: right; " ><label for="kein1"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->indic_sapv == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> ja</label></td>
		    <td width="10%" style="text-align: right;"><label for="leicht1"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->indic_sapv == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> nein</label></td>
		    <td width="10%" style="text-align: right;"></td>
		    <td width="10%" style="text-align: right;"></td>
		</tr>
		<?  if($this->indic_sapv == "2") :?>
		<tr><td colspan="5" style="font-size: 1em; text-align: justify;"><?php echo $this->indic_sapv_txt; ?></td></tr>
  		<? endif; ?>
	   </table>
		</td>
  </tr>
</table>