<?php 
	$period_days = $this->period_days;
	$products = $this->products;
	$shortcuts = $this->shortcuts;
	
	$PatientMasterData = $this->PatientMasterData;

	unset($products['current_status']);
	unset($products['select_month']);
	unset($products['has_saved_data']);
	unset($products['pdf']);
	unset($products['list']);
	
    $list=$this->list;
	$weekend = 'bgcolor="#DEDEDE"';
//	print_r($products);
//	exit;
?>
<font size="10px"><?php echo $PatientMasterData['nice_name'] . " (".$PatientMasterData['birthd'] . ")";?></font>
<br/>
<table width="100%" style="font-size: 0.8em;" border="1">
	<tr>
		<td style="width:170px;" colspan="2">
			<table width="100%" border="0" cellpadding="3">
				<tr>
					<td>
						<strong>Leistungsübersicht</strong>
						<br>
						<?php echo $list; ?>
					</td>
				</tr>
			</table>
		</td>
	
		<?php foreach($period_days as $day): $day_type = date('w', strtotime($day)); ?>
		<td style="width:34px;text-align: center;" <?php if($day_type == 0 || $day_type == 6): echo $weekend; endif; ?>><?php echo date('d', strtotime($day)); ?> <br /> <?php echo strftime('%a', strtotime($day)); ?></td>
		<?php endforeach; ?>
		<td style="width: 50px;text-align: center;"><strong>Anzahl</strong></td>
	</tr>
	
	<?php foreach($products as $k_shortcut => $shortcut_days): ?>
	<tr>
		<td style="width: 155px; font-size: 0.8em;border-bottom: 2px solid #000;">
			<table width="100%" border="0" style="padding-left:2px; padding-top:2px;">
				<tr>
					<td>
						<?php echo $this->translate($k_shortcut); ?>
					</td>
				</tr>
			</table>
		</td>
		<td style="border-bottom: 2px solid #000;width:15px;">
			<table style="width:15px;height:100%;text-align: center; padding-top:7px;" border="1">
				<tr>
					<td>Z</td>
				</tr>
				<tr>
					<td>P</td>
				</tr>
				<tr>
					<td>H</td>
				</tr>
			</table>
		</td>
		<?php $sums[$k_shortcut] = '0'; ?>
		<?php foreach($shortcut_days as $k_day => $v_data): $day_type = date('w', strtotime($k_day)); ?>
		<td style="width:34px;border-bottom: 2px solid #000;">
			<table style="width:34px;height:100%;text-align: center; padding-top:7px;" <?php if($day_type == 0 || $day_type == 6): echo $weekend; endif; ?>  border="1">
				<tr>
					<td><?php echo $v_data['p_home']; ?></td>
				</tr>
				<tr>
					<td><?php echo $v_data['p_nurse']; ?></td>
				</tr>
				<tr>
					<td><?php echo $v_data['p_hospiz']; ?><?php $sums[$k_shortcut] += ($v_data['p_home'] + $v_data['p_nurse'] + $v_data['p_hospiz']); ?></td>
				</tr>
			</table>
		</td>
		<?php endforeach; ?>
		<td style="width: 50px; text-align: right;border-bottom: 2px solid #000;">
			<table style="width:50px;text-align: center; padding:2px;padding-bottom:3px;" border="0">
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><?php echo $sums[$k_shortcut]; ?></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	<?php endforeach; ?>
</table>