<table width="860" align="left" cellpadding="0" cellspacing="0"
	style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none; font-size: 10pt; color: #000000;">
	<tr>
		<td align="left"><font size="12pt"><b> Spezialisierte
		ambulante Palliativversorgung</b></font></td>
		<td align="right"><font size="12pt">Feststellung des
		Ruhens der Teilnahme</font></td>
	</tr>
	<tr>
		<td colspan="2" height="2" align="left"><img
			src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="860" height="1" /></td>
	</tr>
	<tr>
		<td colspan="2" height="35" align="left"></td>
	</tr>
	<tr>
		<td colspan="2"><span> <font size="10pt">Feststellung
		des Ruhens der Teilnahme nach § 3 Abs. 6 des Vertrag zur Integrierten<br />
		Versorgung für Patienten der Spezialisierten ambulanten
		Palliativversorgung</font> </span></td>
	</tr>

	<tr>
		<td colspan="2" height="35" align="left"></td>
	</tr>
	<tr>
		<td colspan="2" align="left"><font size="10pt">(1) <u>Versichertendaten</u></font>
		<br />
		</td>
	</tr>
	<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>
	<tr>
		<td colspan="2">

		<table width="860" border="1" cellpadding="10" cellspacing="0">
			<tr>
				<td><font size="10pt">1.1 Name, Vorname: <br />
				<?php echo  $this->pattname;?></font></td>
				<td><font size="10pt">1.2 Geburtsdatum: <br />
				<?php echo  $this->pattbirthday;?></font></td>
			</tr>
			<tr>
				<td><font size="10pt">1.3 Vers.-Nr.: <br />
				<?php echo  $this->patthelthinsurance ?></font></td>
				<td><font size="10pt">1.4 Beginn I.V.:<br />
				<?php echo  $this->pattadmission_date;?></font> </td>
			</tr>

		</table>
	</td>
	</tr>
	<tr>
		<td colspan="2" height="35" align="left"></td>
	</tr>
	<tr>
		<td colspan="2" align="left"><font size="10pt">(2) <u>Beginn
		des Ruhens der Teilnahme (§ 3 Abs. 6)</u></font> <br />
		</td>
	</tr>
	<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>
	<tr>
		<td colspan="2" align="left"><font size="10pt">Die
		Teilnahme des Versicherten ruht, wenn durch Veranlassung Dritter im
		Rahmen der<br />
		Notfallbehandlung vollstationäre Krankenhausbehandlung durchgeführt
		wird.</font> <br />
		</td>
	</tr>
	<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>
	<tr>
		<td colspan="2" align="left"><font size="10pt">Zeitpunkt
		(Datum):<u><? echo $this->begindate;?></u></font> <br />
		</td>
	</tr>
	<tr>
		<td colspan="2" height="25" align="left"></td>
	</tr>
	<tr>
		<td colspan="2" align="left"><font size="10pt">(3) <u>Einweisung
		durch</u></font> <br />
		</td>
	</tr>
	<tr>
		<td colspan="2" align="left">
		<table>
			<tr>
				<td width="30"><img src="<?php echo PUBLIC_PATH;?>/images/<?
				if($this->einweisung==1){ echo "radio-selected-btn.jpg"; }else{ echo
				"radio-btn.jpg";} ?>" /></td>
				<td><font size="10pt">Notarzt</font></td>
			</tr>
			<tr>
				<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->einweisung==2){
				echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" />
				</td>
				<td><font size="10pt">Krankenhausarzt /
				Krankenhausärztin</font></td>
			</tr>
			<tr>
				<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->einweisung==3){
				echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" />
				</td>
				<td><font size="10pt">Vertragsarzt / Vertragsärztin</font></td>
			</tr>
			<tr>
				<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->einweisung==4){
				echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" />
				</td>
				<td><font size="10pt">Dritter</font></td>
			</tr>
		</table>

		</td>
	</tr>
	<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>

	<tr>
		<td colspan="2">
		<table>
			<tr>
				<td width="85px"><font size="10pt">Name:</font></td>
				<td width="90%" align="left"><font size="10pt"><u><? echo $this->r_name;?></u></font></td>
			</tr>
			<tr>
				<td colspan="2" height="5" align="left"></td>
			</tr>
			<tr>
				<td><font size="10pt">Adresse:</font></td>
				<td align="left"><font size="10pt"><u><? echo $this->r_address;?></u></font></td>
			</tr>
		</table>

		</td>
	</tr>
	<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>
	<tr>
		<td colspan="2" align="left"><font size="10pt">(4) <u>
		Zuständiges Palliativzentrum (PZ)</u></font></td>
	</tr>
	<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>

	<tr>
		<td colspan="2" align="left">
		<table>
			<tr>
				<td width="30"><img src="<?php echo PUBLIC_PATH;?>/images/<?
				if($this->palliativzentrum==1){ echo "radio-selected-btn.jpg";
				}else{ echo "radio-btn.jpg";} ?>" /></td>
				<td><font size="10pt">PZ Stendal</font></td>
			</tr>
			<tr>
				<td><img src="<?php echo PUBLIC_PATH;?>/images/<?
				if($this->palliativzentrum==2){ echo "radio-selected-btn.jpg";
				}else{ echo "radio-btn.jpg";} ?>" /></td>
				<td><font size="10pt">PZ Wernigerode</font></td>
			</tr>
			<tr>
				<td><img src="<?php echo PUBLIC_PATH;?>/images/<?
				if($this->palliativzentrum==3){ echo "radio-selected-btn.jpg";
				}else{ echo "radio-btn.jpg";} ?>" /></td>
				<td><font size="10pt">PZ Magdeburg</font></td>
			</tr>
			<tr>
				<td><img src="<?php echo PUBLIC_PATH;?>/images/<?
				if($this->palliativzentrum==4){ echo "radio-selected-btn.jpg";
				}else{ echo "radio-btn.jpg";} ?>" /></td>
				<td><font size="10pt">PZ Dessau</font></td>
			</tr>
			<tr>
				<td><img src="<?php echo PUBLIC_PATH;?>/images/<?
				if($this->palliativzentrum==5){ echo "radio-selected-btn.jpg";
				}else{ echo "radio-btn.jpg";} ?>" /></td>
				<td><font size="10pt">PZ Halle</font></td>
			</tr>
		</table>
		</td>
	</tr>

	<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>
	<tr>
		<td colspan="2"  align="left"><font size="10pt">Das Einweisungsformular liegt bei</font></td>
	</tr>
	<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>
	<tr>
		<td  align="left"><font size="10pt"> Arztstempel</font></td>
		<td  align="right"><font size="10pt"> Datum, Unterschrift Arzt / Ärztin (PZ)</font></td>
	</tr>
		<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>
	<tr>
		<td colspan="2" height="2" align="left"><img
			src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="860" height="1" /></td>
	</tr>
	<tr>
		<td colspan="2" height="25" align="left"></td>
	</tr>
	<tr>
		<td colspan="2" align="left"><font size="10pt">(5) <u>  Zeitpunkt des Endes der ruhenden Teilnahme / Weiterführung der Behandlung in der <br/>Integrierten Versorgung</u></font></td>
	</tr>
	<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>
	<tr>
		<td colspan="2" align="left"><font size="10pt">Zeitpunkt (Datum): <u><? echo $this->enddate;?></u> </font> <br />
		</td>
	</tr>
	<tr>
		<td colspan="2" height="45" align="left"></td>
	</tr>
	<tr>
		<td  align="left"><font size="10pt"> Arztstempel</font></td>
		<td  align="right"><font size="10pt"> Datum, Unterschrift Arzt / Ärztin (PZ)</font></td>
	</tr>
	<tr>
		<td colspan="2" height="15" align="left"></td>
	</tr>
	<tr>
		<td colspan="2" height="2" align="left"><img
			src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="860" height="1" /></td>
	</tr>

</table>
 
 
 
 