<?php
$weekend = 'color="#ff0000"';
$national_holidays = $this->national_holidays;

$bg = array();
$bg['sh_doc_non_hospiz_visits'] = "background-color: #EADCDC;";
$bg['sh_nur_non_hospiz_visits'] = "background-color: #C6D9F1;";
$bg['sh_other_visits'] = "background-color: #FFFFA9;";
$bg['inactive_day'] = "background-color: #F2DBD9;";

$real_active_days = $this->master_data['real_active_days'];
$hospital_days = $this->master_data['hospital_days'];
	
?>
<table>
	<tr>
		<td>
			<table style="width: 100%;">
				<tr>
					<td style="width: 50%;">
						<h1>Leistungsnachweis für Monat: <u><?php echo date('m Y', strtotime($this->current_period['start'])); ?></u></h1>
					</td>
					<td>
						<h1>Anlage 14</h1>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br />
<table style="width: 100%;font-size:9;">
	<tr>
		<td style="width: 50%;">
			<table style="width:100%;" cellpadding="3">
				<tr>
					<td colspan="2">
						<b><?php echo $this->translate('insured_patient'); ?></b>
					</td>
				</tr>
				<tr>
					<td>
						<?php echo $this->translate('name'); ?>
					</td>
					<td>
						<?php echo $this->translate('pat_healthinsurance'); ?>
					</td>
				</tr>
				<tr>
					<td>
						<b><?php echo $this->patient_last_name; ?></b>
					</td>
					<td>
						<!--health insurance name value-->
						<b><?php echo $this->hi_company_name; ?></b>
					</td>
				</tr>
				<tr>
					<td>
						<?php echo $this->translate('firstname'); ?>
					</td>
					<td>
						<?php echo $this->translate('healthinsurance_nr'); ?>
					</td>
				</tr>
				<tr>
					<td>
						<b><?php echo $this->patient_first_name; ?></b>
					</td>
					<td>
						<!--health insurance number-->
						<b><?php echo $this->insurance_no; ?></b>
					</td>
				</tr>
				<tr>
					<td rowspan="2">
						<?php echo $this->translate('shtbirthd'); ?>
						<br />
						<!--birthdate value-->
						<b><?php echo $this->patient_dob; ?></b>
					</td>
					<td>
						<?php echo $this->translate('first_sapv_date'); ?>&nbsp; 
						<b><?php echo $this->start_date_erst; ?></b>
					</td>
				</tr>
				<tr>
					<td>
						<?php echo $this->translate('followed_sapv_date'); ?>&nbsp; 
						<b><?php echo $this->start_date_folge; ?></b>
					</td>
				</tr>
			</table>
		</td>
		<td style="width: 50%;">
			<table style="width:100%;" border="1" cellpadding="3">
				<tr>
					<td style="width: 28%;font-weight: bold;"><?php echo $this->translate('sapv_end_case'); ?></td>
					<td style="width: 13%;font-weight: bold;"><?php echo $this->translate('sapv_end_on'); ?></td>
					<td style="width: 31%;font-weight: bold;"><?php echo $this->translate('sapv_intreruption'); ?></td>
					<td style="width: 13%;font-weight: bold;"><?php echo $this->translate('sapv_intreruption_from'); ?></td>
					<td style="width: 13%;font-weight: bold;"><?php echo $this->translate('sapv_intreruption_till'); ?></td>
				</tr>
				<tr>
					<td>
						<?php echo $this->translate('sapv_case_reciclation'); ?>
					</td>
					<td style="text-align: center;">
						<?php echo $this->master_data['raapv_sapv_date']; ?>
					</td>
					<td>
						<?php echo $this->translate('sapv_case_reciclation'); ?>
					</td>
					<td style="text-align: center;">
						<?php echo $this->master_data['aapv_start']; ?>
					</td>
					<td style="text-align: center;">
						<?php echo $this->master_data['aapv_end']; ?>
					</td>
				</tr>
				<?php if(count($this->hospital_start) > '0'): ?>
					<?php foreach($this->hospital_start as $k_hosp => $v_hosp): ?>
					<tr>
						<?php if($k_hosp == '0'): ?>
						<td rowspan="<?php echo count($this->hospital_start); ?>">
							<?php echo $this->translate('sapv_case_hospital'); ?>
						</td>
						<td rowspan="<?php echo count($this->hospital_start); ?>" style="text-align: center;">
							<?php echo $this->master_data['khws_sapv_date']; ?>
						</td>
						<td rowspan="<?php echo count($this->hospital_start); ?>">
							<?php echo $this->translate('sapv_case_hospital'); ?>
						</td>
						<?php endif; ?>
						<td style="text-align: center;">
							<?php echo $v_hosp; ?>
						</td>
						<td style="text-align: center;">
							<?php echo $this->hospital_end[$k_hosp]; ?>
						</td>
					</tr>
					<?php endforeach; ?>
				<?php else: ?>
					<tr>
						<td>
							<?php echo $this->translate('sapv_case_hospital'); ?>
						</td>
						<td style="text-align: center;">
							<?php echo $this->master_data['khws_sapv_date']; ?>
						</td>
						<td>
							<?php echo $this->translate('sapv_case_hospital'); ?>
						</td>
						<td style="text-align: center;">
							&nbsp;
						</td>
						<td style="text-align: center;">
							&nbsp;
						</td>
					</tr>
				<?php endif; ?>
				<tr>
					<td>
						<?php echo $this->translate('sapv_case_hospiz') ?>
					</td>
					<td style="text-align: center;">
						<?php echo $this->master_data['stathospiz_sapv_date']; ?>
					</td>
					<td>
						<?php echo $this->translate('sapv_case_hospiz') ?>
					</td>
					<td style="text-align: center;">
						<?php echo $this->master_data['hospiz_start']; ?>
					</td>
					<td style="text-align: center;">
						<?php echo $this->master_data['hospiz_end']; ?>
					</td>
				</tr>
				<tr>
					<td>
						<?php echo $this->translate('sapv_case_pat_wish'); ?>
					</td>
					<td style="text-align: center;">
						<?php echo $this->master_data['pwunsch_sapv_date']; ?>
					</td>
					<td>
						<?php echo $this->translate('sapv_case_pat_wish'); ?>
					</td>
					<td style="text-align: center;">
						<?php echo $this->master_data['patient_wish_start']; ?>
					</td>
					<td style="text-align: center;">
						<?php echo $this->master_data['patient_wish_end']; ?>
					</td>
				</tr>
				<tr>
					<td>
						<?php echo $this->translate('sapv_case_dead') ?>
					</td>
					<td colspan="4">
						<?php echo $this->master_data['dead_sapv_date']; ?>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br />
<table border="0" style="width:100%;font-size:9;">
	<tr>
		<td style="width:50%;"></td>
		<td style="width:51%;">
			<table border="0" cellpadding="4">
				<tr>
					<td style="width:10%; text-align:right;"><?php echo $this->translate('sh_betriebsstatten_nr'); ?> </td>
					<td style="width:35%;"><?php echo $this->betriebsstatten_nr; ?></td>
					<td style="width:15%; text-align:right;"><?php echo $this->translate('sh_sapv_team'); ?> </td>
					<td style="width:40%;"><?php echo $this->sapv_team; ?></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table border="0">
	<tr>
		<td>
				<table width="100%" style="font-size:9;" cellpadding="3">
					<!-- Days row -->
					<tr>
						<td width="225px" style="text-align: left;font-weight: bold;background-color: #CCC;border:1px solid #000;">
							&nbsp;<br />
							&nbsp;Leistungen
						</td>
						<?php foreach($this->selected_month_days as $k_month => $v_month): $day_type = date('w', strtotime($v_month)); ?>
							<td style="width:33px;text-align: center;font-weight: bold;background-color: #CCC;border:1px solid #000;" <?php if($day_type == 0 || $day_type == 6 || in_array(strtotime($v_month),$national_holidays)): echo $weekend; endif; ?>>
								&nbsp;<br />
								&nbsp;<?php echo date('d', strtotime($v_month));  ?>
							</td>
						<?php endforeach;  ?>
							<td width="60px" style="font-weight: bold; text-align: center;font-weight: bold;background-color: #CCC;font-size:8;border:1px solid #000;">
								&nbsp;<br />
								<?php echo $this->translate('sh_a14_total_col'); ?>
							</td>
					</tr>

					<!-- SH Anlage 14 Shortcuts-->
					<?php foreach($this->shortcuts as $k_short_a => $v_short_a):  ?>
			 
						<?php if(!in_array($v_short_a, $this->excluded_shortcuts)):?>
						<tr>
							<td style="border:1px solid #000;<?php echo $bg[$v_short_a]; ?>">
								<?php echo $this->translate('shortcut_text_'.$v_short_a); ?>
							</td>
							<?php foreach($this->selected_month_days as $k_month => $v_month): ?>
							
							<td style="border:1px solid #000;<?php  if( !in_array(date('d.m.Y', strtotime($v_month)),$real_active_days) || in_array(date('d.m.Y', strtotime($v_month)),$hospital_days)):echo $bg['inactive_day'];  else: echo $bg[$v_short_a]; endif; ?>">
								<table cellpadding="0" cellspacing="3" style="width:100%;text-align:center; vertical-align: middle;" border="0">
									<tr>
										<td>
										<?php if($v_short_a != 'sh_telefonat'): ?>
										<?php if($this->{$v_short_a}[$v_month]['checked'] == "1"):?>
										<font size="14pt">X</font>
										<?php endif;?> 
											<!-- <img src="<?php echo PUBLIC_PATH;?>/images/<?php if($this->{$v_short_a}[$v_month]['checked'] == "1"):?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" /> -->
											<?php $shortcut_total[$v_short_a] += number_format($this->{$v_short_a}[$v_month]['checked'],'2',',','.'); ?>
										<?php else: ?>
											
											<?php if($this->{$v_short_a}[$v_month]['qty'] > '0'): ?>
												<?php echo $this->{$v_short_a}[$v_month]['qty']; ?>
											<?php else: ?>
												<?php echo ''; ?>
											<?php endif; ?>
											<?php $shortcut_total[$v_short_a] += number_format($this->{$v_short_a}[$v_month]['qty'],'2',',','.'); ?>
										<?php endif; ?>
										</td>
									</tr>
								</table>
							</td>
							<?php endforeach; ?>
							<td style="font-weight: bold; text-align: center;font-weight: bold;font-size:8;border:1px solid #000;vertical-align: middle; <?php echo $bg[$v_short_a ];?>">
								<?php //echo $shortcut_total[$v_short_a]; ?>
								<?php echo $shortcut_total[$v_short_a] != 0 ? $shortcut_total[$v_short_a]: "" ; ?>
							</td>
						</tr>
						<?php endif; ?>
					<?php endforeach;  ?>
					<tr>
						<td colspan="<?php echo (count($this->selected_month_days)+1) ?>" style="text-align: right;border:1px solid #fff;border-top: 1px solid #000;">
							Anzahl Tagespauschale
						</td>
						<td style="font-weight: bold; text-align: center;font-weight: bold;font-size:8;border:1px solid #000;">
							<?php echo $this->overall_doc_nur_non_hospiz != 0 ? $this->overall_doc_nur_non_hospiz : ""; ?>
						</td>
					</tr>
					<tr>
						<td colspan="<?php echo (count($this->selected_month_days)+1) ?>" style="text-align: right;border:1px solid #fff;">
							Anzahl Telefonpauschale
						</td>
						<td style="font-weight: bold; text-align: center;font-weight: bold;font-size:8;border:1px solid #000;">
							<?php echo $this->overall_phones != 0 ? $this->overall_phones  : ""; ?>
						</td>
					</tr>
					<tr>
						<td colspan="<?php echo (count($this->selected_month_days)+1) ?>" style="text-align: right;border:1px solid #fff;">
							Koordination
						</td>
						<td style="font-weight: bold; text-align: center;font-weight: bold;font-size:8;border:1px solid #000;">
							<?php echo $this->overall_beko != 0 ?  $this->overall_beko : ""; ?>
						</td>
					</tr>
					<tr>
						<td colspan="<?php echo (count($this->selected_month_days)+1) ?>" style="text-align: right;border:1px solid #fff;">
							Folgekoordination
						</td>
						<td style="font-weight: bold; text-align: center;font-weight: bold;font-size:8;border:1px solid #000;">
							<?php echo $this->overall_folgeko != 0 ? $this->overall_folgeko : ""; ?>
						</td>
					</tr>
					<tr>
						<td colspan="<?php echo (count($this->selected_month_days)+1) ?>" style="text-align: right;border:1px solid #fff;">
							Tagespauschalen Hospiz
						</td>
						<td style="font-weight: bold; text-align: center;font-weight: bold;font-size:8;border:1px solid #000;">
							<?php echo $this->overall_doc_nur_hospiz != 0 ?  $this->overall_doc_nur_hospiz : "" ; ?>
						</td>
					</tr>
				</table>
		</td>
	</tr>
	<tr>
		<td>
			<table style="width: 100%;" border="0">
				<tr>
					<td colspan="5">
						&nbsp;<br />
						&nbsp;<br />
					</td>
				</tr>
				<tr>
					<td style="width:15%;"></td>
					<td style="width:30%;border-top: 1px solid #000;text-align: center;"> Unterschrift SAPV-Team </td>
					<td style="width:10%;"></td>
					<td style="width:30%;border-top: 1px solid #000;text-align: center;"> Unterschrift des Patienten / Vertreter </td>
					<td style="width:15%;"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

