
 <table width="850" align="left" cellpadding="0" cellspacing="0"	style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none; font-size: 10pt; color: #000000;">
 	<tr>
		<td align="left">
			<font size="12pt"><b> Fragebogen nach SAPV-Richtlinie </b></font>
		</td>
	</tr>
 	<tr>
		<td  height="2" align="left">
			<img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="860" height="1" />
		</td>
	</tr>
	<tr>
		<td height="45" align="left"></td>
	</tr>
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->no_sapv_data == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td><b>Erstverordnung</b></td>
				</tr>
				<tr>
					<td height="15" align="left"></td>
				</tr>

				<tr>
					<td width="2%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->sapv_data_exists == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
					<td><b>Folgeverordnung:</b> SAPV seit: <? echo $this->sapv_date; ?> </td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="15" align="left"></td>
	</tr>
 	<tr>
		<td>
			<table>
				<tr>
					<td width="15%"><b>Krankenkasse:</b></td>
					<td><? echo $this->patient_health_insurance; ?></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="15" align="left"></td>
	</tr>
 	<tr>
		<td>
			<table>
				<tr>
					<td><b>Name:</b> <? echo $this->patient_lname; ?></td>
					<td><b>Vorname:</b> <? echo $this->patient_fname; ?></td>
					<td><b>Geb.-Datum:</b> <? echo $this->patient_birthd; ?></td>
				</tr>
				<tr>
					<td colspan="3" height="15"></td>
				</tr>
				<tr>
					<td colspan="3" height="100"><b>Adresse:</b> <? echo nl2br($this->patient_address); ?></td>
				</tr>
			</table>
		</td>
	</tr>

 	<tr>
		<td>
			<table>
				<tr>
					<td colspan="6"><b>Pflegeversicherung:</b></td>
				</tr>
				<tr>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->stage == "keine"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp;  keine</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->beantragt == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; beantragt</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->stage == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; St.1</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->stage == "2"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; St.2</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->stage == "3"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; St.3</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->horherstufung == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; Höherstufung</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="25" align="left"></td>
	</tr>
 	<tr>
		<td>
			<table>
				<tr>
					<td colspan="6"><b>Ambulante Versorgung durch:</b></td>
				</tr>
				<tr>
					<td colspan="6"></td>
				</tr>
				<tr>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->familydoctor == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp;  Hausarzt</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->palliativarzt == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; Palliativarzt</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->pflegedienst == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; Pflegedienst</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->contactperson == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp;  Private Pflegeperson</td>
					<td colspan="2"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->hospizdienst == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp;  Ambulanter Hospizdienst</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td height="20" align="left"></td>
	</tr>
 	<tr>
		<td>
			<table>
				<tr><td><b>Palliativrelevante Diagnosen im Klartext mit Erstdiagnose und jetzigem Stadium:</b></td></tr>
				<tr><td height="120"><? echo $this->main_diagnosis; ?>
				<br/>
				<br/>
					<?php echo $this->diagno_text; ?>
				</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="15" align="left"></td>
	</tr>
 	<tr>
		<td>
			<table>
				<tr><td><b>Metastasen mit Lokalisation und funktionellen Einschränkungen:</b></td></tr>
				<tr><td  height="120"><? echo $this->metastases; ?></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="15" align="left"></td>
	</tr>
 	<tr>
		<td>
			<table>
				<tr><td><b>Begleiterkrankungen:</b></td></tr>
				<tr><td height="100"><? echo $this->side_diagnosis; ?></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="15" align="left"></td>
	</tr>
 	<tr>
		<td>
			<table>
				<tr>
					<td width="25%"> <b>Bisherige Therapien:</b></td>
					<td width="12%">operativ</td>
					<td width="12%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->operativ == '1'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>ja</label></td>
					<td width="12%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->operativ == '0'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>nein</label></td>
					<td width="38%">
						<?php if($this->operativ=='1'):  ?>
						<label>wann:</label> &nbsp;<?php echo $this->operativ_date ?>
						<?php endif;  ?>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>chemo</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->chemo=='1'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>ja</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->chemo=='0'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>nein</label></td>
					<td>
						<?php if($this->chemo=='1'):  ?>
						<label>wann:</label> &nbsp;<?php echo $this->chemo_date  ?>
						<?php endif;  ?>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Radiatio</td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->radiatio=='1'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>ja</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->radiatio=='0'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" /> <label>nein</label></td>
					<td>
						<?php if($this->radiatio=='1'):  ?>
						<label>wann:</label> &nbsp;<?php echo $this->radiatio_date; ?>
						<?php endif;  ?>
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td height="25" align="left"></td>
	</tr>

 	<tr>
		<td>
			<table>
				<tr>
					<td width="25%"><b>Letzte KH-Behandlung:</b></td>
					<td width="7%">wann:</td>
					<td width="50%"><?php echo $this->hospital_period;  ?></td>
				</tr>
				<tr>
					<td height="3" colspan = "3" align="left"></td>
				</tr>
				<tr>
					<td width="25%"></td>
					<td width="7%">wo:</td>
					<td width="50%"><?php echo $this->hospital_location;  ?></td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- <tr>
		<td height="10" align="left"></td>
	</tr> -->
	  <br pagebreak="true"/>
 	<tr>
		<td>
			<table>
				<tr><td><b>Ausgeprägte Symptomkontrolle, welche?</b></td></tr>
				<tr><td height="100"><? echo nl2br($this->symptom_control); ?></td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="15" align="left"></td>
	</tr>
 	<tr>
		<td>
			<table>
				<tr>
					<td width="25%"colspan="2"><b>Aktuelle Medikation und Dosierung</b></td>
					<td width="9%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->med_oral == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>oral</label></td>
					<td width="9%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->med_iv == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>i.v.</label></td>
					<td width="9%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->med_im == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>i.m.</label></td>
					<td width="9%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->med_sc == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>s.c.</label></td>
					<td width="12%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->med_infusion == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Infusion</label></td>
					<td width="13%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->med_pca_pumpe == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>PCA-Pumpe</label></td>
					<td width="14%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->med_inhalation == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Inhalation</label></td>
				</tr>
				<tr>
					<td height="5" colspan="9" align="left"></td>
				</tr>
				<tr>
					<td colspan="9"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->med_fest == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>fest:</label></td>
				</tr>
				<tr>
					<td colspan="9">
						<br />
						<?php  echo $this->medications_pdf; ?>
						<br />
					</td>
				</tr>
				<tr>
					<td colspan="9"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->med_bedarf == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>bei Bedarf:</label></td>
				</tr>
				<tr>
					<td colspan="9">
						<br />
						<?php echo $this->bedarfsmedications_pdf;  ?>
						<br />
					</td>
				</tr>
				<tr>
					<td colspan="9">
		
						<?php echo $this->translate('iv. medis');  ?>
						<br />
					</td>
				</tr>
				 <tr>
					<td colspan="9">
						<br />
						<?php echo $this->ivmedications_pdf;  ?>
						<br />
					</td>
				</tr>

			</table>
		</td>
	</tr>
	 <tr>
		<td>
			<table>
				<tr>
					<td colspan="5" height="15"><b>Andere erforderliche Behandlungen:</b></td>
				</tr>
				<tr>
					<td colspan="5">&nbsp;</td>
				</tr>
				<tr>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->kg == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>KG</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->lymphdrainage == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Lymphdrainage</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->chemotherapie == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Chemotherapie</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->radiatio_needed == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Radiatio</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->atemtherapie == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Atemtherapie</label></td>
				</tr>

			</table>
		</td>
	</tr>
	<tr>
		<td height="20" align="left"></td>
	</tr>

 	<tr>
		<td>
			<table>
				<tr>
					<td colspan="6" ><b>Erforderliche besondere palliativpflegerische Maßnahmen:</b></td>
				</tr>
				<tr>
					<td colspan="6">&nbsp;</td>
				</tr>
				<tr>
					<td width="100"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->port == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Port</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->zvk == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>ZKV</label></td>
					<td width="180"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->peg == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> &nbsp;<label>PEG-Magensonde</label></td>
					<td width="160"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->sauerstoffgabe == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Sauerstoffgabe</label></td>
					<td width="122"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->dk == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> &nbsp;<label>DK/Zystofix</label></td>
					<td	width="110"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->urostoma == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> &nbsp;<label>Urostoma</label></td>
				</tr>
				<tr>
					<td colspan="6">&nbsp;</td>
				</tr>
				<tr>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->anuspraeter == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Anus praeter</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->tracheostoma == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> &nbsp;<label>Tracheostoma</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->lagerung == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Lagerung</label></td>
					<td><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ablaufsonde == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />&nbsp; <label>Ablaufsonde</label></td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td colspan="6">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="6"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->wound_treatment == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> &nbsp;<label>Wundbehandlung mit Beschreibung</label></td>
				</tr>
				<tr>
					<td width="800" colspan="6"  height="45" > <?php echo nl2br($this->wound_treatment_description);  ?></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="10" align="left"></td>
	</tr>
 	<tr>
		<td>
			<table>
				<tr>
					<td><b>Psychosoziale Betreuung:</b></td>
				</tr>
				<tr>
					<td>Familie/soziales Umfeld:</td>
				</tr>
				<tr>
					<td height="15"></td>
				</tr>
				<tr>
					<td width="800" height="65"><?php echo nl2br($this->family_social_environment);  ?></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="10" align="left"></td>
	</tr>
	 <tr>
		<td>
			<table>
				<tr>
					<td width="25%">Patientenverfügung</td>
					<td width="45%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->living_will == '1'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" />&nbsp;<label>ja</label></td>
					<td width="30%"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->living_will == '0'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";}?>" />&nbsp;<label>nein</label></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="10" align="left"></td>
	</tr>
 	<tr>
		<td>
			<table border="1" >
				<tr>
					<td width="25%"> Datum:</td>
					<td width="45%"> Name/Unterschrift<br/> des SAPV-Teams:</td>
					<td width="25%"> Name/Unterschrift<br/> des SAPV-Palliativarztes:</td>
				</tr>
				<!-- <tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr> -->
				<tr>
					<td width="25%"> <?php echo date('d.m.Y', time());  ?></td>
					<td width="45%">
						<table>
							<tr><td> <?php echo $this->lbg_sapv_provider;?></td></tr>
							<tr><td> <?php echo $this->lbg_street;?></td></tr>
							<tr><td> <?php echo $this->lbg_postcode;?> <?php echo $this->lbg_city;?> </td></tr>
							<tr><td> <?php echo $this->lbg_institutskennzeichen;?></td></tr>
							<tr><td></td></tr>
						</table>
					</td>	
				<!-- 	<?php echo $this->lbg_sapv_provider;?><br/> <?php echo $this->lbg_postcode;?><br/> <?php echo $this->lbg_city;?><br/> <?php echo $this->lbg_street;?><br/> <?php echo $this->lbg_institutskennzeichen;?></td> -->
					<td width="25%">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>  
							     <td height="105">
					              <table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="100" align="center"><font size="6pt">
													<? echo nl2br($this->stamp_block); ?>
											     </font>
											</td>
										</tr>
						
					              </table>
					           </td>
					          </tr>
					      </table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
