<?php
	$form['theme'] = $this->form['theme'];
	$thematics  = $this->form['thematics'];
	$thematics_colors  = $this->form['thematics_colors'];

?>
<style>

.sis_header_table {
	width: 100%;
	margin-bottom: 40px;
}

.sis_header_table td.empty_td {
	width: 2%;
}

.sis_header_table td.td_top_border {
	border-top: 1px solid #000000;
}

.sis_header_table td.td_small_font {
	font-size: 7pt;
}

.sis_header_table td span.txt_sis {
	color: #000000;
	font-size: 20px;
	font-weight: 800;
}

.sis_header_table td span.txt_ambulant {
	color: #d22027;
	font-size: 20px;
	font-weight: 800;
}

.sis_header_table td span.txt_minus {
	color: #000000;
	font-size: 16px;
	font-weight: 800;
}

.them_table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000000;
	margin-bottom: 20px;
}

.them_table td textarea.full_textarea {
	margin: 2px;
	width: 99%;
	height: 100px;
}

.textarea_th {
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	padding: 3px;
}

.th_0 {
	background: #d22027;
}

.th_1 {
	background: #f35746;
}

.th_2 {
	background: #fbbd09;
}

.th_3 {
	background: #66c76b;
}

.th_4 {
	background: #9e50ae;
}

.th_5 {
	background: #69b4e7;
}

.th_6 {
	background: #f14770;
}

.th_7 {
	background: #4f4c4c;
}

.th_8 {
	background: #fee3ac;
	color: #4f4c4c
}

.th_color000000 {
	color: #000 !important;
}

.bottom_table {
	width: 100%;
}

.bottom_table td {
	font-size: 8pt;
	border: 1px solid #000;
	text-align: center;
	line-height: 26px;
}

.bottom_table th {
	font-size: 11pt;
	border: 1px solid #000;
	color: #fff;
	font-weight: 800;
}

.alg_left {
	text-align: left !important;
}

.lh_small {
	font-size: 7pt
}

img.beratrung_img {
	border: 0;
	vertical-align: middle !important;
}
img{
	vertical-align: middle !important;
}
</style>
	<table class="sis_header_table" width="100%">
		<tr>
			<td width="20%">
				<font size="12pt"><b>SIS</b></font>
				<font size="12pt">-</font>
				<font size="12pt" color="#d22027"><b>stationär</b></font>
				<font size="12pt">-</font>
			</td>
			
			<td  width="5%"></td>
			
			<td width="15%">
				<?php echo $this->form['patient_name'];?>
			</td>
			
			<td  width="5%"></td>
			
			<td width="10%">
				<?php echo $this->form['patient_dob'];?>
			</td>
			
			<td  width="5%"></td>
			
			<td width="15%">
				<?php echo $this->form['last_update'];?>
				<?php echo $this->form['last_update_user'];?>
			</td>
			
			<td  width="5%"></td>
			
			<td width="20%"><?php echo $this->form['dependent_person'];?></td>
		</tr>
		<tr>
			<td ><font size="7pt">Strukturierte Informationssammlung</font></td>
			<td ></td>
	 		<td class="td_top_border "><font size="6pt">Name der pflegebedürftigen Person</font></td>
			<td ></td>
			<td class="td_top_border "><font size="6pt">Geburtsdatum</font></td>
			<td ></td>
			<td class="td_top_border "><font size="6pt">Gespräch am/Handzeichen Pflegefachkraft</font></td>
			<td ></td>
			<td class="td_top_border "><font size="6pt">pflegebedürftige Person/Angehöriger/Betreuer</font></td>
		</tr>
	</table>
	
	<?php 
$x = 0; foreach($thematics as $k => $thematic): ?>
		<table class="them_table">
			<tr>
		 		<th bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><font size="11pt" color="#ffffff"> <?php if($x != 0):?>Themenfeld <?php echo $x;?> – <?php endif;?><?php echo $this->translate($thematic."_label")?>  </font></th>
		 	</tr>
		 	<tr>
		 		<td border="1" height="90"><?php echo nl2br($form['theme'][$thematic]['thematic_text']);?></td>
		 	</tr>
		 </table>
		 &nbsp;<br/>
	 <?php $x++; endforeach; ?>
	 
	 <table class="bottom_table" >
	 	<tr>
	 		<th colspan="26" width="87.5%" bgcolor="#4f4c4c"><font size="11pt" color="#ffffff">Erste fachliche Einschätzung der für die Pflege und Betreuung relevanten Risiken und Phänomene</font></th>
	 		<th colspan="5"  width="12.5%" bgcolor="#fee3ac"> <font color="#000000">Sonstiges</font></th>
	 	</tr>
	 	<tr>
		 	<td rowspan="3" width="25%"></td>
		 	
		 	<td  width="10%" bgcolor="#fee3ac" colspan="4"><b>Dekubitus</b></td>
		 	<td  width="2.5%" rowspan="3"  bgcolor="#fee3ac">&nbsp;<br/><img src="<?php echo PUBLIC_PATH;?>/images/beratrung.jpg" border="0" alt=""/></td>
		 	
		 	<td  width="10%" colspan="4"  bgcolor="#fee3ac"><b>Sturz</b></td>
		 	<td  width="2.5%" rowspan="3"  bgcolor="#fee3ac">&nbsp;<br/><img src="<?php echo PUBLIC_PATH;?>/images/beratrung.jpg"  border="0" alt="" /></td>
		 	
		 	<td  width="10%" colspan="4" bgcolor="#fee3ac"><b>Inkontinenz</b></td>
		 	<td  width="2.5%" rowspan="3"  bgcolor="#fee3ac">&nbsp;<br/><img src="<?php echo PUBLIC_PATH;?>/images/beratrung.jpg"  border="0"  alt=""/></td>
		 	
		 	<td  width="10%" colspan="4"  bgcolor="#fee3ac"><b>Schmerz</b></td>
		 	<td  width="2.5%" rowspan="3"  bgcolor="#fee3ac">&nbsp;<br/><img src="<?php echo PUBLIC_PATH;?>/images/beratrung.jpg"  border="0"  alt=""/></td>
		 	
		 	<td  width="10%" colspan="4"  bgcolor="#fee3ac"><b>Ernährung</b></td>
		 	<td  width="2.5%" rowspan="3"  bgcolor="#fee3ac">&nbsp;<br/><img src="<?php echo PUBLIC_PATH;?>/images/beratrung.jpg"  border="0" alt="" /></td>
		 	
		 	
		 	
		 	<td  width="10%" colspan="4"  ></td>
		 	<td  width="2.5%" rowspan="3"  bgcolor="#fee3ac">&nbsp;<br/><img src="<?php echo PUBLIC_PATH;?>/images/beratrung.jpg"  border="0"  alt="" /></td>
	 	</tr>
	 	
	 	<tr>
	 		<td colspan="2"  bgcolor="#fee3ac"></td>
	 		<td colspan="2"  bgcolor="#fee3ac"><font size="6pt">weitere Ein-<br/>schätzung<br/>notwendig</font></td>
	 		
	 		<td colspan="2"  bgcolor="#fee3ac"></td>
	 		<td colspan="2"  bgcolor="#fee3ac"><font size="6pt">weitere Ein-<br/>schätzung<br/>notwendig</font></td>
	 		
	 		<td colspan="2"  bgcolor="#fee3ac"></td>
	 		<td colspan="2"  bgcolor="#fee3ac"><font size="6pt">weitere Ein-<br/>schätzung<br/>notwendig</font></td>
	 		
	 		<td colspan="2"  bgcolor="#fee3ac"></td>
	 		<td colspan="2"  bgcolor="#fee3ac"><font size="6pt">weitere Ein-<br/>schätzung<br/>notwendig</font></td>
	 		
	 		<td colspan="2"  bgcolor="#fee3ac"></td>
	 		<td colspan="2"  bgcolor="#fee3ac"><font size="6pt">weitere Ein-<br/>schätzung<br/>notwendig</font></td>
	 		
	 		<td colspan="2"  bgcolor="#fee3ac"></td>
	 		<td colspan="2"  bgcolor="#fee3ac"><font size="6pt">weitere Ein-<br/>schätzung<br/>notwendig</font></td>
	 	</tr>
	 	<tr>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">ja</font></td>
		 	<td width="2.5%" bgcolor="#fee3ac"><font size="7pt">nein</font></td>
	 	</tr>
	 	
	 	<?php 
			$i = 1; 
		 	foreach($thematics as $thematic_key => $thematic):
				if($thematic != "movement" && $thematic != "financialmanagement"):
	 	?>
				 	<tr>
					 	<th width="25%"   bgcolor="<?php echo $thematics_colors[$thematic]; ?>" height="25" valign="middle"><font size="9pt"><?php echo $i;?>. <?php echo $this->translate($thematic."_label")?></font></th>
			 
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['dekubitus'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['dekubitus'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_dekubitus'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_dekubitus'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['beratung_dekubitus'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['sturz'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['sturz'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_sturz'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_sturz'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['beratung_sturz'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
			
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['inkontinenz'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['inkontinenz'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_inkontinenz'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_inkontinenz'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['beratung_inkontinenz'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
			
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['schmerz'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['schmerz'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_schmerz'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_schmerz'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['beratung_schmerz'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
			
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['ernahrung'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['ernahrung'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_ernahrung'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_ernahrung'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['beratung_ernahrung'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['sonstiges'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['sonstiges'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_sonstiges'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['future_sonstiges'] == '2'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
					 	<td width="2.5%"  valign="middle" bgcolor="<?php echo $thematics_colors[$thematic]; ?>"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($form['theme'][$thematic]['beratung_sonstiges'] == '1'){ echo 'check02.jpg'; }else{ echo 'check01.jpg';} ?>" /></td>
				 	
				 	</tr>
	 	<?php 
					$i++; 
				endif;
			endforeach; 
		?>
	 </table>
