<table class="table" id="invoice" cellspacing="2" cellpadding="2" width="700">

	<tr class="rowa">
		<td class="col1 cell"></td>
		<td class="col2 cell"></td>
		<td class="col3 cell"></td>
	</tr>
	<tr class="rowb">
		<td class="col1 cell" style="width: 85mm; height: 95mm;">
			<table style="width:100%">
				<tr>
					<td style="height: 43mm;" colspan="2">&nbsp;</td>

				</tr>
				<tr>
					<td style="width:12mm;">&nbsp;</td>
					<td style="width:150mm;height:40mm;">
						<?php echo $this->address; ?>
					</td>
				</tr>
			</table>

		</td>
		<td class="col2 cell"></td>
		<td class="col3 cell"></td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" style="text-align: left;"></td>
		<td class="col2 cell" colspan="2" style="width:175mm;"></td>
	</tr>
	<tr class="rowb">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" style="width:118mm;"><b>STORNO Nr.: <?php echo $this->prefix; ?><?php echo $this->invoice_number; ?></b>
				<b>zur Rechnung Nr.: <?php echo $this->storned_invoice_number; ?></b> <!-- ISPC-2532 Lore 09.11.2020  -->
				</td>
		<td style="text-align: right; width:60mm;">
			<?php if(!empty($this->completed_date)): echo strftime('%A, %d. %B %Y', strtotime($this->completed_date)); else: echo strftime('%A, %d. %B %Y', strtotime($this->create_date)); endif; ?>
		</td>
	</tr>
 
	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2" border="1">
			<table  >
				<tr>
					<td width="25%" style="height: 30px;"><b>Leistungsempfänger:</b></td>
					<td width="43%" style="height: 30px;"><?php echo htmlspecialchars($this->patientdetails['first_name']); ?> <?php echo htmlspecialchars($this->patientdetails['last_name']); ?></td>
					<td width="16%" style="height: 30px;"></td>
					<td width="15%" style="height: 30px;"></td>
				</tr>
				<tr>
					<td style="height: 30px;">Geburtsdatum:</td>
					<td style="height: 30px;"><?php echo $this->patientdetails['birthd']; ?></td>
					<td style="height: 30px;"></td>
					<td style="height: 30px;"></td>
				</tr>
				<tr>
					<td style="height: 30px;">Vers-Nr.:</td>
					<td style="height: 30px;"><?php echo $this->insurance_no; ?></td>
					<td style="height: 30px;"></td>
					<td style="height: 30px;"></td>
				</tr>
			</table>
		</td>
	</tr>
 
	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2" height="2">&nbsp;</td>
	</tr>
	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2">
			<table style="font-size:10;"> 
				<tr>
					<th  width="15%" style="border-bottom:2px solid #000; font-style: italic; text-align:left;height: 30px;">Pauschale</th>
					<th  width="46%" style="border-bottom:2px solid #000; font-style: italic; text-align:left;height: 30px;">Leistung</th>
					<th  width="8%" style="border-bottom:2px solid #000; font-style: italic; text-align:right;height: 30px;">Anzahl</th>
					<th  width="15%" style="border-bottom:2px solid #000; font-style: italic; text-align:right;height: 30px;">Einzelpreis  &euro;</th>
					<th  width="15%" style="border-bottom:2px solid #000; font-style: italic; text-align:right;height: 30px;">Gesamtpreis &euro;</th>
				</tr>
				<?php foreach($this->items as $k_shortcut_item => $v_shortcut_values):  ?>
					<?php if($v_shortcut_values['custom'] != '2'): ?>
					<tr>
						 
						<?php if(!empty($v_shortcut_values['description']) && $v_shortcut_values['custom'] == '0' &&($v_shortcut_values['shortcut'] == 'pa13_' || $v_shortcut_values['shortcut'] == 'pc13_')): //non custom item description (location change pa12, pa13, pc12, pc13 ?>
							<td align="left" colspan="2">
								<?php echo $v_shortcut_values['description']; ?>
							</td>
							
						<?php else: ?>
							<td align="left" style="height: 30px; "> <?php if($v_shortcut_values['custom'] == '0'): echo $this->translate('shortcut_name_'.$v_shortcut_values['shortcut']); elseif($v_shortcut_values['custom'] == '1'): echo htmlspecialchars($v_shortcut_values['shortcut']); endif;  ?></td>
							<td align="left"  style="height: 30px; "><?php if($v_shortcut_values['custom'] == '0'): echo $this->translate('shortcut_description_'.$v_shortcut_values['shortcut']); else: echo htmlspecialchars($v_shortcut_values['description']); endif; ?></td>
						<?php endif; ?>
						<td align="right">
							<?php if(!empty($v_shortcut_values['percent'])): echo $v_shortcut_values['percent'].' %'; elseif(($k_shortcut_item == 'pa13' || $k_shortcut_item == 'pc13') && !empty($v_shortcut_values['qty'])): echo '+'.$v_shortcut_values['qty']; elseif(!empty($v_shortcut_values['qty'])): echo $v_shortcut_values['qty']; endif; ?>
						</td>
						
						<td align="right"><?php echo number_format($v_shortcut_values['price'], '2', ',', '.' ); ?></td>
						<td align="right"><?php echo number_format($v_shortcut_values['total'], '2', ',', '.');  ?></td>
					</tr>
 
						<?php foreach($v_shortcut_values['from_date'] as $k_period => $v_period): ?>
						<tr style="font-style: italic;">
							<?php if($k_period == '0'): ?>
							<td width="15%" style="height: 30px;text-align:left;border-bottom: 1px solid #000;" rowspan="<?php echo count($v_shortcut_values['from_date']); ?>">&nbsp;Begründung:</td>
							<?php endif; ?>
							<td style="height: 30px;text-align:left;<?php if(count($v_shortcut_values['from_date']) == ($k_period+1)): ?>border-bottom: 1px solid #000;<?php endif; ?>" colspan="4"><?php echo date('d.m.Y', strtotime($v_period));  ?> - <?php echo date('d.m.Y', strtotime($v_shortcut_values['till_date'][$k_period]));  ?></td>
						</tr>
						<?php endforeach; ?>	
					<?php endif; ?>							
				<?php endforeach;  ?>
				<?php if(!$this->previous_invoices): ?>
					<?php foreach($this->items as $k_shortcut_item => $prev_shortcut_values):  ?>
						<?php if($prev_shortcut_values['custom'] == '2'): ?>
						<tr>
							<td align="left" style="border-bottom: 1 solid #000;height: 30px;">&nbsp;</td>
							<td align="left"  style="border-bottom: 1 solid #000;height: 30px;width:225px;"><?php echo $prev_shortcut_values['description'];  ?></td>								
							<td align="right"  style="border-bottom: 1 solid #000;height: 30px;text-align: left;width:208px;"><?php echo date('d.m.Y', strtotime($prev_shortcut_values['from_date']));  ?> - <?php echo date('d.m.Y', strtotime($prev_shortcut_values['till_date']));  ?></td>
							<td align="right"  style="border-bottom: 1 solid #000;height: 30px;"><?php echo number_format($prev_shortcut_values['price'], '2', ',', '.');  ?></td>
							<td align="right"  style="border-bottom: 1 solid #000;height: 30px;"><?php echo number_format($prev_shortcut_values['total'], '2', ',', '.');  ?></td>
						</tr>
						<?php endif; ?>
					<?php endforeach; ?>
				<?php else: ?>
							
					<?php foreach($this->previous_invoices as $k_shortcut_previnv => $v_shortcut_previnv):  ?>
					<tr>
						<td align="left" style="border-bottom: 1 solid #000;height: 30px;">&nbsp;</td>
						<td align="left"  style="border-bottom: 1 solid #000;height: 30px;width:225px;"><?php echo $v_shortcut_previnv['description']; ?></td>
						<td align="right"  style="border-bottom: 1 solid #000;height: 30px;text-align: left;width:208px;"><?php echo $v_shortcut_previnv['from'].' - '.$v_shortcut_previnv['till']  ?></td>					
						<td align="right"  style="border-bottom: 1 solid #000;height: 30px;"><?php echo number_format($v_shortcut_previnv['price'], '2', ',', '.' ); ?></td>
						<td align="right"  style="border-bottom: 1 solid #000;height: 30px;"><?php echo number_format($v_shortcut_previnv['total'], '2', ',', '.');  ?></td>
					</tr>
					<?php endforeach;  ?>
				<?php endif; ?>
				<tr>
					<td colspan="2" style="border-top:3px solid #000;"> </td>
					<td colspan="2" style="border-top:3px solid #000;" align="right"><b>Rechnungsbetrag:</b></td>
					<td style="border-top:3px solid #000;" align="right"><b><?php echo number_format($this->invoice_total, '2', ',', '.');  ?></b></td>
				</tr>
			</table>
		</td>
	</tr>

	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2">
			Die abgerechneten Leistungen sind gemäß § 4 Nr. 14 UStG umsatzsteuerbefreit.
		</td>
	</tr>
	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2"><?php echo trim($this->footer); ?><br/></td>
	</tr>


	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2">&nbsp;</td>
	</tr>	

</table>