<table width="820" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td width="42%" height="23" align="left">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="370" align="left">
						<table width="370" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0" style="font-size:0.8em;">
							<tr>
								<td height="30" align="left" valign="top">
									<table width="370" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" height="18" align="left">&nbsp;</td>
											<td width="340" height="18" align="left" valign="top">Krankenkasse bzw. Kostenträger</td>
										</tr>
										<tr>
											<td  width="10"height="18" align="left">&nbsp;</td>
											<td width="340" height="18" align="left" valign="top"><? echo $this->krankenkasse ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="370" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" height="20">&nbsp;</td>
											<td width="210" height="20">Name, Vorname des Versicherten</td>
											<td height="20">&nbsp;</td>
											<td width="10" height="20">&nbsp;</td>
										</tr>
										<tr>
											<td width="10">&nbsp;</td>
											<td width="210"><? echo nl2br($this->patient_name); ?></td>
											<td height="30" align="left" valign="top">
												<table width="120" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="13" height="20" align="left" valign="top"></td>
														<td width="132" height="20" align="left" valign="top"></td>
														<td height="20">&nbsp;</td>
													</tr>
													<tr>
														<td width="13" height="20" align="left" valign="top">&nbsp;</td>
														<td height="20" align="left" valign="top">geb. am</td>
														<td width="5" height="20">&nbsp;</td>
													</tr>
													<tr>
														<td width="13" height="20">&nbsp;</td>
														<td height="20" colspan="2"><? echo $this->geb ?></td>
													</tr>
												</table>
											</td>
											<td width="10" height="30">&nbsp;</td>
										</tr>
									</table>

								</td>
							</tr>
							<tr>
								<td>
									<table width="370" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">Kassen-Nr.</td>
											<td width="1" height="18" align="left" valign="top" ></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="150" height="18" align="left" valign="top">Versicherten-Nr.</td>
											<td width="1" height="18" align="left" valign="top" ></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="120" height="18" align="left" valign="top">Status</td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $this->kassen_nr ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="150" height="18" align="left" valign="top"><? echo $this->versicherten_nr ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="120" height="18" align="left" valign="top"><? echo $this->status ?>&nbsp;</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="370" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" height="3" align="left" valign="top"></td>
											<td width="140" height="3" align="left" valign="top"></td>
											<td width="1" height="3" align="left" valign="top" ></td>
											<td width="5" height="3" align="left" valign="top"></td>
											<td width="100" height="3" align="left" valign="top"></td>
											<td width="1" height="3" align="left" valign="top" ></td>
											<td width="5" height="3" align="left" valign="top"></td>
											<td width="100" height="3" align="left" valign="top"></td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top">Betriebsstätten-Nr.</td>
											<td width="1" height="18" align="left" valign="top" ></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">Arzt-Nr.</td>
											<td width="1" height="18" align="left" valign="top" ></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">Datum</td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><? echo $this->betriebsstatten_nr ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $this->arzt_nr ?></td>
											<td width="1" height="18" align="left" valign="top" bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $this->topdatum ?></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td width="7" align="left">&nbsp;</td>
					<td width="360" align="left" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="right" style="font-size: 1.4em;" colspan="2"><strong>SAPV-Abrechnungsbogen</strong></td>
							</tr>
							<tr>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td align="right" width="42%">
									<strong>Abrechnungs-IK:</strong>
								</td>
								<td align="right" width="58%">
									<?php echo $this->client_ik; ?>
								</td>
							</tr>
							<tr>
								<td align="right" colspan="2">
									<table width="100%" border="0" cellspacing="0" cellpadding="0" style="height: 200px;">
										<tr>
											<td colspan="2">&nbsp;</td>
										</tr>
										<tr>
											<td width="5%">
												&nbsp;
											</td>
											<td width="95%">
												<table width="100%" border="1" cellspacing="0" cellpadding="0" >
													<tr>
														<td style="height: 115px;text-align: left;">
															<?php echo nl2br($this->stample); ?>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td align="left" colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td align="right" width="42%">
									<strong>Rechnungs-Nr.:</strong>
								</td>
								<td align="right" width="58%">
									<?php echo $this->prefix; ?> <?php echo $this->invoice_number; ?>
								</td>
							</tr>
							<?php if(!empty($this->completed_date)): ?>
<!--							<tr>
								<td align="right" colspan="2" >
									<?php if(!empty($this->completed_date)): echo strftime('%A, %d. %B %Y', strtotime($this->completed_date)); endif; ?>
								</td>
							</tr>-->
							<?php endif; ?>
							<tr>
								<td align="left" colspan="2">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<table width="101%" id="container_rp_invoice">
	<tr>
		<td colspan="2" width="210">
			<img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->sapv_erst==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />
			<strong>Erstverordnung</strong>
		</td>
		<td colspan="2"  width="190">
			<img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->sapv_folge==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />
			<strong>Folgeverordnung</strong>
		</td>
		<td colspan="3" width="180">
			vom: <?php echo $this->curent_sapv_from; ?>
		</td>
		<td colspan="3" width="160">
			bis: <?php echo $this->curent_sapv_till; ?>
		</td>
	</tr>
	<tr>
		<td colspan="10">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="2" width="210"><strong>Abrechnungszeitraum:</strong></td>
		<td colspan="3">
			<?php echo $this->invoice_date_from; ?>
			<strong>bis </strong>
			<?php echo $this->invoice_date_till; ?>
		</td>
		<td colspan="2" align="right">
			<strong>Diagnose(n)<br/> ICD-10:</strong>
		</td>
		<td colspan="3">
			<?php echo $this->main_diagnosis; ?>
		</td>
	</tr>
</table>
<!--Invoice products start -->
<table border="1" width="820" cellpadding="4" style="font-size:0.9em;">
	<thead>
		<tr>
			<th colspan="4" bgcolor="#d9d9d9" width="250" style="text-align: center;font-weight: bold;" >Gebührenposition</th>
			<th width="100" bgcolor="#d9d9d9" style="text-align: center;font-weight: bold;">Häusliches Umfeld</th>
			<th width="100" bgcolor="#d9d9d9" style="text-align: center;font-weight: bold;">Stat. Pflege-<br/>inrichtung</th>
			<th width="100" bgcolor="#d9d9d9" style="text-align: center;font-weight: bold;">Stat. Hospiz</th>
			<th width="70" bgcolor="#d9d9d9" style="text-align: center;font-weight: bold;">Anzahl</th>
			<th width="120" bgcolor="#d9d9d9" style="text-align: center;font-weight: bold;">Summe</th>
		</tr>
	</thead>
	<tbody>
		<?php $grand_total = '0.00'; ?>
		<?php foreach($this->shortcuts as $k_short => $v_short): ?>
				<tr>
					<th colspan="4" width="250">
						<?php echo $this->translate($v_short); ?>
					</th>
					<td width="100" style="text-align: center;">
						<?php echo number_format($this->items[$v_short]['price_gr']['p_home'], '2', ',', '.'); ?> EUR
					</td>
					<td width="100" style="text-align: center;">
						<?php echo number_format($this->items[$v_short]['price_gr']['p_nurse'], '2', ',', '.'); ?> EUR
					</td>
					<td width="100" style="text-align: center;">
						<?php if($this->items[$v_short]['price_gr']['p_hospiz'] != '0.00'): ?>
							<?php echo number_format($this->items[$v_short]['price_gr']['p_hospiz'], '2', ',', '.'); ?> EUR
						<?php else: ?>
							<?php echo '--------->'; ?>
						<?php endif; ?>
					</td>
					<td width="70" style="text-align: center;">
						<?php echo array_sum($this->items[$v_short]['qty_gr']); ?>
					</td>
					<td width="120" style="text-align: right;">
						<?php echo number_format(array_sum($this->items[$v_short]['total']), '2', ',', '.'); ?>  EUR
						<?php $grand_total = ($grand_total + array_sum($this->items[$v_short]['total'])); ?>
					</td>
				</tr>
			<?php endforeach; ?>
		<tr>
			<td colspan="7"  style="text-align: right; font-weight: bold;">Gesamtbetrag:</td>
			<td colspan="2"  style="text-align: right;"><?php echo number_format(($grand_total*(-1)), '2', ',', '.'); ?> EUR</td>
		</tr>
	</tbody>
</table>
<!--Invoice products end -->

<table width="740" style="font-size:0.9em;">
	<tr>
		<td colspan="6">Die vollständige Datenlieferung zur <?php echo $this->date_delivery; ?> übermittelt.</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="6">
			Wir bestätigen, dass die erbrachten und abgerechneten SAPV-Leistungen ausschließlich durch  sozialversicherungspflichtig beschäftigte Palliativpflegekräfte/sonstige Fachkräfte des SAPV-Leistungserbringers erbracht wurden.
		</td>
	</tr>
	<tr>
		<td colspan="6">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="6" style="border-bottom: 1px solid #000;">
			<?php echo $this->sig_date; ?> <?php echo $this->bottom_signature; ?>
		</td>
	</tr>
	<tr>
		<td colspan="6">Datum, Unterschrift</td>
	</tr>
</table>