<table class="table" id="invoice" cellspacing="2" cellpadding="2" width="700">

	<tr class="rowa">
		<td class="col1 cell"></td>
		<td class="col2 cell"></td>
		<td class="col3 cell"></td>
	</tr>
	<tr class="rowb">
		<td class="col1 cell" style="width: 85mm; height: 95mm;">
			<table style="width:100%">
				<tr>
					<td style="height: 43mm;" colspan="2">&nbsp;</td>

				</tr>
				<tr>
					<td style="width:12mm;">&nbsp;</td>
					<td style="width:150mm;height:40mm;">
							<?php echo $this->address; ?>
					</td>
				</tr>
			</table>

		</td>
		<td class="col2 cell"></td>
		<td class="col3 cell" style="width: 55mm; height: 95mm;">
			<table style="width:100%">
				<tr>
					<td style="height: 43mm;" colspan="2">&nbsp;</td>

				</tr>
				<tr>
					<td style="width:70mm;height:40mm;">
						<?php echo $this->user_details; ?>
						<?php if(strlen($this->control_number)>'0'): ?>
							<?php echo $this->translate('label_control_number'); ?> <?php echo $this->control_number; ?>
						<?php endif; ?>
					</td>
				</tr>
			</table>			
		</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" style="text-align: left;"></td>
		<td class="col2 cell" colspan="2" style="width:175mm;"></td>
	</tr>
	<tr class="rowb">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" style="width:118mm;" ><b>STORNO Nr.: <?php echo $this->prefix; ?><?php echo $this->invoice_number; ?></b>
				<b>zur Rechnung Nr.: <?php echo $this->storned_invoice_number; ?></b> <!-- ISPC-2532 Lore 09.11.2020  -->
		<br/><b>für Patient <?php echo htmlspecialchars($this->patientdetails['last_name']); ?>, <?php echo htmlspecialchars($this->patientdetails['first_name']); ?></b>
		</td>
		<td style="text-align: right; width:60mm;">
			<?php echo strftime('%A, %d. %B %Y', strtotime($this->completed_date));  ?>
		</td>
	</tr>


	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2" height="2">&nbsp;</td>
	</tr>
	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2" height="2">&nbsp;</td>
	</tr>

	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2">
			<table style="font-size: 9pt;">
				<tr>
					<th width="31%" style="border-bottom:1px solid #000;" ><b><?php echo $this->translate('item_date')?></b></th>
					<th width="10%" style="border-bottom:1px solid #000;" ><b><?php echo $this->translate('item_shortcut')?></b></th>
					<th width="35%" style="border-bottom:1px solid #000;" ><b><?php echo $this->translate('item_name')?></b></th>
					<th width="8%" style="border-bottom:1px solid #000;" ><b><?php echo $this->translate('item_ammount')?></b></th>
					<th width="12%" style="border-bottom:1px solid #000;" ><b><?php echo $this->translate('item_price')?></b></th>
					<th width="10%" style="border-bottom:1px solid #000;" ><b><?php echo $this->translate('item_total')?></b></th>
				</tr>
				<!--SPECIFIC PRODUCTS-->
					<?php foreach($this->invoice_items['total_sorted'] as $k_item=>$v_item): ?>
					<?php if(is_array($v_item)): ?>
						<?php foreach($v_item as $k_sub_item => $v_sub_item): ?>
						<?php if(!in_array($k_item, $this->delete_ids['sp_ids'])): ?>
						<tr>
							<td width="31%" style="border-bottom:1px dashed #ccc;" >
							<?php // print_r($this->invoice_items['dates'][$k_item][$k_sub_item]); ?>
							<?php foreach($this->invoice_items['dates'][$k_item][$k_sub_item] as $k_product => $v_date): ?>
								<?php if(count($v_date) < '2'): ?>
									<?php echo strftime("%a,", strtotime($v_date[0])).' '.date('d.m.Y', strtotime($v_date[0]));?><br />
								<?php else: ?>
									<?php echo strftime("%a,", strtotime($v_date[0])).' '.date('d.m.Y', strtotime($v_date[0]));?>
									<?php if(date('Y-m-d', strtotime(end($v_date))) != '1970-01-01'):?>
										- <?php echo strftime("%a,", strtotime(end($v_date))).' '.date('d.m.Y', strtotime(end($v_date)));?><br />
									<?php else: ?>
										<br />
									<?php endif; ?>
								<?php endif ?>
							<?php endforeach; ?>
							
							<?php if(count($this->invoice_items['start_hours'][$k_item])>'0'): ?>
								<?php foreach($this->invoice_items['start_hours'][$k_item] as $k_st => $v_st): ?>
										<?php echo date('H:i', strtotime($v_st)).' - '.date('H:i', strtotime($this->invoice_items['end_hours'][$k_item][$k_st])); ?> XZzxz<br />
								<?php endforeach; ?>
							<?php endif; ?>
							</td>
							<td width="10%"style="border-bottom:1px dashed #ccc;"><?php echo htmlspecialchars($this->invoice_items['code'][$k_item][$k_sub_item]); ?></td>
							<td width="35%" style="border-bottom:1px dashed #ccc;"><?php echo htmlspecialchars($this->invoice_items['name'][$k_item][$k_sub_item]); ?></td>
							<td width="8%" style="border-bottom:1px dashed #ccc;"><?php echo $this->invoice_items['qty'][$k_item][$k_sub_item]; ?></td>
							<td width="12%" style="border-bottom:1px dashed #ccc;"><?php echo $this->invoice_items['price'][$k_item][$k_sub_item]; ?>&euro;</td>
							<td width="10%" style="border-bottom:1px dashed #ccc;"><?php echo number_format(Pms_CommonData::str2num($v_item[$k_sub_item]), '2', ',', '.'); ?> &euro;</td>
						</tr>
						<?php endif; ?>
						<?php endforeach; ?>
					<?php else: ?>
						<?php if(!in_array($k_item, $this->delete_ids['dp_ids'])): ?>
				<!--DAY PRODUCTS-->
						<tr>
							<td width="31%" style="border-bottom:1px dashed #ccc;" >
							<?php if($this->invoice_items['type'][$k_item] != 'gr'): ?>
								<?php foreach($this->invoice_items['dates'][$k_item] as $k_product => $v_date_arr): ?>
									<?php if(strlen($v_date_arr)>'0'): ?>
										<?php echo strftime("%a,", strtotime($v_date_arr)).' '.date('d.m.Y', strtotime($v_date_arr));?><br />
									<?php endif; ?>
								<?php endforeach; ?>
										
								<?php if(count($this->invoice_items['start_hours'][$k_item])>'0'): ?>
									<?php foreach($this->invoice_items['start_hours'][$k_item] as $k_st => $v_st): ?>
											<?php echo date('H:i', strtotime($v_st)).' - '.date('H:i', strtotime($this->invoice_items['end_hours'][$k_item][$k_st])); ?> <?php echo $this->translate('hours_label'); ?><br />
									<?php endforeach; ?>
								<?php endif; ?>
							<?php else: ?>
								<?php if(strlen($this->invoice_items['dates'][$k_item][0])>'0'): ?>
									<?php echo strftime("%a,", strtotime($this->invoice_items['dates'][$k_item][0])).' '.date('d.m.Y', strtotime($this->invoice_items['dates'][$k_item][0])); ?>
								<?php endif; ?>
									
								<?php if(strlen(end($this->invoice_items['dates'][$k_item]))>'0' &&
										$this->invoice_items['dates'][$k_item][0] != end($this->invoice_items['dates'][$k_item]) && 
										date('Y-m-d', strtotime(end($this->invoice_items['dates'][$k_item]))) != '1970-01-01'): ?>
									- <?php echo strftime("%a,", strtotime(end($this->invoice_items['dates'][$k_item]))).' '.date('d.m.Y', strtotime(end($this->invoice_items['dates'][$k_item]))); ?>
								<?php endif; ?>
								<br />
							<?php endif; ?>
								
							
							</td>
							<td width="10%"style="border-bottom:1px dashed #ccc;"><?php echo htmlspecialchars($this->invoice_items['code'][$k_item]); ?></td>
							<td width="35%" style="border-bottom:1px dashed #ccc;"><?php echo htmlspecialchars($this->invoice_items['name'][$k_item]); ?></td>
							<td width="8%" style="border-bottom:1px dashed #ccc;"><?php echo $this->invoice_items['qty'][$k_item]; ?></td>
							<td width="12%" style="border-bottom:1px dashed #ccc;"><?php echo number_format(Pms_CommonData::str2num($this->invoice_items['price'][$k_item]), '2', ',','.'); ?> &euro;</td>
							<td width="10%" style="border-bottom:1px dashed #ccc;"><?php echo number_format(Pms_CommonData::str2num($v_item), '2', ',', '.'); ?> &euro;</td>
						</tr>
					<?php endif; ?>
					<?php endif; ?>

                                    <?php endforeach; ?>

				<tr>
						<td colspan="5" style="text-align: right; border-top:1px solid #000;"><b><?php echo $this->translate('item_overall_sume')?>:</b>&nbsp;&nbsp;&nbsp;</td>
						<!-- <td style="border-top:1px solid #000;text-align: right;"><b><?php if(strlen($this->grand_total) != '0'): echo number_format(Pms_CommonData::str2num($this->grand_total), '2', ',', '.'); else: echo number_format($invoice_total, '2', ',', '.'); endif;  ?> &euro;</b></td>-->
						<td style="border-top:1px solid #000;text-align: right;"><b><?php if(strlen($this->grand_total) != '0'): echo number_format($this->grand_total, '2', ',', '.'); else: echo number_format($invoice_total, '2', ',', '.'); endif;  ?> &euro;</b></td>
				</tr>
			</table>
		</td>
	</tr>

	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2">

		</td>
	</tr>
	<tr class="rowa">
		<td style="width:13mm;">&nbsp;</td>
		<td class="col1 cell" colspan="2"><?php echo trim($this->sapv_footer); ?><br/></td>
	</tr>
</table>