<?php $patients_locations = $this->patients_locations; ?>

<table>
	<tr>
		<td style="font-size: 1.4em;" colspan="2">
			<h1><?php echo $this->meeting_name; ?></h1>
		</td>
	</tr>
	<tr>
		<td style="font-size: 1.1em;" colspan="2">
			<?php echo $this->meeting_date_pdf; ?>
		</td>
	</tr>
	<tr>
		<td width="90"><?php echo $this->translate('patients from location: '); ?></td>
		<? if($this->patients_location == "0"):?>
			<td width="300"><? echo $this->translate('Show patients from all locations'); ?></td>
		<? else: ?>
			<td width="300"><? echo $this->location_details[$this->patients_location]['location']; ?></td>
		<? endif; ?>
	</tr>
</table>
<table cellpadding="2" cellspacing="0" width="1400" border="1" style="font-size: 1.1em;">
	<tr>
		<td width="250"><strong><?php echo $this->translate('patient_name_and_contact'); ?></strong></td>
		<td width="80"><strong><?php echo $this->translate('dob'); ?></strong></td>
		<td width="180"><strong><?php echo $this->translate('maindiagnosis'); ?></strong></td>
		<?php if($this->showTodoColumn) : ?> 	<!--  ISPC-2681 Lore 13.10.2020  -->	
            <td width="45"><strong><?php echo $this->translate('team_send_todo'); ?></strong></td>
        <?php endif; ?>
        
        <?php if ($this->showXTcolumn) : /*ISPC-2138*/ ?>
			<td width="40"><strong><?php echo $this->translate('team_verlauf'); ?></strong></td>
        <?php endif; ?>
	
        <!-- ISPC-2896 Lore 23.04.2021 -->
		<?php if ($this->show_treatment_process) : ?>
				<td width="90"><strong><?php echo $this->translate('team_problems'); ?></strong></td>
		<?php endif;?>
			
		<?php if ($this->showTargetsColumn) :?>	<!--  ISPC-2681 Lore 13.10.2020  -->
			<td width="90"><strong><?php echo $this->translate('team_targets'); ?></strong></td>		
		<?php endif; ?>	
		
		<?php if($this->show_TODO_row) : ?> 									<!-- ISPC-2681 Lore 13.10.2020 -->	
            <td width="90"><strong><?php echo $this->translate('team_todo'); ?></strong></td>
		<?php endif; ?>	
		
		<!-- ISPC-2896 Lore 19.04.2021 -->
		<?php if ($this->show_problems) : ?>
			<td width="90"><strong><?php echo $this->translate('current_situation'); ?></strong></td>
			<td width="90"><strong><?php echo $this->translate('hypothesis_problem'); ?></strong></td>
			<td width="90"><strong><?php echo $this->translate('measures_problem'); ?></strong></td>
        <?php endif;?>
        		
		<? if($this->status_team == "1"): ?>
			<td width="70"><strong><?php echo $this->translate('status'); ?></strong></td>
		<? endif; ?>
    
        <?php /* i've taken the 50px from XT column and donated then to this column */ ?>
		<td width="<?=($this->showXTcolumn ? 130 : 150)?>"><strong><?php echo $this->translate('team_assigned_users'); ?></strong></td>
	</tr>
	<?php if($this->active_patients): ?>
		<?php $i = 1; ?>
		<?php foreach($this->active_patients as $active_ipid => $active_details): ?>
			<?php if($this->meeting_details['details'][$active_ipid]): ?>
				<?php foreach($this->meeting_details['details'][$active_ipid] as $k_detail => $v_detail): ?>
					<tr style="page-break-inside:avoid;">
						<?php if($k_detail == '0'): ?>
							<td rowspan="<?php echo count($this->meeting_details['details'][$active_ipid]); ?>"><table width="100%" cellpadding="0" cellspacing="">
									<!-- Patient name-->
									<tr>
										<td style="border-bottom: 1px solid #000;" >
										<b><?php echo htmlentities($active_details['last_name'], ENT_COMPAT, 'UTF-8'); ?><?php if($active_details['first_name']): ?>,<?php endif; ?> <?php echo htmlentities($active_details['first_name'], ENT_COMPAT, 'UTF-8'); ?></b>
										</td>
									</tr>
					
									<!-- Adress -->
									<tr>
										<td>
											<?php if(!$patients_locations[$active_ipid]): ?>
												<?php echo $active_details['street1']; if(strlen($active_details['street1'])): ?><br /><?php endif; ?>
												<?php echo $active_details['zip']; if(strlen($active_details['zip'])): ?>, <?php endif; echo $active_details['city']; if(strlen($active_details['zip'])>'0' || strlen($active_details['city'])>'0'):?><br /><?php endif; ?>
												<?php echo $active_details['phone']; ?>
											<?php else: ?>
												<?php echo $patients_locations[$active_ipid]; ?>
											<?php endif; ?>
										</td>
									</tr>
									<!-- Contact number-->
									<? if(strlen($active_details['kontactnumber']) > 0):?>
										<tr>
											<td style="border-top: 1px solid #000;">
												Kontakt-Telefonnummer: <?php echo $active_details['kontactnumber']; ?>
											</td>
										</tr>
									<?php endif; ?>	
					
									<!-- Assigned users-->
									<?php if(!empty($this->assigend_data[$active_ipid]) ):?>
										<tr>
											<td><table  width="100%">
												<?php foreach ($this->assigend_data[$active_ipid] as $udata):?>
													<tr>
														<td style="border-top: 1px solid #000;"><?php echo $udata['name']?>
														<? if(!empty($udata['phone'])):?><br/>Telefon: <?php echo $udata['phone']?><?endif;?>
														<? if(!empty($udata['mobile'])):?><br/>Mobiltelefon: <?php echo $udata['mobile']?><?endif;?></td>
													</tr>  
												<?php  endforeach; ?>
												</table>
											</td>
										</tr>
									<?php endif; ?>
							</table>
							</td>
							<td rowspan="<?php echo count($this->meeting_details['details'][$active_ipid]); ?>">
								<?php if($active_details['PatientMaster']['birthd'] != "0000-00-00"): ?>
									<?php echo date('d.m.Y', strtotime($active_details['PatientMaster']['birthd'])); ?>
								<?php endif; ?>
							</td>
							<td rowspan="<?php echo count($this->meeting_details['details'][$active_ipid]); ?>">
								<?php echo implode ('; ', $this->patients_diagnosis[$active_ipid]); ?>
							</td>
						<?php endif; ?>
						
						<?php if($this->showTodoColumn) : ?> 	<!--  ISPC-2681 Lore 13.10.2020  -->
							<td>
								<img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($v_detail['send_todo'] == 1): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" />
							</td>
						<?php endif; ?>	

                        <?php if ($this->showXTcolumn) : /*ISPC-2138*/ ?>
						<td>
							<img src="<?php echo PUBLIC_PATH;?>/images/<?php if ($v_detail['verlauf'] == 1): ?>check02.jpg<?php else: ?>check01.jpg<?php endif; ?>" />
						</td>
                        <?php endif; ?>
						
            <!-- ISPC-2896 Lore 23.04.2021 -->
			<?php if ($this->show_treatment_process) : ?>
						<td>
							<?php echo htmlentities($v_detail['problem'], ENT_COMPAT, 'UTF-8'); ?>								
						</td>
			<?php endif;?>
			
						<?php if ($this->showTargetsColumn) :?>	<!--  ISPC-2681 Lore 13.10.2020  -->
							<td> 
								<?php echo htmlentities($v_detail['targets'], ENT_COMPAT, 'UTF-8'); ?>								
							</td>
                        <?php endif; ?>
                        
						<?php if($this->show_TODO_row) : ?> 	<!-- ISPC-2681 Lore 13.10.2020 -->	
							<td>
								<?php echo htmlentities($v_detail['todo'], ENT_COMPAT, 'UTF-8'); ?>								
							</td>
						<?php endif; ?>
						
						<!-- ISPC-2896 Lore 19.04.2021 -->
						<?php if ($this->show_problems) : ?>
							<td><?php echo htmlentities($v_detail['current_situation'], ENT_COMPAT, 'UTF-8'); ?></td>
							<td><?php echo htmlentities($v_detail['hypothesis_problem'], ENT_COMPAT, 'UTF-8'); ?></td>
							<td><?php echo htmlentities($v_detail['measures_problem'], ENT_COMPAT, 'UTF-8'); ?></td>
				        <?php endif;?>
				        						
						<? if($this->status_team == "1"): ?>
		                  <td>  <?php echo $this->status_name[$v_detail['status']];   ?> </td>
		                <? endif; ?>
						<td>
							<?php if(count($this->meeting_details['assigned_users'][$active_ipid][$v_detail['row']]) > '0'): ?>
								<?php $u_name =""; ?>
								<?php $incru = 1; ?>
								<?php $usr_count = count($this->meeting_details['assigned_users'][$active_ipid][$v_detail['row']]); ?>
								<?php foreach($this->meeting_details['assigned_users'][$active_ipid][$v_detail['row']] as $k_usr => $v_usr): ?>
									<!-- 	<?php
										 
										$u_name = $this->client_users[$v_usr]['last_name'];
										if(strlen($this->client_users[$v_usr]['first_name']) >0){
											$u_name .= ", ".$this->client_users[$v_usr]['first_name'];
										}

										echo trim($u_name).';'; 
										?>	
										 -->
										 <!-- ISPC-2681 Lore 06.11.2020 -->		
										<tr>
											<td <?php if($usr_count != $incru): ?><?php endif; ?>> 
												<?php echo $this->client_users_flat[$v_usr]; ?>
											</td>
											
										</tr>								
								<?php $incru++; ?>
								<?php endforeach; ?>
							<?php endif; ?>
						</td>
					</tr>
				<?php endforeach; ?>
			<?php else: ?>
				<tr  style="page-break-inside:avoid;">
					<td><table width="100%" cellpadding="0" cellspacing="">
						<!-- Patient name-->
						<tr>
							<td style="border-bottom: 1px solid #000;" >
							<b><?php echo htmlentities($active_details['last_name'], ENT_COMPAT, 'UTF-8'); ?><?php if($active_details['first_name']): ?>,<?php endif; ?> <?php echo htmlentities($active_details['first_name'], ENT_COMPAT, 'UTF-8'); ?></b>
							</td>
						</tr>
					
						<!-- Adress -->
						<tr>
							<td>
								<?php if(!$patients_locations[$active_ipid]): ?>
									<?php echo $active_details['street1']; if(strlen($active_details['street1'])): ?><br /><?php endif; ?>
									<?php echo $active_details['zip']; if(strlen($active_details['zip'])): ?>, <?php endif; echo $active_details['city']; if(strlen($active_details['zip'])>'0' || strlen($active_details['city'])>'0'):?><br /><?php endif; ?>
									<?php echo $active_details['phone']; ?>
								<?php else: ?>
									<?php echo $patients_locations[$active_ipid]; ?>
								<?php endif; ?>
							</td>
						</tr>
					
						<!-- Contact number-->
						<? if(strlen($active_details['kontactnumber']) > 0):?>
							<tr>
								<td style="border-top: 1px solid #000;">
									Kontakt-Telefonnummer: <?php echo $active_details['kontactnumber']; ?>
								</td>
							</tr>
						<?php endif; ?>	
					
						<!-- Assigned users-->
						<?php if(!empty($this->assigend_data[$active_ipid]) ):?>
							<tr>
								<td><table  width="100%">
									<?php foreach ($this->assigend_data[$active_ipid] as $udata):?>
										<tr>
											<td style="border-top: 1px solid #000;"><?php echo $udata['name']?>
											<? if(!empty($udata['phone'])):?><br/>Telefon: <?php echo $udata['phone']?><?endif;?>
											<? if(!empty($udata['mobile'])):?><br/>Mobiltelefon: <?php echo $udata['mobile']?><?endif;?></td>
										</tr>  
									<?php  endforeach; ?>
									</table>
								</td>
							</tr>
						<?php endif; ?>
					
					
					
					</table>
					
					
						
									
						
		
					</td>
					<td>
						<?php if($active_details['PatientMaster']['birthd'] != "0000-00-00"): ?>
							<?php echo date('d.m.Y', strtotime($active_details['PatientMaster']['birthd'])); ?>
						<?php endif; ?>
					</td>
					<td>
						<?php echo implode ('; ', $this->patients_diagnosis[$active_ipid]); ?>
					</td>

					<?php if($this->showTodoColumn) : ?> 	<!--  ISPC-2681 Lore 13.10.2020  -->
						<td>
                            <img src="<?php echo PUBLIC_PATH;?>/images/check01.jpg" />
						</td>
					<?php endif; ?>	
					
                    <?php if ($this->showXTcolumn) : /*ISPC-2138*/ ?>
					<td>
						<img src="<?php echo PUBLIC_PATH;?>/images/check01.jpg" />
					</td>
                    <?php endif; ?>

            <!-- ISPC-2896 Lore 23.04.2021 -->
			<?php if ($this->show_treatment_process) : ?>
					<td>	<!-- team_problems -->
						&nbsp;
					</td>
			<?php endif;?>
								
					<?php if ($this->showTargetsColumn) :?>	<!--  ISPC-2681 Lore 13.10.2020  -->
						<td>	
							&nbsp;
						</td>
					<?php endif; ?>	
					
					<?php if($this->show_TODO_row) : ?> 	<!-- ISPC-2681 Lore 13.10.2020 -->	
						<td>	
							&nbsp;
						</td>
					<?php endif; ?>	
					
					<!-- ISPC-2896 Lore 19.04.2021 -->
					<?php if ($this->show_problems) : ?>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
			        <?php endif;?>
			        					
					<? if($this->status_team == "1"): ?>
		                <td>
						  &nbsp;
					    </td>
		           <? endif; ?>
					
					<td>
						&nbsp;
					</td>
				</tr>
			<?php endif; ?>
			<?php $i++; ?>
		<?php endforeach; ?>
		
	<?php endif; ?>
</table>