<?php

$verordnungsrelevante_diagnose = explode("|#|", wordwrap($this->verordnungsrelevante_diagnose, "130", "|#|"));

$diagno_count = count($verordnungsrelevante_diagnose) ;
if(!empty($this->aktuelle_medikation))
{
	$aktuelle_medications = str_replace("\n","     ",$this->aktuelle_medikation);
}

$medications = explode("|#|", wordwrap($aktuelle_medications, "130", "|#|"));
$aktuelle_medications = explode("|#|", wordwrap($aktuelle_medications,"130","|#|")) ;
$medic_count = count($aktuelle_medications);

$nahere_beschreibung  = explode("|#|", wordwrap($this->nahere_beschreibung, "130", "|#|"));
$nahere_bes_count = count($nahere_beschreibung);

$mit_folgender_inhaltlicher = explode("|#|", wordwrap($this->mit_folgender_inhaltlicher,"130","|#|"));
$mit_folgender_count = count($mit_folgender_inhaltlicher);

$nahere_angaben_zu_den_notwendigen = explode("|#|",wordwrap($this->nahere_angaben_zu_den_notwendigen,"90","|#|"));
$nahere_angaben_count = count($nahere_angaben_zu_den_notwendigen);

?>

<table width="820" align="center" cellpadding="0" cellspacing="1">
	<tr>
		<td colspan="2" align="left"><table width="100%" border="0"
				cellspacing="0" cellpadding="0"
				style="font-family: Arial, Helvetica, sans-serif;">
				<tr>
					<td width="350" align="left"><table width="350" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0" style="font-size: 12px;">
							<tr>
								<td height="30" align="left" valign="top"><table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" height="18" align="left">&nbsp;</td>
											<td width="340" height="18" align="left" valign="top">Krankenkasse bzw. Kostenträger</td>
										</tr>
										<tr>
											<td width="10" height="18" align="left">&nbsp;</td>
											<td width="340" height="18" align="left" valign="top">
												<? echo $this->krankenkasse ?>
											</td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td><table width="350" border="0" cellspacing="0"
										cellpadding="0">
										<tr>
											<td width="10" height="20">&nbsp;</td>
											<td width="210" height="20">Name, Vorname des Versicherten</td>
											<td height="20">&nbsp;</td>
											<td width="10" height="20">&nbsp;</td>
										</tr>
										<tr>
											<td width="10">&nbsp;</td>
											<td width="210" height="30">
												<? echo nl2br($this->patient_name); ?>
											</td>
											<td height="30" align="left" valign="top"><table width="120" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="13" height="20" align="left" valign="top"></td>
														<td width="132" height="20" align="left" valign="top"></td>
														<td height="20">&nbsp;</td>
													</tr>
													<tr>
														<td width="13" height="20" align="left" valign="top">&nbsp;</td>
														<td height="20" width="60" align="left" valign="top">geb.am</td>
														<td width="5" height="20">&nbsp;</td>
													</tr>
													<tr>
														<td width="13" height="20">&nbsp;</td>
														<td height="20" colspan="2">
															<? echo $this->geb ?>
														</td>
													</tr>
												</table></td>
											<td width="10" height="30">&nbsp;</td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td><table width="350" border="0" cellspacing="0"
										cellpadding="0">
										<tr>
											<td width="10" height="22" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">Kassen-Nr.</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="150" height="18" align="left" valign="top">Versicherten-Nr.</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="120" height="18" align="left" valign="top">Status</td>
										</tr>
										<tr>
											<td width="10" height="22" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">
												<? echo $this->kassen_nr ?>
											</td>
											<td width="1" height="18" align="left" valign="top"
												bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="150" height="18" align="left" valign="top">
												<? echo $this->versicherten_nr ?>
											</td>
											<td width="1" height="18" align="left" valign="top"
												bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="120" height="18" align="left" valign="top">
												<? echo $this->status ?>&nbsp;
											</td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td><table width="350" border="0" cellspacing="0"
										cellpadding="0">

										<tr>
											<td width="10" height="22" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top">Betriebsstätten-Nr.</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">Arzt-Nr.</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">Datum</td>
										</tr>
										<tr>
											<td width="10" height="22" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top">
												<? echo $this->betriebsstatten_nr ?>
											</td>
											<td width="1" height="18" align="left" valign="top"
												bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">
												<? echo $this->arzt_nr ?>
											</td>
											<td width="1" height="18" align="left" valign="top"
												bgcolor="#000000"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">
												<? echo $this->topdatum ?>
											</td>
										</tr>
									</table></td>
							</tr>
						</table></td>
					<td width="17" align="left">&nbsp;</td>
					<td width="457" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="94%" height="32" align="left" valign="top"><font style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 23px;">Verordnung spezialisierter <br /> ambulanter Palliativversorgung (SAPV)</font></td>
											<td width="6%" height="32" align="right" valign="top"><font style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 23px;">63</font></td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td height="15" align="left">&nbsp;</td>
							</tr>
							<tr>
								<td align="left"><table width="100%" border="0"
										cellspacing="0" cellpadding="0">
										<tr>
											<td width="5%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->fe_verordnung=='erst'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>"/></td>
											<td width="29%" height="28" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">Erst-<br />verordnung</font></td>
											<td width="5%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->fe_verordnung=='folge'){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>"	/></td>
											<td width="61%" height="28" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">Folge-<br />verordnung</font></td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td align="left">&nbsp;</td>
							</tr>
							<tr>
								<td align="left"><table width="100%" border="0"
										cellspacing="0" cellpadding="0">
										<tr>
											<td width="5%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->unfall_unfallfolgen==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
											<td width="95%" height="30" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">Unfall<br />Unfallfolgen</font></td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td align="left" height="16">&nbsp;</td>
							</tr>
							<tr>
								<td align="left" height="25"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="40" height="15" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">vom</font></td>
								<td width="110" height="15" style="border-left: 1px solid #000;" ><table width="100%" border="1" cellspacing="0" cellpadding="0">
				 <tr>
                <td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12pt;"><? if(!empty($this->vom)):?><? echo substr(date('d',strtotime($this->vom)),0,1); ?> <? endif;?></font></td> 
				
				<td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12pt;"><? if(!empty($this->vom)):?><? echo substr(date('d',strtotime($this->vom)),1); ?> <? endif;?></font></td>
				
				<td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12pt;"><? if(!empty($this->vom)):?><? echo substr(date('m',strtotime($this->vom)),0,1); ?> <? endif;?></font></td>
				
				<td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12pt;"><? if(!empty($this->vom)):?><? echo substr(date('m',strtotime($this->vom)),1); ?> <? endif;?></font></td>
				
				<td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12pt;"><? if(!empty($this->vom)):?><? echo substr(date('y',strtotime($this->vom)),0,1); ?> <? endif;?></font></td>
				
				<td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12pt;"><? if(!empty($this->vom)):?><? echo substr(date('y',strtotime($this->vom)),1); ?> <? endif;?></font></td>
               </tr>
							</table></td>

				<!--  <td width="43%" align="left"><font style="font-family:Arial, Helvetica, sans-serif;   font-size:14px; "><? echo $this->vom ?>&nbsp;</font></td> -->
				 	<td width="40" height="15" align="left">&nbsp;</td>
					<td width="30" height="15" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">bis</font></td>
					<td width="110" height="15" style="border-left: 1px solid #000;" ><table width="100%" border="1" cellspacing="0" cellpadding="0">
				 <tr>
                <td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12pt;"><? if(!empty($this->bis)):?><? echo substr(date('d',strtotime($this->bis)),0,1); ?> <? endif;?></font></td>
				
				<td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif; font-size:12pt;"><? if(!empty($this->bis)):?><? echo substr(date('d',strtotime($this->bis)),1); ?> <? endif;?></font></td>
				
				<td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12pt;"><? if(!empty($this->bis)):?><? echo substr(date('m',strtotime($this->bis)),0,1); ?> <? endif;?></font></td>
				
				<td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12t;"><? if(!empty($this->bis)):?><? echo substr(date('m',strtotime($this->bis)),1); ?> <? endif;?></font></td>
				
				<td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12pt;"><? if(!empty($this->bis)):?><? echo substr(date('y',strtotime($this->bis)),0,1); ?> <? endif;?></font></td>
				
				<td width="17" align="center" ><font style="font-family:Arial, Helvetica, sans-serif;  font-size:12pt;"><? if(!empty($this->bis)):?><? echo substr(date('y',strtotime($this->bis)),1); ?> <? endif;?></font></td>					</tr>
					</table></td>
			
					</tr>
					</table></td>
					</tr>
						</table></td>
				</tr>
			</table></td>
	</tr>
	<tr>
		<td height="2" align="left" colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td height="10" align="left" width="5%"></td>
		<td align="left" height="10" width="95%"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><strong>Verordnungsrelevante Diagnose(n)</strong> (ICD-10; ggf. Organmanifestationen) </font></td>
	</tr>
	<tr>
		<td height="15" align="left" width="5%"></td>
		<td align="left" height="15" width="95%">
			<table width="778" cellspacing="0" cellpadding="0">
				<?php if($this->verordnungsrelevante_diagnose): ?>
				<tr>
					<td width="778" height="7" align="left"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
							<? echo $verordnungsrelevante_diagnose[0] ?>
					</font></td>
				</tr>
				<tr>
					<td width="778" height="7" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>
				<tr>
					<td width="778" height="7" align="left"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
							<? echo $verordnungsrelevante_diagnose[1] ?>
					</font></td>
				</tr>
				<tr>
					<td width="778" height="7" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>

				<?php else: ?>
				<tr>
					<td align="left" width="778" height="5"> </td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" />&nbsp;</td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>
				<?php endif; ?>

			</table>
		</td>
	</tr>

	<tr>
		<td height="15" align="left" width="5%"></td>
		<td height="15" align="left" width="95%"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">Die 	Krankheit ist nicht heilbar, sie ist fortschreitend und weit fortgeschritten.</font></td>
	</tr>
	<tr>
		<td height="23" align="left" width="5%"></td>
		<td height="23" align="left" width="95%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="35%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="20" align="left" valign="top"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><strong>Komplexes Symptomgeschehen</strong></font></td>
							</tr>
							<tr>
								<td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ausgepragte_urogenitale_symptomatik==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
											<td width="90%" height="20" align="left" valign="top" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">ausgeprägte urogenitale <br /> Symptomatik</font></td>
										</tr>
										<tr>
											<td width="10%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ausgepragte_ulzerierende_exulzerierende==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
											<td width="90%" height="20" align="left" valign="top" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">ausgeprägte ulzerierende /<br /> exulzerierende Wunden oder Tumore</font></td>
										</tr>
									</table></td>
							</tr>
						</table></td>
					<td width="38%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="10%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ausgepragte_schmerzsymptomatik==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
								<td width="90%" height="20" align="left" valign="top" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">ausgeprägte<br />Schmerzsymptomatik</font></td>
							</tr>
							<tr>
								<td width="10%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ausgepragte_respiratorische==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"	/></td>
								<td width="90%" height="20" align="left" valign="top" bgcolor="#FFFFFF"><font
									style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">ausgeprägte respiratorische /<br /> kardiale Symptomatik</font></td>
							</tr>
							<tr>
								<td width="10%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ausgepragte_neurologische_psychiatrische==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
								<td width="90%" align="left" valign="top" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">ausgeprägte neurologische /<br /> psychiatrische / psychische Symptomatik	</font></td>
							</tr>
						</table></td>
					<td width="27%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="10%" align="left" valign="top">&nbsp;</td>
								<td width="90%" height="20" align="left" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
							</tr>
							<tr>
								<td width="10%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->ausgepragte_gastrointestinale_symptomatik==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
								<td width="90%" height="20" align="left" bgcolor="#FFFFFF"><font
									style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">ausgeprägte gastrointestinale<br />Symptomatik</font></td>
							</tr>
							<tr>
								<td width="10%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->sonstiges_komplexes_symptomgeschehen==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
								<td width="90%" height="20" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">sonstiges komplexes<br />Symptomgeschehen</font></td>
							</tr>

						</table></td>
				</tr>
			</table></td>
	</tr>

	<tr>
		<td height="20" align="left" width="5%"></td>
		<td height="20" align="left" width="95%">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><strong>Nähere Beschreibung</strong> des komplexen Symptomgeschehens und des besonderen Versorgungsbedarfs zur Begründung, warum spezialisierte ambulante Palliativversorgung notwendig ist (z. B. therapierefraktäre Schmerzen, Ruhedyspnoe / Erstickungsanfälle, nicht beherrschbares Erbrechen / Durchfälle)</font></td>

				</tr>
				<?php if($this->nahere_beschreibung): ?>
				<tr>
					<td height="7" align="left" width="778"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
							<? echo $nahere_beschreibung[0] ?>
					</font></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>
				<tr>
					<td height="7" align="left" width="778"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
							<? echo $nahere_beschreibung[1] ?>
					</font></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>

				<?php else: ?>
				<tr>
					<td align="left" width="778" height="6"> </td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" />&nbsp;</td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /> </td>
				</tr>
				<?php endif; ?>
			</table>
		</td>
	</tr>
	
	<tr>
		<td height="70" align="left" width="5%"></td>
		<td align="left" width="95%">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="778" align="left" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><strong>Aktuelle Medikation</strong> (ggf. einschließlich BtM) </font></td>
				</tr>
				<?php if($this->aktuelle_medikation): ?>
				<tr>
					<td align="left" width="778" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 800">
							<? echo str_replace(" ","&nbsp;",$medications[0]) ?>
					</font></td>
				</tr>
				<tr>
					<td align="left" width="778"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 800">
							<? echo str_replace(" ","&nbsp;",$medications[1]) ?>
					</font></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 800">
							<? echo str_replace(" ","&nbsp;",$medications[2]) ?>
					</font></td>
				</tr>
				<tr>
					<td align="left" width="778"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 800">
							<? echo str_replace(" ","&nbsp;",$medications[3]) ?>
					</font></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>
				
				<?php else: ?>
				<tr>
					<td align="left" width="778" height="6"> </td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" />&nbsp;</td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" />&nbsp;</td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" />&nbsp;</td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" />&nbsp;</td>
				</tr>
				<?php endif;?>
			</table>
		</td>
	</tr>

	<tr>
		<td height="30" align="left" width="5%"></td>
		<td height="30" align="left" width="95%"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><strong>Folgende Maßnahmen sind notwendig</strong></font></td>
	</tr>
	<tr>
		<td height="23" align="left" width="5%"></td>
		<td height="23" align="left" width="95%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="24%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="14%" height="26" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->folgende_beratung==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
								<td width="86%" height="26" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">Beratung</font></td>
							</tr>
							<tr>
								<td height="50" align="left">&nbsp;</td>
								<td height="50" align="left" bgcolor="#FFFFFF">&nbsp;</td>
							</tr>
						</table></td>
					<td width="36%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="12%" height="26" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->des_behandelnden_arztes==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"	/></td>
								<td width="7%" height="26" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">a.</font></td>
								<td width="81%" height="26" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">des behandelnden Arztes</font></td>
							</tr>
							<tr>
								<td width="12%" height="26" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->der_behandelnden_pflegefachkraft==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
								<td width="7%" height="26" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">b.</font></td>
								<td width="81%" height="26" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">der behandelnden Pflegefachkraft </font></td>
							</tr>
							<tr>
								<td width="12%" height="26" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->des_patienten_der_angehorigen==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
								<td width="7%" height="26" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">c.</font></td>
								<td width="81%" height="26" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">des Patienten / der Angehörigen</font></td>
							</tr>
						</table></td>
					<td width="40%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="7%" height="26" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->koordination_der_palliativversorgung==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"	/></td>
								<td width="93%" height="26" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">Koordination der Palliativversorgung</font></td>
							</tr>
							<tr>
								<td height="30" align="left">&nbsp;</td>
								<td height="30" align="left" bgcolor="#FFFFFF">&nbsp;</td>
							</tr>
						</table></td>
				</tr>
			</table></td>
	</tr>

	<tr>
		<td height="25" align="left" width="5%"></td>
		<td height="25" align="left" width="95%">
			<table>
				<tr>
					<td height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">mit folgender inhaltlicher Ausrichtung (Gegenstand, Häufigkeit, evtl. Beratung für Sonstige)</font></td>
							
				</tr>
				<?php if($this->mit_folgender_inhaltlicher): ?>

				<tr>
					<td height="7" align="left" width="778"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
							<? echo $mit_folgender_inhaltlicher[0] ?>
					</font></td>
				</tr>
				<tr>
					<td align="left" width="778"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
							<? echo $mit_folgender_inhaltlicher[1] ?>
					</font></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 800">
							<? echo $mit_folgender_inhaltlicher[2] ?>
					</font></td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" /></td>
				</tr>

				<?php else: ?>
				<tr>
					<td align="left" width="778" height="6"> </td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" />&nbsp;</td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" />&nbsp;</td>
				</tr>
				<tr>
					<td align="left" width="778" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="778" height="0.1" />&nbsp;</td>
				</tr>
				<?php endif; ?>
			</table>
		</td>
	</tr>

	<tr>
		<td height="45" align="left" width="5%"></td>
		<td height="45" align="left" width="95%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="32%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="13%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->additiv_unterstutzende_teilversorgung==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/></td>
								<td width="87%" height="45" align="left" valign="top" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">Additiv unterstützende<br /> Teilversorgung
								</font></td>
							</tr>
						</table></td>
					<td width="32%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="13%" align="left"><img src="<?php echo PUBLIC_PATH;?>/images/<? if($this->vollstandige_versorgung==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
								<td width="87%" height="45" align="left" valign="top" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">Vollständige<br />Versorgung
								</font></td>
							</tr>
						</table></td>
					<td width="37%" align="left" valign="top">
					
						<?php if($this->sapv_bra_options): ?>
						<table width="100%" border="1" cellspacing="0" cellpadding="0">
							<tr>
								<td colsapn="4" align="left"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">Verordnete Leistungen: </font></td>
							</tr>
							<tr>
								<td colsapn="4" align="left"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
										<? echo implode(", ",$this->bra_options);?>
								</font></td>
							</tr>
						</table> <?php endif; ?>
					</td>
				</tr>
			</table></td>
	</tr>

	<tr>
		<td height="20" align="left" width="5%"></td>
		<td height="20" align="left" width="95%"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><strong>Nähere Angaben zu den notwendigen Maßnahmen der SAPV</strong></font></td>
					
	</tr>
	<tr style="page-break-inside: avoid">
		<td height="25" align="left" width="5%"></td>
		<td height="25" align="left" width="95%">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="516" align="left" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="23" align="left" bgcolor="#FFFFFF">
									<table border="0" cellspacing="0" cellpadding="0">
										<?php if($this->nahere_angaben_zu_den_notwendigen): ?>

										<tr>
											<td width="516" align="left" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 12px; "><? echo $nahere_angaben_zu_den_notwendigen[0] ?>
											</font></td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="516" height="0.1" /></td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 800"><? echo $nahere_angaben_zu_den_notwendigen[1] ?></font></td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="516" height="0.1" /></td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 800"><? echo $nahere_angaben_zu_den_notwendigen[2] ?></font></td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="516" height="0.1" /></td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 800"><? echo $nahere_angaben_zu_den_notwendigen[3] ?></font></td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="516" height="0.1" /></td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><font style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 800"><? echo $nahere_angaben_zu_den_notwendigen[4] ?></font></td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="516" height="0.1" />&nbsp;</td>
										</tr>

										<?php else: ?>
										<tr>
											<td align="left" width="516" height="6"> </td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="516" height="0.1" />&nbsp;</td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="516" height="0.1" />&nbsp;</td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="516" height="0.1" />&nbsp;</td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="516" height="0.1" />&nbsp;</td>
										</tr>
										<tr>
											<td align="left" width="516" height="7"><img src="<?php echo PUBLIC_PATH;?>/images/black-line.jpg" width="516" height="0.1" />&nbsp;</td>
										</tr>
										<?php endif; ?>
									</table>
								</td>
							</tr>

						</table>
					</td>
					<td width="10" align="left" valign="top">&nbsp;</td>
					<td width="275" align="left" valign="top" height="170">
						<table width="100%" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
							<tr>
								<td height="180">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="160" align="center"><font size="9pt">
													<? echo nl2br($this->stamp_block); ?>
											</font></td>
										</tr>
										<tr>
											<td height="10" align="center" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none; font-size: 12px; color: #000000;">
													Vertragsarztstempel/Unterschrift des Arztes </font></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr style="page-break-inside: avoid">
		<td height="19" align="left" width="5%"></td>
		<td height="19" align="left" width="95%">
			<table width="778" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="65%" align="left">
						<table width="100%" border="0" bordercolor="#000000" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center">
									<table width="80%" border="1" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td height="18" align="left" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none; font-size: 10px; color: #000000;">Für die Erstverordnung ist die Kostenpauschale 01425, für die<br />Folgeverordnung die Kostenpauschale 01426 berechnungsfähig.</font></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td width="35%" align="right" bgcolor="#FFFFFF">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
								<td align="center">
									<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td height="18" align="right" bgcolor="#FFFFFF"><font style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none; font-size: 12px; color: #000000;"><br />Muster 63 (4.2009) </font></td>
										</tr>
									</table>
								</td>
							</tr>
						
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
