<?php

$aktuelle_medications = str_replace("\n","     ",$this->aktuelle_medikation);

/*if(strpos($aktuelle_medications,"     "))
{
	$full_width_characters_number_medic = 150;
}
else
{
$full_width_characters_number_medic = 130;
}
*/
$full_width_characters_number = 130;
$small_width_characters_number = 90;

?>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td  align="left">
    		<table width="100%" border="0" cellspacing="0" cellpadding="0">
      			<tr>
       				<td width="350" align="left">
						<table width="350" border="0" bordercolor="#000000"	cellspacing="0" cellpadding="0" style="font-size: 12px;">
							<tr>
								<td height="30" align="left" valign="top">
									<table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="8" align="left" width="10">&nbsp;</td>
											<td height="8" align="left" valign="top" width="340">&nbsp;</td>
										</tr>
										<tr>
											<td height="42" align="left" width="10">&nbsp;</td>
											<td height="42" align="left" valign="top" width="340"><? echo $this->krankenkasse ?></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10"  height="20">&nbsp;</td>
											<td width="250" height="20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
											<td width="90"  height="20">&nbsp;</td>
										</tr>

										<tr>
											<td width="10"  height="65">&nbsp;</td>
											<td width="250" height="65"><? echo nl2br($this->patient_name); ?></td>
											<td width="90"  height="65" align="left" valign="top">
												<table width="90" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="5"  height="20" align="left" valign="top">&nbsp;</td>
														<td width="85" height="20" align="center" valign="top">&nbsp;</td>
													</tr>
													<tr>
														<td width="5" height="20">&nbsp;</td>
														<td width="85" height="20"><? echo $this->geb ?>	</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">&nbsp;</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="150" height="18" align="left" valign="top">&nbsp;</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="120" height="18" align="left" valign="top">&nbsp;</td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"><? echo $this->kassen_nr ?></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="150" height="18" align="left" valign="top"><? echo $this->versicherten_nr ?></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="120" height="18" align="left" valign="top"><? echo $this->status ?>&nbsp;</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="350" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top">&nbsp;</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">&nbsp;</td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top">&nbsp;</td>
										</tr>
										<tr>
											<td width="10" height="18" align="left" valign="top">&nbsp;</td>
											<td width="140" height="18" align="left" valign="top"><? echo $this->betriebsstatten_nr ?></td>
											<td width="1" height="18" align="left" valign="top"></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"> <? echo $this->arzt_nr ?></td>
											<td width="1" height="18" align="left" valign="top" ></td>
											<td width="5" height="18" align="left" valign="top">&nbsp;</td>
											<td width="100" height="18" align="left" valign="top"> <? echo $this->topdatum ?></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
        
					<td width="17" align="left">&nbsp;</td>


					<td width="502" align="left" valign="top">
						
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="left"  height="65">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="94%" height="28" align="left" valign="top"><font	size="14pt"><b>&nbsp;</b></font></td>	
											<td width="6%" height="28" align="right" valign="top"><font size="11pt">&nbsp;</font></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						&nbsp;
						<br/>
						
						<table>
						<tr>
							<td height="48">
								<table width="100%" border="0"	cellspacing="0" cellpadding="0">
									<tr>
										<td width="6%"  height="28" align="center" valign="middle"><font size="14pt"><? if($this->fe_verordnung=='erst'){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
										<td width="30.5%" height="28" align="left" ><font>&nbsp;<br/>&nbsp;</font></td>
										<td width="7%"  height="28" align="center" valign="middle"><font size="14pt"><? if($this->fe_verordnung=='folge'){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
										<td width="56%" height="28" align="left" ><font>&nbsp;<br/>&nbsp;</font></td>
									</tr>
								</table>
							</td>
						</tr>
						</table>
						
												
						<table>
						<tr>
							<td height="55">
						<table width="100%" border="0"	cellspacing="0" cellpadding="0">
							<tr>
								<td width="6%"  height="28" align="center" valign="middle"><font size="14pt"><? if($this->unfall_unfallfolgen == '1'){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
								<td width="30.5%" height="28" align="left" ><font>&nbsp;<br/>&nbsp;</font></td>
								<td width="7%"  height="28" align="center" valign="middle"><font size="14pt"> </font></td>
								<td width="56%" height="28" align="left" ><font>&nbsp;<br/>&nbsp;</font></td>
							</tr>
						</table>

							</td>
						</tr>
						</table>


						<table width="100%" border="0"	cellspacing="0" cellpadding="0">
							<tr>
								<td width="40" height="28" align="left" border="0">&nbsp;<br/><font>&nbsp;</font></td>
								<td width="22" align="center" ><font size="14pt"><? if(!empty($this->vom)):?><? echo substr(date('d',strtotime($this->vom)),0,1); ?> <? endif;?></font></td>
								<td width="25" align="center" ><font size="14pt"><? if(!empty($this->vom)):?><? echo substr(date('d',strtotime($this->vom)),1); ?> <? endif;?></font></td>
								<td width="22" align="center" ><font size="14pt"><? if(!empty($this->vom)):?><? echo substr(date('m',strtotime($this->vom)),0,1); ?> <? endif;?></font></td>
								<td width="22" align="center" ><font size="14pt"><? if(!empty($this->vom)):?><? echo substr(date('m',strtotime($this->vom)),1); ?> <? endif;?></font></td>
								<td width="25" align="center" ><font size="14pt"><? if(!empty($this->vom)):?><? echo substr(date('y',strtotime($this->vom)),0,1); ?> <? endif;?></font></td>
								<td width="25" align="center" ><font size="14pt"><? if(!empty($this->vom)):?><? echo substr(date('y',strtotime($this->vom)),1); ?> <? endif;?></font></td>
								
								<td width="40" height="28" align="center" border="0" >&nbsp;<br/><font>&nbsp;</font></td>
								<td width="23" align="center" ><font size="14pt"><? if(!empty($this->bis)):?><? echo substr(date('d',strtotime($this->bis)),0,1); ?> <? endif;?></font></td>
								<td width="25" align="center" ><font size="14pt"><? if(!empty($this->bis)):?><? echo substr(date('d',strtotime($this->bis)),1); ?> <? endif;?></font></td>
								<td width="25" align="center" ><font size="14pt"><? if(!empty($this->bis)):?><? echo substr(date('m',strtotime($this->bis)),0,1); ?> <? endif;?></font></td>
								<td width="22" align="center" ><font size="14pt"><? if(!empty($this->bis)):?><? echo substr(date('m',strtotime($this->bis)),1); ?> <? endif;?></font></td>
								<td width="22" align="center" ><font size="14pt"><? if(!empty($this->bis)):?><? echo substr(date('y',strtotime($this->bis)),0,1); ?> <? endif;?></font></td>
								<td width="25" align="center" ><font size="14pt"><? if(!empty($this->bis)):?><? echo substr(date('y',strtotime($this->bis)),1); ?> <? endif;?></font></td>
				 
							</tr>
						</table>
					</td>
	      		</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td border="0" height="115" width="100%">
			<table border="0">
				<tr>
					<td align="left" colspan="2" width="100%"  height="10"></td>
				</tr>
				<tr>
					<td width="5%"></td>
					<td align="left" width="95%"> &nbsp;<br/> &nbsp;<br/>
						<? 
							$rows = Pms_CommonData::str_row_split($this->verordnungsrelevante_diagnose, $full_width_characters_number ); 
						?>
						<table width="100%">
							<? for($i=0; $i<2; $i++):?>
								<tr><td height="30"><? echo $rows[$i];?></td></tr>						
							<? endfor;?>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
 
	<tr>
		<td height="48" align="left"><font style="">&nbsp;</font></td>
	</tr>
  
	<tr>
		<td>
			<table border="0">
				<tr>
					<td width="5%"></td>
			    	<td width="95%"  height="23" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
					        	<td width="33.5%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					        			<tr>
					        				<td height="37" align="left" valign="top"><font style="">&nbsp;</font></td>
					          			</tr>
					          			<tr>
					            			<td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
									                <tr >
									                	<td width="10%" align="center" ><font size="14pt"><? if($this->ausgepragte_urogenitale_symptomatik==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
									                	<td width="90%"  height="40" align="left" valign="top">&nbsp;</td>
									                </tr>
									                <tr>
									                	<td width="10%" align="center"><font size="14pt"><? if($this->ausgepragte_ulzerierende_exulzerierende==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
									                  	<td width="90%"  height="40" align="left" valign="top">&nbsp;</td>
									                </tr>
					            				</table>
					            			</td>
					          			</tr>
					        		</table>
					        	</td>
					        	<td width="39.5%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
						          		<tr>
								        	<td width="10%" align="center" ><font size="14pt"><? if($this->ausgepragte_schmerzsymptomatik==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
								         	<td width="90%"  height="38" align="left" valign="top" bgcolor="">&nbsp;</td>
								         </tr>
								         <tr>
								         	<td width="10%" align="center"><font size="14pt"><? if($this->ausgepragte_respiratorische==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
								            <td width="90%"  height="40" align="left" valign="top" bgcolor="">&nbsp;</td>
								         </tr>
								         <tr>
								         	<td width="10%" align="center"><font size="14pt"><? if($this->ausgepragte_neurologische_psychiatrische==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
								            <td width="90%"  height="40" align="left" valign="top" bgcolor="">&nbsp;</td>
								          </tr>
					        		</table>
					        	</td>
					        	<td width="26%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
								          <tr>
								          		<td width="15%" height="38" align="center" valign="top">&nbsp;</td>
								          		<td width="85%"  height="38" align="left" valign="top" bgcolor="">&nbsp;</td>
								          </tr>
								          <tr>
								          		<td width="15%" align="center"><font size="14pt"><? if($this->ausgepragte_gastrointestinale_symptomatik==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
												<td width="85%"  height="40" align="left" bgcolor="">&nbsp;</td>
								          </tr>
								          <tr>
								            	<td width="15%" align="center"><font size="14pt"><? if($this->sonstiges_komplexes_symptomgeschehen==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
								            	<td width="85%"  height="40" align="left">&nbsp;</td>
								          </tr>
							        </table>
							     </td>
							</tr>
						</table>	
					</td>
				</tr>
			</table>
		</td>
	</tr>
  
  
  
	<tr>
		<td height="55" align="left">
			<table>
				<tr>
					<td width="3%"></td>
	    			<td width="97%">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	<? 
		$rows_besuch = Pms_CommonData::str_row_split($this->nahere_beschreibung, $full_width_characters_number ); 
	?>
	<tr>
 		<td align="left"  height="75" ><table>
				<tr>
					<td width="5%"></td>
	    			<td width="95%"><table width="100%">
							<? for($rb=0; $rb < 2; $rb++):?>
								<tr><td height="30"><? echo $rows_besuch[$rb];?></td></tr>						
							<? endfor;?>
						</table>
	    			</td>
				</tr>
			</table>
 		</td>
  	</tr>
  	
  	<tr>
		<td height="20" align="left">
			<table>
				<tr>
					<td width="3%"></td>
	    			<td width="97%">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	<? 
		$rows_meds = Pms_CommonData::str_row_split($aktuelle_medications, $full_width_characters_number); 
	?>
 
	<tr>
 		<td align="left" height="120" ><table>
				<tr>
					<td width="5%"></td>
	    			<td width="95%"  height="105"><table width="100%" >
							<? for($rm=0; $rm < 4; $rm++):?>
							 	 <tr><td height="30"><? echo str_replace(" ","&nbsp;",$rows_meds[$rm]);?></td></tr>	
										
							<? endfor;?>
						</table>
	    			</td>
				</tr>
			</table>
 		</td>
  	</tr>
  
  	<tr>
		<td height="20" align="left"><table>
				<tr>
					<td width="5%"></td>
	    			<td width="95%"><table>
	    			  <tr>
					  		<td height="33" align="left"></td>
					  </tr>
					  <tr>
					    <td height="23" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					      <tr>
					        <td width="16%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					          <tr>
					            <td width="20%" height="26" align="center"><font size="14pt"><? if($this->folgende_beratung==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
					            <td width="80%" height="26" align="left" bgcolor="">&nbsp;</td>
					          </tr>
					          <tr>
					            <td height="50" align="left">&nbsp;</td>
					            <td height="50" align="left" bgcolor="">&nbsp;</td>
					          </tr>
					        </table></td>
					        <td width="47.5%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					          <tr>
					            <td width="12%" height="26" align="center"><font size="14pt"><? if($this->des_behandelnden_arztes==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
					            <td width="7%" height="26" align="left" bgcolor="">&nbsp;</td>
					           <td width="81%" height="26" align="left" bgcolor="">&nbsp;</td>
					          </tr>
					          <tr>
					            <td width="12%" height="26" align="center"><font size="14pt"><? if($this->der_behandelnden_pflegefachkraft==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
					            <td width="7%" height="26" align="left" bgcolor="">&nbsp;</td>
					          <td width="81%" height="26" align="left" bgcolor="">&nbsp;</td>
					          </tr>
					          <tr>
					            <td width="12%" height="26" align="center"><font size="14pt"><? if($this->des_patienten_der_angehorigen==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
					            <td width="7%" height="26" align="left" bgcolor="">&nbsp;</td>
					            <td width="81%" height="26" align="left" bgcolor="">&nbsp;</td>
					          </tr>
					        </table></td>
					        <td width="40%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					          <tr>
					            <td width="7%" height="26" align="center"><font size="14pt"><? if($this->koordination_der_palliativversorgung==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
					            <td width="93%" height="26" align="left" bgcolor="">&nbsp;</td>
					          </tr>
					          <tr>
					            <td height="50" align="left">&nbsp;</td>
					            <td height="50" align="left" bgcolor="">&nbsp;</td>
					          </tr>
					        </table></td>
					      </tr>
					    </table></td>
					  </tr>
	    			</table></td>
				</tr>
			</table>
		</td>
	</tr>

  <tr>
    <td height="23" align="left"></td>
  </tr>
  
  
  <tr>
  <td height="20" align="left"><font style="">&nbsp;</font></td>
  </tr>
	<? 
		$rows_mit = Pms_CommonData::str_row_split($this->mit_folgender_inhaltlicher, $full_width_characters_number ); 
	?>
	<tr>
 		<td align="left" height="50"><table>
				<tr>
					<td width="5%"></td>
	    			<td width="95%"  height="105"><table width="100%" >
							<? for($rmit=0; $rmit < 3; $rmit++):?>
								<tr><td height="30"><? echo $rows_mit[$rmit];?></td></tr>						
							<? endfor;?>
							
						</table>
	    			</td>
				</tr>
			</table>
 		</td>
  	</tr>
	<tr>
		<td align="left" height="55"  bgcolor=""><table>
			<tr>
				<td width="5%"></td>
    			<td width="95%"  height="28" bgcolor=""><table width="100%" >
 					<tr>
   						<td height="23" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
     						<tr>
       							<td width="28%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
         							<tr> 
           							<td width="13%" align="center"><font size="14pt"><? if($this->additiv_unterstutzende_teilversorgung==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
           							<td width="87%"  height="28" align="left" valign="top" bgcolor="">&nbsp;<br/>&nbsp;</td>
         							</tr></table>
         						</td>
         						<td width="72%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        								<tr>
          								<td width="5%" align="center"><font size="14pt"><? if($this->vollstandige_versorgung==1){ echo "X"; }else{ echo "&nbsp;";} ?></font></td>
          								<td width="25%"  height="28" align="left" valign="top" bgcolor="">&nbsp;<br>&nbsp;<br/></td>
          								<?php if($this->sapv_bra_options): ?>
          								<td width="30%" align="center">Verordnete Leistungen: </td>
          								<td width="40%"  height="28" align="left" valign="top" bgcolor=""><? echo implode(', ',$this->bra_options);?></td>
        								<?php endif; ?>
        								</tr></table>
        						</td>
     						</tr></table>
     					</td>
 					</tr></table>
 				</td>
  			</tr></table>
  		</td>
 	</tr>
  
	 <? 
		$rows_l = Pms_CommonData::str_row_split($this->nahere_angaben_zu_den_notwendigen, $small_width_characters_number); 
	?>
	 
	 
 	<tr   style="page-break-inside:avoid">
 		<td align="left"><table border="0">
				<tr>
					<td width="5%"></td>
	    			<td width="67%"><table width="100%" >
							<? for($rl=0; $rl < 5; $rl++):?>
								<tr><td height="28"><? echo$rows_l[$rl];?></td></tr>						
							<? endfor;?>
						</table>
	    			</td>
		    		<td width="28%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td align="center">
									<font size="8pt" ><? echo nl2br($this->stamp_block); ?></font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
 		</td>
  	</tr>
</table>