<table class="table" id="invoice" cellspacing="2" cellpadding="2" width="830" style="font-size: 12pt;" >
	<tr class="rowa">
		<td class="col1 cell"></td>
		<td class="col2 cell"></td>
		<td class="col3 cell"></td>
	</tr>
	<tr class="rowb">
		<td class="col1 cell" style="width: 85mm; height: 45mm;"><?php echo $this->address; ?><br /></td>
		<td class="col2 cell"></td>
		<td class="col3 cell"></td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell"></td>
		<td class="col2 cell"></td>
		<td class="col3 cell">Datum: <? echo date('d.m.Y',time());?></td>
	</tr>
	<tr class="rowb">
		<td class="col1 cell"></td>
		<td class="col2 cell"></td>
		<td class="col3 cell"></td>
	</tr>
	
	<tr class="rowa">
		<td class="col1 cell" colspan="3" style="text-align: left;">Kontakt:</td>
	</tr>
	 <?php foreach($this->assigned_users_details as $k_user => $v_user):  ?>
		<tr class="rowa" border="1">
			<td class="col1 cell" style="width:150px; height:12px;">
				<font size="9pt"><?php
					if(!empty($v_user['groupname'])):
					echo $v_user['groupname'];
					else:
						echo ' - ';
					endif;
				?></font>
			</td>
			<td class="col2 cell" style="width:360px; height:12px;">
				<font size="9pt"><?php echo $v_user['first_name'].' '.$v_user['last_name']  ?></font>
			</td>
			<td class="col3 cell" style="width:310px; height:12px;">
				<font size="9pt"><?php
					echo $v_user['phone'];
					if(!empty($v_user['phone']) && !empty($v_user['mobile'])): echo ' / '; endif;
					if(!empty($v_user['mobile'])): echo $v_user['mobile']; endif;
				?></font>
			</td>
		</tr>
		<?php endforeach;  ?>  
	<tr class="rowb">
		<td class="col1 cell" colspan="3">
			&nbsp;
		</td>
	</tr>
	<tr class="rowb">
		<td class="col1 cell" colspan="3">
			&nbsp;
		</td>
	</tr>
	<tr class="rowb">
		<td class="col1 cell" colspan="3">
			Sehr geehrte Kolleginnen und Kollegen,
		</td>
	</tr>

	<tr class="rowa">
		<td class="col1 cell" colspan="3"></td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" colspan="3" style="width:830px;">
			mit dem nachstehenden Dokumentationsauszug möchten wir Sie kurz über den palliativmedizinischen Patientenbesuch bei <?php echo $this->firstname  ?> <?php echo $this->lastname  ?>, <?php echo $this->birthd  ?> am <?php echo $this->visit_date;  ?> durch <?php echo $this->curent_user['0']['first_name'].' '.$this->curent_user['0']['last_name'];  ?> informieren:
		</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" colspan="3">
			<p>
				&nbsp;
			</p>
		</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" colspan="3">
			<p>
				&nbsp;
			</p>
		</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" colspan="3">
			<p>
				<?php echo $this->comment;  ?>
			</p>
		</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" colspan="3">
			<p>
				&nbsp;
			</p>
		</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" colspan="3">
			<p>
				&nbsp;
			</p>
		</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" colspan="3">
			<p>
				&nbsp;
			</p>
		</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" colspan="3">
			<p>
				&nbsp;
			</p>
		</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell" colspan="3">
			<p>
				&nbsp;
			</p>
		</td>
	</tr>
	<tr class="rowb">
		<td class="col1 cell" colspan="3">
			<br />
			<br />
			Mit kollegialen Grüßen
			<br />	<br />
			<?php echo $this->curent_user['0']['first_name'].' '.$this->curent_user['0']['last_name'];  ?>
			<br />	<br />
			<?php echo $this->curent_user['0']['phone'];  ?>
		</td>
	</tr>
</table>