<script type="text/javascript">
var pl_loading = function(){

var dlist = '<div class="loadingdiv" align="center"><img src="images/pageloading.gif"><br />	Loading... please wait</div>';
document.getElementById('content').innerHTML = dlist;

}

function loadpage(ord,clm)
{
	if($('#hdnlastpage').val()>=parseInt($('#pageno').val())){
	if((parseInt($('#pageno').val()))>0){pgno=(parseInt($('#pageno').val()-1));}else{pgno=0;}
	ajaxCallserver({url:'kbvkeytabs/fetchlist?clm='+clm+'&ord='+ord+'&pgno='+pgno,callLoading:pl_loading});
	}else{
		jAlert("<? echo $this->translate('invalidpageno'); ?>");
	}
}
	
function getKbvvalues(val,param)
{	
	params = $("#frmsymp").serialize();
	
	if(param==1)
	{
		params= params.replace('version','v');
	}
	
	ajaxCallserver({url:'kbvkeytabs/fetchlist?clm=pk&ord=ASC&pgno=0&'+params});
}	

var callBack = function(params)
{
	document.getElementById('content').innerHTML = params.kbvlist; 
	
	if(params.versionlist!='undefined')
	{
		document.getElementById('verdiv').innerHTML = params.versionlist; 
	}
}
 
  function checkedall(allid)
  {
  
  	checkbox = document.getElementsByName('kbv_id[]');
	
	if(allid.checked==true)
	{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = true; 
		}
	}else{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = false; 
		}
	}
  }
  function deleteconfirm()
  {
  		
			jConfirm('<? echo $this->translate('confirmdeleterecord'); ?>', '<? echo $this->translate('confirmdeletetitle'); ?>', function(r) {
			if(r)
			{	
				document.frmsymp.action = "kbvkeytabs/deletekbv";
				document.frmsymp.submit();
			}
		
	});
	
	return false;
	
  } 
  
   function frmsubmit(btnname)
  {
		if(btnname=="delete")
		{
				
			jConfirm('<? echo $this->translate('confirmdeleterecord'); ?>', '<? echo $this->translate('confirmdeletetitle'); ?>', function(r) {
			if(r)
			{	
				document.frmsymp.action = "kbvkeytabs/deletekbv";
				document.frmsymp.submit();
			}
		
			});
			
			return false;
		}else if(btnname=="valid")
		{
			
			document.frmsymp.action = 'kbvkeytabs/setvalid';
			document.frmsymp.submit();
		}else if(btnname=="invalid")
		{	
			
			document.frmsymp.action = 'kbvkeytabs/setinvalid';
			document.frmsymp.submit();
		}
  }
</script>
<form action="" method="post" name="frmsymp" id="frmsymp" >
 
    <div class="add_link">
		<a href="kbvkeytabs/importkvb"><? echo $this->translate('importkbvkeytabs') ?></a>
	</div>  
     <? echo $this->formSelect('kbv_oid',$_POST['kbv_oid'],array("onChange"=>"getKbvvalues(this,1);"),$this->oid_array); ?>
     <div id="verdiv">
       <? echo $this->formSelect('version',$_POST['version'],array("onChange"=>"getKbvvalues(this,0);"),$this->version_array); ?></div>
      <div style="clear:both;"></div>
<div id="listkbvkeytabs_errorMsg" class="err"><? echo $this->error_message ?></div>
<div id="content">
	
</div>
</form>
<script type="text/javascript">

	ajaxCallserver({url:'kbvkeytabs/fetchlist?clm=pk&ord=ASC&pgno=0&kbv_oid=',callLoading:pl_loading});

</script>