<?php
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/reportscustom.css?' . date('Ymd'));
?>


<script type="text/javascript">

$(document).ready(function() { /*------ Start $(document).ready --------------------*/
	
	
	
	$('.columns_inputs').live('change', function(e){
		if($(this).is(":checked")) {
		
			var ctype = 	$(this).data('type');
			$('.columns_inputs').each(function(){
				if($(this).data('type') !=  ctype ){
					$(this).prop('checked', false);
				}
			});
		}
	});
	
	
// 	$('.combinable').live('click', function(e){
// 	  	$('.not_combinable').each(function(){
// 	  		$('.not_combinable').prop('checked', false);
// 	  	})
// 	});

	$('.not_combinable').live('click', function(e){
  		$('.not_combinable').prop('checked', false);
	  	$(this).prop('checked', true);
	});
});/*-- END  $(document).ready ----------- --*/

 
</script>


<form name="step2" id="step2" action="" method="post">
<input type="hidden" name="report_id" value="<?php echo $_REQUEST['report_id']; ?>"/>

<? 
$saved_columns = $this->saved_columns;

$simple_columns = array();
$complex_columns = array();


foreach($this->columns as $k=>$vd){
	if($vd['type'] != "o"){
		$simple_columns[] =$vd['id']; 
	} else{
		$complex_columns[] =$vd['id']; 
	}
}

$simple_columns_count = count($simple_columns);
$complex_columns_count = count($complex_columns);
$total_columns_count = count($this->columns);

?>
	<?php if($this->show_combinable =="1" && $simple_columns_count > 0):?>
	<fieldset>
	<legend><?php echo $this->translate('List simple columns');?></legend>
	<table class="columns_table">
 
		<tbody>
			<?php  $i=0; 
					foreach($this->columns as $kc=>$v_columns):
					if( in_array($v_columns['id'],$saved_columns['columns_ids'])){
						$chk[$v_columns['id']] = 'checked="checked"';
					} else{
						$chk[$v_columns['id']] = '';
					}
			?> 
			<?php if($v_columns['type'] != "o"):?>
				<tr>
					<td>
						<input type="checkbox" name="report[columns][<?php echo $v_columns['id']; ?>][column_id]"  id="column_id_<?php echo $v_columns['id'];?>" value="<?php echo $v_columns['id'];?>" data-type="combinable" <?php echo $chk[$v_columns['id']];?> class="columns_inputs combinable"   >
						<input type="hidden"  name="report[columns][<?php echo $v_columns['id']; ?>][id]"  id="line_id_<?php echo $v_columns['id'];?>" value="<?php echo $saved_columns[ $_REQUEST['report_id']][$v_columns['id']]; ?>" >
						
					 </td>
					<td><label for="column_id_<?php echo $v_columns['id'];?>"><?php echo $this->translate($v_columns['column_name'])?></label></td>
				</tr>
				
				<? if($i == intval($simple_columns_count/2)):?>
				</table>
					<table class="columns_table">
					<tbody>
				<? endif; ?>
				<?php $i++; ?> 
			<? endif; ?>
			<?php endforeach;?>
		</tbody>
	</table>
	</fieldset>
	<br/>
	<?php endif;?>
	<?php if($complex_columns_count > 0):?>
	<fieldset>
	<legend><?php echo $this->translate('List complex columns');?></legend>
	<table class="columns_complex_table">
		<thead>
			<tr>
				<th>#</th>
				<th><?php echo $this->translate('complex columns - names');?></th>
				<th><?php echo $this->translate('complex columns - list');?></th>
			</tr>
		</thead>
		<tbody>
			<?php  $i=0; 
					foreach($this->columns as $kc=>$v_columns):
					if( in_array($v_columns['id'],$saved_columns['columns_ids'])){
						$chk[$v_columns['id']] = 'checked="checked"';
					} else{
						$chk[$v_columns['id']] = '';
					}
			?> 
			
				<?php if($v_columns['type'] =="o"):?>
				<tr>
					<td>
						<input type="checkbox" name="report[columns][<?php echo $v_columns['id']; ?>][column_id]"  id="column_id_<?php echo $v_columns['id'];?>" value="<?php echo $v_columns['id'];?>" data-type="not_combinable" <?php echo $chk[$v_columns['id']];?> class="columns_inputs not_combinable"   >
						<input type="hidden"  name="report[columns][<?php echo $v_columns['id']; ?>][id]"  id="line_id_<?php echo $v_columns['id'];?>" value="<?php echo $saved_columns[ $_REQUEST['report_id']][$v_columns['id']]; ?>" >
					 </td>
					<td><label for="column_id_<?php echo $v_columns['id'];?>"><?php echo $this->translate($v_columns['column_name'])?></label></td>
					<td><?php echo $v_columns['comments']?></td>
				</tr>
 				<?php endif;?>		
			<?php $i++; endforeach;?>
		</tbody>
	</table>
	</fieldset>
	<?php endif;?>		
	
</form>