<h1><?php echo $this->translate('list_pricelist_group'); ?></h1>
<br/>
<div class="add_link">
		<a href="<?php echo APP_BASE; ?>socialcode/addpricelistgroup"><? echo $this->translate('add_pricelist_group') ?></a>
</div>
<table class="datatable" style="width:70%;">
	<thead>
		<th>
			<?php echo $this->translate('group'); ?>
		</th>
		<th>
			<?php echo $this->translate('private'); ?>
		</th>
		<th>
			<?php echo $this->translate('actions'); ?>
		</th>
	</thead>
	
	<?php foreach($this->groups as $k_gr => $v_gr): ?>
	<tr>
		<td>
			<?php echo $v_gr['name']; ?>
		</td>
		<td>
			<?php if($v_gr['private'] == '1'): echo $this->translate("yesconfirm"); else: echo $this->translate('noconfirm'); endif; ?>
		</td>
		<td style="width: 150px;">
			<div>
				<div style="float:left;padding-right:10px;">
					<a href="<?php echo APP_BASE ?>socialcode/editpricelistgroup?grid=<?php echo $v_gr['id']; ?>"><?php echo $this->translate('edit'); ?></a>
				</div>
				
				<div style="float:left;">
					<a href="<?php echo APP_BASE ?>socialcode/listpricelistgroup?op=del&grid=<?php echo $v_gr['id']; ?>"><?php echo $this->translate('delete'); ?></a>
				</div>
			</div>
		</td>
	</tr>
	<?php endforeach; ?>

</table>