<?php
// ISPC-2312 + ISPC-2746 Ancuta 24.11.2020
?>
<div>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="datatable" style="border-width:0px;border-collapse:collapse; width:90%" >
		<tr>
			<td  colspan="8" valign="top">
				<?php echo $this->navigation; ?>
			</td>
		</tr>
		<tr>
			<th>
				<?php echo $this->translate('no'); ?>
			</th>
			<th>
				
			</th>
			<th scope="col" class="sort<?php echo $this->epidorder ?>">
				<a href="javascript:void(0);" onClick="ajaxCallserver({url: 'invoiceclient/fetchpatientlist?clm=epid&ord=<?php echo $this->order ?>&pgno=<?= $_REQUEST['pgno'] ?>&val=<?= $_REQUEST['val'] ?>&list=<?= $_REQUEST['list']; ?>',callLoading: pl_loading})">
					<?php echo $this->translate('epid') ?>
				</a>
			</th>
			<th scope="col" class="sort<?php echo $this->fnorder ?>">
				<a href="javascript:void(0);" onClick="ajaxCallserver({url: 'invoiceclient/fetchpatientlist?clm=ln&ord=<?php echo $this->order ?>&pgno=<?= $_REQUEST['pgno'] ?>&val=<?= $_REQUEST['val'] ?>&list=<?= $_REQUEST['list']; ?>',callLoading: pl_loading})">
					<?php echo $this->translate('lastname') ?>
				</a>
			</th>
			<th scope="col" class="sort<?php echo $this->lnorder ?>">
				<a href="javascript:void(0);" onClick="ajaxCallserver({url: 'invoiceclient/fetchpatientlist?clm=fn&ord=<?php echo $this->order ?>&pgno=<?= $_REQUEST['pgno'] ?>&val=<?= $_REQUEST['val'] ?>&list=<?= $_REQUEST['list']; ?>',callLoading: pl_loading})">
					<?php echo $this->translate('firstname') ?>
				</a>
			</th>
			<th scope="col" class="sort<?php echo $this->admorder ?>">
				<a href="javascript:void(0);" onClick="ajaxCallserver({url: 'invoiceclient/fetchpatientlist?clm=adm&ord=<?php echo $this->order ?>&pgno=<?= $_REQUEST['pgno'] ?>&val=<?= $_REQUEST['val'] ?>&list=<?= $_REQUEST['list']; ?>',callLoading: pl_loading})">
					<?php echo $this->translate('admissiondate') ?>
				</a>
			</th>
			<th scope="col" class="sort<?php echo $this->disorder ?>">
				<a href="javascript:void(0);" onClick="ajaxCallserver({url: 'invoiceclient/fetchpatientlist?clm=dis&ord=<?php echo $this->order ?>&pgno=<?= $_REQUEST['pgno'] ?>&val=<?= $_REQUEST['val'] ?>&list=<?= $_REQUEST['list']; ?>',callLoading: pl_loading})">
					<?php echo $this->translate('discharge_date') ?>
				</a>
			</th>			
			<th scope="col"><?php echo $this->translate('verordnungen') ?></th>
		</tr>

		<?php echo $this->invoiceclientpatientsgrid; ?>

		<tr>
			<td colspan="8" valign="top">
				<?php echo $this->navigation ?>
			</td>
		</tr>
	</table>
</div>