<form action="" method="post" name="frm_add_path" id="frm_add_path">
	<fieldset id="addFamDr_fieldset">
		<legend id="addFamDr_fieldsetLegend"><? echo $this->translate('add_paths') ?></legend>

		<label for="path_name" id="lbl_practice"><? echo $this->translate('path_name') ?></label>
		<input type="text" name="name" tabindex="1" id="path_name" value="<? echo $this->name; ?>">
		<div class="clearer"></div>

		<label for="path_function" id="lbl_title"><? echo $this->translate('path_function'); ?></label>
		<input type="text" name="function" tabindex="2" id="path_function" value="<? echo $this->function; ?>">
		<div class="clearer"></div>

		<label for="path_client" id="lbl_title"><? echo $this->translate('path_client'); ?></label>
		<? echo $this->formSelect('client',$this->client,NULL,$this->clients_sel_arr); ?>
		<div class="clearer"></div>
 
		<div class="clearer"></div>-
		<input type="submit" name="btnsubmit" id="btnsubmit" class="button" tabindex="14" value="<? echo $this->translate('submit') ?>">

	</fieldset>
</form>
