@page {
	background-color: #f4f4f4;
	size: auto;
	odd-footer-name: survey_custom_footer;
	even-footer-name: survey_custom_footer;
}
body {
	font-family: 'DejaVu Sans', Sans-serif;
	padding: 20px;
	text-align: left;
}
.qtable-nb {
	font-family: 'DejaVu Sans', Sans-serif;
	font-size: 12px;
	padding: 20px;
	color: #646464;
	border: 1px solid #e1e1e1;
	background: #ffffff;
	border-collapse: separate;
	/*border-radius: 6px;*/ /*not supported - mpdf 7 */
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.03);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.03);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.03);
	width: 750px;
}
table {
	max-width: 750px;
}
.export_pat_details {
	display: block;
	padding: 0;
	font-size: 20px;
	padding-bottom: 20px;
	width: 750px;
	clear: right;
}
div.pat_det {
	float: left;
	width: 350px;
}
div.date {
	text-align: right ;
	float: right;
	width: 200px;
}
.qtable, .qtable-nb {
	margin-bottom: 20px;
}

table.qtable {
	font-family: 'DejaVu Sans', Sans-serif;
	font-size: 12px;
	color: #646464;
	border: 1px solid #e1e1e1;
	background-color: #ffffff;
	border-collapse: separate !important;
	/*border-radius: 4em;*/ /*not supported in table tag by mPDF*/
	padding: 13px 20px;
    width: 750px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.03);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.03);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.03);
	page-break-inside: avoid;
}

div.qtable {
	font-family: 'DejaVu Sans', Sans-serif;
	font-size: 12px;
	color: #646464;
	border: 1px solid #e1e1e1;
	background-color: #ffffff;
	border-collapse: separate !important;
	/*border-radius: 4em;*/ /*not supported in table tag by mPDF*/
	padding: 13px 20px;
	width: 710px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.03);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.03);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.03);
}

/* bulangiu' ala nu m-a lasat sa le pun */

/*div.pagebreak-avoid > table {
	page-break-inside: avoid;
}

div.pagebreak-avoid > table.export_chain_scores {
	page-break-inside: auto;
}*/
table.qtable th.row, table.qtable th.qtitleth {
	text-align: left;
	padding: 1px;
	color: #1f1f1f;
}

table.qtable td {
	text-align: center;
	color: #0F1B26;
	font-size: 11px;
}

table.qtable.qtable_matrix_sradio td, table.qtable.qtable_matrix_mcheck td {
	text-align: left;
}

table.matrix-answer th.cell {
	text-align: left;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	border-bottom: 1px solid #e1e1e1;
	vertical-align: middle !important;
	color: #1f1f1f;
}
table.qtable_matrix_mradio table.matrix-answer td, table.qtable_matrix_mradio table.matrix-answer th.row {
	border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}
table.qtable_matrix_mradio table.matrix-answer td:first-child, table.qtable_matrix_mradio table.matrix-answer th.row {
    border-left: 0px solid #e1e1e1;
    /*border-right: 1px solid #e1e1e1;*/
}
table.qtable_matrix_mradio table.matrix-answer th.col {
	border-left: 1px solid #e1e1e1;
	padding: 8px;
	color: #1f1f1f;
}

.export_chain_scores {
	text-align: left;
	font-family: 'DejaVu Sans', Sans-serif;
	font-size: 13px;
	color: #646464;
	border: 1px solid #e1e1e1;
	background: #ffffff;
	border-spacing: 0px;
	border-collapse: separate;
    width: 750px;
	/*border-radius: 6px;*/ /*not suported by mPDF*/
	padding: 23px 30px;
	margin-top: -10px;
	margin-bottom: 20px;
}

.export_chain_scores tr td {
	font-size: 12px;
	color: #646464;
	font-weight: bold;
	font-family: 'DejaVu Sans', Sans-serif;
	padding: 8px;
	border-left: 1px solid #e1e1e1;
}

tr.score_row td {
	border-top: 1px solid #e1e1e1;
}

.export_chain_scores tr th {
	padding: 8px;
	font-size: 13px;
	color: #1f1f1f;
	border-left: 1px solid #e1e1e1;
}

h3.qtitle {
	line-height: 24px;
	padding: 0;
	padding-bottom: 20px;
	margin: 0;
	padding-right: 30px;
	font-size: 13px;
	font-family: 'DejaVu Sans', Sans-serif;
	color: #1f1f1f;
	font-weight: bold;
	width: 670px;
	text-align: left;
}
.qtitle_free_text {
    width: 670px;
}
br {
    line-height: 30%;
}
/*
input {
  display: inline;
  white-space: nowrap;
  font-size: 12px;
  border: 0px;
  font-weight: bold;
}
input:before {
  content: attr(value);
}
textarea {
  border: 0px;
  font-weight: bold;
  font-size: 12px;
  font-family: 'DejaVu Sans', Sans-serif;
  width: 670px;
  height: auto;
}
textarea:before {
  content: attr(value);
}*/
td img {
	max-width: 670px;
}

table.matrix-answer th.firstcolth, table.matrix-answer th.row {
	/*width: 25%;*/ /*200px;*/
	/*max-width: 200px;*/ /*not supported in 7.0*/
	/*margin-right: 30px;*/
	color: #1f1f1f;
}
table.matrix-answer th.col {
	text-align: center;
	padding: 0 0 0px 0px;
	/*min-width: 50px;*/ /*not supported in 7.0*/
	/*width: 20px;*/
}

table.qtable_matrix_mtext table.matrix-answer {border-collapse:collapse;}
table.qtable_matrix_mtext table.matrix-answer td, table.qtable_matrix_mtext table.matrix-answer th.row {border:1px solid #e1e1e1; }
table.qtable_matrix_mtext table.matrix-answer td:last-child {border-right:0;}
table.qtable_matrix_mtext table.matrix-answer td {text-align:center !important; padding:4px;}
table.qtable_matrix_mtext table.matrix-answer th.row {border-left:0; border-right: 0; padding:4px;}
table.qtable_matrix_mtext table.matrix-answer th.col {border-left:1px solid #e1e1e1; padding:4px;}

table.qtable_matrix_mtext table.matrix-answer tr:last-child td, table.qtable_matrix_mtext table.matrix-answer tr:last-child th.row  {border-bottom:1px solid #fff;}

table.qtable_matrix_mtext table.matrix-answer input { text-align: center;}

/*.special_radChkbtn {
	width: 20px;
}*/

.th_col_M_Erwart_2_1, .th_col_M_Erwart_2_2, .th_col_M_Erwart_2_3, .th_col_M_Erwart_2_4, .th_col_M_Erwart_2_5, .th_col_M_Erwart_2_6, .th_col_M_Erwart_2_7, .th_col_M_Erwart_2_8, .th_col_M_Erwart_2_9, .th_col_M_Erwart_2_10, .th_col_M_Erwart_2_11, .th_col_M_Erwart_2_12 {
	font-size: 8px;
}

td.selected_face {
	border: 1mm solid #000000;
}
