input[type="text"]{
	padding: 3px;
}

/*table cols*/

table th.user_group{
	width: 95px;
}

table th.form_types{
	width: 95px;
}

table th.range{
	width: 130px;
}

table th.time{
	width: 115px;
}

table th.price{
	width: 80px;
}

table th.name{

}

table th.code{
	width:80px;
}

table th.trigger{

}

table th.related{

}

table td {
/* 	padding-right: 5px; */
vertical-align: top;
}

/*insert product row*/

select.user_group {
	width: 90px;
}

select.form_types {
	width: 90px;
}

input.range_text {
	width: 40px;	
	/*float:left;*/
}

select.range_type {
	width: 50px;
	/*float:left;*/
}

table.range_inside {
	border: 0px;
	padding: 0;
	margin: 0;
	width:100%;
}
table.range_inside td{
	padding: 1px!important;
}

input.time_text {
	width: 32px;
}

input.price_text {
	width:70px;
}

input.code_text {
	width:50px;
}


table td.row_error {
	border-bottom-color: #f00;
}




ul.tagit{
	width: 300px!important;
}
ul.tagit li{
	width: 100%!important;
	padding: 0px !important;
}
