@CHARSET "UTF-8";

.datatable tr.odd,
table.overalllistatable tr.odd td 
{
	
	background-color: #ffffff;
	
}

.datatable tr.even,
table.overalllistatable tr.even td 
{
	background-color: #F0F7FB;
}


.markaspaid_sepaxml_dialog  label {
	display:inline-block;
	width: 80px;
}


.markaspaid_sepaxml_dialog  label.comm {
	position: relative;
	top: -30px;
}

.markaspaid_sepaxml_dialog div {
	padding:5px 2px 5px 2px;
	line-height: 1.2;
}


.datatable a.markaspaid_sepaxml_button{
	width:130px;
	padding:4px;
}

.sepaxml_download_file{
	/*background: transparent url(../images/download-icon-5570.png) no-repeat center !important;*/
	/*background-size: 16px 16px !important;*/
}

.sepaxml_delete_file{
	/*background: transparent url(../../../images/action_delete.png) no-repeat center !important;*/
	/*background-size: 20px 20px !important;*/
}

div.listItemControls .listItemControlsButtons,
div.listItemControls .listItemControlsInfos
{
	width :50%;
}

div.listInvoicePayments {
	float:right;
	padding: 5px;
	max-width:40%;
}
div.listInvoicePayments .Infos{
	font-style: italic;
	text-align: left;
	color: #999;
}
div.listInvoicePayments table tr td:nth-child(2){
	min-width:50px;
}
/* payments statuses*/
.status-created,
table tr.status-created td {

}

#member_payments{
	color: #7F7F7F;
}
#member_payments td{
	padding:5px;	
}


#member_payments td.status ,
#member_payments td.amount {
font-weight: bold;
line-height: 200%;
font-size: 100%;
font-size: 14px;
}
#member_payments td.amount {
	text-align: right;
}

table tr.status-payment-requested .created,
table tr.status-payment-requested .installment {
}

div.listInvoicePayments tr.status-payment-requested td, /*paid items tab*/
div.status-payment-requested .documentAmount .listItemCell, 
div.status-payment-requested .documentStatus .listItemCell, 
table tr.status-payment-requested td.status,
table tr.status-payment-requested td.amount,
table tr.status-payment-requested .payment-requested
{
	color: rgb(128,50,128);
  	
	/*
	background: rgb(0,0,255);  The Fallback 
	background: rgba(0,0,255, 0.1);
	*/ 
}

div.listInvoicePayments tr.status-paid td, /*paid items tab*/
div.status-paid .documentAmount .listItemCell, 
div.status-paid .documentStatus .listItemCell, 
table tr.status-paid td.status,
table tr.status-paid .paid,
table tr.status-paid td.amount {
	color: rgb(51, 153, 0); 
}

div.listInvoicePayments tr.status-storno td, /*paid items tab*/
div.status-storno .documentAmount .listItemCell, 
div.status-storno .documentStatus .listItemCell, 
table tr.status-storno td.status,
table tr.status-storno td.amount {
	color: rgb(255, 0, 0); /* The Fallback */
	
}

.filtertable table td.filter_by_payment_status {
	padding-left:30px
}
.filtertable table td label.label_cbx {
	padding : 0px;
	margin-right:15px;
	display:inline-block;
	width:auto;
}

.filtertable table td label.label_cbx input{
	margin-right:5px;
}
table td.actions {
	width:90px;
}
table td.actions div {
	width: 32px;
	height:32px;
	background-repeat:no-repeat;
	float:left;
	padding:5px;
	
}
