/** listControl **/
div.listItemsContainer { background:#FFF; xmargin:10px 0; }
div.listItemHeader { overflow:hidden; background:#EEE; border-bottom:2px solid #999999; }

div.listItemHeader b { display:block; padding:5px; }
div.listItemHeader a { display:block; padding:5px; padding-right:15px; font-weight:bold; }


div.listItemCell { padding:5px 0; color:#7F7F7F; }
div.listItem { overflow:hidden; cursor:pointer; border-bottom:1px dotted #CCCCCC; background:#FFF; }
div.listItem, div.listItemHeader .listItemData { overflow:hidden; clear:both; line-height:16px; }
div.listItemSelected { background:#F7F7F7 none repeat scroll 0 0; opacity:1!important; }
div.listItemHover { background:#F7F7F7 none repeat scroll 0 0; opacity:1!important; }
div.listItemChecked { background:#FFFBE8 none repeat scroll 0 0; opacity:1!important; }
div.listItemError { margin:0; cursor:default; }
/*div.listItemError a.listItemError { background:url(/images/layer.close.gif) no-repeat scroll right top; }
div.listItemError a.listItemError:hover { background:url(/images/layer.close.gif) no-repeat scroll right -182px; }*/

div.listItemDefault { padding:10px; background:#FFF; overflow:hidden }

div.listItemSeperator { background:#FFF; margin-top:-2px; }


div.listItemControls { padding:10px 0px 0; overflow:hidden; clear:left; cursor:auto; }
div.listItemControls .listItemControlsInfos { font-style:italic; padding:10px 25px; text-align:left; color:#999; background:#FFF; border-left:1px solid #EEE; border-right:1px solid #EEE; }
/*div.listItemControls .listItemControlsButtons { overflow:hidden; padding:5px 25px; }*/
div.listItemControls .listItemControlsButtons { overflow:hidden; padding:5px 25px; width: 515px;float: left;}

div.listItemControlsButtons ul { margin:0; padding:0; width:125px;float: left; }
div.listItemControlsButtons ul li { margin:0; padding:1px; list-style-type:none; }
div.listItemControlsButtons ul li div a { display:block; text-decoration:none; padding-left:32px; width: 150px;}
div.listItemControlsButtons ul li div a.storno { display:block; text-decoration:none; padding-left:32px;
/* 	background:url(../images/storno_icon.png) no-repeat left center; */
}
	div.listItemControlsButtons ul li a.storno {
/* 		 background:url(../images/storno_icon.png) no-repeat left center; */
	}
div.listControlSelect {
	float:left;
	padding:10px 5px;
}
.clearFloat {
	clear: both;
}

/*div.documentTypeH { float:left; width:140px; float:left;}*/
div.documentTypeH { float:left; width:100px; }
/*div.documentType { float:left; width:120px; }*/
/*div.documentType { float:left; width:95px; }*/
div.documentType { float:left; width:100px; }
div.documentType span { font-size:14px; font-weight:bold; line-height:16px; color:#4C4C4C; }
div.documentType img { }
/*div.documentCustomer { float:left; width:280px; height:30px; }*/
/*div.documentCustomer { float:left; width:180px; height:30px; }*/
/*div.documentrnummer { float:left; width:130px; height:30px;   }*/
/*div.documentCustomer { float:left; width:180px;}*/
div.documentCustomer { float:left; width:150px;}
div.documentComment { float:left; width:190px;}
/*div.documentrnummer { float:left; width:120px;}*/
div.documentrnummer { float:left; width:150px;}
div.documentDate { float:left; width:80px;; }


div.documentSendType { float:left; width:215px; font-size:11px; }
div.documentRecurringDate { float:left; width:250px; font-size:11px; }
div.documentRecurringType { float:left; width:100px; font-size:11px; }
div.documentPages { float:left; width:180px; font-size:11px; }


div.documentAmount { float:left; text-align:right; width:150px; }
div.documentAmount div.storno { color:#F45F48 !important; }
div.documentAmount div.credit { color:#F45F48 !important; }

div.documentSize { float:left; text-align:right; width:120px; }

div.documentSendStatus { float:left; text-align:right; width:200px; }
div.documentAmount { width:110px; float:right; }
div.documentAmount#modal_amount { width:125px; float:right; }
div.documentCheckBox { float:left; width:25px; }

div.documentSendType { width:140px; }
/*	div.documentCustomer { width:180px; }*/
div.documentDate { width:80px; }
.hide {
	display: none;
}
.ui-icon{
	display: block;
	background-repeat: no-repeat;
	text-indent: -99999px;
	overflow: visible;
}

.bigbutton {
	cursor:pointer;
	font-size:15px;
	font-weight:normal!important;
	font-size: 1em!important;
	height:30px;
	padding:0pt 10px!important;
	width:150px;
}
.buttonsBar{
	width:100%;
	text-align:right;
}

/** hintBox **/
.hintBox { padding:10px 10px 10px 30px; overflow:hidden; margin:0 0 10px 0; background:#FFFAD6; line-height:16px; font-size:11px; }
.hintBox h4 { margin:0; font-weight:bold; font-size:14px; border:0; color:#4C4C4C; }
.hintBox a { color:#FF3300; }

.hintBox ul li span { color:#FF3300; font-size:18px; font-weight:bold; }
.hintBox { background:#FFFEC0; xborder:1px solid #F1E630; }
span.toggle { white-space:nowrap; font-size:10px; }
span.marked { background:#FFFFE5; color:#FF3300; }
span.highlighted { background:#E7FFC1; }
span.red {
	padding:1px 3px 0;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	color:#FFF;
	background:#F45F48;
}
span.green {
	padding:1px 3px 0;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#390;
	color:#FFF;
}
span.grey {
	padding:1px 3px 0;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#EEE;
}
span.white {
	padding:0 3px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#FFF;
}
table.table-form { padding:10px; }
table.table-form tr td h2 { padding-left:0px; padding-right:0px; }
table.table-form td.label { padding-right:10px; vertical-align:top; }
table.table-form td.label small { color:#7F7F7F; }

.paid {color: #390;}
.partial_paid {color: goldenrod;}
.not_paid {color: red;}

.ui-tabs-vertical { width: 46em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .2em .2em .1em; float: right; width: 222px; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left;}

#suchelist{float: right;}
#loading {
	width: 50%;
	position: absolute;
	text-align:center;
	/*	height: 50px;*/
}
.pagination {
	text-align:center;
	margin-left:15px;
	margin-top:5px;

}
.pagination li {
	list-style: none;
	float: left;
	margin-right: 16px;
/*     padding:5px; */
	border:solid 1px #dddddd;
	color:#0063DC;
}

.datatable td .pagination a {
	border: 0!important;
	color: #555;
	display: block;
	margin: 0!important;
	padding: 0 8px 0 8px;
}

.datatable td .pagination a {
	border: 0!important;
}

.pagination li a{
	border: 0!important;
}

.pagination li span{
	border: 0!important;
	height: auto;
	width: 100%;
	margin: 0 3px 0 3px; 
}

.pagination li:hover {
	color:#FF0084;
	cursor: pointer;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
#all, #canceled, #draft, #open, #overdue, #paid, #suche{
	padding: 0px;
}
.newinvoice{
	width: 180px;
}
#paymentAmountErr{
	color:#FF3300;
	font-size: 1.1em;
	width: 100%;
	display:none;
}
#panel, #paneln {
	/*	background: #754c24;*/
	background: #DEEDF7;
	height: 250px;
	display: none;
}
.slide {
	margin: 0;
	padding: 0;
	border-top: solid 4px #3BAAE3;
	/*	background: url(images/btn-slide.gif) no-repeat center top;*/
	/*	background: url("images/ui-bg_glass_50_3baae3_1x400.png") repeat-x scroll 50% 50% #3BAAE3;*/
}
.btn-slide, .btn-slide-n {
	/*	background: url(images/white-arrow.gif) no-repeat right -50px;*/
	text-align: center;
	width: 144px;
	cursor:pointer;
	/*	height: 31px;*/
	text-decoration: none;
	padding: 0.5em 1em;
	margin: 0 auto;
	display: block;
	/*	font: bold 120%/100% Arial, Helvetica, sans-serif;*/
	color: #fff;
	text-decoration: none;
}
.active {
	background-position: right 12px;
}
#panel-all,#panel-canceled,#panel-draft,#panel-open,#panel-paid,#panel-overdue{
	display:none;
}
#lbl_last_name_rechnung,#lbl_first_name_rechnung,#lbl_epid_rechnung,#lbl_rnummer_rechnung,#lbl_admission_date_rechnung,#lbl_amount_rechnung{
	float:left;
	display:block;
	width: 130px;
}

#invoice {
        width: 100%;
        margin: 0px auto;
        /*border-collapse: collapse;*/
        border: 1px solid #000000;


}
#invoice .cell {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        border: 0px solid #000000;
        vertical-align: middle;
        line-height: 1.3em;
        font-size: 1.2em;
}
#invoice .col1{
        width: 270px;
}
#invoice .col2{
        width: 150px;
}
#invoice .col3{
	/*        width: 300px;*/
        float:right;
}
.textfieldwhitesmall{
	width:100px;
	border: 0px #FFF;
	border-bottom: 1px dashed #000;
	background-color: #FFF;
	font-size:1.1em;
	height: 25px;
}
.textfieldwhite{
	width:300px;
	border: 0px #FFF;
	border-bottom: 1px dashed #000;
	background-color: #FFF;
	font-size:1.1em;
	height: 25px;
}
.textfieldwhitefull{
	width:470px;
	border: 0px #FFF;
	border-bottom: 1px dashed #000;
	background-color: #FFF;
	font-size:1.1em;
	height: 25px;
}
.textareawhitefull{
	width:99%;
	border: 0px #FFF;
	background-color: #fff;
	font-size: 14px;
	height: 100px;
        border: 1px dashed #000;
}
.selectwhitefull{
	width:470px;
	border: 0px #FFF;
	/*	    border-bottom: 1px dashed #000;*/
	background-color: #FFF;
	font-size:1.1em;
	height: 25px;
}

.textfieldwhiteaddess{
	width:300px;
	border: 0px #FFF;
	border-bottom: 1px dashed #000;
	background-color: #FFF;
	font-size:1em;
	height: 16px;
}

.client_greetings  {
	font-family:Arial,​Helvetica,​sans-serif
}

td.columns {
	vertical-align: top;
}

td.col-0{
	vertical-align: middle;
}
button#archive_invoices, button#draftmore, button#batch_print, button#delmore {
    width: 185px;
}
.ui-tabs .ui-tabs-nav li {
    /*margin: 0 .1em 1px 0!important;*/
    margin: 0 0 1px 0!important;
}
