<legend>Export Data
	<form action="" method="post" name="export">
		
		<table class="datatable">
			<tr  width="30%">
				<th>Data to be exported</th>
				<th></th>
			</tr>
			
			<tr>
				<td>
					Locations
				</td>
				<td>
					<input type="submit" name="export_locations"  value="Export" style="padding: 5px;"/>
				</td>
			</tr>

			<tr>
				<td>Family doctor</td>
				<td>
					<input type="submit" name="export_family_doctors" value="Export" style="padding: 5px;"/>
				</td>
			</tr>
			

			<tr>
				<td><label for="pflegedienst">Pflegedienst</label></td>
				<td>
					<input type="submit" name="export_pflegedienst" value="Export" style="padding: 5px;"/>
				</td>
			</tr>
			<tr>
				<td><label for="pflegedienst">Client Health Insurance</label></td>
				<td>
					<input type="submit" name="export_health_insurance" value="Export" style="padding: 5px;"/>
				</td>
			</tr>
			
			<tr>
				<td><label for="pflegedienst">All client details</label></td>
				<td>
					<input type="submit" name="export_clients" value="Export" style="padding: 5px;"/>
				</td>
			</tr>
			
			<tr>
				<td><label for="all_short">All shortcuts of all clients</label></td>
				<td>
					<input type="submit" name="all_shortcuts" value="Export all shortcuts" style="padding: 5px;"/>
				</td>
			</tr>
			
		</table>
		
		
		
	</form>
</legend>
