<?php
	$pl = $this->price_list;
	$actions_list = $this->actions_list;
	$price_xa = $this->price_xa;
 

 
?>
 

<h1><?php echo $this->translate('Price List Details');  ?></h1>
<p>
	<a href="<?php echo APP_BASE;  ?>misc/pricelist" ><?php echo $this->translate('back_to_price_list');  ?></a>
</p>
<p>
	<?php if($this->price_list): ?>
	<?php echo $this->translate('price_list_for_selected_period');  ?> <?php echo date('d.m.Y', strtotime($pl[$_REQUEST['list']]['start'])).' - '.date('d.m.Y', strtotime($pl[$_REQUEST['list']]['end']));  ?>
	<?php endif;  ?>
</p>


<form method="POST" action="" id="save_prices_form" name="save_prices_form">
 <table class="datatable">
 
 	<tr>			
 		<th width="10%"><?php echo $this->translate('xbdt action id')?></th>
		<th width="45%"><?php echo $this->translate('xbdt action name')?></th>
		<th width="20%"><?php echo $this->translate('xbdt action groupname')?></th>
 		<th width="25%"><?php echo $this->translate('price');?></th>
 	</tr>
		<?php $o = 1; foreach($actions_list as $action_id=>$values): ?>
		
		<tr id="option_row_<?php echo $values['id'];?>">	
			<td><b><?php echo  $values['action_id'];?></b>
			<input type="hidden" value="<?php echo $values['action_id'];  ?>" name="xbdt_actions[<?php echo $values['id'];?>][shortcut]" class="curency_format"  />
			</td>
			<td><?php echo  $values['name'];?></td>
			<td><?php echo  $values['groupname'];?></td>
			<td><input type="text" value="<?php echo number_format($price_xa[$values['id']]['price'], '2', ',', '.');  ?>" name="xbdt_actions[<?php echo $values['id'];?>][price]" class="curency_format" />&nbsp;&nbsp;&euro;</td>
		</tr>
		 <?php $o++; endforeach;?>
		 
		 
 </table>
 
<input type="submit" value="<?php echo $this->translate('save');?>" id="save_prices" name="save_prices" />
</form>