<?php
	$price_memberships = $this->price_memberships;
	$membership_details = $this->membership_details;
	$pl = $this->price_list;
?>
<script>
$(document).ready(function(){
	$('form').submit(function() {
		setTimeout(function () {$('input[type=submit]').attr('disabled', true)}, 150);
		setTimeout(function () {$('input[type=submit]').attr('disabled', false)}, 22000);
	});
})
</script>
<h1><?php echo $this->translate('Membership - Price List Details');  ?></h1>
<p>
	<a href="<?php echo APP_BASE;  ?>misc/pricelist" ><?php echo $this->translate('back_to_price_list');  ?></a>
</p>
<p>
	<?php if($this->price_list): ?>
	<?php echo $this->translate('membership_price_list_for_selected_period');  ?> <?php echo date('d.m.Y', strtotime($pl[$_REQUEST['list']]['start'])).' - '.date('d.m.Y', strtotime($pl[$_REQUEST['list']]['end']));  ?>
	<?php endif;  ?>
</p>
<form method="POST" action="" id="save_prices_form" name="save_prices_form">
 

<fieldset>
<legend><h1><?php echo $this->translate('Price List Client memberships');  ?></h1></legend>
<table style="width:100%" class="datatable">
	<thead>
		<tr>
			<th style="width: 25px;">#</th>
			<th><?php echo $this->translate('membership nr');  ?></th>
			<th><?php echo $this->translate('membership name');  ?></th>
			<th colspan="6"><?php echo $this->translate('Price');?></th>
		</tr>
	</thead>
	<tbody>
		<?php  $m = 1; foreach($membership_details as $id_membership => $value_med): ?>
		<tr>
			<td><?php echo $m;  ?></td>


			<?php if(!empty($price_memberships[$id_membership]) ): ?>
				<td class="membership_td_size"><?php echo $price_memberships[$id_membership]['shortcut'];  ?></td>
				<td><?php echo $price_memberships[$id_membership]['membership'];  ?></td>
			<?php else:?>
				<td class="membership_td_size"><?php echo $value_med['shortcut'];  ?></td>
				<td><?php echo $value_med['membership'];  ?></td>
			<?php endif;?>


			<td class=""><input type="text" value="<?php echo number_format($price_memberships[$id_membership]['price'], '2', ',', '.');  ?>" name="memberships[<?php echo $id_membership;  ?>][price]" id="price_<?php echo $id_membership;  ?>" class="curency_format membership_input_price" /><span class="membership_curency">&nbsp;&euro;</span></td>
		</tr>
		<?php $m++; endforeach;  ?>

	</tbody>
</table>
</fieldset>


<input type="submit" value="<?php echo $this->translate('save');?>" id="save_prices" name="save_prices" />
</form>
