<?php
	$data  = $this->data;
	$price_rp = $data['price_list'];
	$pl = $this->price_list;
	$rp_location_types =	$this->rp_location_types;
	$rp_sapv_types = $this->rp_sapv_types;
	$rp_lang = $this->translate("rlp_invoice_lang");

?>
<script>
$(document).ready(function(){
	$('form').submit(function() {
		setTimeout(function () {$('input[type=submit]').attr('disabled', true)}, 150);
		setTimeout(function () {$('input[type=submit]').attr('disabled', false)}, 22000);
	});
})
</script>
<style>
input.rp_curency_format{
	width:	55px;
}
input.rp_dta_id{
	width:	100px;
}
input.rp_dta_name{
	width:	100px;
}
</style>

<h1><?php echo $this->translate('Price List Details');  ?></h1>
<p>
	<a href="<?php echo APP_BASE;  ?>misc/pricelist" ><?php echo $this->translate('back_to_price_list');  ?></a>
</p>
<p>
	<?php if($this->price_list): ?>
	<?php echo $this->translate('price_list_for_selected_period');  ?> <?php echo date('d.m.Y', strtotime($pl[$_REQUEST['list']]['start'])).' - '.date('d.m.Y', strtotime($pl[$_REQUEST['list']]['end']));  ?>
	<?php endif;  ?>
</p>
<form method="POST" action="" id="save_prices_form" name="save_prices_form">

<br/>
<!--Rheinland Pfalz-->
<fieldset>
	<legend><h1><?php echo $this->translate('Rheinland Pfalz 2018'); ?></h1></legend>
	<table style="width:100%" class="datatable">
		<thead>
			<tr>
				<th style="width: 250px;"><?php echo $rp_lang['rlp_action_name']; ?></th>
				<th style="width: 100px;"><?php echo $rp_lang['rlp_price']; ?></th>
				<th style="width: 100px;"><?php echo $rp_lang['rlp_dta_price']; ?></th>
				<th style="width: 40px;"><?php echo $rp_lang['rlp_dta_digits_3_4']; ?></th>
				<th style="width: 80px;"><?php echo $rp_lang['rlp_dta_digits_7_10']; ?></th>
				<th><?php echo $rp_lang['rlp_dta_location']; ?></th>
			</tr>
		</thead>
		
		<tbody>
			<?php $i = 1; ?>
			<?php foreach($data['products'] as $k_prp => $prod): ?>
				<?php foreach($data['locations'] as $location => $loc_info): ?>
				<tr>
					<td><?php echo $rp_lang['products'][$prod.'_label'];?>
					 <?php echo !empty($data['client_products'][$prod]) ? ' - '.$data['client_products'][$prod] : ""; 
					 // TODO-2058
					 ?>
					</td>
					<td><input type="text" value="<?php echo number_format($price_rp[$prod][$location]['price'], '2', ',', '.'); ?>" name="rlp[<?php echo $prod;  ?>][<?php echo $location;  ?>][price]"  class="rp_curency_format"/>&nbsp;&nbsp;&euro;</td>	
					<td><input type="text" value="<?php echo number_format($price_rp[$prod][$location]['dta_price'], '2', ',', '.'); ?>" name="rlp[<?php echo $prod;  ?>][<?php echo $location;  ?>][dta_price]"  class="rp_curency_format"/>&nbsp;&nbsp;&euro;</td>	
					<td><input type="text" value="<?php echo $price_rp[$prod][$location]['dta_digits_3_4']; ?>" name="rlp[<?php echo $prod;  ?>][<?php echo $location;  ?>][dta_digits_3_4]" class="rp_curency_format"/></td>	
					<td><input type="text" value="<?php echo $price_rp[$prod][$location]['dta_digits_7_10']; ?>" name="rlp[<?php echo $prod;  ?>][<?php echo $location;  ?>][dta_digits_7_10]" class="rp_curency_format"/></td>	
					<td><?php echo $rp_lang['locations'][$location.'_label'];?></td>
				</tr>
				<?php endforeach; ?>
				<tr>
					<td colspan="7" style="background: #f3f3f3; height: 10px;"></td>
				</tr>
				<?php $i++; ?>
			<?php endforeach; ?>
		</tbody>
	</table>
</fieldset>
<br/>
 
<br/>
<input type="submit" value="<?php echo $this->translate('save');?>" id="save_prices" name="save_prices" />
</form>
