<?php
	//IE Freaking hack
	$url = APP_BASE . "misc/sapvactivitygrid?" . $_SERVER['QUERY_STRING'];
	if (str_replace("&list=" . $_REQUEST['list'] . "", "", $url))
	{
		$finalJsUrl = str_replace("&list=" . $_REQUEST['list'] . "", "", $url);
	}
	else
	{
		$finalJsUrl = $url;
	}
?>
<script type="text/javascript" >
	$(function() {
		$('form').submit(function() {
			setTimeout(function () {$('input[type=submit]').attr('disabled', true);}, 150);
			setTimeout(function () {$('input[type=submit]').attr('disabled', false);}, 11000);
		});	 				
	});
	function changeMonth(data){
		var url = "<?php echo $finalJsUrl; ?>&list="+data;
		$(location).attr('href',url);
	}
</script>

<?php echo $this->patientinfo ?>
<?php echo $this->tabmenus ?>
<link rel='stylesheet' type='text/css' href='<?php echo RES_FILE_PATH;  ?>/css/page-css/sapvactivitygrid.css' />
<!-- Table 1 header --- patient info --- start -->
<table width="100%" >
	<tr>
		<td colspan="2" width="24%"  style="border: 1px solid #000;">
			<table width="100%" style="padding:3px;">
				<tr>
					<td valign="middle" style="font-size: large; font-weight:bolder; text-align: center;" >Leistungsnachweis</td>
				</tr>
			</table>
		</td>
		<td  width="45%" style="border: 1px solid #000; vertical-align: middle; text-align: left;">
			<table width="100%" style="padding:3px;">
				<tr>
					<td style="font-size: 1.1 em; font: bold; paddnig: 3px;"><em>Name, Vorname:</em></td>
					<td style="font-size: 1.1 em; font: bold; padding: 3px;  text-align: right;"><em>Pat ID:</em></td>
				</tr>
				<tr>
					<td style="padding: 3px;"><?php echo $this->patientdetails['last_name']; ?>, <?php echo $this->patientdetails['first_name']; ?></td>
					<td style="padding: 3px; text-align: right;"><?php echo $this->patientdetails['epid']; ?></td>
				</tr>
			</table>
		</td>
		<td colspan="2" style="border: 1px solid #000;">
			<table width="100%" style="padding:3px;">
				<tr>
					<td style="padding: 3px;"><em>Krankenkasse:</em></td>
				</tr>
				<tr height="80%">
					<td style="padding: 3px;"><?php echo $this->company_name; ?></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="border: 1px solid #000;">
			<table width="100%"  style="padding:3px;">
				<tr height="80%">
					<td style="padding: 3px;"><em>KV-Nr:</em></td>
				</tr>
				<tr height="80%">
					<td style="padding: 3px;"><?php echo $this->insurance_no; ?></td>
				</tr>
			</table>
		</td>
		<td rowspan="2" style="border: 1px solid #000;">
			<table style="padding:3px;">
				<tr>
					<td style="padding: 3px;"><em>Palliative Care Team:</em></td>
				</tr>
				<tr height="80%">
					<td style="padding: 3px;"><?php echo $this->teamname; ?><br /><?php echo $this->address; ?></td>
				</tr>
			</table>
		</td>
		<td style="border: 1px solid #000;">
			<table width="100%"  style="padding:3px;">
				<tr>
					<td style="padding: 3px;"><em>IK-Nr:</em></td>
				</tr>
				<tr height="80%">
					<td style="padding: 3px;"><?php echo $this->iknumber; ?></td>
				</tr>
			</table>
		</td>
		<td rowspan="2" style="border: 1px solid #000;">
			<table width="100%" style="padding:3px;">
				<tr height="100%">
					<td style="padding: 3px;">
						<?php echo $this->months_selector;  ?>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="border: 1px solid #000;">
			<table width="100%"  style="padding:3px;">
				<tr>
					<td style="padding: 3px;"><em>Pflegestufe</em></td>
				</tr>
				<tr  height="80%">
					<td style="padding: 3px;"><?php echo $this->pfl_stgage; ?></td>
				</tr>
			</table>
		</td>

		<td style="border: 1px solid #000;">
			<table width="100%"  style="padding:3px;">
				<tr>
					<td style="padding: 3px;"><em>Geb.-Datum:</em></td>
				</tr>
				<tr height="80%">
					<td style="padding: 3px;"><?php echo $this->patientdetails['birthd']; ?></td>
				</tr>
			</table>
		</td>
		<td style="border: 1px solid #000;">
			<table width="100%"  style="padding:3px;">
				<tr>
					<td style="padding: 3px;"><em>Telefon:</em></td>
				</tr>
				<tr height="80%">
					<td style="padding: 3px;"><?php echo $this->phone; ?></td>
				</tr>
			</table>
		</td>


	</tr>
</table>
<!-- Table 1 header --- patient info --- end -->
<table class="datatable" width="800" >
	<thead>
		<tr>
			<th id="activity_col_day"><?php echo $this->translate('day'); ?></th>
			<th id="activity_col_d"><?php echo $this->translate('doctor_visit'); ?></th>
			<th id="activity_col_n"><?php echo $this->translate('nurse_visit'); ?></th>
			<th id="activity_col_k"><?php echo $this->translate('koord_visit'); ?></th>
			<th id="activity_col_v"><?php echo $this->translate('verlauf_v'); ?></th>
			<th id="activity_col_u"><?php echo $this->translate('verlauf_u'); ?></th>
			<th id="activity_amount"><?php echo $this->translate('Anzahl'); ?></th>
		</tr>
	</thead>
	<tbody>
		<?php foreach($this->master_month_days as $k_master_days => $v_master_days):
			$current_loop_day = date('d', strtotime($k_master_days));
			?>
		<tr class="<?php if($current_loop_day%2):  ?>alternate_row<?php endif;  ?>">
			<td><?php echo $current_loop_day; $total[$current_loop_day] = 0; ?></td>
			<td><?php if(count($v_master_days['doctor_visit'])>0): echo count($v_master_days['doctor_visit']); $total[$current_loop_day] += count($v_master_days['doctor_visit']);  endif; ?></td>
			<td><?php if(count($v_master_days['nurse_visit'])>0): echo count($v_master_days['nurse_visit']); $total[$current_loop_day] += count($v_master_days['nurse_visit']); endif; ?></td>
			<td><?php if(count($v_master_days['koord_visit'])>0): echo count($v_master_days['koord_visit']); $total[$current_loop_day] += count($v_master_days['koord_visit']); endif; ?></td>
			<td><?php if(count($v_master_days['verlauf_V'])>0): echo count($v_master_days['verlauf_V']); $total[$current_loop_day] += count($v_master_days['verlauf_V']); endif; ?></td>
			<td><?php if(count($v_master_days['verlauf_U'])>0): echo count($v_master_days['verlauf_U']); $total[$current_loop_day] += count($v_master_days['verlauf_U']); endif; ?></td>
			<td id="activity_amount_data"><?php echo $total[$current_loop_day];  ?></td>
		</tr>
		<?php endforeach;  ?>
	</tbody>
</table>
<form name="gen_pdf" id="gen_pdf" action="" method="POST">
	<input type="submit" value="<?php echo $this->translate('generate_pdf'); ?>" id="generate_pdf" name="generate_pdf" />
</form>