<?php
	//Maria:: Migration CISPC to ISPC 22.07.2020
    $this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/page-css/bedlist.css?' . date('Ymd'));
?>
<style>
    input:read-only {
        background-color: white;
    }
</style>
<script>


    $(document).ready(function () {

        /**
         * remove the selected icon from the list
         */
        $("#roomrows").on('click', '.remove-bed-button', function (e) {

            var whichtr = $(this).closest("tr");
            whichtr.remove();
        });


    });
    $(document).on('change','.roomname',function(){
        var last=$('.roomname').last();

        if($(last).val()!="") {
            var newel = $('.roomrow').first().clone();
            $(newel).find('input').val('');
            $('.roomrows').append(newel);
        }
        var last=$('.roomname').last()[0];

        $('.roomname').each(function () {
            if ($(this).val() == "") {
                if(this!=last) {
                    $(this).parents('.roomrow').remove();
                }
            }
        });
    })


</script>
</br></br>
<h1>Bettenverwaltung</h1>
<br>

<form method="post">

    <?php $c=1;?>
        <table id="roomrows" width="50%" border="0" cellpadding="0" cellspacing="0"
               class="datatable halflisttable fixed_team_header"
               style="border-width:0px;border-collapse:collapse;margin-top: 5px;">
            <thead class="main_table_header">
            <tr>
                <th><?php echo $this->translate('bed_name');?></th>
                <th><?php echo $this->translate('option_shortcut');?></th>
                <th><?php echo $this->translate('icons'); ?></th>
                <th><?php echo $this->translate('actions'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->rooms as $room):?>

            <tr class="roomrow">
                <input type="hidden" class="bed-id" name="room[rowid][]" value="<?php echo $room['id'];?>">
                <td><input type="text" class="roomname" name="room[bed_name][]" type="text" value="<?php echo $room['bed_name'];?>" readonly></td>
                <td><input type="text" name="room[bed_kuerzel][]" type="text" value="<?php echo $room['bed_kuerzel'];?>" readonly></td>
                    <td>
                    <div class="icon_image">
                        <!--?php echo APP_BASE .'icons_system/'. $room['client_id']. '/bedicon/'. $room['icon_name']; ? -->
                        <img src="<?php echo APP_BASE .'icons_system/'. $room['client_id']. '/bedicons/'. $room['icon_name']; ?>"
                             title="<?php echo $room['icon_name']; ?>" id="icon_id_<?php echo $room['icon_name']; ?>"
                             height="32"/>
                    </div>
                </td>
                <td>
                    <button type="button" value="1" class="remove-bed-button" title="<?php echo $this->translate(delete); ?>"><img src="<? echo RES_FILE_PATH;  ?>/images/action_delete.png"></button
                </td>
            </tr>
            </tr>

        <?php endforeach;?>
            <tr class="roomrow">
                <td>
                    <input type="hidden" name="room[rowid][]" value="">
                    <input class="roomname" name="room[bed_name][]" type="text" value="">
                </td>
                <td><input type="text" name="room[bed_kuerzel][]" type="text" value=""></td>
                <td>
                    <div class="icon_image"></div>
                </td>
                <td/>
            </tr>
            </tbody>
    </table>
<input type="submit" style="text-align:left;padding:8px;" value="Speichern">

</form>