<?php if ($_REQUEST['source'] == "addressbook" || $_REQUEST['source'] == "brief"): ?>
	<div id="addressbook-container" class="grid">

		<table  class="addressbook-table addressbook-table-locations" cellpadding="0" cellspacing="0" border="0">
		<?php else: ?>
			<div id="locationFetchlist_MainDiv" class="grid">
				<table id="locationFetchlist_contenttable" class="datatable small" cellpadding="0" cellspacing="0" border="0" >
				<?php endif; ?>


				<tr>
					<?php if ($_REQUEST['source'] == "addressbook" || $_REQUEST['source'] == "brief"): ?>
 
					<?php endif; ?>

					<?php if ($_REQUEST['source'] == "addressbook" || $_REQUEST['source'] == "brief"): ?>
	 
					<?php endif; ?>
				</tr>
				<? echo $this->locationgrid ?>
				<tr>
					<td colspan="4" valign="top">
						<?php if ($_REQUEST['source'] == "addressbook" || $_REQUEST['source'] == "brief"): ?>
		 
						<?php endif; ?>
					</td>
				</tr>
				<?php if ($_REQUEST['source'] == "addressbook" || $_REQUEST['source'] == "brief"): ?>

				<?php else: ?>
					<tr><td colspan="4" valign="top"><? echo $this->navigation ?></td></tr>
				<?php endif; ?>
			</table>
				<?php //ISPC-2708,elena,07.01.2021 ?>
				<?php if($this->showMessageForEmpty === true): ?>
				<div style="padding:5px;">Keine Einträge vorhanden.</div>
				<?php endif; ?>
		</div>