<script>
	$(document).ready(function($){

		$('.del_station').bind('click', function() { $('#del_id').val($(this).attr('rel')); $('#delete_message').dialog('open'); });

		$('#delete_message').dialog({
			autoOpen: false,
			modal: true,
			resizable: false,
			height:140,
			buttons: {
			<?php echo $this->translate('yesconfirm'); ?>: function() {
				var id_del =  $('#del_id').val();
				$( this ).dialog( "close" );
				window.open('<?php echo APP_BASE . "locations/deletestation?loc_id=" . $_REQUEST['loc_id'] . "&sid="; ?>'+id_del, '_self')
			},
			<?php echo $this->translate('noconfirm'); ?>: function() {
					$( this ).dialog( "close" );
					$('#del_id').val('');
				}
			}
		});

	});
</script>
<div class="back_list">
	<a href="locations/editlocations?id=<? echo $_REQUEST['loc_id']?>">&laquo; <? echo $this->translate('location_details') ?></a>
</div>

<fieldset>
	<legend>
		<? echo $this->translate('Stations') ?>
	</legend>

	<? if ( $this->error_message) :?>
		<div class="<? echo $this->error_class; ?>"><? echo $this->error_message; ?></div>
	<? endif;?>
	<? if(!empty($this->location_stations_array )):?>
	<table  cellpaddng="10" cellspacing="10" class="station_table" width="50%">
		<tr>
			<th><b> <? echo $this->translate('station') ?></b></th>
			<th><b> <? echo $this->translate('phone') ?></b></th>
			<th><b> <? echo $this->translate('mobile_fax') ?></b></th>
			<th><b> <? echo $this->translate('actions') ?></b></th>
		</tr>
		<? foreach ($this->location_stations_array as $station):?>
		<tr>
			<td><? echo $station['station'];?></td>
			<td><? echo $station['phone1'];?></td>
			<td><? echo $station['phone2'];?></td>
			<td>
				<a href="locations/editstations?st_id=<? echo $station['id'];?>&loc_id=<? echo $_REQUEST['loc_id']?>"><img border="0" src="<?php echo RES_FILE_PATH;;?>/images/edit.png"></a>
				<a href="javascript:void(0);"><img border="0" class="del_station" rel="<? echo $station['id'];?>" src="<?php echo RES_FILE_PATH;?>/images/action_delete.png"></a>
			</td>
		</tr>
		<? endforeach;?>
		<tr>
			<td colspan="4">
				<span class="add_station_link"><a href="locations/addstation2location?loc_id=<? echo $_REQUEST['loc_id']?>"><img src="<? echo RES_FILE_PATH; ?>/images/edit_add.png" width="20" height="20" /><? echo $this->translate('addstation') ?></a></span>
			</td>
		</tr>
	</table>

	<? else:?>
		<span class="add_station_link"><a href="locations/addstation2location?loc_id=<? echo $_REQUEST['loc_id']?>"><img src="<? echo RES_FILE_PATH; ?>/images/edit_add.png" width="20" height="20" /><? echo $this->translate('addstation') ?></a></span>
	<? endif;?>

	<input type="hidden" name="del_id" value="0" id="del_id" />
</fieldset>

<div id="delete_message">
	<p>
		<?php echo $this->translate('delete_station'); ?>
	</p>
</div>


