
	/*body
	{
		background-color:#f1f1f1;
		font-family:Verdana;
		font-size:62.5%;
		margin:20px;
		min-width:990px;
		padding:0
	}*/
	
	a
	{
		color:#2085f6;
		text-decoration:none
	}
	
	a:hover
	{
		color:#7b20f6
	}
	
	h1
	{
		border-bottom:1px dashed #b2ceee;
		color:#414448;
		font-family:'Trebuchet MS';
		font-size:25px;
		margin:20px 0
	}
	
	h2
	{
		color:#414448;
		font-family:'Trebuchet MS';
		font-size:20px
	}
	
	
	fieldset
	{
		background-color:#fff;
		border:1px solid #bbb;
		margin:10px 0;
		padding:10px
	}
	
	sup,sub
	{
		color:#d5184e
	}
	
	blockquote
	{
		border-left:1px solid #6e7b7d;
		color:#4c5152;
		margin:10px 0 10px 20px;
		padding:5px 5px 5px 20px
	}
	
	#form_builder_nav
	{
		float:right;
		width:250px
	}
	
	#form_builder_container
	{
		border:1px solid #bbb;
		margin-right:260px;
		padding:15px;
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	#form_builder_panel
	{
		/*border:1px solid #bbb;
		margin-right:260px;
		padding:15px;
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;*/
		overflow-x:auto; 
		overflow-y:hidden;
	}
	
	.group_panel
	{
		/*border:1px solid #bbb;*/
		margin-right:260px;
		padding:15px;
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	#form_builder_panel .properties
	{
		
	}
	
	#form_builder_panel .handle {
		display: block;
		position: absolute;
		right: 3px;
		cursor:move;
		font-size: 9px;
		
		z-index: 9000;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	.group_panel .handle {
		display: block;
		position: absolute;
		right: 3px;
		cursor:move;
		font-size: 9px;
		
		z-index: 9000;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	#form_builder_panel ol
	{
		min-height:100px;
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	.group_panel ol
	{
		min-height:100px;
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	#form_builder_panel li.on {
		background-color: #d4f8aa;
	}
	
	.group_panel li.on {
		background-color: #d4f8aa;
	}
	
	#form_builder_properties
	{
		border:1px solid #bbb;
		list-style-type:none;
		margin:10px 0;
		padding:10px;
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	#form_builder_properties ul b
	{
		color:#3f4858
	}
	
	.group_panel ul b
	{
		color:#3f4858
	}
	
	#form_builder_properties li
	{
		border-bottom:1px solid #bbb;
		padding:5px
	}
	
	#form_builder_properties ul
	{
		list-style-type:none;
		margin:0 10px 0 0;
		padding:0
	}
	
	#form_builder_properties ul li
	{
		border:none;
		padding:2px
	}
	
	
	
	#form_builder_toolbox
	{
		border:1px solid #bbb;
		list-style-type:none;
		margin:0 0 10px;
		padding:10px;
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	#form_builder_toolbox li
	{
		background-position:5px 5px;
		background-repeat:no-repeat;
		border-bottom:1px solid #bbb;
		cursor:pointer;
		padding:5px 5px 5px 28px
	}
	
	#pdf_builder_toolbox
	{
		border:1px solid #bbb;
		list-style-type:none;
		margin:0 0 10px;
		padding:10px;
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	#pdf_builder_toolbox li
	{
		background-position:5px 5px;
		background-repeat:no-repeat;
		border-bottom:1px solid #bbb;
		cursor:pointer;
		padding:5px 5px 5px 28px
	}
	
	#form_builder_toolbox #text
	{
		background-image:url(../images/icons/layout_content.png)
	}
	
	#form_builder_toolbox #datetime
	{
		background-image:url(../images/icons/date.png)
	}
	
	#form_builder_toolbox #fileupload
	{
		background-image:url(../images/icons/image_add.png)
	}
	
	#form_builder_toolbox #textbox
	{
		background-image:url(../images/icons/textfield.png);
		font-size:
	}
	
	#form_builder_toolbox #textarea
	{
		background-image:url(../images/icons/comment.png)
	}
	
	#form_builder_toolbox #checkbox
	{
		background-image:url(../images/icons/checkbox.png)
	}
	
	#form_builder_toolbox #radio
	{
		background-image:url(../images/icons/radio.png)
	}
	
	#form_builder_toolbox #dropdown
	{
		background-image:url(../images/icons/dropdown.png)
	}
	
	#form_builder_toolbox #fbbutton
	{
		background-image:url(../images/icons/button.png)
	}
	#form_builder_toolbox #checkboxmatrix
	{
		background-image:url(../images/icons/checkboxmatrix.png)
	}
	
	ul.quicklist li.last-child,
	ol li.last-child,
	#form_builder_properties li.last-child,
	#form_builder_toolbox li.last-child
	{
		border:none
	}
	
	#form_builder_panel hr.pageline{
	
		background-color:#000000;
		height:2px;
		
	}
		
	#form_builder_panel hr.pageline:hover{
		
		cursor:move;
		
	} 
	
	#form_builder_panel ol.droppable-hover,#form_builder_toolbox li:hover
	{
		background-color:#d4f8aa
	}


	.group_panel ol.droppable-hover,#form_builder_toolbox li:hover
	{
		background-color:#d4f8aa
	}
	
	#form_builder_panel .formlabel{
	
		margin:5px 0 0 10px;
	}
	
	#form_builder_panel .formspan{
	
		margin:5px 0 0 10px;
	}


	/*
	######################
	Notices
	######################
	*/

	div.debug,
	div.error,
	div.warning,
	div.info,
	div.note,
	div.attachments
	{
		margin: 8px 0;
		padding: 9px;
		font-size: 11px;
		background-position: 8px 8px;
		padding-left: 32px;
		background-repeat: no-repeat;
		
		-moz-border-radius:5px;
		-webkit-border-radius: 5px;
		border-radius:5px;
	}
	
	div.debug p,
	div.error p,
	div.warning p,
	div.info p,
	div.note p,
	div.attachments p {
		margin: 0 0 10px 0;
	}
	
	div.attachments ul {
		margin: 0;
		padding: 4px 0 4px 10px;
		list-style-type: none;
	}
	
	span.error {
		color: #f72b73;
		background-image:url(../images/icons/error.png);
		padding: 2px 2px 2px 20px;
		background-repeat: no-repeat;
		white-space: nowrap;
		
	}
	
	span.warning {
		color: #f7902b;
		background-image:url(../images/icons/bell.png);
		padding: 2px 2px 2px 20px;
		background-repeat: no-repeat;

	}
	
	span.info {
		color: #4697bd;
		background-image:url(../images/icons/information.png);
		padding: 2px 2px 2px 20px;
		background-repeat: no-repeat;

	}
	
	div.attachments
	{
		background-color: #ddd;
		background-image:url(../images/icons/link_go.png);
		padding: 3px 3px 3px 20px;
	}
	
	div.attachments .file {
		display: block;
	}
	
	div.attachments .details {
		font-size: 9px;
		line-height: 9px;
	}
	
	div.attachments .details em {
		font-weight: normal;
		color: #333;
		font-style:italic; 
	}
	
	div.debug
	{
		background-color: #d4f8aa;
		background-image:url(../images/icons/bug.png);
	}
	
	div.error
	{
		background-color: #f8c9d9;
		background-image:url(../images/icons/error.png);
		
	}
	
	div.warning
	{
		background-color: #f8e0c9;
		background-image:url(../images/icons/bell.png);
	}
	
	div.info {
		background-color: #c9f0f8;
		background-image:url(../images/icons/information.png);
	}
	
	div.note {
		background-color: #faf4ae;
		background-image:url(../images/icons/note.png);
	}
	
	span.note
	{
		color: #677d90;
	}
	

	/*
	######################
	General Icons
	######################
	*/


	.small_avatar {
		vertical-align: middle;
		width: 16px;
		height: 16px;
		margin-bottom: 3px;
		border: 1px solid #fff;
		background-color: #fff;
		
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	}
	
	img.avatar {
		
		max-width: 60px;
		max-height: 60px;
		
		border: 1px solid #fff;
		background-color: #fff;
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		overflow: hidden;
	}

	.icon
	{
		padding: 0 3px 0 23px;
		background-repeat: no-repeat;
		line-height: 18px;
		display: inline-block;
		background-position: 3px center;
	}
	
	.icon.tag {
		background-image:url(../images/icons/tag_blue.png);
		padding: 0 18px 2px 0;
		background-position: right 0;
	}
	
	.icon span {
		display: none;
	}
	
	.icon.app,.icon.dialog {background-image:url(../images/icons/application_view_tile.png);}
	.icon.add {background-image:url(../images/icons/add.png);}
	.icon.accept {background-image:url(../images/icons/accept.png);}
	.icon.bell {background-image:url(../images/icons/bell.png);}
	.icon.bug {background-image:url(../images/icons/bug.png);}
	.icon.delete {background-image:url(../images/icons/delete.png);}
	.icon.edit {background-image:url(../images/icons/page_edit.png);}
	.icon.date {background-image:url(../images/icons/date.png);}
	.icon.comment {background-image:url(../images/icons/comment.png);}
	.icon.info {background-image:url(../images/icons/information.png);}
	.icon.dir {background-image:url(../images/icons/folder.png);}
	.icon.dir.open {background-image:url(../images/icons/folder_image.png);}
	.icon.groups {background-image:url(../images/icons/group.png);}
	.icon.word {background-image:url(../images/icons/page_white_word.png);}
	.icon.time {background-image:url(../images/icons/time.png);}
	.icon.up_arrow {background-image:url(../images/icons/arrow_up.png);}
	.icon.down_arrow {background-image:url(../images/icons/arrow_down.png);}
	.icon.refresh {background-image:url(../images/icons/page_refresh.png);}
	.icon.back {background-image: url(../images/icons/arrow_undo.png);}
	.icon.move {background-image: url(../images/icons/arrow_out.png);}
	.icon.rss {background-image: url(../images/icons/feed-icon-16x16.gif);}
	.icon.user {background-image: url(../images/icons/user.png);}
	.icon.email {background-image: url(../images/icons/email.png);}
	.icon.history { background-image: url(../images/icons/script.png);}
	
	.icon.thumbup {background-image: url(../images/icons/thumb_up.png);}
	.icon.thumbdown {background-image: url(../images/icons/thumb_down.png);}
	
	.loading {background-image:url(../images/icons/loading.gif) !important; background-repeat: no-repeat !important;}
	
	.tree .icon.dir {
		background-position: 3px top;max-width:160px; overflow: hidden; white-space: nowrap
	}
	
	a.icon:hover {
		background-color: #f1f1f1;
	
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	.icon.tooltip {
		padding: 0 18px 2px 0;
		background-position: right 0;
		background-repeat: no-repeat;
		background-image:url(../images/icons/comment.png);
		color: #2085f6;
		text-decoration: none;
		cursor: help;
	}
	
	input.icon {
		padding: 5px;
		padding-left: 20px !important;
	}
	
	.icon.tooltip:hover {
		color: #7b20f6;
	}
	
	#tooltip {
		position: absolute;
		z-index: 500000;
		background-color: #2e2e2e;
		color: #fff;
		padding: 10px;
		opacity: 0.9;
	
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	#tooltip h3, #tooltip div { margin: 0; font-weight: normal; font-size: 10px; white-space: nowrap; }
	#tooltip div {
		margin: 5px 0 0 0;
	}
	
	#tooltip div img {
		border: 1px solid #000;
	}
	
	div.block.icon {
		width: 18px;
		height: 18px;
		padding: 0 3px 0 3px;
	}
	
	
	.A4 {
		height:297mm;
		width:210mm;
		display:block;
		
		
	}
	
	.A5 {
		height:500px;
		display:block;
		
	}

	.filesetpad{
		padding:15px;	
	}
	