

	/*
	This is FRONTEND CONTENT ONLY.
	Zero layout is allowed here.
	
	This file is also used by the Admin Editor, to visually
	copy editor content to what it would look like on the main website.
	
	do not use body {} tag and be mindful of padding/floats.
	*/
	
	.clear {
		clear:both
	}
	
	/*
	######################
	Form Fancy
	######################
	*/
	
	form {
		margin: 0;
		padding: 0;
		display: inline;
	}
	
	form.fancy fieldset {
		margin: 10px 0;
		border:2px solid #DEDEDE;
	}
	
	form .sml fieldset {
		margin: 2px 0;
	}
	form.fancy legend {
		font-family:"Trebuchet MS";
		font-size:16px;
		font-weight:normal;
		padding:0 2px 0 0;
		color:#565656;
	}
	
	form.fancy div.block {
		position: relative;
		margin-left: 190px;
	}
	
	form .sml div.block {
		margin-left: 100px;
	}
	
	form.fancy label {
	  position: relative;
	  line-height: 1.8;
	  vertical-align: top;
	  float: left;
	}
	form.fancy fieldset ol {
	  margin: 0;
	  padding: 0;
	  clear: both;
	}
	
	form.fancy fieldset li {
	  list-style: none;
	  padding: 5px;
	  margin: 0;
	  clear: both;
	}
	
	form.fancy fieldset li.last-child {
		border-bottom:medium none;
	}
	
	form.fancy fieldset fieldset {
	  border: none;
	  margin: 3px 0 0;
	}
	form.fancy fieldset fieldset legend {
	  padding: 0 0 5px;
	  font-weight: normal;
	}
	
	form.fancy fieldset fieldset label {
	  display: block;
	  width: auto;
	  float: none;
	}
	form.fancy label.plain {
		float: none;
		width: auto;
	}
	
	form.fancy em {
	  font-weight: bold;
	  font-style: normal;
	  color: #f54480;
	}
	form.fancy label {
	  width: 190px; /* Width of labels */
	}
	form .sml label {
	  width: 100px;
	}
	form.fancy fieldset fieldset label {
	  margin-left: 123px; /* Width plus 3 (html space) */
	}
	
	form.fancy {
		
		color: #333;
		margin: 10px 0;
		display: inline;
	}
	
	form.fancy input {
		border: 1px solid #889ca6;
		background-color: #ffffff;
		padding: 2px;
	}
	
	form.fancy input.big {
		font-size: 20px;
	}
	
	form.fancy input.error {
		border: 1px solid #f72b73;
		margin-right: 10px;
	}
	
	form.fancy input[type=submit]
	{
		background-color: #c1fea6;
		color: #2c6d10;
		padding: 1px 5px;
		border: 1px solid #3e911a;
		
		-moz-border-radius:5px;
		-webkit-border-radius: 5px;
		border-radius:5px;
	}
	
	form.fancy input[type=submit]:hover {
		background-color: #d7f7c9;
	}
	
	form.fancy input[type=button],
	form.fancy input[type=reset]
	{
		background-color: #fff;
		color: #333;
		padding: 1px 5px;
		border: 1px solid #bbb;
		
		-moz-border-radius:5px;
		-webkit-border-radius: 5px;
		border-radius:5px;
	}
	
	form.fancy input[type=button]:hover,
	form.fancy input[type=reset]:hover
	{
		background-color: #f1f1f1;
	}
	
	form.fancy label { color: #333; }
	
	form.fancy fieldset fieldset { background: none; }
	
	form.fancy fieldset li {
		
		padding: 5px 10px 7px;
		border-bottom: 1px solid #e3eef9;
	}

	/* FORM ICONS */
	
	form.fancy input.datepicker {
		background-image: url(../images/icons/date_input.png);
		background-repeat: no-repeat;
		background-position: center right;
	}
	
	form.fancy input.auto {
		background-image: url(../images/icons/application_view_list_input.png);
		background-repeat: no-repeat;
		background-position: center right;
	}
	
	form.fancy input.ac_loading {
		background-image: url(../images/icons/loading.gif);
	}
	
	form.fancy input.color {
		background-image: url(../images/icons/color_wheel_input.png);
		background-repeat: no-repeat;
		background-position: center right;
	}

	