<link rel='stylesheet' type='text/css' href='<?php echo RES_FILE_PATH; ?>/css/page-css/braanlage5.css' />
<script type="text/javascript">
 
	$(document).ready(function () {
		$('.date').datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "focus",
			changeMonth: true,
			changeYear: true,
			nextText: '',
			prevText: ''
		}).mask('99.99.9999');
		
		
		$('.submit_form').click(function(event) {
			event.preventDefault();
			var button = $(this).attr('id');

			$(document).userSession().checksession('abort', function(result) {
				if(result === false) {
					event.stopImmediatePropagation(); //stop going forward
				} else {
					$('#btn_'+button+'').val(1);
					$('#bra_anlage_5').submit();
				}
			});
		});
		
		
		
		
		
		
		
		
		$('form').submit(function () {
		setTimeout(function () {
			$('input[type=submit]').attr('disabled', true);
		}, 150);

		setTimeout(function () {
			$('input[type=submit]').attr('disabled', false);
		}, 11000);
		});
	});
</script>
<?php echo $this->patientinfo; ?>
<?php echo $this->tabmenus; ?>
<?php 
$weeks_data = $this->weeks_data;
$hopital_days = 0;
$anlage_data = $this->anlage_data;
 ?>

<div class="tab_container">
<form name="bra_anlage_5" id="bra_anlage_5" action="" method="POST">

 <div class="htitle" >
 	<span class="ht_left">Anlage 5  -  Abrechnung gegenüber den Krankenkassen	</span>
 	<span class="ht_right">Leistungserbringergruppenschlüssel (AC/TK): 75/12/001</span>
 </div>
 <!-- #1  -->
 <div class="f_row">
 	<div class="no"  style="width: 2%" >1.&nbsp;</div>
 	<div class="data_label" style="width: 20%">Institutionskennzeichen (IK):</div>
 	<div class="data_text"  style="width: 22%"><?php echo $anlage_data['client']['ik'] ?>&nbsp;</div>
 	<div class="wspace" style="width: 2%">&nbsp;</div>
 	<div class="data_label" style="width: 10%" >SAPV-BSNR:</div>
 	<div class="data_text"  style="width: 43%" ><?php echo $anlage_data['client']['bsnr'] ?></div>
 </div>
 
 <!-- #2  -->
 <div class="f_row">
 	<div class="no"  style="width: 2%" >2.&nbsp;</div>
 	<div class="data_label"  style="width: 12%">Name, Vorname:</div>
 	<div class="data_text"  style="width: 30%"><?php echo $anlage_data['patient']['last_name']; ?>, <?php echo $anlage_data['patient']['first_name']; ?></div>
 	<div class="wspace" style="width: 2%">&nbsp;</div>
 	<div class="data_label" style="width: 10%">Vers.-Nr.:</div>
 	<div class="data_text" style="width: 43%"><?php echo $anlage_data['patient']['insurance_number']; ?>&nbsp;</div>
 </div>
 
 
 <div class="f_row">
 	<div class="no"  style="width: 2%" >&nbsp;</div>
 	<div class="data_label"  style="width: 17%">PLZ Ort (Aufenthaltsort*)</div>
 	<div class="data_text"  style="width: 25%"><?php echo $anlage_data['patient']['zip']; ?>, <?php echo $anlage_data['patient']['city']; ?></div>
 	<div class="wspace" style="width: 2%">&nbsp;</div>
 	<div class="data_table_location" >
 		<table>
 			<tr>
 				<td>*</td>
 				<td><input type="checkbox" name="anlage_data[invoice][location_data][]" id="location_data_00" value="00"  <?php if(in_array("00",$anlage_data['invoice_data']['location_data'])):?> checked="checked" <?php endif; ?>  /> </td>
 				<td><label  for="location_data_00">00 = privater Haushalt</label></td>
 				<td><input type="checkbox" name="anlage_data[invoice][location_data][]" id="location_data_30" value="30"  <?php if(in_array("30",$anlage_data['invoice_data']['location_data'])):?> checked="checked" <?php endif; ?>  /> </td>
 				<td><label  for="location_data_30">30 = stat. Hospiz</label></td>
 				<td><input type="checkbox" name="anlage_data[invoice][location_data][]" id="location_data_60" value="60"  <?php if(in_array("60",$anlage_data['invoice_data']['location_data'])):?> checked="checked" <?php endif; ?>  /> </td>
 				<td><label  for="location_data_60">60 = sonstiger Ort</label></td>
 			</tr>
 			<tr>
 				<td></td>
 				<td><input type="checkbox" name="anlage_data[invoice][location_data][]" id="location_data_10" value="10"  <?php if(in_array("10",$anlage_data['invoice_data']['location_data'])):?> checked="checked" <?php endif; ?>  /> </td>
 				<td><label  for="location_data_10">10 = vollstat. Pflegeeinrichtung</label></td>
 				<td><input type="checkbox" name="anlage_data[invoice][location_data][]" id="location_data_40" value="40"  <?php if(in_array("40",$anlage_data['invoice_data']['location_data'])):?> checked="checked" <?php endif; ?>  /> </td>
 				<td><label  for="location_data_40">40 = Einr. Eingliederungshilfe</label></td>
 				<td></td>
 				<td></td>
 			</tr>
 			<tr>
 				<td></td>
 				<td><input type="checkbox" name="anlage_data[invoice][location_data][]" id="location_data_20" value="20"  <?php if(in_array("20",$anlage_data['invoice_data']['location_data'])):?> checked="checked" <?php endif; ?>  /> </td>
 				<td><label  for="location_data_20">20 = teilstat. Pflegeeinrichtung</label></td>
 				<td><input type="checkbox" name="anlage_data[invoice][location_data][]" id="location_data_50" value="50"  <?php if(in_array("50",$anlage_data['invoice_data']['location_data'])):?> checked="checked" <?php endif; ?>  /> </td>
 				<td><label  for="location_data_50">50 = Einr. Kinder- und Jugendhilfe</label></td>
 				<td></td>
 				<td></td>
 			</tr>
 		</table>
 	</div>
 </div>
 
 <!-- #3  -->
 <div class="f_row">
 	<div class="no">3.&nbsp;</div>
 	<div class="data_label">Datum der Aufnahme in die SAPV:</div>
 	<div class="data_text"  style="width: 17%" ><?php echo $anlage_data['patient']['sapv_first_day'] ?>&nbsp;</div>
 	<div class="wspace" style="width: 2%">&nbsp;</div>
 	<div class="data_label" style="width: 13%" >ggf. Sterbedatum:</div>
 	<div class="data_text"  style="width: 40%" ><?php echo $anlage_data['patient']['date_of_death']; ?>&nbsp;</div>
 </div>
 
<div class="f_row">
 	<div class="no">&nbsp;</div>
 	<div class="data_label"  style="width:18%">&nbsp;<br/>Datum des Erstbesuchs:</div>
 	<div class="data_text" style="width: 24%">&nbsp;<br/><?php echo $anlage_data['first_visit']['date'];?> <input type="hidden" name="anlage_data[invoice][visit_date]" value="<?php echo $anlage_data['first_visit']['date'];?>"  style="width:95%"/></div>
 	<div class="wspace" style="width: 2%">&nbsp;</div>
 	<div class="data_label"  style="width:23%">&nbsp;<br/>PLZ Ort Palliativarzt (Erstbesuch): </div>
 	<div class="data_text"  style="width: 30%">&nbsp;<input type="text" name="anlage_data[invoice][visit_doctor]" value="<?php echo $anlage_data['first_visit']['doctor_user'];?>"  style="width:95%"/></div>
 </div>

 <div class="f_row">
 	<div class="no">&nbsp;</div>
 	<div class="data_label"  style="width:18%">&nbsp;</div>
 	<div class="data_text noborder" style="width: 24%">&nbsp;</div>
 	<div class="wspace" style="width: 2%">&nbsp;</div>
 	<div class="data_label" style="width:29%">&nbsp;<br/>PLZ Ort Palliativpflegedienst (Erstbesuch):</div>
 	<div class="data_text"  style="width: 24%">&nbsp;<input type="text"  name="anlage_data[invoice][visit_nurse]" value="<?php echo $anlage_data['first_visit']['nurse_user'];?>"   style="width:95%"/></div>
 </div>
 
 <!-- #4  -->
 <div class="f_row">
 	<div class="no">&nbsp;<br/>4.&nbsp;</div>
 	<div class="data_label"  style="width:57%">&nbsp;<br/><b>Name und PLZ Ort</b> (ggf. Stempel) des behandelnden spezialisierten Palliativarztes:<br/> 
<sup>(bei Teil- / Vollversorgung)</sup></div>
 	<div class="data_text" style="width: 40%">
 		<select class="uselect" name="anlage_data[invoice][doctor_data]" >
 			<option value="0"></option>
 			<?php foreach($anlage_data['user']['doctor'] as $doc_id => $doc_details):?>
 			<option value="<?php echo $doc_id; ?>" <?php if($anlage_data['invoice_data']['doctor_data'] ==$doc_id ):?> selected="selected" <? endif;?>><?php echo $doc_details;?></option>
 			<?php endforeach;?>
 		</select>
 	</div>
 </div>
 
 <!-- #5  -->
 <div class="f_row nomargin">
 	<div class="no">&nbsp;<br/>5.&nbsp;</div>
 	<div class="data_label"  style="width:65%">&nbsp;<br/> <b>IK, Name und PLZ Ort </b> (ggf. Stempel) des versorgenden spezialisierten Palliativpflegedienstes:<br/>  
	<sup>(bei Teil- / Vollversorgung)</sup></div>
 	<div class="data_text" style="width: 33%">
 	 	<select class="uselect"  name="anlage_data[invoice][nurse_data_i]">
 			<option value="0"></option>
 			<?php foreach($anlage_data['user']['nurse'] as $nurse_id => $nurse_details):?>
 			<option value="<?php echo $nurse_id; ?>" <?php if($anlage_data['invoice_data']['nurse_data_i'] ==$nurse_id ):?> selected="selected" <? endif;?>><?php echo $nurse_details;?></option>
 			<?php endforeach;?>
 		</select>
 	</div>
 </div>
 <div class="f_row marginb10px">
 	<div class="no">&nbsp;</div>
 	<div class="data_label"  style="width:65%">&nbsp;</div>
 	<div class="data_text" style="width: 33%">
 	 	<select class="uselect"  name="anlage_data[invoice][nurse_data_ii]">
 			<option value="0"></option>
 			<?php foreach($anlage_data['user']['nurse'] as $nurse_id => $nurse_details):?>
 			<option value="<?php echo $nurse_id; ?>" <?php if($anlage_data['invoice_data']['nurse_data_ii'] ==$nurse_id ):?> selected="selected" <? endif;?>><?php echo $nurse_details;?></option>
 			<?php endforeach;?>
 		</select>
 	</div>
 </div>
 <div class="f_row">
 	<div class="no">&nbsp;</div>
 	<div class="data_label"  style="width:65%">&nbsp;<br/>&nbsp;</div>
 	<div class="data_text" style="width: 33%">
 	 	<select class="uselect"  name="anlage_data[invoice][nurse_data_iii]">
 			<option value="0"></option>
 			<?php foreach($anlage_data['user']['nurse'] as $nurse_id => $nurse_details):?>
 			<option value="<?php echo $nurse_id; ?>" <?php if($anlage_data['invoice_data']['nurse_data_iii'] ==$nurse_id ):?> selected="selected" <? endif;?>><?php echo $nurse_details;?></option>
 			<?php endforeach;?>
 		</select>
 	</div>
 </div>

 
 
  <!-- #6  -->
 <div class="f_row">
 	<div class="no">6.&nbsp;</div>
 	<div class="data_label"  style="width:96%">abgerechnete Pauschalen für den o. g. Versicherten für den Zeitraum vom <span style="text-decoration: underline"><?php echo $anlage_data['invoice_data']['start_date']?></span>  bis <span  style="text-decoration: underline"><?php echo $anlage_data['invoice_data']['end_date'];?></span> <?php if($anlage_data['invoice_data']['hospital_days']  > 0 ):?>(<?php echo $anlage_data['invoice_data']['hospital_days']." Krh. Tage";?>) <?php endif;?></div>
 	<input type="hidden" name="anlage_data[invoice][start_date]" value="<?php echo $anlage_data['invoice_data']['start_date'];?>"  style="width:95%"/>
 	<input type="hidden" name="anlage_data[invoice][end_date]" value="<?php echo $anlage_data['invoice_data']['end_date'];?>"  style="width:95%"/>
 	<input type="hidden" name="anlage_data[invoice][hospital_days]" value="<?php echo $anlage_data['invoice_data']['hospital_days'];?>"  style="width:95%"/>
 	
 	
 </div>

 <div class="f_row">
		<table class="anlage_table">
			<tr>
				<th>Pauschale</th>
				<th>PCT 01</th>
				<th>PCT 02</th>
				<th>Weg 02.1</th>
				<th>Weg 02.2</th>
				<th>Weg 02.3</th>
				<th>PCT 03a</th>
				<th>Weg 03.1</th>
				<th>Weg 03.2</th>
				<th>Weg 03.3</th>
				<th>PCT 03b</th>
				<th>Weg 03.1</th>
				<th>Weg 03.2</th>
				<th>Weg 03.3</th>
			</tr>
			
			<tr>
				<th>GPOS</th>
				<th>10107002</th>
				<th>10207103</th>
				<th>10208112</th>
				<th>10208113</th>
				<th>10208114</th>
				<th>20405102</th>
				<th>204088109</th>
				<th>20408110</th>
				<th>20408111</th>
				<th>30405101</th>
				<th>30408109</th>
				<th>30408110</th>
				<th>30408111</th>
			</tr>
			
			<tr>
				<td>Anzahl</td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct01']['amount']; ?>
				<input type="hidden" name="product_data[pct01][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct01']['amount']; ?>" />
				<input type="hidden" name="product_data[pct01][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct01']['price']; ?>" />
				<input type="hidden" name="product_data[pct01][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct01']['sum']; ?>" />
				
				</td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct02']['amount']; ?>
				<input type="hidden" name="product_data[pct02][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct02']['amount']; ?>" />
				<input type="hidden" name="product_data[pct02][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct02']['price']; ?>" />
				<input type="hidden" name="product_data[pct02][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct02']['sum']; ?>" />
				</td>
				<td></td>
				<td></td>
				<td></td>
				
				<td><?php echo $anlage_data['invoice_data']['items']['pct03a']['amount']; ?>
				<input type="hidden" name="product_data[pct03a][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['amount']; ?>" />
				<input type="hidden" name="product_data[pct03a][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['price']; ?>" />
				<input type="hidden" name="product_data[pct03a][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['sum']; ?>" />
				</td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.1']['amount']; ?>
				<input type="hidden" name="product_data[pct03a.1][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.1']['amount']; ?>" />
				<input type="hidden" name="product_data[pct03a.1][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.1']['price']; ?>" />
				<input type="hidden" name="product_data[pct03a.1][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.1']['sum']; ?>" />
				</td>
				
				
				<td><?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.2']['amount']; ?>
				<input type="hidden" name="product_data[pct03a.2][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.2']['amount']; ?>" />
				<input type="hidden" name="product_data[pct03a.2][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.2']['price']; ?>" />
				<input type="hidden" name="product_data[pct03a.2][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.2']['sum']; ?>" />
				</td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.3']['amount']; ?>
				<input type="hidden" name="product_data[pct03a.3][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.3']['amount']; ?>" />
				<input type="hidden" name="product_data[pct03a.3][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.3']['price']; ?>" />
				<input type="hidden" name="product_data[pct03a.3][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.3']['sum']; ?>" />
				</td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03b']['amount']; ?>
				<input type="hidden" name="product_data[pct03b][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['amount']; ?>" />
				<input type="hidden" name="product_data[pct03b][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['price']; ?>" />
				<input type="hidden" name="product_data[pct03b][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['sum']; ?>" />
				</td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.1']['amount']; ?>
				<input type="hidden" name="product_data[pct03b.1][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.1']['amount']; ?>" />
				<input type="hidden" name="product_data[pct03b.1][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.1']['price']; ?>" />
				<input type="hidden" name="product_data[pct03b.1][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.1']['sum']; ?>" />
				</td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.2']['amount']; ?>
				<input type="hidden" name="product_data[pct03b.2][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.2']['amount']; ?>" />
				<input type="hidden" name="product_data[pct03b.2][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.2']['price']; ?>" />
				<input type="hidden" name="product_data[pct03b.2][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.2']['sum']; ?>" />
				</td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.3']['amount']; ?>
				<input type="hidden" name="product_data[pct03b.3][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.3']['amount']; ?>" />
				<input type="hidden" name="product_data[pct03b.3][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.3']['price']; ?>" />
				<input type="hidden" name="product_data[pct03b.3][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.3']['sum']; ?>" />
				</td>
			</tr>
			
			<tr>
				<td>Summe</td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct01']['sum']; ?></td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct02']['sum']; ?></td>
				<td></td>
				<td></td>
				<td></td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03a']['sum']; ?></td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.1']['sum']; ?></td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.2']['sum']; ?></td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03a']['pct03a.3']['sum']; ?></td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03b']['sum']; ?></td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.1']['sum']; ?></td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.2']['sum']; ?></td>
				<td><?php echo $anlage_data['invoice_data']['items']['pct03b']['pct03b.3']['sum']; ?></td>
			</tr>
			
		</table>

			<table class="anlage_table">
				<tr>
					<th>Pauschale</th>
					<th>PCT 04a</th>
					<th>Weg 04.1</th>
					<th>Weg 04.2</th>
					<th>Weg 04.3</th>
					<th>PCT 04b</th>
					<th>Weg 04.1</th>
					<th>Weg 04.2</th>
					<th>Weg 04.3</th>
					<th>PCT 05</th>
					<th>PCT 06</th>
					<th width="20%">Gesamtbetrag:</th>
				</tr>
				
				<tr>
					<th>GPOS</th>
					<th>20505102</th>
					<th>20508109</th>
					<th>20508110</th>
					<th>20508111</th>
					<th>30505101</th>
					<th>30508109</th>
					<th>30508110</th>
					<th>30508111</th>
					<th>20405105</th>
					<th>10607300</th>
					<th rowspan="2"></th>
				</tr>
				
				<tr>
					<td>Anzahl</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04a']['amount']; ?>
					<input type="hidden" name="product_data[pct04a][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['amount']; ?>" />
					<input type="hidden" name="product_data[pct04a][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['price']; ?>" />
					<input type="hidden" name="product_data[pct04a][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['sum']; ?>" />
					
					</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.1']['amount']; ?>
					<input type="hidden" name="product_data[pct04a.1][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.1']['amount']; ?>" />
					<input type="hidden" name="product_data[pct04a.1][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.1']['price']; ?>" />
					<input type="hidden" name="product_data[pct04a.1][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.1']['sum']; ?>" />					
					</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.2']['amount']; ?>
					<input type="hidden" name="product_data[pct04a.2][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.2']['amount']; ?>" />
					<input type="hidden" name="product_data[pct04a.2][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.2']['price']; ?>" />
					<input type="hidden" name="product_data[pct04a.2][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.2']['sum']; ?>" />							
					</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.3']['amount']; ?>
					<input type="hidden" name="product_data[pct04a.3][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.3']['amount']; ?>" />
					<input type="hidden" name="product_data[pct04a.3][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.3']['price']; ?>" />
					<input type="hidden" name="product_data[pct04a.3][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.3']['sum']; ?>" />					
					</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04b']['amount']; ?>
					<input type="hidden" name="product_data[pct04b][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['amount']; ?>" />
					<input type="hidden" name="product_data[pct04b][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['price']; ?>" />
					<input type="hidden" name="product_data[pct04b][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['sum']; ?>" />					
					</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.1']['amount']; ?>
					<input type="hidden" name="product_data[pct04b.1][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.1']['amount']; ?>" />
					<input type="hidden" name="product_data[pct04b.1][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.1']['price']; ?>" />
					<input type="hidden" name="product_data[pct04b.1][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.1']['sum']; ?>" />
					</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.2']['amount']; ?>
					<input type="hidden" name="product_data[pct04b.2][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.2']['amount']; ?>" />
					<input type="hidden" name="product_data[pct04b.2][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.2']['price']; ?>" />
					<input type="hidden" name="product_data[pct04b.2][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.2']['sum']; ?>" />					
					</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.3']['amount']; ?>
					<input type="hidden" name="product_data[pct04b.3][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.3']['amount']; ?>" />
					<input type="hidden" name="product_data[pct04b.3][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.3']['price']; ?>" />
					<input type="hidden" name="product_data[pct04b.3][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.3']['sum']; ?>" />					
					</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct05']['amount']; ?>
					<input type="hidden" name="product_data[pct05][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct05']['amount']; ?>" />
					<input type="hidden" name="product_data[pct05][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct05']['price']; ?>" />
					<input type="hidden" name="product_data[pct05][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct05']['sum']; ?>" />					
					</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct06']['amount']; ?>
					<input type="hidden" name="product_data[pct06][qty]" value="<?php echo $anlage_data['invoice_data']['items']['pct06']['amount']; ?>" />
					<input type="hidden" name="product_data[pct06][price]" value="<?php echo $anlage_data['invoice_data']['items']['pct06']['price']; ?>" />
					<input type="hidden" name="product_data[pct06][total]" value="<?php echo $anlage_data['invoice_data']['items']['pct06']['sum']; ?>" />
					</td>
				</tr>
				
				<tr>
					<td>Summe</td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04a']['sum']; ?></td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.1']['sum']; ?></td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.2']['sum']; ?></td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04a']['pct04a.3']['sum']; ?></td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04b']['sum']; ?></td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.1']['sum']; ?></td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.2']['sum']; ?></td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct04b']['pct04b.3']['sum']; ?></td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct05']['sum']; ?></td>
					<td><?php echo $anlage_data['invoice_data']['items']['pct06']['sum']; ?></td>
					<td>
						<?php echo $anlage_data['invoice_data']['items']['overall_amount']; ?>
						<input type="hidden" name="anlage_data[invoice][overall_amount]" value="<?php echo $anlage_data['invoice_data']['items']['overall_amount']; ?>"/>
					</td>
				</tr>
			</table>
</div>

<div class="f_row nomargin">
	<div class="no">&nbsp;</div>
	<div class="data_text"  style="width:30%"><input type="text" name="anlage_data[invoice][date]" class="date" value="<? echo $anlage_data['invoice_data']['date']; ?>" /></div>
	<div class="wspace" style="width: 10%">&nbsp;</div>
	<div class="data_text"  style="width: 48%">&nbsp;<br/>&nbsp;</div>
</div>
 
<div class="f_row">
	<div class="no">&nbsp;</div>
	<div class="data_text noborder"  style="width:30%">Datum</div>
	 <div class="wspace" style="width: 10%">&nbsp;</div>
	<div class="data_text noborder"  style="width: 48%">Stempel, Unterschrift PCT</div>
</div>

<?php foreach($anlage_data['weeks_data'] as $week_number =>$week_data):?>
	<input type="hidden" name="week_data[<?php echo $week_number;?>][start_date]" value="<?php echo $week_data['start_date'];?>" >
	<input type="hidden" name="week_data[<?php echo $week_number;?>][end_date]" value="<?php echo $week_data['end_date'];?>" >
	<input type="hidden" name="week_data[<?php echo $week_number;?>][hospital_days]" value="<?php echo $week_data['hospital_days'];?>" >
	<input type="hidden" name="week_data[<?php echo $week_number;?>][products]" value="<? if(is_array($week_data['products'])):?><?php echo implode(',',$week_data['products']);?><? else: ?><?php echo $week_data['products'];?><? endif; ?>" >
	<input type="hidden" name="week_data[<?php echo $week_number;?>][doctor_weg]" value="<?php echo $week_data['doctor_weg'];?>" >
	<input type="hidden" name="week_data[<?php echo $week_number;?>][nurse_weg]" value="<?php echo $week_data['nurse_weg'];?>" >
	<input type="hidden" name="week_data[<?php echo $week_number;?>][doctor_km]" value="<?php echo $week_data['doctor_km'];?>" >
	<input type="hidden" name="week_data[<?php echo $week_number;?>][nurse_km]" value="<?php echo $week_data['nurse_km'];?>" >
<?php endforeach;?>

 
<div class="buttons_div">
	<input type="hidden" name="anlage_id" value="<?php echo $anlage_data['anlage_id']; ?>" />

	<input type="hidden" id="btn_save" name="save" value="" />
	<input type="hidden" id="btn_create_invoice" name="create_invoice" value="" />

	<input type="submit" id="save" name="btn_save" value="<?php echo $this->translate('submit'); ?>" class="submit_form" />&nbsp;&nbsp;
	
	<? if($anlage_data['invoice_data']['status'] != 1):?>
	<input type="submit" id="create_invoice" name="btn_create_invoice" value="<?php echo $this->translate('create invoice'); ?>" class="submit_form" />&nbsp;&nbsp;
	<?php endif;?>
	<input type="submit" name="pdf" value="<?php echo $this->translate('generatepdf'); ?>" />&nbsp;&nbsp;
</div>

</form>
</div>