<?php
 // ISPC-2921 Ancuta 27.05.2021
	$plan = $this->plan;
?>

<script>
var res_file_path = '<?php echo RES_FILE_PATH; ?>';
var users_data = jQuery.parseJSON('<?php echo json_encode($this->js_all_users); ?>');
</script>

<style>
.thema_select{
width: 250px;
}
.problem_select_items{
width: 150px;
}
.p_subselect_col{
width: 170px;

}
 .overalllistatable td{
 	vertical-align: top;
 }
 .add_new_patient_row{
 	float: right;
 	margin: 5px;
 }
 .archiv_care_panning_problems{
 	margin-top:150px;
 }
 h2{
 color: #000;
 }
 .archiv_care_panning_problems h2{
 }
 .toptable th{
 	vertical-align: top;
 }
 .overalllistatable th{
 	font-weight: 900;
 	text-align: center;
 }
 .res_textarea{
 	width: 99%;
 }
 .page_title{
 
 } 
 .page_title h1{
 width: 100%;
 text-align: center;
 
 margin: 20px 0 30px 0;  
 
 }
 span.submit-floating {
    display: block;
float: left;
z-index: 999;
position: fixed;
left: 222px;
padding: 5px 10px;
cursor: pointer;
font-weight: bold;
    background: linear-gradient(to top, #dfe7f6, #ebeef3);
box-shadow: 0px 0px 68px 0px rgba(0,0,0,0.38);
border: 0;
bottom: 0;
top: auto;
width: calc(100% - 232px);
box-sizing: border-box;
height: auto;
text-align: center;
font-size: 0;
    
}


.careplanning_btn{
background-color: #00A2FF;
border: 0;
margin-right: 5px;
padding: 7px 9px;
border-radius: 6px;
color: #ffffff;
height: 30px;
box-sizing: border-box;
font-size: 13px;
cursor: pointer;
transition: background-color 0.3s ease;
}
</style>


<div style="display: none;">
	<img id="calImg" src="<?php echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger" style="margin: 7px; float: left;">
</div>

<div class="page_title">
<h1>Pflegeplanung</h1>
</div>
<form name="plan" id="plan" method="POST" action="">
<input type="hidden" name="plan[id]" value="<?php echo $plan['id']; ?>" />
<table width="auto" border="0" cellpadding="0" cellspacing="0" class="datatable overalllistatable  " style="border-width:0px;border-collapse:collapse;margin-top: 5px;">

	<tr>
		<th width="20%" colspan="2"><b>Ressourcen des/der Patient*in:</b></th>
		<td width="80%"  colspan="8"><textarea name="plan[resource_patient]" cols="" rows="" class="res_textarea" ><?php echo $plan['resource_patient']; ?></textarea></td>
	</tr>
	<tr>
		<th width="20%" colspan="2">Ressourcen der Familie:</th>
		<td width="80%"  colspan="8"><textarea name="plan[resource_family]"  cols="" rows=""  class="res_textarea"><?php echo $plan['resource_family']; ?></textarea></td>
	</tr>
	<tr>
		<th width="20%" colspan="2">Themen für zukünftige Aufenthalte:</th>
		<td width="80%"  colspan="8"><textarea name="plan[future_topics]"  cols="" rows="" class="res_textarea" ><?php echo $plan['future_topics']; ?></textarea></td>
	</tr>
<tr>



		<tr>
			<th colspan="10">&nbsp;</th>
		</tr>
		<tr>
			<th>Aktivitäten des täglichen Lebens (ATL)</th>
			<th>Pflegethema</th>
			<th>Pflegeproblem</th>
			<th>Pflegemaßnahmen</th>
			<th>Ressourcen</th>
			<th>Pflegeziel</th>
			<th>Evaluationskriterien</th>
			<th>Kommentar zu Evaluation</th>
			<th ><?php echo $this->translate('Is completed?')?></th>
		</tr>
    
	<tbody>
		<?php if($this->client_sections): ?>
			<?php $i = 1;?>
				<?php foreach($this->client_sections as $category_name => $cat_details): ?>
					<?php $row_group_class = $row_group_class == 'row_group_even' ? 'row_group_odd' : 'row_group_even'; ?>
                    <?php if($plan['CareplanningProblems'][$category_name]): ?>
                       <?php $v_detail = ''; ?>
                    	<?php $cat_line[$category_name] = 1;?>
						<?php foreach($plan['CareplanningProblems'][$category_name] as $k_detail => $v_detail): ?>
                        <?php $row_colspan_counter = 0; ?>
						<tr class="<?php if($k_detail == "0"): ?>generated_<?php echo $category_name; ?><?php else: ?>appended_<?php echo $category_name; ?><?php endif; ?> <?=$row_group_class;?>" id="<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>">
							<?php if($k_detail == '0'): ?>
                                <?php $row_colspan_counter++; ?>
								<td class="fixed_cell_<?php echo $category_name; ?> spantodo" rowspan="<?php   echo count($plan['CareplanningProblems'][$category_name]); ?>">
									<?php echo $category_name; ?>
									<input type="hidden"  name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][id]" value="<?php echo $v_detail['id']?>" />
									
									<!-- number of problems per category -->
									<input type="hidden" class="cat_line_nr"  id="line_nr_<?php echo $category_name; ?>" value="<?php echo $cat_line[$category_name]; ?>" />
									
										<img src="<?php echo RES_FILE_PATH; ?>/images/action_add.png" rel="<?php echo $category_name; ?>" title="add_new_patient_row" class="add_new_patient_row" />
							
								</td>
							<?php endif; ?>	
							
								<!-- Pflegethema -->
                            	<?php $row_colspan_counter++; ?>
								<td class="line_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>">
									<select class="thema_select saved_thema_select" data-cat="<?php echo $category_name; ?>" name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][thema]" id="thema_select_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>"  style="width: 250px;">
										<option value=""> </option>
										<?php foreach($this->category_thema[$category_name]['main_options'] as $mk => $thema_name):?>
											<option value="<?=$thema_name;?>" <?php if($v_detail['thema'] == $thema_name): ?> selected="selected"<? endif;?>>  <?=$thema_name;?> </option>
										<?php endforeach; ?>
									</select>
								</td>
								
		         				<!-- Pflegethema - Pflegeproblem -->
	                            <?php $row_colspan_counter++; ?>
								<td id="col_probleme_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>" class="p_subselect_col">
	 								<select name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][col_probleme]"   class="problem_select_items">
	 									<option value="">----</option>
		 								<?php foreach($this->category_thema[$category_name][$v_detail['thema']]['col_probleme'] as $k => $sec_opt_name):?>
		 									<option value="<?=$sec_opt_name;?>" <?php if($v_detail['col_probleme'] == $sec_opt_name): ?> selected="selected"<? endif;?>>  <?=$sec_opt_name;?> </option>
		 								<?php endforeach;?>
									</select>
									<textarea name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][col_probleme_text]"><?php echo $v_detail['col_probleme_text']; ?></textarea>
								</td>
								
								
	               				<!-- Pflegethema - Pflegemaßnahmen -->
	                            <?php $row_colspan_counter++; ?>
								<td  id="col_massnahmen_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>"  class="p_subselect_col">
	 								<select name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][col_massnahmen]"   class="problem_select_items">
	 									<option value="">----</option>
		 								<?php foreach($this->category_thema[$category_name][$v_detail['thema']]['col_massnahmen'] as $k => $sec_opt_name):?>
		 									<option value="<?=$sec_opt_name;?>" <?php if($v_detail['col_massnahmen'] == $sec_opt_name): ?> selected="selected"<? endif;?>>  <?=$sec_opt_name;?> </option>
		 								<?php endforeach;?>
									</select>
									<textarea name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][col_massnahmen_text]"><?php echo $v_detail['col_massnahmen_text']; ?></textarea>									 
								</td>
	                            
	               				<!-- Pflegethema - Ressourcen -->
	                            <?php $row_colspan_counter++; ?>
								<td   id="col_ressourcen_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>"  class="p_subselect_col">
			 						<select name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][col_ressourcen]"   class="problem_select_items">
	 									<option value="">----</option>
		 								<?php foreach($this->category_thema[$category_name][$v_detail['thema']]['col_ressourcen'] as $k => $sec_opt_name):?>
		 									<option value="<?=$sec_opt_name;?>" <?php if($v_detail['col_ressourcen'] == $sec_opt_name): ?> selected="selected"<? endif;?>>  <?=$sec_opt_name;?> </option>
		 								<?php endforeach;?>
									</select>	
									<textarea name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][col_ressourcen_text]"><?php echo $v_detail['col_ressourcen_text']; ?></textarea>	
								</td>
								
	               				<!-- Pflegethema - Pflegeziel -->
	                            <?php $row_colspan_counter++; ?>
								<td   id="col_ziele_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>"  class="p_subselect_col">
			 						<select name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][col_ziele]"   class="problem_select_items">
	 									<option value="">----</option>
		 								<?php foreach($this->category_thema[$category_name][$v_detail['thema']]['col_ziele'] as $k => $sec_opt_name):?>
		 									<option value="<?=$sec_opt_name;?>" <?php if($v_detail['col_ziele'] == $sec_opt_name): ?> selected="selected"<? endif;?>>  <?=$sec_opt_name;?> </option>
		 								<?php endforeach;?>
									</select>
									<textarea name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][col_ziele_text]"><?php echo $v_detail['col_ziele_text']; ?></textarea>										
								</td>
	                            
								<!-- Evaluationskriterien -->
	                            <?php $row_colspan_counter++; ?>
								<td>
	   								<textarea name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][evaluation_criteria]"   rows="5" cols="25"><?=$this->escape($v_detail['evaluation_criteria']); ?></textarea>
								</td>
	 
								<!-- Kommentar zu Evaluation -->
	                            <?php $row_colspan_counter++; ?>
								<td>
	   								<textarea  name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][evaluation_comment]"  rows="5" cols="25"><?=$this->escape($v_detail['evaluation_comment']); ?></textarea>
								</td>
													
                            <?php $row_colspan_counter++; ?>
							<td>
								<input type="checkbox" value="1" name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][completed]" <? if($v_detail['completed'] == '1'):?> checked="checked"<?php endif;?> />
							</td>	
												
                            <?php $row_colspan_counter++; ?>
					 					
						</tr>
                        <?php if( $k_detail == 0) {$first_row_colspan_counter = $row_colspan_counter;} ?>
                        <?
                        $cat_line[$category_name]++; 
                        ?>
						<?php endforeach; ?>
                        
					<?php else: ?>
					
                        <?php $row_colspan_counter = 0; ?>
						<tr class="generated_<?php echo $category_name; ?> <?=$row_group_class;?>" id="<?php echo $category_name; ?>_1">
                            <?php $row_colspan_counter++; ?>
							<td class="fixed_cell_<?php echo $category_name; ?> spantodo ">
								<?php echo $category_name; ?>
								<!-- number of problems per category -->
								<?php $cat_line[$category_name] = "1";?>
								<input type="hidden" class="cat_line_nr"  id="line_nr_<?php echo $category_name; ?>" value="<?php echo $cat_line[$category_name]; ?>" />
								<img src="<?php echo RES_FILE_PATH; ?>/images/action_add.png" rel="<?php echo $category_name; ?>" title="add_new_patient_row" class="add_new_patient_row" />
							</td>
 
                 
                 			<!-- Pflegethema -->
                            <?php $row_colspan_counter++; ?>
							<td class="line_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>">
								<select class="thema_select" data-cat="<?php echo $category_name; ?>" name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][thema]" id="thema_select_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>"  style="width: 250px;">
									<option value=""> </option>
									<?php foreach($this->category_thema[$category_name]['main_options'] as $mk => $thema_name):?>
										<option value="<?=$thema_name;?>"> <?=$thema_name;?> </option>
									<?php endforeach; ?>
								</select>
							</td>
               				
               				
               				<!-- Pflegethema - Pflegeproblem -->
                            <?php $row_colspan_counter++; ?>
							<td id="col_probleme_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>" class="p_subselect_col">
 								
							</td>
               				<!-- Pflegethema - Pflegemaßnahmen -->
                            <?php $row_colspan_counter++; ?>
							<td  id="col_massnahmen_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>"  class="p_subselect_col">
								 
							</td>
                            
               				<!-- Pflegethema - Ressourcen -->
                            <?php $row_colspan_counter++; ?>
							<td   id="col_ressourcen_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>"  class="p_subselect_col">
								 
							</td>
               				<!-- Pflegethema - Pflegeziel -->
                            <?php $row_colspan_counter++; ?>
							<td   id="col_ziele_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>"  class="p_subselect_col">
							</td>
                            
                            
							<!-- Evaluationskriterien -->
                            <?php $row_colspan_counter++; ?>
							<td>
   								<textarea name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][evaluation_criteria]"   rows="5" cols="25"><?=$this->escape($active_details['problem']); ?></textarea>
							</td>
 
							<!-- Kommentar zu Evaluation -->
                            <?php $row_colspan_counter++; ?>
							<td>
   								<textarea  name="plan[CareplanningProblems][<?php echo $category_name; ?>][<?php echo $cat_line[$category_name]; ?>][evaluation_comment]"  rows="5" cols="25"><?=$this->escape($active_details['problem']); ?></textarea>
							</td>
 
                                                       
                            <?php $row_colspan_counter++; ?>
							<td>
<!-- 								<img src="<?php echo RES_FILE_PATH; ?>/images/assign-rights.png" rel="<?php echo $category_name; ?>" title="complete_problem" class="complete_problem" /> -->
<!-- 								<img src="<?php echo RES_FILE_PATH; ?>/images/action_add.png" rel="<?php echo $category_name; ?>" title="add_new_patient_row" class="add_new_patient_row" /> -->
							</td>
						</tr>
                        
                        <?php $first_row_colspan_counter = $row_colspan_counter; ?>
                        
					<?php endif; ?>
                    
				<?php $i++;?>
				<?php endforeach; ?>
			<?php endif; ?>
		</tbody>
</table>

<br/>
<br/>
<h2><?php echo $this->translate('Careplanning - send todo for evaluation')?></h2>
<table class="datatable" style="width: 100%;">
	<tr>
		<th><?php echo $this->translate('evaluation_date')?></th>
		<th></th>
		<th><?php echo $this->translate('evaluation_todo_users')?></th>
	</tr>
	<tr>
		<td><input type="text" class="date" name="plan[evaluation_date]" ></td>
		<td> </td>
		<td> <?=$this->formSelect("plan[evaluation_todo_users]", null, array(
    "id" => "todo_selectbox",
    "class" => "todo_selectbox",
	"multiple" => true,
	"size" => 10,
    'data-type' => 'userstodo',
	"disable" => array("0"),
	//"onchange" => "",
    ),
	$this->usersnewtodos
);
?>	
</td>
</tr>
</table>

	<span class="submit-floating">
		<input type="hidden" name="plan[id]"  value="<?php echo $plan['id']; ?>" />
		<input type="submit" name="save" value="<?php echo $this->translate('save'); ?>" id="save_form_data"  class="careplanning_btn"  />
		
<!-- 		<input type="button" name="pdf" value="<?php echo $this->translate('generatepdf'); ?>"  class="meeting_btn pdfbtn" data-pdf_option="pdf" />  -->
		
		
	</span>

</form>






<div class="archiv_care_panning_problems">
<h2><?php echo $this->translate('Careplanning - archived options')?></h2>
<table width="auto" border="0" cellpadding="0" cellspacing="0" class="datatable overalllistatable  " style="border-width:0px;border-collapse:collapse;margin-top: 5px;">
	<thead class="main_table_header">
		<tr>
			<th>Aktivitäten des täglichen Lebens (ATL)</th>
			<th>Pflegethema</th>
			<th>Pflegeproblem</th>
			<th>Pflegemaßnahmen</th>
			<th>Ressourcen</th>
			<th>Pflegeziel</th>
			<th>Evaluationskriterien</th>
			<th>Kommentar zu Evaluation</th>
		</tr>
	</thead>
    
	<tbody>
		<?php if($this->client_sections): ?>
			<?php $i = 1;?>
				<?php foreach($this->client_sections as $category_name => $cat_details): ?>
					<?php $row_group_class = $row_group_class == 'row_group_even' ? 'row_group_odd' : 'row_group_even'; ?>
                    <?php if($plan['CareplanningProblemsCompleted'][$category_name]): ?>
                       <?php $v_detail = ''; ?>
                    	<?php $cat_line[$category_name] = 1;?>
						<?php foreach($plan['CareplanningProblemsCompleted'][$category_name] as $k_detail => $v_detail): ?>
						
                        <?php $row_colspan_counter = 0; ?>
						<tr class="<?php if($k_detail == "0"): ?>generated_<?php echo $category_name; ?><?php else: ?>appended_<?php echo $category_name; ?><?php endif; ?> <?=$row_group_class;?>" id="<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>">
							
                                <?php $row_colspan_counter++; ?>
								<td class="fixed_cell_<?php echo $category_name; ?> spantodo"  >
									<?php echo $category_name; ?>
								</td>
								
							
								<!-- Pflegethema -->
                            	<?php $row_colspan_counter++; ?>
								<td class="line_<?php echo $category_name; ?>_<?php echo $cat_line[$category_name]; ?>">
									<?php echo $v_detail['thema']; ?>
								</td>
								
		         				<!-- Pflegethema - Pflegeproblem -->
	                            <?php $row_colspan_counter++; ?>
								<td  class="p_subselect_col">
									<?php echo $v_detail['col_probleme']; ?>
									<br/>
									<?php echo $v_detail['col_probleme_text']; ?>
								</td>
								
								
	               				<!-- Pflegethema - Pflegemaßnahmen -->
	                            <?php $row_colspan_counter++; ?>
								<td   class="p_subselect_col">
									<?php echo $v_detail['col_massnahmen']; ?>
									<br/>
									<?php echo $v_detail['col_massnahmen_text']; ?>
								</td>
	                            
	               				<!-- Pflegethema - Ressourcen -->
	                            <?php $row_colspan_counter++; ?>
								<td   class="p_subselect_col">
									<?php echo $v_detail['col_ressourcen']; ?>
									<br/>												
									<?php echo $v_detail['col_ressourcen_text']; ?>
								</td>
								
	               				<!-- Pflegethema - Pflegeziel -->
	                            <?php $row_colspan_counter++; ?>
								<td     class="p_subselect_col">
									<?php echo $v_detail['col_ziele']; ?>
									<br/>												
									<?php echo $v_detail['col_ziele_text']; ?>											
								</td>
	                            
								<!-- Evaluationskriterien -->
	                            <?php $row_colspan_counter++; ?>
								<td>
									<?php echo $v_detail['evaluation_criteria']; ?>		
								</td>
	 
								<!-- Kommentar zu Evaluation -->
	                            <?php $row_colspan_counter++; ?>
								<td>
									<?php echo $v_detail['evaluation_comment']; ?>		
								</td>
						</tr>
                        <?php if( $k_detail == 0) {$first_row_colspan_counter = $row_colspan_counter;} ?>
                        <?
                        $cat_line[$category_name]++; 
                        ?>
						<?php endforeach; ?>
                        
					<?php else: ?>
					
                        
					<?php endif; ?>
                    
				<?php $i++;?>
				<?php endforeach; ?>
			<?php endif; ?>
		</tbody>
</table>


</div>