<?php
	$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/page-css/emergencyplansapv.css?' . date('Ymd'));
	echo $this->patientinfo;
	echo $this->tabmenus;
$form = $this->form_data;
?>
<div class="emergenty_plan_sapv">
	<form action="" method="post" name="emergenty_plan" id="emergenty_plan">
		<div class="headline">
			<span>Notfallplan SAPV</span>
		</div>
		<table class="emergenty_plan_sapv_table no-border">
			<tr>
				<td class="left_td_col sms_label_td">Patientenname / Patientennummer</td>
				<td class="empty_td"></td>
				<td colspan="2" class="sms_label_td">Geburtsdatum</td>
			</tr>
			<tr>
				<td class="left_td_col sms_input_td"><?php echo $form['patient']['name']; ?></td>
				<td class="empty_td"></td>
				<td colspan="2" class="sms_input_td"><?php echo  $form['patient']['birthd']; ?></td>
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
		</table>
		
		<table class="emergenty_plan_sapv_table no-border">
			<tr>
				<td colspan="4" class="lgs_label_td">spezifische Diagnosen</td>
			</tr>
			<tr>
				<td colspan="4">
					<textarea name="form[data][main_diagnosis]" rows="10" cols="" class="eps_textarea"><?php echo $form['data']['main_diagnosis']; ?></textarea> 
				</td>
			</tr>
		</table>
		
		<table  class="emergenty_plan_sapv_table no-border">
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="4" class="td_text">Zum weiteren Vorgehen wurden folgende Punkte mit dem/der Patient/in bzw. dem Bevollmächtigten / Betreuer festgelegt. Sie/Er ist über Diagnose und Prognose aufgeklärt.</td>
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
		</table>		
		<table  class="emergenty_plan_sapv_table">
			<tr>
				<td colspan="4" class="lgs_label_td">Absprachen</td>
			</tr>
			
			<tr>
				<td class="left_td_col" >Intubation?</td>
				<td colspan="3"><input type="text" name="form[data][agreements_intubation]" value="<?php echo $form['data']['agreements_intubation']?>" ></td>
			</tr>
			<tr>
				<td class="left_td_col">Reanimation?</td>
				<td colspan="3"><input type="text" name="form[data][agreements_resuscitation]" value="<?php echo $form['data']['agreements_resuscitation']?>" ></td>
			</tr>
			
			<tr>
				<td class="left_td_col"> Krankenhauseinweisung?</td>
				<td colspan="3"><input type="text" name="form[data][agreements_hospitalization]" value="<?php echo $form['data']['agreements_hospitalization']?>" ></td>
			</tr>
			<tr>
				<td class="left_td_col"> Patientenverfügung?</td>
				<td colspan="3"><input type="text" name="form[data][agreements_living_will]" value="<?php echo $form['data']['agreements_living_will']?>" ></td>
			</tr>
			<tr>
				<td class="left_td_col"> Vorsorgevollmacht?</td>
				<td colspan="3"><input type="text" name="form[data][agreements_vorsorgevollmacht]" value="<?php echo $form['data']['agreements_vorsorgevollmacht']?>" ></td>
			</tr>
			<tr>
				<td class="left_td_col"> Vorgehen bei Krisen (Symptomkontrolle)?</td>
				<td colspan="3"><textarea name="form[data][agreements_symptom_control]" rows="" cols="" class="eps_textarea"><?php echo $form['data']['agreements_symptom_control']?></textarea></td>
			</tr>
		</table>
		<br/>		
		<table  class="emergenty_plan_sapv_table">
			<tr>
				<td></td>
				<td class="radio_label_td" >ja</td>
				<td class="radio_label_td" >nein</td>
				<td>Bemerkung</td>
			</tr>
			<tr>
				<td class="left_td_col ssms_label_td">Palliativschwester zugeordnet? Wenn ja, welche?</td>
				<td class="radio_td" ><input type="radio" name="form[data][palliative_sister]" value="yes"  <?php if($form['data']['palliative_sister'] == "yes") :?>checked="checked"  <?php endif; ?>  /></td>
				<td class="radio_td" ><input type="radio" name="form[data][palliative_sister]" value="no"  <?php if($form['data']['palliative_sister'] == "no") :?>checked="checked"  <?php endif; ?>  /></td>
				<td><input type="text" name="form[data][palliative_sister_txt]" value="<?php echo $form['data']['palliative_sister_txt']; ?>" ></td>
			</tr>
			<tr>
				<td class="left_td_col ssms_label_td">Bereitschaftsdienstplan erläutert?</td>
				<td class="radio_td" ><input type="radio" name="form[data][standby_roster]" value="yes"  <?php if($form['data']['standby_roster'] == "yes") :?>checked="checked"  <?php endif; ?>  /></td>
				<td class="radio_td" ><input type="radio" name="form[data][standby_roster]" value="no"  <?php if($form['data']['standby_roster'] == "no") :?>checked="checked"  <?php endif; ?>  /></td>
				<td><input type="text" name="form[data][standby_roster_txt]" value="<?php echo $form['data']['standby_roster_txt']; ?>" ></td>
			</tr>
			<tr>
				<td class="left_td_col ssms_label_td">Hausbesuche vereinbart?</td>
				<td class="radio_td" ><input type="radio" name="form[data][home_visits]" value="yes"  <?php if($form['data']['home_visits'] == "yes") :?>checked="checked"  <?php endif; ?>  /></td>
				<td class="radio_td" ><input type="radio" name="form[data][home_visits]" value="no"  <?php if($form['data']['home_visits'] == "no") :?>checked="checked"  <?php endif; ?>  /></td>
				<td><input type="text" name="form[data][home_visits_txt]" value="<?php echo $form['data']['home_visits_txt']; ?>" ></td>
			</tr>
			<tr>
				<td class="left_td_col ssms_label_td">Hausarzt informiert?</td>
				<td class="radio_td" ><input type="radio" name="form[data][fd_informed]" value="yes"  <?php if($form['data']['fd_informed'] == "yes") :?>checked="checked"  <?php endif; ?>  /></td>
				<td class="radio_td" ><input type="radio" name="form[data][fd_informed]" value="no"  <?php if($form['data']['fd_informed'] == "no") :?>checked="checked"  <?php endif; ?>  /></td>
				<td><input type="text" name="form[data][fd_informed_txt]" value="<?php echo $form['data']['fd_informed_txt']; ?>" ></td>
			</tr>
			<tr>
				<td class="left_td_col ssms_label_td">Medikamentenplan erstellt?</td>
				<td class="radio_td" ><input type="radio" name="form[data][drug_plan]" value="yes"  <?php if($form['data']['drug_plan'] == "yes") :?>checked="checked"  <?php endif; ?>  /></td>
				<td class="radio_td" ><input type="radio" name="form[data][drug_plan]" value="no"  <?php if($form['data']['drug_plan'] == "no") :?>checked="checked"  <?php endif; ?>  /></td>
				<td><input type="text" name="form[data][drug_plan_txt]" value="<?php echo $form['data']['drug_plan_txt']; ?>" ></td>
			</tr>
			<tr>
				<td class="left_td_col ssms_label_td">Telefonnummern/Betreuungsnetz dokumentiert?</td>
				<td class="radio_td" ><input type="radio" name="form[data][phone_documented]" value="yes"  <?php if($form['data']['phone_documented'] == "yes") :?>checked="checked"  <?php endif; ?>  /></td>
				<td class="radio_td" ><input type="radio" name="form[data][phone_documented]" value="no"  <?php if($form['data']['phone_documented'] == "no") :?>checked="checked"  <?php endif; ?>  /></td>
				<td><input type="text" name="form[data][phone_documented_txt]" value="<?php echo $form['data']['phone_documented_txt']; ?>" ></td>
			</tr>
				
		</table>		
		
		<table  class="emergenty_plan_sapv_table no-border">
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>		
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>
		<tr>
			<td>______________________________</td>
			<td></td>
			<td>_______________________________</td>
			<td></td>
		</tr>
		
		<tr>
			<td> Datum </td>
			<td></td>
			<td>Unterschrift </td>
			<td></td>
		</tr>
		
		</table>
		<table  class="emergenty_plan_sapv_table no-border">
		<tr>
			<td colspan="4">
				<input type="hidden" name="formid" value="<?php echo $form['data']['id']; ?>" >
				<input type="submit" name="save_form" value="<?php echo $this->translate('save')?>"  class="btnsubmit_usersessions"/>
				<input type="submit" name="pdf" value="<?php echo $this->translate('generatepdf')?>"  class="btnsubmit_usersessions"/>
			</td>
		</tr>
		</table>
		
		
		
	</form>
</div>