<?php $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/fall_protocol.css');  ?> 

<script type="text/javascript">
$(document).ready(function() {
 
	$('.dateinput').datepicker({
		dateFormat: 'dd.mm.yy',
		showOn: "both",
		buttonImage: $('#calImg').attr('src'),
		buttonImageOnly: true,
		changeMonth: true,
		changeYear: true,
		nextText: '',
		prevText: '',
		maxDate: '<?php echo date('d.m.Y'); ?>'
	});

	$('.timeinput').mask("99:99"); //add hours and minute mask
	$('.timeinput').timepicker({
		onSelect : function(time_value) {
			$(this).focus();
			return false;
		},
		minutes : {
			interval : 5
		},
		showPeriodLabels : false,
		rows : 4,
		hourText : 'Stunde',
		minuteText : 'Minute'
	});
	
	
	
});
</script>



<form action="" method="post" name="ethicalassessm" id="ethicalassessm">
<div id="stammblatt_CalendarImg" style="display: none;">
	<img id="calImg" src="<?php echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger">
</div>
<div id="stammblatt_CalendarImg" style="display: none;">
</div>
<?php echo $this->patientinfo ?>
<?php echo $this->tabmenus ?>



	<div id="stammblatt_tabContainer" class="tab_container">
	
	<div class="fallprotocol_heder" > Sturzprotokoll</div>




		<table style="width: 100%">
			<tr>
				<td height="20" colspan="3"></td>
			</tr>
			<tr>
				<td style="font-weight: bold; font-size:14px;">
					<?php echo $this->patientname;?>
				</td>
				<td style="border-top: 0;" width="30%">&nbsp;</td>
				<td style="font-weight: bold; font-size:14px;">
					<?php echo $this->birthdate;?>
				</td>
			</tr>
			<tr>
				<td style="border-top: 1px solid #000;"><i>Name, Vorname</i></td>
				<td style="border-top: 0;" width="30%">&nbsp;</td>
				<td style="border-top: 1px solid #000;"><i>Geb.-Datum</i></td>
			</tr>
			<tr>
				<td height="20" colspan="3"></td>
			</tr>
		</table>

		<table  class="stammblattsapv_table" id="tabForm" style="width:100%;" >
			
			
			
			<!--1  -->
			
			<tr>
			    
				<td class="text_fall" style="width:20%">
					<label for="date_ethical"><?echo $this->translate('date')  ?></label>
				</td>
				<td>
				    <input type="text" name="date_fall" class="date_ethical dateinput" id="date_of_fall"  style="width: 90px;"  value="<?php  echo $this->fall_date; ?>">
				    <input type="text" name="time_fall" class="date_ethical timeinput" id="time_of_fall" style="width: 40px;" value="<?php  echo $this->fall_time; ?>">
				</td>
			</tr>
			
			
			<!--2  -->
			<tr>
			      <td class="text_fall">
			      <label for="anwesend">  Wer war anwesend?</label>
			     </td>
			     <td >
			        <input type="text" name="wasthere"   placeholder="" id="anwesend" value="" style="width:50%; margin-bottom:5px;">
			     </td>
			</tr>
		    
			
			
			<!--3  -->
			<tr>
			    <td class="text_fall">
			       <label for="Sturzes" >Ort des Sturzes?</label>
			     </td>
			     <td>
			     <input type="text" name="falllocation" id="Sturzes"  placeholder=""  value="" style="width:50%; margin-bottom:5px;">
			     </td>
			     
			</tr>
		    
			
			
			<!--4 -->
			<tr>
			     <td colspan=2 class="text_fall">
			      <label for="bekannt"> Sind aus der Vorgeschichte Stürze bekannt?</label>
			     </td>
			</tr>
		    
			<tr>
			     <td colspan=2>
			         <textarea name="prehistory_known" style="width:100%" id="bekannt" rows="3" cols=""></textarea>
			     </td>
			</tr>
			
			<!--5 -->
			<tr>
			     <td colspan=2 class="text_fall">
			      <label for="Gast">  War der Gast unmittelbar vor dem Sturzgeschehen auffällig?</label>
			     </td>
			</tr>
		    
			<tr>
			     <td colspan=2>
			         <textarea name="guest_striking" rows="3" cols="" id="Gast" style="width:100%" ></textarea>
			     </td>
			</tr>
			
			<!--6 -->
			<tr>
			      <td colspan=2 class="text_fall">
			       <label for="fixiert">  Wie war der Gast zum Sturzzeitpunkt fixiert (Betthöhe)?</label>
			     </td>
			</tr>
		    
			<tr>
			     <td colspan=2>
			         <textarea name="guest_fixed" rows="3" cols="" style="width:100%" id="fixiert"></textarea>
			     </td>
			</tr>
			
			<!--7 -->
			<tr>
			      <td colspan=2 class="text_fall">
			     <label for="Beschreibung">   Wie kam es zu dem Sturz? (kurze Beschreibung des Sturzgeschehens)</label>
			     </td>
			 </tr>
		    
			<tr>
			     <td colspan=2>
			         <textarea name="fall_led" rows="3" cols="" style="width:100%" id="Beschreibung"></textarea>
			     </td>
			</tr>
		
		 
			<!--8 -->
			<tr>
			     <td colspan=2 class="text_fall">
			      Welche äußerlichen Faktoren (Schuhe, Kleidung, Hilfsmittel, usw) könnten ursächlich sein?
			     </td>
			 </tr>
		    <!--1 && 4  -->
			<tr>
				<td colspan="2" >
					<table style="width: 100%; table-layout: fixed;">
						<tr>
						   <!-- 8=1.Schuhe -->
							<td colspan="2">
							<table style="width: 100%; table-layout: fixed;">
									<tr>
										 <td class="fall_td_nr">
			                                <span class="span_radio"></span>
										</td>

										<td class="text_fall">
											<span class="span_ethical_title"><u>Schuhe</u></span>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                  <span class="span_radio">
												 <input type="radio" name="shoes" id="Schuhe1" value="1" >
										   </span>
										</td>
										<td class="td_title">
											<label for="Schuhe1">keine Angabe </label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                   <span class="span_radio">
												<input type="radio" name="shoes" id="Schuhe2" value="2" >
										</span>
										</td>
										<td class="td_title">
											<label for="Schuhe2">feste</label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                  <span class="span_radio">
												<input type="radio" name="shoes" id="Schuhe3" value="3"  >
										</span>
										</td>
										<td class="td_title">
											<label for="Schuhe3">offene</label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                  <span class="span_radio">
												<input type="radio" name="shoes" id="Schuhe4" value="4" >
										</span>
										</td>
										<td class="td_title">
											<label for="Schuhe4">barfuss</label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                  <span class="span_radio">
												<input type="radio" name="shoes" id="Schuhe5"  value="5" >
										</span>
										</td>
										<td class="td_title">
											<label for="Schuhe5">Strümpfe</label>
										</td>
									</tr>
                                    <tr>
                                    <td  height="15" colspan="2"></td>
                                   
                                    </tr>
                                <!-- 8= 2.Brille -->
                                    <tr>
										 <td class="fall_td_nr">
			                                <span class="span_radio"></span>
										</td>

										<td class="text_fall">
											<span class="span_ethical_title"><u>Brille</u></span>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                  <span class="span_radio">
												 <input type="radio" name="glasses" id="Brille1" value="1"  >
										   </span>
										</td>
										<td class="td_title">
											<label for="Brille1">keine Angabe </label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                   <span class="span_radio">
												<input type="radio" name="glasses" id="Brille2" value="2" >
										</span>
										</td>
										<td class="td_title">
											<label for="Brille2">verschmutzt</label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                  <span class="span_radio">
												<input type="radio" name="glasses" id="Brille3" value="3" >
										</span>
										</td>
										<td class="td_title">
											<label for="Brille3">wird benötigt, aber nicht getragen</label>
										</td>
									</tr>
									
									
									

								</table>
							</td>
							
                            <!-- 8= 3.Hörgerät=> right -->
							<td colspan="2">
							<table style="width: 100%; table-layout: fixed;">
									<tr>
										 <td class="fall_td_nr">
			                                 <span class="span_radio"> </span>
										</td>

										<td class="text_fall">
											<span class="span_ethical_title"><u>Hörgerät</u></span>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                 <span class="span_radio">
												<input type="radio" name="auditiv" id="Horgerat1" value="1" >
										</span>
										</td>
										<td class="td_title">
											<label for="Horgerat1">keine Angabe</label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                    <span class="span_radio">
												<input type="radio" name="auditiv" id="Horgerat2" value="2" >
										</span>
										</td>
										<td class="td_title">
											<label for="Horgerat2">funktionsunfähig</label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                 <span class="span_radio">
												<input type="radio" name="auditiv" id="Horgerat3" value="3" >
										</span>
										</td>
										<td class="td_title">
											<label for="Horgerat3">wird benötigt, aber nicht getragen</label>
										</td>
									</tr>
									
									
									 <!-- 8= 3.Gehhilfen=> right -->
									 <tr>
										 <td class="fall_td_nr">
			                                <span class="span_radio"></span>
										</td>

										<td class="text_fall">
											<span class="span_ethical_title"><u>Gehhilfen</u></span>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                 <span class="span_radio">
												<input type="radio" name="walking" id="Gehhilfen1" value="1" >
										</span>
										</td>
										<td class="td_title">
											<label for="Gehhilfen1">keine Angabe</label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                    <span class="span_radio">
												<input type="radio" name="walking"  id="Gehhilfen2"  value="2" >
										</span>
										</td>
										<td class="td_title">
											<label for="Gehhilfen2">Gehstock</label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                 <span class="span_radio">
												<input type="radio" name="walking" id="Gehhilfen3" value="3" >
										</span>
										</td>
										<td class="td_title">
											<label for="Gehhilfen3">Gehstützen</label>
										</td>
									</tr>
									
									<tr>
										 <td class="td_radio">
			                                 <span class="span_radio">
												<input type="radio" name="walking"" id="Gehhilfen4" value="4"  >
										</span>
										</td>
										<td class="td_title">
											<label for="Gehhilfen4">Rollator</label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                    <span class="span_radio">
												<input type="radio" name="walking" id="Gehhilfen5" value="5" >
										</span>
										</td>
										<td class="td_title">
											<label for="Gehhilfen5">Rollstuhl</label>
										</td>
									</tr>
									<tr>
										 <td class="td_radio">
			                                 <span class="span_radio">
												<input type="radio" name="walking" id="Gehhilfen6" value="6"  >
										</span>
										</td>
										<td class="td_title">
											<label for="Gehhilfen6">wird benötigt, aber nicht genutzt</label>
										</td>
									</tr>
									
								  </table>
							   </td>
						  </tr>
						<tr>
							<td  height="30" colspan="2"></td>
							</tr>
					</table>
				</td>
			</tr>
			
			       
			
			<!-- 9 -->
			<tr>
			     <td colspan=2 class="text_fall">
			       <label for="Unfall">Ist der Unfall auf äußere Umstände zurückzuführen?</label>
			     </td>
			</tr>
		    
			<tr>
			     <td colspan=2>
			         <textarea name="external_circumstances" rows="3" cols="" style="width:100%" id="Unfall"></textarea>
			     </td>
			</tr>
			
			<!-- 10 -->
			<tr>
			     <td colspan=2 class="text_fall">
			     <label for="erfolgte">  Wann erfolgte der letzte Sicthkontakt mit dem Gast?</label>
			     </td>
			</tr>
		    
			<tr>
			    <td colspan=2>
			         <textarea name="last_contact" rows="3" cols="" style="width:100%" id="erfolgte"></textarea>
			     </td>
			</tr>
			
			<!-- 11 -->
			  <tr>
			      <td colspan=2 class="text_fall" >
			      Welche Sturzfolgen sind sofort sichtbar / oder bemerkbar gewesen?
			     </td>
			</tr>    
			<tr>
			   <td colspan=2 >
			    
			     <table>
			       <tr>
			           <td class="td_radio">
			               <span class="span_radio">
			                 <input type="checkbox" name="consequences_visible[]" id="Sturzfolgen1" value="1"  >
			              </span>
			           </td>
			          <td class="td_title">
						   <label for="Sturzfolgen1">
			                keine sichtbaren Verletzungen
			                </label>
			           </td>
			       </tr>
			        <tr>
			           <td>
			                  <input type="checkbox" name="consequences_visible[]" value="2"  id="Sturzfolgen2" >
			           </td>
			           <td class="td_title">
						   <label for="Sturzfolgen2">
			                 Platzwunden
			               </label>
			           </td>
			       </tr>
			       <tr>
			           <td>
			                  <input type="checkbox" name="consequences_visible[]" value="3"  id="Sturzfolgen3" >
			           </td>
			           <td class="td_title">
						     <label for="Sturzfolgen3">
			                 Schürfwunden
			                 </label>
			           </td>
			       </tr>
			        <tr>
			           <td>
			                 <input type="checkbox" name="consequences_visible[]" value="4" id="Sturzfolgen4"  >
			           </td>
			          <td class="td_title">
						    <label for="Sturzfolgen4">
			                Schmerzangabe
			                </label>
			           </td>
			       </tr>
			       <tr>
			           <td>
			                 <input type="checkbox" name="consequences_visible[]" value="5"  id="Sturzfolgen5"  >
			           </td>
			           <td class="td_title">
						    <label for="Sturzfolgen5">
			                Verdacht auf Fraktur
			                </label>
			           </td>
			       </tr>
			       <tr>
			           <td>
			                 <input type="checkbox" name="consequences_visible[]" value="6" id="Sturzfolgen6" >
			           </td>
			          <td class="td_title">
						   <label for="Sturzfolgen6">
			                Bewusstseinsbeeinträchtigungen
			                </label>
			           </td>
			       </tr>
			       
			   </table>
			    
			   </td>
			</tr>
			
			<!-- 12 -->
			<tr>
			     <td colspan=2 class="text_fall">
			     <label for="unternommen" >Was haben Sie unternommen?</label>
			     </td>
			</tr>
		    
			<tr>
			     <td colspan=2>
			         <textarea name="reaction_fall" rows="3" cols="" style="width:100%" id="unternommen"></textarea>
			     </td>
			</tr>
			
			<!-- 13 -->
			<tr>
			     <td colspan=2 class="text_fall">
			     <label for="transport" > Wer hat den Transport des Gastes durchgeführt?</label>
			     </td>
			</tr>
		    
			<tr>
			     <td colspan=2>
			         <textarea name="guest_transport" rows="3" cols=""  style="width:100%" id="transport"></textarea>
			     </td>
			</tr>
					
		</table>
		
		<div class="kvno_buttons">
		
        <input name="save" type="submit" value="<? echo $this->translate('save') ?>" id="btnsubmit" />&nbsp;&nbsp;
        <input name="pdf" type="submit" value="<? echo $this->translate('generatepdf') ?>" class="btnsubmit_usersessions"/>
         </div>
         
	</div>
</form>

<!-- $form_files -->
<?php if(!empty($this->fall_protocol_files_history)):?>
	<fieldset>
		<legend><?php echo $this->translate('fall_protocol_files_history'); ?></legend>
		<?php if(!empty($this->fall_protocol_files_history)):?>
			<table class="datatable">
				<tr>
					<th>#</th>
					<th><?php echo $this->translate('title'); ?></th>
					<th><?php echo $this->translate('user'); ?></th>
					<th class="date_col"><?php echo $this->translate('date'); ?></th>
				</tr>
				<?php $i = 1;
				foreach ($this->fall_protocol_files_history as $k_contact_file => $day_str_file): ?>
					<tr>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$day_str_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo $i; ?></a></td>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$day_str_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo $day_str_file['title']; ?></a></td>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$day_str_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo $this->users_data[$day_str_file['create_user']]['user_title'].' '.$this->users_data[$day_str_file['create_user']]['last_name'].', '.$this->users_data[$day_str_file['create_user']]['first_name']; ?></a></td>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$day_str_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo date('d.m.Y H:i', strtotime($day_str_file['create_date'])); ?></a></td>
					</tr>
				<?php $i++; endforeach; ?>
			</table>
		<?php else:?>
		<table class="datatable">
			<tr>
				<td colspan="4"><?php echo $this->translate('no_fall_protocol_history_found');?></td>
			</tr>
		</table>
		<?php endif;?>
		
	</fieldset>
<?php endif;?>