<?php
//TODO-3668 Ancuta  15.12.2020
if($this->show_print_jobs == 1 ){
	$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/data_tables/jquery.dataTables.js?'.date('Ymd'));
	$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/data_tables/dataTables.jqueryui.js?'.date('Ymd'));
	$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/data_tables/dataTables.jqueryui.css?' . date('Ymd'));
	$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/views/patientformnew/printjobinfo.js');
}
//--
?>
<h1>
	<?php echo $this->translate('TITLE FOR BULK SH PRINT'); ?>
</h1>

<br />

<!-- ISPC-2609 Ancuta 24.09.2020-->
<?php if($this->show_print_jobs == 1 && !empty($_REQUEST['msg'])): ?>
	<div class="success" id="print_job_success_info"> <?php echo $this->translate($_REQUEST['msg']); ?> </div> 
<?php endif;?>
<!-- // -->
<form name="mappe" id="mappe" method="POST" action="">
	<table class="datatable">
		<tr>
			<td width="10%">
				<?php echo $this->translate('select_month'); ?> :
			</td>
			<td width="90%">
				<?php echo $this->months_selector; ?>
			</td>
		</tr>
 
		<tr>
			<td></td>
			<td>
				<input type="submit" name="generate_bulk" value="<?php echo $this->translate('generate_bulk_pdf'); ?>" />
			</td>
		</tr>



	</table>
</form>
<!-- TODO-3668 Ancuta  15.12.2020 -->
<?php echo $this->print_html; ?>