<!-- ISPC-2494 Lore 04.12.2019 -->
<?php
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/standarddocumentation.css');

$symp_lang =   $this->translate('standard_documentation_lang'); 
$sd['docum'] = $this->stddocum;
$patinfo = $this->patinfo;

?>
<script type="text/javascript">

function periodChanged( _this ){
	//alert($(_this).val());
    
	window.location.href = appbase + "patientformnew/standarddocumentation?id=" + idpd + "&fall_readmid=" + $(_this).val(); 
    return false;
}

</script>


<div style="display: block; float: left;">
	
	<form action="<? echo $this->act ?>" method="post" name="frmuser" id="frmuser" autocomplete="off" >
        <input type="hidden" name="form_id" value = "<?php echo $sd['docum']['id'];?>" />
        
        <br>    
		<h1 ><?php echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp'.$symp_lang ['standard_documentation_hessen']; ?></h1>
    	<br>  
 
		<div><span style="font-weight:bold" >Name:</span><span > <? echo $patinfo['last_name'].', '.$patinfo['first_name']; ?></span></div>
		<br>    
		<div><span style="font-weight:bold" >Geb.-Datum:</span><span > <? echo $patinfo['birthd']; ?>&nbsp </span></div>
		<br> 
   	
        <fieldset>
            <legend><?=$this->translate('[Selected patient admission interval]');?></legend>
            <?=$this->translate('pleaseselect');?> :  <?=$this->formSelect('fall_readmid', $this->fall_readmid , array('onChange' => 'return periodChanged(this);'), $this->patient_periods_selectbox); ?>
            <span style="color:red; font-weight:bold"> </span>
        </fieldset>
   		<br>


	     <div>   
		     <table class="table_stddoc">
				 <tr>
					<td >
						<label><b><?php echo $symp_lang ['self_assessment']; ?></b></label> 
						<input type="radio"  name="assessment_type" value="1" <?php if($sd['docum']['assessment_type'] == '1'): ?> checked="checked"<?php endif; ?> /> 
					</td>
					<td >
						<label><b><?php echo $symp_lang ['external_assessment']; ?></b></label>
					 	<input type="radio"  name="assessment_type" value="2" <?php if($sd['docum']['assessment_type'] == '2'): ?> checked="checked"<?php endif; ?> /> 
					</td> 	 
		
				</tr>
				 <tr>
					<td colspan="2">
						<b><?php echo $symp_lang ['information_from'].'&nbsp;&nbsp;'; ?></b>
						<input type="radio" name="information_from_patient" value="1" <?php if($sd['docum']['information_from_patient'] == '1'): ?> checked="checked" <?php endif; ?> />  
						<label><?php echo 'Patient'.'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'; ?></label> 
						<input type="radio" name="information_from_member" value="1" <?php  if($sd['docum']['information_from_member'] == '1'): ?> checked="checked"  <?php endif; ?> />
						<label><?php echo 'Angehörige'; ?></label> 
					</td> 
		
				</tr>
		     </table>   
	      </div>
	      
     	<br>
     	<b><?php echo $symp_lang ['main_problems_or_worries_in_the_last_3_days']; ?></b>
     	<div>   
		     <table class="table_stddoc">
		     	 <tr>
		     	 	<td >
		     	 		<b><?php echo '1.&nbsp;'; ?></b>
						<input type="text" name="main_problem_a" value="<? echo $sd['docum']['main_problem_a'] ?>"  />
		     	 	</td>
		     	 </tr>
		     	 <tr>	
		     	 	<td >
		     	 		<b><?php echo '2.&nbsp;'; ?></b>
						<input type="text" name="main_problem_b" value="<? echo $sd['docum']['main_problem_b'] ?>"  />
		     	 	</td>
		     	 </tr>
		     	 <tr>
		     	  	<td >
		     	 		<b><?php echo '3.&nbsp;'; ?></b>
						<input type="text" name="main_problem_c" value="<? echo $sd['docum']['main_problem_c'] ?>"  />
		     	 	</td>
		      	</tr>
		     </table>
		</div>
     
        <br/>
     	<b><?php echo $symp_lang ['how_much_these_symptoms_have_affected_you_in_the_last_3_days']; ?></b>
     	<div>   
		     <table class="table_stddoc">
		     	<tr>
			     	<th></th>
			     	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<th style="width:50px;"><?php echo $val; ?></th>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['pain']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="pain" value="<? echo $key ?>" <?php if(($sd['docum']['pain'] != NULL) && ($sd['docum']['pain'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['difficulty_breathing']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="difficulty_breathing" value="<? echo $key ?>" <?php if(($sd['docum']['difficulty_breathing'] != NULL) && ($sd['docum']['difficulty_breathing'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['weakness_or_lack_of_energy']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="weakness_or_lack_of_energy" value="<? echo $key ?>" <?php if(($sd['docum']['weakness_or_lack_of_energy'] != NULL) && ($sd['docum']['weakness_or_lack_of_energy'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>	     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['nausea']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="nausea" value="<? echo $key ?>" <?php if(($sd['docum']['nausea'] != NULL) && ($sd['docum']['nausea'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>	
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['vomit']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="vomit" value="<? echo $key ?>" <?php if(($sd['docum']['vomit'] != NULL) && ($sd['docum']['vomit'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['anorexia']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="anorexia" value="<? echo $key ?>" <?php if(($sd['docum']['anorexia'] != NULL) && ($sd['docum']['anorexia'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['constipation']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="constipation" value="<? echo $key ?>" <?php if(($sd['docum']['constipation'] != NULL) && ($sd['docum']['constipation'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>	     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['mouth_dryness']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="mouth_dryness" value="<? echo $key ?>" <?php if(($sd['docum']['mouth_dryness'] != NULL) && ($sd['docum']['mouth_dryness'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['drowsiness']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="drowsiness" value="<? echo $key ?>" <?php if(($sd['docum']['drowsiness'] != NULL) && ($sd['docum']['drowsiness'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['limited_mobility']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="limited_mobility" value="<? echo $key ?>" <?php if(($sd['docum']['limited_mobility'] != NULL) && ($sd['docum']['limited_mobility'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['anxiety']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="anxiety" value="<? echo $key ?>" <?php if(($sd['docum']['anxiety'] != NULL) && ($sd['docum']['anxiety'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>	     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['disorientation']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="disorientation" value="<? echo $key ?>" <?php if(($sd['docum']['disorientation'] != NULL) && ($sd['docum']['disorientation'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['unrest']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="unrest" value="<? echo $key ?>" <?php if(($sd['docum']['unrest'] != NULL) && ($sd['docum']['unrest'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['sores_decubitus']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="sores_decubitus" value="<? echo $key ?>" <?php if(($sd['docum']['sores_decubitus'] != NULL) && ($sd['docum']['sores_decubitus'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['ascites']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="ascites" value="<? echo $key ?>" <?php if(($sd['docum']['ascites'] != NULL) && ($sd['docum']['ascites'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>	     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['seizure']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="seizure" value="<? echo $key ?>" <?php if(($sd['docum']['seizure'] != NULL) && ($sd['docum']['seizure'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['diarrhea']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="diarrhea" value="<? echo $key ?>" <?php if(($sd['docum']['diarrhea'] != NULL) && ($sd['docum']['diarrhea'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['itching']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="itching" value="<? echo $key ?>" <?php if(($sd['docum']['itching'] != NULL) && ($sd['docum']['itching'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>	     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['edema']; ?>	</td>
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="edema" value="<? echo $key ?>" <?php if(($sd['docum']['edema'] != NULL) && ($sd['docum']['edema'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td><?php echo '1. '.$symp_lang ['another_symptom']; ?><br><input type="text"  id="another_symptom_a_text"  name="another_symptom_a_text" value="<? echo $sd['docum']['another_symptom_a_text'] ?>"  /> 
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="another_symptom_a_val" value="<? echo $key ?>" <?php if(($sd['docum']['another_symptom_a_val'] != NULL) && ($sd['docum']['another_symptom_a_val'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td><?php echo '2. '.$symp_lang ['another_symptom']; ?><br><input type="text"  id="another_symptom_b_text"  name="another_symptom_b_text" value="<? echo $sd['docum']['another_symptom_b_text'] ?>"  /> 
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="another_symptom_b_val" value="<? echo $key ?>" <?php if(($sd['docum']['another_symptom_b_val'] != NULL) && ($sd['docum']['another_symptom_b_val'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 <tr>
		     	 	<td><?php echo '3. '.$symp_lang ['another_symptom']; ?><br><input type="text"  id="another_symptom_c_text"  name="another_symptom_c_text" value="<? echo $sd['docum']['another_symptom_c_text'] ?>"  /> 
		     	 	<? foreach($this->opt_labels_symp  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="another_symptom_c_val" value="<? echo $key ?>" <?php if(($sd['docum']['another_symptom_c_val'] != NULL) && ($sd['docum']['another_symptom_c_val'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>
		     </table>
		</div>
     	
        <br>
     	<b><?php echo $symp_lang ['phase_of_the_disease']; ?></b>
	     <div>   
		     <table class="table_stddoc">
				 <tr>
					<td >
						<?php echo $symp_lang ['phase_of_the_disease']; ?>
					</td> 
					<td >
						<input type="radio"  name="phase_of_the_disease" value="1" <?php if($sd['docum']['phase_of_the_disease'] == '1'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['stabil']; ?><br>
						<input type="radio"  name="phase_of_the_disease" value="2" <?php if($sd['docum']['phase_of_the_disease'] == '2'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['instabil']; ?><br>	
						<input type="radio"  name="phase_of_the_disease" value="3" <?php if($sd['docum']['phase_of_the_disease'] == '3'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['expected_worsening']; ?><br>	
						<input type="radio"  name="phase_of_the_disease" value="4" <?php if($sd['docum']['phase_of_the_disease'] == '4'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['dying']; ?><br>							
					</td> 		
				</tr>
		     </table>   
	      </div>   	
     	
        <br>
     	<b><?php echo $symp_lang ['how_would_you_feel_today_overall']; ?></b>
     	<div>   
		     <table class="table_stddoc">
		     	<tr>
			     	<th style="width:20px;"></th>
			     	<? foreach($this->opt_labels_life  as $key => $val ) :?>
			     		<th style="width:30px;"><?php echo $val; ?></th>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['quality_of_life_today_val']; ?>	</td>
		     	 	<? foreach($this->opt_labels_life  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="quality_of_life_today" value="<? echo $key ?>" <?php if($sd['docum']['quality_of_life_today'] == $key): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>    
     		</table>
     	</div>
    
        <br>
        <p><b><?php echo $symp_lang ['in_the_last_3_days']; ?></b></p>
        <br>
     	<b><?php echo $symp_lang ['worried_about_your_illness_or_treatment']; ?></b>
     	<div>   
		     <table class="table_stddoc">
		     	<tr>
			     	<th></th>
			     	<? foreach($this->opt_labels_free  as $key => $val ) :?>
			     		<th style="width:50px;"><?php echo $val; ?></th>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['worried_about_illness_treatment_val']; ?>	</td>
		     	 	<? foreach($this->opt_labels_free  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="worried_disease_treatment" value="<? echo $key ?>" <?php if(($sd['docum']['worried_disease_treatment'] != NULL) && ($sd['docum']['worried_disease_treatment'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>    
     		</table>
     	</div> 
        
        <br>
     	<b><?php echo $symp_lang ['family_or_friends_are_worried_about_you']; ?></b>
     	<div>   
		     <table class="table_stddoc">
		     	<tr>
			     	<th></th>
			     	<? foreach($this->opt_labels_free  as $key => $val ) :?>
			     		<th style="width:50px;"><?php echo $val; ?></th>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['family_worried']; ?>	</td>
		     	 	<? foreach($this->opt_labels_free  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="family_worried" value="<? echo $key ?>" <?php if(($sd['docum']['family_worried'] != NULL) && ($sd['docum']['family_worried'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>    
     		</table>
     	</div>  
     
        
        <br>
     	<b><?php echo $symp_lang ['Were_you_sadly_depressed']; ?></b>
     	<div>   
		     <table class="table_stddoc">
		     	<tr>
			     	<th></th>
			     	<? foreach($this->opt_labels_free  as $key => $val ) :?>
			     		<th style="width:50px;"><?php echo $val; ?></th>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['sad_depressed_val']; ?>	</td>
		     	 	<? foreach($this->opt_labels_free  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="sad_depressed" value="<? echo $key ?>" <?php if(($sd['docum']['sad_depressed'] != NULL) && ($sd['docum']['sad_depressed'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>    
     		</table>
     	</div>  
       
        
        <br>
     	<b><?php echo $symp_lang ['are_you_at_peace_with_yourself']; ?></b>
     	<div>   
		     <table class="table_stddoc">
		     	<tr>
			     	<th></th>
			     	<? foreach($this->opt_labels_nofree  as $key => $val ) :?>
			     		<th style="width:50px;"><?php echo $val; ?></th>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['in_peace']; ?>	</td>
		     	 	<? foreach($this->opt_labels_nofree  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="in_peace" value="<? echo $key ?>" <?php if(($sd['docum']['in_peace'] != NULL) && ($sd['docum']['in_peace'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>    
     		</table>
     	</div>  

        
        <br>
     	<b><?php echo $symp_lang ['could_you_share_your_feelings_with_your_family_or_friends']; ?></b>
     	<div>   
		     <table class="table_stddoc">
		     	<tr>
			     	<th></th>
			     	<? foreach($this->opt_labels_nofree  as $key => $val ) :?>
			     		<th style="width:50px;"><?php echo $val; ?></th>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['share_feelings']; ?>	</td>
		     	 	<? foreach($this->opt_labels_nofree  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="share_feelings" value="<? echo $key ?>" <?php if(($sd['docum']['share_feelings'] != NULL) && ($sd['docum']['share_feelings'] == $key)): ?> checked="checked"<?php endif; ?> /> 
			     		</td>
			     	<?php endforeach; ?>
		     	 </tr>    
     		</table>
     	</div>  
        
        <br>
     	<b><?php echo $symp_lang ['did_you_receive_as_much_information_as_you_wanted']; ?></b>
     	<div>   
		     <table class="table_stddoc">
		     	<tr>
			     	<th></th>
			     	<? foreach($this->opt_labels_nofree  as $key => $val ) :?>
			     		<th style="width:50px;"><?php echo $val; ?></th>
			     	<?php endforeach; ?>
		     	 </tr>
		     	 
		     	 <tr>
		     	 	<td ><?php echo $symp_lang ['receive_information']; ?>	</td>
		     	 	<? foreach($this->opt_labels_nofree  as $key => $val ) :?>
			     		<td><?php echo $key; ?>	<input type="radio"  name="receive_information" value="<? echo $key ?>" <?php if(($sd['docum']['receive_information'] != NULL) && ($sd['docum']['receive_information'] == $key)): ?> checked="checked"<?php endif; ?> /> </td>
			     	<?php endforeach; ?>
		     	 </tr>    
     		</table>
     	</div>  
 
        <br>
     	<b><?php echo $symp_lang ['have_you_tackled_any_practical_problems_that_are_the_result_of_your_illness']; ?></b>
	     <div>   
		     <table class="table_stddoc">
				 <tr>
					<td >
						<?php echo $symp_lang ['practical_problems']; ?>
					</td> 
					<td >
						<input type="radio"  name="practical_problems" value="1" <?php if($sd['docum']['practical_problems'] == '1'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['no_problems']; ?><br>
						<input type="radio"  name="practical_problems" value="2" <?php if($sd['docum']['practical_problems'] == '2'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['problems_mostly_addressed']; ?><br>	
						<input type="radio"  name="practical_problems" value="3" <?php if($sd['docum']['practical_problems'] == '3'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['problems_partially_addressed']; ?><br>	
						<input type="radio"  name="practical_problems" value="4" <?php if($sd['docum']['practical_problems'] == '4'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['problems_hardly_touched']; ?><br>	
						<input type="radio"  name="practical_problems" value="5" <?php if($sd['docum']['practical_problems'] == '5'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['problems_not_addressed']; ?><br>	
						<input type="radio"  name="practical_problems" value="6" <?php if($sd['docum']['practical_problems'] == '6'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['can_not_be_assessed']; ?><br>	
						
					</td> 		
				</tr>
		     </table>   
	      </div>        
        
        <br>
     	<b><?php echo $symp_lang ['have_support_overall_from_the_palliative_team_as_you_need']; ?></b>
	     <div>   
		     <table class="table_stddoc">
				 <tr>
					<td >
						<?php echo $symp_lang ['support_related']; ?>
					</td> 
					<td >
						<input type="radio"  name="support_related" value="1" <?php if($sd['docum']['support_related'] == '1'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['yes_we_get_as_much_support_as_we_need']; ?><br>
						<input type="radio"  name="support_related" value="2" <?php if($sd['docum']['support_related'] == '2'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['yes_we_get_support_but_not_as_much_as_we_need']; ?><br>	
						<input type="radio"  name="support_related" value="3" <?php if($sd['docum']['support_related'] == '3'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['no_we_have_tried_to_get_more_support']; ?><br>	
						<input type="radio"  name="support_related" value="4" <?php if($sd['docum']['support_related'] == '4'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['no_but_we_did_not_ask_for_support']; ?><br>	
						<input type="radio"  name="support_related" value="5" <?php if($sd['docum']['support_related'] == '5'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['we_do_not_need_support']; ?><br>	
						<input type="radio"  name="support_related" value="6" <?php if($sd['docum']['support_related'] == '6'): ?> checked="checked"<?php endif; ?> />
						<?php echo $symp_lang ['can_not_be_assessed']; ?><br>	
						
					</td> 		
				</tr>
		     </table>   
	      </div>          
                               

     <br>	
     <br>  

<button type="button" id="save_form" class="submit_form" ><?php echo $this->translate('submit');?></button>

<input type="hidden" name="save"  value="" />&nbsp;&nbsp;
<input type="hidden" name="print"  value="" />&nbsp;&nbsp;

<!-- <button type="button" id="pdfexport"  class="submit_form"> <?php echo $this->translate('generatepdf') ?></button> -->

</form>

</div>
