<script type="text/javascript">

$(document).ready(function(){
	$('.interval_time').mask("99:99"); //add hours and minute mask
	
    $('.interval_time').timepicker({
		onSelect : function(time_value) {
			$(this).focus();
			return false;
		},
		minutes : {
			interval : 5
		},
		hours: {starts: 0, ends: 24},
		maxTime: { hour: "24", minute: "00"},
		showPeriodLabels : false,
		rows : 4,
		hourText : 'Stunde',
		minuteText : 'Minute'
    	
    });
	
	/* ############################################################### */
	
	$('.int_time').mask("99:99"); //add hours and minute mask
	
    $('.int_time').timepicker({
		onSelect : function(time_value) {
			$(this).focus();
			return false;
		},
		minutes : {
			interval : 5
		},
		hours: {starts: 0, ends: 24},
		maxTime: { hour: "24", minute: "00"},
		showPeriodLabels : false,
		rows : 4,
		hourText : 'Stunde',
		minuteText : 'Minute'
    	
    });
	
    function reset_ints(){
    	var interval_number = 1;        	
    	$('.time_table td a.add_before').each(function(i, obj) {
        	$(this).attr("rel", interval_number);
        	interval_number++;
    	});
    	
    	var interval_number_after = 100;        	
    	$('.time_table td a.add_after').each(function(i, obj) {
        	$(this).attr("rel", interval_number_after);
        	interval_number_after++;
    	});
    	
    	var interval_number_delete = 1;        	
    	$('.time_table td a.delete_interval').each(function(i, obj) {
        	$(this).attr("rel", interval_number_delete);
        	interval_number_delete++;
    	});
    	
    	
    	var interval_name = 1;
    	$('.time_table td input').each(function(i, obj) {
        	$(this).attr("name", "interval["+interval_name+"]");
        	interval_name++;
    	});
    	
    }    
	
    var max_fields      = 12; //maximum input boxes allowed
    var x = 4; //initlal text box count - get existing
    var interval_id = "";
    var new_int_id  = "";
    
    $('.add_before').live('click',function(e){ //on add input button click
        e.preventDefault();
    
		var interval_id  = $(this).attr("rel");
		var new_int_id = interval_id+1000;
		
		var new_td ='';
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            
            var  td_s ='<td class="custom">';
            var  add_link ='<a href="javascript:void(0)" class="add_before" rel="'+new_int_id+'"> <img src="<?php echo RES_FILE_PATH ?>/images/edit_add.png" alt="add" width="15px"/></a>';
            var  input ='<input type="text" value=""   name="interval['+new_int_id+']"  class="gen_int_time" />';
            var  delete_link ='<br/><a href="javascript:void(0)" class="delete_interval"><img src="<?php echo RES_FILE_PATH ?>/images/action_delete.png" alt="delete" width="13px" /></a>';
            var  td_e ='</td>';
            
            new_td = td_s + add_link + input + delete_link + td_e ;
            $(new_td).insertBefore($(this).parent());

            
        	$('.gen_int_time').mask("99:99"); //add hours and minute mask
        	$('.gen_int_time').timepicker({
        		onSelect : function(time_value) {
        			$(this).focus();
        			return false;
        		},
        		minutes : {
        			interval : 5
        		},
        		showPeriodLabels : false,
        		rows : 4,
        		hourText : 'Stunde',
        		minuteText : 'Minute'
            });
        	
        	reset_ints();
        }
    });
    
    
    $('.add_after').live('click',function(e){ //on add input button click
        e.preventDefault();
    
		var interval_id  = $(this).attr("rel");
		var new_int_id = interval_id+100;
		
		var new_td ='';
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            
            var  td_s ='<td class="custom">';
            var  add_link ='<a href="javascript:void(0)" class="add_before" rel="'+new_int_id+'"> <img src="<?php echo RES_FILE_PATH ?>/images/edit_add.png" alt="add" width="15px"/></a>';
            var  input ='<input type="text" value=""   name="interval['+new_int_id+']"  class="gen_int_time" />';
            var  add_after_link ='<a href="javascript:void(0)" class="add_after" rel="'+new_int_id+'"> <img src="<?php echo RES_FILE_PATH ?>/images/edit_add.png" alt="add" width="15px"/></a>';
            var  delete_link ='<br/><a href="javascript:void(0)" class="delete_interval"><img src="<?php echo RES_FILE_PATH ?>/images/action_delete.png" alt="delete" width="13px" /></a>';
            var  td_e ='</td>';
            
            new_td = td_s + add_link + input + add_after_link +delete_link + td_e ;
            $(new_td).insertAfter($(this).parent())
            
        	$('.gen_int_time').mask("99:99"); //add hours and minute mask
        	$('.gen_int_time').timepicker({
        		onSelect : function(time_value) {
        			$(this).focus();
        			return false;
        		},
        		minutes : {
        			interval : 5
        		},
        		showPeriodLabels : false,
        		rows : 4,
        		hourText : 'Stunde',
        		minuteText : 'Minute'
            });
        	
        	reset_ints();
        }
    });
 
    
    $('.delete_interval').live('click',function(e){ //on add input button click
        e.preventDefault();
    
    	$(this).parent().remove();
    	x--;
    	reset_ints();	
    });
    
});
</script>


<style>
	.int_time, .gen_int_time
	{
		width: 32px;
	}
	
	
	.time_table td {
		border: 1px solid #000000;
		padding: 3px; 
	}
	
	.time_table td.custom {
		background: #cdd; 
		text-align: center;
	}
	
</style>

<h1><?php echo $this->translate("Client - time scheme settings")?></h1>
<?php $interval = $this->intervals?>
<form action="" method="post" id="" class="" name="">
	<table class="datatable">
		<tr>
			<th colspan="5">
				<i><?php echo $this->translate("Please set the times used in patient medication- dosaje")?></i>
			</th>
		</tr>
		
		<tr>
			<td width="20%"></td>
			<td><input type="text" name="client_interval[1]" value="<?php echo $interval[1]; ?>" class="interval_time" /></td>
			<td><input type="text" name="client_interval[2]" value="<?php echo $interval[2]; ?>" class="interval_time" /></td>
			<td><input type="text" name="client_interval[3]" value="<?php echo $interval[3]; ?>" class="interval_time" /></td>
			<td><input type="text" name="client_interval[4]" value="<?php echo $interval[4]; ?>" class="interval_time" /></td>
		</tr>
		
		<tr>
			<td colspan="5">&nbsp;</td>
		</tr>
		
		<tr>
			<td width="20%"></td>
			<td colspan="4"> <input type="submit" name="submit" value="<?php echo $this->translate('save');?>"></td>
		</tr>
		
	</table>
</form>
		
		
		
		
		
<table cellpadding="0" cellspacing="0" class="time_table">
	<tr>
		<td>
			<a href="javascript:void(0)" class="add_before change" rel="1" > <img src="<?php echo RES_FILE_PATH ?>/images/edit_add.png" alt="add" width="15px"/></a>
			<input type="text" value="08:00"  class="int_time" name="interval[1]" />
		</td>
		
		<td>
			<a href="javascript:void(0)" class="add_before change" rel="2"> <img src="<?php echo RES_FILE_PATH ?>/images/edit_add.png" alt="add" width="15px"/></a>
			<input type="text" value="12:00"  class="int_time"  name="interval[2]" />
		</td>
		
		<td>
			<a href="javascript:void(0)" class="add_before change" rel="3"> <img src="<?php echo RES_FILE_PATH ?>/images/edit_add.png" alt="add" width="15px"/></a>
			<input type="text" value="18:00"  class="int_time"  name="interval[3]" />
		</td>
		
		<td>
			<a href="javascript:void(0)" class="add_before change" rel="4"> <img src="<?php echo RES_FILE_PATH ?>/images/edit_add.png" alt="add" width="15px"/></a>
			<input type="text" value="22:00"  class="int_time"  name="interval[4]" /> 
			<a href="javascript:void(0)" class="add_after change" rel="5"> <img src="<?php echo RES_FILE_PATH ?>/images/edit_add.png" alt="add" width="15px"/></a>
		</td>
	</tr>
</table>