<? $this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/page-css/openmail_style.css'); ?>

<form action="" method="post" name="frmmail" id="frmmail">
    <div id="MainContent">
	<div id="OpenMail">
	    <strong><? echo $this->translate('readmessage') ?></strong><br />
	    <br />
	    <a href="message/inbox"><<&nbsp;<? echo $this->translate('inbox') ?></a></div>

	<div class="OpenMailInfoOuter">
	    <div class="OpenMailInfoList">
		<div class="OpenMailInfoSender"><strong><? echo $this->translate('sender') ?>: </strong></div>
		<div class="OpenMailInfoDtl"><? echo $this->sendername ?></div>
	    </div>
	    <div class="OpenMailInfoList">
		<div class="OpenMailInfoSender"><strong><? echo $this->translate('msg_date') ?>: </strong></div>
		<div class="OpenMailInfoDtl"><? echo $this->msg_date ?></div>
	    </div>
	    <div class="OpenMailInfoList">
		<div class="OpenMailInfoSender"><strong><? echo $this->translate('title') ?>: </strong></div>
		<div class="OpenMailInfoDtl"><? echo $this->title ?></div>
	    </div>
	    <div class="OpenMailInfoList">
		<div class="OpenMailInfoSender"><strong><? echo $this->translate('other_receipients') ?>: </strong></div>
		<div class="OpenMailInfoDtl">
			<?php if ($this->other_users_data): ?>
			    <?php $i=1; foreach ($this->other_users_data as $k_recipient => $v_recipient): ?>
				<?php if ($k_recipient != $this->userid): ?>
				    <?php echo $v_recipient; ?>
				    <?php
					if($i != count($this->other_users_data))
					{
					    echo ', ';
					}
				    ?>
				<?php endif; ?>
			    <?php $i++; endforeach; ?>
			<?php else: ?>
			    <?php echo $this->translate('no_other_receipients') ?>
			<?php endif; ?>
		</div>
	    </div>
	    <div class="OpenMailMsg">

		<div class="OpenMailInfoSender"><strong><? echo $this->translate('message') ?>: </strong></div>
		<div class="OpenMailMsgOuter"><? echo $this->content ?></div>

	    </div>
	    <? if ($this->reply == '1'): ?>
	    <div style="display: block; float: left; width: 200px; border:  1px solid #fff;;">
    	    <input type="button" name="submit" id="submit" onClick="location.href = '<? echo APP_BASE ?>message/replymail?<? echo $this->fld ?>id=<?= $_GET['id'] ?>'" value="<? echo $this->translate('reply') ?>" >
    	  </div>
	    <? endif; ?>
	</div>


    </div>

</form>
