<script type="text/javascript">
var pl_loading = function(){

var dlist = '<div class="loadingdiv" align="center"><img src="images/pageloading.gif"><br />	Loading... please wait</div>';
document.getElementById('content').innerHTML = dlist;

}
function loadpage(ord,clm)
{
	if($('#hdnlastpage').val()>=parseInt($('#pageno').val())){
	if((parseInt($('#pageno').val()))>0){pgno=(parseInt($('#pageno').val()-1));}else{pgno=0;}
	
	ajaxCallserver({url:'hospiceassociation/fetchlist?clm='+clm+'&ord='+ord+'&pgno='+pgno,callLoading:pl_loading});
	}else{
		jAlert("<? echo $this->translate('invalidpageno'); ?>");
	}
}
function searchData(val)
{
	ajaxCallserver({url:'hospiceassociation/fetchlist',
	method:'POST',
	data:{clm:'ln',ord:'ASC',pgno:0,val:val.value}});
	
}
var callBack = function(params)
{
	document.getElementById('content').innerHTML = params.hospiceassociationlist; 
	$(".confirm_button").click( function() {
		$.confirmdeleteid = $(this).attr('rel');
			jConfirm('<? echo $this->translate('confirmdeleterecord'); ?>', '<? echo $this->translate('confirmdeletetitle'); ?>', function(r) {
			if(r)
			{	
				location.href = "<? echo APP_BASE ?>hospiceassociation/deletehospiceassociation?id="+ $.confirmdeleteid;
			}
		});
	});
	
	
}

</script>
<form action="" method="post" name="frmdoc" id="frmdoc" >

	<div class="add_link">
		<a href="hospiceassociation/addhospiceassociation"><? echo $this->translate('addhospiceassociation') ?></a>
	</div>
	<div style="clear:both;"></div>
	
	<div id="familydoctorlist_deleteMsg" class="err"><? echo $this->delete_message ?><? echo $this->error_message ?></div>
    <div id="familyDocFetchlist_mainDiv" class="grid">
		<h1 id="famDrFet_tranHeading"><? echo $this->translate('hospiceassociationlist')?></h1> 
     
     <div>
     	<label for="search"><? echo $this->translate('quicksearch')?></label>&nbsp;&nbsp;<input name="search" id="search" type="text" onkeyup="searchData(this);" />
     </div>

	<div id="content">
		<? echo $this->hospiceassociationgrid ?>
	</div>
	
</div>

</form>
<script type="text/javascript">
	ajaxCallserver({url:'hospiceassociation/fetchlist?clm=ln&ord=ASC&pgno=0',callLoading:pl_loading});
</script>