<script type="text/javascript">
	
	  function checkedall(allid)
	  {
	
		if(allid.checked==true)
		{
			for(i=1; i<15;i++)
			{
				document.getElementById('copytable_'+i).checked = true; 
			}
		}else{
			for(i=1; i<15;i++)
			{
				document.getElementById('copytable_'+i).checked = false;
			}
		}
	  }

</script>
<div id="copyclientdata_outerdiv">
<form action="" method="post" name="frmcpcdata" id="frmcpcdata" >
<fieldset id="copyclientdata_FormFieldset">
	<legend id="copyclientdata_legend"><? echo $this->translate('Copyclientdatatitle') ?></legend>
    	<div id="copyclientdata_Error_msg" class="err"><? echo $this->error_message ?></div>
      <br />
      <label for="copyfromclient" id="lbl_copyfromclient"><? echo $this->translate('copyfromclient')?></label>
      <? echo $this->formSelect('copyfromclient',$this->copyfromclient,NULL,$this->clientarray)?>
      <div id="copyclientdata_copyfromclientError" class="error"><?php echo $this->error_copyfromclient ?></div>
      <br>
      <label for="copytoclient" id="lbl_copytoclient"><? echo $this->translate('copytoclient')?></label>
      <? echo $this->formSelect('copytoclient',$this->copytoclient,NULL,$this->clientarray)?>
      <div id="copyclientdata_copytoclientError" class="error"><?php echo $this->error_copytoclient ?></div>
      <br>
      <div class="copy_all">
      	<label for="copytable_all">&nbsp;<? echo $this->translate('selecttabletocopy')?></label>
      	<input name="all_id[]" id="copytable_all" onclick="checkedall(this)" value="" type="checkbox">
      </div>
      
      <div id="table_id" class="TableCheckbox copyclientoclient">
		<ul>
			<li><b> 1) </b><input name="copytable[1]" id="copytable_1" value="1" type="checkbox"><label for="copytable_1">Health Isurance</label></li>
			<li><b> 2) </b><input name="copytable[2]" id="copytable_2" value="2" type="checkbox"> <label for="copytable_2">Family Doctor</label></li>
			<li><b> 3) </b><input name="copytable[3]" id="copytable_3" value="3" type="checkbox"><label for="copytable_3">Reffered By</label></li>
			<li><b> 4) </b><input name="copytable[4]" id="copytable_4" value="4" type="checkbox"><label for="copytable_4">Triggers</label></li>
			<li><b> 5) </b><input name="copytable[5]" id="copytable_5" value="5" type="checkbox"> <label for="copytable_5">Symptomatology</label></li>
			<li><b> 6) </b><input name="copytable[6]" id="copytable_6" value="6" type="checkbox"><label for="copytable_6">Course Shortcuts</label></li>
			<li><b> 7) </b><input name="copytable[7]" id="copytable_7" value="7" type="checkbox"><label for="copytable_7">Discharge Location</label></li>
		</ul>
		<ul>
			<li><b> &nbsp;8) </b><input name="copytable[8]" id="copytable_8" value="8" type="checkbox"><label for="copytable_8">Discharge Method</label></li>
			<li><b> &nbsp;9) </b><input name="copytable[9]" id="copytable_9" value="9" type="checkbox"><label for="copytable_9">Navigation Menu</label> </li>
			<li><b> 10) </b><input name="copytable[10]" id="copytable_10" value="10" type="checkbox"><label for="copytable_10">Client Modules</label> </li>
			<li><b> 11) </b><input name="copytable[11]" id="copytable_11" value="11" type="checkbox"><label for="copytable_11">Extra Forms</label></li>
			<li><b> 12) </b><input name="copytable[12]" id="copytable_12" value="12" type="checkbox"><label for="copytable_12">client Medication</label></li>
			<li><b> 13) </b><input name="copytable[13]" id="copytable_13" value="13" type="checkbox"><label for="copytable_13">Tab menus</label></li>
		</ul>
	    
      </div>

      <div id="copyclientdata_tableError" class="error"><?php echo $this->error_copytable ?></div>
      <br>
      
      <label></label>
      <input name="btnsubmit" type="submit" id="copyfromclient_SubmitBtn" class="button" tabindex="13" value="<? echo $this->translate('submit')?>">
</fieldset>
</form>
</div>