<!-- <div class="back_list">
	<a href="client/orderadmission">&laquo; <? echo $this->translate('back') ?></a>
</div> -->
<a href="<?php echo $this->url(array('controller'=>'client' , 'action' => 'orderadmission' )); ?>"><?php echo $this->translate("back")?></a> 
<form action="" method="post" >
	<fieldset>
		<legend>
			<?php if($_REQUEST['ordererid'] > '0') { ?>
			<? echo $this->translate('editorderer') ?>
		<?php } else { ?>
			<? echo $this->translate('addorderer') ?>
		<?php } ?>
		</legend>
		<div id="loAddlocations_MsgError" class="err">
			<? echo $this->error_message ?>
		</div>
		<br />
		<table width="100%" border="0" id="loAddlocations_contentTable">
			<tbody>
				<tr>
					<td valign="top">
						<? echo $this->translate('orderer') ?>
					</td>
					<td valign="top">
						<input type="text" name="orderer" value="<?php echo $this->orderer ?>" style="width: 300px;">
						<input type="hidden" name="ordererid" value="<?php echo $this->ordererid ?>">
					</td>
				</tr>
 
				<tr>
					<td valign="top"></td>
					<td valign="top">
					
						<input type="submit" name="Submit"	value="Speichern">
					</td>
				</tr>
			</tbody>
		</table>
</form>
 

