<?php
	$letter_boxes_details = $this->letter_boxes_details;
?>
<div class="letter_boxes_details_link">
	<a href="client/letterstextblocks">&laquo;<?php echo $this->translate('back'); ?></a>
</div>


<h1><?php echo $this->translate('Letter text blocks'); ?></h1>



<div id="clinetadddiv client_mainOuter_div">
	<form action="<?php echo $this->action ?>" method="post" name="frmclient" id="frmclient" >
		<fieldset id="client_FormFieldset">
			<label for="txt_Client_greetings" id="lbl_add_client_phone" class="letter_text_footer"><?php echo $this->translate('greetings_txt') ?></label>
			<textarea name="greetings" id="txt_Client_greetings"  cols="35" rows="5" class="text_blocks"><?php echo $letter_boxes_details['greetings'] ?></textarea>
			<div id="client_greetings_error" class="error"> <?php echo $this->error_greetings ?></div>


			<label for="sapv_invoice_footer" id="lbl_add_client_sapv_invoice_footer" class="letter_text_footer"><?php echo $this->translate('sapv_invoice_footer_txt'); ?></label>
			<textarea name="sapv_invoice_footer" id="sapv_invoice_footer"  cols="35" rows="5" class="text_blocks"><?php echo $letter_boxes_details['sapv_invoice_footer'] ?></textarea>
			<div id="client_sapv_invoice_footer_error" class="error"> <?php echo $this->error_greetings ?></div>

			<!--Start brief 23 and 24-->
			<label for="erstverordnung_footer" id="lbl_add_client_erstverordnung_footer" class="letter_text_footer"><?php echo $this->translate('erstverordnung_footer_txt'); ?></label>
			<textarea name="erstverordnung_footer" id="erstverordnung_footer"  cols="35" rows="5" class="text_blocks"><?php echo $letter_boxes_details['erstverordnung_footer'] ?></textarea>
			<div id="client_erstverordnung_footer_error" class="error"> <?php echo $this->error_erstverordnung_footer ?></div>

			<label for="folgeverordnung_footer" id="lbl_add_client_folgeverordnung_footer" class="letter_text_footer"><?php echo $this->translate('folgeverordnung_footer_txt'); ?></label>
			<textarea name="folgeverordnung_footer" id="folgeverordnung_footer"  cols="35" rows="5" class="text_blocks"><?php echo $letter_boxes_details['folgeverordnung_footer'] ?></textarea>
			<div id="client_folgeverordnung_footer_error" class="error"> <?php echo $this->error_folgeverordnung_footer ?></div>
			<!--End brief 23 and 24-->

		</fieldset>
		<input type="submit" name="submit" value="<?php echo $this->translate('submit') ?>"/>
	</form>
</div>