/*
css rules in this file are overwriting the allready defined rules in custom.css
In this way we keep a separate css for addressbook modals and custom.css for patient/addressbook
*/
/* 
    Created on : Nov 13, 2014, 3:06:34 PM
    Author     : radu
*/

/* ADDRESSBOOK STUFF */

div#dialog_addressbook.ui-dialog-content {
    overflow-x: hidden;
}
/*div.addr-details table {
    width:100%!important;
}*/
#addressbook-container {
    /*width: 660px;*/
    width: 720px;
    float: left;
    padding: 0;
    margin: 0;
}
#addressbook-container table td.radio {
    width: 15px;
}

#addressbook-tabs {
    width: 52px;
    /*	float: right;*/
    float: left;
    /*	margin: 0 30px 0 0;*/
    padding: 0;
}


#addressbook-tabs table {
    width:52px;
}


.addr-details { 
    /* 	margin: 20px 0 10px 70px; */
    float:left;
}

table#fulltable {
    width: 772px;
}
/* TABS Address book */
ul.addressb {
    margin: 0 0 -3px 0;
    padding: 0;
    float: left;
    list-style: none;
    height:67px; /*--Set height of tabs--*/
    border-bottom: 0px solid #999;
    border-left: 1px solid #999;
    /*width: 710px;*/
    width: 800px;
}