/* Maria:: Migration CISPC to ISPC 22.07.2020  */ 

#patientquicknavigation{
    background-color: #b3bed7;
    margin-bottom: 4px;
    text-align: center;
    background-image: -webkit-linear-gradient( 90deg, rgb(157,163,179) 0%, rgb(181,191,213) 99%);
    height: 28px;
    vertical-align: middle;
    border-radius: 2px;
}

#patientquicknavigation #patientquicknavigation_pats{
    width: 300px;
}

#patientquicknavigation #patientquicknavigation_lists{

}

#patientquicknavigation select{
    height: 28px;
    margin: 0px;
    background: #959bae;
    color: white;
    border: none;
    vertical-align: middle;
}

#patientquicknavigation select:hover{
    background-color: #8d97b0 !important;
    transition: background 0.3s;
}

#patientquicknavigation span#patientquicknavigation_next{
    text-align: right;
    width: 150px;
    vertical-align: middle;
    padding: 7px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    margin: 0px 8px 0px 0px;
    color: white;
    float:right;
}
#patientquicknavigation span#patientquicknavigation_prev{
    text-align: left;
    width: 150px;
    vertical-align: middle;
    padding: 7px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    margin: 0px 0px 0px 8px;
    color: white;
    float:left;
}