body {font-family:Arial,Helvetica,sans-serif;font-size: 12px;color: #333;margin: 0px;padding: 0px;}

textarea
{	border:1px solid #bbb; background-color:#f2f2f2;
}
table, input, textarea, button, select {font-family:Arial,Helvetica,sans-serif;font-size: 12px;margin: 3px 0 3px 0;}
p, div, th, td, ul, ol, li, dt, dd, nobr, input, option, textarea {font-family:Arial,Helvetica,sans-serif;}

p{line-height:140%;}

h1 {font-size:18px; color: #555; } /* 1. Ordnung */
h2 {font-size:16px; color: #b3bed7; } /* 2. Ordnung */
h3 {font-size:16px; color: #C8D3E3; } /* 3. Ordnung */
h4 {font-size:14px; } /* 4. Ordnung */
h5 {font-size:12px; } /* 5. Ordnung */
h6 {font-size:10px; } /* 6. Ordnung */

a {color:#1B346F; text-decoration:none;}
/* a {color:#b3bed7; text-decoration:none;} */
a:hover, a:active {color:#1B346F; text-decoration:underline;}
/* a:visited, a:hover, a:active {color:#b3bed7; text-decoration:underline;} */

.left {float:left;}
.right {float:left;}

/* display none */

/* layout - left right top bottom */
.outer {margin-top:3px;width:1010px !important;float:left;}
#Wrapper {width:1010px !important;border:0px solid #f00;border-top:0px;float:left;margin-left:20px;margin-bottom:60px;}
.LeftDiv {width:192px;border-right:0px solid #0f0;
/* TODO-2063 - Ancuta 21.01.2019 */
/* background-color:#fff; */
/* -- */
}
#MainContent {margin-left:10px;width:800px;border-right:0px solid #00f;padding-top:0px;}
.footer {clear:both;padding:10px;background-color:#eee;border-top:1px solid #ccc;display:block;}
.footer p{width: 200px; display: block; }
.footer p a {  text-align: right; float: right; margin-top:-15px;}
/* basics */
fieldset {border:1px solid #eee;display:block; padding:10px;margin-top:10px;}
legend {padding-left:5px;padding-right:5px;font-weight:bold;font-size:1.2em;}

/* forms */
.button {border:1px solid #bbb;background-color:#eee;padding:4px 10px 4px 10px; cursor:pointer;}
select, input {border:1px solid #bbb; background-color:#f2f2f2;padding:2px;}

/* header */
.header {float:left;display:block;}
.header .logo {float:left;background-color:#fff;}
.header .TopMenu {float:left;width:800px;margin-left:10px;margin-top:44px;border-bottom:0px solid #f00;}
.header .TopMenu .megamenu li, .header .TopMenu .megamenu ul {float:left;margin:0;padding:0;}
.header .TopMenu .megamenu li {padding:9px 0px 9px 0px;}
.header .TopMenu .megamenu li a {color:#fff;vertical-align:middle;padding:8px 10px 8px 10px;font-weight:bold;}
/*.header .TopMenu .megamenu li {margin-right:2px;padding:9px 0px 9px 0px; background-color:#fff;}
.header .TopMenu .megamenu li a {color:#677daf;vertical-align:middle;padding:8px 10px 8px 10px;border:1px solid #888;}*/
.header .TopMenu .megamenu .nomenu {background:transparent;margin-left:10px;}
.header .TopMenu .MarginTop {}
.header .patsearchdropdown, .header #hidd_patientsearch {display:none;}
.header .TopMenu input, .header .TopMenu select {margin:0; padding:0;border:1px solid #ccc;}
.header #lbl_adminclientid {margin:0;padding:0;color:#fff;}
.header #adminclientid, #patientsearch {background-color:#fff;}
/* .header .userInfo {width:220px; text-align:right; color:#000000; line-height:15px; position:absolute; left:800px; padding-top:3px;} */

.header .userInfo {
    /*     width: 320px; */
    width: 620px;
    text-align: right;
    color: #000000;
    line-height: 15px;
    position: absolute;
    /*     left: 700px; */
    left: 400px;
    padding-top: 3px;
}


/* navigation menu */
.LeftDiv ul {}
#menu {}
#menu ul {list-style-type:none;}
#menu a {display:block;padding:8px 0px 8px 10px;}
#menu a:hover {text-decoration:none;}
#menu li {display:block;margin-bottom:1px;background-color:#b3bed7;}
/*#menu li {display:block;margin-bottom:1px;background-color:#e7f1f6;} */
#menu li a {color:#1B346F;font-weight:bold;}
/*#menu li a {color:#677daf;font-weight:bold;}*/
#menu li a:hover {}
#menu li ul li {margin-bottom:1px;border-bottom:1px solid #fff;}
#menu li ul li:last-child {margin-bottom:0px;border-bottom:0px;}
#menu li ul li:first-child {margin-top:1px;border-top:1px solid #fff;}
#menu li ul li a {padding-left:20px;font-weight:normal;background-color:#fff;}
#menu li ul li a:hover {}


/* patient details */
#Patientdetails {float:left;clear:both;display:block;width:100%;margin-top:0px;margin-bottom:25px;}
#Patientdetails #pdLeft, #Patientdetails #pdRight {float:left;display:block;width:45%;float:left;}
#Patientdetails .row {clear:both;float:left;margin-bottom:5px;}
#Patientdetails .colLeft, #Patientdetails .colRight {float:left;}
#Patientdetails .colLeft {width:150px;font-weight:bold;color:#666;}
#Patientdetails .colRight {width:210px;}

/* patient menu tabs */
#first_menu {clear:both;display:block;}
#first_menu li {margin-right:1px; float:left;padding:5px 0px 5px 0px;border:1px solid #b3bed7;background-color:#eee;margin-top:1px;}
#first_menu li a {padding:4px;text-decoration:none;color:#606060;}
#first_menu li a:hover, #first_menu li .active, #first_menu li .active:hover {background-color:#fff; color:#677daf;font-weight:bold;}
#first_menu li a:hover {font-weight:normal;}
.tab_container {clear:both;
/*	       padding:10px 0 !important;*/
}
/*
		#first_menu li ul {max-width:100px;margin: 0;padding: 0;position: absolute;visibility: hidden;border-top: 1px solid white}
		#first_menu li ul li {float: none;display: inline;padding:4px;}
		#first_menu li ul li a{padding:4px;text-decoration:none;color:#606060;}
		#first_menu li ul li a:hover{font-weight:normal;}
*/

/* course documentation shortcuts */
.CheckBoxes {display:block;width:100%;float:left;margin-bottom:10px;margin-top:10px;}
.ClrBoth {clear:both;}
.clearer {clear:both;}
/*#ListBox,.ListNew {display:none;}*/

.listcoursechecks_main_div label {padding-right:10px;display:block;float:left;}
.listcoursechecks_main_div label font {padding-top:3px;}
.shortcutlist .row {line-height:170%;}
.shortcutlist .colLeft {width:80px;float:left;}
.shortcutlist .colRight {width:300px;float:left;}

#ListBox {border-top:1px solid #ccc;}
#ListBox .row {float:left;border:1px solid #ccc;border-top:0px;padding-bottom:5px;padding-top:5px;}
#ListBox .row:first-child {}
#ListBox .colLeft {float:left;width:135px;margin:0;padding:0 5px 0 5px;line-height:150%;}
#ListBox .colRight {float:left;width:650px;margin:0;padding:0;line-height:150%;}
#ListBox .colRight .row {border:0px;float:left;margin:0;padding:0px 0 0px 0;}
#ListBox .colRight .row .colLeft {width:30px;float:left;margin:0;padding:0;}
#ListBox .colRight .row .colRight {border:0px;width:595px;float:left;margin:0;padding:0;}

.ListNew {}
.ListNew #focusdate {display:block; width:125px; padding:5px;font-weight:bold;}
.ListNew .left input {text-align:center;width:29px;border:1px solid #bbb;border-right:0;padding:4px;vertical-align:top;}
.ListNew .left textarea {height:1px;width:612px;border:1px solid #bbb;padding:4px}

.focused td { background-color:#EEEEEE;  color:#000;}

/* overview */
/*.column {float:left;width:300px;}
.dragbox {min-height:80px;border:0px solid #f00;margin-right:5px;line-height:140%;margin-bottom:20px;}
.dragbox h2 {display:block;cursor:pointer;color:#666;font-weight:normal;font-size:1.4em;border-bottom:1px solid #ddd;padding-bottom:3px;}
.dragbox .dragbox-content {padding-bottom:25px;}
#column1 .dragbox {margin-right:10px;}
#column2 .dragbox {margin-left:10px;}*/

/*.dragbox-content * {border:1px solid #f00;}*/

/* patient lists */
.datatable {width:800px;line-height:150%;margin-top:20px;}
.datatable td {cursor:pointer;padding-left:5px;line-height:200%;border:1px solid #eee;}
.datatable td a {color:#555;display:block;}
.datatable td a:hover {color:#666;text-decoration:none;}
.datatable th {line-height:200%;border:1px solid #bbb;border-left:0px;padding-left:5px;background-color:#f3f3f3;}
.datatable th:first-child {border-left:1px solid #bbb;}
.datatable th a {display:block; color:#666;}
.datatable th a:hover {text-decoration:none;}
.datatable .img {margin-top:5px;}
.txtCenter {text-align:center;padding-right:5px;}

#listpatientmedicationedit_medicationtable .datatable td {line-height:50% !important;}
#listpatientmedicationedit_medicationtable .datatable {width:800px;line-height:100% !important;margin-top:20px;}

#listpatientmedicationedit_medicationtable input#listEdInp
{	width:10px;
}

/* dutyroster */
#frmroster tr:first-child td {padding-left:6px;padding-bottom:10px;font-weight:bold;}
.listroster_contenttr td {padding:0 10px 0 10px;}
.listroster_contenttr td:first-child {padding:5px 10px 0 0;}



.column, .patientcolumn, .patientcolumndetails{/*margin-right:.5%;*/min-height:300px;float:left; /*min-width:395px;*/ width:50%;}
.column .dragbox, .dragboxpatient, .dragboxpatientdetails{margin:5px 2px  20px;background:#fff;position:relative; border:1px solid #B5BFD5; -moz-border-radius:5px;-webkit-border-radius:5px; border-radius: 5px;}
.column .dragbox h2, .dragboxpatient h2, .dragboxpatientdetails h2{display:block;/*width:380px;*/ width:97.3%;margin:0;font-size:12px;padding:5px;background:#B5BFD5;border-bottom:1px solid #B5BFD5;cursor:move;color:#20396B;}
.dragbox-content, .patientdragbox-content{background:#fff;min-height:100px; margin:5px;font-size:0.9em; line-height:1.5em;/*width:380px;*/width:97%;}
.column .placeholder, .patientcolumn .placeholder{background: #f0f0f0;border:1px dashed #ddd;}
.column h2.collapse, .patientcolumn h2.collapse {background:#B5BFD5 url('../images/collapse.png') no-repeat top right; }
.column h2 .configure, .patientcolumn h2 .configure{font-weight:normal;margin-right:30px; float:right;}
.BlueBg {background:#0174af;height:25px;color:#ffffff;font-weight:bold;padding-left:3px;}

/* news */
.newsdetail h1 {margin-top:25px;color:#444;}
.newsdetail h4 {margin-top:10px;margin-bottom:10px;display:block;}
.newsdetail h4 .date {float:right;font-size:.8em;font-weight:bold;}
.newsdetail p {line-height:150%;}

/* assign */
h4.LineHeading {border-bottom:1px solid #ddd;margin:15px 0 10px 0;}
h5.LineHeading {border-bottom:1px solid #ddd;margin:15px 0 10px 0;}
#PatientZuweisen .colLeft, #PatientZuweisen .colRight {float:left;width:45%;margin-right:5%;}
#PatientZuweisen .colRight {float:left;width:45%;margin-left:5%; margin-right:0;}
#PatientZuweisen .row {border-bottom:1px solid #eee;}
#PatientZuweisen .col1,.col2,.col3 {padding:4px;margin-right:3px;display:block;float:left;}
#PatientZuweisen .col1 {width:32px;}
#PatientZuweisen .col2 {width:262px;margin-top:5px;}
#PatientZuweisen .col3 {width:32px;text-align:right;margin-right:0px;}
#PatientZuweisen .ForIconInfo {line-height:160%;}

/* form labels */
/* edit patient */
#lbl_referred_by, #lbl_first_name, #lbl_middle_name, #lbl_last_name, #lbl_title, #lbl_salutation, #lbl_street1, #lbl_street2, #lbl_zip, #lbl_city, #lbl_phone, #lbl_mobile, #lbl_location,#lbl_reason, #lbl_hospdoc, #lbl_birthd, #lbl_sex, #lbl_nation, #lbl_fdoc_caresalone, label#Administrative_Data, label#lbl_referred_by, label#lbl_referred_by, label#lbl_recording_date, label#Patient Master Data, label#lbl_first_name, label#lbl_middle_name, label#lbl_last_name, label#lbl_title, label#lbl_salutation, label#lbl_street1, label#lbl_street2, label#lbl_zip, label#lbl_city, label#lbl_phone, label#lbl_mobile, label#lbl_birthd, label#lbl_sex, label#lbl_nation, label#lbl_familydoc_id, label#lbl_sapvverordnung, lbl_verordnet, label#lbl_fdoc_caresalone, label#lbl_company_name, label#lbl_insurance_no,label#lbl_kvk_no, label#lbl_insurance_status, label#lbl_admission_date, label#lbl_referred_by, label#lbl_medication, label#lbl_epid, label#lbl_content, label#lbl_client_id, label#lbl_abbrevation, label#lbl_description, label#lbl_catalogue, label#lbl_main_group, label#lbl_detailcode, label#lbl_icd_year, label#lbl_icd_primary, label#lbl_icd_star, label#lbl_icd_cross,label#addFamDr_TranClient_Lbl, label#lbl_practice, label#lbl_lastname, label#lbl_firstname, label#lbl_postcode, label#lbl_phone_practice, label#lbl_phone_emergency, label#lbl_phone_private,label#lbl_doctornumber,label#lbl_medical_speciality,label#lbl_comment, label#lbl_fax, label#lbl_email,, label#addHeaInsu_client_lbl, label#lbl_name, label#lbl_name2, label#lbl_phonefax, label#lbl_kvnumber, label#lbl_iknumber, label#lbl_comments, label#lbl_client_name, label#lbl_epid_chars, label#lbl_epid_start_no, label#lbl_district, label#lbl_country, label#lbl_preregion, label#lbl_emailid, label#lbl_inactivetime, label#lbl_userlimit, label#lbl_maintainance, label#lbl_pzn, label#lbl_package_size, label#lbl_amount_unit, label#lbl_price, label#lbl_manufacturer, label#lbl_package_amount, label#lbl_module, label#lbl_comment, label#lbl_parentid, label#lbl_menu_title,label#lbl_tabmenu_title, label#lbl_link,label#lbl_tablink, label#lbl_parent_id,label#lbl_tabparent_id, label#lbl_position, label#lbl_openin, label#lbl_foradmin, label#lbl_filename, label#lbl_shortcut, label#lbl_shortcut, label#lbl_isunderline, label#lbl_isbold, label#lbl_isitalic, label#lbl_isunderline, label#addCorShor_SubmitBtn, label#lbl_username, label#lbl_password, label#lbl_cfmpassword, label#lbl_private_phone, label#lbl_betriebsstattennummer, label#lbl_LANR, label#lbl_isadmin, label#lbl_notification, label#groupname, label#lbl_isactive, label#lbl_ipid, label#lbl_verordnet_von, label#lbl_verordnungam, label#lbl_verordnungbis, label#lbl_verordnet, label#lbl_fdcomments,
label#lbl_userstampadd1, label#lbl_userstampadd2, label#lbl_userstampadd3, label#lbl_userstampadd4, label#lbl_userstampadd5, label#lbl_userstampadd6, label#lbl_userstampadd7, #lbl_plocation_id, #lbl_plocation_id1, #lbl_plocation_id2, #lbl_plocation_id3, #lbl_doctoLettAdd_text1, label#lbl_doctoLetter1, #lbl_practice11, #lbl_title1, #lbl_lastname1, #lbl_firstname1, #lbl_title11, #lbl_lastname1, #lbl_fdcomments1, #lbl_medical_speciality, #lbl_doctornumber1, #lbl_fax1, #lbl_phone_private1, #lbl_phone_practice1, #lbl_city1, #lbl_postcode1, #lbl_street1, #lbl_firstname11, #lbl_company_na23, #lbl_insurance_no1, #patmediListbe, #lbl_status, #Lbl_PatientInstance, #lbl_comm
 {float:left;display:block;width:100px;margin-right:10px;padding:6px 10px 3px 0;}

#patmediListbe
{	margin-left:10px;
}
select#reason, select#hospdoc {
	width: 200px;
}

#lbl_referred_by,label#lbl_fonr_color, label#lbl_notification, label#groupname, label#lbl_isactive, label#lbl_isactive, #btnsumit {clear:both;}

select#referred_by, input#name, input#middle_name, input#last_name, input#title, select#salutation, input#street1, input#street2, input#zip, input#city, input#phone, input#mobile, #location_id, input#reason, input#hospdoc, input#birthd, select#sex, select#nation,select#referred_by, input#recording_date, input#first_name, input#familydoc_id, input#verordnet_von, input#company_name, input#insurance_no,input#kvk_no, select#insurance_status, input#admission_date, input#location_id, /*input#diagnosis1, input#diagnosis2, input#diagnosis3, input#diagnosis4, input#diagnosis5, input#diagnosis6,*/input#medication1, input#medication2, input#medication3, input#medication4, input#medication5, input#hidd_medication5, input#medication6, input#birthd, input#epid, input#company_name,
input#inpt_userstampadd1, input#inpt_userstampadd2, input#inpt_userstampadd3, input#inpt_userstampadd4, input#inpt_userstampadd5, input#inpt_userstampadd6, input#inpt_userstampadd7, #doctoLettAdd_text1, #inptitle, #inplast_name, #inpfirst_name, #phone_practice, #phone_emergency, #phone_cell, #fax, #email, #doc_street1, #doc_zip, #doc_city, #doc_fax, #doc_email, #company_na23, textarea.healthcomment, #phone_private, #doctornumber, #medical_speciality
 {padding:2px 2px 2px 4px;width:400px;}
textarea#content {width:400px;}

.datepick-trigger {margin-left:5px;}

div/*#patientMsterAd_ErrorMsg,*/ #feldset_patientMsterAd .error {display:inline;color:#900;padding-top:4px;font-weight:normal;padding-left:10px;}


/* error msgs */
.ErrorDiv, .err {color:#f00;display:block;padding:5px;text-align:center;border:1px solid #fbb;margin:10px;background-color:#f3f3f3;float:none;}



/* daniels verbrechercode */
#lbl_recording_date{clear: left;}

select#salutation, select#referred_by, select#sex, select#nation, select#insurance_status{width: 408px;}

label#lbl_fdoc_caresalone {width:150px ;}

/*discharge screen */
label#lbl_discharge_method, label#lbl_discharge_date, label#lbl_description, label#lbl_discharge_location {float:left;display:block;width:130px;margin-right:10px;padding:6px 10px 3px 0;}
textarea#discharge_comment{width: 400px;}
select#discharge_location, select#discharge_method {width: 400px;}
.grid .overviewdatatable .row:hover, .grid .overviewdatatable .rowblank:hover {background-color:#EEEEEE;color:#000;}
/*.row:hover{background-color:#f5f3b5;color:#000;}*/

#search_verstorben{float: left; clear:right; display:block;}
label#lbl_deceased, label#Pt_Add_first_name, label#Pt_Add_last_name, label#Pt_Add_title {float:left;display:block;width:100px;margin-right:10px;padding:6px 10px 3px 0;}

.w400 {
	width: 400px  !important;
}

.w200 {
	width: 200px !important;
}

.w100 {
	width: 100px !important;
}

#PtDtls_left_conatiner{
	float: left;
	clear: none;
	width: 370px;
}
#PtDtls_right_conatiner{
	float: right;
	clear: none;
	width: 370px;
}

#PtDetails_first, #PtDetails_second, #PtDetails_third, #PtDetails_fourth{
	float: left;
	clear: both;
	display: block;
	width: 370px;
}

label#first_name, label#last_name, label#street, label#city, label#zip, label#birthd, label#sex, label#phone, label#doc_firstname, label#doc_lastname, label#doc_phone_practice, label#docfax, label#company_name, label#insuranceno, label#insurancestatus, label#contact_first_name, label#contact_middlename, label#contact_lastname, label#contact_street1, label#contact_zip, label#contact_phone,label#contact_mobile,label#contact_hatversorgungsvollmacht,label#contact_legalguardien,label#contact_family_degree_id,label#contact_comment, label#lbl_medication, label#lbl_dosage,label#lbl_verordnetvon, label#lbl_comment, #patientContacts_firstName, #patientContacts_lastName, #patientContacts_phone, #patientContacts_phone, #patientContacts_mobile, label#lbl_verordnet_von1, #lbl_Rezeiung,#lbl_privatepatient{
	float:left;display:block;width:130px;margin-right:10px;padding:6px 10px 3px 0;
}

label#PtEdit_lbl_referred_by, label#PtEdit_lbl_first_name, label#PtEdit_lbl_middle_name, label#PtEdit_lbl_last_name, label#PtEdit_lbl_title, label#PtEdit_lbl_salutation, label#PtEdit_lbl_street1, label#PtEdit_lbl_street2, label#PtEdit_lbl_zip, label#PtEdit_lbl_city, label#PtEdit_lbl_phone, label#PtEdit_lbl_mobile, label#PtEdit_lbl_location,label#PtEdit_lbl_reason,label#PtEdit_lbl_hospdoc, label#PtEdit_lbl_birthd, label#PtEdit_lbl_sex, label#PtEdit_lbl_nation, label#PtEdit_lbl_fdoc_caresalone, label#add_user_username, label#add_user_password, label#add_user_cfmpassword, label#add_user_title, label#add_user_first_name, label#add_user_last_name, label#add_user_emailid,label#add_user_fax, label#add_user_mobile, label#add_user_phone, label#add_user_private_phone, label#add_user_betriebsstattennummer, label#add_user_LANR,label#settings_lbl_shtname, label#add_user_isadmin, label#add_user_notification, label#add_user_groupname, label#settings_lbl_username, label#settings_lbl_password, label#settings_lbl_cfmpassword, label#settings_lbl_title, label#settings_lbl_first_name, label#settings_lbl_emailid,label#settings_lbl_fax,label#settings_lbl_last_name, label#settings_lbl_mobile, label#settings_lbl_phone, label#settings_lbl_private_phone, label#settings_lbl_betriebsstattennummer, label#settings_lbl_LANR, label#settings_lbl_notification, label#lblgroupname, label#add_user_city, label#add_user_zip, label#add_user_street2, label#add_user_street1, label#lbl_add_client_client_name, label#lbl_add_client_epid_chars, label#lbl_add_client_epid_start_no, label#lbl_add_client_street1, label#lbl_add_client_street2, label#lbl_add_client_postcode, label#lbl_add_client_city, label#lbl_add_client_district, label#lbl_add_client_country, label#lbl_add_client_preregion, label#lbl_add_client_firstname, label#lbl_add_client_lastname, label#lbl_add_client_emailid, label#lbl_add_client_phone, label#lbl_add_client_fax, label#lbl_userlimit, label#lbl_maintainance, label#lbl_add_institutskennzeichen, label#lbl_add_betriebsstattennummer,label#lbl_maxcontact, label#lbl_add_client_inactivetime, label#lbl_Client_Kommentarte, #PatDet_AdminDate, #lbl_admission_date1 {
	float:left;display:block;width:150px;margin-right:10px;padding:6px 10px 3px 0;
	}


label#lbl_fdoc_caresalone, label#assign_patient_last_name, label#assign_patient_epid{
		float:left;display:block;width:150px;margin-right:10px;padding:6px 10px 3px 0;
		}

#first_name_content, #last_name_content, #street_content, #city_content, #birthd_content, #sex_content, #phone_content, #docfax_content, #doc_phone_practice_content, #doc_lastname_content, #doc_firstname_content, #company_name_content, #insuranceno_content, #insurancestatus_content, input#cnt_first_name, input#cnt_middle_name, input#cnt_last_name, input#cnt_street1, input#cnt_zip, input#cnt_phone,input#cnt_mobile,textarea#cnt_comment,input#cnt_city, #location, #inp_plocation_id1, #inp_plocation_id2, #inp_plocation_id3, input#practice, #inppractice1, #inptitle11, #inplast_name, #inpfirst_name1, #street11, #zip1, #phone_practice1, #phone_private1, #fax1, #doctornumber1, #medical_speciality1, #inpcity1, .anderefree,#settings_shortname, #fdcomments1, select#cnt_familydegree_id, input#client_name {
	float: left;
	clear: right;
	display: block;
	width: 200px;
	padding:2px 2px 2px 4px;
}

#fdoc_message{
	color:#f00 ;
}

#PtDtls_patient_edit, #PtDtls_healthinsurance_edit, #PtDtls_famdoc_edit, .contact_person_add {
	float: right;
	display: block;
	margin: -26px 0 0 0;
}

#Pt_Dtls_edit_location{
	float: right;
	display: block;
	margin: -40px 0 0 0;
	*margin: -25px 0 0 0;

}

#Pt_Dtls_edit_location table
{	margin-top:0px;
}

#listclient_trfor_client a:hover, #listclient_trfor_client a:visited, #listclient_trfor_client a, #listuser_persondetailtr a{
	text-decoration: underline;
}

#doclettershortcutchecks_outer1, #doclettershortcutchecks_outer2, #doclettershortcutchecks_outer3, #doclettershortcutchecks_outer4, #doclettershortcutchecks_outer5, #doclettershortcutchecks_outer6, #doclettershortcutchecks_outer7, #doclettershortcutchecks_outer8, #doclettershortcutchecks_outer9, #doclettershortcutchecks_outer10, #doclettershortcutchecks_outer11, #doclettershortcutchecks_outer12, #doclettershortcutchecks_outer13, #doclettershortcutchecks_outer14, #doclettershortcutchecks_outer15, #doclettershortcutchecks_outer16,  #doclettershortcutchecks_outer17, #doclettershortcutchecks_outer18, #doclettershortcutchecks_outer19, #doclettershortcutchecks_outer20 {
	float: left;
	clear: none;
	display: block;
	width: 200px;
}

#doclettershortcutchecks_course_fullname1, #doclettershortcutchecks_course_fullname2, #doclettershortcutchecks_course_fullname3, #doclettershortcutchecks_course_fullname4, #doclettershortcutchecks_course_fullname5, #doclettershortcutchecks_course_fullname6, #doclettershortcutchecks_course_fullname7, #doclettershortcutchecks_course_fullname8, #doclettershortcutchecks_course_fullname9, #doclettershortcutchecks_course_fullname10, #doclettershortcutchecks_course_fullname11, #doclettershortcutchecks_course_fullname12, #doclettershortcutchecks_course_fullname13, #doclettershortcutchecks_course_fullname14, #doclettershortcutchecks_course_fullname15, #doclettershortcutchecks_course_fullname16, #doclettershortcutchecks_course_fullname17, #doclettershortcutchecks_course_fullname18, #doclettershortcutchecks_course_fullname19{
	float: left;
	display: block;
	padding: 5px 0 0 5px;
}

#doctorletter_address{
/*	width: 400px;*/
}

#letter_spell_cntent, #letter_spell_cntent_one{
	padding: 0 0 0 5px;
}

#listadmissiondiagnosis_main_table{
	margin: 0 0 0 100px;
}

input#ast_name{
	width: 400px;
}

#course_title1, #course_title2, #course_title3, #course_title4, #course_title5, #course_title6{
	height: 17px;
}

/* flos saubererer code */
.pagination {display:block; margin-top:5px;}
.pagination a {float:left;margin-right:1px;padding-left:4px;padding-right:4px;}
.pagination a:last-child {margin-right:0;}
.pagination .active {background-color:#f5f3b5;}
.pagination .gobox {clear:both; display: none;}
.jlink {display:block;padding:10px;text-decoration:none !important;}


.ErrorDivHide {display:none; }

/* dropdown */
#frmpatient #doctdropdown, #sapvverordnungdropdown, #healthinsudropdown, .listPatMedEd, #patienLocaAdd_drop, .medicationDiagnDrp
{width:406px;left:353px; border:1px solid #bbb;}
.medicationDiagnDrp1, .icdlivesearchdropdown  {width:406px; left:253px; }
#family_dr_edit #doctdropdown, .samtablistDiognoDrp {width:406px;left:353px;}
.livesearchdropdown,#doctdropdown, #sapvverordnungdropdown, #healthinsudropdown, .listPatMedEd, #patienLocaAdd_drop, .medicationDiagnDrp, .medicationDiagnDrp1, .icdlivesearchdropdown {border:1px solid #bbb; background-color:#fff;margin:0;padding:0;}
#icddiagnodropdown1 .DropDwnTable, #doctdropdown .DropDwnTable, .medicationDiagnDrp, .medicationDiagnDrp1 {border:0px solid #bbb;}
.livesearchdropdown table,#doctdropdown table, #sapvverordnungdropdown table, #healthinsudropdown table, .listPatMedEd table, #patienLocaAdd_drop table, .medicationDiagnDrp table, .medicationDiagnDrp1 table {width:100%;margin:0;padding:0;}
.livesearchdropdown th,#doctdropdown .Dropdwntble th, #sapvverordnungdropdown th, #healthinsudropdown th, .listPatMedEd th, #patienLocaAdd_drop th, .medicationDiagnDrp th, .medicationDiagnDrp1 th, .icdlivesearchdropdown th {border-bottom:1px solid #ccc;padding:5px;background-color:#eee;border-left:1px solid #ccc;cursor:default;}
.livesearchdropdown th:first-child,#doctdropdown .Dropdwntble th:first-child, #sapvverordnungdropdown th:first-child, #healthinsudropdown th:first-child, .listPatMedEd th:first-child, #patienLocaAdd_drop th:first-child, .medicationDiagnDrp th:first-child, .medicationDiagnDrp1 th:first-child, .icdlivesearchdropdown th:first-child {border-left:0px;}
.livesearchdropdown td,#doctdropdown .Dropdwntble td, #sapvverordnungdropdown td, #healthinsudropdown td, .listPatMedEd td, #patienLocaAdd_drop td, .medicationDiagnDrp td,  .medicationDiagnDrp1 td, .icdlivesearchdropdown td {padding:5px;border-bottom:1px solid #eee;border-left:1px solid #eee;}
.livesearchdropdown td:first-child, #doctdropdown .Dropdwntble td:first-child, #sapvverordnungdropdown td:first-child, #healthinsudropdown td:first-child, .listPatMedEd td:first-child, #patienLocaAdd_drop td:first-child, .medicationDiagnDrp td:first-child, .medicationDiagnDrp1 td:first-child, .icdlivesearchdropdown td:first-child {border-left:1px solid #ddd;}
.livesearchdropdown tr:hover, #doctdropdown .Dropdwntble tr:hover, #sapvverordnungdropdown tr:hover, #healthinsudropdown tr:hover, .listPatMedEd tr:hover, #patienLocaAdd_drop tr:hover, .medicationDiagnDrp tr:hover, .medicationDiagnDrp1 tr:hover, .icdlivesearchdropdown tr:hover  {background-color:#fafafa;cursor:pointer;}

#frmpatient #doctdropdown, #sapvverordnungdropdown, #healthinsudropdown, .listPatMedEd, #patienLocaAdd_drop, .medicationDiagnDrp1 , .medicationDiagnDrp
{border:1px solid #bbb;}

.diagicd {width:60px !important;margin-right:10px;}
.diagdesc {width:460px !important;margin-right:10px;}
.healthdesc {width:400px !important;margin-right:10px;}
/* .healthdesc {width:460px !important;margin-right:10px;} */


#searchdropdown {position:absolute;left:20px;top:72px;width:640px;background-color:#fff;border:1px solid #bbb;padding:5px 5px 10px 5px;overflow-y:auto;z-index:1000;}
#searchdropdown table {margin:0;padding:0;}
#searchdropdown .BlueBg td {padding:5px;cursor:pointer;background-color:#ddd;color:#333;font-weight:bold;}
#searchdropdown .row td {padding:5px;cursor:pointer;}

.patientMasterStab1Table input
{ width:193px;
padding:2px 2px 2px 4px;
}

#symp .RowNew { display:block; height:33px; border-top:1px solid #eee; }
#symp .CellNew  { display:block; font-size:1.1em; float:left; padding:4px; height:25px; border-left:1px solid #eee;}
#symp .LastNew  { border-right:1px solid #eee;  }
#symp .CellNew2  { display:block; float:left; font-size:1.1em; padding:4px; height:25px; text-align:center; width:47px; border-left:1px solid #eee; }
#symp .CellNew3  { display:block; float:left; font-size:1em; padding:4px; height:23px; text-align:center; width:50px; border-left:1px solid #eee; }
#symp #TblGridNew { display:block; float:left; width:776px; }
#symp #TblGridNewText { float:left; width:225px; border-bottom:1px solid #eee; }
#symp #TblGridNewContainer { display:block; float:left; width:500px; height:auto; overflow-x:auto; overflow-y:hidden; }
#symp #TblGridNewInner { display:block; float:left; height:auto; width:1000em; border-bottom:1px solid #eee; white-space:nowrap; }
#symp #TblGridNewInput { display:block; float:right; width:50px;  }
#symp #ForGridBtn { display:block; float:left; width:676px; text-align:right; }




.symp-tab .RowNew { display:block; height:33px; border-top:1px solid #eee; }
.symp-tab .CellNew  { display:block; font-size:1.1em; float:left; padding:4px; height:25px; border-left:1px solid #eee;}
.symp-tab .LastNew  { border-right:1px solid #eee;  }
.symp-tab .CellNew2  { display:block; float:left; font-size:1.1em; padding:4px; height:25px; text-align:center; width:47px; border-left:1px solid #eee; }
.symp-tab .CellNew3  { display:block; float:left; font-size:1em; padding:4px; height:23px; text-align:center; width:50px; border-left:1px solid #eee; }
.symp-tab #TblGridNew { display:block; float:left; width:776px; margin-bottom: 10px; }
.symp-tab #TblGridNewText { float:left; width:255px; border-bottom:1px solid #eee; }
.symp-tab #TblGridNewContainer, .symp-tab .TblGridNewContainer { display:block; float:left; width:470px; height:auto; overflow-x:auto; overflow-y:hidden; }
.symp-tab #TblGridNewInner { display:block; float:left; height:auto; width:1000em; border-bottom:1px solid #eee; white-space:nowrap; }
.symp-tab #TblGridNewInput { display:block; float:right; width:50px;  }
.symp-tab #ForGridBtn { display:block; float:left; width:676px; text-align:right; }


.medicdesc {width:540px !important;margin-right:20px;}

/*form .error {display:block;margin:0px 0 5px 450px;width:250px;height:8px;color:#990000;}
form .error1 {display:block;margin:0px 0 5px 140px;width:250px;height:8px;color:#990000;}*/
.formerror{color:#990000;}
/*form .error {display:block;margin:-25px 0 5px 450px;width:250px;height:8px;color:#990000;}*/

#editionid label, #month_id label, #year_id label, #quarter label{margin:0 20px 0 0px;}
#editionid input, #month_id input, #year_id input, #quarter input{margin:0 5px 0 0;}
.headline {display:block;}

.radioboxStyle
{	margin-left:-10px;

}

.radioboxStyle label input
{	margin:0 10px 0 0;
}

#coursesymptolist_sympname td {padding-right:10px;}

.RightContent .ListOuter {
width:600px;
height:auto;
padding-bottom:8px;
display:block;
}

.RightContent .ListOuter .RightList {
width:550px;
text-align:left;
padding:3px;
}

.rightcontentOuter {
width:370px;
display:block;
margin-top:25px;
}
.RightContent .Lebt {
width:180px;
padding-right:5px;
text-align:left;
display:block;
}
#PatientDtls .rightcontent .LebtHeading {
width:180px;
font-size:11px;
font-weight:bold;
padding-bottom:8px;
}
.LebtLeftDiv {
width:150px;
line-height:25px;
}
.LebtRightDiv {
width:20px;
line-height:25px;
}
.LebtListOuterNew {
width:180px;
display:block;
}

#newrostergrid_contenttable .row:hover{
	background-color:#FFFFFF;
}
#team_info_table.datatable td {cursor:default !important;}

#Patientdetails td {padding:3px;}
#Patientdetails td:first-child {padding:3px 3px 3px 0px;}
#Patientdetails td:last-child {padding:3px 0px 3px 3px;}

/* TODO-2063 - Ancuta 21.01.2019 */
/* .patheadercol1 {font-weight:bold;width:140px;} */
/* .patheadercol2 {width:200px;} */
/* .patheadercol3 {font-weight:bold;width:140px;} */
/* .patheadercol4 {width:250px;} */
/* .patheaderrow4 {line-height:150%} */

/* .patcontactscol1 {padding:5px 5px 5px 0; font-weight:bold;width:140px;} */
/* .patcontactscol2 {padding:5px 0 5px 5px;width:190px;} */
/*  -- */
.lineHeightBig {
	line-height: 16px;
}

#assignmodules_clientDetailTable.datatable tr:hover {background-color:#eee;}

.PatientDetail_datatable {width:100%;line-height:150%;margin-top:20px;}
.PatientDetail_datatable td {cursor:pointer;padding-left:5px;line-height:200%;border:1px solid #eee;}
.PatientDetail_datatable td a {color:#555;display:block;}
.PatientDetail_datatable td a:hover {color:#666;text-decoration:none;}
.PatientDetail_datatable th {line-height:200%;border:1px solid #bbb;border-left:0px;padding-left:5px;background-color:#f3f3f3;}
.PatientDetail_datatable th:first-child {border-left:1px solid #bbb;}
.PatientDetail_datatable th a {display:block; color:#666;}
.PatientDetail_datatable th a:hover {text-decoration:none;}
.PatientDetail_datatable .img {margin-top:5px;}

.highlightroster{ color:#9900FF;}
.patientMasterStab1Table select{ width:270px;}

.patientMasterStab1Table .fortextbox{ width:60px;}
.patientMasterStab1Table label{ width:175px;margin-right:113px;}

/* overview css fix */
#lastupdatedgrid_outer_table td, #lastcontactgrid_outer_table td, #newrostergrid_contenttable td {line-height:200%;}

#PtDetails_fourth .contacts {padding-bottom:15px;border-bottom:1px solid #f2f2f2;}
#PtDetails_fourth .contacts:last-child {border-bottom:0px;}
.dtbox {margin-bottom:20px;}

.livesearchmedinp.med {width:94% !important;}
.dosage {width:100px !important;}

/* hide password fields */
label#settings_lblpassword, #settingspassword, label#settings_lblcfmpassword, #settingscfmpassword {display:none;}

/* overview cursor */
#lastcontactgrid_outer_table tr.row, #lastcontactgrid_outer_table tr.rowblank, #lastupdatedgrid_outer_table tr.row, #lastupdatedgrid_outer_table tr.rowblank {cursor:pointer;}

#lastupdatedgrid_outer_table tbody tr:first-child th, #lastcontactgrid_outer_table tbody tr:first-child th {font-weight:bold;border-bottom:1px solid #ccc;padding:0;margin:0;height:16px !important;}

.rederr
{
padding-left:2px;
color:#FF0000;
size:2px;
}

.add_new_medi{float: left;clear: both;display:block; margin: 10px 0 0 0;}
.add_new_medi img {float:left;}
.add_new_medi a{float:left; font-size:14px;}
.add_new_medi select
{	margin-left:5px;
	margin-right:5px;
	float:left;
	width:200px;
}

.add_new_medi input
{	width:auto;
	float:left;
	margin-left:10px;
}

.add_new_medi_link {
	padding: 4px 0 0 0;
	width: 240px;
	float:left;
}

.discontinued_medi_text{
	width: 300px;
}

#browserwarning {display:none;}

#patientdetailLink
{	text-align:right;
	margin-bottom:-20px;
	}

.widForStamblatHead
{	width:170px;

}

textarea#fdcomments, #txt_Client_Kommentarte
{	border:1px solid #bbb; background-color:#f2f2f2;padding:2px;
	margin-left:0px;
	margin:0;
	width:400px;

}

#userstampaaddField
{	padding-top:20px;
}

a.listPatiAddLink
{	float:right;
	margin:0px 5px 0px 0;
	position:relative;
	bottom:-8px;
	*bottom:-13px;
}

.PatientDetail_datatable a.listPatiAddLink
{	margin:-8px 5px 0px 0;
	position:absolute;
	left:1000px;
	display:block;
	bottom:auto;
	*bottom:auto;
}

#patientMsterAd_ErrorMsg
{	margin-left:10px;
}

.doctorLeChkbx
{	float:left;
	width:120px;
	line-height:22px;
}

.doctorLeChkbx input
{	width:auto;
	margin-right:10px;

}

.doctorLeChkbx label
{	float:left;
	margin-right:10px;
	padding-top:0px;
}

.doctLetLineHei
{	line-height:20px;
}

.patientDetail_radio
{	width:100%;
	margin-bottom:20px;
}

.patientDetail_50
{	width:45%;
	float:left;
	margin-right:10px;
}

.patientDetail_50r
{	width:45%;
	float:right;
	margin-right:0px;
}

.patientDetail_radio label
{	width:auto;
	float:left;
	padding-top:0px;
	margin:7px 0 7px 12px;
}

.patientDetail_radio input
{	margin:0;
	width:auto;
	padding:0px;
	float:left;
	margin:7px 0 0 0;
}

.dctrleterAdheadbox
{	display:block;
	height:100px;
	border:2px solid #000;
	margin-bottom:10px;
}

.marginLeft20
{	margin-left:20px;
}

#patiLocn_left_religi
{	margin-bottom:5px;
}

#AddFamDoctOuter
{	float:left;
	width:auto;


}

#AddFamDoctOuter input
{	float:left;
	margin-left:10px;
}

#AddFamDoctOuter label
{	float:left;
background:red;
}

.PatMAReligion
{	padding-bottom:10px;
}

select.patLocLi {
	float: left;
	clear: right;
	display: block;
	width: 95%;;
	padding:2px 2px 2px 4px;
	margin:5px 0 -2px 0;
	*margin:5px 0 5px 0;
}

input.patLocLiTxt {
	float: left;
	clear: right;
	display: block;
	width: 75%;
	padding:2px 2px 2px 4px;
	margin:5px 0 -2px 0;
	*margin:5px 0 5px 0;

}

.patLocLiTxt td
{	*padding-bottom:5px;
}

#patLocLis_errorTbl
{	*margin-left:10px;
}

#patLocLis_errorTbl td
{	*height:25px;
}

.ReliHead
{	margin-bottom:10px;
}

.PatientDetail_datatable .datepick-trigger
{	margin:7px 0 0 5px;
}

.PatiLoLied_error
{	float:left;
	width:100%;
	display:block;
	margin:10px 0 0px 0px;
	padding:20px 0 0px 0;
	height:auto;color:#990000;
	line-height:18px;
}

.PatientContactEdit
{	position:relative;
	left:160px;
}

#PatAddM_contentInfdenPa, #Patdetail_contentInfdenPa
{	width:100%;
}
#PatAddM_contentInfdenPa h2
{	width:97.3%!important;
}

#Patdetail_contentInfdenPa h2
{	width:94.5%!important;
}

#Patdetail_contentInfdenPa .patientcolumn{min-height:0px !important; }

#Patdetail_contentInfdenPa .patientdragbox-content{min-height:10px !important; }
#Patdetail_contentInfdenPa .LebtListOuterNew
{	width:100%;
}

#Patdetail_contentInfdenPa .LebtListOuterNew label
{	margin:0 0 0 0;
}

#Patdetail_contentInfdenPa .LebtLeftDiv
{	width:auto;
}

#Patdetail_contentInfdenPa  .LebtRightDiv {
	float:right;
}

.patDetReligradio
{	margin-left:0;
	line-height:25px;
}

.patDetReligradio label input
{	margin:6px 10px 0 0;
	float:left;
}

.stmDaertRadio
{	margin-left:0;
	float:left;
}


.stmDaertRadio label
{	margin:5px 25px 5px 0;
}

.stmDaertRadio label input
{	margin:0 10px 0 0;
}

#patientmasteradd_InfoDenPatie .patientcolumn{min-height:0px !important; }
#patientmasteradd_InfoDenPatie .patientdragbox-content, #PatMaAdd_DragCol1 .patientdragbox-content{min-height:10px !important; padding-bottom:10px; }

#PatMaAdd_DragCol1 h2
{	width:98.7%;
}

#feldset_patientMsterAd h2
{	width:98.7%;
}

.PatAndrer_link
{	width:80px;
}

.PatAndrer_linkWid
{	margin-right:20px;
}

#patientdetrail_HausOuter
{	margin-right:20px;
}

#FormDiv label
{	width:120px!important;
}

#samtab input {width:auto;}

#patdebedarfsmedikation table
{	line-height:20px;
	margin:0 0 0 0px;
}
.addButtonImage a
{
background:red;
width:50px;
height:50px;



}
.minusButtonImage
{
  background:url(../images/action_minus.png);
}

.patdetaillocTbl table
{	margin-top:0px;
}

.discontinued_medi_text1
{	padding-top:5px;
	margin-right:10px;
}

.add_new_medi_linkNew {
	padding: 4px 0 0 0;
	width:160px;
	float:left;
}

#patmediListbeNew
 {float:left;display:block;width:55px;margin-right:10px;padding:6px 10px 3px 15px;}

 .add_new_medi_linkNew_Txt {
 padding-top:5px;
 }

.ListCourseSumm {color:#ff0000;font-weight:normal; padding:5px; margin:5px 10px 5px 12px; /*border:1px solid #cccccc;*/}

.colRight2
{	margin:0 0 0 5px;
	width:560px;
	display:block;
	float:left;
}
.colLeft2
{	margin:0 0 0 5px;
	width:600px;
	float:left;
}

.LeftChar
{	width:10px;
	float:left;
	display:block;
}

.colleft2_inpwid
{	width:20px;
	float:left;
	display:block;
	background:red;

}

.PatDisBlkleft
{	float:right;
	width:15px;
	margin-right:15px;

}
.PatDisBlkRight
{	width:95%;
	float:left;
}
.greyclass
{
	background-color:#ffcccc;
}
.redtext
{
	color:#FF0000;
}

.greyfontclass{color:#666666;font-weight:normal};

.PatientInsatanceOuter{
	float:right;
}

.PatientInsatanceOuter select{
	width:200px;
	margin-right:30px;
}

.Checkbox_div{
	float:left;
	padding:5px 0 5px 5px;
}

#icddiagnodropdown1, .medicationDiagnDrp, .icdlivesearchdropdown{
	*margin-top:30px;
}

.PatMedBtnOuter a, .PatMedBtnOuter input {margin-left:0px; margin-right:10px;}

.PatDetLink{
	position:absolute;
	z-index:1000;
	right:10px;
}
.pinkrow
{
    background-color:#FFCCCC;

}
#Patdetail_contentInfdenPa .LebtListOuterNew input#livind_will_deposited{
	width:135px;
	height: 18px;
	float: left;
}
#Patdetail_contentInfdenPa .LebtListOuterNew input#livind_will_from{
	width:110px;
	height: 18px;
	float: left;
}

.PatientDetail_datatable label {
	width:auto;
	display:block;
	float:left;
	padding-top:5px;
	line-height:13px;
}

.PatientDetail_datatable select {
	width:90% !important;
}
#patdetAufontort {
	width: 100%;
	border: 1px solid #fff;
}
.pvimg {
	margin:5px 3px -3px 0;
	padding:0;
	width :16px;
	border:0;
}

/* TABS SYMPTOMATOLOGY */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 97%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container_x {
	/*border: 1px solid #999;*/
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content_x {

}
/* -------------------------------------- */
#doctorletter_address, .letteraddress {
	height: 95px;
	width: 250px;
}
#doctorletter_address, .letteraddress textarea{
	height: 90px;
	width: 245px;
	border: 1px solid #E8E8E8 ;
	font-weight: 700;
	background: #fff;
/*	background: #F8F8F8;*/
}
.letterdatelabel {
	float: left;
	width: 45px;
	line-height:24px;
}
.letterdate input {
	float: left;
	border: 1px solid  	#E8E8E8 ;
	background: #fff;
/*	background: #F8F8F8;*/
	width: 196px;
	font-weight: 700;
}
.letterfaxdiv {
	width: 79.5%;
	display: block;
}
.letterfaxlabel {
	float: right;
	display: block;
	line-height:24px;
	margin-right: 3px;
}
.letterfax input {
	float: right;
	border: 1px solid  	#E8E8E8 ;
	background: #fff;
/*	background: #F8F8F8;*/
	width: 120px;
	font-weight: 700;
	text-align: right;
}


.lettersubjectlabel {
	float: left;
	width: 45px;
	line-height:24px;
}
.lettersubject input {
	float: left;
	border: 1px solid  	#E8E8E8 ;
	background: #fff;
/*	background: #F8F8F8;*/
	width: 73.5%;
	font-weight: 700;
}
.lettersubject textarea {
	float: left;
	border: 1px solid  	#E8E8E8 ;
	background: #fff;
/*	background: #F8F8F8;*/
	width: 73.5%;
	font-weight: 700;
}
.letteruserlabel {
	float: left;
	width:80px;
	line-height:24px;
}
.letteruser input {
	float: left;
	border: 1px solid  	#E8E8E8 ;
	background: #fff;
/*	background: #F8F8F8;*/
	width: 196px;
	font-weight: 700;
}
.letter_error {
	width: 80%;

}
.letter8content{
	line-height: 22px;
	color: #cc0000;
}
.contentheader {
	width: 80%;
}
.contentheader input{
	border: 1px solid  	#E8E8E8 ;
	background: #fff;

}
span.big_input{
	display: inline;
	width: 300px;
	border: 1px solid red;
}
#pflege_comment{
	width: 406px;
}