/* ISPC-2827 Ancuta 02.04.2021 */
.ph_item_row {
	width: 100%;
}
 
.ph_item {
	width:100%;
	display: block;
	float: left;
	height: auto;
	min-height: 110px;
	margin: 0px 0 10px 0;
	padding: 5px; 
	background : #FFFFFF; 
	border: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
}

.ph_item:hover {
/* 	cursor: pointer; */
/* 	border: 1px solid #c3c3c3; */
/* /* 	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.1); */ */
/* 	box-shadow: 0px 5px 5px 10px rgba(128,128,128,0.1); */
/* 	background: #FFFFFF; */
}

 

.ph_item_avatar {
	float: left;
	width:100px;
	height: 100%;
}
.ph_item_avatar .ph_avatar{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	border: 1px solid #c3c3c3;
	height: 80px;
	width: 80px;
	margin: 10px auto;
	background: url(../images/efa_images/avatar_small.jpg) 50% 50%  no-repeat 
}



.ph_item_details {
	width:87%;
	display: block;
	float: left;
}

.ph_item_details .ph_item_name_location {
	width: 100%;
}

.ph_item_details .ph_item_name_location b {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 30px;
	align-items: center;
	color: #333333;
}

.ph_item_details .ph_item_name_location span.ph_location {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 30px;
	align-items: center;
	color: #878A92;
}

.ph_item_details .ph_item_birth {
	width: 100%;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 30px;
	display: flex;
	align-items: center;
	color: #878A92;
}

.ph_item_details .ph_item_diagnosis {
	width: 100%;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
	color: #333333;
	height: 40px;
	overflow: hidden;
}