.outer{
		width: 100%!important;
		
	}
	#Wrapper {
		width: 100%!important;
        min-height: 5px;
        overflow: hidden;
    
	}
    #Wrapper .LeftDiv {
        float: left;
        width: 200px;
        overflow: hidden;
        min-height: 100px;
    }
    
	#MainContent { 
        width: auto!important;
        display: block; /*default display for div */
        float: none;/*default float for div*/
        
        padding-left:10px;
        padding-right:30px;
        
        min-height: 100px;
        overflow: hidden;
	}
    body {
        overflow-x: hidden;
    }