/*ISPC-2302 Lore 05.11.2019 */
.table_rights {
  border: 1px solid #888a85;
}

.table_rights th, 
.table_rights td {
  padding: 3px ;
  border: 1px solid #888a85;
  width:100px!important;
}

.table_rights th {
  background: #f3f3f3; 
 }
 

.table_rights tr {
  background: #ffffff;
}
.table_rights tr:hover {
  background-color: #ffff99;
}

.pink_row {
 background: #eae2f7;
}
.table_rights tr:hover .pink_row {
  background-color: #ffff99!important;;
}
.orange_row {
   background: #fae2da;
}
.table_rights tr:hover .orange_row {
  background-color: #ffff99!important;;
}