/*ISPC-2547 Carmen 02.03.2020 new medi icon design*/
.modern-tab-content.modern-active_content {
	background:#FCFCFC;
	/* border:1px solid #E6E6E6; */
	padding:20px;
	display:inline-table;
	box-sizing:border-box;
	width:100%;
	margin-bottom:20px;
									
}
							
.modern-tab-content.modern-active_content div.header {
	position:relative;
	display:inline-table;
	box-sizing:border-box;
	width:100%;
	height:40px;
}
							
.modern-tab-content.modern-active_content div.header h1 {
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	color:#000000;
	margin:0;
	padding:0;
	margin-left:12px;
	margin-top:12px;
}
							
ul.dosage-time, ul.onedosehead {
	right:3px;
	top:7px;
	position:absolute;
}
ul.dosage-time li {
	display:block;
	box-sizing:border-box;
	float:left;
	list-style:none;
	margin:0;
	margin-right:2px;
	width:68px;
	height:26px;
	padding:7px;
	padding-left:28px;
	background:url(../images/_medication/iconTime.svg) 6px 50% no-repeat;
	background-size:18px auto;
}

ul.onedosehead li {
	display:block;
	box-sizing:border-box;
	float:left;
	list-style:none;
	margin:0;
	margin-right:2px;
	width:98px;
	height:26px;
	padding:7px;
	padding-left:28px;
	background-size:18px auto;
}

ul.dosage-time li.interval {
	background:url() 6px 50% no-repeat;
	width: 98px;
}
			
.medi-element {
	width:calc(100% - 8px);
	display:flex;
	margin:2px 5px;
	padding:0;
	margin-bottom:0px;
	font-size:12px;
	font-family:Arial;
}
.medi-element:last-child {
	margin-bottom:5px;
}
							
.medi-element li {
	padding:0;
	margin:0;
	margin-right:2px;
	min-height:26px;
	border-radius:6px;
	background-color:#F3F3F3;
	box-sizing:border-box;
	padding:7px;
	position:relative;
}
							
.medi-element li.dose {
	width:68px;
	min-width:68px;
	display: flex;
	align-items: center;
	padding-left:25px;
	overflow:hidden;
	background-image:url(../images/_medication/iconDozation.svg);
	background-position:7px 50%;
	background-repeat: no-repeat;
	background-size:14px auto;
}
.medi-element li.onedose {
	width:98px;
	min-width:98px;
	display: flex;
	align-items: center;
	padding-left:25px;
	overflow:hidden;
	background-position:7px 50%;
	background-repeat: no-repeat;
	background-size:14px auto;
}
.medi-element li.dose:empty{
	background-image:none;
}
.medi-element li.dose.givenow:hover, .medi-element li.onedose.givenow:hover {
	background-image:url(../images/_medication/iconDozation-white.svg);
	background-color:#00A2FF;
	color:#fff;
	cursor:pointer;
	transition:background 0.3s ease, background-image 0.3s ease, color 0.3s ease;
}
.medi-element li.dose.givenow, .medi-element li.onedose.givenow  {
	background-color:#E0E3E8;
	transition:background 0.3s ease, background-image 0.3s ease, color 0.3s ease;
}
.medi-element li.dose.given, .medi-element li.onedose.given {
	background-image:url(../images/_medication/iconDosegiven.svg);
	background-color: #008000;
	color:#BFC5CE;
}
.medi-element li.medi {
	flex-shrink:1; 
	flex-grow: 1;
	padding:0;
	padding-right:90px;
}
							
.medi-element li.medi span {
	float:left;
	display:block;
	box-sizing:border-box;
	min-height:26px;
	padding:7px;
	padding-left:27px;
}
.medi-element li.medi .desc {
	background-image:url(../images/_medication/iconMedikamente.svg);
	background-repeat:no-repeat;
	background-position:7px 6px;
	background-size:15px auto;
}
.medi-element li.medi .comment {
	background-image:url(../images/_medication/iconComment.svg);
	background-repeat:no-repeat;
	background-position:7px 7px;
	background-size:15px auto;
}
							
.medi-element li.medi .status {
	position:absolute;
	right:0;
}
.medi-element li.medi .status > div {
	margin-right:3px;
	width:11px;
	height:11px;
	display:block;
	border-radius:50%;
	content:" ";
	float:left;	
	background:#333;
}
.documented_info {
	width: 100%;
}
.medi-element li.dose.green {
	background-color: #008000;
	background-image:url(../images/_medication/iconDosegiven.svg);
}
.medi-element li.dose.red {
	background-color: #FF0000;
	background-image:none;
}
.medi-element li.dose.blue {
	background-color: #0000FF;
	background-image:url(../images/_medication/iconDosegiven.svg);
}
.medi-element li.dose.yellow {
	background-color: #FFFF00;
	background-image:none;
}

.medi-element li.onedose.givenow  {
	background-image: url(../images/_medication/iconDozation.svg);
}
/*ISPC-2786 Cristi.C */
.dosage-time li.verordnet {
    min-width: 150px;    
    max-width:150px;
    background-image: none;
}

li.verordnet {
    min-width: 150px;   
    max-width:150px;
    
}



