#header div {
	display: inline;
}

input[type=checkbox] {
	height: 13px !important;
	width: 13px !important;
	padding: 0 !important;
	border: 0 !important;
}

input[type=radio] {
	height: 13px !important;
	width: 13px !important;
	padding: 0 !important;
	border: 0 !important;
}

.a_reportbox {
	background: #868686;
	border: 1px solid #CCC;
}

.tree ul {
	padding-top: 0px!important;
}

.tree ul ul::before {
 
	height: 0px!important;
}
.tree li {
	padding: 0px 5px 0 5px!important;
}



.tree ul {
	padding-top: 0px !important;
}

.tree ul ul::before {
	height: 0px !important;
}

.tree li {
	padding: 0px 5px 0 5px !important;
}

sup.down_line {
	display: block;
	height: 20px;
	width: 100%;
	text-align: center;
}

sup.down_line em {
	height: 20px;
	width: 1px;
	display: block;
	border-left: 1px solid #ccc;
	margin: auto;
}

.path_list{
	float: left;
	display: block;
	border-top: 1px solid #ccc;
}


ul.master_path{
	border-top:0px!important;
}