#header div {display:inline;}
 
input[type=checkbox] {
	height: 13px !important;
	width: 13px !important;
	padding: 0 !important;
 	border: 0 !important;
}
input[type=radio] {
	height: 13px !important;
	width: 13px !important;
	padding: 0 !important;
 	border: 0 !important;
}
.a_reportbox{
 	background:  #868686 ;
 	border: 1px solid #CCC;
 }
 
 .verlauf_bar ul li.verlauf_li_filter{
	padding-right:0!important;
}