 .kvheaderform {
	width: 49%;
	float: left;
	border: 1px solid #000000;
	margin-top: 10px;
	padding: 3px;
	color: #000;
}

 .kvheaderform .formleftdiv {
	float: left;
	width: 70%;
}

 .kvheaderform input {
	margin-left: 0px;
	width: 90%;
}

 .kvheaderform input.formular_date {
	margin-left: 0px;
	width: 70%;
}

 .kvheaderform .formrightdiv .label_born_on {
	margin-right: 25px;
}

 .kvheaderform .formleftdiv textarea {
	width: 90%;
	margin-left: 0px;
	margin-bottom: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px 1px 0px 1px;
}

 .kvheaderform .formrightdiv {
	float: right;
	width: 25%;
	padding-top: 20px;
	text-align: right;
}

.kvheaderform .formlongdiv {
	float: left;
	width: 35%;
}

 .kvheaderform .formshortdiv {
	float: left;
	width: 24%;
}

 .kvheaderform .verline {
	float: left;
	width: 1px;
	height: 25px;
	background: #000;
	margin: 30px 7px -4px 2px;
}

.kvheaderform .innerline {
	height: 1px;
	background: #000;
	margin: 3px -3px 3px -3px;
}

.kvheaderform .clear {
	clear: both;
}
