.LeftDiv {
    min-height:87vh;
    position:relative;
}


#menu {
      position:relative; 
      top: 36px;
      height:87vh; 
      overflow-y: auto; 
      overflow-x: hidden;
         scrollbar-width: thin;
      scrollbar-color:  #788dbe #ffff;
}

ul#menu::-webkit-scrollbar-thumb
{
    background-color: #788dbe;
    border-radius: 3px;
}
ul#menu::-webkit-scrollbar{
	background-color: #ffffff;
	width:7px;
	}

#menu li:hover {
	background-color: #fff;
	transition: 0.8s ease;
}

#menu li ul li a:hover { background-color: #b3bed7; transition: 0.8s ease; }

 