.datatable {
	line-height: 150%;
	margin-top: 20px;
}
/* Changes for ISPC-1848 F */
.datatable td {
	cursor: pointer;
	padding: 2px !important;
	line-height: 200%;
	border: 1px solid #eee;
	vertical-align: top;
}

.datatable td.link_select {
	padding-left: 0px !important;
}

.datatable td a {
	color: #555;
	display: inline !important;
	margin: 3px 2px 0 !important;
	float: left;
}

.datatable td .pagination a {
	color: #555;
	display: block;
	margin: 0 3px 0 3px;
	padding: 0 8px 0 8px;
	border: 1px solid #ccc;
}

.datatable tr.selected_group {
	color: #666;
	background-color: #EEE;
	text-decoration: none;
}

.datatable td a:hover {
	color: #666;
	text-decoration: none;
}

.datatable th {
	line-height: 200%;
	border: 1px solid #bbb;
	border-left: 0px;
	padding: 0 5px 0 2px !important;
	background-color: #f3f3f3;
	font-size: 12px;
	font-weight: 800;
}

.datatable th:first-child {
	border-left: 1px solid #bbb;
}

.datatable th a {
	display: block;
	color: #666;
}

.datatable th a:hover {
	text-decoration: none;
}

.datatable .img {
	margin-top: 5px;
}

.datatable td.symbols_available {
	/* 	width: 100px; */
	
}

.datatable td.symbols_available img {
	margin: 5px auto 5px auto;
	border: 0px;
	padding: 0px;
	display: block;
	float: none;
}

.datatable td.green_td {
	background: #99FF99;
}

.datatable td.green_td a {
	font-weight: 800;
}

.dataTables_scrollHead, .dataTables_scrollBody {
	width: 98% !important;
}

.medication_edit_table>tbody>tr:nth-of-type(2n+1) {
	background-color: #f8f8f8;
}

/*  ################ Medicatin blocks ########################## */
.medication_block {
	display: block;
	float: left;
	width: auto;
	/* 	padding-top:20px; */
	padding: 2px;
	border: 1px dashed #000;
	margin-bottom: 60px;
}

.med_block_header {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.inner {
	margin-top: 20px;
	border-top: 1px dashed #000 !important;
}

.med_block_header h1 {
	display: block;
	float: left;
	width: 100%;
	color: #000;
	font-size: 18px;
	/*     text-indent: 10px; */
	padding-top: 10px;
}

.medication_add_link {
	display: block;
	/* 	float: left; */
	height: 32px;
	margin: 0px 0 10px 0;
	color: #1b346f;
	width: auto;
	background: transparent url('../images/edit_add.png') no-repeat top left;
	padding-left: 35px;
	vertical-align: middle;
	text-align: left;
	line-height: 32px;
	font-size: 14px;
	text-decoration: none;
}

.medication_schm_add_link {
	display: block;
	/* 	float: left; */
	height: 32px;
	margin: 0px 0 10px 0;
	color: #1b346f;
	width: auto;
	background: transparent url('../images/edit_add.png') no-repeat top left;
	padding-left: 35px;
	vertical-align: middle;
	text-align: left;
	line-height: 32px;
	font-size: 14px;
	text-decoration: none;
}

.medication_edit_button {
	display: block;
	float: right;
	background-color: #eee;
	border: 1px solid #bbb;
	cursor: pointer;
	padding: 4px 10px;
	margin-right: 20px;
}

.indication_span {
	width: 100%;
	display: block;
}
/* ============================== */
.medication_edit_table td {
	background: #fff;
}

.medication_edit_table td.border_bottom_solid {
	border-bottom: 2px solid #000;
}

.medication_edit_table td label {
	font-size: 11px;
	line-height: 11px;
	/* 	font-weight: 800; */
	display: inline-block;
	width: 100%;
}

.medication_edit_table td select {
	display: inline-block;
	width: 110px;
}

.verordnetvon_select {
	width: 120px;
}

.indication_color_select {
	width: 124px !important;
}

.date_input {
	width: 104px;
}

.small_dosage_inptuts {
	width: 100%;
}

.small_input {
	width: 90px!important;
}

.xsmall_input {
	width: 64px;
}

.dosage_kid {
	margin: 1px;
	width: 40px;
	display: inline-block;
}

.dosage_kid label {
	text-align: center;
	font-weight: 800;
}

label.dosage_label {
	text-align: center;
}

.med_com_textarea {
	width: 120px;
	height: 57px;
}

.datatable_sch {
	line-height: 150%;
	margin-top: 0px !important;
	width: 100%;
}

.datatable_sch td {
	cursor: pointer;
	padding: 2px !important;
	line-height: 200%;
	border: 1px solid #eee;
	vertical-align: top;
}

input.xxl_input {
	width: 98% !important;
}

textarea.xxl_input {
	width: 98.5%;
}

label.del_label {
	font-weight: 800;
	display: block;
	float: left;
}

span.del_span {
	display: block;
	float: left;
	width: 100%;
	line-height: 26px;
	border: 1px solid #eee;
}

.red_text {
	font-weight: 800;
	color: #ffcccc;
}

.green_text {
	font-weight: 800;
	color: green;
}

.blue_text {
	font-weight: 800;
	color: blue;
}

.has_ack td {
	background: #ffdee4;
	border-bottom: 1px solid #eee !important;
}

.ack_info_tr td {
	background: #ffdee4;
	/*border-bottom: 2px solid #000 !important;*/
}

.noborder td {
	border: 0px !important
}

.mifo {
	
}

span.lb {
	/* 	font-weight: 800; */
	font-size: 11px;
	font-style: italic;
	display: block;
	width: 100%;
	float: left;
	/* 	border: 1px dashed #000; */
}

span.vl {
	font-weight: 400;
	float: left;
	width: 100%;
	display: block;
	min-height: 25px;
	border: 1px solid #7f7f7f;
}

.pumpeblock {
	width: 100%;
}

#empty_pumpe_block {
	width: 100%;
	display: block;
	height: 45px;
}

.empty_header {
	width: 800px;
	float: left;
	display: block;
}

.create_new_pumpe {
	margin-bottom: 20px !important;
	disply: block;
	float: left;
	width: 100%;
	height: 40px;
	clear: both;
}


.ack_back td{
 	background: #ffdee4!important;
}
.ack_back td label{
 	font-weight:800;
}
.medication_drug{
	width: 94%;
}





.width_options{
}
.width_options .datatable{
	width:100%!important;
}
.width_options .medication_edit_table{
	width:100%!important;
}
.width_options .medication_edit_table td{
}

.width_options input[type="text"]{
	width: 97%!important;
}

.width_options input.time_interval_style{
	width: 67%!important;
}

.width_options select{
	width: 100%!important;
}
.width_options textarea{
	width: 98%!important;
}
.interval_question{
	width: 120px;
}
.has_no_interval{
	display: none;
}

.mmi_search_button{
	padding:1px;
	margin :0px;
}
.dosage_secondrow_div,
.dosage_firstrow_div{
	padding-right: 5px;
}
.dosage_secondrow_div{
	padding-top:10px;
}

td.medi_child_toggle_td{
	background-color:#f3f3f3;
	font-size: 12px;
    font-weight: 800;
    
    
}

.ack_info_tr td.medi_child_toggle_td{
	background-color:#ffdee4;
	font-size: 12px;
    font-weight: 800;
}



td.medi_child_toggle_td_arrow {
	 background: #f3f3f3 url('../images/ic_keyboard_arrow_down_48px.png') no-repeat center right;

}
.rotate180 .medi_child_toggle_td_arrow {
	background: #f3f3f3 url('../images/ic_keyboard_arrow_up_48px.png') no-repeat center right;
}
.no_bottom_border td.border_bottom_solid {
	border: 0;
}
.time_interval_style {
 	width: 30px;
/*	padding-left:0px;
	padding-right:0px;
	font-size:10px; */
	
}


.one_dosage_hour {	
	width:auto;
	margin : auto;
	 
}
.one_dosage_hour:last-child {	
	width:auto;
	min-width:66px;
	 
}


.delete_interval_button{
	width: 20px;
	margin:auto;
}

.div_float_left_extra
{
	float:left; 
	width:110px;
	padding:2px;
}


 
.deleted_header{
	height: 50px;
	float: left;
	
}
#deleted_medication_list{
	/* width: auto;
	display: block;
	float: left; */
	height: auto;
}
#deleted_medication_list h1{
	width: 90%;
}

.medication_block{
 	min-height: 30px;
}
 .deleted_medication_edit_table{
 	display: none;
 	min-height: 50px;
 }

.deleted_meds_state{
	height: 25px;
	width: 25px;
	display: block;
	float: right;
	
	
}
input.deleted_meds_state.hidden{
	height: 25px;
	width: 25px;
	border: 0px;
	background:  url('../images/ic_keyboard_arrow_down_48px.png') no-repeat center center;
}
input.deleted_meds_state.shown{
	height: 25px;
	border: 0px;
	width: 25px;
	background: url('../images/ic_keyboard_arrow_up_48px.png') no-repeat center center;
} 
 
