
/* ISPC-2827 Ancuta 12.03.2021 */

legend{
	background: #f3f3f3!important;;
	padding: 10px!important;;
	border: 1px solid #c4c4c4!important;;
}
.overview_addMsg{
	float: right;
}
.overview_openMsg{
	font-weight: 900;
}
.overview_openMsg:hover{
	text-decoration: underline;
	cursor: pointer;
			background: #f3f3f3!important;;
}
#lastcontactgrid_outer_table tr:hover{
	text-decoration: underline;
	cursor: pointer;
		background: #f3f3f3!important;;
}

 
.overviewefadatatable{
	width: 100%;
}
/* overview css fix */
.overviewefadatatable td, .overviewefadatatable td,.overviewefadatatable td
{
    line-height: 200%;
}
/* overview cursor */
.overviewefadatatable tr.row,
.overviewefadatatable tr.rowblank,
.overviewefadatatable tr.row,
.overviewefadatatable tr.rowblank
{
    cursor: pointer;
}

.overviewefadatatable tbody tr:first-child th,
.overviewefadatatable tbody tr:first-child th
{
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin: 0;
    height: 16px !important;
}