/*ISPC-2517 Ancuta  */

 .patient-main-add-btn {
    color: #ffffff;
    background-color: #3968c6;
 	border:0px;
    position: fixed;
    float: right;
    right: 35px;
    bottom: 15%;
    font-size: 40px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0px;
    border-radius: 50%!important;;
    padding: 15px;
    z-index: 101;
}
 
 .open_event_modal{
 	display: block;
 	float: left;
 	width: 45%;
 	margin:10px;
 	height: 100px;
 	color: #ffffff;
    background-color: #3968c6;	
    font-size:14px!important;;
    font-weight: 900;
    border:0px;
    cursor: pointer;
 }
 .contact_form_main{
	background: #3968c6  url(../images/external-link-2-24.png) no-repeat 50% 10%;
 }
 .contact_form_items{
	background: #3968c6  url(../images/external-link-2-24.png) no-repeat 50% 10%;
 }

.modal_success_msg{
    color: #339900;
    display: block;
    padding: 5px;
    text-align: center;
    border: 1px solid #339900;
    margin: 10px;
    background-color: #F7F7F7;
    float: none;
	display: none;
} 

/*ISPC-2516 Carmen 09.04.2020 */
#block-Verhaltensbeobachtung .groupHeader {
	display: none;
}

#block-Verhaltensbeobachtung .create_form_block_awake_sleeping_status td:nth-child(1){
	width: 180px;
}

#block-Verhaltensbeobachtung table.create_form_block_awake_sleeping_status {
	margin-left: 25px;
}
/*ISPC-2516 Carmen 09.04.2020 */

/*ISPC-2522 Carmen 10.04.2020 */
#block-Positionierung .groupHeader {
	display: none;
}

#block-Positionierung table.create_form_block_positioning td:nth-child(1){
	width: 250px;
}

#block-Positionierung table.create_form_block_positioning {
	margin-left: 75px;
}

#block-Positionierung td.required::after {
    content: " *";
    color: #e32;
    display: inline;
}

#positioning_type_error {
	display: none;
	color: #e32;
}

/*ISPC-2522 Carmen 10.04.2020 */

/*ISPC-2523 Carmen 13.04.2020 */
#block-Absaugen .groupHeader {
	display: none;
}

#block-Absaugen table.create_form_block_suckoff td:nth-child(1){
	width: 250px;
}

#block-Absaugen table.create_form_block_suckoff {
	margin-left: 75px;
}

/*ISPC-2523 Carmen 13.04.2020 */

/*ISPC-2518+ISPC-2520 Carmen 14.04.2020 */
#block-EinAusfuhr .groupHeader {
	display: none;
}

#block-EinAusfuhr table.create_form_block_organic_entries_exits td:nth-child(1){
	width: 170px;
}

#block-EinAusfuhr table.create_form_block_organic_entries_exits {
	margin-left: 20px;
}

/*ISPC-2518+ISPC-2520 Carmen 14.04.2020 */


/*ISPC-2519 Carmen 15.04.2020 */
#block-Veranstaltung .groupHeader {
	display: none;
}

#block-Veranstaltung table.create_form_block_custom_event td:nth-child(1){
	width: 160px;
}

#block-Veranstaltung table.create_form_block_custom_event {
	margin-left: 20px;
}

#block-Veranstaltung table textarea{
	width: 84%;
}

#block-Veranstaltung td.required::after {
    content: " *";
    color: #e32;
    display: inline;
}

#custom_name_type_error, #custom_date_time_type_error, #positioning_date_time_type_error, #awake_sleeping_date_time_type_error  {
	display: none;
	color: #e32;
}

/*ISPC-2518+ISPC-2520 Carmen 14.04.2020 */




/* HACk CSS - from overview_charts_mviewmode 07.05.2020 */
/* plus button */
.patient-main-add-btn {
	background-color:#00a2ff!important;
    cursor:pointer;
      -webkit-box-shadow: 0px 0px 64px 0px rgba(219,222,230,0.84);
	-moz-box-shadow: 0px 0px 64px 0px rgba(219,222,230,0.84);
	box-shadow: 0px 0px 64px 0px rgba(219,222,230,0.84);
    bottom:35px;
    padding:30px;
}

.open_event_modal {
    background-color:#00a2ff !important;
    font-family:"Open Sans", sans-serif;
    border-radius:6px;
}
.open_event_modal:hover {
     background-color:#345392 !important;
    transition:background-color 0.3s ease;
}

.contact_form_main {
background-position:50% 25px;
    font-weight:700;
    font-family:"Open Sans", sans-serif !important;
    padding-top:35px;
}


.modal_loading_div {
	display: none;
	width: 100%;
	text-align: center;
	background: transparent url(../images/pageloading.gif) no-repeat center;
	height: 100px;
}


/* ISPC-2512 Ancuta 10.06.2020 N4 */
/* NEW PLUS BTN ICON */
.patient-main-add-btn {
	background-image:url(../images/patient_header/plus.svg)!important;;
	background-position:50% 50%!important;;
	background-repeat:no-repeat!important;;
	font-size:0;
	width:80px;
	height:80px;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.15);
}
/* ISPC-2512 Ancuta 10.06.2020 :: for the rest of the pages do not display the extra buttons*/
.extrabuttons {
	display:none;
}
/* -----  */

/*ISPC-2523 Carmen 13.04.2020 */
#block-VigilanzBewusstsein table.create_form_block_vigilance_awareness td:nth-child(1){
	width: 200px;
}

#block-VigilanzBewusstsein table.create_form_block_vigilance_awareness {
	margin-left: 75px;
}

#block-VigilanzBewusstsein .groupHeader {
	display: none;
}

#awareness_name_type_error {
	display: none;
	color: #e32;
}
/* ---- */ 


/* ISPC-2864  Ancuta 22.04.2021*/
#documented_date{
	width: 200px;
	height: 40px;
	background: #FFFFFF url(../images/efa_images/calendar2.svg) 90% 50% no-repeat;
	/* divider */
	border: 1px solid #DFE0E8;
	box-sizing: border-box;
	border-radius: 3px;
}
#documented_date_time{
	width: 80px;
	height: 40px;
	background: #FFFFFF url(../images/efa_images/001-clock.png) 90% 50% no-repeat;
	background-size:18px 18px;
	/* divider */
	border: 1px solid #DFE0E8;
	box-sizing: border-box;
	border-radius: 3px;
}

table.create_form_block_patient_problems tr.Hide{
	display: none;
}
table.create_form_block_patient_problems td{
	width: 100%;
	display: block;
	float: left;
	border: 0px!important;
}

table.create_form_block_patient_problems td label{
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	display: flex;
	align-items: center;
	color: #333333;
}
table.create_form_block_patient_problems td select{
	border: 1px solid #EBEBEB;
	box-sizing: border-box;
	border-radius: 3px;
	background: #fff;
	width: 100%;
	height: 40px;
	resize: none;
}

table.create_form_block_patient_problems td textarea{
	border: 1px solid #EBEBEB;
	box-sizing: border-box;
	border-radius: 3px;
	background: #fff;
	width: 100%;
	height: 40px;
	resize: none;
}
table.create_form_block_patient_problems td input{
	border: 1px solid #EBEBEB;
	box-sizing: border-box;
	border-radius: 3px;
	background: #fff;
	width: 100%;
	height: 40px;
	resize: none;
}
