/*user info block */
/* ISPC-2513 Ancuta  */

 
.main_patient_header {
	width:100%;
	display:inline-table;
	background:#dbdee6;
	line-height:18px;
}


.main_patient_header div.status_and_navigation{
	width:100%;
	display:inline-table;
	box-sizing:border-box;
	padding:23px 12px 0 12px;
	
}

.main_patient_header div.status_and_navigation .patient_name {
/* 	width:100%; */
	width:60%;
	max-width:715px;
	height:50px;
	display:inline-table;
	box-sizing:border-box;
	position:relative;
	background:#fbfcfd;
	border-radius:50px;
	line-height:50px;
	font-size:15px;
	font-weight:700;
	color:#3b3b3b;
	font-family: 'Open Sans', sans-serif;
	padding-left:41px;
	-webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
	float:left;
	margin-bottom:12px;
	margin-right:7px;
}
.main_patient_header div.status_and_navigation .patient_name span{
	font-size:15px ;
	font-weight:700;
	color:#3b3b3b;
	font-family: 'Open Sans', sans-serif;
	margin-top:5px;
}

#change_patient{
    display: none;
}

.main_patient_header div.status_and_navigation .patient_name > .btn {
	background-color:#0ea6fd;
	width:31px;
	height:31px;
	display:block;
	box-sizing:border-box;
	border:0;
	border-radius:50%;
	position:absolute;
	top:9px;
	cursor:pointer;
	outline:none;
	background-repeat:no-repeat;
	transition:background-color 0.3s ease;
}
.main_patient_header div.status_and_navigation .patient_name > .btn:hover {
	background-color:#345392;
	transition:background-color 0.3s ease;
	
}


.main_patient_header div.status_and_navigation .patient_name > .btnNext {
	background-image:url(../images/patient_header/arr-right-white.svg);
	right:13px;
	background-position:12px 50%;
}
.main_patient_header div.status_and_navigation .patient_name > .btnPrev {
	background-image:url(../images/patient_header/arr-left-white.svg);
	right:48px; 
	background-position:10px 50%;
}

.main_patient_header div.status_and_navigation .info {
	float:left;
	width:auto;
	max-width:715px;
	height:50px;
	display:inline-table;
	box-sizing:border-box;
	position:relative;
	background-color:#faf0d1;
	border-radius:50px;
	
	font-size:13px;
	 
	color:#727272;
	font-family: 'Open Sans', sans-serif;
	background-image:url(../images/patient_header/info-black.svg);
	background-repeat:no-repeat;
	background-position:13px 50%;
	padding-left:38px;
	padding-top:16px;
	padding-right:15px;
	 
	margin-bottom:12px;
	border:0px !important;
}
.main_patient_header div.status_and_navigation .info > span {
	font-weight:700;
	color:#1b1b1b;
}
.main_patient_header div.status_and_navigation .info > span >i{
	font-weight:400;
	font-style:normal;
	color:#1b1b1b;
}

.main_patient_header .details-container {
	width:auto;
	float:left;
	display:inline-table;
	box-sizing:border-box;
}

.main_patient_header ul.details-col {
/* 	width:auto; */
	width:60%;
	max-width:250px;
	margin:0;
	padding:0;
	display:block;
	box-sizing:border-box;
	float:left;
	margin-bottom:10px;
}
.main_patient_header ul.details-col.col2 {
	max-width:200px;
}
.main_patient_header ul.details-col.col3 {
	max-width:276px;
	 
}

.main_patient_header ul.details-col li {
	list-style:none;
	display:inline-table;
	box-sizing:border-box;
	width:100%;
	padding-left:54px;
	padding-right:15px;
	margin-bottom:15px;
	position:relative;
	background-repeat:no-repeat;
	background-position:18px 8px;
	
}
.main_patient_header ul.details-col li > span {
	display:block;
	font-size:13px; 
	color:#1b1b1b;
	font-family: 'Open Sans', sans-serif;
}
.main_patient_header ul.details-col li > span:first-child {
	font-weight:700;
	text-transform:uppercase;
}

.main_patient_header ul.details-col li.aufnahmedatum {
	background-image:url(../images/patient_header/aufnahmedatum.svg);
}
.main_patient_header ul.details-col li.aufnagmegrund {
	background-image:url(../images/patient_header/aufnagmegrund.svg);
}
.main_patient_header ul.details-col li.aufnahme {
	background-image:url(../images/patient_header/aufnahme.svg);
	 
	 
}
.main_patient_header ul.details-col li.grunderkrankung {
	background-image:url(../images/patient_header/grunderkrankung.svg);
}

.main_patient_header ul.details-col li.alter_year {
	background-image: url(../images/patient_header/alter.svg);
}
 
.main_patient_header ul.details-col li.gewicht {
	background-image:url(../images/patient_header/gewicht.svg);
}
.main_patient_header ul.details-col li.grobe {
	background-image:url(../images/patient_header/grobe.svg);
	background-position:24px 8px;
}

.main_patient_header ul.details-col li.green:before {
	width:14px;
	height:14px;
	border-radius:50%;
	display:block;
	content:" ";
	position:absolute;
	background:#2bae2f url(../images/patient_header/checkmark-white.svg) 50% 50% no-repeat;
	left:30px;
	top:2px;
}

.main_patient_header ul.details-col li.orange:before {
	width:14px;
	height:14px;
	border-radius:50%;
	display:block;
	content:" ";
	position:absolute;
	background:#ff8c00;
	left:30px;
	top:2px;
}

/*ISPC-2670 Lore 24.09.2020*/
.main_patient_header ul.details-col li.red:before {
	width:14px;
	height:14px;
	border-radius:50%;
	display:block;
	content:" ";
	position:absolute;
	background:#f5051d;
	left:30px;
	top:2px;
}
.main_patient_header ul.details-col li.yellow:before {
	width:14px;
	height:14px;
	border-radius:50%;
	display:block;
	content:" ";
	position:absolute;
	background:#f5f505;
	left:30px;
	top:2px;
}
/*//.*/

/* userinfo buttons */
.main_patient_header .buttons-container {
	width: 40%;
/* 	max-width:calc(100% - 736px); */
/* 	max-width:calc(100% - 736px); */
	margin:0;
	padding:0;
	display:inline-table;
	box-sizing:border-box;
	float:left;
	font-size:0;
	margin-left:10px;
}
.main_patient_header .buttons-container ul.bc {
	width:100%;
	display:inline-table;
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-size:0;
}
.main_patient_header .buttons-container ul.bc li {
	width:44px;
	height:44px;
	margin-right:9px;
	margin-bottom:7px;
	display:inline-table;
	box-sizing:border-box;
	cursor:pointer;
	background-color:#ffffff;
	border-radius:12px;
	-webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
	background-repeat:no-repeat;
	background-position:50% 50%;
	z-index:1;
	position:relative;
	transition:box-shadow 0.3s ease;
}
.main_patient_header .buttons-container ul.bc li:hover {
	-webkit-box-shadow: 0px 0px 33px 5px rgba(52,83,146,0.25);
	-moz-box-shadow: 0px 0px 33px 5px rgba(52,83,146,0.25);
	box-shadow: 0px 0px 33px 5px rgba(52,83,146,0.25);
	z-index:10;
	transition:box-shadow 0.3s ease;
}


.main_patient_header .buttons-container ul.bc li.border {
	border-width:2px;
	border-style:solid;
	border-color:#131313;
}
.main_patient_header .buttons-container ul.bc li.hausarzt {
	border-color:#274d8a;
	background-image:url(../images/patient_header/icon-hausarzt.svg);
}
.main_patient_header .buttons-container ul.bc li.medikation {
	border-color:#c92d09;
	background-image:url(../images/patient_header/icon-medikation.svg);
}
.main_patient_header .buttons-container ul.bc li.phone {
	border-color:#c92d09;
	background-image:url(../images/patient_header/icon-phone.svg);
}
.main_patient_header .buttons-container ul.bc li.hospizregister {
	background-color:#ef1d1b;
	background-image:url(../images/patient_header/icon-hospizregister.svg);
}
.main_patient_header .buttons-container ul.bc li.ekg {
	background-image:url(../images/patient_header/icon-ekg.svg);
}
.main_patient_header .buttons-container ul.bc li.todo {
	border-color:#424242;
	background-image:url(../images/patient_header/icon-todo.svg);
}
.main_patient_header .buttons-container ul.bc li.add {
	background-image:url(../images/patient_header/icon-plus-circle-green.svg);
}

.main_patient_header .buttons-container ul.bc li.besuch {
	background-image:url(../images/patient_header/icon-besuch.svg);
	width:150px;
}
.main_patient_header .buttons-container ul.bc li.btm {
	background-color:#c82522;
	background-image:url(../images/patient_header/icon-btm.svg);
}
.main_patient_header .buttons-container ul.bc li.addressbook {
	background-image:url(../images/patient_header/icon-addressbook.svg);
	background-position:calc(50% - 1px) 50%;
}

.main_patient_header .buttons-container ul.bc li.calendar {
	background-image:url(../images/patient_header/icon-calendar-green.svg);
	background-position: 50% calc(50% - 1px);
}

 /* // user info block */
 
 
 
 #change_patient_chosen.chosen-container .chosen-single {
 border:0px!important;
 }
 
 .chosen-container-single .chosen-single div b {
    display: none;
    }
 
 
 
 .pheader_navigation_content{
 	padding:0px!important;
 }
 
 .main_patient_header div.status_and_navigation .username,
 #change_patient_chosen.chosen-container, .pheader_navigation_content select,
 .chosen-container-single .chosen-single span,
 .chosen-container-single .chosen-single div,
 
 #change_patient_chosen.chosen-container .chosen-single
 
 {
/*  	background: #fbfcfd!important; */
/*  	background: transparent!important; */
 }
 
 .chosen-container-single .chosen-single span{
/*  	margin-top:5px; */
 }
 #status_icon{
 	width: 22px!important;
 	height: 22px!important;
 	background: transparent!IMPORTANT;;
 	position: absolute;
 	margin-left: -28px;
 	margin-top: 13px;
 }
 #status_icon img{
 	width:20px!important;
 	height:20px!important;
 	
 }
 
 .status_icon_label{
 display: none;
 }
 
 
 div#other_lights{
 	height:80px!important;;
 	background: transparent!important;
 }
 
 #patient_icon_cell_red,
 #patient_icon_cell_yellow,
 #patient_icon_cell_green
 {
 	margin-left:0!important;
 	z-index:3
 }
 
 #patient_icon_cell_red img,
 #patient_icon_cell_yellow img,
 #patient_icon_cell_green img
 {
 	width:20px!important;
 	height:20px!important;
 	
 }
 
 #patient_icon_cell_yellow{
 	margin-top:30px;
 }
 #patient_icon_cell_green{
 	margin-top:54px;
 }
 
 .main_patient_header_icons{
 	margin-top:5px;
 		width:100%;
	display:inline-table;
	background: transparent;
 
 }
 .icons_tab-container{
 	width: 100%!important;
 	
 }
 
 
 .cave-box span {
    width: 93%!important;
    }
    
    
    

/* ISPC-2513 Ancuta 15.05.2020:: START  */
.p_gender{
	disply: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 6px;
	right:80px;
		
}
.femenine{
	background-image:url(../images/patient_header/femenine.svg);
}
.masculine{
	background-image:url(../images/patient_header/masculine.svg);

}
 .genders{
	background-image:url(../images/patient_header/genders.svg);
}
/* ISPC-2513 Ancuta 15.05.2020:: END  */    

.custom_tooltip{
	width: 400px;
	height: 250px;
	position: absolute;
	z-index: 100;
	background: white;
	border: 1px solid green;
}