td .tags.tags_selector {
    padding: 5px 0 0 0;
    margin:0;
    list-style:none;
    color:#fff;
}
.datatable td .tags{
    margin:0;
    padding:0;
    list-style:none;
    color:#fff;
}
.datatable td .tags li, td .tags li {
    margin-bottom: 2px;
}
.datatable td .tags li, .datatable td .tags a, td .tags li, td .tags a{
    float:left;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
}
.datatable td .tags li a, td .tags li a{
    /*margin-left:20px;*/
    margin-left:15px;
    padding:0 10px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
}

td .tags li a{
    margin-left:15px;
    padding:0 5px 0 11px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
}

.datatable td .tags li a.all{
    background:#e05700;
}

.datatable td .tags li a.custom, td .tags li a.custom{
    background:#b2dbf5;
    color: #000;
}
.cust_use
{
	 color: #fff !important;
	 cursor: unset;
}
.cust_use:hover 
{
	background: #b2dbf5 !important;
} 
.cust_use:hover:before 
{
	border-color: transparent #b2dbf5 transparent transparent !important;
} 

.datatable td .tags a:before, td .tags a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-11px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;
}
.syst_use:before
{
	 border-color:transparent #ccc transparent transparent !important;
}
.syst_use
{
	background: #ccc !important;
	cursor: unset;
}
.datatable td .tags li a.all:before{
    border-color:transparent #e05700 transparent transparent;
}
.datatable td .tags li a.custom:before, td .tags li a.custom:before{
    border-color:transparent #b2dbf5 transparent transparent;
}
.datatable td .tags a:after, td .tags a:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
}

.datatable td .tags a.selected, .datatable td .tags a.all.selected, td .tags a.selected, td .tags a.all.selected {
    background:#555;
}
.datatable td .tags a.custom.selected, td .tags a.custom.selected {
    background:#555;
    color:#fff;
}
.datatable td .tags a.selected:before, .datatable td .tags a.all.selected:before, .datatable td .tags a.custom.selected:before,
td .tags a.selected:before, td .tags a.all.selected:before, td .tags a.custom.selected:before {
    border-color:transparent #555 transparent transparent;
}

.datatable td .tags a:hover, .datatable td .tags a.all:hover, td .tags a:hover, td .tags a.all:hover {
    background:#555;
}
.datatable td .tags a.custom:hover, td .tags a.custom:hover {
    background:#555; color:#fff;
}
.datatable td .tags a:hover:before, .datatable td .tags a.all:hover:before, .datatable td .tags a.custom:hover:before,
td .tags a:hover:before, td .tags a.all:hover:before, td .tags a.custom:hover:before {
    border-color:transparent #555 transparent transparent;
}

.datatable td.file_date, .datatable th.file_date{
    width:100px;
}

.datatable td.file_actions, .datatable th.file_actions{
    width:54px;
}

.datatable td.file_user, .datatable th.file_user{
    width:110px;
}

.datatable td.file_tags, .datatable th.file_tags{
    width:55px;
}
.datatable td.file_type, .datatable th.file_type{
    width:63px;
}

.tags-row{
    padding-top: 5px;
    padding-bottom: 5px;
}

td.tags_sel_cell {
    padding: 0px 5px 0 0;
}

#file-uploader-demo1 .qq-upload-button {
	margin-top: 0px;
}

.file_upload {
	vertical-align: top;
	height: 57px;
}

.file_upload input {
	line-height: 21px;
	display: block;
	margin-top: 0px;
	width: 96% !important;
}

.doc_title_left {
	text-align: left;
}

.doc_title_right {
	text-align: right;
}




