@CHARSET "ISO-8859-1";

/*---------------------Verlauf print start -------------------------------*/

#verlauf_print_c {
}

#verlauf_print {
}
.datepick-popup {
    z-index: 9000;
}
.setcolor {
}
.setfilter {

}
.setsize {

}
.daterow {
	display: block;
	width: 100%;
	clear: both;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
.daterow  label{
	display: block; 
	float: left;
	font-size: 12px; 
	line-height: 28px;
	width: 150px;
}
.daterow  input['type="checkbox"']{
	display: block; 
	float: left;
	font-size: 12px; 
/*	width: 100px;*/
}
.daterow  input[type="text"]{
	display: block; 
	float: left;
	font-size: 12px; 
	width: 100px;
}
 
.daterow  select#fontsize{
	display: block; 
	float: left;
	font-size: 12px; 
	width: 105px;
}

.filters {
	margin-top:10px;
	display: block;
	float: left;
	
}
/* unul sub altul*/
/*.filters label {*/
/*	display: block; */
/*	float: left;*/
/*	font-size: 14px; */
/*	width: 130px;*/
/*}*/
/*.short_block {*/
/*	float:left;*/
/*	width:180px;*/
/*}*/
/*.short_block  div {*/
/*	float: left;*/
/*	display: block;*/
/*	clear:both;*/
/*}*/
/*intinse pe randuri*/

.filters label {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 28px;
    width: 100%; 
	border-bottom:1px solid #000;
}
.short_block {
	float:left;
	width:100%;
}
.short_block  div {
	float: left;
	width: 175px;
	display: block;
}

/*---------------------Verlauf print end -------------------------------*/

/*LOAD GLOBAL JQUERY UI TEME*/
/*

 Course print new css based on jquery ui blue/light green  theme 
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #fff;
	color: #333333;
}

.ui-widget-header {
	border: 1px solid #64a1e2;
	background: #64a1e2;
	color: #ffffff;
	font-weight: bold;
}

.ui-state-default,.ui-widget-content .ui-state-default {
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
		height: 43px;
	display: block;
		width: 263px;
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited
	{
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 43px;
	display: block;
	width: 263px;
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus
	{
	border: 1px solid #c8c8c8;
	background: #eaf8c5;
	font-weight: bold;
	color: #64a1e2;
	outline: none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus
	{
	cursor: pointer;
}

.ui-state-hover a,.ui-state-hover a:hover {
	cursor: pointer;
}

.ui-state-active,.ui-widget-content .ui-state-active {
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
		height: 43px;
	display: block;
		width: 263px;
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 43px;
	display: block;
	width: 263px;
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.ui-icon {
	width: 16px;
	height: 16px;
}

.ui-widget-content .ui-icon {
	background: transparent
}

.ui-dialog .ui-dialog-content {
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: center;
	border-width: 0px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane button {
	float: none;
	width: 263px;
	margin: auto;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	line-height: 1.4em;
	overflow: visible;
	cursor: pointer;
}

.no-color {
	color: #000;
	background-color: #fff;
}

.ts-large {
	font-size: medium;
}

.ts-larger {
	font-size: large;
}



-------------------------------------- For modal------------------------------------------
.ui-widget-overlay {
    background: url("images/ui-bg_diagonals-thick_20_666666_40x40.png") repeat scroll 50% 50% #666666 !important;
    opacity: 0.5;
}
.ui-widget-shadow {
    background: url("images/ui-bg_flat_10_000000_40x100.png") repeat-x scroll 50% 50% #000000;
    border-radius: 5px 5px 5px 5px;
    margin: -5px 0 0 -5px;
    opacity: 0.2;
    padding: 5px;
}
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 

 Component containers
----------------------------------
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }*/

#MainContent {
/*	background:#cdd;*/
	width: 635px;
	}
 
#ListBox .colLeft  {
/*	background:#fad;*/
	width:115px;
	float: left;
	margin: 0 3px 0 0;
}
#ListBox .colRight {
/*	border: 1px solid #000;*/
	width: 505px;
}
.PatDisBlkRight {
/*	background:#fdd;*/
	width: 485px;
	float: left;
}
.PatDisBlkleft {
	float: right;
	width: 15px;
	margin:0px 3px 0 0 ;
}
.colRight2 {
/*	background: green;*/
	width: 442px;

}
 
#ListBox .row{
	padding-left:1px;
}
 
 