.datatable {
    vertical-align:top;
    text-align:left;
    page-break-inside:auto;

}

.datatable td {
    vertical-align:top;
    font-family:Arial;
    overflow: auto;

    page-break-inside:avoid;
    page-break-after:auto;

}

p.break {
    page-break-after: always;
}
.datatable th {
    vertical-align:top;
    font-family:Arial;
    display: table-cell;

}

.botomborder {
    border-bottom:solid 1px #000;

}
.diagno_wrap {
    width: 180px;
    white-space: wrap;
    height: 100%;

}
.pfle_wrap {
    width: 240px;
    white-space: wrap;
}

@media print{
	@page {
		size: A4 landscape;
		max-height:100%;
		max-width:100%
	}
 
}

/*ISPC-2715 Carmen 12.11.2020 */
.crisis_status{
	width: 100px;
	height: 20px;
}

  .st_1{
  	width: 100px;
	height: 20px;
	display: inline-block;
	background: #4e9a06;
}

 .st_2{
 	width: 100px;
	height: 20px;
	display: inline-block;
	background: #edd400;
}

 .st_3{
 	width: 100px;
	height: 20px;
	display: inline-block;
	background: #cc0000;
}
/* //-- */