fieldset {
	border: 1px solid #aed0ea !important;
	margin-top: 2px !important;
}

input {
	background: #fff ;
}

select {
	background: #fff !important;
}

input[type="text"]:disabled {
	background: #dddddd !important;
}

/* data table */
.dataTable>tbody>tr:nth-of-type(2n+1) {
	background-color: #f8f8f8;
}

table#table-projects {
	border-collapse: collapse;
}

table#table-projects td {
	border: 1px solid #ddd;
}

ul.ColVis_collection {
	width: auto !important;
}
/* create report button */
.buttonsBar {
	margin: 10px 0 10px 0;
	text-align: right;
	width: 100%;
}

.bigbutton {
	cursor: pointer;
	font-size: 15px;
	font-weight: normal !important;
	height: 35px;
	padding: 0 15px;
	width: 150px;
}
/* create report modal */
#firststep {
	padding: 0 !important
}

.fblock {
	display: block;
	float: left;
	width: 100%;
	height: auto;
}

.fblock h2 {
	margin-top: 5px;
	font-size: 14px;
	line-height: 20px;
	text-indent: 20px;
	display: none
}

.fblock h5 {
	font-size: 1.2em;
	font-weight: bold;
	padding-right: 5px;
}

.date_period {
	margin-top: 5px;
}

.date_filter_options {
	display: block;
	float: left;
	padding: 5px;
}

.mqy_filter {
	width: 98%;
}
.no_date_filter {
	width: 98%;
	    font-size: 1.2em;
    font-weight: bold;
}

.date_filter_options span {
	font-weight: 900;
	color: #2779aa;
}

.date_filter_options table {
	width: 100%;
	border-collapse: collapse;
}

.date_filter_options table td label {
	
}

.date_filter_options table td input {
	margin-right: 5px;
}

.month_filter {
	width: 42%;
	border-right: 1px solid #aed0ea !important;
	margin-right: 5px;
	:
}

.quart_filter {
	width: 15%;
	margin-right: 5px;
}

.year_filter {
	width: 35%;
	border-left: 1px solid #aed0ea !important;
}

.specific_date_filter {
	width: 98%;
}

.group_details {
	display: block;
	float: left;
	width: 100%;
	background: #f8f8f8;
	margin-top:10px; 
}
.group_details label{
	display: block;
	float: left;
	font-weight: 900;
	width:20%;
	line-height: 26px;
}
.group_details input{
	display: block;
	float: left;
	font-weight: 900;
	width: 68%
}

.search_criteria {
	width: 98%;
	padding: 7px;
}

.search_criterias_table {
	width: 100%;
}

.search_criterias_table th {
	line-height: 26px;
	border-bottom: 1px solid #aed0ea;
	font-weight: 800;
}
.search_criterias_table td sup.note{
	color: #1b346f;
	font-size:16px;
	font-weight: 800;
}
div.note{
	color: #1b346f;
	font-size:12px;
	font-weight: 800;
	
}

.search_criterias_table td input[type="checkbox"]{
	margin:3px 0 0 5px;
}
.search_criterias_table td input.search_options
{
	width:95%;
}
.search_criterias_table td select.search_options
{
	width:97%;
}
.search_criterias_table td label{
	line-height: 26px;
}

.search_criterias_table>tbody>tr:nth-of-type(2n+1) {
	background-color: #f8f8f8;
}

.add_new_group{
	display: block; 
	float: left;
	width:95%;
	margin-left:10px;
}
.add_new_group a{
	display: block; 
	float: left;
	width:auto;
	color: #1b346f;
	font-size:14px;
	line-height:24px;
}
.add_new_group a span{
	display: block; 
	float: left;
	width:auto;
	color: #1b346f;
	font-size:14px;
	line-height:24px;
	margin-left:5px;
}
.add_new_group a img{
	float: left;
	display: block;
	border: 0px!important;
}

.columns_table {
	width: 49%;
	margin-right: 5px;
	float: left;
}

.columns_table th {
	line-height: 26px;
	border-bottom: 1px solid #aed0ea;
	font-weight: 800;
}
.columns_table td input{
	margin-right:3px;
}
.columns_table td label{
	line-height: 22px;
}

.columns_table>tbody>tr:nth-of-type(2n+1) {
	background-color: #f8f8f8;
}

.columns_av_med_table,
.columns_complex_table
 {
	width: 100%;
}

.columns_av_med_table th, 
.columns_complex_table th 
{
	line-height: 26px;
	border-bottom: 1px solid #aed0ea;
	font-weight: 800;
}

.columns_av_med_table>tbody>tr:nth-of-type(2n+1),
.columns_complex_table>tbody>tr:nth-of-type(2n+1)
 {
	background-color: #f8f8f8;
}

.save_report{
	display: block;
	float: left;
	width:100%;
	
}
 
.report_name{
	display: none;
	float: left;
	width:100%;
	font-weight: 800;
	background: #f8f8f8;
	margin:10px 0 10px 0;
}
.report_name label{
	display: block;
	float: left;
	width:20%;
	line-height: 26px;
	font-weight: 800;
}
.report_name label sup{
	color: #ff0000;
	
}

sup.mandatory{
	color: #ff0000;
}



.report_name input{
	display: block;
	float: left;
	width:75%;
}
.report_description{
	display: none;
	float: left;
	width:100%;
	font-weight: 800;
	background: #f8f8f8;
	margin:10px 0 10px 0;
}
.report_description label{
	display: block;
	float: left;
	width:20%;
	line-height: 26px;
	font-weight: 800;
}
.report_description textarea{
	display: block;
	float: left;
	width:75%;
	height:50px;
	background: #fff;
}
 label.save_label{
 	margin-left:5px; 
 	line-height: 26px;
 }


.export_options{
	width: 100%;
}

.export_options td {
	width: auto;
}
.export_options td label{
	line-height: 26px;
}

.force_display{
	display: block!important;
}

.required{
	background: #f8d0e1!important;
}
.required>tbody>tr:nth-of-type(2n+1) {
	background-color: #ffc0cb;
}


span.sp_report_name{
    font-weight: 400;
    line-height: 24px;
}
span.sp_report_description{
    display: block;
    float: left;
    font-weight: 400;
    line-height: 24px;
    width: 75%;
}

.generate_options{
	width:98%;
	    display: block;
    float: left;
    padding: 5px;
}	
.required_border {
	border: 1px solid #ff0000;
}

.cancelButtonClass{
/* 	color:#000!important; */
}
 a.generate,
a.edit,
a.duplicate,
a.delete
{
	display: block;
	width:80px!important;
	padding:5px;
	text-align: center;
/* 	line-height: 32px; */
}
 
/*  ORDERING COLUMNS  */
.column_ordering{
	width: 100%;
}
.column_ordering th{
	line-height: 26px;
	font-weight:800;
	border-bottom: 1px solid #aed0ea;
}
.column_ordering td{
	line-height: 26px;
}
.column_ordering>tbody>tr:nth-of-type(2n+1) {
	background-color: #f8f8f8;
}
.column_ordering tbody tr.sort:hover {
    background-color: antiquewhite;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}

 
.delete_group{
	background: transparent url(../images/action_delete.png) no-repeat center !important;
	background-size: 20px 20px !important;
	width:20px;
	height:20px;
	
}
 