.import_upload{
	display: block;
	float: left;
	height: auto;
	width: 100%;
}
.import_upload tr td{
	vertical-align: top;
	line-height: 25px;

}
.import_upload td.td_label{
	width: 120px;
}

.import_upload td select{
	width: 150px;
}


.qq-upload-button {
	width: 150px;
	margin-left: 0px;
	margin-top: 0px;
	line-height: 14px;
}


.qq-upload-list {
    list-style: disc outside none;
    margin: 15px 15px;
    padding: 0;
}
input[type=text] {
	width: 150px;
}

tr.csv_row {
	background-color: #FAEBD7;
}
tr.ispc_row {
	background-color: white;
}
tr.ispc_row_alt {
	background-color: whitesmoke;
}
tr.options_row {
	background-color: #5F9EA0;
	border-bottom: 2px solid #000;
}
tr.clear_row {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
.clear_row td {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #fff;
	height: 10px;
}
table#options_table {
	width:100%;
}

.datatable thead th {
	text-align: center;
	font-weight: bold;
}
.datatable td {
	vertical-align: middle;
}
.datatable td.col_label {
	width:20%;
	font-weight: bold;
}

.datatable td.col_value {
	width:40%;
}

.datatable td.col_checkbox {
	text-align: center;
}
div.left_icon {
	width:18px;
	float: right;
	padding-right: 5px;
}
div.left_icon img{
	margin-top: 3px;
	display:none;
}