.datatable {
    vertical-align:top;
    text-align:left;
    page-break-inside:auto;

}

.datatable td {
    vertical-align:top;
    font-family:Arial;
    overflow: auto;

    page-break-inside:avoid;
    page-break-after:auto;

}

p.break {
    page-break-after: always;
}
.datatable th {
    vertical-align:top;
    font-family:Arial;
    display: table-cell;

}

.botomborder {
    border-bottom:solid 1px #000;

}
.diagno_wrap {
    width: 180px;
    white-space: wrap;
    height: 100%;

}
.pfle_wrap {
    width: 240px;
    white-space: wrap;
}



div.ready_box_voluntary{
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    background: url(../images/user_status.png);
    margin: 5px 5px 0 0;
}

.ready_green{

    background-position: 0px -1px!important;
}
.ready_yellow{

    background-position: 0px -13px!important;
}
.ready_red{
    background-position: 0px -24px!important;

}
.ready_black{    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin: 5px 5px 0 0;
    background: url(../images/user_status_b.png) 0px -36px!important;
}
.ready_blue{    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin: 5px 5px 0 0;
    background: url(../images/user_status_b.png) 0px -36px!important;
}
.ready_purple{    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin: 5px 5px 0 0;
    background: url(../images/user_status_b.png) 0px -36px!important;
}
.ready_grey{    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin: 5px 5px 0 0;
    background: url(../images/user_status_b.png) 0px -36px!important;
}
