input[type=text], select {
    border: 1px solid #E8E8E8;
    background: #FFF;		
    font-weight: 700;
}
textarea {
    border: 1px solid #E8E8E8;
    background: #FFF;
}
form .error {
    color: #990000;
    display: inline-block;
    height: 40px;
    margin: 0;
    width: 250px;
}