

/* ISPC-2782 Cristi.C 19.01.2021 */
#menu li {
    display: block;
    /* margin-bottom: 1px; */
    background-color: #ffffff;   
    padding: 0;
    list-style: none;
    margin: 0;
    line-height: 35px;
    cursor: pointer;        
    transition: all 0.2s ease;
}
#menu li a {
	border-left: 3px solid transparent;
}

#menu li a {
	 display: flex !important;
    align-items: center;
    text-decoration: none;
    line-height: 30px;
    padding: 8px 9px 8px 10px;
    display: inline-block;
    color: black;
    font-weight:normal;
    font-family: "Open Sans", sans-serif;
    font-size:13px;
    background-position-x: 3px;
}

#Wrapper {
	margin-left:0;
}

#menu {
	border:none;
/* 	box-shadow: 0px 4px 4px rgba(18, 55, 63, 0.15);	 */
	box-shadow: 0px 4px 4px #acacac;	
	top: 0!important;
    margin-top: 10px;
    position:relative!important;
    width:208px;
}

#menu li ul li a {
	padding: 5px 5px 5px 20px;
    background-position-x: 10px;
}

#menu li ul li {
	padding:0;
}

#menu  li {
	position:relative;
/* 	border-bottom:1px solid #ebeced; */
	border-bottom:1px solid #acacac;
}

#menu li ul li {
/* 	border-bottom:1px solid #ebeced; */
	border-bottom:1px solid #acacac;
	padding-left:10px;
		background: #F3F3F3;
}


#menu ul {
/* 	border-top:1px solid #ebeced; */
	border-top:1px solid #acacac;
	margin-left:-3px;
}

#menu > li a:hover {
/* 	border-left: 3px solid #009FE4; */
	border-left: 7px solid #009FE4;
	
}



#menu li ul li, #menu li ul li:first-child {
	margin-bottom:0;
	margin-top:0;	
}


#menu li ul li:hover a {
	color:#009FE4!important;
}

#menu > li.open a {
/* 	border-left: 3px solid #009FE4; */
	border-left: 7px solid #009FE4;
	color:#000!important;
}

#menu li ul li a {
	color:#000!important;
	border:none!important;
		background: #F3F3F3;
}

#menu li ul li.open a {
	color:#009FE4!important;
}

.selectUserGroup {
	margin-top: 20px;
}

.labelGroup {
	min-width:100px;
	float:left;
}

.selectUserGroup select, .selectUserGroup textarea {
	min-width:150px;
	float:left;
}

.selectUserGroup .select {
	overflow:auto;
}

.selectUserGroup .textInfot {
	overflow:auto;
	margin-bottom:15px;
}

#menu  a {	
	
	background-repeat:no-repeat;
	background-size:15px 15px;
	background-position:center left;	
	display:inline-block;	
}


.outer {
	margin-top:-2px;
}

#MainContent {
	margin-top:15px;
}


.LeftDiv {
	width:210px;
}

body>div.outer>div#Wrapper>div.LeftDiv {
	width:210px!important;
	
}

#menu img {
	max-width:15px;
}

#menu img {
	max-width: 15px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 2px;
}

#menu li ul li img {
	left:15px;
}

#menu a {
	position:relative;
}
