<a href="<?php echo $this->url(array('controller'=>'locations' , 'action' => 'listhospitalreasons' )); ?>"><?php echo $this->translate("back")?></a>
<form action="" method="post" name="frmhospreason" id="frmhospreason">
	<fieldset>
	<?php if($_REQUEST['id'] > '0') { ?>
		<legend><? echo $this->translate('edithospitalreason')?>&nbsp;</legend>
	<? } else { ?>
		<legend><? echo $this->translate('addhospitalreason')?>&nbsp;</legend>
	<?php } ?>	
		<div id="addhospreason_MsgError" class="err"><? echo $this->error_message ?></div>
		<br />
 
		<div class="med_row">
			<label for="reason"><? echo $this->translate('name')?>&nbsp;</label>
			<input type="text" tabindex="1" name="reason" id="reason" value="<? echo $this->reason ?>">
			<div id="addhospitalreason_nameError" class="error"> <? echo $this->error_name ?></div>&nbsp;
		</div>
		
	 
		<label for="btnsubmit"></label>
		<input type="submit" name="btnsubmit" tabindex="9" id="btnsubmit" value="<? echo $this->translate('submit')?>">
		
	</fieldset>
</form>