<br/>
<a href="xbdtnewactions/actionlist"><?php echo $this->translate("back")?></a>

<form action="" method="post" name="frmremedy" id="frmremedy">
	<fieldset id="addRemedy_fieldset">
		<?php if($_REQUEST['id'] > '0'): ?>
				<legend><?php echo $this->translate('editxbdtaction'); ?></legend>
			<?php else: ?>
				<legend><?php echo $this->translate('addxbdtaction'); ?></legend>
		<?php endif; ?>
<br/>
<br/>
		<div id="addfamilydoctor_Msgerror" class="err"><? echo $this->error_message ?></div>

<table class="medtable">
	<tr>
		<td width="20%">
			<b><? echo $this->translate('xbdt action id') ?></b>
		</td>
		<td>
			<input type="text" name="action_id" tabindex="1" id="action_id" value="<? echo $this->action_id; ?>" style="width: 60%">
			<div class="error" style="margin:0px!important; height: 20px;"> <? echo $this->error_action_id; ?></div>
		</td>
	</tr>
	<tr>
		<td width="20%">
			<b><? echo $this->translate('xbdt action name') ?></b>
		</td>
		<td>
			<input type="text" name="name" tabindex="2" id="name" value="<? echo $this->name; ?>" style="width: 60%">
			<div class="error" style="margin:0px!important; height: 20px;"> <? echo $this->error_name; ?></div>
		</td>
	</tr>
	<tr>
		<td>
			<b><? echo $this->translate('xbdt action group name') ?></b>
		</td>
		<td>
			<input type="text" name="groupname" tabindex="3" id="groupname" value="<? echo $this->groupname; ?>"  style="width: 60%">
			<div class="error" style="margin:0px!important; height: 20px;"> <? echo $this->error_groupname; ?></div>
		</td>
	</tr>
	
	<tr>
		<td>
			<b><? echo $this->translate('available in contact form') ?></b>
		</td>
		<td>
			<select name="available">
				<option value="0" <?php if($this->available == "0"):?>selected="selected" <?php endif;?> >Nein</option>
				<option value="1" <?php if($this->available == "1"):?>selected="selected" <?php endif;?>>Ja</option>
			</select>
			
			<?php echo $this->formSelect('contact_form_block', $this->contact_form_block, null, $this->allowed_cf_blocks ) ?>
			<br/>&nbsp;<br/>
		</td>
	</tr>
	
	<tr>
		<td>
		
		</td>
		<td>
			<input type="submit" name="btnsubmit" id="btnsubmit" class="button" tabindex="16" value="<? echo $this->translate('submit') ?>">
		</td>
	</tr>
	
</table>
	</fieldset>
</form>
