<form action="" method="post" name="frmcontact" id="frmcontact">
<fieldset id="contact_formFieldset">
<legend id="contact_formLegend"><strong><? echo $this->translate('contactform')?></strong></legend>
<div id="contact_ErrorMessageDiv" class="err"><? echo $this->error_message_ok; ?></div>
<br />
  <p><? echo $this->translate('contactformmsg')?></p>
 
 <table>
 <tr>
 	<td valign="top"><label for="your_name" id="lbl_your_name"><? echo $this->translate('yourname')?></label></td>
 	<td valign="top"><input type="text" name="your_name" tabindex="1" id="your_name" value="<? echo $this->name ?>"></td>
 	<td valign="top"><div id="contact_ErrorNameDiv" class="error"> <?php echo $this->error_your_name ?></div></td>
 </tr>
 <tr>
 	<td valign="top"><label for="your_emailid" id="lbl_your_emailid"><? echo $this->translate('youremailid')?></label></td>
 	<td valign="top"><input type="text" name="your_emailid" id="your_emailid" tabindex="2" value="<? echo $this->emailid ?>"></td>
 	<td valign="top"><div id="contact_ErrorEmailIdDiv" class="error"><?php echo $this->error_your_emailid ?></div></td>
 </tr>
 <tr>
 	<td valign="top"> <label id="lbl_subject" for="subject"><? echo $this->translate('subject')?></label></td>
 	<td valign="top"><input type="text" name="subject" id="subject" tabindex="3" value="<? echo $this->subject ?>" ></td>
 	<td valign="top"><div id="contact_ErrorSubjectDiv" class="error"><?php echo $this->error_subject ?></div></td>
 </tr>
 <tr>
 	<td valign="top" width="150"><? echo $this->translate('message')?></td>
 	<td valign="top"><textarea name="message" id="message" tabindex="4" cols="35" lang="de" rows="5"><? echo $this->message ?></textarea></td>
 	<td valign="top"><div id="contact_otherErrorMessageDiv" class="error"><?php echo $this->error_message ?></div></td>
 </tr>
</table>
  
 <br />
 <label id="contact_SubmitBtn_Lbl"></label>
      <input type="submit" name="btnsubmit" id="btnsubmit" tabindex="5" class="button" value="<? echo $this->translate('submit') ?>">
	</fieldset>
</form>