<table width="100%" id="listforms_ContentTabel">
<tr id="listformsTr1">
	<td id="listformsTd1" valign="top">&nbsp;</td>
</tr>
<tr id="listformsTr2">
	<td id="listformsTd2" valign="top"><strong><? echo $this->translate('pdfbglist')?></strong> <a href="pdfbackground/adduserbackground"><? echo $this->translate('addpdfbackground')?></a></td>
</tr>
<tr id="listformsTr3">
	<td id="listformsTd3" valign="top">&nbsp;</td>
</tr>
<tr id="listformsTr4">
	<td id="listformsTd4" valign="top">
	 
	<div id="listforms_gridcontentDiv" class="grid">
<table width="100%" cellpadding="0" cellspacing="0" id="listforms_gridtable" class="datatable">
<tr>
	<th colspan="4"><b><? echo $this->user_name;?></b></th>
</tr>
<tr>
    <th>PDF Type</th>
    <th>Date</th>
    <th>View</th>
    <th>Delete</th>
</tr>
<?php foreach($this->user_background_details as $k =>$details): ?>
<tr class="row">
    <td valign="top"><? echo $details['pdf_type_master']; ?> - <? echo $details['pdf_type']; ?></td>
    <td valign="top"><? echo $details['date_added']; ?></td>
    <td valign="top"><a href="pdfbackgrounds/<? echo $details['client']; ?>/<? echo $details['user']; ?>/<? echo $details['id']; ?>_<? echo $details['filename']; ?>" targe="_blank">View</a></td>
    <td valign="top"><a href="pdfbackground/userbackgroundlist?delid=<? echo $details['id']; ?>" onclick="return confirm('Are you sure you want to delete?')"><img src="<? echo RES_FILE_PATH;?>/images/action_delete.png" border="0" /></a></td>
</tr>
<? endforeach; ?>
</table>
</div>
	</td>
</tr>
</table>