

table {
border-collapse:separate;
border-spacing:0pt;
}
caption, th, td {
font-weight:normal;
text-align:left;
}
blockquote:before, blockquote:after, q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
a{
cursor: pointer;
text-decoration:none;
}
br.both{
clear:both;
}
#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
/*background:#000000;*/
background: transparent;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
/*height:384px;
width:408px;
*/background:#FFFFFF;
	-moz-box-shadow: 3px  3px  3px  3px   #000;
	-webkit-box-shadow: 3px  3px  3px  3px   #000;
	box-shadow: 3px  3px   3px  3px   #000;
		-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
border:2px solid #000;
z-index:2;
padding:12px 12px 30px 12px;
font-size:13px;
min-width: 360px;
min-height: 115px;
}
#popupContact h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupContact b {
	float: left;
	height: 30px;
	display: block;
	margin: 0 10px 0 0
}
#popupContact textarea {
	float: left;
	width: 250px;
	height: 50px;
 
}
.koment-button{
	float: left;
	display: block;
	-moz-border-radius:5px 5px 5px 5px;
	background:-moz-linear-gradient(center top , #EEEEEE, #EEEEEE) repeat scroll 0 0 transparent;
	border:1px solid #CCCCCC;
	color:#333333;
	font-family:Arial,helvetica;
	font-size:14px;
	font-weight:700;
	padding:6px;
	margin:10px 0 10px 85px;
}
.koment-button2{
	float: left;
	display: block;
	-moz-border-radius:5px 5px 5px 5px;
	background:-moz-linear-gradient(center top , #EEEEEE, #EEEEEE) repeat scroll 0 0 transparent;
	border:1px solid #CCCCCC;
	color:#333333;
	font-family:Arial,helvetica;
	font-size:14px;
	font-weight:700;
	padding:6px;
	margin:-10px 0 10px 0px;
}
#popupContactClose{
font-size:20px;
line-height:20px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
#button{
text-align:center;
margin:100px;
}
 