<div id="dischargemethod_fetchlistMain" class="grid">
	<h1><? echo $this->translate('dischargemethod')?></h1>
	
	<table class="datatable" cellpadding="0" cellspacing="0" border="0" id="dischargemethod_fetchlistTable" >
		<tr id="disLoFet_TableTr_One">
			<th id="disLoFet_TableTr_One_thOne" class="sort<? echo $this->aborder ?>" ><a href="javascript:void(0);" onClick="ajaxCallserver({url:'dischargemethod/fetchlist?clm=ab&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('abbr') ?></a></th>
		    <th id="disLoFet_TableTr_One_thTwo" class="sort<? echo $this->desorder ?>" ><a href="javascript:void(0);" onClick="ajaxCallserver({url:'dischargemethod/fetchlist?clm=des&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('description') ?></a></th>
		    <th id="disLoFet_TableTr_One_thThree"><? echo $this->translate('edit') ?></th>
		    <th id="disLoFet_TableTr_One_thFour"><? echo $this->translate('delete') ?></th>
		</tr>
			<? echo $this->methodgrid ?>
		<tr id="disLoFet_TableTr_Two"><td id="disLoFet_TableTr_Two_tdOne" colspan="3" valign="top"><? echo $this->navigation ?></td></tr>
	</table>
	                     
</div>