/*ISPC-2782 CRISTI C. */

.settings-list {
    min-width: 1025px;
    padding: 40px 45px;    
}

.

div.collapse-item-header-wrapper {
    margin-bottom: 24px;
}

div.collapse-item-header {
    height: 40px;
    background: #F2F3F9;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #333333;
    display: block;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.collapse-item-header.collapsed.open {
	 background-image: url(../../images/main_navigation_img/expand-button.svg);
   background-position: 97%;
    background-size: 10px 10px;
    background-repeat:no-repeat;
    padding-right:20px;
    box-sizing: border-box;
}

.collapse-item-header.collapsed {
	 background-image: url(../../images/main_navigation_img/expand-arrow.svg);
	 background-position: 97%;
    background-size: 10px 10px;
    background-repeat:no-repeat;
    padding-right:20px;
    box-sizing: border-box;
}


div.collapse-item-header .right {
    display: inline-block;
    margin-left: 8px;
}

.collapse-item-menu li {
    width: 100%;
    display: flex;
    align-items: center;
}

.collapse-item-menu li span {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 30px;
    color: #333333;
    padding: 8px 10px 8px 16px;
}

.right img {
	padding-right:20px;
	display:block;
}


.infoGroup {
	max-width: 329px;
    width: 329px;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    text-align: left;
    display:block;
    position:relative;
    min-height: 46px;
    
}

 .arrow {
    position: absolute;
    display: block;
    width: .8rem;
    height: .4rem;
    top: 4px;
    background-color: transparent;
    left:158px;
}

.arrow:before {
    border-top-color: white;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: transparent;
    bottom: 0;
    border-width: 0 .6rem .6rem;
    position: absolute;
    content: "";
    border-style: solid;
    box-sizing: border-box;
}

.info-icon {
    width: 18px;
    height: 16px;
    display: block;
    background: url(../../images/main_navigation_img/info-icon.svg) no-repeat;
    background-size: cover;
    display:inline-block;
}

.infoGroup span {
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 30px;
    color: #333333;
    padding: 8px 10px 8px 16px;
}

.infoContainer {
	position: absolute;
    left: 100%;
    margin-left: -197px;
    top: 100%;
    z-index: 99;
    display:none;
    padding: 8px 10px 8px 16px;
}

.infoTooltip {
	position:relative;
	padding:0!important;
}

.infoTooltip .imgInfo:hover + .infoContainer {
	display:block;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
 	 width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
     box-sizing: border-box;
}


.col-4 {      
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
     box-sizing: border-box;
    
}


div.collapse-item-header-wrapper {
	 margin-bottom: 24px;
}

.collapse.collapse-item-body {
	display:none;
}

.collapse-item-menu a:hover {
	text-decoration:none!important;	
}

.collapse-item-menu a:hover  span {	
	color:#009FE4!important;
}

.imgInfo {
	width:16px;
	height:16px;
	background-image:url(../../images/question_gray.png);
	background-position:center center;
	background-size:cover;
	padding:0!important;
	display:inline-block!important;
}

.imgInfo:hover {	
	background-image:url(../../images/question.png);	
}

.right .imgInfo {
	margin-right:15px;
}

.settings-list {
	min-height:100vh;
	background-color:#F7F8FB;
	min-width:600px;
}

.collapse-item-menu {
	background-color:#fff;
	margin-top: 0;
    padding-left: 0;
}

#Wrapper {
	margin-bottom: 0!important;
    padding-bottom: 60px;
    background-color:#F7F8FB!important;
}
