body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:100%;
	clear:both;
}

.MarginZero {
margin:0px 0 0 1px;
}


.ClrBoth {
	clear:both;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
/* 	width:160px; */
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}

form label.lbl_big {
/* 	width:360px; */
}



form input, form textarea, form select {
	width:auto;
	margin:8px 0 0 10px;
}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
 
 
 
.anlage7plan{
	display: block; 
	float: left;
	width: 100%;
	height: auto;
	font-size:12px;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}
.period_selection {
	display: block;
	font-weight: 800;
	float: left;
	width: 100%;
	height: 40px;
}

.period_selection label{
	display: block;
	font-weight: 800;
	float: left;
	width: 35px;
	line-height: 25px;
}

.form_container{
	display: block; 
	float: left;
	width: 97.5%;
	height: auto;
	font-size:12px;
	padding: 10px;
	border: 1px solid #000;
}

table.anlage7table{
	width: 100%;
	height: auto;
	border-collapse: collapse;
}
table.anlage7table tbody{
	width: 100%;
	height: auto;
}
table.anlage7table h5{
	font-weight: 400;
}


table.anlage7actions{
	width: 100%;
	height: auto;
}
table.anlage7actions tbody{
	width: 100%;
	height: auto;
}
table.anlage7actions th{
	background : #f4f4f4;
	font-weight: 800;
	border: 1px solid #8f8f8f;
	text-align: left;
	padding:5px;
}

table.anlage7actions td{
	border: 1px solid #8f8f8f;
	padding:5px;
	text-align: center;
}

table.tsmall{
	width: 50%;
}

.brd_btt{
	border-bottom: 1px solid #000;
}





