body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
.MarginZero {
margin:0px 0 0 1px;
}
ul{
	list-style: none;
}

.ClrBoth {
	clear:both;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
	margin:8px 0 0 10px;
}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
}
form .error {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .NewError {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .contentlist {
	margin: 0;
	padding: 0;
	width:100%;
	display:block;
}
form .contentlistRight {
	width:auto;
	margin-left:20px;
}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	 
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
	
}
#analage {
	width:100%;
	height:auto;
}
#analage h1 {
	font-size:18px;
	margin-bottom:8px;
	padding-left:0px;
}
#analage p {
	font-size:13px;
	margin:0px;
}
#analage .form {
	width:450px;
	float:left;
	border:1px solid #FF0000;
	margin-top:10px;
	padding:10px;
	padding-bottom:0px;
	color:#FF0000;
}
#analage .form label {
	color:#FF0000;
	width:100%;
}
#analage .line {
	border-bottom:1px solid red;
	margin:0 -10px;
}
#analage .form .formleftdiv {
	float:left;
	width:200px;
	margin-top:10px;
}
#analage .form input {
	margin-left:0px;
}
#analage .form .formleftdiv .textArea {
	width:190px;
	margin-left:0px;
	margin-bottom:15px;
}
#analage .form .formrightdiv {
	float:right;
	width:150px;
	padding-top:40px;
}
#analage .form .formShortDiv {
	float:left;
	margin-top:5px;
}
#analage .form .VerLine {
	float:left;
	width:1px;
	height:30px;
	background:red;
	margin:40px 8px 0px 8px;
}
#analage .formRightContent {
	width:270px;
	float:left;
	margin-top:10px;
	padding-left:10px;
}
#analage .date_box {
	float:left;
}
#analage .date_box input {
	color:#666666;
	margin:0;
}
#analage .dateBoxRightDiv {
	width:300px;
	float:right;
	text-align:center;
	padding:5px 10px 0 10px;
	border-top:1px solid #CCCCCC;
	margin-right:20px;
}
.ort_datum {
	float: left;
}
.ort_datum b {
	float: left;
	font-weight: 400;
}
.ort_datum span {
	float: left;
	text-align: center;
	width: 200px;
	display: block;
/*	border-bottom: 1px solid #000;*/
}
.qpa  {
	width: 300px;
	float: right;
	line-height:22px;
	text-align: center;
	
}
.qpa b {
	float: left;
	font-weight: 400;
}
.qpa span {
	float: left;
	text-align: center;
	width: 220px;
	display: block;
	border-bottom: 1px solid #000;
}
.line_anlage4awl {
	margin-top: 15px;
}
.line_anlage4awl span{
	float: right;
	width: 95%;
	font-size: 14px;
 
}
.pkd  {
	width: 370px;
	float: right;
	line-height:22px;
	text-align: center;
	
}
.pkd b {
	float: left;
	font-weight: 400;
}
.pkd span {
	float: left;
	text-align: center;
	width:220px;
	display: block;
	border-bottom: 1px dashed  #000;
}