body {
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#4a565c;


}

.tab_container {
	border: 1px solid #e3e3e1;
/*	border-top: none;*/
/*	clear: both;*/
/*	float: left;*/
/*	margin:0 auto;*/
/*	padding:10px;*/
/*	width:760px;*/
}

ul {
	list-style:none;
}

#analage
{	width:100%;
	height:auto;
	font-size:14px;
	padding: 0 0 0 10px;
}

#analage h1
{	font-size:18px;
	margin-bottom:8px;
	padding-left:0px;
	
}

#analage h3
{	font-size:15px;
	margin:0;
	margin-bottom:8px;
	padding-left:0px;
	
}

#analage p
{	font-size:13px;
	margin:0px;
}

#analage .analage4
{	width:100%;
	float:left;
}

#analage .analage4 .analage4leftdiv
{	width:380px;
	float:left;
	margin:10px 20px 0 0px;
	
}
.analage4leftdiv label {
	height:30px;
	display: block;
}
.analage4leftdiv label input {
	height: 25px;
	width: 25px;
	display: block;
	float: left;

}
#analage .analage4 input
{	width:100%;
	height: 25px;
	margin:5px 0 0 0;
	padding:2px 0 2px 5px;
}

#analage .analage4 select
{	width:390px;
	float:left;
	padding:-5px 0px 0px 10px;
	margin:0;
	font-size: 14px;
}

#analage .analage4 select option
{	padding:2px 0 2px 10px;

}

#analage .analage4 label
{	width:100%;
	margin:0
}

#analage .analage4 .LargeDiv
{	width:780px;
	float:left;
	margin:10px 20px 0 0px;
	display:block;
}

#analage .analage4 .checkboxesdivOuter
{	width:260px;
	float:right;
	margin:10px 0 0 0;
}

#analage .analage4 .checkboxesdiv
{	float:left;
	width:52px;
	text-align:center;
}

#analage .analage4 .checkboxesdiv input
{	width:25px;
	height: 25px;
	margin:0;
}

#analage .analage4 .widthselectTitlediv
{	width:150px;	
}

#analage .analage4 .margin_top_zero
{	margin-top:0;
}

#analage .analage4 .textAlignCenter
{	text-align:center;
}

#analage .analage4 .marginRight
{ margin-right:0;
}

.ClrBoth {
	clear:both;
}

#analage .analage4 .width
{	width: 25px;
	margin: -5px 5px 0px  1px;
	
}
#anlage4_ReqdNdsirdDivList {
}
#anlage4_ReqdNdsirdDivList label {
	width: 100px !important;
	float: left;
}
.row_angl4{
	height: 25px;
	width: 100%;
}
 .row_angl4 input   {
	float: left;
	height: 25px;
	width: 25px !important;
	margin: -3px  5px 0 0 !important;
	display: block;
}
.row_angl4 label {
	float: left;
	width: 100px !important;
	margin: 0px !important;
}
.row_angl4_small{
	height: 35px;
	float: left;
	backgroun: #cdd;
	width: 150px;
}
 .row_angl4_small input   {
	float: left;
	height: 25px;
	width: 25px !important;
	margin: -3px  5px 0 0 !important;
	display: block;
}
.row_angl4_small label {
	float: left;
	width: 30px !important;
	margin: 0px !important;
}