
.tab_container {
	/*border: 1px solid #e3e3e1;*/
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:760px;
}

#analage
{	width:100%;
	height:auto;
}

#analage .pallnetz_topform
{	width:385px;
	float:left;
	border:1px solid #ff0000;
	margin-top:10px;
	margin-right: 20px;
	padding:10px;
	padding-top: 0px;
	padding-bottom:5px;
	color: #ff0000;
}

#analage .pallnetz_topform label
{	width:auto;
}

#analage .pallnetz_topform .redline
{	border-bottom:1px solid #ff0000;
	margin:5px -10px 0 -10px;
}

#analage .pallnetz_topform .formleftdiv
{	float:left;
	width:200px;

}

#analage .pallnetz_topform input
{	margin-left:0px;
	margin-top: 8px;
	width:102px;
}
#analage .pallnetz_topform input[name=krankenkassenmae]
{
	margin-bottom: 13px;
}
#Pallnet_NameInpt, #Pallnet_AddressInpt
{
	width: 200px;
}
#analage .pallnetz_topform input[name=pataddress]
{
	width: 200px;
}
#analage .pallnetz_topform .formleftdiv .textArea
{	width:180px;
	margin-left:0px;
	margin-bottom:5px;
}

#analage .pallnetz_topform .formrightdiv
{	float:right;
	width:130px;
	padding-top:25px;
}

#analage .pallnetz_topform .formShortDiv
{	float:left;
	/*margin-top:5px;*/
}

#analage .pallnetz_topform .VerLine
{	float:left;
	width:1px;
	height:25px;
	background:#ff0000;
	margin:35px 7px 0px 7px;
	margin-bottom:-5px;
}

#analage .thinline 
{
	height:2px;
	background: #000;
}
#analage .fatline 
{
	height:4px;
	background: #000;
}
#analage .interline 
{
	height:1px;
}
#analage .firsttitle 
{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
	lene-height: 1;
	text-align: center;
}
#analage .secondtitle 
{
	margin-top: 140px;
}
#analage .secondtitle span
{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	display: block;
}
#analage .secondtitle.big 
{
	margin-top: 540px;
	margin-bottom: 40px;
}
#analage .secondtitle span.smallletter
{
	font-size: 16px;
}
#analage .anlage3paragraph
{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 18px;
	line-height: 1.5;
}
#analage .anlage3paragraph.bordered
{
  border-top: 2px solid #000;
}
#analage ul.normalul {
    list-style-type: disc;
    margin-left: 60px;
    padding-top: 5px;
    font-size: 18px;
    line-height: 1.5
}
#analage .bulletline ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 18px;
    line-height: 1.5
}

#analage .bulletline ul li {
    padding-left: 16px !important;
}

#analage .bulletline ul li:nth-child(odd):before {
    content: "-" !important;
    padding-right: 8px !important;
    color: #000 !important;
}

#analage .bulletdisc ul {
    list-style: none !important;
    margin-left: 60px;
    padding-top: 5px;
    font-size: 18px;
    line-height: 1.5;
}

#analage .bulletdisc ul li:nth-child(odd):before {
    content: "\2022" !important;
    padding-right: 8px !important;
    color: #000 !important;
}
#analage .bulletline p 
{
	font-size: 18px;
	line-height: 1.5;
}
#analage .anlage3paragraph span
{
	display: inline-block;
	width: 45%;
}
