@CHARSET "UTF-8";


.just_a_headline {
    border:2px solid #000;
    background-color: #ebedb4;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top:15px;
}


/* form */
.assessmentproblems_form_class {
    
}

.assessmentproblems_form_class > table.SimpleTable{
    border:1px solid #bbb;
}

.assessmentproblems_form_class table.SimpleTable {
    width:100%;
}



.assessmentproblems_form_class .topic_row_main td {
    font-weight: bold;
    background-color: #ededed; /*#fdffc2*/
}

.assessmentproblems_form_class .topic_row_main.hasStatusdone td {
    background-color: #d4edda;
}
.assessmentproblems_form_class .topic_row_main.hasStatustodo td {
    background-color: #f8d7da;
}
.assessmentproblems_form_class .topic_row_main.hasStatusinprogress td {
    background-color: #fff3cd;
}



div.legend {
    font-weight:bold;
    font-size: 1.2em;
    padding: 10px 0;
}


table.align_center th{
    text-align:center;
}


.assessmentproblems_form_class button.qtip_toggler {
    float:right;
}


.assessmentproblems_form_class button.toggler_course{
    height: 25px;
    width: 25px;
    border: 0px;    
}
    
.assessmentproblems_form_class button.isShown {
    background: transparent url('../../images/ic_keyboard_arrow_up_48px.png') no-repeat center center;
}

.assessmentproblems_form_class button.isHidden{
    background: transparent url('../../images/ic_keyboard_arrow_down_48px.png') no-repeat center center;
}


.assessmentproblems_form_class button.add_new {
    background: transparent url("../../images/edit_add.png") 14px 50% no-repeat;
    
    min-width: 28px !important;
    height: 28px !important;
    padding-left: 35px;
    font-size: 14px;
    font-family: arial;
    font-weight: normal !important;
    text-indent: 14px;
    text-align: left;
    color: #000 !important;
    border: 0 !important;
    transition: all 0.3s ease;
}




.spinner_square {
  z-index:9999;
  width: 40px;
  height: 40px;
  background-color: #62BBE8;
  border:1px solid #fff;

  margin: 20px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}



.ui-widget-content li.autocomplete_category {
    opacity: 1;
    font-weight: bold;
    font-size: calc(100% + 2px);
    padding: 5px 2px;
}