
//sections table
table#date_table {
	margin-top: 10px;
	border: 1px solid #000;
}
.datatable td.date_table_cell {
	width: 25px;
	font-size: 14px;
	text-align: center;
	border: 1px solid #000;
}
.datatable td.no_border {
	border-top: 0;
	border-bottom: 0;
}
.datatable th.col_radio{
	width:150px;
}
.datatable th.col_description{
	width:600px;
}
.datatable td.col_radio{
	width:150px;
}
.datatable td.col_description{
	width:600px;
}

input.date_no_borders {
	width: 10px;
	background-color: #FFF;
	text-align: center;
	border: 0px;
	padding-right: 6px;
}

//file history
.contactform_dragvbox {
	margin: 5px 2px 20px;
	background: #fff;
	position: relative;
	border: 1px solid #d8d8d8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: auto;
	width: 99%;
}

.contactform_dragvbox h2 {
	display: block;
	width: 98.7%;
	margin: 0;
	font-size: 12px;
	padding: 5px;
	background: #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	cursor: pointer;
	color: #000;
}

.contactform_dragvbox_content {
	background: #fff;
	min-height: 50px;
	margin: 5px;
	font-size: 0.9em;
	line-height: 1.5em;
	width: 100%;
}

div.contactform_dragvbox_content table.datatable {
	width: 100%;
	line-height: 150%;
	margin-top: 20px;
}