body {
margin:0 auto;
font-family:"Arial", Helvetica, sans-serif;
font-size: 14px;
text-decoration:none;
font-weight:normal;
color:#4a565c;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
}
form {
	font:normal 14px "Arial", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
.bayMainOuterBlack_border{
	border: 1px solid #999;
}
.bay_emergencyform{
	margin: 0 10px 0 10px;
}

.header_table{
	width: 100%;
	text-align: center;
}
.header_table td{
	vertical-align: middle;
}
table.header_table td textarea{
	display: block;
	float: left;
	height: 80px;
	width: 100%;
}
#grids_layout_for_checkbox {
	width:100%;
	float:left;
	display:block;
	margin-top:10px;
	line-height:15px;
}
.patientinfo_table{
	width: 100%;
	text-align: center;
	border: 1px solid #e3e3e1;
		
}
/* .MarginZero {
	padding: 3px;
} */
.patientinfo_table tr{
	border: 1px solid #e3e3e1;
}
.patientinfo_table td{
	border: 1px solid #e3e3e1;
	padding: 2px;
	vertical-align: middle;
}
.patientinfo_table td input[type=text]{
	width: 95%;
	
}
.notfallmedikation_table {
	border: 1px solid #e3e3e1;
}
.notfallmedikation_table th{
	border: 1px solid #999;
	padding: 5px;
}
.notfallmedikation_table td input[type=text]{
	width: 90%;
	
	
}
.notfallmedikation_table td{
	padding: 5px;
	border: 1px solid #999;
	vertical-align: middle;
}
.yes_no{
	text-align: center;
}
.baynotfallplan_datum{
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}
.linebottom{
	margin-top: 50px;
	margin-left: 20px;
	width: 100px;
	border-bottom: 1px dashed #c4c4c4; ;
	
}
.baynotfallplan_unterschrift{
	margin-left: 20px;
	margin-top: 10px;
}

.ClrBoth {
	clear:both;
}
