table {
	width: 100%;
}
.mmi_search_button {
    padding: 1px;
    margin: 0px;
}
td label {
    font-size: 11px;
    line-height: 11px;
   /* font-weight: 800;*/
    display: inline-block;
    width: 100%;
}
input[type="text"].livesearchmedinp_fixedwidth {
		width:95% !important;
}
.medication_drug {
	width:95%;
}
.dosage_inptuts {
	width:90%;
}
.indication_color_select {
	width:95%;
}
input[name="userdrop"] {
		width:110px !important;
}
#isbedarfs_med_table th {
    line-height: 150%;
    border: 1px solid #bbb !important;
    border-left: 0px;
    padding: 0 5px 0 2px !important;
    background-color: #f3f3f3 !important;
    font-size: 12px !important;
    font-weight: 800 !important;
}
.medi_child_toggle_td_arrow {
    background: #f3f3f3 url('../../images/ic_keyboard_arrow_down_48px.png') no-repeat center right;
}
 #isbedarfs_med_table td {
    cursor: pointer;
    padding: 2px !important;
    line-height: 150%;
    border: 1px solid #eee !important;
    vertical-align: top;
 }
#isbedarfs_med_table td {
    background: #fff;
  }
#isbedarfs_med_table td.medi_child_toggle_td {
    background-color: #f3f3f3;
    font-size: 12px;
    font-weight: 800;
}
td.border_bottom_solid {
    border-bottom: 2px solid #000;
}
.no_bottom_border {
    border: 0;
}
.div_float_left_extra {
    float: left;
    width: 110px;
    padding: 2px;
}
#isbedarfs_med_table td select {
    display: inline-block;
    width: 110px;
}
.small_input {
    width: 90% !important;
}
tbody > tr:nth-of-type(2n+1) {
    background-color: #f8f8f8;
}
fieldset {
	padding: 1px !important;
}
.med_com_textarea {
    width: 95%;
    /*height: 57px;*/
}
.ui-wrapper {
    min-width: 250px !important;
}
/* .pi_right_col { */
/*     overflow: hidden; */
/*     padding: 0 0 0 10px; */
/* } */
/* .pi_leftcol { */
/*     float: left; */
/*     min-width: 260px !important; */
/*     width: 260px; */
/* } */
.rotate180 .medi_child_toggle_td_arrow {
	background: #f3f3f3 url('../../images/ic_keyboard_arrow_up_48px.png') no-repeat center right;
}
.no_bottom_border td.border_bottom_solid {
	border: 0;
}
.tab_container{
	width: 80%;
}
