/*body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}*/
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:780px;
}
.left {
	float:left;
}
.ClrBoth {
	clear:both;
}
#Bhandlungsvrtrg {
	width:100%;
	font-size:17px;
	color:#000000;
	padding:15px;

}
#Bhandlungsvrtrg h1 {
	margin:0;
	padding:0;
	font-size:25px;
	font-weight:bold;
	padding-bottom:23px;
	text-align:center;
	color:#000000;
}
#Bhandlungsvrtrg h2 {
	margin:0;
	padding:0;
	font-size:17px;
	font-weight:bold;
	color:#000000;
}
#Bhandlungsvrtrg h3 {
	margin:0;
	padding:0;
	font-size:19px;
	font-weight:bold;
	text-align:center;
	padding-bottom:15px;
	color:#000000;
}
#Bhandlungsvrtrg h4 {
	margin:0;
	padding:0;
	font-size:17px;
	font-weight:normal;
	text-align:center;
	padding-bottom:50px;
	color:#000000;
}
#Bhandlungsvrtrg_Cntent {
	width:100%;
	display:block;
}
.LftBx {
	width:auto;
	float:left;
}
.BtmMrgn {
	margin-bottom:13px;
}
#OrtDiv {
	margin-top:50px;
	display:block;
}
.DatumLeft {
	width:auto;
	float:left;
	margin-right:8px;
}
.DatumRight {
	width:auto;
	float:right;
	text-align:right;
	margin-right:47px;
}
.TxtDiv {
	margin-top:50px;
}
.BhandlungsvrtrgList ul {
	margin:0px;
	padding:0px;
	list-style:none;
	margin-left:40px;
	margin-top:18px;
}
.BhandlungsvrtrgList ul li {
	background: url(../../images/pdf-arrow.jpg) no-repeat 0 2px;
	padding-left:28px;

}
.LiTxt {
	margin-left:150px;
	padding-top:5px;
}
.txtright {
text-align:right;
}