@CHARSET "UTF-8";

table.dataTable tbody tr.even{

	background-color: #F0F7FB;
}


table.dataTable tbody tr.odd{
	
}


#correction_dialog .correction_info{
	line-height: 1.2;
}

#correction_dialog .correction_amount label{
	font-weight:bold;
}


.btm_history_table_medications td {
	vertical-align : top;
}

.btm_history_table_medications td label {
	margin:0;
}
	
.btm_history_table_medications td label input{
	float:left;
	width:30px;
}

div.dataTables_processing { 
	height: 100%!important; 
	top:0!important; 
	font-weight:bold; 
}
	