.noborder{
	border:0!important;
}
.nobottomborder{
	border-bottom:0!important;
}
.alignright{
	text-align:right!important;
}
.alignleft{
	text-align:left!important;
}
.lheight26px{
	line-height: 26px;
}

table.care_services_table{
	width:80%;
	border-collapse: collapse;
}
.care_service_date{
	background: #fff;
	border: 0px;
	width: 75px;
}

table.care_services_table>tbody>tr:HOVER {
	background-color: #e5e5e5;
}

table.care_services_table th{
	font-weight: 800;
	text-align:center;
	border:2px solid #000;
	height: 25px;
}
table.care_services_table td.border-left{
	border-left:2px solid #000;
}
table.care_services_table td.border-right{
	border-right:2px solid #000;
}

table.care_services_table td{
	text-align:center;
	border:0px;
	border-bottom: 1px solid #ccc; 
}
table.care_services_table td input {
	float: left;
	margin-left:3px;
}


table.care_services_table td input[type="text"] {
	width:40px;
	margin-left:3px;
}

table.care_services_table td input[type="checkbox"] {
	margin-left:6px!important;
	margin-top:6px!important;
}

table.care_services_table td.empty{
	width:3%;
	border:0px;
	border-bottom: 1px solid #ccc; 
}
table.care_services_table td.groups{
	width: 30%;
	text-align:left;
	line-height:26px;
	border-bottom: 1px solid #ccc!important; 
}
table.care_services_table td.items{
	line-height:22px;
	text-align:left;
	vertical-align: top;
}
table.care_services_table td.indent{
	text-indent: 30px;
}