body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

#careregulationnew_form {
	float: left;
}

#careregulationnew_form input {
	padding: 4px 2px 4px 2px;
}

#careregulationnew_form .page1{
	background: url('../../images/forms_images/careregulationnew/page1.jpg') no-repeat;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-botttom: 10px;
	padding-top: 23px;
}

#careregulationnew_form .page2{
	background: url('../../images/forms_images/careregulationnew/page2.jpg') no-repeat;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-botttom: 10px;
	padding-top: 17px;
	width: 100%;
}

#careregulationnew_form .kvheaderform {
	border-color: transparent;
	width: 38%;
	margin-left: 25px;
}

#careregulationnew_form .header2 {
	width: 68%;
	margin-left: 25px;
	padding-top: 10px;
}

#careregulationnew_form .application {
	width: 100%;
	padding-left: 25px;
}

#careregulationnew_form .page2 .div56{
	width: 56%;
	float: left;
}

#careregulationnew_form .page2 .div20{
	width: 20%;
	float: left;
}

#careregulationnew_form .page2 .div22{
	width: 22%;
	float: left;
}

#careregulationnew_form .page2 .div23{
	width: 23%;
	float: left;
}

#careregulationnew_form .page2 .div36{
	width: 36%;
	float: left;
}

#careregulationnew_form .page2 .div63{
	width: 63%;
	float: left;
}

#careregulationnew_form .page2 .div12{
	width: 12%;
	float: left;
}

#careregulationnew_form .page2 .div51{
	width: 51%;
	float: left;
}

#careregulationnew_form .page2 .div59{
	width: 59%;
	float: left;
}

#careregulationnew_form .page2 .div3{
	width: 3%;
	float: left;
}

#careregulationnew_form .page2 .div6{
	width: 6%;
	float: left;
}

#careregulationnew_form .page2 .div92{
	width: 92%;
	float: left;
}

#careregulationnew_form .page2 .enddiv{
	float: left;
}

#careregulationnew_form .page2 textarea, #careregulationnew_form .page2 input[type="text"]{
	width: 99%;
}

#careregulationnew_form .page2 textarea {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px 1px 0px 1px;
	line-height: 14px;
}

/* TODO-2851 ISPC: Font size */
#careregulationnew_form .kvheaderform input, #careregulationnew_form .kvheaderform textarea {
	font-size: 12px;
	line-height: 13px;
}

.kvheaderform input.formular_date{
	width: 73%!important;
}
/* --  */

#careregulationnew_form .kvheaderform label, #careregulationnew_form .kvheaderform .verline, #careregulationnew_form .kvheaderform .innerline{
	display: none;
}

#careregulationnew_form .kvheaderform .formleftdiv {
    margin-top: 12px;
    margin-bottom: 20px;
}

#careregulationnew_form .kvheaderform .formrightdiv {
    margin-top: 33px;
    margin-bottom: 20px;
    padding-top: 0px;
    width: 28%;
}

#careregulationnew_form .kvheaderform .formlongdiv {
    margin-right: 2px;
    margin-top:  8px;
}

#careregulationnew_form .kvheaderform .formshortdiv {
    width: 28%;
    margin-top:  8px;
}

#careregulationnew_form .kvheaderform .formshortdiv img{
    width: 14px;
    height: 14px;
}

#careregulationnew_form .kvheaderform .pat_number{
    width: 42%;
}

#careregulationnew_form .kvheaderform .stat{
    width: 20%;
}

#careregulationnew_form .toprightform {
	float: left;
	width: 56%;
	margin-top: 37px;
	margin-left: 20px;
	margin-right: -20px;
	padding: 2px;
}

#careregulationnew_form input, #careregulationnew_form textarea {
	background: transparent;
	border: 0px;
}

#careregulationnew_form input[type="checkbox"]
{
	width: 16px;
	height: 16px;
}

#careregulationnew_form .toprightform input, #careregulationnew_form .toprightform textarea {
	width: 94%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px 1px 0px 1px;
}

#careregulationnew_form .toprightform textarea {
	margin-top:30px;
	line-height: 28px;
}

#careregulationnew_form .toprightform .icdshort{
	width: 20.6%;
	padding: 5px;
}

#careregulationnew_form .regtopform {
	width: 38%;
	margin-left: 25px;
	margin-top: -6px;
	float: left;
	padding-top: 2px !important;
}

#careregulationnew_form .regtopform .formlongdiv {
    /* margin-right: 2px;
    padding: 3px 3px 3px 5px; */
    width: 114px;
    float: left;
}

#careregulationnew_form .regtopform .extralong {
   /*  margin-right: 2px;
    padding: 3px 3px 3px 5px; */
    width: 121px;
}

#careregulationnew_form .regtopform .extratopmarg {
   /*  margin-right: 2px;
    padding: 3px 3px 3px 5px; */
    margin-top: 8px;
}

#careregulationnew_form .extrainsul {
	margin-top: 8px !important;
}

#careregulationnew_form .extranewapp {
	margin-top: 6px !important;
}

#careregulationnew_form .regtopform .formshortdiv {
    width: 75px;
	float: left;
	/* padding: 3px 3px 3px 17px; */
}

#careregulationnew_form .fromtoform {
	float: left;
	width: 56%;
	margin-top: -6px;
	margin-left: 30px;
	margin-right: -30px;
	padding: 0px 2px 0px 2px;
}

#careregulationnew_form .fromtoform .fromto{
	width: 25%;
	padding: 5px;
	margin-left: 31px;
	font-size: 13px;
	letter-spacing: 11px;
}

#careregulationnew_form .careform {
	width: 100%;
	/*margin-top: 31px;*/
}

#careregulationnew_form .careleft {
	margin-left: 65px;
	margin-right: 5px;
	margin-top: -3px;
	width: 65%;
	float: left;
}

#careregulationnew_form .extracaremed4 {
	margin-top: -1px;
}

#careregulationnew_form .extrainject {
	margin-top: -2px;
}

#careregulationnew_form .extraright {
	margin-top: 3px !important;
}

#careregulationnew_form .extraleft {
	margin-top: 3px !important;
}

#careregulationnew_form .extraboth {
	margin-top: 3px !important;
}

#careregulationnew_form .extraattr {
	margin-top: 3px !important;
}

#careregulationnew_form .extraincr {
	margin-top: -5px !important;
}

#careregulationnew_form .extradecr {
	margin-top: -5px !important;
	margin-left: -3px;
	margin-right: 3px;
}

#careregulationnew_form .extrawound7 {
	margin-top: -2px !important;
}

#careregulationnew_form .extrabasic4 {
	margin-top: 4px !important;
}

#careregulationnew_form .extrabasic3 {
	margin-top: 4px !important;
}

#careregulationnew_form .careleft textarea {
	line-height: 28px;
	margin-top: 15px;
	width: 99%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px 1px 0px 1px;
}

#careregulationnew_form .frequencyform {
	width: 24%;
	float: left;
}

#careregulationnew_form .separator {
	width: 100%;
}

#careregulationnew_form .careright {
	width: 24%;
	float: left;
}

#careregulationnew_form .page1 .careright select {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    height: 24px !important;
}

#careregulationnew_form .page2 .careright select{
	margin-top: 1px !important;
	margin-bottom: 1px !important;
	height: 23px !important;
}

#careregulationnew_form .careform .prep_med {
	margin-left: 36%;
	width: 63%;
}

#careregulationnew_form .careform input[type="text"] {
	/* width: 100%; */
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #000;
	line-height: 1.34;
	border: 0px;
	display: block;
}

#careregulationnew_form .careform .medlongdiv {
	width: 37%;
	float: left;
}

#careregulationnew_form .careform .halfdiv {
	width: 56% ;
	float: left;
}

#careregulationnew_form .careform .enddiv {
	float: left;
}

#careregulationnew_form .careform .div14 {
	width: 14%;
	float: left;
}

#careregulationnew_form .careform .div15 {
	width: 15%;
	float: left;
}

#careregulationnew_form .page2 .div15 {
	width: 15%;
	float: left;
}

#careregulationnew_form .careform .div26 {
	width: 26%;
	float: left;
}

#careregulationnew_form .page2 .div26 {
	width: 26%;
	float: left;
}

#careregulationnew_form .careform .div25 {
	width: 25%;
	float: left;
}

#careregulationnew_form .page2 .div25 {
	width: 25%;
	float: left;
}

#careregulationnew_form .careform .medshortdiv {
	width: 24%;
	float: left;
}

#careregulationnew_form .careform .div43 {
	width: 43%;
	float: left;
}

#careregulationnew_form .careform .div32 {
	width: 32%;
	float: left;
}

#careregulationnew_form .careform .div67 {
	width: 67%;
	float: left;
}

#careregulationnew_form .careform .div28 {
	width: 28%;
	margin-right: 2px;
	float: left;
}

#careregulationnew_form .careform .div19 {
	width: 19%;
	 margin-right: 8px;
	float: left;
}

#careregulationnew_form .careform .div18 {
	width: 18%;
	float: left;
}

#careregulationnew_form .careform .fulldiv {
	width: 100%;
	float: left;
}

#careregulationnew_form .careform .div59 {
	width: 59%;
	float: left;
	padding-left: 5%;
}

#careregulationnew_form .careform .ipad {
	margin-top: 39px !important;
}

#careregulationnew_form .careform .ipad_appoint {
	padding-top: 10px !important;
}

#careregulationnew_form .careform .ipad_basic_1 {
	padding-top: 46px !important;
	margin-top: -7px!important;
}

#careregulationnew_form .page2 .ipad_appl {
	padding-top: 48px !important;
}

#careregulationnew_form .page2 .ipad_appl_8 {
	padding-top: 10px !important;
}

#careregulationnew_form .page2 .ipad_inf_7 {
	padding-top: 19px !important;
}

#careregulationnew_form .careform .ipad_wound_12 {
	padding-top: 5px !important;
}

.stamp_alert, .stamp_alert_repr, .stamp_alert_pfle {
	color: #ff0000;
	display: block;
	float: right;
	width: 100%;
	text-align: center;
}

#stampusers_doct, #stampusers_repr, #stampusers_pfle {
	width: 100% !important;
}

#user_stamp_block, #user_stamp_block_repr, #user_stamp_block_pfle {
	width: 100% !important;
	padding-top: 6px;
	width: 99%;
	text-align: center;
}
#user_stamp_block span, #user_stamp_block_repr span, #user_stamp_block_pfle span {
    border: 0px !important;
    background: #FFFFFF !important;
    font-size: 10px;
    height: 110px;
    margin: 0px;
    line-height: 1.5;
}

#careregulationnew_form .application .ipad_appl_data {
	margin-top: -16px;
}

#careregulationnew_form .information .ipad_from_to {
	padding-top: 61px !important;
}

#careregulationnew_form .information .ipad_4, #careregulationnew_form .careform .ipad_4 {
	margin-top: -4px;
}

#careregulationnew_form .application .fromtoform {
	float: left;
	width: 56%;
	margin-left: 34%;
	padding: 2px;
}

#careregulationnew_form .page2 .stampleft {
	float: left;
	width: 63%;
}

#careregulationnew_form .page2 .div49 {
	float: left;
	width: 49%;
}

#careregulationnew_form .application .fromtoform .fromto{
	width: 38%;
	padding: 8px;
	margin-left: 31px;
	font-size: 13px;
	letter-spacing: 11px;
}

#careregulationnew_form .application .div12 .appldec{
	width: 92%;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	font-size: 13px;
	letter-spacing: 11px;
}

#careregulationnew_form .information {
	width: 100%;
	padding-left: 25px;
}

#careregulationnew_form .information input {
	width: 99%;
}

#careregulationnew_form .information .div63 {
	width: 63%;
	float: left;
}

#careregulationnew_form .information .div22 {
	width: 22%;
	float: left;
}

#careregulationnew_form .information .div31 {
	width: 31%;
	float: left;
}

#careregulationnew_form .information .div12 .appldec{
	width: 92%;
	padding-left: 10px;
	padding-right: 8px;
	padding-bottom: 8px;
	font-size: 13px;
	letter-spacing: 11px;
}

#careregulationnew_form .information .div22 .appldec{
	width: 92%;
	padding-left: 10px;
	padding-right: 8px;
	padding-bottom: 8px;
	font-size: 13px;
	letter-spacing: 11px;
}

#careregulationnew_form .information .fromtoform {
	float: left;
	width: 56%;
	margin-left: 23%;
	padding: 2px;
}

#careregulationnew_form .information .fromtoform .fromto{
	width: 38%;
	padding: 8px;
	margin-left: 31px;
	font-size: 13px;
	letter-spacing: 11px;
}

#careregulationnew_form .clear {
	clear: both;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin: 0 auto;
	width: 100%;
}
  
input.datepick {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 80px!important;
}
input#sgbv_valid_from {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 80px!important;
}
input#sgbv_valid_till {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 80px!important;
}
input.action_datepick {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 65px!important;
}
input.action_date {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 65px!important;
}


input.approve_datepick {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 65px!important;
}
 
#careregulationnew_form {
	width: 100%;
	height: auto;
	margin:auto;
}

#careregulationnew_form h1 {
	font-size: 18px;
	margin-bottom: 8px;
	padding-left: 0px;
}

#careregulationnew_form h3 {
	font-size: 15px;
	margin: 0;
	margin-bottom: 8px;
	padding-left: 0px;
}

/* ################################################ */
#careregulationnew_form .right_heading {
	width: 51%;
	float: right;
	margin-left: 5px;
}

.right_heading h2 {
	font-size: 22px;
	line-height: 25px;
	margin-top: 0;
	margin: 0;
	font-weight: normal;
	text-align: left;
	color: #000;
}

.right_heading input {
	
}
 
.red_alert{
	width:100%; 
	border: 2px solid red; 
	text-align: center;
}
	 
#careregulationnew_form .rcb_img {
    
   background: url(../../images/muster/checkboxmark.png) no-repeat center center;
}

#careregulationnew_form .no_img {
  
  background:none;
}

#careregulationnew_form .dummy
{
	/* width: 23px;
	height: 23px;
	display: block;
	border: 1px solid #ce6370; */
	width: 25px;
	height: 25px;
	display: block;
	border: 1px solid #ce6370;
	border: 0px;
	box-sizing: border-box;
}
