/*modified for TODO-2888 by Carmen 12.02.2020*/
.form_header{
	width: 100%;
	 
}
.form_header td{
	border: 1px solid #000;
	vertical-align: top;
	padding: 2px;
}
.form_header td table {
	width:100%;
	margin:0px!important;
}
.form_header td table td{
	border:0;
}
.form_header  td textarea{
	width:98%;
}

.big_empty_row{
	height: 20px; 
}
.medium_empty_row{
	height: 20px; 
}
.special_address{
	
}
.special_address mark{
/* 	background-color: #00ff00; */
/*     color: black; */
}

.form_row{

}
.form_row h3{
	display: block;
	font-weight: 900;
	color: #000;
	font-size: 14px;
	
}
.form_row label{
	font-weight: 400;
}
.form_row .chambers_chk {
	
}
.chambers_chk label, .preparation_chk label{
	margin: 10px;
	line-height: 26px;
}
 

.bottom_table{
	width: 100%;
}
.form_buttons{
	margin-top:30px;
	width: 100%;
}
 .master_label{ 
display: block; 
 	float: left;
 	line-height: 24px; 
 } 
 
 .infusion_checkboxes {
 	width: auto;
 	display: block;
 	float: left;
 }
 .infusion_checkboxes label{
 	margin-left:30px;
 	vertical-align: middle;
 }
 .other_reason textarea{
 	width: 98%;
 }
 .delete_row{
 }
 .cp_free {
 	width: 100%;
 	
 	line-height: 24px; font-size: 12px;
 }
 
 .cp_free input{
 	width: 97%;
 }
 
 .form_alert_info{
 	width:95%;
 	height: 30px;
 	padding: 0!important;
 }
 .form_alert_info p{
 	height: 30px;
 	margin-top:18px;
 	margin-left:45px;
 }
 .new_button{
 float:right;
 font-size: 18px;
color: #555;
padding: 5px;
border: 1px solid #bbb;
background-color: #f2f2f2;
 }
 
.selected_form td{
	background: #f2f2f2;
 	font-weight: bold; 
 	font-style: italic; 
} 
  
 .special_multi_chk_line{
 	display: block;
 	float: left;
 	width: 100%;
 	margin-bottom:5px;
 }
 
 .special_multi_chk_line input{
 	display: block;
 	float: left;
 	text-align: left;
 	margin-right:5px;
 }
 .special_multi_chk_line label{
 	display: block;
 	float: left;
 	width: 95%;
 	margin-top: 4px;
 }
 .form_header tr:nth-child(5) input
 {
 	width: 97%;
 }
 .preparation_chk h3 {
 	display: inline-block;
 }
 