body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
* {
/*	border: 1px solid red;*/
}
.ClrBoth {
	clear:both;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
}
.MarginZero {
	margin:0px 0 0 1px;
}
#dgpkvnoanlage7form form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
#dgpkvnoanlage7form form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
#dgpkvnoanlage7form form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
#dgpkvnoanlage7form form label {
	display: block;
	float: left;
	width:auto;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}
#dgpkvnoanlage7form form input, #dgpkvnoanlage7form form textarea, #dgpkvnoanlage7form form select {
	width:auto;
	margin:5px 0 5px 10px;
}
#dgpkvnoanlage7form form select{
width: 97%;
	}
#dgpkvnoanlage7form form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
#dgpkvnoanlage7form form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
#dgpkvnoanlage7form form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
#dgpkvnoanlage7form form .required {
	font-weight:bold;
}
#dgpkvnoanlage7form form br {
	clear:left;
}
#dgpkvnoanlage7form form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
#dgpkvnoanlage7form form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


#dgpkvnoanlage7form form .checkbox {
	width:100%;
	padding-top:5px;
}
#dgpkvnoanlage7form form .checkbox {
	width:200px;
}
.gray_tdheader{
	background: #ddd;
	color: #000;
	height: 30px;
	font-size: 18px;
	font-weight: bold;

}
.anlage_table_header{
	font-size: 18px
}
.anlage_master_table{
	font-size: 14px;
	color:#000;
	border:0px;
	line-height: 26px;


}



 .anlage_second_table  td
{
border: 1px solid #333;
	vertical-align : top;
}
 .anlage_second_table  td table td
{
border: 0px solid #333;
}
.input_select{
width: 94%;
}
.input_textarea{
width: 95.5%;
}
.input_select2{
width:76%;
}
input[type="radio"]{
	margin: 0 5px -2px 0;
}
.mglft {
	margin-left: 10px;
}