/* ISPC-2247 */
body {
	

}

.ipad_chk
{
	width: 21% !important;
}

.ipad_text
{
	width: 70% !important;
}

.ipad_label
{
	height: 32px !important;
	line-height: 32px !important;
}
/*ISPC-2554*/
#medfreq input[type="checkbox"] {
    width: 22px !important;
    height: 22px !important;
}

#medfreq .rowdiv {
    overflow-y: scroll;
	height: 300px;
}
