@CHARSET "UTF-8";

.etchicaltitle{
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	text-decoration: underline;
	padding-buttom: 10px;
	height: 70px;
}
.etchical_paragraf{
	height: 55px; font-size: 1.3em;
}
.ethical_td_nr{
   height:20px;
   width:25px;
   font-weight: bold; 
   font-size: 1.5em;
   text-align: justify;
}
.group_td_title{
	height:20px;
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;"
	line-height:1.2em;
}
.span_ethical_title{
	text-decoration: underline;
	line-height:1.2em;
}
.td_radio{
	height:5px;
	width:25px;
	font-weight:normal;
	font-size: 1.5em;
	text-align: justify;
}
.span_radio{
	text-decoration: none;pading-right:10px;
}
.span_title{
	text-decoration: none;
}
.td_title{
	height:5px;
	font-weight:normal;
	font-size: 1.2em;
	text-align: left;"
	line-height:1.2em;
}
.td_title_bold{
	height:5px;
	font-weight:bold;
	font-size: 1.2em;
	text-align: justify;"
	line-height:1.2em;
}
.td_title_mod{
	height:5px;
	font-weight:normal;
	font-size: 1.2em;
	text-align: left;
	line-height:1.2em;
}
.date{
	width:10%;
}
.line_overline{
	text-decoration: overline;
	padding:5px;
	font-size:10px;
}