body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin: 0 auto;
	padding: 10px;
	width: 790px;
}

.left {
	float: left;
}

.right {
	float: right;
}

#Evaluation {
	width: 100%;
	height: auto;
	display: block;
	padding: 10px;
}

#Evaluation label {
	width: auto;
	padding: 0;
	margin: 0 2px 0 0;
	text-align: left;
}

#Evaluation .InfoSection {
	width: 400px;
	margin-right: 20px;
	height: auto;
	float: left;
	line-height: 26px;
	border: solid 1px #000;
}

.InfoDiv {
	margin-right: 10px;
	padding: 5px 0px 0px 10px;
	display: block;
}

.InfoDivNew {
	margin-right: 10px;
	padding: 10px 0px 8px 10px;
	display: block;
}

.Infoleft {
	width: 220px;
	margin-right: 10px;
	float: left;
	height: auto;
}

.Inforight {
	width: 110px;
	float: left;
}

#Evaluation .HeadingSection {
	width: 320px;
	height: auto;
	float: right;
	margin-right:10px;
	display: block;
}


#Evaluation #betriebsstatten_nr {
	width: 95px;
}

#Evaluation #institutskennzeichen {
	width: 95px;
}

#Evaluation #kassen_nr {
	width: 100px;
}

.HeadingSection .vom {
	width: auto;
	float: left;
	line-height: 18px;
	margin-top: 15px;
	margin-right: 5px;
}

#Evaluation .HeadingSection h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #4f5456;
	margin: 0;
	padding: 0;
}

#Evaluation .HeadingSection h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	color: #686b6c;
	margin: 0;
	padding: 0;
}

.MarginZero {
	margin: 0px 0 0 1px;
}

#Evaluation .InfoSectionBottom {
	width: 400px;
	height: auto;
	line-height: 26px;
	/*border-top:solid 1px #ccd4d6;*/
	border-top: solid 1px #000;
	float: left;
	margin: 0;
	padding: 0;
}

#Evaluation h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: underline;
	color: #4f5456;
	margin: 0;
	padding: 0;
	padding-top: 10px;
}

.patinfosection {
	width: 100%;
	height: auto;
	font-size: 12px;
	float: left;
}

.patientenid {
	width: 220px;
	display: block;
	float: left;
}

.patientenid label {
	margin: 0 2px 0 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.patientenid input {
	float: left;
	width: 100px;
}

.patgenders {
	width: 180px;
	display: block;
	float: left;
}

.patgenders span.gendersex {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.patgenders label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.patgenders input {
	float: left;
	margin-right: 5px;
}

.patage {
	width: 140px;
	display: block;
	float: left;
}

.patage span.patalter {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
}

.patage span.years {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.patage input {
	width: 50px;
	float: left;
	margin-right: 3px;
	margin-left: 1px;
}

.sapvbegin {
	width: 230px;
	display: block;
	float: left;
}

.sapvbegin label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.sapvbegin input {
	float: left;
/*	width: 80px;*/
	width: 65px;
}

.pat_icds {
	width: 100%;
	height: auto;
	font-size: 12px;
}

.pat_icds label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.pat_icds input {
	width: 590px;
}

.sidediagnos {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.sidediagnos label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
	font-weight: 800;
}

.sidediagnos input {
	width: 462px;
}

.erstverordnung {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
	float: left;
	padding:0;
	margin:0;
}

.erstverordnung table {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.erstverordnung span {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
	font-weight: 800;
	width: 180px;
}

.erstverordnung label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.erstverordnung input {
	float: left;
	margin-right: 4px;
}

.erstverordnung ul {
	list-style: none;
	float: left;
	display: block;
	margin:0;
	padding:0;
}

.erstverordnung ul li {
	float: left;
	width: 130px;
}
.erstverordnung ul.druch {
	list-style: none;
	float: left;
	display: block;
	margin:0;
	padding:0;
}

.erstverordnung ul.druch li {
	float: left;
	width: 180px;
	display: block;
}
.erstverordnung ul.druch li.hideelement{
	display: block;
}

.erstverordnung ul.Wohnsituation {
	list-style: none;
	float: left;
	display: block;
	margin:0;
	padding:0;
}

.erstverordnung ul.Wohnsituation li {
	float: left;
	width: 180px;
	display: block;
}
.erstverordnung ul.Wohnsituation li.hideelement{
	display: block;
}

 .showelement{
 	display: none;
 }

.pflegestufetop {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.pflegestufetop span.Pflegestufespn {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
	font-weight: 800;
	width: 170px;
}

.pflegestufetop span.pflegestufe_kein {
	float: left;
}

.pflegestufetop span.pflegestufe_kein label {
	display: block;
	float: left;
}

.pflegestufetop span.pflegestufe_nr {
	float: left;
	width: 50px;
}

.pflegestufetop span.hoherstufung {
	display: block;
	text-align: right;
	line-height: 42px;
	color: #4a565c;
	width: 170px;
	float: left;
}
.pflegestufetop span.hoherstufung_second {
	display: block;
	text-align: right;
	line-height: 42px;
	color: #4a565c;
	width: 160px;
	float: left;
}

.pflegestufetop span.pflegestufe_beantragt {
	float: left;
}

.pflegestufetop span.pflegestufe_beantragt2 {
	float: left;
	width: 98px;
}

.pflegestufetop span.pflegestufe_nicbeantragt {
	float: left;
}

.pflegestufetop label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.pflegestufetop input {
	float: left;
	margin-right: 3px;
}

.ErwartungdesPat {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.ErwartungdesPat label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.ErwartungdesPat input {
	float: left;
	margin-right: 3px;
}

.ErwartungdesPat span.ErwartungdesPat_spn {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
	font-weight: 800;
	width: 233px;
}

.ErwartungdesPat span.ErwartungdesPat_keine {
	float: left;
	width: 120px;
}

.ErwartungdesPat span.ErwartungdesPat_sonstiges {
	width: 270px;
	float: left;
	display: block;
}

.ErwartungdesPat input {
	width: 175px;
	float: left;
}

.SAPVBehandlungsziel {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.SAPVBehandlungsziel label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.SAPVBehandlungsziel span {
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
}

.SAPVBehandlungsziel input {
	float: left;
	margin-right: 3px;
}
.SAPVBehandlungsziel ul {
	float: left;
	list-style: none;
}
.SAPVBehandlungsziel ul.sapvt {
	float: left;
	padding:0;
	margin: 0;
	width:375px;
}
.SAPVBehandlungsziel ul.sapvopt {
	padding:0;
	margin: 0;
	float: left;
	width:410px
}
.SAPVBehandlungsziel ul.sapvopt li{
	float: left
}
.SAPVBehandlungsziel ul.splbl {
	width: 370px;
	padding:0;
	margin:0;
}
.SAPVBehandlungsziel ul.inpoption {
	 width: 420px;
	padding:0;
	margin:0;
}
.SAPVBehandlungsziel ul.inpoption li {
	float: left;
	margin-right:10px;
}



.SAPVBehandlungsziel table {
	float: left;
	width: 100%;
}

.SAPVBehandlungsziel table td.SAPVBehandlu_big {
	width: 370px;
}
.SAPVBehandlungsziel table td.SAPVBehandlu_big2 {
	width: 360px;
}

.komplexes span {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.komplexes {
	clear: both;
	width: 98.5%;
	height: auto;
	font-size: 12px;
}
.komplexes .komplexebox {
	float: left;
	margin-right: 2px;
}
.komplexes .komplexebox span{
	width: 230px;

}



.komplexes table {
	width: 100%;
	float: left;
}

.komplexes table td.komplexesrad_td {
	width: 155px;
	padding-right: 10px;
}

.weitereskomplexes {
	clear: both;
	width: 98.5%;
	height: auto;
	font-size: 12px;
	float: left;
	display: block;
}

.weitereskomplexes span {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}
.weitereskomplexes .weitereskomplexesbox {
	float: left;
	margin-right: 2px;
}
.weitereskomplexes .weitereskomplexesbox span{
	width: 185px;
}
.weitereskomplexes .weitereskomplexesbox span.pndbig{
	width: 275px;
}
.weitereskomplexes .weitereskomplexesbox div.pndbig{
	width: 275px;
	float: left;
}
  .weitereskomplexes .weitereskomplexesbox span.smsp  {
 	line-height: 15px!important;
 }
.weitereskomplexes table {
	width: 100%;
	float: left;
}

.weitereskomplexes table td.weitereskomplexesrad_td {
	width: 155px;
	padding-right: 10px;
}







.ErwartungdesPat2 {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.ErwartungdesPat2 ul.allradiostd{
	list-style: none;
	padding: 0;
	margin:0 0 5px 0;
	width: 100%;
	float: left;
}
.ErwartungdesPat2 ul.allradiostd li.lblname1{
	font-size: 12px;
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 30px;
	color: #4a565c;
	width:100px
}
.ErwartungdesPat2 ul.allradiostd li.lblname2{
	font-size: 12px;
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 30px;
	color: #4a565c;
	width:104px
}
.ErwartungdesPat2 ul.allradiostd li.lblname3{
	font-size: 12px;
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 30px;
	color: #4a565c;
	width:107px
}

  .smlhl label{
 	line-height: 15px!important;
 }





.ErwartungdesPat2 . table {
	width: 100%;
	float: left;
	display: block;
}

table.radiooptions {
	float: left;
	font-size: 12px;
	margin: 0;
	border-collapse:collapse;
	border-color: #fff;
	width:155px;
}

table.radiooptions td {
	border-left: 1px solid #CCD4D6;
	border-right: 1px solid #CCD4D6;
	border-bottom: 1px solid #CCD4D6;
	border-top: 1px solid #fff;
/*	width:33px;*/
}

table.radiooptions input {
	float: left;
	margin: 4px 1px 0 1px!important;
}

table.radiooptions label {
/*	width:33px!important;*/
	display: block;
	text-align: center!important;
	line-height: 32px;
	color: #4A565C;
	margin:0!important;
	padding:0!important;

}

/* old css*/
.FloatLeft {
	float: left;
	width: auto;
	text-align: center;
	padding-left: 5px;
	padding-right: 8px;
	color: #4a565c;
}

.FloatLeftForNo {
	float: left;
	width: auto;
	text-align: center;
	padding-left: 5px;
	color: #4a565c;
}

.BlackDivider {
	float: left;
	width: 1px;
	height: 20px;
	/*background:#ccd4d6;*/
	background: #000;
	margin: 40px 12px 0px 5px;
}

.LeftMargin {
	margin-left: 16px;
}

.LeftMarginOption {
	margin-left: 34px;
}

form {
	font: normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

form fieldset {
	border: solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top: 10px;
	background: #ffffff;
}

form fieldset legend {
	font-size: 1.3em;
	font-weight: bold;
	color: #2d3a67;
}

form label {
	display: block;
	float: left;
	width: 160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}

form input,form textarea,form select {
	width: auto;
	margin: 7px 0 0 10px;
}

form input#reset {
	margin-left: 0px;
}

textarea {
	overflow: auto;
}

form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size: 11px;
}

form .help {
	display: block;
	margin: 0 0 5px 380px;
	width: 25px;
	height: 25px;
	background: green;
}

form .required {
	font-weight: bold;
}

form br {
	clear: left;
}

form .button {
	width: auto;
	height: 25px;
	background: #FFFFFF;
	border: solid 1px #088fd5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #2257a1;
}

form .button1 {
	width: auto;
	height: 25px;
	background: #FFFFFF;
	border: solid 1px #088fd5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #2257a1;
}

form a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #0278a9;
	text-decoration: none;
}

form .checkbox {
	width: 100%;
	padding-top: 5px;
}

form .checkbox {
	width: 200px;
}

.TxtbxLbl {
	padding-top: 5px;
}

.LblWidth {
	width: 109px;
}

.ClrBth {
	clear: both;
}

.durchgefuhrteSAPV {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.durchgefuhrteSAPV table {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.durchgefuhrteSAPV span {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
	font-weight: 800;
	width: 200px;
}

.durchgefuhrteSAPV label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.durchgefuhrteSAPV input {
	float: left;
	margin-right: 4px;
}

.durchgefuhrteSAPV ul {
	float: left;
	list-style: none;
	margin:0px;
	padding:0;
}

.durchgefuhrteSAPV ul li {
	float: left;
	width: 140px;
}

.Beendigung {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.Beendigung span {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.Beendigung input {
	float: left;
	margin-right: 4px;
}



.dersapv {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
	float: left;
}
.dersapv ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.dersapv ul li{
	float: left;
	width:188px
}
.dersapv ul li label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}
.dersapv ul li input{
	float: left;
}






.Verstorbenen {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.Verstorbenen ul {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.Verstorbenen table {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.Verstorbenen span {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
	font-weight: 800;
	width: 200px;
}

.Verstorbenen label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.Verstorbenen input {
	float: left;
	margin-right: 4px;
	margin-left: 0px;
}

span.SterbeortnWunsch {
	width: 150px;
	font-weight: 400;
}

.WeitereAngaben {
	width: 510px;
	float: left;
}

.tagemit {
	float: left;
}

.tagemit label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.tagemit label.tagemitlbl {
	width: 160px !important;
	display: block;
}

.tagemit label.inTagen {
	width: 145px;
	display: block;
}

.tagemit label.BesuchePC {
	width: 160px !important;
}

.tagemit input {
	float: left;
	width: 90px;
	margin-right: 0px;
	margin-left: 0;
}

.Notarzteinsatze­­ {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.Notarzteinsatze­­ span {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
	width: 140px;
}

.Notarzteinsatze­­ span.Notarzteinsatze­­_kein {
	float: left;
	width: 65px;
}

.Notarzteinsatze­­ span.Notarzteinsatze­­_kein label {
	display: block;
	float: left;
}


.Notarzteinsatze­­ span.Notarzteinsatze­­_nr {
	float: left;
	width: 50px;
}
.Notarzteinsatze­­ span.Notarzteinsatze­­_nr input{
	margin-right:1px;
	margin-left:1px;


}

.Notarzteinsatze­­ label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.Notarzteinsatze­­ input {
	float: left;
 margin: 7px 4px 0 5px!important;
}

.Einweisungen {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}

.Einweisungen span {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
	width: 140px;
}

.Einweisungen span.Einweisungen_kein {
	float: left;
	width: 65px;
}

.Einweisungen span.Einweisungen_kein label {
	display: block;
	float: left;
}

.Einweisungen span.Einweisungen_nr {
	float: left;
	width: 50px;
}

.Einweisungen label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 42px;
	color: #4a565c;
}

.Einweisungen input {
	float: left;
 margin: 7px 4px 0 5px!important;
}

.rightstamp {
	float: left;
	display: block;
	width: 240px;
	height: 180px;
	border: 1px solid #000;
	margin: -30px 0 0px 5px;
	text-align: center;
}

.allwhite {
	width: 99%;
	height: 90%;
	float: left;
	display: block;
}

.rightstamp span {
	font-size: 9px;
}
#Evaluation input[type=radio], #Evaluation input[type=checkbox] {

	vertical-align: middle;
	margin: 7px 4px 0 10px;

}

.label {
	vertical-align: middle;
	margin-right: 5px;
}
.trigger{
	float: left;
	margin-top: 2px;
	margin-right: 3px;
}