body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
ul {
	list-style:none;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
	margin:8px 0 0 10px;
}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
}
form .error {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .NewError {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .contentlist {
	margin: 0;
	padding: 0;
	width:100%;
	display:block;
}
form .contentlistRight {
	width:auto;
	margin-left:20px;
}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:801px;
}
.tab_content {
	padding: 10px;
	font-size: 1.2em;
}
.statwidth {
	width: 200px;
}
.left {
	float:left;
}
.right {
	float:right;
}
#Evaluation {
	width:770px;
	height:auto;
	display:block;
	padding:6px;
	float:left;
}
#Evaluation label {
	width:auto;
	padding: 0;
	margin:0;
	text-align: left;
	margin-left:0px;
}
#Evaluation label {
	width:auto;
	padding: 0;
	margin:0;
	text-align: left;
	margin-left:0px;
}
#Evaluation .InfoSection {
	width:400px;
	margin-right:20px;
	height:auto;
	float:left;
	line-height:26px;
	border:solid 1px #ccd4d6;
}
.InfoDivNew {
	margin-right:10px;
	padding:10px 0px 8px 10px;
	display:block;
}
.MarginZero {
	margin:0px 0 0 1px;
}
#Evaluation .InfoSectionBottom {
	width:400px;
	height:auto;
	line-height:26px;
	border-top:solid 1px #ccd4d6;
	float:left;
	margin:0;
	padding:0;
}
#Evaluation h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	color:#4f5456;
	margin:0;
	padding:0;
	padding-top:10px;
}
.InfoDiv {
	margin-right:10px;
	padding:10px 0px 0px 10px;
	display:block;
}
.Inforight {
	width:110px;
	float:left;
}
.BlackDivider {
	float:left;
	width:1px;
	height:20px;
	background:#ccd4d6;
	margin:40px 12px 0px 5px;
}
#Evaluation .HeadingSection {
	width:320px;
	height:auto;
	float:right;
}
.HeadingSection .vom {
	width:auto;
	float:left;
	line-height:18px;
	margin-top:15px;
	margin-right:5px;
}
.Options {
	width:100%;
	height:auto;
	margin-top:10px;
}
.OptionsContentOuter {
	float:left;
	width:auto;
}
.OptionsContent {
	width:auto;
	margin-right:10px;
	height:auto;
	float:left;
	line-height:31px;
	margin-left:10px;
}
.Options label {
	display: block;
	float: left;
	padding: 0;
	text-align: left;
	margin:0;
	line-height:32px;
	color:#4a565c;
}
.OptionsSubOuter {
	width:100%;
	display:block;
	margin-top:2px;
}

.OptionsSub {
	width:400px;
	height:auto;
	float:left;
	margin-right:5px;
    white-space: wrap;
    word-wrap: break-word;
}
 
.OptionsCenter {
	width:170px;
	height:auto;
	float:left;
	margin-right:5px;
}
.OptionsRight {
	width:180px;
	height:auto;
	float:left;
	text-align:left;
	display:block;
}
.OptionsRight label {
	float:right;
}
.OptionsSubNew {
	width:370px;
	height:auto;
	float:left;
	margin-right:5px;
	margin-left:30px;
}
.OptionsSubSml {
	width:230px;
	height:auto;
	float:left;
	margin-right:5px;
	margin-left:30px;
}
.OptionsCenterBig {
	width:310px;
	height:auto;
	float:left;
	margin-right:5px;
}
.OptionsSubWidht {
	width:180px;
}
.OptionsRightNew01 {
	width:130px;
	height:auto;
	float:left;
	text-align:right;
	display:block;
}
.OptionsRightNew01 label {
	float:right;
}
.OptionsSubWidhtNew {
	width:185px;
	height:auto;
	float:left;
	margin-right:90px;
	margin-left:10px;

}
.Leistungszahlen {
	width:435px;
	height:auto;
	float:left;
	margin-right:5px;
}
.LeistungszahlenRight {
	width:180px;
	height:auto;
	float:left;
	text-align:left;
	display:block;
}
.LeistungszahlenRight label {
	float:right;
}
.LeistungszahlenNew {
	width:405px;
	height:auto;
	float:left;
	margin-right:5px;
	margin-left:30px;
}
.KoordinationLeft {
	width:260px;
	height:auto;
	float:left;
	margin-right:5px;
}
.KoordinationCenter {
	width:5px;
	height:auto;
	float:left;
	margin-right:5px;
}
.KoordinationRight {
	width:120px;
	height:auto;
	float:left;
	margin-right:5px;
}
.KoordinationRightNew {
	width:140px;
	height:auto;
	float:left;
	margin-right:5px;
	text-align:right;
}
.KoordinationRight label {
	float:right;
}
.KoordinationRightNew01 {
	width:87px;
	height:auto;
	float:left;
	margin-right:5px;
	text-align:right;
}
.KoordinationLeftnew02 {
	width:397px;
	height:auto;
	float:left;
	margin-right:5px;
}
.OptionsWidth {
	width:550px;
	float:left;
	margin-right:10px;
	height:auto;
}
.VergutungenLeft {
	width:300px;
	height:auto;
	float:left;
	margin-right:5px;
}
.LeistungszahlenRight {
	width:180px;
	height:auto;
	float:left;
	text-align:left;
	display:block;
}
.LeistungszahlenRight label {
	float:right;
}
.VergutungenCenter {
	width:265px;
	height:auto;
	float:left;
	margin-right:5px;

}
.VergutungenLeftNew {
	width:270px;
	height:auto;
	float:left;
	margin-right:5px;
	margin-left:30px;
}
.ClrBoth {
	clear:both;
}

.LeistungszahlenCenter {
	width:133px;
	height:auto;
	float:left;
	margin-right:5px;
	
}

.sideImage
{	width:19px;
	float:left;
}
.both-inputs .OptionsCenterBig #FrmAngaben_inpt_weitere {
   	width: 250px;
 }
 
.both-inputs  #FrmAngaben_inpt_weitere1{
 	width: 200px;
}
.small-input2 {
	width: 105px;
}
.medium-input2{
	width: 130px;
}
.input125px {
	width:125px;
}