body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
.MarginZero {
	margin:0px 0 0 1px;
}
ul {
	list-style:none;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
	margin:8px 0 0 10px;
}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}

#hopeForm_TabContainerDiv input{
	height: 18px;
}
form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
}
form .error {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .NewError {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .contentlist {
	margin: 0;
	padding: 0;
	width:100%;
	display:block;
}
form .contentlistRight {
	width:auto;
	margin-left:20px;
}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
#analage {
	width:100%;
	height:auto;
}
#analage h1 {
	font-size:18px;
	margin-bottom:8px;
	padding-left:0px;
}
#analage p {
	font-size:13px;
	margin:0px;
}
#analage .analage4 {
	width:790px;
	float:left;
}
#analage .analage4 .analage4leftdiv {
	width:270px;
	float:left;
	margin:10px 20px 0 0px;
}
#analage .analage4 input {
	width:100%;
	margin:5px 0 0 0;
	padding:2px 0 2px 5px;
}
#analage .analage4 .LargeDiv {
	width:560px;
	float:left;
	margin:10px 20px 0 0px;
	display:block;
}
#analage .analage4 select {
	width:280px;
	float:left;
	padding:0px 0px 0px 10px;
	margin:0
}
#analage .analage4 select option {
	padding:0px 0 0px 10px;
}
#analage .analage4 label {
	width:100%;
	margin:0
}
#analage .analage4 .width {
	width:auto;
}
#analage .analage4 .marginRight {
	margin-right:0;
}
#analage .analage4 .checkboxesdivOuter {
	width:260px;
	float:right;
	margin:10px 0 0 0;
}
#analage .analage4 .checkboxesdiv {
	float:left;
	width:52px;
	text-align:center;
}
#analage .analage4 .basisboen_outer {
	width:740px;
	float:left;
}
#analage .analage4 .basisboen_outer_forImage {
	width:20px;
	float:left;
}
#analage .analage4 .basisboen_outer_forImage .second_image {
	margin-top:240px;
}
#analage .analage4 .basisboen_outer_forImage .third_image {
	margin-top:140px;
}
#analage .analage4 .basisboen_outer_forImage .fourth_image {
	margin-top:350px;
}
#analage .analage4 .basisboen_outer_forImage .fifth_image {
	margin-top:650px;
}
#analage .analage4 .basisboen_outer_div {
	width:100%;
	float:left;
	margin-bottom:0px;
}
#analage .analage4 .basisboen_left_div {
	width:50%;
	float:left;
}
#analage .analage4 .basisboen_left_div_three {
	width:30%;
	float:left;
}
#analage .analage4 .basisboen_input_box_width input {
	margin:0;
	margin-left:5px;
	margin-top:5px;
	width:90%;
}
#analage .analage4 .basisboen_border {
	border:1px solid #404040;
}
#analage .analage4 .basisboen_outer_fwidth {
	width:760px;
}
#analage .analage4 .basisboen_half_outer {
	width:379px;
	float:left;
}
#analage .analage4 .basisboen_background_black {
	background:#404040;
	color:#FFFFFF;
}
#analage .analage4 .basisboen_background_black h1 {
	color:#FFFFFF;
	margin-left:8px;
}
#analage .analage4 .basisboen_background_black h3 {
	color:#FFFFFF;
	margin:10px 0 10px 10px;
	font-size:15px;
}
#analage .analage4 .basisboen_background_red {
	background:#ff0000;
	border-right:1px solid #ffffff;
	min-height:36px;
}
#analage .analage4 .basisboen_background_red h3 {
	color:#FFFFFF;
	margin:8px 0 10px 6px;
	font-size:15px;
	
}
#analage .analage4 .basisboen_border_right {
	border-right:1px solid #999999;
}
#analage .analage4 .basisboen_background_white {
	background:#ffffff;
}
#analage .analage4 .basisboen_background_gray {
	background:#e0e0e0;
}
#analage .analage4 .basisboen_background_gray label {
	margin-bottom:5px;
}
#analage .analage4 .basisboen_background_white_div {
	width:100%;
	background:#ffffff;
	float:left;
}
#analage .analage4 .basisboen_half_outer .icd_div {
	float:right;
	width:auto;
	margin-top:25px;
	margin-right:5px;
}
.ClrBoth {
	clear:both;
}
#analage .analage4 .basisboen_left_div_seven {
	width:70%;
	float:left;
}
.margin_left_fifteen {
	margin-top:0px;
	margin-left:8px;
}
.paddingfifteen {
	padding:10px;
}
#analage .analage4 .width_for_checkbox_div {
	width:85px;
	text-align:center;
	float:left;
}
#analage .analage4 .basisboen_background_yellow {
	background:yellow;
}
#analage .analage4 .borderTopNone {
	border-top:none;
}
#analage .analage4 .basisboen_background_green {
	background:#00ff00;
}
#analage .analage4 .basisboen_green_small {
	width:165px;
	float:left;
	padding-top:2px;
	padding-bottom:3px;
}
#hope6-block {
	float: left;
	width: 379px;
	display: block;
}
#hope8-block, #hope9-block{
	float: left;
	width: 189px;
	display: block;
	overflow: hidden;
}
#hope8-block div#HopeForm_Absprache_Vorlage_form,#hope9-block div#HopeForm_Pflegestufe_form  {
	width: 100%;
	float: left;
	display: block;
}
#hope10-block{
	
}
#hope10-block #hope10-left,#hope10-block #hope10-right{
	width: 379px;
	float: left;	
}
#hope11-block {
	float: left;
	display: block;
}
 

/* new added css 7/9/2010 */

#analage .analage4 .basisboen_outer_div input, textarea
{	margin:0;
	margin-top:5px;
	
	
}
#Functionalstatus_barthel_input {
	height: 20px;
}

#analage .analage4 .basisboen_outer_div label
{
/*		margin-left:9px;*/
/*	margin-top:5px;*/
	width:auto;
}

#analage .analage4 .basisboen_outer_div h1
{	margin-left:10px;
}

#analage .analage4 .basisboen_title_div
{	width:130px;
	padding-top:5px;
	margin-left:10px;
	float:left;
	margin-top:5px;
}

#analage .analage4 .basisboen_content_div
{	width:150px;
	float:left;
	margin-right:10px;
	margin-top:5px;
}

#analage .analage4 .basisboen_content_div input
{	margin-left:5px;
}

#analage .analage4 .basisboen_half_div
{	width:183px;
	float:left;
	padding-top:2px;
	padding-bottom:9px;
}
 
#analage .analage4 .width_for_checkbox_div input
{	width:auto;
}

#analage .analage4 h4
{	margin:8px 0 10px 6px;
	font-size:12px;
}

#analage .analage4 h3
{	margin:5px 0 5px 8px;
}
input[type=checkbox], input[type=radio] {
	height: 25px !important;
	width: 25px !important;
  
	position: relative;
	left: 2px;
	bottom: -5px;
}
 #HopeForm_HauptUnd_HauptdiagnoseOuter {
	background: red;
}
