body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

#kindersapvhospiz_form .clear {
	 clear: both;
}

#kindersapvhospiz_form h2 {
	 display: inline-block;
	 color: #000;
}

#kindersapvhospiz_form {
	float: left;
	width: 100%;
}

#kindersapvhospiz_form .page1, #kindersapvhospiz_form .page2{
	margin-left: 20px;
	margin-right: 20px;
}

#kindersapvhospiz_form .page1 .halfdiv, #kindersapvhospiz_form .page2 .halfdiv{
	width: 50%;
	float: left;
}

#kindersapvhospiz_form .page1 .right, #kindersapvhospiz_form .page2 .right {
	text-align: right;
}

#kindersapvhospiz_form .page1 .center, #kindersapvhospiz_form .page2 .center {
	text-align: center;
}

#kindersapvhospiz_form .page1 .fulldiv, #kindersapvhospiz_form .page2 .fulldiv{
	padding: 5px;
	width: 100%;
}

#kindersapvhospiz_form .headertable {
	font-size: 14px;
    border-collapse: collapse;
    width: 100%;

}

#kindersapvhospiz_form .headertable tr td {
	border: 1px solid #000;
	
}



#kindersapvhospiz_form .first, #kindersapvhospiz_form .second,  #kindersapvhospiz_form .page2_body{
	width: 100%;
    border-collapse: collapse;

}

#kindersapvhospiz_form .first textarea {
	width: 100%;
}

#kindersapvhospiz_form .second textarea {
	margin-left: 45px;
	width: 94%;
}

/*#kindersapvhospiz_form label {
display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

#kindersapvhospiz_form .first label input, #kindersapvhospiz_form .second label input, #kindersapvhospiz_form .page2_body label input {
	width: 25px;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
	top:2px;
	/*position: absolute;
  	opacity: 0;
  	cursor: pointer;*/
}

#kindersapvhospiz_form .second ul {
	padding-left: 30px;
	list-style-type: disc;
	display: block;
	height: 18px;
}

#kindersapvhospiz_form .second ul li{
	padding-left: 15px;
}

#kindersapvhospiz_form .second td{
	padding-top: 0px;
	padding-bottom: 0px;
}

#kindersapvhospiz_form .first td label, #kindersapvhospiz_form .second td label {
	padding-top: 10px;
}

#kindersapvhospiz_form .labelflex label
{
	/*display: inline-flex;*/
}

#kindersapvhospiz_form .labelflex label input
{
	width: 16px;
	margin-right: 9px;
}

#kindersapvhospiz_form .page2_body input[type="text"]
{
	width: 100%;
}

#kindersapvhospiz_form .kh_date,  #kindersapvhospiz_form .kh_stufe{
	width: 215px !important;
}


#kindersapvhospiz_form td {
	border: none;
}

