body {
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#4a565c;
}
input {
	height: 25px;
}
input[type=text]{
	height: 25px;
	padding: 0;
}
input[type=checkbox], input[type=radio] {
	height: 25px;
	width: 25px;
	position: relative;
	top: -5px;
	right: 2px;

}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
}

.kvno_doctor_form {
	margin: 0 10px 0 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

 .kvno_header {
	height:30px;
	border-bottom:solid 1px #000000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}

.visit_patient_information{
	width: 100%;
	height: 100%;
	display: block;
	float: left;
/*  	border-bottom: 1px solid #000; */
margin-bottom: 10px;
}

.visit_patient_information table{
	margin: 10px;
/* 	display: block; */
	float: left;
	width: 98%;
	height: 100%;
	font-size: 14px;
	font-weight: 400;
}
.visit_patient_information table td {
/* 	width: 100%; */
/* 	height: 100%; */
/* 	font-size: 12px; */
	font-weight: 800;
/* 	line-height:22px; */
}
.visit_patient_information table td i{
	width: 100%;
	height: 100%;
	font-size: 12px;
	font-weight: 400;
	line-height:12px;
}


.kvno_stamdatenlink {
	margin: 10px 0 20px 0;
}
.kvno_stamdatenlink input {
	margin: 0;
	padding: 0px;
	float: left;

}

.kvno_stamdatenlink td {
	height: 26px;
	line-height: 26px;
	padding: 0px;
	border-bottom: 1px dashed #000;
	vertical-align: center;
}

.kvno_stamdatenlink td.kvno_hiddenobject {
	width: 310px;
	padding:0px;
	margin: 0px;

}

.kvno_stamdatenlink td.kvno_hiddenobject input[type="text"] {
	width: 300px;
 }

.kvno_stamdatenlink input[type="radio"] {
	margin: 7px 5px 0 5px;
	padding: 0px;
	float: left;
}


.kvno_mediumtd {
	width: 305px;
}

.kvno_mediumtd_b {
 	width: 80px;
}

.kvno_smalltd {
	width: 80px;
}

.kvno_bigtd {
	 width: 185px;
}

/* .kvno_mediumtd { */
/* 	width: 182px; */
/* } */
/* .kvno_smalltd{ */
/* 	width: 70px; */
/* } */
/*  .kvno_bigtd { */
/*  width: 185px; */
/*  } */
.kvno_korpelicht_befund{
	margin: 10px 0 20px 0;
}

table.kvno_korpelicht_befund {

	border-collapse: collapse;
}


table.kvno_korpelicht_befund td.kvno_hiddenobject_befund {
	width: 310px;
	padding:0px;
	margin: 0px;

}

table.kvno_korpelicht_befund td.kvno_hiddenobject_befund input[type="text"] {
/* 	width: 300px; */
/* 	margin-top:12px; */
}

.kvno_korpelicht_befund td{
	height: 40px;
}
.kvno_korpelicht_befund input[type=checkbox]{
	margin: 0;
	padding: 0px;
	float: left;
}
.kvno_korpelicht_befund input[type=text]{
	width: 300px;
	margin-top: -5px;
}
.empty_befun{
	width: 45px;
}
.kvno_fotodoc{
	margin: 10px 0 10px 0;
}
.kvno_fotodoc textarea{
	width: 100%;
	height: 40px;
}
.kvno_sonstiges{
	margin: 10px 0 10px 0;
}
.kvno_sonstiges textarea{
	width: 100%;
	height: 40px;
}
.kvno_globalline{
	padding: 10px 0 10px 0;
}
.kvno_globalline span {
	float: left;
	width: 100px;
}

.kvno_globalline span input, .kvno_globalline span label{
	float: left;
}
.kvno_medizine{
	width: 100%;
	display:  block;
	float: left;
	margin-top:20px;

}
.kvno_medizineline1{
	padding: 10px 0 10px 0;
	display: block;
}
.kvno_medizineline1 span {
	float: left;
	width: 200px;
}

.kvno_medizineline1 span input, .kvno_medizineline1 span label{
	float: left;
}
.kvno_medizineline2{
	padding: 10px 0 10px 0;
	display: block;
}
.kvno_medizineline2 span {
	float: left;
	width: 134px;
}

.kvno_medizineline2 span input, .kvno_medizineline2 span label{
	float: left;
}
.kvno_buttons{
	width: 100%;
	padding: 20px 0 20px 0;
	float: left;
	text-align: center;
	border-top: 1px solid #000;
}
.kvno_symptomatics table {
	border: collapse;
}
 .kvno_symptomatics table td {
	border: 2px dashed #ccc;
}
.kvno_komentinput{
	text-align: left;
}
.kvno_komentinput input{
	width: 97%;
	margin: 3px 0 0 3px;

}

.kvno_tinyinpt{
	text-align: center;
}
.kvno_tinyinpt input{
	width: 30px;
}
.kvno_top_labels  {
line-height: 32px;
display: block;
width: 155px;
float: left;

}
.befund_input input{
	width:150px;
}


.visit_quality{

}
.visit_quality ul{
	float: left;
	list-style: none;
	padding: 0;
	display: block;
	margin: 0px;
}
.visit_quality ul li{
	float: left;
	width: 130px;
	padding: 0px;
	display: block;
	margin: 0px;
}
.visit_quality ul li input{
	float: left;
	margin-top:10px;
}
.visit_quality ul li label{
	float: left;
	display: block;
	line-height: 32px;
	padding: 0px;
	margin: 0px;
}

.bayern_dragvbox {
	margin: 5px 2px 20px;
	background: #fff;
	position: relative;
	border: 1px solid #d8d8d8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: auto;
	width: 99%;
}

.bayern_dragvbox h2 {
	display: block;
	width: 97.4%;
	margin: 0;
	font-size: 12px;
	padding: 5px;
	background: #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	cursor: pointer;
	color: #000;
}

.bayern_dragvbox_content {
	background: #fff;
	min-height: 50px;
	margin: 5px;
	font-size: 0.9em;
	line-height: 1.5em;
	width: 97%;
}

div.bayern_dragvbox_content table.datatable {
	width: 750px;
	line-height: 150%;
	margin-top: 20px;
}

.medication_container {
	width:100%;
	height:auto;
	display: block;
}

.medication_container p {
	line-height: 140%;
	width: 100%;
	clear: both;
	padding-top: 15px;
}