#table td span {
	font-weight: 800;
	font-size: 12px;
	color: red;
	padding: 0px 5px 0px 5px;	
}
#ap-content {
	float: left;
	width: 80%;
	margin-left: 0px !important;
}
#table td {
	word-break: break-all;
}
div.nodel {
	display: inline-block;
	width: 18px;
	height: 18px;
	font-size: 18px;
	padding: 0px 5px 0px 5px;
}
#table td a {
	color: #555;
	text-decoration: none;
}
img.icon_image {
	margin-top: 5px;
	margin-bottom: -3px;
	height: 24px;
}
/*ISPC-2508 Carmen 30.01.2020*/
#table {
	word-break: break-all;
}


#materialslist .add_link {
	width: 50% !important;
	float: left;
}

#materialslist #add_default {
	float: right;
	margin: 10px 0 15px 0;
}

#materialslist #add_default a {
	background: #e6e6e6 url("../images/add_link.png") repeat-x scroll 50% 50%;
border: 1px solid #d3d3d3;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
color: #555555;
font-size: 13px;
margin: 5px 0 15px;
padding: 8px;
text-decoration: none;
width: auto;
}