body {
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#c6e9fc;
}
.tab_container * {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	margin:0 auto;
	padding:10px;
	width:800px;
	line-height:150%;
	
}
/* .main_container{
	border: 1px solid #e3e3e1;
} */
.requiredInput{
	border:solid 1px red;
}
#munster4
{	width:100%;
	height:auto;
}
#munster4 .krankenkasse_top{
	width:340px;
	float:left;
	border:1px solid #000000;
	margin-top:10px;
	padding:10px;
	padding-bottom:5px;
	color:#000;
}
#munster4 .krankenkasse_top label
{	width:auto;
}

#munster4 .krankenkasse_top .blackline
{	border-bottom:1px solid #000000;
	margin:5px -10px 0 -10px;
}

#munster4 .krankenkasse_top .formleftdiv
{	float:left;
	width:190px;

}

#munster4 .krankenkasse_top input
{	margin-left:0px;
	width:102px;
}

#munster4 input.insurance 
{	margin-left:0px;
	width:320px;
}


#munster4 .krankenkasse_top .formleftdiv .textArea
{	width:160px;
	margin-left:0px;
	margin-bottom:5px;
}

#munster4 .krankenkasse_top .formrightdiv
{	float:right;
	width:130px;
	padding-top:25px;
}

#munster4 .krankenkasse_top .formShortDiv
{	float:left;
	margin-top:5px;
}

#munster4 .krankenkasse_top .VerLine
{	float:left;
	width:1px;
	height:25px;
	background:#000;
	margin:35px 7px 0px 7px;
	margin-bottom:-5px;
}
#munster4 input.geb_am{
	width:70px;
}
#munster4 input.status{
	width:68px;
}
#munster4 input.datum{
	width:68px;
}
#munster4_NameStatus_inpt,#munster4_NameDatum_inpt{
	width:80px;
}

#munster4 .nameright
{	width:435px;
	float:right;
	margin-left:2px;
	margin-top:5px;
	
}
.nameright h2
{	font-size:20px;
	line-height:25px;
	margin-top:0;
	margin:0;
	font-weight:normal;
	text-align:left;
}
#mittellung_radio_tbl{
	margin_bottom:10px;
	width:440px;
}

#input_5{
	width:100px;
	float:right;
}
.hauptleistung h3
{	font-size:16px;
	margin:0;
	color: #000;
	
}

#hauptleistung_tbl{
  width:99%;
  line-height:100%;
  margin-bottom:2px;
}
#munster4_imKrankenhaus_lbl,#munster4_imKrankenhaus_lbl{
	font-size:14px;
}
#input_10,#input_12{
	width:100px;
}
#input_11{
	width:63px;
}
#input_16{
	margin-left:4px;
}
#munster4_mittellung_tbl{
	
	margin-bottom:10px;
}
#munster4_ambBehandHead{
	font-size:14px;
}
.ambB_1{
	width:52%;
}
.ambB_2{
	width:3%;
	text-align:center;
}
.ambB_3{
	width:10%;
}
.ambB_5{
	width:11%;
}
.ambB_7{
	width:7%;
}
.ambB_8{
	width:20%;
}
#munster4 .hochfrequente{
	margin-top:10px;
	margin-bottom:5px;
}
#begrundung_tbl{
	cellpadding:5px;
	cellspacing:2px;
	margin-top:10px;
	margin-bottom:10px;
}
#input_21{
	width:435px;
}
#input_22{
	width:295px;
	margin-right:1px;
}
#voraussichtliche_tbl{
	width:99%;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	
}

.algnRight{
	text-align:right;
}

#input_23{
	width:10px;
}
#input_24{
	width:20px;
}
#input_25{
	width:140px;
}
#munster4_zeitraum_serienv_tbl{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
}
#input_26{
	width:348px;
	margin-left:4px;
}
#beforderungsmittel_tbl{
    margin-top:10px;
	margin-bottom:10px;	
	width:99%;
}
#beforderungsmittel_lbl{
	font-size:16px;
}
#input_32{
	width:80px;
}
#begrund_beforderungsmittels_tbl{
	margin-top:10px;
	margin-bottom:10px;
	width:623px;
	cellpadding:2px;
}

#input_33{
	width:610px;
	margin-left:1px;
	margin-right:2px;
}
#input_39{
	width:110px;
	margin-right:2px;
	margin-left:6px;
}
#von_nach_tbl{
	width:625px;
		
}
#von_nach_tbl td{
	vertical-align:middle;
}
#input_42{
	width:416px;
	margin-left:2px;
}
#input_51{
	width:124px;
	margin-left:2px;
}
#input_47,#input_48{
	width:80px;
	margin-left:2px;
}
.munster4bottombox
{	border:1px solid black;
	font-size:10px;
	text-align:center;
	padding:5px;
	v-align:bottom;
	width:155px;
	height:200px;
}
#stempel_tbl{
	height:200px;
	width:180px;
	border:1px solid black;
	text-align:center;
}
#stempel_unter{
	height:170px;
	width:180px;
	
}
#stempel_tbl td{
	text-align:center;
}

.stamp_alert{
    color: #ff0000;
    display: block;
    float: right;
    width: 100%;
    text-align: center;
}


.ab_radios {
	display: block;
	float: left;
	height: auto;
	width: 45px;
	padding-top:10px;
}
.ab_radios  .top_radio {
	float: left;
	display: block;
	width: 44px;
	height: 85px;
	border: 1px solid #000;
}
.ab_radios  .bottom_radio {
	float: left;
	display: block;
	width: 44px;
	height: 85px;
	border: 1px solid #000;
	margin-top: 8px;
}

.ab_radios  .top_radio label,
.ab_radios  .bottom_radio label{
	float: left;
	display: block;
	width: 100%;
	text-align: center;
	height:40px;
}

.ab_radios  .top_radio input ,
.ab_radios  .bottom_radio input{ 
	display: block;
	float: left;
}



