

table.national_holiday_add{
	width: 100%;
	border-collapse: collapse;
	margin: 30px 0 30px 0;
}

table.national_holiday_add td.nhlabel_td,
table.national_holiday_add td.nhinput_td{
	height: 30px;	
	line-height: 30px;	
}

table.national_holiday_add td.nhlabel_td{
	font-size: 12px;
	font-weight: 800;
	width: 134px;
}


.nh_regions{
	width: 200px;
	float: left;
	border-collapse: collapse;
}
.nh_regions td{
	border-bottom: 1px solid #000;	
}



.nationalholiday_block{
	
}
.nationalholiday_block table.nh_master{
	display: block;
	float: left;
	border: 0px;
	border-collapse: collapse;
}


.nationalholiday_block table.nh_master td{
	border: 1px solid #eee;
	vertical-align: middle;
	text-align: center;
	height: 35px;
	width: 240px;
}

.nationalholiday_block table.nh_master td.th_like{
	background: #F3F3F3;
	color: #333;
	border: 1px solid #ccc;
}


.nationalholiday_block table.nh_master td.scrol_td{
	border: 1px solid #eee;
	vertical-align: top;
	height: 30px;
}


div.table_overflow{
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 600px;
	overflow: auto;
}


table.kid_table{
	margin: 0px;
}

table.kid_table th{
	background: #F3F3F3;
	color: #333;
	
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: center;
	height: 30px;
	padding: 0 5px 0 5px;
}

table.kid_table td{
	border: 1px solid #eee;
	vertical-align: middle;
	text-align: center;
	height: 30px;
	padding: 0 5px 0 5px;
}


.national_holiday .error {
    color: #990000;
    height: 8px;
    display: inline;
    margin: 0px;
    width: 250px;
}











