table {
	border: 1px solid #fff;
}

.datatable tr td {
	text-align: center;
	border: 1px solid #fff;
}
.datatable tr td p {
	float: left;
	text-align: left;
	font-size:1.1em;
	font-weight: 700;
}
.datatable tr td textarea{
	width: 98%;
	background-color: #fff;
	border-color: #000;
	height: 200px;
}

td.first_column{
	width: 200px;
	border: 1px solid #fff;
	
}

td.second_column{
	width: 200px;
	vertical-align: middle;
	border: 1px solid #fff;
}
td.middle_column_adjust{
	border: 1px solid #fff;
	width: 30px;
}
textarea#medication_text{
	height: 250px;
}

.datatable td table tr td {
	text-align: left;
	border: 1px solid #fff;
}