.billing_container {
	display: block;
	width: 100%;
	height: auto;
}

.btitle {
	display: block;
	float: left;
	width: 100%;
}

.btitle h3 {
	display: block;
	float: left;
	font-size: 18px;
	color: #000;
	text-align: center;
	width: 100%;
	margin: 10px 0 30px 0;
}

.patient_info {
	display: block;
	float: left;
	width: 100%;
}

.pat_details {
	display: block;
	float: left;
	width: 70%;
	line-height: 28px;
}

.period_selection {
	display: block;
	font-weight: 800;
	float: right;
	width: 25%;
}

.billing_table {
	display: block;
	float: left;
	width: 100%;
}

.billing_table table.master_billing_table {
	display: block;
	float: left;
	width: 100%;
	padding: 0px!important;
	margin: 0px;
	border :0px!important;
	border-collapse: collapse;
	
}

.billing_table table.master_billing_table th {
	border: 1px solid #000;
	width: 50px;
	font-size: 9px;
	vertical-align: middle;
	text-align: center;
	height: 30px;
}

.billing_table table.master_billing_table td {
	border: 1px solid #000;
	width:100px;
	font-size: 10px;
	vertical-align: middle;
	text-align: center;
	height: 30px;
	padding: 0px!important;
}

 

.billing_table table.master_billing_table td.tdasth{
	height: 50px!important;
}

.billing_table table.master_billing_table tr.no_borders td {
	border: 0!important;		 
}
.billing_table table.master_billing_table tr.billing_count_duration td {
	background: #F0FFFF;
}


/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

td.slave_billing_container {
	border: 0px !important;
	padding: 0px !important;
	vertical-align: top; 
}


td.slave_billing_container div.td_scroll {
	width: 530px;
	height: auto;
	overflow: auto;
	float: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	
}

td.slave_billing_container div.td_scroll table.slave_billing_table {
	margin: 0px;
	border: 0px !important;
	float: left;
	display: block;
	width: 1800px;
	border-collapse: collapse;
}


td.slave_billing_container div.td_scroll table.slave_billing_table td{
	border: 1px solid #000;
	width: 90px;
	font-size: 11px;
	vertical-align: middle;
	text-align: center;
	height: 30px;
	padding: 0px!important;
	
}


td.slave_billing_container div.td_scroll table.slave_billing_table th{
	border: 1px solid #000;
	width: 80px;
	font-size: 10px;
	vertical-align: middle;
	text-align: center;
	height: 50px;
	padding: 0px!important;
}

td.slave_billing_container div.td_scroll table.slave_billing_table th.inactive_day {
	background: #FFCCCC;
	color: #000;
}
td.slave_billing_container div.td_scroll table.slave_billing_table th.current_day.inactive_day {
	background: orange; /*light color*/
}


td.slave_billing_container div.td_scroll table.slave_billing_table th span.th_day{
	display: block;
	width: 100%;
	height: 15px;
	text-align: center; 
}

td.slave_billing_container div.td_scroll table.slave_billing_table th span.th_day_options{
	display: block;
	width: 100%;
	height: 20px;
	text-align: center; 
}



td.slave_billing_container div.td_scroll table.slave_billing_table td span.billing_form{
	display: block;
	width: 100%;		
	height: 100%;
}


td.slave_billing_container div.td_scroll table.slave_billing_table td a.billing_form{
	display: block;
	width: 100%;		
	height: 100%;
/* 	background:  url('../../images/doc_pdf.png') no-repeat bottom right; */
	background:  url('../../images/document_pdf.png') no-repeat bottom right;
	line-height: 30px;
}




td.slave_billing_container div.td_scroll table.slave_billing_table tr.billing_count_duration td {
	background: #F0FFFF;
}

td.slave_billing_container div.td_scroll table.slave_billing_table  td.current_day {
	background: #FFFDD0;
}

td.slave_billing_container div.td_scroll table.slave_billing_table tr.billing_count_duration td.current_day {
	background: #BBFFFF;
}

td.slave_billing_container div.td_scroll table.slave_billing_table td.INACTIVE {
	background: #FFCCCC;
	color: #000;
	text-style: italic;
}

td.slave_billing_container div.td_scroll table.slave_billing_table tr.billing_count_duration td.INACTIVE {
	background: #FF9999;
	color: #000;
}
td.slave_billing_container div.td_scroll table.slave_billing_table td.inactive_day {
	background: #FFCCCC;
	color: #000;
		color: #000;
	font-style: italic;
}


td.slave_billing_container div.td_scroll table.slave_billing_table  td.current_day.inactive_day {
	background: orange; /* light color */
}
td.slave_billing_container div.td_scroll table.slave_billing_table tr.billing_count_duration td.current_day.inactive_day  {
	background: Darkorange;/* dark color */
}


td.slave_billing_container div.td_scroll table.slave_billing_table td.inactive_day a.dINACTIVE{
	display: block;
	height: 100%;
	widht: 100%;
	line-height: 30px;
	color: #000;
	font-style: italic;
	background:  transparent url('../../images/delete_visit.png') no-repeat bottom right;
 
}
td.slave_billing_container div.td_scroll table.slave_billing_table tr.billing_count_duration td.inactive_day {
	background: #FF9999;
	color: #000;
}

/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
.billing_table table.sh_billing_table {
	display: block;
	float: left;
	width: 40%;
}

.billing_table table.sh_billing_table th {
	border: 1px solid #000;
	width: 50px;
	font-size: 9px;
	vertical-align: middle;
	text-align: center;
	height: 30px;
}

.billing_table table.sh_billing_table td {
	border: 1px solid #000;
	width: 50px;
	font-size: 8px;
	vertical-align: middle;
	text-align: center;
	height: 20px;
	padding: 1px;
}
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

table.billing_client_details{
	width: 45%;
	float: right;
	border-collapse: collapse;
	border: 1px solid #000;
}
table.billing_client_details td{
	padding:5px;
}

table.billing_client_details td.bigfont{
	font-size: 14px;
}



a.new_row_visit{
	width: 100%;
	display: block;
	background:  transparent url('../../images/action_add.png') no-repeat center left;
	text-indent: 30px;
}



table#bulk_visits{
	
}

table#bulk_visits td{
	padding: 5px;	
}




.visit_time,
.visit_start_default,
.visit_end_default
 {
	width: 60px;
}

	


























