#OpenMail {
	width: 100%;
	height: auto;
	margin-top: 15px;
}

.OpenMailLineHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	width: 100%;
	color: #0482c3;
	border-bottom: solid 1px #eaeaec;
	margin-top: 20px;
	padding-bottom: 5px;
}

#OpenMail a {
	color: #0482c3;
	text-decoration: none;
}

#OpenMail a:hover {
	text-decoration: underline;
}

.OpenMailInfoOuter {
	width: 100%;
	height: auto;
	margin-top: 15px;
}

.OpenMailInfoList {
	width: auto;
/* 	min-height: 30px; */
	display: block;
	float: left;
	margin-bottom: 8px;
	border-bottom: solid 1px #e8eaea;
	padding: 3px;
}

.OpenMailInfoSender { /*width:90px;*/
	width: 110px;
	/*height:auto;*/
	margin-right: 10px;
	float: left;
}

.OpenMailInfoDtl {
	width: 650px;
	height: auto;
	float: left;
	display: block;
}

.OpenMailMsg {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 8px;
	padding: 3px;
}

.OpenMailMsgOuter {
    display: block;
    float: left;
    margin-top: 20px;
    width: 100%;
	border-bottom: solid 1px #e8eaea;
}

.OpenMailMsgList {
	width: auto;
	height: auto;
	display: block;
	margin-bottom: 3px;
	padding-bottom: 3px;
}

.OpenMailMsgListSender {
	width: auto;
	height: auto;
	margin-right: 10px;
	float: left;
}

.OpenMailMsgListDtl {
	width: auto;
	height: auto;
	float: left;
}

.forMsg {
	width: auto;
	height: auto;
	float: left;
	padding-top: 15px;
}