/*Now the CSS*/
* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

li {
	margin: 0 auto;
	padding: 2px;
	text-align: center;
}



table.tree_master_table{
	background: #fff;
}

td.master_td div.outer_block {
	width: 750px;
	height: auto;
	overflow: auto;
	float: left;
	display: block;
	margin: 0px;
	padding: 0px 0 20x 0;
	border: 0px;
	position: relative;

}

td.master_td div.outer_block div.tree {
	margin: 0px;
	border: 0px !important;
	float: left;
	display: block;
	width: 1500px;
	padding-bottom:20px;
}
div.tree  {
	display: block; float: left;
	height:100%;
	width: 100%;
	}

ul.master_path{
	display: block;
	width: auto;
	float: left;height: auto;
	margin-bottom: 20px;
}
.tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/
.tree li::before,.tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after,.tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
	padding-top: 0;
}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before,.tree li:last-child::after {
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}
sup.line-down{
	background: #fff;
	margin: 0;
	padding: 0!important;
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	border: 0px!important
}

sup.line-down em{
	background: #000;
	margin: 0;
	padding: 0!important;
	width: 1px;
	height: 20px;
	display: inline;
	text-align: center;
	border: 0px!important
}


.tree li span {
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}



.tree li span a {
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.tree li span b {
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	font-weight: 400;
}

.tree li a i,
.tree li b i{
	width: 130px;
	display: block;
	font-style: normal;
}




.tree li span.step_red{
	background: #B00000;
	color:#fff;
	border: 0;
}
.tree li span.step_red a,
.tree li span.step_red b
{
	color:#fff;
}

.tree li span.step_green{
	background: #00CC66;
	color:#000000;
	border: 0;
}
.tree li span.step_green a,
.tree li span.step_green b
{
	color:#000000;
}


.tree li span.step_gray{
	background: #C8C8C8 ;
	color:#000000;
	border: 0;
}
.tree li span.step_gray a,
.tree li span.step_gray b
{
	color:#000000;
}

.tree li span.step_blue{
	background: #c8e4f8 ;
	color:#000;
	border: 0;
}


.tree li span.step_blue a,
.tree li span.step_blue b
{
	color:#000000;
}




/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover,.tree li a:hover+ul li a,
.tree li b:hover,.tree li a:hover+ul li b
{
/* 	background: #c8e4f8; */
/* 	color: #000; */
/* 	border: 1px solid #94a0b4; */
	background: #fff;
	color: #000!important;
	border: 1px solid #000;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,.tree li a:hover+ul li::before,.tree li a:hover+ul::before,.tree li a:hover+ul ul::before
.tree li b:hover+ul li::after,.tree li b:hover+ul li::before,.tree li b:hover+ul::before,.tree li b:hover+ul ul::before
	{
	color: #000;
	border-color: #000;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/
b.path_name{
	font-size: 12px!important;
	font-weight: 800!important;
	text-transform: uppercase;
}
