/*ISPC-2516 Carmen 09.04.2020 */
/* #ISPC-2512PatientCharts */
#block-Verhaltensbeobachtung .groupHeader {
	display: none;
}

#block-Verhaltensbeobachtung .create_form_block_awake_sleeping_status td:nth-child(1){
	width: 180px;
}

#block-Verhaltensbeobachtung table.create_form_block_awake_sleeping_status {
	margin-left: 25px;
}
/*ISPC-2516 Carmen 09.04.2020 */

/*ISPC-2522 Carmen 10.04.2020 */
#block-Positionierung .groupHeader {
	display: none;
}

#block-Positionierung table.create_form_block_positioning td:nth-child(1){
	width: 170px;
}

#block-Positionierung table.create_form_block_positioning {
	margin-left: 25px;
}

#block-Positionierung td.required::after {
    content: " *";
    color: #e32;
    display: inline;
}

#positioning_type_error {
	display: none;
	color: #e32;
}

/*ISPC-2522 Carmen 10.04.2020 */

/*ISPC-2523 Carmen 13.04.2020 */
#block-Absaugen .groupHeader {
	display: none;
}

#block-Absaugen table.create_form_block_suckoff td:nth-child(1){
	width: 170px;
}

#block-Absaugen table.create_form_block_suckoff {
	margin-left: 25px;
}

/*ISPC-2523 Carmen 13.04.2020 */

/*ISPC-2518+ISPC-2520 Carmen 14.04.2020 */
#block-EinAusfuhr .groupHeader {
	display: none;
}

#block-EinAusfuhr table.create_form_block_organic_entries_exits td:nth-child(1){
	width: 170px;
}

#block-EinAusfuhr table.create_form_block_organic_entries_exits {
	margin-left: 20px;
}

/*ISPC-2518+ISPC-2520 Carmen 14.04.2020 */


/*ISPC-2519 Carmen 15.04.2020 */
#block-Veranstaltung .groupHeader {
	display: none;
}

#block-Veranstaltung table.create_form_block_custom_event td:nth-child(1){
	width: 165px;	/*ISPC-2517 pct.f Lore 20.05.2020*/
}

#block-Veranstaltung table.create_form_block_custom_event {
	margin-left: 20px;
}

#block-Veranstaltung table textarea{
	width: 84%;
}

#block-Veranstaltung td.required::after {
    content: " *";
    color: #e32;
    display: inline;
}

#custom_name_type_error, #custom_date_time_type_error {
	display: none;
	color: #e32;
}

/*ISPC-2518+ISPC-2520 Carmen 14.04.2020 */

/*ISPC-2508 Carmen 21.04.2020 */
#artificial_entries_exits_modal legend {
	display: none;
}

#artificial_entries_exits_modal fieldset {
	border: 0px;
}

#artificial_entries_exits_modal table td {
	border-bottom: 1px solid #DDD;
	padding: 5px;
}

#artificial_entries_exits_modal td.print_column_first{
	width: 220px;
}

#artificial_entries_exits_modal table {
	margin-left: 80px;
}

.charts_modal .ui-dialog-buttonset .leftButton {
	float: left;
}

.charts_modal .ui-dialog-buttonset {
    width: 100%;
}

.charts_modal .ui-dialog-buttonpane .rightButton {
	float: right;
}

/*ISPC-2508 Carmen 21.04.2020 */

/* 
.mca {
    width: 100%;
    min-width: 930px;
    display: inline-table;
    box-sizing: border-box;
    font-size: 0;
}
.mca .date-container {
    font-size: 0;
    display: inline-table;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3px;
}



 
 
main content area

.mca {
	width:100%;
	min-width:930px; 
	display:inline-table;
	box-sizing:border-box;
	font-size:0;
}
.mca .date-container {
	font-size:0;
	display:inline-table;
	width:100%;
	box-sizing:border-box;
	margin-bottom:3px;
}
.mca .date-container ul {
	margin:0;
	padding:0;
	width:100%;
	display:inline-table;
	box-sizing:border-box;
	margin-top:20px;
	margin-bottom:10px;
}

 
.mca .date-container ul li {
	list-style:none;
	float:left;
	display:inline-table;
	box-sizing:border-box;
	 
	text-align:center;
	
}

.mca .date-container ul li.day > div {
	background:#edeef0;
	width:90px;
	padding-top:5px;
	padding-left:7px;
	padding-right:7px;
	height:30px;
	display:inline-table;
	box-sizing:border-box;
	font-size:13px;
	color:#3a3a3a;
	font-weight:700;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	
	border-radius:30px;
	letter-spacing:-0.5pt;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.mca .date-container.threedays ul li.day > div, .mca .date-container.oneday ul li.day > div {
	width:90px;
	padding-top:5px;
	padding-left:7px;
	padding-right:7px;
	line-height:20px;
}



.mca .date-container ul li > div:hover {
	cursor:pointer;
	background-color:#dbdee6;
	color:#000000;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.mca .date-container ul li .btn {
	border-radius:50%;
	height:30px;
	width:30px;
	border:0;
	float:left;
	background-color: #0ea6fd;
	outline:none;
	cursor:pointer;
	transition:background-color 0.3s ease;
}
.mca .date-container ul li .btn:hover {
	background-color:#345392;
	transition:background-color 0.3s ease;
	
}

.mca .date-container ul li .btn.btnPrev {
	background-image: url(../../images/patient_header/arr-left-white.svg);
	background-repeat:no-repeat;
	background-position: 10px 50%;
}
.mca .date-container ul li .btn.btnNext {
	background-image: url(../../images/patient_header/arr-right-white.svg);
	background-repeat:no-repeat;
	background-position: 12px 50%;
	float:right;
}

.mca .date-container ul li.first-row {
	width:270px;
	position:relative;
}
.mca .date-container ul li.first-row > span {
	float:left;
	padding-left:18px;
	font-size:17px;
	color:#111111;
	font-weight:700;
	 
	font-family: 'Open Sans', sans-serif;
	letter-spacing:-0.5pt;
	line-height:28px;
	
}
.mca .date-container ul li.first-row > .datepicker {
	background:#00a2ff url(../../images/patient_header/icon-calendar-white.svg) 9px 50% no-repeat;
	background-size:16px auto;
	border:0;
	height:30px;
	padding-left:32px;
	padding-right:12px;
	border-radius:30px;
	margin-left:15px;
	position:absolute;
	right:0;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	
	font-size:14px;
	color:#FFF;
	font-weight:700;
	letter-spacing:-0.5pt;	 
	cursor:pointer;
	outline:none;
	transition:background-color 0.3s ease;
	margin-right:15px;
}
.mca .date-container ul li.first-row > .datepicker:hover {
	background-color:#345392;
	transition:background-color 0.3s ease;
}
 
.mca .default-layout {
	width:100%;
	display:inline-table;
	box-sizing:border-box;
	background:#ffffff;
	border:1px solid #dbdee6;
	 
}
.mca .default-layout:after {
	width:50px;
	height:calc(100% + 2px);
	display:block;
	box-sizing:border-box;
	background:linear-gradient(-90deg, rgba(255,255,255,1), rgba(255,255,255,0) 100%);
	
	content:"xx";
	z-index:9;
	position:absolute;
	right:-1px;
	top:-1px;
}




.mca .default-layout h1.header {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	letter-spacing:-0.5pt;
	font-size:18px;
	color:#111111;
	padding:17px;
	margin:0;
	display:inline-table;
	box-sizing:border-box;
	width:270px;
	float:left;
	
}
 */
 .chart_blocks{
	width:100%;
	display:inline-table;
	box-sizing:border-box;
	background:#ffffff;

	margin: 2px 0 2px 0;
	 
}
 
 
.chart_header{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	letter-spacing:-0.5pt;
	font-size:18px;
	color:#111111;
	padding:17px;
	margin:0;
	display:inline-table;
	box-sizing:border-box;
	width:100%;
	float:left;
	border-bottom:1px solid #dbdee6; 
}
 
.chart_headers{
	position: absolute;
	z-index: 80;
	
}
 
.chart_grafic_block{
		border:1px solid #dbdee6;
}

.chart_add_button{
	display: block;
	float: right;
	margin:10px 5px 5px 5px;
	background: #2bae2f!important;
	border: 1px solid #2bae2f!important; 
	border-radius: 5px;
	color:#fff!important;
	padding: 10px;
	width: auto;
	max-width: 250px;
	
}


.extra_btns{
	display: none;
}



 
.mca .date-container {
	font-size:0;
	display:inline-table;
	width:100%;
	box-sizing:border-box;
	margin-bottom:3px;
}
.mca .date-container ul {
	margin:0;
	padding:0;
	width:100%;
	display:inline-table;
	box-sizing:border-box;
	margin-top:20px;
	margin-bottom:10px;
}

 
.mca .date-container ul li {
	list-style:none;
	float:left;
	display:inline-table;
	box-sizing:border-box;
	 
	text-align:center;
	
}
.mca .date-container.oneday ul li.day {
    width: calc(100% - 270px);
}
.mca .date-container ul li.day > div,
.mca .date-container ul li.day > .day_button
 {
	background:#edeef0;
	width:90px;
	padding-top:5px;
	padding-left:7px;
	padding-right:7px;
	height:30px;
	display:inline-table;
	box-sizing:border-box;
	font-size:13px;
	color:#3a3a3a;
	font-weight:700;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	
	border-radius:30px;
	letter-spacing:-0.5pt;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.mca .date-container.week ul li.day > div, 
.mca .date-container.threedays ul li.day > div, 
.mca .date-container.oneday ul li.day > div 
{
	width:90px;
	padding-top:5px;
	padding-left:7px;
	padding-right:7px;
	line-height:20px;
}
.mca .date-container.threedays ul li.day {
    --calculated-width: calc(100% - 270px);
    width: calc(var(--calculated-width) / 3);
}


.mca .date-container ul li > div:hover {
	cursor:pointer;
	background-color:#dbdee6;
	color:#000000;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.mca .date-container ul li .btn {
	border-radius:50%;
	height:30px;
	width:30px;
	border:0;
	float:left;
	background-color: #0ea6fd;
	outline:none;
	cursor:pointer;
	transition:background-color 0.3s ease;
}
.mca .date-container ul li .btn:hover {
	background-color:#345392;
	transition:background-color 0.3s ease;
	
}

.mca .date-container ul li .btn.btnPrev {
	background-image: url(../../images/patient_header/arr-left-white.svg);
	background-repeat:no-repeat;
	background-position: 10px 50%;
}

.mca .date-container ul li .btn.btnPrevMultiple {
	background-image: url(../../images/patient_header/m-arr-left-white.png);
	background-repeat:no-repeat;
	background-position: 5px 50%;
}
.mca .date-container ul li .btn.btnNext {
	background-image: url(../../images/patient_header/arr-right-white.svg);
	background-repeat:no-repeat;
	background-position: 12px 50%;
	float:right;
}
.mca .date-container ul li .btn.btnNextMultiple {
	background-image: url(../../images/patient_header/m-arr-right-white.png);
	background-repeat:no-repeat;
	background-position: 8px 50%;
	float:right;
}

.mca .date-container ul li.first-row {
	width:270px;
	position:relative;
}
.mca .date-container ul li.first-row > span {
	float:left;
	padding-left:18px;
	font-size:17px;
	color:#111111;
	font-weight:700;
	 
	font-family: 'Open Sans', sans-serif;
	letter-spacing:-0.5pt;
	line-height:28px;
	
}
.mca .date-container ul li.first-row > .change_view {
	background:#00a2ff url(../../images/patient_header/icon-calendar-white.svg) 9px 50% no-repeat;
	background-size:16px auto;
	border:0;
	height:30px;
	padding-left:32px;
	padding-right:12px;
	border-radius:30px;
	margin-left:15px;
	position:absolute;
	right:0;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	
	font-size:14px;
	color:#FFF;
	font-weight:700;
	letter-spacing:-0.5pt;	 
	cursor:pointer;
	outline:none;
	transition:background-color 0.3s ease;
	margin-right:15px;
}
.mca .date-container ul li.first-row > .change_view:hover {
	background-color:#345392;
	transition:background-color 0.3s ease;
}
 
 
 
/* 7 days grid design */
.mca .date-container.week ul li.day {
  --calculated-width:calc(100% - 270px);
	width: calc(var(--calculated-width) / 7);
	 
}
.mca .date-container.week ul li.day:last-child {
	 --calculated-width:calc(100% - 270px);
	width: calc(calc(var(--calculated-width) / 7) - 2px);
}

/* // 7 days design */
 
 
 
 
 
 
.tooltip_info{
	border-top:1px solid #000000;;
	width: 100%;
	display: block;
	float:left;
} 
.tooltip_info h2{
	color:black;
	width: 100%;
	display: block;
	float:left;
} 
.tooltip_info span{
	width: 100%;
	display: block;
	float:left;
} 

.di_labels{
	display: block;
	float: left;
	width: 50%;
}
.di_inputs{
	display: block;
	float: left;
	width: 50%;
}
.di_radios label{
	display: block;
	float: left;
	width: 100%;
	
	
}

.m_separator{
	clear:both;
	display: block;
	float: left;
	width: 100%;
	height: 1px;
	
	
	
}

.di_inputReadonly{
	border: 0px!important;
	background: transparent!important;;
}

.display_none{
	display: none;
}


 
.view_selector{
	position:absolute;
	margin-top:-15px;
	margin-left:100px;
	border-radius: 30px;
	display: none;
	width: 350px;
	height: 300px;
	min-height: 530px;  /* ISPC-2637 Ancuta 04.08.2020  */
	background: #dbdee6;
	z-index:8;
	padding:5px;
	
}
 
.view_selector >h2{
	color: #000;
	line-height:26px;
}
.dp_view_title{
	color: #000;
	font-size: 14px;
	font-weight: 800;
	line-height:26px;
}

.view_selector > .change_view {
	background:#00a2ff url(../../images/patient_header/icon-calendar-white.svg) 9px 50% no-repeat;
	background-size:16px auto;
	border:0;
	height:30px;
	padding-left:32px;
	padding-right:12px;
	border-radius:30px;
	margin-left:5px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	
	font-size:14px;
	color:#FFF;
	font-weight:700;
	letter-spacing:-0.5pt;	 
	cursor:pointer;
	outline:none;
	transition:background-color 0.3s ease;
	margin-right:15px;
}
.view_selector > .change_view:hover {
	background-color:#345392;
	transition:background-color 0.3s ease;
}
 
 .view_selector .apply_btn{
	 	background:#00a2ff;
		background-size:16px auto;
		border:0;
		height:30px;
		padding:8px;
		border-radius:5px;
		margin-left:5px;
		font-family: 'Open Sans', sans-serif;
		font-size:14px;
		color:#FFF;
		font-weight:700;
		letter-spacing:-0.5pt;	 
		cursor:pointer;
		outline:none;
		transition:background-color 0.3s ease;
		margin-right:15px;
		float: right;
 } 
 
 .view_selector .cancel_btn{
	 	background:#ede8e8;
		background-size:16px auto;
		border:0;
		height:30px;
		padding:8px;
		border-radius:5px;
		margin-left:5px;
		font-family: 'Open Sans', sans-serif;
		font-size:14px;
		color:#000000;
		font-weight:700;
		letter-spacing:-0.5pt;	 
		cursor:pointer;
		outline:none;
		transition:background-color 0.3s ease;
		margin-right:15px;
 } 

.interval_selection{
	display: none;
}

.interval_selection .select_oneday{
	
}
.interval_selection .select_threedays{
	
}
.interval_selection .select_week{
	
}
 
.dp_view_title{
	font-size: 12px;
	color:#000000;
}

#symptomatology_modal legend {
	display: none;
}

#symptomatology_modal fieldset {
	border: 0px;
}

#symptomatology_modal div {
	float: right;
	margin-right: 35px;
}

.modal_overlay{
	z-index:9;
	position: absolute;
	background:  transparent  url(../../images/ui-bg_diagonals-thick_90_eeeeee_40x40.png) 50% 50% repeat;
	opacity: .80;
	top: 0;
	left: 0;
	width: 100%;
	height: 1500px;
	
}


.dl{
	background: #dbdee6;
	color: #444444;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: -0.25pt;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 16px;
	background: #dbdee6;
	margin-left:2px;
}

.point_label{
	background: #dbdee6;
	list-style: none;
	height: 16px;
	display: inline-table;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.25pt;
	font-weight: 400;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 16px;
	background: #dbdee6;
	float: left;
	position: relative;
	margin-left:2px;
}

.med_status{
	font-size: 16px;
	font-weight: 900;
}


.cfc_info td {
	padding: 10px;
	
}

.cfc_label{
	font-weight: 900;
}

.custom_event_info {
	width: 500px;
	display: block;
	height: 100px;
	overflow-y:scroll;
	z-index: 1000;
	word-wrap: break-word;
	white-space: normal !important;
}