
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:760px;
}

#analage
{	width:100%;
	height:auto;
}

#analage h1
{	font-size:18px;
	margin-bottom:8px;
	padding-left:0px;
}

#analage h3
{	font-size:15px;
	margin:0;
	margin-bottom:8px;
	padding-left:0px;
}

#analage .pallnetz_topform
{	width:355px;
	float:left;
	border:1px solid #000000;
	margin-top:10px;
	padding:10px;
	padding-bottom:5px;
	color:#000;
}

#analage .pallnetz_topform label
{	width:auto;
}

#analage .pallnetz_topform .blackline
{	border-bottom:1px solid #000000;
	margin:5px -10px 0 -10px;
}

#analage .pallnetz_topform .formleftdiv
{	float:left;
	width:200px;

}

#analage .pallnetz_topform input
{	margin-left:0px;
	width:98px;
}

#analage .pallnetz_topform .formleftdiv .textArea
{	width:160px;
	margin-left:0px;
	margin-bottom:5px;
}

#analage .pallnetz_topform .formrightdiv
{	float:right;
	width:130px;
	padding-top:25px;
}

#analage .pallnetz_topform .formShortDiv
{	float:left;
	margin-top:5px;
}

#analage .pallnetz_topform .VerLine
{	float:left;
	width:1px;
	height:25px;
	background:#000;
	margin:35px 7px 0px 7px;
	margin-bottom:-5px;
}

#analage .Pallnetz_RightHeadingDiv
{	width:370px;
	float:right;
	margin-left:10px;
	margin-top:45px;
	*margin-top:35px;
	margin-top:35px\9;
}
#analage .PalnetzRightContent{
	border: 1px solid #000;
}
.Pallnetz_RightHeadingDiv h2
{	font-size:23px;
	line-height:35px;
	font-weight:normal;
	text-align:center;
}


.Pallnetz_RightHeadingDiv .PalnetzRightContent
{	float:left;
	width:100%;
	border:1px solid #000;
	margin-top:20px;
}

.PalnetzOuter
{	width:100%;
	float:left;
	display:block;
}

.PalnetzHeadingOuter
{	padding:5px;
}

.PalnetzOuter .PalnetzLeftContent
{	width:173px;
	float:left;
	padding:5px;
	display:block;
}

.PalnetzOuter .PalnetzLeftContent input
{	margin:0;
	width:auto;
	margin-top:5px;
}

.PalnetzOuter label
{	width:auto;
	margin:0;
	margin-top:5px;
}

.border
{	border:1px solid #000;
}

.border_bottom
{	border-bottom:1px solid black;
}

.border_right
{	border-right:1px solid black;
}

.border_top
{	border-top:1px solid black;
}

.border_left
{	border-left:1px solid black;
}

.PalnetzMainContent
{	width:100%;
	float:left;
	border:2px solid #000;
	margin-top:20px;
	display:block;
}

.PalnetzMainContent input
{	width:auto;
	margin:0px 0px 0px 0px;
	padding:0;	
	float:left;
}

.PalnetzMainContent textarea
{	width:98%;
	margin:0;
}

.PalnetzMainContent label
{	width:auto;
	margin:0px 0px 0px 5px;
	float:left;
}

.PalnetzMainContent h4
{	font-size:13px;
	font-weight:bold;
	margin:0px;
	margin-bottom:0px;
	line-height:12px;
}


.PalnetzMainContent .PalnetzTableLeft
{	width:450px;
	float:left;
	border-right:2px solid #000;
}

.PalnetzMainContent .PalnetzTableRight
{	width:auto;
	float:left;
	width:308px;
}

.PalnetzMainContent .PalnetzTableRight_left
{	float:left;
	width:50%;
}

.PalnetzMainContent .PalnetzTable25
{	width:25%;
	float:left;
}

.PalnetzMainContent .PalnetzTable50
{	width:50%;
	float:left;
}

.PalnetzGray
{	background:#f3f3f3;
}

.PalnetzMainContent .PalnetzShortHead
{	width:170px;
	float:left;
	border-right:1px dotted #000000;
}

.PalnetzShortTitle
{	padding:5px;
}

.DottedBrdrBtm
{	border-bottom:1px dotted black;
}

.DottedBrdrTop
{	border-top:1px dotted black;
}

.DottedBrdrR
{	border-right:1px dotted black;
}


.PalnetzMainContent .PalnetzShortDiv
{	width:107px;
	float:left;
}

.PalnetzBShortDiv
{	width:342px;
	float:left;
}

.PalnetzDivForChkbxOuter
{	width:auto;
	float:left;
	padding:3px;
}

.PalnetzDivForChkbxOuter input
{	margin:5px 0 0 5px;
	*margin:3px 0 0 1px;
	float:left;
}

.PalnetzDivForChkbxOuter label
{	margin:5px 0 5px 5px;
	*margin:5px 0 5px 1px;
	float:left;
}


.PalnetzDivForChkbxOuterLeft
{	width:225px;
	float:left;
	border-right:2px solid #000;
}

.PalnetzDivForChkbxOuterRight
{	width:223px;
	float:left;
}

.PalnetzSmallTxt
{	font-size:11px;
}

.thickB_Top
{	border-top:2px solid #000;
}

.ClrBoth {
	clear:both;
}


.Pallnetz_FullWid
{	width:100%;
	padding:0;
	float:left;
}

.Pallnetz_FullWid table
{	width:100%;
	margin:0;
}

.Pallnetz_FullWid table td
{	padding:5px;
	border-left:dotted 1px #000;
	border-top:dotted 1px #000;
}

.Pallnetz_FullWid table th
{	padding:5px;
	border-bottom:solid 1px #000000;
	border-top:solid 1px #000000;
	text-align:left;
	background:#f3f3f3;
}

.Pallnetz_FullWid td.firstcol, .Pallnetz_FullWid th.firstcol
{	width:160px;
}

.Pallnetz_FullWid td.secondcol, .Pallnetz_FullWid th.secondcol
{	width:98px;
}

td.paddingNone
{	padding:0px;
}

td.PallTble_br
{	border-right:dotted 1px #000;
}

td.PallTble_bb
{	border-bottom:dotted 1px #000;
}

td.PallTble_bl, th.PallTble_bl
{	border-left:dotted 1px #000;
}

td.PallTble_bt
{	border-top:dotted 1px #000;
}

.Pallnetz_FullWid td.l_bordernone, .Pallnetz_FullWid th.l_bordernone
{	border-left:none;
}

.Pallnetz_FullWid td.r_bordernone
{	border-right:none;
}

.Pallnetz_FullWid td.b_bordernone, .Pallnetz_FullWid th.b_bordernone
{	border-bottom:none;
}

.Pallnetz_FullWid td.t_bordernone, .Pallnetz_FullWid th.t_bordernone
{	border-top:none;
}