body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin: 0 auto;
	padding: 10px;
	width: 760px;
}

#analage {
	width: 100%;
	height: auto;
	padding: 5px;
}

#analage h1 {
	font-size: 18px;
	margin-bottom: 8px;
	padding-left: 0px;
	font-weight: normal;
	color: #000000;
}

#analage h2 {
	font-size: 15px;
	margin: 0;
	margin-bottom: 8px;
	padding-left: 0px;
	font-weight: normal;
	color: #000000;
}

#analage .pallnetz_topform {
	width: 358px;
	float: left;
	border: 1px solid red;
	margin-top: 10px;
	padding: 10px;
	padding-bottom: 5px;
	color: red;
}

#analage .pallnetz_topform label {
	width: auto;
}

#analage .pallnetz_topform .redline {
	border-bottom: 1px solid red;
	margin: 5px -10px 0 -10px;
}

#analage .pallnetz_topform .formleftdiv {
	float: left;
	width: 200px;
}

#analage .pallnetz_topform input {
	margin-left: 0px;
	width: 98px;
}

#analage .pallnetz_topform input#pallitiv_versrgun_KrankeInpt {
	width: 95%;
}

#analage .pallnetz_topform .formleftdiv .textArea {
	width: 160px;
	margin-left: 0px;
	margin-bottom: 5px;
}

#analage .pallnetz_topform .formrightdiv {
	float: right;
	width: 130px;
	padding-top: 25px;
}

#analage .pallnetz_topform .formShortDiv {
	float: left;
	margin-top: 5px;
}

#analage .pallnetz_topform .VerLine {
	float: left;
	width: 1px;
	height: 25px;
	background: red;
	margin: 35px 7px 0px 7px;
	margin-bottom: -5px;
}

#analage .Pallnetz_RightHeadingDiv {
	width: 340px;
	float: right;
	margin: 35px 20px 0 0;
}

.Pallnetz_RightHeadingDiv h2 {
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
	text-align: left;
}

.Pallnetz_RightHeadingDiv .PalnetzRightContent {
	float: left;
	width: 100%;
}

.PalnetzOuter {
	width: 100%;
	float: left;
	display: block;
}

.PalnetzOuter label {
	width: auto;
	margin: 0;
	margin-top: 5px;
}

.border {
	border: 1px solid #000;
}

.border_bottom {
	border-bottom: 1px solid black;
}

.border_right {
	border-right: 1px solid black;
}

.border_top {
	border-top: 1px solid black;
}

.border_left {
	border-left: 1px solid black;
}

.ClrBoth {
	clear: both;
}

.palliativ_versorgung {
	width: 100%;
	padding-top: 30px;
}

.palliativ_versorgung .content {
	width: 100%;
	display: block;
	font-size: 15px;
	padding-bottom: 15px;
}

.palliativ_versorgung .col {
	width: auto;
	margin-right: 10px;
	float: left;
}

.palliativ_versorgung .colNew {
	width: auto;
	margin-right: 20px;
	float: left;
}

.palliativ_versorgung .subcontent {
	width: auto;
	margin-left: 37px;
	display: block;
	font-size: 15px;
	padding-bottom: 15px;
}

.palliativ_versorgung .subcontent table {
	font-size: 16px;
	margin-bottom: 0;
	width: 90% !important;
}

.palliativ_versorgung .subcontentPad {
	padding-bottom: 0px;
}

.palliativ_versorgung .subcontentMrg {
	width: auto;
	margin-left: 98px;
	display: block;
	font-size: 15px;
	padding-bottom: 15px;
}

.palliativ_versorgung .colMrg {
	width: auto;
	margin-right: 50px;
	float: left;
}

.palliativ_versorgung .date {
	width: 100%;
	display: block;
	margin-top: 70px;
	font-size: 15px;
}

.LeftDiv {
	width: 250px;
	height: auto;
	float: left;
}

.RightDiv {
	width: 250px;
	height: auto;
	float: left;
	margin-left: 140px;
}

input#vestben_inpt {
	margin: -5px 0 0 0;
}

.palliativ_versorgung .subcontent  input {
	position: relative;
	top: -7px;
}

.palliativ_versorgung .subcontent  input[type=checkbox] {
	position: relative;
	top: -7px;
}


.anlage7completed{
	width:94%;
	float: left;
	margin: 20px 0 20px 0;
	padding:5px 0 5px 32px;
	background: #fff;
	border-top: 1px solid #E3E3E1;
	border-bottom: 1px solid #E3E3E1;
}
.anlage7completed input{
	float: left;
	margin: 5px;
}
.anlage7completed label{
	float: left;
	font-size: 14px;
	line-height: 22px;
/*	font-weight: 800;*/
}

#analage input.insurnace {
	margin-left: 0px;
	width: 320px;
}

.proper_height p,.proper_height span,.proper_height div,.proper_height a,.proper_height label,.proper_height h4
	{
	line-height: 25px;
}
