table.palliative_emergency{
	width: 100%;
	border-collapse: collapse;
}
table.palliative_emergency td{
	border:1px solid #000;
	padding: 0px!important;
	margin: 0px!important;
	vertical-align: top;
}
table.palliative_emergency td table {
	margin: 0px!important;
} 
table.palliative_emergency td table td{
/* 	border:1px solid red; */
	margin: 0px!important;
	line-height: 22px;
 	border:0;
 } 
td.yellow{
	background:  #ffff00;
}
td.green{
	background:  #00ff00;
}
td.red{
	background:  #ff0000;
}
 
table.palliative_emergency td table td textarea{
	width: 98%;
 } 
table.palliative_emergency td table td textarea.diagnosen{
	width: 98%;
	height: 150px;
 } 
table.palliative_emergency td table td input[type="text"]{
	width: 96%;
 } 
 
 table.force_border{
 	
 }
 table.force_border td{
 	border: 2px solid #000!important
 }

