/*ISPC-2564 Carmen 08.07.2020*/
#patient_rass_form .orasslist {
	list-style-type: decimal;
}

#patient_rass_form .urasslist {
	list-style-type: circle;
}
#patient_rass_form ol>li, #patient_rass_form ul>li{
	padding-left: 5px;
	line-height: 18px;
}
#patient_rass_form .prass {
	line-height: 18px;
	margin-bottom: 10px;
}