body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
* {
/*	border: 1px solid red;*/
}
.ClrBoth {
	clear:both;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
}
.MarginZero {
	margin:0px 0 0 1px;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:auto;
	padding: 0;
	margin: 3px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
/*	margin:5px 0 5px 10px;*/
}
form select{
width:99%;
	}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
} 



table.stammblattsapv_table {
	border: 2px solid #555;
	width: 99%;
	margin: 3px;
	color: #000;
}
.stammblattsapv_table td {
	border: 1px solid #555;
}

span.stamm_header{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 22px; 
	line-height: 32px;
	text-transform: uppercase;
	 font-weight: 800;
}


table.stmpatinfo_table {
	border: 0px;
	width: 100%;
}
.stmpatinfo_table td {
	border: 1px;
}


span.stm_lbl_big{
	width: 130px;
	display: block;
	float: left;
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
}
td.jalf{
	width: 50%;
}
span.variable_pat{
	line-height: 35px;
	font-size: 14px; 
}
span.variable_pat input{
	margin:0 5px 5px 5px;
	width:365px;
}
span.variable_doctor input{
	margin:0 5px 5px 5px;
	width: 95%;
}


span.spnvar{
	font-size: 14px; 
	display: block;
	float: left;
	width: 255px;
	line-height: 24px;
}
span.spnvar input{
	width: 240px;
}

span.stm_lbl_small{
	width: 65px;
	display: block;
	float: left;
	font-size: 16px;
	font-weight: 800;
	line-height: 32px;
	margin-top:3px;
}
span.vallsmall {
	display: block;
	width: 125px;
	float: left;
	font-size: 14px; 
	line-height: 36px;
	
}
span.vallsmall input{
	width:105px;
}

table.stamd_details {
	border: 0px;
	width:98%;
	margin: 0px;
}
.stamd_details td {
	border: 0px solid #ccc;
}

.Familienstand_table{
	margin: 0px;
	border-bottom: 1px solid #000;

}

.Familienstand_table b{
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
}
.Familienstand_table td{
	width: 100px;
}
.Familienstand_table label{
	float: left;
	margin-top:3px;
	font-size: 14px;
}
.Familienstand_table input{
	float: left;
	margin: 5px 2px 0px 0 ;
}
.allergien_table {
	width: 100%;
	border: 0;
}
.allergien_table td {
	border: 0;
}
.allergien_table b{
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
}
textarea.patallergien_txt{
	width: 750px;
	height: 100px;
	margin: 5px 10px 5px 10px;
	padding: 0;
	text-indent:none;
}



 .alldisagnosen{
	width: 750px;
	height: 100px;
	margin: 5px 10px 5px 10px;
}
.alldisagnosen span{
	display: block;
	margin-bottom: 5px;
}
.diagnosen_table {
	width: 100%;
	border: 0;
}
.diagnosen_table td {
	border: 0;
}
.diagnosen_table b{
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
}
textarea.diagnosen{
	width: 750px;
	height: 100px;
	margin: 5px 10px 5px 10px;
	padding: 0;
	text-indent:none;
}

.healtinsurance {
	width: 100%;
}

.healtinsurance td {
		border: 0px;
}


.pflegestufe{

}
.pflegestufe b{
	font-size: 16px;
	font-weight: 800;
}
.pflegestufe label{
	float: left;
	margin-top:3px;
	font-size: 14px;
}


.pflegestufe input{
	float: left;
	margin: 5px 2px 0px 0 ;
}
.medium {
	width: 100px;
}
.inp_small {
	width: 50px;
}

.doctor{
	width: 100%;
	margin: 0px;
	border: 0px;
}
.doctor td{
	border: 0px;
}

.Vorsorgevollmacht {
 width:100%
/*	border-bottom: 1px solid #000;*/
}

.Vorsorgevollmacht td {
	border: 0;
}

.Vorsorgevollmacht b{
	font-size: 16px;
	font-weight: 800;
	width: 150px;
}
.Vorsorgevollmacht label{
	float: left;
	margin-top:3px;
	font-size: 14px;
}
.Vorsorgevollmacht input{
	float: left;
	margin: 5px 2px 0px 0 ;
}
.Vorsorgevollmacht input[type="text"]{
	float: left;
	width: 180px;
	margin: 5px 2px 0px 0 ;
}
td.patientenverfugungtd {
/*	width: 200px;*/
}

.Patientenverfugung {
	width: 50%;
 
}

.Patientenverfugung td {
	border: 0;
}

.Patientenverfugung b{
	font-size: 16px;
	font-weight: 800;
	width: 150px;
}
.Patientenverfugung label{
	float: left;
	margin-top:3px;
	font-size: 14px;
}
.Patientenverfugung input{
	float: left;
	margin: 5px 2px 0px 0 ;
}


.betreuer_tel {
	float: left;
	}
.betreuer_tel b{
	float: left;
	width: 31px;
	display: block;
	margin-top:3px;

}
.betreuer_tel input[type="text"]{
	float: left;
	width: 100px;
	margin:0 3px 0 0;
}


.betreuer_fax {
	float: left;
}
.betreuer_fax b{
	float: left;
	display: block;
	width:36px;
	margin-top:3px;
}
.betreuer_fax input[type="text"]{
	float: left;
	width: 180px;
	margin:0 5px 0 0;
}



.erstkontakt {
	width: 100%;
	border-bottom: 1px solid #000;
}

.erstkontakt td {
	border: 0;
}

.erstkontakt b{
	font-size: 16px;
	font-weight: 800;
}
.erstkontakt label{
	float: left;
	margin-top:3px;
	font-size: 14px;
}
.erstkontakt input{
	float: left;
	margin: 5px 2px 0px 0 ;
}



.ECOG {
	width: 100%;
}

.ECOG td {
	border: 0;
}

.ECOG b{
	font-size: 16px;
	font-weight: 800;
}
.ECOG label{
	float: left;
	margin-top:3px;
	font-size: 14px;
}
.ECOG input{
	float: left;
	margin: 5px 2px 0px 0 ;
}

.inpV_small {
	width: 40px;
}

.apotheke{
	width: 100%;
	margin: 0px;
	border: 0px;
}
.apotheke td{
	border: 0px;
}
textarea.genogramm  {
	width :90%;
	height: 100px;
	margin: 10px;
	
}
span.telfax_port {
 display: none;
 }

