body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#000000;

}
.rotatDiv {
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg); 
	-index:inherit; 
	float:left; 
	width:99.84mm; 
	height:143.93mm;
	
}
.rotatInerDiv {
	width:143.93mm; 
	height:99.84mm;
}