table, td, th {
    vertical-align: middle;
}
div textarea {
    width: 100%;
    height: 50px;
}
div#rpassessment_container, div#rpassessment_container table td{
    font-size: 11pt;
    line-height: 150%;
}
.doctor_list {
	float: left;
}
#label_doctor_list {
	width: 5%;
}
.header_title_rpassessment
{
    text-align: center;
    border-bottom: 1px solid #000;
}

.header_table_rpassessment {
    border: 1px solid #000;
}

.header_table_rpassessment td {
    padding-left: 4px;
}

.border_right {
    border-right: 1px solid #000;
}

.grid_10{
    width: 10%;
}
.grid_11{
    width: 11%;
}

.grid_20{
    width: 20%;
}

.grid_25{
    width: 25%;
}

.grid_30{
    width: 30%;
}

.grid_32{
    width: 32%;
}

.grid_35{
    width: 35%;
}

.grid_40{
    width: 40%;
}
.grid_45{
    width: 45%;
}

.grid_50 {
    width: 50%;
}

.grid_75 {
    width: 75%;
}

.grid_90 {
    width: 90%;
}

.grid_100 {
    padding-left: 0;
    width: 100%;
}

.pos_left {
    float: left;
}

.pos_right {
    float: right;
}

.align_center {
    text-align: center;
}

.to_be_filled {
    color: red;
}

.bold {
    font-weight: bold;
}

.border{
    border: 1px solid #000;
}

table#rp_assessment_header input[type="text"]:not(.hasDatepicker) {
    width: 95%;
}
.border_bottom {
    border-bottom: 1px solid #000;
}
.second_header {
    background-color: #d4cfb4;
}
.kvnofull {
	width: 100%;
}
.right_align {
	text-align: right;
}