#rubin_form {
	width: 700px;
	padding-left: 20px;
}

#rubin_form .fulldiv, #rubin_form .SimpleTable {
	width:100%;
}

#rubin_form label {
	padding-left: 10px;
}

#rubin_form h2{
	color: #000;
	font-size: 18px;
}

#rubin_form .center {
	text-align: center;
}

#rubin_form .innerdiv {
	width: 100%;
	/*padding-left: 10px;*/
}

#rubin_form .SimpleTable td.titletd {
	padding: 10px;
	font-weight: bold;
	width: 100%;
	font-size: 16px;
}

#rubin_form .SimpleTable td.normaltd {
	padding: 10px;
	width: 100%;
	font-size: 12px;
}

#rubin_form .SimpleTable .totaltd {
	text-align: right;
}

#rubin_form .SimpleTable .totaltd input {
	width: 210px;
	font-size: 14px;
}

#rubin_form .SimpleTable .text_total {
	border: 0px;
	background: transparent;
}

#rubin_form .question6 label {
	width: 340px;;
	display: block;
}

#rubin_form .inner {
	padding-left: 30px;
}

#weight, #height, #bmi {
	margin-left: 10px;
}

#rubin_form .labeldiv {
	display: inline-block;
}

#rubin_form .optional {
	display: inline-block;
	width: 100px;
}

input[type="radio"] {
	vertical-align: unset!important;
}

#rubin_form .div20
{
	width: 20%;
	display: inline-block;
	font-weight: bold;
}
#rubin_form .div40
{
	width: 40%;
	display: inline-block;
}
#rubin_form .bordtop
{
	border-top: 1px solid #000;
	height: 15px;	
}
#rubin_form .bordbott
{
	border-bottom: 1px solid #000;
	height: 15px;
}
#rubin_form .empty
{
	height: 15px;
}