@CHARSET "UTF-8";

/**
*Created by Ancuta
* 23.04.2018
*/


body{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
}



/* Patient details used in all  */
#patient_details_header-element{
	width:100%;	
	margin-bottom: 30px;
	margin-left: 0px!important;
}


table.patient_info_header{
	padding:0;
	margin: 0px!important;
	text-align:left;
	width:100%;
	border-collapse: collapse;
	border-bottom:1px solid #000000;
}

.patient_info_header td{
	padding:0;
	margin:0;
}


.patient_info_header td{
	padding:10px 0 10px 0;
	margin:0;

}
.patient_info_header td.phd_label_column{
	width: 20%;
}


.patient_info_header td.phd_label_column label{
	width: 100%;
	height: 100%;
	font-weight:bold; 
	padding-left:0px;
}
.patient_info_header td.phd_value_column{
	width: 80%;
}
 
 



.fulldiv .center{
	text-align: center;
}

.form_title{
	text-align: center;
	padding: 5px 0 5px 0;
	border-top: 1px solid #000; 	
	border-bottom: 1px solid #000; 	
	margin:0px;
}

.formular_questions{
	page-break-inside: avoid;
}

.formular_questions h5.question_text{
	margin:15px 0 5px 0;
		font-size: 12px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
	margin-bottom:10px;
}


.form_total_block{
	margin-top:20px;
	display: block;
	float: left;
	width: 100%;
	font-size: 16px;
	padding: 10px 0 10px 0;
	background: #f5f5f5;
	border-top:1px solid #000; 
	border-bottom:1px solid #000; 
}
.form_total_block input {
	height: 18px;
	width: 40px;
	background: #f5f5f5;
	border: 0px;
	padding: 0px;
	border-bottom: 1px solid #000;
} 

.total_slot{
	height: 20px;
	width: 40px;
	border-bottom: 1px solid #000;
	display: inline-block;
}

.score_description_block{
	display: block;
	margin-top:30px;
	margin-bottom:30px;
	page-break-inside: avoid;
	
}
.score_description_block table{
	margin:auto;
}

.score_desc{
	border: 1px solid #000;
}
.score_desc th{
	border: 1px solid #000;
}
.score_desc td{
	border: 1px solid #000;
}


/* Used in more */
.question_free_space{
	width: 100%;
	height: 40px;
	margin-top: 40px;
}


/* DEMTECT */
.inline-chk{
	display: block; 
	float: left;
	width: 10%;
	margin: 0px;
	border: 1px solid #000000;
	text-align: center;
	height: 40px;
}

.inline-chk .check_row label{
	padding: 0px;
}

.inline-chk .check_row label span{
	display: block; 
	float: left;
	width: 100%;
	text-align: center;
	height: 30px;
	margin-bottom: 5px;
}

.inline-chk .check_row label input{
	width: 100%;
	display: block; 
	float: left;
	text-align: center;
	margin: auto;
}



.inline-large-chk{
	width: 100%;
	margin: 0px;
	border: 1px solid #000000;
	text-align: left;
	height: 30px;
}

.inline-large-chk .check_large_row label{
	width: 100%;
	padding: 0px;
}
.inline-large-chk .check_large_row label img{
	text-align: right;
}

.inline-large-chk .check_large_row label span{
	display: block; 
	float: left;
	width: 100%;
	text-align: center;
	height: 30px;
	margin-bottom: 5px;
}


#q_1-element,
#q_1_a-element
{
	margin-left: 0px!important;
	width: 100%;
	height:60px;
}
.fake_table_fieldset{
	border:0;
	margin:0;
	padding:0;
}


.fake_table{
	margin-left:0;
	width: 100%;
	display:inline-block;
}
.demtect_q1{
	width: 100%;
	margin:0;
	padding:0;
	
}





#table_demtec_q2-element {
	width:100%;	
	margin-bottom: 35px;
	margin-left: 0px!important;
}
 .demtect_q2{
 	width: 50%;
	margin:0;
	padding:0;
 }
 .demtect_q2 td{
 	border-bottom: 1px solid #000000;
 
 }
 .demtect_q2 td label{
 	width: 80%;
 	padding: 0px;
 	margin:0px;
 
 }
 .demtect_q2 td input{
 	float: right;
 }
 
 
#q_5-element
{
	margin-left: 0px!important;
	width: 100%;
	height:60px;
}

#q_2-element
{
	margin-left: 0px!important;
	width: 100%;
	height: 100px;
}
 
 
 
 
 .dem_tect_table{
 
 }

.dem_tect_table th{
	border: 1px solid #000000;
	font-weight: bold;
} 
.dem_tect_table td{
	border: 1px solid #000000;
	padding:2px;
} 
 .extrahiddenn{
	display: none;
}

.tug_q2{
	    font-size: 12px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
    width: 100%;
    height: 40px;
}
.tug_q2 span.q_2_front_text{
	width: 20%;
	display: inline-block;
	line-height: 26px;
	float: left;
	margin-right: 4px;
/* 	border: 1px solid blue; */
} 
.tug_q2 input{
	width: 30%;
	float: left;
	display: inline-block;
	    font-weight: bold;
} 
.tug_q2 span.q_2_end_text{
	width: 50%;
	display: inline-block;
	line-height: 26px;
	float: left;
	margin-right: 4px;
/* 	border: 1px solid green; */
} 

.q_img_block{
	float: left;
	display: inline-block;
	width: 100%;
	height: 200px;
}

.q_img{
	width: 200px;
	height: 200px;
	background: #fff url('../../../images/bg-header.jpg') repeat-x;
}




#q_1_total-element{
	height: 50px;
}

.question_total_div{
	width: 100%;
	height:40px;
}
.question_total_div label{
	display: block;
	float: left;
	width: 90%;
	line-height: 36px;
/* 	background: #cdd; */
}

.question_total_div input{

	background: transparent;
	border: 0px;
	border-bottom: 1px solid #000;
	float: right;
	text-align: center;
	width: 30px;
	height: 24px;  
	
}

.ONlyPdf input{
	background: transparent;
	border: 0px;
	border-bottom: 1px solid #000;
	float: left;;
	text-align: center;
	width: 30px;
	padding: 0px;
	height: 20px;  
}

.Alleft input {
/* 	float: left; */
}


.input_q3_text input{
	background: transparent;
	border: 0px;
	border-bottom: 1px solid #000;
	float: left;
	text-align: center;
	width: 30px;
	height: 24px;  
	
	
}

.q3plus_button{
	display: none;
}
.q3minus_button{
	display: none;
}




#empty_form-element{
	display: none;
}
.custom_form {
	display: none;
}
.custom_form_title {
	display: none;
}





.question_free_text-html{
	font-size: 16px;
	margin-top:25px;
	font-weight: 900;
	margin-bottom:0px;
}


h5.question_text{
	margin-top:	0px;
	font-weight: 400;
	font-size: 10px;
	line-height: 26px;
}


 .npi .formular_questions p.question_free_text{
	line-height: 28px!important;
}
 


 .bdi .formular_questions p.question_free_text{
	line-height: 28px!important;
}
 





#empty_form-element{
	display: none;
}
.custom_form {
	display: none;
}
.custom_form_title {
	display: none;
}


/* CMAI */
body.cmai #content dd#patient_details_header-element{
	margin-bottom: 5px!important;
}

table.cmai.SimpleTable {
    width:auto;
}
table.cmai.SimpleTable td {
    border: 1px solid #DDD;
    text-align: center;
}   
table.cmai.SimpleTable th {
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    font-weight: normal;
    line-height: 200%;
    text-align: center;
}
 
.qtext_td{
	width: 30%;	
}

table.cmai.SimpleTable th.qtext_td {
    text-align: left;
}  

.q_opt_text_td{
	width: 10%;	
}

.cmai .formular_questions h5.question_text {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    margin-bottom: 10px;
}
 .cmai  .check_row br {
	display: none!important;
 }
 
.cmai .check_row label:first-child{
	width: 50px;
	text-align: left;
}
 
.cmai  .check_row label{
	display:inline-block;
	width: 93px;
	text-align: center;
}

 .form_textarea_block div{
 	margin-top:5px;
 	width: 100%;
 }
 .form_textarea_block textarea{
 	width: 100%;
 	border: 0;
 	line-height:20px;
	height: auto;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #DDD;
	 word-wrap: break-word;
	overflow: visible;
	 
 }
 
 .form_textarea_block label{
 	padding-left:1px;
 }
 
 

/* NOSGER */
body.nosger #content dd#patient_details_header-element {
	margin-bottom: 5px !important;
}

table.nosger.SimpleTable {
	width: auto;
}

table.nosger.SimpleTable td {
	border: 1px solid #DDD;
	text-align: center;
}

table.nosger.SimpleTable th {
	border: 1px solid #bbb;
	background-color: #f3f3f3;
	font-weight: normal;
	line-height: 200%;
	text-align: center;
}

.nqtext_td {
	width: 35%;
}

.nq_opt_text_th {
	width: 13%;
}
.nq_opt_text_td {
	width: 13%;
}

table.nosger.SimpleTable th.nqtext_td {
	text-align: left;
}

.nosger .formular_questions h5.question_text {
	font-size: 12px;
	font-weight: bold;
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	margin-bottom: 10px;
}

.nosger .formular_questions p.question_free_text-html {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

.nosger  .check_row br {
	display: none !important;
}

#rubin_form_nosger
	/*  #rubin_form_nosger .form_content .formular_questions  */ 
.nosger .check_row label:first-child {
	width: 50px;
	text-align: left;
}

/* #rubin_form_nosger .form_content .formular_questions  */
.nosger  .check_row label {
	display: inline-block;
	width: 93px;
	text-align: center;
}
 
 




.additional_scores_form{
	margin-top:50px;
	width: 100%;
	padding: 0px!important;
}

.add_score_line{
	width: 100%;
	font-size: 16px;
	padding: 5px 0 5px 0;
}
.add_score_line span{
	width: 300px;
}

.add_score_line input {
	height: 18px;
	width: 40px;
/* 	background: #f5f5f5; */
	border: 0px;
	padding: 0px;
	border-bottom: 1px solid #000;
	text-align: center;
} 

/*-----------_DSV----------------------*/

body.dsv #content dd#patient_details_header-element {
	margin-bottom: 2px !important;
}
.question_7_extra{
	display: none;
}
.complex_options{
	
}
.complex_options label{
	padding-left: 0px;
}
 .main_option{
 	display: block; 
}
.side_option{
	margin-left: 50px;
	display: block; 
}

.dsv .formular_questions h5.question_text {
	font-size: 12px;
	font-weight: bold;
	padding:1px 0 1px 0;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	margin-bottom: 3px;
}

.page-title{
 	background: #d7d2d2;
 	padding: 10px 0 10px 0;
 	font-size: 14px;
 	font-weight: bold;
 	text-align:center; 
 	}

.info_triger{
	display: none;	
}

.row_info{
	display: none;	
	
}
 	
 	
table.dsv.SimpleTable {
    width:auto;
}
table.dsv.SimpleTable td {
    border: 1px solid #DDD;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
}   
table.dsv.SimpleTable th {
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    font-weight: normal;
    line-height: 200%;
    text-align: center;
}
  .td_green{
 background: #80f180;
 }
 
 .td_red{
 background: #ffb0b0;
 }
 	
 	
.tfree_texts {
	display: block; float: left;
}
.tfree_texts textarea{
	width: 90%;
	text-align: left!important;
	font-family: Arial, Helvetica, sans-serif;
}



.score-title{
	line-height: 20px;
	float:left;
	width: 100%;
	margin-top:10px;
	margin-botom:10px;
}
.dsv_green_score{
	width: 45%;
	padding: 10px;
	float: left;
	height: 125px;
	background: #80f180;
	display: none;
}
.dsv_red_score{
	width: 45%;
	padding: 10px;
	float: left;
	height: 125px;
	 background: #ffb0b0;
	display: none;
	
}

.bottom_score{
	margin-top: 40px;
	float: left;
	width: 100%;
	display: block;
}
.display_block{
	display:  block;
}

/* ISPC-2455 Lore */
/* BADL */
body.badl #content dd#patient_details_header-element{
	margin-bottom: 5px!important;
}
body.badl #content .form_title{
	text-align: left;
	font-size: 22px;
	font-weight:normal;
	border: 0px;
	
	margin-bottom:0px;;
}
body.badl #content h3{
	margin:0;
}
body.badl #content h4{
	margin: 0px 0 5px 0;
}


table.badl.SimpleTable {
    width:auto;
}
table.badl.SimpleTable td {
    border: 1px solid #DDD;
    text-align: center;
}   
table.badl.SimpleTable th {
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    font-weight: normal;
    line-height: 200%;
    text-align: center;
}
 
.qtext_td{
	width: 30%;	
}

table.badl.SimpleTable th.qtext_td {
    text-align: left;
}  

.q_opt_text_td{
	width: 10%;	
}

.badl .formular_questions h5.question_text {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    margin-bottom: 10px;
}
 .badl  .check_row br {
	display: none!important;
 }
 
.badl .check_row label:first-child{
	width: 50px;
	text-align: left;
}
 
.badl  .check_row label{
	display:inline-block;
	width: 93px;
	text-align: center;
}

/* CMSCALE */
body.cmscale #content dd#patient_details_header-element{
	margin-bottom: 5px!important;
}

table.cmscale.SimpleTable {
    width:auto;
}
table.cmscale.SimpleTable td {
    border: 1px solid #DDD;
    text-align: center;
}   
table.cmscale.SimpleTable th {
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    font-weight: normal;
    line-height: 200%;
    text-align: center;
}
 
.qtext_td{
	width: 30%;	
}

table.cmscale.SimpleTable th.qtext_td {
    text-align: left;
}  

.q_opt_text_td{
	width: 10%;	
}

.cmscale .formular_questions h5.question_text {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    margin-bottom: 10px;
}
 .cmscale  .check_row br {
	display: none!important;
 }
 
.cmscale .check_row label:first-child{
	width: 50px;
	text-align: left;
}
 
.cmscale  .check_row label{
	display:inline-block;
	width: 93px;
	text-align: center;
}

 .form_textarea_block div{
 	margin-top:5px;
 	width: 100%;
 }
 .form_textarea_block textarea{
 	width: 100%;
 	border: 0;
 	line-height:20px;
	height: auto;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #DDD;
	 word-wrap: break-word;
	overflow: visible;
	 
 }
 
 .form_textarea_block label{
 	padding-left:1px;
 }

/*Carerelated ISPC-2492 Lore 02.12.2019*/
body.carerelated #content dd#patient_details_header-element{
	margin-bottom: 5px!important;	
}

table.carerelated.SimpleTable {
    width:auto;
}
table.carerelated.SimpleTable td {
    border: 1px solid #DDD;
    text-align: center;
    padding: 15px;	 
}   
    
table.carerelated.SimpleTable th {
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    font-weight: normal;
    line-height: 200%;
    text-align: center;
}
 
.qtext_td{
	width: 30%;	
}

table.carerelated.SimpleTable th.qtext_td {
    text-align: left;
}  

.q_opt_text_td{
	width: 20%;	
}

.carerelated .formular_questions h5.question_text {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    margin-bottom: 10px;
}
 .carerelated  .check_row br {
	display: none!important;
 }
 
.carerelated .check_row label:first-child{
	width: 50px;
	text-align: left;
}
 
.carerelated  .check_row label{
	display:inline-block;
	width: 93px;
	text-align: center;
}

 .form_textarea_block div{
 	margin-top:5px;
 	width: 100%;
 }
 .form_textarea_block textarea{
 	width: 100%;
 	border: 0;
 	line-height:20px;
	height: auto;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #DDD;
	 word-wrap: break-word;
	overflow: visible; 
 }
 
 .form_textarea_block label{
 	padding-left:1px;
 }
/*//.. ISPC-2492*/

/*Carepatient ISPC-2493 Lore 03.12.2019*/
body.carepatient #content dd#patient_details_header-element{
	margin-bottom: 5px!important;
}

table.carepatient.SimpleTable {
    width:auto;
}
table.carepatient.SimpleTable td {
    border: 1px solid #DDD;
    text-align: center;
    width: 64px;
    padding: 15px;	 
}   
    
table.carepatient.SimpleTable th {
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    font-weight: normal;
    line-height: 200%;
    text-align: center;
}
 
.qtext_td{
	width: 30%;	
}

table.carepatient.SimpleTable th.qtext_td {
    text-align: left;
}  

.q_opt_text_td{
	width: 20%;	
}

.carepatient .formular_questions h5.question_text {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    margin-bottom: 10px;
}
 .carepatient  .check_row br {
	display: none!important;
 }
 
.carepatient .check_row label:first-child{
	width: 50px;
	text-align: left;
}
 
.carepatient  .check_row label{
	display:inline-block;
	width: 93px;
	text-align: center;
}

 .form_textarea_block div{
 	margin-top:5px;
 	width: 100%;
 }
 .form_textarea_block textarea{
 	width: 100%;
 	border: 0;
 	line-height:20px;
	height: auto;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #DDD;
	 word-wrap: break-word;
	overflow: visible; 
 }
 
 .form_textarea_block label{
 	padding-left:1px;
 }
/*//.. ISPC-2493*/

/*ISPC-2509 Lore 07.01.2020*/
table.dscdsv.SimpleTable {
    width:auto;
}
table.dscdsv.SimpleTable td {
    border: 1px solid #DDD;
    padding:5px;
}   
table.dscdsv.SimpleTable th {
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    font-weight: bold;
    line-height: 200%;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}
.specialb {
    text-align: left!important;
}
.tfree_texts_dsc {
	display: block; float: left;
}
.tfree_texts_dsc textarea{
	width: 96%;
	text-align: left!important;
	font-family: Arial, Helvetica, sans-serif;
}
.dontPrint {
    display:none;
}
.toggle_text{
	display:none;
}
.q_opt_text_th_0 {
	width:3%;
}
.q_opt_text_th_1 {
	width:7%;
}
.q_opt_text_th_2 {
	width:39%;
}
.q_opt_text_th_3 {
	width:17%;
}
/*//.. ISPC-2509 */
