body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #000000;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin: 0 auto;
	padding: 15px;
	width: 780px;
}

.genehmig {
	margin: 5px;
}

.genehmig_header {
	font-size: 18px;
	display: block;
	border-bottom: 1px solid #000;
	height: 22px;
	margin: 10px 0 30px 0;
}

.genehmig_header span {
	float: right;
}

.genehmig_header b {
	float: left;
}

.genehmig_pr {
	font-size: 14px;
	line-height: 20px;
	float: left;
	display: block;
	width: 100%;
}

.genehmig_patdetails {
	
}

.genehmig_patdetails span {
	float: left;
	font-size: 14px;
	margin: 20px 0 20px 0;
	width: 100%;
	font-weight: 700;
}

.genehmig_table {
	float: left;
	width: 100%;
	font-size: 14px;
	border: 1px solid #000;
	font-weight: 700;
}

.genehmig_table td {
	border: 1px solid #000;
	padding: 5px;
	font-weight: 700;
}

.genehmig_table td input {
	width: 98%;
}

.genehmig_beginn span {
	float: left;
	font-size: 14px;
	margin: 10px 0 10px 0;
	width: 100%;
}

.maindiagno {
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
}

.maindiagno span {
	float: left;
	font-size: 14px;
	line-height: 22px;
		font-weight: 700;
}

.maindiagno_input {
	width: 73%;
	float: left;
}

.Diagnose {
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
}

.Diagnose span {
	float: left;
	font-size: 14px;
	line-height: 22px; 
	width:  100%;
		font-weight: 700;
}

.Diagnose_input {
	width: 98%;
	float: left;
}

.Metastasierung {
	width: 100%;
	float: left;
}

.Metastasierung span {
	float: left;
	font-size: 14px;
	line-height: 22px;
	width: 100%;
		font-weight: 700;
}
.Metastasierung table{
	float: left;
	width: 100%;
	margin-left: 25px;
	
}
.Metastasierung table td.metachk {
	width: 30px;
}
.Metastasierung label{
	float: left;	
}



.sidediagnose {
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
}

.sidediagnose span {
	float: left;
	font-size: 14px;
	line-height: 22px; 
	width:  100%;
		font-weight: 700;
}

.sidediagnose_input {
	width: 98%;
	float: left;
}



.Therapie {
	width: 100%;
	float: left;
}

.Therapie span {
	float: left;
	font-size: 14px;
	line-height: 22px;
	width: 100%;
	font-weight: 700;
}
.Therapie table{
	float: left;
	width: 100%;
	margin-left: 25px;
	
}
.Therapie table td.Therapiechk {
	width: 30px;
}
.Therapie label{
	float: left;	
}


.AktuelleMed {
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
}

.AktuelleMed span {
	float: left;
	font-size: 14px;
	line-height: 22px; 
	width:  100%;
	font-weight: 700;
}

.AktuelleMed_input {
	width: 98%;
	float: left;
}

.art_der_verabreichung{
	width: 100%;
	float: left;
	margin: 10px 0 10px 0;
		font-weight: 700;
}
.art_der_verabreichung table{
	width: 100%;
	margin-left: 25px;
}
td.artderchk{
	width: 30px;
}
td.artderlbl{
	width: 150px;
}

.Andere{
	float: left;
	width: 100%;
		font-weight: 700;
}
.Andere table{
	width: 100%;
	margin-left: 25px;
}
td.Anderechk{
	width: 30px;
}
.Andere label{
	float: left; 
}

label.Anderespec {
	float: left;
}
.Andere input[type="text"]{
	 width: 200px;
 
}


.Besondere {
	width: 100%;
		font-weight: 700;
}
.Besondere table{
	width: 100%;
	margin-left: 25px;
}

.index_pflege{
	width: 100%;
	float: left;
}
.index_pflege span{
	font-size: 14px;
	font-weight: 700;
}
td.index{
	width: 390px;
}
td.pflege{
	width: 350px;
}
.Symptomkomplexe span {
	float: left;
	font-size: 14px;
	line-height: 22px; 
	width:  100%;
		font-weight: 700;
}



.Lokalisation {
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
	display: block;
}

.Lokalisation span {
	float: left;
	font-size: 14px;
	line-height: 22px; 
	width:  100%;
	font-weight: 700;
}

.Lokalisation_input {
	width: 98%;
	float: left;
}

.radiogrid{
	
}
.radiogrid u{
	font-size: 12px; 
	font-weight: 700;
}
.radiogrid span{
	font-size: 12px; 
	font-weight: 700;
}

td.radiogrid_spn {
	width:80px;
}
.Psychosoziale {
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
}

.Psychosoziale span {
	float: left;
	font-size: 14px;
	line-height: 22px; 
	width:  100%;
	font-weight: 700;
}

.Psychosoziale_input {
	width: 98%;
	float: left;
}


.Aktueller_vers {
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
	font-weight: 700;
	font-size:16px
}

.Aktueller_vers textarea {
	width: 99%;
	height:500px;
	float: left;
}
 








.arzts {
	float: left;
	height: 35px;
	width: 100%;
	display: block;
	border-bottom: 1px solid #000;
	margin: 20px 0 20px 0;
}

.arzt {
	float: left;
	font-size: 14px;
}

.dat {
	float: right;
	font-size: 14px;
}

.zeit {
	font-size: 14px;
	float: left;
}

.hp_end {
	margin: 20px 0 20px 0;
}

.genehmig_buttons {
	float: left;
	margin: 10px;
}