body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
.MarginZero {
margin:0px 0 0 1px;
}


.ClrBoth {
	clear:both;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
	margin:8px 0 0 10px;
}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
}
form .error {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .NewError {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .contentlist {
	margin: 0;
	padding: 0;
	width:100%;
	display:block;
}
form .contentlistRight {
	width:auto;
	margin-left:20px;
}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
	clear:both;
}
.datatable_new {
	width: 800px;
	line-height: 150%;
	margin-top: 20px;
}

.datatable_new td {
	cursor: pointer;
	padding-left: 5px;
	line-height: 200%;
	border: 1px solid #eee;
	border-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	vertical-align: middle;
}

.datatable_new td a {
	color: #555;
	display: block;
}
div.overflowed_div table.datatable_new tr td
{
	text-align: center;
}
.datatable_new tr.selected_group {
	color: #666;
	background-color: #EEE;
	text-decoration: none;
}
.datatable_new td a:hover {
	color: #666;
	text-decoration: none;
}

.datatable_new th {
	line-height: 200%;
	border: 1px solid #bbb;
	border-left: 0px;
	padding-left: 5px;
	background-color: #f3f3f3;
}

.datatable_new th:first-child {
	border-left: 1px solid #bbb;
}

.datatable_new th a {
	display: block;
	color: #666;
}

.datatable_new th a:hover {
	text-decoration: none;
}

.datatable_new .img {
	margin-top: 5px;
}


table.datatable_new tbody tr td a.vacation_delete {
	display:inline;
}
table.datatable_new tbody tr td a.vacation_edit {
	display:inline;
	padding: 4px;
}
/*
table.datatable_new tbody td.a6_operation_cell {
	width:65px;
}
*/
table.datatable_new tbody td.a6_start_cell {
	width:70px;
	/*height:36px;*/
	height:25px;

/*	line-height: 200%;*/
}

table.datatable_new tbody td.a6_end_cell {
	width:70px;
	/*height:36px;*/
	height:25px;

	/*padding: 2px;*/
	/*line-height: 200%;*/
}

table.datatable_new tbody tr td div.overflowed_div {
	margin:0px;
	padding:0 0 0 0;
	clear:both;
	width:585px;
	overflow-x: scroll;
	overflow-y: hidden;
	border-width:0px;
	float: left;
}

.anlage6_header_row {
	height:16px;
}
html  body#minwidth-body  div.ap-main  div#ap-mainbody  div#ap-content  form  table.datatable_new  tbody  tr  td.big_cell  div.overflowed_div  table.datatable_new  tbody  tr.anlage6_header_row  th{
	height: 48px;

}

.a6_ov_cell {
	width:50px;
	/*height: 36px;*/
	height: 25px;

}
table.datatable_new tbody tr td.big_cell {
/* 	width: 450px; */
	width: 585px;
	padding: 0px!important;
	margin: 0px!important;
	height: auto!important;
	vertical-align: top;
}

table.datatable_new tbody tr.border-top {
	border-top: 2px solid #000;border-bottom: 1px solid #000;
}

table.datatable_new tbody tr.border-bottom {
	border-bottom: 2px solid #000;
}
table.datatable_new tbody tr.border-bottom-slim {
	border-bottom: 1px solid #000;
}
table.datatable_new tbody tr td.last_col {
	text-align: center;

}
span.underline-patient-details
{
	height: 20px;
	width: 120px;
	border-bottom: 1px solid #000;
	display: inline-block;
	text-align: center;
	padding: 0 5px 2px 5px;
}

table#patient_healthinsurange_details {
	line-height: 200%;
}

/*div.overflowed_div table.datatable_new tbody tr:last-of-type {
	height: 25px;
	margin-bottom: 0px;
}

table tbody tr.anlage6_header_row td:first-of-type {
	border-left: 0px;

}
table.datatable_new tbody tr:first-of-type {
	height: 25px;

}
table.datatable_new tbody tr:last-of-type {
	height: 40px;

}*/

#patient_healthinsurange_details {
	width: 100%;
	line-height: 200%;
	/*border: 1px solid #000;*/
}

table#totals tbody tr td, table#totals thead tr th {
	line-height: 200%;
	padding-right: 5px;
}
table#totals tbody tr td.a6_shortcut {
	font-weight: 700;
}
table#totals tbody tr td.a6_shortcut_amount, table#totals thead tr th.a6_shortcut_amount {
	text-align: center;
	width:50px;
}
table#totals tbody tr td.a6_shortcut_price, table#totals thead tr th.a6_shortcut_price {
	text-align: right;
	width:90px;
}
table#totals tbody tr td.a6_shortcut_total, table#totals thead tr th.a6_shortcut_total {
	text-align: right;
	font-weight: 400;
	width: 120px;
}
table#totals tbody tr td.a6_total_general_label {
	text-align: right;
	font-weight: 700;
}

table#totals tbody tr td.a6_total_general {
	text-align: right;
	font-weight: 700;
}
table.datatable_signature
{
	width: 400px;
	float:right;
}

table.datatable_signature tbody tr td {
	line-height: 200%;
	text-align: right;
}
table.datatable_signature tbody tr td.prefilled {
	border-bottom: 1px solid #000;
	text-align: left;
	padding-top: 10px;
}
table.datatable_signature tbody tr td.margin_cell {
	width:50px;
}
td.inactive_day_class, th.inactive_day_class {
	background: #FFCCCC;
}

td.current_day, th.current_day {
	background: #FFFDD0;
}
textarea.involved_users_textarea {
	width: 100%;
	height: 100px;
}