body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}

.ClrBoth {
	clear:both;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:850px;
	clear:both;
}

.Palliative_Heading {
	width:845px;
	height:30px;
	border-bottom:solid 1px #000000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}

.Palliative_Heading_Left {
	height:auto;
	width:auto;
	margin-right:20px;
	float:left;
}

.Palliative_Heading_Right {
	height:auto;
	width:auto;
	float:right;
	text-align:right;
}

.Palliative_Header {
	width:750px;
	margin:0 auto;
	height:auto;
	margin-top:15px;
	border-left:solid 3px #000000;
	border-right:solid 3px #000000;
	border-top:solid 2px #000000;
	border-bottom:solid 2px #000000;
	margin-top:20px;
	font-size:14px;
}

.Palliative_Contnet_Outer {
	display:block;
	width:585px;
	height:auto;
	float:left;
}

.Palliative_Contnet_Outer .Patient_Name {
	background:#f3f3f3;
	width:auto;
	float:left;
	margin-left:10px;
	padding:5px;
}

.Patient_Name label {
	width:441px;
}


.IdInfo {
	background:#f3f3f3;
	width:153px;
	float:left;
	border:solid 2px #000000;
	border-top:0px;
	border-right:0px;
	padding:5px;
}
.BorderDiv {
	background:#000000;
	height:2px;
	width:100%;
}	

.Recncilition label {
	width:370px;
}
.Palliative_Contnet_Outer .Recncilition {
	width:auto;
	float:left;
	margin-left:10px;
	padding:5px;
	line-height:30px;
}


.Palliative_Header .Address_Info {
	width:auto;
	height:auto;
	display:block;

}

.Palliative_Header .Address_Info_Outer {
	width:auto;
	height:auto;
	display:block;
	margin-top:10px;
	float:left;
}

.Palliative_Header .Address_Info_Outer_list {
	width:350px;
	height:auto;
	float:left;
	margin-bottom:10px;
}

.Palliative_Header .Address_Info_left {
	width:140px;
	height:auto;
	float:left;
	margin-left:10px;
	margin-right:5px;
}

.Palliative_Header .Address_Info_right {
	width:180px;
	height:auto;
	float:left;

}
.GrayDivider { 
	float:left;
	width:2px;
	height:25px;
	background:#c0c0c0;
	margin:113px 12px 0px 5px;

}

.Palliative_Header .Address_Info_Outer_listMargin {
	margin-top:65px;
}

.Palliative_Header_TableWidht {
	width:810px;
}

.Palliative_Contnet_Outer_widht {
	display:block;
	width:645px;
	height:auto;
	float:left;
}

#Partners {
	margin-top:15px;
	border-top:solid 1px #000000;

}
.DatPlceforPrternOuter {
	width:100%;
	height:auto;
	display:block;
}

.DatPlceforPrternContent {
	width:340px;
	height:auto;
	line-height:20px;
	float:left;
}
.DatPlceforPrtern {
	width:340px;
	height:auto;
	float:left;
	border-bottom:solid 1px #000000;
	padding:5px;
}

.DatPlceforPrtern label {
	width:auto;
	margin:0;
	padding:0;
}


.DatPlceforPrternblank {
	width:450px;
	height:auto;
	float:left;
}

#CheckboxGridsCenterTable{
	width:810px;
	height:auto;
	border:solid 1px #000000;
	display:block;
	padding:3px;
	text-align:center;
	margin:15px 15px 0px 15px;
}


.RecncilitionIdInfo {
	width:153px;
	float:left;
	border:solid 2px #000000;
	border-top:0px;
	border-right:0px;
	padding:5px;
}


.RelevanteListOuter {
	width:97%;
	height:auto;
	display:block;
	margin-top:10px;
}

.RelevanteList_left_SapvfNew {
	width:180px;
	height:auto;
	margin-right:10px;
	float:left;
}


.paddingZero {
	padding:0;
}

.RelevanteList_left {
	width:auto;
	height:auto;
	margin-right:10px;
	float:left;
}

.CheckboxGrids_left {
	width:auto;
	height:auto;
	border-right:solid 1px #000000;
	float:left;
	padding:8px;
	margin-right:10px;
}


.CheckboxGrids_heading_left {
	display:block;
	width:auto;
	float:left;
	padding-left:5px;
}

.CheckboxGrids_heading_left label {
	width:auto;
	padding-right:5px;
	margin-top:5px;

}
.CheckboxGrids_heading_left input {
	width:auto;
	margin:0;
	margin-top:0;
}

.ForBorder {
	border:none;
	margin:0;
}


#GradingTable {
	width:820px;
	height:auto;
	margin-top:15px;
	margin:15px 05px 0px 15px;
}

#GradingTable label {
	margin:0px;
	padding:0px;
	width:auto;
}

#GradingTable td {
	padding:5px;
	border-left:1px solid black;
	border-top:1px solid black;
	text-align:center;
	line-height:15px;
	width:auto;
	height:auto;
	
}

#GradingTable td.WhiteBrdrBtm {
	border-bottom:1px solid #fff;
}

.VertclTxt {
	color:#000000;
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
	display:block;
	bottom:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-shadow: 0px 0px 1px #c4c5c6;
	width:28px;
	height:235px;
	margin-left:-105px;
	margin-left: 0px\9; /* IE8 and below */ 
	height: 110px\9; /* IE8 and below */ 


}


#GradingTableOuter
{	width:400px;
	height:auto;
	float:left;
	margin-right:15px;
	display:block;
}

#GradingTableOuter table {
	border-right:solid 1px #000000;
	border-bottom:solid 1px #000000;
	width:100%;
}


#GradingTableOuterRight
{	width:400px;
	height:auto;
	float:left;
}

#GradingTableOuterRight table {
	border-bottom:solid 1px #000000;
	border-right:solid 1px #000000;
}

#CheckboxGridsTable {
	width:790px;
	height:auto;
	border:solid 1px #000000;
	display:block;
	padding:11px;
	margin:20px 20px 0px 15px;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: auto;
	border-bottom: 1px solid #e3e3e1;
	border-left: 1px solid #e3e3e1;
	width:846px;
	margin-top:15px;
}

.textbxLbl
{	padding-top:5px;}