label#lbl_from {
	float: left;
    display: block;
    width: 28px;
   // margin-left: 175px;
    padding: 8px 10px 3px 0;
}
label#lbl_till {
	float: left;
    display: block;
    width: 28px;
    margin-left: 25px;
    padding: 8px 10px 3px 0;
}
.ui-datepicker-trigger {
	display: block;
	float:left;
}
select#sapv_order {
	font-size: 14px;
	padding: 6px 2px 6px 4px;
	height: 39px;
}

label#after_opposition {
	width: 150px;
	display: block;
	float:left;
}
.sapvverordnung_new
{
	float: left;
	display: block;
	margin-right: 10px;
	padding: 6px 10px 3px 0;
	width: 156px;
}
.inptMrgn {
	margin: -3px 3px 10px 0px !important;
}