table.datatable td {
	border: 1px solid #000;
}

.datatable th {
	height: 20px;
	font-size: 0.9em;
	font-weight: bolder;
	padding: 5px;

}

.datatable td {
	height: 40px;
	text-align: center;
	vertical-align: middle;

}

th#activity_col_day {
	width:30px;
	font-size: 0.9em;
	font-weight: bolder;
}

th#activity_amount {
	width:30px;
}

th#activity_col_d, th#activity_col_n, th#activity_col_k, th#activity_col_v, th#activity_col_u, th#activity_col_xl {
	width:118px;
}
tr.alternate_row {
	background-color: rgb(233, 233, 233);
}
td#activity_amount_data {
	font-weight: bolder;
}