body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.ClrBoth {
	clear: both;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;

	float: left;
	margin: 0 auto;
	padding: 10px;
	width: 850px;
	 
}

.form_title{
	width: 100%;
	display: block;
	float: left;
	border-bottom: 1px solid #000;
	text-align: left;

}
.fall_selector{
	width: 100%;
	display: block;
	float: left;
}
.scroll_div {
	overflow: auto;
	width: 880px;
	display: block;
	float: left;
}

.months_div {
	height: auto;
	margin-top: 15px;
	margin: 15px 2px 0px 0px;
}

.sfb8_table {
	float: left;
	margin-left: 2px;
}

.sfb8_table th {
	border: 1px solid #000;
	text-align: left;
	line-height: 32px;
}

.sfb8_table td {
	border: 1px solid #000;
	width: 29px !important;
	text-align: center;
}


.sfb8_table tr.data_rows td {
	height: 20px;
	vertical-align: middle;
}
 .sfb8_table>tbody>tr:nth-of-type(2n+1) {
	background-color: #e8e8e8;
}

.pdetails {
	width: 95%;
}

.pdetails  td {
	padding: 5px 0px 5px 0px;;
}

.pdetails td.pd_empty {
	width: 10%;
}

.pdetails td.pd_label {
	font-weight: 800;
	width: 25%;
}
 
 
 .sapv_table>tbody>tr:nth-of-type(2n+1) {
	background-color: #e8e8e8;
}
.sapv_table {
	width: 95%;
}

.sapv_table  th {
	font-weight: 800;
	border: 1px solid #000000;
	padding: 5px;
}

.sapv_table  td {
	padding: 5px;
	border: 1px solid #000000;
}
.bottom_part{
	display: block;
	margin-top:30px;
	width: 95%;
	float: left;
}
.bottom_part table{
	width: 100%;
}


.bempty{
	width: 5%;
}


.partners_table{
	font-size: 11px;
}
.partners_table td{
	padding-left:5px;
	
	
}
 
.sign_block{
	border-collapse: collapse;
	width: 180px;
	height: 90px;
}
.sign_block td{
	border: 1px solid #000;
	vertical-align: bottom;
	text-align: center;
}

td.sign_empty{
	width: 30px;
}



.btn-submit{
	    background-color: #f2f2f2;
    border: 1px solid #bbb;
    margin: 2px;
    padding: 2px;
}