body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
	background:#ffffff;
}
ul {
	list-style:none;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
	margin:8px 0 0 10px;
}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#0278a9;
	text-decoration:none;
}
form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
}
form .error {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .NewError {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .contentlist {
	margin: 0;
	padding: 0;
	width:100%;
	display:block;
}
form .contentlistRight {
	width:auto;
	margin-left:20px;
}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:820px;
}
#SapvPalliative {
	width:750px;
	margin:0 auto;
	height:auto;
	margin-top:20px;
	color:#000000;
	margin-bottom:15px;
}
.widthForSapvHeader {
	width:750px;
}
.Palliative_Heading {
	width:780px;
	height:30px;
	border-bottom:solid 1px #000000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}
.Palliative_Heading_Left {
	height:auto;
	width:auto;
	margin-right:20px;
	float:left;
}
.Palliative_Heading_Right {
	height:auto;
	width:auto;
	float:right;
	text-align:right;
}
.ClrBoth {
	clear:both;
}
.Palliative_Header {
	width:775px;
	margin:0 auto;
	height:auto;
	margin-top:15px;
	border-left:solid 3px #000000;
	border-right:solid 3px #000000;
	border-top:solid 2px #000000;
	border-bottom:solid 2px #000000;
	margin-top:20px;
	font-size:14px;
}
.Palliative_Contnet_Outer {
	display:block;
	width:595px;
	height:auto;
	float:left;
}
.Palliative_Contnet_Outer .Patient_Name {
	width:auto;
	float:left;
	padding:5px;
	border-left:8px solid white;
}
.Palliative_Contnet_Outer .Patient_Name input {
	margin:5px 0 5px 0;
}
.MarginZero {
	margin:0px 0 0 1px;
}
.BorderDiv {
	background:#000000;
	height:2px;
	width:100%;
}
.widthForSapvIdInfo {
	width:168px;
}
.IdInfo {
	background:#f0f0f0;
	width:153px;
	float:left;
	border:solid 2px #000000;
	border-top:0px;
	border-right:0px;
	padding:5px;
}
.Palliative_Header .Address_Info {
	width:auto;
	height:auto;
	display:block;
}
.Palliative_Header .Address_Info_Outer_list {
	width:350px;
	height:auto;
	float:left;
	margin-bottom:10px;
}
.Palliative_Header .Address_Info_Outer {
	width:auto;
	height:auto;
	display:block;
	margin-top:10px;
	float:left;
}
.Palliative_Header .Address_Info_left {
	width:140px;
	height:auto;
	float:left;
	margin-left:10px;
	margin-right:5px;
}
.Palliative_Header .Address_Info_right {
	width:180px;
	height:auto;
	float:left;
}
.GrayDivider {
	float:left;
	width:2px;
	height:25px;
	background:#c0c0c0;
	margin:113px 12px 0px 5px;
}
.Palliative_Header .Address_Info_Outer_listMargin {
	margin-top:65px;
}
.sapvBthree_outer {
	width:750px;
	margin-top:10px;
	font-size:13px;
}
.sapvBthree_outer input {
	margin:0;
	margin-left:0;
	margin-right:0;
	width:98%;
	padding:0px;
	height:18px;
}
.grayBackground {
	background:#f0f0f0;
}
.sapvBthree_tableBor {
	border:2px solid black;
	border-bottom:1px solid black;
}
.sapvBthree_tableBor td {
	border-right:1px solid black;
	border-bottom:1px solid black;
	padding:4px 2px 4px 5px;
}
.padding_lefttop_Five {
	padding-left:5px;
	padding-top:5px;
}
.sapvBthree_SqBox {
	width:auto;
	float:left;
	margin-bottom:2px;
}
.saBthree_topBor td {
	border-top:1px solid black;
}
.Black_border {
	border:1px solid black;
}
.sap_borderNone td {
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-left:none;
}
.widthForSapvHeader {
	width:765px;
}
.widthForSapvIdInfo {
	width:168px;
}




.padding_five {
	padding:5px;
}
.textAlign_center {
	text-align:center;
}
.sapvfRow {
	display:block;
	height:33px;
	border-top:1px solid #000000;

}
.sapvfRowBorder {
	display:block;
	height:35px;
	border-left:1px solid #000000;
}
.sapvfCellNew {
	display:block;
	font-size:13px;
	padding:4px;
	height:25px;

}
.sapvfLast {
	border-right:1px solid #000000;
}
.sapvfCellTwo {
	display:block;
	float:left;
	font-size:1.1em;
	padding:4px;
	height:25px;
	text-align:center;
	width:25px;
}
.sapvfCellThree {
	display:block;
	float:left;
	font-size:1em;
	padding:4px;
	height:23px;
	text-align:center;
	width:50px;
	border-left:1px solid #000000;
}
#sapvfTble {
	display:block;
	float:left;
	width:750px;
}
#sapvfTbleText {
	float:left;
 	width:290px;
	border-right:1px solid #000000;
	border-left:1px solid #000000;

}
#sapvfTbleContainer {
	display:block;
	float:left;
	width:420px;
	height:auto;
	overflow-x:auto;
	overflow-y:hidden;
}
#sapvfTbleInner {
	display:block;
	float:left;
	height:auto;
	width:1000em;
	white-space:nowrap;
}
#sapvfTbleCheckbx {
	display:block;
	float:right;
	width:33px;
	background:#fbe3d8;

}
.sapvBthree_tableBorNew {
	border:2px solid black;
	border-bottom:1px solid black;
}
.sapvBthree_tableBorNew td {
	border-right:1px solid black;
	border-bottom:1px solid black;
}
.sapvfRowBorderNone {
	display:block;
	height:33px;
}
.sapvfRowBorderOne {
	display:block;
	height:33px;

}
#sapvfTble label {
	width:auto;
	margin-left:3px;
}
.sapvfRowBorderBg {
	display:block;
	height:33px;
	background:#F0F0F0;
	border-bottom:1px solid #000000;
	font-weight:bold;
}
.sapvfLastOne {
	border-right:1px solid #000000;
	background:#F0F0F0;
}
.sapvfLastTwoBg {
	background:#F0F0F0;
}
.sapvfRowBorderBgNew {
	display:block;
	height:33px;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	background:#F0F0F0;
}
.sapvfRowBorderBgOne {
	display:block;
	height:42px;
	background:#F0F0F0;
	border-top:1px solid #000000;
	font-weight:bold;
}
.sapvfRowBorderH {
	display:block;
	height:42px;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	background:#F0F0F0;
	border-top:1px solid #000000;
}
.sapvfCellTwoNew {
	display:block;
	float:left;
	font-size:1.1em;
	padding:4px;
	height:34px;
	text-align:center;
	width:25px;
}
.topbrder {
	border-top:1px solid #000000;
}
.sapvfCellMrgn {
	display:block;
	font-size:13px;
	float:left;
	padding:4px;
	margin-left:120px;
}
.sapvfCellMrgnNew {
	display:block;
	font-size:13px;
	float:left;
	padding:4px;
	margin-left:30px;
}

.BrodbrderNew {
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
}
.BrodbrderTwo {
	border-top:none;
}
.Btopbrder {
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
}
.sapvfCellTwoOne {
	display:block;
	float:left;
	font-size:1.1em;
	padding:4px;
	height:25px;
	text-align:center;
	width:20px;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
}
.sapvfRowBorderOneNew {
	display:block;
	height:35px;
}
.sapvfRowBorderBgTwo {
	display:block;
	height:33px;
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	background:#F0F0F0;
}
.sapvfCellTwoThree {
	display:block;
	float:left;
	font-size:1.1em;
	padding:4px;
	height:26px;
	text-align:center;
	width:20px;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
}
.sapvfCellTwoFour {
	display:block;
	float:left;
	padding:4px;
	height:28px;
	text-align:center;
	width:20px;
}
.sapvfRowFive {
	display:block;
	height:36px;
	border-top:1px solid #000000;
}
.sapvfCellSix {
	display:block;
	float:left;
	font-size:1.1em;
	padding:4px;
	height:23px;
	text-align:center;
	width:20px;
}
.sapvfRowBorderBgFive {
	display:block;
	height:31px;
	background:#F0F0F0;
	border-bottom:1px solid #000000;
	font-weight:bold;
}
.sapvfRowBorderBgThree {
	display:block;
	height:35px;
	border-left:1px solid #000000;
	background:#F0F0F0;
}
.sapvfRowBorderBgFour {
	display:block;
	height:32px;
	border-left:1px solid #000000;
	background:#F0F0F0;
}
.sapvfRowBig {
	display:block;
	height:57px;
	border-top:1px solid #000000;
/*	border-bottom:1px solid #000000;*/

}
.bottom_border {
	border-bottom:1px solid #000000;
}
.sapvfCellfifty {
	display:block;
	float:left;
	padding:4px;
	height:50px;
	text-align:center;
	width:20px;
}
.sapvfCellNewfifty {
	display:block;
	font-size:13px;
	float:left;
	padding:4px;
	height:50px;
}
.sapvfRowfiftyNew {
	display:block;
	height:57px;
	border-top:1px solid #000000;
}
.TableOuter {
	width:750px;
	height:auto;
	float:right;
}
.Tableleft {
	width:30px;
	height:auto;
	float:left;
}
table.TableOuterBorder {
	border:solid 1px #000000;
}
.TableOuterBorder td {
	border:solid 1px #000000;
}
.TdBg {
	background:#F0F0F0;
}
.accordion_toggle {
	display: block;
	width:760px;
	background:#f0f0f0;
	padding:6px 10px;
	font:bold 13px Arial, Helvetica, sans-serif;
	text-decoration: none;
	outline: none;
	border:solid 1px #000000;
	border-top:none;
	cursor: pointer;
	margin: 0 0 0 0;
	color:#000000;

}
.accordion_toggle_active {
	background:#e4e3e3;
	color:#000000;
}
.accordion_content {
	background:#fffffff;
	color: #444444;
	overflow: hidden;
	border:solid 1px #000000;
	width:780px;

}
.accordion_content h2 {
	margin: 15px 0 5px 10px;
	color: #0099FF;
}
.accordion_content p {
	line-height: 150%;
	padding: 5px 10px 15px 10px;
}
.vertical_accordion_toggle {
	display: block;
	height: 30px;
	width: 600px;
	background:#b4c0c3;
	padding: 0 10px 0 10px;
	line-height: 30px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	font-size: 12px;
	color: #000000;
	border-bottom: 1px solid #cde99f;
	cursor: pointer;
	margin: 0 0 0 0;
}
.vertical_accordion_toggle_active {
	background: #e0542f;
	color: #ffffff;
	border:solid 1px #000000;
}
.vertical_accordion_content {
	background-color: #ffffff;
	color: #444444;
	overflow: hidden;
}
.vertical_accordion_content h2 {
	margin: 15px 0 5px 10px;
	color: #0099FF;
}
.vertical_accordion_content p {
	line-height: 150%;
	padding: 5px 10px 15px 10px;
}


.description {
	font-size: 12px;
	line-height: 18px;
	color: #ffffbe;
	padding: 5px 0 15px 0;
}
#container {
	width: 750px;
	margin-left:3px;
}
#top_container {
	width: 680px;
	height: 130px;
	margin: 10px auto 10px auto;
}
#bottom_container {
	clear: both;
	width: 700px;
}
.page-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: #09f;
	border-bottom: 5px solid #444444;
}
.page-sidebar {
	position: fixed;
	top: 30px;
	left: 20px;
	width: 250px;
}
* html .page-sidebar {
	top: 30px;
	left: 20px;
	width: 250px;
	position:absolute;
}
.page-title {
	margin: 0;
	padding: 0 0 10px 0;
	text-align: left;
}
.page-title h1 {
	margin: 0 0 5px 0;
}
.page-title h2 {
	clear: both;
	font-size: 100%;
	color: #FF9;
	font-weight: normal;
	margin: 0;
}
.page-body {
	margin: 0 10% 0 315px;
	width: 600px;
	padding: 30px 0 20px 0;
	text-align: left;
}
.page-footer {
	margin: 20px 0 0 0;
	text-align: left;
	font-size: 10px;
}
.page-body ul, .page-body ol {
	color: #ffffff;
	margin: 10px 0 30px 25px;
}
.page-body ul li,  .page-body ol li {
	padding: 0;
	margin: 0 0 5px 0;
	color: #cccccc;
	line-height: 140%;
	font-size: 100%;
}
.page-footer p {
	margin: 0;
}
.page-title h1 span {
	text-align: left;
	font-weight: normal;
	font-size: 100%;
	color: #ffffff;
	margin: 5px 0 15px 0;
}
a, a:link, a:visited {
	color: #09f;
}
h2 {
	text-align: left;
	font-weight: normal;
	font-size: 150%;
	color: #09f;
	margin: 5px 0 15px 0;
}
h2 span {
	clear: both;
	font-size: 70%;
	color: #FF9;
}
.notice {
	border: 3px solid #ffffbe;
	padding: 10px;
	color: #ffffff;
	background-color: #09f;
	margin: 0 0 20px 0;
}
.notice p,  .notice p a,  li a {
	color: #ffffff;
	text-decoration: none;
}
.navigation {
	list-style: none;
	margin: 10px 0 30px 0;
	width: 200px;
}
.navigation li {
	padding: 0;
	margin: 0;
}
.navigation a,  .navigation a:visited {
	display: block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px 0 10px;
	border-bottom: 3px solid #171B20;
	color: #ffffff;
	background-color: #333333;
	text-decoration: none;
}
.navigation a:hover {
	color: #000000;
	background-color: #a5b8bb;
}
a.page-options {
	color: #000000;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 5px;
	background: #a5b8bb;
	margin: 3px 0 0 0;
	border-bottom: 1px solid #333333;
	border-bottom: 1px solid #555555;
}
a.page-options:hover, a.page-options:focus {
	color: #fff;
	background: #09F;
}

.hidden {
	display : none;
}


code span.comment {
	color: #BD48B3;
}
code span.string {
	color: #99FF00;
}
code span.brackets {
}
code span.symbol {
	color: #6BCFF7;
}
code span.keywords {
	color: #FF8400;
}
code span.erb {
	background: #333;
}
code span.symbol {
	color: #07DFFC;
}

code.html span.tag {
	color: #fff;
}
code.html span.attribute {
	color: #FFD500;
}
code.html span.string {
	color: #99FF00;
}
code.html span.comment {
	color: #999;
}
code.html span.doctype {
	color: #D7FF80;
}


.Tbl-vrticl-text {
	width:35px;
	float:left;
	margin-top:30px;
}

.css-vertical-text {
	color:#333;
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
	display:block;
	bottom:0;
	width:25px;
	height:25px;
	font-size:15px;
	font-weight:bold;
	margin-top:30px\9;
	margin-top:10px;

}
.brdertop {
border-top:solid 1px #000000;
}

.sapvfRowNone {
	display:block;
	height:33px;
	border-bottom:solid 1px #000000;

}
.BrodbrderTwoNew {
	border-top:none;
}

.sapvfRowBrderNew {
	display:block;
	height:33px;
	border-top:solid 1px #000000;
}

.sapvfRowBredr {
	display:block;
	border-bottom:1px solid #000000;
}


.sapvfCellSml {
	display:block;
	float:left;
	font-size:1.1em;
	padding:4px;
	height:64px;
	text-align:center;
	width:25px;
}

.sapvfCellHgt {
	display:block;
	font-size:13px;
	padding:4px;
	height:64px;
}

.sapvfRowBredrOne {
	display:block;
	border-bottom:1px solid #000000;
	height:72px;
}



.sapvfRwBrdrBgNew {
	display:block;
	height:72px;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	background:#F0F0F0;
}
.sapvfRowfiftHgt {
	display:block;
	height:57px;
	border-top:1px solid #000000;
	margin-top:-4px;
	border-bottom:1px solid #000000
}

.sapvfRowBr {
	display:block;
	height:33px;
	border-left:1px solid #000000;
}

.sapvfRowBrNew {
	display:block;
	height:35px;
	border-left:1px solid #000000;
	margin-top:-2px;
}

.sapvfRowBtm {
	display:block;
	height:33px;
	border-bottom:1px solid #000000;
}

.sapvfRowBtmOne {
	display:block;
	height:33px;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
}

.sapvfRowfiftHgtNew {
	display:block;
	height:57px;
	border-bottom:1px solid #000000
}

.sapvfCellNew input {
margin:0;
padding:0;
width:20px;

}
.sapvfCellTwo input {
margin:0;
padding:0;
width:20px;

}

#accordion h3 {
background:#f0f0f0;
padding:10px;
width:760px;
font:bold 14px Arial, Helvetica, sans-serif;
border:solid 1px #000000;
border-bottom:none;
margin: 0px;
}

#accordion a {
font:bold 13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
}
#accordion a:hover {
text-decoration:underline;
}

.Tbl-vrticl-textOne {
	width:35px;
	float:left;
	margin-top:-40px;
}
.sapvfLastBrdr {
	border-bottom:1px solid #000000;
}



.sapvfRowBtmOneBig {
	display:block;
	height:33px;
	border-bottom:1px solid #000000;
}

.sapvfCellTwoBig {
	display:block;
	float:left;
	height:49px;
	text-align:center;
	padding-top:8px;
	width:33px;

}
.sapvfCellTwoBig input {
margin:0;
padding:0;
width:20px;
margin-left:0px;
}

.sapvfRowBtmBrdr {
	display:block;
	height:33px;

}
.sapvfRowBtmLast {
	display:block;
	height:33px;
	border-bottom:1px solid #000000;

}
.sapvfLastBrdrOne {
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
}
