@CHARSET "UTF-8";

.form_class table.PatientSavoirTable td {
    padding-right:15px;
}
.form_class table.PatientSavoirSapvTable td{
   padding-top:5px ;
}
.form_class table.PatientSavoirSapvTable td label 
{
	line-height: 30px;
	padding: 5px 0 5px 0;
}