@CHARSET "UTF-8";

table.datatable tbody tr.even{

	background-color: #F0F7FB;
}


table.datatable tbody tr.odd{
	
}

table.transparent tbody tr {
	background-color:rgba(0, 0, 0, 0);
}

table.transparent{
	
}
table.transparent tbody tr.smalltable td:first-child {
	font-weight:bold;
	color:#666666

}


.top_filter {
	float:right;
	
}

table.datatable{
	table-layout:fixed;
}

div.scrollholder{
	table-layout:fixed;
	width:800px;
	max-width:800px;
	overflow-x: scroll; 
	display: block;
}


table.datatable td,
table.datatable th{
	padding:1px;
	line-height:200%;
	
}

table.datatable tr th:not(:first-child){
	
	width: 30px;
    overflow: hidden;
   
	/*display: inline-block;*/
	 white-space: nowrap;
    
}

table.datatable .first_column{
	
	width: 180px;   
	/*display: inline-block;*/
	/*white-space: nowrap;*/
    
}


table.datatable th{
	font-weight:bold;
}


table.datatable tr.action_row td:first-child,
table.datatable tr.action_row td.first_column_action
{
	/*width:180px;*/
}


table.datatable tbody tr.gray_row{
	background-color:#F9F9F9;
	font-weight:bold;
}
table.datatable tbody tr.gray_row td{
	font-weight:bold;
}


table.datatable .action_row td {
	border-top:3px double #BBBBBB;
	valign:top;
}

table.datatable .gray_row.signature td {
	border-bottom:3px double #BBBBBB;    
}




.head_shortday td.isweekend, 
.action_row td.isweekend, 
.tr_hasValue td.isweekend {
	background-color: #F0F7FB;

}


input.add_hour_dialog_date {
	width:80px;
	background:url(../../images/calendar.png) no-repeat right top;
	
	
}

.add_action,
.add_hour,
.remove_groupid {

	background-repeat: no-repeat;
	background-position: center;
	width:18px;
	height:18px;
	display:inline-block;	
	border:1px solid #F9F9F9;
	margin:0 10px 0 10px;
}

.add_action{
	background-image:url('../../images/action_add.png');
}
.add_hour{
	background-image:url('../../images/calendar.png');
}
.remove_groupid {
	background-image:url('../../images/action_delete.png');
}


.isEditing input{
	width:20px;
}


.add_action_dialog .add_action_option label{
	display:inline-block;
}

.interval_options  {
	display:none;
	padding:10px;
}
.interval_options .daily,
.interval_options .every_x_days,
.interval_options .selected_days_of_the_week 
{

}

.top_table{
	width:800px;
	
}
.pixelated_background {
    background-image: -moz-linear-gradient(45deg, #F3F3F3 25%, transparent 25%), 
        -moz-linear-gradient(-45deg, #F3F3F3 25%, transparent 25%), 
        -moz-linear-gradient(45deg, transparent 75%, #F3F3F3 75%), 
        -moz-linear-gradient(-45deg, transparent 75%, #F3F3F3 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #F3F3F3), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #F3F3F3), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #F3F3F3)), 
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #F3F3F3));
    background-image: -webkit-linear-gradient(45deg, #F3F3F3 25%, transparent 25%), 
        -webkit-linear-gradient(-45deg, #F3F3F3 25%, transparent 25%), 
        -webkit-linear-gradient(45deg, transparent 75%, #F3F3F3 75%), 
        -webkit-linear-gradient(-45deg, transparent 75%, #F3F3F3 75%);
    background-image: -o-linear-gradient(45deg, #F3F3F3 25%, transparent 25%), 
        -o-linear-gradient(-45deg, #F3F3F3 25%, transparent 25%), 
        -o-linear-gradient(45deg, transparent 75%, #F3F3F3 75%), 
        -o-linear-gradient(-45deg, transparent 75%, #F3F3F3 75%);
    background-image: linear-gradient(45deg, #F3F3F3 25%, transparent 25%), 
        linear-gradient(-45deg, #F3F3F3 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, #F3F3F3 75%), 
        linear-gradient(-45deg, transparent 75%, #F3F3F3 75%);
    -moz-background-size: 2px 2px;
    background-size: 2px 2px;
    -webkit-background-size: 2px 2.1px; /* override value for webkit */
    background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
}

table.datatable {
	border:1px solid black;
}

table.top_table {
	
}

table.top_table .row1 th,
table.top_table .row2 td{
	text-align:center;
	font-weight:bold;
}

table.top_table td{
	/*background-color:lime!important;*/
}



.head_18abs_pdf{
	display:none;
}


div.square {
  border: 1px solid black;
  max-width: 20px;
  max-height: 12px;
  display:inline-block;
}