table.wrapper_table {
    width: 100%;
    font-size: 2.5em;
    border:1px solid #000;
    line-height: 150%;
}

table.wrapper_table td {
    padding: 10px;
}
table.wrapper_table td.wrapper_cell_name {

}
table.wrapper_table td.wrapper_cell_message {

}
table.wrapper_table td.wrapper_cell_phone {
    font-size: 2.8em;
    text-align: center;
}