@CHARSET "UTF-8";

.display_none {
	display:none;
}
.label_radio_smtp {
	display:inline-block;
	text-align: left;
    margin-right:10px;
    padding: 2px;
    width:60px!important;
}

.ssl_require_port input,
.tls_require_port input
{
	width:65px;
	margin-left:5px;
}