@charset "utf-8";
/* CSS Document */

.patientDetail_radio
{	width:100%;
	margin-bottom:20px;
}

.patientDetail_50
{	width:45%;
	float:left;
	margin-right:10px;
}

.patientDetail_50r
{	width:45%;
	float:right;
	margin-right:0px;
}

.patientDetail_radio label
{	width:auto;
	float:left;
	padding-top:0px;
	margin:7px 0 7px 12px;
}

.patientDetail_radio input
{	margin:0;
	width:auto;
	padding:0px;
	float:left;
	margin:7px 0 0 0;
}

#Stammerweitert
{	width:93%;
	padding:15px 15px;
}

#CheckboxGrids {
	width:100%;
	height:auto;
	border:solid 1px #000000;
	margin-top:10px;
	display:block;
}

.Relevante_Symptome_Heading {
	width:100%;
	height:auto;
	padding:10px;
}

.Relevante_Symptome {
	width:100%;
	height:auto;
	margin-bottom:10px;
}

.Relevante_Symptome_Heading_Outer {
	margin-top:8px;
	height:auto;
	width:auto;
	display:block;
	border-bottom:solid 1px #000000;
	
}
.RowOne {
	width:60px;
	float:left;
}

.RowOne input{
	width:auto;
	margin:8px 0 0 20px;
	
}

.RowTwo {
	width:auto;
	float:left;
	line-height:28px;
}
.Relevante_Symptome_Heading_Outer_New {
	margin-top:8px;
	height:auto;
	width:auto;
	display:block;
}
.Relevante_Symptome_Sub {
	margin-left:60px;
	width:auto;
	display:block;
	margin-bottom:8px;
}
.RowThree {
	width:150px;
	float:left;
}
.RowFour {
	width:40px;
	float:left;
}
.RowFive {
	width:25px;
	float:left;
	margin-right:30px;
}

#stamwei_contentInfdenPa h2
{	
/*	width:97.2%; */
}

#stamwei_contentInfdenPa .column{min-height:0px !important; }
#stamwei_contentInfdenPa .dragbox-content{min-height:10px !important; padding-bottom:10px; }