body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
* {
/*	border: 1px solid red;*/
}
.ClrBoth {
	clear:both;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
}
.MarginZero {
	margin:0px 0 0 1px;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:auto;
	padding: 0;
	margin: 3px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
	float: left;
/*	margin:5px 0 5px 10px;*/
}
form select{
width:99%;
	}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
} 



table.stammblattsapv_table {
	border:0px solid #555;
	width: 99%;
	margin: 3px;
	color: #000;
}
.stammblattsapv_table td {
	border: 0px solid #555;
}

span.stamm_header{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 22px; 
	line-height: 32px;
	text-transform: uppercase;
	 font-weight: 800;
}


table.stmpatinfo_table {
	border: 0px;
	width: 100%;
	margin: 20px 0 20px 0;
}
.stmpatinfo_table td {
	border: 1px;
	height:30px;
	vertical-align: top;
}


span.stm_lbl_big{
	width: 130px;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: 800;
	line-height: 24px;
}
span.stm_lbl_big_client{
	width: 130px;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
 
span.variable_pat{
	line-height: 35px;
	font-size: 14px; 
}
span.variable_pat input{
	margin:0 5px 5px 5px;
	width:365px;
}
span.variable_doctor input{
	margin:0 5px 5px 5px;
	width: 95%;
}


span.spnvar{
	font-size: 14px; 
	display: block;
	float: left;
	width: 255px;
	line-height: 24px;
}
span.spnvar input{
	width: 240px;
}

span.stm_lbl_small{
	width: 50px;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: 800;
	line-height: 24px;
}
span.vallsmall {
	display: block;
	width: 125px;
	float: left;
	font-size: 14px; 
	line-height: 24px;
	
}
span.vallsmall input{
	width:105px;
}

table.stamd_details {
	border: 0px;
	width:100%;
	margin: 0px;
}
.stamd_details td {
	border: 0px solid #ccc;
}
 

.allergien_table {
	margin: 20px 0 20px 0;
}
.allergien_table b{
	font-size: 14px;
	font-weight: 800;
 	display: block; 
 	float: left;
}
textarea.allergien_txt{
	width: 350px;
	height: 50px;
	margin: 5px 10px 5px 10px;
}

.healtinsurance {
	width: 100%;
}

.healtinsurance td {
		border: 0px;
}

.living_will{
	border-bottom: 1px solid #000;
}




.pflegestufe{

}
.pflegestufe b{
	font-size: 14px;
	font-weight: 800;
	display: block; 
 	float: left;
 	margin: 0px 5px 0 0;
 	padding:0;
}
.pflegestufe label{
	display: block;
	float: left;
	margin: 0px 0 0 5px;
	padding:0;
}


.pflegestufe input[type="radio"]{
	display: block;
	float: left;
	padding:0;
	margin: 2px 2px 0px 0 ;
}
.pflegestufe input[type="checkbox"]{
	display: block;
	float: left;
	margin: 0;
	padding:0;
}

.medium {
	width: 95px;
	height: 25px;
	padding-left: 5px;
}
.inp_small {
	height: 25px;
	width: 50px;
}

.doctor{
	width: 100%;
	border: 0px;
	margin: 20px 0 20px 0;
}
.doctor td{
	border: 0px;
}
 
.diagnosis_table{
	width: 100%;
	margin: 20px 0 20px 0;
}
.diagnosis_table td{
	border: 0;
 	vertical-align: top;
}
.diagnosis_table td textarea {
	width: 95%;
	height: 60px;
}
.diagnosis_table td input {
	width: 95%;
}

.ziele_table{
	width: 100%;
	margin: 20px 0 20px 0;
}
.ziele_table td{
	border: 0;
 	vertical-align: top;
}
.ziele_table td textarea {
	width: 95%;
	height: 120px;
}
.ziele_table td span {
	float: left;
}

.Vorsorgevollmacht {
	width: 100%;
	margin: 30px 0 20px 0;
}

.Vorsorgevollmacht td {
	border: 0;
	height: 20px;
}

.Vorsorgevollmacht b{
	font-size: 14px;
	font-weight: 800;
	display: block; 
 	float: left;
 
}
.Vorsorgevollmacht label{
	float: left;
	display: block;
	margin: 0;
	font-size: 14px;
	padding: 0;
/*	background: #cdd;*/
}
.Vorsorgevollmacht input[type="radio"]{
	float: left;
	display: block;
	padding: 0;
	margin: 3px 5px 0 0 ;
}
.Vorsorgevollmacht input[type="text"]{
	float: left;
	margin: 0px 2px 0px 0 ;
	width: 180px;
}

  

input[type="radio"]{
	float: left;
	dislay: block;
	margin:-5px 3px 2px 0 !important;
}
input[type="text"]{
	float: left;
	dislay: block;
	margin:0px 0px -4px 5px !important;
}
.td_br_bottom{
border-bottom: 1px solid #000000!important;

}