table.table_asigned_users {
    width:100%;
    padding: 0px;
    margin: 0px;
}
fieldset {
    width:780px;
}

ul#listclientuser_name_list {
    float: left;
    display: block;
    padding: 10px 0 10px 0;
    vertical-align: middle;
    width: 100%;
}

label.settings_row_ed_master {
    width: 255px!important;
}

ul#listclientuser_name_list li {
    line-height: 150%;
}
.settings_prefix_nr input {
    display: block;
    float: left;
    width: 116px!important;
}
.settings_prefix_nr input[type="checkbox"] {
    display: block;
    float: left;
    width: auto!important;
}

input#event_time_start {
    width: 50px!important;
    text-align: center;
}

input#event_time_end {
    width: 50px!important;
    text-align: center;
    margin-left: 10px;
}

.datatable td {
    cursor: pointer;
    padding-left: 5px;
    line-height: 200%;
    border: 1px solid #eee;
    vertical-align: top;
}
ul.tagit li.tagit-choice-editable {
    padding: 0px 17px 0px 4px;
}


.extra_patients_block{
	display: block; 
	float: left;
}

.extra_patients_block .t_pat_header{
	display: block; 
	float: left;
}

.extra_patients_block .extra_patients_row{
	display: block; 
	float: left;
}
.extra_patient_type{
	display: block; 
	float: left;
	margin-right: 10px;
}

.extra_patient_type input{
	display: block; 
	float: left;
	margin-top: 8px;
}
.extra_patient_type label{
	display: block; 
	float: left;
	text-align:right;
	line-height: 30px;
}

.p_search{
	display: block; 
	float: left;
	width: 100%;
}

.p_search label{
	display: block; 
	float: left;
	line-height: 26px;
	margin-right: 10px;
}
.p_search input{
	display: block; 
	float: left;
}


#livesearch_team_event_patient{
	display: block; float: left;
	width: 300px;
	border: 3px solid #000;
	z-index: 999999;
}


p.no_data{
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #4d4d4d;
	width: 100%;
	display: block; float: left;
	
}

#add_extra_patients{
	
}
#add_extra_patients img{
	margin-top: 5px;	
}
#add_extra_patients b{
	line-height: 30px; 
}


.settings_row_ed {
    display: block;
    float: left;
    width: 100%;
}
.settings_row_ed label {
    display: block;
    float: left;
    line-height: 25px;
    width: 145px;
}
.settings_row_ed input {
    display: block;
    float: left;
    width: 30px;
}
label.settings_row_ed_master {
    display: block;
    float: left;
    font-weight: 400;
    line-height: 25px;
    width: 268px;
}
label.km_settings_yes, label.km_settings_no {
    width: 62px;
}


.event_select{
    display: block;
    float: left;
    font-weight: 400;
    line-height: 25px;
    width: 275px;
}
#event_name{
    display: block;
    float: left;
    font-weight: 400;
    width: 268px;
}

 
.custom_file{
	color: #7f7f7f;
}
.custom_file td{
	background: #fafafa;
	border: 0px!important;
}
.custom_file td.event_date{
	text-indent: 10px; 
	
}
.custom_file a{
	color: #7f7f7f!important;
}
#table td a {
	color: #555;
	display: block;
}
