table.table_asigned_users {
    width:100%;
    padding: 0px;
    margin: 0px;
}
fieldset {
    width:780px;
}

ul#listclientuser_name_list {
    float: left;
    display: block;
    padding: 10px 0 10px 0;
    vertical-align: middle;
    width: 100%;
}

label.settings_row_ed_master {
    width: 255px!important;
}

ul#listclientuser_name_list li {
    line-height: 150%;
}
.settings_prefix_nr input {
    display: block;
    float: left;
    width: 116px!important;
}
.settings_prefix_nr input[type="checkbox"] {
    display: block;
    float: left;
    width: auto!important;
}
input#meeting_name {
	width: 268px;
	display: block;
	float: left;
	font-weight: 400;
}
input#meeting_time_start {
    width: 50px!important;
    text-align: center;
}

input#meeting_time_end {
    width: 50px!important;
    text-align: center;
    margin-left: 10px;
}

.datatable td {
    cursor: pointer;
    padding-left: 5px;
    line-height: 200%;
    border: 1px solid #eee;
    vertical-align: top;
}
ul.tagit li.tagit-choice-editable {
    padding: 0px 17px 0px 4px;
}


.extra_patients_block{
	display: block; 
	float: left;
}

.extra_patients_block .t_pat_header{
	display: block; 
	float: left;
}

.extra_patients_block .extra_patients_row{
	display: block; 
	float: left;
}
.extra_patient_type{
	display: block; 
	float: left;
	margin-right: 10px;
}

.extra_patient_type input{
	display: block; 
	float: left;
	margin-top: 8px;
}
.extra_patient_type label{
	display: block; 
	float: left;
	text-align:right;
	line-height: 30px;
}

.p_search{
	display: block; 
	float: left;
	width: 100%;
}

.p_search label{
	display: block; 
	float: left;
	line-height: 26px;
	margin-right: 10px;
}
.p_search input{
	display: block; 
	float: left;
}


#livesearch_team_meeting_patient{
	display: block; float: left;
	width: 300px;
	border: 3px solid #000;
	z-index: 999999;
}


p.no_data{
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #4d4d4d;
	width: 100%;
	display: block; float: left;
	
}
/*ISPC-2161*/
#teammeeting .datatable tr.row_group_odd td {
    background-color: #F6F6F6;
}
#teammeeting .datatable tr.row_group_even td {
    background-color: #fff;
}
.fake_container_problem {
    position:relative;
}
.fake_container_problem .prefill_team_problem{
    position:absolute;
    top: 10px;
    right:0px;
    z-index:2;
}
.fake_container_problem  textarea  {
   position:relative;
   z-index:1;
}
.todos_table tr th {
	background-color: #ccc !important;
	font-weight: bold;
}

#table_patient th {
	padding-left: 10px !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	background: #fff;
	border: 1px solid #ccc;
	color: #000;
}

#table_patient tbody tr {
	background: transparent;
}

#table_patient tbody td {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

#table_patient {
	border: none;
}

#patient_status_tr {
	font-weight: 800;
	color: #000;
	width: 100%;
	display: block;
	background: #fff;
	padding-bottom: 5px;
	padding-top: 5px;
}

#patients_resulted {
	width: 100%;
	float: left;
}

#patients_resulted .dataTables_wrapper .ui-toolbar {
	padding: 3px !important;
	background: #ddd;
	border: 1px solid #ccc;
}


#portamento_container {
	position: relative;
	height: 50px;
	background-color: #fff;
/* 	width: 100% !important; */
	
	z-index:3;
}

#portamento_container #container {
	float: none;
	position: absolute;
	background-color: #fff;
	width: 100% !important;
}

#portamento_container #container.fixed {
	position: fixed;
	top: 0px;
	background-color: #F5F5F5;
/* 	width: 100% !important; */
}
 
#portamento_container #container.fixed .inner_container_floating {
	display: inline-table;
	position: fixed;
	top: 0px;
	background-color: #fff;
/* 	width: 100% !important; */
	
}
 .inner_container_floating{
	display: none;
 }
 
 
#portamento_container #container.fixed.pm_table {
}
 
 .pm_table{
 }
 
 /* .fixed_team_header{
   table-layout: fixed;
   width: 80%;
 }
 
 .fixed_team_header thead tr{
 	display: block;
 	position:relative;
 
 }
 .fixed_team_header tbody{
    display: block;
    overflow: auto;
    width: 100%;
 	height: 500px;
 
 }
  */
 
 
 /*
 - Added on 29.08.2018 Ancuta 
 */
 .ui-datepicker{
 	z-index: 4!important;
 }
  
 /*
 - Added on 14.09.2018 Ancuta 
 */
 .ui-timepicker{
 	z-index: 4!important;
 }