@CHARSET "UTF-8";

div.versorger-left {
    width: 400px;
    float: left;
}

div.versorger-right {
    width: 400px;
    float: left;
}
/* ISPC-2703, elena, 04.01.2021 */
div.versorger-third {
    width: 400px;
    float: left;
}


.versorger .catdetails {
    width: 370px;
    margin-bottom: 20px;
}

.versorger-catheader {
    /*
    background-color: #B5BFD5;
    color: #20396B;
    cursor: move;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #B5BFD5;
    padding: 0px;
    */
    
    
    background: -moz-linear-gradient(top, #dfdfdf, #c6c6c6);
    background: -webkit-gradient(linear, center bottom, center top, from(#A1A5B4), to(#FBFDFF) );
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin: 0px 0 0 -1px;
    padding: 0;
    /*padding: 6px 0px 6px 0px;*/
    font-family: Arial, helvetica;
    font-weight: 700;
    font-size: 12px;
    color: #333;
    line-height: 30px;
    text-indent: 10px;

}












.versorger-catheader .headtitle {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    display: inline-block;
}

.versorger-catheader .headtitle-img {
    padding: 2px;
    float: right;
    display: inline-block;
}

.versorger-catheader .headtitle-img img {
    width: 16px;
    vertical-align: bottom;
}

.versorger-catheader.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.versorger-catheader.inactive {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.versorger .entries {
    background: #f1f1f1;
    /*background-color: #eef;*/
    border: 1px solid #c7c7c7;
    padding: 0px;
    min-height: 100px;
    
}

.catdetails label {
    width: 120px;
    display: inline-block;
}

.catdetails .entry_extra_wrapper,
.catdetails .entry {
    padding: 4px;
    /*border: 1px solid #8396BF;*/
    border-radius: 4px;
    margin: 3px 3px 12px 3px;
    min-height: 20px;
    position: relative;
    padding-bottom: 12px;
    
    border: 1px solid #c7c7c7;
}

.entrydetail {
    font-weight: bold;
}

.entryline {
    margin-bottom: 8px;
}
.entry_extra_wrapper .entryline {
    /*height:20px;*/
    margin:0;
    padding-top:5px;
    padding-bottom:4px;
}


.ibutton {
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    padding-right: 6px;
    background-color: #ddd;
    color: #333;
    margin: 3px;
}

.ibutton:hover {
    background-color: #B5BFD5;
    color: black;
}

.ibutton img {
    vertical-align: middle;
    width: 16px;
}

.entry .info-button {
    text-align: right;
    cursor: pointer;
    position: absolute;
    right: 2px;
    bottom: 2px;
    display: inline-block;
}

.entry .info-button img {
    vertical-align: baseline;
    margin-bottom: -3px;
}

#versorger-entryeditor .content label {
    width: 160px;
    display: inline-block;
}

#versorger-entryeditor .content input[type="text"] {
    width: 360px;
}

#versorger-entryeditor {
    display: none;
}

#livesearch-versorger {
    height: 280px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid #cccccc;
    z-index: 1200;
}

.versorger-livesearch-entry {
    margin: 2px 2px 4px 2px;
    border: 1px solid #ADD8E6;
    padding: 3px;
    border-radius: 3px;
    background-color: #deedf7;
    cursor: pointer;
}

#versorger-clipboardcopy, #versorger-memo {
    display: none;
}

#versorger-clipboardcopy textarea {
    width: 300px;
    height: 120px;
}

#versorger-entryeditor .toolbar input {
    padding: 3px;
    margin: 3px;
}

#versorger-entryeditor .toolbar {
    margin-top: 12px;
}



/* @cla */
.versorgerEditDialog.ui-dialog {
    padding : 1px;
}

.versorgerEditDialog .ui-dialog-titlebar {
    /*
    background: #B5BFD5;
    color :#20396B;
    */
    border-color : #B5BFD5;
} 


.versorgerEditDialog .ui-dialog-buttonset {
    width:100%;
}

.versorgerEditDialog .ui-dialog-buttonset .rightButton {
    float:right;
}
.versorgerEditDialog .ui-dialog-buttonset .leftButton {
    float:left;
}


.versorgerEditDialog textarea {
    width: 360px;
}




#versorger-entryeditor .content input.date {
    width:100px;
}

.ui-accordion .ui-accordion-content.accordion_body,
.versorger .entry .accordion_body{
    padding : 5px;
    /*
    border: 1px solid #8396BF;
    border-top:none;
    border-radius: 0 0 4px 4px;
    */
    /*
    line-height: 1;
    font-size: 12px;
    color: #333;
    */
}


.ui-accordion .ui-accordion-header.accordion_head, 
.versorger .entry .accordion_head{
    /*
    
    background:#B5BFD5;
    border-color : #B5BFD5;
    color : #20396B;
    */
    height : 27px;
    /*
    line-height: 1;
    font-size: 12px;
    */
    
    font-weight:bold;
}


.versorger .accordion_head span.selector_divisions,
.versorger .entry .accordion_head span.entrydetail{
    position: absolute;
    left: 2em;
    top: 20%;
    font-weight: bold;
}
.versorger .acp_accordion .accordion_head {
    text-indent: 25px;
    width: 100%;
}

.versorger .acp_accordion .accordion_body{
    
    width: 100%;
}







/*.ui-helper-reset*/






.spinner_square {
  z-index:9999;
  width: 40px;
  height: 40px;
  background-color: #62BBE8;
  border:1px solid #fff;

  margin: 20px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}





/* livesearch result html */
.livesearch_unified_style, /* this is the default class used in all the live_searches */
#livesearch_zipcities,
#livesearch_healthinsurance,
#livesearch_admission_diagnosis {
        
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 680px;
    background-color: #fff;
    border: 2px solid #000;
    display:block;
    z-index:2147483647; /* !! MAX */
}
#livesearch_zipcities table,
#livesearch_healthinsurance table,
#livesearch_admission_diagnosis table {
    background-color: #fff;
}


/* default zend_form class for errors*/
.errors {
    color:#900;    
}

.wlassessment_form_class .date{
    width:100px
}
.wlassessment_form_class .time{
    width:60px;
}
.wlassessment_form_class fieldset {
    border: 1px solid #DDD;
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+10,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}


dt {
    float: left;
    clear: left;
    width: 180px;        
    padding: 5px 0;
    margin:0;
}
dd {
    float: left;
    width: 200px;
    padding: 5px 0;
    margin:0;
}
.cf:after {
    content:'';
    display:table;
    clear:both;
}


.wlassessment_form_class fieldset table {
    
}
.wlassessment_form_class fieldset table td {
    padding:2px 2px 2px 5px;
    border-bottom: 1px solid #DDD;
   
    text-indent: 0px;
    vertical-align: middle;
}


.wlassessment_form_class label.required:after {
   content:" *";
   color: #e32;
   display:inline;
}


.wlassessment_form_class .label_same_size label,
.wlassessment_form_class .label_same_size_100 label,
.wlassessment_form_class .label_same_size_80 label, 
.wlassessment_form_class .label_same_size_auto label, 
.wlassessment_form_class .label_same_size_180 label 
{
    display: inline-block;
    width :190px;    
    height :20px;    
    padding-left: 15px;
    text-indent: -15px;
    /*font-size: 12px;*/
}
.wlassessment_form_class .label_same_size_100 label {
    width :100px;    
}


.wlassessment_form_class .label_same_size_170 label{
    width :170px; 
}

.wlassessment_form_class .label_same_size_80 label{
    width :80px; 
}
.wlassessment_form_class .label_same_size_auto label{
    width: auto;
}

.wlassessment_form_class .label_same_size_180 label{
    width :180px; 
}


.wlassessment_form_class .label_same_size label.size_80{
    width :80px; 
}
.wlassessment_form_class .label_same_size label.size_100{
    width :100px; 
}
.wlassessment_form_class .label_same_size label.size_120{
    width :120px; 
}
.wlassessment_form_class .label_same_size label.size_140{
    width :140px; 
}
.wlassessment_form_class .label_same_size label.size_160{
    width :160px; 
}
.wlassessment_form_class .label_same_size label.size_180{
    width :180px; 
}


.wlassessment_form_class .label_same_size label input,   
.wlassessment_form_class .label_same_size_100 label input,  
.wlassessment_form_class .label_same_size_180 label input,  
.wlassessment_form_class .label_same_size_auto label input {    
    width: 25px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 2px;
}

.wlassessment_form_class .accordion_c fieldset{
    border:0;
    padding:0px;
    margin:0px;    
    text-indent:25px;
}

.wlassessment_form_class .accordion_c fieldset legend{
    width:100%;
    text-indent:25px;
    padding-top:5px;
}


.wlassessment_form_class .accordion_c fieldset table{
    width:100%;
}


.wlassessment_form_class .tdwidth20percent {
    width:20%;
}

.wlassessment_form_class fieldset table.SimpleTable {
    width:auto;
}
.wlassessment_form_class fieldset table.SimpleTable td {
    border-bottom: 1px solid #DDD;
}
   
.wlassessment_form_class fieldset table.SimpleTable th {
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    font-weight:bold;
    line-height: 200%;
    padding-right: 5px;
    padding-left: 5px;
}
   
.wlassessment_form_class .formular_actions {
   padding: 5px;
    
}
.wlassessment_form_class .formular_actions input {
   margin:5px;
}


.wlassessment_form_class .align_right {
    text-align:right;
}

.wlassessment_form_class .align_center{
    text-align:center;
}
.wlassessment_form_class .delete_row {
    background: transparent url(../../images/action_delete.png) no-repeat center;
    background-size: 20px 20px;
    width:20px;
    height:20px;
    display:inline-block;
    margin: auto;    
}

.wlassessment_form_class .icd_holder_row .diagdesc {
       padding-right:15px;
        
}

































/*
inlineEdit boxes, hide border and legend
.multipleCheckboxes
.inlineEdit
*/


.versorger .catdetails fieldset.inlineEdit
/*
.versorger .catdetails fieldset.create_form_all_patient_location_display,
.versorger .catdetails fieldset.create_form_patient_hospiz_hospizverein_sapv_aapv,
.versorger .catdetails fieldset.create_form_patient_therapieplanung,
.versorger .catdetails fieldset.create_form_patient_visits_settings,
.versorger .catdetails fieldset.create_form_acp,
.versorger .catdetails fieldset.create_form_patient_germination,
.versorger .catdetails fieldset.create_form_patient_lives,
.versorger .catdetails fieldset.create_form_patient_mobility,
.versorger .catdetails fieldset.create_form_orientierung,
.versorger .catdetails fieldset.create_form_wunsch,
.versorger .catdetails fieldset.create_form_ernahrung,
.versorger .catdetails fieldset.create_form_hilfsmittel,
.versorger .catdetails fieldset.create_form_patient_supply,
.versorger .catdetails fieldset.create_form_vigilanz,
.versorger .catdetails fieldset.create_form_nationality,
.versorger .catdetails fieldset.create_form_marital_status,
.versorger .catdetails fieldset.create_form_artificial_exits,
.versorger .catdetails fieldset.create_form_excretion,
.versorger .catdetails fieldset.create_form_religion,
.versorger .catdetails fieldset.create_form_mobility2,
.versorger .catdetails fieldset.create_form_orientation2 
*/
{
    border:none;
    margin: 0px;
    padding: 5px;
}

.versorger .catdetails fieldset.inlineEdit > legend
/*
.versorger .catdetails fieldset.create_form_all_patient_location_display > legend,
.versorger .catdetails fieldset.create_form_patient_hospiz_hospizverein_sapv_aapv > legend,
.versorger .catdetails fieldset.create_form_patient_therapieplanung > legend,
.versorger .catdetails fieldset.create_form_patient_visits_settings > legend,
.versorger .catdetails fieldset.create_form_acp > legend,
.versorger .catdetails fieldset.create_form_patient_germination > legend,
.versorger .catdetails fieldset.create_form_patient_lives > legend,
.versorger .catdetails fieldset.create_form_patient_mobility > legend,
.versorger .catdetails fieldset.create_form_orientierung > legend,
.versorger .catdetails fieldset.create_form_wunsch > legend,
.versorger .catdetails fieldset.create_form_ernahrung > legend,
.versorger .catdetails fieldset.create_form_hilfsmittel > legend,
.versorger .catdetails fieldset.create_form_patient_supply > legend,
.versorger .catdetails fieldset.create_form_vigilanz > legend,
.versorger .catdetails fieldset.create_form_nationality > legend,
.versorger .catdetails fieldset.create_form_marital_status > legend,
.versorger .catdetails fieldset.create_form_artificial_exits > legend,
.versorger .catdetails fieldset.create_form_excretion > legend,
.versorger .catdetails fieldset.create_form_religion > legend,
.versorger .catdetails fieldset.create_form_mobility2 > legend,
.versorger .catdetails fieldset.create_form_orientation2 > legend 
*/
{
    display:none
}


.versorger .catdetails .multipleCheckboxes label{
    display: block;
    width: auto;    
    margin-bottom: 5px;
}

.versorger .catdetails .multipleCheckboxes label input {
    
    padding: 0px;
    margin: 0 5px  0 0;
    position: relative;
    top: 2px;
    
}





.versorger .catdetails .multipleCheckboxes.create_form_patient_germination .comments td,
.versorger .catdetails .multipleCheckboxes.create_form_patient_mobility .comments td,
.versorger .catdetails .multipleCheckboxes.create_form_artificial_exits .comments td,
.versorger .catdetails .multipleCheckboxes .group_communication_limited td,
.versorger .catdetails .multipleCheckboxes .group_communication td {
    padding-left : 20px;
}

.acp_accordion > fieldset {
    padding:0;    
    margin: 0;
}
.acp_accordion table td {
    padding-left:2px;
}

.acp_accordion table label {
    width: auto;
}





.versorger .catdetails fieldset.create_form_patient_visits_settings{
    border:none;
    margin: 0px;
    padding: 1px;
}

#patient_locations_table {
    width:100%;
}
#patient_locations_table label.optional {
    width:100%;
}

.entry_relocate.odd,
#patient_locations_table tr.odd td,
#table_visits_per_day tr.odd td {
    background: #f2f2f2;
}

.entry_relocate.even,
#patient_locations_table tr.even td,
#table_visits_per_day tr.even td {
    background: #FFF;
}



#table_visits_per_day select {
    width : 80%
}
#table_visits_per_day .x_cross {
    padding: 0;
        padding-left: 0px;
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}


.chosen-container.tourenplan_select {
    width:120px !important;
}

#box-SapvVerordnung .entry .entryline .entrydetail .s1 {
    width:180px;
    display: inline-block;
}
#box-SapvVerordnung .entry .entryline .entrydetail .s2 {
}


#box-SapvVerordnung .ui-accordion > .acc_group{
    margin-right :5px;
    margin-left :5px;
    width:auto;
    padding:0;
}

#box-SapvVerordnung .ui-accordion .accordion_head {
     width: auto;
}

#box-SapvVerordnung .ui-accordion .acc_group .ui-accordion-content.accordion_body {
     width: auto;
}

#box-PatientAcp .ui-accordion .ui-accordion-content.accordion_body {
     width: 100%;
     table-layout: fixed;
}

#versorger-entryeditor .content .create_form_patient_sapv_verordnung .tr_verordnet label,
#versorger-entryeditor .content .create_form_patient_sapv_verordnung .label_status label,
#versorger-entryeditor .content .create_form_patient_sapv_verordnung .label_extra_set label {
    width:100px;
}
#versorger-entryeditor .content .create_form_patient_sapv_verordnung .label_status label.optional {
    width:130px;
}



#versorger-entryeditor .content .create_form_patient_sapv_verordnung .label_bra_options label {
    width:60px;
}

#versorger-entryeditor .content .create_form_patient_sapv_verordnung .label_date_sapv input.date {
    height:18px;
    margin-bottom : -2px;
    padding: 6px 2px 6px 4px;
}

#versorger-entryeditor .content .create_form_patient_sapv_verordnung .label_date_sapv {
    height: 38px;
}



.wlassessment_form_class td.required::after {
    content: " *";
    color: #e32;
    display: inline;
}


.create_form_patient_hospiz_hospizverein_sapv_aapv_set_ishospizverein_visitors table label,
.create_form_patient_hospiz_hospizverein_sapv_aapv_set_ishospiz_visitors table label{
    width: auto;
}

.bold{
    font-weight: bold;
}

.boxsort_placeholder {
    border:2px dashed #ccc;
    width: 370px;
    margin-bottom: 20px;
}
/* ISPC-2539, elena, 28.10.2020  */
ul.sapv_secondary_green li::before,
ul.sapv_secondary_red li::before,
ul.sapv_secondary_yellow li::before,
ul.sapv_primary_green li::before,
ul.sapv_primary_yellow li::before,
ul.sapv_primary_red li::before {
    position: relative;
    top: 8px;
}
/* ISPC-2539, elena, 28.10.2020  */
.icon-trash{
    width:17px;
    height:17px;
}
.icon-trash img{
    width: 17px;
    height: 17px;
}


.inlineEdit input.date {
    width:100px;
}

#box-PatientAcp .emergencyplan table tbody {
	display: table;
	width: 100%;
}

/*ISPC-2508 Carmen 27.01.2020*/
.create_form_artificial_entries_exits .localization_available {
	width: 300px !important;
}

#table_entry .info-button, #table_exit .info-button {
    position: relative;
}

#table_entry img, #table_exit img {
	width: 24px !important;
	height: 24px !important;
}

.create_form_artificial_entries_exits .time{
    width:60px !important;
}

.artificial_title
{
	padding: 5px;
	font-weight: bold;
}
/*ISPC-2508 Carmen 27.01.2020*/

/*ISPC-2513 Lore 13.04.2020*/
.readmission_edit_details {
    background: transparent url(../../images/alert_info.png) no-repeat center;
    background-size: 20px 20px;
    width:20px;
    height:20px;
    display:block;
    margin: auto; 
}


/* ISPC-2669 Ancuta  */
td.vabase {
	vertical-align: bottom!important;
}
.marks_label {
	vertical-align: top;
}
.marks_options{
	
}
.marks_options label{
	width:100%!important;
}

/* ISPC-2673 Lore 30.09.2020 */
#versorger-entryeditor .content .create_form_block_resources label {
    width: auto!important;
}

/*ISPC-2773 Lore 14.12.2020*/
.parents_marital_status_label {
	vertical-align: top;
}
.parents_marital_status_opt{
	
}
.parents_marital_status_opt label{
	width:100%!important;
}
#versorger-entryeditor .content .create_form_patient_family_info label {
    width:210px;
}

/*ISPC-2776 Lore 15.12.2020*/
.children_diseases_label {
	vertical-align: top;
}
.children_diseases_opt{
	
}
.children_diseases_opt label{
	width:100%!important;
}
#versorger-entryeditor .content .create_form_patient_children_diseases label {
    width:335px;
}

/* ISPC-2790 Lore 12.01.2021 */
#versorger-entryeditor .content .create_form_patient_final_phase label {
    width: 150px;
}
#versorger-entryeditor .content .create_form_patient_final_phase .final_other_width_label label {
    width:300px!important;
}
#versorger-entryeditor .content .create_form_patient_final_phase input[type="text"] {
    width:204px;
    height:4px;
}


/* ISPC-2791 Lore 13.01.2021 */
#versorger-entryeditor .content .create_form_patient_excretion_info input[type="text"] {
    width:150px;
}
/* //-- */

/* ISPC-2792 Lore 15.01.2021 */
#versorger-entryeditor .content .create_form_patient_personal_hygiene label {
    width: 130px;
}
#versorger-entryeditor .content .create_form_patient_personal_hygiene input[type="text"] {
    width:150px;
}
/* //-- */

/* ISPC-2793 Lore 18.01.2021 */
#versorger-entryeditor .content .create_form_patient_communication_employment input[type="text"] {
    width:150px;
}
/* //-- */

/*ISPC-2381 Carmen 14.01.2021 */
#versorger-entryeditor .content #aidtable label {
	width: 200px;
}
#versorger-entryeditor .content #aidtableadd label {
	width: 100px;
}
#versorger-entryeditor .content #aidtableadd .print_column_first label {
	width: 150px;
}
#versorger-entryeditor .content #aidtableadd .extrafieldsrow label {
	width: 200px;
}
#versorger-entryeditor .content #aidtableadd .extrafieldsrow label.optional {
	width: 150px;
}
#versorger-entryeditor .content #aidtable input[type="text"] {
    width: 300px;
}
#versorger-entryeditor .content #aidtable input.date
{
	width: 70px;
}
#versorger-entryeditor .content #aidtable .print_column_first label {
	width: 160px;
}
/* //-- */

/* ISPC-2788 Lore 29.01.2021 */
#versorger-entryeditor .content .create_form_patient_nutrition_info input[type="text"] {
	/* width:160px; */
    height:4px;
}
#versorger-entryeditor .content .create_form_patient_nutrition_info input[type="radio"] {
	height: 23px;
}
#versorger-entryeditor .content .create_form_patient_nutrition_info label {
    margin:4px;
    width:150px;
}
#versorger-entryeditor .content .create_form_patient_nutrition_info .nutrition_other_width_label label {
    width:175px;
}
/* //-- */




/* TODO-3830 Ancuta 09.02.2021 */
.therapy_img_Nein{
	display: block; 
	float: none;
	height: 30px;
	width: 30px;
	margin: auto 120px;
	background: transparent url(../../images/002-no-stopping.png) no-repeat center;
}
.therapy_img_Ja{
	display: block; 
	margin: auto 120px;
	float: none;
	height: 30px;
	width: 30px;
	background: transparent url(../../images/001-check-mark.png) no-repeat center;
}
