input,textarea,select{
	background: #fdfdfd !important;
}
textarea.text_blocks{
	background: #fdfdfd!important;
	margin-bottom:5px;
}
 

.PatientDetail_datatable td {
    border: 1px solid #bbb;
}

.hospiz_v_table tr.tr_header th{
	text-align: left;
	text-indent: 2px;
}
.hospiz_v_table td {
    border: 1px solid #bbb;
}

.hospiz_v_table td input[type="text"] {
    margin: auto 1px auto 1px;
    width: 39px;
}


.hospiz_v_table td input.date[type="text"] {
    float: none;
    margin: auto;
    width: 70px!important;
}

.a_date{
	width: 75px!important;
}
.date_input{
	width: 75px!important;
}

.b_w_date {
	width: 75px!important;
}
.assign_patient_date{
	width: 75px!important;
}
.tcontainer {
	display: block;
	width: 100%;
	height: auto;
	clear: both;
}

select.event_select{
	width: 130px!important;
}
.form_row_vw {
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

.form_row_vw label{
	width: 16%;
	display: block; 
	float: left;
	line-height: 26px;
}
.form_row_vw .form_row_inpt{
	width: 80%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses{
	width: 40%;
	display: block; 
	float: left;
	padding:0;
	margin:0;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses li.voluntaryworkers_p_statuses_li{
	width: 100%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses li.voluntaryworkers_p_statuses_li input{
	width: 20px;
	display: block; 
	float: left;

}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses li.voluntaryworkers_p_statuses_li label{
	width: 80%;
	display: block; 
	float: left;
	line-height: 26px;
}

.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses{
	width: 40%;
	display: block; 
	float: left;
		padding:0;
		margin:0;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses li.voluntaryworkers_statuses_li{
	width: 100%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses li.voluntaryworkers_statuses_li input{
	width: 25px;
	display: block; 
	float: left;

}
.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses li.voluntaryworkers_statuses_li label{
	width: 80%;
	display: block; 
	float: left;
	line-height: 26px;
}
.span_page_title{
	display: block; 
	float: left; 
	widht: 100%;
	margin: 20px 0 5px 0; 
	text-align: center;
	font-size: 14px;
}

.add_new_patient_line span,
.add_new_shv_patient_line span,
.add_new_bhv_patient_line span, 
.add_new_s_work_line span 
{
	float: left; 
	display: block;
	line-height: 26px;
	font-size: 13px;
}

.add_new_patient_line img,
.add_new_shv_patient_line img,
.add_new_bhv_patient_line img ,
.add_new_s_work_line img 

{
	float: left; 
	display: block;
	margin-top:2px;
}
.pat_tab_title{
	float: left; 
	display: block;
	font-size: 14px;

}
img.vw_color_status {
	height: 20px;
	width: 20px;
}
input.vw_date {
    width: 72px;
}

img.vw_color_status{
	height:30px;
	width:30px;
}
input.vw_color_status_input{
	display: block;
 	float: left;
	margin: 4px 0 0 3px;
}

input.vw_duration {
	width:50px;
}
input.vw_driving_time {
	width:50px;
}
td.vw_status_color_td_input{
	width:32px; 
	vertical-align:top;
}
td.vw_status_color_td_img{
	width:60px; 
}
.vw_p_table_container{
	display: block; 
	float: left;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000000;
}
.vw_p_table_container table.hospiz_v_table_det{
	width: 100%;
}

.vw_p_table_container table.hospiz_v_table_det td{
	line-height: 26px;
	  border: 1px solid #bbb;
	  background: #fff;
	  padding-left: 3px;
}
.vw_p_table_container table.hospiz_v_table_det th{
	    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #bbb;
    color: #000;
    text-align: center;
    vertical-align: middle;
}


.vw_p_table_container table.single_work_table_det {
	width: 100%;
}

.vw_p_table_container table.single_work_table_det td {
	line-height: 26px;
	border: 1px solid #bbb;
	background: #fff;
	padding-left: 3px;
}

.vw_p_table_container table.single_work_table_det th {
	background: #f0f0f0 none repeat scroll 0 0;
	border: 1px solid #bbb;
	color: #000;
	text-align: center;
	vertical-align: middle;
}

.upload_files_block{
    display: block; float: left;
    height: auto;
    margin: 20px 0 20px 0;
    width: 100%;
}
.upload_files_block b{
    float: left;
    height: auto;
    font-size: 18px;
    color:#000;
}

.upload_files_block table{
    line-height: 150%;
    margin-top: 20px;
    width: 100%;
}
.upload_files_block table.no_td_border td{
	border: 0px;
	}


.upload_files_block table td {
    border: 1px solid #eee;
    cursor: pointer;
    line-height: 200%;
    padding-left: 5px;
}

.upload_files_block table th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f3f3f3;
    border-color: #bbb;
    border-image: none;
    border-style: solid  ;
    border-width: 1px ;
    line-height: 200%;
    padding-left: 5px;
}

.upload_files_block table td a {
    color: #555;
    display: block;
}


.upload_files_block table td a:hover {
    color: #666;
    text-decoration: none;
}

.working_data_block{
	
}
.working_data_block table{
	width: 50%;
	margin-left:120px;
	border-collapse: collapse;
}
.working_data_block table th{
	background: #f0f0f0 none repeat scroll 0 0;
	border: 1px solid #bbb;
	color: #000;
	text-align: center;
	vertical-align: middle;	
}

.working_data_block table td{
	border: 1px solid #bbb;
	padding:5px;
	text-align: center;
}
.working_data_block table th.wd_label_th{
	text-align: left;
	padding:5px;
}
 
.wd_time{
	width: 50px;
}

.visibility_links{
	margin-left:120px;
}

.has_car_block{
	margin-top:10px;
	padding-top:10px;
}
.has_car_block label{
	margin-top:5px;
}
#tabs-5{
	padding:10px 5px;
}

.dysplay_saved_data{
	display:block;
	float:left;
	background: #fff;
	width:97%;
	padding: 10px;
}

.saved_work{
	display: none;
	float: left;
	width:100%;
}

a.show_saved_data {
	display: block;
	float: left;
	width: 97%;
	background: transparent;
	border: 0px;
	text-align: right;
	padding-right:30px;
}

a.show_saved_data:HOVER {
	text-decoration: none;
}

.arrow_down{
	background: transparent url(../../images/down-arrow.png) no-repeat right!important;
}
.arrow_up{
	background: transparent  url(../../images/up-arrow.png) no-repeat right!important;
}


.error_format {
    border: 1px solid red;
    color: red;
}
input.error_overlapping {
    background: #ffcccc none repeat scroll 0 0!important;
    border: 1px solid red;
    color: red;
}

.certificate_block {
	margin-bottom:30px;
}

.cert_r{
	
}

.cert_r input{
	float: left;
	display: block;
}

.cert_r input[type="radio"]{
	margin-top: 5px;
}

.cert_r label{
	line-height: 26px;
	width:80px;
	float: left;
	display: block;
}
.certificate_date_div{
	display: none;
}
.force_display{
	display: block!important;
}



.cstatus_table {
	
}
.cstatus_table table{
	
}


.cstatus_table table {
	line-height: 150%;
	margin-top: 20px;
	width: 100%;
}

.cstatus_table table.no_td_border td {
	border: 0px;
}

.cstatus_table table td {
	border: 1px solid #eee;
	cursor: pointer;
	line-height: 200%;
	padding-left: 5px;
}

.cstatus_table table th {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #f3f3f3;
	border-color: #bbb;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	line-height: 200%;
	padding-left: 5px;
}


div.ready_box{
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    /* 	background: url(../images/user_status.png)no-repeat 0px  0px; */
    background: url(../images/user_status.png);
    margin:5px;
}

div.ready_box_voluntary{
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    margin: 5px 5px 0 0;
}

.status_icon_color{
	margin: 5px 0 0 6px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius:8px;
}


select.st_g, .ost_g, .g, .ready_green, .ready_g {
	background: #33C23A !important;	
}

select.st_y, .ost_y, .y, .ready_yellow, .ready_y{
	background: #EDBE01 !important;	
}

select.st_r, .ost_r, .r, .ready_red, .ready_r{
	
	background: #ED1F24 !important;	
}
select.st_b, .ost_b, .b, .ready_black{
	background: #000 !important;
	color: #ffffff;	
	
}
/*TODO-2674 Lore 20.11.2019*/
select.st_b, .ost_b, .b, .ready_b{
	background: #000 !important;
	color: #ffffff;	
	
}
select.st_blue,.ost_blue, .blue, .ready_blue{
	background: #3fa6ff !important;	
}
select.st_purple,.ost_purple, .purple,.ready_purple{
	background: #C02FD6 !important;	
}
select.st_grey,.ost_grey, .grey,.ready_grey{
	
	background: #939a98!important;	
}

 

select.st_g{
	background: #33C23A!important;	
}
select.st_y{
	background: #EDBE01!important;	
}
select.st_r{
	
	background: #ED1F24!important;	
}
select.st_b{
	background: #000!important;	
	color: #ffffff;	
	
}
select.st_blue{
	background: #3268AB!important;	
}
select.st_purple{
	background: #B426C9!important;	
}
select.st_grey{
	
	background: #606664!important;	
}

.ost_g{
	background: #33C23A!important;	
}
.ost_y{
	background: #EDBE01!important;	
}
.ost_r{
	
	background: #ED1F24!important;	
}
.ost_b{
	background: #000!important;
	color: #ffffff;	
	
}
.ost_blue{
	background: #3268AB!important;	
}
.ost_purple{
	background: #B426C9!important;	
}
.ost_grey{
	
	background: #606664!important;	
}


.dataTable>tbody>tr:nth-of-type(2n+1) {
	background-color: #f8f8f8;
}
 table#table-projects {
 	border-collapse: collapse;
 }
 
 table#table-projects td{
 	border: 1px solid #ddd;
 }
 
ul.ColVis_collection{
	width:auto!important;
}




/*
*start tabs FILES
*/

	#files_table tr td { background-color: #ffffff }
	#files_table tr:hover td { background-color: #fafafa };



	a.show_versions:HOVER {
		text-decoration: none;
	}

	.arrow_down{
		background: transparent url(../../images/down-arrow.png) no-repeat right!important;
	}
	.arrow_up{
		background: transparent  url(../../images/up-arrow.png) no-repeat right!important;
	}

.custom-file-upload {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../../images/ajax-loader-bar.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}	


.qq-uploader2{
	padding-top:6px;
}

.qq-upload-button2{
	position: relative; 
	overflow: hidden; 
	direction: ltr;
	display: block;
    margin: 0 !important;
    padding:  0 !important;
    text-align: center;
    width: 100% !important;
    height: 36px !important;
    border:none;
    
 	background:  url('../../images/action_add.png') 50% 50% no-repeat;
}
.qq-upload-list2{
	
	margin: 0 !important;
    padding:  0 !important;
}
.qq-upload-list2{
	
	margin: 0 !important;
    padding:  0 !important;
}
.qq-upload-list2 .qq-upload-success{
	padding-top:2px;
	
}

.a_href_wrap
{
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis; 
	width: 245px;
	display: block;
	float:left;
}
/*
*end tabs FILES
*/

	
	
/* 	Verlauf tab */

.vw_course{
	border-top: 1px solid #c7c7c7;  	
	width: 100%;
	display: block;
	float: left;
	
}
 
.vwc_line{
	width: 100%;
	display: table;
	float: left;
/* 	margin:10px 0px 0px 0px; */
	border: 1px solid #c7c7c7;  	
	border-top: 0px;;  	
/* 	padding: 3px; */
}
.vwc_left{
	width: 125px;
	display: table-cell;
	margin-left:2px;
	height: auto;
	vertical-align: top;
	background: #ebedee;
}
.vwc_right{
	width: 85%;
	height: auto;
	position: relative;
	display: table-cell;
	vertical-align: top;	
	
}
.vwc_details{
	width: 90%;
	display: block;
	float: left;
}
.vwc_details_line{
	width: 100%;
	display: block;
	float: left;	
	margin: 0px 0px 5px 0px;
	
}
.vwc_details_wrong{
	position: absolute;
	right: 0;
	padding-top: 9px;
}
.vwc_details .vwc_sh{
	width: 21px;
	height: 21px;
	line-height:22px;
	margin-left: 10px;
	border-radius: 50%;
	background: #ddd;
	text-align: center;
	display: block;
	float: left;	
	
}
.vwc_inner_inputs {
	float: left;
}
.vwc_available .verlauf_bar_bottom {
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 30px;
    width: 100%;
}
.vwc_details .vwc_text{
	width: 90%;
	display: block;
	float: left;	
}

.done_date_block {
	color: #7f7f7f !important;
    display: block;
    font-size: 13px;
    line-height: 16px;
    white-space: nowrap;
    width: 100%;
}  

.vwc_available{
	width: 100%;
	display: block;
	float:left; 
	margin-top:30px;
}
.vwc_available h3{
	width: 100%;
	display: block;
	float:left;
	color: #000000;
	font-size: 14px; 
	margin-bottom:10px;
}

.vwc_sh_av_line{
	width: 100%;
	display: block;
	float:left; 
	margin-bottom: 10px;
}
.vwc_av_sh{
	width: 10%;
	display: block;
	float:left; 
}
.vwc_av_text{
	width: 90%;
	display: block;
	float:left; 
}
 



.vw_course_form{
	width: 100%;
	display: block;
}
.vwc_title {
	float: left;
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
	width: 50%;
	
}
.vwc_date {
	float: left;
	text-align:right;
	color: #b8b8b8;
    display: block;
    font-weight: bold;
    padding: 5px;
	width: 33%;
	
}
.vwc_inputs{
	float: left;
	display: block;
	width: 88%;
}
.vwc_shortcut{
	float: left;
}

.vwc_shortcut input{
	float: left;
    border: 1px solid #bbb;
    padding: 4px;
    text-align: center;
    vertical-align: top;
    width: 27px;
}


.vwc_text{
	float: left;
}
.vwc_text textarea{
	    border: 1px solid #bbb;
    height: 1px;
    padding: 5px;
    width: 614px;
    min-height: 26px;
        display: block;
    overflow: hidden;
}


 
 .vw_course_time{
 	float: left;
    height: 17px;
    padding: 5px;
    text-align: left;
     width: 27px;
 }
 
 textarea.vw_course_comment{
     float: left;
    height: 15px;
    min-height: 17px;
    padding: 5px;
    text-align: left;
    width: 410px;
     height: 28px;
    overflow: hidden;
 }
 
 .vw_course_date{
    float: left;
    height: 17px;
    padding: 5px;
    text-align: left;
    width: 65px;
 }
 
 .vw_course_timepicker{
/*      float: left; */
    height: 17px;
    padding: 5px;
    text-align: left;
    width: 33px;
}
.vwc_inner_inputs{
	width: 100%;
	float: left;
	display: block;
}




.icons_block{
	
}
div#available_custom_icons{
	width: 100%;
	display:block;
	clear: none!important;
	float: left;
}




 
.DataTables_column_filer_icon {
	right: -5px!important;
	padding-right:2px!important;
	margin-left:10px;
	
}

.column_filer_select 
{
	display:none;
	position: absolute;

	opacity: 1;
	width: 240px;
	height: 220px;
	background-color: rgba(255,255,255,0.5);
}

.column_filer_select input,
.column_filer_select select
{
	width:120px;
}

.column_filer_select .search_butons,
.column_filer_select .search_butons:hover
{
	background:none;
	border:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	text-align: center;
	display: inline-block;
}
.column_filer_select .search_butons span{
	min-width:70px;
	padding:0;
}
.column_filer_select .search_butons button{
	font-weight:bold;
	font-size: 100%;
}
.column_filer_select .search_butons button.filter{
	
	margin-left:5px;
	
}


.column_filer_select li span{
	width:70px;
}
/*
.dataTable thead th.px80 {
	min-width:80px;
}

.dataTable thead th.px60 {
	min-width:60px;
}
*/
#ap-mainbody {
	overflow: visible !important;
}
#vw_list_wrapper{
/* 	width: 1400px; */
}

/*ISPC-2618 Carmen 28.07.2020 */
#tabs-2 .label_class100px,
#tabs-2 #lbl_salutation,
#tabs-2 #lbl_firstname,
#tabs-2 #lbl_lastname,
#tabs-2 #lbl_birthd,
#tabs-2 #lbl_street1,
#tabs-2 #lbl_postcode,
#tabs-2 #lbl_city,
#tabs-2 #lbl_phone_private,
#tabs-2 #lbl_email,
#tabs-2 #lbl_children,
#tabs-2 #lbl_profession,
#tabs-2 #lbl_appellation,
#tabs-2 #lbl_edication_hobbies,
#tabs-2 #lbl_special_skils,
#tabs-2 #lbl_fdcomments
{
	width: 175px;
}

#tabs-2 #lbl_linguistic_proficiency,
#tabs-2 #lbl_limitations_uncertainties,
#tabs-2 #lbl_gc_entry,
#tabs-2 #lbl_gc_checked_by,
#tabs-2 #lbl_course_management,
#tabs-2 #lbl_conversation_leader
{
	float: left;
	display: block;
	width: 175px;
	margin-right: 10px;
	padding: 6px 10px 3px 0;
}

#tabs-2 #gc_entry,
#tabs-2 #gc_checked_by
{
	float: left;
	display: block;
}

#tabs-2 .firstline,
#tabs-2 .secondline 
{
	float: left;
}

#tabs-2 .secondline 
{
	margin: 0px 0 5px 400px;
}

#tabs-2 .received_certificate_date_div label {
	line-height: 1;
	width:100px;
}



