.teambesprechung input,
.teambesprechung select{
    padding:0;
    margin:0;
}


.nd-wrap {
    display:inline-table;
    box-sizing:border-box;
    width:850px;
}

.nd-wrap .btnDESubmit, .nd-cont .btnDESubmit {
    display:inline-block;
    box-sizing:border-box;
    width:100%;
    height:47px;
    background:#00A2FF url(images/white-checkmark.svg) calc(50% - 88px) 50% no-repeat;
    background-size:21px auto;
    border:0;
    border-radius:6px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
    margin-top:15px;
    transition:background-color 0.3s ease;
}

.nd-wrap .btnDESubmit:hover, .nd-cont .btnDESubmit:hover {
    cursor:pointer;
    background-color:#008AD9;
    transition:background-color 0.3s ease;

}


.nd-wrap .nd-tabnav {
    margin:0;
    padding:0;
    float:left;

}
.nd-wrap .nd-tabnav  {
    display:inline-table;
    width:100%;
    position:relative;
    margin-bottom:10px;
}
.nd-wrap .nd-tabnav li {
    position:relative;
    list-style:none;
    float:left;
    width:33.33%;
    height:44px;
    line-height:44px;
    text-align:center;
    background:#F0F1F5;
    border:1px solid #D8D8D8;
    color:#585858;
    font-size:14px;
    font-family:arial;
    box-sizing:border-box;
    z-index:1;
    cursor:pointer;
    transition:background 0.3s ease, color 0.3s ease;
}
.nd-wrap .nd-tabnav li:hover {
    background:#00A2FF;
    color:#ffffff;
    border:1px solid #00A2FF;
    transition:background 0.3s ease, color 0.3s ease;
}
.nd-wrap .nd-tabnav li:first-child {
    border-radius:6px 0 0 6px;
    margin-right:-1px;

}
.nd-wrap .nd-tabnav li:last-child {
    border-radius:0 6px 6px 0;
    margin-left:-1px;

}

.nd-wrap .nd-tabnav li.active {
    border:1px solid #00A2FF;
    color:#00A2FF;
    background:#ffffff;
    width:calc(33.34% + 2px);
    font-weight:bold;
    z-index:2;

}


.nd-cont {
    display:inline-table;
    box-sizing:border-box;
    border:1px solid #E6E6E6;
    background:#FCFCFC;
    float:none;
    padding:20px;
    width:100%;

}

.nd-cont h1 {
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    color:#141414;
    padding:0;
    padding-left:15px;
    margin-top:20px;
    margin-bottom:15px;

}

.nd-cont label {
    font-size:12px;
    font-family:Arial;
    color:#141414;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.5pt;
    display:inline-table;
    width:100%;
    float:left;
    margin-bottom:5px;
    padding-left:10px;
}

.nd-cont.teambesprechung .input-container > label {
    margin-bottom:7px;

}

.nd-cont input, .nd-cont select, .nd-cont textarea {
    border:1px solid #D8D8D8;
    background:#ffffff;
    border-radius:6px;
    box-sizing:border-box;
    height:30px;

    font-size:13px;
    font-family:Arial;
    color:#141414;
    padding-left:8px;
    outline:none;

}


.nd-cont input:focus, .nd-cont select:focus, .nd-cont textarea:focus {
    border:1px solid #00A2FF !important;
    transition:border 0.3s ease;
}

.nd-cont input:disabled, .nd-cont select:disabled, .nd-cont textarea:disabled {
    background:#F3F3F3;
    border-color:#F3F3F3;
}




.nd-cont input.date {
    width:104px;
    background:#ffffff url(images/date.svg) calc(100% - 5px) 50% no-repeat;
    background-size:17px auto;
    margin-right:5px;
}
.nd-cont input.time {
    width:70px;
    background:#ffffff url(images/time2.svg) 5px 50% no-repeat;
    background-size:16px auto;
    padding-left:25px;
}

.nd-cont .input-container {
    display:inline-table;
    box-sizing:border-box;
    /*  border:1px solid red;   */

    float:left;
    width:230px;
}
.nd-cont .input-container.desc {
    width:calc(100% - 230px);

}
.nd-cont .input-container.desc input {
    width:100%;
}
.nd-cont .input-container.desc select {
    width:60px;
}
.nd-wrap .m-item {
    margin:0;
    padding:0;
    display:inline-table;
    margin-bottom:10px;
    box-sizing:border-box;

}
.nd-wrap .m-item li {
    list-style:none;
    display:inline-table;
    box-sizing:border-box;
    border-radius:6px;
    float:left;
    margin-right:10px;
}
.nd-wrap .m-item li:last-child {
    margin-right:0;
}

.m-item .m-name {
    background:#F3F3F3;
    height:85px;
    width:255px;

}
.nd-wrap .m-item .m-name div {
    width:100%;
    height:85px;
    display:table-cell;
    vertical-align:middle;
    box-sizing:border-box;
    padding-left:45px;
    background:url(images/plus.svg) 15px 50% no-repeat;
    background-size:19px 19px;
    font-family:arial;
    font-size:13px;
    color:#707070;
}

.nd-wrap .m-item .time-n-dose {
    width:100px;
    height:85px;

    background:#EDEDED;}
.nd-wrap .m-item .time-n-dose input[type=text] {
    padding-top:1px;
}



















.nd-wrap .tnd-cont {
    width:100px;
    height:85px;
}

.nd-wrap .tnd-cont input[type="checkbox"]:checked + label > .inputs input[type=text] {
    border:1px solid #D8D8D8;
    background:#ffffff;
    padding-left:30px;
}


.nd-wrap .tnd-cont input[type="checkbox"] + label > .inputs input[type=text].time {
    background:url(images/time1.svg) 4px 50% no-repeat;
    background-size:18px 18px;
    padding-left:28px;
    color:#707070;
}


.nd-wrap .tnd-cont input[type="checkbox"]:checked + label > .inputs input[type=text].time {
    background:#ffffff;
    background-size:18px 18px;
    padding-left:28px;
    color:#707070;
}

.nd-wrap .tnd-cont input[type="checkbox"] + label > .inputs input[type=text].dose {
    background:url(images/dose1.svg) 4px 50% no-repeat;
    background-size:18px 18px;
    padding-left:28px;
    color:#707070;
}
.nd-wrap .tnd-cont input[type="checkbox"]:checked + label > .inputs input[type=text].dose {
    background:#ffffff url(images/dose2.svg) 4px 50% no-repeat;
    background-size:18px 18px;
}

.nd-wrap .tnd-cont input[type="checkbox"] + label > .inputs input[value=""].dose:placeholder-shown {

    display:none ;
}

.nd-wrap .tnd-cont input[type="checkbox"]:checked + label > .inputs input.dose:placeholder-shown {
    display: inline-block;
}

.nd-wrap .tnd-cont input[type=text] {
    border:1px solid #EDEDED;
    background:transparent;
    width:80px;
    box-sizing:border-box;
    height:30px;
    margin-bottom:3px;
    border-radius:6px;

}

.nd-wrap .tnd-cont .inputs {
    display:table-cell;
    vertical-align:middle;
    /* border:1px solid red; */
    position:absolute;
    border-radius:6px;
    margin-left:0px;
    padding:10px;

    box-sizing:border-box;
    height:85px;
    width:100%;
}
.nd-wrap .tnd-cont .inputs > div {
    box-sizing:border-box;
    height:65px;
    width:100%;
    display:table-cell;
    vertical-align:middle;
}
.nd-wrap .tnd-cont .inputs input {

    display:inline-block;
    vertical-align:middle;
}



.nd-wrap .tnd-cont input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
/*def state*/
.nd-wrap .tnd-cont label {
    position: relative;
    display: inline-block;
    padding:0;
    border-radius:6px;
    height: 85px;
    width:100px;
    line-height: 1.5;
    cursor: pointer;
    font-size:15px;
    letter-spacing:0;
    font-weight:500;
    color:#6d7680;
    margin-bottom:0;

}
.nd-wrap .tnd-cont label::before,
.nd-wrap .tnd-cont label::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 85px;
    border-radius:6px;
}

.nd-wrap .tnd-cont label::before {
    content: " ";
    border: 0px solid #d0d4e5;
    border-radius: 6px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;


}


/* Checkbox */
.nd-wrap .tnd-cont input[type="checkbox"] + label::after {
    content: " ";
    font-family:"arial";
    color: #FFFFFF;
    line-height: 22px;
    text-align: center;
    font-size:11px;
    /*!!!!!!!!!!!!!!!!!*/

}



/* :checked */
.nd-wrap .tnd-cont input[type="checkbox"]:checked + label::before {
    background:#ffffff;
    border-color: #d0d4e5;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.12);
}

.nd-wrap .tnd-cont input[type="checkbox"] + label:hover::before {

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.05);
}


.nd-wrap .tnd-cont input[type="checkbox"] + label::after {

    background:url(images/check-green.svg) 0px 0px no-repeat;
    background-size:18px 18px;
    opacity:0;
    background-position: 0px 0px;
    margin-top:16px;
    margin-left:15px;
    width:85px;
    height:70px;
    transition:background-image 0.3s ease;
    z-index:99;
}
.nd-wrap .tnd-cont input[type="checkbox"]:checked + label::after {
    opacity:1;

    background:url(images/check-green.svg) 0px 0px no-repeat;
    background-size:18px 18px;

    width:19px;
    height:19px;
    transition:background-image 0.3s ease;

}
/* Transition */
.nd-wrap .tnd-cont label::before,
.nd-wrap .tnd-cont label::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}


.nd-wrap .tnd-cont input[type="checkbox"]:checked + label {
    font-weight:500;
    letter-spacing:0pt;
    color:#31395d;

}
/*disabled*/
.nd-wrap .tnd-cont.disabled label::before {
    border-color:#f0f0f0;
}

.nd-wrap .tnd-cont.disabled input[type="checkbox"]:checked + label::before {
    background: #f0f0f0;
    border-color: #f0f0f0;
}






/* //////////////////////////// Teambesprechung ///////////////////////////*/
div.teambesprechung h1 {
    border-bottom:1px solid #D8D8D8;
    margin:0;
    padding:22px;
    padding-top:2px;

    margin-left:-20px;
    margin-right:-20px;

    font-size:20px;
    font-weight:bold;
    font-family:arial;
}

div.teambesprechung .left, div.teambesprechung .right {
    width:50%;
    float:left;
    display:inline-table;
    box-sizing:border-box;

}

div.teambesprechung .tdb-cont.left {
    padding-right:15px;
    padding-top:20px;
}
div.teambesprechung .tdb-cont.right {
    padding-top:20px;
    padding-left:15px;
}
div.teambesprechung .tdb-cont .text {
    width:100%;
}

div.teambesprechung .tdb-cont .input-container.date {
    width:140px;
    float:left;
    margin-top:20px;
}

div.teambesprechung .input-container.teilnehmer .text {
    width:calc(100% - 35px);
    margin-right:5px;
    float:left;
}
div.teambesprechung .input-container.teilnehmer .btnGroup {
    width:30px;
    height:30px;
    background:#00A2FF url(images/groupadd.svg) 5px 6px no-repeat;
    background-size:19px auto;
    border:0;
    float:left;
    cursor:pointer;
    transition:background-color 0.3s ease;

}
div.teambesprechung .input-container.teilnehmer .btnGroup:hover {
    cursor:pointer;
    background-color:#008AD9;
    transition:background-color 0.3s ease;

}




div.teambesprechung .teilnehmer-list {
    padding:0;
    margin:0;
    display:inline-table;
    box-sizing:border-box;
    width:100%;
    margin-top:10px;
}
div.teambesprechung .teilnehmer-list li {
    list-style:none;
    height:30px;
    border-radius:6px;
    background:#F3F3F3;
    margin-bottom:3px;
    font-family:arial;
    font-size:13px;
    line-height:30px;
    padding-left:10px;
    padding-right:20px;
    position:relative;
}
div.teambesprechung .teilnehmer-list li .btnRemove {
    position:absolute;
    right:6px;
    top:calc(50% - 5px);
    width:10px;
    height:10px;
    background:url(images/cross.svg) 50% 50% no-repeat;
    background-size:10px 10px;
    border:0;
    cursor:pointer;
}
div.teambesprechung .teilnehmer-list li span.type {
    font-style:italic;
    color:#8A8A8A;
}

div.teambesprechung  .input-container.dsc {
    margin-top:25px;
    margin-bottom:25px;
}
div.teambesprechung  .input-container.dsc textarea {
    width:100%;
    height:70px;
    padding:7px;
}

div.teambesprechung  .input-container.dsc-list {
    margin-bottom:25px;
}

div.teambesprechung  .input-container.dsc-list ol {
    margin:0;
    padding:0;
    padding-left:10px;
    counter-reset: dsc-counter;
}

div.teambesprechung  .input-container.dsc-list ol li {
    list-style:inside none;
    counter-increment: dsc-counter;
    margin-bottom:3px;

}
div.teambesprechung  .input-container.dsc-list ol li::before {
    content: counter(dsc-counter) " ";
    color: #fff;
    font-size:10px;
    font-family:arial;
    line-height:17px;
    background:#AFAFAF;
    width:17px;
    height:17px;
    display:inline-table;
    text-align:center;
    border-radius:50%;
    margin-right:10px;

}
div.teambesprechung  .input-container.dsc-list ol li input {
    width:calc(100% - 27px);
}

div.teambesprechung  .input-container {
    width:100%;
}

div.teambesprechung .plan-item {
    display:inline-table;
    width:calc(100% + 20px);
    margin-left:-10px;
    margin-right:-10px;
    border-radius:6px;
    background:#F3F3F3;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:5px;
}
div.teambesprechung .plan-item label {
    width:100%;
    display:inline-table;
}

div.teambesprechung .plan-item .tcont {
    position:relative;
    display:inline-table;
}
div.teambesprechung .plan-item .tcont .btnLookup {
    position:absolute;
    left:11px;
    top:11px;
    border:0;
    background:url(images/lookup-blue.svg) 50% 50% no-repeat;
    background-size:18px 18px;
    width:18px;
    height:18px;
    cursor:pointer;
    outline:none;
    border:0 !important;
}

div.teambesprechung .plan-item .tcont .btnClear {
    position:absolute;
    right:13px;
    top:16px;
    border:0;
    background:url(images/cross.svg) 50% 50% no-repeat;
    background-size:10px 10px;
    width:10px;
    height:10px;
    cursor:pointer;
    outline:none;
    border:0 !important;
}



div.teambesprechung .plan-item .tcont textarea {
    width:100%;
    height:106px;
    padding:12px;
    padding-left:40px;
    padding-top:12px;
    padding-right:25px;
}

div.teambesprechung .plan-item .left textarea {
    border-right:0;
    border-radius:6px 0 0 6px;
}
div.teambesprechung .plan-item .right textarea {

    border-radius:0 6px 6px 0;
}


/*radioswitch container*/
div.teambesprechung .input-container.formulareingaben {
    margin-top:20px;
}

div.teambesprechung .radioswitch {
    margin-top:0px;
    margin-bottom:10px;
    display:inline-table;
}
div.teambesprechung .radioswitch > label {
    font-size:13px;
    font-weight:bold;
    color:#111111;
    display:block;
    border:1px solid #D8D8D8;
    padding:12px 15px;
    width:auto;
    float:right;
    border-radius:6px;
    margin-bottom:0;
    transition:background-color 0.3s ease;
    text-transform:none;
    letter-spacing:0;
    height:64px;
    box-sizing:border-box;
    cursor:pointer;
}
div.teambesprechung .radioswitch > label > span {
    font-size:10px;
    color:#B2B2B2;
    display:inline-block;
    font-weight:normal;
}



div.teambesprechung .radioswitch > input {
    display:none !important;
}

div.teambesprechung .radioswitch > input:checked ~ label {
    background-image: url(images/checkmark-green.svg);
    background-size:32px auto;

    background-repeat:no-repeat;
    background-position:15px 50%;
    padding-left:60px;
    background-color:#EDFFE9;
    border:1px solid #00C11A !important;
    color:#00C11A;
    font-weight:400;
    font-weight:bold;
    transition:background-color 0.3s ease;

}
div.teambesprechung .radioswitch > input:checked ~ label > span {
    color:#94B999;
}



div.teambesprechung .left .radioswitch > input ~ label {
    border-radius:6px 0 0 6px;
    border-right:0;
}

div.teambesprechung .right .radioswitch > input ~ label {
    border-radius:0 6px 6px 0;
    border-left:0;
}



div.ipos-fl {
    display:inline-table;
    box-sizing:border-box;
    border:1px solid #E6E6E6;
    background:#FCFCFC;
    padding:20px;

}

div.ipos-fl h3 {
    font-size:12px;
    font-family:Arial;
    color:#141414;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.5pt;
    display:inline-table;
    width:100%;
    padding:0;
    margin:0;
    margin-bottom:5px;

}
div.ipos-fl .items {
    margin:0;
    padding:0;
    list-style:none;
    font-family:Arial;
    color:#2D2D2D;
    font-size:12px;
    line-height:22px;
    float:left;
    width:200px;
    display:inline-table;

}
div.ipos-fl .items li {
    padding-right:20px;
}
div.ipos-fl .values {
    margin:0;
    padding:0;
    list-style:none;
    font-family:Arial;
    color:#6B6B6B;
    font-size:10px;
    line-height:22px;
    float:left;
}
div.ipos-fl .values li {
    text-align:center;
    padding-right:10px;
    padding-left:10px;
}
div.ipos-fl .values li span {
    border-radius:50%;
    width:17px;
    height:17px;
    line-height:17px;
    display:inline-table;
}

div.ipos-fl > ul > li.line {
    border-bottom:1px solid #D8D8D8;
}
div.ipos-fl > ul > li.status {
    height:25px;
}


div.teambesprechung .pdf-link {
    text-align:center;
    margin-top:10px;
    margin-bottom:20px;
}
div.teambesprechung .pdf-link > a {
    font-size:14px;
    color:#6B6B6B;
    font-family:Arial;
    text-decoration:underline;
    background:url(images/pdf1g.svg) 0% 50% no-repeat;
    padding-left:20px;
}
div.teambesprechung .pdf-link > a:hover {
    text-decoration:none;
}