@CHARSET "UTF-8";


/* livesearch result html */
.livesearch_unified_style, /* this is the default class used in all the live_searches */
#livesearch_zipcities,
#livesearch_healthinsurance,
#livesearch_admission_diagnosis {
        
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 680px;
    background-color: #fff;
    border: 2px solid #000;
    display:block;
}
#livesearch_zipcities table,
#livesearch_healthinsurance table,
#livesearch_admission_diagnosis table {
    background-color: #fff;
}

/* default zend_form class for errors*/
.errors {
    color:#900;    
}

.wlassessment_form_class .date{
    width:100px
}
.wlassessment_form_class .time{
    width:60px;
}
.wlassessment_form_class fieldset {
    border: 1px solid #DDD;
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+10,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}


dt {
    float: left;
    clear: left;
    width: 180px;        
    padding: 5px 0;
    margin:0;
}
dd {
    float: left;
    width: 200px;
    padding: 5px 0;
    margin:0;
}
.cf:after {
    content:'';
    display:table;
    clear:both;
}


.wlassessment_form_class fieldset table {
    
}
.wlassessment_form_class fieldset table td {
    padding:2px 2px 2px 5px;
    border-bottom: 1px solid #DDD;
    
    text-indent: 0px;
}


.wlassessment_form_class label.required:after {
   content:" *";
   color: #e32;
   display:inline;
}


.wlassessment_form_class .label_same_size label,
.wlassessment_form_class .label_same_size_100 label,
.wlassessment_form_class .label_same_size_80 label, 
.wlassessment_form_class .label_same_size_auto label, 
.wlassessment_form_class .label_same_size_180 label 
{
    display: inline-block;
    width :190px;    
    height :20px;    
    padding-left: 15px;
    text-indent: -15px;
    /*font-size: 12px;*/
}
.wlassessment_form_class .label_same_size_100 label {
    width :100px;    
}


.wlassessment_form_class .label_same_size_170 label{
    width :170px; 
}

.wlassessment_form_class .label_same_size_80 label{
    width :80px; 
}
.wlassessment_form_class .label_same_size_auto label{
    width: auto;
}

.wlassessment_form_class .label_same_size_180 label{
    width :180px; 
}


.wlassessment_form_class .label_same_size label.size_80{
    width :80px; 
}
.wlassessment_form_class .label_same_size label.size_100{
    width :100px; 
}
.wlassessment_form_class .label_same_size label.size_120{
    width :120px; 
}
.wlassessment_form_class .label_same_size label.size_140{
    width :140px; 
}
.wlassessment_form_class .label_same_size label.size_160{
    width :160px; 
}
.wlassessment_form_class .label_same_size label.size_180{
    width :180px; 
}

.wlassessment_form_class .label_same_size label input,   
.wlassessment_form_class .label_same_size_100 label input,  
.wlassessment_form_class .label_same_size_180 label input,  
.wlassessment_form_class .label_same_size_auto label input {    
    width: 25px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 2px;
}

.wlassessment_form_class .label_same_size label input[type=radio]{
    width: 20px;
    height: 20px;
    top: 0px;
}
.wlassessment_form_class .label_same_size label input[type=checkbox]{
    width: 20px;
    height: 20px;
    top: 0px;
}



.wlassessment_form_class .accordion_c fieldset{
    border:0;
    padding:0px;
    margin:0px;    
    text-indent:25px;
}

.wlassessment_form_class .accordion_c fieldset legend{
    width:100%;
    text-indent:25px;
    padding-top:5px;
}


.wlassessment_form_class .accordion_c fieldset table{
    width:100%;
}


.wlassessment_form_class .tdwidth20percent {
    width:20%;
}

.wlassessment_form_class fieldset table.SimpleTable {
    width:auto;
}
.wlassessment_form_class fieldset table.SimpleTable td {
    border-bottom: 1px solid #DDD;
}
   
.wlassessment_form_class fieldset table.SimpleTable th {
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    font-weight:bold;
    line-height: 200%;
    padding-right: 5px;
    padding-left: 5px;
}
   
.wlassessment_form_class .formular_actions {
   padding: 5px;
    
}
.wlassessment_form_class .formular_actions input {
   margin:5px;
}



.wlassessment_form_class .align_right {
    text-align:right;
}

.wlassessment_form_class .align_center{
    text-align:center;
}
.wlassessment_form_class .delete_row {
    background: transparent url(../../images/action_delete.png) no-repeat center;
    background-size: 20px 20px;
    width:20px;
    height:20px;
    display:inline-block;
    margin: auto;    
}

.wlassessment_form_class .icd_holder_row .diagdesc {
       padding-right:15px;
        
}


.feedback-form-group>label {
    display: block;
    width:100%;
    padding-bottom : 10px;
}
.feedback-form-group>label>span {
    display: block;
    width: 100%;
    vertical-align: top;
    padding:5px;
}

.feedback-form-group>label>textarea {
    width: 100%;
}

.feedback-form-group .icon-plus {
    position : absolute;
    top : 3em;
    right : 1em;
       
    display:inline-block;
    margin: auto;
    
    background: transparent url('../../images/edit_add.png') no-repeat center;
    background-size: 34px;

    width:24px;
    height:24px;

}


.feedback-form-group .icon-sogood {
    position : absolute;
    top : 5.6em;
    right : 1em;
}

.qtip div.selector_feedback_options_option:not(:last-child) {
    padding-bottom:5px
}