@CHARSET "UTF-8";

body{
     font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    
    
    border: 0!important;
    outline: none!important;
    
    width: auto!important;
    text-align:left;   
}

select {
    border: 0!important;
    outline: none!important;
    
    width: auto!important;
    text-align:left;   
}


.wlassessment_form_class fieldset {
    border: 1px solid #DDD;
    width:700px;
   
}



.wlassessment_form_class fieldset table {
    /*table-layout:fixed;*/
    width : 700px;
}
.wlassessment_form_class fieldset table td {
    padding:2px 2px 2px 5px;
    border-bottom: 1px solid #DDD;
    
}
/*
.wlassessment_form_class fieldset table td:first-child {
    width: 100px;
    border: 1px solid red;
}
.wlassessment_form_class fieldset table td:nth-child(2) {
    width: 100px;
    border: 1px solid #f00;
}
*/
.wlassessment_form_class fieldset table td {
    width: auto!important;
    
}
