<?php
$this->headScript()->appendFile( APP_BASE . '/javascript/livesearch_new/livesearch.js');
$this->headScript()->appendFile( APP_BASE . '/javascript/livesearch/getzipcities.js');
?>
<script type="text/javascript">
	function setchild(jf) {
		parent.window.getContactPersonData(jf);
		parent.disablePopup();
	}
	<? echo $this->closefrm; ?>;
	
	function getParameterByName(name, url) {
		if (!url) {
		  url = window.location.href;
		}
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
			results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
	}
	
	
	function prefill_contact_person() 
	{
		var street1 = getParameterByName("street1");
		var zip = getParameterByName("zip");
		var city = getParameterByName("city");
		
		document.getElementById("cnt_street1").value = street1;
		document.getElementById("cnt_zip").value = zip;
		document.getElementById("cnt_city").value = city;
			
		return false;
	}
	
</script>

<form action="" method="post" name="frmcontact" id="frmcontact"
	class="adm_form">
	<div id="addcontactpersontemp_calendarImgDiv" style="display: none;">
		<img id="calImg" src="<? echo RES_FILE_PATH; ?>/images/calendar.png"
			alt="Popup" class="trigger">
	</div>
	
	<fieldset id="addcontactPerson_fieldset">
	
		<legend id="addcontactPerson_fieldset_legend">
			<? echo $this->translate('contactperson') ?>
		</legend>
<!-- Maria:: Migration CISPC to ISPC 20.08.2020 ISPC-2624  -->
		<div class="adm_from_row">
			<label for="cnt_first_name" id="lbl_cnt_first_name"	class="adm_cnt_label"><? echo $this->translate('firstname') ?></label>
			<input type="text" name="cnt_first_name" id="cnt_first_name" value="<? echo $this->cnt_first_name ?>" class="adm_cnt_input">
			<div id="addcontactpersontemp_cntError_firstName" class="error"><? echo $this->error_cnt_first_name ?></div>
		</div>


		<div class="adm_from_row">
			<label for="cnt_last_name" id="lbl_cnt_last_name" class="adm_cnt_label"><? echo $this->translate('lastname') ?></label> 
			<input type="text" name="cnt_last_name" id="cnt_last_name"	value="<? echo $this->cnt_last_name ?>" class="adm_cnt_input">
			<div id="addcontactpersontemp_cntError_lastName" class="error">	<? echo $this->error_cnt_last_name ?></div>
		</div>

		<div class="adm_from_row">
			<label for="cnt_street1" id="lbl_cnt_street1" class="adm_cnt_label">
				<? echo $this->translate('street1') ?>
				<button type="button" onclick="javascript: return prefill_contact_person();" class="prefill_contact_person_btn" title="<?php echo $this->translate('prefill_with_contact_person'); ?>" ></button>	
			</label> 
			<input type="text" name="cnt_street1" id="cnt_street1" value="<? echo $this->cnt_street1 ?>" class="adm_cnt_input">	
			<div id="addcontactpersontemp_cntError_streetOne" class="error"><? echo $this->error_cnt_street1 ?></div>
		</div>


		<div class="adm_from_row">
			<label for="cnt_zip" id="lbl_cnt_zip" class="adm_cnt_label"><? echo $this->translate('zip') ?></label> 
			<input type="text" name="cnt_zip" id="cnt_zip" value="<? echo $this->cnt_zip ?>" class="adm_cnt_input">
			<div id="addcontactpersontemp_cntError_zip" class="error"> <? echo $this->error_cnt_zip ?></div>
		</div>


		<div class="adm_from_row">
			<label for="cnt_city" id="lbl_cnt_city" class="adm_cnt_label"><? echo $this->translate('city') ?></label> 
			<input type="text" name="cnt_city" id="cnt_city" value="<? echo $this->cnt_city ?>" class="adm_cnt_input">
			<div id="addcontactpersontemp_cntError_city" class="error"><? echo $this->error_cnt_city ?></div>
		</div>


		<div class="adm_from_row">
			<label for="cnt_phone" id="lbl_cnt_phone" class="adm_cnt_label"><? echo $this->translate('phone1') ?><span class="adm_mandatory">*</span></label> 
			<input type="text" name="cnt_phone" id="cnt_phone" value="<? echo $this->cnt_phone ?>" class="adm_cnt_input">
			<div class="error"><? echo $this->error_cnt_phone ?></div>
		</div>


		<div class="adm_from_row">
			<label for="cnt_phone" id="lbl_cnt_phone" class="adm_cnt_label"><? echo $this->translate('phone2') ?></label> 
			<input type="text" name="cnt_mobile" id="cnt_mobile" value="<? echo $this->cnt_mobile ?>" class="adm_cnt_input">			
			<div id="addcontactpersontemp_cntError_mobile" class="error"><? echo $this->error_cnt_mobile ?></div>
		</div>

         <div class="adm_from_row">
			<label for="cnt_email" id="lbl_cnt_email" class="adm_cnt_label"><? echo $this->translate('cnt_email') ?></label> 
			<input type="text" name="cnt_email" id="cnt_email" value="<? echo $this->cnt_email ?>" class="adm_cnt_input">			
			<div id="addcontactpersontemp_cntError_email" class="error"><? echo $this->error_cnt_email ?></div>
		</div>


		<!-- TODO-3954 Lore 15.03.2021-->
		 <div class="adm_from_row">
			<label for="cnt_hatversorgungsvollmacht" id="lbl_cnt_hatversorgungsvollmacht" class="adm_cnt_label_large"><? echo $this->translate('hatversorgungsvollmacht') ?></label>
			<? echo  $this->formCheckbox('cnt_hatversorgungsvollmacht', $_POST['cnt_hatversorgungsvollmacht'], null, array('1')); ?>
		</div>
		 


		<div class="adm_from_row">
			<label for="cnt_legalguardian" id="lbl_cnt_legalguardian" class="adm_cnt_label_large"> <? echo $this->translate('cnt_legalguardian') ?></label>
			<? echo  $this->formCheckbox('cnt_legalguardian', $_POST['cnt_legalguardian'], null, array('1')); ?>
		</div>


		<div class="adm_from_row">
			<label for="real_contact_number" id="lbl_real_contact_number" class="adm_cnt_label_large"> <? echo $this->translate('real_contact_number') ?></label>
			<? echo  $this->formCheckbox('cnt_kontactnumber', $_POST['cnt_kontactnumber'], null, array('1')); ?>
		</div>


		<div class="adm_from_row">
			<label for="notify_funeral" id="lbl_notify_funeral"	class="adm_cnt_label_large"><? echo $this->translate('notify_funeral') ?></label>
			<? echo  $this->formCheckbox('notify_funeral', $_POST['notify_funeral'], null, array('1')); ?>
		</div>


		<div class="adm_from_row">
			<label for="quality_control" id="lbl_quality_control" class="adm_cnt_label_large"><? echo $this->translate('quality_control') ?></label>
			<? echo  $this->formCheckbox('quality_control', $_POST['quality_control'], null, array('1')); ?>
		</div>


		<div class="adm_from_row">
			<label for="cnt_familydegree_id" id="lbl_cnt_familydegree_id" class="adm_cnt_label"> <? echo $this->translate('patientrelationship') ?></label>
			<? echo $this->formSelect('cnt_familydegree_id', $_POST['cnt_familydegree_id'], null, $this->familydegree) ?>
			<div id="addcontactpersontemp_cntError_familyDegree" class="error"><?php echo $this->error_cnt_familydegree_id ?></div>
		</div>


       <?php if($this->modul_custody == 1): ?>
        <div class="adm_from_row">
			<label for="cnt_email" id="lbl_cnt_email" class="adm_cnt_label"><? echo $this->translate('custody') ?></label> 
			<input type="text" name="cnt_custody" id="cnt_custody" value="<? echo $this->cnt_custody ?>" class="adm_cnt_input">			
			<div id="addcontactpersontemp_cntError_email" class="error"><? echo $this->error_cnt_email ?></div>
		</div>
        <?php  endif; ?>


		<div class="adm_from_row">
			<label for="cnt_comment" id="lbl_cnt_comment" class="adm_cnt_label"><? echo $this->translate('comment') ?></label>
			<textarea name="cnt_comment" id="cnt_comment" cols="25" rows="5" class="adm_cnt_textarea"></textarea>
			<div id="addcontactpersontemp_cntError_comment" class="error"><?php echo $this->error_cnt_comment ?></div>
		</div>


		<div class="adm_from_row">
			<label for="btnsubmit" id="addcontactPerson_submitBtnLbl"></label> 
			<input type="submit" name="btnsubmit" id="btnsubmit" class="button"	value="<? echo $this->translate('submit') ?>">
		</div>
		

	</fieldset>

</form>
