<?php
//ISPC-2562, elena, 24.08.2020 page for videos and files
//  Maria:: Migration CISPC to ISPC 02.09.2020 
?>
<html>
<style>
    body{
        font-size:11px;
        font-family: sans-serif;
    }
    table{
        border: 1px solid #ccc;
    }
    table tr td{
        font-family: sans-serif;
        font-size:11px;
    }
    table tr th{
        font-family: sans-serif;
        font-weight: bold;
        font-size:11px;
    }
    tr:nth-child(even) {background: #ffffff}
    tr:nth-child(odd) {background: #eeeeff}
</style>
<body>
<div>
    <div><?php echo $this->translate('please_choose_file'); ?></div>
    <table class="datatable" width="100%" cellpadding="2" cellspacing="2" >
        <tr>
            <th><?php echo $this->translate('upload_name'); ?></th>
            <th><?php echo $this->translate('upload_description'); ?></th>
            <th><?php echo $this->translate('upload_type'); ?></th>
            <th><?php echo $this->translate('upload_date'); ?></th>
        </tr>

    <?php foreach($this->tutorialfiles as $tutFile) : ?>
    <tr>
        <td>
            <input type="radio" name="url" id="url_<?php echo $tutFile['id']; ?>" value="<?php echo $tutFile['file_foldername']; ?>"> <label for="url_<?php echo $tutFile['id']; ?>"><?php echo  $tutFile['file_name'];  ?></label>

        </td>
        <td>
            <?php echo $tutFile['file_description']; ?>
        </td>
        <td>
            <?php echo $tutFile['mime_type']; ?>
        </td>
        <td>
            <?php echo date('d.m.Y H:i', strtotime($tutFile['create_date'])); ?>
        </td>
    </tr>
    <?php endforeach ?>
    </table>


</div>
<button id="insert-content" style="display:none;">Insert This Content! (Dialog will stay open)</button>
<script>
    var url;
    var name;
    window.addEventListener('message', function (event) {
        console.log(event.data)
        if (event.data.mceAction ==='customInsertAndClose'){
            let urls = document.getElementsByName('url');
            urls.forEach((opt) => {
                name = opt.value,
                url = '<?php echo APP_BASE . '/tutorialfiles/'; ?>' + opt.value;

            })
            var value = {
                url: url,
                name: name
                //thing: document.getElementById('thingselect').value
            };

            window.parent.postMessage({
                mceAction: 'execCommand',
                cmd: 'iframeCommand',
                value
            }, origin);

            window.parent.postMessage({
                mceAction: 'close'
            }, origin);
        }
    });

    document.getElementById('insert-content').addEventListener('click', function (event) {
        let urls = document.getElementsByName('url');
        urls.forEach((opt) => {
            url = opt.value;

        })
        var value = {
            //name: document.getElementById('name').value,
            url: url
        };

        window.parent.postMessage({
            mceAction: 'execCommand',
            cmd: 'iframeCommand',
            value
        }, origin);
    });

</script>
</body>
</html>