<?php
// ISPC-2827 Ancuta 02.04.2021
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/efa/overviewefapatients.css');
?>
 
<div class="overview_content" >
	<div class="overview_block" >
		<div class="overview_block_title" >
			<h3><?php echo $this->translate('Efa Patients')?></h3>
		</div>
		<div class="overview_block_items" >
		<?php foreach($this->patients_arr as $k=>$patient):?>
			
				<div class="p_item" onclick="DoNav('patientformnew/ambulatorycurve?id=<?php echo $patient['enc_id']?>')" >
					<div class="p_item_avatar">
						<div class="avatar">
						
						</div>
						
					</div>
					<div class="p_item_details">
						<div class="p_item_name_location"><b><?php echo $patient['patient_name']; ?></b>&nbsp;<span class="p_location"><?php echo $patient['current_location']; ?></span></div>
						<div class="p_item_birth"><?php echo $patient['birth_date']; ?></div>
						<div class="p_item_diagnosis"><?php echo $patient['main_diagnosis']; ?> </div>
					</div>
				</div>
				
		<?php endforeach;?>	
		</div>
	</div>
</div>
