 
 
 <a href="<?php echo $this->url(array('controller'=>'modules' , 'action' => 'moduleslist' )); ?>"><?php echo $this->translate("back")?></a>
 
 <div style="font-size:16px; margin-top:30px;">
 <b><?php echo $this->translate('module name'); ?>:</b>  <?php echo $this->module_data['module']; ?>
 </div>
 
 <div style="font-size:14px; margin:10px 0 40px 0;">
 	<b><?php echo $this->translate('module comment'); ?>:</b>  <?php echo $this->module_data['comment']; ?> 
 </div>
 
 
 <?php if(!empty($this->client_list)):?>
	 <h4><?php echo $this->translate('clients with module'); ?></h4>
	 <table class="datatable">
	 	<tr>
	 		<th>#</th>
	 		<th><?php echo $this->translate('client'); ?></th>
	 	</tr>
	 	<?php	$cnt = 1;  foreach($this->client_list as $clid=>$cl_data):?>
	 		<tr>
	 			<td><?=$cnt; ?></td>
	 			<td><?=$cl_data['name']; ?></td>
	 		</tr>
	 	<?php $cnt++; endforeach; ?>
	 </table>
 	
<?php else:?>
	<?php echo $this->translate('No clients have this module'); ?>
	 
 <?php endif;?>