<?php echo $this->doctype() ?> <!-- This Line will output the doctype we set inside the bootstrap file -->
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>Application</title>
 <base href="<?php echo APP_BASE?>" />
 
  <?php  $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/style.css');
        echo  $this->headScript()->appendFile(RES_FILE_PATH.'/javascript/jquery-1.8.0.js');
   ?>
</head> 
<body>
<?php echo $this->layout()->content  ?>
</body>
</html>
