<?php echo $this->doctype() ?> <!-- This Line will output the doctype we set inside the bootstrap file -->
<html xmlns="http://www.w3.org/1999/xhtml"> 

<head>  

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>Bluman Riviera Application </title>
  <base href="<?php echo APP_BASE ?>">
  <?php $this->headLink()->appendStylesheet('javascript/extjs/resources/css/ext-all.css');
  $this->headLink()->appendStylesheet('css/blu/style.css');
  echo $this->headLink()->appendStylesheet('css/blu/row_editor.css');
 
  $this->headScript()->appendFile('javascript/extjs/adapter/ext/ext-base.js');
  $this->headScript()->appendFile('javascript/extjs/ext-all.js');
  $this->headScript()->appendFile('javascript/real/og.js');
  $this->headScript()->appendFile('javascript/real/HtmlPanel.js');
  $this->headScript()->appendFile('javascript/real/ContentPanelLayout.js');
  $this->headScript()->appendFile('javascript/real/ContentPanel.js');
  $this->headScript()->appendFile('bluman/index?func=indexjs');
  $this->headScript()->appendFile('javascript/real/subform.js');
  
  
  
  
  echo $this->headScript();
  
  ?>

</head> 

<style type="text/css">
html, body {
	font:normal 12px verdana;
	margin:0;
	padding:0;
	border:0 none;
	overflow:hidden;
	height:100%;
}
p {
	margin:5px;
}


</style>
<script type="text/javascript">
Ext.onReady(function(){
v = new Ext.Viewport(
	{items: [{el: 'top-strip',height: 60,xtype: 'box',region: 'north'},
	{el: 'footerPan',height: 20,xtype: 'box',region: 'south'},
	{items: new og.ContentPanel({refreshOnWorkspaceChange: true,id: 'usergroups-panel',title: 'Users Management',iconCls: 'ico-overview',refreshOnTagChange: true,defaultContent: {type: 'url',data: 'http://pc7/zend_new/public/customer/list'},layout: 'fit'}),collapsible: false,id: 'tabs-panel',activeTab: 0,width: 1000,plain: true,xtype: 'tabpanel',region: 'center'}],height: 600,layout: 'border'});
});
</script>
<body>
<div id="top-strip">
  <div id="programsNav">
    <ul>
      <li><span>Link</a></span></li>
      <li><a href="#">Link </a></li>
       <li><a href="#">Link</a></li>
      <li><a href="Index/logout/">Logout</a></li>
	   <li><a href="#">Welcome  <?php echo $this->layout()->username ?></a></li>
    </ul>
  </div>
  <div id="left-col">
    <div class="logo-col"><img src="images/real/logo.jpg" width="146" height="50" /></div>
    <div class="text-col">
      <h1></h1>
    </div>
  </div>
</div>


<div id="footerPan">
  <div id="footernextPan2">
    <p>© Copyright name here all right reaserved</p>
  </div>
  <div id="footernextPan">
    <ul>
      <li><a href="#">Link </a> </li>
      <li><a href="#">Link</a> | </li>
      <li><a href="#">Link</a>| </li>
      <li><a href="#">Link</a> | </li>
    </ul>
  </div>
</div>
</body>
</html>