/*  ISPC-2782 Cristi.C */

#frmuser .datatable {
	width: 100%;
	border: none !important;
}

#frmuser .datatable th:first-child,
#frmuser .datatable td:first-child {
	border-left: none !important;
}

#frmuser .datatable th {
	border: none !important;
	background: #F3F3F3;
	font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #333333;
    padding: 0 6px;
}

#frmuser .datatable td {
	border: none;
	font-size: 14px;
    line-height: 30px;
    color: #545454;
    padding: 8px;
    background: #F3F3F3;
}

#team_info_table.datatable td {
	vertical-align: middle;
}

#frmuser .datatable tbody tr:not(:first-child) td {
	border-top: 1px solid #DFE0E8;
}

#frmuser  div.ready_box {
	margin: 10px;
}

#frmuser  .datatable td .user_add_comment {
	border: none;
	background: none;
	resize:none;
	font-size: 12px;
    line-height: 30px;
    height: 30px;
 }

 #frmuser  .datatable td .group_selector {
 	border: none;
	background: none;
	font-size: 12px;
    line-height: 30px;
    color: #878A92;
 }

 #frmuser .tabs {
 	border: none;
 	background: #F2F3F9;
 	font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #17223A;
    width: calc(100% - 80px) !important;
    height: auto;

 }

  #frmuser .tabs li {
  	border: none;
  	background: transparent;
  	padding: 8px 20px;
  	
  }

   #frmuser ul.tabs li a {
  	border: none !important;
  }
     #frmuser ul.tabs li.active a,
   #frmuser ul.tabs li:hover a {
   	background: #fff;
   	border-radius:5px;
   }

   #team_info_table.datatable {
   	margin-top: 24px;
   }

   #frmuser #content {
   	border: none !important;
   }
   
   
/*     Location */
  .PatientDetail_datatable th {
	border: none;
	background: #F2F3F9;
	font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: #333333;
    padding: 5px;
}

 #listvalidlocation_content_table .PatientDetail_datatable th:first-child {
	border: none;
}

.PatientDetail_datatable  select,
.PatientDetail_datatable  input {
	border: none;
	font-size: 14px;
    line-height: 30px;
    height: 46px;
    background-color: transparent;
    padding: 0 16px !important;
}

 #listvalidlocation_content_table .PatientDetail_datatable label {
	font-size: 14px;
    line-height: 30px;
    color: #878A92;
    padding-left: 16px;
}

 #listvalidlocation_content_table .PatientDetail_datatable .ui-datepicker-trigger {
	padding-top: 16px;
}

#btnsubmit {
	padding: 16px 24px;
    width: 138px;
    height: 56px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    background: #009FE4;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
     border: 1px solid transparent;
    font-weight: bold;
    border-radius: 50%;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #17223A;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #009FE4;
    background: #009FE4;
    font-weight: bold;
    color: #ffffff;
}

.ui-widget-header {
	background: #fff;
	border: none;
}

.ui-datepicker-calendar thead,
.ui-datepicker-calendar tbody {
    background: #fff;
}

#team_info_table td {
	border:none;
}

#frmuser .tabs li {
    border: none;
/*     background: #dee1ec; */
    background: #F2F3F9;
    padding: 5px 2px;
}

#frmuser ul.tabs li.active a {
    background: #fff;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 5px;
}
   
ul.tabs li {
	height:50px!important;
}

ul.tabs li a {
  padding: 10px 25px!important;
}

#team_info_table.datatable td {
	vertical-align:middle!important;
}

#frmuser .datatable td {
	padding:0!important;
}

#team_info_table tbody {
	background: #f1f1f1;
}
#team_info_table textarea.user_add_comment {
	overflow: hidden;   
    background: #fff!important;
    margin: 8px;
    padding: 0px 10px;
    border-radius: 5px;	
}

#frmuser .datatable td .group_selector {
	height: 30px;
    border-radius: 5px;
    padding: 0;
    background-color:#fff;
    min-width:150px;
    font-size:13px;
}

/* ISPC-2782 CRISTI C. 16.02.2021 */
#frmuser div.ready_box {
	display:block;
	margin:10px 10px 10px 0;
}
/*-------END--------*/

#frmuser .datatable th {
	padding:10px;
}

#frmuser .datatable tbody tr:not(:first-child) td {
	padding-right:10px!important;
}

#frmuser .datatable tbody tr:not(:first-child) td:nth-child(2), #frmuser .datatable tbody tr:not(:first-child) td:nth-child(3),
 #frmuser .datatable tbody tr:not(:first-child) td:nth-child(6), #frmuser .datatable tbody tr:not(:first-child) td:nth-child(8) {
	padding-right:25px!important;
}

#frmuser .datatable tbody tr td {
	padding-left:10px!important;
}

#MainContent {
	background: #f9f9f9;
}

#content {
	width:100%;
}

.resizeTextArea {
	height:30px!important;
}
  
   