# 480 weeks
#
#<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|swf)$">
#	Header set Cache-Control "max-age=290304000, public"
#</FilesMatch>
#-->

#Header set Cache-Control "max-age=0, private"

AddDefaultCharset utf-8 

# Caching for css, javascript, images, pdf-files, other files
#<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|swf|dpc|xls)$">
#	Header set Cache-Control "max-age=290304000, public, proxy-revalidate"
#</FilesMatch>

# caching rules for javascript files
#<FilesMatch "^(jquery.datepick|hoverIntent|jquery.jgrowl|superfish|jquery-ui-1.7.2.custom.min|jquery-1.3.2.min)\.js$">#
#	ExpiresDefault A29030400
#	Header set Cache-Control "public"
#</FilesMatch>

# caching rules for css files
#<FilesMatch "^(jquery.datepick|jquery.jgrowl|superfish|jquery-ui-1.7.2.custom)\.css$">
#	ExpiresDefault A29030400
#	Header set Cache-Control "public"
#</FilesMatch>

# caching rules for png files
#<FilesMatch "^\.(png|jpg|gif)$">
#	ExpiresDefault A29030400
#	Header set Cache-Control "public"
#</FilesMatch>

ServerSignature Off

RewriteEngine On
#RewriteBase /

#RewriteCond %{SERVER_POSRT}	!^443$
#RewriteRule (.*)		https://%{HTTP_HOST}/$1

#RewriteCond %{REQUEST_URI} ^/favicon.ico$ [OR]
#RewriteCond %{REQUEST_URI} ^/apple-touch-icon.png$ [OR]
RewriteCond %{REQUEST_URI} ^/viewvc$ [OR] 
RewriteCond %{REQUEST_FILENAME} ^(.+)\.png$ [OR] 
RewriteCond %{REQUEST_FILENAME} -s [OR] 
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d 
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

<Files "favicon.ico">
RewriteRule ^/([^/]+/)+favicon\.ico$ /ispc/public/images/favicon.ico [L]
</Files>

#php_value auto_prepend_file /www/htdocs/xhprof/header.php
#php_value auto_append_file /www/htdocs/xhprof/footer.php
