<?php
//TODO-3924,Elena,09.03.2021
if(!function_exists('clear_label_name')){

function clear_label_name($label){

 return str_replace([';', '.', ',', ':', ' ', '(', ')'], ['_', '_', '_', '_', '_', '_', '_'], $label);
}
}

?><!-- ISPC-2697, elena, 25.11.2020 -->
<table class="datatable" id="sets_table">
    <tr>
        <th>Bezeichnung</th><!--ISPC-2816,Elena,04.02.2021-->
        <th>Wert</th>
        <th>Einheit</th>
        <th>Alarmgrenzen</th><!--ISPC-2816,Elena,04.02.2021-->
        <?php if($this->blockname != 'anordnung') : ?>
        <th>Werte der <br>gewählten Anordnung</th>
        <?php endif; ?>

    </tr>
    <?php $sets = json_decode($this->machine->parameters, true);  ?>
    <?php foreach($sets as $set): ?>
    <tr>
        <td><?php echo $set['label']; ?></td>
        <td>
            <?php if($set['value'] == 'dropdown'): ?>
            <select class="input_field" name="<?php echo $this->blockname; ?>[beatmung][<?php echo $set['label']; ?>]" data-name="<?php echo $set['label']; ?>">
                <?php foreach($set['list'] as $listentry) : ?>
                <option value="<?php echo $listentry; ?>"  ><?php echo $listentry; ?></option>
                <?php endforeach; ?>
            </select>

            <?php else: ?>
            <input type="text" class="input_value input_field" data-validation="<?php echo $set['validation'] ?>" name="<?php echo $this->blockname; ?>[beatmung][<?php echo $set['label']; ?>]" data-name="<?php echo $set['label']; ?>"  >

            <?php endif; ?>

        </td>
        <td><?php echo $set['unit']; ?></td>
        <td>
            <?php if($set['has_alarm'] == '1'): ?>
                <?php if($this->blockname == 'anordnung') : ?>
                    <?php if($set['value'] == 'dropdown'): ?>
                        <select class="input_field" name="<?php echo $this->blockname; ?>[beatmung][<?php echo $set['label']; ?>_alarm_higher]" data-name="<?php echo $set['label']; ?>: höhere Alarmgrenze"><!-- ISPC-2816,Elena,04.02.2021-->
                            <?php foreach($set['list'] as $listentry) : ?>
                            <option value="<?php echo $listentry; ?>"  ><?php echo $listentry; ?></option>
                            <?php endforeach; ?>
                        </select> /
                        <select class="input_field" name="<?php echo $this->blockname; ?>[beatmung][<?php echo $set['label']; ?>_alarm_lower]" data-name="<?php echo $set['label']; ?>: niedrigere Alarmgrenze"><!-- ISPC-2816,Elena,04.02.2021-->
                            <?php foreach($set['list'] as $listentry) : ?>
                            <option value="<?php echo $listentry; ?>"  ><?php echo $listentry; ?></option>
                            <?php endforeach; ?>
                        </select>
                    <?php else: ?>
                            <input type="text" class="input_field" name="<?php echo $this->blockname; ?>[beatmung][<?php echo $set['label']; ?>_alarm_higher]" value="<?php echo $set['alarm_higher']; ?>" data-validation="<?php echo $set['validation'] ?>" data-name="<?php echo $set['label']; ?>: höhere Alarmgrenze" > /
                            <input type="text" class="input_field" value="<?php echo $set['alarm_lower']; ?>" name="<?php echo $this->blockname; ?>[beatmung][<?php echo $set['label']; ?>_alarm_lower]" data-validation="<?php echo $set['validation'] ?>" data-name="<?php echo $set['label']; ?>: niedrigere Alarmgrenze">


                    <?php endif; ?>
                <?php else: ?>
                     <!-- TODO-3924,Elena,09.03.2021-->
                    <input type="text" class="alarm_box" id="<?php echo clear_label_name( $set['label']); ?>_alarm_higher" readonly value="<?php echo $set['alarm_higher']; ?>"> / <input type="text" readonly class="alarm_box" id="<?php echo str_replace([';', '.', ',', ':', ' ', ')', '('], ['_', '_', '_', '_', '_', '_', '_'], $set['label']); ?>_alarm_lower" value="<?php echo $set['alarm_lower']; ?>">
                <?php endif; ?>
            <?php endif; ?>

        </td>
        <?php if($this->blockname != 'anordnung') : ?>
        <td>
            <!-- TODO-3924,Elena,09.03.2021 -->
            <input type="text" class="input_field" readonly id="<?php echo clear_label_name( $set['label']); ?>_soll" name="<?php echo $this->blockname; ?>[beatmung][<?php echo $set['label']; ?>_soll]" data-name="<?php echo $set['label']; ?>"  >


        </td>
        <?php endif; ?>


    </tr>

    <?php endforeach; ?>
</table>