<form name="save_edit_tag" id="save_edit_tag" action="" method="POST">
	<table class="datatable" id="tags_drop_table">
		<tr class="header-row">
			<td><?php echo $this->translate('tag'); ?></td>
			<td><?php echo $this->translate('action'); ?></td>
		</tr>
		<?php if($this->droparray): ?>
				<?php $i = 1; ?>
				<?php foreach($this->droparray as $k_tag => $v_tag): ?>
					<tr class="row" id="row-<?php echo $i; ?>">
						<td>
							<?php echo $v_tag['tag']; ?>
						</td>
						<td>
							<input type="hidden" id="tag_id_<?php echo $v_tag['id']; ?>" value="<?php echo $v_tag['id']; ?>" />
							<input type="hidden" id="tag_name_<?php echo $v_tag['id']; ?>" value="<?php echo $v_tag['tag']; ?>" />
							<a href="javascript:void(0);"><img src="<?php echo RES_FILE_PATH; ?>/images/action_delete.png" border="0" class="edt_tag_remove"/></a>
						</td>
					</tr>
					<?php $i++; ?>
				<?php endforeach; ?>
			<?php else: ?>
				<tr>
					<td colspan="2"><?php echo $this->translate('noresultfound'); ?></td>
				</tr>
		<?php endif; ?>
	</table>
</form>