<table class="datatable" id="users_drop_table_ls">
	<th><?php echo $this->translate('nr'); ?></th>
	<th><?php echo $this->translate('lastname'); ?></th>
	<th><?php echo $this->translate('firstname'); ?></th>
	<th><?php echo $this->translate('city'); ?></th>
	<?php if($this->usr_array): ?>
			<?php $i = 1; ?>
			<?php foreach($this->usr_array as $usr_key => $usr_data): ?>
				<tr class="row" id="row-<?php echo $i; ?>" onclick="select_user('<?php echo $usr_data['id']; ?>', '<?php echo $usr_data['row']; ?>');" >
					<td>
						<?php echo $i; ?>
						<input type="hidden" value="0" id="livesearch_stammdaten_users_no_records" />
						<input type="hidden" id="usr_id_<?php echo $usr_data['id']; ?>" value="<?php echo $usr_data['id']; ?>" />
						<input type="hidden" id="usr_ln_<?php echo $usr_data['id']; ?>" value="<?php echo $usr_data['last_name']; ?>" />
						<input type="hidden" id="usr_fn_<?php echo $usr_data['id']; ?>" value="<?php echo $usr_data['first_name']; ?>" />
					</td>
					<td id="usr_ln_<?php echo $usr_data['id']; ?>"><?php echo $usr_data['last_name']; ?></td>
					<td id="usr_fn_<?php echo $usr_data['id']; ?>"><?php echo $usr_data['first_name']; ?></td>
					<td id="usr_city_<?php echo $usr_data['id']; ?>"><?php echo $usr_data['city']; ?></td>
				</tr>
				<?php $i++; ?>
			<?php endforeach; ?>
		<?php else: ?>
			<tr>
				<td colspan="4"><?php echo $this->translate('noresultfound'); ?><input type="hidden" value="1" id="livesearch_stammdaten_users"  /></td>
			</tr>
	<?php endif; ?>
</table>
