<table class="datatable" id="unifiedprovider_drop_table" data-returnrowid='<?php echo $this->returnRowId;?>' data-context='<?php echo $this->context;?>'>
	
    <thead>
    	<th><?php echo $this->translate('nr'); ?></th>
    	<th><?php echo $this->translate('lastname'); ?></th>
    	<th><?php echo $this->translate('firstname'); ?></th>
    </thead>
    
    <tbody>
    
<?php 
if (isset($this->droparray['user'])) : 
?>
    
        <!-- users , add more data-type if you need -->
        <tr>
            <th colspan="3">
                <strong><?=$this->translate('user');?></strong>
            </th>
        </tr>
            
    	<?php if ( ! empty($this->droparray['user'])) : ?>
    		<?php 
              $i = 1;
		      foreach ($this->droparray['user'] as $row): 
            ?>
		<tr class="row" id="row.user.<?php echo $i; ?>">
            <td>
				<?=$i;?>
				<input type="hidden" data-type="id" value="<?php echo $row['id']; ?>" />
				<input type="hidden" data-type="type" value="user" />
				<input type="hidden" data-type="first_name" value="<?php echo $row['first_name']; ?>" />
				<input type="hidden" data-type="last_name" value="<?php echo $row['last_name']; ?>" />
				<input type="hidden" data-type="nice_name" value="<?php echo $row['nice_name']; ?>" />
                
                <input type="hidden" data-type="title" value="<?=$this->escape($row['title']);?>" />
                <input type="hidden" data-type="user_title" value="<?=$this->escape($row['user_title']);?>" />
                <input type="hidden" data-type="emailid" value="<?=$this->escape($row['emailid']);?>" />
                <input type="hidden" data-type="fax" value="<?=$this->escape($row['fax']);?>" />
                <input type="hidden" data-type="street" value="<?=$this->escape($row['street1']);?>" />
                <input type="hidden" data-type="zip" value="<?=$this->escape($row['zip']);?>" />
                <input type="hidden" data-type="city" value="<?=$this->escape($row['city']);?>" />
                <input type="hidden" data-type="mobile" value="<?=$this->escape($row['mobile']);?>" />
                <input type="hidden" data-type="phone" value="<?=$this->escape($row['phone']);?>" />
                <input type="hidden" data-type="private_phone" value="<?=$this->escape($row['private_phone']);?>" />
                <input type="hidden" data-type="betriebsstattennummer" value="<?=$this->escape($row['betriebsstattennummer']);?>" />
                <input type="hidden" data-type="LANR" value="<?=$this->escape($row['LANR']);?>" />
			</td>
            
			<td><?=$row['last_name']; ?></td>
			<td><?=$row['first_name']; ?></td>
		</tr>
    
		<?php 
            $i++;
            endforeach; 
        ?>
            
    	<?php else: ?>
        
		<tr>
			<td colspan="3">
                <?php echo $this->translate('noresultfound');  ?>
            </td>
		</tr>
        <?php endif; ?>
        
<?php
endif; //end user
?>
        
        
<?php 
if (isset($this->droparray['voluntaryworker'])) : 
?>
    
        <!-- voluntaryworkers , add more data-type if you need -->
         <tr>
            <th colspan="3">
                <strong><?=$this->translate('voluntaryworker');?></strong>
            </th>
        </tr>
            
        <?php if ( ! empty($this->droparray['voluntaryworker'])) : ?>
            <?php 
              $i = 1;
              foreach ($this->droparray['voluntaryworker'] as $row): 
            ?>
        <tr class="row" id="row.voluntaryworker.<?php echo $i; ?>" >
            <td>
                <?=$i;?>
                <input type="hidden" data-type="id" value="<?=$row['id']; ?>" />
                <input type="hidden" data-type="type" value="voluntaryworker" />
                <input type="hidden" data-type="first_name" value="<?=$this->escape($row['first_name']);?>" />
                <input type="hidden" data-type="last_name" value="<?=$this->escape($row['last_name']); ?>" />
                <input type="hidden" data-type="nice_name" value="<?=$this->escape($row['nice_name']); ?>" />

                <input type="hidden" data-type="parent_id" value="<?=$this->escape($row['parent_id']); ?>" />
                <input type="hidden" data-type="salutation" value="<?=$this->escape($row['salutation']); ?>" />
                <input type="hidden" data-type="title" value="<?=$this->escape($row['title']); ?>" />
                <input type="hidden" data-type="status" value="<?=$this->escape($row['status']); ?>" />
                <input type="hidden" data-type="status_color" value="<?=$this->escape($row['status_color']); ?>" />
                <input type="hidden" data-type="birthdate" value="<?=$this->escape($row['birthdate']); ?>" />
                <input type="hidden" data-type="street" value="<?=$this->escape($row['street']); ?>" />
                <input type="hidden" data-type="zip" value="<?=$this->escape($row['zip']); ?>" />
                <input type="hidden" data-type="city" value="<?=$this->escape($row['city']); ?>" />
                <input type="hidden" data-type="phone" value="<?=$this->escape($row['phone']); ?>" />
                <input type="hidden" data-type="mobile" value="<?=$this->escape($row['mobile']); ?>" />
                <input type="hidden" data-type="email" value="<?=$this->escape($row['email']); ?>" />
                <input type="hidden" data-type="comments" value="<?=$this->escape($row['comments']); ?>" />
                
                <input type="hidden" data-type="working_week_days" value="<?=$this->escape($row['working_week_days']);?>" />
                <input type="hidden" data-type="working_hours" value="<?=$this->escape($row['working_hours']);?>" />
                <input type="hidden" data-type="has_car" value="<?=$this->escape($row['has_car']);?>" />
                <input type="hidden" data-type="img_path" value="<?=$this->escape($row['img_path']);?>" />
            </td>
            
            <td><?=$row['last_name']; ?></td>
            <td><?=$row['first_name']; ?></td>
        </tr>
    
        <?php 
            $i++;
            endforeach; 
        ?>
            
        <?php else: ?>
        
        <tr>
            <td colspan="3">
                <?php echo $this->translate('noresultfound');  ?>
            </td>
        </tr>
        <?php endif; ?>
<?php
endif; //end voluntaryworker
?>


<?php 
if (isset($this->droparray['member'])) :
?>

        <!-- members , add more data-type if you need -->
         <tr>
            <th colspan="3">
                <strong><?=$this->translate('member');?></strong>
            </th>
        </tr>
            
        <?php if ( ! empty($this->droparray['member'])) : ?>
            <?php 
              $i = 1;
              foreach ($this->droparray['member'] as $row): 
            ?>
        <tr class="row" id="row.member.<?php echo $i; ?>" >
            
            <td>
                <?=$i;?>
                <input type="hidden" data-type="id" value="<?=$row['id']; ?>" />
                <input type="hidden" data-type="type" value="member" />
                <input type="hidden" data-type="first_name" value="<?=$this->escape($row['first_name']);?>" />
                <input type="hidden" data-type="last_name" value="<?=$this->escape($row['last_name']); ?>" />
                <input type="hidden" data-type="nice_name" value="<?=$this->escape($row['nice_name']); ?>" />

                <input type="hidden" data-type="parent_id" value="<?=$this->escape($row['parent_id']); ?>" />
                <input type="hidden" data-type="salutation" value="<?=$this->escape($row['salutation']); ?>" />
                <input type="hidden" data-type="title" value="<?=$this->escape($row['title']); ?>" />
                <input type="hidden" data-type="birthdate" value="<?=$this->escape($row['birthd']); ?>" />
                <input type="hidden" data-type="street" value="<?=$this->escape($row['street1']); ?>" />
                <input type="hidden" data-type="zip" value="<?=$this->escape($row['zip']); ?>" />
                <input type="hidden" data-type="city" value="<?=$this->escape($row['city']); ?>" />
                <input type="hidden" data-type="phone" value="<?=$this->escape($row['phone']); ?>" />
                <input type="hidden" data-type="mobile" value="<?=$this->escape($row['mobile']); ?>" />
                <input type="hidden" data-type="email" value="<?=$this->escape($row['email']); ?>" />
                <input type="hidden" data-type="comments" value="<?=$this->escape($row['comments']); ?>" />
            </td>
            
            <td><?=$row['last_name']; ?></td>
            <td><?=$row['first_name']; ?></td>
        </tr>
    
        <?php 
            $i++;
            endforeach; 
        ?>
            
        <?php else: ?>
        
        <tr>
            <td colspan="3">
                <?php echo $this->translate('noresultfound');  ?>
            </td>
        </tr>
        <?php endif; ?>
<?php
endif; //end member
?>

    </tbody>
    
</table>