<?php if($this->nodata != "1"): ?>
	<script type="text/javascript">
	
	$(function(){
       	

	/* 	$("#change_weight_period").live('click',function(){
			$.ajax(
				{
					type:"POST",
					data:{
						from:$("#weight_date_start").val(),
						to:$("#weight_date_end").val()
					},
					
					url:'<?php  echo APP_BASE."ajax/loadweightchart?id=".$_REQUEST["id"]; ?>',
							
					success:function(data){
						$('#weight_chart_block').html(data);
					}
				}		
			);
		}); */
		
	    /* $( "#weight_date_start" ).datepicker({
			dateFormat: 'dd.mm.yy',
			changeMonth: true,
			changeYear: true,
	        onClose: function( selectedDate ) {
	          $( "#weight_date_end" ).datepicker( "option", "minDate", selectedDate );
	        },
	        minDate:"<?php echo $this->weight_date_start;?>" 
	      }); */
	     /*  $( "#weight_date_end" ).datepicker({
				dateFormat: 'dd.mm.yy',
				changeMonth: true,
				changeYear: true,
	        onClose: function( selectedDate ) {
	          $( "#weight_date_start" ).datepicker( "option", "maxDate", selectedDate );
	        }
	       
	      }); */
	      
	      Highcharts.setOptions({
	        global: {
	            /**
	             * Use moment-timezone.js to return the timezone offset for individual 
	             * timestamps, used in the X axis labels and the tooltip header.
	             */
	            getTimezoneOffset: function (timestamp) {
	                var zone = 'Europe/Berlin',
	                    timezoneOffset = -moment.tz(timestamp, zone).utcOffset();

	                return timezoneOffset;
	            }
	        },
	        
	        lang: {
	            decimalPoint: ',',
	            thousandsSep: ' '
	        }
	    });
	    
	      
	      
	      
		var chart;
			chart = new Highcharts.Chart({
				
				chart: {
					
					renderTo: 'weight_container',
					defaultSeriesType: 'line',
					marginRight: 0,
					marginBottom: 25,
					marginTop: 25,
					width: 780,
					animation: false,
				},
				credits: {
			    	enabled: false
				},
				
				title: {
					text: null,
					x: -20 //center
				},
				
				subtitle: {
					text: '',
					x: -20
				},
				
				xAxis: {

					type: 'datetime',
					dateTimeLabelFormats: {
						millisecond: '%d.%m.%Y',
			            second: '%d.%m.%Y',
			            minute: '%d.%m.%Y',
			            hour: '%d.%m.%Y',
			            day: '%d.%m.%Y',
			            week: '%d.%m.%Y',
			            month: '%m.%Y',
			            year: '%Y'
			        }
					
				},
				
			    /*
				yAxis: {
					
					title: {
						text: 'Wert'
					} 
				},
				*/
				yAxis: [{
		            startOnTick: false,
		            endOnTick: false,
		            title: {
						text: 'Wert	'
					} 
		        }],
				
				tooltip: {
					xDateFormat: ' ',
					/* 					
					formatter: function() {
						
						var today = new Date(this.x);
						var dd = today.getDate();
						var mm = today.getMonth()+1; //January is 0!
						var yyyy = today.getFullYear();
						if(dd<10){
						    dd='0'+dd;
						} 
						if(mm<10){
						    mm='0'+mm;
						} 
						var today = dd+'.'+mm+'.'+yyyy;
						
						return '<b>'+ this.series.name +'</b><br/>'+
						today +': '+ this.y +'';
					}
				*/
					
				},
				
				
				lang: {
					downloadPDF: 'PDF Erstellen'
				},
				
				legend: {
					layout: 'horizontal',
					align: 'bottom',
					verticalAlign: 'top',
					x: -11,
					y: -11,
				},
			 
		         exporting: {
		            buttons: [
		            	//exportButton
		            	{
		                	_id: 'myButton',
		                    symbol: 'url(images/doc_pdf.png)',
		                  
		                    symbolX:24,
		                    symbolY:24,
		                    
		                    symbolSize: 24,
		                    
		                    symbolFill: '#B5C9DF',
		                    //symbolStroke: '#330033',
		                    //symbolStrokeWidth: 2,
		                    hoverSymbolFill: '#779ABF',
		                    
		                    x: 10,
		                    y: -10,
		                    
		                    _titleKey: 'downloadPDF',
		                    
		                    onclick: function() {
		                       chart.exportChart({ 
		                    	   type: 'application/pdf' ,
		                    	   filename : 'export_highcharts',
		                    	   /*printMaxWidth : 780,*/
		                    	   scale: 1,
		                    	   url : appbase + 'ajax/export_highcharts?id=<?=$this->patient_enc_id?>',
	                    	   });

		                       $('#content_sys_icon-49 svg').attr('visibility', 'hidden');
		                       $('#content_sys_icon-49').css({'visibility': 'hidden', "height":"0px"});
		                       $('#content_sys_icon-49 > #weight_chart_block').hide();
		   					
		                    }
		                }
		            ]
		        }, 
		        
		        
		        "series": <?php echo $this->graph_series;?>,
		       	

		        		
			},function(chart){
				
				$("#weight_chart_block").css({"display":"none"}); 				
				

			});
		
	});
	</script>
 
	
	 	<!-- <div id="weight_range"> 
			<form action="" method="post" id="change_weight_range">
				<label for="weight_date_start">Von</label>
				<input type="text" id="weight_date_start" name="from" value="<?php echo $this->weight_date_start; ?>" />
				<label for="weight_date_end">Bis</label>
				<input type="text" id="weight_date_end" name="to" value="<?php echo $this->weight_date_end; ?>" />
				<input type="button" value="<?php echo $this->translate('submit')?>" id="change_weight_period" />
			</form>	
		</div> -->
	 
	
	<div id="weight_container"></div>
	<?php endif;?>
	
	<table width="100%">
		<tr>
			<td width="75%">
				<button type="button" class="vital_signs_icon_button "> + Vitalwerte</button>
			</td>
			
			<!-- BMI block -->
			<?php //if ($this->show_height_detail == 1 && $this->bmi != '0')	: ?>
			<?php if ((int)$this->bmi != 0)	: ?>
			<td class="bmi_td"> 
				  <?php echo $this->translate('bmi'); ?> : <?php echo  $this->bmi; ?>
			</td>
			<?php endif;?>
			
			<?php if ($this->show_bas_detail == 1 &&  $this->body_area_surface != '0')	: ?>
			<td class="bas_empty"> | </td>
			<td class="bas_td"> 
				  <?php echo $this->translate('body_area_surface'); ?> : <?php echo  $this->body_area_surface; ?>
			</td>
			<?php endif;?>
		</tr>
	</table>
