<?php
// Maria:: Migration CISPC to ISPC 02.09.2020
// ISPC-2657 Elena ?
$cnt = $this->cnt;
$reaction = $this->reaction;
if($reaction->typ == 'allergy'){
    $stoff_text = 'Allergiestoff';
}else if($reaction->typ == 'intolerance'){
    $stoff_text = 'Unverträglichkeit gegen';
}
?>
<style>

</style>

<script>
    var selectDiagnosis;

    $(document).ready(function() {

        selectDiagnosis = function(did, row)
        {
            $('#icdcode_0').val($('#diag_icd_'+did).val());
            $('#icdnumber'+row).val($('#diag_icd_'+did).val());
            $('#diagnosis'+row).val($('#diag_de_'+did).val());
            $('#hidd_icdnumber'+row).val($('#diag_id_'+did).val());
            $('#hidd_diagnosis'+row).val($('#diag_id_'+did).val());
            $('#hidd_tab'+row).val('dig');
        }
/*
        var daysclass = '';

        $('.datepicker').datepicker({
            dateFormat: 'dd.mm.yy',
            changeMonth: true,
            changeYear: true,
            nextText: '',
            prevText: '',
            beforeShow: function () {
                console.log('beforeshow');
                setTimeout(function () {
                    console.log('addclass');
                    $('table.ui-datepicker-calendar').addClass(daysclass);
                }, 200);
            }
        });*/

    }) ;
</script>
<div id="reaction_errors"></div>
<form id="reaction_content_form" method="post">
    <input type="hidden" name="reactions[id]" value="<?php echo $reaction->id; ?>">
    <input type="hidden" name="reactions[kind]" value="reactions" />
    <input type="hidden" name="reactions[typ]" value="<?php echo $reaction->typ; ?>" />
    <table>
        <tr>
            <td>ICD Code</td>
            <td>
                <input type="text" name="reactions[icdcode]" value="<?php echo $reaction->icdcode; ?>" id="icdcode_0" class="icd_code livesearchicdcode" />
                <input name="add[hidd_icdcode][<?php echo $cnt; ?>]" value="[[hidd_icdcode]]" id="hidd_opscode[<?php echo $cnt; ?>]" type="hidden">
                <div id="icddropdown[<?php echo $cnt; ?>]" style="position:absolute;display:none;" class="listPatMedEd livesearchdropdown"></div>

            </td>
        </tr>
        <tr>
            <td><?php echo $stoff_text; ?></td>
            <td>
                <textarea name="reactions[reaction_against]"><?php echo $reaction->reaction_against; ?></textarea>
            </td>
        </tr>
        <tr>
            <td>Reaktion</td>
            <td>
                <textarea name="reactions[reaction_text]"><?php echo $reaction->reaction_text; ?></textarea>
            </td>
        </tr>
        <tr>
            <td>Erstdiagnose</td>
            <td>
                <?php
                    echo $this->date_ui;
                ?>

            </td>
        </tr>
    </table>
</form>
</div>
