<script type="text/javascript">
	
	$(document).ready(function(){

	});
	
	var pl_loading = function () {
	    var dlist = '<div class="loadingdiv" align="center"><img src="<?php echo RES_FILE_PATH; ?>/images/pageloading.gif"><br />	Loading... please wait</div>';
	    document.getElementById('content').innerHTML = dlist;
	}

	function loadpage(ord, clm)
	{
	    if($('#hdnlastpage').val() >= parseInt($('#pageno').val())) {
			if((parseInt($('#pageno').val())) > 0) {
				pgno = (parseInt($('#pageno').val() - 1));
			} else {
				pgno = 0;
			}
			
			ajaxCallserver({url: appbase + 'dta/fetchlocations?clm=' + clm + '&ord=' + ord + '&pgno=' + pgno, callLoading: pl_loading});
	    } else {
			jAlert("<?php echo $this->translate('invalidpageno'); ?>");
	    }
	}

	function searchData(val)
	{
	    ajaxCallserver({url: appbase + 'dta/fetchlocations',
		method: 'POST',
		data: {clm: 'name', ord: 'ASC', pgno: 0, val: val.value}, callLoading: pl_loading});
	}

	var callBack = function (params)
	{
	    document.getElementById('content').innerHTML = params.locationslist;
		
		 $(".remove").click(function () {
			$.confirmdeleteid = $(this).attr('rel');
			jConfirm('<?php echo $this->translate('confirmdeleterecord'); ?>', '<?php echo $this->translate('confirmdeletetitle'); ?>', function (r) {
				if(r)
				{
					$('#row_' + $.confirmdeleteid).hide();
					location.href = appbase + "dta/listlocations?op=del&lid=" + $.confirmdeleteid;
	}
			});
	    });
	}
</script>
<style>
	.quick_search{
		margin-top: 15px;
	}
	.datatable th.type, .datatable td.type {
		width:140px;
	}
	.datatable th.operations, .datatable td.operations {
		width:160px;
	}
	.operations_table {
		width:100%;
		padding: 5px;
		vertical-align: middle;
	}
	.operations_table td {
		border:none;
	}
	.edit_icon {
		margin-bottom: -3px;
		padding-right: 3px;
	}
	.delete_icon {
		margin-bottom: -3px;
		padding-right:2px;
	}
</style>
<form action="" method="post" name="form_dta_location" id="form_dta_location">
	<br />
	
	<div class="add_link">
		<a href="dta/addlocation"><? echo $this->translate('adddtalocation') ?></a>
	</div>
	
	<?php if(strlen($this->error_message) > '0'): ?>
		<div id="familydoctorlist_deleteMsg" class="err">
			<?php echo $this->error_message; ?>
		</div>
	<?php endif; ?>

	<?php if(strlen($this->success_message) > '0'): ?>
		<div id="familydoctorlist_deleteMsg" class="uc">
			<?php echo $this->success_message; ?>
		</div>
	<?php endif; ?>

	<br />
	<br />
	<div id="familyDocFetchlist_mainDiv" class="grid">
		<h1><?php echo $this->translate('list_dta_locations'); ?></h1>
		<div class="quick_search">
			<label for="search"><?php echo $this->translate('quicksearch'); ?></label>&nbsp;&nbsp;
			<input type="text" name="search" id="search" value="" onkeyup="searchData(this);" />
		</div>
		<div id="content">
			<?php echo $this->locations_grid; ?>
		</div>
	</div>
</form>
<script type="text/javascript">
	ajaxCallserver({url: appbase + 'dta/fetchlocations?clm=name&ord=ASC&pgno=0', callLoading: pl_loading});
</script>