@CHARSET "UTF-8";
.row-logo {
	margin-top:50px;
}

.logo {
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-position: center top;
    height: 76px;
}

.black a, a:focus, a:hover {
    color: #000;
}

.inner-elements {
    width: 330px;
    margin: auto auto;
}

.hjdt {
    width: 330px;
    margin: auto auto;
}