#header_container, #container
{
    width:98%;
    min-height: 30px;
}
#quick_search {
    height: 30px;
    border:1px solid #b3bed7;
}

#templates_content {
    height: 350px;
    overflow-y: scroll;
}

#visits_content {
    width:50%;
    float:left;
    text-align:left;
}

#select_template, #select_visit, #select_recipient {
    width: 98%;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 10px;
}

.left_header {
    width: 50%;
    float:left;
}
    
div.right_header{
    width: 50%;
    float:left;
    text-align:right;
}
.datepicker{
    width:70px;
}

tr.selected_visit td {
    background-color: #07DFFC;
}

select.visit_selector {
    width: 300px;
}
textarea#recipient_address {
    width: 250px;
    height: 100px;
}
input#select_template_lnk {
    float:right;
}
div#visits_content{
    float:left;
    width:48%;
}