//top days bar start
.datatable#planning_days_bar {
    line-height: 150%;
    margin-top: 10px;
}
.datatable#planning_days_bar td {
    cursor: pointer;
    padding-left: 1px;
    line-height: 200%;
    border: 1px solid #eee;
}
.datatable#planning_days_bar td .pagination a {
    color: #555;
    display: block;
    margin: 0 1px 0 1px;
    padding: 0 4px 0 4px;
    border: 1px solid #ccc;
}
.datatable#planning_days_bar td .pagination a:hover {
    background: #ccc;
} 
.datatable#planning_days_bar td.bar_row {
    text-align: center;
}
//top days bar end
.day_planning_wrapper{
	display: block;
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.day_planning_wrapper table{
	width: 100%;
	float: left;
	border-collapse: collapse;
	vertical-align: top;
    margin-top: 0px;
}

.day_planning_wrapper table th.header_title{
    /*background: #b3bed7;*/
    
    background: -moz-linear-gradient(top, #ffffff, #c6c6c6);
	background: -webkit-gradient(linear, center bottom, center top, from(#A1A5B4),
		to(#FBFDFF) );
		
   /* color: #1b346f;*/
	font-weight: 800;
	font-size: 14px;
	line-height: 24px;
   
    border:1px solid #1b346f;
	
	text-indent: 5px;
	
}
.day_planning_wrapper table th.header_title b{
   
   /* background: #b3bed7;
    color: #1b346f;*/
	font-weight: 800;
	font-size: 14px;
	line-height: 24px;
}



.day_planning_wrapper table td.users_list{
	width:20%;
	vertical-align: top;
}
.day_planning_wrapper table td.users_list table{
	height:auto;
	width:100%;
	float: right;
	border: 1px solid #000;
}
.day_planning_wrapper table td.users_list table th{
	background: #efefef;
	color: #000;
	font-weight: 800px;
	font-size: 11px;
	border: 1px solid #000;
	padding: 5px 0 5px 2px;
	
}
.day_planning_wrapper table td.users_list table td{
	border: 1px solid #efefef;
	font-size: 11px;
	padding: 5px 0 5px 2px;
}

.day_planning_wrapper table td.day_planning_board{
	width:45%!important;
	vertical-align: top;
}
.day_planning_wrapper table td.day_planning_board table{
	height:auto;
	width:100%;
	float: right;
	border: 1px solid #000;
}
.day_planning_wrapper table td.day_planning_board table th{
	background: #efefef;
	color: #000;
	font-weight: 800px;
	font-size: 11px;
	border: 1px solid #000;
	padding: 5px 0 5px 2px;
	
}
.day_planning_wrapper table td.day_planning_board table td{
	border: 1px solid #efefef;
	font-size: 10px;
	padding: 5px 0 5px 2px;
	height: 100%;
}

.day_planning_wrapper table td.patients_lists{
	width:25%!important;
	vertical-align: top;
}
.day_planning_wrapper table td.patients_lists table{
	height:auto;
	width:100%;
	float: right;
	border: 1px solid #000;
}
.day_planning_wrapper table td.patients_lists table th{
	background: #efefef;
	color: #000;
	font-weight: 800px;
	font-size: 11px;
	border: 1px solid #000;
	padding: 5px 0 5px 2px;
	
}
.day_planning_wrapper table td.patients_lists table td{
	border: 1px solid #efefef;
	vertical-align: middle;
}
.day_planning_wrapper table td.patients_lists table td span{
	font-size: 11px;
	width: 100%; 
	height: 100%;
	text-indent: 3px;
	}


.day_planning_wrapper table td.patients_lists table td a.add_to_dayplan{
	width:30px;
	height: 30px;
	display: block;
	float: left;
	background: url("../images/arrows_left.jpg") no-repeat scroll -298px -77px transparent;
	
}

/*##############################################3*/
.day_plan_user{
	display: block;
	float: left;
	height: auto;
	
	width: 90%;
	background: #fff;
	border: 1px solid #000;
	margin: 5px;
}
.day_plan_user_title{
	display: block;
	float: left;
	height: auto;
	min-height:30px;
	width: 100%;
	background: #dfdfdf;
}

.day_plan_user_title h3.user_title{
	/*width: 144px;*/	
/* 	height: 25px; */
	display: block;
	float: left;
	color: #000;
/* 	background: #cdd; */
	font-size: 12px;
	padding:3px;
}

.day_plan_user_title a{
	display: block;
	float: left;
	background: #ff0000;
	color: #fff;
	font-weight: 800;
	font-size: 18px;
	width: 25px;
	height: 31px;
	text-align: center;
	line-height: 31px;
	
}
.day_plan_visit{
	
	
}
.evenItem,
.day_plan_visit td{
	padding: 0px;
	background: #FFFFCC;
	
}

td.day_visit{
	vertical-align: top;
	padding: 0px!important;
	width:20%;
	
}

td.day_visit input{
	background: #fff;
	margin:0px;
	width: 40px;
	display: block;
	float: left;
	margin: 2px!important;
}


tr.v_alternate td,.oddItem{
	background: #FFFF77; 
}

td.day_visit_patient{
	width: 80%;
}

td.day_visit_patient span{
	font-size: 11px;
	display: block;
	float: left;
	width: 100%;
}
td.day_visit_patient a{
	font-size: 11px;
	display: block;
	float: right;
	height: 32px;
	width: auto;
}
.remove_visit_from_user b,
td.day_visit_patient a.remove_visit_from_user b{
	font-size: 11px;
	height: 32px; 
	width: 32px;
	display: block;
	float: right;
	background: url(../images/action_delete.png) no-repeat center center;
}
.droptrue .edit_visit_from_user,
td.day_visit_patient a.edit_visit_from_user b{
	font-size: 11px;
	height: 32px; 
	width: 32px;
	display: block;
	float: right;
	background: url(../images/edit.png) no-repeat center center;
}

.time_input{
	width:60px;
}

tr.tr_disabled td{
	display: none;
	
}

 
select.select_block {
	display: block;
	float:left;
}

div.loading {
	background: url(../images/loading-transp.gif) no-repeat left;
	width: 100%;
	height:auto;
	display: block;
	float: left;
}

div.page_loading {
	background: url(../images/loading-transp.gif) no-repeat left;
	width: 50px;
	height: 30px;
	display: block;
	float: left;
}


form#pdf_print_form{
	display: block;
	float: right;
    min-width: 260px;
    padding-left:10px;  
}
input#pdf_print{
	display: inline-block;
	/*float: right;*/
}
.previous_date,.next_date,.current_date {
	width: auto;
	height: 30px;
	display: block;
	float: left;
	border: 0px;
}

.previous_date input {
	width: 20px;
	height: 22px;
	display: block;
	float: left;
	border: 0px;
	background: url("../images/arrows_left.jpg") no-repeat scroll -213px -10px transparent;
}
.previous_date a {
	width: 30px;
	height: 32px;
	display: block;
	float: left;
	border: 0px;
	background:url("../images/arrows_left.jpg") no-repeat scroll -405px -22px transparent;
	margin: 3px;
}

.current_date input {
	width: 80px;
	height: 16px;
	display: block;
	float: left;
	border: 1px solid #000;;
	background: #fff;
}

.next_date input {
	width: 20px;
	height: 22px;
	display: block;
	float: left;
	border: 0px;
	background: url("../images/arrows_right.jpg") no-repeat scroll -68px -10px transparent;
}
.next_date a {
	width: 30px;
	height: 32px;
	display: block;
	float: left;
	border: 0px;
	background: url("../images/arrows_right.jpg") no-repeat scroll -133px -25px transparent;
	margin: 3px;
}


div.loading_page {
	background:#ffffff url(../images/108.gif) no-repeat center center !important;
	width: 700px;
	height: 500px;
	display: block;
	float: left;
	z-index: 999999;
	position: relative;
}


/* ispc-1533 */
.day_plan_user_title .user_view_mode{
	float:right;
}


.droptrue_disabled,
.droptrue {
	min-height:40px;
	list-style-type: none;
	padding:0!important;
	margin:0!important;	
	overflow:hidden;
}

.droptrue_disabled li,
.droptrue li{
	height:60px;
	width:98%;

	padding: 2px!important;
	margin:0!important;
	
	border: 1px solid #efefef;
    font-size: 11px;
    overflow:hidden;
	text-overflow: ellipsis;
}
.droptrue_disabled li div:nth-child(1),
.droptrue li div:nth-child(1){
	display:block;
	float:left;
	width:78%;
	
	overflow:hidden;
	text-overflow: ellipsis;
}
.droptrue_disabled li div:nth-child(2),
.droptrue li div:nth-child(2){
	display:block;
	float:right;
	max-width:40px;
}

.droptrue li div:nth-child(1) span:nth-child(1){
	font-weight:bold;
}
.droptrue li.ui-sortable-helper{
    cursor: move;
}

.droptrue li div.div_contextmenu{
	float:right;
}

.droptrue li span{
	/*min-height:35px;
	float:left;
	width:75px;
	padding-top:2px;
	padding-left:2px;
	overflow:hidden;
	text-overflow: ellipsis;
	/* text-overflow: clip|ellipsis|string|initial|inherit;*/
}
	
.droptrue li .remove_visit_from_user{
	/*float:right;*/
}

.day_plan_visit_hourly td:first-child{
	vertical-align:top;
	color: #999999;
}
	
.day_plan_visit_hourly td:last-child {
	padding: 0px!important;
}
	
#edit_visit_comment{
	width:300px;
}
	

.extra_patients_block {
    display: block;
    float: left;
}
	
.extra_patients_block .extra_patients_row {
    display: block;
    float: left;
}
.user_has_shift_bold{
	font-size: 12px!important;
	font-weight: bold;
	color: #000000!important;
}
.droptrue-ui-state-hover{
	border:1px solid #666666;
}

.board_users_table {
	border:none!important;	
}
.board_users_table .td_users{
	vertical-align:top!important;
	padding:0!important;
	border:0px!important;
	width:33%!important;
	
}
.day_plan_body{
	height: auto;
}
.dayplanning_sorting_on{
	/*
	padding-top:5px; 
	padding-bottom:5px;
	*/
}
.dayplanning_sorting_on li{
	margin-top:10px!important; 
	margin-bottom:10px!important;
}
.dayplanning_sorting_on{
	
	padding-top:5px; 
	padding-bottom:5px;
	
}

#patients_lists_board .ui-draggable{
	cursor: pointer; 
	cursor: hand;
}
.slide-placeholder {
    background: #96bde7;
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
}
.slide-placeholder:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #FFF;
}
/*
.scroll_page_column{
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	width:16px;
	
	background: -moz-linear-gradient(top, #ffffff, #c6c6c6);
	background: -webkit-gradient(linear, center bottom, center top, from(#A1A5B4),
		to(#FBFDFF) );
	
}
*/
div.page{
	padding-right:30px!important;
	/*
	border:1px solid red;
	max-height:500px;
    overflow:auto;
    overflow-y: auto;
    -webkit-transform: translate3d(0,0,0);
    -webkit-overflow-scrolling: touch;  
    */ 
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#extra_patients-dialog,
.tabs_extra_patients{	
	position:relative;
	overflow: hidden;
}
#extra_patients-dialog .ui-tabs{
	height:100%;
	width:100%;
	overflow:hidden;
}

#extra_patients-dialog .ui-tabs-panel{
	max-height:280px;

	overflow-x: hidden;
    overflow-y: scroll;
    -webkit-transform: translate3d(0,0,0);
    -webkit-overflow-scrolling: touch;  
}

#extra_patients-dialog .datatable{
	margin-top:0;
}
.team_event_info{
	background-color: #33ccff;
    border-color: #33ccff;
    color: black;
    padding:2px;
}
.doctor_event_info{
	background-color: #b3ecff;
    border-color: #b3ecff;
    color: black;
    padding:2px;
}
.custom_event_is_blocking_this_hour{
	background-color: #ff9999;
    color: black;
    padding:2px;
}
/* PseudoGroup User box*/
/* Tooltip container */
.tooltip {
	float:right;
    position: relative;
    display: inline-block;

    padding:2px;
    background: transparent url("../images/info_med.png") no-repeat scroll left top;
    background-position: center; 
    background-repeat: no-repeat;
    width: 16px;
    height:16px;
}
.tooltip .tooltiptext {
    display: none;
    min-width: 120px;
    position: absolute;
    left:-120px;
    top:-20px;
    z-index: 1;
    
    background-color: #fdffc2;
    border: 1px solid;
    padding: 3px;
}


.visit_contextmenu{
	font-size: 11px;
	height: 25px;
	width: 25px;
	display: block;
	float: right;

	background: url(../images/context_menu_32.png) no-repeat center left;
}

.highcharts-menu-copy {
	box-shadow: 3px 3px 10px rgb(136, 136, 136);
	border: 1px solid rgb(153, 153, 153);
	background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
	padding: 5px 0px; 
	width:160px
}
.highcharts-menu-copy .highcharts-menu-item {
	padding: 1px 10px;
	background: transparent none repeat scroll 0% 0%;
	color: rgb(51, 51, 51);
	font-size: 11px;
	transition: background 250ms ease 0s, color 250ms ease 0s;
}

.highcharts-menu-copy a {
	cursor: pointer;
	padding: 8px 5px 5px 35px;
	height: 28px;
	display:block;
}
.patient_tourplan_settings .highcharts-menu-item .edit_visit_from_user, 
.highcharts-menu-copy .edit_visit_from_user {
	background: url(../images/edit.png) no-repeat center left;
}
.highcharts-menu-item .remove_visit_from_user,
.highcharts-menu-copy .remove_visit_from_user {
	background: url(../images/action_delete.png) no-repeat center left;
}
.highcharts-menu-item .extra_visit_from_user,
.highcharts-menu-copy .extra_visit_from_user {
	background: url(../images/action_add.png) no-repeat center left;
}


.patient_tourplan_settings .highcharts-menu-item a{
	padding-left:25px;
	height: 25px;
}

.highcharts-menu-copy a.user-star {
	padding:0px; 	
}.extra_visit_from_user_hint {
    background: #ffcccc none repeat scroll 0 0!important;
    /*border: 1px solid red;
    color: red;*/
}


.boxsort_placeholder {
    border:2px dashed #ccc;
    margin:10px;
    margin-bottom: 20px;
    width:auto;
    min-height:60px; 
    display:block;
}