.iconexpandbar {
	width:100%;
	display:inline-table;
}
.iconexpandbar .blueHD {
	font-size:21px;
	color:#2d7ee1;
	font-family:'Open Sans';
	text-transform:uppercase;
	font-weight:600;
	margin:20px;
	margin-bottom:0;
	letter-spacing:-0.25pt;
	}
	
.iconexpandbar ul.defaultContainer {
	border:1px solid #ebedee;
	display:inline-table;
	margin-left:20px; 
	margin-right:20px;
	margin-bottom:0;
	margin-top:20px;
	padding:0;
	border-radius:6px;
	width:calc(100% - 40px);
	box-sizing:border-box;

}
.iconexpandbar ul.defaultContainer li {
	list-style:none;
	padding:0;
	margin:0;
	font-family:'Open Sans';
	display:inline-table;
	width:calc(100% - 30px);
}
.iconexpandbar ul.defaultContainer li:first-child {
	border-radius:6px 6px 0 0;
}
.iconexpandbar ul.defaultContainer li:last-child {
	border-radius:0 0 6px 6px;
	border-bottom:0px !important;
}

.iconexpandbar ul.defaultContainer li.header {
	background:#ebedee;
	padding:10px 15px;
	border-bottom:1px solid #ffffff;
}
.iconexpandbar ul.defaultContainer li.header.whitebg {
	background:#ffffff;
}
.iconexpandbar ul.defaultContainer li.header h2 {
	margin:0;
	padding:0;
	font-size:16px;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:-0.25pt;
	color:#000000;
}

.iconexpandbar ul.defaultContainer li.header h3 {
	margin:0;
	padding:0;
	font-size:16px;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:0.55pt;
	color:#6e6e6e;
}

.iconexpandbar ul.defaultContainer li.header h4 {
	margin:0;
	padding:0;
	font-size:16px;
	font-weight:700;
	letter-spacing:0;
	color:#000000;
}


.iconexpandbar ul.defaultContainer li.elmnt {
	border-bottom:1px solid #ebedee;
	padding:10px 15px;
	min-height:44px;
}
.iconexpandbar ul.defaultContainer li.elmnt.ywbg {
	background:#ffffcc;
}


.iconexpandbar ul.defaultContainer li.elmnt .fname {
	display:inline-table;
	width:100%;
	font-size:16px;
	font-weight:600;
	color:#3f3f3f; 
}
.iconexpandbar ul.defaultContainer li.elmnt .fval {
	display:inline-table;
	width:100%;
	font-size:16px;
	font-weight:400;
	color:#3f3f3f; 
}
.iconexpandbar ul.defaultContainer li.elmnt .findikation {
	display:inline-table;
	width:100%;
	font-size:16px;
	font-weight:600;
	color:#3f3f3f; 
	margin-top:2px;
}
.iconexpandbar ul.defaultContainer li.elmnt .findikation span.circle {
	width: 12px;
    height: 12px;
    display: block;
    float: left;
    border-radius: 50%;
    background: #333;
    margin-right: 7px;
	margin-top:6px;
}

.iconexpandbar .overflowcontainer {
	display:block;
	width:calc(100vw - 40px);
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	overflow-x:auto;
	overflow-y:none;
}

.iconexpandbar .btnPlus {
	border-radius:6px;
	 
	color:#ffffff;
	box-shadow: 4.788px 13.156px 59px 0px rgba(25, 25, 25, 0.34);
	width:calc(100% - 40px);
	padding-top:10px;
	padding-bottom:10px;
	outline:none;
	border:0;
	padding-left:34px;
	background:#2d7ee1 url(images/plus.svg) no-repeat;
	background-position:calc(50% - 44px) 50%;
	background-size:16px auto;
	font-size:18px;
	font-family:'Open Sans';
	font-weight:500;
	transition::box-shadow 0.3s;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
}

.iconexpandbar .btnPlus:active {
	box-shadow: 4.788px 13.156px 39px 0px rgba(25, 25, 25, 0.34);
	transition:box-shadow 0.3s;
}








