a {display:inline;text-decoration:none;}
a:active, a:visited {text-decoration:none;}

#MainContent {width:720px;}
#first_menu li a, #first_menu li {padding:2px;margin:0px 2px 2px 0px;}
/*
.iefirst {border:1px solid #000;margin:0 0 0 0;padding:0 0 0 0; width:50px !important;}
.iesecond {border:1px solid #f00;margin:0 0 0 0;padding:0 0 0 0;}
.iethird {border:2px solid #0f0;margin:0 0 0 0;padding:0 0 0 0;}
.iefourth {border:3px solid #bbb;margin:0 0 0 0;padding:0 0 0 0;}
.iefive {border:4px solid #0b0;margin:0 0 0 0;padding:0 0 0 0;}
.iesix {border:5px solid #000;margin:0 0 0 0;padding:0 0 0 0;}

.colLeft, .colRight, .parentdiv, .clearer, .ListOuter {margin:0 0 0 0;padding:0 0 0 0;}
.colLeft {width:10px;}
*/


#browserwarning {position:fixed;background-color:#fdd;border-top:1px solid #f00;border-bottom:1px solid #f00;padding:10px;text-align:center;display:block;margin-bottom:25px;font-family: Arial;font-size:16px;color:#444;top:0;left:0;right:0;z-index:10000;}
#browserwarning a {font-weight:bold;text-decoration:underline;color:#222;}
#browserwarning a:hover {color:#555;}