/*
.outer{
margin-top:0px;
}

.loginouter{
margin-top:0px;
}

.RightList01 textarea {
height :28px;
}


.CheckboxListeftDiv {
	width:auto;
	font-weight:normal;
	padding-top:4px;
}

.CheckboxList {
	margin-right:2px;
}
.FloatLeft {
padding-top:2px;
}

.SymptomListContentNew {
float:left;
width:auto;
line-height:30px;
margin-right:5px;
padding-top:3px;
}

.CheckboxListeftDiv {
padding-top:3px;
}

.CheckboxListeftDivNew {
width:auto;
line-height:28px;
font-weight:normal;
padding-top:5px;
}


.Options label{
display: block;
float: left;
padding: 0;
text-align: left;
margin:0;
line-height:28px;
color:#4a565c;
padding-top:-4px;

}

.CheckboxListNew {
padding-top:2px;

}

.FloatLeft {
padding-top:4px;

}
*/

.colLeft {display:inline;}
.colRight {display:inline;}

.clearer {clear:both;}
.colLeft {float:left;}
.colRight {float:left;}
.iesix {width:560px !important;}
.iesecond {width:150px !important;}

.iefive {width:20px !important;}
.iethird {width:640px !important;}
div.row.clearer.parentdiv.iefirst {clear:both;width:800px !important;}

