/* Mobile Verlaufsdocumentation: specific input fields update v1.2 2019-07-25*/ 
/*  //TODO-2376  */
 
/*----- H ------*/
/*----- D ------*/

.shortcutRow.addComment.H > .details_box, 
.shortcutRow.addComment.D > .details_box 
{
	width:100% !important;
/* 	position:relative; */
}
.shortcutRow.addComment.H .letter_box,
.shortcutRow.addComment.D .letter_box
 {
	position:absolute;
}
.shortcutRow.addComment.H .hid-div, 
.shortcutRow.addComment.D .hid-div 

{
	box-sizing:boder-box;
	display:inline-table;
	width:100%;
	font-size:0;
}

.shortcutRow.addComment.H .hid-div input, 
.shortcutRow.addComment.D .hid-div input 
{
	width:100% !important;
	margin-bottom:3px;
	border: 1px solid #bbbbbb;
}

.shortcutRow.addComment.H .hid-div input:nth-child(1), 
.shortcutRow.addComment.D .hid-div input:nth-child(1) 
{
	width:calc(100% - 70px) !important;
	margin-left:70px;
	border-radius:0 6px 6px 0;
	margin-bottom:3px;
	border-left:0 !important;
}



/*----- U ------*/

.shortcutRow.addComment.U > .details_box {
	width:100% !important;
	/*position:relative;*/
}
.shortcutRow.addComment.U .letter_box {
	position:absolute;
}
.shortcutRow.addComment.U .hid-div {
	box-sizing:boder-box;
	display:inline-table;
	width:100%;
	font-size:0;
	
}
.shortcutRow.addComment.U .hid-div select {    
	height: 50px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #bbbbbb;
	border-left: 0;
	border-radius: 0 6px 6px 0;
	width: calc(100% - 70px);  
	margin-left:70px;
	box-sizing:border-box;
	background-color: #fff;
	font-size: 14px;
	font-family: 'Open Sans';
	padding: 5px;
	outline: none;
	margin-bottom:3px;
	
	-webkit-appearance: none;
	background: #ffffff url(images/dropdown.svg) calc(100% - 12px) 50% no-repeat;
    background-size: 20px auto;
    padding-right: 45px;
    text-overflow: ellipsis;
}
	
.shortcutRow.addComment.U .hid-div .course_time {
	width:100%;
	border: 1px solid #bbbbbb;
	margin-bottom:3px;
	}
	
.shortcutRow.addComment.U .hid-div .course_comment_small {
	width:100%;
	height:70px;
	border: 1px solid #bbbbbb;
	margin-bottom:3px;
	border-radius: 6px
}
	
.shortcutRow.addComment.U .hid-div .ui-datepicker-trigger {
	display:none;
}
	
.shortcutRow.addComment.U .hid-div .course_date, 
.shortcutRow.addComment.U .hid-div .course_timepicker {
	width:50%;
	box-sizing:border-box;
	float:left;
	border: 1px solid #bbbbbb !important;
}
.shortcutRow.addComment.U .hid-div .course_date {
		border-right:0 !important;
		border-radius:6px 0 0 6px;
		background: #ffffff url(images/date_blue.svg) calc(100% - 12px) 50% no-repeat;
		background-size: 20px auto;
}
.shortcutRow.addComment.U .hid-div .course_timepicker  {
		border-radius:0 6px 6px 0;
		background: #ffffff url(images/clock_blue.svg) calc(100% - 12px) 50% no-repeat;
		background-size: 20px auto;
}
		

/*----- XT ------*/

.shortcutRow.addComment.XT > .details_box {
	width:100% !important;
	/*position:relative;*/
}
.shortcutRow.addComment.XT .letter_box {
	position:absolute;
}
.shortcutRow.addComment.XT .hid-div {
	box-sizing:boder-box;
	display:inline-table;
	width:100%;
	font-size:0;
	
}
.shortcutRow.addComment.XT .hid-div .course_time { 
	width:calc(100% - 70px);
	margin-left:70px;
	border-radius:0 6px 6px 0;
	margin-bottom:3px;
}
.shortcutRow.addComment.XT .hid-div .course_comment {
	border: 1px solid #bbbbbb;
	border-radius:6px;
	margin-bottom:3px;
}
.shortcutRow.addComment.XT .hid-div .ui-datepicker-trigger {
	display:none;
}
	
.shortcutRow.addComment.XT .hid-div .course_date, 
.shortcutRow.addComment.XT .hid-div .course_timepicker {
	width:50%;
	display:inline-table;
	box-sizing:border-box;
	float:left;
	border: 1px solid #bbbbbb !important;
}
.shortcutRow.addComment.XT .hid-div .course_date {
		border-right:0 !important;
		border-radius:6px 0 0 6px;
		background: #ffffff url(images/date_blue.svg) calc(100% - 12px) 50% no-repeat;
		background-size: 20px auto;
}
.shortcutRow.addComment.XT .hid-div .course_timepicker  {
		border-radius:0 6px 6px 0;
		background: #ffffff url(images/clock_blue.svg) calc(100% - 12px) 50% no-repeat;
		background-size: 20px auto;
}
		

/*----- LS ------*/

.shortcutRow.addComment.LS > .details_box {
	width:100% !important;
	/*position:relative;*/
}
.shortcutRow.addComment.LS .letter_box {
	position:absolute;
}
.shortcutRow.addComment.LS .hid-div {
	box-sizing:boder-box;
	display:inline-table;
	width:100%;
	font-size:0;
	
}
.shortcutRow.addComment.LS .hid-div .course_time { 
	width:calc(100% - 70px);
	margin-left:70px;
	border-radius:0 6px 6px 0;
	margin-bottom:3px;
}
.shortcutRow.addComment.LS .hid-div .course_comment {
	border: 1px solid #bbbbbb;
	border-radius:6px;
	margin-bottom:3px;
}
.shortcutRow.addComment.LS .hid-div .ui-datepicker-trigger {
	display:none;
}
	
.shortcutRow.addComment.LS .hid-div .course_date, 
.shortcutRow.addComment.LS .hid-div .course_timepicker {
	width:50%;
	display:inline-table;
	box-sizing:border-box;
	float:left;
	border: 1px solid #bbbbbb !important;
}
.shortcutRow.addComment.LS .hid-div .course_date {
		border-right:0 !important;
		border-radius:6px 0 0 6px;
		background: #ffffff url(images/date_blue.svg) calc(100% - 12px) 50% no-repeat;
		background-size: 20px auto;
}
.shortcutRow.addComment.LS .hid-div .course_timepicker  {
		border-radius:0 6px 6px 0;
		background: #ffffff url(images/clock_blue.svg) calc(100% - 12px) 50% no-repeat;
		background-size: 20px auto;
}
.shortcutRow.addComment.LS .hid-div select {
	height: 50px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #bbbbbb;
	border-radius: 0 6px 6px 0;
	width: 100%;  
	box-sizing:border-box;
	background-color: #fff;
	font-size: 14px;
	font-family: 'Open Sans';
	padding: 5px;
	outline: none;
	margin-bottom:3px;
	
	-webkit-appearance: none;
	background: #ffffff url(images/dropdown.svg) calc(100% - 12px) 50% no-repeat;
    background-size: 20px auto;
    padding-right: 45px;
    text-overflow: ellipsis;
}

/*----- AA ------*/

.shortcutRow.addComment.AA > .details_box {
	width:100% !important;
/* 	position:relative; */
}
.shortcutRow.addComment.AA .letter_box {
	position:absolute;
}
.shortcutRow.addComment.AA .hid-div {
	box-sizing:boder-box;
	display:inline-table;
	width:100%;
	font-size:0;
	
}
.shortcutRow.addComment.AA .hid-div .course_time { 
	width:calc(100% - 70px);
	margin-left:70px;
	border-radius:0 6px 6px 0;
	margin-bottom:3px;
}
.shortcutRow.addComment.AA .hid-div .course_comment {
	border: 1px solid #bbbbbb;
	border-radius:6px;
	margin-bottom:3px;
}
.shortcutRow.addComment.AA .hid-div .ui-datepicker-trigger {
	display:none;
}
	
.shortcutRow.addComment.AA .hid-div .course_date, 
.shortcutRow.addComment.AA .hid-div .course_timepicker {
	width:50%;
	display:inline-table;
	box-sizing:border-box;
	float:left;
	border: 1px solid #bbbbbb !important;
}
.shortcutRow.addComment.AA .hid-div .course_date {
		border-right:0 !important;
		border-radius:6px 0 0 6px;
		background: #ffffff url(images/date_blue.svg) calc(100% - 12px) 50% no-repeat;
		background-size: 20px auto;
}
.shortcutRow.addComment.AA .hid-div .course_timepicker  {
		border-radius:0 6px 6px 0;
		background: #ffffff url(images/clock_blue.svg) calc(100% - 12px) 50% no-repeat;
		background-size: 20px auto;
}








/*----- LE ------*/

.shortcutRow.addComment.LE > .details_box {
	width:100% !important;
	/*position:relative;*/
}
.shortcutRow.addComment.LE .letter_box {
	position:absolute;
}
.shortcutRow.addComment.LE .hid-div {
	box-sizing:boder-box;
	display:inline-table;
	width:100%;
	font-size:0;
	
}
.shortcutRow.addComment.LE .hid-div select {    
	height: 50px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #bbbbbb !important;
	border-left: 0;
	border-radius:6px;
	width: 100% !important;  
	 
	box-sizing:border-box;
	background-color: #fff;
	font-size: 14px;
	font-family: 'Open Sans';
	padding: 5px;
	outline: none;
	margin-bottom:3px;
	
	-webkit-appearance: none;
	background: #ffffff url(images/dropdown.svg) calc(100% - 12px) 50% no-repeat;
    background-size: 20px auto;
    padding-right: 45px;
    text-overflow: ellipsis;
}

.shortcutRow.addComment.LE .hid-div .ui-datepicker-trigger {
	display:none;
}
.shortcutRow.addComment.LE .hid-div input,.shortcutRow.addComment.LE .hid-div select {
	float:left;
	display:inline-table;
	box-sizing:boder-box;
}
.shortcutRow.addComment.LE .hid-div .live_search_action_id {
	width:calc(100% - 70px) !important;
	margin-left:70px;
	float:left;
	margin-bottom:3px;
	border-radius:0 6px 6px 0;
}
.shortcutRow.addComment.LE .hid-div  .live_search_action_name {
	width:100%;
	margin-bottom:3px;
	border: 1px solid #bbbbbb;
}

.shortcutRow.addComment.LE .hid-div .caret.course_date.hasDatepicker {
	width:50%;
	margin:0 !important;
	box-sizing:border-box !important;
	border: 1px solid #bbbbbb;
	border-radius:6px 0 0 6px;
	border-right:0;
	
	background: #ffffff url(images/date_blue.svg) calc(100% - 12px) 50% no-repeat;
		background-size: 20px auto;
}
.shortcutRow.addComment.LE .hid-div .timepick.course_timepicker.hasTimepicker {
	width:50%;
	margin:0 !important;
	box-sizing:border-box !important;
	border-radius:0 6px 6px 0;
	border: 1px solid #bbbbbb;
	background: #ffffff url(images/clock_blue.svg) calc(100% - 12px) 50% no-repeat;
		background-size: 20px auto;
}


 



/*----- M ------*/

.shortcutRow.addComment.M > .details_box, 
.shortcutRow.addComment.N > .details_box, 
.shortcutRow.addComment.I > .details_box
 
{
	width:100% !important;
/* 	position:relative; */
}
.shortcutRow.addComment.M .letter_box, 
.shortcutRow.addComment.N .letter_box ,
.shortcutRow.addComment.I .letter_box 
{
	position:absolute;
}
.shortcutRow.addComment.M .hid-div, 
.shortcutRow.addComment.N .hid-div, 
.shortcutRow.addComment.I .hid-div 
{
	box-sizing:boder-box;
	display:inline-table;
	width:100%;
	font-size:0;
}

.shortcutRow.addComment.M .hid-div input, 
.shortcutRow.addComment.N .hid-div input,
.shortcutRow.addComment.I .hid-div input 
{
	width:100% !important;
	margin-bottom:3px;
	border: 1px solid #bbbbbb;
}

.shortcutRow.addComment.M .hid-div input:nth-child(1), 
.shortcutRow.addComment.N .hid-div input:nth-child(1), 
.shortcutRow.addComment.I .hid-div input:nth-child(1) 
{
	width:calc(100% - 70px) !important;
	margin-left:70px;
	border-radius:0 6px 6px 0;
	margin-bottom:3px;
	border-left:0 !important;
}




/*----- P ------*/

.shortcutRow.addComment.P > .details_box {
	width:100% !important;
/* 	position:relative; */
}
.shortcutRow.addComment.P .letter_box {
	position:absolute;
}
.shortcutRow.addComment.P .hid-div {
	box-sizing:boder-box;
	display:inline-table;
	width:100%;
	font-size:0;
	
}
.shortcutRow.addComment.P .hid-div select {    
	height: 50px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #bbbbbb;
	border-left: 0;
	border-radius: 0 6px 6px 0;
	width: calc(100% - 70px);  
	margin-left:70px;
	box-sizing:border-box;
	background-color: #fff;
	font-size: 14px;
	font-family: 'Open Sans';
	padding: 5px;
	outline: none;
	margin-bottom:3px;
	
	-webkit-appearance: none;
	background: #ffffff url(images/dropdown.svg) calc(100% - 12px) 50% no-repeat;
    background-size: 20px auto;
    padding-right: 45px;
    text-overflow: ellipsis;
}

.shortcutRow.addComment.P .hid-div label {
	width:100%;
	display:inline-table;
	font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    letter-spacing: -0.25pt;
    font-family: 'Open Sans';
    color: #3f3f3f;
	padding-top:10px;
	padding-bottom:10px;
}
.shortcutRow.addComment.P .hid-div label input {
	height:auto;
	margin-right:5px;
}

.shortcutRow.addComment.P .hid-div input[type=text] {
	width:100% !important;
	box-sizing:border-box;
	float:left;
	margin:0 !important;
	margin-bottom:3px !Important;
	border: 1px solid #bbbbbb;
}
 
 
.shortcutRow.addComment.P .hid-div .ui-datepicker-trigger {
	display:none;
}
.shortcutRow.addComment.P .hid-div .med_data {
	background: #ffffff url(images/date_blue.svg) calc(100% - 12px) 50% no-repeat;
    background-size: 20px auto;
}


/*----- S ------*/
  
.shortcutRow.addComment.S > .details_box {
	width:100% !important;
	position:relative;
}
.shortcutRow.addComment.S .letter_box {
	position:absolute;
	z-index:3;
	margin-top:10px;
	margin-left:10px;
}
.shortcutRow.addComment.S .hid-div {
	box-sizing:boder-box;
	display:inline-table;
	width:100%;
	font-size:0;
	
	background: #ffffff;
	border: 1px solid #afb7cb;
	border-radius:6px !important;
	padding: 10px;
	
}
.shortcutRow.addComment.S .hid-div .datatable {
	width:100%;
 
	 
}
.shortcutRow.addComment.S .hid-div .datatable tr td {
	 display:inline-block;
}
.shortcutRow.addComment.S .hid-div .datatable tr td:nth-child(1) {
	width:100%;
	position:relative;
	height:auto;
	padding-top:10px;
	padding-bottom:3px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    letter-spacing: -0.25pt;
    font-family: 'Open Sans';
    color: #3f3f3f;
}
.shortcutRow.addComment.S .hid-div .datatable tr td:nth-child(2) {
	float:left;
	width:30%;
	height:50px;
	box-sizing:border-box;
}

.shortcutRow.addComment.S .hid-div .datatable tr td:nth-child(2) select {    
	height: 50px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #bbbbbb !important;
	border-left: 0;
	border-radius: 6px 0 0 6px;
	width: 100%;
	
	 
	box-sizing:border-box;
	background-color: #fff;
	font-size: 14px;
	font-family: 'Open Sans';
	padding: 5px;
	outline: none;
	margin-bottom:3px;
	
	-webkit-appearance: none;
	background: #ffffff url(images/dropdown.svg) calc(100% - 12px) 50% no-repeat;
    background-size: 20px auto;
    padding-right: 45px;
    text-overflow: ellipsis;
}

.shortcutRow.addComment.S .hid-div .datatable tr td:nth-child(2) input {    
	height: 50px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #bbbbbb !important;
	border-radius: 6px 0 0 6px;
	width: 93%!important;
	box-sizing:border-box;
	background-color: #fff;
	font-size: 14px;
	font-family: 'Open Sans';
	padding: 5px;
	outline: none;
	margin-bottom:3px;
	-webkit-appearance: none;
    padding-right: 45px;
    text-overflow: ellipsis;
}



.shortcutRow.addComment.S .hid-div .datatable tr td:nth-child(3) {
	 float:left;
	 
	 box-sizing:border-box;
	 width:70%;
	height:50px;
	  
	 
}
.shortcutRow.addComment.S .hid-div .datatable tr td:nth-child(3) input {
	width:100% !important;
	margin-left:0 !important;
	border-left:0 !important;
	border-radius:0 6px 6px 0;
}



.shortcutRow.addComment.S .hid-div .datatable tr:first-child td {
	height:53px !important;
	padding-left:90px !important;
	font-size:19px;
	padding-top:17px !important; 
}

.shortcutRow.addComment.S .hid-div .datatable tr:last-child td:nth-child(3) {
	 
	  
	
}





/*----- W ------*/

.shortcutRow.addComment.W > .details_box {
	width:100% !important;
	position:relative;
}
.shortcutRow.addComment.W .letter_box {
	position:absolute;
}
.shortcutRow.addComment.W .hid-div {
	box-sizing:boder-box;
	display:inline-table;
	width:100%;
	font-size:0;
}
.shortcutRow.addComment.W .hid-div .ui-datepicker-trigger {
	display:none;
}
.shortcutRow.addComment.W .hid-div input {
	width:100% !important;
	margin-bottom:3px;
	border: 1px solid #bbbbbb;
}

.shortcutRow.addComment.W .hid-div textarea  {
	width:calc(100% - 70px) !important;
	margin-left:70px;
	border-radius:0 6px 6px 0;
	margin-bottom:3px;
	border-left:0 !important;
}
.shortcutRow.addComment.W .hid-div .sel_holder.sel_holder_todos {
	width:100%;
	margin-bottom:0px;
}
.shortcutRow.addComment.W .hid-div .sel_holder.sel_holder_todos .chosen-container.chosen-container-multi {
	width:100% !important;
	margin:0;
	 
}

.shortcutRow.addComment.W .hid-div .sel_holder .chosen-container-multi .chosen-choices {
	 
     
    box-sizing: border-box;
     
    height: 50px;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    padding: 9px 9px 0px 9px;
    position: relative;
    display: inline-table;
}

.shortcutRow.addComment.W .hid-div .sel_holder .chosen-container-multi .chosen-choices .search-choice {
	 background: #ebedee;
    border-radius: 5px;
    display: block;
    float: left;
    font-size: 14px;
    color: #6e6e6e;
    font-family: 'Open Sans';
    padding: 6px;
    margin-top: 0px;
    margin-bottom: 9px;
    margin-right: 9px;
	border:0;
	line-height:20px;
}
.shortcutRow.addComment.W .hid-div .sel_holder .chosen-container-multi .chosen-choices .search-choice .search-choice-close {
	width: 20px;
    height: 20px;
    display: block;
    background: url(images/delete.svg) 50% 50% no-repeat !important;
    background-size: 10px auto !important;
    float: right;
	position:relative;
	margin-top:-3px;
	margin-left:3px;
	margin-right:-3px;
}
.shortcutRow.addComment.W .hid-div .hasDatepicker {
	background: #ffffff url(images/date_blue.svg) calc(100% - 12px) 50% no-repeat;
	background-size: 20px auto;
}
   
  
/*autocomplete / livesearch */

#livesearch_admission_medications, #livesearch_admission_diagnosis {
height:300px;
overflow-x:auto;	
background:#ffffff;
margin-left:-70px !important; 
width:calc(100vw - 40px) !important;

box-shadow: 4.788px 13.156px 59px 0px rgba(25, 25, 25, 0.34);
    border-radius: 6px;
	
}
#livesearch_admission_medications .datatable th,
#livesearch_admission_medications .datatable td,
#livesearch_admission_diagnosis .datatable th,
#livesearch_admission_diagnosis .datatable td {
	border:1px solid #bbbbbb;
}
#livesearch_admission_medications .datatable,
#livesearch_admission_diagnosis .datatable {
	width:100%;
	border:0px solid #bbbbbb;
	border-collapse:collapse;
}
#livesearch_admission_medications .datatable tbody tr:before, 
#livesearch_admission_medications .datatable tbody tr:after,
#livesearch_admission_diagnosis .datatable tbody tr:before, 
#livesearch_admission_diagnosis .datatable tbody tr:after {
	display:none;
}

#livesearch_admission_medications .datatable thead tr th,
#livesearch_admission_diagnosis .datatable thead tr th {
	font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    letter-spacing: -0.25pt;
    font-family: 'Open Sans';
    color: #3f3f3f;
	padding:10px;
	background:#ebedee;
	border-top:0;
}
#livesearch_admission_medications .datatable thead tr th:first-child,
#livesearch_admission_diagnosis .datatable thead tr th:first-child {
	width:50px;
}

#livesearch_admission_medications .datatable tbody tr th,
#livesearch_admission_diagnosis .datatable tbody tr th {
	padding:10px;
	background:#ebedee;
}
#livesearch_admission_medications .datatable tbody tr td,
#livesearch_admission_diagnosis .datatable tbody tr td {
	padding:10px;
}   