/*fix for patient list, datein section*/
body.evoixmobile .mobileview, body.evoixmobile  {
	width:100vw;
}

body.evoixmobile .btnMenu {
	display:none !important;
}




body.evoixmobile .mobileview table.patientlist thead tr th, body.evoixmobile .mobileview table.patientlist thead tr td {
	border-left:0 !important;
	border-right:0 !important;
	text-align:left;
}
body.evoixmobile .mobileview table.patientlist thead tr th {
	border-bottom:0
}
body.evoixmobile table.dataTable thead th, body.evoixmobile table.dataTable thead td {
	padding:13px 3px;
}

body.evoixmobile .mobileview .DataTables_sort_wrapper .DataTables_sort_icon {
	right:-25px;
	
}

body.evoixmobile .mobileview  .status  {
	text-align:center;
	width:30px !important;
}


body.evoixmobile .mobileview  .status .DataTables_sort_wrapper {
	display:block;
	position:relative;
	width:20px;
	height:20px;
	/* border:1px solid red; */
	  margin-left:5px;  
}

body.evoixmobile .mobileview .status .DataTables_sort_wrapper .DataTables_sort_icon {
	 
	top:calc(50% - 6px);
	margin-top:0;
	right:auto;
	 
}

body.evoixmobile table.dataTable thead th div.DataTables_sort_wrapper span {
	
}

body.evoixmobile table.dataTable tbody th, body.evoixmobile table.dataTable tbody td {
	padding:13px 3px;
}

body.evoixmobile .mobileview table.patientlist tbody tr td.status img {
	margin-top:0;
}

body.evoixmobile .mobileview table.patientlist tbody tr td {
	height:35px;
}

body.evoixmobile .mobileview table.patientlist thead tr th, body.evoixmobile .mobileview table.patientlist thead tr td {
	height:30px;
}

/*top tabs nav fix*/
.mobileview .patientoveralllistNavigation {
	
}
body.evoixmobile .mobileview .patientoveralllistNavigation a {
	line-height:42px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:0.5pt;
	color:#0063dd;
}
body.evoixmobile .mobileview .patientoveralllistNavigation a.active {
	color:#ffffff;
}


body.evoixmobile .btnSwitchToDesktop {
	float:none;
	position:absolute;
	right:0;
	top:0;
 
}

body.evoixmobile .mobileheader .btnSearch.btnOpenSearch {
	width:23px;
	height:23px;
	background:url(images/btn-search.svg) 50% 50% no-repeat;
	background-size:23px auto;
	cursor:pointer;
	display:block;
	position:absolute;
	top:4px;
	left:10px;
	float:none;
}



/*pagination*/
body.evoixmobile .dataTables_wrapper .fg-toolbar.ui-toolbar  {
 
  box-shadow: -4.226px -9.063px 40px 0px rgba(135, 135, 135, 0.36);
	background:#eeeeee;
	border-radius:0;
	border:0;
	position:relative;
  
}
body.evoixmobile .mobileview .dataTables_wrapper .dataTables_length {
	height:46px;
}
body.evoixmobile .mobileview .dataTables_wrapper .dataTables_length select
 {
	border: 1px solid #bbbbbb;
    color: #3f3f3f;
    width: 100%;
    height: 40px;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 6px;
    display: inline-table;
    margin-bottom: 15px;
    outline: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 12px;
	
	background: #ffffff url(images/dropdown.svg) calc(100% - 12px) 50% no-repeat;
    background-size: 20px auto;
    
    text-overflow: ellipsis;
	 
	
}






body.evoixmobile .mobileview .dataTables_wrapper .dataTables_paginate {
	margin-right:0;
}

body.evoixmobile .mobileview .dataTables_wrapper .dataTables_paginate .paginate_middle_text  {
	border-radius:6px;
	border:1px solid #bbbbbb;
	height:40px;
	width:60px;
	min-width:auto;
	float:left;
	font-family:'Open Sans', sans-serif;
	color:#3f3f3f;
	font-size:16px;
	letter-spacing:0;
	padding:8px;
	margin:0;
	margin-top:2px;
	background:#eeeeee;
}
body.evoixmobile .mobileview .dataTables_wrapper .dataTables_paginate .fg-button:first-child, body.evoixmobile .mobileview .dataTables_wrapper .dataTables_paginate .fg-button:last-child {
	background:transparent;
	font-size:0;
	width:36px;
	height:36px;
	float:left;
	background-size:14px auto;
	background-position:50% 50%;
	background-repeat:no-repeat;
	
	
}
/* paginate_disabled_previous  */
body.evoixmobile .mobileview .dataTables_wrapper .dataTables_paginate .paginate_enabled_previous  {
	background-image:url(images/prev_blue.svg) !important;
}
body.evoixmobile .mobileview .dataTables_wrapper .dataTables_paginate .paginate_enabled_next {
	background-image:url(images/next_blue.svg) !important;
}

body.evoixmobile .mobileview .dataTables_wrapper .dataTables_paginate .paginate_disabled_previous  {
	background-image:url(images/prev_gray.svg) !important;
}
body.evoixmobile .mobileview .dataTables_wrapper .dataTables_paginate .paginate_disabled_next {
	background-image:url(images/next_gray.svg) !important;
}

body.evoixmobile .mobileview .patientinfo {
	width:calc(100% - 80px);
	 
}
body.evoixmobile .mobileview .patientinfo .status {
	right:-43px;
}

 

body.evoixmobile .mobileview .iconbar {
    width: 100%;
	box-sizing:border-box;
    display: inline-table;
    background: #edf1f6;
    padding: 21px;
    padding-bottom: 6px;
    padding-right: 11px;
    position: relative;
}

body.evoixmobile .mobileview .iconbar .patient_icon_cell.assign_custom_icon, 
body.evoixmobile .mobileview .iconbar .patient_icon_cell.custom_icon_assigned, 
body.evoixmobile .mobileview .iconbar .patient_icon_cell.available, 
body.evoixmobile .mobileview .iconbar .iconitem {
	box-shadow: 2.828px 2.828px 5px 0px rgba(25, 25, 25, 0.1);	

}

body.evoixmobile .mobileview .iconbar .patient_icon_cell.assign_custom_icon {
	width:60px;
	height:60px;
}
body.evoixmobile .mobileview .iconbar .patient_icon_cell.assign_custom_icon img {
	margin-top:-22px;
}





body.evoixmobile .datein.dokumente table.patientfiles tr td.filename {
	 padding-left:0;  
}
body.evoixmobile .datein.dokumente table.patientfiles tr td.filename .filetags {
	display:none;
}
body.evoixmobile .datein.dokumente .doc .btnDelete {
	min-width:32px;
	width:32px;
	float:right;
}

body.evoixmobile .mobileview .etagcontainer  .etiketenTags .btnDropdown {
	top:16px;
	right:15px;
}

body.evoixmobile .etagcontainer .etiketenTags {
	width:calc(100% - 61px);
	position:relative;
	float:left;
	display:inline-table;
}
body.evoixmobile .datein.dokumente {
	 /*  margin-right:10px; */
	margin-left:20px;
	width:calc(100% - 40px);  
	 
	box-sizing:border-box;
	display:block;
}

/* body.evoixmobile .datein.uploadfiles .datein.dokumente {
	width:calc(100% - 20px);
	margin-left:10px;
} */

body.evoixmobile .etagcontainer {
	width:100%;
	display:inline-table;
	}
body.evoixmobile .etagcontainer .sorting_arrows {
	display:inline-table;
	float:left;
	z-index:10;
	position:relative;
}	


body.evoixmobile .etagcontainer .sorting_arrows select {
	float:left;
	margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #2d7ee1;
	border-radius:6px;
	height:51px;
	width:51px;
	margin-left:10px;
	outline:none;
	 
	 -webkit-appearance: none;
    box-sizing: border-box;
	line-height:199px !important;
	background:url(images/sorting_arrows.svg) 50% 50% no-repeat;
	background-size:25px auto;
	box-sizing:border-box;
	color:rgba(0,0,0,0);
}
body.evoixmobile .etagcontainer .sorting_arrows select option {
	color:#000;
}
/*@cla*/
body.evoixmobile .etagcontainer .sorting_arrows select option.selected {
    font-weight: bold
}



body.evoixmobile .mobileview .datein.uploadfiles .etiketenTags {
	padding-left:0;
	background:#ffffff;
}

body.evoixmobile .mobileview .datein.uploadfiles {
	/* padding-left:10px;
	padding-right:10px; */
	box-sizing:border-box;
}


/*dropdown*/
body.evoixmobile .chosen-container .chosen-drop {
	background:transparent;
	border:0;
	margin-bottom:20px;
	margin-top:5px;
	width:calc(100% + 35px);
}
/*@cla*/
body.evoixmobile .verlauf.addrecord .chosen-container .chosen-drop {
    background:#fff;
    width:300px;
}

body.evoixmobile .chosen-container-multi .chosen-results {
	border-radius:6px;
  background-color: #ffffff;
  box-shadow: 4.788px 13.156px 59px 0px rgba(25, 25, 25, 0.34);
  padding-bottom:15px;
 
}

body.evoixmobile .mobileview .etiketenTags .chosen-drop .chosen-results li.group-result {
	text-transform:uppercase;
	padding:10px 15px;
	font-weight:bold;
}

body.evoixmobile .mobileview .etiketenTags .chosen-drop .chosen-results li.active-result.group-option {
	padding:2px 15px;
	
}
body.evoixmobile .mobileview .etiketenTags .chosen-drop .chosen-results li.active-result.group-option.highlighted {
	background:none;
}

body.evoixmobile .mobileview .etiketenTags .chosen-drop .chosen-results li.active-result.group-option .client_tags {
	background:#ebedee;
	border:0;
	color:#6e6e6e;
	font-size:17px;
	font-weight:300;
}
body.evoixmobile .mobileview .etiketenTags .chosen-drop .chosen-results li.active-result.group-option span.system_tags {
	background:#d1e6ff;
	color:#0063dd;
	border:0;
}

body.evoixmobile .mobileview .etiketenTags .chosen-drop .chosen-results li.active-result.group-option.highlighted .client_tags {
	color:#ebedee;
	background:#6e6e6e;
}
body.evoixmobile .mobileview .etiketenTags .chosen-drop .chosen-results li.active-result.group-option.highlighted span.system_tags {
	color:#d1e6ff;
	background:#0063dd;
}


body.evoixmobile .mobileview .etiketenTags span.system_tags, body.evoixmobile .mobileview .etiketenTags span.client_tags {
  
    -moz-border-radius: 6px;
    -webkit-border-right-radius: 6px;
    border-radius: 6px;
    padding: 2px 5px 2px 8px;
}
.tagsheader {
	padding-bottom:0;
	line-height:25px;
	margin-left:20px;
	
}

body.evoixmobile .chosen-container.chosen-container-multi.chosen-container-active {
	width:calc(100% - 33px) !important;
}

body.evoixmobile .mobileview .etiketenTags .chosen-drop .chosen-results li, body.evoixmobile .datein.dokumente .etiketenTags .chosen-choices li.search-choice {
	background:transparent;
	box-shadow:0;
	padding:0;
	height:auto;
 
	border:0;
	padding-right:0;
	margin-bottom:0;
	
	
}
body.evoixmobile .datein.dokumente .etiketenTags .chosen-choices {
	margin-top:6px;
	margin-bottom:0px;
	min-height:40px;
	 
}
body.evoixmobile .datein.dokumente .etiketenTags .chosen-choices {
	line-height:40px;
}
body.evoixmobile .datein.dokumente .etiketenTags .chosen-choices li.search-choice span {
	display:inline-table;
	width:100%;
	border:0;
	
}
body.evoixmobile .datein.dokumente .etiketenTags .chosen-choices li.search-choice span .choice {
		padding: 3px 5px 3px 8px;
		padding-right:35px;
		font-size:16px;
		line-height:22px;
}
body.evoixmobile .datein.dokumente .etiketenTags {
	/* background-color:#ffffff; */
}
body.evoixmobile .datein.dokumente .etiketenTags .chosen-choices li.search-choice span .choice.system_tags {
	background:#d1e6ff;
	color:#0063dd;
}
body.evoixmobile .datein.dokumente .etiketenTags .chosen-choices li.search-choice span .choice.client_tags {
	background:#ebedee;
 
	color:#6e6e6e;
}


body.evoixmobile .mobileview .datein.dokumente .etiketenTags .chosen-choices li.search-choice .search-choice-close {
	width:14px;
	height:14px;
	position:absolute;
	float:none;
	top:calc(50% - 7px);
	right:10px;
}
 
body.evoixmobile .mobileview .chosen-container .chosen-choices li.search-field input[type="text"] {
	padding-left:5px;
} 
 


body.evoixmobile .etagcontainer .chosen-container.chosen-with-drop .chosen-drop {
	margin-left: -50px;
    width: calc(100% + 85px) !important;
	border-radius:6px;
}

body.evoixmobile .etagcontainer .chosen-container.chosen-with-drop .chosen-drop ul {
	padding:15px;
	background:#ffffff;
	border-radius:6px;
 
}
body.evoixmobile .etagcontainer .chosen-container.chosen-with-drop .chosen-drop ul li.active-result {
	margin:0;
	padding:0;
	float:none;
	box-sizing:border-box;
	display:inline-table;
	width:100%;
	min-height:36px;
	height:36px;
	}
body.evoixmobile .etagcontainer .chosen-container.chosen-with-drop .chosen-drop ul li > span {
	border:0;
	display:inline-table;
	width:100%;
	font-size:16px;
  float:left;
	height:36px;
	box-sizing:border-box;
	position:relative;
	padding-right:35px;
	
}
body.evoixmobile .etagcontainer .chosen-container.chosen-with-drop .chosen-drop ul li > span.system_tags {
	    background: #d1e6ff;
    color: #0063dd;
}
body.evoixmobile .etagcontainer .chosen-container.chosen-with-drop .chosen-drop ul li > span.client_tags {
	background: #ebedee;
 
    color: #6e6e6e;
}


body.evoixmobile .etagcontainer .chosen-container.chosen-with-drop .chosen-drop ul li > span > span {
	 
	min-height:30px;
	box-sizing:border-box;
	right:5px;
	top:calc(50% - 15px);
	position:absolute;
	 
}

/*status*/
body.evoixmobile .status {
	position:relative;
	z-index:99;
}
body.evoixmobile .mobileview .patientinfo .status .other_lights {
	height:180px;
	width:69px;
	top:28px;
	left:-10px;
	padding-top:10px;
	border:0;
	box-sizing:border-box;
					 
	background-color: #edf1f6;
	box-shadow: 4.788px 13.156px 59px 0px rgba(25, 25, 25, 0.48);
					 
}
body.evoixmobile .mobileview .patientinfo .status .other_lights .patient_icon_cell {
	float:none;
	width:59px;
	margin-bottom:5px;
	position:relative;
}
body.evoixmobile .mobileview .patientinfo .status .other_lights .patient_icon_cell > img {
	top:auto;				
	}
body.evoixmobile .datein.uploadfiles h1 {
	margin-left:20px;
}
/* body.evoixmobile .mobileview .qq_file_uploader_placeholder {
	padding:0;
}	 */

body.evoixmobile .dataTables_scrollHead.ui-state-default {
	max-width:100vw;
}

	body.evoixmobile #content .speichern {
	 margin: 20px;
    width: calc(100% - 40px);
}


/*verlauf */	
body.evoixmobile ul.vListRecord li.vItem span, body.evoixmobile ul.vListRecord li.vItem span font {
	 word-wrap: break-word; 
	  word-break: break-all;

}



body.evoixmobile .verlauf.addrecord {
	padding:20px;
}
body.evoixmobile #content .verlauf.addrecord .speichern {
	margin: 0;
    width: 100%;
}
    