
.display_none{
    display: none;
}

/* one box wrapped */
.mobileview  div.contactform_dragvbox{
    
}
/* box header with legend and open/close toggler*/
.mobileview  div.contactform_dragvbox > .groupHeader{
    
}
/* box content*/
.mobileview  div.contactform_dragvbox > .contactform_dragvbox_content{
    
}


.mobileview  div.contactform_dragvbox > .contactform_dragvbox_content.collapsed{
    display: none;
}


.mobileview  div.contactform_dragvbox > .contactform_dragvbox_content.expanded {
    display:block;
}

 
.container .column.billable_days_option{
	display: none;
	width: 100%;
	float: left;;
}
.container .column.hidden_div{
	display: none;
}
.container .column.visible_div{
	display: block;
}

















/*@cla css*/
.SimpleTable {
    width:100%;
}
.mobileview .SimpleTable tr td {
    width:auto;
    padding-left :1px;
    padding-right :1px;
    
}



.mobileview .SimpleTable tr td.cell_on_newline,
.SimpleTable tr,
.SimpleTable td.print_column_first,
.SimpleTable td.selector_needle_freetext
{
    display:block;
}

.SimpleTable td.selector_needle_freetext {
    width:100%;
}


.mobileview .SimpleTable tr.display_none,
.mobileview .SimpleTable tr td.display_none{
     display: none;
}

.besuch .inputs .SimpleTable .cbrdList label {
    padding-top:3px;
}


.SimpleTable.create_form_infusion tr td:nth-child(3) {
    width:40%;
}

.SimpleTable .notes_InfusionRate td{
    width:calc(33% - 2px);
    display: inline-block;
}

.mobileview label.required:after {
   content:" *";
   color: #e32;
   display:inline;
}
.mobileview .label_same_size_auto label,
.mobileview label.label_same_size_auto,
.mobileview .label_same_size_100 label,
.mobileview label.label_same_size_100
{
    display: inline-block;
}
.mobileview .label_same_size_100 label,
.mobileview label.label_same_size_100  {
    width :100px;    
}
.mobileview .label_same_size_auto label,
.mobileview label.label_same_size_auto  {
    width :auto;    
}


.mobileview #contact_form .tags .chosen-container-active .chosen-choices{
    box-shadow:none;
}

.mobileview #contact_form .tags .chosen-drop .chosen-results  li{
    width:auto;
    margin-bottom: 0px;
    padding: 3px 6px;
}


.mobileview #contact_form .tags .chosen-container .chosen-choices{
    border:none;
    background:none;
    font-size :12px;    
}
.mobileview #contact_form .tags .chosen-container .chosen-drop .chosen-results li{
    font-size :14px;
    line-height: 24px;
}

.mobileview #contact_form .tags .chosen-container .chosen-choices li.search-choice
{
    background: #ebedee;
    border-radius: 5px;
    border:none;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 18px;
    color: #6e6e6e;
    font-family: 'Open Sans';
    
    padding:6px 30px 6px 6px;
    
    margin-top: 0px;
    margin-bottom: 9px;
    margin-right: 9px;
    height:30px;
}

.mobileview #contact_form .tags .chosen-container .chosen-choices li.search-choice .search-choice-close{
    top:0px;
    
    width:30px;
    height:30px;
    display:block;
    background:url(images/delete.svg) center center no-repeat;
    background-image: url(images/delete.svg)!important;
    
    background-size:12px auto!important;
  
    float:right;
    color: #fff;
}
