body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    /*
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    text-shadow: #fff 0px 1px 1px;
    */
}


.ui-dialog.ui-widget {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#popup_content.confirm {
    padding-left:3em;
    font-size: 18px;
}


/*@cla before unload blockUI*/
.blockUI.blockOverlay {
 
}
.blockUI.blockMsg {
       
    border: 1px solid red;
    padding: 15px;
    /*
    background-color: #000 !important;
    color: #fff !important;
    */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    opacity: .5;
    height: auto;

}

.blockMsg h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.spinner_square {
    z-index:9999;
    width: 40px;
    height: 40px;
    background-color: #62BBE8;
    border:1px solid #fff;
    
    margin: 20px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}






#livesearch_global_patient{
    box-shadow: 0px 1px 1px #FFF;
    border: 1px solid #CCC;
    border-radius: 2px;
    outline: none;
    background-color: #fff; 
    
    max-height: 400px;
    width:100%!important;
    left:0!important;
    top:111px! important;
    z-index: 999;
    overflow-y:auto;
    overflow-x:hidden;
}

#livesearch_global_patient table.patientlist {
    background-color: #fff;
}

#livesearch_global_patient table.patientlist tr.row::BEFORE {
    content: none;
}



#livesearch_global_patient table.patientlist td{
    padding: 4px 2px;
}

#livesearch_global_patient table.patientlist  thead tr {
    background:#edf1f6;
    font-size:14px;
    text-transform:uppercase;
    color:#000000;
    height:50px;
}
#livesearch_global_patient table.patientlist tbody tr.group_row {
    height:50px;
    border-bottom:1px solid #d4d4d4;
    color:#3f3f3f;
    font-size:15px;;
}
#livesearch_global_patient table.patientlist  tbody tr.odd {
    background:#ebedee;
}
#livesearch_global_patient table.patientlist  tbody tr.even {
    /*background:red;*/
}




/*@cla datatables page number buttons*/
.mobileview .dataTables_wrapper .dataTables_length {
    /*visibility:collapse;*/
    line-height: 30px;
    padding-top: 5px;
    border:0;
    float:left;
    width:80px;
    height:40px;
    overflow:hidden;
    
    outline: none;
        
}
.mobileview .dataTables_wrapper .dataTables_length select {
    /*visibility:visible;*/
    font-size:18px;
    line-height: 30px;
    height: 40px;
} 
.mobileview .dataTables_wrapper .dataTables_paginate {
    float :right;
    margin-top :0;
}

.mobileview .dataTables_wrapper .dataTables_paginate .fg-button {
    min-width: 4em;
    margin:2px;
}



/*details box when you click a patient icon*/
.mobileview .iconbar .tab-container .tab-content table{
    background-color: #fff;
    border-collapse: collapse;
    font-size: 14px;
    width:100%;
}
.mobileview .iconbar .tab-container .tab-content table tr{
    border:none;
    border-bottom: 1px solid #CCC;
}
.mobileview .iconbar .tab-container .tab-content table tr:nth-child(even) {
    background: #fafafa;
    
}
.mobileview .iconbar .tab-container .tab-content table tr:nth-child(odd) {
    background: #FFF
}



.mobileview .iconbar .tab-container .tab-content table th,
.mobileview .iconbar .tab-container .tab-content table td{
    padding:5px;
}

.mobileview .iconbar .tab-container .tab-content table th,
.mobileview .iconbar .tab-container .tab-content table td.first_row,
.mobileview .iconbar .tab-container .tab-content table thead th,
.mobileview .iconbar .tab-container .tab-content table thead td{
    background-color: #CCC;
}

.mobileview .iconbar .tab-container .tab-content table .colbold{
    font-weight: bold;
}

.mobileview .iconbar .tab-container .tab-content table thead th,
.mobileview .iconbar .tab-container .tab-content table thead td{
    
}
.mobileview .iconbar .tab-container .tab-content table tbody td{
    
}












/* all patients navigation buttons*/

.mobileview .patientoveralllistNavigation {
    width:90%;
    width:calc(100% - 20px);
    margin:10px;
    display:inline-table;
}
.mobileview .patientoveralllistNavigation a {
    
    width:33.3%;/*cause i only activated 3 buttons*/
    
    overflow:hidden;
    
    line-height:40px;
    font-size:14px;
    text-decoration :none;
    color:#000;
    padding:0 5px;
    display:block;
    float:left;
    border:1px solid #2d7ee1;
    box-sizing:border-box;
    text-align:center;
    height:45px;
    
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:auto 17px;
}

.mobileview .patientoveralllistNavigation a.active,
.mobileview .patientoveralllistNavigation a:active {
    background-color:#2d7ee1;
    color:#fff;
}
.mobileview .patientoveralllistNavigation a:first-child {
    border-right:0;
    border-radius:6px 0 0 6px;
}
.mobileview .patientoveralllistNavigation a:last-child {
    border-left:0;
    border-radius:0 6px 6px 0;
}




.mobileview .iconbar .vital_signs_icon_button {
    
} 







/*ispc-drop-down-fix.css*/
body.evoixmobile .mobileview .etiketenTags div.noresults {
    margin-left:0;
}
body.evoixmobile .mobileview .etiketenTags div.noresults .chosen-results {
    text-align:center;
}
body.evoixmobile .mobileview .etiketenTags div.noresults > ul.chosen-results > li.no-results {
    padding-top:10px;
}

body.evoixmobile .mobileview .etiketenTags div.noresults > ul.chosen-results > li.no-results .createNewTagBtn {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNyIgaGVpZ2h0PSIzNyIgdmlld0JveD0iMCAwIDM3IDM3Ij4gIDxkZWZzPiAgICA8c3R5bGU+ICAgICAgLmNscy0xIHsgICAgICAgIGZpbGw6ICMxNDcwZTA7ICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPHBhdGggaWQ9InBsdXMiIGNsYXNzPSJjbHMtMSIgZD0iTTIxMzMsNDkwNy44NWEzLjE0NSwzLjE0NSwwLDAsMS0zLjE0LDMuMTRoLTEyLjU3djExLjg3YTMuMTQsMy4xNCwwLDEsMS02LjI4LDB2LTExLjg3aC0xMS44N2EzLjE0LDMuMTQsMCwxLDEsMC02LjI4aDExLjg3di0xMi41N2EzLjE0LDMuMTQsMCwxLDEsNi4yOCwwdjEyLjU3aDEyLjU3QTMuMTM5LDMuMTM5LDAsMCwxLDIxMzMsNDkwNy44NVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMDk2IC00ODg5KSIvPjwvc3ZnPg==);
    background-position:10px 50%;
    background-repeat:no-repeat;
    background-size:15px auto;
    padding-left:30px;
}
body.evoixmobile .mobileview .etiketenTags div.noresults > ul.chosen-results > li.no-results .createNewTagBtn:active, body.evoixmobile .mobileview .etiketenTags div.noresults > ul.chosen-results > li.no-results .createNewTagBtn:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNyIgaGVpZ2h0PSIzNyIgdmlld0JveD0iMCAwIDM3IDM3Ij4gIDxkZWZzPiAgICA8c3R5bGU+ICAgICAgLmNscy0xIHsgICAgICAgIGZpbGw6ICNmZmY7ICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPHBhdGggaWQ9InBsdXN3IiBjbGFzcz0iY2xzLTEiIGQ9Ik0yMTMzLDQ4NDcuODVhMy4xNDUsMy4xNDUsMCwwLDEtMy4xNCwzLjE0aC0xMi41N3YxMS44N2EzLjE0LDMuMTQsMCwxLDEtNi4yOCwwdi0xMS44N2gtMTEuODdhMy4xNCwzLjE0LDAsMSwxLDAtNi4yOGgxMS44N3YtMTIuNTdhMy4xNCwzLjE0LDAsMSwxLDYuMjgsMHYxMi41N2gxMi41N0EzLjEzOSwzLjEzOSwwLDAsMSwyMTMzLDQ4NDcuODVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjA5NiAtNDgyOSkiLz48L3N2Zz4=);
}
/*ispc-drop-down-fix.css - end*/
              
              
              
/*@cla */
body.evoixmobile .mobileview .iconbar.iconbar_container {
    background-color: #fff;
    padding: 0;
    margin: 0;
    
}
.mobileview .iconbar.iconbar_container .iconbar_icons_container {
    background-color: #edf1f6;
    padding: 15px;
    width: 100%;
    
    
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
            
            
}
.mobileview .iconbar.iconbar_container .iconbar_iconexpandbar_container {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.mobileview .iconbar.iconbar_container .iconbar_iconexpandbar_container .iconexpandbar.collapsed{
    display:none;
}

.mobileview .iconbar.iconbar_container .iconbar_iconexpandbar_container .iconexpandbar ul.defaultContainer {
    margin:0;
    width:100%;
    margin-top: 5px;
}
.mobileview .iconbar.iconbar_container .iconbar_iconexpandbar_container .iconexpandbar ul.defaultContainer:FIRST-CHILD {
    margin-top: 15px;
}
.mobileview .iconbar.iconbar_container .iconbar_iconexpandbar_container .iconexpandbar ul.defaultContainer:LAST-CHILD {
    margin-bottom: 10px;
}


.mobileview .iconbar.iconbar_container .iconbar_iconexpandbar_container .iconexpandbar ul.defaultContainer li{
    width:100%;
}

/*todos completed are green, incompleted are red*/
.mobileview .iconbar.iconbar_container .iconbar_iconexpandbar_container .iconexpandbar ul.defaultContainer.tcomplete {
    background-color: #a8f1a8;;
}
.mobileview .iconbar.iconbar_container .iconbar_iconexpandbar_container .iconexpandbar ul.defaultContainer.tnotcomplete {
    background-color: #ffc0cb;    
}


.germination_icon_nocolor {
    background-color:#2fc2f2;   
}
.germination_icon_red {
    background-color:#ed3a2e;
}

/*copy from .btnDelete*/
div.btnClose{ 
    min-width: 32px;
    width: 32px;
    width: 100%;
    height: 20px;
    background: url(images/delete.svg) center center no-repeat;
    background-size: 17px auto;
    display: block;
}


.mobileview .besuch .inputs input[type=text] {
    padding-right:5px;
}

.evoixmobile .ui-timepicker-table td a {
    width:auto;
    padding:6px;
}

.mobileview .iconbar.iconbar_container .iconbar_iconexpandbar_container textarea.current_problem_text{
    width: 100%;
    display: none;
}
.mobileview .iconbar.iconbar_container .iconbar_iconexpandbar_container span.current_problem_text{
    display: block;
    width: 100%;
}