.mobileview .buttonbar.smallbuttons .btnBigBlue.active {
	background-image:url(images/besuch_active.svg);
}
.mobileview div.besuch {
	width: 100%;
    background: #edf1f6;
    display: inline-table;
	box-sizing:border-box;
}
h1.mobile.besuch  {
	margin:20px;
	 
}
h1.mobile.besuch span {
	font-weight:bold;
}
.besuch .infoblock {
	margin:0;
	padding:0;
	
}
.besuch .infoblock li {
	padding:0;
	margin:0;
	list-style:none;
	font-family:'Open Sans', sans-serif;
	border-bottom:1px solid #bbbbbb;
	padding:15px 20px;
	padding-left:70px;
}
 
.besuch .infoblock li.name {
	background:url(images/user_dark.svg) 20px 50% no-repeat;
	background-size:32px auto;
}
.besuch .infoblock li.address {
	background:url(images/location.svg) 20px 50% no-repeat;
	background-size:32px auto;
}
.besuch .infoblock li.number {
	background:url(images/number.svg) 22px 50% no-repeat;
	background-size:27px auto;
}
.besuch .infoblock li.date {
	background:url(images/date.svg) 20px 50% no-repeat;
	background-size:32px auto;
}
.besuch .infoblock li span {
	font-size:15px;
	text-transform:uppercase;
	letter-spacing:0.5pt;
	color:#6e6e6e;
	font-weight:600;
}
.besuch .infoblock li h2 {
	margin:0;
	padding:0;
	color:#303030;
	font-size:18px;
}

/*regular content*/
.besuch .inputs {
	display:inline-table;
	width:100%;
	box-sizing:border-box;
}
.besuch .inputs.white-section {
	background:#ffffff;
	padding:20px;
}

.besuch .container {
	display:inline-table;
	float:left;
	padding:20px;
	padding-bottom:10px;
	box-sizing:border-box;
	width:100%;
}

.besuch .inputs.whitecontainer {
	padding:10px;
}

.container.buttonContainer {
	padding:0 20px;
}

.besuch .inputs.whitecontainer .container {
	padding:10px;
	background:#ffffff;
	
	border:1px solid #afb7cb;
	border-radius:6px;
	margin-bottom:10px;
}

/* container - checkboxes list */

.besuch .inputs.whitecontainer .container.cblist {
	padding:0;
}
 
.besuch .container.cblist .expandableContainer .groupHeader {
	border-radius:6px 6px 0 0;
	border-top:0;
	margin:0;
	width:100%;
}
.besuch .container.cblist .expandableContainer .groupHeader.collapsed {
	border-bottom:0;
	border-radius:6px;
}




 

.besuch h3.header {
	font-size:15px;
	font-family:'Open Sans', sans-serif;
	color:#3f3f3f;
	letter-spacing:-0.25pt;
	margin:0;
	margin-top:5px;
	margin-bottom:15px;
	padding-left:10px;
	text-transform:uppercase;
	
}
.besuch h2.header {
	font-size:19px;
	font-weight:600;
	font-family:'Open Sans', sans-serif;
	color:#2d7ee1;
	letter-spacing:-0.25pt;
	margin:0;
	margin:20px;
	margin-bottom:5px;
	text-transform:uppercase;
	
}



.inputs.whitecontainer .container .lineSeparator {
	margin-left:-10px;
	margin-right:-10px;
	width:calc(100% + 20px);
	margin-bottom:15px;
}
.inputs.whitecontainer .container .lineSeparator.endseparator {
	width:100%;
	margin:0;
}


.container .column {
	position:relative;
	width:100%;
	display:inline-table;
}
.container .column label

 {
	display:inline-table;
	width:100%;
	box-sizing:border-box;
	font-size:14px;
	line-height:17px;
	font-weight:600;
	letter-spacing:-0.25pt;
	font-family:'Open Sans';
	color:#3f3f3f;
	margin-bottom:5px;
	padding-left:10px;
} 
.container.double {
	
}  
/*columnt types */
.container.double .col1, .container.double .col2 {
	width:calc(50% - 10px);
	display:inline-table;
	float:left;
}  
.container.double .colbuttons button {
	margin-right:10px;
}

.container.double .colDate .date, .container.double .colDate .select, .container.double .colDate .input {
	width:calc(100% - 55px);
	float:left;
	margin-right:10px;
}
.container .column .mType {
	background:#dde4ec;
	border-radius:6px;
	padding:3px 10px;
	display:inline-table;
	position:absolute;
	right:10px;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	color:#3f3f3f;
	top:10px;
}
.container .column .total {
	background:#dde4ec;
	width:100%;
	display:inline-table;
	border-radius:6px;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:23px;
	color:#3f3f3f;
	font-weight:600;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:10px;
}
.container .column .total > span {
	font-weight:700;
}

.container .column.withcheckbox {
	width:100%;
	display:inline-table;
}
.container .column.withcheckbox h3 {
	float:left;
	margin-top:3px;
	margin-right:25px;
}
.container .column.withcheckbox .cbrdList {
	float:left;
	width:auto;
	margin:0;
}


.container .column.colmed input[type=text] {
	padding-right:55px;
}

.container .column.colTime {
	display:inline-table;
	width:100%;
	margin-bottom:10px;
}
.container .column.colTime > .time {
	display:inline-table;
	width:100px;
	height:45px;
	background:#dde4ec url(images/clock.svg) 10px 50% no-repeat;
	background-size: 25px auto;
	line-height:45px;
	font-size:16px;
	font-weight:700;
	font-family:'Open Sans', sans-serif;
	color:#3f3f3f;
	padding-left:45px;
	box-sizing:border-box;
	border-radius:6px 0 0 6px;
	float:left;
	margin-right:1px;
}
.container .column.colTime > .dosierung {
	background:#dde4ec;
	display:inline-table;
	float:left;
	width:calc(100% - 101px);
	height:45px;
	line-height:auto;
	font-size:16px;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
	color:#3f3f3f;
	padding-left:15px;
	padding-top:12px;
	box-sizing:border-box;
	border-radius:0 6px 6px 0;
}


.container .column.fullwidth {
	width:100%;
	display:inline-table;
	float:left;
}
.besuch .inputs .container .column.multifields input[type=text] {
	margin-bottom:5px;
	
}
 
 
.container.double .col-sep {
	width:20px;
	min-width:20px;
	display:inline-table;
	float:left;
	font-size:14px;
	text-align:center;	 
	}
.container.double .col-sep span {
	margin-top:37px;
	display:block;
	font-family:'Open Sans';
	font-size:14px;
}


.container.double .col-sep-big {
	width:calc(50% + 10px);
	height:84px;
	min-width:20px;
	display:inline-table;
	float:left;
	font-size:14px;
	text-align:center;	 
	}
.container.double .col-sep-big span {
	margin-top:37px;
	display:block;
	font-family:'Open Sans';
	font-size:15px;
	text-align:left;
	padding-left:10px;
}

/*buttons*/
.container .column .btnDelete {
	width: 45px;
	height: 45px;
	border-radius: 6px;
	border: 1px solid #ff173d;
	float:left;
	background: transparent url(images/delete_red.svg) 50% 50% no-repeat;
	background-size:16px auto;
	outline:none;
	margin-bottom:15px;
}

.container .column .btnAdd {
	width: 45px;
	height: 45px;
	border-radius: 6px;
	border: 1px solid #1470e0;
	float:left;
	background: transparent url(images/plus_blue.svg) 50% 50% no-repeat;
	background-size:16px auto;
	outline:none;
	margin-bottom:15px;
}



.besuch .btnTextBlue {
	width:100%;
	height: 45px;
	border-radius: 6px;
	border: 1px solid #1470e0;
	font-size:16px;
	color:#1470e0;
	letter-spacing:-0.25pt;
	font-family:'Open Sans';
	background:transparent;
	outline:none;
	transition:background 0.3s;
	margin-bottom:10px;
}
.besuch .btnTextBlue:active {
	background:#1470e0;
	color:#ffffff;
	transition:background 0.3s;
}

.besuch .btnTextBlue.btnPDF {
	margin-top:20px;
	margin-bottom:0;
	font-weight:600;
	text-align:center;
}
.besuch .btnTextBlue.btnPDF span.icon {
	
	
	
	
	margin-right:0;
}
.besuch .btnTextBlue.btnPDF span {
	 background:url(images/pdf.svg) 0% 50% no-repeat; 
	 background-size: auto 25px; 
 
	width:130px;
	line-height:40px;
	padding-left:15px;
	height:40px;
	display:inline-block;
}


.besuch .inputs .btnMMI {
	position:absolute;
	right:22px;
	top:calc(50% - 21px);
	height:26px;
	padding:3px 8px;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	color:#ffffff;
	border-radius: 6px;
	background-color:#2d7ee1;
	border:0;
	outline:none;
	box-shadow: 2.394px 6.578px 24px 0px rgba(25, 25, 25, 0.34);
 }



.besuch .inputs .container .timeselect select {
	float:left;
	width:50%;
}
.besuch .inputs .container .timeselect select.first {
	border-radius:6px 0 0 6px;
}
.besuch .inputs .container .timeselect select.last {
	border-radius:0 6px 6px 0;
	border-left:0;
}
.besuch .inputs .container .colored {
	position:relative;
	display:inline-table;
	width:100%;
}
.besuch .inputs .container .colored .circle {
	width:20px;
	height:20px;
	border-radius:50%;
	display:block;
	position:absolute;
	top:calc(50% - 17px);
	left:15px;
}
.besuch .inputs .container .colored .prefix {
	width:30px;
	height:20px;
	 
	display:block;
	position:absolute;
	top:calc(50% - 17px);
	left:15px;
	 font-size: 15px;
    font-family: 'Open Sans', sans-serif;
	color:#bbbbbb;
}


 .besuch .inputs .container .colored select {
	 padding-left:45px;
 }
 .besuch .inputs .container .colored select option {
	 padding-left:0;
 }
.besuch .inputs input[type=text], .besuch .inputs select, .besuch .inputs textarea, .besuch .inputs .fieldDisabled {
	border: 1px solid #bbbbbb;
	color:#3f3f3f;
    width: 100%;
	height: 45px;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 6px;
    display:inline-table;
	margin-bottom:15px;
	 outline: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 12px;
	
	
	
 }
 
 
 
 
 
 
 
 .besuch .inputs input[type=text]:focus, .besuch .inputs select:focus, .besuch .inputs textarea:focus {
	 border: 1px solid #4895f5;
 }
 
 
 
.besuch .inputs textarea {
	height:80px;
	padding-top:7px;
	display:block;
}
.besuch .inputs textarea.big {
	height:160px;
}
   
.besuch .inputs select {   
    background: #ffffff url(images/dropdown.svg) calc(100% - 12px) 50% no-repeat;
    background-size: 20px auto;
	padding-right:45px;
	text-overflow:ellipsis;
}
 
.besuch .inputs .date {
	background: #ffffff url(images/date_blue.svg) calc(100% - 12px) 50% no-repeat;
    background-size: 20px auto;
 } 
.besuch .inputs .fieldDisabled {
	line-height:45px;
	background:#dde4ec;
	border:0;
}  
 
.besuch .inputs .fieldText {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color:#3f3f3f;
	width:100%;
	padding-bottom:15px;
	margin-top:-5px;
	padding-left:10px;
}
 
 
 
 
.besuch .inputs .extratext {
	display:inline-table;
	width:calc(100% - 55px);
	padding-right:10px;
	float:left;
	position:relative;
}
 .besuch .inputs .extratext input {
	 width:100%;
	 padding-right:65px;
 }
 
 
 
 
 
/* CHECKBOX / RADIO LIST*/ 








.besuch .inputs .cbrdList {
	margin:0;
	padding:0;
	margin-top:10px;
	margin-bottom:5px;
	display:inline-table;
	width:100%;
}
.besuch .inputs .cbrdList li {
	list-style:none;
	margin-bottom:15px;
	width:100%;
	display:inline-table;
}
.besuch .inputs .cbrdList li > ul {
	margin:0;
	padding:0;
	display:inline-table;
	width:calc(100% - 25px);
	padding-left:25px;
	padding-top:15px;
}
.besuch .inputs .cbrdList li > ul:last-child > li:last-child {
	margin-bottom:0;
}

 


.besuch .inputs .cbrdList.double li {
	width:50%;
	float:left;
}
.besuch .inputs .cbrdList.double.yn li {
	width:auto;
	float:left;
}


.besuch .inputs .cbrdList li.extrainput {
	padding-top:8px;
}
.besuch .inputs .cbrdList li.extrainput > input[type="text"] {
	 float:right;
	 width:calc(100% - 80px);
	 margin-bottom:0;
	 margin-top:-8px;
}



.besuch .inputs .cbrdList input[type="checkbox"],
.besuch .inputs .cbrdList input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.besuch .inputs .cbrdList label {
  position: relative;
  display: inline-block;
  padding: 5px 10px 0px 37px;
  height: 27px;
  line-height: auto;
  cursor: pointer;
  font-size:15px;
  font-family:'Open Sans', sans-serif;
  
  letter-spacing:0;
  font-weight:500;
  
  color:#6d7680;
   
 
}
.besuch .inputs .container .column .cbrdList label {
	padding-left:35px;
	font-weight:300;
	margin-bottom:0;
	width:auto;
}

.besuch .inputs .cbrdList label::before,
.besuch .inputs .cbrdList label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27px;
  height: 27px;
}

.besuch .inputs .cbrdList label::before {
  content: " ";
  border: 1px solid #bbbbbb;
  background:#fff;
  border-radius: 20%;
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	 

}
 

/* Checkbox */
.besuch .inputs .cbrdList input[type="checkbox"] + label::after {
  content: " ";
   
  background: url("images/checkmark.svg") 50% 50% no-repeat;
  background-size:18px auto;
  
  color: #FFFFFF;
  line-height: 22px;
  text-align: center;
  
  
}


/* Radio */
.besuch .inputs .cbrdList label.radios:before ,
.besuch .inputs .cbrdList input[type="radio"] + label::before {
  border-radius: 50%;
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.besuch .inputs .cbrdList input[type=radio] + label::after {
  content: " ";
  top: 6px;
  left: 6px;
  width: 15px;
  height: 15px;
  background: #2d7ee1;
  border: 0;
  border-radius: 50%;
}
/* :checked */
.besuch .inputs .cbrdList input[type="checkbox"]:checked + label::before,
.besuch .inputs .cbrdList input[type="radio"]:checked + label::before {
  background: #2d7ee1;
  border-color: #2d7ee1;
  
}
.besuch .inputs .cbrdList input[type="radio"]:checked + label::before {
	background:#ffffff;
	
}

.besuch .inputs .cbrdList input[type="checkbox"] + label::after,
.besuch .inputs .cbrdList input[type=radio] + label::after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.besuch .inputs .cbrdList input[type="checkbox"]:checked + label::after,
.besuch .inputs .cbrdList input[type=radio]:checked + label::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* Transition */
.besuch .inputs .cbrdList label::before,
.besuch .inputs .cbrdList label::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}


.besuch .inputs .cbrdList input[type="checkbox"]:checked + label,
.besuch .inputs .cbrdList input[type="radio"]:checked + label{
 font-weight:700 !important;  
 letter-spacing:0pt;
 
 /* text-shadow:0px 0px 1px black; */
}
/*disabled*/
.besuch .inputs .cbrdList.disabled label::before {
	border-color:#f0f0f0;
}

.besuch .inputs .cbrdList.disabled input[type="checkbox"]:checked + label::before,
.besuch .inputs .cbrdList.disabled input[type="radio"]:checked + label::before {
  background: #f0f0f0;
  border-color: #f0f0f0;
}

.besuch .inputs.whitecontainer .container.cblist .cbrdList {
	margin:0;
}
.besuch .inputs.whitecontainer .container.cblist .cbrdList li {
	padding-left:10px;
	padding-top:17px;
	padding-bottom:17px;
	border-bottom:1px solid #b3bcd2;
	margin-bottom:0;
	box-sizing:border-box;
}

.besuch .inputs.whitecontainer .container.cblist .cbrdList li:last-child {
	border-bottom:0;
}

.besuch .inputs.whitecontainer .container.cblist .cbrdList li .separate {
	width:100%;
	display:inline-table;
	margin-bottom:15px;
}
.besuch .inputs.whitecontainer .container.cblist .cbrdList li .separate:last-child {
	margin-bottom:0;
}
.besuch .inputs.whitecontainer .container.cblist .cbrdList li.highlight {
	background:#ffffec;
}
 

.besuch .inputs.whitecontainer .container.cblist .cbrdList li > ul {
	margin:0;
	padding:0;
	width:calc(100% + 10px);
	margin-left:-10px;
	margin-top:17px;
	margin-bottom:-17px;
	border-top:1px solid #b3bcd2;
	display:inline-table;
	background:#fff;
	
}

.besuch .inputs.whitecontainer .container.cblist .cbrdList li > ul > li {
	margin:0;
	padding:0;
	width:100%;
	display:inline-table;
	padding-left:35px;
	padding-top:17px;
	padding-bottom:17px;
	
}

.besuch .inputs.whitecontainer .container.cblist .cbrdList:last-child li.highlight:last-child, .besuch .inputs.whitecontainer .container.cblist .cbrdList:last-child li.highlight:last-child ul {
 
	border-radius:0 0 6px 6px;
	
}

.besuch .inputs.whitecontainer .container.cblist .cbrdList li h3.header {
	margin:0;
	padding-right:10px;
}
.besuch .inputs.whitecontainer .container.cblist .cbrdList li .subheader {
	margin:0;
	padding:0;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	font-weight:600;
	color:#3f3f3f;
	margin-left:10px;
	margin-bottom:15px;
}


























 
 
 

.groupHeader {
	width:100%;
	display:inline-table;
	position:relative;
	box-sizing:border-box;
	border-top:1px solid rgb(187, 187, 187);
	border-bottom:1px solid rgb(187, 187, 187);
	background-color: rgb(245, 243, 245);
	box-shadow: 6.157px 7.88px 40px 0px rgba(135, 135, 135, 0.36);
	
	color:#0667de;
	font-size:21px;
	font-weight:500;
	font-family:'Open Sans', sans-serif;
	letter-spacing:-0.5pt;
	
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:60px;
}
.groupHeader.small {
	font-size:15px;
	text-transform:uppercase;
	font-weight:600;
	
	margin-left:-10px;
	margin-right:-10px;
	width:calc(100% + 20px);
	background:#eeeeee;
	box-shadow:none;
	border-color:#b3bcd2;
	
}
 
.expandableContainer {
	display:inline-table;
	width:100%;
}
.expandableContainer .groupHeader.small {
	margin-bottom:15px;
}
 
 
 
.groupHeader .btnControl {
	position:absolute;
	right:20px;
	width:20px;
	height:20px;
	top:calc(50% - 10px);
	background-color:transparent;
	border:0;
	outline:none;
} 
 
.groupHeader.expanded .btnControl {
	background:url(images/minus.svg) 50% 50% no-repeat;
	background-size:20px auto;
}
 
.groupHeader.collapsed .btnControl {
	background:url(images/plus_blue.svg) 50% 50% no-repeat;
	background-size:20px auto;
}
 
 
.besuch .lineSeparator {
	display:inline-table;
	box-sizing:border-box;
	width:100%;
	height:1px;
	border-bottom:1px dashed #464646;
}
 

 /*tags*/
 
.besuch .inputs .container .tags {
	width:100%;
	 
	box-sizing:border-box;
	margin-bottom:15px;
	height:50px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	border-radius:6px;
	padding:9px 9px 0px 9px;
	position:relative;
	display:inline-table;
	
}
.besuch .inputs .container .tags .tag {
	background:#ebedee;
	border-radius:5px;
	display:block; 
	float:left;
	font-size:14px;
	color:#6e6e6e;
	font-family:'Open Sans';
	padding:6px;
	margin-top:0px;
	margin-bottom:9px;
	margin-right:9px;
 
}
.besuch .inputs .container .tags .tag a.btnDeleteTag {
	width:20px;
	height:20px;
	display:block;
	background:url(images/delete.svg) 50% 50% no-repeat;
	background-size:10px auto;
	float:right;
}
.besuch .inputs .container .tags .btnDropdown {
	position:absolute;
	right:10px;
	top:calc(50% - 10px);
	background: transparent url(images/dropdown.svg) 50% 50% no-repeat;
    background-size: 20px auto;
	display:block;
	width:20px;
	height:20px;
}

 
 
 
 