 #ap-sidebar ul#menu {
/* 	Cristian 22.01.2019 START */
	height: 90vh;
	overflow-y: scroll;
/* 	Cristian 22.01.2019 END*/
}

/* 	Cristian 22.01.2019 START */
#ap-sidebar .panel {    height: 90vh;}
/* 	Cristian 22.01.2019 END*/

 



#ap-sidebar ul#menu li a {
	font-size:11px;
}




/* Cristian 22.01.2019  START*/
@media(device-width: 768px) and (device-height: 1024px){
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 4px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(227, 229, 235, 0.5);
    }
}
/* Cristian 22.01.2019  END */