.dataTables_scrollBody .medication_table_actual tr td:nth-child(2),
.dataTables_scrollBody .medication_table_isbedarfs tr td:nth-child(2),
.dataTables_scrollBody .medication_table_iscrisis tr td:nth-child(2),
.dataTables_scrollBody .medication_table_isivmed tr td:nth-child(2),
.dataTables_scrollBody .medication_table_isnutrition tr td:nth-child(2){
	border-right:none;
	padding-right:2px!important;
	
}
.dataTables_scrollBody .medication_table_actual tr td:nth-child(3),
.dataTables_scrollBody .medication_table_isbedarfs tr td:nth-child(3),
.dataTables_scrollBody .medication_table_iscrisis tr td:nth-child(3),
.dataTables_scrollBody .medication_table_isivmed tr td:nth-child(3),
.dataTables_scrollBody .medication_table_isnutrition tr td:nth-child(3){
	border-left:none;
	padding-left:2px!important;
}



.dataTables_scrollHead .medication_table_actual thead tr:nth-child(1) th:nth-child(2),
.dataTables_scrollHead .medication_table_isbedarfs thead tr:nth-child(1) th:nth-child(2),
.dataTables_scrollHead .medication_table_iscrisis thead tr:nth-child(1) th:nth-child(2),
.dataTables_scrollHead .medication_table_isivmed thead tr:nth-child(1) th:nth-child(2),
.dataTables_scrollHead .medication_table_isnutrition thead tr:nth-child(1) th:nth-child(2){
	border-bottom:none;
	border-right:none;
}
.dataTables_scrollHead .medication_table_actual thead tr:nth-child(2) th:nth-child(2),
.dataTables_scrollHead .medication_table_isbedarfs thead tr:nth-child(2) th:nth-child(2),
.dataTables_scrollHead .medication_table_iscrisis thead tr:nth-child(2) th:nth-child(2),
.dataTables_scrollHead .medication_table_isivmed thead tr:nth-child(2) th:nth-child(2),
.dataTables_scrollHead .medication_table_isnutrition thead tr:nth-child(2) th:nth-child(2){
	border-top:none;
	border-right:none;
}

.dataTables_scrollHead .medication_table_actual thead tr:nth-child(1) th:nth-child(3),
.dataTables_scrollHead .medication_table_isbedarfs thead tr:nth-child(1) th:nth-child(3),
.dataTables_scrollHead .medication_table_iscrisis thead tr:nth-child(1) th:nth-child(3),
.dataTables_scrollHead .medication_table_isivmed thead tr:nth-child(1) th:nth-child(3),
.dataTables_scrollHead .medication_table_isnutrition thead tr:nth-child(1) th:nth-child(3){
	border-bottom:none;
	border-left:none;
}
.dataTables_scrollHead .medication_table_actual thead tr:nth-child(2) th:nth-child(3),
.dataTables_scrollHead .medication_table_isbedarfs thead tr:nth-child(2) th:nth-child(3),
.dataTables_scrollHead .medication_table_iscrisis thead tr:nth-child(2) th:nth-child(3),
.dataTables_scrollHead .medication_table_isivmed thead tr:nth-child(2) th:nth-child(3),
.dataTables_scrollHead .medication_table_isnutrition thead tr:nth-child(2) th:nth-child(3){
	border-top:none;
	border-left:none;
}

