@CHARSET "UTF-8";
/* Pagination DIV */
#pg,
#pg-bottom
{
width: 700px;
background-color: #FFFFFF;
text-align: center;
font-size: 10px;
margin-bottom: 5px;
padding: 10px;
}

/* Pagination Link */
#pg a,
#pg-bottom a  {
font-size: 12px;
text-decoration: none;
color: #000000;
background: #f7f7f7;
border: 1px solid #000;
padding: 8px;
margin: 0 5px 0 5px;
display:inline;
}

#pg a:hover,
#pg-bottom a:hover {
font-size: 12px;
text-decoration: none;
color: #000000;
border: 1px solid #000000;
background-color: #e7e7e7;
padding: 8px;
margin: 0 5px 0 5px;
display:inline;
}

/* Pagination Current Page */

#pg a.current, 
#pg-bottom a.current  {
font-size: 12px;
text-decoration: none;
font-weight: bold;
color: #000;
border: 1px solid #000;
background-color: #cccccc;
padding: 8px;
margin: 0 5px 0 5px;
display:inline;
}

/* Pagination Disabled Page */

#pg span.disabled, 
#pg-bottom span.disabled  {
font-size: 12px;
text-decoration: none;
color: #C6C7C7;
border: 1px solid #C6C7C7;
background-color: white;
padding: 8px;
margin: 0 5px 0 5px;
}
