#portamento_container {
	position: relative;
	z-index: 9999;
	background: #cdd;
}

#portamento_container #pmenu_container {
	
}

#portamento_container .sf-menu {
	
}

.floating_patient_header {
	display: none;
}

#portamento_container #pmenu_container.fixed, #portamento_container .sf-menu.fixed
	{
	position: fixed;
	width: 800px;
}

#portamento_container #pmenu_container.fixed .floating_patient_header {
	display: block;
}

#portamento_container #pmenu_container.fixed {
	background: #f3f3f3;
	border: 1px solid #000;
}

#portamento_container  .sf-menu.fixed {
	background: #ffffff;
	border: 0px solid #000;
/* 	background: #f3f3f3; */
/* 	border: 1px solid #000; */
	border-top: 0px;
	padding-bottom: 5px;
}

.pm_table {
	width: 99%;
	margin-left: 1px;
}

.pm_table td {
	vertical-align: middle;
	border: 1px solid #000;
	background: #fff;
	padding: 2px;
}

.pm_table td.pname_label {
	font-weight: 800;
	background: #f3f3f3;
}