@CHARSET "ISO-8859-1";

/*---------------------Verlauf print start -------------------------------*/

#verlauf_print_c {
}

#verlauf_print {
}
.datepick-popup {
    z-index: 9000;
}
.setcolor {
}
.setfilter {

}
.setsize {

}
.daterow {
	display: block;
	width: 100%;
	clear: both;
}
.daterow  label{
	display: block; 
	float: left;
	font-size: 14px; 
	width: 130px;
}
.daterow  input['type="checkbox"']{
	display: block; 
	float: left;
	font-size: 14px; 
	width: 100px;
}
.daterow  input[type="text"]{
	display: block; 
	float: left;
	font-size: 14px; 
	width: 100px;
}
.daterow  select#fontsize{
	display: block; 
	float: left;
	font-size: 12px; 
	width: 105px;
}
.filters {
	margin-top:10px;
	display: block;
	float: left;
	
}
/* unul sub altul*/
/*.filters label {*/
/*	display: block; */
/*	float: left;*/
/*	font-size: 14px; */
/*	width: 130px;*/
/*}*/
/*.short_block {*/
/*	float:left;*/
/*	width:180px;*/
/*}*/
/*.short_block  div {*/
/*	float: left;*/
/*	display: block;*/
/*	clear:both;*/
/*}*/
/*intinse pe randuri*/

.filters label {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 28px;
    width: 100%; 
	border-bottom:1px solid #000;
}
.short_block {
	float:left;
	width:100%;
}
.short_block  div {
	float: left;
	width: 175px;
	display: block;
}
/*---------------------Verlauf print end -------------------------------*/
/*LOAD GLOBAL JQUERY UI TEME*/
/*
 Course print new css based on jquery ui blue/light green  theme 
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #fff;
	color: #333333;
}

.ui-widget-header {
	border: 1px solid #64a1e2;
	background: #64a1e2;
	color: #ffffff;
	font-weight: bold;
}

.ui-state-default,.ui-widget-content .ui-state-default {
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
		height: 43px;
	display: block;
		width: 263px;
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited
	{
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 43px;
	display: block;
	width: 263px;
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus
	{
	border: 1px solid #c8c8c8;
	background: #eaf8c5;
	font-weight: bold;
	color: #64a1e2;
	outline: none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus
	{
	cursor: pointer;
}

.ui-state-hover a,.ui-state-hover a:hover {
	cursor: pointer;
}

.ui-state-active,.ui-widget-content .ui-state-active {
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
		height: 43px;
	display: block;
		width: 263px;
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 43px;
	display: block;
	width: 263px;
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.ui-icon {
	width: 16px;
	height: 16px;
}

.ui-widget-content .ui-icon {
	backgroun: transparent
}

.ui-dialog .ui-dialog-content {
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 0px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane button {
	float: none;
	width: 263px;
	margin: auto;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	line-height: 1.4em;
	overflow: visible;
	cursor: pointer;
}*/

.no-color {
	color: #000;
	background-color: #fff;
}

.ts-large {
	font-size: medium;
}

.ts-larger {
	font-size: large;
}
