/* Reports new css based on jquery ui blue/light green  theme */
.reports_dialog 
{
	background: #fff!important;
}


.reports_dialog .ui-widget-content {
	background: #fff;
	color: #333333;
}

.reports_dialog .ui-widget-header {
	border: 1px solid #64a1e2;
	background: #64a1e2;
	color: #ffffff;
	font-weight: bold;
}

.reports_dialog .ui-state-default,
.reports_dialog .ui-widget-content .ui-state-default {
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*	height: 43px;*/
/*	display: block;*/
	/*	width: 263px;*/
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.reports_dialog .ui-state-default a,
.reports_dialog .ui-state-default a:link,
.reports_dialog .ui-state-default a:visited
	{
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
/*	height: 43px;*/
/*	display: block;*/
/*	width: 263px;*/
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.reports_dialog .ui-state-hover,
.reports_dialog .ui-widget-content .ui-state-hover,
.reports_dialog .ui-state-focus,
.reports_dialog .ui-widget-content .ui-state-focus
	{
	border: 1px solid #c8c8c8;
	background: #eaf8c5;
	font-weight: bold;
	color: #64a1e2;
	outline: none;
}

.reports_dialog .ui-state-hover,
.reports_dialog .ui-widget-content .ui-state-hover,
.reports_dialog .ui-state-focus,
.reports_dialog .ui-widget-content .ui-state-focus
	{
	cursor: pointer;
}

.reports_dialog .ui-state-hover a,
.reports_dialog .ui-state-hover a:hover {
	cursor: pointer;
}

.reports_dialog .ui-state-active,
.reports_dialog .ui-widget-content .ui-state-active {
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*	height: 43px;*/
/*	display: block;*/
	/*	width: 263px;*/
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.reports_dialog .ui-state-active a,
.reports_dialog .ui-state-active a:link,
.reports_dialog .ui-state-active a:visited {
	background: -moz-linear-gradient(top, #eaf8c5, #eaf8c5);
	background: -webkit-gradient(linear, center bottom, center top, from(#eaf8c5),
		to(#eaf8c5) );
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
/*	height: 43px;*/
	display: block;
/*	width: 263px;*/
	font-weight: 700;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.reports_dialog .ui-icon {
	width: 16px;
	height: 16px;
}
/*.ui-icon-closethick {*/
/*	width: 24px;*/
/*	height: 24px;	*/
/*}*/
.reports_dialog .ui-widget-content .ui-icon {
	backgroun: transparent
}

.reports_dialog .ui-dialog .ui-dialog-content {
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
}

.reports_dialog .ui-dialog .ui-dialog-buttonpane {
	text-align: center;
	border-width: 0px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
}

.reports_dialog .ui-dialog .ui-dialog-buttonpane button {
	float: none;
	width: 263px;
	margin: auto;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	line-height: 1.4em;
	overflow: visible;
	cursor: pointer;
}

.reports_dialog .ui-widget-content .ui-icon {background-image: url(../images/ui-icons_222222_256x240.png); }
.reports_dialog .ui-widget-header .ui-icon {background-image: url(../images/ui-icons_222222_256x240.png); }





.vw_p_actions {
	background: -moz-linear-gradient(top, #fff, #fff);
	background: -webkit-gradient(linear, center bottom, center top, from(#fff),
		to(#fff));
	border: 2px solid #989898;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 95%;
	height: auto;
	display: block;
	font-weight: 700;
	font-size: 13px;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}

.vw_p_actions span {
	background: #fff;
	margin-left:10px;
	margin-top: auto;
	margin-top: -10px;
	display: block;
	width: 200px;
	padding: 0 10px 0 10px;
}

.actions_block {
	display: block;
	width: 100%;
	margin: auto;
}

.actions_block label {
	display: block;
	float: left;
	width: 315px;
	margin-left: 5px;
}







