.datatable {
    vertical-align:top;
    text-align:left;
    page-break-inside:auto;

}

.datatable td {
    vertical-align:top;
    font-family:Arial;
    overflow: auto;

    page-break-inside:avoid;
    page-break-after:auto;

}

p.break {
    page-break-after: always;
}
.datatable th {
    vertical-align:top;
    font-family:Arial;
    display: table-cell;

}

.botomborder {
    border-bottom:solid 1px #000;

}
.diagno_wrap {
    width: 180px;
    white-space: wrap;
    height: 100%;

}
.pfle_wrap {
    width: 240px;
    white-space: wrap;
}