.page_title{
	display: block;
	width: 100%;
	margin: 20px 0 20px 0;
}

.export_settings {
	
}

.export_settings td.tdheader {
	width: 20%;
	font-weight: 800;
}

.export_settings td.tdoptions {
	width: 80%;
}

 .radio_opt_div {
	display: block;
	width: 65px;
	float: left;
	margin-right: 20px;
}

  .radio_opt_div label {
	float: left;
	line-height: 22px;
}
  .radio_opt_div input {
	float: left;
}

.export_settings>tbody>tr:nth-of-type(2n) {
	background-color: #f8f8f8;
}



/*  DATATABLE */

.patients thead td {
	font-weight: 800;
	border-top: 1px solid #000;
	background: #f3f3f3;
	padding: 5px!important;
}

.patients tbody td {
	border: 1px solid #efefef;
	padding: 0px;
	padding: 5px!important;
}

.patients>tbody>tr:nth-of-type(2n) {
	background-color: #f8f8f8;
}



/*  DATATABLE */

table.vstn_files  {
	float:left;
	width: 50%!important;
}

.vstn_files thead td {
	font-weight: 800;
	border-top: 1px solid #000;
	background: #f3f3f3;
	padding: 5px!important;
}

.vstn_files tbody td {
	border: 1px solid #efefef;
	padding: 0px;
	padding: 5px!important;
}

.vstn_files>tbody>tr:nth-of-type(2n) {
	background-color: #f8f8f8;
}


.h3_exp{
	color: #000000;
}

.empty_td{
	height: 30px;
}