<form action="" method="post" name="frmgrp">
<fieldset>
	<legend><? echo $this->translate('addgroup') ?></legend>
		<div id="add_group_error" class="err"><? echo $this->error_message ?></div>
		<div id="add_group_error" class="error"><? echo $this->error_groupname ?></div>
		
		<table border="0" width="100" class="datatable">
			<tbody>
				<tr>
					<th class="label">
						<label id="lbl_groupname" for="groupname"><? echo $this->translate('groupname') ?></label>
					</th>
					<td>
						<input name="groupname" type="text" id="groupname" value="<? echo $this->groupname?>">
					</td>
				</tr>
				<tr>
					<th class="label">
						<label for="groupmaster"> Group Type</label>
					</th>
					<td>
						<select name="groupmaster" id="groupmaster">
							<?php foreach ($this->groupmstr as  $key=>$value):?>
							<option value="<?php echo $key?>" <?php if($this->grouptype == $key){echo 'selected="selected"';} ?> >
								<?php echo $value ; ?>
							</option>
							<?php endforeach;?>
						</select>
					</td>
				</tr>
				<tr>
					<th class="label">
						<label for="isactive"><? echo $this->translate('appearinroster') ?></label>
					</th>
					<td>
						<input type="checkbox" name="isactive" id="isactive" <? echo $this->checked ?> value="1" >
					</td>
				</tr>
				<tr>
					<th class="label">
						<label for="isactive"><? echo $this->translate('appearinrosterstartpage') ?></label>
					</th>
					<td>
						<input type="checkbox" name="startpage_duty" id="startpage_duty" <? if($this->startpage_duty == '1'): echo 'checked="checked"'; endif; ?> value="1" >
					</td>
				</tr>
				<tr>
					<th class="label">
						<label for="indashboard"><? echo $this->translate('appearindashboard') ?></label>
					</th>
					<td>
						<input type="checkbox" name="indashboard" id="indashboard" <? if($this->indashboard == '1'): echo 'checked="checked"'; endif; ?> value="1" >
					</td>
				</tr>
  
				<tr>
					<th class="label">
						<label for="social_groups"><? echo $this->translate('social_groups') ?></label>
					</th>
					<td>
						<?php echo $this->formMultiCheckbox('social_groups', $this->social_groups, array ('onclick' => ''), $this->social_groups_values, ' <br/>'); ?>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input name="btnsubmit" type="submit" id="btnsubmit" value="<? echo $this->translate('submit')?>" class="button"></td>
				</tr>
			</tbody>
		</table>
</fieldset>
</form>