<?php 

//css append
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/besdsurvey.css');

?>

<!-- inline script -->
<script type="text/javascript" >

var categ_arr = <?php echo json_encode($this->categ_arr); ?>;
var scores_saved_arr = <?php echo json_encode($this->scores_arr); ?>;
var scores_arr = {};
for(i = 0; i< categ_arr.length; i++)
{
	scores_arr[categ_arr[i]] = scores_saved_arr[categ_arr[i]];
}

</script>


<div style="clear:both"></div>

<?php if (count($this->SuccessMessages)) : ?>
<!--  SuccessMessages -->
    <ul id="messages" class="success">
    <?php foreach ($this->SuccessMessages as $message) : ?>
        <li><?php echo $this->escape($message); ?></li>
    <?php endforeach; ?>
    </ul>
<?php endif; ?>


<?php if (count($this->ErrorMessages)) : ?>
<!--  ErrorMessages -->
    <ul id="messages" class="err">
    <?php foreach ($this->ErrorMessages as $message) : ?>
        <li><?php echo $this->escape($message); ?></li>
    <?php endforeach; ?>
    </ul>
<?php endif; ?>

<!-- datapicker image -->
<div id="calImgs" style="display: none;">
    <img id="calImg" src="<?php echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger">
</div>

<div style="clear:both"></div>

<?php
    //echo the form

    $this->form
    ->setAction($this->url() . "?id=" . $this->enc_id)
    ->setMethod(Zend_Form::METHOD_POST)
    ->setAttrib('novalidate', true) // this form is not html5 friendly.. it has closed accordions
    ->setAttrib('autocomplete', false) // this form is not html5 friendly.. it has closed accordions
    ->setAttrib("id", "besdsurvey_form")
    ->setAttrib("class", "form_class")
    ->setAttrib("onsubmit", "return form_submit_validate();");
        


    echo $this->form;
?>


<?php if( count($this->form_files) >0):?>
<br style="clear: both;"/><br/>
<div class="history">
<div class="history_block" style="display: block;">
<?php if(!empty($this->form_files)):?>
<h2 class="history_title" style="font-size: 12px; color:#000;"><b><?php echo $this->translate('file_history'); ?></b></h2>
			<table class="datatable">
				<tr>
					<th>#</th>
					<th style="width:130px;"><?php echo $this->translate('date'); ?></th>
					<th><?php echo $this->translate('title'); ?></th>
					<th><?php echo $this->translate('user'); ?></th>					
				</tr>
				<?php $i = 1;
				foreach ($this->form_files as $k_contact_file => $v_contact_file): ?>
					<tr>						
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$v_contact_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo $i; ?></a></td>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$v_contact_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo date('d.m.Y H:i', strtotime($v_contact_file['create_date'])); ?></a></td>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$v_contact_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo $v_contact_file['title']; ?></a></td>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$v_contact_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo $this->users_data[$v_contact_file['create_user']]['last_name'].', '.$this->users_data[$v_contact_file['create_user']]['first_name']; ?></a></td>						
					</tr>
				<?php $i++; endforeach; ?>
			</table>
<?php endif;?>
</div>
</div>
<?php endif;?>
