<?php
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/page-css/participationpolicy.css?' . date('Ymd'));
?>
<script>
$(document).ready(function(){
	
	 $('.form_btnsubmit').click(function(event) {
  		setTimeout(function () {$('input[type=submit], input[type=button]').attr('disabled', true);}, 150);
  		setTimeout(function () {$('input[type=submit], input[type=button]').attr('disabled', false);}, 12000);
  		event.preventDefault();
  		 var status = $(this).attr('rel');
  		$('#post_status').val(status);
  		//console.log(status);
  		$('#participationform').submit();
  		
  	});
	
});

</script>
<div style="display: none;"> <img id="calImg" src="<?php echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger" style="margin-bottom: -4px;"/> </div>
	<?php echo $this->patientinfo ?>
	<?php echo $this->tabmenus ?>
<form id="participationform" action="" method="post" >
<div class="tab_container">
<div id="participation">
<h1>Einverständnis- /Teilnahmeerklärung (Versicherter)</h1>
<br/>

<p><font><b>Meine Personalien:</b></font></p>
<br/>
<table id="mainPartcipationTbl" >
	<tr>
		<td id="tdleft" rowspan="5">
		<div id="Veror_main" class="pallnetz_topform proper_height">
		<label id="Veror63_Kraner" for="Krankenkasse">Krankenkasse bzw. Kostenträger</label>
		<br />
		<input id="Veror63_KraneInpt" name="insurance_company_name" value="<?php echo $this->insurance_company_name ?>" class="insurnace"  type="text" />
		<div class="redline"></div>
		<div class="clearer"></div>
		<div id="Veror63_NameVorVer" class="formleftdiv">
			<label id="Veror63_NameVorVeOuter" for="Name">Name, Vorname des Versicherten</label>
			<br />
			<textarea name="patientname" id="Veror63_NameVorVeInpt" cols="45" rows="2" class="textArea"><?php echo $this->patientname ?></textarea>
		</div>
		<div id="Veror63_NameGeb" class="formrightdiv proper_height" >
			<label id="Veror63_NameGeLbl" for="geb">geb. am</label>
			<br />
			<input type="text" name="patbirth" id="Veror63_NameGeInpt" value="<?php echo $this->birthdate ?>" />
		</div>
		<div class="ClrBoth"></div>
		<div class="redline" id="Veror63_NameBlckLine"></div>
		<div id="Veror63_NameKassnr" class="formShortDiv proper_height">
			<label id="Veror63_NameKassnLbl" for="Kassen-Nr.">Kassen-Nr.</label><br />
			<input name="kvnumber" type="text" id="Veror63_NameKassnInpt" value="<?php echo $this->kvnumber ?>" />
		</div>
			<div class="VerLine" id="Veror63_NameVerline"></div>
			<div class="formShortDiv proper_height" id="Veror63_NameVerNr">
			<label for="Versicherten-Nr" id="Veror63_NameVerNTxt">Versicherten-Nr.</label><br />
			<input id="Veror63_NameVerNInpt" name="insurance_no" type="text" value="<?php echo $this->insurance_no ?>" />
		</div>
		<div class="VerLine" id="Veror63_NameVerlin2"></div>
		<div id="Veror63_NameStatus" class="formShortDiv proper_height">
			<label id="Veror63_NameStatuLbl" for="Status">Status</label><br />
			<input name="insurance_status" id="Veror63_NameStatInpt" type="text" value="<?php echo $this->insurance_status ?>"  />
		</div>
		<div class="ClrBoth"></div>
		<div class="redline" id="Veror63_NameBlacLine"></div>
		<div class="formShortDiv proper_height" id="Veror63_NameBetrinr">
			<label id="Veror63_NameBetrinLbl" for="Vertragsarzt-Nr.">Betriebsstätten-Nr.</label>
			<br />
			<input name="betriebsstatten_nr" id="Veror63_NameBetrinInpt" type="text" value="<?php echo $this->betriebsstatten_nr ?>" />
		</div>
		<div id="Veror63_NameVerlin3" class="VerLine"></div>
		<div id="Veror63_Namearztnr proper_height" class="formShortDiv">
			<label id="Veror63_NamearztnLbl" for="VK gültig bis">Arzt-Nr.</label>
			<br />
			<input id="Veror63_NamearztnInpt" name="arzt_nr" type="text" value="<?php echo $this->arzt_nr ?>"  />
		</div>
		<div class="VerLine" id="Veror63_NameaVerline"></div>
		<div id="Veror63_NameDatum proper_height" class="formShortDiv">
			<label id="Veror63_NameDatuLbl" for="Datum">Datum</label><br />
			<input name="topdatum" id="Veror63_NameDatuInpt" type="text" value="<?php echo date('d.m.Y') ?>" />
		</div>
		</div>
		</td>
		<td  class="vertAlgn"><label>Name </label><input type="text" id="patsurname" name="patsurname" value="<?php echo  $this->patsurname ?>"/></td>
		</tr>
		<tr>
			<td class="vertAlgn"><label>Vorname </label><input type="text" id="patfirstname" name="patfirstname" value="<?php echo  $this->patfirstname ?>"/></td>
		</tr>
		<tr>
			<td class="vertAlgn"><label>Adresse </label><textarea  id="patadress" cols="" rows="2" name="patadress"><?php echo $this->patadress;?></textarea></td>
		</tr>
		<tr>
			<td class="vertAlgn"><label>Geburtsdatum </label><input type="text" id="patbirth" name="birthdate" value="<?php echo $this->birthdate ?>"/></td>
		</tr>
		<tr>
			<td class="vertAlgn"><label>KV-Nr. </label><input type="text" id="patkv" name="patkvnumber" value="<?php echo $this->kvnumber ?>"/></td>
		</tr>
			
	<tr>
		<td colspan="2" class="diagnoclass"><label>gesicherte Behandlungsdiagnosen (nach ICD 10) </label><input type="text" id="diagnosis" name="icd_diagnosis" value="<?php echo $this->icd_diagnosis ?>" /></td>
	</tr>
	<tr>
		<td colspan="2" class="diagnoclass"><label>mein Hausarzt (Name und Anschrift) </label><textarea  id="familydoc" name="familydoc" cols="" rows="3"><?php echo $this->familydoc; ?></textarea></td>
	</tr>
	</table>
	<br/>
	<br/>	
	<div id="participationText">
	<p><b>Hiermit erkläre ich meine Teilnahme an der<br/>
					&#8222;spezialisierten ambulanten Palliativversorgung&#8221;.</b></p>
	<br/>			
	<p><b>Die entsprechenden Informationen zum Betreuungskonzept habe ich erhalten.</b></p>
	<br/>	
	<p>Mir ist bekannt, dass in diesem Betreuungskonzept über meine Behandlung durch Ärzte,<br/>
		Pflegepersonal und andere Leistungserbringer in dieser Versorgungsform Aufzeichnun-<br/>
		gen gemacht werden. Durch mein Vertrauensverhältnis zu Ärzten und Pflegepersonal,<br/>
		etc. enthalten diese Aufzeichnungen Angaben, die meine Privatsphäre betreffen und so-<br/>
		mit einer gesetzlichen <b>Geheimhaltungspflicht</b> unterliegen.</p>
		<br/>
	<p>Von mir in Patientenbefragungen in <b>Zusammenarbeit mit Kooperationspartnern (wie<br/>
		z. B.: Frau / Herrn Doktor, Krankenpflegekraft, etc.)</b> gemachte Angaben dürfen in die-<br/>
		ser Versorgung dokumentiert und an die Leistungserbringer und meine Krankenkasse im<br/>
		jeweils erforderlichen Umfang ggf. für eine Projektauswertung / -analyse weitergeleitet<br/>
		und ausgewertet werden.</p>
		<br/>
	<p>Ich erkläre ausdrücklich, dass meine Teilnahme an dieser <b>&#8222;spezialisierten ambulanten<br/>
		Palliativversorgung&#8221;</b> freiwillig ist.</p>
		<br/>
	<p>Mir ist bekannt, dass ich meine Teilnahmeerklärung schriftlich widerrufen kann.</p>
		
	</div>
	<br/>
	<table style="margin-top:30px; width:100%;">
		<tr>
			<td style="border-top:1px solid #000000;">
			<p><b>Datum / Unterschrift der / des Versicherten, ggf. gesetzlicher Vertreter oder Betreuer</b></p>
			</td>
		</tr>
	</table>
	
	<br/>
	<br/>
		
		<div id="statment_insurnc_date" class="date_box">
			<!-- 	<input type="hidden" name="saved_id" value="<?php echo $this->id; ?>" />  -->
				<input type="hidden" name="post_status" id="post_status" value=""/>
				
				<input type="submit" name="save" id="btnsave" rel="save" value="Speichern" class="form_btnsubmit btnsubmit_usersessions">
				<input type="submit" name="pdf_print" id="btnsubmit" rel="pdf_print" value="PDF Erstellen" class="form_btnsubmit"/>
				
			</div>
		<?php if(!empty($this->participation_files_history)):?>
		<fieldset>
		<legend><?php echo $this->translate('participation_form_history'); ?></legend>
		<?php if(!empty($this->participation_files_history)):?>
			<table class="datatable">
				<tr>
					<th>#</th>
					<th><?php echo $this->translate('title'); ?></th>
					<th><?php echo $this->translate('user'); ?></th>
					<th class="date_col"><?php echo $this->translate('date'); ?></th>
				</tr>
				<?php $i = 1;
				foreach ($this->participation_files_history as $k_file => $participation_file): ?>
					<tr>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$participation_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo $i; ?></a></td>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$participation_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo $participation_file['title']; ?></a></td>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$participation_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo $this->users_data[$participation_file['create_user']]['user_title'].' '.$this->users_data[$participation_file['create_user']]['last_name'].', '.$this->users_data[$participation_file['create_user']]['first_name']; ?></a></td>
						<td><a href="<?php echo APP_BASE . 'stats/patientfileupload?doc_id='.$participation_file['id'].'&id='.$_REQUEST['id'];?>"><?php echo date('d.m.Y H:i', strtotime($participation_file['create_date'])); ?></a></td>
					</tr>
				<?php $i++; endforeach; ?>
			</table>
		<?php else:?>
		<table class="datatable">
			<tr>
				<td colspan="4"><?php echo $this->translate('no_participation_history_found');?></td>
			</tr>
		</table>
		<?php endif;?>
		</fieldset>
		<?php endif;?>
</div>

</div>

</form>