<?php
	$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/page-css/sisstationary.css?' . date('Ymd'));
	$form = $this->form_data;
	$thematics = $this->thematics;
	$standard_texts = $this->standard_texts;
?>

<form action="" method="post" id="stationary" name="stationary">

	<table class="sis_header_table">
		<tr>
			<td>
				<span class="txt_sis">SIS</span>
				<span class="txt_minus"> - </span>
				<span class="txt_ambulant">stationär </span>
				<span class="txt_minus"> - </span>
			</td>
			<td class="empty_td"></td>
			<td>
				<?php echo $form['patient_name'];?>
			</td>
			<td class="empty_td"></td>
			<td>
				<?php echo $form['patient_dob'];?>
			</td>
			<td class="empty_td"></td>
			<td>
				<?php echo $form['last_update'];?>
				<?php echo $form['last_update_user'];?>
			</td>
			<td class="empty_td"></td>
			<td>
				<input type="text" name="form[dependent_person]" value="<?php echo $form['dependent_person'];?>" />
			</td>
		</tr>
		<tr>
			<td class="td_small_font">Strukturierte Informationssammlung</td>
			<td class="empty_td"></td>
	 		<td class="td_top_border td_small_font">Name der pflegebedürftigen Person</td>
			<td class="empty_td"></td>
			<td class="td_top_border td_small_font">Geburtsdatum</td>
			<td class="empty_td"></td>
			<td class="td_top_border td_small_font">Gespräch am/Handzeichen Pflegefachkraft</td>
			<td class="empty_td"></td>
			<td class="td_top_border td_small_font">pflegebedürftige Person/Angehöriger/Betreuer</td>
		</tr>
	</table>
	 
	 <?php 
		$x = 0;
		foreach($thematics as $thematic_code=>$thematic):
	 ?>
	 <table class="them_table">
	 	<tr>
	 		<th style="width: 98%;"  class="textarea_th th_<?php echo $x;?>"> <?php if($x != 0):?>Themenfeld <?php echo $x;?> – <?php endif;?><?php echo $this->translate($thematic."_label")?>  
	 		</th>
	 		<th style="width: 2%;" class="th_<?php echo $x;?>">
	 		<?php if(!empty($standard_texts[$thematic_code])):?>
				<a href="javascript:void(0);" id="<?php echo $thematic_code; ?>" class="insert_texts" data-id="<?php echo $thematic_code; ?>" data-form_name="<?php echo $this->form_name; ?>" ><img src="<?php echo RES_FILE_PATH;  ?>/images/edit_add.png"  width="20" height="20" alt="" /></a>
	 		<?php endif;?>
	 		</th>
	 	</tr>
	 	<tr>
	 		<td colspan="2"><textarea rows="" cols="" class="full_textarea <?php echo $thematic_code; ?>"  name="form[theme][<?php echo $thematic_code;?>][thematic_text]"><?php echo $form['theme'][$thematic_code]['thematic_text'];?></textarea></td>
	 	</tr>
	 </table>
	 <?php 
		$x++;
		endforeach;
	?>

	 <table class="bottom_table">
	 	<tr>
	 		<th class="textarea_th th_7" colspan="26">Erste fachliche Einschätzung der für die Pflege und Betreuung relevanten Risiken und Phänomene</th>
	 		<th class="textarea_th th_8 th_color000000" colspan="5"> Sonstiges</th>
	 	</tr>
	 	
	 	<tr>
		 	<td rowspan="3"></td>
		 	
		 	<td class="th_8 alg_left" colspan="4"><b>Dekubitus</b></td>
		 	<td class="th_8" rowspan="3"><img src="<?php echo RES_FILE_PATH;?>/images/beratrung.jpg" class="beratrung_img" /></td>
		 	
		 	<td class="th_8 alg_left" colspan="4"><b>Sturz</b></td>
		 	<td class="th_8" rowspan="3"><img src="<?php echo RES_FILE_PATH;?>/images/beratrung.jpg"  class="beratrung_img" /></td>
		 	
		 	<td class="th_8 alg_left" colspan="4"><b>Inkontinenz</b></td>
		 	<td class="th_8" rowspan="3"><img src="<?php echo RES_FILE_PATH;?>/images/beratrung.jpg"  class="beratrung_img" /></td>
		 	
		 	<td class="th_8 alg_left" colspan="4"><b>Schmerz</b></td>
		 	<td class="th_8" rowspan="3"><img src="<?php echo RES_FILE_PATH;?>/images/beratrung.jpg"  class="beratrung_img" /></td>
		 	
		 	<td class="th_8 alg_left" colspan="4"><b>Ernährung</b></td>
		 	<td class="th_8" rowspan="3"><img src="<?php echo RES_FILE_PATH;?>/images/beratrung.jpg"  class="beratrung_img" /></td>
		 	
		 	<td  colspan="4"></td>
		 	<td class="th_8" rowspan="3"><img src="<?php echo RES_FILE_PATH;?>/images/beratrung.jpg"  class="beratrung_img" /></td>
	 	</tr>
	 	
	 	<tr>
	 		<td class="th_8" colspan="2"></td>
	 		<td class="th_8" colspan="2"><span class="lh_small">weitere Ein-<br/>schätzung<br/>notwendig</span></td>
	 		
	 		<td class="th_8" colspan="2"></td>
	 		<td class="th_8" colspan="2"><span class="lh_small">weitere Ein-<br/>schätzung<br/>notwendig</span></td>
	 		
	 		<td class="th_8" colspan="2"></td>
	 		<td class="th_8" colspan="2"><span class="lh_small">weitere Ein-<br/>schätzung<br/>notwendig</span></td>
	 		
	 		<td class="th_8" colspan="2"></td>
	 		<td class="th_8" colspan="2"><span class="lh_small">weitere Ein-<br/>schätzung<br/>notwendig</span></td>
	 		
	 		<td class="th_8" colspan="2"></td>
	 		<td class="th_8" colspan="2"><span class="lh_small">weitere Ein-<br/>schätzung<br/>notwendig</span></td>
	 		
	 		<td class="th_8" colspan="2"></td>
	 		<td class="th_8" colspan="2"><span class="lh_small">weitere Ein-<br/>schätzung<br/>notwendig</span></td>
	 	</tr>
	 	<tr>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
		 	<td class="th_8">ja</td>
		 	<td class="th_8">nein</td>
	 	</tr>
	 	
	 		 	<?php 
			$i = 1; 
		 	foreach($thematics as $thematic => $thematic_label):
				if($thematic != "movement" && $thematic != "financialmanagement"):
	 	?>	 	
	 	<tr>
		 	<th class="th_<?php echo $i ;?>"><?php echo $i ;?>. <?php echo $this->translate($thematic."_label")?></th>
		 	
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][dekubitus]" value="1" <? if($form['theme'][$thematic]['dekubitus'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][dekubitus]" value="2" <? if($form['theme'][$thematic]['dekubitus'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_dekubitus]" value="1" <? if($form['theme'][$thematic]['future_dekubitus'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_dekubitus]" value="2" <? if($form['theme'][$thematic]['future_dekubitus'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="checkbox" name="form[theme][<?php echo $thematic; ?>][beratung_dekubitus]" value="1" <? if($form['theme'][$thematic]['beratung_dekubitus'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][sturz]" value="1" <? if($form['theme'][$thematic]['sturz'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][sturz]" value="2" <? if($form['theme'][$thematic]['sturz'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_sturz]" value="1" <? if($form['theme'][$thematic]['future_sturz'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_sturz]" value="2" <? if($form['theme'][$thematic]['future_sturz'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="checkbox" name="form[theme][<?php echo $thematic; ?>][beratung_sturz]" value="1" <? if($form['theme'][$thematic]['beratung_sturz'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][inkontinenz]" value="1" <? if($form['theme'][$thematic]['inkontinenz'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][inkontinenz]" value="2" <? if($form['theme'][$thematic]['inkontinenz'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_inkontinenz]" value="1" <? if($form['theme'][$thematic]['future_inkontinenz'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_inkontinenz]" value="2" <? if($form['theme'][$thematic]['future_inkontinenz'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="checkbox" name="form[theme][<?php echo $thematic; ?>][beratung_inkontinenz]" value="1" <? if($form['theme'][$thematic]['beratung_inkontinenz'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	
		 	
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][schmerz]" value="1" <? if($form['theme'][$thematic]['schmerz'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][schmerz]" value="2" <? if($form['theme'][$thematic]['schmerz'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_schmerz]" value="1" <? if($form['theme'][$thematic]['future_schmerz'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_schmerz]" value="2" <? if($form['theme'][$thematic]['future_schmerz'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="checkbox" name="form[theme][<?php echo $thematic; ?>][beratung_schmerz]" value="1" <? if($form['theme'][$thematic]['beratung_schmerz'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][ernahrung]" value="1" <? if($form['theme'][$thematic]['ernahrung'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][ernahrung]" value="2" <? if($form['theme'][$thematic]['ernahrung'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_ernahrung]" value="1" <? if($form['theme'][$thematic]['future_ernahrung'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_ernahrung]" value="2" <? if($form['theme'][$thematic]['future_ernahrung'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="checkbox" name="form[theme][<?php echo $thematic; ?>][beratung_ernahrung]" value="1" <? if($form['theme'][$thematic]['beratung_ernahrung'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][sonstiges]" value="1" <? if($form['theme'][$thematic]['sonstiges'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][sonstiges]" value="2" <? if($form['theme'][$thematic]['sonstiges'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_sonstiges]" value="1" <? if($form['theme'][$thematic]['future_sonstiges'] == "1" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="radio" name="form[theme][<?php echo $thematic; ?>][future_sonstiges]" value="2" <? if($form['theme'][$thematic]['future_sonstiges'] == "2" ): ?> checked="checked"<? endif; ?>></td>
		 	<td class="th_<?php echo $i ;?>"><input type="checkbox" name="form[theme][<?php echo $thematic; ?>][beratung_sonstiges]" value="1" <? if($form['theme'][$thematic]['beratung_sonstiges'] == "1" ): ?> checked="checked"<? endif; ?>></td>
	 	</tr>
	 	
	 	<?php 
					$i++; 
				endif;
			endforeach; 
		?>
	 </table>
 	<input type="hidden" id="form_action" name="form_action" value=""/>
 	<input type="hidden" id="form_id" name="form_id" value="<?php echo $form['form_id'];?>"/>
	 <button type="button" class="submit_form btnsubmit_usersessions" data-action = "save"  id="save_form"><?php echo $this->translate("save"); ?> </button>
	 <button type="button" class="submit_form btnsubmit_usersessions" data-action = "print"  id="print_form"><?php echo $this->translate("print"); ?> </button>
 </form>
 
 
<div id="option-modal">
<div class="content"></div>
</div>
 