<!-- Maria:: Migration ISPC to CISPC 08.08.2020 -->
<!-- ISPC-2499 Lore 12.12.2019 -->
<?php
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/stressvalues.css');

$symp_lang =   $this->translate('stress_values_lang'); 
$sv = $this->stresval;
$patinfo = $this->patinfo;
	
$thishours=$sv['form_date_h'];
$thismins=$sv['form_date_m'];

?>

<script type="text/javascript">

function formdate_haschanged ( _this ){
	//alert($(_this).val());
	$("#date").val($(_this).val() );
}

$(function() {
	$('.date').datepicker({
		dateFormat: 'dd.mm.yy',
		showOn: "both",
		buttonImage: $('#calImg').attr('src'),
		buttonImageOnly: true,
		changeMonth: true,
		changeYear: true,
		nextText: '',
		prevText: '',
		maxDate: '<?php echo date('d.m.Y'); ?>',
		yearRange: '-100:+10',		
		onSelect: function(){
			changes = true;
			formdate_haschanged(this);
		}
	});

});



</script>



<div style="display: block; float: left;">
	<div style="display: none"> <img id="calImg" src="<?php echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
	
	<form action="" method="post" name="frmuser" id="frmuser" autocomplete="off" >
    <input type="hidden" name="form_id" value = "" />
        
    <br>    
	<h1 ><?php echo $symp_lang ['patient_stress_values']; ?></h1>
   	<br>  



	<table class="table_first">
		<tr>
			<td >
				<div><span style="font-weight:bold" >Name:</span><span > <? echo $patinfo['last_name'].', '.$patinfo['first_name']; ?></span></div>
			</td>  
		</tr>
		<tr>	
			<td> 
				<div><span style="font-weight:bold" >Geb.-Datum:</span><span > <? echo $patinfo['birthd']; ?> </span></div>
			</td>
		</tr>
		<tr>
			<td> 	
			  	<div><span style="font-weight:bold" ><?php echo $symp_lang ['form_date']; ?></span><input type="text" name="form_date" id="form_date"  class="date" style="width:70px; padding:3px; margin: 2px 0 -2px 10px;" value="<? echo $sv['form_date'] ?>"   onchange="formdate_haschanged(this)"/>
				<select name="form_date_h" style="margin-left:8px;">
					<option value="00">00</option>
					<?php for ($i=1; $i<=23; $i++){?>
						 <option value="<?php echo str_pad($i, 2, '0', STR_PAD_LEFT); ?>" <?php if(str_pad($i, 2, "0", STR_PAD_LEFT) == $thishours ){ echo 'selected="selected"';}?>><?php echo str_pad($i, 2, "0", STR_PAD_LEFT); ?></option>
					<?php }?>
				</select>
				:
				<select name="form_date_m">
					<option value="00">00</option>
					<?php for ($j=1; $j<=59; $j++){?>
						 <option value="<?php echo str_pad($j, 2, '0', STR_PAD_LEFT); ?>" <?php if(str_pad($j, 2, "0", STR_PAD_LEFT) == $thismins ){ echo 'selected="selected"';}?>><?php echo str_pad($j, 2, "0", STR_PAD_LEFT); ?></option>
					<?php }?>
				</select>
				Uhr
				</div>			
			</td>  
		</tr>
		<tr>	

			 <table class="table_stddoc">
				<tr>
					<td ><br> <br/>  0	</td>
					<td ><br> <br/> 
						<input type="range" min="0" max="10" value="0" class="slider" id="myRange"> 
						<br> <br/> 	  			
						<p><?php echo $symp_lang ['values']; ?> 
						<input type="text" name="stres_value" id="stres_value" value="0" readonly style="width:  25px;background: transparent!important; border: 0px!important;"/>
						</p>
					</td> 	 
					<td ><br> <br/>  10 </td>
				</tr>
			 </table> 

		 </tr> 
	   </table>  
 		
 		
 <br> <br/>       
<button type="button" id="save_form" class="submit_form" ><?php echo $this->translate('submit');?></button>


</form>

</div>
