<?php 
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/autogrow/jquery.elastic.source_new.js');
$this->headScript()->appendFile(RES_FILE_PATH . '/javascript/dragdiv/dragdivpatient.js');

$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/treatmentplan.css');
?>

<script type="text/javascript">
	var detailscookies = '<?php echo $this->detailscookies; ?>';
	var loginuser = '<?php echo $this->userid; ?>';
</script>

<div style="clear: both;"></div>
<div style="display: none;"><img id="calImg" src="<?php echo RES_FILE_PATH;  ?>/images/calendar.png" class="trigger"></div>
<?php
    //echo the form

    $this->form
    ->setAction($this->url() . "?id=" . $this->enc_id)
    ->setMethod(Zend_Form::METHOD_POST)
    ->setAttrib('novalidate', true) // this form is not html5 friendly.. it has closed accordions
    ->setAttrib('autocomplete', false) // this form is not html5 friendly.. it has closed accordions
    ->setAttrib("id", "treatmentplan_form")
    ->setAttrib("class", "form_class")
    ->setAttrib("onsubmit", "return form_submit_validate();");
        


    echo $this->form;
?>