<? $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/anlage3.css'); ?>
<?
	$anlage = $this->anlage_3;
?>

<form id="anlage_three" action="" method="post">
	<div id="CalImg" style="display: none;"> <img id="calImg" src="<? echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
	<? echo $this->patientinfo ?>
	<? echo $this->tabmenus ?>
	<div class="tab_container">
		<div id="analage">
			<div class="header_title">
				<div class="header_top">
					Patienteninformation und Entbindung von der Schweigepflicht
				</div>
				<div class="sub_header_top" >
					Spezialisierte ambulante Palliativversorgung<br />
					gem. § 132 d SGB V i. V. m. § 37 b SGB V
				</div>
			</div>
			<div id="veror_main" class="pallnetz_topform">
				<label id="Veror63_Kraner" for="Krankenkasse">Krankenkasse bzw. Kostenträger</label> <br />

				<input id="Veror63_KraneInpt" name="krankenkasse" value="<? echo $anlage['insurance_company_name'] ?>" class="insurnace"  type="text" />                     <div class="blackline"></div>
				<div id="Veror63_NameVorVer" class="formleftdiv">
					<label id="Veror63_NameVorVeOuter" for="Name">Name, Vorname des Versicherten</label><br />
					<textarea name="patient_name" id="Veror63_NameVorVeInpt" cols="45" rows="2" class="textArea"><? echo $anlage['patientname'] ?></textarea></div>
				<div id="Veror63_NameGeb" class="formrightdiv" ><label id="Veror63_NameGeLbl" for="geb">geb. am</label><br />
					<input type="text" name="geb" id="Veror63_NameGeInpt" value="<? echo $anlage['birthdate'] ?>" /></div>
				<div class="ClrBoth"></div><div class="blackline" id="Veror63_NameBlckLine"></div>
				<div id="Veror63_NameKassnr" class="formShortDiv">
					<label id="Veror63_NameKassnLbl" for="Kassen-Nr.">Kassen-Nr.</label><br />
					<input name="kassen_nr" type="text" id="Veror63_NameKassnInpt" value="<? echo $anlage['kvnumber'] ?>" /></div>
				<div class="VerLine" id="Veror63_NameVerline"></div>
				<div class="formShortDiv" id="Veror63_NameVerNr">
					<label for="Versicherten-Nr" id="Veror63_NameVerNTxt">Versicherten-Nr.</label><br />
					<input id="Veror63_NameVerNInpt" name="versicherten_nr" type="text" value="<? echo $anlage['insurance_no'] ?>" /></div>
				<div class="VerLine" id="Veror63_NameVerlin2"></div>
				<div id="Veror63_NameStatus" class="formShortDiv">
					<label id="Veror63_NameStatuLbl" for="Status">Status</label><br />
					<input name="status" id="Veror63_NameStatInpt" type="text" value="<? echo $anlage['insurance_status'] ?>"  /></div><div class="ClrBoth"></div>
				<div class="blackline" id="Veror63_NameBlacLine"></div>
				<div class="formShortDiv" id="Veror63_NameBetrinr">
					<label id="Veror63_NameBetrinLbl" for="Vertragsarzt-Nr.">Betriebsstätten-Nr.</label><br />
					<input name="betriebsstatten_nr" id="Veror63_NameBetrinInpt" type="text" value="<? echo $anlage['betriebsstatten_nr'] ?>" /></div><div id="Veror63_NameVerlin3" class="VerLine"></div>
				<div id="Veror63_Namearztnr" class="formShortDiv">
					<label id="Veror63_NamearztnLbl" for="VK gültig bis">Arzt-Nr.</label>
					<br />
					<input id="Veror63_NamearztnInpt" name="arzt_nr" type="text" value="<? echo $anlage['arzt_nr'] ?>"  /></div>
				<div class="VerLine" id="Veror63_NameaVerline"></div>
				<div id="Veror63_NameDatum" class="formShortDiv"><label id="Veror63_NameDatuLbl" for="Datum">Datum</label><br /><input name="topdatum" id="Veror63_NameDatuInpt" type="text" value="<? echo date('d.m.Y') ?>" /></div>
			</div>
			<div class="clearer"></div>
			<br />
			<table>
				<tr>
					<td width="10">
						<div class="block_text">1.</div>
					</td>
					<td>
						<div class="block_text">
							Die behandelnde Ärztin/der behandelnde Arzt des Palliative-Care-Teams hat mich darüber aufgeklärt, dass sich mein Allgemeinzustand durch spezialisierte ambulante 				palliativmedizinische und palliativpflegerische Maßnahmen verbessern lässt. Ich wünsche, die mir verbleibende Zeit durch qualifiziertes medizinisches und pflegerisches 				Zusammenwirken des mich betreuenden Palliative-Care-Teams möglichst schmerzfrei im häuslichen Umfeld und im engen Kontakt zu Angehörigen und vertrauten Personen zu erleben.
						</div>
					</td>
				</tr>
				<tr>
					<td width="10">
						<div class="block_text">2.</div>
					</td>
					<td>
						<div class="block_text">
							Hiermit erkläre ich, dass ich über die Inhalte und den Verlauf der palliativmedizinischen und -pflegerischen Versorgung, die in dem Vertrag über die Erbringung spezialisierter 				ambulanter Palliativversorgung (SAPV) in Nordrhein gem. § 132 d SGB V i. V. m. § 37 b SGB V geregelt sind, umfassend informiert wurde und damit einverstanden bin, dass die notwendige medizinische und pflegerische Versorgung unter Einbindung meiner Haus- bzw. Fachärztin/meines Haus- bzw. Facharztes entsprechend durchgeführt wird.
						</div>
					</td>
				</tr>
				<tr>
					<td width="10">
						<div class="block_text">3.</div>
					</td>
					<td>
						<div class="block_text">
							Datenschutzhinweis (§ 67 a Abs. 3 SGB X). Damit wir Ihren Antrag auf SAPV-Leistungen bearbeiten können, ist Ihr Mitwirken nach § 60 SGB I erforderlich. Ihre Daten sind aufgrund § 37 b SGB V i. V. m. § 92 Abs. 1 SGB V zu erheben.
						</div>
					</td>
				</tr>
				<tr>
					<td width="10">

					</td>
					<td>
						<div class="block_text">
							Ich wünsche die Behandlung nach dem mir vom Palliative-Care-Team umfassend erläuterten Versorgungskonzept.
						</div>
					</td>
				</tr>
			</table>

			<div class="block_text border_content">
				Ich bin damit einverstanden,
				<div class="subcontent_bloc_text">
				<br />
				-  dass meine Daten von den Personen des Palliative-Care-Teams im Rahmen des oben beschriebenen und mir erläuterten Versorgungskonzepts erhoben, verarbeitet und genutzt werden und
				<br />
				-  dass insoweit die an der Versorgung beteiligte Ärztin/beteiligter Arzt und deren Mitarbeiter/innen von der ärztlichen Schweigepflicht entbunden sind.
				</div>
			</div>
			<br />
			<br />
			<br />
			<table id="fields" border="1" width="90%">
				<tr>
					<td class="show_bottom_border" colspan="2"> <input type="text" name="patientname1" id="f_l_name" value="<?php echo $anlage['patientname1'];  ?>" /></td>
				</tr>
				<tr>
					<td colspan="2" class="label"><?php echo $this->translate('name_vorname');  ?></td>
				</tr>
				<tr>
					<td class="show_bottom_border"><input type="text" name="birthdate" id="born_on" value="<?php echo $anlage['birthdate'];  ?>"/></td>
					<td class="show_bottom_border"><input type="text" name="patientaddress" id="living_in" value="<?php echo $anlage['patientaddress2'];  ?>" /></td>
				</tr>
				<tr>
					<td class="label" ><?php echo $this->translate('born_on');  ?></td>
					<td class="label" ><?php echo $this->translate('living_in')  ?></td>
				</tr>
				<tr>
					<td class="show_bottom_border"><input type="text" name="patient_city" id="place" value="<?php echo $anlage['client_city'].' / '.date('d.m.Y')?>"/></td>
					<td></td>
				</tr>

				<tr>
					<td class="label"><?php echo $this->translate('place-date');  ?></td>
					<td class="label"></td>
				</tr>
				<tr>
					<td class="show_bottom_border"></td>
					<td></td>
				</tr>

				<tr>
					<td class="label"><?php echo $this->translate('patient_signed');  ?></td>
					<td class="label"></td>
				</tr>
				<tr>
					<td class="show_bottom_border"></td>
					<td></td>
				</tr>

				<tr>
					<td class="label"><?php echo $this->translate('doctor_team_signed');  ?></td>
					<td class="label"></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>


			<br />
			<br />
			<br />
			<br />


			<div class="clearer"></div>
			<input name="pdf_print" id="pdf_btnsubmit" type="submit" value="<? echo $this->translate('generatepdf') ?>" />
		</div>
	</div>
</form>