<?php 
	$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/page-css/questionnaireb.css');
?>

<form name="questionnaire_b" id="questionnaire_b" action="" method="POST">
	
	<?php echo $this->patientinfo ?>
	<?php echo $this->tabmenus ?>
	
	<b><?php echo $this->header_string; ?></b>
	<table class="datatable">
		<?php if($this->form_values): ?>
				<input type="hidden" name="update" value="1" />
				<?php foreach($this->form_values as $k_val => $v_val): ?>
					<tr>
						<td>
							<img src="<?php echo RES_FILE_PATH . '/images/forms_images/q_b/' . $v_val['row'] . '.png'; ?>" />
						</td>
						<td class="txt_field">
							<textarea name="row[<?php echo $v_val['row']; ?>]" id="row_<?php echo $v_val['row']; ?>"  rows="5"  ><?php echo $v_val['value']; ?></textarea>
						</td>
					</tr>
				<?php endforeach; ?>
			<?php else: ?>
				<input type="hidden" name="update" value="0" />
				<?php for($i = 1; $i <= 10; $i++): ?>
					<tr>
						<td>
							<img src="<?php echo RES_FILE_PATH . '/images/forms_images/q_b/' . $i . '.png'; ?>" />
						</td>
						<td class="txt_field">
							<textarea name="row[<?php echo $i; ?>]" id="row_<?php echo $i; ?>"  rows="5"  ></textarea>
						</td>
					</tr>
				<?php endfor; ?>
		<?php endif; ?>
	</table>
	<br />
	<input type="submit" name="btnsave" id="submit" value="<?php echo $this->translate('save'); ?>" />
	<input type="submit" name="generatepdf" id="generatepdf" value="<?php echo $this->translate('generatepdf'); ?>" />
</form>