<script type="text/javascript">

var pl_loading = function(){
	var dlist = '<div class="loadingdiv" align="center"><img src="images/pageloading.gif"><br />	Loading... please wait</div>';
	document.getElementById('content').innerHTML = dlist;
}

function loadpage(ord,clm)
{
	if($('#hdnlastpage').val()>=parseInt($('#pageno').val())){
	if((parseInt($('#pageno').val()))>0){pgno=(parseInt($('#pageno').val()-1));}else{pgno=0;}
	ajaxCallserver({url:'groupdefault/clientfetchlist?clm='+clm+'&ord='+ord+'&pgno='+pgno,callLoading:pl_loading});
	}else{
		jAlert("<? echo $this->translate('invalidpageno'); ?>");
	}
}
var callBack = function(params)
{
	document.getElementById('content').innerHTML = params.clientgroupmasterlist; 
}
function DoNav(theUrl)
  {
  	document.location.href = appbase+theUrl;
  }
  function checkedall(allid)
  {
  
  	checkbox = document.getElementsByName('group_id[]');
	
	if(allid.checked==true)
	{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = true; 
		}
	}else{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = false; 
		}
	}
  }
</script>
<form action="" method="post" name="frmusergrp" id="frmusergrp" onsubmit="return deleteconfirm();">
	
	<div id="user_group_error" class="err"><? echo $this->error_message ?></div>
	
	<div id="content">
		<? echo $this->groupmastergrid ?>
	</div>
	
</form>
<script type="text/javascript">

	ajaxCallserver({url:'groupdefault/clientfetchlist?clm=gn&ord=ASC&pgno=0',callLoading:pl_loading});
	</script>