<div id="user_group_fetchlist" class="grid">
	<h1><?php echo $this->translate('Group default visibility') ?></h1>
<table class="datatable" cellpadding="0" cellspacing="0" border="0">
	<tr>
			<th><?php echo $this->translate('nr') ?></th>
			<th class="sort<?php echo $this->gnorder ?>">
				<a href="javascript:void(0);" onClick="ajaxCallserver({url: 'groupdefault/visibilityfetchlist?clm=gn&ord=<?php echo $this->order ?>&pgno=<?= $_GET['pgno'] ?>'})"><?php echo $this->translate('system_groupname_client_groupname') ?></a>
			</th>
			<th><?php echo $this->translate('groups_visibility') ?></th>
			<th><?php echo $this->translate('groups_secrecy_tracker') ?></th>
	</tr>

		<?php echo $this->groupmastergrid ?>
		
	<tr>
			<td colspan="4">
				<input type="submit" name="button" id="button_submit" value="<?php echo $this->translate('submit') ?>">
		</td>
	</tr>
</table>
</div>
