<form action="" method="post" name="frmdiagnosis" id="frmdiagnosis">
<fieldset>
<legend></legend>
<p></p>
<br />
    <label for="client_id" id="lbl_client_id"><? echo $this->translate('client'); ?></label>
    <input type="text" name="client_id" tabindex="1" id="client_id" value="<? echo $this->clientid ?>">
      <div id="ad_shtrcut_error" class="error"> <? echo $this->error_client_id ?></div>
 <br />
 <label for="abbrevation" id="lbl_abbrevation"><? echo $this->translate('abbrevation'); ?></label>
    <input type="text" name="abbrevation" tabindex="2" id="abbrevation" value="<? echo $this->abbrevation ?>">
  <div class="error">  <? echo $this->error_abbrevation?></div>
  <br />
  <label for="description" id="lbl_description"><? echo $this->translate('description'); ?></label>
  <textarea name="description" id="description" tabindex="3" cols="45" rows="5"><? echo $this->description ?></textarea>
    <div id="ad_shtrcut_error" class="error"><? echo $this->error_description ?></div>
 <br />
 <label></label>
  <input type="submit" name="btnsubmit" id="btnsubmit" tabindex="4" class="button" value="<? echo $this->translate('submit') ?>">
  
</fieldset>
</form>
