<script type="text/javascript">

var pl_loading = function(){

var dlist = '<div class="loadingdiv" align="center"><img src="<? echo RES_FILE_PATH;  ?>/images/pageloading.gif"><br />	Loading... please wait</div>';
document.getElementById('content').innerHTML = dlist;

}	
	//ajaxCallserver({url:'patient/fetchlist?clm=fn&ord=ASC&pgno=0',callLoading:pl_loading});
	
var callBack = function(params)
{
	document.getElementById('content').innerHTML = params.patientlist; 
}
function DoNav(theUrl)
  {
  	document.location.href = appbase+theUrl;
  }
  function checkedall(allid)
  {
  
  	checkbox = document.getElementsByName('patient_id[]');
	
	if(allid.checked==true)
	{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = true; 
		}
	}else{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = false; 
		}
	}
  }
  
  function deleteconfirm()
  {
  		
			jConfirm('<? echo $this->translate('confirmdeleterecord'); ?>', '<? echo $this->translate('confirmdeletetitle'); ?>', function(r) {
			if(r)
			{	
				document.frmuser.action = "patient/deletepatient?flg=dis";
				document.frmuser.submit();
			}
		
	});
	
	return false;
	
  } 
</script>
<form action="" method="post" name="frmuser" id="frmuser" onsubmit="return deleteconfirm();">

<!-- <div class="add"><ul>
    <li><a href="patient/patientmasteradd"><? echo $this->translate('addpatient') ?>>></a></li>
     </ul></div>
      <div style="clear:both;"></div>
--><div id="dischrgepatient_error" class="err"><? echo $this->error_message ?></div>
<div id="content">

	<? echo $this->patientgrid ?>

</div>
</form>

<script type="text/javascript">
ajaxCallserver({callLoading:pl_loading,url:'patient/dischargelist?clm=ln&ord=ASC&pgno=0'});
</script>