<div id="dischrgeList" class="grid">
<h1><? echo $this->translate('dischargepatientlist')?></h1>
<table class="datatable" width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
	<tr>  
		<th class="sort<? echo $this->lnorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=ln&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('lastname')."," ?><? echo $this->translate('firstname') ?></a></th>
		<th class="sort<? echo $this->bdorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=bd&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('birthd') ?></a></th>
		<th class="sort<? echo $this->sxorder ?>"><!--<a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=sx&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})">--><? echo $this->translate('dischargedate') ?><!--</a>--></th>
		<th class="sort<? echo $this->phorder ?>"><!--<a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=ph&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})">--><? echo $this->translate('daystreated') ?><!--</a>--></th>
		<th class="sort<? echo $this->moborder ?>"><!--<a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=mob&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})">--><? echo $this->translate('treatedby') ?><!--</a>--></th>
		<th><? echo $this->translate('edit') ?></th>
        <th><? echo $this->translate('reactivate') ?></th>
	</tr>
	<? echo $this->patientgrid ?>
	<tr><td colspan="8" valign="top"><? echo $this->navigation ?></td></tr>
</table>
</div>