<script type="text/javascript">
 function deleteconfirm()
  {
  		
			jConfirm('<? echo $this->translate('confirmdeleterecord'); ?>', '<? echo $this->translate('confirmdeletetitle'); ?>', function(r) {
			if(r)
			{	
				document.frm.action = "patient/removepatient";
				document.frm.submit();
			}
		
	});
	
	return false;
	
  } 
</script>
<form  name="frm" id="frm" action="" method="post" onsubmit="return deleteconfirm();">
<fieldset>
	<legend><? echo $this->translate('removepatient')?></legend>
    <div class="err">    <? echo $this->error_message ?></div>
        <br />
    <? if($this->usertype=='SA'){?>    
     <label for="clientid"><? echo $this->translate('clientname')?>:</label>
    <? echo $this->formSelect('clientid',$_POST['clientid'],NULL,$this->adminclientarray);?>
    <div class="error"><? echo $this->error_clientid ?></div>
    <br />
     <? } ?>   
    <label for="epid"><? echo $this->translate('patientnumber')?>:</label>
    <input name="epid" type="text" id="epid">
   <div class="error"> <? echo $this->error_epid ?></div>
    <br />
    <label></label>
    <input name="btnsubmit" type="submit" value="<? echo $this->translate('delete') ?>" class="button">
</fieldset>
</form>
