<script>
	$(document).ready(function() {
		$(".datepicker").mask("99.99.9999");

		$('.datepicker').datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true,
			nextText: '',
			prevText: ''
		});
		
		$('#item_start_date').attr('disabled', true);
		$('#item_end_date').attr('disabled', true);
		
		$('#activate_items_date').bind('click change', function(){
			if($(this).is(':checked'))
			{
				$('#item_start_date').attr('disabled', false);
				$('#item_end_date').attr('disabled', false);
				
				$('#item_date_filter').val('1');
			}
			else
			{
				$('#item_start_date').attr('disabled', true);
				$('#item_end_date').attr('disabled', true);

				$('#item_date_filter').val('0');
				
			}
		});

		$('.inv_journal_sort').live('click',function(){
			$('#sortby').val($(this).attr('rel'));
			$('#sortdir').val($(this).attr('title'));
			$('#current_page').val('');
			getinvoicejournal('1');
		});

		$('#filter').click(function() {
			//reset pages and sorting
			$('#sortby').val('');
			$('#sortdir').val('');
			$('#current_page').val('');
			getinvoicejournal();
			return false;

		});
		$('.set_storno, .del_storno').live('click', function(){
			$('#storno_selected_invoice').val($(this).attr('title'));
			$('#storno_selected_invoice_id').val($(this).attr('rel'));
			$('#storno_dialog').dialog('open');
		});

		$('#storno_dialog').dialog({
			autoOpen:false,
			modal:true,
			draggable: false,
			resizable: false,
			buttons: {
				"<?php echo $this->translate('yesconfirm'); ?>": function() {
					set_storno($('#storno_selected_invoice_id').val());
					$( this ).dialog( "close" );
				},
				"<?php echo $this->translate('noconfirm'); ?>": function() {
					$( this ).dialog("close");

				}
			},
			open: function(){
				$( "#storno_dialog" ).dialog( "option", "title", "<?php echo $this->translate('storno_invoice_no'); ?> "+$('#storno_selected_invoice').val());
			},
			close: function(){
				$('#storno_selected_invoice').val('');
				$('#storno_selected_invoice_id').val('');
			}
		});
		$('#generate_pdf').live('click', function(){
			$('#export_type').val('pdf');
		});
		
		$('#generate_csv').live('click', function(){
			$('#export_type').val('csv');
		});
		
	});

	function getinvoicejournal(page) {
		var url = '<?php echo APP_BASE; ?>internalinvoice/fetchinvoicejournal';
		var filters = '';
		var sortby = $('#sortby').val();
		var sortdir = $('#sortdir').val();
		$('#j_sortby').val(sortby);
		$('#j_sortdir').val(sortdir);

		//show a loading gif
		$('#invoice_journal_list').html('<br/><div class="loadingdiv" align="center"><img src="<?php echo RES_FILE_PATH; ?>/images/ajax-loader.gif"><br /><?php echo $this->translate(loadingpleasewait); ?></div><br/>');

		filters = $('#journal_filters_form').serialize() + '&page=' + page;

		if (sortby) {
			filters = filters + '&ord=' + sortby;
		}

		if (sortdir) {
			filters = filters + '&sort=' + sortdir;
		}
		xhr = $.ajax({
			url: url + '?' + filters,
			success: function(response) {
				$('#invoice_journal_list').html(response);
			}
		});
	}

	function set_storno(invoice_id)
	{

		var url = '<?php echo APP_BASE; ?>internalinvoice/invoicejournal';
		xhr = $.ajax({
			url: url + '?' + 'mode=storno&inv_id='+invoice_id,

			success: function(response) {
				//refresh table
				getinvoicejournal();
			}
		});
	}


	getinvoicejournal(1);


</script>
<div id="showpreview_calendarImg" style="display: none;">
	<img id="calImg" src="<?php echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger">
</div>
<h1><?php echo $this->translate('invoice_journal_header_title'); ?></h1>
<br />
<form id="journal_filters_form" method="POST" action="<?php echo APP_BASE.'internalinvoice/fetchinvoicejournal';  ?>">
	<table class="datatable" >
		<tr>
			<td colspan="5" class="journal_filter_header"><strong><?php echo $this->translate('filter');  ?></strong></td>
		</tr>

		<tr>
			<td><?php echo $this->translate('date_range'); ?></td>
			<td><?php echo $this->translate('rfrom'); ?></td>
			<td><input type="text" name="start_date" id="start_date" class="datepicker" value="<?php echo date('d.m.Y', strtotime($this->period['start']));  ?>" /></td>

			<td><?php echo $this->translate('rtill'); ?></td>
			<td><input type="text" name="end_date" id="end_date" class="datepicker" value="<?php echo date('d.m.Y', strtotime($this->period['end']));  ?>" /></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('items_date_range'); ?> <input type="checkbox" name="activate_items_date" id="activate_items_date" />
			<input type="hidden" name="item_date_filter" id="item_date_filter" value="0"/>
			 </td>
			<td><?php echo $this->translate('rfrom'); ?></td>
			<td><input type="text" name="item_start_date" id="item_start_date" class="datepicker" value="<?php echo date('d.m.Y', strtotime($this->period['start']));  ?>" /></td>

			<td><?php echo $this->translate('rtill'); ?></td>
			<td><input type="text" name="item_end_date" id="item_end_date" class="datepicker" value="<?php echo date('d.m.Y', strtotime($this->period['end']));  ?>" /></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('patient'); ?></td>
			<td colspan="4"><input type="text" name="patient_name" id="j_patient_name" value="" /></td>

		</tr>
		<tr>
			<td><?php echo $this->translate('invoice_number'); ?></td>
			<td colspan="4"><input type="text" name="invoice_number" id="j_invoice_number" value="" /></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('typ'); ?></td>
			<td colspan="4">
				<select name="storno" id="j_storno">
					<option value="" ><?php echo $this->translate('select');  ?></option>
					<option value="0" ><?php echo $this->translate('non_storno');  ?></option>
					<option value="1" ><?php echo $this->translate('storno');  ?></option>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('invoice_user'); ?></td>
			<td colspan="4">
				<select name="user" id="j_user">
					<option value="" ><?php echo $this->translate('select');  ?></option>
					<? foreach ($this->user_filter as $ui_id=>$ui_name ):?>
						<option value="<? echo $ui_id;?>" ><?php echo $ui_name;  ?></option>
					<? endforeach;?>
				</select>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('health_insurance'); ?></td>
			<td colspan="4"><input type="text" name="health_insurance" id="j_health_insurance" value="" /></td>
		</tr>
		<tr>
			<td><?php echo $this->translate('amount'); ?></td>
			<td colspan="4"><input type="text" name="amount" id="j_amount" value=""/></td>
		</tr>

	</table>
	<input type="submit" name="submit" id="filter" value="<?php echo $this->translate('filter'); ?>" />
	<input type="hidden" name="export_type" id="export_type" value=""  />
	<input type="submit" value="<?php echo $this->translate('generatepdf');  ?>" name="generate_pdf" id="generate_pdf" />
	<input type="submit" value="<?php echo $this->translate('generatecsv');  ?>" name="generate_csv" id="generate_csv" />
	
	<br />
	<p>
		*)<?php echo $this->translate('Link to access invoice cancelation dialog.'); ?>
	</p>
	<div id="invoice_journal_list">
		<!-- content loaded by AJAX request -->
	</div>
	<input type="hidden" id="j_sortby" name="j_sortby" value="" />
	<input type="hidden" id="j_sortdir" name="j_sortdir" value="" />
</form>
<input type="hidden" id="storno_selected_invoice" value="" />
<input type="hidden" id="storno_selected_invoice_id" value="" />

<div id="storno_dialog">
	<p>
		<?php echo $this->translate('storno_dialog_text');  ?>
	</p>

</div>