<div id="feth_list_div" class="grid">
<table class="datatable" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<?php if($this->createuser != true): ?>
			<th><input name="allmsg_id[]" type="checkbox" onclick="checkedall(this)" value="" /></th>
		<?php endif; ?>
		
		<th class="sort<? echo $this->unorder ?>"><a
			href="javascript:void(0);"
			onClick="ajaxCallserver({url:'user/fetchlist?clm=un&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('username') ?></a></th>
		<th class="sort<? echo $this->lnorder ?>"><a
			href="javascript:void(0);"
			onClick="ajaxCallserver({url:'user/fetchlist?clm=ln&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('lastname') ?></a></th>
		<th class="sort<? echo $this->fnorder ?>"><a
			href="javascript:void(0);"
			onClick="ajaxCallserver({url:'user/fetchlist?clm=fn&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('firstname') ?></a></th>
		<th><? echo $this->translate('keyuser') ?></th>
		<?php if($this->createuser != true): ?>
			<th><? echo $this->translate('setpermissions') ?></th>
		<?php endif; ?>
	</tr>
	<? echo $this->usergrid ?>
	<tr>
		<td colspan="7" valign="top"><input name="remove" id="remove"
			type="submit" class="button"
			value="<? echo $this->translate('save')?>" /></td>
	</tr>
	<tr>
		<td colspan="7" valign="top"><? echo $this->navigation ?></td>
	</tr>

</table>
</div>