<?php $group_details = $this->group_details ;?>
<form action="" method="post" name="frmsymptom" id="frmsymptom">
	<fieldset>
		<legend><?php echo $this->translate('client symptomatology group') ?></legend>
		<a href="symptomatology/clientsymptomgroupslist" class="back_link"><?php echo $this->translate('back')?></a>
		<div id="PatientsError" class="err"><?php echo $this->error_message ?></div>
			<div class="form_block">
				<div>
					<div class="label_block">
						<label><?php echo $this->translate('Symp group name')?></label>
					</div>
					<div class="fields_block"><input type="text" name="groupname" value="<?php echo  $group_details['groupname']; ?>" /></div>
				</div>
				<div>
					<div class="label_block">
						<label>&nbsp;</label>
					</div>
					<div class="fields_block">
						<button type="submit" name="btnsubmit" id="btnsubmit" tabindex="9" class="button" ><?php echo $this->translate('submit') ?></button>
					</div>
				</div>
			</div>
	</fieldset>
</form>