<script type="text/javascript">
	var pl_loading = function(){

var dlist = '<div class="loadingdiv" align="center"><img src="images/pageloading.gif"><br />	Loading... please wait</div>';
document.getElementById('content').innerHTML = dlist;

}
var callBack = function(params)
{
	document.getElementById('content').innerHTML = params.maillist; 
	
	
}
  function DoNav(theUrl)
  {
  	document.location.href = appbase+theUrl;
  }
  
  function checkedall(allid)
  {
  
  	checkbox = document.getElementsByName('msg_id[]');
	
	if(allid.checked==true)
	{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = true; 
		}
	}else{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = false; 
		}
	}
  }
  
  function frmsubmit(btnname)
  {
  	if(btnname=="remove")
	{
		document.frmuser.action ='message/deletemails?fld='+$('#hdnfld').val();
		document.frmuser.submit();

	}else if(btnname=="move")
	{
		document.frmuser.action = 'message/movetofolder?fld='+$('#hdnfld').val();
		document.frmuser.submit();
	}else if(btnname=="read")
	{
		document.frmuser.action = 'message/setread?fld='+$('#hdnfld').val();
		document.frmuser.submit();
	}else if(btnname=="unread")
	{
		document.frmuser.action = 'message/setunread?fld='+$('#hdnfld').val();
		document.frmuser.submit();
	}
  }
  
</script>        
<form action="<? echo $this->action ?>" method="post" name="frmuser" id="frmuser" >
	<input name="hdnfld" id="hdnfld" type="hidden" value="<? echo $_GET['fld'];?>" />

	<div id="msgInbox_translatteDiv">

		<div class="add_new_medi">
			<a href="message/sendmessages">
				<img src="<? echo RES_FILE_PATH;  ?>/images/edit_add.png" width="20" height="20" />
				<div class="add_new_medi_link">
					<? echo $this->translate('composemail') ?>
				</div>
			</a>
		</div>
		
		<div class="clearer"></div>
		
		<div id="msgInbox_MsgError" class="err">
			<? echo $this->error_message ?>
		</div>
		
		<div id="content">
			<? echo $this->inboxgrid ?>
		</div>
</form>

<script type="text/javascript">
	ajaxCallserver({url:'message/fetchoutlist?clm=dt&ord=DESC&pgno=0&fld=<? echo $_GET['fld']?>',callLoading:pl_loading});
</script>