/* ISPC-2797 Ancuta 17.02.2021 */

				table.medikation > tbody > tr > td {
					height:auto;
					padding:5px;
					vertical-align:middle;
					font-size:12px;
				}
				
				table.medikation>tbody>tr.double.first>td.name, table.medikation>tbody>tr.double.first>td.dosierung {
					padding-top:5px;
					padding-bottom:2px;
				}
				table.medikation>tbody>tr.double.last>td {
					padding-top:3px;
					padding-bottom:5px;
				}
				
				table.medikation > tbody > tr.separator td {
					height:8px;
				}

table.medikation > tbody > tr.planned-content > td {
/* 	background-color:#e0efe1; */
}
table.medikation > tbody > tr.planned-content.red > td {
	/* background-color:#efe0e1; */
}

table.medikation > tbody > tr td.planned-extra {
	border-radius:0 0 6px 6px;
	border-left:0;
	padding:9px;
	border-top:1px solid #D8D8D8;
  	background-color:#e0efe1; 
	color:#69a66f;
}
table.medikation > tbody > tr td.planned-extra.red {
  	background-color:#efe0e1; 
	color:#a66969;
}
table.medikation > tbody > tr td.planned-extra.first {
	border-radius:0 0 0px 6px;
}
table.medikation > tbody > tr td.planned-extra.last {
	border-radius:0 0 6px 0px;
}

table.medikation > tbody > tr td.planned-extra span.type {
	font-weight:bold;
	width:180px;
	padding-left:30px;
	display:block;
	box-sizing:border-box;
	float:left;
}
table.medikation > tbody > tr td.planned-extra.last span {
	margin-right:50px;
}
 

table.medikation > tbody > tr.planned-content > td:first-child {
	    border-radius: 6px 0 0 0px;
}
table.medikation > tbody > tr.planned-content > td:last-child {
	    border-radius: 0;
}
table.medikation > tbody > tr.double.last.red.planned-content > td:first-child {

	border-radius:0;
}


/* Added by Ancuta */
table.medikation > tbody > tr > td{
	border-bottom: 0px!important;
}

