/*upload section issues fixes*/
#frmuser .datatable {
    width: 100%;
  }
  
#frmuser  .datatable td.file_user, #frmuser .datatable th.file_user {
	  width:150px;
  }
  
#frmuser  .datatable td.file_type, #frmuser .datatable th.file_type {
	  width:80px;
  }
#frmuser .datatable td.file_actions, #frmuser .datatable th.file_actions {
	 width:74px;
	 padding-left:5px;
 }
 
#frmuser .datatable th {
	height:30px;
	padding:0;
}
#frmuser .datatable th.file_date {
	width:110px;
}

#frmuser .datatable th a {
	height:34px;
	line-height:34px;
	padding-left:5px;
	background:url(arr-sort.svg) calc(100% - 7px) 50% no-repeat;
}

#frmuser .datatable th a.sort-up {
	background:url(arr-sort-up.svg) calc(100% - 7px) 50% no-repeat;
}
#frmuser .datatable th a.sort-down {
	background:url(arr-sort-down.svg) calc(100% - 7px) 50% no-repeat;
}

#frmuser .tags_info.tags_editor {
	width:16px;
	height:16px;
	margin-top:5px;
	
}
 
#frmuser .datatable td a span {
	margin-bottom:5px;
	    line-height: 18px;
} 
#frmuser .datatable td {
	line-height: 18px;
	
}


    

/* files upload */

.upload-shortcuts {
	display:inline-table;
	width:100%;
	
}
.upload-shortcuts ul {
	display:inline-table;
	width:100%;
	margin-top:15px;
	margin-bottom:10px;
	font-size:0;
}
.upload-shortcuts ul li {
	width:calc(33.33% - 10px);
	height:75px;
	background:transparent;
	
	position:relative;
	margin-right:10px;
	
	border: 2px dashed #b3bcd2;
    border-radius: 6px;
    background: transparent;
    box-sizing: border-box;
    display: block;
    float:left;
    max-height: none;
    padding-top: 10px;
	padding-left:10px;	
}
.upload-shortcuts ul li div {
	border:0;
	width:calc(100% - 20px);
	height:50px;
	background:#00a2ff;
	display:inline-table;
	position:relative;
	margin:0px 5px;
	font-size:16px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:50px;
	cursor:pointer;
	border-radius:12px;
	box-sizing:border-box;
	
	-webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
 
    transition: box-shadow 0.3s ease, background 0.3s ease;
	
}





.upload-shortcuts ul li div:hover {
	background:#178fe9;
	transition: box-shadow 0.3s ease, background 0.3s ease;
}

.upload-shortcuts ul li span {
	padding-right:50px;
}
.upload-shortcuts ul li:nth-child(3) {
	width:33.33%;
	margin-right:0;
}

.upload-shortcuts ul li button {
	position:absolute;
	right:0px;
	top:0px;
	border:0;
	background:#029af1 url(plus.svg) 50% 50% no-repeat;
	width:50px;
	height:50px;
	margin:0;
	padding:0;
	border-radius:0 12px 12px 0;
	transition: background 0.3s ease;
}
.upload-shortcuts ul li button:hover {
	background-color:#1482d4;
	transition: background 0.3s ease;
}
.upload-shortcuts > .shortcuts-small {
	width:100%;
	height:40px;
	background: #555;
	display:inline-table;
	position:relative;
	margin-right:10px;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:40px;
	cursor:pointer;
	border-radius:12px;
	box-sizing:border-box;
	border:0;
	transition: background 0.3s ease;
	
}
.upload-shortcuts > .shortcuts-small:hover {
	background:#000;
	transition: background 0.3s ease;
}



.tags_quick_file_upload{
	margin-top:10px;
	border-top:2px solid #ddd5d5;
	padding-top:10px; 
}

.tagFile_upload  .bigupload.qq-uploader{
	width: calc(33.33% - 10px);
	height: auto;
	background: transparent;
	position: relative;
	margin-right: 10px;
	border: 2px dashed #b3bcd2;
	border-radius: 6px;
	background: transparent;
	box-sizing: border-box;
	display: block;
	float: left;
	max-height: none;
	padding-top: 10px;
	padding-left: 10px;
}
.tagFile_upload  .bigupload.qq-uploader a{
	border: 0;
	width: calc(78% - 3px);
	height: 20px;
	background: #00a2ff;
	display: inline-table;
	position: relative;
	margin: 0px 5px;
	margin-right: 0px;
	margin-top:5px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	border-radius: 12px 0px 0px 12px;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.05);
	transition: box-shadow 0.3s ease, background 0.3s ease;
	float: left;
}
.tagFile_upload  .bigupload.qq-uploader a:hover{
	background:#178fe9;
	text-decoration : none;
	
	transition: box-shadow 0.3s ease, background 0.3s ease;
}
.tagFile_upload  .bigupload.qq-uploader .qq-upload-list li {
	width: calc(100% - 30px);
	margin: 0px 5px;
}

.clearButton{
float: right;
border: 0;
background: #029af1 url(plus.svg) 50% 50% no-repeat!impoerant;;
    background-color: rgb(2, 154, 241);
width: 50px!important;
height: 50px;
margin: 0;
padding: 0!important;
border-radius: 0 12px 12px 0;
transition: background 0.3s ease;
}




.tagFile_upload .bigupload.qq-uploader .qq-upload-button {
    border-collapse: separate;
    display: inline-table;
    width: 50px;
    height: 50px;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 0;
    border-radius: 6px;
    border-radius: 0px 12px 12px 0px;
    border: none;
	background: #029af1 url(plus.svg) 50% 50% no-repeat;
    background-color: rgb(2, 154, 241);
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
    transition: all 0.3s ease;
}

.input-shortcuts-small{
width: 100%!important;;
height: 40px!important;;
background: #555;
display: inline-table;
position: relative;
margin-right: 10px;
font-size: 14px;
color: #fff!important;;
font-weight: bold;
text-align: center;
line-height: 40px;
cursor: pointer;
border-radius: 12px;
box-sizing: border-box;
border: 0;
transition: background 0.3s ease;
}

.blink_edit_cont{
	background:  #e8f3bb;
}