/*  ISPC-2479 Cristi 29.10.2020 */

/* top nav redesign*/

ul.tabs-topnav {
	display:inline-table;
	margin:0;
	padding:0;
	margin-bottom:15px;
}

ul.tabs-topnav li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	background:#D7E1EE;
	border-radius:6px;
	padding:0px 20px;
	display:block;
	-webkit-box-shadow: 0px 2px 12px 0px rgba(12,27,41,0.12);
	-moz-box-shadow: 0px 2px 12px 0px rgba(12,27,41,0.12);
	box-shadow: 0px 2px 12px 0px rgba(12,27,41,0.12);
	transition:box-shadow 0.3s ease;
	margin-right:5px;
	margin-bottom:5px;
	
	font-family:Arial;
	font-size:14px;
	color:#446272;
	position:relative;
	
	height:40px;
	line-height:40px;
	
}

ul.tabs-topnav li:hover {
	cursor:pointer;
	-webkit-box-shadow: 0px 2px 22px 0px rgba(12,27,41,0.24);
	-moz-box-shadow: 0px 2px 22px 0px rgba(12,27,41,0.24);
	box-shadow: 0px 2px 22px 0px rgba(12,27,41,0.24);
	transition:box-shadow 0.3s ease;
}
ul.tabs-topnav li.active {
	background:#00A2FF;
	color:#ffffff;
	font-weight:bold;
}


ul.tabs-topnav li.filter-settings {
	background:#D7E1EE url(../images/settings.svg) 50% 50% no-repeat;
	background-size:16px auto;
}


ul.tabs-topnav.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
	background:none;
	border:none;
}

.patientlisttabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
	background:none;
	border:none;
}
 
 .patientlisttabs.ui-tabs .ui-tabs-nav li a {
  	padding:0 20px;
  	color:#446272;
  	font-weight:normal;
  }
  
 .patientlisttabs .slide_p {
 	border-top:0;
 }
 
  .patientlisttabs .ui-state-default,  .patientlisttabs .ui-widget-content .ui-state-default,  .patientlisttabs .ui-widget-header .ui-state-default {
  	background:#D7E1EE;
  	border:none;
  } 
  
 .patientlisttabs .ui-state-active, .patientlisttabs .ui-widget-content .ui-state-active, .patientlisttabs .ui-widget-header .ui-state-active {
 	background: #00A2FF;
 }
 
 
 .patientlisttabs.ui-tabs .ui-state-active a,  .patientlisttabs.ui-tabs .ui-widget-content .ui-state-active  a,  .patientlisttabs.ui-tabs .ui-widget-header .ui-state-active  a{
 	color:#fff;
 }
 
 
 /*settings */

a.filter-settings.on:hover {
	box-shadow:inherit !Important;
	 
}
a.filter-settings.on {
	background:#FCFCFC url(images/settings-blue.svg) 50% 50% no-repeat;
	background-size:16px auto;
	border-radius:6px 6px 0 0;
	border:1px solid #E6E6E6;
	border-bottom:1px solid #FCFCFC;
	margin-bottom:0;
	height:45px;
	z-index:3;
	
}
a.filter-settings.on::after {
	content:" ";
	width:calc(100% + 50px);
	height:9px;
	display:block;
	position:absolute;
	bottom:-10px;
	left:-25px;
	z-index:3;
	background:#FCFCFC;
	
}

.patientlisttabs .slide_p {
	position:absolute;
	left:1000px;
	top:5px;	
}

.patientlisttabs .slide_p .btn-slide_p, .patientlisttabs .slide_p  .btn-slide-n_p {
	width:45px;	
	height:45px;
	padding:0;
}

/*search*/
.pl-container.settings .search-fields ul.search {
	margin:0; 
	padding:0;
}
.pl-container.settings .search-fields ul.search li {
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	display:inline-table;
	box-sizing:border-box;
	padding-bottom:12px;
}
.pl-container.settings .search-fields ul.search li label {
	width:100%;
	display:inline-table;
	font-size:12px;
	text-transform:uppercase;
	line-height:23px;
	font-weight:bold;
	color:#272727;
	font-family: arial;
	letter-spacing: 0.5pt;
}
.filtertable input, .filtertable select {
	height:30px;
	border:1px solid #D8D8D8;
	box-sizing:border-box;
	width:100%;
	max-width:400px;
	border-radius:6px;
	padding-left:5px;
	font-size:13px;
	font-family:Arial;
	color:#000000;
	outline:none;
}

.filtertable input {
	background-color:#fff;
}

.filtertable select {
	background-color:#DDD;
}
.filtertable input:focus, .filtertable select:focus {
	border:1px solid #00A2FF
}

/* checkbox  */
.system_icon_filters  {
	margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    text-align: left;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0;
}

.system_assigned_data .system_icon_filters {
	margin-bottom:10px;
	height:40px;
}

.patientlisttabs .system_icon_filters input[type="checkbox"] {
	position: absolute;
	opacity: 0;	
	width:45px;
	z-index:-1;
}
.patientlisttabs .system_icon_filters label {
	position: relative;
	display: table-cell;
	padding: 0;
	 
	cursor: pointer;
	background:#EDEDED;/* 	TODO-3731 Ancuta 12.01.2021 - remove important */ 
	width:40px !important;
	min-width:40px;
	height:40px;
	min-height:40px;
	text-align:center;
	border: 1px solid #EDEDED;/* 	TODO-3731 Ancuta 12.01.2021 - added border */ 
	border-radius:6px;
	vertical-align:middle;
	transition: box-shadow 0.3s ease, background-color 0.3s ease;
	 
}


.patientlisttabs  .system_icon_filters label img {
	/* margin-top:6px; */
	max-width:28px;
	max-height:28px;
	opacity:0.45;
	display:block;
	margin:0 auto;
	transition:opacity 0.3s ease;
	z-index:1;	
	margin-top:6px;
	 
}

.patientlisttabs .system_icon_filters label::before,
.patientlisttabs .system_icon_filters label::after {
	position: absolute;
	top: -5px;
	right: -5px;
	display: block;
	width: 16px;
	height: 16px;
}
.patientlisttabs .system_icon_filters label::before {
	content: " ";
	border: 0px solid #d4dce3;
	border-radius: 50%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	opacity:0;
	transition: opacity 0.3s ease;
	z-index:3;
}


/* Checkbox */
.patientlisttabs .system_icon_filters input[type="checkbox"]:checked + label::after {
	background:url(images/iconCheckmarkWhite.svg) 50% 50% no-repeat;
	background-size: 10px auto;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	font-size:11px;
	content:" ";
	z-index:4;
}
 
/* :checked */
.patientlisttabs .system_icon_filters input[type="checkbox"]:checked + label::before {
	border:0px solid transparent;
	background-color:#79EB74;
	opacity:1;
	transition: opacity 0.3s ease;

}
 

.patientlisttabs  .system_icon_filters input[type="checkbox"] + label::after  {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.patientlisttabs .system_icon_filters input[type="checkbox"]:checked + label::after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* Transition */
.patientlisttabs .system_icon_filters label::before,
.patientlisttabs .system_icon_filters label::after {
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}

.patientlisttabs  .system_icon_filters input[type="checkbox"]:checked + label {
	background:#FFFFFF;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.12);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
 
}
.patientlisttabs .system_icon_filters input[type="checkbox"]:checked + label img {
	opacity:1;
	transition:opacity 0.3s ease;
}


/*disabled*/
.patientlisttabs .system_icon_filters .disabled label::before {
	border-color:#f0f0f0;
}

.patientlisttabs .system_icon_filters .disabled input[type="checkbox"]:checked + label::before {
	background: #f0f0f0;
	border-color: #f0f0f0;
}


.chosen-container span, chosen-container-single {
	height: 30px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    width: 100%;
    width: 400px;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 13px;
    font-family: Arial;
    color: #000000;
    outline: none;
	
}

.filterContainer .chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    min-width: 400px;
    background-color: #ddd!important;
    height: 30px;
    font-weight:normal;
}

.filterContainer .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 4px;
    height: 30px;
    border: 1px solid #b5bfd5;
    border-radius: 6px;
    background-color: #ddd;
    /* color: #444; */
    text-decoration: none;
    white-space: nowrap;
    line-height: 30px;
    font-weight:normal;
}

.filterContainer .tdlabel {
	text-transform:uppercase;	
    display: inline-table;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 23px;
    font-weight: bold;
    color: #272727;
    font-family: arial;
    letter-spacing: 0.5pt;
}

.lefttdrows.ldateofbirth select {
	max-width:200px;
}

.filtertable .system_icon_filters {
	margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    text-align: left;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0;
	border:none;
	position:relative;
}

.crisses_statuses, .patients_statuses, .patients_clinic_case_statuses, .system_assigned_data, .sapv_WL_statuses, 
.diagno_act_statuses, .maintenancestage_statuses, .bottomFilters {
	width:100%;
	float:left;
	margin-bottom:10px;
}
.crisses_statuses:after, .patients_statuses:after .patients_clinic_case_statuses:after .system_assigned_data:after,   
.sapv_WL_statuses:after, .diagno_act_statuses:after, .maintenancestage_statuses:after, .bottomFilters:after, 
.filtericonbar:after, .bottomFiltersRight:after, .iconFiltersContainer:after, .rightRadioContainer:after, .iconFiltersContainer:after {
  content: ".";
  display: table;
  clear: both;
  
}

.chosen-drop .chosen-results {
	width:100%!important;
	max-width:100%!important;
}

.iconFiltersContainer {
	
	position:relative;
	
}

.iconFiltersContainer:after {
	content: "";
    position: absolute;
    height: 1px;
    background-color: rgba(159,159,159,0.25);
    left: -35px;
    right: -35px;
    top: -15px;
	
}

.filtericonbar {
	width:100%;
}
 
 
 .bottomFiltersRight {
	 width:50$;
	 float:left;
 }
 
 .leftFilters {
 	width:50%;
 	float:left;
 }
 
 #paneln {
 	border: 1px solid rgba(159,159,159,0.25);
    margin-top: 5px;
 }
 
 
 .filterContainer .rightFiltersHeader, .filterContainer .leftFiltersHeader {
 	text-transform: capitalize;
    font-size: 20px;
 }
 
 .leftFiltersHeader, .rightFiltersHeader {
 	margin-bottom:25px;
 	display:block;
 }
 
.btnEASubmit.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
	display:inline-block;
	box-sizing:border-box;
	width:calc(100% -  50px);
	max-width:1200px;
	margin-left:25px;
	margin-bottom:25px;
	height:47px;
	background:#00A2FF url(images/iconCheckmarkWhiteThin.svg) calc(50% - 78px) 50% no-repeat;
	background-size:21px auto;
	border:0;
	border-radius:6px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	padding-left:25px;
	transition:background-color 0.3s ease;
	margin-top:25px;
}

.btnEASubmit.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover {
	cursor:pointer;
	background-color:#008AD9;
	transition:background-color 0.3s ease;
	
}

.filtersSubmitButton {
	display:block;
}

.table.overalllistatable th {
	border:none;
	border-right:1px solid #D8D8D8;
	border-bottom:0;
	border-top:0;
	border-left:0;
}

.overalllistatable.datatable td {
	border-right:1px solid #D8D8D8;
	border-bottom:0;
	border-top:0;
	border-left:0;
}

.datatable th {
	border:none!important;
}

table.overalllistatable th {
	border:none!important;
	border-left:1px solid #D8D8D8!important;
	text-align: left;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5pt;
    vertical-align: middle;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    height: 30px;
    text-transform:uppercase;
}

.overalllistatable.datatable td {
	font-size: 13px;
    font-family: Arial;
    color: #707070;
    border-left: 1px solid #D8D8D8;
    padding: 8px 14px;
    height: 34px;
     
}

div#MainContent table.datatable td {
	padding: 8px 14px!important;
}



.rightFilters .columnlabels {
    width: 153px;
    float: left;
    margin: 1px 3px 0 0;
    line-height: 36px;
}

.rightFilters .checkcolumns{
    height: 30px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    width: 20px;
    max-width: 400px;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 13px;
    font-family: Arial;
    color: #000000;
    outline: none;
}


/*   pagination    */

.paginationRow #pg > span {
	display:inline-table;
	height:41px;
	margin:0 auto;
	padding:0;
}
.paginationRow #pg > span a, .paginationRow #pg > span span {
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}
.paginationRow #pg > span a, .paginationRow #pg > span span {
	border:1px solid #00A2FF;
	box-sizing:border-box;
	height:31px;
	
	display:block;
	padding-left:12px;
	padding-right:12px;
	margin-right:-1px;
	line-height:30px;
	text-decoration:none;
	font-size:13px;
	color:#00A2FF;
	background-color:#FCFCFC;
	background-repeat:no-repeat !Important;
	transition:background-color 0.3s ease, background-image 0.3s ease;
}
.paginationRow #pg > span a:hover, .paginationRow #pg > span span:hover {
	background-color:#00A2FF;
	color:#ffffff;
	transition:background-color 0.3s ease, background-image 0.3s ease;
}
.paginationRow #pg > span a a {
	width:31px;
	padding-left:0;
	padding-right:0;
	text-align:center;
}

.paginationRow #pg > span a.current {
	background-color:#00A2FF;
	color:#ffffff;
	font-weight:bold;
}


.paginationRow #pg > span span.disabled {
	border:1px solid #D8D8D8;
	background:#EDEDED;
	color:#D9D9D9;
}
.paginationRow #pg > span a:first-child {
	border-radius:6px 0px 0px 6px;
	width:31px;
	background-image:url(images/dbl-arr-left-blue.svg);
	background-size:12px auto;
	background-position:50% 50%;
	text-indent:5000px;
 
}

.paginationRow #pg > span a.disabled:first-child {
	background-image:url(images/dbl-arr-left-gray.svg);
	border:1px solid #D8D8D8;
	background:#EDEDED;
	color:#D9D9D9;
}

.paginationRow #pg > span a.disabled:first-child {
	background-image:url(images/dbl-arr-right-gray.svg);
	border:1px solid #D8D8D8;
	background:#EDEDED;
	color:#D9D9D9;
}

.paginationRow #pg > span a:first-child:hover {
	background-image:url(images/dbl-arr-left-white.svg);
 
}

.paginationRow #pg > span a:first:child {
	background-image:url(images/dbl-arr-left-gray.svg);
}

.paginationRow #pg > span a:last-child {
	border-radius:0px 6px 6px 0px;
	width:31px;
	background-image:url(images/dbl-arr-right-blue.svg);
	background-size:12px auto;
	background-position:50% 50%;
	text-indent:5000px;
}

/*Radio buttons */

.rightFilters  ul.radio-legend {
	margin:0;
	padding:0;
	 float:left;
	padding-left:30px !important; 
	padding-top:10px;
/* 	width:230px; */
	width:430px;
	display:inline-table;
	margin-bottom:35px !important;
}
.rightFilters  ul.radio-legend > li {
	float:left;
	display:block;
	margin:0 !important;
	margin-top:4px !Important;
	height:17px;
	line-height:17px;
	font-size:11px;
	font-family:Arial;
	color:#fff;
	padding:0px 3px;
	width:auto !important;
	
	
}
.rightFilters ul.radio-legend > li:nth-child(1) {
	background:#D8D8D8;
	color:#848484;
	border-radius:17px 0 0 17px;
}
.rightFilters ul.radio-legend > li:nth-child(2) {
	background:#79EB74;
}
.rightFilters ul.radio-legend > li:nth-child(3) {
	background:#00A2FF;
	border-radius:0 17px 17px 0;
}

/*
New radio boxes style v1
this style can be merged with style.css
*/

.checkboxes-container h1 {
	float:left;
}
.checkboxes-container .radio-legend {
	margin:0;
	padding:0;
	 float:left;
	padding-left:30px !important; 
	padding-top:10px;
	width:230px;
	display:inline-table;
	margin-bottom:35px !important;
}
.checkboxes-container .radio-legend > div {
	float:left;
	display:block;
	margin:0 !important;
	margin-top:4px !Important;
	height:17px;
	line-height:17px;
	font-size:11px;
	font-family:Arial;
	color:#fff;
	padding:0px 3px;
	width:auto !important;
	
	
}
.checkboxes-container .radio-legend > div:nth-child(1) {
	background:#D8D8D8;
	color:#848484;
	border-radius:17px 0 0 17px;
}
.checkboxes-container .radio-legend > div:nth-child(2) {
	background:#79EB74;
}
.checkboxes-container .radio-legend > div:nth-child(3) {
	background:#00A2FF;
	border-radius:0 17px 17px 0;
}

.radio-container {	
	float: right;
	display: inline-table;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.radio-container input[type=radio] {		 
	width:17px;
	margin:0;
	display:block;
	box-sizing:border-box;
	height:21px;
	opacity:0;
	position:absolute;
	z-index:10;
}
.radio-container input.r2 {
	margin-left:17px !important;
}
.radio-container input.r3 {
	margin-left:34px !important;
}
.radio-container span.bg {
	width:51px;
	height:21px;
	background:#CFCFCF;
	display:block;
	float:left;
	box-sizing:border-box;
	position:relative;
	border-radius:21px;
	z-index:1;
	transition:all 0.3s ease !important;
}
.radio-container span.bg > div.slider {
	width:17px;
	height:17px;
	background:#ffffff;
	display:block;
	border-radius:50%;
	position:absolute;
	top:2px;
	left:2px;
	transition:all 0.3s ease !important;
}	
		
.radio-container input[type=radio].r1:checked ~ span {
	background:#CFCFCF !Important;
}
.radio-container input[type=radio].r1:checked ~ span > div.slider {
	transition:left 0.3s ease;
}
.radio-container input[type=radio].r2:checked ~ span {
	background:#79EB74 !Important;
}
.radio-container input[type=radio].r2:checked ~ span > div.slider {
	left:calc(50% - 9px);
	transition:all 0.3s ease;
}
		
.radio-container input[type=radio].r3:checked ~ span {
	background:#00A2FF !Important;
}
.radio-container input[type=radio].r3:checked ~ span > div.slider {
	left:calc(100% - 19px);
	transition:all 0.3s ease;
}
		
.radio-container div label {
	position: relative;
	display: inline-block;
	padding: 0;
	padding-left: 7px;
	line-height: 1.5;
	cursor: pointer;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 23px;
	font-weight: bold;
	color: #272727;
	font-family: arial;
}

.headerCheckboxContainer {
	float:left;
	font-size:20px;
	text-transform:capitalize;
	margin-top:10px;
}

.rightFilters .radioLegendContainer {
	width:100%;
}

.searchInput .tdlabel {
	font-size:20px;
	text-transform:capitalize;
	margin-top:10px;
	margin-bottom:25px;
}

.rightFilters .checkboxdiv {
	width:50%;
	margin-bottom:10px;
	
}

.rightFilters  #columnlabels {
	width:auto;
	min-width:300px;
	line-height:18px;
}

.rightRadioContainer {
	width:50%;
	float:right;
}


.SearchContainer {
	width:50%;
	float:left;
}

.iconFiltersContainer {
	width:100%;	
	margin-top:50px;
	position:relative;
	float:left;	
}

.iconFiltersContainer:after {
	content: "";    
    height: 1px;
    left: -38px;
    right: -14px;
    background-color: rgba(159,159,159,0.25);
    position: absolute;
    top: -25px;
}


/*sorting*/
.right-nav {
	right:10px;
	top:10px;
	position:absolute;
	
}

.right-nav .sorting {
	float:left;
	height:35px;
	width:170px;
	position:relative;
	display:inline-table;
	line-height:35px;
	font-size:13px;
	text-indent:10px;
	background:#EDEDED;
	border-radius:6px;
	/* margin-right:15px; */
	cursor:pointer;
	transition:background-color 0.3s ease;
	box-sizing:border-box;
}
.right-nav .sorting:hover {
	background:#DFDFDF;
}

.right-nav .sorting.print {
	padding-left:25px;
	 
	background-image:url(images/print.svg);
	background-repeat:no-repeat;
	background-position:10px 50%;
	background-size:15px auto;
}

.right-nav .buttons {
	display:block;
	float:right;
	margin-top:10px;
	/* width:47px; */
	padding-right:10px;
}
.right-nav .buttons .btnSort {
	width:15px;
	height:15px;
	display:block;
	background-color:transparent;
	border:0;
	float:right;
	margin-left:4px;
	opacity:0.12;
	outline:none;
	cursor:pointer;
	transition:filter 0.3s ease, opacity 0.3s ease;
}
.right-nav .buttons .btnSort:hover {
	-webkit-filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .3));
	filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .3));
	opacity:1;
	transition:filter 0.3s ease, opacity 0.3s ease;
}
.right-nav .buttons .btnSort.active {
	opacity:1;
}
.right-nav .buttons .sortdown {
	background:url(images/sortdown.svg) 50% 50% no-repeat;
	background-size:13px 8px;
}
.right-nav .buttons .sortup {
	background:url(images/sortup.svg) 50% 50% no-repeat;
	background-size:13px 8px;
}
 
/*sorting drop down*/
.right-nav .sorting-dd {
	position:absolute;
	width:205px;
	background:#ffffff;
	z-index:5;
	margin-top:40px;
	border-radius:6px;
	
	-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.36);
	box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.36);
} 

.right-nav .sorting-dd .sortby {
	border-bottom:1px solid #D8D8D8;
	display:block;
	height:40px;
	width:100%;
	text-indent:16px;
	font-size:13px;
	font-weight:bold;
	margin-top:7px;
	line-height:37px;
}
 
.right-nav .sorting-dd ul {
	 margin:0;
	 padding:10px 16px;
	 
 }
.right-nav .sorting-dd ul li {
	list-style:none;
	padding:0;
	margin:0;
	text-indent:0;
	line-height:28px;
	font-size:13px;
}
.right-nav .sorting-dd ul li:hover {
	font-weight:bold;
	cursor:pointer;
}
.right-nav .sorting-dd ul li.active {
	background:url(images/checkmark.svg) 0px 50% no-repeat;
	background-size:13px 10px;
	color:#2B3A70;
	font-weight:bold;
	padding-left:19px;
}

.right-nav, div.pl-container .pl-top .left-nav {
	text-align:left;
}


.pl-container {
	display:inline-table;
	width:100%;
	background:rgba(245,245,245,0.25);
	border:1px solid rgba(159,159,159,0.25);
	font-family:arial;
	 
	box-sizing:border-box;
	position:relative;
}

#overallpatientlist {
	position:relative;
}

ul.tabs-topnav li.withnumber   {
	padding-right:30px;
}

li.withnumber span {
	width:22px;
	height:22px;
	border-radius:50%;
	background:#D7E1EE;
	display:inline-block;
	text-align:center;
	line-height:22px;
	font-size:10px;
	color:#6D6D6D; 
	letter-spacing:-0.5pt;
	position:absolute;
	right:15px;
	top:calc(50% - 11px);	 	
}
 


