/* ISPC-2479 */

body, html {
	padding:10px;
	margin:0;
	
}


ul.tabs-topnav {
	display:inline-table;
	margin:0;
	padding:0;
	margin-bottom:15px;
}
ul.tabs-topnav li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	background:#D7E1EE;
	border-radius:6px;
	padding:0px 20px;
	display:block;
	-webkit-box-shadow: 0px 2px 12px 0px rgba(12,27,41,0.12);
	-moz-box-shadow: 0px 2px 12px 0px rgba(12,27,41,0.12);
	box-shadow: 0px 2px 12px 0px rgba(12,27,41,0.12);
	transition:box-shadow 0.3s ease;
	margin-right:5px;
	margin-bottom:5px;
	
	font-family:Arial;
	font-size:14px;
	color:#446272;
	position:relative;
	
	height:40px;
	line-height:40px;
	
}
ul.tabs-topnav li.withnumber  {
	padding-right:45px;
}
ul.tabs-topnav li.withnumber > span {
	width:22px;
	height:22px;
	border-radius:50%;
	background:#D7E1EE;
	display:inline-block;
	text-align:center;
	line-height:22px;
	font-size:10px;
	color:#6D6D6D;
	position:relative;
 
	letter-spacing:-0.5pt;
	position:absolute;
	right:20px;
	top:calc(50% - 11px);
	 
	
}


ul.tabs-topnav li:hover {
	cursor:pointer;
	-webkit-box-shadow: 0px 2px 22px 0px rgba(12,27,41,0.24);
	-moz-box-shadow: 0px 2px 22px 0px rgba(12,27,41,0.24);
	box-shadow: 0px 2px 22px 0px rgba(12,27,41,0.24);
	transition:box-shadow 0.3s ease;
}
ul.tabs-topnav li.active {
	background:#00A2FF;
	color:#ffffff;
	font-weight:bold;
}


ul.tabs-topnav li.filter-settings {
	width: 50px; /* TODO-3643 Ancuta 27.11.2020 */
	background:#D7E1EE url(images/settings.svg) 50% 50% no-repeat;
	background-size:16px auto;
}


/*table top*/

div.pl-container .pl-top {
	display:inline-table;
	width:100%;
	padding:10px;
	box-sizing:border-box;
	position:relative;
	text-align:center;
	
	
}

div.pl-container .pl-top .left-nav {
	left:10px;
	top:10px;
	position:absolute;
	
}

div.pl-container .pl-top .right-nav {
	right:10px;
	top:10px;
	position:absolute;
	
}





/*   pagination    */

ul.pl-pagination {
	display:inline-table;
	height:41px;
	margin:0 auto;
	padding:0;
}
ul.pl-pagination li {
	list-style:none;
	float:left;
	
	padding:0;
}
ul.pl-pagination li a {
	border:1px solid #00A2FF;
	box-sizing:border-box;
	height:31px;
	
	display:block;
	padding-left:12px;
	padding-right:12px;
	margin-right:-1px;
	line-height:30px;
	text-decoration:none;
	font-size:13px;
	color:#00A2FF;
	background-color:#FCFCFC;
	background-repeat:no-repeat !Important;
	transition:background-color 0.3s ease, background-image 0.3s ease;
}
ul.pl-pagination li a:hover {
	background-color:#00A2FF;
	color:#ffffff;
	transition:background-color 0.3s ease, background-image 0.3s ease;
}
ul.pl-pagination li.item a {
	width:31px;
	padding-left:0;
	padding-right:0;
	text-align:center;
}

ul.pl-pagination li.active a {
	background-color:#00A2FF;
	color:#ffffff;
	font-weight:bold;
}


ul.pl-pagination li.disabled a {
	border:1px solid #D8D8D8;
	background:#EDEDED;
	color:#D9D9D9;
}
ul.pl-pagination li.first a {
	border-radius:6px 0px 0px 6px;
	width:31px;
	background-image:url(images/dbl-arr-left-blue.svg);
	background-size:12px auto;
	background-position:50% 50%;
 
}
ul.pl-pagination li.first a:hover {
	background-image:url(images/dbl-arr-left-white.svg);
 
}

ul.pl-pagination li.first.disabled a {
	background-image:url(images/dbl-arr-left-gray.svg);
}

ul.pl-pagination li.last a {
	border-radius:0px 6px 6px 0px;
	width:31px;
	background-image:url(images/dbl-arr-right-blue.svg);
	background-size:12px auto;
	background-position:50% 50%;
}
ul.pl-pagination li.last a:hover {
	background-image:url(images/dbl-arr-right-white.svg);
}
ul.pl-pagination li.last.disabled a {
	background-image:url(images/dbl-arr-right-gray.svg);
}


ul.pl-pagination li.prev a {
	background-image:url(images/arr-left-blue.svg);
	background-size:auto 11px;
	background-position:10px 50%;
	padding-left:30px;
}
ul.pl-pagination li.prev a:hover {
	background-image:url(images/arr-left-white.svg);
}
ul.pl-pagination li.prev.disabled a {
	background-image:url(images/arr-left-gray.svg);
}
ul.pl-pagination li.next a {
	background-image:url(images/arr-right-blue.svg);
	background-size:auto 11px;
	background-position:calc(100% - 11px) 50%;
	padding-right:30px;
}
ul.pl-pagination li.next a:hover {
	background-image:url(images/arr-right-white.svg);
}
ul.pl-pagination li.next.disabled a {
	background-image:url(images/arr-right-gray.svg);
}
ul.pl-pagination li.item {
	z-index:3;
	position:relative;
	}
ul.pl-pagination li:not(.item) {
	z-index:1;
}













/*sorting*/
div.pl-container .pl-top .sorting {
	float:left;
	height:35px;
	width:170px;
	position:relative;
	display:inline-table;
	line-height:35px;
	font-size:13px;
	text-indent:10px;
	background:#EDEDED;
	border-radius:6px;
	/* margin-right:15px; */
	cursor:pointer;
	transition:background-color 0.3s ease;
	box-sizing:border-box;
}
div.pl-container .pl-top .sorting:hover {
	background:#DFDFDF;
}

div.pl-container .pl-top .sorting.print {
	padding-left:25px;
	 
	background-image:url(images/print.svg);
	background-repeat:no-repeat;
	background-position:10px 50%;
	background-size:15px auto;
}

div.pl-container .pl-top .buttons {
	display:block;
	float:right;
	margin-top:10px;
	/* width:47px; */
	padding-right:10px;
}
div.pl-container .pl-top .buttons .btnSort {
	width:15px;
	height:15px;
	display:block;
	background-color:transparent;
	border:0;
	float:right;
	margin-left:4px;
	opacity:0.12;
	outline:none;
	cursor:pointer;
	transition:filter 0.3s ease, opacity 0.3s ease;
}
div.pl-container .pl-top .buttons .btnSort:hover {
	-webkit-filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .3));
	filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .3));
	opacity:1;
	transition:filter 0.3s ease, opacity 0.3s ease;
}
div.pl-container .pl-top .buttons .btnSort.active {
	opacity:1;
}
div.pl-container .pl-top .buttons .sortdown {
	background:url(images/sortdown.svg) 50% 50% no-repeat;
	background-size:13px 8px;
}
div.pl-container .pl-top .buttons .sortup {
	background:url(images/sortup.svg) 50% 50% no-repeat;
	background-size:13px 8px;
}
 
/*sorting drop down*/
div.pl-container .pl-top .sorting-dd {
	position:absolute;
	width:205px;
	background:#ffffff;
	z-index:5;
	margin-top:40px;
	border-radius:6px;
	
	-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.36);
	box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.36);
} 

div.pl-container .pl-top .sorting-dd .sortby {
	border-bottom:1px solid #D8D8D8;
	display:block;
	height:40px;
	width:100%;
	text-indent:16px;
	font-size:13px;
	font-weight:bold;
	margin-top:7px;
	line-height:37px;
}
 
div.pl-container .pl-top .sorting-dd ul {
	 margin:0;
	 padding:10px 16px;
	 
 }
div.pl-container .pl-top .sorting-dd ul li {
	list-style:none;
	padding:0;
	margin:0;
	text-indent:0;
	line-height:28px;
	font-size:13px;
}
div.pl-container .pl-top .sorting-dd ul li:hover {
	font-weight:bold;
	cursor:pointer;
}
div.pl-container .pl-top .sorting-dd ul li.active {
	background:url(images/checkmark.svg) 0px 50% no-repeat;
	background-size:13px 10px;
	color:#2B3A70;
	font-weight:bold;
	padding-left:19px;
}

div.pl-container .pl-top .right-nav, div.pl-container .pl-top .left-nav {
	text-align:left;
}


 




.pl-container {
	display:inline-table;
	width:100%;
	background:rgba(245,245,245,0.25);
	border:1px solid rgba(159,159,159,0.25);
	font-family:arial;
	 
	box-sizing:border-box;
	position:relative;
}








/*patient list table*/


table.patientlist {
	margin:10px;
	margin-top:0;
	width:calc(100% - 20px); 
	border-collapse:collapse;
	box-sizing:border-box;
	 
}
 
table.patientlist > thead > tr > th {
	text-align:left;
	font-size:12px;
	font-weight:bold;
	letter-spacing:0.5pt;
	vertical-align:middle;
	padding-bottom:8px;
	
	padding-left:14px;
	padding-right:14px;
	position:relative;
	height:30px;
}
table.patientlist > thead > tr > th:before {
	border-left:1px solid #D8D8D8;
	display:block;
	padding-left:1px;
	height:30px;
	content:" ";
	position:absolute;
	left:0px;
	top:0;
}
table.patientlist > thead > tr > th.checkbox {
	text-align:center;
	vertical-align:top;
	 
	 
}
 table.patientlist > thead > tr > th.checkbox:before {
	 display:none;
	 
 }
 

table.patientlist > thead > tr > th.name:before {
	border:0;
}
 
table.patientlist > tbody > tr td {
 
	background:#F3F3F3;
	transition:background 0.3s ease, box-shadow 0.3s ease;
	 
}
table.patientlist > tbody > tr:hover td {
	background-color:#FFFFFF; 
	cursor:pointer;
	color:#000;
	/* border-radius:6px !important; */
	
	
}

table.patientlist > tbody > tr:hover {
	-webkit-box-shadow: 5px 10px 32px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 5px 10px 32px 0px rgba(0,0,0,0.05);
	box-shadow: 5px 10px 32px 0px rgba(0,0,0,0.05);
	transition:background 0.3s ease, box-shadow 0.3s ease;
}



table.patientlist > tbody > tr:hover td:first-child {
	/* border-radius:6px 0 0 6px; */
	border-left:0;
}


table.patientlist > tbody > tr > td {
	font-size:13px;
	font-family:Arial;
	color:#707070;
	border-left:1px solid #D8D8D8;
	padding:8px 14px;
	height:34px;
	width:16%;
}

table.patientlist > tbody > tr > td:first-child {
	border-radius:6px 0 0 6px;
	border-left:0;
}
table.patientlist > tbody > tr > td:last-child {
	border-radius:0 6px 6px 0;
	padding-right:0;
}


table.patientlist > tbody > tr > td.sortnum {
	width:40px;
	min-width:40px;
	padding:0;
	border-right:0;
}
table.patientlist > tbody > tr > td.sortnum > span {
	width:22px;
	height:22px;
	background-color:#AFAFAF;
	display:block;
	text-align:center;
	line-height:22px;
	border-radius:50%;
	margin:0 auto;
	font-size:12px;
	color:#ffffff;
	font-family:arial;
	transition:background-color 0.3s ease, color 0.3s ease;
}
table.patientlist > tbody > tr > td.sortnum > span:hover {
	background-color:#00A2FF;
	color:#FFFFFF;
	transition:background-color 0.3s ease, color 0.3s ease;
}



table.patientlist td.details {
	padding:0 !important ;
	border-left:0;
	width:44px !important;
	min-width:44px;
	cursor:pointer;
	overflow:hidden !important;
	position:relative;
	background:#EDEDED url(images/btnExpand.svg) 50% 50% no-repeat;
	background-size:16px 11px;
	transition:background-color 0.3s ease;
}
table.patientlist tr:hover td.details {
	background-color:#F8F8F8;
}



table.patientlist td.details:hover {
    background: rgba(0,0,0,0.08) url(images/btnExpand.svg) 50% 50% no-repeat !important;
    background-size: 16px 11px !important;
    transition: background-color 0.3s ease;
}

table.patientlist td.details.collapse {
	 background:#EDEDED url(images/btnCollapse.svg) 50% 50% no-repeat !important;
	 background-size: 16px 11px !important;
}

/*separator*/
table.patientlist > tbody > tr.separator {
	background:transparent;
	
}
table.patientlist > tbody > tr.separator td {
	height:5px;
	padding:0;
	font-size:0;
	background:transparent;
	border:0;
}
 
table.patientlist > tbody > tr.separator:hover {
	background:transparent;
	box-shadow:none;
	cursor:auto;
}










table.patientlist td:nth-child(2), table.patientlist th:nth-child(2) {
	border:0;
	padding-left:2px;
	 
}

table.patientlist td div.icons {
	float:left; 
	display:block;
	height:19px;
	margin-right:5px;
}

table.patientlist td div.icons img {
	max-width:19px;
	max-height:19px;
}

table.patientlist td div.value {
	float:left;
	display:block;
	 
	min-height:19px;
	line-height:19px;
}

table.patientlist td.oversized div.value {
	padding-right:5px;
}
 


table.patientlist td.oversized div.hiddenvalue {
	width:12px;
	height:12px;
	display:block;
	overflow:hidden;
	background:#fff;
	float:right;
	position:relative;
	margin-bottom:-15px;
	margin-top:13px;
	box-sizing:border-box;
	line-height:19px;
	
}
table.patientlist td.oversized div.hiddenvalue:before {
	width:12px;
	height:12px;
	
	background:#F3F3F3 url(images/btnMore.svg) 50% 50% no-repeat;
	background-size:12px auto;
	background-color:#F3F3F3;
	content:" ";
	display:block;
	position:absolute;
	right:0;
	transition:background-color 0.3s ease;
}
table.patientlist tr:hover td.oversized div.hiddenvalue:before {
	background-color:#FFFFFF;
	transition:background-color 0.3s ease;
}

table.patientlist td.oversized div.hiddenvalue:hover {
	position:absolute;
	width:inherit;
	height:auto;
	overflow:none;
	padding:8px 14px;
	padding-right:32px;
	margin-top:-8px;
	margin-left:-14px;
	box-sizing:border-box;
	
	line-height:auto;
	
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.12);
}
table.patientlist td.oversized div.hiddenvalue:hover::before {
	width:12px;
	height:12px;
	
	background:#FFFFFF url(images/btnMore-blue.svg) 50% 50% no-repeat;
	background-size:12px auto;
	background-color:#FFFFFF;
	content:" ";
	display:block;
	position:absolute;
	right:15px;
	top:calc(50% - 5px);
	
	 
}

















/*expanded row */

table.patientlist tr.expanded td.oversized div.hiddenvalue {
	vertical-align:middle;
}
table.patientlist tr.expanded td.oversized div.hiddenvalue, table.patientlist tr.expanded td.oversized div.hiddenvalue:hover {
	position:relative;
	float:left;
	width:100%;
	height:auto;
	overflow:none;
	padding-right:8px;
	margin:0;
	padding:0;
	box-shadow:none;
	background:transparent;
}
table.patientlist tr.expanded td.oversized div.hiddenvalue:before {
	display:none;
}
table.patientlist tr.expanded td.oversized div.value {
	display:none;
}






















/*EXPANDED ROW */

table.patientlist tr.expanded  {
	 
	 
	 
}

table.patientlist tr.expanded td {
	background-color:#FFF;

}

table.patientlist > tbody > tr.expanded > td:first-child {
	border-radius:6px 0 0 0px;
	border-left:0;
}
table.patientlist > tbody > tr.expanded > td:last-child {
	border-radius:0 6px 0px 0;
	padding-right:0;
}



/*EXPANDED DETAILS*/

table.patientlist tr.expanded-details, table.patientlist tr.expanded-details:hover td  {
	cursor:auto !important;
	box-shadow:none;
}
table.patientlist tr.expanded-details td { 
	background:#ffffff;
	vertical-align:top;
	border:1px solid #D8D8D8;
	padding-top:15px;
	padding-bottom:15px;
	background:#F8F8F8;
}
table.patientlist tr.expanded-details {
	z-index:20;
}


table.patientlist tr.expanded-details:hover {
	box-shadow:none;
	
}
table.patientlist tr.expanded-details:hover td {
	background:#F8F8F8 !important;
}


table.patientlist tr.expanded-details.firstsection td {
	border-top:0px;
	-webkit-box-shadow: inset 0px 21px 21px -15px rgba(0,0,0,0.12);
	-moz-box-shadow: inset 0px 21px 21px -15px rgba(0,0,0,0.12);
	box-shadow: inset 0px 21px 21px -15px rgba(0,0,0,0.12);
	padding-top:20px;
	padding-bottom:10px;
}
table.patientlist tr.expanded-details.lastsection td {
	border-bottom:0px;
	border-radius:0px 0px 6px 6px !important;
}

table.patientlist tr.expanded-details td:nth-child(2) {
	padding-left:14px;
	padding-right:14px;
}


table.patientlist > tbody > tr.expanded-details > td {
	border-radius:0;
}

table.patientlist > tbody > tr.expanded-details > td:last-child {
	border-right:0;
}


table.patientlist tr.expanded-details td div.fieldname {
	color:#707070;
	font-size:8px;
	letter-spacing:0.75pt;
	text-transform:uppercase;
	display:block;
	width:100%;
	margin-bottom:3px;
}
table.patientlist tr.expanded-details td div.value {
	color:#000000;
	font-size:14px;
}
table.patientlist tr.expanded-details td ul.iconslist {
	margin:0;
	padding:0;
	padding-top:3px;
}
table.patientlist tr.expanded-details td ul.iconslist li {
	float:left;
	list-style:none;
	margin-right:2px;
	width:16px;
	height:16px;
	display:block;
}
table.patientlist tr.expanded-details td ul.iconslist li img {
	max-width:16px;
	max-height:16px;
}
/*selected row*/

table.patientlist tr.selected  td {
	/* border-top:1px solid #DBF0FF;
	border-bottom:1px solid #DBF0FF; */
	background-color:#F3F7FF;
	
}
table.patientlist tr.selected  td.details {
	background-color:#EDF0F8;
}


table.patientlist tr.selected td.sortnum {
	 
	border-radius:6px 0px 0px 6px !important;
}
table.patientlist tr.selected td.sortnum > span {
	background:#79EB74 url(images/iconCheckmarkWhite.svg) 50% 50% no-repeat;
	font-size:0;
	background-size: 12px auto;
	
}




/* checkbox  */
.cb-green  {
	margin:0 auto;
	padding:0;
	display:inline-table;
	width:21px;
	text-align:left;
	margin-top:4px;
}
.cb-green input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.cb-green label {
	position: relative;
	display: inline-block;
	padding: 0;
	height: 21px;
	line-height: 1.5;
	cursor: pointer;
	font-size:15px;
	line-height:21px;
	font-size:18px;
	color:#4b4b4b;
	font-family: arial;
 
}
.cb-green label::before,
.cb-green label::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 21px;
	height: 21px;
}
.cb-green label::before {
	content: " ";
	border: 2px solid #d4dce3;
	border-radius: 20%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/* Checkbox */
.cb-green input[type="checkbox"] + label::after {
	background:url(images/iconCheckmarkWhite.svg) 50% 50% no-repeat;
	background-size: 13px auto;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	font-size:11px;
	content:" ";
}
 
/* :checked */
.cb-green input[type="checkbox"]:checked + label::before {
	border:0px solid transparent;
	background-color:#79EB74;

}
 

.cb-green input[type="checkbox"] + label::after  {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.cb-green input[type="checkbox"]:checked + label::after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* Transition */
.cb-green label::before,
.cb-green label::after {
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}


.cb-green input[type="checkbox"]:checked + label {
	font-weight:400;  
 
}
/*disabled*/
.cb-green.disabled label::before {
	border-color:#f0f0f0;
}

.cb-green.disabled input[type="checkbox"]:checked + label::before {
	background: #f0f0f0;
	border-color: #f0f0f0;
}










/*settings */
.pl-container.settings {
	margin-bottom:20px;
	margin-top:-16px;
	display:block;
	background:#FCFCFC;
	z-index:2;
	
}

.pl-container.settings h1 {
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	margin:0;
	padding:0;
	margin-bottom:25px;
}


ul.tabs-topnav {
	z-index:3;
}

ul.tabs-topnav li.filter-settings.active:hover {
	box-shadow:inherit !Important;
	 
}
ul.tabs-topnav li.filter-settings.active {
	background:#FCFCFC url(images/settings-blue.svg) 50% 50% no-repeat;
	background-size:16px auto;
	border-radius:6px 6px 0 0;
	border:1px solid #E6E6E6;
	border-bottom:1px solid #FCFCFC;
	margin-bottom:0;
	height:45px;
	z-index:3;
	
}

/* TODO-3643 Ancuta 27.11.2020 */
ul.tabs-topnav li.filter-settings.active::after {
	content:" ";
	width:calc(100% + 0px);
	height:11px;
	display:block;
	position:absolute;
	bottom:-10px;
/* 	left:-25px; */
	left:0px;
	z-index:3;
	background:#FCFCFC;
	
}

.pl-container.settings .search-fields, .pl-container.settings .checkboxes-container {
	width:50%;
	max-width:600px;
	float:left;
	display:inline-table;
	box-sizing:border-box;
	padding:25px;
}
/*search*/
.pl-container.settings .search-fields ul.search {
	margin:0; 
	padding:0;
}
.pl-container.settings .search-fields ul.search li {
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	display:inline-table;
	box-sizing:border-box;
	padding-bottom:12px;
}
.pl-container.settings .search-fields ul.search li label {
	width:100%;
	display:inline-table;
	font-size:12px;
	text-transform:uppercase;
	line-height:23px;
	font-weight:bold;
	color:#272727;
	font-family: arial;
	letter-spacing: 0.5pt;
}
.pl-container.settings .search-fields ul.search li input, .pl-container.settings .search-fields ul.search li select {
	height:30px;
	border:1px solid #D8D8D8;
	box-sizing:border-box;
	width:100%;
	max-width:400px;
	border-radius:6px;
	padding-left:5px;
	font-size:13px;
	font-family:Arial;
	color:#000000;
	outline:none;
}
.pl-container.settings .search-fields ul.search li input:focus, .pl-container.settings .search-fields ul.search li select:focus {
	border:1px solid #00A2FF
}




.pl-container.settings .search-fields ul.search li.select-range select {
	width:50%;
	max-width:200px;
	float:left;
}
.pl-container.settings .search-fields ul.search li.select-range select.left {
	border-radius:6px 0 0 6px;
	border-right:0;
}
.pl-container.settings .search-fields ul.search li.select-range select.right {
	border-radius:0 6px 6px 0;
	
}


/*checkboxes*/
.pl-container.settings .checkboxes-container ul {
	width:50%;
	float:left;
	display:inline-table;
	box-sizing:border-box;
	padding:0;
	margin:0;
}
.pl-container.settings .checkboxes-container ul li {
	display:inline-block;
	width:100%;
	margin-bottom:10px;
	margin-top:0;
}


.pl-container.settings .checkboxes-container ul li.cb-green label {
	position: relative;
	display: inline-block;
	padding: 0;
	padding-left:27px;
	line-height: 1.5;
	cursor: pointer;
	font-size:12px;
	text-transform:uppercase;
	line-height:23px;
	font-weight:bold;
	color:#272727;
	font-family: arial;
 
}



/*icons*/

.pl-container.settings .icon-container {
	width:100%;
	
	display:inline-table;
	border-top:1px solid #E6E6E6;
}

.pl-container.settings .icon-container .system-icons, .pl-container.settings .icon-container .eigene-icons {
	width:50%;
	max-width:600px;
	float:left;
	display:inline-table;
	box-sizing:border-box;
	padding:25px;
}


.cico-container {
	margin:0;
	padding:0;
	display:inline-table;
	width:100%;
}

/* checkbox  */
.cb-icons  {
	margin:0;
	padding:0;
	display:block;
	width:40px;
	text-align:left;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	font-size:0;
}
.cb-icons input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.cb-icons label {
	position: relative;
	display: table-cell;
	padding: 0;
	 
	cursor: pointer;
	background:#EDEDED;
	width:40px !important;
	min-width:40px;
	height:40px;
	min-height:40px;
	text-align:center;
	border-radius:6px;
	vertical-align:middle;
	transition: box-shadow 0.3s ease, background-color 0.3s ease;
	 
}
.cb-icons label img {
	/* margin-top:6px; */
	max-width:28px;
	max-height:28px;
	opacity:0.45;
	display:block;
	margin:0 auto;
	transition:opacity 0.3s ease;
	z-index:1;
	 
}

.cb-icons label::before,
.cb-icons label::after {
	position: absolute;
	top: -5px;
	right: -5px;
	display: block;
	width: 16px;
	height: 16px;
}
.cb-icons label::before {
	content: " ";
	border: 0px solid #d4dce3;
	border-radius: 50%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	opacity:0;
	transition: opacity 0.3s ease;
	z-index:3;
}


/* Checkbox */
.cb-icons input[type="checkbox"] + label::after {
	background:url(images/iconCheckmarkWhite.svg) 50% 50% no-repeat;
	background-size: 10px auto;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	font-size:11px;
	content:" ";
	z-index:4;
}
 
/* :checked */
.cb-icons input[type="checkbox"]:checked + label::before {
	border:0px solid transparent;
	background-color:#79EB74;
	opacity:1;
	transition: opacity 0.3s ease;

}
 

.cb-icons input[type="checkbox"] + label::after  {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.cb-icons input[type="checkbox"]:checked + label::after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* Transition */
.cb-icons label::before,
.cb-icons label::after {
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}


.cb-icons input[type="checkbox"]:checked + label {
	background:#FFFFFF;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.12);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
 
}
.cb-icons input[type="checkbox"]:checked + label img {
	opacity:1;
	transition:opacity 0.3s ease;
}


/*disabled*/
.cb-icons.disabled label::before {
	border-color:#f0f0f0;
}

.cb-icons.disabled input[type="checkbox"]:checked + label::before {
	background: #f0f0f0;
	border-color: #f0f0f0;
}








.btnEASubmit {
	display:inline-block;
	box-sizing:border-box;
	width:calc(100% -  50px);
	max-width:1200px;
	margin-left:25px;
	margin-bottom:25px;
	height:47px;
	background:#00A2FF url(images/iconCheckmarkWhiteThin.svg) calc(50% - 78px) 50% no-repeat;
	background-size:21px auto;
	border:0;
	border-radius:6px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	padding-left:25px;
	transition:background-color 0.3s ease;
}

.btnEASubmit:hover {
	cursor:pointer;
	background-color:#008AD9;
	transition:background-color 0.3s ease;
	
}

 









.expanded-details{
	display: none;
}

.pl_export_buttons{
	margin:5px;
}