<!-- <div class="back_list">
		<a href="medication/listtreatmentcare">&laquo; <? echo $this->translate('back');?></a>
</div> -->
<a href="<?php echo $this->url(array('controller'=>'medication' , 'action' => 'listtreatmentcare' )); ?>"><?php echo $this->translate("back")?></a>
<form action="" method="post" name="frmmed" id="frmmed">
<input type="hidden" name="formid" value="<? echo $this->formid ?>" />
	<fieldset>
	<? if($this->act == "edit"):?>
		<legend><? echo $this->translate('editmedicationtreatmentcare')?>&nbsp;</legend>
	<? else: ?>
		<legend><? echo $this->translate('addmedicationtreatmentcare')?>&nbsp;</legend>
	<? endif;?>	
		<div id="addmedication_MsgError" class="err"><? echo $this->error_message ?></div>
		<br />
 
		<div class="med_row">
			<label for="name"><? echo $this->translate('name')?>&nbsp;</label>
			<input type="text" tabindex="1" name="name" id="name" value="<? echo $this->name ?>">
			<div id="addmedication_nameError" class="error"> <? echo $this->error_name ?></div>&nbsp;
		</div>
		
	 
		<label for="btnsubmit"></label>
		<input type="submit" name="btnsubmit" tabindex="9" id="btnsubmit" value="<? echo $this->translate('submit')?>">
		
	</fieldset>
</form>