<a href="<?php echo $this->url(array('controller'=>'medication' , 'action' => 'listreceiptmedication' )); ?>"><?php echo $this->translate("back")?></a>
<form action="" method="post" name="frmmed" id="frmmed">
<input type="hidden" name="formid" value="<? echo $this->formid ?>" />
	<fieldset>
		<legend>
		<?php if($_REQUEST['id'] > '0') { ?>
			<? echo $this->translate('editreceiptmedication')?>&nbsp;
		<?php } else { ?>
			<? echo $this->translate('addreceiptmedication')?>&nbsp;
		<?php } ?>
		</legend>
		<div id="addmedication_MsgError" class="err"><? echo $this->error_message ?></div>
		<br />
		<label for="client_name"><? echo $this->translate('client_name') ?></label>
		<? echo $this->inputbox ?>
		<div id="addmedication_UserNameError" class="error"><?php echo $this->error_username ?></div>&nbsp;
		<br />
		
		
		<label for="name" id="lbl_name"><? echo $this->translate('name')?>&nbsp;</label>
		<input type="text" tabindex="1" name="name" id="name" value="<? echo $this->name ?>">
		<div id="addmedication_nameError" class="error"> <? echo $this->error_name ?></div>&nbsp;
		<br />
		
		<label for="pzn" id="lbl_pzn"><? echo $this->translate('pzn') ?></label>
		<input type="text" tabindex="2" name="pzn" id="pzn" value="<? echo $this->pzn ?>">
		<div id="addmedication_pznError" class="error"> <? echo $this->error_pzn ?></div>
		<br />
		
		<label for="description" id="lbl_description"><? echo $this->translate('description') ?></label>
		<textarea name="description" tabindex="3" cols="30" rows="5"><? echo $this->description ?></textarea>
		<div id="addmedication_descritionError" class="error"><? echo $this->error_description ?></div>
		<br />
		
		<label for="package_size" id="lbl_package_size"><? echo $this->translate('packagesize') ?></label>
		<input type="text" name="package_size" tabindex="4" id="package_size" value="<? echo $this->package_size ?>">
		<div id="addmedication_packageError" class="error"><? echo $this->error_package_size ?></div>
		<br />
		
		<label for="amount_unit" id="lbl_amount_unit"><? echo $this->translate('unitamount') ?></label>
		<input type="text" name="amount_unit" tabindex="5" id="amount_unit" value="<? echo $this->amount_unit ?>">
		<div id="addmedication_amountError" class="error"><? echo $this->error_amount_unit ?></div>
		<br />
		
		<label for="price" id="lbl_price"><? echo $this->translate('price') ?></label>
		<input type="text" name="price" id="price" tabindex="6" value="<? echo $this->price ?>">
		<div id="addmedication_priceError" class="error"><? echo $this->error_price ?></div>
		<br />
		
		<label for="manufacturer" id="lbl_manufacturer"><? echo $this->translate('manufacturer') ?></label>
		<input type="text" name="manufacturer" tabindex="7" id="manufacturer" value="<? echo $this->manufacturer ?>">
		<div id="addmedication_manufacturerError" class="error"> <? echo $this->error_manufacturer ?></div>
		<br />
		
		<label for="package_amount" id="lbl_package_amount"><? echo $this->translate('packageamount') ?></label>
		<input type="text" name="package_amount" tabindex="8" id="package_amount" value="<? echo $this->package_amount ?>">
		<div id="addmedication_packageAmtError" class="error"><? echo $this->error_package_amount?></div>
		<br />
		
		<label for="btnsubmit"></label>
		<input type="submit" name="btnsubmit" tabindex="9" id="btnsubmit" value="<? echo $this->translate('submit')?>">
	
	</fieldset>
</form>