body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#000000;
	margin:0 !important;padding:0 !important;
}

.left {float:left;}
.ClrBoth {clear:both;}

#LetterWrapper{display:block;padding-left:5mm;display:block;}

.LetterSpaceLeft {}
.LetterSpaceCenter {display:block;}
.LetterSpaceRight {}
.LetterHeader {display:block;height:50.8mm;border:solid 1px #000000;}
.info {display:block;font-weight:normal;line-height:18px;}
.AdressDiv {display:block;height:55mm !important; width:110mm !important;border:.3mm solid #000000;font-size:15px;}
.date {margin-top:25px;font-size:15px;line-height:20px;}
.SubjectDiv {margin-top:25px;font-size:15px;}
.DesrptionDiv {margin-top:25px;font-size:15px;}