<!-- can_edit is used as can_use on this page-->

<script type="text/javascript">
  function setprevilege(act,shrtid,val,grpid)
  {
	
	if(val.checked==true)
	{
	 var  vals = 1;
	}
	else
	{
	 var vals = 0;
	}
	ajaxCallserver({url:'usergroup/setshortcutprevilege?act='+act+'&shrtid='+shrtid+'&val='+vals+'&grpid='+grpid});
  }
</script>

<form action="" method="post" name="frmuser" id="frmuser" >
<div id="user_group_error" class="err"><? echo $this->error_message ?></div>
<br />
<table width="60%">
 <tr >
    <td colspan="6" valign="top">&nbsp;</td>
   
    </tr> 
               <tr >
                    <td valign="top">&nbsp;</td>
                    <td valign="top"><b> <? echo $this->translate('groupname') ?> :</b></td>
                    <td valign="top"><? echo $this->groupname ?></td>
                    <td valign="top"><b><? echo $this->translate('clientname') ?> :</b>
                      <input type="hidden" name="hdnclientid" id="hdnclientid" value="<? echo $this->clientid ?>" /></td>
                    <td valign="top"><? echo $this->client_name ?>&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                </tr>
                 <tr >
    <td valign="top">&nbsp;</td>
    <td valign="top"><b><? echo $this->translate('copypermissions') ?> :</b></td>
    <td align="left" valign="top"><? echo $this->formSelect('copygroupid',$this->copygroupid,NULL,$this->copygrouparray); ?></td>
  <td valign="top"> <input type="submit" name="sbtbutton" class="button" id="sbtbutton" value="<? echo $this->translate('copy'); ?>"  /></td>
  <td> </td>
    <td valign="top"></td>
  </tr>
           </table>
<div class="grid">

<table class="datatable" border="0">

  <tr>
    <th>ID</td>
    <th><? echo $this->translate('shortcut') ?></th>
   <!-- <th>Can-add</th>-->
    <th><? echo $this->translate('canuse'); ?></th>
    <th><? echo $this->translate('canview'); ?></th>
  <!--  <th>Can-delete</th>-->
  </tr>
  <? $count=1;
   	foreach($this->modarray as $key=>$val){ 
  
   	   $query = Doctrine_Query::create()
		->select('*')
		->from('ShortcutPrevileges')
		->where('groupid= ?',$_GET['id'])
        ->andWhere('shortcutid= "'.$val['shortcut_id'].'"');
		$setuserpre = $query->execute();

        
        $prearray = $setuserpre->toArray();
        
               
   ?>
  <tr class="row" >
    <td valign="top"><?=$count ?></td>
    <td valign="top"><?=$val['shortcut'] ?>
     <input type="hidden" name="hdnmoduleid[]" id="hdnmoduleid" value="<?=$val['id'] ?>"  /></td>
    <td valign="top"><input name="canedit[<?=$val['shortcut_id'] ?>]" type="checkbox" value="1" onclick="setprevilege('canedit',<? echo $val['shortcut_id']?>,this,<?echo  $_GET['id']?>)"<? if($prearray[0]['canedit']=='1'){ echo 'checked="checked"';}?> /></td>
    <td valign="top"><input name="canview[<?=$val['shortcut_id'] ?>]" type="checkbox" value="1" onclick="setprevilege('canview',<? echo $val['shortcut_id']?>,this,<?echo  $_GET['id']?>)"  <? if($prearray[0]['canview']=='1'){ echo 'checked="checked"';}?> /></td>
  </tr>
  <? $count++; } ?>
  <tr>
    <td colspan="6" valign="top">
    
    </td>
   
  </tr>
</table>
</form>