<!--<link rel='stylesheet' type='text/css' href='<? echo RES_FILE_PATH;  ?>/css/custom.css' />-->

<style type="text/css">
	table {
		margin: 0;
	}

	.description_container_print {
		width: 88%;
		float: left;
		text-align: justify;
	}
	.label_col_print {
		width: 80px;
	}
	.dashboard_row td {
		border-bottom: 1px solid powderblue;
		/*padding-bottom: 4px;*/
	}
	.dashboard_label_print {
		width: 75px;
		line-height: 24px;
		padding: 1px 5px 1px 1px;
		border-radius: 5px 5px 5px 5px;
		font-weight: 700;

	}
	#preview-font {
		padding-left: 5px;
	}
	.done_container_print {
		float: right;
		width: 10%;
		font-weight: bolder;
		text-align: right;
	}
</style>
<?php
$action_label = $this->action_label;
$todo_patients = $this->todo_patients;
$group2users = $this->group2users;
?>

<?php if( $this->grouped_dashbord == "1"):?>

<table width="100%">
	<?php if(count($this->dasboard_events)>0):  ?>
		<?php $i=1; foreach($this->dasboard_events as $dash_ipid => $dash_event):  ?>
				<tr class="dashboard_row">
					<td colspan="3" class=""  style="background: #efefef">
						<b><?php echo $todo_patients[$dash_event['ipid']]['epid'] . ' - ' . $todo_patients[$dash_event['ipid']]['lastname'] . ', ' . $todo_patients[$dash_event['ipid']]['firstname']; ?></b>
					</td>		
				</tr>		
			<?php foreach($dash_event['child_rows'] as $k_event => $v_event):  ?>
				<tr class="dashboard_row">
					<td class="label_col_print">
						<div id="preview-label" class="dashboard_label_print" style="background:<?php echo $action_label[$v_event['tabname']]['color']; ?>;">
							<span id="preview-font" style="color: <?php echo $action_label[$v_event['tabname']]['font_color']; ?>;">
								<?php echo $action_label[$v_event['tabname']]['name']; ?>
							</span>
						</div>
					</td>
					<td colspan="2" class="">
						<div class="done_container_print">
							<?php echo date('d.m.Y', strtotime($v_event['due_date'])); ?>
						</div>
						<div class="description_container_print">
							<?php if ($v_event['triggered_by'] == 'system_medipumps' && $v_event['tabname'] == 'todo'): ?>
								<p>
									<?php echo $todo_patients[$v_event['ipid']]['epid'] . ' - ' . $todo_patients[$v_event['ipid']]['lastname'] . ', ' . $todo_patients[$v_event['ipid']]['firstname']; ?> - <?php echo $v_event['event_title']; ?>
								</p>
							<?php elseif ($v_event['triggered_by'] == 'teammeeting_completed' && $v_event['tabname'] == 'todo'): ?>
								<p>
									<?php echo $todo_patients[$v_event['ipid']]['epid'] . ' - ' . $todo_patients[$v_event['ipid']]['lastname'] . ', ' . $todo_patients[$v_event['ipid']]['firstname']; ?> <br/> <?php echo $v_event['event_title']; ?>
								</p>
							<?php elseif ($v_event['triggered_by'] == 'course_type' && $v_event['tabname'] == 'todo'): ?>
								
								<?php echo $todo_patients[$v_event['ipid']]['epid'] . ' - ' . $todo_patients[$v_event['ipid']]['lastname'] . ', ' . $todo_patients[$v_event['ipid']]['firstname']; ?> - <?php echo $v_event['event_title']; ?>
								
							<?php elseif (strlen($v_event['triggered_by']) == 0 && $v_event['tabname'] == 'todo'): ?>

								<?php echo $todo_patients[$v_event['ipid']]['epid'] . ' - ' . $todo_patients[$v_event['ipid']]['lastname'] . ', ' . $todo_patients[$v_event['ipid']]['firstname']; ?> - <?php echo $v_event['event_title']; ?>
							<?php else: ?>
								<p><?php echo strip_tags($v_event['event_title']); ?></p>
							<?php endif; ?>
						</div>
						<br />

						<div id="event_details">
							<?php if (strlen($v_event['todo_user']) > 0 && trim($v_event['todo_user']) != ','): ?>
								<i>Wer <?php echo $v_event['todo_user']; ?></i>
							<?php elseif (strlen($v_event['event_patient']) > 0): ?>
								<i><?php echo 'Patient: ' . strtoupper($v_event['event_patient']); ?></i>
							<?php endif; ?>
						</div>
					</td>
				</tr>
			<?php $i++; endforeach;  ?>
		<?php endforeach;  ?>
	<?php else:  ?>
	<tr>
		<td colspan="2" style="text-align: center;font-size: 1.2em;font-weight: bolder;">
			<?php echo $this->translate('dash_no_records'); ?>
		</td>
	</tr>
	<?php endif;  ?>
</table>

<?php else: ?>
<table width="100%">
	<?php if(count($this->dasboard_events)>0):  ?>
		<?php $i=1; foreach($this->dasboard_events as $dash_date => $dash_event):  ?>
			<?php foreach($dash_event as $k_event => $v_event):  ?>
				<tr class="dashboard_row">
					<td class="label_col_print">
						<div id="preview-label" class="dashboard_label_print" style="background:<?php echo $action_label[$v_event['tabname']]['color']; ?>;">
							<span id="preview-font" style="color: <?php echo $action_label[$v_event['tabname']]['font_color']; ?>;">
								<?php echo $action_label[$v_event['tabname']]['name']; ?>
							</span>
						</div>
					</td>
					<td colspan="2" class="">
						<div class="done_container_print">
							<?php echo date('d.m.Y', strtotime($v_event['due_date'])); ?>
						</div>
						<div class="description_container_print">
							<?php if ($v_event['triggered_by'] == 'system_medipumps' && $v_event['tabname'] == 'todo'): ?>
								<p>
									<?php echo $todo_patients[$v_event['ipid']]['epid'] . ' - ' . $todo_patients[$v_event['ipid']]['lastname'] . ', ' . $todo_patients[$v_event['ipid']]['firstname']; ?> - <?php echo $v_event['event_title']; ?>
								</p>
							<?php elseif ($v_event['triggered_by'] == 'teammeeting_completed' && $v_event['tabname'] == 'todo'): ?>
								<p>
									<?php echo $todo_patients[$v_event['ipid']]['epid'] . ' - ' . $todo_patients[$v_event['ipid']]['lastname'] . ', ' . $todo_patients[$v_event['ipid']]['firstname']; ?> <br/> <?php echo $v_event['event_title']; ?>
								</p>
							<?php elseif ($v_event['triggered_by'] == 'course_type' && $v_event['tabname'] == 'todo'): ?>
								
								<?php echo $todo_patients[$v_event['ipid']]['epid'] . ' - ' . $todo_patients[$v_event['ipid']]['lastname'] . ', ' . $todo_patients[$v_event['ipid']]['firstname']; ?> - <?php echo $v_event['event_title']; ?>
								
							<?php elseif (strlen($v_event['triggered_by']) == 0 && $v_event['tabname'] == 'todo'): ?>

								<?php echo $todo_patients[$v_event['ipid']]['epid'] . ' - ' . $todo_patients[$v_event['ipid']]['lastname'] . ', ' . $todo_patients[$v_event['ipid']]['firstname']; ?> - <?php echo $v_event['event_title']; ?>
							<?php else: ?>
								<p><?php echo strip_tags($v_event['event_title']); ?></p>
							<?php endif; ?>
						</div>
						<br />

						<div id="event_details">
							<?php if (strlen($v_event['todo_user']) > 0 && trim($v_event['todo_user']) != ','): ?>
								<i>Wer <?php echo $v_event['todo_user']; ?></i>
							<?php elseif (strlen($v_event['event_patient']) > 0): ?>
								<i><?php echo 'Patient: ' . strtoupper($v_event['event_patient']); ?></i>
							<?php endif; ?>
						</div>
					</td>
				</tr>
			<?php $i++; endforeach;  ?>
		<?php endforeach;  ?>
	<?php else:  ?>
	<tr>
		<td colspan="2" style="text-align: center;font-size: 1.2em;font-weight: bolder;">
			<?php echo $this->translate('dash_no_records'); ?>
		</td>
	</tr>
	<?php endif;  ?>
</table>
<?php endif;  ?>
