
<?php
$verordnets = $this->verordnets;
?>
 
<h1><?php echo $this->translate('rechnung_price_settings');  ?></h1>
<form name="update_prices" id="update_prices" action="" method="post">
<table class="datatable" id="dynamic" cellpadding="10" cellspacing="10"  border="1">
	<tr>
		<th style="width:5%;"><?php echo $this->translate('No') ?></th>
		<th><?php echo $this->translate('SAPV') ?></th>
		<th style="width:18%;"><?php echo $this->translate('price') ?></th>
	</tr>
	<?php $incr = '1'; foreach ($this->prices_set as $k_price=>$price): ?>

		<?php
			if(is_array($price))
			{
				$price = $price['price'];
			}
		?>
		<tr class="alternate" id="tr_id_s_<?php echo $incr; ?>">
			<td><?php echo $k_price; ?></td>
			<td style="text-align: left;"><?php echo $verordnets[$k_price]; ?></td>
			<td><input type="text" class="price" name="price[<?php echo $k_price; ?>]" id="price-<?php echo $k_price; ?>" value="<?php echo  number_format($price, '2', ',','.'); ?>" style="width:80%;background-color: #fff;" />&nbsp;&nbsp;&euro;</td>
		</tr>
	<?php $incr++; endforeach; ?>
</table>
<button name="submit" id="submitprice" ><?php echo $this->translate('submit');  ?></button>
</form>