<? $this->headLink()->appendStylesheet('css/page-css/anlagefour_style.css'); ?>
<form id="anlage_four" action="" method="post">
  <div id="CalImg" style="display: none;"> <img id="calImg" src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
  <? echo $this->patientinfo ?>
  <? echo $this->tabmenus ?>
  <div id="anlage_four_container" class="tab_container">
    <div id="analage">
      <div id="anlage_four_Outer" class="analage4">
        <h1 id="AnlageH1">Anlage 4 (Teil 1)</h1>
        <br />
        <p id="p_text"><strong>Basisdokumentation des PK</strong>D<br />
          <br />
          Bitte füllen Sie das Formular aus. Danach kann das PDF erstellt werden. <br />
        </p>
        <div id="analage_datum" class="analage4leftdiv">Datum: <br />
          <input id="analage_datuminpt" name="datum" value="<? echo date('d.m.Y',time());?>" type="text" />
        </div>
        <div id="analage_time" class="analage4leftdiv">Uhrzeit: <br />
          <input id="analage_timeinpt" name="uhrzeit" value="<? echo date('H:m',time());?>" type="text">
        </div>
        <div class="ClrBoth"></div>
        <div id="analage_request" class="LargeDiv"><b>Anfrage durch:</b> (Name/Telefon/Funktion) <br />
          <input id="analage_dr" name="anfrage" value=" -  - Hausarzt/-ärztin" type="text" />
        </div>
        <div  id="patient_lfb" class="LargeDiv"><b>Patient:</b> (Nachname/Vorname/Geburtsdatum) <br />
          <input id="analage_patient" name="patient" value="<? echo $this->patient_name ?>" type="text">
        </div>
        <div id="underlying_disease" class="analage4leftdiv"><b>Grunderkrankung:</b> </div>
        <div id="underlying_diseas_list" class="analage4leftdiv">
          <select id="analage_disease_list" name="grunde">
          <option value=""><? echo $this->translate('grunderkrankungselect')?></option>
            <option value="Tumorerkrankung">Tumorerkrankung</option>
            <option value="Nicht-Tumorerkrankung">Nicht-Tumorerkrankung</option>
          </select>
        </div>
        <div id="analage_general" class="analage4leftdiv"><b>Allgemeinbefinden:</b> </div>
        <div id="analage_general_list" class="analage4leftdiv">
          <select id="analage_generalselect" name="allgemein" >
          <option value=""><? echo $this->translate('allgemeinbefindenselect')?></option>
            <option value="sehr schlecht">sehr schlecht</option>
            <option value="schlecht">schlecht</option>
            <option value="mittel">mittel</option>
            <option value="gut">gut</option>
            <option value="sehr gut">sehr gut</option>
          </select>
        </div>
        <div id="lving_present_outer" class="LargeDiv">
          <div id="analage_lving_present" class="analage4leftdiv"><b>Patientenverfügung vorhanden:</b> <br />
            <br />
            <br />
          </div>
          <div id="lving_present_list" class="analage4leftdiv" style="margin-right:0; width:260px;" >
            <label id="analage_lbl_1" for="1">
            <input id="analage_1inpt" name="pv" value="unbekannt" type="radio" class="width">
            Unbekannt</label>
            <br />
            <label id="analage_lbl_2" for="2">
            <input id="analage_2inpt" name="pv" value="Nein" type="radio" class="width">
            Nein</label>
            <br />
            <label id="analage_lbl_3" for="3">
            <input id="analage_3inpt" name="pv" value="Ja" type="radio" class="width" <? echo $this->living_will?>>
            Ja</label>
            <br />
            <input id="analage_jainpt" name="pv_datum" type="text">
          </div>
          <div id="soziale_situation_div" class="analage4leftdiv"><b>Soziale Situation:</b> <br />
            <br />
            <br />
          </div>
          <div id="soziale_situation_list" class="analage4leftdiv" style="margin-right:0; width:260px;" >
            <label id="analage_lbl_16" for="16">
            <? echo  $this->formCheckbox('unbekannt', $this->nooptionselected, array('class'=>'width'), array('1')); ?>
            unbekannt</label>
            <br>
            <label id="analage_lbl_17" for="17">
             <? echo  $this->formCheckbox('allein_lebend', $this->alone, array('class'=>'width'), array('1')); ?>
            allein lebend</label>
            <br>
            <label id="analage_lbl_18" for="18">
            <? echo  $this->formCheckbox('pflegedienst_vorhanden', $this->nursing, array('class'=>'width'), array('1')); ?>
            Pflegedienst vorhanden</label>
            <br>
            <label id="analage_lbl_19" for="19">
            <? echo  $this->formCheckbox('familie_lebend', $this->house_of_relatives, array('class'=>'width'), array('1')); ?>
            mit Partner/Familie lebend</label>
            <br>
            <label id="analage_lbl_20" for="20">
            <input id="analage_20inpt" name="sozsit[]" value="keine Unterstützung" type="checkbox" class="width">
            keine Unterstützung d. Partner/Familie mgl.</label>
            <br>
          </div>
        </div>
        <div id="crent_prblm_heading" class="LargeDiv">
          <h1 id="AktuelleH1">Aktuelle Probleme (Hauptgrund der Anfrage markieren!)</h1>
        </div>
        <br />
        <div id="analage_crent_prblm_subhead" class="LargeDiv">
          <div id="analage_MainHighlight" class="analage4leftdiv"></div>
          <div id="analage_MainHighlightOuter" class="checkboxesdivOuter">
            <div id="analage_MainHighlightOne" class="checkboxesdiv"><b>Kein</b></div>
            <div id="analage_MainHighlightTwo" class="checkboxesdiv"><b>Leicht</b></div>
            <div id="analage_MainHighlightThree" class="checkboxesdiv"><b>Mittel</b></div>
            <div id="analage_MainHighlightFour" class="checkboxesdiv"><b>Stark</b></div>
            <div id="analage_MainHighlightFive" class="checkboxesdiv"><b>HG</b></div>
          </div>
        </div>
        <div id="avrage_pain_outer" class="LargeDiv">
          <div id="avrage_pain" class="analage4leftdiv">Durchschnittlicher Schmerz</div>
          <div id="avrage_pain_list_outer" class="checkboxesdivOuter">
            <div id="avrage_pain_list_one" class="checkboxesdiv">
              <input id="analage_inpt_schmerz" name="schmerz[1]" value="1" type="checkbox" />
            </div>
            <div id="avrage_pain_list_two" class="checkboxesdiv">
              <input id="analage_inpt_schmerz2" name="schmerz[2]" value="1" type="checkbox" />
            </div>
            <div id="avrage_pain_list_three" class="checkboxesdiv">
              <input id="analage_inpt_schmerz3" name="schmerz[3]" value="1" type="checkbox" />
            </div>
            <div id="avrage_pain_list_four" class="checkboxesdiv">
              <input id="analage_inpt_schmerz4" name="schmerz[4]" value="1" type="checkbox" />
            </div>
            <div id="avrage_pain_list_five" class="checkboxesdiv">
              <input id="analage_inpt_schmerz5" name="schmerz[5]" value="1" type="checkbox" />
            </div>
          </div>
        </div>
        <div id="maximum_pain_div" class="LargeDiv">
          <div id="maximum_pain_heading" class="analage4leftdiv">Maximaler Schmerz</div>
          <div id="maximum_pain_outer" class="checkboxesdivOuter">
            <div id="maximum_pain_one" class="checkboxesdiv">
              <input id="inpt_maxschmerz1" name="maxschmerz[1]" value="1" type="checkbox" />
            </div>
            <div id="maximum_pain_two" class="checkboxesdiv">
              <input id="inpt_maxschmerz2" name="maxschmerz[2]" value="1" type="checkbox" />
            </div>
            <div id="maximum_pain_three" class="checkboxesdiv">
              <input id="inpt_maxschmerz3" name="maxschmerz[3]" value="1" type="checkbox" />
            </div>
            <div id="maximum_pain_four" class="checkboxesdiv">
              <input id="inpt_maxschmerz4" name="maxschmerz[4]" value="1" type="checkbox" />
            </div>
            <div id="maximum_pain_five" class="checkboxesdiv">
              <input name="maxschmerz[5]" value="1" type="checkbox" id="inpt_maxschmerz5" />
            </div>
          </div>
        </div>
        <div id="analage_NauseaDiv" class="LargeDiv">
          <div id="analage_NauseaDiv_heading" class="analage4leftdiv">Übelkeit</div>
          <div id="analage_NauseaDiv_outer" class="checkboxesdivOuter">
            <div id="analage_NauseaDiv_one" class="checkboxesdiv">
              <input id="analage_inpt_uebel" name="uebel[1]" value="1" type="checkbox" />
            </div>
            <div id="analage_NauseaDiv_two" class="checkboxesdiv">
              <input id="analage_inpt_uebel2" name="uebel[2]2" value="1" type="checkbox" />
            </div>
            <div id="analage_NauseaDiv_three" class="checkboxesdiv">
              <input id="analage_inpt_uebel3" name="uebel[3]" value="1" type="checkbox" />
            </div>
            <div id="analage_NauseaDiv_four" class="checkboxesdiv">
              <input id="analage_inpt_uebel4" name="uebel[4]" value="1" type="checkbox" />
            </div>
            <div id="analage_NauseaDiv_five" class="checkboxesdiv">
              <input id="analage_inpt_uebel5" name="uebel[5]" value="1" type="checkbox" />
            </div>
          </div>
        </div>
        <div id="analage_VomitDiv" class="LargeDiv">
          <div id="analage_VomitDiv_heading" class="analage4leftdiv">Erbrechen</div>
          <div id="analage_VomitDiv_outer" class="checkboxesdivOuter">
            <div id="analage_VomitDiv_one" class="checkboxesdiv">
              <input id="analage_inpt_Erbrechen1" name="erb[1]" value="1" type="checkbox" />
            </div>
            <div id="analage_VomitDiv_two" class="checkboxesdiv">
              <input id="analage_inpt_Erbrechen2" name="erb[2]" value="1" type="checkbox" />
            </div>
            <div id="analage_VomitDiv_three" class="checkboxesdiv">
              <input id="analage_inpt_Erbrechen3" name="erb[3]" value="1" type="checkbox" />
            </div>
            <div id="analage_VomitDiv_four" class="checkboxesdiv">
              <input id="analage_inpt_Erbrechen4" name="erb[4]" value="1" type="checkbox" />
            </div>
            <div id="analage_VomitDiv_six" class="checkboxesdiv">
              <input id="analage_inpt_Erbrechen5" name="erb[5]" value="1" type="checkbox" />
            </div>
          </div>
        </div>
        <div id="analage_ConstipationDiv" class="LargeDiv">
          <div id="analage_ConstipationDiv_heading" class="analage4leftdiv">Verstopfung</div>
          <div id="analage_ConstipationDiv_outer" class="checkboxesdivOuter">
            <div id="analage_ConstipationDiv_one" class="checkboxesdiv">
              <input id="analage_verstopfung1" name="verstopfung[1]" value="1" type="checkbox" />
            </div>
            <div id="analage_ConstipationDiv_two" class="checkboxesdiv">
              <input id="analage_verstopfung2" name="verstopfung[2]" value="1" type="checkbox" />
            </div>
            <div id="analage4_ConstipationDiv_three" class="checkboxesdiv">
              <input id="analage4_verstopfung3" name="verstopfung[3]" value="1" type="checkbox" />
            </div>
            <div id="analage4_ConstipationDiv_four" class="checkboxesdiv">
              <input id="analage4_verstopfung4" name="verstopfung[4]" value="1" type="checkbox" />
            </div>
            <div id="analage4_ConstipationDiv_five" class="checkboxesdiv">
              <input id="analage4_verstopfung5" name="verstopfung[5]" value="1" type="checkbox" />
            </div>
          </div>
        </div>
        <div id="analage4_ShrtnesBreathDiv" class="LargeDiv">
          <div id="analage4_ShrtnesBreathDiv_heading" class="analage4leftdiv">Luftnot</div>
          <div id="analage4_ShrtnesBreathDiv_heading1" class="checkboxesdivOuter">
            <div id="analage4_ShrtnesBreathDiv_one" class="checkboxesdiv">
              <input id="analage4_inpt_luftnot1" name="luftnot[1]" value="1" type="checkbox" />
            </div>
            <div id="analage4_ShrtnesBreathDiv_two" class="checkboxesdiv">
              <input id="analage4_inpt_luftnot2" name="luftnot[2]" value="1" type="checkbox" />
            </div>
            <div id="analage4_ShrtnesBreathDiv_three" class="checkboxesdiv">
              <input id="analage4_inpt_luftnot3" name="luftnot[3]" value="1" type="checkbox" />
            </div>
            <div id="analage4_ShrtnesBreathDiv_four" class="checkboxesdiv">
              <input id="analage4_inpt_luftnot4" name="luftnot[4]" value="1" type="checkbox" />
            </div>
            <div id="analage4_ShrtnesBreathDiv_five" class="checkboxesdiv">
              <input id="analage4_inpt_luftnot5" name="luftnot[5]" value="1" type="checkbox" />
            </div>
          </div>
        </div>
        <div id="analage4_WeaknesDiv" class="LargeDiv">
          <div id="analage4_WeaknesDiv_heading" class="analage4leftdiv">Schwäche</div>
          <div id="WeaknesDiv_outer" class="checkboxesdivOuter">
            <div id="analage4_WeaknesDiv_one" class="checkboxesdiv">
              <input id="analage4_inpt_schwaeche1" name="schwaeche[1]" value="1" type="checkbox" />
            </div>
            <div id="analage4_WeaknesDiv_two" class="checkboxesdiv">
              <input id="analage4_inpt_schwaeche2" name="schwaeche[2]" value="1" type="checkbox" />
            </div>
            <div id="analage4_WeaknesDiv_three" class="checkboxesdiv">
              <input id="analage4_inpt_schwaeche3" name="schwaeche[3]" value="1" type="checkbox" />
            </div>
            <div id="analage4_WeaknesDiv_four" class="checkboxesdiv">
              <input id="analage4_inpt_schwaeche4" name="schwaeche[4]" value="1" type="checkbox" />
            </div>
            <div id="analage4_WeaknesDiv_five" class="checkboxesdiv">
              <input id="analage4_inpt_schwaeche5" name="schwaeche[5]" value="1" type="checkbox" />
            </div>
          </div>
        </div>
        <div id="analage4_fearDiv" class="LargeDiv">
          <div id="analage4_fearDiv_heading" class="analage4leftdiv">Angst</div>
          <div id="analage4_fearDiv_outer" class="checkboxesdivOuter">
            <div id="analage4_fearDiv_one" class="checkboxesdiv">
              <input id="analage4_inpt_angst1" name="angst[1]" value="1" type="checkbox" />
            </div>
            <div id="analage4_fearDiv_two" class="checkboxesdiv">
              <input id="analage4_inpt_angst2" name="angst[2]" value="1" type="checkbox" />
            </div>
            <div id="analage4_fearDiv_three" class="checkboxesdiv">
              <input id="analage4_inpt_angst3" name="angst[3]" value="1" type="checkbox" />
            </div>
            <div id="analage4_fearDiv_four" class="checkboxesdiv">
              <input id="analage4_inpt_angst4" name="angst[4]" value="1" type="checkbox" />
            </div>
            <div id="analage4_fearDiv_five" class="checkboxesdiv">
              <input id="analage4_inpt_angst5" name="angst[5]" value="1" type="checkbox" />
            </div>
          </div>
        </div>
        <div id="analage4_SkinPrblmDiv" class="LargeDiv">
          <div id="analage4_SkinPrblmDiv_heading" class="analage4leftdiv">Hautprobleme</div>
          <div id="analage4_SkinPrblmDiv_outer" class="checkboxesdivOuter">
            <div id="analage4_SkinPrblmDiv_one" class="checkboxesdiv">
              <input id="analage4_inpt_haut1" name="haut[1]" value="1" type="checkbox" />
            </div>
            <div id="analage4_SkinPrblmDiv_two" class="checkboxesdiv">
              <input id="analage4_inpt_haut2" name="haut[2]" value="1" type="checkbox" />
            </div>
            <div id="analage4_SkinPrblmDiv_three" class="checkboxesdiv">
              <input id="analage4_inpt_haut3" name="haut[3]" value="1" type="checkbox" />
            </div>
            <div id="analage4_SkinPrblmDiv_four" class="checkboxesdiv">
              <input id="analage4_inpt_haut4" name="haut[4]" value="1" type="checkbox" />
            </div>
            <div id="analage4_SkinPrblmDiv_five" class="checkboxesdiv">
              <input id="analage4_inpt_haut5" name="haut[5]" value="1" type="checkbox" />
            </div>
          </div>
        </div>
        <div id="analage4_SkinPrblmDiv_seven" class="LargeDiv">
          <div id="analage4_SkinPrblmDiv_OuterDiv" class="analage4leftdiv">
            <input id="analage4_inpt_varia_name" name="varia_name" type="text" class="margin_top_zero" />
          </div>
          <div id="analage4_SkinPrblmDiv_OuterDivOne" class="checkboxesdivOuter">
            <div id="analage4_SkinPrblmDiv_OuterDivOne_two" class="checkboxesdiv">
              <input id="analage4_inpt_varia1" name="varia[1]" value="1" type="checkbox" />
            </div>
            <div id="analage4_SkinPrblmDiv_OuterDivOne_three" class="checkboxesdiv">
              <input id="analage4_inpt_varia2" name="varia[2]" value="1" type="checkbox" />
            </div>
            <div id="SkinPrblmDiv_OuterDivOne_four" class="checkboxesdiv">
              <input id="analage4_inpt_varia3" name="varia[3]" value="1" type="checkbox" />
            </div>
            <div id="SkinPrblmDiv_OuterDivOne_five" class="checkboxesdiv">
              <input id="analage4_inpt_varia4" name="varia[4]" value="1" type="checkbox" />
            </div>
            <div id="SkinPrblmDiv_OuterDivOne_six" class="checkboxesdiv">
              <input id="analage4_inpt_varia5" name="varia[5]" value="1" type="checkbox" />
            </div>
          </div>
        </div>
        <div id="analage4_sknprobDiv" class="LargeDiv">
          <div id="analage4_sknprobDiv_outer" class="analage4leftdiv">
            <input id="analage4_inpt_varib_name" name="varib_name" type="text" class="margin_top_zero" />
          </div>
          <div id="analage4_sknprobDiv_list" class="checkboxesdivOuter">
            <div id="analage4_sknprobDiv_list_one" class="checkboxesdiv">
              <input id="analage4_inpt_varib1" name="varib[1]" value="1" type="checkbox" />
            </div>
            <div id="analage4_sknprobDiv_list_two" class="checkboxesdiv">
              <input id="analage4_inpt_varib2" name="varib[2]" value="1" type="checkbox" />
            </div>
            <div id="analage4_sknprobDiv_list_three" class="checkboxesdiv">
              <input id="analage4_inpt_varib3" name="varib[3]" value="1" type="checkbox" />
            </div>
            <div id="analage4_sknprobDiv_list_four" class="checkboxesdiv">
              <input id="analage4_inpt_varib4" name="varib[4]" value="1" type="checkbox" />
            </div>
            <div id="analage4_sknprobDiv_list_five" class="checkboxesdiv">
              <input id="analage4_inpt_varib5" name="varib[5]" value="1" type="checkbox" />
            </div>
          </div>
        </div>
        <br />
        <br />
        <div id="analage4_RlvntDiseaseMain" class="LargeDiv">
          <div id="analage4_RlvntDiseaseOuter" class="analage4leftdiv"><b>Relevante Begleiterkrankungen:</b> <br />
          </div>
          <div id="analage4_RlvntDiseaseList" class="analage4leftdiv" style="margin-right:0; width:260px;" >
            <label id="analage4_lbl_4" for="4">
            <input id="analage4_herkre" name="beg[]" value="Herz/Kreislauf" type="checkbox" class="width">
            Herz/Kreislauf</label>
            <br>
            <label id="analage4_bl_5" for="5">
            <input id="analage4_leber" name="beg[]" value="Leber" type="checkbox" class="width">
            Leber </label>
            <br>
            <label id="analage4_lbl_6" for="6">
            <input id="analage4_6nier" name="beg[]" value="Niere" type="checkbox" class="width">
            Niere </label>
            <br>
            <label id="analage4_lbl_7" for="7">
            <input id="analage4_7lunge" name="beg[]" value="Lunge" type="checkbox" class="width">
            Lunge</label>
            <br>
            <label id="analage4_lbl_8" for="8">
            <input id="analage4_neurosch" name="beg[]" value="Neurologisch" type="checkbox" class="width">
            Neurologisch</label>
            <br>
            <label id="analage4_psychlbl" for="9">
            <input id="analage4_psychinpt" name="beg[]" value="Psychiatrisch" type="checkbox" class="width">
            Psychiatrisch</label>
            <br>
            <label id="analage4_sonsgelbl" for="10">
            <input id="analage4_sonsgeinpt" name="beg[]" value="Sonstige" type="checkbox" class="width">
            Sonstige</label>
            <br>
            <input id="analage4_inpt_beg_name" name="beg_name" value="" type="text">
          </div>
        </div>
        <div id="analage4_CatheterDivMain" class="LargeDiv">
          <div id="analage4_CatheterDivOuter" class="analage4leftdiv"><b>Katheter / Sonden</b> <br />
          </div>
          <div id="analage4_CatheterDiv_list"class="analage4leftdiv" style="margin-right:0; width:260px;" >
            <label id="anlage_lbl_pegsonde" for="11">
            <input id="analage4_pegsondinpt" name="med[]" value="PEG" type="checkbox" class="width">
            PEG-Sonde</label>
            <br>
            <label id="anlage_prtlbl" for="12">
            <input id="anlage_prtinpt" name="med[]" value="Port" type="checkbox" class="width">
            Port </label>
            <br>
            <label id="anlage_lbl_pume" for="13">
            <input id="anlage_inpt_pume" name="med[]" value="Pumpe" type="checkbox" class="width">
            Pumpe </label>
            <br>
            <label id="anlage_lbl_zvk" for="14">
            <input id="anlage_lbl_zvkinpt" name="med[]" value="ZVK" type="checkbox" class="width">
            ZVK </label>
            <br>
            <label id="anlage_lbl_dk" for="15">
            <input id="anlage_lbl_dkinpt" name="med[]" value="DK" type="checkbox" class="width">
            DK</label>
            <br>
          </div>
        </div>
        <div id="anlage_PraparationMain" class="LargeDiv">
          <h1 id="anlage_vornlgheading">Vorbehandlung</h1>
        </div>
        <div id="anlage_Praparation_outer" class="LargeDiv">
          <div id="anlage4_SchmerzDiv" class="analage4leftdiv widthselectTitlediv">Schmerz</div>
          <div id="anlage4_SchmerzDivList" class="analage4leftdiv">
            <select id="anlage4_v_schmerz_slect" name="v_schmerz" >
              <option value="Nein">Keine</option>
              <option value="Ja">Ja</option>
            </select>
          </div>
        </div>
        <div id="anlage4_Bei" class="LargeDiv margin_top_zero">
          <div id="anlage4_If_necessary" class="analage4leftdiv widthselectTitlediv">Bei Bedarf</div>
          <div id="anlage4_BeiIf_necessary_list" class="analage4leftdiv">
            <select id="anlage4_Beiv_schmerz_beh_slect" name="v_schmerz_beh">
              <option></option>
              <option value="Morphintropfen 2% 20 Tr">Morphintropfen 2% 20 Tr</option>
              <option value="Oramorph 10ml / 5 mg Trinkampulle 1x1">Oramorph 10ml / 5 mg Trinkampulle 1x1</option>
              <option value="Temgesic sublingual 0,2 mg 1x1">Temgesic sublingual 0,2 mg 1x1</option>
              <option value="Actiq 200 µg Lutschtabl. 1 x 1">Actiq 200 µg Lutschtabl. 1 x 1</option>
              <option value="Fentanyl Nasenspray 100 µg/Sprühstoss 1 x 1">Fentanyl Nasenspray 100 µg/Sprühstoss 1 x 1</option>
              <option value="Rücksprache mit QPA">Rücksprache mit QPA</option>
            </select>
          </div>
        </div>
        <div id="anlage4_NauseaNewDiv" class="LargeDiv">
          <div id="anlage4_NauseaNewDivOuter" class="analage4leftdiv widthselectTitlediv">Übelkeit</div>
          <div id="anlage4_NauseaNewDivList" class="analage4leftdiv">
            <select id="anlage4_v_uebelkeit_slect" name="v_uebelkeit" >
              <option value="Nein">Keine</option>
              <option value="Ja">Ja</option>
            </select>
          </div>
        </div>
        <div id="anlage4_if_necceberf" class="LargeDiv margin_top_zero">
          <div id="anlage4_If_necessaryNew" class="analage4leftdiv widthselectTitlediv">Bei Bedarf</div>
          <div id="anlage4_If_necessary_list_New" class="analage4leftdiv">
            <select id="anlage4_v_uebelkeit_beh_slect" name="v_uebelkeit_beh">
              <option></option>
              <option value="MCP Tropfen 4 mg/ml 30 Tr.">MCP Tropfen 4 mg/ml 30 Tr.</option>
              <option value="Haloperidol Tropfen 2 mg/ml 20 Tr.">Haloperidol Tropfen 2 mg/ml 20 Tr.</option>
              <option value="Rücksprache mit QPA">Rücksprache mit QPA</option>
            </select>
          </div>
        </div>
        <div id="anlage4_VomitNewDiv" class="LargeDiv">
          <div id="anlage4_VomitNewDivOuter" class="analage4leftdiv widthselectTitlediv">Erbrechen</div>
          <div id="anlage4_VomitNewDivList" class="analage4leftdiv">
            <select id="anlage4_v_erbrechen_slect" name="v_erbrechen" >
              <option value="Nein">Keine</option>
              <option value="Ja">Ja</option>
            </select>
          </div>
        </div>
        <div id="anlage4_NecesryDiv" class="LargeDiv margin_top_zero">
          <div id="anlage4_NecesryDivOuter" class="analage4leftdiv widthselectTitlediv">Bei Bedarf</div>
          <div id="anlage4_NecesryDivList" class="analage4leftdiv">
            <select id="anlage4_v_erbrechen_beh_slect" name="v_erbrechen_beh">
              <option></option>
              <option value="Vomex supp. 70 mg 1 x 1">Vomex supp. 70 mg 1 x 1</option>
              <option value="Rücksprache mit QPA">Rücksprache mit QPA</option>
            </select>
          </div>
        </div>
        <div id="anlage4_ConstipationNewDiv" class="LargeDiv">
          <div id="anlage4_ConstipationNewOuter" class="analage4leftdiv widthselectTitlediv">Verstopfung</div>
          <div id="anlage4_ConstipationNewList" class="analage4leftdiv">
            <select id="anlage4_v_verstopfung_slect" name="v_verstopfung" >
              <option value="Nein">Keine</option>
              <option value="Ja">Ja</option>
            </select>
          </div>
        </div>
        <div id="anlage4_NecesryNewDiv" class="LargeDiv margin_top_zero">
          <div id="anlage4_NecesryNewDivOuter" class="analage4leftdiv widthselectTitlediv">Bei Bedarf</div>
          <div id="anlage4_NecesryNewDivList" class="analage4leftdiv">
            <select id="anlage4_v_verstopfung_beh_slect" name="v_verstopfung_beh">
              <option></option>
              <option value="Rücksprache mit QPA">Rücksprache mit QPA</option>
            </select>
          </div>
        </div>
        <div id="anlage4_NewShrtnesBreathDiv" class="LargeDiv">
          <div id="anlage4_NewShrtnesBreathDivOuter" class="analage4leftdiv widthselectTitlediv">Luftnot</div>
          <div id="anlage4_NewShrtnesBreathDivList" class="analage4leftdiv">
            <select id="anlage4_v_luftnot_slect" name="v_luftnot" >
              <option value="Nein">Keine</option>
              <option value="Ja">Ja</option>
            </select>
          </div>
        </div>
        <div id="anlage4_NecesryNewOneDiv" class="LargeDiv margin_top_zero">
          <div id="anlage4_NecesryNewOneDivOuter" class="analage4leftdiv widthselectTitlediv">Bei Bedarf</div>
          <div id="anlage4_NecesryNewOneDivList" class="analage4leftdiv">
            <select id="anlage4_v_luftnot_beh_slect" name="v_luftnot_beh">
              <option></option>
              <option value="Tavor expidet Tabs 1,0 1 x 1">Tavor expidet Tabs 1,0 1 x 1</option>
              <option value="Morphin 10 mg/ml 1 x 1 ml s.c.">Morphin 10 mg/ml 1 x 1 ml s.c.</option>
              <option value="Rücksprache mit QPA">Rücksprache mit QPA</option>
            </select>
          </div>
        </div>
        <div id="anlage4_NewDivWeaknes" class="LargeDiv">
          <div id="anlage4_NewDivWeaknesOuter" class="analage4leftdiv widthselectTitlediv">Schwäche</div>
          <div id="anlage4_NewDivWeaknesList" class="analage4leftdiv">
            <select id="anlage4_v_schwaeche_slect" name="v_schwaeche" >
              <option value="Nein">Keine</option>
              <option value="Ja">Ja</option>
            </select>
          </div>
        </div>
        <div id="anlage4_NecesryNewTwoDiv" class="LargeDiv margin_top_zero">
          <div id="anlage4_NecesryNewTwoDivOuter" class="analage4leftdiv widthselectTitlediv">Bei Bedarf</div>
          <div id="anlage4_NecesryNewTwoDivList" class="analage4leftdiv">
            <select id="anlage4_v_schwaeche_beh_slect" name="v_schwaeche_beh">
              <option></option>
              <option value="Rücksprache mit QPA">Rücksprache mit QPA</option>
            </select>
          </div>
        </div>
        <div id="anlage4_NewfearDiv" class="LargeDiv">
          <div id="anlage4_NewfearDivOuter" class="analage4leftdiv widthselectTitlediv">Angst</div>
          <div id="anlage4_NewfearDivList" class="analage4leftdiv">
            <select id="anlage4_v_angst_slect" name="v_angst" >
              <option value="Nein">Keine</option>
              <option value="Ja">Ja</option>
            </select>
          </div>
        </div>
        <div id="anlage4_NecesryNewThreeDiv" class="LargeDiv margin_top_zero">
          <div id="anlage4_NecesryNewThreeDivOuter" class="analage4leftdiv widthselectTitlediv">Bei Bedarf</div>
          <div id="anlage4_NecesryNewThreeDivList" class="analage4leftdiv">
            <select id="anlage4_v_angst_beh_slect" name="v_angst_beh">
              <option></option>
              <option value="Tavor expidet Tabs 1,0 1 x 1">Tavor expidet Tabs 1,0 1 x 1</option>
              <option value="Rücksprache mit QPA">Rücksprache mit QPA</option>
            </select>
          </div>
        </div>
        <div id="anlage4_SnProbDiv" class="LargeDiv">
          <div id="anlage4_SnProbDivOuter" class="analage4leftdiv widthselectTitlediv">Hautprobleme</div>
          <div id="anlage4_SnProbDivList" class="analage4leftdiv">
            <select id="anlage4_v_hautprobleme_slect" name="v_hautprobleme" >
              <option value="Nein">Keine</option>
              <option value="Ja">Ja</option>
            </select>
          </div>
        </div>
        <div id="anlage4_NecesryNewFourDiv" class="LargeDiv margin_top_zero">
          <div id="anlage4_NecesryNewFourDivOuter" class="analage4leftdiv widthselectTitlediv">Bei Bedarf</div>
          <div id="anlage4_NecesryNewFourDivList" class="analage4leftdiv">
            <select id="anlage4_v_hautprobleme_beh_slect" name="v_hautprobleme_beh">
              <option></option>
              <option value="Rücksprache mit QPA">Rücksprache mit QPA</option>
            </select>
          </div>
        </div>
        <div id="anlage4_ReqdNdsirdDiv" class="LargeDiv">
          <h1 id="anlage4_weiterH1">Weitere Beratug erforderlich und gewünscht</h1>
        </div>
        <div id="anlage4_ReqdNdsirdDivOuter" class="LargeDiv">
          <div id="anlage4_ReqdNdsirdDivList" class="analage4leftdiv ">
            <label id="anlage4_anlagefour_lbl_ja" for="ja" class="width"  >
            <input name="weitere" value="Ja" id="anlage_jawet" type="radio" class="width" >
            Ja</label>
            <label id="anlagefour_lbl_nein" for="nein" class="width"  >
            <input name="weitere" value="Nein" id="anlage4_neinwet" type="radio" class="width">
            Nein</label>
          </div>
        </div>
        <div id="anlage4_RferlDiv" class="LargeDiv">
          <h1 id="anlage4_VermittlungH1">Vermittlung an</h1>
          <div id="anlage4_RferlDivList" class="analage4leftdiv">
            <select id="anlage4_vermittlung_slect" name="vermittlung" >
              <option></option>
              <option value="Vermittlung an Hospizdienst">Vermittlung an Hospizdienst</option>
              <option value="Vermittlung an Pflegedienst">Vermittlung an Pflegedienst</option>
              <option value="Überweisung an Palliativzentrum">Überweisung an Palliativzentrum</option>
            </select>
          </div>
          <br />
          <br />
        </div>
      </div>
      <div class="ClrBoth"></div>
      <input name="" type="submit" value="PDF erstellen" class="button btnsubmit_usersessions" id="anlage4_pdfbtn"/>
    </div>
  </div>
</form>
