<script type="text/javascript">
	ajaxCallserver({url:'contactpersonmaster/fetchlist?clm=lo&ord=ASC&pgno=0'});
var callBack = function(params)
{
	document.getElementById('content').innerHTML = params.locationlist; 
	
}


</script>
<form action="<? echo $this->act ?>" method="post" name="frmlocation" id="frmlocation" >

<p><div><a href="dischargelocation/addlocation"><? echo $this->translate('addlocation') ?>>></a></div></p>
<div id="cntact_error" class="err"><? echo $this->error_message ?></div>
<div id="content">

	<? echo $this->locationgrid ?>

</div>
</form>