<? $this->headLink()->appendStylesheet(RES_FILE_PATH.'css/page-css/formone_style.css'); ?>
<form action="" name="formone" method="post">
  <div style="display: none;"> <img id="calImg" src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
  <? echo $this->patientinfo ?>
  <? echo $this->tabmenus ?>
  <div class="tab_container">


      <div id="Evaluation">
      <div class="InfoSection">
        <div class="InfoDiv">
          <div class="Infoleft"> Krankenkasse bzw. Kostenträger<br />
            <input id="Einzel_inpt_bzw" name="client_name" type="text" value="<? echo $this->insurance_company_name ?>" class="MarginZero" />
          </div>
          <div class="BlackDivider"></div>
          <div class="Inforight"> Kassen-Nr.<br />
            <input id="Einzel_inpt_Kassen" name="kassen_nr" type="text" class="MarginZero" value="<? echo $this->insurance_no ?>" style="width:100px;" />
          </div>
          <div class="ClrBoth"></div>
        </div>
        <div class="InfoSectionBottom">
          <div class="InfoDiv">
            <div class="Inforight"> Betriebsstätten-Nr.<br />
              <input id="Einzel_inpt_Betriebsstätten" name="betriebsstatten_nr" type="text" value="<? echo $this->betriebsstatten_nr ?>" class="MarginZero" style="width:95px;" />
            </div>
            <div class="BlackDivider"></div>
            <div class="Inforight"> Institutskennzeichen<br />
             <input id="Einzel_inpt_Institute" name="institutskennzeichen" type="text" class="MarginZero" style="width:95px;" />
            </div>
            <div class="BlackDivider"></div>
            <div class="Inforight"> Datum<br />
              <input id="Einzel_inpt_Date" name="cur_date" value="<? echo date('d.m.Y',time()); ?>" type="text" class="MarginZero" style="width:95px;" />
            </div>
            <div class="ClrBoth"></div>
          </div>
        </div>
      </div>
      <div class="HeadingSection">
        <h1>SAPV- Einzelfallevaluation</h1>
        <h2>gemäß Anlage ... - Mustervertrag</h2>
      </div>
      <div class="ClrBoth"></div>
      <h3>I. Beginn der spez. ambulanten Palliativversorgung (SAPV)</h3>
      <div class="Options">
        <div></div>
        <div id="PatientenId" class="OptionsContent">
          <label>Patienten-ID:</label>
          <label>
          <input id="Einzel_inpt_Patienten" name="patient_epid" value="<? echo $this->epid ?>" type="text" />
          </label>
        </div>
        <div id="Geschlecht" class="OptionsContent">
          <label>Geschlecht:</label>
          <div class="left">
            <label>
            <input name="gender" type="radio" value="1" <? echo $this->male ?> />
            </label>
            <div class="FloatLeft">M</div>
          </div>
          <div class="left">
            <label>
            <input name="gender" type="radio" value="2" <? echo $this->female ?> />
            </label>
            <div class="FloatLeft">W</div>
          </div>
        </div>
        <div id="Geburtsjahr" class="OptionsContent">
          <label>Geburtsjahr:</label>
          <label>
          <input id="Einzel_inpt_Geburtsjahr" name="geburtsjahr" value="<? echo $this->byear ?>" type="text" />
          </label>
        </div>
        <div class="ClrBoth"></div>
      </div>
      <div id="Grundkrankheit" class="Options">
        <div class="OptionsContent">Grundkrankheit</div>
        <div class="OptionsContent">
          <label>ICD10:</label>
          <label>
          <input id="Einzel_inpt_ICD10" name="icddiagnosis" value="<? echo $this->icddiagnosis ?>" type="text" />
          </label>
        </div>
        <div class="ClrBoth"></div>
      </div>
      <div class="CheckboxListOuter">
        <div class="CheckboxList left">
          <div class="CheckboxListHeading"><strong>Folgende Maßnahme wurden durch:</strong></div>
          <div class="CheckboxListNew Mleft8">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="kh_arzt" id="kh_arzt" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv LblWidth left">KH-Arzt</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="vertragsarzt" id="vertragsarzt" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">Vertragsarzt</div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div class="CheckboxList left">
          <div class="CheckboxListHeading LblWidth"><strong></strong>verordnet:</div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="beratung" id="beratung" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv LblWidth left">Beratung</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="koordination" id="koordination" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv LblWidth left">Koordination</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="teilversorgung" id="teilversorgung" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">Teilversorgung</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="vollversorgung" id="vollversorgung" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">Vollversorgung</div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div class="CheckboxList left">
          <div class="CheckboxListHeading LblWidth"><strong></strong>Erstkontakt:</div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="im_krankenhaus" id="im_krankenhaus" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv LblWidth left">im Krankenhaus</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="ambulant_pfl_egeheim_hospiz" id="ambulant_pfl_egeheim_hospiz" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">Ambulant/Pflegeheim/Hospiz</div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div class="CheckboxList left">
          <div class="CheckboxListHeading LblWidth"><strong></strong>Wohnsituation:</div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="zu_hause_allein" id="zu_hause_allein" <? if($this->alone==1){ echo "checked='checked'";}?> value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv LblWidth left">zu Hause, allein</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="zu_hause_mit_angehorigen" id="zu_hause_mit_angehörigen" <? if($this->house_of_relatives==1){ echo "checked='checked'";}?> value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">zu Hause mit Angehörigen</div>
            <div style="clear:both;"></div>
          </div><div class="ClrBth"></div>
          <div class="CheckboxListHeading LblWidth"><strong></strong>&nbsp</div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="im_stat_hospiz" id="im_stat_hospiz" <? if($this->ltypev=='2'){echo 'checked="checked"';} ?> value="1" />
             </label>
            </div>
            <div class="CheckboxListeftDiv LblWidth left">im stat.Hospiz</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="in_stat_pfl_egeeinrichtung" id="in_stat_pfl_egeeinrichtung" <? if($this->ltypev=='3'){echo 'checked="checked"';} ?> value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">in stat.Pflegeeinrichtung</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="othercheck" id="othercheck" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">
              <input name="othertext" type="text" />
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>

      <div class="Options">
        <div  id="pfl_egestufe" class="OptionsContent">
          <div class="CheckboxListHeading LblWidth"><strong>Pflegestufe:</strong></div>
          <div class="left"><div class="left">
            <label>
            <input name="pfl_egestufe_one" type="checkbox" <? echo $this->stage1 ?> value="1" />
            </label>
            <div class="FloatLeftForNo">1</div>
          </div>
          <div class="left">
            <label>
            <input name="pfl_egestufe_two" type="checkbox" value="1" <? echo $this->stage2 ?> />
            </label>
            <div class="FloatLeftForNo">2</div>
            <div class="left">
              <label>
              <input name="pfl_egestufe_three" type="checkbox" value="1" <? echo $this->stage3 ?> />
              </label>
              <div class="FloatLeftForNo">3</div>
            </div></div>
          </div></div>
        <div class="CheckboxListNew Mleft8">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="beantragtonechk" id="" value="1" />
             </label>
            </div>
            <div class="CheckboxListeftDiv LblWidth left">beantragt</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="nicht_beantragtonechk" id="" value="1" />
             </label>
            </div>
            <div class="CheckboxListeftDiv LblWidth left">nicht beantragt</div>
            <div style="clear:both;"></div>
          </div>
        
        <div class="ClrBoth"></div>
      </div>
      <div  id="pat" class="Options">
        <div class="OptionsContent">
          <label><strong>Wunsch des Pat. zu Beginn:</strong></label>
          <label>
          <input name="wunsch_des_pat_zu_beginn" type="text" style="width:400px;"/>
          </label>
        </div>
        <div class="ClrBoth"></div>
      </div>
      <div class="Options">
        <div  class="OptionsContent">
          <label>Wunsch identisch mit SAPV Behandlungsziel:</label>
          <div class="left">
            <label>
            <input name="sapv_behandlungszie_ja" type="radio" value="1" />
            </label>
            <div class="FloatLeft">ja</div>
            <div class="left">
              <label>
              <input name="sapv_behandlungszie_ja" type="radio" value="2" />
              </label>
              <div class="FloatLeft">nein</div>
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div class="ClrBoth"></div>
        </div>
      </div>
      <div class="ClrBoth"></div>
      <h3>II. Durchgeführte spez. ambulanten Palliativversorgung (SAPV)</h3>
      <div id="number_regulations" class="Options">
        <div></div>
        <div class="OptionsContent">
          <label><strong>Anzahl Verordnungen:</strong></label>
        </div>
        <div class="OptionsContent">
          <label>Beratung(en):</label>
          <label>
          <input name="beratung_en_one" type="text" style="width:12px;" />
          </label>
         
          <div class="left"></div>
        </div>
        <div class="OptionsContent">
          <label>Koordination:</label>
          <label>
          <input name="koordination_one" type="text" style="width:12px;" />
          </label>
        
        </div>
        <div class="OptionsContent">
          <label>Teilversorgung::</label>
          <label>
          <input name="teilversorgung_one" type="text" style="width:12px;" />
          </label>
         
        </div>
        <div class="OptionsContent">
          <label>Vollversorgung:</label>
          <label>
          <input name="vollversorgung_one" type="text" style="width:12px;" />
          </label>
        
        </div>
        <div class="ClrBoth"></div>
      </div>
      <div  id="icd" class="Options">
        <div class="OptionsContent "><strong>Betreuungsrelevante Nebendiagnosen (ICD):</strong></div>
        <div class="OptionsContent">
          <label>
          <input name="betreuungsrelevante_nebendiagnosen_chkone" type="checkbox" value="1" class="chkbox" />
          </label>
          <label>
          <input name="betreuungsrelevante_nebendiagnosen_txtone" type="text" style="width:100px;" />
          </label>
          <label>
          <input name="betreuungsrelevante_nebendiagnosen_chktwo" type="checkbox" value="1" class="chkbox"  />
          </label>
          <label>
          <input name="betreuungsrelevante_nebendiagnosen_txttwo" type="text" style="width:100px;" />
          </label>
          <label>
          <input name="betreuungsrelevante_nebendiagnosen_chkthree" type="checkbox" value="1" class="chkbox"  />
          </label>
          <label>
          <input name="betreuungsrelevante_nebendiagnosen_txtthree" type="text" style="width:100px;" />
          </label>
        </div>
        <div class="ClrBoth"></div>
      </div>
      
      
      <div id="SymptomList"><strong>
      
      Komplexes Symptomgeschehen      </strong><br /><br />
<div class="left">
<div class="SymptomListOuter">
<div class="left widthforAV">
<div class="SymptomListContent01"><strong> A</strong></div>
<div class="SymptomListContent01"><strong>V</strong></div></div>

<div class="SymptomListContent01"><strong> A</strong></div>
<div class="SymptomListContent01"><strong>V</strong></div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="schmerzsymptomatik_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="schmerzsymptomatik_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Schmerzsymptomatik</div>
<div class="SymptomListContent"> <label>
          <input name="gastrointestinale_symptomatik_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="gastrointestinale_symptomatik_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">gastrointestinale Symptomatik</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="neurologische_psychiatrische_psychische_symptomatik_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="neurologische_psychiatrische_psychische_symptomatik_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">neurologische/psychiatrische/psychische Symptomatik</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="ulzerierende_exulzerierende_wunden_oder_tumore_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="ulzerierende_exulzerierende_wunden_oder_tumore_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">ulzerierende/exulzerierende Wunden oder Tumore</div>
<div class="ClrBoth"></div>
</div>
</div>

<div class="left">
<div class="left">
<div class="SymptomListOuter">
<div class="SymptomListContent01"><strong> A</strong></div>
<div class="SymptomListContent01"><strong>V</strong></div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="urogenitale_symptomatik_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="urogenitale_symptomatik_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">urogenitale Symptomatik</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="respiratorische_kardiale_symptomatik_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="respiratorische_kardiale_symptomatik_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">respiratorische/kardiale Symptomatik</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="sonstiges_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="sonstiges_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"><div class="left">Sonstiges:</div> 
<div class="left">  <label>
          <input name="sonstiges_txt" type="text" style="width:100px;" />
          </label></div>
<div class="ClrBoth"></div>
</div>
<div class="ClrBoth"></div>
</div>
</div>
</div>
<div class="ClrBoth"></div>
</div>


      <div id="SymptomList another_complex "><strong>
      
      Weiteres komplexes Geschehen</strong><br />
      <br />
<div class="left">
<div class="SymptomListOuter">
<div class="SymptomListContent01"><strong> A</strong></div>
<div class="SymptomListContent01"><strong>V</strong></div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="ethische_konfl_ikte_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="ethische_konfl_ikte_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">ethische Konflikte</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="sozial_rechtliche_probleme_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="sozial_rechtliche_probleme_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">sozial-rechtliche Probleme</div>
<div class="ClrBoth"></div>
</div>

</div>
<div class="left">
<div class="SymptomListOuter">
<div class="SymptomListContent01"><strong> A</strong></div>
<div class="SymptomListContent01"><strong>V</strong></div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="unterstutzungsbedarf_des_bezugssystems_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="unterstutzungsbedarf_des_bezugssystems_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Unterstützungsbedarf des Bezugssystems</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="existentielle_krisensituation_patient_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="existentielle_krisensituation_patient_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">existentielle Krisensituation Patient</div>
<div class="ClrBoth"></div>
</div>

</div>
<div class="ClrBoth"></div>
</div>

<strong>Quantitative Aufwandsverteilung (gesamt: 100%) für die Tätigkeiten des Teams    </strong>

<div  id="activities_team" class="Options">
        <div></div>
        <div class="OptionsContent">
          <label>Am Patient:</label>
          <label>
          <input name="am_patient" type="text" style="width:90px;" /> 
          %
          </label>
        </div>
        <div class="OptionsContent">
          <label>Für Angehörige:</label>
          <label>
          <input name="fur_angehorige" type="text" style="width:90px;" /> 
          %
          </label>
        </div>
        <div class="OptionsContent">
          <label>Systemische Tätigkeiten:</label>
          <label>
          <input name="systemische_tatigkeiten" type="text" style="width:90px;" /> 
          %
          </label>
        </div>
        <div class="ClrBoth"></div>
      </div>
      
      
      <div id="SymptomList"><b>
      
Betreuungsnetz    </b><br /><br />
<div class="left">
<div class="SymptomListOuter">
<div class="SymptomListContent01"><strong> A</strong></div>
<div class="SymptomListContent01"><strong>V</strong></div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="pc_pfl_egekraft_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="pc_pfl_egekraft_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">PC-Pflegekraft</div>

<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="ambulanter_hospizdienst_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="ambulanter_hospizdienst_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">ambulanter Hospizdienst</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="stationares_hospiz_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="stationares_hospiz_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">stationäres Hospiz</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="physiotherapie_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="physiotherapie_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Physiotherapie</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="angehorige_mit_grundpfl_ege_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="angehorige_mit_grundpfl_ege_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Angehörige mit Grundpfl ege</div>
<div class="ClrBoth"></div>
</div>

</div>


<div class="left">
<div class="SymptomListOuter">
<div class="left widthforAV2"><div class="SymptomListContent01"><strong> A</strong></div>
<div class="SymptomListContent01"><strong>V</strong></div></div>
<div class="left"><div class="SymptomListContent01"><strong> A</strong></div>
<div class="SymptomListContent01"><strong>V</strong></div></div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter ">
<div class="SymptomListContent"> <label>
          <input name="palliativmediziner_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="palliativmediziner_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent widthForOptions">Palliativmediziner</div>
<div class="SymptomListContent"> <label>
          <input name="hausarzt_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="hausarzt_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Hausarzt</div>


<div class="ClrBoth"></div>
</div>


<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="pfl_egedienst_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="pfl_egedienst_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent widthForOptions">Pflegedienst</div>
<div class="SymptomListContent"> <label>
          <input name="sozialstation_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="sozialstation_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Sozialstation</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="krankenhaus_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="krankenhaus_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent widthForOptions">Krankenhaus</div>
<div class="SymptomListContent"> <label>
          <input name="palliativstation_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="palliativstation_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Palliativstation</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="psychologe_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="psychologe_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent widthForOptions">Psychologe</div>
<div class="SymptomListContent"> <label>
          <input name="apotheke_san_haus_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="apotheke_san_haus_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Apotheke/San.-haus</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="angehorige_mit_behandlungspfl_ege_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="angehorige_mit_behandlungspfl_ege_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Angehörige mit Behandlungspflege</div>
<div class="ClrBoth"></div>
</div>

</div>
<div class="left">
<div class="SymptomListOuter">
<div class="SymptomListContent01"><strong> A</strong></div>
<div class="SymptomListContent01"><strong>V</strong></div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="facharzt_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="facharzt_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Facharzt</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="sozialarbeit_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="sozialarbeit_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"><span></span>Sozialarbeit</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="stationare_pflege_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="stationare_pflege_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Stationäre Pflege</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="weitere_berufe_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="weitere_berufe_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">weitere Berufe</div>
<div class="ClrBoth"></div>
</div>

<div class="SymptomListOuter">
<div class="SymptomListContent"> <label>
          <input name="seelsorge_one" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent"> <label>
          <input name="seelsorge_two" type="checkbox" value="1" />
          </label></div>
<div class="SymptomListContent">Seelsorge</div>
<div class="ClrBoth"></div>
</div>

</div>


<div class="ClrBoth"></div>
</div><div id="SymptomList">
  

<div class="ClrBoth"></div>
</div>




<div id="patient_wish_fulfilled" class="Options">
        <div class="OptionsContent">
          <label><strong>Pat.-Wunsch erfüllt:</strong></label>
          <div class="left">
            <label>
            <input name="pat_wunsch_erfullt" type="radio" value="1" />
            </label>
            <div class="FloatLeft">ja</div>
            <div class="left">
              <label>
              <input name="pat_wunsch_erfullt" type="radio" value="2" />
              </label>
              <div class="FloatLeft">teilweise</div>
            </div>
            <div class="left">
              <label>
              <input name="pat_wunsch_erfullt" type="radio" value="3" />
              </label>
              <div class="FloatLeft">nein</div>
            </div>
            <div class="left">
              <label>
              <input name="pat_wunsch_erfullt" type="radio" value="4" />
              </label>
              <div class="FloatLeft">unbekannt</div>
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div class="ClrBoth"></div>
        </div>
        <div class="ClrBoth"></div>
      </div>

<h3>III: Abschluß der spez. ambulanten Palliativversorgung (SAPV)</h3>

<div id="termination_" class="CheckboxListOuter">
  <strong>Beendigung der SAPV wegen:        </strong>
  <br />
  <br />
  <div class="CheckboxList left">
          
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="stabilisierung" id="stabilisierung" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">Stabilisierung</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="kausaler_therapieansatz" id="kausaler_therapieansatz" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">Kausaler Therapieansatz</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="verlegung" id="verlegung" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">Verlegung</div>
            <div style="clear:both;"></div>
          </div><div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="ablauf_der_verordnung" id="ablauf_der_verordnung" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">Ablauf der Verordnung</div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div class="CheckboxList " style="">
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="verstorben" id="verstorben" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv WidthForverstorben left">verstorben</div>
            <div style="clear:both;"></div>
          </div>
          <div class="CheckboxListNew">
            <div class="CheckboxListRightDiv left">
              <label>
              <input type="checkbox" name="sonstigestwochk" id="sonstigestwochk" value="1" />
              </label>
            </div>
            <div class="CheckboxListeftDiv left">
            <div class="left">Sonstiges:</div>
            <div class="left"> <label>
              <input name="sonstigestwotxt" type="text" style="width:130px;" />
              </label></div>
            <div class="ClrBoth"></div>
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div class="CheckboxList left">
          
          
        </div>
        <div class="CheckboxList left">
   
          
        </div>
        <div style="clear:both;"></div>
      </div>
      
      <div id="degree" class="Options">
        <div class="OptionsContent">
          <label><strong>Pfl egestufe b. Abschluss:</strong></label>
          <div class="left">
            <label>
            <input name="pfl_egestufe_b_abschluss_one" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">1</div>
          </div>
          <div class="left">
            <label>
            <input name="pfl_egestufe_b_abschluss_two" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">2</div>
            <div class="left">
              <label>
              <input name="pfl_egestufe_b_abschluss_three" type="checkbox" value="1" />
              </label>
              <div class="FloatLeft">3</div>
            </div>
          </div>
     
            <div class="left">
              <label>
              <input name="beantragttwochk" type="checkbox" value="1" />
              </label>
              <div class="FloatLeft">beantragt</div>
              <div class="left">
                <label>
                <input name="nicht_beantragttwochk" type="checkbox" value="1" />
                </label>
                <div class="FloatLeft">nicht beantragt</div>
              </div>
            <div class="ClrBoth"></div>
            </div>
        
        </div>
        <div class="ClrBoth"></div>
      </div><br />
     
      <div id="additional_information">
      <strong>Zusätzliche Angaben bei Verstorbenen:</strong><br />
<div class="Options">
        <div class="OptionsContent">
       
          <div class="left">
              <label>
              <input name="verstorben_unter_sapv" type="checkbox" value="1" />
              </label>
              <div class="FloatLeft">verstorben unter SAPV</div>
            </div>
              <div class="left">
                <label>
                <input name="verstorben_im_krankenhaus" type="checkbox" value="1" />
                </label>
                <div class="FloatLeft">verstorben im Krankenhaus</div>
              </div>
            <div class="left">
              <label>
              <input name="verstorben_im_heimtwo" type="checkbox" value="1" />
              </label>
              <div class="FloatLeft">verstorben im Heim</div>
              
            </div>
            <div class="left">
              <label>
              <input name="verstorben_zu_Hause1" type="checkbox" value="1" />
              </label>
              <div class="FloatLeft">verstorben zu Hause</div>
              
            </div>
              <div class="left">
             <div class="FloatLeftForNo" >ggf. Grund der letzten stationären Einweisung:</div>
              </div>
              <div class="left ">
              <label>
              <input name="dekomp_pat" type="checkbox" value="1" />
              </label>
              <div class="FloatLeftForNo ">Dekomp. Pat.</div>
              </div>
              <div class="left widthforDekompUmfeld">
              <label>
              <input name="dekomp_umfeld" type="checkbox" value="1" />
              </label>
              <div class="FloatLeft">Dekomp. Umfeld</div>
              </div>
              <div class="left">
              <label>
              <input name="wunsch_des_patienten" type="checkbox" value="1" />
              </label>
              <div class="FloatLeft">Wunsch des Patienten</div>
              </div>
              <div class="ClrBoth"></div>
          </div>
        
        </div>
        <div class="ClrBoth"></div>
        <div class="Options">
        <div class="OptionsContent">
          <label>ggf. weitere Angaben:</label>
          <label><input name="ggf_weitere_angaben" type="text" style="width:400px;"/></label>

        </div>
        <div class="ClrBoth"></div>
      </div>
        
  
        <div class="Options OptionsWidth">
        <div class="OptionsContent">
          <label>Sterbeort n. Wunsch:</label>
      <div class="left">
              <label>
              <input name="sterbeort_n_wunsch" type="radio" value="1" />
              </label>
              <div class="FloatLeft">ja</div>
            </div>
            <div class="left">
              <label>
              <input name="sterbeort_n_wunsch" type="radio" value="2" />
              </label>
              <div class="FloatLeft">nein</div>
            </div>
       
            
            <div class="left">
              <label>
              <input name="sterbeort_n_wunsch" type="radio" value="3" />
              </label>
              <div class="FloatLeft">unbekannt/unbestimmt</div>
            </div>
      
            <div class="ClrBoth"></div>
         
          <div class="ClrBoth"></div>
        </div>
        
      </div>
      
      
      
        <div class="ClrBoth"></div>
        
        <div id="leistungskennzahlen">
        
         <h3>IV. Leistungskennzahlen</h3>
        <div class="Options OptionsWidth">
      
        <div class="OptionsContent">
          <label>Behandlungsdauer in Tagen:</label>
          <div class="left">
            <label><input name="behandlungsdauer_in_tagen" type="text" value="<? echo $this->daystreated ?>" style="width:80px;" />
         </label>
            <div class="left"></div>
            
            <div class="left"></div>
      
            <div class="ClrBoth"></div>
          </div>
          <div class="ClrBoth"></div>
        </div>
        <br />

        <div class="OptionsContent">
          <label>Besuche PC-Team, gesamt:</label>
          <div class="left">
            <label><input name="besuche_pc_team_gesamt" type="text" style="width:80px;" />
         </label>
            <div class="left"></div>
            
            <div class="left"></div>
      
            <div class="ClrBoth"></div>
          </div>
          <div class="ClrBoth"></div>
        </div>
        
        <div class="Options">
        <div class="OptionsContent ">
         <div class="widthforNotarzt"> <label class="Forlabel ">Notarzteinsätze :</label></div>
          <div class="left LeftMarginBig">
            <label>
            <input name="notarzteinsatze_keine" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">keine</div>
             <div class="ClrBoth"></div>
          </div>
  <div class="left">
            <label>
            <input name="notarzteinsatze_one" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">1</div>
              <div class="ClrBoth"></div>
        </div>
        <div class="left">
            <label>
            <input name="notarzteinsatze_two" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">2</div>
              <div class="ClrBoth"></div>
        </div>
       
       <div class="left">
            <label>
            <input name="notarzteinsatze_three" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">3</div>
              <div class="ClrBoth"></div>
        </div>
        <div class="left">
            <label>
            <input name="notarzteinsatze_four" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">4</div>
              <div class="ClrBoth"></div>
        </div>
        <div class="left">
            <label>
            <input name="notarzteinsatze_five" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">5</div>
              <div class="ClrBoth"></div>
        </div>
        <div class="left">
            <label>
            <input name="notarzteinsatze_grtfive" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">&gt;5</div>
              <div class="ClrBoth"></div>
        </div>
            </div>
        <div class="ClrBoth"></div>
      </div>
      <div class="Options">
        <div class="OptionsContent">
        <div class="widthforEinweisungen"> <label>KH-Einweisungen:</label></div>
                   <div class="left LeftMarginOption ">
            <label>
              <? echo  $this->formCheckbox('einweisungen_keine', $this->einweisungen_keine, null, array('1')); ?>
            </label>
            <div class="FloatLeft">keine</div>
             <div class="ClrBoth"></div>
          </div>
  <div class="left">
            <label>
            <? echo  $this->formCheckbox('einweisungen_one', $this->einweisungen_one, null, array('1')); ?>
        
            </label>
            <div class="FloatLeft">1</div>
              <div class="ClrBoth"></div>
        </div>
        <div class="left">
            <label>
              <? echo  $this->formCheckbox('einweisungen_two', $this->einweisungen_two, null, array('1')); ?>
            </label>
            <div class="FloatLeft">2</div>
              <div class="ClrBoth"></div>
        </div>
       
       <div class="left">
            <label>
             <? echo  $this->formCheckbox('einweisungen_three', $this->einweisungen_three, null, array('1')); ?>
            
            </label>
            <div class="FloatLeft">3</div>
              <div class="ClrBoth"></div>
        </div>
        <div class="left">
            <label>
            <? echo  $this->formCheckbox('einweisungen_four', $this->einweisungen_four, null, array('1')); ?>
         
            </label>
            <div class="FloatLeft">4</div>
              <div class="ClrBoth"></div>
        </div>
        <div class="left">
            <label>
              <? echo  $this->formCheckbox('einweisungen_five', $this->einweisungen_five, null, array('1')); ?>
        
            </label>
            <div class="FloatLeft">5</div>
              <div class="ClrBoth"></div>
        </div>
        <div class="left">
            <label>
              <? echo  $this->formCheckbox('einweisungen_grtfive', $this->einweisungen_grtfive, null, array('1')); ?>
              
           
            </label>
            <div class="FloatLeft">&gt;5</div>
              <div class="ClrBoth"></div>
        </div>

        </div>
        <div class="ClrBoth"></div>
      </div>
      <div class="Options">
        <div class="OptionsContent">
          <label>Anfahrtsweg in km:</label>
    
                    <div class="left LeftMarginOption">
            <label>
            <input name="anfahrtsweg_in_km_zero_ten" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">0-10</div>
             <div class="ClrBoth"></div>
          </div>
  <div class="left">
            <label>
            <input name="anfahrtsweg_in_km_eleven_twenty" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">11-20</div>
              <div class="ClrBoth"></div>
        </div>
        <div class="left">
            <label>
            <input name="anfahrtsweg_in_km_zero_twentyone" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">21-30</div>
              <div class="ClrBoth"></div>
        </div>
       
       <div class="left">
            <label>
            <input name="anfahrtsweg_in_km_zero_thirtyone" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">31-50</div>
              <div class="ClrBoth"></div>
        </div>
        <div class="left">
            <label>
            <input name="anfahrtsweg_in_km_zero_grtfifty" type="checkbox" value="1" />
            </label>
            <div class="FloatLeft">&gt; 50</div>
              <div class="ClrBoth"></div>
        </div>
        

  
            <label></label>
        </div>
        <div class="ClrBoth"></div>
      </div>
        </div>
         </div>
      
      <div class="OptionsWidthRight"></div>
          <div class="ClrBoth"></div>
        
        <div class="ClrBoth"></div>
      </div>
  <input name="btnsubmit" type="submit" value="<? echo $this->translate('generatepdf')?>" />
  </div>
</div>
</form>
