<script type="text/javascript">
 jscount = 0;
 jsmedcount = 0;
 var medblur = Array(); 
  
   $(function() {
	
		$(".livesearchmedinp").bind('keyup',function(e){livemedicationsearchkeup(e,$(this))});
	
 });
	
	function closeautosearch(val)
	{	
		document.getElementById('medidropdown'+val).innerHTML = "";
		
	}
</script>

<script type="text/javascript" src="<? echo RES_FILE_PATH;  ?>/javascript/livesearch/medication.js"></script>
<form enctype="multipart/form-data"  action="<? echo $this->act ?>" method="post" name="frmuser" id="frmuser" autocomplete="off" >
<div style="display: none;">
	<img id="calImg" src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger">
</div>
<? echo $this->patientinfo ?>
<? echo $this->tabmenus ?>

<div class="tab_container">
<div id="TableContentOuter">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="23" align="left"  valign="top"><h1><? echo $this->translate('medication');?></h1></td>
  </tr>
   <tr>
    <td colspan="2" align="left"  valign="top" height="20"><div class="add_new_medi"><a href="patient/patientmedicationadd?id=<? echo $_GET['id']?>"><img src="<? echo RES_FILE_PATH;  ?>/images/edit_add.png" width="32" height="32" /><div class="add_new_medi_link"><? echo $this->translate('addnewmedication'); ?></div></a></div></td>
  </tr>
  <tr>
    <td align="left" valign="top"><? echo $this->medications?></td>
  </tr>
  <tr><td><strong><? echo $this->translate('discontinuedmedlist');?></strong></td></tr>
  <tr>
    <td align="left" valign="top"><? echo $this->delmedications?></td>
  </tr>
  
  <tr>
    <td width="23" align="left" valign="top">&nbsp;</td>
  </tr>
 
    <td width="23" align="left" valign="top"><input name="btnsubmut" type="submit" class="button" value="<? echo $this->translate('submit'); ?>" /></td>
  </tr>
 
</table>
</div>

</div>

</form>

