<script type="text/javascript">
var patid = <? echo $this->patid?>;
var loading = function(){

var dlist = '<div class="DropDwnTable" style="position:absolute;"><table border="0" align="left" cellpadding="0" cellspacing="0" class="Dropdwntble"><tr class="bluerow"><td valign="top"><img src="<? echo RES_FILE_PATH;  ?>/images/loading.gif"></td></tr></table></div>';
 document.getElementById('doctdropdown').style.display = "";
 document.getElementById('doctdropdown').innerHTML=dlist;
	 
}

function dropDownchange(ltrval)
{
 ajaxCallserver({url:'patient/fetchdropdown?ltr='+ltrval,callLoading:loading});
} 

var chks;
function updatePatientInformation(modname,fldname,chk,patid,drp)
{

 
  if(chk.checked == true)
  {
     chks = 1;
  }
  else
  {
     chks = 0;
  } 
  
  if(drp=='drop')
  {
   chks = chk.value;
  }
  
  ajaxCallserver({url:'patient/updatepatientinfo?modname='+modname+'&fldname='+fldname+'&chkval='+chks+'&patid='+patid});
  
}


var doctors;
var docdropdiv = function(params){

var dlist = '<div class="DropDwnTable"><table border="0" align="left" cellpadding="0" cellspacing="0" class="Dropdwntble">';
	doctors = params.doctors;
	if(doctors.length>0){dlist+='<tr class="bluerow"><td class="first" valign="top"><strong><? echo $this->translate('name'); ?></strong></td><td class="first" valign="top"><strong><? echo $this->translate('firstname'); ?></strong></td><td class="first" valign="top"><strong><? echo $this->translate('city'); ?></strong></td><td valign="top">&nbsp;</td></tr>';}
	else
	{
	 dlist+='<tr><td colspan="2" class="BlueBox"><? echo $this->translate('noresultsaddfamilydoctor'); ?>/td></tr>';
	}
	
	for(i=0;i<params.doctors.length;i++)
	{
		dlist+='<tr class="bluerow" onclick="selectDoctor('+i+')"><td class="first"  valign="top">'+params.doctors[i].last_name +'</td><td class="first" valign="top">'+params.doctors[i].first_name +'</td><td class="first" valign="top">'+params.doctors[i].city +'</td><td valign="top"><? echo $this->translate('select'); ?></td></tr>';
	}
	 dlist+= "</table></div>";
	 
	 document.getElementById('doctdropdown').style.display = "";
	 document.getElementById('doctdropdown').innerHTML=dlist;
	 document.getElementById('msg').innerHTML = "<? echo $this->translate('ifnoresultfamilydoctor'); ?>";
	 
}

function selectDoctor(i)
{
	document.getElementById('familydoc_id').value =doctors[i].last_name;
	document.getElementById('doctdropdown').style.display = "none";
	document.getElementById('hidd_docid').value =doctors[i].id;
}


function refDropDownchange(ltrval)
{
  ajaxCallserver({url:'patient/fetchreferreddropdown?ltr='+ltrval,callLoading:r_loading});
} 

$(function() {
	
	$('#recording_date').datepick({showTrigger: '#calImg'});
	
});

function openhidediv(param)
{
 
  if(param=='op') 
  {
	   if($('#FormDiv').is(":visible"))
	   {
		  $('#FormDiv').hide();
	   }	  
	   else
	   {
		  $('#FormDiv').show();
	   }
  } 
  if(param=='opn') 
  {
     $('#FormDiv').show();
  }
}



</script>
<script type="text/javascript" src="<? echo RES_FILE_PATH;  ?>/javascript/livesearch/referredby.js"></script>

<div style="display: none;"> <img id="calImg" src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
<? echo $this->patientinfo ?>
<? echo $this->tabmenus ?>
<div class="tab_container">
<div id="PatientDtls">
  <div class="err"><? echo $this->error_message ?></div>
  <div id="PtDtls_left_conatiner">
    <!--daniel erster-->
    <div id="PtDetails_first" class="dtbox">
      <h4 class="LineHeading"><? echo $this->translate('PtDetails_Patient');?></h4>
      <div id="PtDtls_patient_edit"><a href="patient/patientedit?id=<? echo $this->pid?>">[<? echo $this->translate('update');?>]</a></div>
		<table>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('firstname');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->first_name ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('lastname');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->last_name ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('street');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->street1 ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('zip');?>, <? echo $this->translate('city');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->zip ?> <? echo $this->city ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('birthd');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->birthd ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('sex');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->translate(strtolower($this->sex)) ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('phone');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->phone ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"></td>
				<td class="patcontactscol2" valign="top"></td>
			</tr>
		</table>
     <!-- <div class="left clearer">
        <label id="first_name" ></label>
        <div id="first_name_content"></div>
      </div>
      <div class="left clearer">
        <label id="last_name" ></label>
        <div id="last_name_content"></div>
      </div>
      <div class="left clearer">
        <label id="street" ></label>
        <div id="street_content"></div>
      </div>
      <div class="left clearer">
        <label id="city" ></label>
        <div id="city_content"></div>
      </div>
      <div class="left clearer">
        <label id="birthd"></label>
        <div id="birthd_content"></div>
      </div>
      <div class="left clearer">
        <label id="sex"></label>
        <div id="sex_content"></div>
      </div>
      <div class="left clearer">
        <label id="phone"></label>
        <div id="phone_content"></div>
      </div>-->
    </div>
    <div id="PtDetails_second" class="dtbox">
      <h4 class="LineHeading"><? echo $this->translate('familydoc');?></h4>
      <div id="PtDtls_famdoc_edit"><a href="patient/familydocedit?id=<? echo $this->pid?>">[<? echo $this->translate('update');?>]</a></div>
      <div id="fdoc_message"><? echo  $this->fdocmsg?></div>
      <? if($this->isdoc==1) { ?>
		<table>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('name');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->doc_firstname ?> <? echo $this->doc_lastname ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('practice_phone');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->doc_phone_practice ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('fax');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->doc_fax ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"></td>
				<td class="patcontactscol2" valign="top"></td>
			</tr>
		</table>
<!--
<div class="left clearer">
        <label id="doc_firstname"></label>
        <div id="doc_firstname_content"></div>
      </div>
      <div class="left clearer">
        <label id="doc_lastname"><? echo $this->translate('lastname');?></label>
        <div id="doc_lastname_content"></div>
      </div>
      <div class="left clearer">
        <label id="doc_phone_practice"></label>
        <div id="doc_phone_practice_content"></div>
      </div>
      <div class="left clearer">
        <label id="docfax"></label>
        <div id="docfax_content"></div>
      </div>
-->
      <? }?>
    </div>
    <div id="PtDetails_third" class="dtbox">
      <h4 class="LineHeading"><? echo $this->translate('patient_health_insurance');?></h4>
      <div id="PtDtls_healthinsurance_edit"><a href="patient/patienthealthedit?id=<? echo $this->pid?>">[<? echo $this->translate('update');?>]</a></div>
<!--
	<div class="left clearer">
        <label id="company_name"></label>
        <div id="company_name_content"></div>
      </div>
      <div class="left clearer">
        <label id="insuranceno"></label>
        <div id="insuranceno_content"></div>
      </div>
      <div class="left clearer">
        <label id="insurancestatus"></label>
        <div id="insurancestatus_content"></div>
      </div>
-->
      <table>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('company_name');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->company_name ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('insuranceno');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->insurance_no ?></td>
			</tr>
			<tr>
				<td class="colbold patcontactscol1" valign="top"><? echo $this->translate('insurancestatus');?></td>
				<td class="patcontactscol2" valign="top"><? echo $this->insurance_status ?></td>
			</tr>
		</table>

    </div>
    <div id="PtDetails_fourth" class="dtbox">
      <h4 class="LineHeading"><? echo $this->translate('contactperson');?></h4>
      <div class="contact_person_add">[<a onClick='javascript:$("#FormDiv").show(100);'><? echo $this->translate('add');?></a>]</a></div>
      <div class="clearer"></div>
      <div id="FormDiv">
        <form action="<? echo $this->act?>" name="frmcontact" id="frmcontact" method="post" >
         
          <label id="contact_first_name" for="cnt_first_name"><? echo $this->translate('firstname') ?></label>
          <div id="contact_first_name_content">
            <input type="text" name="cnt_first_name" id="cnt_first_name" value="<? echo $this->cnt_first_name ?>">
          </div>
          <div class="clearer"></div>
          <div class="error"><?php echo $this->error_cnt_first_name ?></div>
          <label id="contact_lastname" for="cnt_last_name"><? echo $this->translate('lastname') ?></label>
          <div id="contact_lastname_content">
            <input type="text" name="cnt_last_name" id="cnt_last_name" value="<? echo $this->cnt_last_name ?>">
          </div>
          <!--<div class="clearer"></div>
          <div class="error"><?php echo $this->error_cnt_last_name ?></div>-->
          <label id="contact_street1" for="cnt_street1"><? echo $this->translate('street') ?></label>
          <div id="contact_street1_content">
            <input type="text" name="cnt_street1" id="cnt_street1" value="<? echo $this->cnt_street1 ?>">
          </div>
         <label id="contact_street1" for="cnt_street1"><? echo $this->translate('city') ?></label>
          <div id="contact_street1_content">
            <input type="text" name="cnt_city" id="cnt_city" value="<? echo $this->cnt_city ?>">
          </div>
           <!--<label id="contact_zip" for="cnt_zip"><? echo $this->translate('zip') ?></label>
          <div id="contact_zip_content">
            <input type="text" name="cnt_zip" id="cnt_zip" value="<? echo $this->cnt_zip ?>">
          </div>-->
          <label id="contact_phone" for="cnt_phone"><? echo $this->translate('phone1') ?><span class="rederr">*</span></label>
          <div id="contact_phone_content">
            <input type="text" name="cnt_phone" id="cnt_phone" value="<? echo $this->cnt_phone ?>">
            <div class="clearer"></div>
             <span class="error"><? echo $this->error_cnt_phone?></span>
          </div>
          <label id="contact_mobile" for="cnt_mobile"><? echo $this->translate('phone2') ?><span class="rederr">*</span></label>
          <div id="contact_mobile_content">
            <input type="text" name="cnt_mobile" id="cnt_mobile" value="<? echo $this->cnt_mobile ?>">
            <div class="clearer"></div>
             <span class="error"><? echo $this->error_cnt_mobile?></span>
          </div>
         
          <label for="cnt_familydegree_id" id="contact_family_degree_id"><? echo $this->translate('patientrelationship') ?></label>
          <? echo $this->formSelect('cnt_familydegree_id', $_POST['cnt_familydegree_id'], null, $this->familydegree) ?>
          <div class="clearer"></div>
           <label for="cnt_comment" id="contact_comment"><? echo $this->translate('comment') ?></label>
          <div id="contact_comment_content">
            <textarea name="cnt_comment" id="cnt_comment" cols="25" rows="5"></textarea>
          </div>
          <input type="submit" name="btnsubmit" id="btnsubmit" value="<? echo $this->translate('submit')?>" class="button">
        </form>
      </div>
      <? echo $this->patient_contacts?> </div>
  </div>
  <div id="PtDtls_right_conatiner">
<!--    <h4 class="LineHeading"><? echo $this->translate('patientlocation') ?></h4>-->
<!--    <div id="Pt_Dtls_edit_location"></div>-->
	<div class="dtbox">
         <? echo $this->locations;?>
    </div>

    <? if($this->allowedform == "allowed")  
     { ?>
    <div class="rightcontent left dtbox" id="patiLocn_outer">
    
    <h4 class="LineHeading"><? echo $this->translate('informationhead')?></h4>
    
      <div class="rightcontentOuter" id="patiLocn">
        <div class="Lebt left" id="patiLocn_left">
          <div class="LebtHeading" id="patiLocn_left_live">
            <h5 id="InfoDenPatie_LebtLi"><? echo $this->translate('lives')?></h5>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_left_alone_outer">
            <div class="LebtLeftDiv left" id="patiLocn_left_alone"><label id="patiLocn_left_aloneLbl" for="alone"><? echo $this->translate('alone')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_left_aloneInpt">
               <? echo  $this->formCheckbox('alone', $this->alone, array('onclick'=>'updatePatientInformation(\'Lives\',\'alone\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_left_Housres_outer">
            <div class="LebtLeftDiv left" id="patiLocn_left_Housres"><label id="patiLocn_left_Housres_lbl" for="house_of_relatives"><? echo $this->translate('houseofrelatives')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_left_Housres_inpt">
              <? echo  $this->formCheckbox('house_of_relatives', $this->house_of_relatives, array('onclick'=>'updatePatientInformation(\'Lives\',\'house_of_relatives\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_left_apent_outer">
            <div class="LebtLeftDiv left" id="patiLocn_left_apent"><label id="patiLocn_left_apent_lbl" for="apartment"><? echo $this->translate('apartment')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_left_apent_inpt"><? echo  $this->formCheckbox('apartment', $this->apartment, array('onclick'=>'updatePatientInformation(\'Lives\',\'apartment\',this,'.$this->patid.')'), array('1')); ?>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_left_hme_outer">
            <div class="LebtLeftDiv left" id="patiLocn_left_hme"><label id="patiLocn_left_hme_lbl" for="home"><? echo $this->translate('home')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_left_hme_inpt"><? echo  $this->formCheckbox('home', $this->home, array('onclick'=>'updatePatientInformation(\'Lives\',\'home\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div class="Versorgung left" id="patiLocn_right">
          <div class="LebtHeading" id="patiLocn_right_suply"><? echo $this->translate('supply')?></div>
          <div class="LebtListOuterNew" id="patiLocn_right_suply_evenouter">
            <div class="LebtLeftDiv left" id="patiLocn_right_suply_even"><label id="patiLocn_right_suply_even_lbl" for="even"><? echo $this->translate('even')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_right_suply_even_inpt"><? echo  $this->formCheckbox('even', $this->even, array('onclick'=>'updatePatientInformation(\'Supply\',\'even\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_right_suply_sposeOuter">
            <div class="LebtLeftDiv left" id="patiLocn_right_suply_spose"><label id="patiLocn_right_suply_sposeLbl" for="spouse"><? echo $this->translate('spouse')?> </label></div>
            <div class="LebtRightDiv left" id="patiLocn_right_suply_spose_inpt">
               <? echo  $this->formCheckbox('spouse', $this->spouse, array('onclick'=>'updatePatientInformation(\'Supply\',\'spouse\',this,'.$this->patid.')'), array('1')); ?>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_right_Member_outer">
            <div class="LebtLeftDiv left" id="patiLocn_right_Member"><label id="patiLocn_right_Member_lbl" for="member"><? echo $this->translate('member')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_right_Member_inpt"><? echo  $this->formCheckbox('member', $this->member, array('onclick'=>'updatePatientInformation(\'Supply\',\'member\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_right_prsurt_outer">
            <div class="LebtLeftDiv left" id="patiLocn_right_prsurt"><label id="patiLocn_right_prsurt_lbl" for="private_support"><? echo $this->translate('support')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_right_prsurt_inpt">
               <? echo  $this->formCheckbox('private_support', $this->private_support, array('onclick'=>'updatePatientInformation(\'Supply\',\'private_support\',this,'.$this->patid.')'), array('1')); ?> </label>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_right_prsurt_outer">
            <div class="LebtLeftDiv left" id="patiLocn_right_prsurt"><label id="patiLocn_right_prsurt_lbl" for="nursing"><? echo $this->translate('nursing')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_right_prsurt_inpt"><? echo  $this->formCheckbox('nursing', $this->nursing, array('onclick'=>'updatePatientInformation(\'Supply\',\'nursing\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div class="rightcontentOuter" id="patiLocn_liviwi_outer">
        <div class="Lebt left" id="patiLocn_liviwi">
          <div class="LebtHeading" id="patiLocn_liviwi_text"><strong><? echo $this->translate('livingwill')?></strong></div>
          <div class="LebtListOuterNew" id="patiLocn_liviwi_yesinpt">
            <div class="LebtLeftDiv left" id="patiLocn_liviwi_yes"><label id="patiLocn_liviwi_yeslbl" for="living_will"><? echo $this->translate('ja')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_liviwi_yeschkbx"><? echo  $this->formCheckbox('living_will', $this->living_will, array('onclick'=>'updatePatientInformation(\'Master\',\'living_will\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_liviwi_yes1_outer">
            <div class="LebtLeftDiv left" id="patiLocn_liviwi_yes1"></div>
            <div class="LebtRightDiv left" id="patiLocn_liviwi_yes1inpt">
              <label id="patiLocn_liviwi_yes1_Lbl"></label>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_liviwi_yes2_outer">
            <div class="LebtLeftDiv left" id="patiLocn_liviwi_yes2"></div>
            <div class="LebtRightDiv left" id="patiLocn_liviwi_yes2_inpt">
              <label id="patiLocn_liviwi_yes2_lbl"></label>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_liviwi_yes3_outer">
            <div class="LebtLeftDiv left" id="patiLocn_liviwi_yes3"></div>
            <div class="LebtRightDiv left" id="patiLocn_liviwi_yes3inpt">
              <label id="patiLocn_liviwi_yes3inpt_lbl"></label>
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div class="Versorgung left" id="patiLocn_morinfon_outer">
          <div class="LebtHeading" id="patiLocn_morinfon"><? echo $this->translate('moreinformation')?></div>
          <div class="LebtListOuterNew" id="patiLocn_morinfon_dk_outer">
            <div class="LebtLeftDiv left" id="patiLocn_morinfon_dk"><label id="patiLocn_morinfon_dklbl" for="dk"><? echo $this->translate('dk')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_morinfon_dkInpt"><? echo  $this->formCheckbox('dk', $this->dk, array('onclick'=>'updatePatientInformation(\'MoreInfo\',\'dk\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_morinfon_peg_outer">
            <div class="LebtLeftDiv left" id="patiLocn_morinfon_peg"><label id="patiLocn_morinfon_peglbl" for="peg"><? echo $this->translate('peg')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_morinfon_pegInpt">
               <? echo  $this->formCheckbox('peg', $this->peg, array('onclick'=>'updatePatientInformation(\'MoreInfo\',\'peg\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_morinfon_port">
            <div class="LebtLeftDiv left" id="patiLocn_morinfon_portText"><label id="patiLocn_morinfon_portlbl" for="port"><? echo $this->translate('port')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_morinfon_portinpt"><? echo  $this->formCheckbox('port', $this->port, array('onclick'=>'updatePatientInformation(\'MoreInfo\',\'port\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_morinfon_pumpe">
            <div class="LebtLeftDiv left" id="patiLocn_morinfon_pumpetext"><label id="patiLocn_morinfon_pumpelbl" for="pumps"><? echo $this->translate('pumps')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_morinfon_pumpeinpt"><? echo  $this->formCheckbox('pumps', $this->pumps, array('onclick'=>'updatePatientInformation(\'MoreInfo\',\'pumps\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_morinfon_zvk">
            <div class="LebtLeftDiv left" id="patiLocn_morinfon_zvkText"><label id="patiLocn_morinfon_zvklbl" for="zvk"><? echo $this->translate('zvk')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_morinfon_zvkinpt"><? echo  $this->formCheckbox('zvk', $this->zvk, array('onclick'=>'updatePatientInformation(\'MoreInfo\',\'zvk\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div class="rightcontentOuter" id="patiLocn_mobcar">
        <div class="Lebt left" id="patiLocn_mobcar_mobouter">
          <div class="LebtHeading" id="patiLocn_mobcar_mob"><strong><? echo $this->translate('mobility')?></strong></div>
          <div class="LebtListOuterNew" id="patiLocn_mobcar_bedouter">
            <div class="LebtLeftDiv left" id="patiLocn_mobcar_mobbed"><label id="patiLocn_mobcar_mobbedlbl" for="bed"><? echo $this->translate('bed')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_mobcar_mobbedInpt"><? echo  $this->formCheckbox('bed', $this->bed, array('onclick'=>'updatePatientInformation(\'Mobility\',\'bed\',this,'.$this->patid.')'), array('1')); ?> 
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_mobcar_mob_walerouter">
            <div class="LebtLeftDiv left" id="patiLocn_mobcar_mob_waler"><label id="patiLocn_mobcar_mob_walerLbl" for="walker"><? echo $this->translate('walker')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_mobcar_mob_walerInpt">
              
              <? echo  $this->formCheckbox('walker', $this->walker, array('onclick'=>'updatePatientInformation(\'Mobility\',\'walker\',this,'.$this->patid.')'), array('1')); ?> </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_mobcar_mob_whch_outer">
            <div class="LebtLeftDiv left" id="patiLocn_mobcar_mob_whch"><label id="patiLocn_mobcar_mob_whchlbl" for="wheelchair"><? echo $this->translate('wheelchair')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_mobcar_mob_whch_inpt">
              <? echo  $this->formCheckbox('wheelchair', $this->wheelchair, array('onclick'=>'updatePatientInformation(\'Mobility\',\'wheelchair\',this,'.$this->patid.')'), array('1')); ?> </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_mobcar_mob_gbleOuter">
            <div class="LebtLeftDiv left" id="patiLocn_mobcar_mob_gble"><label id="patiLocn_mobcar_mob_gblelbl" for="goable"><? echo $this->translate('goable')?></label></div>
            <div class="LebtRightDiv left" id="patiLocn_mobcar_mob_gbleInpt">
              
              <? echo  $this->formCheckbox('goable', $this->goable,  array('onclick'=>'updatePatientInformation(\'Mobility\',\'goable\',this,'.$this->patid.')'), array('1')); ?> </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div class="Versorgung left" id="patiLocn_calel">
          <div class="LebtHeading" id="patiLocn_calel_text"><? echo $this->translate('carelevel')?></div>
          <div class="LebtListOuterNew" id="patiLocn_calel_select">
            <div class="LebtLeftDiv left" id="patiLocn_calel_inpt">
              <select style="width:150px;" class="combo" id="stage" name="stage" onchange="updatePatientInformation('MaintainanceStage','stage',this,<? echo $this->patid?>,'drop')">
                <option id="patiLocn_calel_op1"><? echo $this->translate('pleaseselect')?>...</option>
                <option value="1" id="patiLocn_calel_op2" <? if($this->stage=="1"){echo "selected='selected'";}?>>1</option>
                <option value="2" id="patiLocn_calel_op3" <? if($this->stage=="2"){echo "selected='selected'";}?>>2</option>
                <option value="3" id="patiLocn_calel_op4" <? if($this->stage=="3"){echo "selected='selected'";}?>>3</option>
              </select>
            </div>
            <div class="LebtRightDiv left" id="patiLocn_calel_inptblank">
              <label id="patiLocn_calel_inptblanklbl"></label>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_calel_bl1">
            <div class="LebtLeftDiv left" id="patiLocn_calel_bl1_text"></div>
            <div class="LebtRightDiv left" id="patiLocn_calel_bl1Inpt">
              <label id="patiLocn_calel_bl1Lbl"></label>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_calel_b2">
            <div class="LebtLeftDiv left" id="patiLocn_calel_b2Text"></div>
            <div class="LebtRightDiv left" id="patiLocn_calel_b2Inpt">
              <label id="patiLocn_calel_b2Lbl"></label>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="LebtListOuterNew" id="patiLocn_calel_b3">
            <div class="LebtLeftDiv left" id="patiLocn_calel_b3Text"></div>
            <div class="LebtRightDiv left" id="patiLocn_calel_b3Inpt">
              <label id="patiLocn_calel_b3Lbl"></label>
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
    <? }?>
  </div>
</div>
<div id="popupContact"> <a id="popupContactClose">x</a>
  <p id="contactArea">
    <iframe id='add_family_doc' frameborder='0' src='' scrolling="no" style="margin:0 auto;"></iframe>
  </p>
</div>
<div id="backgroundPopup"></div>
<script type="text/javascript">
 <? echo $this->openhidediv;?>
</script>
