<? $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/sapvfb5_style.css'); ?>
<form id="CreTtemFurthFrm" action="" method="post">
  <div style="display: none;"> <img src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
  <? echo $this->patientinfo ?>
  <? echo $this->tabmenus ?>
<div class="tab_container">

<div id="Palliative">
<div id="sapv_bfive_heading" class="Palliative_Heading">
<div id="sapv_bfive_heading_left" class="Palliative_Heading_Left">Wunddokumentation</div>
<div id="sapv_bfive_heading_right" class="Palliative_Heading_Right"></div>
<div class="ClrBoth"></div>
</div>

<div id="sapv_bfive_header" class="Palliative_Header">
	<div id="sapv_bfive_header_patient" class="Patient_Nameouter border_right">
    <div id="sapv_bfive_header_patient_text" class="Patient_NameWithoutBg padding_five">
    <strong>Patient:</strong><br />
	Name, Vorname
    </div>
    </div><div id="sapv_bfive_header_patient_textBx" class="Patient_NameTextbox">
    <input name="patient_name" id="sapv_bfive_header_patient_Input" value="<? echo $this->patientname ?>" type="text" class="MarginZero" /></div>
    <div id="sapv_bfive_header_geboren" class="IdInfo_withoutBg border_left">geboren am
    <label id="sapv_bfive_header_geboren_lbl">
    <input name="birthdate" type="text" id="sapv_bfive_header_geboren_Input" value="<? echo $this->bdate ?>" class="MarginZero" /></label>
    </div>
  <div class="ClrBoth"></div></div>

<div id="CheckboxGrids">
<div id="sapv_bfive_Content" class="rightBorderNone CheckboxGrids_left ">
<div sapv_bfive_Content_heading class="CheckboxGrids_heading"><strong>Wunden</strong></div>
<div id="sapv_bfive_Content_DekubitusOuter" class="CheckboxGrids_heading">
<div id="sapv_bfive_Dekubitus" class="CheckboxGrids_heading_left">
  <label id="sapv_bfive_DekubitusLbl">
  <input type="radio" name="dekubitus" id="sapv_bfive_DekubitusInput" value="1" class="MarginZero" />
  </label>
</div>
<div id="sapv_bfive_DekubitusText" class="CheckboxGrids_heading_left">Dekubitus</div>
<div id="sapv_bfive_grad" class="GradDiv margin_left_ten">Grad :
<input name="grad" type="text" id="sapv_bfive_gradInput" class="MarginZero" /></div>
<div class="ClrBoth"></div>
</div>

<div id="sapv_bfive_ExulcerTumor_outer" class="CheckboxGrids_heading">
<div id="sapv_bfive_ExulcerTumor" class="CheckboxGrids_heading_left">
  <label id="sapv_bfive_ExulcerTumor_Lbl">
  <input type="radio" name="exulcerationen_des_tumors" id="sapv_bfive_ExulcerTumor_Input" value="1" class="MarginZero" />
  </label>
</div>
<div id="sapv_bfive_ExulcerTumor_text" class="CheckboxGrids_heading_left">Exulcerationen des Tumors</div>
<div class="ClrBoth"></div>
</div>
<div id="sapv_bfive_Hautmetas_outer" class="CheckboxGrids_heading">
<div id="sapv_bfive_Hautmetas" class="CheckboxGrids_heading_left">
  <label id="sapv_bfive_Hautmetas_Lbl">
  <input type="radio" name="hautmetastasen" id="sapv_bfive_Hautmetas_Input" value="1" class="MarginZero" />
  </label>
</div>
<div id="sapv_bfive_Hautmetas_text" class="CheckboxGrids_heading_left">Hautmetastasen</div>
<div class="ClrBoth"></div></div>
<div id="sapv_bfive_Strahlen_outer" class="CheckboxGrids_heading">
<div id="sapv_bfive_Strahlen" class="CheckboxGrids_heading_left">
  <label id="sapv_bfive_Strahlen_lbl">
  <input type="radio" name="strahlenschaden" id="sapv_bfive_Strahlen_input" value="1" class="MarginZero" />
  </label>
</div>
<div id="sapv_bfive_Strahlen_text" class="CheckboxGrids_heading_left">Strahlenschäden</div>
<div class="ClrBoth"></div></div>
<div id="sapv_bfive_Risiken_outer" class="CheckboxGrids_heading">
<div id="sapv_bfive_Risiken" class="CheckboxGrids_heading_left">Probleme/Risiken:</div>
<div id="sapv_bfive_Risiken_input" class="CheckboxGrids_heading_left"><input name="probleme_risiken" type="text" id="sapv_bfive_Risiken_TextBx" class="MarginZero" /></div>
<div class="ClrBoth"></div></div>
<div class="ClrBoth"></div>
  </div>
<div class="ClrBoth"></div>

</div>
<div id="sapv_bfive_Dokumentation_outer" class="wundenPdfDiv">
<div id="sapv_bfive_Dokumentation_left" class="wunden_left">
<div id="sapv_bfive_Dokumentation_heading" class="wundenHeading">Die Dokumentation der Wunden erfolgt<br />durch Photografien vom:</div>
<div class="ClrBoth"></div>
<div id="sapv_bfive_Dokumentation_table" class="wundenTable">
<div id="sapv_bfive_Dok_tableTrone" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrone_tdOne" class="border_right wundenColOne"><strong>Nr.</strong></div>
<div id="sapv_bfive_Dok_tableTrone_tdTwo" class="wundenColTwo"><strong>Datum</strong></div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrTwo" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrTwo_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrTwo_tdTwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrThree" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrThree_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrThree_tdTwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrFour" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrFour_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrFour_tdTwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrFive" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrFive_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrFive_tdTwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrSix" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrSix_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrSix_tdTwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrSeven" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrSeven_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrSeven_tdTwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrEight" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrEight_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrEight_tdTwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrNine" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrNine_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrNine_tdTwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrTen" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrTen_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrTen_tdTwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrEleven" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrEleven_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrEleven_tdTwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>
<div id="sapv_bfive_Dok_tableTrTwelve" class="wundenColouter border_bottom">
<div id="sapv_bfive_Dok_tableTrTwelve_tdOne" class="border_right wundenColOne">&nbsp;</div>
<div id="sapv_bfive_Dok_tableTrTwelve_tdtwo" class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div><div class="wundenColouter">
<div class="border_right wundenColOne">&nbsp;</div>
<div class="wundenColTwo">&nbsp;</div>
</div><div class="ClrBoth"></div>



</div>
</div>
<div id="sapv_bfive_humanImg" class="wunden_right">
<img src="<? echo RES_FILE_PATH;  ?>/images/wundenPdf_Img.jpg" />
</div>

<div class="ClrBoth"></div>
</div>
<div id="sapv_bfive_ort_Datum_outer" class="RelevanteListOuter">
<div id="sapv_bfive_ort_Datum" class="Relevante_Symptome_Heading">
<div id="sapv_bfive_ort_Datum_text" class="left">Ort/ Datum : <? echo date("d.m.Y");?></div>

<div id="sapv_bfive_ort_Datum_rightText" class="right" style="float:right;">Unterschrift der dokumentierenden Fachkraft</div>
<div class="ClrBoth"></div>
</div>
<div class="ClrBoth"></div>
</div><input name="btnsubmit" type="submit" value="<? echo $this->translate('generatepdf')?>" />
<div class="ClrBoth"></div>
<div id="CheckboxGrids" class="textAlign_center">
<div id="sapv_bfive_bottom_Text" class="padding_five"></div>
</div>
</div></div>
</form>