<script type="text/javascript">
	$(document).ready(function(){
		$('.del_stamp').live('click',function(){
			
			$('#delete_id_us').val($(this).attr('rel'));
			
			jConfirm('<? echo $this->translate("delete user stamp?"); ?>', '', function(r) {
				if(r)
				{
					$('#userstamp').submit();
				}
				else
				{
					$('#delete_id_us').val();
					
				}

			});
			return false;
		});
		
				
	});
</script>
<h1><? echo $this->translate('User stamp list'); ?></h1>
<br/>
<br/>
<form action="" method="post" name="userstamp" id="userstamp">
<table   class="datatable">
	<tr>
		<th>Arztstempel</th>
		<th>Zeile1</th>
		<th>BSNR</th>
		<th>LANR</th>
		<th><? echo $this->translate('actions')?></th>
	</tr>
<? if(is_array($this->user_stamps) && !empty($this->user_stamps)):?>
 <? foreach($this->user_stamps as $key=>$stamp):?>
 	<tr>
 		<td><? echo $stamp['stamp_name']?></td>
 		<td><? echo $stamp['row1']?></td>
 		<td><? echo $stamp['stamp_bsnr']?></td>
 		<td><? echo $stamp['stamp_lanr']?></td>
 		<td>
	 		<a  class="edit_stamp"  href="user/userstampedit?stampid=<? echo $stamp['id']?>&userid=<? echo $_REQUEST['userid']?>"><img src="<? echo RES_FILE_PATH; ?>/images/edit.png"   />
 			<a class="del_stamp" href="javascript:void(0)" rel="<? echo $stamp['id']?>"><img src="<? echo RES_FILE_PATH; ?>/images/action_delete.png"   />
 		</td>
 	</tr>
 <? endforeach;?>
<? else:?>
	<tr>
		<td colspan="5"><? echo $this->translate('no stamp available'); ?></td>
	</tr>
<? endif;?>
<tr>
	<td colspan="5">&nbsp;</td>
</tr>
<tr>
	<td colspan="5">
		<span class="add_station_link"> <a href="user/userstampadd?multiple=1&userid=<? echo $_REQUEST['userid']?>"><img src="<? echo RES_FILE_PATH; ?>/images/edit_add.png" width="20" height="20" /><? echo $this->translate('Add new stamp'); ?></a>
</span>
	</td>
</tr>
</table>
<input type="hidden" name="delete_id" id="delete_id_us" value="" />
</form>