/**
 * ISPC-2892 Ancuta 27.04.2021
 */

#tabs_files_suppliers .ui-widget-header, .ui-widget-content {
	background: none !important;
	border-color: darkgrey !important;
}

#tabs_files_suppliers .ui-state-default.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border-color: darkgrey !important;
	background-color: darkgray !important;
}

#tabs_files_suppliers .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none;
	border-color: #DDDDDD;
	background-color: white;

}

#tabs_files_suppliers .ui-state-default.ui-state-active:hover {
	background-color: darkgray !important;
}

#tabs_files_suppliers .ui-state-default:hover {
	background-color: #DDDDDD !important;
}
#tabs_files_suppliers .ui-state-active a, .ui-state-active a:link {
	color: white !important;
}

#tabs_files_suppliers .ui-state-default a, .ui-state-default a:link {
	color: black;
}


.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left;
	margin: 0 auto;
	width: 100%;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.Pdiagnosis {
	width: 100%;
	height: auto;
	display: block;
	padding: 10px;
}
 
ul{
	list-style-type:none;
}
.separator{
	height:50px;
	width:100%;
}

 

 
 
   
 
form.create_form_diagnosis_clinical {
	font: normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

form.create_form_diagnosis_clinical fieldset {
	border: solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top: 10px;
	background: #ffffff;
}

form.create_form_diagnosis_clinical fieldset legend {
	font-size: 1.3em;
	font-weight: bold;
	color: #2d3a67;
}

form.create_form_diagnosis_clinical label {
	display: block;
	float: left;
	width: 160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}

form.create_form_diagnosis_clinical input,form textarea,form select {
	width: auto;
	margin: 7px 0 0 10px;
}

form.create_form_diagnosis_clinical input#reset {
	margin-left: 0px;
}

form.create_form_diagnosis_clinical textarea {
	overflow: auto;
}

form.create_form_diagnosis_clinical small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size: 11px;
}

form.create_form_diagnosis_clinical .help {
	display: block;
	margin: 0 0 5px 380px;
	width: 27px;
	height: 27px;
	background: green;
}

form.create_form_diagnosis_clinical .required {
	font-weight: bold;
}

form.create_form_diagnosis_clinical br {
	clear: left;
}

form.create_form_diagnosis_clinical .button {
	width: auto;
	height: 27px;
	background: #FFFFFF;
	border: solid 1px #088fd5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #2257a1;
}
tr.lightGrayClass td{
	background: #babdb6;
}
tr.ArclightGrayClass td{
	background: #dddddd;
}
tr.GrayClass td{
	background: #888a85;
}

form .button1 {
	width: auto;
	height: 27px;
	background: #FFFFFF;
	border: solid 1px #088fd5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #2257a1;
}

form .checkbox {
	width: 100%;
	padding-top: 5px;
}

form .checkbox {
	width: 200px;
}
 
 
.ClrBth {
	clear: both;
}
  
.f_highlight{
	display: none;
	 float: left;
	width:98%;
	margin: 10px 0 10px 0; 
	padding: 3px 0 3px 0;
	height: 20%;
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	background: #f8f8f8;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	width:100%!important;
}
	
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 0px 10px 0px 10px!important;
	cursor: pointer;
	height: 32px;
}

ul.tabs li.current{
}

.tab_block{
	display: none;
}

.tab_block.current{
	display: inherit;
}
       


.diagno_category_filter_cnt{
	line-height:14px;
	height: 20px;
	float: left;
	display: block;
	border:0px;
	margin:2px;
	border-radius: 5px;
	color: #ffffff;
	padding: 2px;
/* 	mix-blend-mode: difference; */
}
.diagno_category_filter_cnt input,
.diagno_category_filter_cnt label{
	float: left;
}
.diagno_category_filter_cnt label{
	line-height: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.new_entry_button{
	background: transparent;
	border:0;
}
.new_entry_button span{
	line-height: 25px;
}


.cat_sh{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-weight: 900;
	text-align: center;
	border-radius: 5px;
	color: #ffffff;
	margin-right:2px;
}


.icd_block table th{
	border: 1px solid #f5efef;
}
.icd_block table td{
	border: 1px solid #f5efef;
}



.ended_block{
	width: 100%;
	margin-top:10px;
	margin-bottom: 20px;
}

.ended_block table th{
	border: 1px solid #f5efef;
}
.ended_block table td{
	border: 1px solid #f5efef;
}

.ended_block h2{
	font-size: 12px!important;;
/* 	font-weight:normal; */
	color:#000!important;;
	margin-bottom:3px;
}




.archived_block{
	width: 100%;
	margin-top:100px;
}

.archived_block h1{
	font-size: 14px;
	margin-bottom:10px;
}
.archived_block table th{
	border: 1px solid #f5efef;
}
.archived_block table td{
	border: 1px solid #f5efef;
}


.side_labels input{
	margin-right: 5px;
}



/*ISPC-2775 Carmen 05.01.2021  */
#patnewdiagnosiseditor #table_icd{
    table-layout: fixed;
}

#patnewdiagnosiseditor #table_icd td, #patnewdiagnosiseditor #table_icd th{
    word-wrap:break-word
}

#patnewdiagnosiseditor #ended_table_icd{
    table-layout: fixed;
}

#patnewdiagnosiseditor #ended_table_icd td, #patnewdiagnosiseditor #ended_table_icd th{
    word-wrap:break-word
}

#patnewdiagnosiseditor #archived_table_icd {
    table-layout: fixed;
}

#patnewdiagnosiseditor #archived_table_icd  td, #patnewdiagnosiseditor #archived_table_icd  th{
    word-wrap:break-word
}

#patnewdiagnosiseditor .diagno_category_filter_cnt label {
	line-height: 14px;
}

#patnewdiagnosiseditor .diagno_category_filter_cnt input {
	margin: 2px 0 0 10px;
}


/*ISPC-2721 CRISTI C. 28.01.2021*/
@media (max-width: 1980px) {
		#tabs-1 #table_icd tr td:nth-child(2) {
		min-width:141px;
	}
	
	#tabs-1 #table_icd tr td:nth-child(3) {
		min-width:120px;
	}
	
	#tabs-1 #ended_table_icd tr td:nth-child(1) {
		min-width:199px;
	}
	
	
	#tabs-1 #ended_table_icd tr td:nth-child(2) {
		min-width:120px;
	}
	
	#tabs-1 #archived_table_icd tr td:nth-child(1) {
		min-width:199px;
	}
	
	
	#tabs-1 #archived_table_icd tr td:nth-child(2) {
		min-width:120px;
	}	
	
	
	
}

@media (max-width: 1250px) { 
	#tabs-1 #ended_table_icd tr td:nth-child(1) {
		min-width:199px;
	}
	
	#tabs-1 #archived_table_icd tr td:nth-child(1) {
		min-width:199px;
	}
	
	
}


@media (max-width: 1865px) { 
	#tabs-1 #table_icd tr td:nth-child(2) {
		min-width:143px;
	}
	
	
}

@media (max-width: 1722px) { 
	#tabs-1 #table_icd tr td:nth-child(2) {
		min-width:146px;
	}	
	
}

@media(max-width:1610px) {
	#tabs-1 #table_icd tr td:nth-child(4) {
    min-width: 250px;
	}
	
	#tabs-1 #ended_table_icd tr td:nth-child(3) {
    min-width: 250px;
	}
	
	#tabs-1 #archived_table_icd tr td:nth-child(3) {
    min-width: 250px;
	}
}

@media (max-width: 1566px) { 
	#tabs-1 #table_icd tr td:nth-child(2) {
		min-width:152px;
	}
	
	
}

@media (max-width: 1458px) { 
	#tabs-1 #table_icd tr td:nth-child(2) {
		min-width:159px;
	}
	
	#tabs-1 #table_icd tr td:nth-child(4) {
    min-width: 150px;
	}
	
	#tabs-1 #ended_table_icd tr td:nth-child(3) {
    min-width: 150px;
	}
	
	#tabs-1 #archived_table_icd tr td:nth-child(3) {
    min-width: 150px;
	}
	
	
}

@media (max-width: 1240px) { 
	#tabs-1 #table_icd tr td:nth-child(2) {
		min-width:70px;
	}
	
	#tabs-1 #ended_table_icd tr td:nth-child(1) {
		min-width:108px;
	}
	
	#tabs-1 #archived_table_icd tr td:nth-child(1) {
		min-width:108px;
	}
	
}
/* //- */

.ff_file_list{
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 30px;	
}
.ff_file_link{
	display: block;
	float: left;
	width: 100%;
	padding: 15px 5px 15px 5px;
	margin: 5px 0 5px 0;
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	color:#000;
	cursor: pointer;
	font-weight: 800;
}

.ff_file_link:hover{
	color: #555753;
	font-weight: 800;
}
.ff_file_link span{
	display: block;
	float: left;
}
.ff_file_link span.ff_date{
	width: 15%;
}
.ff_file_link span.ff_name{
	width: 55%;
	
	
}
.ff_file_link span.ff_user{
	width: 30%;
	
	
}
