/* ISPC-2827 Ancuta 08.04.2021 */
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all > .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
background: #fff!important;
	box-shadow:0 0 0 0!important;
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all > .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix > a.ui-dialog-titlebar-close.ui-corner-all{
	background: url('../../images/efa_images/modal/close.png') no-repeat!important;;
	
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all > .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix > span.ui-dialog-title{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

display: flex;
align-items: center;

/* Title */

color: #333333!important;;

	
}

#btnDelete,
.delbutton{
	background: #EC7777!important;;
}

.cancelButton{
	background: #EC7777!important;
}

.saveButton{
	background: #6CC95A!important;
}
/* ISPC-2864 */
#popup_content.confirm{
	padding-top:50px!important;
	text-align: center;
	background: url('../../images/efa_images/modal/warning.svg') 50% 1% no-repeat!important;;
}