/* ISPC-2827 Ancuta 02.04.2021 */
.p_item_row {
	width: 100%;
}

 
.p_item {
/* 	width: 48%; */
	width: calc(50% - 32px)  ;
	display: block;
	float: left;
	height: 110px;
	margin: 10px;
	padding: 5px; 
	background : #FFFFFF; 
	border: 1px solid #fff;
	box-shadow : 0px 0px 10px rgba( 0,
	0, 0, 0.1);
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
}

.p_item:hover {
	cursor: pointer;
	border: 1px solid #c3c3c3;
/* 	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.1); */
	box-shadow: 0px 5px 5px 10px rgba(128,128,128,0.1);
	background: #FFFFFF;
}

.p_item_avatar {
	float: left;
	width:100px;
	height: 100%;
}
.p_item_avatar .avatar{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	border: 1px solid #c3c3c3;
	height: 80px;
	width: 80px;
	margin: 10px auto;
	background: url(../../images/efa_images/avatar_small.jpg) 50% 50%  no-repeat 
}

.p_item_details {
	width: calc(100% - 100px)  ;
	display: block;
	float: left;
}

.p_item_details .p_item_name_location {
	width: 100%;
}

.p_item_details .p_item_name_location b {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 30px;
	align-items: center;
	color: #333333;
}

.p_item_details .p_item_name_location span.p_location {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 30px;
	align-items: center;
	color: #878A92;
}

.p_item_details .p_item_birth {
	width: 100%;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 30px;
	display: flex;
	align-items: center;
	color: #878A92;
}

.p_item_details .p_item_diagnosis {
	width: 100%;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
	color: #333333;
	height: 40px;
	overflow: hidden;
}