
/* ISPC-2827 Ancuta 02.04.2021 */

 
.overview_addMsg{
	float: right;
}
.overview_openMsg:hover{
	cursor: pointer;
	box-shadow: 0px 2px 2px 0px rgba(128,128,128,0.1);
}
textarea#user_text_box_field{
	width: 98%!important;
	background: #fff;
}
 
/*-------------------- STYLE from FIGMA ---------------------*/
.overview_content {
	width: 100% !important;
	background: #F3F3F3;
	float: left;
	height: auto;
	display: block;
}

.overview_block {
	background: #FFFFFF;
	width: 97%;
	margin: 15px;
	padding: 10px;
	height: auto;
	display: block;
	display: block;
	float: left;
}

.overview_block h3 {
	margin: 10px;
	display: block;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	width: 90%;
	color: #333333;
	display: block;
	float: left;
	color: #333333;
}

.overview_block_item_row {
	background: #F2F3F9;
	border-radius: 3px;
	padding: 10px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 98%;
	display: block;
	float: left;
}

.item_sender {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	display: flex;
	float: left;
	width: 200px;
	align-items: center;
	color: #333333;
	align-items: center;
}

.item_title {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	color: #000000;
	float: left;
	width: calc(100% - 220px)  ;
}



.msg_row{
	width: 48%;
	width: calc(50% - 32px)  ;
	height: 56px;
	overflow:hidden;
	background: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	float: left;
}
.msg_row .item_title{
	text-align: right;
}


.overview_addMsg{
	width: 190px;
height: 40px;
background: #009FE4;
box-shadow: 0;
border: 1px solid  #009FE4;
border-radius: 3px;
 
	
 
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 25px;
/* or 156% */
 

/* white */

color: #FFFFFF;
	
	
}