/**
* ISPC-2894 Ancuta 19.05.2021 
*/

.o_block{
	width: 100%;
	display: block;
	float: left;
	margin: 0px 0 10px 0;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;

}

.o_block_title{
	font-size: 16px;
	font-weight: 900;
	padding: 20px;
	background: url(../../images/efa_images/arrow_down.png	) 98% 50%  no-repeat;
}
.active{
	background: url(../../images/efa_images/up_down.png	) 98% 50%  no-repeat!important;
}






.o_block_content{
	padding: 0 20px 20px 20px;;
	display: none;
}
.o_block_content table{
	
}
.o_block_content table th{
	width: 20%;
	background: #fff;
	font-weight: 900;
}
.o_block_content table td{
	width: 80%;
}
 