#pi_mainwin table.pharmaindextable td{
    padding:2px;
    border:1px solid grey;
}
#pi_mainwin table.pharmaindextable tr:hover td{
    background-color:#dfd;
    cursor:pointer;
}
#pi_mainwin table.pharmaindextable th{
    background-color:#444;
    color:#eee;
    padding:4px;
    border:1px solid #222;
}
#pi_mainwin table.pharmaindextable .price{
    text-align: right;
}

#pi_mainwin table.pharmaindextable tr:nth-child(even){
    background-color:#e4e4e4;
}

#pi_mainwin h2{
    color:#333;
    font-size:14px;
}
.pi_prodinfo p{
    font-size:11px;
    line-ehight:110%;
}
.pi_prodinfo h2{
    font-size:12px;
}

#pi_mainwin th.header{
    display:table-cell;
    float:none;
}

#pi_mainwin .pi_tab{
    border:none;
    padding: 7px 4px 4px;
    display:inline-block;
    cursor: pointer;
    margin: 1px 1px 0px 1px;
}




/* Resizable content*/ 
.ui-resizable-e {
    cursor: all-scroll!important;
    right: 6px!important;;
    width: 10px!important;
}

.ui-resizable-s {
    cursor: all-scroll!important;
}

.ui-wrapper{
    min-width: 250px!important;
}

.pi_right_col{
	overflow: hidden;
	  padding: 0 0 0 10px;
}
#resizable{
	min-width: 250px;
}

.pi_leftcol{
    float: left;
    min-width: 260px!important;
    width: 260px;
}
.pi_productselect{
	min-width: 250px;
    width: 250px;
    display: block;
	float: left;
}
.pi_leftcol_sm{
    float: left;
    min-height: 30px;
    height: 30px;
    max-height: 30px;
    margin-right: 8px;
    min-width: 250px;
    width: 250px;
}

.pi_leftcol_sb {
    min-height: 30px;
    float: left;
    height: 30px;
    max-height: 30px;
    margin-right: 8px;
    min-width: 250px;
    width: 250px;
}
.pi_leftcol_st{
    float: left;
    min-height: 30px;
    height: 30px;
    max-height: 30px;
    margin-right: 8px;
    
    /*
    min-width: 250px;
    width: 250px;
    */
    
    
    display: inline-block;
	vertical-align: middle;
}
.pi_leftcol_st label{
	
	
	display: block;
	float:left;
	padding-right: 5px;
	padding-left: 15px;
	text-indent: -15px;
	vertical-align: baseline;
}
.pi_leftcol_st input{
	
	border: 1px solid #bbb;
	background-color: #f2f2f2;
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
	top: 1px;
	*overflow: hidden;

}
