<!-- Maria:: Migration ISPC to CISPC 08.08.2020 -->
<!-- Sent Requests Table start	-->
<h1><?php echo $this->translate('request_sent') ?></h1>
<table width="100%" class="datatable" border="0" id="assignmodules_clientDetailTable">
	<tr id="TableTwo_TrOne">
		<th>Nr.#</td>
		<th><?php echo $this->translate('EPID') ?></td>
		<th><?php echo $this->translate('firstname') ?></td>
		<th><?php echo $this->translate('lastname') ?></td>
		<th><?php echo $this->translate('admissiondate') ?></td>
		<th><?php echo $this->translate('dateofbirth') ?></td>
		<th><?php echo $this->translate('to') ?></td>
		<th><?php echo $this->translate('status') ?></td>
		<th><?php echo $this->translate('action') ?></td>
	</tr>
	<?php echo $this->sent_requests_list_grid; ?>
</table>
<!-- Sent Requests Table end	-->