<!-- Maria:: Migration ISPC to CISPC 08.08.2020 -->
<!-- Received Requests Table start	-->
<h1><?php echo $this->translate('request_received') ?></h1>
<table width="100%" class="datatable" border="0" id="assignmodules_clientDetailTable">
	<tr>
		<th>Nr.#</td>
		<th><? echo $this->translate('EPID') ?></td>
		<th><? echo $this->translate('firstname') ?></td>
		<th><? echo $this->translate('lastname') ?></td>
		<th><? echo $this->translate('admissiondate') ?></td>
		<th><? echo $this->translate('dateofbirth') ?></td>
		<th><? echo $this->translate('from') ?></td>
		<th><? echo $this->translate('status') ?></td>
		<th><? echo $this->translate('action') ?></td>
	</tr>
	<?php echo $this->received_requests_list_grid; ?>
</table>
<!-- Received Requests Table end -->