<!-- Maria:: Migration ISPC to CISPC 08.08.2020 -->
<!-- Shared Patients Table start-->
<h1><?php echo $this->translate('shared_patients') ?></h1>
<table width="100%" class="datatable" border="0" id="assignmodules_clientDetailTable">
	<tr>
		<!-- ISPC-2614 Lore 27.07.2020 -->
		<th>Nr.#</td>
		<th><?php echo $this->translate('patienten_name') ?></td>
		<th><?php echo $this->translate('source_client') ?></td>
		<th><?php echo $this->translate('target_client') ?></td>
		<th><?php echo $this->translate('link_date') ?></td>
		<th><?php echo $this->translate('action') ?></td>
		<!-- 
			<th>Nr.#</td>
			<th><?php echo $this->translate('source_client') ?></td>
			<th><?php echo $this->translate('epid_source') ?></td>
			<th><?php echo $this->translate('target_client') ?></td>
			<th><?php echo $this->translate('epid_target') ?></td>
			<th><?php echo $this->translate('link_date') ?></td>
			<th><?php echo $this->translate('action') ?></td>		
		 -->
	</tr>
	<?php echo $this->shared_requests_list_grid; ?>
</table>
<!-- Shared Patients Table end-->