 /******
 * This stylesheet is part of the Calender Date Picker Script, downloaded from http://start.excudo.net
 *
 * See calender_date_picker.js for license details
 *
 * Author: Martijn Korse
 * Website: http://devshed.excudo.net
 *
 * Date: 2006-09-07 07:53:21
 ***/
#calender {
	width: 200px;
	font-family: ms sans serif, sans serif;
	font-size: 7pt;
	}

#calenderTable {
	border-style: outset;
	border-width: 2px;
	border-color: black;
	background-color: #EEE;
	display: none;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	}
#calenderTable TD {
	text-align: center;
	font-size: 11pt;
	width: 19px;
	}
#calenderTableHead TR {
	background-color: white;
	}
#calenderTableDays TR {
	background-color: #C3D4E7;
	}
#selectMonth, #selectYear {
	font-family: ms sans serif, sans serif;
	font-size: 7pt;
	border-width: 0px;
	border-style: none;
	}

#calenderTable A {
	color: blue;
	text-decoration: none;
	font-size: 11pt;
	font-family: "courier new";
	}
#calenderTable A:hover {
	color: red;
	text-decoration: none;
	}
.normalDay {
	border: 1px dotted black;
	cursor: pointer;
	}
.hlDay {
	border: 1px dotted black;
	background-color: #FFF;
	color: red;
	cursor: pointer;
	}
.toDay {
	border: 1px solid #E70;
	background-color: #FD8;
	color: #E70;
	font-weight: bold;
	cursor: pointer;
	}
.choosenDay {
	border: 1px solid green;
	background-color: #A8FAA8;
	color: green;
	font-weight: bold;
	cursor: pointer;
	}