<form action="" name="frmprofile" method="post">
<table width="60%" border="0">
  <tr>
    <td width="18%">Profile :</td>
    <td width="42%">&nbsp;</td>
    <td width="40%">&nbsp;</td>
  </tr>
  <tr>
    <td>Name</td>
    <td><label>
      <input type="text" name="name" id="name" value="<?php echo $this->custarray[0]['name']; ?>">
    </label></td>
    <td><?php echo $this->error_name ?>&nbsp;</td>
  </tr>
  <tr>
    <td>Address</td>
    <td><label>
      <textarea name="address" id="address" cols="45" rows="5"><?php echo $this->custarray[0]['address']; ?></textarea>
    </label></td>
    <td><?php echo $this->error_address ?></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><table width="200" border="0">
      <tr>
        <td><label>
          <input type="radio" name="gender" id="sex" value="1" <?php echo $this->male; ?> >
        </label></td>
        <td>Male</td>
        <td><label>
          <input type="radio" name="gender" id="sex" value="2" <?php echo $this->female; ?>>
        </label></td>
        <td>Female</td>
      </tr>
    </table></td>
    <td><?php echo $this->error_gender ?></td>
  </tr>
  <tr>
    <td>Date Of Birth</td>
    <td><input type="text" name="dob" id="dob" value="<?php echo $this->custarray[0]['dob'] ?>" ></td>
    <td><?php echo $this->error_dob ?></td>
  </tr>
  <tr>
    <td>News Letter</td>
    <td><label>
      <input type="checkbox" name="newsletter" <?php echo $this->newsletter; ?> id="newsletter" value="1">
    </label></td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td></td>
    <td><label>
      <<button type="submit" name="save" id="save"> Save</button> 
    </label></td>
    <td>&nbsp;</td>
  </tr>
 
</table>
</form>