<?php $this->headScript()->appendFile(RES_FILE_PATH . '/javascript/tagsinput/jquery.tagsinput.js'); ?>
<?php $this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/tagsinput/jquery.tagsinput.css'); ?>
<style>
	table.datatable td {
		vertical-align: top;
	}
	table.datatable td a{
		display: inline;
	}
	#zips_tag{
		width:95px;
	}
</style>
<script>
	$(document).ready(function () {
	    $('#zips').tagsInput({
			defaultText: "<?php echo $this->translate('add_paycenter_zips'); ?>",
			removeWithBackspace: true,
			minChars: '3',
			width: '97%'
	    });
	});
</script>
<form name="save_paycenter" id="save_paycenter" method="POST" action="" >
	<fieldset>
		<legend id="addFamDr_fieldsetLegend"><?php echo $this->translate('addpaycenter_page_heading'); ?></legend>
		<div class="add">
			<ul>
				<li><a href="paycenters/paycenters">&laquo;  <?php echo $this->translate('paycenterslist') ?></a></li>
			</ul>
		</div>
		<table class="datatable" id="table_paycenters">
			<tr>
				<td>
					<?php echo $this->translate('paycenter_name'); ?>:
				</td>
				<td>
					<input type="text" name="paycenter" value="<?php echo $this->paycenter; ?>" id="paycenter" />
				</td>
			</tr>
			<tr>
				<td>
					<?php echo $this->translate('paycenter_zips'); ?>:
				</td>
				<td>
					<input type="text" name="zips" value="<?php echo $this->zips; ?>" id="zips" class="zips_input" />
				</td>
			<tr>
			<tr>
				<td colspan="2"> 
					<input type="submit" name="save_paycenter" id="save_payccenter" value="<?php echo $this->translate('save'); ?>" />
				</td>
			</tr>
		</table>
	</fieldset>
</form>