
.nv-container {
	display:inline-table;
	width:100%;
	background:rgba(245,245,245,0.25);
	border:1px solid rgba(159,159,159,0.25);
	font-family:arial;
	 
	box-sizing:border-box;
	position:relative;
	padding:25px;
}
.nv-container h1 {
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	margin:0;
	padding:0;
	margin-bottom:25px;
	
}

.nv-container .form-element {
	 
	 
	width:100%;
	box-sizing:border-box;
	padding-bottom:15px;
}

.nv-container .form-element > label {
	width:100%;
	
	display:inline-table;
	font-size:12px;
	text-transform:uppercase;
	line-height:23px;
	font-weight:bold;
	color:#272727;
	font-family: arial;
	letter-spacing: 0.5pt;
}
.nv-container .form-element input[type=text], 
.nv-container .form-element select,
.nv-container .form-element textarea {
	height:30px;
	border:1px solid #D8D8D8;
	box-sizing:border-box;
	width:100%;
	max-width:600px;
	border-radius:6px;
	padding-left:5px;
	font-size:13px;
	font-family:Arial;
	color:#000000;
	outline:none;
	background: #ffffff;
}
.nv-container .form-element input[type=text]:focus, 
.nv-container .form-element select:focus,
.nv-container .form-element textarea:focus {
	border:1px solid #00A2FF;
}


.nv-container .form-element textarea {
	height:230px;
	padding:8px;
}

.nv-container .form-element.subject {
	float:left;
	width:calc(100% - 110px);
	max-width:490px;
}
.nv-container .form-element.priority {
	float:left;
	width:110px;
	padding-left:10px;
}





.nv-container .form-element .users-select {
	margin:0;
	padding:3px;
	padding-bottom:0;
	padding-right:30px;
	height:30px;
	border:1px solid #D8D8D8;
	box-sizing:border-box;
	display:inline-table;
	position:relative;
	width:100%;
	max-width:600px;
	border-radius:6px;
}
.nv-container .form-element .users-select li.user {
	list-style:none;
	float:left;
	display:block;
	background-color:#EBEDEE;
	height:30px;
	border-radius:6px;
	box-sizing:border-box;
	line-height:30px;
	margin-right:3px;
	margin-bottom:3px;
	position:relative;
	font-size:12px;
	color:#272727;
	font-family:Arial;
	padding-left:25px;
	padding-right:25px;
	cursor:pointer;
	background:#EBEDEE url(user.svg) 7px 50% no-repeat;
	background-size:11px auto;
	transition:background-color 0.3s ease;
}
.nv-container .form-element .users-select li.user:hover, .nv-container .form-element .users-select li.user.group:hover {
	background-color:#DFDFDF;
	transition:background-color 0.3s ease;
}

.nv-container .form-element .users-select li.user.group {
	background:#EBEDEE url(group.svg) 7px 50% no-repeat;
	background-size:13px auto;
}
.nv-container .form-element .users-select li.user .btnRemove {
	position:absolute;
	width:18px;
	height:18px;
/* 	right:5px; */
	right:0px;
	top:calc(50% - 9px);
	border:0;
	background:url(cross-blue.svg) 50% 50% no-repeat;
	background-size:9px auto;
	cursor:pointer;
	margin-top:0px!important;
}
.close_scc{
	float: right;
	width:26px;
	height:26px;
	border:0;
	background:url(cross-blue.svg) 50% 50% no-repeat;
	background-size:13px auto;
	cursor:pointer;
	margin-top:0px!important;
}

.nv-container .form-element .users-select li.btnSelect {
	position:absolute;
	list-style:none;
	right:14px;
	top:calc(50% - 15px);
	width:14px;
	height:14px;
	
}
.nv-container .form-element .users-select li.btnSelect .btnExpand {
	background:transparent url(sortdown.svg) 50% 50% no-repeat;
	background-size:13px auto;
	border:0;
	width:14px;
	height:14px;
	display:block;
	cursor:pointer;
	outline:none;
}
  .shown {
	background:transparent url(sortdown.svg) 50% 50% no-repeat!important;
 	-webkit-transform: rotate(180deg); 
}



/* users select drop down */
.users-select-dd {
	width:calc(100% - 50px);
	max-width:600px;
	background:#ffffff;
	position:absolute;
	padding:7px;
	box-sizing:border-box;
	border-radius:6px;
	 -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.32);
	
}
.users-select-dd .scrollable-container {
	width:100%;
	height:500px;
	max-height:500px;
	overflow-y:scroll;
	display:block;
	box-sizing:border-box;
	padding:30px;
}


.users-select-dd .scrollable-container::-webkit-scrollbar {background:#CCCDCE; width:7px; border-radius:7px; margin-right:0px; padding:10px;}
.users-select-dd .scrollable-container::-webkit-scrollbar-track {background:#EBEDEE; width:5px; border-radius:10px;}
.users-select-dd .scrollable-container::-webkit-scrollbar-thumb {border-radius:10px; background:#CCCDCE;}



.users-select-dd .left, .users-select-dd .right {
	width:50%;
	float:left;
	display:inline-table;
	box-sizing:border-box;
}


.users-select-dd .scrollable-container h3 {
	margin:0;
	padding:0;
	font-size:12px;
	font-weight:bold;
	font-family:Arial;
	text-transform:uppercase;
	letter-spacing:0.5pt;
	margin-bottom:25px;
	padding-left:30px;
	height:20px;
	line-height:20px;
}

.users-select-dd .scrollable-container h3.users {
	background:url(user.svg) 0% 50% no-repeat;
	background-size:17px auto;
}
.users-select-dd .scrollable-container h3.groups {
	background:url(group.svg) 0% 50% no-repeat;
	background-size:20px auto;
}




.users-select-dd ul.checkbox-container {
	margin:0;
	padding:0;
}

.users-select-dd ul.checkbox-container li {
	list-style:none;
	
}




/* checkbox  */
.cb-green  {
	margin:0 auto;
	padding:0;
	display:inline-table;
	width:100%;
	text-align:left;
	margin-bottom:10px;
}
.cb-green input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.cb-green label {
	position: relative;
	display: inline-block;
	padding: 0;
	height: 21px;
	line-height: 1.5;
	cursor: pointer;
	font-size:12px;
	line-height:24px;
	
	color:#000;
	font-family: arial;
	padding-left:30px;
 
}
.cb-green label::before,
.cb-green label::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 21px;
	height: 21px;
}
.cb-green label::before {
	content: " ";
	border: 2px solid #d4dce3;
	border-radius: 20%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/* Checkbox */
.cb-green input[type="checkbox"] + label::after {
	background:url(iconCheckmarkWhite.svg) 50% 50% no-repeat;
	background-size: 13px auto;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	font-size:11px;
	content:" ";
}
 
/* :checked */
.cb-green input[type="checkbox"]:checked + label::before {
	border:0px solid transparent;
	background-color:#79EB74;

}
 

.cb-green input[type="checkbox"] + label::after  {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.cb-green input[type="checkbox"]:checked + label::after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* Transition */
.cb-green label::before,
.cb-green label::after {
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}


.cb-green input[type="checkbox"]:checked + label {
	font-weight:400;  
 
}
/*disabled*/
.cb-green.disabled label::before {
	border-color:#f0f0f0;
}

.cb-green.disabled input[type="checkbox"]:checked + label::before {
	background: #f0f0f0;
	border-color: #f0f0f0;
}


























.btnNSsubmit {
	display:inline-block;
	box-sizing:border-box;
	width:100%;
	max-width:600px;
	
	 
	height:47px!important;
	background:#00A2FF url(iconCheckmarkWhiteThin.svg) calc(50% - 65px) 50% no-repeat;
	background-size:21px auto;
	border:0;
	border-radius:6px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff!important;
	padding-left:35px!important;	
	transition:background-color 0.3s ease;
}

.btnNSsubmit:hover {
	cursor:pointer;
	background-color:#008AD9;
	transition:background-color 0.3s ease;
	
}






















