<?php echo $this->doctype() ?> <!-- This Line will output the doctype we set inside the bootstrap file -->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Customer Example Application </title>
  <base href="<? echo APP_BASE?>">
  <?php $this->headLink()->appendStylesheet('javascript/extjs/resources/css/ext-all.css?'.date('Ymd'));
   echo $this->headLink()->appendStylesheet('css/blu/style.css?'.date('Ymd'));
  $this->headLink()->appendStylesheet('css/blu/row_editor.css?'.date('Ymd'));

  $this->headScript()->appendFile('javascript/extjs/adapter/ext/ext-base.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/extjs/ext-all.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/blu/subform.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/blu/init.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/blu/getpost.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/blu/getpost.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/blu/gennames.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/blu/roweditor_extend.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/blu/roweditor.js?'.date('Ymd'));

   $this->headScript()->appendFile('javascript/blu/App.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/blu/writer.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/blu/UserForm.js?'.date('Ymd'));
  $this->headScript()->appendFile('javascript/blu/UserGrid.js?'.date('Ymd'));

  echo $this->headScript();

  ?>

</head>

<style type="text/css">
html, body {
	font:normal 12px verdana;
	margin:0;
	padding:0;
	border:0 none;
	overflow:hidden;
	height:100%;
}
p {
	margin:5px;
}
.settings {
	background-image:url(../shared/icons/fam/folder_wrench.png);
}
.nav {
	background-image:url(../shared/icons/fam/folder_go.png);
}
</style>
<body>
<div id="west" class="x-hide-display">
  <p>This is the west panel.</p>
</div>
<div id="center2" class="x-hide-display"></div>

<div id="props-panel" class="x-hide-display" style="width:200px;height:200px;overflow:hidden;"> </div>
<div id="south" class="x-hide-display">
  <p>south panel</p>
</div>
</body>
</html>
