<?php echo $this->doctype() ?> <!-- This Line will output the doctype we set inside the bootstrap file -->
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>Application</title>
 <base href="<? echo APP_BASE?>" />
 <style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
 
  <?php echo $this->headLink()->appendStylesheet('_ipad/css/style.css') ?>
<!--<link rel="icon" href="/images/favicon.ico" type="image/ico">-->
<!--<link rel="shortcut icon" href="/images/favicon.ico">-->
</head> 
<body id="minwidth-body ">
<div class="loginouter">
<div id="Wrapper">
<div class="header">
<div class="logo"><img src="images/logo-new.png" /></div>
<div class="TopMenu" id="topmenu"></div>
</div>
<div class="ClrBoth"></div>
	<div id="logincontent">
		<?php echo $this->layout()->content  ?>
    </div>
</div>
    
  
    
    </div>
      <div style="clear:both;"></div>

</div>
</div>
</body>
</html>
