<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?php
/*
	Build Page Title
*/
	$appname = "ISPC";
	$lower_controllername = strtolower(Zend_Controller_Front::getInstance()->getRequest()->getControllerName());
	$lower_actionname = strtolower(Zend_Controller_Front::getInstance()->getRequest()->getActionName());
	if($lower_controllername==$lower_actionname) {
		$ispc_pagetitle = $appname." | ".$this->translate($lower_actionname);
	}else{
		$ispc_pagetitle = $appname." | ".$this->translate($lower_controllername)." - ".$this->translate($lower_actionname);
	}


    /* last_update, version, isMaintenanceMode */
    $appInfo = Zend_Registry::get('appInfo');

    /* Banner for upload on maintenance mode*/
    $show_upload_banner = isset($appInfo['isMaintenanceMode']) && $appInfo['isMaintenanceMode'] == 1 ? true : false;

?>
<html lang="de" xml:lang="de" >
    <head>
        <base href="<?php echo APP_BASE; ?>" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title><?php echo $ispc_pagetitle; ?></title>
        <script type="text/javascript">
        var appbase = '<?php echo APP_BASE; ?>';
        var res_path = '<?php echo RES_FILE_PATH; ?>';
        var idpd = '<?php if(isset($_REQUEST['id'])): echo $_REQUEST['id']; endif; ?>';
        var reset_datatable = '<?php echo ((isset($_REQUEST['lf']) && $_REQUEST['lf'] == "list" ) ? '1' : '0') ?>';
        <?php 
        	/**
        	const idcidpd is the current clientid
        	**/
        	$logininfo = new Zend_Session_Namespace('Login_Info');
        	$idcidpd_encrypt = Pms_Uuid::encrypt($logininfo->clientid);
        ?>
        var idcidpd = '<?php echo $idcidpd_encrypt;?>';
        </script>
    
    <?php
$headlinks = $this->headLink()
	->appendStylesheet(RES_FILE_PATH.'/css/reset.css','all')
	->appendStylesheet(RES_FILE_PATH.'/css/custom.css','all')
;

echo $headlinks."\n";

echo $this->headscripts;

echo $this->headScript();


    ?>
     
    
    </head>

<script type="text/javascript">
var notifymessage = "<?php echo $this->msgnotify ?>";
var sysnews = "<?php echo $this->systemnews ?>";
//this is used for patient memo script to pass the curent patient id to the request vars
setVarsForm('id='+idpd);
 
	<?php echo $this->disable ?>
</script>

<?php
	$body_class='newbody2018';
	if($show_upload_banner == true){
		$body_class .= ' upload_body';
	}
    $body_class = 'class="' . $body_class. '"';
?>

    <body <?php echo $body_class; ?>>
                    <?php echo $this->layout()->content  ?>
    
 
    </body>
</html>