<a href="<?php echo $this->url(array('controller'=>'dischargelocation' , 'action' => 'listlocation' )); ?>"><?php echo $this->translate("back")?></a>
<div id="addmethod_errorMsg" class="err"><? echo $this->error_message ?></div>
<form action="" method="post" name="frmlocation" id="frmlocation" >

	<fieldset id="addLocation_Fieldset">
	
		<table border="1" width="100%" cellspacing="2" cellpadding="4">
		
			<thead>
		
				<tr>
					<th colspan="2"><legend id="addLocation_FieldsetLegend"><? echo $this->translate('dischargelocation') ?></legend></th>
				</tr>
		
			</thead>
		
			<tbody>
		
				<tr>
					<th><? echo $this->labelClient ?></th>
					<th><? echo $this->inputbox ?></th>
				</tr>
				<tr>
					<td><label for="location" id="lbl_location"><? echo $this->translate('location') ?></label></td>
					<td><input type="text" name="location" id="location" tabindex="1" value="<? echo $this->location ?>" ></td>
				</tr>
				<tr>
					<td><label id="addLocation_blankLabel" for="location_type"><?php echo $this->translate('locationtype'); ?></label></td>
					<td><?php echo $this->formSelect('type', $this->type, null, $this->locationTypesArray); ?></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" name="btnsubmit" id="btnsubmit" tabindex="4" class="button" value="<? echo $this->translate('submit') ?>"></td>
				</tr>
		
			</tbody>
		
		</table>

	</fieldset>
	
</form>