<?php

	$pl =  $this->price_list;
	$list_id = $this->listid;
?>
<script>
	$(document).ready(function() {
		$( "#start,#start_pv, #end, #end_pv" ).datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true
		});
		
		
		
		
		$('.delete_link').live('click', function(){
			var list_id = $(this).attr('id');
			
			   jConfirm('<?php echo $this->translate('confirmdeleterecord'); ?>', '', function(r) {
					if(r)
					{
	 					location.href = "<?php echo APP_BASE.'internalinvoice/pricelist?list="+list_id+"&op=del';  ?>";
					}
			});
			return false;
			
		})
		
 
	});
</script>
<style>

.links_list {
	list-style: none;
	width: 95%; 
	display: block; 
	float: left;
}

.links_list li a {
	width:90%;
	text-align:center;
	padding: 3px!important;
	margin: 2px!important;
	border: 1px solid #555;
	border-radius: 5px; 
}

.links_list li:HOVER a{
/* 	font-weight: 800; */
background: #fff;
}

.options_list{
	list-style: none;
	width: 95%; 
	display: block; 
	float: left;
}

</style>

<div style="display: none;"><img id="calImg" src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"></div>
<h1><?php echo $this->translate('Price List');  ?></h1>
<form  method="POST" action="" id="save_prices_list" name="save_prices_list">
<table class="datatable">
	<thead>
		<tr>
			<th><?php echo $this->translate('no');  ?></th>
			<th><?php echo $this->translate('price sheet name');  ?></th>
			<th><?php echo $this->translate('p_start_date');  ?></th>
			<th><?php echo $this->translate('p_end_date');  ?></th>
			<th><?php echo $this->translate('actions');  ?></th>
			<th><?php echo $this->translate('Produkte');  ?></th>
		</tr> 
	</thead>
	<tbody>
		<?php if(!empty($this->price_list)): ?>
			<?php $i = 1; foreach($this->price_list as $k_list=>$price_listed):  ?>
			<tr class="<?php if($price_listed['id'] == $this->listid): $selected = $k_list;?> selected_row <?php else: ?> alternate <?php endif;  ?> hoover">
				<td style="vertical-align: top!important;"><?php echo $i;  ?></td>
				<td style="vertical-align: top!important;"><?php echo $price_listed['price_sheet'];  ?></td>
				<td style="vertical-align: top!important;"><?php echo date('d.m.Y', strtotime($price_listed['start']));  ?></td>
				<td style="vertical-align: top!important;"><?php echo date('d.m.Y', strtotime($price_listed['end']));  ?></td>
				<td  style="vertical-align: top!important;">
					<ul class="options_list">
						<li><a href="<?php echo APP_BASE.'internalinvoice/pricelist?list='.$price_listed['id'].'&op=edit';  ?>" class="inline_link" style="text-indent:10px; background: url('<?php echo RES_FILE_PATH;?>/images/page_white_edit.png') no-repeat center left;"><?php echo $this->translate('edit');  ?></a></li>
						<li><a href="javascript:void(0);"  id="<?php echo $price_listed['id'];?>"    class="inline_link delete_link" style="text-indent:10px; background: url('<?php echo RES_FILE_PATH;?>/images/page_white_delete.png') no-repeat center left;"><?php echo $this->translate('delete');  ?> </a></li>
						<li><a href="<?php echo APP_BASE.'internalinvoice/pricelistcopy?list='.$price_listed['id'];  ?>"  id="<?php echo $price_listed['id'];?>"    class="inline_link" style="text-indent:10px; background: url('<?php echo RES_FILE_PATH;?>/images/page_white_edit.png') no-repeat center left;"><?php echo $this->translate('copy');  ?> </a></li>
					</ul>				
				</td>
				<td style="padding: 0px;">
					<ul class="links_list">
						<li><a href="<?php echo APP_BASE.'internalinvoice/specificproducts?list='.$price_listed['id'];  ?>"  class="inline_link" ><?php echo $this->translate('specific_products');  ?></a></li>
						<li><a href="<?php echo APP_BASE.'internalinvoice/dayproducts?list='.$price_listed['id'];  ?>"  class="inline_link"  ><?php echo $this->translate('day_products');  ?></a></li>
						<li><a href="<?php echo APP_BASE.'internalinvoice/specificvisits?list='.$price_listed['id'];  ?>"  class="inline_link"  ><?php echo $this->translate('specific_visits');  ?></a></li>
						<li><a href="<?php echo APP_BASE.'internalinvoice/actions2products?list='.$price_listed['id'];  ?>"  class="inline_link"  ><?php echo $this->translate('assigne actions to visits');  ?></a></li>
					</ul>
				</td>
			</tr>
			<?php $i++; endforeach;  ?>
		<?php else:  ?>
			<tr class="nohover">
				<td colspan="5"><?php echo $this->translate('No price list saved.');  ?></td>
			</tr>
		<?php endif;  ?>
		<tr class="nohover">
			<td>&nbsp;</td>
			<td><input type="text" value="<?php if($this->price_list && $this->listid == $_REQUEST['list'] && $_REQUEST['op'] == 'edit'): ?><?php echo $pl[$selected]['price_sheet'];  ?><?php endif;  ?>" name="price_sheet" id="price_sheet" /></td>
			<td><input type="text" value="<?php if($this->price_list && $this->listid == $_REQUEST['list'] && $_REQUEST['op'] == 'edit'): ?><?php echo date('d.m.Y', strtotime($pl[$selected]['start']));  ?><?php endif;  ?>" name="start" id="start" style="width:80px" /></td>
			<td><input type="text" value="<?php if($this->price_list && $this->listid == $_REQUEST['list'] && $_REQUEST['op'] == 'edit'): ?><?php echo date('d.m.Y', strtotime($pl[$selected]['end']));  ?><?php endif;  ?>" name="end" id="end"  style="width:80px"  /></td>
			<td><input type="hidden" value="<?php if($this->price_list && $this->listid == $_REQUEST['list'] && $_REQUEST['op'] == 'edit'): ?>1<?php endif; ?>" name="edit_period" id="edit_period" /> 
			&nbsp;<input type="submit" value="<?php echo $this->translate('save');?>" id="save_list" name="save_list" /></td>
		</tr>
		<?php if($this->error_date):  ?>
		<tr>
			<td colspan="5" class="invalid_date_errors">
				<?php echo $this->error_date;  ?>
			</td>
		</tr>
		<?php endif; ?>
	</tbody>
</table>
</form>
<br/>