<?php
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/fb8evaluation_style.css');
?>
<style type="text/css" >
	.ui-datepicker-trigger {
		padding-left: 3px;
		padding-top: 2px;
		margin-bottom: -4px;
		float: left;
		padding-right: 3px;
	}
</style>
<script type="text/javascript" >
$(document).ready(function(){
	$(".datetype").datepicker({
		dateFormat: 'dd.mm.yy',
		showOn: "both",
		buttonImage: $('#calImg').attr('src'),
		buttonImageOnly: true,
		changeMonth: true,
		changeYear: true,
		nextText: '',
		prevText: ''
	});
	
	$('form').submit(function() {
		setTimeout(function () {$('input[type=submit]').attr('disabled', true);}, 150);
		setTimeout(function () {$('input[type=submit]').attr('disabled', false);}, 22000);
	});

});
</script>

<form id="fb8evaluation" action="" method="post">
    <div style="display: none;"> <img src="<?php echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger" id="calImg"> </div>
<?php echo $this->patientinfo ?>
<?php echo $this->tabmenus ?>
    <div class="tab_container">

     <div id="Evaluation">
      <div class="InfoSection">
        <div class="InfoDiv">
          <div class="Infoleft"> Krankenkasse bzw. Kostenträger<br />
            <input id="hi_company_name" name="hi_company_name" type="text"  value="<?php echo $this->hi_company_name; ?>" class="MarginZero" />
          </div>
          <div class="BlackDivider"></div>
          <div class="Inforight"> Kassen-Nr.<br />
            <input id="kassen_nr" name="kassen_nr" type="text" class="MarginZero" value="<?php echo $this->kassen_nr; ?>" />
          </div>
          <div class="ClrBoth"></div>
        </div>
        <div class="InfoSectionBottom">
          <div class="InfoDiv">
            <div class="Inforight"> Betriebsstätten-Nr.<br />
              <input id="betriebsstatten_nr" name="betriebsstatten_nr" type="text" value="<?php echo $this->betriebsstatten_nr; ?>" class="MarginZero"   />
            </div>
            <div class="BlackDivider"></div>
            <div class="Inforight">Institutionskennzeichen<br />
             <input id="institutskennzeichen" name="institutskennzeichen" type="text" value="<?php echo $this->institutskennzeichen; ?>" class="MarginZero" />
            </div>
            <div class="BlackDivider"></div>
            <div class="Inforight"> &nbsp;<br />
            	&nbsp;
            </div>
            <div class="ClrBoth"></div>
          </div>
        </div>
      </div>
      <div class="HeadingSection">
		<h1>SAPV- Einzelfallevaluation aus Sicht des Dienstes</h1>
		<h2>gemäß Anlage 5 - Mustervertrag Bayern</h2>
		<br />
      </div>
      <div class="ClrBoth"></div>
      <h3>I. Patientenmerkmale und Bedarf an spez. ambulanten Palliativversorgung (SAPV)</h3>
     <div class="patinfosection" >
       	<div class="patientenid">
       		<label>Patienten-ID:</label><input type="text" name="epid" value="<?php echo $this->epid; ?>" />
       	</div>
     	<div class="patgenders">
     		<span class="gendersex">Geschlecht:</span>
     		<input type="radio" name="gender" value="2" <?php $x = ($this->gender == "2")? 'checked="checked"' : ''; echo $x; ?> /> <label>w</label>
     		<input type="radio" name="gender" value="1" <?php $x = ($this->gender == "1")? 'checked="checked"' : ''; echo $x; ?> /> <label>m</label>
     	</div>
     	<div class="patage">
     		<span class="patalter">Alter:</span><input type="text" name="age" value="<?php echo $this->age; ?>" />&nbsp;<span class="years">Jahre</span>
     	</div>
		<div class="sapvbegin">
			<label>Beginn der SAPV:</label><input type="text" name="beginSapvFall" class="datetype" value="<?php $x = ($this->beginSapvFall != "0000-00-00 00:00:00")? date("d.m.Y", strtotime($this->beginSapvFall)) : ''; echo $x; ?>" />
		</div>
     </div>
     <div class="pat_icds">
     	<Label>Grundkrankheit	 ICD10: </Label><input type="text" name="icddiagnosis" value="<?php echo $this->icddiagnosis;?>" />
     </div>
     <div class="sidediagnos">
     	<label>Betreuungsrelevante Nebendiagnosen (ICD): </label><input type="text" name="icdNDdiagnosis" value="<?php echo $this->icdNDdiagnosis; ?>" />
     </div>
     <div class="erstverordnung">
     	<span>Erstverordnung:</span>
     	<ul>
			<li><input type="checkbox" name="firstSapvMaxbe" value="1" <?php $x = ($this->firstSapvMaxbe == "1")? 'checked="checked"' : ''; echo $x; ?> /><label> Beratung </label></li>
			<li><input type="checkbox" name="firstSapvMaxko" value="2" <?php $x = ($this->firstSapvMaxko == "2")? 'checked="checked"' : ''; echo $x; ?> /><label> Koordination </label></li>
			<li><input type="checkbox" name="firstSapvMaxtv" value="3" <?php $x = ($this->firstSapvMaxtv == "3")? 'checked="checked"' : ''; echo $x; ?> /><label> Teilversorgung </label></li>
			<li><input type="checkbox" name="firstSapvMaxvv" value="4" <?php $x = ($this->firstSapvMaxvv == "4")? 'checked="checked"' : ''; echo $x; ?> /><label> Vollversorgung </label></li>
		</ul>
     </div>
     <div class="erstverordnung">
	     <table width="100%" cellpadding="0" cellspacing="0">
	     <tr>
		     <td style="width:200px"><span>Erstkontakt durch:</span></td>
			<td style="width:200px"><input type="checkbox" name="erstsapv" value="1" <?php $x = ($this->erstsapv == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>  Erst-SAPV	 </label></td>
	     	<td colspan="2"><input type="checkbox" name="weideraufnahme" value="1" <?php $x = ($this->weideraufnahme == "1")? 'checked="checked"' : ''; echo $x; ?> /><label> Wiederaufnahme SAPV </label></td>
	     </tr>
	     <tr>
	    	 <td><input type="checkbox" name="stathospiz" value="1" <?php $x = ($this->stathospiz == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>   Stationäres Hospiz	 </label></td>
	    	 <td><input type="checkbox" name="kranken" value="1" <?php $x = ($this->kranken == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>  Krankenhaus	 </label></td>
	    	 <td><input type="checkbox" name="palliativ" value="1" <?php $x = ($this->palliativ == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>  Palliativstation	 </label></td>
	    	 <td><input type="checkbox" name="statpflege" value="1" <?php $x = ($this->statpflege == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>  Stationäre Pflege	 </label></td>
	     </tr>
	     <tr>
	    	 <td><input type="checkbox" name="ambhospizdienst" value="1" <?php $x = ($this->ambhospizdienst == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>    ambulanter Hospizdienst	 </label></td>
	    	 <td><input type="checkbox" name="ambpflege" value="1" <?php $x = ($this->ambpflege == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>  Amb. Pflege	 </label></td>
	    	 <td><input type="checkbox" name="harzt" value="1" <?php $x = ($this->harzt == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>  Hausarzt 		 </label></td>
	    	 <td><input type="checkbox" name="farzt" value="1" <?php $x = ($this->farzt == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>  Facharzt	 </label></td>
	     </tr>
	     <tr>
	    	 <td><input type="checkbox" name="patange" value="1" <?php $x = ($this->patange == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>   Patient/Angehörige	 </label></td>
	    	 <td><input type="checkbox" name="beratung" value="1" <?php $x = ($this->beratung == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>  Beratungsdienst	 </label></td>
	    	 <td> </td>
	    	 <td> </td>
	     </tr>

	     </table>
     </div>
     <div class="erstverordnung">
	     <table width="100%" cellpadding="0" cellspacing="0">
	     <tr>
		     <td style="width:200px"><span>Aktuelle Wohnsituation:</span></td>
	    	 <td style="width:160px"><input type="checkbox" name="alone" value="1" <?php $x = ($this->alone == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>  zu hause, allein	 </label></td>
	     	 <td colspan="2"><input type="checkbox" name="house_of_relatives" value="1" <?php $x = ($this->house_of_relatives == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>zu Hause mit Angehörigen  </label></td>
	     </tr>
	     <tr>
	    	 <td> </td>
	    	 <td>
			 <input type="checkbox" name="hospiz" value="1" <?php $x = ($this->hospiz == "1")? 'checked="checked"' : ''; echo $x; ?> />
			 <label> im stat.Hospiz  </label>
		 </td>
	    	 <td style="width:220px">
			 <input type="checkbox" name="nursingfacility" value="1" <?php $x = ($this->nursingfacility == "1")? 'checked="checked"' : ''; echo $x; ?>/>
			 <label>  in stat.Pflegeeinrichtung</label>
		 </td>
	    	 <td>
			 <input type="checkbox" name="curentlivingother" value="1" <?php $x = ($this->curentlivingother == "1")? 'checked="checked"' : ''; echo $x; ?> />
			 <input type="text" name="curentlivingmore" value="<?php $x = (strlen($this->curentlivingmore)>0)? $this->curentlivingmore : ''; echo $x; ?>" style="width:130px" /></td>
	     </tr>
	     </table>
     </div>

     <div class="pflegestufetop">
 		<span class="Pflegestufespn">Pflegestufe:</span>
 		<span class="pflegestufe_kein"><input type="checkbox" name="stagekeine" value="keine" <?php $x = ($this->stagekeine == "keine")? 'checked="checked"' : ''; echo $x; ?> /><label>keine</label></span>
 		<span class="pflegestufe_nr"><input type="checkbox" name="stageone" value="1" <?php $x = ($this->stageone == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></span>
 		<span class="pflegestufe_nr"><input type="checkbox" name="stagetwo" value="2" <?php $x = ($this->stagetwo == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></span>
 		<span class="pflegestufe_nr"><input type="checkbox" name="stagethree" value="3" <?php $x = ($this->stagethree == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></span>
 		<span class="hoherstufung">Erstantrag/Höherstufung:</span>
 		<span class="pflegestufe_beantragt"><input type="checkbox" name="beantragt" value="1" <?php $x = ($this->beantragt == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>beantragt</label></span>
 		<span class="pflegestufe_nicbeantragt"><input type="checkbox" name="nbeantragt" value="1" <?php $x = ($this->nbeantragt == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>nicht beantragt</label></span>

     </div>
     <div class="ErwartungdesPat">
     	<span class="ErwartungdesPat_spn">Erwartung des Pat. zu Beginn der SAPV :</span>
 		<span class="ErwartungdesPat_keine"><input type="checkbox" name="expectationkeine" value="keine" style="width:13px;" <?php $x = ($this->expectationkeine == "keine")? 'checked="checked"' : ''; echo $x; ?> /><label> keine Angabe</label></span>
 		<span class="ErwartungdesPat_sonstiges"><label>Sonstiges: </label><input type="text" name="expectationsonstiges" value="<?php $x = (strlen($this->expectationsonstiges)>0)? $this->expectationsonstiges : ''; echo $x; ?>" /></span>
     </div>
     <table class="radiooptions" border="1" width="145px" >
     	<tr>
	     	<td><input type="radio" name="expectation" value="0" <?php $x = ($this->expectation == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
	     	<td><input type="radio" name="expectation" value="1" <?php $x = ($this->expectation == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
	     	<td><input type="radio" name="expectation" value="2" <?php $x = ($this->expectation == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
	     	<td><input type="radio" name="expectation" value="3" <?php $x = ($this->expectation == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>
     	</tr>
     	</table>

     <div class="ErwartungdesPat2">
	<table width="100%" style="margin-left: -10px;" >
	<tr>
	<td ><label style="line-heignt:15px;">Palliative Rehabilitation</label></td>
	<td style="width:135px">
		<table class="radiooptions" border="1">
     	<tr>
	     	<td><input type="radio" name="preabilitation" value="0" <?php $x = ($this->preabilitation == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
	     	<td><input type="radio" name="preabilitation" value="1" <?php $x = ($this->preabilitation == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
	     	<td><input type="radio" name="preabilitation" value="2" <?php $x = ($this->preabilitation == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
	     	<td><input type="radio" name="preabilitation" value="3" <?php $x = ($this->preabilitation == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

     	</tr>
     	</table>
     	</td>
	<td  style="width:60px;"><label>Symptomlinderung</label></td>
	<td  style="width:135px">
	    <table class="radiooptions" border="1">
     	<tr>
	     	<td><input type="radio" name="symptomrelief" value="0" <?php $x = ($this->symptomrelief == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
	     	<td><input type="radio" name="symptomrelief" value="1" <?php $x = ($this->symptomrelief == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
	     	<td><input type="radio" name="symptomrelief" value="2" <?php $x = ($this->symptomrelief == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
	     	<td><input type="radio" name="symptomrelief" value="3" <?php $x = ($this->symptomrelief == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

     	</tr>
     	</table>
	</td>
	<td><label>Kein Krankenhaus</label></td>
	<td>
     	<table class="radiooptions" border="1">
     	<tr>
	     	<td><input type="radio" name="nohospital" value="0" <?php $x = ($this->nohospital == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
	     	<td><input type="radio" name="nohospital" value="1" <?php $x = ($this->nohospital == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
	     	<td><input type="radio" name="nohospital" value="2" <?php $x = ($this->nohospital == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
	     	<td><input type="radio" name="nohospital" value="3" <?php $x = ($this->nohospital == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

     	</tr>
     	</table>
	</td>
	</tr>
	<tr><td colspan="6">&nbsp;</td></tr>
	<tr>
	<td style="width:130px;"><label style="line-height:15px;">Keine lebensverlängern- den Maßnahmen</label></td>
	<td>
		<table class="radiooptions" border="1">
     	<tr>
	     	<td><input type="radio" name="nolifeenxendingmeasures" value="0" <?php $x = ($this->nolifeenxendingmeasures == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
	     	<td><input type="radio" name="nolifeenxendingmeasures" value="1" <?php $x = ($this->nolifeenxendingmeasures == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
	     	<td><input type="radio" name="nolifeenxendingmeasures" value="2" <?php $x = ($this->nolifeenxendingmeasures == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
	     	<td><input type="radio" name="nolifeenxendingmeasures" value="3" <?php $x = ($this->nolifeenxendingmeasures == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

     	</tr>
     	</table>
     	</td>
	<td><label style="line-height:15px;">In Ruhe gelassen werden</label></td>
	<td>
	    <table class="radiooptions" border="1">
     	<tr>
	     	<td><input type="radio" name="leftalone" value="0" <?php $x = ($this->leftalone == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
	     	<td><input type="radio" name="leftalone" value="1" <?php $x = ($this->leftalone == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
	     	<td><input type="radio" name="leftalone" value="2" <?php $x = ($this->leftalone == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
	     	<td><input type="radio" name="leftalone" value="3" <?php $x = ($this->leftalone == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

     	</tr>
     	</table>
	</td>
	<td style="width:110px"><label style="line-height:15px;">Selbstbestimmung /aktive Mitgestaltung</label></td>
	<td  style="width:135px">
     	<table class="radiooptions" border="1">
     	<tr>
	     	<td><input type="radio" name="activeparticipation" value="0" <?php $x = ($this->activeparticipation == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
	     	<td><input type="radio" name="activeparticipation" value="1" <?php $x = ($this->activeparticipation == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
	     	<td><input type="radio" name="activeparticipation" value="2" <?php $x = ($this->activeparticipation == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
	     	<td><input type="radio" name="activeparticipation" value="3" <?php $x = ($this->activeparticipation == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

     	</tr>
     	</table>
	</td>
	</tr>
	</table>
    </div>
    <div class="SAPVBehandlungsziel">
    	<table>
    		<tr>
    			<td class="SAPVBehandlu_big"><span>Erwartung(en) kongruent mit SAPV Behandlungsziel:</span></td>
    			<td><input type="radio" name="treatmentscopeexpectation" value="0" <?php $x = ($this->treatmentscopeexpectation == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>ja</label></td>
    			<td><input type="radio" name="treatmentscopeexpectation" value="1" <?php $x = ($this->treatmentscopeexpectation == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>nein</label></td>
    			<td><input type="radio" name="treatmentscopeexpectation" value="2" <?php $x = ($this->treatmentscopeexpectation == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>teilweise</label></td>
    			<td><input type="radio" name="treatmentscopeexpectation" value="3" <?php $x = ($this->treatmentscopeexpectation == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>unbekannt</label></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td><span><b>Pat.- Erwartung(en) unter SAPV realisierbar:</b></span></td>
    			<td><input type="radio" name="patientexpectationsapv" value="0" <?php $x = ($this->patientexpectationsapv == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>ja</label></td>
    			<td><input type="radio" name="patientexpectationsapv" value="1" <?php $x = ($this->patientexpectationsapv == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>nein</label></td>
    			<td><input type="radio" name="patientexpectationsapv" value="2" <?php $x = ($this->patientexpectationsapv == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>teilweise</label></td>
    			<td><input type="radio" name="patientexpectationsapv" value="3" <?php $x = ($this->patientexpectationsapv == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>unbekannt</label></td>
    			<td></td>
    		</tr>
    	</table>

    </div>
    <div class="komplexes">
    <table>
    	<tr><td colspan="4"><span><b>Komplexes Symptomgeschehen:</b></span></td></tr>
    	<tr>
	    	<td  width="235px"><span>Schmerzsymptomatik </span></td>
	    	<td class="komplexesrad_td">
	    	<table class="radiooptions" border="1" >
	     	<tr>
		     	<td><input type="radio" name="painsymptoms" value="0" <?php $x = ($this->painsymptoms == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="painsymptoms" value="1" <?php $x = ($this->painsymptoms == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="painsymptoms" value="2" <?php $x = ($this->painsymptoms == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="painsymptoms" value="3" <?php $x = ($this->painsymptoms == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
	    	<td><span>	Gastrointestinale Symptomatik </span></td>
	    	<td>
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="gastrointestinalsymptoms" value="0" <?php $x = ($this->gastrointestinalsymptoms == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="gastrointestinalsymptoms" value="1" <?php $x = ($this->gastrointestinalsymptoms == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="gastrointestinalsymptoms" value="2" <?php $x = ($this->gastrointestinalsymptoms == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="gastrointestinalsymptoms" value="3" <?php $x = ($this->gastrointestinalsymptoms == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
    	</tr>
    	<tr>
	    	<td><span>Neurol./psychiatr./psych. Symptomatik	</span></td>
	    	<td class="komplexesrad_td">
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="psychsymptoms" value="0" <?php $x = ($this->psychsymptoms == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="psychsymptoms" value="1" <?php $x = ($this->psychsymptoms == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="psychsymptoms" value="2" <?php $x = ($this->psychsymptoms == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="psychsymptoms" value="3" <?php $x = ($this->psychsymptoms == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
	    	<td><span>	Urogenitale Symptomatik	</span></td>
	    	<td  width="145px">
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="urogenitalsymptoms" value="0" <?php $x = ($this->urogenitalsymptoms == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="urogenitalsymptoms" value="1" <?php $x = ($this->urogenitalsymptoms == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="urogenitalsymptoms" value="2" <?php $x = ($this->urogenitalsymptoms == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="urogenitalsymptoms" value="3" <?php $x = ($this->urogenitalsymptoms == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
    	</tr>
    	<tr>
	    	<td><span>Ulz./exulz.Wunden oder Tumore	</span></td>
	    	<td class="komplexesrad_td">
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="ulztumor" value="0" <?php $x = ($this->ulztumor == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="ulztumor" value="1" <?php $x = ($this->ulztumor == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="ulztumor" value="2" <?php $x = ($this->ulztumor == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="ulztumor" value="3" <?php $x = ($this->ulztumor == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
	    	<td><span>	Respir./kardiale Symptomatik </span></td>
	    	<td>
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="cardiacsymptoms" value="0" <?php $x = ($this->cardiacsymptoms == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="cardiacsymptoms" value="1" <?php $x = ($this->cardiacsymptoms == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="cardiacsymptoms" value="2" <?php $x = ($this->cardiacsymptoms == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="cardiacsymptoms" value="3" <?php $x = ($this->cardiacsymptoms == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
    	</tr>
    </table>
    </div>

    <div class="weitereskomplexes ">
    <table>
    	<tr><td colspan="4"><span><b>Weiteres komplexes Geschehen / sonstiger Bedarf:</b></span></td></tr>
    	<tr>
	    	<td width="180px"><span>Ethische Konflikte</span></td>
	    	<td class="weitereskomplexesrad_td">
	    	<table class="radiooptions" border="1" >
	     	<tr>
		     	<td><input type="radio" name="ethicalconflicts" value="0" <?php $x = ($this->ethicalconflicts == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="ethicalconflicts" value="1" <?php $x = ($this->ethicalconflicts == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="ethicalconflicts" value="2" <?php $x = ($this->ethicalconflicts == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="ethicalconflicts" value="3" <?php $x = ($this->ethicalconflicts == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
	    	<td><span> Akute Krisensituation Patient</span></td>
	    	<td>
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="acutecrisispat" value="0" <?php $x = ($this->acutecrisispat == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="acutecrisispat" value="1" <?php $x = ($this->acutecrisispat == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="acutecrisispat" value="2" <?php $x = ($this->acutecrisispat == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="acutecrisispat" value="3" <?php $x = ($this->acutecrisispat == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
    	</tr>
    	<tr><td colspan="4">&nbsp;</td></tr>
    	<tr>
	    	<td><span>Palliativmedizin/Pflege </span></td>
	    	<td class="weitereskomplexesrad_td">
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="paliatifpflege" value="0" <?php $x = ($this->paliatifpflege == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="paliatifpflege" value="1" <?php $x = ($this->paliatifpflege == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="paliatifpflege" value="2" <?php $x = ($this->paliatifpflege == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="paliatifpflege" value="3" <?php $x = ($this->paliatifpflege == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
	    	<td><span >Unterstützungsbedarf privates Bezugssystem </span></td>
	    	<td  width="145px">
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="privatereferencesupport" value="0" <?php $x = ($this->privatereferencesupport == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="privatereferencesupport" value="1" <?php $x = ($this->privatereferencesupport == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="privatereferencesupport" value="2" <?php $x = ($this->privatereferencesupport == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="privatereferencesupport" value="3" <?php $x = ($this->privatereferencesupport == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
    	</tr>
    	<tr><td colspan="4">&nbsp;</td></tr>
    	<tr>
	    	<td><span style="line-height: 15px;">Betreuung/Beratung bei sozial- rechtlichen Problemen</span></td>
	    	<td class="weitereskomplexesrad_td">
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="sociolegalproblems" value="0" <?php $x = ($this->sociolegalproblems == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="sociolegalproblems" value="1" <?php $x = ($this->sociolegalproblems == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="sociolegalproblems" value="2" <?php $x = ($this->sociolegalproblems == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="sociolegalproblems" value="3" <?php $x = ($this->sociolegalproblems == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>
	     	</tr>
	     	</table>
	     	</td>
	    	<td><span style="line-height: 15px;">Sicherung der häuslichen Wohnumgebung durch Hilfsmittel und sonstige Hilfen</span></td>
	    	<td>
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="securelivingenvironment" value="0" <?php $x = ($this->securelivingenvironment == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="securelivingenvironment" value="1" <?php $x = ($this->securelivingenvironment == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="securelivingenvironment" value="2" <?php $x = ($this->securelivingenvironment == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="securelivingenvironment" value="3" <?php $x = ($this->securelivingenvironment == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
    	</tr>
    	<tr><td colspan="4">&nbsp;</td></tr>
    	<tr>
	    	<td><span style="line-height: 15px;">Koordination/Unterstützung des	weiteren Betreuungsnetzes</span></td>
	    	<td class="weitereskomplexesrad_td">
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="coordinationcare" value="0" <?php $x = ($this->coordinationcare == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="coordinationcare" value="1" <?php $x = ($this->coordinationcare == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="coordinationcare" value="2" <?php $x = ($this->coordinationcare == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="coordinationcare" value="3" <?php $x = ($this->coordinationcare == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
	    	<td>
			<span style="float: left; margin: 0px; padding: 0px;">Sonstiges:</span>
			<input type="text" name="complexeventsmore" value="<?php $x = (strlen($this->complexeventsmore)>0)? $this->complexeventsmore : ''; echo $x; ?>" style="margin:7px 0 0 0; float: left;" />
		</td>
	    	<td>
	    	<table class="radiooptions" border="1">
	     	<tr>
		     	<td><input type="radio" name="otherrequirements" value="0" <?php $x = ($this->otherrequirements == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>0</label></td>
		     	<td><input type="radio" name="otherrequirements" value="1" <?php $x = ($this->otherrequirements == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></td>
		     	<td><input type="radio" name="otherrequirements" value="2" <?php $x = ($this->otherrequirements == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></td>
		     	<td><input type="radio" name="otherrequirements" value="3" <?php $x = ($this->otherrequirements == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></td>

	     	</tr>
	     	</table>
	     	</td>
    	</tr>
    </table>
    </div>

    <h3>II. Abschluß und Kennzahlen der spez. ambulanten Palliativversorgung (SAPV)</h3>

      <div class="durchgefuhrteSAPV">
     	<span>Tatsächliche durchgeführte SAPV:</span>
     	<ul>
     	<li><input type="checkbox" name="actualconductedbe" value="1" <?php $x = ($this->actualconductedbe == "1")? 'checked="checked"' : ''; echo $x; ?> /><label> Beratung </label></li>
     	<li><input type="checkbox" name="actualconductedko" value="1" <?php $x = ($this->actualconductedko == "1")? 'checked="checked"' : ''; echo $x; ?> /><label> Koordination </label></li>
     	<li><input type="checkbox" name="actualconductedtv" value="1" <?php $x = ($this->actualconductedtv == "1")? 'checked="checked"' : ''; echo $x; ?> /><label> Teilversorgung </label></li>
     	<li><input type="checkbox" name="actualconductedvv" value="1" <?php $x = ($this->actualconductedvv == "1")? 'checked="checked"' : ''; echo $x; ?> /><label> Vollversorgung </label></li>
		</ul>
     </div>

      <div class="Beendigung">
		
     	<span>Beendigung der SAPV am:</span><input type="text" name="endSapvFall" class="datetype" value="<?php $x = ($this->endSapvFall != "0000-00-00 00:00:00")? date("d.m.Y", strtotime($this->endSapvFall)) : ''; echo $x; ?>" /><span>wegen:</span>
     </div>

       <div class="erstverordnung">
	     <table width="100%" cellpadding="0" cellspacing="0">
	     <tr>
	    	 <td>
			 <input type="checkbox" name="stabilization" value="1" <?php $x = ($this->stabilization == "1")? 'checked="checked"' : ''; echo $x; ?> />
			 <label> Stabilisierung </label>
		 </td>
	    	 <td style="width:250px">
			 <input type="checkbox" name="causaltherapy" value="1" <?php $x = ($this->causaltherapy == "1")? 'checked="checked"' : ''; echo $x; ?> />
			 <label> Kausaler Therapieansatz	 </label>
		 </td>
	    	 <td style="width:190px">
			 <input type="checkbox" name="regulationexpiration" value="1" <?php $x = ($this->regulationexpiration == "1")? 'checked="checked"' : ''; echo $x; ?> />
			 <label> Ablauf der Verordnung  </label>
		 </td>
	    	 <td>
			 <input type="checkbox" name="laying" value="1"  <?php $x = ($this->laying == "1")? 'checked="checked"' : ''; echo $x; ?> />
			 <label>Verlegung </label>
		 </td>
	     </tr>
	     <tr>
	    	 <td><input type="checkbox" name="deceased" value="1" <?php $x = ($this->deceased == "1")? 'checked="checked"' : ''; echo $x; ?> /><label> verstorben	</label></td>
	    	 <td><input type="checkbox" name="noneedsapv" value="1" <?php $x = ($this->noneedsapv == "1")? 'checked="checked"' : ''; echo $x; ?> /><label> Kein Bedarf für SAPV	</label></td>
	    	 <td><input type="checkbox" name="sapvterminationother" value="1" <?php $x = ($this->sapvterminationother == "1")? 'checked="checked"' : ''; echo $x; ?> /><label> Sonstiges</label></td>
	    	 <td> </td>
	     </tr>
	     </table>
     </div>
         <div class="SAPVBehandlungsziel">
    	<table>
    		<tr>
    			<td class="SAPVBehandlu_big"><span> SAPV-Realisierung aus Sicht des Dienstes erfolgreich:</span></td>
    			<td style="width:74px"><input type="radio" name="sapvstatusja" value="1" <?php $x = ($this->sapvstatusja == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>ja</label></td>
    			<td style="width:100px"><input type="radio" name="sapvstatusja" value="2" <?php $x = ($this->sapvstatusja == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>nein</label></td>
    			<td style="width:90px"><input type="radio" name="sapvstatusja" value="3" <?php $x = ($this->sapvstatusja == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>teilweise</label></td>
    			<td><input type="radio" name="sapvstatusja" value="4" <?php $x = ($this->sapvstatusja == "4")? 'checked="checked"' : ''; echo $x; ?> /><label>unbekannt</label></td>
    			<td></td>
    		</tr>
    	</table>
    </div>
      <div class="pflegestufetop">
 		<span class="Pflegestufespn">Pflegestufe:</span>
 		<span class="pflegestufe_kein"><input type="checkbox" name="stagelastkeine" value="keine" <?php $x = ($this->stagelastkeine == "keine")? 'checked="checked"' : ''; echo $x; ?> /><label>keine</label></span>
 		<span class="pflegestufe_nr"><input type="checkbox" name="stagelastone" value="1" <?php $x = ($this->stagelastone == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></span>
 		<span class="pflegestufe_nr"><input type="checkbox" name="stagelasttwo" value="2" <?php $x = ($this->stagelasttwo == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></span>
 		<span class="pflegestufe_nr"><input type="checkbox" name="stagelastthree" value="3" <?php $x = ($this->stagelastthree == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></span>
 		<span class="hoherstufung">Erstantrag/Höherstufung:</span>
 		<span class="pflegestufe_beantragt2"><input type="checkbox" name="lastbeantragt" value="1" <?php $x = ($this->lastbeantragt == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>beantragt</label></span>
 		<span class="pflegestufe_nicbeantragt"><input type="checkbox" name="nlastbeantragt" value="1" <?php $x = ($this->nlastbeantragt == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>nicht beantragt</label></span>
     </div>
     <div class="Verstorbenen">
	     <table width="100%" cellpadding="0" cellspacing="0" border="1">
		<tr><td colspan="3"><span style="width: 100%;"><b>Zusätzliche Angaben bei unter TV/VV - SAPV Verstorbenen: </b></span></td></tr>
	     <tr>
	    	 <td width="250px"><input type="checkbox" name="homedead" value="1" <?php $x = ($this->homedead == "1")? 'checked="checked"' : ''; echo $x; ?>  /><label> im häuslichen Umfeld verstorben </label></td>
	    	 <td><input type="checkbox" name="heimdead" value="4" <?php $x = ($this->heimdead == "4")? 'checked="checked"' : ''; echo $x; ?>  /><label> im Heim verstorben	 	 </label></td>
	    	 <td><input type="checkbox" name="hospizdead" value="3" <?php $x = ($this->hospizdead == "3")? 'checked="checked"' : ''; echo $x; ?>  /><label> im Hospiz verstorben </label></td>
	     </tr>
	     <tr>
			<td><input type="checkbox" name="palliativdead" value="5" <?php $x = ($this->palliativdead == "5")? 'checked="checked"' : ''; echo $x; ?>  /><label> auf Palliativstation verstorben </label></td>
			<td colspan="2"><input type="checkbox" name="krankendead" value="2" <?php $x = ($this->krankendead == "2")? 'checked="checked"' : ''; echo $x; ?>  /><label> im Krankenhaus verstorben</label></td>
	     </tr>
	     <tr>
	    	 <td colspan="3"><span class="SterbeortnWunsch">Sterbeort n. Wunsch:</span>
			 <div class="wunsch">
				 <div class="wunsch_ja"><input type="radio" name="deathwishja" value="1" <?php $x = ($this->deathwishja == "1")? 'checked="checked"' : ''; echo $x; ?>  /><label>ja</label></div>
				 <div class="wunsch_nein"><input type="radio" name="deathwishja" value="2" <?php $x = ($this->deathwishja == "2")? 'checked="checked"' : ''; echo $x; ?>   /><label>nein</label></div>
				 <div class="wunsch_unbekannt"><input type="radio" name="deathwishja" value="3" <?php $x = ($this->deathwishja == "3")? 'checked="checked"' : ''; echo $x; ?> /><label> unbekannt/unbestimmt</label></div>
			 </div>
		 </td>

	     </tr>
	     </table>
     </div>

     <div class="WeitereAngaben">
     	<div class="tagemit">
     		<label class="tagemitlbl">Tage mit 24h-Bereitschaft: </label>
			<input type="text" name="bereitschft" value="<?php echo $this->bereitschft; ?>" />
     		&nbsp;&nbsp;<label class="inTagen">Intermittierung in Tagen: </label>
			<input type="text" name="allhospitaldays" value="<?php echo $this->allhospitaldays; ?>" /><?php echo $this->allhospitaldays_old; ?>
     	</div>
     	<div class="tagemit">
     		<label class="BesuchePC">Besuche PC-Team, gesamt: </label><input type="text" name="besuche" value="<?php echo $this->besuche; ?>" />
     	</div>

     <div class="Notarzteinsatze­­">
     	<span>Notarzteinsätze TV/VV:</span>
     	<span class="Notarzteinsatze­­_kein"><input type="checkbox" name="hospitalwithNotarz" value="0" <?php $x = ($this->hospitalwithNotarz == "0")? 'checked="checked"' : ''; echo $x; ?> /><label>keine</label></span>
 		<span class="Notarzteinsatze­­_nr"><input type="checkbox" name="hospitalwithNotarz" value="1" <?php $x = ($this->hospitalwithNotarz == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></span>
 		<span class="Notarzteinsatze­­_nr"><input type="checkbox" name="hospitalwithNotarz" value="2" <?php $x = ($this->hospitalwithNotarz == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></span>
 		<span class="Notarzteinsatze­­_nr"><input type="checkbox" name="hospitalwithNotarz" value="3" <?php $x = ($this->hospitalwithNotarz == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></span>
 		<span class="Notarzteinsatze­­_nr"><input type="checkbox" name="hospitalwithNotarz" value="4" <?php $x = ($this->hospitalwithNotarz == "4")? 'checked="checked"' : ''; echo $x; ?> /><label>4</label></span>
 		<span class="Notarzteinsatze­­_nr"><input type="checkbox" name="hospitalwithNotarz" value="5" <?php $x = ($this->hospitalwithNotarz == "5")? 'checked="checked"' : ''; echo $x; ?> /><label>5</label></span>
 		<span class="Notarzteinsatze­­_nr"><input type="checkbox" name="hospitalwithNotarz" value="6" <?php $x = ($this->hospitalwithNotarz > "5")? 'checked="checked"' : ''; echo $x; ?> /><label>&gt;5</label></span>
     </div>
     <div class="Einweisungen">
     	<span>KH-Einweisungen TV/VV:</span>
     	<span class="Einweisungen_kein"><input type="checkbox" name="hospitalwithoutNotarz" value="0" <?php $x = ($this->hospitalwithoutNotarz == "0")? 'checked="checked"' : ''; echo $x; ?>  /><label>keine</label></span>
 		<span class="Einweisungen_nr"><input type="checkbox" name="hospitalwithoutNotarz" value="1" <?php $x = ($this->hospitalwithoutNotarz == "1")? 'checked="checked"' : ''; echo $x; ?> /><label>1</label></span>
 		<span class="Einweisungen_nr"><input type="checkbox" name="hospitalwithoutNotarz" value="2" <?php $x = ($this->hospitalwithoutNotarz == "2")? 'checked="checked"' : ''; echo $x; ?> /><label>2</label></span>
 		<span class="Einweisungen_nr"><input type="checkbox" name="hospitalwithoutNotarz" value="3" <?php $x = ($this->hospitalwithoutNotarz == "3")? 'checked="checked"' : ''; echo $x; ?> /><label>3</label></span>
 		<span class="Einweisungen_nr"><input type="checkbox" name="hospitalwithoutNotarz" value="4" <?php $x = ($this->hospitalwithoutNotarz == "4")? 'checked="checked"' : ''; echo $x; ?> /><label>4</label></span>
 		<span class="Einweisungen_nr"><input type="checkbox" name="hospitalwithoutNotarz" value="5" <?php $x = ($this->hospitalwithoutNotarz == "5")? 'checked="checked"' : ''; echo $x; ?> /><label>5</label></span>
 		<span class="Einweisungen_nr"><input type="checkbox" name="hospitalwithoutNotarz" value="6" <?php $x = ($this->hospitalwithoutNotarz > "5")? 'checked="checked"' : ''; echo $x; ?> /><label>&gt;5</label></span>
     </div>
    </div>
    <div class="rightstamp">
    	<div class="allwhite">&nbsp;</div>
    	<span>Palliativarzt / Palliative Care Fachkraft	</span>
    </div>
	<div class="WeitereAngaben">
		<div class="Einweisungen">
			<span><label for="export_ready"><?php echo $this->translate('sapv_bulk_export_ready') ?></label></span>
			<span class="Einweisungen_kein">
				<input type="checkbox" name="export_ready" id="export_ready" value="1" <?php $x = ($this->export_ready == "1") ? 'checked="checked"' : ''; echo $x; ?>  />
			</span>
		</div>
	</div>
</div>
<br />
<br />
<br />
<input name="btnsubmit" type="submit" value="<?php echo $this->translate('generatepdf')?>" />&nbsp;&nbsp;
<input name="btnsave" type="submit" value="<?php echo $this->translate('save')?>" />&nbsp;&nbsp;
<input name="btnexport" type="submit" value="<?php echo $this->translate('formone_export')?>" />&nbsp;&nbsp;
<input name="btnreset" type="submit" value="<?php echo $this->translate('reset')?>" />
    </div>
</form>