<?php 
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/palliative_emergency_style.css');
$palliative = $this->palliative;
?>
<script type="text/javascript">
	$(function() {
		$('form').submit(function() {
			setTimeout(function () {$('input[type=submit]').attr('disabled', true);}, 150);
			setTimeout(function () {$('input[type=submit]').attr('disabled', false);}, 11000);
		});	 				
	});
</script>

<style>
.td_top{
padding: 0;
vertical-align: top;
}
</style>

 <form action="" method="post" name="mdkschneform" id="mdkschneform">
    <div id="stammblatt_CalendarImg" style="display: none;">
	<img id="calImg" src="<?php echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger">
</div>
<?php echo $this->patientinfo ?>
<?php echo $this->tabmenus ?>
<div id="stammblatt_tabContainer" class="tab_container">


<table width="100%" class="palliative_emergency" cellpadding="0" cellspacing="0"  >
<tr>
	<td colspan="2" style="font-size: 26px; border:0;" >
		<b>PALLIATIV - NOTFALLBOGEN</b>
	</td>
</tr>
</table>

<table border="1" width="100%" class="palliative_emergency" >
<!--  #1 --> 
 	<tr>
 		<td width="50%">
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Name, Vorname </b></td>
 					<td><input type="text" name="palliative[patient_name]"  value="<?php echo $palliative['patient_name']?>" /></td>
 				</tr>
 			</table>
 		</td>
 		
 		
 		<td width="50%">
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Palliativpflegedienst (Name, Tel.)</b></td>
 					<td><textarea name="palliative[pflege_ppd_details]"><?php echo $palliative['pflege_ppd_details']?></textarea></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 	
<!--  #2 -->
 	<tr>
 		<td width="50%">
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Geb. – Datum  </b></td>
 					<td><input type="text" name="palliative[birth]"  value="<?php echo $palliative['birth']?>" /></td>
 				</tr>
 			</table>
 		</td>
 		
 		
 		<td width="50%">
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Palliativmediziner (Name, Tel.)</b></td>
 					<td><textarea name="palliative[assigned_details]"><?php echo $palliative['assigned_details']?></textarea></td>
 				</tr>
 			</table>
 		</td>
 	</tr>

<!--  #3 -->
 	<tr>
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Strasse</b></td>
 					<td><input type="text" name="palliative[street]"  value="<?php echo $palliative['street']?>" /></td>
 				</tr>
 			</table>
 		</td>
 		
 		
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Hausarzt (Name, Tel.)</b></td>
 					 <td><textarea name="palliative[family_doc_details]"><?php echo $palliative['family_doc_details']?></textarea></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
<!--  #4 -->
 	<tr>
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>PLZ, Ort  </b></td>
 					<td><input type="text" name="palliative[zip_city]"  value="<?php echo $palliative['zip_city']?>" /></td>
 				</tr>
 			</table>
 		</td>
 		
 		
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Hauskrankenpflege (Name, Tel.)</b></td>
					<td><textarea name="palliative[pflege_details]"><?php echo $palliative['pflege_details']?></textarea></td> 					
 				</tr>
 			</table>
 		</td>
 	</tr>
 
<!--  #5.1 -->
 	<tr>
 		<td rowspan="4">
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Diagnosen </b></td>
 					<td><textarea name="palliative[diagnosen]" rows="" cols="" class="diagnosen"><?php echo $palliative['diagnosen']?></textarea></td>
 				</tr>
 			</table>
 		</td>
 		
 		
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Ambulanter Hospizdienst (Tel.)</b></td>
 					<td><textarea name="palliative[amb_hospiz_details]"><?php echo $palliative['amb_hospiz_details']?></textarea></td> 			
 				</tr>
 			</table>
 		</td>
 	</tr>

 
<!--  #5.2 -->
 	<tr>
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Seelsorge (Name, Tel.)</b></td>
 					<td><input type="text" name="palliative[seelsorge]"  value="<?php echo $palliative['seelsorge']?>" /></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
 
 
 
<!--  #5.3 -->
 	<tr>
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Hospizanmeldung (Name, Tel.)</b></td>
 					<td><input type="text" name="palliative[hospize_app]"  value="<?php echo $palliative['hospize_app']?>" /></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
 
 
<!--  #5.4 -->
 	<tr>
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%">KV - Notdienstnummer</td>
 					<td><input type="text" name="palliative[kv_emergency_call]"  value="<?php echo $palliative['kv_emergency_call']?>" /></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
 
<!--  #6.1 -->
 	<tr>
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Palliativmedizinische Probleme </b></td>
 					<td>
 						<input type="text" name="palliative[palliative_problem_a]"  value="<?php echo $palliative['palliative_problem_a']?>" />
 					</td>
 				</tr>
 			</table>
 		</td>
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%">Rettungsdienst</td>
 					<td>
					 	<input type="text" name="palliative[kv_rescue]"  value="<?php echo $palliative['kv_rescue']?>" />		
 					</td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
<!--  #6.2-->
 	<tr>
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>&nbsp;</b></td>
 					<td>
 						<input type="text" name="palliative[palliative_problem_b]"  value="<?php echo $palliative['palliative_problem_b']?>" />
 					</td>
 				</tr>
 			</table>
 		</td>
 		
 		<td rowspan="2">
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Technischer Notdienst (z.B. O2)</b></td>
 					<td>
					 	<textarea name="palliative[technical_emergency]"><?php echo $palliative['technical_emergency']?></textarea>		
 					</td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
<!--  #6.3 -->
 	<tr>
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>&nbsp;</b></td>
 					<td>
						<input type="text" name="palliative[palliative_problem_c]"  value="<?php echo $palliative['palliative_problem_c']?>" />	
 					</td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
<!--  #6.4 -->
 	<tr>
 		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>&nbsp;</b></td>
 					<td>
 						<input type="text" name="palliative[palliative_problem_d]"  value="<?php echo $palliative['palliative_problem_d']?>" />
 					</td>
 				</tr>
 			</table>
 		</td>
		<td>
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Letzter Klinikaufenthalt</b></td>
 					<td>
						<input type="text" name="palliative[last_hospital_stay]"  value="<?php echo $palliative['last_hospital_stay']?>" />	
 					</td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
 
 
<!--  #7.1 -->
 	<tr>
 		<td>
 			 <table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Besonderheiten (z. B. Port, PEG, Allergie)</b></td>
 					<td><input type="text" name="palliative[feature_a]"  value="<?php echo $palliative['feature_a']?>" /></td>
 				</tr>
 			</table>
 		</td>
 		
 		<td rowspan="2">
 			<table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>Einrichtung / Abteilung</b></td>
 					<td>
					 	<input type="text" name="palliative[last_hospital_name]"  value="<?php echo $palliative['last_hospital_name']?>" />
 					</td>
 				</tr>
 			</table>
 		</td>
 	</tr>
<!--  #7.2 -->
 	<tr>
 		<td>
 			 <table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>&nbsp;</b></td>
 					<td><input type="text" name="palliative[feature_b]"  value="<?php echo $palliative['feature_b']?>" /></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
<!--  #7.2 -->
 	<tr>
 		<td>
 			 <table width="100%">
 				<tr>
 					<td class="td_label" width="40%"><b>&nbsp;</b></td>
 					<td><input type="text" name="palliative[feature_c]"  value="<?php echo $palliative['feature_c']?>" /></td>
 				</tr>
 			</table>
 		</td>
 	
 		<td>
 			<table width="100%">
 				<tr>
 					<td colspan="2" class="td_label yellow"><b>Lebensverlängernde Maßnahmen:</b> Nur <b>EINE</b> Antwort ankreuzen <b>!</b> (sonst ungültig): </td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
<!--  #8 colors-->
 	<tr>
 		<td>
 			 <table width="100%">
 				<tr>
 					<td class="td_label yellow" width="40%" height="34px"><b>Patientenverfügung</b></td>
 					<td width="60%" height="34px">
						<table width="100%"   class="force_border" style="height: 100%;">
							<tr>
								<td width="20%" align="center" style="text-align: center;"><b>JA</b></td>
								<td width="25%" align="center" style="text-align: center;" class="red"><input type="radio" name="palliative[living_will]" value="1" <?php if($palliative['living_will'] == "1"):?>  checked="checked" <?php endif;?>  /></td>
								<td width="35%" align="center" style="text-align: center;"><b>NEIN</b></td>
								<td width="25%" align="center" style="text-align: center;" class="green"> <input type="radio" name="palliative[living_will]" value="0" <?php if($palliative['living_will'] == "0"):?>  checked="checked" <?php endif;?>  /></td>
							</tr>
						</table>
					</td>
 				</tr>
 			</table>
 		</td>
 	
 		<td height="34px">
 			<table width="100%"   class="force_border" style="height: 100%;">
 				<tr>
 					<td class="td_label yellow" width="90%"><b>Notfall- u. Intensivtherapie + Reanimation (alle Maßnahmen)</b></td>
 					<td class="td_label green" width="10%" align="center"><input type="checkbox" name="palliative[life_prolonging_all_mesures]" value="1" <?php if($palliative['life_prolonging_all_mesures'] == "1"):?>  checked="checked" <?php endif;?>  /></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
<!--  #9 colors-->
 	<tr>
 		<td>
 			 <table width="100%">
 				<tr>
 					<td class="td_label yellow" width="40%"  height="34px"><b>Vorsorgevollmacht</b></td>
 					<td  height="34px">
						<table border="1" width="100%"  class="force_border" style="height: 100%;">
							<tr>
								<td width="20%" align="center" style="text-align: center;"><b>JA</b></td>
								<td width="25%" align="center" style="text-align: center;" class="red"><input type="radio" name="palliative[cnt_legal]" value="1" <?php if($palliative['cnt_legal'] == "1"):?>  checked="checked" <?php endif;?>  /></td>
								<td width="35%" align="center" style="text-align: center;"><b>NEIN</b></td>
								<td width="25%" align="center" style="text-align: center;" class="green"> <input type="radio" name="palliative[cnt_legal]" value="0" <?php if($palliative['cnt_legal'] == "0"):?>  checked="checked" <?php endif;?>  /></td>
							</tr>
						</table>
					</td>
 				</tr>
 			</table>
 		</td>
 	
 		<td>
 			<table width="100%"   class="force_border"  height="34px">
 				<tr>
 					<td class="td_label yellow" width="90%"><b>Keine Reanimation</b></td>
 					<td class="td_label green" width="10%"><input type="checkbox" name="palliative[life_prolonging_no_resuscitation]" value="1"  <?php if($palliative['life_prolonging_no_resuscitation'] == "1"):?>  checked="checked" <?php endif;?>  /></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
<!--  #10 colors-->
 	<tr>
 		<td>
 			 <table width="100%">
 				<tr>
 					<td class="td_label yellow" width="40%"  height="34px"><b>Betreuungsurkunde</b></td>
 					<td  height="34px">
						<table border="1" width="100%"  class="force_border" style="height: 100%;">
							<tr>
								<td width="20%" align="center" style="text-align: center;"><b>JA</b></td>
								<td width="25%" align="center" style="text-align: center;" class="red"><input type="radio" name="palliative[care_document]" value="1" <?php if($palliative['care_document'] == "1"):?>  checked="checked" <?php endif;?>  /></td>
								<td width="35%" align="center" style="text-align: center;"><b>NEIN</b></td>
								<td width="25%" align="center" style="text-align: center;" class="green"> <input type="radio" name="palliative[care_document]" value="0" <?php if($palliative['care_document'] == "0"):?>  checked="checked" <?php endif;?>  /></td>
							</tr>
						</table>
					</td>
 				</tr>
 			</table>
 		</td>
 	
 		<td>
 			<table width="100%"   class="force_border"  height="34px">
 				<tr>
 					<td class="td_label yellow" width="90%">Keine Reanimation, <b>Keine invasive Beatmung</b></td>
 					<td class="td_label green" width="10%"><input type="checkbox" name="palliative[life_prolonging_no_ventilation]" value="1" <?php if($palliative['life_prolonging_no_ventilation'] == "1"):?>  checked="checked" <?php endif;?>  /></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
<!--  #11 colors-->
 	<tr>
 		<td>
 			 <table width="100%">
 				<tr>
 					<td class="td_label yellow" width="40%" style="height: 55px;"><b>Dokumente WO hinterlegt?</b></td>
 					<td style="height: 55px;">
 						<table width="100%"  class="force_border" style="height: 100%;">
 						<tr>
 							<td>
								<textarea name="palliative[living_will_more]"><?php echo $palliative['living_will_more']; ?></textarea>
 							</td>
 						</tr>	
 						</table>
					</td>
 				</tr>
 			</table>
 		</td>
 	
 		<td style="height: 55px;">
 			<table width="100%"   class="force_border" style="height: 100%">
 				<tr>
 					<td class="td_label yellow" width="90%">Keine Reanimation, Keine invasive Beatmung, <b>Keine Behandlung auf ITS</b></td>
 					<td class="td_label green" width="10%"><input type="checkbox" name="palliative[life_prolonging_no_icu]" value="1" <?php if($palliative['life_prolonging_no_icu'] == "1"):?>  checked="checked" <?php endif;?> /></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 <!--  #12 colors-->
 	<tr>
 		<td>
 			 <table width="100%" height="100%">
 				<tr>
 					<td class="td_label yellow" width="40%" height="66px"><b>Aufklärung Patient zu Diagnose u. Prognose</b></td>
 					<td  height="66px">
						<table border="1" width="100%" class="force_border" style="height: 100%;">
							<tr>
								<td width="20%" align="center" style="text-align: center;"><b>JA</b></td>
								<td width="25%" align="center" style="text-align: center;" class="red"><input type="radio" name="palliative[patient_diagno_edu]" value="1" <?php if($palliative['patient_diagno_edu'] == "1"):?>  checked="checked" <?php endif;?>  /></td>
								<td width="35%" align="center" style="text-align: center;"><b>NEIN</b></td>
								<td width="25%" align="center" style="text-align: center;" class="green"> <input type="radio" name="palliative[patient_diagno_edu]" value="0" <?php if($palliative['patient_diagno_edu'] == "0"):?>  checked="checked" <?php endif;?>  /></td>
							</tr>
						</table>
					</td>
 				</tr>
 			</table>
 		</td>
 	
 		<td  height="66px">
 			<table width="100%"   class="force_border"  style="height: 100%;">
 				<tr>
 					<td class="td_label yellow" width="90%">Keine Reanimation, Keine invasive Beatmung, Keine Behandlung auf ITS, <b>Keine Mitnahme ins Krankenhaus</b> (ambulante Therapie)</td>
 					<td class="td_label green" width="10%"><input type="checkbox" name="palliative[life_prolonging_no_hospital]" value="1" <?php if($palliative['life_prolonging_no_hospital'] == "1"):?>  checked="checked" <?php endif;?> /></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
 <!--  #13 colors -->
 	<tr>
 		<td>
 			 <table width="100%">
 				<tr>
 					<td class="td_label yellow" width="40%"  height="45px"><b>Aufklärung Angehörige zu Diagnose u. Prognose</b></td>
 					<td  height="45px">
						<table border="1" width="100%"  class="force_border" style="height: 100%;">
							<tr>
								<td width="20%" align="center" style="text-align: center;"><b>JA</b></td>
								<td width="25%" align="center" style="text-align: center;" class="red"><input type="radio" name="palliative[member_diagno_edu]" value="1" <?php if($palliative['member_diagno_edu'] == "1"):?>  checked="checked" <?php endif;?>  /></td>
								<td width="35%" align="center" style="text-align: center;"><b>NEIN</b></td>
								<td width="25%" align="center" style="text-align: center;" class="green"> <input type="radio" name="palliative[member_diagno_edu]" value="0" <?php if($palliative['member_diagno_edu'] == "0"):?>  checked="checked" <?php endif;?>  /></td>
							</tr>
						</table>
					</td>
 				</tr>
 			</table>
 		</td>
 		<td height="45px">
 			<table width="100%"   class="force_border"  style="height: 100%;">
 				<tr> 
 					<td class="td_label yellow" width="90%"><b>Ausschließlich ambulante palliative (lindernde) Maßnahmen</b></td>
 					<td class="td_label green" width="10%"><input type="checkbox" name="palliative[life_prolonging_palliative]" value="1" <?php if($palliative['life_prolonging_palliative'] == "1"):?>  checked="checked" <?php endif;?> /></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
 <!--  #14 -->
 	<tr>
 		<td rowspan="4">
 			<table width="100%">
 				<tr>
 					<td class="td_label td_top" width="40%"><b>Nächster Angehöriger<br/>(Name, Adresse, Telefon)</b></td>
 					<td><textarea name="palliative[cnt_first_details]"  cols="28" rows="10"><?php echo $palliative['cnt_first_details']?></textarea></td>
 				</tr>
 			</table>
 		</td>
 		<td> &nbsp;	</td>
 	</tr>
 
 
 
 <!--  #15 -->
 	<tr>
 		<td rowspan="3">
 			<table width="100%">
 				<tr>
 					<td class="td_label td_top" width="40%"><b>Aktuelle (palliative) Bedarfsmedikation</b></td>
 					<td> <textarea name="palliative[bedarf_medication]" cols="28" rows="15"><?php echo $palliative['bedarf_medication']?></textarea></td>
 				</tr> 
 			</table>
 		</td>
 	</tr>
 
 
 <!--  #16 -->
 	<tr>

 	</tr>
 
 
 <!--  #17 -->
 	<tr>
 	</tr>
 
 <!--  #18 -->
 	<tr> 
 		<td>&nbsp;</td>
 		<td>&nbsp;</td>
 	</tr>
 
 <!--  #19 -->
 	<tr>
 		<td rowspan="4">
 			<table width="100%">
 				<tr>
 					<td class="td_label td_top" width="40%"><b>Bevollmächtigter / Betreuer<br/>(Name, Geb.-Datum, Adresse, Tel.) </b><br/>
 						<b><small style="font-size: 8px">(Der Bevollmächtigter gem. §1896 Abs. 2 BGB ist bei Einwilligungsunfähigkeit zur Umsetzung meines in dieser Verfügung bestimmten Willens ernannt)</small></b>
 					</td>
 					
 					<td>
 						<textarea name="palliative[cnt_legal_details]"  cols="28" rows="15"><?php echo $palliative['cnt_legal_details']?></textarea>
					</td>
 				</tr>
 			</table>
 		</td>
 		<td> &nbsp;	</td>
 	</tr>
  <!--  #20 -->
 	<tr>
 		<td rowspan="3">
 			<table width="100%">
 				<tr>
 					<td class="td_label td_top" width="40%"><b>Aktuelle Pumpengesteuerte Medikation</b></td>
 					<td> <textarea name="palliative[schmerzp_medication]"  cols="28" rows="15"><?php echo $palliative['schmerzp_medication']?></textarea></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 
 
 <!--  #21 -->
 	<tr>

 	</tr>
 
 
 <!--  #22 -->
 	<tr>
 	</tr>
 
 <!--  #23 -->
 
 	<tr> 
 	
 		<td width="50%">
			<table>
			<tr>
					<td colspan="5"  style="font-size: 8px; line-height:12px; font-weight: 800;">
						&nbsp;
					<br/>&nbsp;
					</td>
				</tr>
				<tr>
					<td style="border-bottom: 1px solid #000;"> <?php echo date('d.m.Y'); ?> </td>
					<td>&nbsp;</td>
					<td style="border-bottom: 1px solid #000;"> <?php echo $palliative['patient_name']; ?></td>
					<td>&nbsp;</td>
					<td style="border-bottom: 1px solid #000;"> &nbsp;</td>
				</tr>
				<tr>
					<td width="15%" style="font-size: 8px;"><small>Datum</small></td>          
					<td>&nbsp;</td>
					<td width="40%" style="font-size: 8px;"><small>Name</small></td>                                                          
					<td>&nbsp;</td>
					<td width="45%" style="font-size: 8px;"><small>Unterschrift Patient/Bevollmächtigter</small></td>
				</tr>
				<tr>
					<td colspan="5"  style="font-size: 8px; line-height:12px; font-weight: 800;">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="5"  style="font-size: 8px; line-height:12px; font-weight: 800;">
						<small><b>(Der Notfallbogen entspricht der gültigen Gesetzgebung zu Patientenverfügungen §1901a Abs. 1-5 BGB)</b></small>
					</td>
				</tr>
			</table>
		</td>
		
 		<td width="50%">
			<table>
			<tr>
					<td colspan="3"  style="font-size: 8px; line-height:12px; font-weight: 800;">
					Aufklärung bei Erstellung des Bogens durch:
					<br/>&nbsp;
				 
					</td>
				</tr>
				<tr>
					<td style="border-bottom: 1px solid #000;"> <?php echo date('d.m.Y'); ?> </td>
					<td>&nbsp; </td>
					<td style="border-bottom: 1px solid #000;"> &nbsp;</td>
				</tr>
				<tr>
					<td  style="font-size: 8px; line-height:12px;"><small>Datum</small></td>          
					<td></td>                                                          
					<td style="font-size: 8px;  line-height:12px;"><small>Stempel und Unterschrift des Arztes </small></td>
				</tr>
				<tr>
					<td colspan="3"  style="font-size: 8px; line-height:12px; font-weight: 800;">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="3" style="font-size: 8px; line-height:12px; font-weight: 800;">
						<small><b>(mögliche Konsequenzen, die sich aus der Ablehnung medizinischer Maßnahmen ergeben, wurden dem Patienten erläutert; die volle Einsichts- und Einwilligungsfähigkeit des Patienten lag zum Zeitpunkt der Erstellung vor)</b></small>
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	
</table>
 
 
 

<div class="kvno_buttons">
<input name="ple_id" type="hidden" value="<?php echo $palliative['ple_id']; ?>" />
<input name="create_new" id="create_new" type="hidden" value="0" />


<input name="btnsave"   id="btnsubmit" type="submit" value="<?php echo $this->translate('save') ?>" />&nbsp;&nbsp;
<input name="btnsubmit" id="generate_pdf"  type="submit" value="<?php echo $this->translate('generatepdf') ?>" class="btnsubmit_usersessions"/>


 
 </div>
</div>
</form>
