<?php
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/patientstammblattsapv_style.css');
?>
<script type="text/javascript">
		$(document).ready( 

			 function() {
				$('form').submit(function() {
					setTimeout(function () {$('input[type=submit]').attr('disabled', true);}, 150);
					setTimeout(function () {$('input[type=submit]').attr('disabled', false);}, 8000);
				});
				
				$('#entlasung_date, #datum_der_erfassung1, #datum_der_erfassung2').datepicker({
					dateFormat: 'dd.mm.yy',
					showOn: "both",
					buttonImage: $('#calImg').attr('src'),
					buttonImageOnly: true,
					changeMonth: true,
					changeYear: true,
					nextText: '',
					prevText: ''
				});
});
</script>
 <form action="" method="post" name="stammblattsapv">
    <div id="stammblatt_CalendarImg" style="display: none;">
	<img id="calImg" src="<?php echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger">
</div>
<?php echo $this->patientinfo ?>
<?php echo $this->tabmenus ?>
<div id="stammblatt_tabContainer" class="tab_container">

<span class="stamm_header">PATIENTENSTAMMBLATT</span>
<table border="1"  class="stammblattsapv_table">
<tr>
	<td colspan="2">
		<table  class="stmpatinfo_table">
			<tr>
				<td class="jalf"><span class="stm_lbl_big">Name, Vorname:</span></td>
				<td><span class="stm_lbl_big">Geb.-Datum:</span></td>
			</tr>
			
			<tr>
				<td><span class="variable_pat"> <?php echo $this->lastname.', '.$this->firstname; ?> </span></td>
				<td><span class="variable_pat"> <?php echo $this->birth; ?> </span></td>
			</tr>
			
			<tr>
				<td><span class="stm_lbl_big">Wohnort:</span><span class="spnvar"> <?php echo $this->zip.' '.$this->patcity; ?> </span></td>
				<td>&nbsp;</td>
			</tr>
			
			<tr>
				<td><span class="stm_lbl_big">Straße:</span><span class="spnvar"> <?php echo $this->street; ?> </span></td>
				<td><span class="stm_lbl_small">Tel.:</span><span class="vallsmall"><input type="text" name="pattel" value="<?php echo $this->pattel; ?>" /> </span><span class="stm_lbl_small">Handy: </span><span class="vallsmall"><input type="text" name="pathandy" value="<?php echo $this->pathandy; ?>" /></span></td>
			</tr>
		</table>
	</td>

</tr>
<tr>
	<td colspan="2">
		<table class="stamd_details"  >
			<tr>
				<td  style="border-right: 0px solid #000; width: 51%; " >
					<table >
						<tr>
							<td><span class="stm_lbl_big">Angehörige:</span></td>
						</tr>
						<tr>
							<td><span class="variable_pat"> <?php echo $this->cntpers1name; ?> </span></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><span class="stm_lbl_small">Tel.:</span><span class="vallsmall"><input type="text" name="cntpers1tel" value="<?php echo $this->cntpers1tel; ?>"/></span><span class="stm_lbl_small">Handy: </span><span class="vallsmall"><input type="text" name="cntpers1handy" value="<?php echo $this->cntpers1handy; ?>"/> </span></td>
						</tr>
					</table>
				</td>
				<td>
					<table >
						<tr>
							<td><span class="stm_lbl_big">Angehörige:</span></td>
						</tr>
						<tr>
							<td><span class="variable_pat"> <?php echo $this->cntpers2name; ?> </span></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><span class="stm_lbl_small">Tel.:</span><span class="vallsmall"><input type="text" name="cntpers2tel" value="<?php echo $this->cntpers2tel; ?>"/></span><span class="stm_lbl_small">Handy: </span><span class="vallsmall"><input type="text" name="cntpers2handy" value="<?php echo $this->cntpers2handy; ?>"/> </span></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	 </td>
</tr>

<tr>
<td colspan="2">
	<table class="healtinsurance">
		<tr>
			<td><span class="stm_lbl_big">Krankenkasse:</span></td>
			<td class="jalf"><span class="stm_lbl_big">Vers. Nummer:</span><span class="spnvar"> <? echo $this->healthinsurance_versnr; ?> </span></td>
		</tr>
		<tr>
			<td><span class="spnvar"> <? echo $this->healthinsurance_company; ?> </span></td>
			<td></td>
		</tr>
		
		<tr>
			<td><span class="stm_lbl_big">KK-Nr.:</span> <span class="spnvar"> <? echo $this->healthinsurance_kknr; ?> &nbsp;</span></td>
			<td><span class="variable_pat">&nbsp;</span></td>
		</tr>
		
		
		<tr>
			<td><span class="stm_lbl_small" >KK Tel.:</span><span class="vallsmall"> <? echo $this->healthinsurance_companytel; ?> &nbsp; </span><span class="stm_lbl_small">Fax.: </span><span class="vallsmall"> <? echo $this->healthinsurance_companyfax; ?> </span></td>
			<td>&nbsp;</td>
		</tr>
		 
	</table>
</td>
</tr>



<tr>
	<td colspan="2">
		<table class="doctor">
		
			<tr>
				<td><span class="stm_lbl_big">Hausarzt:</span></td>
			</tr>
			
			<tr>
				<td><span class="variable_doctor"> <?php echo $this->hausarzt_details; ?> </span></td>
			</tr>
			
			<tr>
				<td>&nbsp;</td>
			</tr>
			
			<tr>
				<td><span class="stm_lbl_small">Tel.:</span><span class="vallsmall"> <input type="text" name="hausarzt_tel" value="<?php echo $this->hausarzt_tel; ?>"/></span><span class="stm_lbl_small">Fax: </span><span class="vallsmall"><input type="text" name="hausarzt_fax" value="<?php echo $this->hausarzt_fax; ?>"/> </span></td>
			</tr>
		
		</table>
	</td>
</tr>
<tr>
	<td colspan="2">
		<table class="doctor">
		
			<tr>
				<td><span class="stm_lbl_big">Pflegedienst:</span></td>
			</tr>
			
			<tr>
				<td><span class="variable_doctor"> <?php echo $this->pflegedienst_details; ?></span></td>
			</tr>
			
			<tr>
				<td>&nbsp;</td>
			</tr>
			
			<tr>
				<td><span class="stm_lbl_small">Tel.:</span><span class="vallsmall"> <input type="text" name="pflegedienst_tel" value="<?php echo $this->pflegedienst_tel; ?>"/></span><span class="stm_lbl_small">Fax: </span><span class="vallsmall"><input type="text" name="pflegedienst_fax" value="<?php echo $this->pflegedienst_fax; ?>"/> </span></td>
			</tr>
			
		</table>
	</td>
</tr>
<tr>
	<td colspan="2">
		<table class="Patientenverfugung"   border="0">
			<tr>
				<td  width="193px">
					<span><b>Patientenverfügung:</b></span>
				</td>
				<td>
					<input type="radio" name="patientenverfugung[]" value="1" <?php if($this->patientenverfugung == 1) {echo 'checked="checked"';} ?>  />
					<label>ja  (liegt in Akte bei)</label>
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
				<td>
					<input type="radio" name="patientenverfugung[]" value="0" <?php if($this->patientenverfugung == 0 ) {echo 'checked="checked"';} ?> />
					<label>nein</label>
				</td>	
			</tr>
		</table>
	</td>

</tr>
<tr>
	<td style="width: 50%">
		<table class="Vorsorgevollmacht">
			<tr>
				<td width="193px"><span><b>Betreuung:</b></span></td>
				<td>
				<input type="checkbox" name="betreuung[]" value="1"<?php if(in_array('1',$this->betreuung)) {echo 'checked="checked"' ;} ?> /> 
				<label>ja</label>
				</td>
				<td  colspan="2">
				<input type="checkbox" name="betreuung[]" value="2"<?php if(in_array('2',$this->betreuung)) {echo 'checked="checked"' ;} ?> /> 
				<label>nein</label>
				</td>
		 
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="4">
					<span style="width: 193px; float: left;"><b>Betreuer:</b></span>
					<input	type="text" name="betreuer" value="<?php echo $this->betreuer;?>"/>
				</td>
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>

			<tr>
				<td colspan="4">
				<span class="betreuer_tel"><b>Tel.:</b> 
				<input type="text" name="betreuer_tel" value="<?php echo $this->betreuer_tel;?>"/></span> 
				<span class="betreuer_fax"><b>Fax:</b> 
				<input type="text" name="betreuer_fax" value="<?php echo $this->betreuer_fax;?>"/></span> 
				</td>
				
			</tr>

			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td><span><b>Vorsorgevollmacht:</b></span></td>
				<td>
					<input type="checkbox" name="vorsorgevollmacht[]" value="1"<?php if($this->vorsorgevollmacht == 1) {echo 'checked="checked"';} ?>/> 
					<label>ja</label>
				</td>
				<td>
					<input type="checkbox" name="vorsorgevollmacht[]" value="2"<?php if($this->vorsorgevollmacht == 2) {echo 'checked="checked"';} ?> />
					<label>nein</label>
				</td>
 
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="4">
					<span style="width: 193px; float: left;"><b>Bevollmächtigter:</b></span>
					<input type="text" name="bevollmachtigter" value="<?php if($this->vorsorgevollmacht == 1) {echo $this->bevollmachtigter; } ?>"/>
				</td>
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
			
				<td colspan="4">
				<span class="betreuer_tel"><b>Tel.:</b> 
				<input type="text" name="bevollmachtigter_tel" value="<?php if($this->vorsorgevollmacht == 1){echo $this->bevollmachtigter_tel; }?>"/></span> 
				<span class="betreuer_fax"><b>Fax:</b> 
				<input type="text" name="bevollmachtigter_fax" value="<?php echo $this->bevollmachtigter_fax;?>"/></span> 
				</td>
 
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
		</table>
	</td>
 	<td style="width: 50%;">
		<table class="apotheke">
			<tr>
				<td><span class="stm_lbl_big">Apotheke:</span></td>
			</tr>
			<tr>
				<td><span class="variable_pat"><?php echo $this->apotheke_details; ?></span></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><span class="stm_lbl_small">Tel:</span>
					<span class="vallsmall"> 
					<input type="text" name="apotheke_tel" value="<?php echo $this->apotheke_tel;?>"/></span>
					<span class="stm_lbl_small">Fax.: </span>
					<span class="vallsmall">
					<input type="text" name="apotheke_fax" value="<?php echo $this->apotheke_fax;?>"/></span>
				</td>
			</tr>
		</table>
	</td>
</tr>

<tr>
	<td colspan="2">
		<table class="allergien_table" border="0">
		<tr>
				<td><span><b>Allergien:</b></span></td>
		</tr>
		<tr>
				<td><textarea name="allergien" cols="" rows="" class="allergien_txt"> <?php echo $this->allergien; ?></textarea></td>
		</tr>
		</table>
	</td>
</tr>
</table>
 
 <br/>&nbsp;
  <table class="stammblattsapv_table">
 <tr>
	<td colspan="2">
		<table class="diagnosen_table" border="0">
		<tr>
				<td><span><b>Diagnosen:</b></span></td>
		</tr>
		<tr>
				<td>
				<div class="alldisagnosen">
				<span><?php echo $this->allmaindiagnosis ?></span>
				<span><?php echo $this->allsidediagnosis ?></span>
				<div style="visibility: hidden;">
				<textarea name="allmaindiagnosis" cols="" rows=""><?php echo $this->allmaindiagnosis; ?></textarea>
				<textarea name="allsidediagnosis" cols="" rows=""><?php echo $this->allsidediagnosis; ?></textarea>
				</div>
				
				
				</div>
				</td>
				
				
		</tr>
		</table>
	</td>
</tr>
</table>

 <br/>&nbsp;
  <table class="stammblattsapv_table">
 <tr>
	<td colspan="2">
		<table class="diagnosen_table" border="0">
		<tr>
				<td><span><b>Behandlungswunsch/Ziel:</b></span></td>
		</tr>
		<tr>
				<td>
				<textarea name="behandlungswunsch" cols="" rows="" class="diagnosen"><?php echo $this->behandlungswunsch; ?></textarea>
				
				</td>
				
				
		</tr>
		</table>
	</td>
</tr>
</table>

  <div class="kvno_buttons">
<input name="btnsave" type="submit" id="btnsubmit" value="<?php echo $this->translate('save') ?>" />&nbsp;&nbsp;
<input name="btnsubmit" type="submit" value="<?php echo $this->translate('generatepdf') ?>" class="btnsubmit_usersessions"/>
 
 </div>
</div>
</form>