<? $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/sapvf_anfrage_style.css'); ?>
<script type="text/javascript">
	$(document).ready(function(){ 
		$('form').submit(function() {
			setTimeout(function () {$('input[type=submit]').attr('disabled', true);}, 150);
			setTimeout(function () {$('input[type=submit]').attr('disabled', false);}, 22000);
		});
	});
	function getSelected(dbvalue,fieldname)
	{
	
		var fieldarray = document.getElementsByName(fieldname);
		for(i=0; i<fieldarray.length;i++)
		{			
			if(fieldarray[i].value==dbvalue)
			{
				fieldarray[i].checked = true;
			}
		}
	}
	function showbox(val)
	{
		if(val.value=="4")
		{
			$("#otherdivid").show();
		}else{
			$("#otherdivid").hide();
		}
	}
</script>
<form action="" name="formone" method="post">
  <div style="display: none;"> <img id="calImg" src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
  <? echo $this->patientinfo ?>
  <? echo $this->tabmenus ?>
  <div id="Einzel" class="tab_container"> <br />
    <div id="Palliative">
<div id="SapAnfr_Heading" class="widthForSapvHeader Palliative_Heading">
<div id="SapAnfr_HeadinLeft" class="Palliative_Heading_Left">SAPV – Anfrage</div>
<div id="SapAnfr_HeadinRight" class="Palliative_Heading_Right"></div>
<div class="ClrBoth"></div>

</div>

<div id="SapAnfr_DateBoOuter" class="sapvBthree_outer">
<div id="SapAnfr_DateBox" class="padding_five textAlign_center"><div class="right">
<input name="sapv_date" type="text" id="SapAnfr_DateBoInpt" value="<? echo $this->admissiondate; ?>" /></div>
<div id="SapAnfr_DateBoText" class="right padding_five">Datum der Anfrage:</div><div class="ClrBoth"></div><b><? echo $this->error_message ?></b></div>
</div>
<div id="SapAnfr_HeadeOuter" class="widthForSapvHeader Palliative_Header">
<div id="SapAnfr_Header" class="Palliative_Contnet_Outer">

<div id="SapAnfr_PatientOuter" class="Palliative_Contnet_Outer">
<div id="SapAnfr_PatientDiv" class="Patient_Name"><strong>Patient:</strong> Name, <br />
  Vorname</div>
<div id="SapAnfr_PatientInpDiv" class="Patient_Name">
<label id="SapAnfr_PatientLbl">
<input type="text" name="patient_name" value="<? echo $this->patientname ?>" id="SapAnfr_PatientInpt" class="MarginZero" style="width:300px;" />
</label>
</div>
</div>
<div class="ClrBoth"></div>
<div id="SapAnfr_PatientBrdr" class="BorderDiv"></div>
</div>

<div id="SapAnfr_Geboren" class="widthForSapvIdInfo IdInfo">
  <div id="SapAnfr_GeboreTxt">geboren am</div>
  <div id="SapAnfr_GeboreInpt"><input name="birthd" value="<? echo $this->bdate ?>" type="text" /></div>
  <div id="SapAnfr_GeboreId"><div id="SapAnfr_GeborIdText" class="left padding_five"><label id="SapAnfr_GeborIdLbl">ID:</label></div>
  <div id="SapAnfr_GeborIdInptdiv" class="left"><input name="patientepid" value="<? echo $this->epid ?>" type="text" size="15" id="SapAnfr_GeborIdInput"/>
  </div><div class="ClrBoth"></div></div></div><div class="ClrBoth"></div>
  <div id="SapAnfr_PatienMain" class="Address_Info">
  <div id="SapAnfr_PatienMaiLeft" class="Address_Info_Outer_list">
<div id="SapAnfr_PatienMaiStras" class="Address_Info_Outer">
<div id="SapAnfr_PatienMaiStraTxt" class="Address_Info_left">Strasse</div>
<div id="SapAnfr_PatienMaiStraInpDiv" class="Address_Info_right">
<input name="street" type="text" class="MarginZero" id="SapAnfr_PatienMaiStraInpt" value="<? echo $this->street ?>" /></div><div class="ClrBoth"></div></div>
<div id="SapAnfr_PatienMaiPlz" class="Address_Info_Outer">
<div id="SapAnfr_PatienMaiPlTxt" class="Address_Info_left">PLZ, Ort</div>
<div id="SapAnfr_PatienMaiPlInpDiv" class="Address_Info_right">
<input name="zip" value="<? echo $this->zip ?>" type="text" class="MarginZero" id="SapAnfr_PatienMaiPlInpt" /></div>
<div class="ClrBoth"></div>
</div>
<div id="SapAnfr_PatienMaiTel" class="Address_Info_Outer">
<div id="SapAnfr_PatienMaiTeTxt" class="Address_Info_left">Telefon</div>
<div id="SapAnfr_PatienMaiTeInpDiv" class="Address_Info_right">
<input name="telephon" value="<? echo $this->telephone ?>" type="text" class="MarginZero" id="SapAnfr_PatienMaiTeInpt" /></div>
<div class="ClrBoth"></div>
</div>

<div id="SapAnfr_PatienMaiKranke" class="Address_Info_Outer">
<div id="SapAnfr_PatienMaiKrankText" class="Address_Info_left">Krankenkasse</div>
<div id="SapAnfr_PatienMaiKrankInpDiv" class="Address_Info_right">
<input name="insurance_com_name" value="<? echo $this->insurance_com_name ?>" type="text" class="MarginZero" id="SapAnfr_PatienMaiKrankInpt" /></div>
<div class="ClrBoth"></div>
</div>
</div>

<div id="SapAnfr_PatienMaiBrdrDiv" class="GrayDivider"></div>
<div id="SapAnfr_PatienMaiodeOuter" class="Address_Info_Outer_list Address_Info_Outer_listMargin">
  <div id="SapAnfr_PatienMaioder" class="Address_Info_Outer">
<div id="SapAnfr_PatienMaiodeTxt" class="Address_Info_left">oder:</div>
<div id="SapAnfr_PatienMaiodeInpDiv" class="Address_Info_right">
<input name="mobile" value="<? echo $this->mobile ?>" type="text" class="MarginZero" id="SapAnfr_PatienMaiodeInpt" /></div><div class="ClrBoth"></div></div>
</div><div class="ClrBoth"></div></div></div>
<div id="SapAnfr_MainContenOuter" class="anfrageMainOuter Black_border">
<div id="SapAnfr_AnfterlName" class="anfrageOuter">
<div id="SapAnfr_AnfterlNaHead" class="anfrageHeading anfrageHeadText"><strong>Anfragende Person :</strong> <!--<? echo $this->loginusername ?>-->
<input name="hdnlogname" type="text" value="<? echo $this->anfragende_person ?>" class="MarginZero" style="width:300px;"  /><br />
</div>
<div class="ClrBoth"></div>
</div>

<div id="SapAnfr_MainContent" class="anfrageOuter border_top">
<div id="SapAnfr_MainConte1Outer" class="anfrage30">
<div id="SapAnfr_MainConten1" class="border_right padding_five">
<div id="SapAnfr_MainContenleft" class="left">
<div id="SapAnfr_BeziehPat" class="anfrageHeading anfrageHeadText"><strong>Beziehung zum Patient</strong></div><div class="ClrBoth"></div>
<div id="SapAnfr_BePatiean" class="anfrageHeading"><div id="SapAnfr_BePatieaInpDiv" class="left">
<input name="beziehung_zum_patient" id="SapAnfr_BePatieaInpt" type="radio" value="1" /></div>
<label id="SapAnfr_BePatieaLbl"><strong>Patient</strong> fragt selbst an</label></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_BeAngerge" class="anfrageHeading"><div id="SapAnfr_BeAngergLeft" class="left">
<input name="beziehung_zum_patient" type="radio" id="SapAnfr_BeAngergLeInpt" value="2" /></div><label id="SapAnfr_BeAngergLeLbl"><strong>Angehörige:</strong></label></div><div class="ClrBoth"></div>
<div id="SapAnfr_BeAngergLeSub" class="anfrageInputSub">
<div id="SapAnfr_BeEltem" class="anfrageInputSubHead"><div id="SapAnfr_BeElteLeft" class="left"><input name="beziehung_zum_patient" type="radio" value="3" id="SapAnfr_BeElteInpt" /></div><label id="SapAnfr_BeElteLbl">Eltern</label></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_BePartner" class="anfrageInputSubHead">
<div id="SapAnfr_BePartnLeft" class="left"><input id="SapAnfr_BePartnInpt" name="beziehung_zum_patient" type="radio" value="4" /></div>
<label id="SapAnfr_BePartnLbl">Partner</label></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_BeKinder" class="anfrageInputSubHead">
<div id="SapAnfr_BeKindeLeft" class="left"><input name="beziehung_zum_patient" type="radio" id="SapAnfr_BeKindeInpt" value="5" /></div>
<label id="SapAnfr_BeKindeLbl">Kinder</label></div>
<div class="ClrBoth"></div></div><div class="ClrBoth"></div>
<div id="SapAnfr_BeFachllen" class="anfrageHeading"><div id="SapAnfr_BeFachlleLeft" class="left">
<input id="SapAnfr_BeFachlleInpt" name="beziehung_zum_patient" type="radio" value="6" /></div>
<label id="SapAnfr_BeFachlleLbl"><strong>Fachstellen</strong></label>
</div><div class="ClrBoth"></div>
<div id="SapAnfr_BeFachlleSub" class="anfrageInputSub">
<div id="SapAnfr_BeFaNied" class="anfrageInputSubHead"><div id="SapAnfr_BeFaNieLeft" class="left">
<input id="SapAnfr_BeFaNieInpt" name="beziehung_zum_patient" type="radio" value="7" /></div>
<label id="SapAnfr_BeFaNieLbl">niedergelassener Arzt</label></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_BeFaambPfl" class="anfrageInputSubHead"><div id="SapAnfr_BeFaambPLeft" class="left">
<input id="SapAnfr_BeFaambPInpt" name="beziehung_zum_patient" type="radio" value="8" /></div>
<label id="SapAnfr_BeFaambPLbl">amb. Pflege</label></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_BeFaStatpfl" class="anfrageInputSubHead"><div id="SapAnfr_BeFaStatpLeft" class="left">
<input id="SapAnfr_BeFaStatpInpt" name="beziehung_zum_patient" type="radio" value="9" /></div><label id="SapAnfr_BeFaStatpLbl">Stat. Pflege</label></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_BeFaKrankeus" class="anfrageInputSubHead"><div id="SapAnfr_BeFaKrankeuLeft" class="left">
<input id="SapAnfr_BeFaKrankeuInpt" name="beziehung_zum_patient" type="radio" value="10" /></div><label id="SapAnfr_BeFaKrankeuLbl">Krankenhaus</label></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_BeFaSeeltel" class="anfrageInputSubHead"><div id="SapAnfr_BeFaSeeltLeft" class="left">
<input id="SapAnfr_BeFaSeeltInpt" name="beziehung_zum_patient" type="radio" value="11" /></div><label id="SapAnfr_BeFaSeeltLbl">Seelsorgestelle</label></div>
<div class="ClrBoth"></div>
</div><div class="ClrBoth"></div>
<div id="SapAnfr_BeNachBekate" class="anfrageHeading"><div id="SapAnfr_BeNachBekaLeft" class="left">
<input id="SapAnfr_BeNachBekatInpt" name="beziehung_zum_patient" type="radio" value="12" /></div><label id="SapAnfr_BeNachBekatLbl"><strong>Nachbarn/ Bekannte</strong></label></div><div class="ClrBoth"></div>
<div id="SapAnfr_BeSonstige" class="anfrageHeading"><div id="SapAnfr_BeSonstigLeft" class="left">
<input name="beziehung_zum_patient" id="SapAnfr_BeSonstigInpt" type="radio" value="13" /></div><label id="SapAnfr_BeSonstigLbl"><strong>Sonstiges</strong></label></div><div class="ClrBoth"></div><div class="ClrBoth"></div></div><div class="ClrBoth"></div></div></div>
<div id="SapAnfr_GrundeAnfOuter" class="anfrage35">
<div id="SapAnfr_GrundeAnfr">
<div id="SapAnfr_GrundeAnfText" class="anfrageHeading anfrageHeadText"><strong>Gründe für die Anfrage</strong></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_GrUber" class="anfrageHeading"><div id="SapAnfr_GrUbeLeft" class="left">
<input id="SapAnfr_GrUbeInpt" name="grunde_fur_die_anfrage[]" type="checkbox" value="1" /></div>
<label id="SapAnfr_GrUbeTxt" class="anfrageMrgnL">Überprüfung SAPV-Relevanz</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_GrScmeR" class="anfrageHeading"><div id="SapAnfr_GrScmeLeft" class="left">
<input id="SapAnfr_GrScmeInpt" name="grunde_fur_die_anfrage[]" type="checkbox" value="2" /></div>
<label id="SapAnfr_GrScmeLbl" class="anfrageMrgnL">Schmerztherapie</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_GrSympto" class="anfrageHeading"><div id="SapAnfr_GrSymptLeft" class="left">
<input id="SapAnfr_GrSymptInpt" name="grunde_fur_die_anfrage[]" type="checkbox" value="3" /></div>
<label id="SapAnfr_GrSymptLbl" class="anfrageMrgnL">Symptomkontrolle</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_GrWunden" class="anfrageHeading"><div id="SapAnfr_GrWundeLeft" class="left">
<input id="SapAnfr_GrWundeInpt" name="grunde_fur_die_anfrage[]" type="checkbox" value="4" /></div>
<label id="SapAnfr_GrWundeLbl" class="anfrageMrgnL">Wunden / Nekrosen</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_GrErnahrung" class="anfrageHeading"><div id="SapAnfr_GrErnahrunLeft" class="left">
<input id="SapAnfr_GrErnahrunInpt" name="grunde_fur_die_anfrage[]" type="checkbox" value="5" /></div>
<label id="SapAnfr_GrErnahrunLbl" class="anfrageMrgnL">Ernährungsproblematik</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_GrErnahrung" class="anfrageHeading"><div id="SapAnfr_GrErnahrunLeft" class="left">
<input id="SapAnfr_GrErnahrunInpt" name="grunde_fur_die_anfrage[]" type="checkbox" value="6" /></div>
<label id="SapAnfr_GrErnahrunLbl" class="anfrageMrgnL">Koordination Terminalphase</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_GrSub" class="anfrageInputSub">
<div id="SapAnfr_GrSubTerm" class="anfrageInputSubHead"><div id="SapAnfr_GrSubTerLeft" class="left">
<input id="SapAnfr_GrSubTerInpt" name="grunde_fur_die_anfrage[]" type="checkbox" value="7" /></div>
<label id="SapAnfr_GrSubTerLbl">Terminalbetreuung: zuhause</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_GrSubTerHosp" class="anfrageInputSubHead"><div id="SapAnfr_GrSubTerHosLeft" class="left">
<input id="SapAnfr_GrSubTerHosInpt" name="grunde_fur_die_anfrage[]" type="checkbox" value="8" /></div>
<label id="SapAnfr_GrSubTerHosLbl">Terminalbetreuung: stat. Hospiz</label></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_GrSubTerPalli" class="anfrageInputSubHead"><div id="SapAnfr_GrSubTerPallLeft" class="left">
<input id="SapAnfr_GrSubTerPallInpt" name="grunde_fur_die_anfrage[]" type="checkbox" value="9" /></div>
<label id="SapAnfr_GrSubTerPallLbl">Terminalbetreuung:. Palliativstation</label></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_GrSubTerPfle" class="anfrageInputSubHead"><div id="SapAnfr_GrSubTerPflLeft" class="left">
<input name="grunde_fur_die_anfrage[]" id="SapAnfr_GrSubTerPflInpt" type="checkbox" value="10" /></div>
<label id="SapAnfr_GrSubTerPflLbl">Terminalbetreuung:. Pflegeheim</label></div>
<div class="ClrBoth"></div>
</div><div class="ClrBoth"></div>
<div id="SapAnfr_GrSubNichtGrunde" class="anfrageHeading"><div id="SapAnfr_GrSubNichtGrundLeft" class="left">
<input id="SapAnfr_GrSubNichtGrundInpt" name="grunde_fur_die_anfrage[]" type="checkbox" value="11" /></div>
<label id="SapAnfr_GrSubNichtGrundLbl" class="anfrageMrgnL">nicht SAPV-relevante Gründe</label></div><div class="ClrBoth"></div>
</div></div>
<div id="SapAnfr_KommeWunsc" class="anfrage35">
<div id="SapAnfr_KommeWunsLeft" class="border_left">
<div id="SapAnfr_KommeWunsHead" class="anfrageHeading anfrageHeadText"><strong>Kommentar / spez. Wünsche</strong></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_KommeWunsTextArDiv" class="border_bottom">
  <textarea name="kommentar_spez_wunsche" id="SapAnfr_KommeWunsTextArea" cols="27" rows="10"><? echo $this->kommentar_spez ?></textarea>
</div><div class="ClrBoth"></div>
<div id="SapAnfr_KommeVermitte" class="anfrageHeading anfrageHeadText"><strong>Vermittelt von:</strong></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_KommeVermittSub" class="anfrageInputSub">
<div id="SapAnfr_KommePrivat" class="anfrageInputSubHead">
<div id="SapAnfr_KommePrivaLeft" class="left"><input name="vermittelt_von" id="SapAnfr_KommePrivaInpt" type="radio" onclick="showbox(this);"  value="1" /></div>
<label id="SapAnfr_KommePrivaLbl">Privat</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_KommeFachs" class="anfrageInputSubHead"><div id="SapAnfr_KommeFachLeft" class="left">
<input name="vermittelt_von" id="SapAnfr_KommeFachInpt" type="radio" onclick="showbox(this);"  value="2" /></div><label>Fachstelle</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_KommeHausrz" class="anfrageInputSubHead"><div id="SapAnfr_KommeHausrLeft" class="left">
<input name="vermittelt_von" id="SapAnfr_KommeHausrInpt" type="radio" onclick="showbox(this);"  value="3" /></div><label id="SapAnfr_KommeHausrLbl">Hausarzt</label></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_KommeHausr1" class="anfrageInputSubHead"><div id="SapAnfr_KommeFachLeft" class="left"><input name="vermittelt_von" id="ehrenamtliche" onclick="showbox(this);" type="radio" <? if(strlen($this->ehrenamtliche)>0){ echo "checked='checked'";} ?> value="4" /></div><label id="SapAnfr_KommeHausrLbl"> <? echo $this->translate('ehrenamtliche');?></label></div>
<div class="ClrBoth"></div></div><div class="ClrBoth"></div>

<div id="otherdivid" style="display:<? echo $this->distyle ?>;">
<textarea name="othervalues" cols="5" rows="3"><? echo $this->ehrenamtliche ?></textarea></div>
<div class="ClrBoth"></div>
</div>
</div><div class="ClrBoth"></div>
</div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBete" class="anfrageOuter border_top">
<div id="SapAnfr_RelevanBet40" class="anfrage40">
<div id="SapAnfr_RelevanBetB40"><div id="SapAnfr_RelevanBeHead" class="anfrageHeading"><strong>Relevante Diagnosen</strong></div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBeTextA" class="anfrageHeading">
<textarea name="relevante_diagnosen" id="SapAnfr_RelevanTextArea" cols="27" rows="5"><? echo $this->relevante_diagnosen?></textarea></div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanNebeHead" class="anfrageHeading"><strong>Relevante Nebendiagnosen</strong></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_RelevanNebeTextA" class="anfrageHeading">
<textarea name="relevante_nebendiagnosen" id="SapAnfr_RelevanNebtextarea" cols="27" rows="3"><? echo $this->relevante_nebendiagnosen?></textarea></div><div class="ClrBoth"></div>
</div></div>
<div id="SapAnfr_RelevanBeFasc" class="anfrage60">
<div id="SapAnfr_RelevanBeFasLeft" class="border_left">
<div id="SapAnfr_RelevanBeFasHead" class="anfrageHeading"><strong>Beteiligte Fachstellen</strong></div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBeFaHaus" class="padding_five">
<div id="SapAnfr_RelevanBeFaPraxi" class="anfrage20">Hausarzt</div>
<div id="SapAnfr_RelevanBeFaPraxTxt" class="anfrage15 textAlign_right">Praxis</div>
<div id="SapAnfr_RelevanBeFaPrainpt" class="anfrage50">
<input id="SapAnfr_RelevanBeFaPraxInpt" name="hausarzt_praxis" type="text" value="<? echo $this->hausarzt_praxis ?>" /></div><div class="ClrBoth"></div>
</div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBeFaPraMob" class="padding_five">
<div id="SapAnfr_RelevanBeFaPraMo1" class="anfrage20">&nbsp;</div>
<div id="SapAnfr_RelevanBeFaPraMoText" class="anfrage15 textAlign_right">Name:</div>
<div id="SapAnfr_RelevanBeFaPraMoInpt" class="anfrage50"><input name="hausarzt_name" type="text" value="<? echo $this->hausarzt_name; ?>" /></div><div class="ClrBoth"></div>
</div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBeFaPraMob" class="padding_five">
<div id="SapAnfr_RelevanBeFaPraMo1" class="anfrage20">&nbsp;</div>
<div id="SapAnfr_RelevanBeFaPraMoText" class="anfrage15 textAlign_right">mobil:</div>
<div id="SapAnfr_RelevanBeFaPraMoInpt" class="anfrage50"><input name="hausarzt_mobil" type="text" value="<? echo $this->hausarzt_mobil ?>" /></div><div class="ClrBoth"></div>
</div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBeFaPalliarzt" class="padding_five">
<div id="SapAnfr_RelevanBeFaPalliaTxt" class="anfrage20">Palliativarzt</div>
<div id="SapAnfr_RelevanBeFaPalliarMob" class="anfrage15 textAlign_right">mobil:</div>
<div id="SapAnfr_RelevanBeFaPalliarInpt" class="anfrage50"><input name="palliativarzt_mobil" id="SapAnfr_RelevanBeFaPallInpt" type="text" value="<? echo $this->palliativarzt_mobil ?>" /></div><div class="ClrBoth"></div></div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBeFaPallKra" class="padding_five"><div id="SapAnfr_RelevanBeFaPallKrTxt" class="anfrage20">Palliativkraft</div>
<div id="SapAnfr_RelevanBeFaPallKrMob" class="anfrage15 textAlign_right">mobil:</div>
<div id="SapAnfr_RelevanBeFaPallKrInpt" class="anfrage50"><input name="palliativkraft_mobil" id="SapAnfr_RelevanBeFaPaKrInpt" type="text" value="<? echo $this->palliativkraft_mobil ?>" /></div><div class="ClrBoth"></div></div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBeFaPflenst" class="padding_five"><div id="SapAnfr_RelevanBeFaPflenTxt" class="anfrage20">Pflegedienst</div>
<div id="SapAnfr_RelevanBeFaPflensTel" class="anfrage15 textAlign_right">Tel.:</div>
<div id="SapAnfr_RelevanBeFaPflenInpt" class="anfrage50"><input id="SapAnfr_RelevanBeFaPflInpt" name="pflegedienst_tel" type="text" value="<? echo $this->pflegedienst_tel ?>" /></div>
<div class="ClrBoth"></div></div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBeFaHospfer" class="padding_five"><div id="SapAnfr_RelevanBeFaHospfTxt" class="anfrage20">Hospizhelfer</div>
<div id="SapAnfr_RelevanBeFaHospfTel" class="anfrage15 textAlign_right">Tel.:</div>
<div id="SapAnfr_RelevanBeFaHospfInpt" class="anfrage50"><input name="hospizhelfer_tel" id="SapAnfr_RelevanBeFaHosInpt" type="text" value="<? echo $this->hospizhelfer_tel ?>" /></div>
<div class="ClrBoth"></div></div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBeFaKlinik" class="padding_five"><div id="SapAnfr_RelevanBeFaKlinTxt" class="anfrage20">Klinikum</div>
<div id="SapAnfr_RelevanBeFaKliTel" class="anfrage15 textAlign_right">Tel.:</div>
<div id="SapAnfr_RelevanBeFaKlinInpt" class="anfrage50"><input name="klinikum_tel" id="SapAnfr_RelevanBeFaKlInpt" type="text" value="<? echo $this->klinikum_tel ?>" /></div>
<div class="ClrBoth"></div></div><div class="ClrBoth"></div>
<div id="SapAnfr_RelevanBeKrankese" class="padding_five"><div id="SapAnfr_RelevanBeKrankesTxt" class="anfrage20">Krankenkasse</div>
<div id="SapAnfr_RelevanBeKrankeTel" class="anfrage15 textAlign_right">Tel.:</div>
<div id="SapAnfr_RelevanBeKrankeInpt" class="anfrage50"><input name="krankenkasse_tel" id="SapAnfr_RelevanBeKraInpt" type="text" value="<? echo $this->krankenkasse_tel ?>" /></div><div class="ClrBoth"></div></div><div class="ClrBoth"></div>
</div>
</div><div class="ClrBoth"></div>
</div><div class="ClrBoth"></div>
<div id="SapAnfr_Besoten" class="anfrageOuter border_top">
<div id="SapAnfr_BesoteTxt" class="anfrageHeading"><strong>Besonderheiten</strong></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_BesoteInpt" class="padding_five">
<textarea name="besonderheiten" cols="" rows="3" id="SapAnfr_BesoteTxtarea"><? echo $this->besonderheiten ?></textarea></div><div class="ClrBoth"></div>
</div><div class="ClrBoth"></div>
<div id="SapAnfr_PatiAktuel" class="anfrageOuter border_top">
<div id="SapAnfr_PatiAktuLeft" class="anfrage40">
<div id="SapAnfr_PatiAktueHead" class="anfrage70">
<div id="SapAnfr_PatiAktuHeadTxt" class="anfrageHeading"><strong>Patient einverstanden mit Anfrage</strong></div>
<div class="ClrBoth"></div></div>
<div id="SapAnfr_PatiAktueChkbx" class="anfrage30">
  <div id="SapAnfr_PatiAktueChkja" class="anfrageHeading"><div id="SapAnfr_PatiAktueChkJale" class="left">
  <input id="SapAnfr_PatiAktueChjaInpt" name="patient_einverstanden_mit_anfrage" type="radio" value="1" /></div><label id="SapAnfr_PatiAktueChJaLbl">ja</label></div>
  <div class="ClrBoth"></div>
  <div id="SapAnfr_PatiAktueChNein" class="anfrageHeading"><div id="SapAnfr_PatiAktueChneiLeft" class="left">
  <input id="SapAnfr_PatiAktueChInpt" name="patient_einverstanden_mit_anfrage" type="radio" value="2" /></div><label id="SapAnfr_PatiAktueChNeiLbl">nein</label></div>
  </div>

  <div class="ClrBoth"></div>
</div>
<div id="SapAnfr_PaAktuErOuter" class="anfrage60">
<div id="SapAnfr_PaAktuErs" class="border_left">
<div id="SapAnfr_PaAktuEHead" class="anfrageHeading"><strong>Aktueller Aufenthalt des Patienten / Erstkontakt:</strong></div>
<div class="ClrBoth"></div>
<div id="SapAnfr_PaAktuELeft" class="anfrage50">
<div id="SapAnfr_PaAktuZuhaall" class="anfrageHeading"><div id="SapAnfr_PaAktuZuhaaInpt" class="left">
<input id="SapAnfr_PaAktuZuhInpt" name="aktueller_aufenthalt_des_patienten" type="radio" value="1" /></div>
<label id="SapAnfr_PaAktuZuhaaLbl">zuhause, allein</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_PaAktuZuAnge" class="anfrageHeading"><div id="SapAnfr_PaAktuZuAngleft" class="left">
<input id="SapAnfr_PaAktZuAnInpt" name="aktueller_aufenthalt_des_patienten" type="radio" value="2" /></div>
<label id="SapAnfr_PaAktuZuAngLbl">zuhause, Angehörige</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_PaAktuKrankeus" class="anfrageHeading"><div id="SapAnfr_PaAktuKrankeLeft" class="left">
<input id="SapAnfr_PaAktuKrankeInpt" name="aktueller_aufenthalt_des_patienten" type="radio" value="3" /></div>
<label id="SapAnfr_PaAktuKrankeLbl">Krankenhaus</label></div><div class="ClrBoth"></div>
</div>
<div id="SapAnfr_PaAktuStatRight" class="anfrage50">
<div id="SapAnfr_PaAktuStatHos" class="anfrageHeading"><div id="SapAnfr_PaAktuStatHoInt" class="left">
<input name="aktueller_aufenthalt_des_patienten" id="SapAnfr_PaAktuStaHoInpt" type="radio" value="4" /></div>
<label id="SapAnfr_PaAktuStatHoTxt">stationäres Hospiz</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_PaAktuStatPfl" class="anfrageHeading"><div id="SapAnfr_PaAktuStatPLeft" class="left">
<input id="SapAnfr_PaAktuStatPfInpt" name="aktueller_aufenthalt_des_patienten" type="radio" value="5" /></div>
<label id="SapAnfr_PaAktuStatLbl">stationäre Pflegeeinrichtung</label></div><div class="ClrBoth"></div>
<div id="SapAnfr_PaAktuPall" class="anfrageHeading"><div id="SapAnfr_PaAktuPaLeft" class="left">
<input id="SapAnfr_PaAktuPaLefInpt" name="aktueller_aufenthalt_des_patienten" type="radio" value="6" /></div>
<label id="SapAnfr_PaAktuPaLefLbl">Palliativstation</label></div><div class="ClrBoth"></div>
</div><div class="ClrBoth"></div>
</div>
</div><div class="ClrBoth"></div></div></div><br />
<div id="SapAnfr_ErnpHosBeOuter" class="anfrageOuter">
<div id="SapAnfr_ErnpHosBeen" class="anfrage40">
<div id="SapAnfr_Ernng" class="anfrage40">
<div id="SapAnfr_ErnnHeading" class="anfrageHeading"><strong>Empfehlung:</strong></div>
</div>
<div id="SapAnfr_ErnnRight" class="anfrage60">
<div id="SapAnfr_ErnnBera" class="anfrageHeading"><div id="SapAnfr_ErnInpt" class="left">
<input id="SapAnfr_ErnRadio" name="empfehlung[]" type="checkbox" value="1" /></div><label id="SapAnfr_ErnbaLbl"><strong>Beratung</strong></label>
  </div>
<div class="ClrBoth"></div>
<div id="SapAnfr_ErnSap" class="anfrageHeading"><div id="SapAnfr_ErnSapLeft" class="left">
<input id="SapAnfr_ErnSInpt" name="empfehlung[]" type="checkbox" value="2" /></div><label id="SapAnfr_ErnSaLbl"><strong><strong>SAPV Koordination</strong></label>
  </div>
<div class="ClrBoth"></div>
<div id="SapAnfr_ErnSapTeilver" class="anfrageHeading"><div id="SapAnfr_ErnSapTeilveLeft" class="left">
<input id="SapAnfr_ErnSapTeilveInpt" name="empfehlung[]" type="checkbox" value="3" /></div>
<label id="SapAnfr_ErnSapTeilveLbl"><strong>SAPV Teilversorgung</strong></label>
  </div>
<div class="ClrBoth"></div>
<div id="SapAnfr_ErnSapVollvgun" class="anfrageHeading"><div id="SapAnfr_ErnSapVollvgLeft" class="left">
<input id="SapAnfr_ErnSapVollvgInpt" name="empfehlung[]" type="checkbox" value="4" /></div><label><strong>SAPV Vollversorgung</strong></label>
  </div>
<div class="ClrBoth"></div>
</div>
</div>
<div id="SapAnfr_Hospeitng" class="anfrage60">
<div id="SapAnfr_Hospeitnleft" class="anfrage40">
<div id="SapAnfr_HospeitnlefOuter" class="anfrageHeading"><div id="SapAnfr_HospeitnlefInpt" class="left">
<input id="SapAnfr_HospeitlefInpt" name="empfehlung[]" type="checkbox" value="5" /></div><label><strong>Hospizbegleitung</strong></label>
  </div>
<div class="ClrBoth"></div>
</div>
<div id="SapAnfr_BeendenNot" class="anfrage60">
<div id="SapAnfr_BeendenNOuter" class="anfrageHeading"><div id="SapAnfr_BeendenNoInpt" class="left">
<input id="SapAnfr_BeendeNoInpt" name="empfehlung[]" type="checkbox" value="6" /></div><label id="SapAnfr_BeendenNoLbl"><strong>beenden wegen fehlender Notwendigkeit</strong></label>
  </div>
<div class="ClrBoth"></div>
</div>
</div>
  <div class="ClrBoth"></div></div><div class="ClrBoth"></div><br />
  <div id="SapAnfr_Proceklinik" class="anfrageOuter">
<div id="SapAnfr_ProcekliniLeft" class="anfrage40">
<div id="SapAnfr_ProceProcre" class="anfrage40">
<div id="SapAnfr_ProceProcrHead" class="anfrageHeading"><strong>Procedere :</strong></div>
</div>
<div id="SapAnfr_ProceVeroge" class="anfrage60">
  <div class="ClrBoth">
  <div id="SapAnfr_ProceVerogHead" class="anfrageHeading"><strong>Verordnungsanfrage:</strong></div>
  </div>
  <div class="ClrBoth"></div>
</div>
</div>
<div id="SapAnfr_HausKlins" class="anfrage60">
<div id="SapAnfr_HausKlinLeft" class="anfrage40">
<div id="SapAnfr_HausKlihead" class="anfrageHeading"><div id="SapAnfr_HausKlinOuter" class="left">
<input id="SapAnfr_HausKlinInpt" name="verordnungsanfrage" type="radio" value="1" /></div><label id="SapAnfr_HausKliLbl"><strong>Hausarzt</strong></label>
  </div>
<div class="ClrBoth"></div>
</div>
<div id="SapAnfr_HausKlinIkt" class="anfrage60">
<div id="SapAnfr_HausKlinIkOuter" class="anfrageHeading"><div id="SapAnfr_HausKlinIkOutLeft" class="left">
<input id="SapAnfr_HausKlinIkOutInpt" name="verordnungsanfrage" type="radio" value="2" /></div><label><strong>Klinik</strong></label>
  </div>
<div class="ClrBoth"></div>
</div>
</div>
  <div class="ClrBoth"></div></div><br />
  
<div id="SapAnfr_DatuUnter" class="anfrageOuter">
<div id="SapAnfr_DatuUnteLeft" class="anfrage30"><div id="SapAnfr_DatuUnteHead" class="anfrageHeading"><strong>Datum:</strong></div>
<div id="SapAnfr_DatuUnteDiv" class="anfrageHeading"><input id="SapAnfr_DatuUnteInpt" name="curdate" value="<? echo date('d.m.Y');?>" type="text" /></div>
</div>
<div class="anfrage70">
  <div id="SapAnfr_Unterift" class="anfrageHeading"><strong>Letzte Bearbeitung :</strong></div>
  <div id="SapAnfr_UnteriinptDiv" class="anfrageHeading"><input name="loginusername" type="hidden" value="<? echo $this->loginusername ?>" /><? echo $this->loginusername ?></div></div>
  <div class="ClrBoth"></div></div>
  <br>
<div id="SapAnfr_IkSiete" class="sapvBthree_outer Black_border">
<div id="SapAnfr_IkSiet1" class="padding_five textAlign_center">
<input name="btnsave" id="btnsubmit"  type="submit" value="<? echo $this->translate('save') ?>" />&nbsp;&nbsp;<input name="btnsubmit" type="submit" value="<? echo $this->translate('generatepdf') ?>"  class="btnsubmit_usersessions"/>
</div>
</div></div>
  </div>
</form>

<script type="text/javascript">

getSelected('<? echo $this->beziehungjs ?>','beziehung_zum_patient');

getSelected('<? echo $this->vermittelt_vonjs ?>','vermittelt_von');
getSelected('<? echo $this->patient_einverstanden_mit_anfragejs ?>','patient_einverstanden_mit_anfrage');
getSelected('<? echo $this->aktueller_aufenthalt_des_patientenjs ?>','aktueller_aufenthalt_des_patienten');
getSelected('<? echo $this->procederejs ?>','verordnungsanfrage');

	var grundefurdie_js = [<? echo $this->grundefurdiejs; ?>];
	var grundefurdie_array = document.getElementsByName('grunde_fur_die_anfrage[]');
	
	for(j=0; j<grundefurdie_array.length;j++)
	{
		for(k=0;k<grundefurdie_js.length;k++)
		{				
			if(grundefurdie_array[j].value==grundefurdie_js[k])
			{
				grundefurdie_array[j].checked = true;
			}
		}
	}
	
	var empfehlung_js = [<? echo $this->empfehlungjs; ?>];
	var empfehlung_array = document.getElementsByName('empfehlung[]');
	
	for(j=0; j<empfehlung_array.length;j++)
	{
		for(k=0;k<empfehlung_js.length;k++)
		{				
			if(empfehlung_array[j].value==empfehlung_js[k])
			{
				empfehlung_array[j].checked = true;
			}
		}
	}

</script>