<?php
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/colorpicker/colorpicker.js?'.date('Ymd'));
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/colorpicker/eye.js?'.date('Ymd'));
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/colorpicker/utils.js?'.date('Ymd'));
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/jgrowl/fileuploader.js?'.date('Ymd'));

$this->headLink()->appendStylesheet(RES_FILE_PATH.'/javascript/jgrowl/filepatient.css?'.date('Ymd'));
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/color_picker/colorpicker.css?'.date('Ymd'));
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/color_picker/layout.css?'.date('Ymd'));

$icon = $this->icon_details;
$system_icon = $this->system_icon_details;

if(!empty($system_icon['custom']))
{
	$icon_color = $system_icon['custom']['color'];
}
else
{
	$icon_color = $system_icon['color'];
}

?>
<script type="text/javascript">
$(document).ready(function()
{
	//$('#btnsubmit').attr("disabled", "true");
	var icon_name = '<?php echo $system_icon['name']; ?>';
	if(icon_name == 'patient_status_icon'){
		$('.single_file_upload').hide();
		$('.triple_file_upload').show();

		createUploader_red();
		createUploader_yellow();
		createUploader_green();

	} else {

		$('.triple_file_upload').hide();
		$('.single_file_upload').show();

		createUploader();
	}

	$('#colorSelector').ColorPicker({

		color: '#<? echo $icon_color ?>',

		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onChange: function (hsb, hex, rgb) {
			$('#icon_color').val(hex);
			$('#colorSelector div').css('backgroundColor', '#' + hex);
		}
	});

	$('#colorSelector div').css('backgroundColor', '#<? echo $icon_color ?>');

	$('#btnsubmit').click(function(){
		$('#frmediticon').submit();
	});
});
function createUploader(){
	var uploader = new qq.FileUploader({
		element: document.getElementById('file-uploader-normal-icon'),
		action: appbase+'iconsystem/iconimageupload',
		allowedExtensions: ['jpg','png','gif','jpeg'],
		multiple: false,
		onSubmit: function(id, fileName){
			$('#btnsubmit').attr("disabled", "true"); 
		},
		onComplete: function(id, fileName, response) {
			
			if(response.success === false)
			{
				$('#btnsubmit').attr("disabled", "true");
			}
			else
			{
				$('#btnsubmit').removeAttr("disabled");
				$('#fileuploads').attr('checked', true);
			}
		}
	});
}
function createUploader_red(){
	var uploader_red = new qq.FileUploader({
		element: document.getElementById('file-uploader-red-icon'),
		action: appbase+'iconsystem/iconimageupload',
		params: {'name':'<?php echo $system_icon['name']; ?>','color':'red'},
		allowedExtensions: ['jpg','png','gif','jpeg'],
		multiple: false,
		onSubmit: function(id, fileName){$('#btnsubmit').attr("disabled", "true");
		},
		onComplete: function(id, fileName, response){
			if(response.success === false)
			{
				$('#btnsubmit').attr("disabled", "true");
			}
			else
			{
				$('#btnsubmit').removeAttr("disabled");
				$('#fileuploads').attr('checked', true);
			}
		}
	});
}
function createUploader_yellow(){
	var uploader_yellow = new qq.FileUploader({
		element: document.getElementById('file-uploader-yellow-icon'),
		action: appbase+'iconsystem/iconimageupload',
		params: {'name':'<?php echo $system_icon['name']; ?>','color':'yellow'},
		allowedExtensions: ['jpg','png','gif','jpeg'],
		multiple: false,
		onSubmit: function(id, fileName){$('#btnsubmit').attr("disabled", "true");
		},
		onComplete: function(id, fileName, response){
			if(response.success === false)
			{
				$('#btnsubmit').attr("disabled", "true");
			}
			else
			{
				$('#btnsubmit').removeAttr("disabled");
				$('#fileuploads').attr('checked', true);
			}
		}
	});
}
function createUploader_green(){
	var uploader_green = new qq.FileUploader({
		element: document.getElementById('file-uploader-green-icon'),
		action: appbase+'iconsystem/iconimageupload',
		params: {'name':'<?php echo $system_icon['name']; ?>','color':'green'},
		allowedExtensions: ['jpg','png','gif','jpeg'],
		multiple: false,
		onSubmit: function(id, fileName){$('#btnsubmit').attr("disabled", "true");
		},
		onComplete: function(id, fileName, response){
			if(response.success === false)
			{
				$('#btnsubmit').attr("disabled", "true");
			}
			else
			{
				$('#btnsubmit').removeAttr("disabled");
				$('#fileuploads').attr('checked', true);
			}
		}
	});
}
</script>
<h1><?php echo $this->translate('Edit System Icon');  ?></h1>
<form action="" method="post" name="frmediticon" id="frmediticon" class="datatable">
	<!-- <p><a href="iconsystem/listicons" ><< <?php echo $this->translate('back');  ?></a></p> -->
	<a href="<?php echo $this->url(array('controller'=>'iconsystem' , 'action' => 'listicons' )); ?>"><?php echo $this->translate("back")?></a>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="35%" height="28" align="left" valign="top"><? echo $this->translate('icon_name'); ?></td>
			<td width="43%" height="28" align="left" valign="top">
				<?php echo $this->translate($system_icon['name']); ?>
				<br />
				<?php echo $this->error_name;?>
			</td>
			<td height="28" align="left" valign="top" class="errx"></td>
		</tr>
		<tr>
			<td height="28" align="left" valign="top">
				<? echo $this->translate('icon_image')?>
			</td>
			<td height="28" align="left" valign="top">
				<div class="icon_image">
					<?php if(is_file(APPLICATION_PATH.'/../public/icons_system/'. $system_icon['image'])): ?>
						<img src="<?php echo APP_BASE .'icons_system/'. $system_icon['image']; ?>" title="<?php echo $system_icon['name']; ?>" id="icon_id_<?php echo $system_icon['id']; ?>" height="32"/>
					<?php else: ?>
						<p><?php echo $this->translate('no_icon_uploaded'); ?></p>
					<?php endif; ?>
 				</div>
			</td>
			<td height="28%" align="left" valign="top"></td>
		</tr>
		<tr class="single_file_upload">
			<td height="28" align="left" valign="top">
				<? echo $this->translate('upload_icon')?>*
				<br />
				(<? echo $this->translate('maxfilesize'); ?>: <?php echo ini_get('upload_max_filesize'); ?>B)
			</td>
			<td height="28" align="left" valign="top">
				<div id="file-uploader-normal-icon">
					<noscript>
					<?php echo $this->translate('enable_js_for_uploader'); ?>
					</noscript>
				</div>



			</td>
			<td height="28" align="left" valign="top"></td>
		</tr>
		<tr class="triple_file_upload">
			<td height="28" align="left" valign="top">
				<? echo $this->translate('upload_traffic_icon_red')?>*
				<br />
				(<? echo $this->translate('maxfilesize'); ?>: <?php echo ini_get('upload_max_filesize'); ?>B)
			</td>
			<td height="28" align="left" valign="top">
				<div id="file-uploader-red-icon">
					<noscript>
					<?php echo $this->translate('enable_js_for_uploader'); ?>
					</noscript>
				</div>
			</td>
			<td height="28" align="left" valign="top"></td>
		</tr>
		<tr class="triple_file_upload">
			<td height="28" align="left" valign="top">
				<? echo $this->translate('upload_traffic_icon_yellow')?>*
				<br />
				(<? echo $this->translate('maxfilesize'); ?>: <?php echo ini_get('upload_max_filesize'); ?>B)
			</td>
			<td height="28" align="left" valign="top">
				<div id="file-uploader-yellow-icon">
					<noscript>
					<?php echo $this->translate('enable_js_for_uploader'); ?>
					</noscript>
				</div>

			</td>
			<td height="28" align="left" valign="top"></td>
		</tr>
		<tr class="triple_file_upload">
			<td height="28" align="left" valign="top">
				<? echo $this->translate('upload_traffic_icon_green')?>*
				<br />
				(<? echo $this->translate('maxfilesize'); ?>: <?php echo ini_get('upload_max_filesize'); ?>B)
			</td>
			<td height="28" align="left" valign="top">
				<div id="file-uploader-green-icon">
					<noscript>
					<?php echo $this->translate('enable_js_for_uploader'); ?>
					</noscript>
				</div>
			</td>
			<td height="28" align="left" valign="top"></td>
		</tr>
		<tr>
			<td height="28" align="left" valign="top"><?php echo $this->translate('change_icon'); ?></td>
			<td height="28" align="left" valign="top"><input type="checkbox" id="fileuploads" name="fileuploads" value="1" /></td>
			<td height="28" align="left" valign="top"></td>
		</tr>
		<tr>
			<td height="28" align="left" valign="top">
				<? echo $this->translate('icon_color')?>
			</td>
			<td height="28" align="left" valign="top">
				<div id="colorSelector" class="icon_color_selector">
					<div style="background-color: <?php echo "#".$icon_color; ?>"></div>
					<input name="icon_color" id="icon_color" type="hidden" value="<?php echo $icon_color; ?>" />
				</div>


			</td>
			<td height="28%" align="left" valign="top"></td>
		</tr>



		<?php if ($this->icon_extra_settins_html !== false ) : ?>
		<!--  extra icon settings  made from inputs -->
		<tr>
			<td height="28" align="left" valign="top">
				<? echo $this->translate('icon_settings')?>
			</td>

			<td height="28" align="left" valign="top">
			<?php echo $this->icon_extra_settins_html;?>
				

			</td>
			<td height="28%" align="left" valign="top"></td>
		</tr>

		<?php endif; //icon_settings?>


		<tr>
			<td height="28" align="left" valign="top">&nbsp;</td>
			<td height="28" align="left" valign="top"><label>
					<input type="hidden" name="icon_name" id="icon_name" value="<?php echo $system_icon['name']; ?>" />
					<input type="button" name="btnsubmit" id="btnsubmit" value="<? echo $this->translate('submit')?>" class="button">
				</label></td>
			<td height="28" align="left" valign="top">&nbsp;</td>
		</tr>

	</table>
</form>

