<?php
	$payments = $this->payments;
	$users = $this->users_list;
?>
<div id="listItemsContainer" class="listItemsContainer">
	<div class="listItemHeader">
		<div class="documentTypeH"><a href="javascript:void(0);"><?php echo $this->translate('entrydate'); ?></a></div>
		<div class=" documentCustomer"><a href="javascript:void(0);"><?php echo $this->translate('username'); ?></a></div>
		<div class=" documentComment"><a href="javascript:void(0);"><?php echo $this->translate('comment'); ?></a></div>
		<div class=" documentAmount listItemHeaderRight"><a href="javascript:void(0);"><?php echo $this->translate('amount'); ?></a></div>
	</div>
	<div class="clearFloat"></div>
	<?php
	if (count($payments) > 0):
		foreach ($payments as $keyid => $payment):
			?>
			<div class="listItem-<?php echo $payment['id']; ?>">
				<div class="listItemData">
					<div class="documentCheckBox">

					</div>
					<!-- <div class="documentType" style="width:147px;"> -->
					<div class="documentType">
						<div class="listItemCell">
							<?php echo date("d.m.Y", strtotime($payment['paid_date'])); ?>
						</div>
					</div>

					<div class="documentCustomer">
						<div class="listItemCell">
							<?php echo $users[$payment['create_user']]['user_title']." ".$users[$payment['create_user']]['last_name']; ?><?php if($users[$payment['create_user']]['first_name']): echo ', '.$users[$payment['create_user']]['first_name']; endif;  ?>
						</div>
					</div>
					
					<div class="documentComment">
						<div class="listItemCell">
							<?php echo nl2br($payment['comment']); ?>
						</div>
					</div>
					<div class="documentAmount" id="modal_amount">
						<div class="listItemCell" style="padding-right:5px">
							<div class="invoice <?php echo $style; ?>" style="font-size:14px; font-weight:bold;">
								<span>
									<?php echo number_format($payment['amount'], "2", ",", "."); ?> €
									<span style="display:none;" id="reduceAmntPaid-<?php echo $payment['id']; ?>" class="reduceAmntPaid"><?php echo $payment['amount']; ?></span>
									<a href="javascript:void(0);"><img src="<?php echo RES_FILE_PATH; ?>/images/action_delete.png" id="deletePayment-<?php echo $payment['id']; ?>" class="delPayment" alt="<?php echo $payment['id']; ?>" /></a>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="clearFloat"></div>
			</div>
			<?php
		endforeach;
	else:
		?>
		<div class="listItem"><?php echo $this->translate('noPaymentsDone'); ?></div>
	<?php endif; ?>
</div>