<script type="text/javascript">
  function checkedall(allid)
  {
  	checkbox = document.getElementsByName('clients[]');
	if(allid.checked==true)
	{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = true; 
		}
	}else{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = false; 
		}
	}
  } 
</script>
<form action="" method="post" name="frmmenu" id="frmmenu">
	<div id="addmenu_calendarImg" style="display: none;">
		<img id="calImg" src="_ipad/images/calendar.png" alt="Popup" class="trigger">
	</div>
	
	<fieldset>
	<legend><? echo $this->translate('menutitle') ?></legend>
	
	<div id="addmenu_Error_Msg" class="err"> <? echo $this->error_message ?></div>
	<label id="lbl_menu_title" for="menu_title"><? echo $this->translate('menu') ?></label>
	<input type="text" name="menu_title" tabindex="2" id="menu_title" value="<? echo $this->menu_title ?>" size="40">
	<div id="addmenu_Error_title" class="error"><?php echo $this->error_menu_title ?></div>&nbsp;
	<br />
	
	<label id="lbl_link" for="link"><? echo $this->translate('link') ?></label>
	<input type="text" name="menu_link" tabindex="3" id="menu_link" value="<? echo $this->menu_link ?>" size="40">
	<div id="addmenu_Error_menuLink" class="error"><?php echo $this->error_menu_link?></div>&nbsp;
	<br />
	
	<label id="lbl_parent_id" for="parent_id"><? echo $this->translate('selectparentmenu') ?></label>
	<? echo $this->formSelect('parent_id', $this->parent_id, null, $this->menusdrop) ?>
	<div id="addmenu_Error_parentID" class="error"><?php echo $this->error_menu_parent_id ?></div>&nbsp;
	<br />
	<label for="position" id="lbl_position"><? echo $this->translate('position') ?></label>
	<input name="left_position" type="checkbox" value="1" <? echo $this->leftcheck ?> /> Left Menu  <input name="top_position" type="checkbox" value="1" <? echo $this->topcheck ?> /> Top Menu
	<div id="addmenu_Error_position" class="error"><?php echo $this->error_menu_position ?></div>&nbsp;
	<br />
	
	<label for="openin" id="lbl_openin"><? echo $this->translate('openin') ?></label>
	<? echo $this->formSelect('openin', $this->openin, null, $this->openins) ?>
	<div id="addmenu_Error_openin" class="error"><?php echo $this->error_openin ?></div>&nbsp;
	<br />
	
	<label for="foradmin" id="lbl_foradmin"><? echo $this->translate('foradmin') ?></label>
	<? echo  $this->formCheckbox('foradmin', $this->foradmin, null, array('1')); ?>
	<div id="addmenu_Error_foradmin" class="error"> <?php echo $this->error_foradmin ?></div>&nbsp;
	<br />
	
	<label for="forsuperadmin" id="lbl_forsuperadmin"><? echo $this->translate('forsuperadmin') ?></label>
	<? echo  $this->formCheckbox('forsuperadmin', $this->forsuperadmin, null, array('1')); ?>
	<div id="addmenu_Error_forsuperadmin" class="error"> <?php echo $this->error_forsuperadmin ?></div>&nbsp;
	<br />
	
	<label>Visible</label>
	<div id="addmenu_clientInfo" class="TableDivContent">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="addmenu_clientInfoTable" class="datatable">
		<tr>
			<th height="22" align="left" valign="top"><strong><? echo $this->translate('clientname') ?></strong></th>
			<th height="22" align="left" valign="top"><label>
			<input type="checkbox" name="allclients[]" id="allclients" onclick="checkedall(this)" />
			</th>
		</tr>
		<? echo $this->clientlist?>
	</table>
	</div>
	<label></label>
	<input type="submit" name="btnsubmit" id="btnsubmit" tabindex="9" class="button" value="<? echo $this->translate('submit') ?>"  />
	</fieldset>
</form>