<script type="text/javascript">
	$(document).ready(function(){
		$(function() {

			$('#hospizvizit_date').datepicker({
				dateFormat: 'dd.mm.yy',
				showOn: "both",
				buttonImage: $('#calImg').attr('src'),
				buttonImageOnly: true,
				changeMonth: true,
				changeYear: true,
				nextText: '',
				prevText: ''
			});

		});
	});
	var isdischarged = <? echo $this->isdischarged ?>;
</script>

<form action="<? echo $this->act ?>" method="post" name="addhospizv" id="addhospizv" autocomplete="off" >
	<div style="display: none;">
		<img id="calImg" src="<? echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger">
	</div>
	<? echo $this->patientinfo ?>
	<? echo $this->tabmenus ?>
	<div id="family_dr_edit" class="tab_container">
		<span class="err"><? echo $this->error_hospiz;?></span>
		<br />
		<fieldset  >
			<legend><? echo $this->translate('voluntaryworkersvizitadd') ?></legend>



			<label for="vw_lastname" id="lbl_lastname"><? echo $this->translate('voluntaryworkers') ?></label>
			<?php echo $this->formSelect('vw_id', $this->vw_id, null, $this->users); ?>
			<div class="clearer"></div>
			<br/>
			<label for="vw_lastname" id="lbl_lastname"><? echo $this->translate('Grund') ?></label>
			<?php echo $this->formSelect('grund', $this->grund, null, $this->grundarray); ?>
			<div class="clearer"></div>
			<br/>
			<label for="street" id="lbl_street1"><? echo $this->translate('date') ?></label>
			<input type="text" name="hospizvizit_date" id="hospizvizit_date"  style="width:230px; margin: 2px 0 -2px 0px;" value="<? echo $this->hospizvizit_date ?>" >

			<div class="clearer"></div>
			<br/>
			<label for="zip" id="lbl_zip"><? echo $this->translate('hospizv_duration') ?></label>
			<input type="text" name="besuchsdauer" class="left" id="besuchsdauer" value="<? echo $this->besuchsdauer ?>" style="width:250px; " >
			<div class="clearer"></div>
			<br/>
			<label for="city" id="lbl_city"><? echo $this->translate('hospizv_distance') ?></label>
			<input type="text" name="fahrtkilometer" class="left" id="fahrtkilometer" value="<? echo $this->fahrtkilometer ?>" style="width:250px;  ">
			<div class="clearer"></div>
			<br/>
			<label for="city" id="lbl_city"><? echo $this->translate('timetravel') ?></label>
			<input type="text" name="fahrtzeit" class="left" id="fahrtzeit" value="<? echo $this->fahrtzeit ?>" style="width:250px;  ">
			<div class="clearer"></div>

			<div id="loading"></div>
			<br/>
			<input type="button" name="btnsubmit" id="btnsubmit-save" value="<? echo $this->translate('submit') ?>" class="button"  onclick="checkdischargednew('addhospizv')" >
		</fieldset>
	</div>
</form>

