<script type="text/javascript">

var pl_loading = function()
{
	var dlist = '<div class="loadingdiv" align="center"><img src="<? echo RES_FILE_PATH;  ?>/images/pageloading.gif"><br />	Loading... please wait</div>';
	document.getElementById('content').innerHTML = dlist;
}	

function loadpage(ord,clm)
{
	if($('#hdnlastpage').val()>=parseInt($('#pageno').val())){
	if((parseInt($('#pageno').val()))>0){pgno=(parseInt($('#pageno').val()-1));}else{pgno=0;}
		ajaxCallserver({url:'patientform/fetchdeletedlist?clm='+clm+'&ord='+ord+'&pgno='+pgno,callLoading:pl_loading});
	}else{
		jAlert("<? echo $this->translate('invalidpageno'); ?>");
	}
}
	
var callBack = function(params)
{
	document.getElementById('content').innerHTML = params.patientlist; 
}
  function DoNav(theUrl)
  {
  	document.location.href = appbase+theUrl;
  }
  
  function checkedall(allid)
  {
  	checkbox = document.getElementsByName('patient_id[]');
	if(allid.checked==true)
	{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = true; 
		}
	}else{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = false; 
		}
	}
  }
  
  function deleteconfirm()
  {
  		
			jConfirm('<? echo $this->translate('confirmdeleterecord'); ?>', '<? echo $this->translate('confirmdeletetitle'); ?>', function(r) {
			if(r)
			{	
				document.frmuser.action = "patient/deletedpatientslist";
				document.frmuser.submit();
			} else {
				document.getElementById('submitbuton').removeAttribute("disabled");
			}

	});
	
	return false;
	
  } 
</script>
<style type="text/css">
	.error_class{
		margin:0px!important;
	}
	#epid{
	width: 265px!important;
	}
	#comment{
	width: 265px;
	}
</style>
<form action="" method="post" name="frmuser" id="frmuser" onsubmit="return deleteconfirm();">
<fieldset>
	<legend><? echo $this->translate('removepatient')?></legend>
    <div class="err">    <? echo $this->error_message ?></div>
		<table class="datatable" style="border:0;">
			<? if($this->usertype=='SA'):?>
				<tr>
					<td width="25%"><label for="clientid"> <? echo $this->translate('clientname')?>:</label></td>
					<td width="75%">
						<? echo $this->formSelect('clientid',$_POST['clientid'],NULL,$this->adminclientarray);?>
						<div class="error error_class"><? echo $this->error_clientid ?></div>
					</td>
				</tr>	
			<? endif; ?>
			
			<tr>
				<td><label for="epid"><? echo $this->translate('patientnumber')?>:</label></td>
				<td>
					<input name="epid" type="text" id="epid">
					<div class="error error_class"><? echo $this->error_epid ?></div><br/>
					
				</td>
			</tr>
			
			<tr>
				<td><? echo $this->translate('comment')?>:</td>
				<td>
					<textarea name="comment" cols="20" rows="5" id="comment"></textarea>
					<div class="error error_class"><? echo $this->error_comment ?></div><br/>
				</td>
			</tr>
			<tr>
				<td><label></label></td>
				<td><input name="btnsubmit" type="submit"	value="<? echo $this->translate('delete') ?>" id="submitbuton" class="button"></td>
			</tr>
		</table>
	</fieldset>
<div id="content">

	<? echo $this->patientgrid ?>

</div>
</form>

<script type="text/javascript">
ajaxCallserver({callLoading:pl_loading,url:'patient/fetchdeletedpatientslist?clm=ln&ord=ASC&pgno=0'});
</script>