<div id="dischrgeList" class="grid">
	<h1><? echo $this->translate('dischargepatientlist') ?></h1>
	<table class="datatable" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<th class="sort<? echo $this->phorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=ed&ord=<? echo $this->order ?>&pgno=<?= $_GET['pgno'] ?>'})"><? echo $this->translate('nr') ?></a></th>
				<th class="sort<? echo $this->phorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=ed&ord=<? echo $this->order ?>&pgno=<?= $_GET['pgno'] ?>'})"><? echo $this->translate('ePid') ?></a></th>
				<th class="sort<? echo $this->lnorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=ln&ord=<? echo $this->order ?>&pgno=<?= $_GET['pgno'] ?>'})"><? echo $this->translate('lastname') . "," ?><? echo $this->translate('firstname') ?></a></th>
				<th class="sort<? echo $this->bdorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=bd&ord=<? echo $this->order ?>&pgno=<?= $_GET['pgno'] ?>'})" > <? echo $this->translate('birthd') ?> </a></th>
				<th class="sort<? echo $this->sxorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=dd&ord=<? echo $this->order ?>&pgno=<?= $_GET['pgno'] ?>'})"><? echo $this->translate('dischargedate') ?></a></th>
				<th class="sort<? echo $this->phorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/dischargelist?clm=dot&ord=<? echo $this->order ?>&pgno=<?= $_GET['pgno'] ?>'})"><? echo $this->translate('daystreated') ?></th>
				<th><? echo $this->translate('verordnung_all') ?></th>
								<? if($this->org_column == 1 ):?>
			    	<th><? echo $this->translate('organisation') ?></th>
				<? endif; ?>
				<th class="sort">in Archiv verschieben <span><input type="checkbox" value="1" id="all-archiv"></span></th>
				<th><span class="thtitle-small"><? echo $this->translate('edit') ?></span></th>
				<th><? echo $this->translate('reactivate') ?></th>
			</tr>
			<? echo $this->patientgrid ?>
			<tr><td colspan="10" valign="top"><? echo $this->navigation ?></td></tr>
	</table>
</div>