<table width="100%" border="0" cellpadding="0" cellspacing="0" class="datatable" style="border-width:0px;border-collapse:collapse;margin-top: 5px;">
	<tr>
		<td colspan="6">
			<?php echo $this->navigation; ?>
		</td>
	</tr>
</table>
<table width="85%" border="0" align="left" cellpadding="0" cellspacing="0" class="datatable" id="listpatientfiles_contenttable">
		<tr>
		<td colspan="6">
			<ul class="tags">
			<li>
				<a href="javascript:void(0);" rel="0" class="tag system <?php if($_REQUEST['tag'] == ''): ?> selected <?php endif; ?>"><?php echo $this->translate('all_tags') ?></a>
			</li>
			<?php foreach($this->system_tags as $k_tag => $v_tag): ?>			
				<?php if(in_array($v_tag['id'], $this->existing_tags)): ?>
				<li>
					<a href="javascript:void(0);" rel="<?php echo $v_tag['id']; ?>" class="tag system <?php if($v_tag['id'] == $_REQUEST['tag']): ?> selected <?php endif; ?>"><?php echo $v_tag['tag']; ?></a>
				</li>
				<?php endif; ?>
			<?php endforeach; ?>
			</ul>
			<ul class="tags">
			<?php foreach($this->c_tags as $k_tag => $v_tag): ?>			
				<?php if(in_array($v_tag['id'], $this->existing_tags)): ?>
				<li>
					<a href="javascript:void(0);" rel="<?php echo $v_tag['id']; ?>" class="tag custom <?php if($v_tag['id'] == $_REQUEST['tag']): ?> selected <?php endif; ?>" ><?php echo $v_tag['tag']; ?></a>
				</li>
				<?php endif; ?>
			<?php endforeach; ?>
			</ul>
		</td>
	</tr>
	<tr>
        <th height="20" align="left" valign="top" class="file_date">
			<a href="javascript:void(0);" onClick="ajaxCallserver({url: appbase+'patient/fetchpatientfile?id=<?php echo $_REQUEST['id'] ?>&clm=date&ord=<?php echo $this->order ?>&pgno=<?php echo  $_REQUEST['pgno'] ?>&tag=<?php echo $_REQUEST['tag']; ?>', callLoading: pl_loading})">
				<strong><?php echo $this->translate('date'); ?></strong>
			</a>
		</th>
        <th height="20" align="left" valign="top">
			<a href="javascript:void(0);" onClick="ajaxCallserver({url: appbase+'patient/fetchpatientfile?id=<?php echo $_REQUEST['id'] ?>&clm=title&ord=<?php echo $this->order ?>&pgno=<?php echo  $_REQUEST['pgno'] ?>&tag=<?php echo $_REQUEST['tag']; ?>', callLoading: pl_loading})">
				<strong><?php echo $this->translate('title'); ?></strong>
			</a>
		</th>	
        <th align="left" valign="top" class="file_type">
			<a href="javascript:void(0);" onClick="ajaxCallserver({url: appbase+'patient/fetchpatientfile?id=<?php echo $_REQUEST['id'] ?>&clm=ftype&ord=<?php echo $this->order ?>&pgno=<?php echo  $_REQUEST['pgno'] ?>&tag=<?php echo $_REQUEST['tag']; ?>', callLoading: pl_loading})">
				<strong><?php echo $this->translate('filetype'); ?></strong>
			</a>
		</th>
        <!-- <th align="left" valign="top" class="file_tags"><strong><?php echo $this->translate('col_tags'); ?></strong></th> -->
        <th align="left" valign="top" class="file_user">
			<a href="javascript:void(0);" onClick="ajaxCallserver({url: appbase+'patient/fetchpatientfile?id=<?php echo $_REQUEST['id'] ?>&clm=user&ord=<?php echo $this->order ?>&pgno=<?php echo  $_REQUEST['pgno'] ?>&tag=<?php echo $_REQUEST['tag']; ?>', callLoading: pl_loading})">
				<strong><?php echo $this->translate('uploadby'); ?></strong>
			</a>
		</th>
        <th align="left" valign="top" class="file_actions"><strong><?php echo $this->translate('actions'); ?></strong></th>
	</tr>
	<?php echo $this->patientfileslist; ?>
	<tr>
		<td colspan="6">
			<ul class="tags">
			<li>
				<a href="javascript:void(0);" rel="0" class="tag system <?php if($_REQUEST['tag'] == ''): ?> selected <?php endif; ?>"><?php echo $this->translate('all_tags') ?></a>
			</li>
			<?php foreach($this->system_tags as $k_tag => $v_tag): ?>			
				<?php if(in_array($v_tag['id'], $this->existing_tags)): ?>
				<li>
					<a href="javascript:void(0);" rel="<?php echo $v_tag['id']; ?>" class="tag system <?php if($v_tag['id'] == $_REQUEST['tag']): ?> selected <?php endif; ?>"><?php echo $v_tag['tag']; ?></a>
				</li>
				<?php endif; ?>
			<?php endforeach; ?>
			</ul>
			<ul class="tags">
			<?php foreach($this->c_tags as $k_tag => $v_tag): ?>			
				<?php if(in_array($v_tag['id'], $this->existing_tags)): ?>
				<li>
					<a href="javascript:void(0);" rel="<?php echo $v_tag['id']; ?>" class="tag custom <?php if($v_tag['id'] == $_REQUEST['tag']): ?> selected <?php endif; ?>" ><?php echo $v_tag['tag']; ?></a>
				</li>
				<?php endif; ?>
			<?php endforeach; ?>
			</ul>
		</td>
	</tr>
</table>  
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="datatable" style="border-width:0px;border-collapse:collapse;margin-top: 5px;">
	<tr>
		<td colspan="6">
			<?php echo $this->navigation; ?>
		</td>
	</tr>
</table>
