<? $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/folgeverordnung.css'); ?>
<script>
$(document).ready(function(){ 
	$('form').submit(function() {
		setTimeout(function () {$('input[type=submit]').attr('disabled', true);}, 150);
		setTimeout(function () {$('input[type=submit]').attr('disabled', false);}, 22000);
	});
});
</script>
<form id="folgeverordnung" name="folgeverordnung" action="" method="post">
      <? echo $this->patientinfo ?>
       <? echo $this->tabmenus ?>
      <div class="tab_container">
       
        <div id="frmblat_flgvrordnung">
          <div id="frmblat_flgvrordnung_grid">
            <div id="frmblat_flgvrordnung_faxnr_outer" class="frmblat_grid_left">
              <div idfrmblat_flgvrordnung_faxnr class="frmblat_grid_head">Empfänger/Anschrift/FaxNr./Ansprechpartner</div>
              <div id="frmblat_flgvrordnung_faxnr_content" class="frmblat_grid_contnet "><textarea name="empf" cols="60" rows="6"><?  echo $this->von_name.$this->von_address ?></textarea></div>
            </div>
            <div id="frmblat_flgvrordnung_absndr_content" class="frmblat_grid_right">
              <div id="frmblat_flgvrordnung_absndr_head" class="frmblat_grid_head">Absender</div>
              <div id="frmblat_flgvrordnung_absndr_stret" class="frmblat_grid_contnet"><? echo $this->clientname?></div>
              <div id="frmblat_flgvrordnung_absndr_stret" class="frmblat_grid_contnet"><? echo $this->clientstreet?></div>
              <div id="frmblat_flgvrordnung_absndr_phone" class="frmblat_grid_contnet"><? echo $this->clientphone?></div>
              <div id="frmblat_flgvrordnung_absndr_faz" class="frmblat_grid_contnet"><?  echo $this->clientfax?></div>
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div class="Folgeverordnung_titles">
          <h1> Wir bitten um Zusendung einer Folgeverordnung (VO 63) </h1>
          <h3> Abrechnungsziffer der Folgeverordnung: 01426 (15,07€) </h3>
          </div>
          
          <div id="DieVrordung_von">
            <div id="frmblat_flgvrordnung_von_outer" class="DieVrordung_von_left">
              <div id="frmblat_flgvrordnung_von_head" class="DieVrordung_von_right_head">Die Verordnung von</div>
              <div class="DieVrordung_von_right_date">
                <div class="date_txt">läuft ab zum</div>
                <div class="date_txt">
                  <input name="verordnungbis" value="<? echo $this->verordnungbis?>"type="text" style="width:100px;"/>
                </div>
                <div class="date_txt">!</div>
                <div class="ClrBoth"></div>
              </div>
            </div>
            <div id="frmblat_flgvrordnung_von_ptent_data" class="DieVrordung_von_right">
              <div id="frmblat_flgvrordnung_von_ptent_data_head" class="frmblat_patient_data">
              
              <div id="frmblat_flgvrordnung_absndr_content" class="frmblat_grid_right_New">
              <div id="frmblat_flgvrordnung_absndr_stret" class="frmblat_grid_contnet_new"> <? echo $this->patientname?> (<? echo $this->patientbirthd;?>)</div>
              <div id="frmblat_flgvrordnung_absndr_phone" class="frmblat_grid_contnet_new"><? echo $this->patientaddress?></div>
              <div id="frmblat_flgvrordnung_absndr_faz" class="frmblat_grid_contnet_new"><?  echo $this->patientphone?></div>
               <div id="frmblat_flgvrordnung_absndr_faz" class="frmblat_grid_contnet_new"><?  echo $this->patientfax?></div>
                <div id="frmblat_flgvrordnung_absndr_faz" class="frmblat_grid_contnet_new"><?  //echo $this->von_name1 ?></div>
            </div>
              </div>
              
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div id="frmblat_flgvrordnung_mit" class="DieVrordung_von_OtherTxt">Mit freundlichen Grüßen</div>
          <div id="frmblat_flgvrordnung_wir" class="DieVrordung_von_OtherTxt"><? echo $this->client_team_name ?></div>
          <div id="frmblat_flgvrordnung_dte_info" class="frmblat_dateInfo">
            <div id="frmblat_flgvrordnung_dte_info_content" class="frmblat_grid_left">
              <div id="frmblat_flgvrordnung_datum_inptbox" class="frmblat_dateInfo_content">
                <input id="frmblat_flgvrordnung_datum_inpt" name="currrentdate" value="<? echo $this->currrentdate?>" type="text" style="width:300px;" />
              </div>
              <div id="frmblat_flgvrordnung_datum" class="frmblat_dateInfo_content"></div>
            </div>
            <div id="frmblat_flgvrordnung_clent_left" class="frmblat_grid_left">
              <div id="frmblat_flgvrordnung_clent_outer" class="frmblat_dateInfo_right">
                <input id="frmblat_flgvrordnung_clent_inpt" name="client_name" type="text" style="width:300px;" value="<? echo $this->clientname?>" />
              </div>
            </div>
            
            
            <div class="ClrBoth"></div>
          <div class="insurance_box">
          <table border="1" width="100%" class="insurance_box">
          <tr>
          	<td class="td_label_hib"> Unsere IK-Nr. </td><td><?php echo $this->health_insurance_iknumber; ?></td>
          	 <td class="td_label_hib"><? echo  $this->translate('bsnr') ?></td><td><?php echo $this->user_betriebsstatten_nr;?></td>
          	<td class="td_label_hib"><? echo  $this->translate('lannr') ?> </td><td><?php echo $this->user_lanr;?></td>
          </tr>
          </table>
          	
          </div>
          
          </div>
        </div>
        <input name="btnsubmit" type="submit" value="<? echo $this->translate('generatepdf')?>" class="btnsubmit_usersessions" />
      </div>
    </form>