<?php
 $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/imagetag.css'); 
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/imagetag/jquery.phototag.js'); 
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/imagetag/jquery.ui.js'); 

?>
<div id="testContent" style="padding-top:20px; border:3px gray solid"></div>
<script type="text/javascript">
$(document).ready(function(){
	$('#testContent').html('<img id="externalLink" class="photoTag userId_25 imageId_150 albumId_200" src="css/imagetag/monkeys2.jpg"/>');
		$('.photoTag').photoTag();
	});
</script>