<?php
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/page-css/kvno_anlage_3a.css?' . date('Ymd'));
?>
<script type="text/javascript">
	$(document).ready(function() {
 
		$( "#discharge_date" ).datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true,
			nextText: '',
			prevText: ''
		});
		$( "#death_date" ).datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true,
			nextText: '',
			prevText: ''
		});
 
		$('.hasDatepicker').mask('99.99.9999');

		$('input[type=submit]').bind('click', function(e) {
			e.preventDefault();
			//check required textarea filled if renew is checked
				$('#anlage4awl').submit();
				setTimeout(function () {$('input[type=submit]').attr('disabled', true);}, 150);
				setTimeout('redirect()', 1000);
				setTimeout(function () {$('input[type=submit]').attr('disabled', false);}, 22000);
		});
		
		
		/*----------------------------------------------------------------------------------------------------------*/
		/*---------------------------------------- Stamp Info ------------------------------------------------------*/
		/*----------------------------------------------------------------------------------------------------------*/
		
			$('#stampusers').live('change', function() {
// 				$('#user_stamp_block span').replaceWith('');
				$('#user_stamp_block textarea').replaceWith('');

				$.get(appbase + 'ajax/userstampinfo?stamp-info=' + $(this).val(), function(result) {

					if (result != 0) {
						var resultx = jQuery.parseJSON(result);
						
						var user_lanr = resultx.lanr;
						var user_bsnr = resultx.bsnr;

						$('#Veror63_NameBetrinInpt').val(user_bsnr);
						$('#Veror63_NamearztnInpt').val(user_lanr);

						$('#user_stamp_block span').replaceWith('');
						$('#user_stamp_block textarea').replaceWith('');

						var row1 = (resultx.row1 ? resultx.row1 : '');
						var row2 = (resultx.row2 ? resultx.row2 : '');
						var row3 = (resultx.row3 ? resultx.row3 : '');
						var row4 = (resultx.row4 ? resultx.row4 : '');
						var row5 = (resultx.row5 ? resultx.row5 : '');
						var row6 = (resultx.row6 ? resultx.row6 : '');
						var row7 = (resultx.row7 ? resultx.row7 : '');

						var all_strings = row1+row2+row3+row4+row5+row6+row7;
						if(all_strings.length > '0')
						{
						var user_stamp = '<span>' + row1 + '<br/>' + row2 + '<br/>' + row3 + '<br/>' + row4 + '<br/>' + row5 + '<br/>' + row6 + '<br/>' + row7 + '</span>';
						var user_stamp_textarea = '<textarea name="stamp_block" id="stamp_textarea">' + row1 + '\r\n' + row2 + '\r\n' + row3 + '\r\n' + row4 + '\r\n' + row5 + '\r\n' + row6 + '\r\n' + row7 + '</textarea>';

//	 						$('#user_stamp_block').append(user_stamp + user_stamp_hidden);
							$('#user_stamp_block').append(user_stamp_textarea);
						}
						else
						{
							$('.stamp_alert').show('fast').delay(1000).hide('slow');

							var user_stamp_textarea = '<textarea name="stamp_block" id="stamp_textarea"></textarea>';
						$('#user_stamp_block').append(user_stamp_textarea);
						}



					} else {
						//Changed 16.09.2014 (edit lanr & bsnr only if multi stamp module is active)
						<?php if($this->multiplestamps_option): ?>
						$('#Veror63_NameBetrinInpt').val("");
						$('#Veror63_NamearztnInpt').val("");
						<?php endif; ?>
						$('.stamp_alert').show('fast').delay(1000).hide('slow');
						var user_stamp_textarea = '<textarea name="stamp_block" id="stamp_textarea"></textarea>';
						$('#user_stamp_block').append(user_stamp_textarea);
						
						
					}

				});
				return false;
			});

			/*----------------------------------------------------------------------------------------------------------*/
		
		
		
		
		
		
	});

	function redirect() {
		window.location.href = "<?php echo APP_BASE; ?>patientcourse/patientcourse?id=<?php echo $_GET['id'] ?>";
	}
</script>
	<div style="display: none;"> <img id="calImg" src="<?php echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger" style="margin-bottom: -4px;"/> </div>
	<?php echo $this->patientinfo ?>
	<?php echo $this->tabmenus ?>
<form action="" method="post" id="anlage4awl" target="_blank">
	<div class="tab_container">
		<div id="analage">
			<div id="Veror_main" class="pallnetz_topform proper_height">
				<label id="Veror63_Kraner" for="Krankenkasse">Krankenkasse bzw. Kostenträger</label>
				<br />
				<input id="Veror63_KraneInpt" name="kv_header[insurance_company_name]" value="<?php echo $this->insurance_company_name ?>" class="insurnace"  type="text" />
				<div class="redline"></div>
				<div class="clearer"></div>

				<div id="Veror63_NameVorVer" class="formleftdiv">
					<label id="Veror63_NameVorVeOuter" for="Name">Name, Vorname des Versicherten</label>
					<br />
					<textarea name="kv_header[patientname]" id="Veror63_NameVorVeInpt" cols="45" rows="2" class="textArea"><?php echo $this->patientname ?></textarea>
				</div>
				<div id="Veror63_NameGeb" class="formrightdiv proper_height" >
					<label id="Veror63_NameGeLbl" for="geb">geb. am</label>
					<br />
					<input type="text" name="kv_header[patbirth]" id="Veror63_NameGeInpt" value="<?php echo $this->birthdate ?>" />
				</div>

				<div class="ClrBoth"></div>
				<div class="redline" id="Veror63_NameBlckLine"></div>

				<div id="Veror63_NameKassnr" class="formShortDiv proper_height">
					<label id="Veror63_NameKassnLbl" for="Kassen-Nr.">Kassen-Nr.</label><br />
					<input name="kv_header[kvnumber]" type="text" id="Veror63_NameKassnInpt" value="<?php echo $this->kvnumber ?>" />
				</div>

				<div class="VerLine" id="Veror63_NameVerline"></div>
				<div class="formShortDiv proper_height" id="Veror63_NameVerNr">
					<label for="Versicherten-Nr" id="Veror63_NameVerNTxt">Versicherten-Nr.</label><br />
					<input id="Veror63_NameVerNInpt" name="kv_header[insurance_no]" type="text" value="<?php echo $this->insurance_no ?>" />
				</div>

				<div class="VerLine" id="Veror63_NameVerlin2"></div>
				<div id="Veror63_NameStatus" class="formShortDiv proper_height">
					<label id="Veror63_NameStatuLbl" for="Status">Status</label><br />
					<input name="kv_header[insurance_status]" id="Veror63_NameStatInpt" type="text" value="<?php echo $this->insurance_status ?>"  />
				</div>
				<div class="ClrBoth"></div>
				<div class="redline" id="Veror63_NameBlacLine"></div>
				<div class="formShortDiv proper_height" id="Veror63_NameBetrinr">
					<label id="Veror63_NameBetrinLbl" for="Vertragsarzt-Nr.">Betriebsstätten-Nr.</label>
					<br />
					<input name="kv_header[betriebsstatten_nr]" id="Veror63_NameBetrinInpt" type="text" value="<?php echo $this->betriebsstatten_nr ?>" />
				</div>
				<div id="Veror63_NameVerlin3" class="VerLine"></div>
				<div id="Veror63_Namearztnr proper_height" class="formShortDiv">
					<label id="Veror63_NamearztnLbl" for="VK gültig bis">Arzt-Nr.</label>
					<br />
					<input id="Veror63_NamearztnInpt" name="kv_header[arzt_nr]" type="text" value="<?php echo $this->arzt_nr ?>"  />
				</div>
				<div class="VerLine" id="Veror63_NameaVerline"></div>
				<div id="Veror63_NameDatum proper_height" class="formShortDiv">
					<label id="Veror63_NameDatuLbl" for="Datum">Datum</label><br />
					<input name="topdatum" id="Veror63_NameDatuInpt" type="text" value="<?php echo date('d.m.Y') ?>" />
				</div>
			</div>

			<div id="statment_insurnc_heading" class="formRightContent proper_height">
				<div class="ClrBoth"></div>
			<div class="clearer"></div>
			</div>
			<div class="ClrBoth"></div>
			<div class="clearer"></div>
			<table cellpadding="3" width="100%" class="header_table">
					<tr>
						<td colspan="5">
							<table style="width:100%;">
								<tr>
									<td>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td class="title">
										<b>Anlage 3b</b>
									</td>
								</tr>
							</table>
						</td>
					</tr>
 
					<tr>
						<td colspan="5" align="center">
							<h1>Qualitätsindikatoren - Abschlussdokumentation AAPV</h1>
						<span>
							zum Strukturvertrag über die palliativmedizinische und palliativpflegerische Versorgung nach<br/>
							§ 73a SGB V zwischen der<br/>
							Kassenärztlichen Vereinigung Nordrhein, AOK Rheinland/Hamburg, IKK classic,<br/>
							Sozialversicherung für Landwirtschaft, Forsten und Gartenbau als Landwirtschaftliche<br/>
							Krankenkasse, Knappschaft und BKK-Landesverband NORDWEST<br/>
						</span>
						</td>
					</tr>
			</table>
			<br/>
			<br/>&nbsp;
			<br/>
			<table border="1" width="100%" class="anlage3data">
				<tr>
					<th> <b>Nr.</b> </th>
					<th> <b>Sachverhalt</b> </th>
					<th> <b>Bitte ankreuzen bzw. ausfüllen</b> </th>
				</tr>
				<tr>
					<td><b>1</b></td>
					<td><b>Beendigung der AAPV-Versorgung</b></td>
					<td>
						<table>
							<tr>
								<td colspan="2" ><input type="text" name="discharge_date" id="discharge_date" value="<?php echo $this->discharge_date; ?>" style="width: 80px!important;" />  Datum der Beendigung</td>
							</tr>
							<tr>
								<td colspan="2">Grund der Beendigung:</td>
							</tr>
						
							<tr>
								<td><input type="checkbox" name="sapv_ending[]" value="standard" /></td>
								<td>Überleitung in Regelversorgung</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="sapv_ending[]" value="sapv" /></td>
								<td>Überleitung in die SAPV-Vollversorgung</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="sapv_ending[]" value="death" /></td>
								<td>Ausscheiden/Tod</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>2</b></td>
					<td><b>Sterbedatum</b></td>
					<td>
						<table>
							<tr>
								<td colspan="2" ><input type="text" name="death_date" id="death_date" value="<?php echo $this->death_date; ?>" style="width: 80px!important;" /></td>
							</tr>
							<tr>
								<td><input type="checkbox" name="not_known" value="1" /></td>
								<td> nicht bekannt</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td><b>3</b></td>
					<td><b>Betreuungsort</b></td>
					<td>
						<table>
							<tr>
								<td><input type="checkbox" name="discharge_location[]" value="home" <?php if(in_array("home",$this->discharge_location)):?> checked="checked"<?php endif; ?>/></td>
								<td>zu Hause </td>
							</tr>
							<tr>
								<td><input type="checkbox"  name="discharge_location[]" value="assisted" /></td>
								<td>Betreutes wohnen </td>
							</tr>
							<tr>
								<td><input type="checkbox"  name="discharge_location[]" value="pflegeheim"   <?php if(in_array("pflegeheim",$this->discharge_location)):?> checked="checked"<?php endif; ?>/></td>
								<td>Pflege/- Seniorenheim </td>
							</tr>
							
							<tr>
								<td><input type="checkbox" name="discharge_location[]" value="kurzzeitpflege"  <?php if(in_array("kurzzeitpflege",$this->discharge_location)):?> checked="checked"<?php endif; ?>/></td>
								<td>Kurzzeitpflege </td>
							</tr>
							
							<tr>
								<td><input type="checkbox"  name="discharge_location[]" value="hospiz"   <?php if(in_array("hospiz",$this->discharge_location)):?> checked="checked"<?php endif; ?>/></td>
								<td>Hospiz</td>
							</tr>
							<tr>
								<td><input type="checkbox"  name="discharge_location[]" value="palliativstation"   <?php if(in_array("palliativstation",$this->discharge_location)):?> checked="checked"<?php endif; ?>/></td>
								<td>Palliativstation</td>
							</tr>
							<tr>
								<td><input type="checkbox"  name="discharge_location[]" value="hospital"   <?php if(in_array("hospital",$this->discharge_location)):?> checked="checked"<?php endif; ?>/></td>
								<td> Krankenhaus (nicht Palliativstation)</td>
							</tr>
							<tr>
								<td><input type="checkbox"  name="discharge_location[]" value="not_known"   <?php if(in_array("not_known",$this->discharge_location)):?> checked="checked"<?php endif; ?>/></td>
								<td> nicht bekannt</td>
							</tr>
						</table>
					</td>
				</tr>
	 
				<tr>
					<td><b>4</b></td>
					<td><b>Angehörige im<br/>
						Betreuungsprozess<br/>
						einbezogen</b>
					</td>
					<td>
						<table>
							<tr>
								<td><input type="radio" name="members_included" value="yes" /></td>
								<td> ja </td>
								<td><input type="radio" name="members_included" value="no"/></td>
								<td> nein </td>
							</tr>
							<tr>
								<td><input type="radio" name="members_included" value="none"/></td>
								<td colspan="3">  keine Angehörigen </td>
							</tr>
						</table>
					</td>
				</tr>
				 
				 
				 
				
				 
				 
				 
			</table>
 
			<div class="ClrBoth"></div>
 
 				<div class="stamp_information">
 					<div class="stamp_user_select">
	 					<?php if ($this->showselect == 1): ?>
							<?php if($this->multiplestamps_option === true): ?>
								<div class="userstamps">
									<label>Arztstempel</label>
									<select id="stampusers" name="stampusers">
									<option value=""><?php echo $this->translate('selectuserstamp')?></option>
									<?php foreach($this->users_mstamps as $user=>$stamp):?>
									 <optgroup label="<?php echo $stamp['user_name'];?>" value="<?php echo $stamp['user_id'];?>">
									 	<?php foreach( $stamp['user_stamps'] as $stamp_id => $stamp_name):?>
									 		<option value="<?php echo $stamp['user_id'];?>-<?php echo $stamp_id;?>" ><?php echo $stamp_name;?></option>
									 	<?php endforeach;?>
									 </optgroup>
									<?php endforeach;?>
									</select>
								</div>
							<?php else: ?>
								<div class="userstamps">
									<label>Arztstempel</label>
									<?php echo $this->formSelect('stampusers', $this->users, null, $this->users); ?>
								</div>
							<?php endif; ?>
						<?php endif; ?> 					
 					</div>
 				 
 					<div class="stamp_user_area">
 					<div class="stamp_alert" style="display: none;"><?php echo $this->translate("no stamp information")?></div>
	 					<div id="user_stamp_block" style="display: block; height: 120px;"> 
		 					<textarea id="stamp_textarea" rows="" cols=""></textarea>
	 					</div>
			  			<!--Vertragsarztstempel/Unterschrift des Arztes-->
 					</div>
 				</div>
 				
 
 
			<div class="ClrBoth"></div>
			<div class="clearer"></div>
			<div id="statment_insurnc_date" class="date_box">
				<input type="submit" name="tbnbutton" id="tbnbutton" value="PDF Erstellen" class="btnsubmit_usersessions"/>
			</div>

		</div>
	</div>
</form>