<?php
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/munster4.css');
$this->headScript ()->appendFile (RES_FILE_PATH . '/javascript/dateUtil.js');
?>

<script type="text/javascript">

var alert_message = '';
$(document).ready(function() {
	
	$('.stamp_alert').hide();
	
	$( ".datepick" ).datepicker({
		dateFormat: 'dd.mm.yy',
		showOn: "both",
		buttonImage: $('#calImg').attr('src'),
		buttonImageOnly: true,
		changeMonth: true,
		changeYear: true,
		nextText: '',
		prevText: ''
	}).mask("99.99.9999");

	$('.form_btnsubmit').click(function(event) {
		setTimeout(function () {$('input[type=submit], input[type=button]').attr('disabled', true);}, 150);
		setTimeout(function () {$('input[type=submit], input[type=button]').attr('disabled', false);}, 12000);
		event.preventDefault();
		 var status = $(this).attr('rel');
		$('#post_status').val(status);
		//console.log(status);
		$('#munster4').submit();
		
//     ISPC-1546  Transportschein mini Tweak - 04.12.2015

// 		if(validate_req_fields()){
// 			$('.requiredInput').removeClass('requiredInput');
// 			$('#munster4').submit();
// 		 } 


	});
	
	$('#stampusers').live('change', function() {
		$('#user_stamp_block span').replaceWith('');
		$('#user_stamp_block textarea').replaceWith('');

		$.get(appbase + 'ajax/userstampinfo?stamp-info=' + $(this).val(), function(result) {

			if (result != 0) {
				var resultx = jQuery.parseJSON(result);

				var user_lanr = resultx.lanr;
				var user_bsnr = resultx.bsnr;

				$('#Veror63_NameBetrinInpt').val(user_bsnr);
				$('#Veror63_NamearztnInpt').val(user_lanr);

				$('#user_stamp_block span').replaceWith('');
				$('#user_stamp_block textarea').replaceWith('');

				var row1 = resultx.row1;
				var row2 = resultx.row2;
				var row3 = resultx.row3;
				var row4 = resultx.row4;
				var row5 = resultx.row5;
				var row6 = resultx.row6;
				var row7 = resultx.row7;

				var user_stamp = '<span>' + row1 + '<br />' + row2 + '<br />' + row3 + '<br />' + row4 + '<br />' + row5 + '<br />' + row6 + '<br />' + row7 + '</span>';
				var user_stamp_hidden = '<textarea name="stamp_block" style="display: none">' + row1 + '<br>' + row2 + '<br>' + row3 + '<br>' + row4 + '<br>' + row5 + '<br>' + row6 + '<br>' + row7 + '</textarea>';

				$('#user_stamp_block').append(user_stamp + user_stamp_hidden);


			} else {
				$('.stamp_alert').show('fast').delay(1000).hide('slow');
			}

		});
		return false;
	});
});

function validate_req_fields() {
	//reset valid cheker
	var valid = true;
	
	if($('#input_4').is(':checked') && $('#input_5').val().length == '0') {
		//assign message error or add class to the not filled input
		alert_message += 'input 5 missing text';
		$('#input_5').addClass('requiredInput');
		valid = false;
	}

	if(($('#input_6').is(':checked') || $('#input_7').is(':checked')) && $('#input_10').val().length == '0') {
		alert_message += "\ninput 10 missing text";
		$('#input_10').addClass('requiredInput');
		valid = false;
	}

	if(($('#input_8').is(':checked') || $('#input_9').is(':checked')) && $('#input_12').val().length == '0') {

		alert_message += "\ninput 12 missing text";
		$('#input_12').addClass('requiredInput');
		valid = false;
	}

	if($('#input_15').is(':checked') && $('#input_16').val().length == '0') {
		//assign message error or add class to the not filled input
		alert_message += 'input 16 missing text';
		$('#input_16').addClass('requiredInput');
		valid = false;
	}

	if($('#input_18').is(':checked') && $('#input_21').val().length == '0') {
		//assign message error or add class to the not filled input
		alert_message += 'input 21 missing text';
		$('#input_21').addClass('requiredInput');
		valid = false;
	}

	if($('#input_20').is(':checked') && $('#input_22').val().length == '0') {
		//assign message error or add class to the not filled input
		alert_message += 'input 22 missing text';
		$('#input_22').addClass('requiredInput');
		valid = false;
	}

	if($('#input_31').is(':checked') && $('#input_32').val().length == '0') {
		//assign message error or add class to the not filled input
		alert_message += 'input 32 missing text';
		$('#input_32').addClass('requiredInput');
		valid = false;
	}

	if($('#input_38').is(':checked') && $('#input_39').val().length == '0') {
		//assign message error or add class to the not filled input
		alert_message += 'input 39 missing text';
		$('#input_39').addClass('requiredInput');
		valid = false;
	}

	if(($('#input_40d').is(':checked') || $('#input_41d').is(':checked')) && $('#input_42').val().length == '0') {

		alert_message += "\ninput 42 missing text";
		$('#input_42').addClass('requiredInput');
		valid = false;
	}

	if($('#input_44').is(':checked') && $('#input_47').val().length == '0') {
		//assign message error or add class to the not filled input
		alert_message += 'input 47 missing text';
		$('#input_47').addClass('requiredInput');
		valid = false;
	}

	if($('#input_45').is(':checked') && $('#input_48').val().length == '0') {
		//assign message error or add class to the not filled input
		alert_message += 'input 48 missing text';
		$('#input_48').addClass('requiredInput');
		valid = false;
	}

	if($('#input_50').is(':checked') && $('#input_51').val().length == '0') {
		//assign message error or add class to the not filled input
		alert_message += 'input 51 missing text';
		$('#input_51').addClass('requiredInput');
		valid = false;
	}
	return valid;
}
</script>

<form id='munster4' action = "" method = "post">
 <div id="CalImg" style="display: none;"> <img id="calImg" src="<?php echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
<?php
	echo $this->patientinfo;
	echo $this->tabmenus; 
?>
 <div class="main_container">

 <div id="munster4">
		<div class="ab_radios" >
		<div class="top_radio" >
			<label for="free_of_charge_radio">Gebühr<br/>frei</label>
			<input type="radio" id="free_of_charge_radio" name="charge" value="1" />
		</div>
		<div class="bottom_radio">
			<label for="pay_fees">Gebühr<br />pflicht.</label>
			<input type="radio" id="pay_fees" name="charge" value="2"/>
		</div>
		</div>
<div id="munster4_header" class="krankenkasse_top">
<label id="munster4_krankenkasse_lbl" for="Krankenkasse">Krankenkasse bzw. Kostenträger</label> <br />
<input id="munster4_krankenkasse_inpt" name="krankenkasse" type="text" value="<?php echo $this->insurance_company_name;?>" class="insurance" />

<div class="blackline"></div>

<div id="munster4_nameVorVer" class="formleftdiv">
	<label id="munster4_nameVorVer_lbl" for="Name">Name, Vorname des Versicherten</label><br />
	<textarea name="patient_name" id="munster4_nameVorVer_inpt" cols="45" rows="2" class="textArea"><?php echo $this->patientname ?></textarea>
</div>
<div id="munster4_gebdate" class="formrightdiv">
	<label id="munster4_gebdate_lbl" for="geb">geb. am</label><br />
	<input id="munster4_gebdate_inpt" type="text" name="geb" value="<?php echo $this->birthdate;?>" class="geb_am" />
</div>
<div class="ClrBoth"></div><div class="blackline" id="munster4_NameBlckLine"></div>
<div id="munster4_nameKassnr" class="formShortDiv">
	<label id="munster4_nameKassnr_lbl" for="Kassen-Nr.">Kassen-Nr.</label><br />
	<input id="munster4_nameKassnr_inpt" type="text" name="kassen_nr" value="<?php echo $this->kvnumber;?>" />
</div>
<div class="VerLine" id="munster4_nameVerline"></div>
<div id="munster4_Vernr" class="formShortDiv">
 	<label for="Versicherten-Nr" id="munster4_NameVerNr_lbl">Versicherten-Nr.</label><br />
 	<input id="munster4_NameVerNr_inpt" name="versicherten_nr" type="text" value="<?php echo $this->insurance_no ?>" /></div>
 	<div class="VerLine" id="munster4_nameVerline2"></div>
<div id="munster4_NameStatus" class="formShortDiv">
 	<label id="munster4_NameStatus_lbl" for="Status">Status</label><br />
 	<input name="status" id="munster4_NameStatus_inpt" type="text" value="<?php echo $this->insurance_status ?>" class="status" /></div>
 	<div class="ClrBoth"></div>
 	<div class="blackline" id="Munster4_nameBlackLine"></div>
<div id="munster4_nameBetrinr" class="formShortDiv">
 	<label id="munster4_nameBetrinr_lbl" for="Vertragsarzt-Nr.">Betriebsstätten-Nr.</label><br />
 	<input name="betriebsstatten_nr" id="munster4_NameBetrin_inpt" type="text" value="<?php echo $this->betriebsstatten_nr ?>" /></div>
 	<div id="munster4_nameVerline3" class="VerLine"></div>
 	<div id="munster4_Namearztnr" class="formShortDiv">
 	<label id="munster4_Namearztnr_lbl" for="VK gültig bis">Arzt-Nr.</label> <br />
 	<input id="munster4_Namearztnr_inpt" name="arzt_nr" type="text" value="<?php echo $this->arzt_nr?>" /></div>
 	<div class="VerLine" id="munster4_NameVerline4"></div>
 	<div id="munster4_NameDatum" class="formShortDiv">
 	<label id="munster4_NameDatum_lbl" for="Datum">Datum</label><br />
 	<input name="topdatum" id="munster4_NameDatum_inpt" type="text" value="<?php echo date('d.m.Y')?>" class="datum" /></div> 
</div>
<div id="Munster4_Nameright" class="nameright">
 	<h2 id="munster4_NameHead"><strong>Verordnung einer Krankenbeförderung 4</strong></h2><br />
  <h5 id="munster4_mittellungHead"><strong>Mitteilung von Krankheiten und drittverursachten Gesundheitsschäden gemäß § 294a SGB V</strong></h5>
	
	
	<table id="mittellung_radio_tbl">
		<tr>
		<td><input type="radio" name="mittellung_von_krankheiten" value="1" id="input_1"<?php if($this->mittellung_von_krankheiten == 1) {echo 'checked="checked"';}?> /></td>
		<td><label id="munster4_unfall_lbl" for="input_1">Unfall,<br />Unfallfolgen</label></td>
		<td><input type="radio" name="mittellung_von_krankheiten" value="2" id="input_2" <?php if($this->mittellung_von_krankheiten == 2) {echo 'checked="checked"';}?> /></td>
		<td><label id="munster4_arbeitsunfall_lbl" for="input_2">Arbeitsunfall,<br />Berufskrankheit</label></td>
		<td><input type="radio" name="mittellung_von_krankheiten" value="3" id="input_3" <?php if($this->mittellung_von_krankheiten == 3) {echo 'checked="checked"';}?> /></td>
		<td><label id="munster4_versorgung_lbl" for="input_3">Versorgungsleiden<br /> (BVG u.a.)</label></td>
		<td><input type="radio" name="mittellung_von_krankheiten" value="4" id="input_4"<?php if($this->mittellung_von_krankheiten == 4) {echo 'checked="checked"';}?> /></td>
		<td><label id="munster4_sonstiger_lbl" for="input_4">sonstiger<br /> Schaden</label></td>
		</tr>
		<tr>
		<td colspan="8"><input type="text" name="mittellung_sonstiger_schaden_txt" id="input_5" value="<?php echo $this->mittellung_sonstiger_schaden_txt ;?>" /></td>
		</tr>
	</table>
	

<div id="munster4_hauptleistung" class="hauptleistung">
	<h3 id="munster4_hauptHead"><strong>1. Hauptleistung</strong></h3>
	
</div>	
	
<table id="hauptleistung_tbl">

	<tr>
		<td>
			<table cellpading="1">
				<tr>
					<td colspan="3"><label id="munster4_imKrankenhaus_lbl"><strong>A) im Krankenhaus</strong></label></td>
				</tr>
				<tr>
					<td><input type="radio" name="hauptleistung_krankenhaus" value="1" id="input_6" <?php if($this->hauptleistung_krankenhaus == 1) {echo 'checked="checked"';}?> /></td>
					<td colspan="2"><label id="munster4_teilstationar_lbl" for="input_6">Krankenhausbehandlung<br /> voll- oder teilstationär</label></td>
					
				</tr>
				
				<tr>
					<td><input type="radio" name="hauptleistung_krankenhaus" value="2" id="input_7"<?php if($this->hauptleistung_krankenhaus == 2) {echo 'checked="checked"';}?> /></td>
					<td><label id="munster4_nachstationär" for="input_7">Krankenhaus-<br />behandlung vor-oder nachstationär</label></td>
					<td><label id="munster4_behandlungsdaten_lbl" for="input_10">Behandlungsdaten </label><input type="text" name="krankenhaus_behandlungsdaten_txt" id="input_10" value="<?php echo $this->krankenhaus_behandlungsdaten_txt ;?>" /></td>
				</tr>
			</table>
		</td>
		<td>
			<table cellpadding="2" cellspacing="2" id="ambulante_operation_tbl">
				<tr>
					<td colspan="3"><label id="munster4_imKrankenhaus_lbl"><strong>B) ambulante Operation</strong></label></td>
				</tr>
				<tr>
					<td><input type="radio" name="ambulante_op_behandlung" value="1" id="input_8"<?php if($this->ambulante_op_behandlung == 1) {echo 'checked="checked"';}?> /></td>
					<td id="label_sgbv"><label id="munster4_ambulanteSAPV_lbl" for="input_8">ambulante Operation gem.<br /> § 115 b SGB V</label></td>
					<td><label id="munster4_datum" for="input_11">Datum</label><input id="input_11" type="text" name="hauptleistung_datum" class="datepick" value="<?php echo $this->hauptleistung_datum ;?>" /></td>
				</tr>
				
				<tr>
					<td><input type="radio" name="ambulante_op_behandlung" value="2" id="input_9"<?php if($this->ambulante_op_behandlung == 2) {echo 'checked="checked"';}?> /></td>
					<td><label id="munster4_nachbehandlung" for="input_9">Vor- oder Nach-behandlung bei ambulanter Operation</label></td>
					<td><label id="munster4_amb_op_behandlung_lbl" for="input_12">Behandlungsdaten </label><input type="text" name="ambulante_op_behandlung_txt" id="input_12" value="<?php echo $this->ambulante_op_behandlung_txt ;?>" /></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
<br />
<table border="0" width="100%" cellpadding="3" cellspacing="1" style="display:block; float: left;">
	<tr>
		<td class="ambB_1"><label id="munster4_ambBehandHead"><strong>C) ambulante Behandlung</strong>(von der Krankenkasse zu genehmigen)</label></td>
		<td class="ambB_2"><input type="radio" name="ambulante_behandlung" value="1" id="input_13"<?php if($this->ambulante_behandlung == 1) {echo 'checked="checked"';}?> /></td>
		<td class="ambB_3"><label id="munster4_amb_beim_lbl" for="input_13">beim<br />Vertragsarzt</label></td>
		<td class="ambB_2"><input type="radio" name="ambulante_behandlung" value="2" id="input_14"<?php if($this->ambulante_behandlung == 2) {echo 'checked="checked"';}?> /></td>
		<td class="ambB_5"><label id="munster4_amb_im_lbl" for="input_14">im<br />Krankenhaus</label></td>
		<td class="ambB_2"><input type="radio" name="ambulante_behandlung" value="3" id="input_15"<?php if($this->ambulante_behandlung == 3) {echo 'checked="checked"';}?> /></td>
		<td class="ambB_7"><label id="munster4_amb_sonstige_lbl" for="input_15">sonstige</label></td>
		<td class="ambB_8"><input type="text" name="ambulante_behandlung_txt" id="input_16" value="<?php echo $this->ambulante_behandlung_txt;?>" /></td>
	</tr>
</table>

<div id="munster4_hochfrequente" class="hochfrequente" style="display:block; float: left;">
<table id="begrundung_tbl" border="0" cellspacing="2" cellpadding="2" >
	<tr>
		<td colspan="6"><label id="munster4_begrundung"><strong>Begründung des Ausnahmefalls gemäß § 60 Abs. 1 SGB V:</strong></label></td>
		
	</tr>
	<tr>
		<td colspan="2"><label id="munster4_hochfreqHead"><strong>Hochfrequente Behandlung:</strong></label></td>
		<td colspan="2"><label id="munster4_dauerHead"><strong>Dauerhafte Mobilitätseinschränkung</strong></label></td>
	</tr>
	<tr>
		<td><input type="radio" name="begrundung_des_ausnahmefalls" value="1" id="input_17"<?php if($this->begrundung_des_ausnahmefalls == 1) {echo 'checked="checked"';}?> /></td>
		<td><label id="munster4_begrundung" for="input_17">gemäß Anlage 2 der Krankentransport-Richtlinien (Dialyse, onkologische Chemo-oder Strahlentherapie)</label></td>
		<td><input id="dauerhafte_merkzeichen_inpt" type="radio" name="dauerhafte_mobilitat" value="1" id="input_19"<?php if($this->dauerhafte_mobilitat == 1) {echo 'checked="checked"';}?> /></td>
		<td><label id="munster4_merkzeichen_lbl" for="input_19">Merkzeichen „aG“, „BI“, „H“ oder Pflegestufe 2 bzw. 3 vorgeleg</label></td>
	</tr>
	<tr>
		<td><input type="radio" name="begrundung_des_ausnahmefalls" value="2" id="input_18" <?php if($this->begrundung_des_ausnahmefalls == 2) {echo 'checked="checked"';}?> /></td>
		<td><label id="munster4_begrundung" for="input_18">vergleichbarer Ausnahmefall wegen</label></td>
		<td><input type="radio" name="dauerhafte_mobilitat" value="2" id="input_20" <?php if($this->dauerhafte_mobilitat == 2) {echo 'checked="checked"';}?> /></td>
		<td><label id="munster4_vergleichbarer" for="dauerhafte_vergleichbarer_inpt">vergleichbarer Grund wegen (ggf. Angabe ICD-10)</label></td>
		
	</tr>
	<tr>
		<td></td>
		<td><input type="text" name="begrundung_des_ausnahmefalls_txt" id="input_21" value="<?php echo $this->begrundung_des_ausnahmefalls_txt;?>" /></td>
		<td></td>
		<td><input type="text" name="dauerhafte_mobilitat_txt" id="input_22" value="<?php echo $this->dauerhafte_mobilitat_txt;?>" /></td>
	</tr>
	
</table>

</div>

 
<div id="munster4_voraussichtliche" class="voraussichtliche">
<table id="voraussichtliche_tbl" cellpadding="5" cellspacing="5">
	<tr>
		<td><label id="voraus_Behandf_lbl">voraussichtliche Behandlungsfrequenz:</label></td>
		<td><input id="input_23" type="text" name="voraussichtliche_behandlungsfrequenz_woche" value="<?php echo $this->voraussichtliche_behandlungsfrequenz_woche ;?>" /></td>
		<td><label id="woche_lbl" for="input_23"> X pro Woche über</label></td>
		<td><input id="input_24" type="text" name="voraussichtliche_behandlungsfrequenz_monate" value="<?php echo $this->voraussichtliche_behandlungsfrequenz_monate ;?>" /> </td>
		<td><label id="monate_lbl" for="input_24"> Monate</label></td>
		<td class="algnRight"><label id="voraus_behand_lbl" for="voraus_Behand_inpt">voraussichtliche Behandlungsdauer:</label></td>
		<td class="algnRight"><input id="input_25" type="text" name="voraussichtliche_behandlungsdauer_txt" value="<?php echo $this->voraussichtliche_behandlungsdauer_txt ;?>" /></td>
	</tr>
</table>
</div>

<table id="munster4_zeitraum_serienv_tbl" class="zeitraum_serienv">
	<tr>
		<td><label id="zeitraum_serienv_lbl" for="zeitraum_serienv_inpt">ggf. Zeitraum der<br />Serienverordnung</label></td>
		<td><input id="input_26" type="text" name="zeitraum_serienverordnung_txt" value="<?php echo $this->zeitraum_serienverordnung_txt; ?>" /></td>
	</tr>
</table>

<table id="beforderungsmittel_tbl" cellpadding="5" cellspacing="2">
	<tr>
		<td><label id="beforderungsmittel_lbl"><strong>2. Beförderungsmittel</strong></label></td>
		<td><input id="input_27" type="radio" name="beforderungsmittel" value="1" <?php if($this->beforderungsmittel == 1) {echo 'checked="checked"';}?> /></td>
		<td><label id="beforder_taxi_lbl" for="input_27">Taxi, Miet-<br />wagen</label></td>
		<td><input id="input_28" type="radio" name="beforderungsmittel" value="2" <?php if($this->beforderungsmittel == 2) {echo 'checked="checked"';}?> /></td>
		<td><label id="beforder_kranken_lbl" for="input_28">Kranken-<br />transportwagen</label></td>
		<td><input id="input_29" type="radio" name="beforderungsmittel" value="3" <?php if($this->beforderungsmittel == 3) {echo 'checked="checked"';}?> /></td>
		<td><label id="beforder_rettungs_lbl" for="input_29">Rettungs-<br />wagen</label></td>
		<td><input id="input_30" type="radio" name="beforderungsmittel" value="4" <?php if($this->beforderungsmittel == 4) {echo 'checked="checked"';}?> /></td>
		<td><label id="beforder_notarzt_lbl" for="input_30">Notarzt-<br />wagen</label></td>
		<td><input id="input_31" type="radio" name="beforderungsmittel" value="5" <?php if($this->beforderungsmittel == 5) {echo 'checked="checked"';}?> /></td>
		<td><label id="beforder_andere_lbl" for="input_31">andere</label></td>
		<td><input id="input_32" type="text" name="beforderungsmittel_txt" value="<?php echo $this->beforderungsmittel_txt; ?>" /></td>
	</tr>

</table>

<table>
	<tr>
		<td>
			<table id="begrund_beforderungsmittels_tbl">
					<tr>
						<td colspan="12"><label id="begrund_beford_lbl" for="input_33"><strong>Begründung des Beförderungsmittels</strong> (ggf. Angabe ICD-10)</label><br /><input id="input_33" type="text" name="begrundung_beforderungsmittels_txt" value="<?php echo $this->begrundung_beforderungsmittels_txt; ?>" /></td>
					</tr>
					<tr>
						<td><label id="medizinisch_tech_lbl">Medizinisch-technische<br />Ausstattung erforderlich:</label></td>
						<td><input id="input_34" type="radio" name="medizinisch_technische" value="1" <?php if($this->medizinisch_technische == 1) {echo 'checked="checked"';}?> /></td>
						<td><label id="medi_nein_lbl" for="input_34">nein</label></td>
						<td><input id="input_35" type="radio" name="medizinisch_technische" value="2" <?php if($this->medizinisch_technische == 2) {echo 'checked="checked"';}?> /></td>
						<td><label id="medi_tragestuhl_lbl" for="input_35">Trage-<br />stuhl</label></td>
						<td><input id="input_36" type="radio" name="medizinisch_technische" value="3" <?php if($this->medizinisch_technische == 3) {echo 'checked="checked"';}?> /></td>
						<td><label id="medi_umsetzbar_lbl" for="input_36">Nicht umsetzbar-<br /> aus Rollstuhl</label></td>
						<td><input id="input_37" type="radio" name="medizinisch_technische" value="4" <?php if($this->medizinisch_technische == 4) {echo 'checked="checked"';}?> /></td>
						<td><label id="medi_liegend_lbl" for="input_37">liegend</label></td>
						<td><input id="input_38" type="radio" name="medizinisch_technische" value="5" <?php if($this->medizinisch_technische == 5) {echo 'checked="checked"';}?> /></td>
						<td><label id="medi_andere_lbl" for="input_38">andere</label></td>
						<td><input id="input_39" type="text" name="medizinisch_technische_txt" value="<?php echo $this->medizinisch_technische_txt; ?>" /></td>
					</tr>
			</table>
		</td>
		<td rowspan="2" style="vertical-align: bottom;">
			<table id="stempel_tbl">
				<tr>
					<td id="stempel_unter" >
						<div class="stamp_alert"><?php echo $this->translate("no stamp information") ?></div>
						<div id="user_stamp_block" style="display: block; height: 110px;">
							<span></span>
						</div>
					</td>
				</tr>
				<tr>
					<td> Unterschrift und Stempel des Vertragsarztes</td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr>
		<td>
			<table id="von_nach_tbl">
				<tr>
					<td><strong>Von</strong></td>
					<td colspan="6"><strong>Nach</strong></td>
					<td colspan="5"><strong>Medizinisch-fachliche Betreuung notwendig:</strong></td>		 
				</tr>
				<tr>
						<td>
							<input id="input_40a" type="radio" name="wohnung" value="1" <?php if($this->wohnung == 1) { echo 'checked="checked"'; } ?> />
						</td>
						<td>
							<input id="input_41a" type="radio" name="wohnung" value="2" <?php if($this->wohnung == 2) { echo 'checked="checked"'; } ?> />
						</td>
						<td>
							<label for="input_41a">Wohnung</label>
						</td>
						<td>
							<input id="input_43" type="checkbox" name="hinfahrt[]" value="1" <?php if(in_array(1, $this->hinfahrt)) { echo 'checked="checked"'; } ?> />
						</td>
						<td>
							<label for="input_43">Hinfahrt</label>
						</td>
						<td>
							<input id="input_46" type="checkbox" name="hinfahrt[]" value="4" <?php if(in_array(4, $this->hinfahrt)) { echo 'checked="checked"'; } ?> />
						</td>
						<td>
							<label for="input_46">Rückfahrt</label>
						</td>
						<td>
							<input id="input_49" type="radio" name="medizinisch_fachliche" value="1" <?php if($this->medizinisch_fachliche == 1) { echo 'checked="checked"'; } ?> />
						</td>
						<td>
							<label for="input_49">nein</label>
						</td>
						<td>
							<input id="input_50" type="radio" name="medizinisch_fachliche" value="2" <?php if($this->medizinisch_fachliche == 2) { echo 'checked="checked"'; } ?> />
						</td>
						<td>
							<label for="input_50">ja,<br />folgende:</label>
						</td>
						<td>
							<input id="input_51" name="medizinisch_fachliche_folgende_txt" value="<?php echo $this->medizinisch_fachliche_folgende_txt; ?>" />
						</td>
				</tr>
				<tr>
						<td><input id="input_40b" type="radio" name="arztpraxis" value="1" <?php if($this->arztpraxis == 1) { echo 'checked="checked"'; } ?> /></td>
						<td><input id="input_41b" type="radio" name="arztpraxis" value="2" <?php if($this->arztpraxis == 2) { echo 'checked="checked"';	} ?> /></td>
						<td><label for="input_41b">Arztpraxis</label></td>
						<td><input id="input_44" type="checkbox" name="hinfahrt[]" value="2" <?php if(in_array(2, $this->hinfahrt)) { echo 'checked="checked"';	} ?> /></td>
						<td colspan="2"><label for="input_44">Wartezeit (Dauer):</label></td>
						<td colspan="6"><input id="input_47" type="text" name="wartezeit_txt" value="<?php echo $this->wartezeit_txt; ?>" /></td>
				</tr>
				<tr>
						<td><input id="input_40c" type="radio" name="krankenhaus" value="1" <?php if($this->krankenhaus == 1) { echo 'checked="checked"'; } ?> /></td>
						<td><input id="input_41c" type="radio" name="krankenhaus" value="2" <?php if($this->krankenhaus == 2) { echo 'checked="checked"'; } ?> /></td>
						<td><label for="input_41c">Krankenhaus</label></td>
						<td><input id="input_45" type="checkbox" name="hinfahrt[]" value="3" <?php if(in_array(3, $this->hinfahrt))	{ echo 'checked="checked"';	} ?> /></td>
						<td colspan="2"><label for="input_45">Gemeinschaftsfahrt<br />(Anzahl Mitfahrer):</label></td>
						<td colspan="6"><input id="input_48" type="text" name="gemeinschaftsfahrt_txt" value="<?php echo $this->gemeinschaftsfahrt_txt; ?>" /></td>
				</tr>
				<tr>
						<td><input id="input_40d" type="radio" name="andere_beford" value="1" <?php if($this->andere_beford == 1) { echo 'checked="checked"'; } ?> /></td>
						<td><input id="input_41d" type="radio" name="andere_beford" value="2" <?php if($this->andere_beford == 2) { echo 'checked="checked"'; } ?> /></td>
					<td colspan="2"><label for="input_41d">andere Beförderungswege</label></td>
					<td colspan="8"><input id="input_42" type="text" name="beforderungswege_txt" value="<?php echo $this->beforderungswege_txt; ?>" /></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
		<table style="width: 100%">
			<tr>
				<td style="width:80%;"></td>
				<td>
					<?php if($this->multiplestamps_option === true): ?>
							<div class="userstamps">
								<label>Arztstempel</label>
								<select id="stampusers" name="stampusers">
									<option value=""><?php echo $this->translate('selectuserstamp') ?></option>
									<?php foreach($this->users_mstamps as $user => $stamp): ?>
										<optgroup label="<?php echo $stamp['user_name']; ?>" value="<?php echo $stamp['user_id']; ?>">
											<?php foreach($stamp['user_stamps'] as $stamp_id => $stamp_name): ?>
												<option value="<?php echo $stamp['user_id']; ?>-<?php echo $stamp_id; ?>" ><?php echo $stamp_name; ?></option>
											<?php endforeach; ?>
										</optgroup>
									<?php endforeach; ?>
								</select>
							</div>
						<?php else: ?>
							<div class="userstamps">
								<label>Arztstempel</label>
								<?php echo $this->formSelect('stampusers', $this->users, null, $this->users); ?>
							</div>
					<?php endif; ?>
				</td>
			</tr>
		</table>
 <br/>
 <input type="hidden" name="saved_id" value="<?php echo $this->id; ?>" />
<input type="hidden" name="post_status" id="post_status" value=""/>

		<input type="submit" name="save" rel="pdf_generation" id="btnsubmit_save" value="<?php echo $this->translate('PDF_generation'); ?>" class="form_btnsubmit btnsubmit_usersessions" />
		<input type="submit" name="pdf_print" rel="pdf_generation2patient_files" id="pdf_btnsubmit" value="<?php echo $this->translate('PDF_generation2patientfile') ?>" class="form_btnsubmit btnsubmit_usersessions" />
		<input type="submit" name="pdf_pre_print" rel="prepdf_generation2patient_files" id="pdf_pre_btnsubmit" value="<?php echo $this->translate('PREPDF_generation2patientfile') ?>" class="form_btnsubmit btnsubmit_usersessions" />
	</div>
</div>


</form>