<script type="text/javascript" src="<? echo RES_FILE_PATH;  ?>/javascript/autogrow/jquery.elastic.js"></script>

<script type="text/javascript">

var ltrjs = <? echo $this->ltrjs ?>;
var hotkeysjs = <? echo $this->hotkeysjs ?>;



  function chkmask(ltr,cnt)
  {
	var cnts = 0;
	
 	for(i=0; i<ltrjs.length;i++)
	{
	   if(ltrjs[i] == ltr)
		{
		  cnts++;
		}
	}
	
	if(cnts<1)
  	{
	    document.getElementById('course_type'+cnt).value="";
	}
	else
	{
	  	$('#course_title'+cnt).focus();
	}
	
  }
  
  $(function() {
        $('textarea').elastic();
    });

 		
  function checkboxurl(chkbx)
  {
 
	if(!chkbx.checked)
	{
	   var ltrs = document.getElementsByName(chkbx.name);
		
	   for(var j=0;j<ltrs.length;j++)
	   {
	    	ltrs[j].checked = false;
	   }
	}
	else
	{
	 
	  var ltrs = document.getElementsByName(chkbx.name);
		
	   for(var j=0;j<ltrs.length;j++)
	   {
	    	ltrs[j].checked = true;
	   }
	}
  check2();
 }

 function check2()
 {
 
   $(".parentdiv").hide();
    var cletters=[];
	var chkurl = "";
 	var cnt = 0;
	for (var i in ltrjs )
	{
      
	   $("."+ltrjs[i]).hide();
	   
	   var ltrs = document.getElementsByName(ltrjs[i]);2
	   
	  
	   for(var j=0;j<ltrs.length;j++)
	   {
	    	
			if(ltrs[j].checked==true)
			{
				$("."+ltrs[j].name).parent().parent().show();
			    $("."+ltrs[j].name).show();
				cnt++;
			}
			else
			{
			   $("."+ltrs[j].name).hide();
			}
	   }
	 
	}
	
	if(cnt==0)
    {
		 $(".parentdiv").show();
		 for (var i in ltrjs )
		 {
			$("."+ltrjs[i]).show();
		 }
    }
  }
</script>
<script type="text/javascript" src="<? echo RES_FILE_PATH;  ?>/javascript/livesearch/patientcourse.js"></script>
<script type="text/javascript">
<? echo $this->callcourse; ?>

    function upper(v)
	{
	  document.getElementById("course_type"+v).value = document.getElementById("course_type"+v).value.toUpperCase();
	}
	
	for(var k=0; k<hotkeysjs.length;k++)
	{
		var ads = k+1;
		shortcut.add('Ctrl+Alt+'+hotkeysjs[k],function(e) {
		if($('input[name='+String.fromCharCode(e.keyCode)+']').is(':checked'))
		{
			$('input[name='+String.fromCharCode(e.keyCode)+']').removeAttr('checked');
		}
		else
		{
		  $('input[name='+String.fromCharCode(e.keyCode)+']').attr('checked','checked');
		}	
	
		checkboxurl(document.getElementById($('input[name='+String.fromCharCode(e.keyCode)+']').attr('id')));
		});
	}
	
var isdischarged = <? echo $this->isdischarged ?>;
</script>


<form action="<? echo $this->act ?>" method="post" name="frmcourse" id="frmcourse" autocomplete="off" >
	<input type="hidden" id="1" name="triggerformid" value="1"/>
	
	<? echo $this->patientinfo ?>
	<? echo $this->tabmenus ?>
	
	<div class="tab_container">
		<br />
		<div id="MainContent">
		<h1><? echo $this->translate('patientcoursedocs')?></h1>
		<div class="CheckBoxes" style="display:<? echo $this->style ?>">
		<p><strong>Filter:</strong></p>
		<div class="listcoursechecks_main_div">
		<? echo $this->gridchecks ?>
		</div>
		</div>
		
		<div id="ListBox" class="clearer"  style="display:<? echo $this->style ?>">
		<? echo $this->gridcourse ;?>
		</div>
		
		<div class="ClrBoth"></div>
		
		
		<div class="ListNew" style="display:<? echo $this->coursestyle ?>">
		<div class="LeftContent01 left" id="focusdate">
		<? echo $this->curr_date ?>
		</div>
		<div class="RightContent01 left">
		<span class="err"><? echo $this->error_shortcut;?></span>
		<? echo $this->gridcoursetaks;?>
		</div>
		<div class="ClrBoth"></div>
		<div class="ClrBoth"></div>
		<p>
		<input type="button" name="btnsubmit" id="btnsubmit-save" value="<? echo $this->translate('submit')?>" class="button" onclick="checkdischargednew('frmcourse')" >
		</p> 
		</div>
		
		
		<div class="CheckBoxes">
		<p><strong><? echo $this->translate('filter'); ?>:</strong></p>
		<div class="listcoursechecks_main_div">
		<? echo $this->gridchecks ?>
		</div>
		</div>
		<div class="clearer"></div>
		
		<br />
		<br />
		<p><strong><? echo $this->translate('shortcuts')?>   (<? echo $this->translate('shortcutsdesc'); ?>)</strong></p>
		<div class="shortcutlist">
		<? echo $this->cshortcuts ?>
		</div>
	</div>
	
	</div>
</form>

<script type="text/javascript">
var callcheck2 = <? echo $this->callcheck2 ?>;
$(window).scrollTop(parseInt($(".parentdiv:last").offset().top));
</script>