<script type="text/javascript" src="<? echo RES_FILE_PATH;  ?>/javascript/mask/jquery.maskedinput.js"></script>

<form action="" name="frmpatinethealth" id="frmpatinethealth" method="post" >
<? echo $this->tabmenus ?>
<fieldset>
<legend><? echo $this->translate('patient_health_insurance') ?></legend>
 
 <label for="cardentry_date" id="lbl_cardentry_date"><? echo $this->translate('cardentrydate') ?></label>
 <input type="text" name="cardentry_date" id="cardentry_date"  style="width:177px;" value="<? echo $this->cardentry_date ?>" ><a href="javascript:setYears(1900, <? echo date("Y")?>); showCalender(document.getElementById('cardentry_date'),'cardentry_date');">&nbsp;<img src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" border="0" /></a>
   <div class="error"><?php echo $this->error_cardentry_date ?></div>&nbsp;
   <br />
  <label for="kvk_no" id="lbl_kvk_no"><? echo $this->translate('kvkno') ?></label>
  
  <input type="text" name="kvk_no" id="kvk_no" value="<? echo $this->kvk_no ?>">
  <div class="error"><?php echo $this->error_kvk_no ?></div>&nbsp;
  <br />
 <label for="insurance_no" id="lbl_insurance_no"><? echo $this->translate('insuranceno') ?></label>
  <input type="text" name="insurance_no" id="insurance_no" value="<? echo $this->insurance_no ?>">
  <div class="error"><?php echo $this->error_insurance_no ?></div>&nbsp;
  <br />
  <label for="vk_no" id="lbl_vk_no"><? echo $this->translate('vkno') ?></label>
  	<input type="text" name="vk_no" id="vk_no" value="<? echo $this->vk_no ?>">
   <div class="error"><?php echo $this->error_vk_no ?></div>&nbsp;
  <br />
  <label for="insurance_status" id="lbl_insurance_status"><? echo $this->translate('insurancestatus') ?></label>
 <input type="text" name="insurance_status" id="insurance_status" value="<? echo $this->insurance_status ?>">
  <div class="error"><?php echo $this->error_insurance_status ?></div>&nbsp;
  <br />
 <label for="status_added" id="lbl_status_added"><? echo $this->translate('statusadded') ?></label>
 <input type="text" name="status_added" id="status_added" value="<? echo $this->status_added ?>">
 <div class="error"><?php echo $this->error_status_added ?></div>&nbsp;
 <br />
 <label for="ins_first_name" id="lbl_ins_first_name"><? echo $this->translate('firstname') ?></label>
 <input type="text" name="ins_first_name" id="ins_first_name" value="<? echo $this->ins_first_name ?>">
<div class="error"> <?php echo $this->error_ins_first_name ?></div>&nbsp;
 <br />
 <label for="ins_middle_name" id="lbl_ins_middle_name"><? echo $this->translate('middlename') ?></label>
  <input type="text" name="ins_middle_name" id="ins_middle_name" value="<? echo $this->ins_middle_name ?>">
  <div class="error"><?php echo $this->error_ins_middle_name ?></div>&nbsp;
  <br />
  <label for="ins_last_name" id="lbl_ins_last_name"><? echo $this->translate('lastname') ?></label>
  <input type="text" name="ins_last_name" id="ins_last_name" value="<? echo $this->ins_last_name ?>">
  <div class="error"><?php echo $this->error_ins_last_name ?></div>&nbsp;
  <br />
 <label for="date_of_birth" id="lbl_date_of_birth"><? echo $this->translate('birthd') ?></label>
  <input type="text" name="date_of_birth" id="date_of_birth"  style="width:177px;" value="<? echo $this->date_of_birth ?>" ><a href="javascript:setYears(1900, <? echo date("Y")?>); showCalender(document.getElementById('date_of_birth'),'date_of_birth');">&nbsp;<img src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" border="0" /></a></td>
<div class="error"> <?php echo $this->error_date_of_birth ?></div>&nbsp;
 <br />
  <label for="ins_country" id="lbl_ins_country"><? echo $this->translate('country') ?></label>
  <? echo $this->formSelect('ins_country', $this->ins_country, null, $this->countries) ?>
  <div class="error"> <?php echo $this->error_ins_country ?></div>&nbsp;
   <br />
  <label for="ins_zip" id="lbl_ins_zip"><? echo $this->translate('zip') ?></label>
  <input type="text" name="ins_zip" id="ins_zip" value="<? echo $this->ins_zip ?>">
   <div class="error"><?php echo $this->error_ins_zip?></div>&nbsp;
   <br />
  <label for="city" id="lbl_city"><? echo $this->translate('city') ?></label>
  <input type="text" name="ins_city" id="ins_city" value="<? echo $this->ins_city ?>">
  <div class="error"><?php echo $this->error_ins_city?></div>&nbsp;
  <br />
	<label for="card_valid_till" id="lbl_card_valid_till"><? echo $this->translate('cardvalidtill') ?></label>
   <input type="text" name="card_valid_till" id="card_valid_till"  style="width:177px;" value="<? echo $this->card_valid_till ?>" ><a href="javascript:setYears(1900, <? echo date("Y")?>); showCalender(document.getElementById('card_valid_till'),'card_valid_till');">&nbsp;<img src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" border="0" /></a>
   <div class="error"><?php echo $this->error_card_valid_till ?></div>&nbsp;
   <br />
	<label for="checksum" id="lbl_checksum"><? echo $this->translate('checksum') ?></label>
    <input type="text" name="checksum" id="checksum" value="<? echo $this->checksum ?>">
  <div class="error"> <?php echo $this->error_checksum?></div>&nbsp;
   <br />
	 <label for="help1" id="lbl_help1"><? echo $this->translate('help1') ?></label>
    <input type="text" name="help1" id="help1" value="<? echo $this->help1 ?>">
  <div class="error"><?php echo $this->error_help1?></div>&nbsp;
  <br />
	<label for="help2" id="lbl_help2"><? echo $this->translate('help2') ?></label>
    <input type="text" name="help2" id="help2" value="<? echo $this->help2 ?>">
   <div class="error"><?php echo $this->error_help2?></div>&nbsp;
   <br />
	<label for="help3" id="lbl_help3"><? echo $this->translate('help3') ?></label>
    <input type="text" name="help3" id="help3" value="<? echo $this->help3 ?>">
   <div class="error"><?php echo $this->error_help3?></div>&nbsp;
   <br />
 <label for="help4" id="lbl_help4"><? echo $this->translate('help4') ?></label>
   <input type="text" name="help4" id="help4" value="<? echo $this->help4 ?>">
   <div class="error"><?php echo $this->error_help4?></div>&nbsp;
 <br />
 <label for="cost" id="lbl_cost"><? echo $this->translate('cost') ?></label>
   <input type="text" name="cost" id="cost" value="<? echo $this->cost ?>">
   <div class="error"><?php echo $this->error_cost?></div>&nbsp;
 <br />
 <label></label>
 <input type="submit" name="btnsubmit" class="button" id="btnsubmit" value="<? echo $this->translate('submit')?>">
 
   
</fieldset>
</form>
