<fieldset class="attending_voluntary"> 
		<legend><?php echo $this->translate('attending_voluntary_workers'); ?></legend>
		<?php if(!empty($this->droparray)): ?>
		<div class="sellect-all">
			<ul  id="listgroups">
				<li>
					<label for="checkall">
						<input name="all_vw_id[]" onclick="checkedallvw(this)" value="" type="checkbox" id="checkallvw">&nbsp;<?php echo $this->translate('selectall'); ?>
					</label>
				</li>
			</ul>
        </div>
		<br class="clearer" />
		
		<ul id="listclientuser_name_list">
			<?php foreach($this->droparray as $k_u => $v_u): ?>
			<li>
				<label for="client_vw_<?php echo $v_u['id']; ?>" id="lbl_vw_<?php echo $v_u['id']; ?>">
					<input name="attending_vw[]" id="client_vw_<?php echo $v_u['id']; ?>" type="checkbox" class="vw-<?php echo $v_u['id']; ?>" value="<?php echo $v_u['id']; ?>"  /><?php echo $v_u['last_name']; ?>,&nbsp;<?php echo $v_u['first_name']; ?>
				</label>
			</li>
			<?php endforeach; ?>
		</ul>
		<?php else: ?>
		<div>
			<?php echo $this->translate('nousers'); ?>
		</div>
		<?php endif; ?>
	</fieldset>

