						<ul>
						<?php
						$link_shortcuts = $this->link_shortcuts;
						$client_shortcuts = $this->shared_shortcuts;

						$incr = '1';
						$total = count($client_shortcuts);
						foreach ($client_shortcuts as $s_key => $s_value):
							?>
							<li>
								<div class="smallcolLeft">
									<input type="checkbox" data-status="<?php echo $s_value['status'];?>" class="shortcut_chk" id="shortcut_<?php echo $s_value['shortcut']; ?>" value="<?php echo $s_value['shortcut_id']; ?>" name="shortcut[]" <?php if ($link_shortcuts[$s_value['shortcutid']]['shared'] == '1'): ?> checked="checked" <?php endif; ?>/>
								</div>
								<div class="colLeft">
									<font color="#<?php echo $s_value['font_color']; ?>" style="font-style:<?php echo $s_value['isitalic']; ?>;font-weight:<?php echo $s_value['isbold']; ?>; text-decoration:<?php echo $s_value['isunderline']; ?>;">
									<label for="shortcut_<?php echo $s_value['shortcut']; ?>"><?php echo $s_value['shortcut']; ?></label>
									</font>
								</div>
								<div class="colRight">
									<font color="#<?php echo $s_value['font_color']; ?>" style="font-style:<?php echo $s_value['isitalic']; ?>;font-weight:<?php echo $s_value['isbold']; ?>; text-decoration:<?php echo $s_value['isunderline']; ?>;">
									<label for="shortcut_<?php echo $s_value['shortcut']; ?>"><?php echo $s_value['course_fullname'] ?></label>
									</font>
								</div>
							</li>
							<?php if ($incr == round($total / 2) && $incr > 0 && $incr != $total): ?>
							</ul><ul>
							<?php endif; ?>
						<?php $incr++;
					endforeach;
					?>
					</ul>
