<table class="datatable" id="pflegedienste_drop_table">
	<thead>
	<th><?php echo $this->translate('nursing'); ?></th>
	<th><?php echo $this->translate('lastname'); ?></th>
	<th><?php echo $this->translate('firstname'); ?></th>
	<th><?php echo $this->translate('city'); ?></th>

</thead>
<tbody>
	<?php if ($this->droparray): ?>
		<?php $i = 1;
		foreach ($this->droparray as $drop_pflege_key => $drop_pflege_value): ?>
			<tr class="row" id="row-<?php echo $i; ?>" onclick="selectOtherPflegedienst('<?php echo $drop_pflege_value['id']; ?>');" >
				<td>
					<?php echo $drop_pflege_value['nursing']; ?>
					<input type="hidden" value="0" id="livesearch_stammdaten_pflege_no_records" />
					<input type="hidden" id="pflege_id_<?php echo $drop_pflege_value['id']; ?>" value="<?php echo $drop_pflege_value['id']; ?>" />
					<input type="hidden" id="pflege_nu_<?php echo $drop_pflege_value['id']; ?>" value="<?php echo $drop_pflege_value['nursing']; ?>" />
					<input type="hidden" id="pflege_ln_<?php echo $drop_pflege_value['id']; ?>" value="<?php echo $drop_pflege_value['last_name']; ?>" />
					<input type="hidden" id="pflege_fn_<?php echo $drop_pflege_value['id']; ?>" value="<?php echo $drop_pflege_value['first_name']; ?>" />
					<input type="hidden" id="pflege_st_<?php echo $drop_pflege_value['id']; ?>" value="<?php echo $drop_pflege_value['street']; ?>" />
					<input type="hidden" id="pflege_zip_<?php echo $drop_pflege_value['id']; ?>" value="<?php echo $drop_pflege_value['zip']; ?>" />
					<input type="hidden" id="pflege_ci_<?php echo $drop_pflege_value['id']; ?>" value="<?php echo $drop_pflege_value['city']; ?>" />
					<input type="hidden" id="pflege_ph_<?php echo $drop_pflege_value['id']; ?>" value="<?php echo $drop_pflege_value['phone_practice']; ?>" />
					<input type="hidden" id="pflege_phem_<?php echo $drop_pflege_value['id']; ?>" value="<?php echo $drop_pflege_value['phone_emergency']; ?>" />
					<input type="hidden" id="pflege_fax_<?php echo $drop_pflege_value['id']; ?>" value="<?php echo $drop_pflege_value['fax']; ?>" />
				</td>
				<td id="pflege_ln_<?php echo $drop_pflege_value['id']; ?>"><?php echo $drop_pflege_value['last_name']; ?></td>
				<td id="pflege_fn_<?php echo $drop_pflege_value['id']; ?>"><?php echo $drop_pflege_value['first_name']; ?></td>
				<td id="pflege_city_<?php echo $drop_pflege_value['id']; ?>"><?php echo $drop_pflege_value['city']; ?></td>
			</tr>

			<?php $i++;
		endforeach; ?>
	<?php else: ?>
		<tr>
			<td colspan="4"><?php echo $this->translate('noresultfound');  ?><input type="hidden" value="1" id="livesearch_stammdaten_pflege_no_records" /></td>
		</tr>
<?php endif; ?>
</tbody>
</table>
