<table class="datatable" id="physiotherapist_drop_table">
	<thead>
	<th><?php echo $this->translate('physiotherapist'); ?></th>
	<th><?php echo $this->translate('lastname'); ?></th>
	<th><?php echo $this->translate('firstname'); ?></th>
	<th><?php echo $this->translate('city'); ?></th>

</thead>
<tbody>
	<?php if ($this->droparray): ?>
		<?php $i = 1;
		foreach ($this->droparray as $drop_physio_key => $drop_physio_value): ?>
			<tr class="row" id="row-<?php echo $i; ?>" onclick="selectPhysiotherapist('<?php echo $drop_physio_value['id']; ?>');" >
				<td>
					<?php echo $drop_physio_value['physiotherapist']; ?>
					<input type="hidden" value="0" id="livesearch_stammdaten_physio_no_records" />
					<input type="hidden" id="physio_id_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['id']; ?>" />
					<input type="hidden" id="physio_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['physiotherapist']; ?>" />
					<input type="hidden" id="physio_ln_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['last_name']; ?>" />
					<input type="hidden" id="physio_fn_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['first_name']; ?>" />
					<input type="hidden" id="physio_sal_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['salutation']; ?>" />
					<input type="hidden" id="physio_st_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['street']; ?>" />
					<input type="hidden" id="physio_zip_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['zip']; ?>" />
					<input type="hidden" id="physio_ci_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['city']; ?>" />
					<input type="hidden" id="physio_ph_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['phone_practice']; ?>" />
					<input type="hidden" id="physio_phem_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['phone_emergency']; ?>" />
					<input type="hidden" id="physio_fax_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['fax']; ?>" />
					<input type="hidden" id="physio_email_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['email']; ?>" />
					<input type="hidden" id="physio_ik_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['ik_number']; ?>" />
					<input type="hidden" id="physio_comm_<?php echo $drop_physio_value['id']; ?>" value="<?php echo $drop_physio_value['comments']; ?>" />
				</td>
				<td id="physio_ln_<?php echo $drop_physio_value['id']; ?>"><?php echo $drop_physio_value['last_name']; ?></td>
				<td id="physio_fn_<?php echo $drop_physio_value['id']; ?>"><?php echo $drop_physio_value['first_name']; ?></td>
				<td id="physio_city_<?php echo $drop_physio_value['id']; ?>"><?php echo $drop_physio_value['city']; ?></td>
			</tr>

			<?php $i++;
		endforeach; ?>
	<?php else: ?>
		<tr>
			<td colspan="4"><?php echo $this->translate('noresultfound');  ?><input type="hidden" value="1" id="livesearch_stammdaten_physio_no_records" /></td>
		</tr>
<?php endif; ?>
</tbody>
</table>
