<table class="datatable" id="diagnosis_drop_table">
	<thead>
	<th><?php echo $this->translate('nr'); ?></th>
	<th id="ls_action_icd"><?php echo $this->translate('settlement_services_action_id'); ?></th>
	<th><?php echo $this->translate('settlement_services_description'); ?></th>

</thead>
<tbody>
	<?php if ($this->droparray): ?>
		<?php $i = 1;
		foreach ($this->droparray as $drop_action_key => $drop_action_value): ?>
			<tr class="row" id="row-<?php echo $i; ?>" onclick="select_actions_al('<?php echo $drop_action_value['row']; ?>', '<?php echo $drop_action_value['id']; ?>', '<?php echo $drop_action_value['action_id']; ?>', '<?php echo $drop_action_value['description']; ?>');" >
				<td width="20px">
					<?php echo $i++; ?>
					<input type="hidden" id="action_row_<?php echo $drop_action_value['row']; ?>" value="<?php echo $drop_action_value['row']; ?>" />
					<input type="hidden" id="action_id_<?php echo $drop_action_value['id']; ?>" value="<?php echo $drop_action_value['id']; ?>" />
					<input type="hidden" id="action_id_<?php echo $drop_action_value['id']; ?>" value="<?php echo $drop_action_value['action_id']; ?>" />
					<input type="hidden" id="action_description_<?php echo $drop_action_value['id']; ?>" value="<?php echo $drop_action_value['description']; ?>" />
				</td>
				<td width="100px;"><?php echo $drop_action_value['action_id']; ?></td>
				<td><?php echo $drop_action_value['description']; ?></td>
			</tr>

			<?php 
		endforeach; ?>
	<?php else: ?>
		<tr>
			<td colspan="4">
				<?php echo $this->translate('noresultfound');  ?>
				<input type="hidden" value="1" id="livesearch_admission_diagnosis_no_records" />
			</td>
		</tr>
<?php endif; ?>
</tbody>
</table>
