<script type="text/javascript">
var pl_loading = function(){
	var dlist = '<div class="loadingdiv" align="center"><img src="images/pageloading.gif"><br />	Loading... please wait</div>';
	document.getElementById('content').innerHTML = dlist;
}
function loadpage(ord,clm)
{
	if($('#hdnlastpage').val()>=parseInt($('#pageno').val())){
	if((parseInt($('#pageno').val()))>0){pgno=(parseInt($('#pageno').val()-1));}else{pgno=0;}
	
	ajaxCallserver({url:'remedies/fetchlist?clm='+clm+'&ord='+ord+'&pgno='+pgno, callLoading:pl_loading});
	}else{
		jAlert("<?php echo $this->translate('invalidpageno'); ?>");
	}
}
function searchData(val)
{
	ajaxCallserver({url:'remedies/fetchlist',
	method:'POST',
	data:{clm:'key',ord:'ASC',pgno:0,val:val.value},
	callLoading: pl_loading
	});
}

function sort(column, order, pageno)
{
	ajaxCallserver({
		url: 'remedies/fetchlist',
		data: {clm: column, ord: order, pgno: pageno},
		callLoading: pl_loading
	});
}
var callBack = function(params)
{
	document.getElementById('content').innerHTML = params.remedieslist; 
	$(".confirm_button").click( function() {
		$.confirmdeleteid = $(this).attr('rel');
			jConfirm('<?php echo $this->translate('confirmdeleterecord'); ?>', '<?php echo $this->translate('confirmdeletetitle'); ?>', function(r) {
			if(r)
			{	
				location.href = "<?php echo APP_BASE ?>remedies/deleteremedy?id="+ $.confirmdeleteid;
			}
		});
	});
}

</script>
<form action="" method="post" name="frmdoc" id="frmdoc" >
	<div class="add_link">
		<a href="remedies/addremedy"><? echo $this->translate('addremedy') ?></a>
	</div>
	<div style="clear:both;"></div>
	<div id="familydoctorlist_deleteMsg" class="err"><?php echo $this->delete_message ?><?php echo $this->error_message ?></div>
	<br />
	     
	<div id="familyDocFetchlist_mainDiv" class="grid">
		<h1 id="famDrFet_tranHeading"><?php echo $this->translate('remedieslist')?></h1> 
		<div><label for="search"><?php echo $this->translate('quicksearch')?></label>&nbsp;&nbsp;<input name="search" id="search" type="text" onkeyup="searchData(this);" /></div>
		
		<div id="content">
			<?php echo $this->remedygrid ?>
		</div>
	</div>
</form>
<script type="text/javascript">
	ajaxCallserver({url:'remedies/fetchlist?clm=key&ord=ASC&pgno=0', callLoading:pl_loading});
</script>