
<form name="" action="" method="post">
	<table width="100%" id="listforms_ContentTabel">
		<tr id="listformsTr1">
			<td id="listformsTd1" valign="top">&nbsp;</td>
		</tr>
		<tr id="listformsTr2">
			<td id="listformsTd2" valign="top"><strong><? echo $this->translate('HealthInsurancesubdivisions') ?></strong></td>
		</tr>
		<tr id="listformsTr3">
			<td id="listformsTd3" valign="top">&nbsp;</td>
		</tr>
		<tr id="listformsTr1">
			<td id="listformsTd1" valign="top">
				<div id="loAddlocations_MsgError" class="err">
					<? echo $this->error_message ?>
				</div>
			</td>
		</tr>
 
		<tr id="listformsTr4">
			<td id="listformsTd4" valign="top">

<table width="100%" cellpadding="0" cellspacing="0" id="listforms_gridtable" class="datatable">
<tr>
	<th><? echo $this->translate('Health Insurance subdivisions') ?></th>
    <th>Access</th>
</tr>
<tr class="row">
	<td valign="top"><? echo $this->translate('health insurance tab');?></td>
	<td><input type="checkbox" name="main_healthinsurance" checked="checked" disabled="disabled"/></td>
</tr>

<? foreach($this->listsetspermissions as $pms=>$permission_item):?>
	<tr class="row">
		<td valign="top"><? echo $permission_item['name'];?></td>
		<td><input type="checkbox" id="access<? echo $permission_item['id'];?>" name="access[<? echo $permission_item['id'];?>]" value="1" <? if( $permission_item['access'] == 1){ echo 'checked="checked"';} else {}?> /></td>
	</tr>
<? endforeach; ?>


</table>
</td>
		</tr>
		<tr>
			<td valign="top"><input type="submit" name="submit" value="Submit"></td>
		</tr>
	</table>
</form>

