<?php

$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/qtip/jquery.qtip.min.js');
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/qtip/jquery.qtip.min.css');

?>
<script type="text/javascript">

	 function checkedall(allid)
	  {
	  
		hdn = document.getElementsByName('hdnmoduleid[]');
		
		
		
		if(allid.checked==true)
		{
			for(i=0; i<hdn.length;i++)
			{
				if(document.getElementsByName('canaccess['+hdn[i].value+']'))
				{
					document.getElementsByName('canaccess['+hdn[i].value+']')[0].checked = true;
				}
				//checkbox[i].checked = true; 
			}
		}else{
			for(i=0; i<hdn.length;i++)
			{
				if(document.getElementsByName('canaccess['+hdn[i].value+']'))
				{
					document.getElementsByName('canaccess['+hdn[i].value+']')[0].checked = false;
				}
				//checkbox[i].checked = true; 
			}
		}
	  }

 $(document).ready(function() {
	 
	 $("#assignmodules_clientDetailTable tr.row").qtip({    
         content: {    
             title: function(){
            	 return "Info: " + $('td:eq(0)', this).text();
        	 },
             text: function() {
            	 return "<b>Deutsche:</b><br>" 
            	 + $(this).find('.de_comment').html() 
            	 + '<br/><br/><b>English:</b><br>' 
            	 + $(this).find('.en_comment').html()
            	 + "<br> (internal id: " +($(this).find('#hdnmoduleid').val() || '') + ")";
             }
         },
         show: { 
        	 solo: true 
    	 },
         hide:{
        	 delay:500,
             fixed:true
         },
         style: { 
             width: 350,
             padding: 5,
             color: 'black',
             textAlign: 'left',
             border: {
                 width: 1,
                 radius: 3
             },
             tip: 'topLeft',
             classes: { 
                 tooltip: 'ui-widget', 
                 tip: 'ui-widget', 
                 title: 'ui-widget-header', 
                 content: 'ui-widget-content' 
             } 
         },
         position: {
             at: 'rop right',
         }
     });
 });
	 
	 
</script>


<style type="text/css">
  	#assignmodules_clientNameTable {
		width:100%; 
		border-collapse:collapse; 
	}
	
     #assignmodules_clientDetailTable tr:hover {
          background-color: #ffff99;
    }
     #assignmodules_clientDetailTable tr td {
          border-bottom: 1px solid #c4c4c4;
    }
</style>
<form action="" method="post" name="frmuser" id="frmuser" >
<table id="assignmodules_clientNameTable">
 <tr id="tableTrOne">
    <td id="tableTrOne_tdOne" colspan="3" valign="top">&nbsp;</td>
   
    </tr>
	<tr id="tableTrTwo">
    <td id="tableTrTwo_tdOne" valign="top">&nbsp;</td>
    <td id="tableTrTwo_tdTwo" valign="top"><b><? echo $this->translate('clientname')?> :</b></td>
    <td id="tableTrTwo_tdThree" valign="top"><? echo $this->client_name ?></td>
    </tr>
    <tr id="tableTrThree" >
    <td id="tableTrThree_tdOne" colspan="3" valign="top">&nbsp;</td>
   
    </tr>
</table>
<div id="assignmodules_GridTableDiv" class="grid">
<table width="100%" class="datatable" border="0" id="assignmodules_clientDetailTable">
  
  <tr id="TableTwo_TrOne">
    <th id="TableTwo_TrOne_thOne">ID</td>
    <th id="TableTwo_TrOne_thTwo"><? echo $this->translate('modulename')?></td>
    <th id="TableTwo_TrOne_thThree"><input name="all_id[]" type="checkbox" onclick="checkedall(this)" value="" />&nbsp;<? echo $this->translate('canaccess')?></td>
    </tr>
  <? $count=1;
   	foreach($this->modarray as $key=>$val){
   		$query = Doctrine_Query::create()
		->select('*')
		->from('ClientModules')
		->where('clientid= ?',$_GET['id'])
        ->andWhere('moduleid= ?',$val['id']);
		$setuserpre = $query->execute();
        $prearray = $setuserpre->toArray();
      
               
   ?>
  <tr id="TableTwo_Trtwo" class="row">
    <td id="TableTwo_Trtwo_tdOne" valign="top"><?=$count ?></td>
    <td id="TableTwo_Trtwo_tdTwo" valign="top"><?=$val['module'] ?>
     
     <input type="hidden" name="hdnmoduleid[]" id="hdnmoduleid" value="<?=$val['id'] ?>"  />
     <span style="display:none" class="en_comment"><?=$val['comment'] ?></span>
     <span style="display:none" class="de_comment"><?=$this->translate('description client-modules-'.$val['id']) ?></span>
     
     </td>
    <td id="TableTwo_Trtwo_tdThree" valign="top"><input name="canaccess[<?=$val['id'] ?>]" type="checkbox" value="1" <? if($prearray[0]['canaccess']=='1'){ echo 'checked="checked"';}?> /></td>
    </tr>
  <? $count++; } ?>
  <tr id="TableTwo_Trthree">
    <td id="TableTwo_Trthree_tdOne" valign="top">&nbsp;</td>
    <td id="TableTwo_Trthree_tdTwo" valign="top"><input type="submit" name="btnbutton" id="btnbutton" class="button" value="Submit"></td>
    <td id="TableTwo_Trthree_tdThree" valign="top">    </td>
    </tr>
</table>
</div>
</form>