<?php

$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/data_tables/jquery.dataTables.js?'.date('Ymd'));
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/data_tables/dataTables.jqueryui.js?'.date('Ymd'));
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/views/client/clienttags.js?'.date('Ymd'));
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/data_tables/dataTables.jqueryui.css?' . date('Ymd'));
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/page-css/listscommon.css?' . date('Ymd'));
?>

<br/>

 <h1><? echo $this->translate('list_client_tags') ?></h1>
<br/>
<div style="clear:both;"></div>
<div id="addfamilydoctor_Msgerror" class="err"><? echo urldecode($_GET['mes']); ?></div>	
<table id="table" class="table table-striped table-bordered table-hover table-condensed dataTable no-footer  left_menu_datatable">
 	<thead>
 		<tr>
 			<th><?php echo $this->translate('name');?></th>
 			<th><?php echo $this->translate('tag_files');?></th>
 			<th><?php echo $this->translate('actions'); ?></th>
 		</tr>
 	</thead>
 </table>	

<div id="edit_tag_dialog" style="display: none;">
	<form name="save_edit_tag" id="save_edit_tag" action="" method="POST">
		<div>
			<label><?php echo $this->translate('The tag'); ?>: </label>
			<input type="text" name="tag_name" value="" id="tag_name" />
			<input type="hidden" name="tag_id" value="" id="tag_id" />
			<input type="hidden" name="tag_edit" value="0" id="edit_tag" />
		</div>
	</form>
</div>
 
 