<?php
	$letter_boxes_details = $this->letter_boxes_details;
	$page_lang = $this->translate('invoices_texts_lang');
?>

<script>
	var hide_patient_tab = 1;
	var res_file_path = '<?php echo RES_FILE_PATH; ?>';
</script>
<script type="text/javascript" src="<?php echo RES_FILE_PATH;  ?>/javascript/views/client/invoicestexts.js"></script>
<script type="text/javascript" src="<?php echo RES_FILE_PATH;  ?>/javascript/tinymce3/jscripts/tiny_mce/tiny_mce.js"></script>
<h1><?php echo $page_lang['Invoices custom texts']; ?></h1>
<?php if(strlen($this->error_message) >0):?>
	<div id="clientlist_errorOf_message" class="success">
		<? echo $this->error_message ?>
	</div>
<?php endif;?>
<div id="clinetadddiv client_mainOuter_div">
	<form action="<?php echo $this->action ?>" method="post" name="frmclient" id="frmclient"  >
		<fieldset id="client_FormFieldset">
			<label for="nd_invoice_footer" class="label_class120px"><?php echo $page_lang['invoice_footer_txt']; ?></label>
			<textarea name="nd_invoice_footer" id="nd_invoice_footer"><?php echo $letter_boxes_details['nd_invoice_footer'] ?></textarea>
		</fieldset>
		<input type="submit" name="submit" value="<?php echo $this->translate('submit') ?>"/>
	</form>
</div>