<?php /* ISPC-1775,ISPC-1678 */ ?>
<script type="text/javascript">

$(document).ready(function(){
	
	$('.hospiztalization_reason').hide();
	
	$(".sapv_ending").on('change',function(){
		var sapv_id = $(this).data('sapv_id'); 	
			if($(this).val() == "2") {
				$('#reason_'+sapv_id).show();
			} else {
				$('#reason_'+sapv_id).hide();
			}
	});	
	
	$(".sapv_ending").each(function() {
		var sapv_id = $(this).data('sapv_id');
        if($(this).val() == "2"){
        	$('#reason_'+sapv_id).show();
        } 
    });     

	$('#save_form').bind('click', function(e) {
		e.preventDefault();
		//check required textarea filled if renew is checked
		
		$('#frmuser').submit();
		setTimeout(function () {$('#save_form').attr('disabled', true);}, 150);
		setTimeout(function () {$('#save_form').attr('disabled', false);}, 22000);
	});
	
	
	
	
}); /* $(document).ready END  */


</script>
<style>
.mandatory{
	color: red;
}
</style>
<?php echo $this->patientinfo ?>
<?php echo $this->tabmenus ?>
<?php  $dgp = $this->dgp ?>
<div style="display: none;"><img id="calImg" src="<? echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger"></div>

<div style="display: block; float: left;">
	<form action="<? echo $this->act ?>" method="post" name="frmuser" id="frmuser" autocomplete="off" >
		<!--  ADMISSION BLOCK -->
		<div style="position: relative; opacity: 1; left: 0px; top: 0px; height: 350px;" class="dragboxpatient" id="dgp_block">
			<h2 class=""><?php echo $this->translate('dgp_admission_block_adm') ?></h2>
			
			<div class="patientdragbox-content dgb_block"  id="grow37"  >
				<input type="hidden" name="dgp[kern][admission][dgp_kern_id]" value="<?php echo $dgp['kern']['admission']['dgp_kern_id'];?>">
				
				<div class="dgp_ecog">
					<label>ECOG:<sup class="mandatory"> *</sup></label>
					<select name="dgp[kern][admission][ecog]">
						<option value="">&nbsp;</option>
						<option value="1" <?php if($dgp['kern']['admission']['ecog'] == "1"):?> selected="selected" <?php endif;?>  >Normale Aktivität</option>
						<option value="2" <?php if($dgp['kern']['admission']['ecog'] == "2"):?> selected="selected" <?php endif;?>>Gehfähig, leichte Arbeit möglich</option>
						<option value="3" <?php if($dgp['kern']['admission']['ecog'] == "3"):?> selected="selected" <?php endif;?>>nicht arbeitsfähig, kann &gt; 50%  der Wachzeit aufstehen</option>
						<option value="4" <?php if($dgp['kern']['admission']['ecog'] == "4"):?> selected="selected" <?php endif;?>>begrenzte Selbstversorgung, &gt; 50% Wachzeit bettlägrig</option>
						<option value="5" <?php if($dgp['kern']['admission']['ecog'] == "5"):?> selected="selected" <?php endif;?>>Pflegebedürftig, permanent bettlägerig</option>
					</select>
				</div>
				
				<div class="dgp_care_serivices">
				 <label>Beschreibung der aktuellen bzw. unmittelbar geplanten Versorgung: <sup class="mandatory"> *</sup></label>
				 	<ul>
			 			<li><label for="sapvteam_as"><input id="sapvteam_as" type="checkbox" name="dgp[kern][admission][begleitung][sapvteam_as]" value="1"   <?php if($dgp['kern']['admission']['sapvteam_as'] == 1) {echo 'checked="checked"';}?>  />SAPV-Team</label></li>
						<li><label for="hausarzt"><input id="hausarzt" type="checkbox" name="dgp[kern][admission][begleitung][hausarzt]" value="2"  <?php if($dgp['kern']['admission']['hausarzt'] == 1) {echo 'checked="checked"';}?>  />Hausarzt</label></li>
						<li><label for="pflege"><input id="pflege" type="checkbox" name="dgp[kern][admission][begleitung][pflege]" value="3"   <?php if($dgp['kern']['admission']['pflege'] == 1) {echo 'checked="checked"';}?> />ambulante Pflege</label></li>
						<li><label for="palliativ"><input id="palliativ" type="checkbox" name="dgp[kern][admission][begleitung][palliativ]" value="4"   <?php if($dgp['kern']['admission']['palliativ'] == 1) {echo 'checked="checked"';}?> /> Palliativarzt (QPA)</label></li>
				 	</ul>
				 	<ul>
						<li><label for="palliativpf"><input id="palliativpf" type="checkbox" name="dgp[kern][admission][begleitung][palliativpf]" value="5"  <?php if($dgp['kern']['admission']['palliativpf'] == 1) {echo 'checked="checked"';}?> />Palliativpflege (AHPP, APD)</label></li>
						<li><label for="palliativber"><input id="palliativber" type="checkbox" name="dgp[kern][admission][begleitung][palliativber]" value="6"  <?php if($dgp['kern']['admission']['palliativber'] == 1) {echo 'checked="checked"';}?>  />Palliativberatung (AHPB)</label></li>
						<li><label for="dienst"><input id="dienst" type="checkbox" name="dgp[kern][admission][begleitung][dienst]" value="7" <?php if($dgp['kern']['admission']['dienst'] == 1) {echo 'checked="checked"';}?> />Ehrenamtlicher Dienst</label></li>
						<li><label for="palliative_care_team"><input id="palliative_care_team" type="checkbox" name="dgp[kern][admission][begleitung][palliative_care_team]" value="12" <?php if($dgp['kern']['admission']['palliative_care_team'] == 1) {echo 'checked="checked"';}?> />Palliative Care Team</label></li>
					</ul>
				</div>
				
				<div class="dgp_grund_contacts">
					<label>Was ist der Grund des Kontaktes,<br/> was das Behandlungsziel? <sup class="mandatory"> *</sup></label>
					<textarea name="dgp[kern][admission][kontaktes]"  cols="" rows="4"   class="inp_textarea"><?php echo $dgp['kern']['admission']['kontaktes']?></textarea>
				</div>
			
				<div class="dgp_grund_contacts">
					<label>besonderer Aufwand mit:</label>
					<textarea name="dgp[kern][admission][aufwand_mit]"  cols="" rows="4"   class="inp_textarea"><?php echo $dgp['kern']['admission']['aufwand_mit']?></textarea>
				</div>
				
			</div>
		</div>
		<!-- End   ADMISSION BLOCK -->
			
		<?php if(!empty($this->patient_sapv)):?>
			<?php foreach($this->patient_sapv as $sapv_id=>$sapv_data): ?>
				
			<!--  SAPV BLOCK-->
			<div style="position: relative; opacity: 1; left: 0px; top: 0px;" class="dragboxpatient" id="dgp_block">
				<h2 class=""><?php echo $this->translate('dgp_sapv_block') ?> : <span><?php echo $sapv_data['period'];?></span></h2>
				<div class="patientdragbox-content dgb_block"  id="grow37"  style="height: auto!important">
				
				<input type="hidden" name="dgp[sapv][<?php echo $sapv_id;?>][dgp_sapv_id]" value="<?php echo $dgp['sapv'][$sapv_id]['dgp_sapv_id'];?>"/>
				<input type="hidden" name="dgp[sapv][<?php echo $sapv_id;?>][verordnung_datum]" value="<?php echo $dgp['sapv'][$sapv_id]['verordnung_datum'];?>"/>
				<table>				
						<tr>
							<td valign="top" style="width:40%;"><label>Art der Verordnung: <sup class="mandatory"> *</sup></label></td>
							<td style="width:3%;"><input type="radio"  name="dgp[sapv][<?php echo $sapv_id;?>][art_der_erordnung]" value="Erstverordnung" <?php if($dgp['sapv'][$sapv_id]['art_der_erordnung'] == "Erstverordnung" ) {echo 'checked="checked"';}?> /></td>
							<td style="width:18%;">Erstverordnung</td>
							<td style="width:3%;"><input type="radio"  name="dgp[sapv][<?php echo $sapv_id;?>][art_der_erordnung]" value="Folgeverordnung" <?php if($dgp['sapv'][$sapv_id]['art_der_erordnung'] == "Folgeverordnung" ) {echo 'checked="checked"';}?> /></td>
							<td style="width:38%;" colspan="3">Folgeverordnung</td>
						</tr>
						
						<tr>
							<td><label> Verordnung durch: <sup class="mandatory"> *</sup></label> </td>
							<td colspan="6">
								<select name="dgp[sapv][<?php echo $sapv_id;?>][verordnung_durch]">
								<option value="">--</option>
								<option value="1"   <?php if($dgp['sapv'][$sapv_id]['verordnung_durch'] == 1){echo 'selected="selected"';}  ?>  >Hausarzt</option>
								<option value="2"   <?php if($dgp['sapv'][$sapv_id]['verordnung_durch'] == 2){echo 'selected="selected"';}  ?> >nidergelassener Arzt</option>
								<option value="3"   <?php if($dgp['sapv'][$sapv_id]['verordnung_durch'] == 3){echo 'selected="selected"';}  ?> >andere</option>
								<option value="4"   <?php if($dgp['sapv'][$sapv_id]['verordnung_durch'] == 4){echo 'selected="selected"';}  ?> >keine Angabe</option>
								</select>
							</td>
						</tr>
						
						<tr>
							<td><label> Übernahme aus: <sup class="mandatory"> *</sup></label></td>
							<td colspan="6">
								<select name="dgp[sapv][<?php echo $sapv_id;?>][ubernahme_aus]">
								<option value="">--</option>
								<option value="1"   <?php if($dgp['sapv'][$sapv_id]['ubernahme_aus'] == 1){echo 'selected="selected"';}  ?> >Eigene Häuslichkeit</option>
								<option value="2"   <?php if($dgp['sapv'][$sapv_id]['ubernahme_aus'] == 2){echo 'selected="selected"';}  ?> >Ambulantes Umfeld</option>
								<option value="3"   <?php if($dgp['sapv'][$sapv_id]['ubernahme_aus'] == 3){echo 'selected="selected"';}  ?> >Stationäre Pflegeeinrichtung</option>
								<option value="4"   <?php if($dgp['sapv'][$sapv_id]['ubernahme_aus'] == 4){echo 'selected="selected"';}  ?> >Stationäres Hospiz</option>
								<option value="5"   <?php if($dgp['sapv'][$sapv_id]['ubernahme_aus'] == 5){echo 'selected="selected"';}  ?> >KH (Allgemeinstation)</option>
								<option value="6"   <?php if($dgp['sapv'][$sapv_id]['ubernahme_aus'] == 6){echo 'selected="selected"';}  ?> >KH (Palliativstation)</option>
								</select>
							</td>
						</tr>
							
						<tr>
							<td>Beteiligte assoziierte Partner<br/>in der SAPV-Erbringung</td>
							<td colspan="6">
								<table>
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][pcteam]"  value="1" <?php if($dgp['sapv'][$sapv_id]['pcteam'] == 1){echo 'checked="checked"';}?>/></td>
									<td>PC-TEAM</td>
								</tr>
								<tr>
									<td colspan="2"><b>Ärztlich:</b></td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][arztlich][]" value="1" <?php if(in_array(1, $dgp['sapv'][$sapv_id]['arztlich'])){echo 'checked="checked"';}?>/></td>
									<td>Hausarzt</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][arztlich][]" value="2" <?php if(in_array(2, $dgp['sapv'][$sapv_id]['arztlich'])){echo 'checked="checked"';}?> /></td>
									<td>niedergelassener Arzt (für <input type="text" name="dgp[sapv][<?php echo $sapv_id;?>][arztlich_more]"   value="<?php echo $dgp['sapv'][$sapv_id]['arztlich_more'];?>" />  )</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][arztlich][]" value="3" <?php if(in_array(3, $dgp['sapv'][$sapv_id]['arztlich'])){echo 'checked="checked"';}?> /></td>
									<td>KH- Arzt</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][arztlich][]" value="4" <?php if(in_array(4, $dgp['sapv'][$sapv_id]['arztlich'])){echo 'checked="checked"';}?> /></td>
									<td>Sonstige</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][arztlich][]" value="5" <?php if(in_array(5, $dgp['sapv'][$sapv_id]['arztlich'])){echo 'checked="checked"';}?> /></td>
									<td>amb. Facharzt</td>
								</tr>
								<tr><td colspan="2"><b>Pflegerisch:</b></td></tr>
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][pflegerisch][]"  value="1"  <?php if(in_array(1, $dgp['sapv'][$sapv_id]['pflegerisch'])){echo 'checked="checked"';}?>/></td>
									<td>Ambulanter Pflegedienst</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][pflegerisch][]"  value="2" <?php if(in_array(2, $dgp['sapv'][$sapv_id]['pflegerisch'])){echo 'checked="checked"';}?> /></td>
									<td>Ambulanter Palliativpflegedienst</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][pflegerisch][]"  value="3" <?php if(in_array(3, $dgp['sapv'][$sapv_id]['pflegerisch'])){echo 'checked="checked"';}?> /></td>
									<td>Stationäre Pflegeeinrichtung</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][pflegerisch][]"  value="4" <?php if(in_array(4, $dgp['sapv'][$sapv_id]['pflegerisch'])){echo 'checked="checked"';}?> /></td>
									<td>Stationäres Hospiz</td>
								</tr>
								
								
								<tr>
									<td colspan="2"><b>Ambulanter Hospizdienst</b></td>
								</tr>
								
								<tr>
									<td width="10%"><input type="checkbox" name="dgp[sapv][<?php echo $sapv_id;?>][ambulanter_hospizdienst][]" value="1"  <?php if(in_array(1, $dgp['sapv'][$sapv_id]['ambulanter_hospizdienst'])){echo 'checked="checked"';}?>/></td>
									<td>Ambulante Palliativberatung (AHD, AHPB)</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox"   name="dgp[sapv][<?php echo $sapv_id;?>][ambulanter_hospizdienst][]" value="2"  <?php if(in_array(2, $dgp['sapv'][$sapv_id]['ambulanter_hospizdienst'])){echo 'checked="checked"';}?> /></td>
									<td>Begleitung durch Ehrenamtliche</td>
								</tr>
								<tr>
									<td colspan="2"><b>weitere Professionen</b></td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox"  name="dgp[sapv][<?php echo $sapv_id;?>][weitere_professionen][]"   value="1"  <?php if(in_array(1, $dgp['sapv'][$sapv_id]['weitere_professionen'])){echo 'checked="checked"';}?>/></td>
									<td>Case Management</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox"  name="dgp[sapv][<?php echo $sapv_id;?>][weitere_professionen][]"   value="2"  <?php if(in_array(2, $dgp['sapv'][$sapv_id]['weitere_professionen'])){echo 'checked="checked"';}?> /></td>
									<td>Ernährungsberatung</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox"  name="dgp[sapv][<?php echo $sapv_id;?>][weitere_professionen][]"   value="3"  <?php if(in_array(3, $dgp['sapv'][$sapv_id]['weitere_professionen'])){echo 'checked="checked"';}?> /></td>
									<td>Physiotherapie</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox"   name="dgp[sapv][<?php echo $sapv_id;?>][weitere_professionen][]"   value="4"  <?php if(in_array(4, $dgp['sapv'][$sapv_id]['weitere_professionen'])){echo 'checked="checked"';}?>/></td>
									<td>Psychologie</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox"   name="dgp[sapv][<?php echo $sapv_id;?>][weitere_professionen][]"   value="5"  <?php if(in_array(5, $dgp['sapv'][$sapv_id]['weitere_professionen'])){echo 'checked="checked"';}?> /></td>
									<td>Seelsorge</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox"   name="dgp[sapv][<?php echo $sapv_id;?>][weitere_professionen][]"   value="6"  <?php if(in_array(6, $dgp['sapv'][$sapv_id]['weitere_professionen'])){echo 'checked="checked"';}?> /></td>
									<td>Sozialarbeit</td>
								</tr>
								<tr>
									<td width="10%"><input type="checkbox"   name="dgp[sapv][<?php echo $sapv_id;?>][weitere_professionen][]"   value="7"  <?php if(in_array(7, $dgp['sapv'][$sapv_id]['weitere_professionen'])){echo 'checked="checked"';}?> /></td>
									<td>andere:<input type="text" name="dgp[sapv][<?php echo $sapv_id;?>][weitere_professionen_more]" value="<?php echo  $dgp['sapv'][$sapv_id]['weitere_professionen_more'];?>"/></td>
								</tr>
								</table>
							</td>
						</tr>
				</table>
				</div>
			</div>
			<!--  END SAPV BLOCK-->
			<?php endforeach;?>		
			
			 
			
			<!--  SAPV ENDING BLOCK-->
			
			<?
				$last_sapv_details = end($this->patient_sapv);
				$last_sapv_id =  $last_sapv_details['id'];
			?>
			<div style="position: relative; opacity: 1; left: 0px; top: 0px;" class="dragboxpatient" id="dgp_block">
				<h2 class=""><?php echo $this->translate('Ende der SAPV') ?> </h2>
				
				<div class="patientdragbox-content dgb_block"  id="grow37"  style="height: auto!important">
				
				<input type="hidden" name="dgp[sapv][<?php echo $last_sapv_id;?>][dgp_sapv_id]" value="<?php echo $dgp['sapv'][$last_sapv_id]['dgp_sapv_id'];?>"/>
				<input type="hidden" name="dgp[sapv][<?php echo $last_sapv_id;?>][verordnung_datum]" value="<?php echo $dgp['sapv'][$last_sapv_id]['verordnung_datum'];?>"/>
				<table>				
						<tr>
							<td><label> Art Ende der SAPV: <sup class="mandatory"> *</sup></label></td>
							<td colspan="6">
								<select name="dgp[sapv][<?php echo $last_sapv_id;?>][therapieende]" class="sapv_ending" data-sapv_id="<?php echo $last_sapv_id;?>" >
								<option value="">--</option>
								<option value="1" <?php if($dgp['sapv'][$last_sapv_id]['therapieende'] == 1){echo 'selected="selected"';}  ?>> SAPV nicht (mehr) erforderlich</option>
								<option value="2" <?php if($dgp['sapv'][$last_sapv_id]['therapieende'] == 2){echo 'selected="selected"';}  ?>> Einweisung</option>
								<option value="3" <?php if($dgp['sapv'][$last_sapv_id]['therapieende'] == 3){echo 'selected="selected"';}  ?>> Patient verstorben </option>
								</select>
							</td>
						</tr>					
						<tr class="hospiztalization_reason" id="reason_<?php echo $last_sapv_id;?>">
							<td><label>Krankenhauseinweisungsgrund</label></td>
							<td colspan="6"><input type="text" class="reason_input" data-sapv_id="<?php echo $last_sapv_id;?>"  name="dgp[sapv][<?php echo $last_sapv_id;?>][grund_einweisung]" value="<?php echo $dgp['sapv'][$last_sapv_id]['grund_einweisung']; ?>" style="width: 100%" /></td>
						</tr>
				</table>
				</div>
			</div>
			<!--  END SAPV ENDING BLOCK-->

				
		<?php endif;?>			
			
		<!--  DISCHARGE BLOCK-->
		<div style="position: relative; opacity: 1; left: 0px; top: 0px;" class="dragboxpatient" id="dgp_block">
			<h2 class=""><?php echo $this->translate('dgp_admission_block_adm') ?></h2>
			<div class="patientdragbox-content dgb_block discharge_dgp_block"  style="height: 380px;">
			<input type="hidden" name="dgp[kern][discharge][dgp_kern_id]" value="<?php echo $dgp['kern']['discharge']['dgp_kern_id'];?>">
				<table>				
					<tr>
						<td valign="top" style="width:40%;"><label>Opioide der WHO Stufe III <sup class="mandatory"> *</sup></label></td>
						<td style="width:3%;"><input type="radio"  name="dgp[kern][discharge][who]" value="1" <?php if($dgp['kern']['discharge']['who'] == 1) {echo 'checked="checked"';}?> /></td>
						<td style="width:18%;">ja</td>
						<td style="width:3%;"><input type="radio"  name="dgp[kern][discharge][who]" value="2" <?php if($dgp['kern']['discharge']['who'] == 2) {echo 'checked="checked"';}?> /></td>
						<td style="width:38%;" colspan="3">nein</td>
					</tr>
					
					<tr>
						<td> <label>Steroide <sup class="mandatory"> *</sup></label> </td>
						<td><input type="radio"  name="dgp[kern][discharge][steroide]" value="1" <?php if($dgp['kern']['discharge']['steroide'] == 1) {echo 'checked="checked"';}?> /></td>
						<td>ja</td>
						<td><input type="radio"  name="dgp[kern][discharge][steroide]" value="2" <?php if($dgp['kern']['discharge']['steroide'] == 2) {echo 'checked="checked"';}?> /></td>
						<td colspan="3">nein</td>
					</tr>
					
					<tr>
						<td> <label>Chemotherapie <sup class="mandatory"> *</sup></label> </td>
						<td><input type="radio"  name="dgp[kern][discharge][chemotherapie]" value="1" <?php if($dgp['kern']['discharge']['chemotherapie'] == 1) {echo 'checked="checked"';}?> /></td>
						<td>nein</td>
						<td><input type="radio"  name="dgp[kern][discharge][chemotherapie]" value="2" <?php if($dgp['kern']['discharge']['chemotherapie'] == 2) {echo 'checked="checked"';}?> /></td>
						<td>fortgesetzt</td>
						<td><input type="radio"  name="dgp[kern][discharge][chemotherapie]" value="3" <?php if($dgp['kern']['discharge']['chemotherapie'] == 3) {echo 'checked="checked"';}?> /></td>
						<td>initiiert</td>
					</tr>
					<tr>
						<td> <label>Strahlentherapie <sup class="mandatory"> *</sup></label> </td>
						<td><input type="radio"  name="dgp[kern][discharge][strahlentherapie]" value="1" <?php if($dgp['kern']['discharge']['strahlentherapie'] == 1) {echo 'checked="checked"';}?> /></td>
						<td>nein</td>
						<td><input type="radio"  name="dgp[kern][discharge][strahlentherapie]"  value="2" <?php if($dgp['kern']['discharge']['strahlentherapie']  == 2) {echo 'checked="checked"';}?> /></td>
						<td>fortgesetzt</td>
						<td><input type="radio"  name="dgp[kern][discharge][strahlentherapie]"  value="3" <?php if($dgp['kern']['discharge']['strahlentherapie']  == 3) {echo 'checked="checked"';}?> /></td>
						<td>initiiert</td>
					</tr>					
					
					<tr>
						<td style="vertical-align: top!important"><label>besonderer Aufwand mit:</label></td>
						<td colspan="6"><textarea name="dgp[kern][discharge][aufwand_mit]" cols="" rows="4"   class="inp_textarea"><?php echo  $dgp['kern']['discharge']['aufwand_mit'];?></textarea></td>
					</tr>
					
					<tr>
						<td style="vertical-align: top!important"><label>Welches Problem konnte besonders <br/>gut gelöst werden?</label></td>
						<td colspan="6"><textarea name="dgp[kern][discharge][problem_besonders]" cols="" rows="4"   class="inp_textarea"><?php echo  $dgp['kern']['discharge']['problem_besonders'];?></textarea></td>
					</tr>
					<tr>
						<td  style="vertical-align: top!important"><label>Welches Problem konnte nicht<br/> ausreichend gelöst werden?</label></td>
						<td colspan="6"><textarea name="dgp[kern][discharge][problem_ausreichend]" cols="" rows="4"   class="inp_textarea"><?php echo  $dgp['kern']['discharge']['problem_ausreichend'];?></textarea></td>
					</tr>

					<tr>
						<td  style="vertical-align: top!important"> <label>Therapieende <sup class="mandatory"> *</sup></label>  </td>
						<td colspan="6"><select name="dgp[kern][discharge][therapieende]"  >
						<option value="">--</option>
						<option value="1" <?php if($dgp['kern']['discharge']['therapieende'] == 1){echo 'selected="selected"';}  ?> >Verstorben</option>
						<option value="2"  <?php if($dgp['kern']['discharge']['therapieende'] == 2){echo 'selected="selected"';}  ?> >Verlegung</option>
						<option value="3"  <?php if($dgp['kern']['discharge']['therapieende'] == 3){echo 'selected="selected"';}  ?> >Entlassung</option>
						<option value="4"  <?php if($dgp['kern']['discharge']['therapieende'] == 4){echo 'selected="selected"';}  ?> >Sonstiges</option>
						</select></td>
					</tr>					
					
					<tr>
						<td><label>Zufriedenheit mit der Behandlung <sup class="mandatory"> *</sup></label></td>
						<td colspan="6"><select name="dgp[kern][discharge][zufriedenheit_mit]">
						<option value="">--</option>
						<option value="1"  <?php if($dgp['kern']['discharge']['zufriedenheit_mit'] == 1){echo 'selected="selected"';}  ?> >sehr schlecht</option>
						<option value="2"  <?php if($dgp['kern']['discharge']['zufriedenheit_mit'] == 2){echo 'selected="selected"';}  ?> >schlecht</option>
						<option value="3"  <?php if($dgp['kern']['discharge']['zufriedenheit_mit'] == 3){echo 'selected="selected"';}  ?> >mittel</option>
						<option value="4"  <?php if($dgp['kern']['discharge']['zufriedenheit_mit'] == 4){echo 'selected="selected"';}  ?> >gut</option>
						<option value="5"  <?php if($dgp['kern']['discharge']['zufriedenheit_mit'] == 5){echo 'selected="selected"';}  ?> >sehr gut</option>
						</select></td>
					</tr>
				</table>
			</div>
		</div>
		<!-- End   DISCHARGE BLOCK-->
		
		<button type="button" id="save_form" class="submit_form" ><?php echo $this->translate('submit');?></button>
		
	</form>
</div>