<?php
$users = $this->users;
$client_shifts = $this->client_shifts;
$client_shifts_min = $this->client_shifts_min;
$month_days_array = $this->month_days;
$roster_saved_data = $this->roster_saved_data;

$national_holidays = $this->national_holidays;


?>
<style>
	.weekend {
		background-color: #ccc;
	}
	
	.national_holidays {
		 background-color: #FAEBD7;
	}
	
</style>
<h1>
	<?php echo $this->translate('duty_roster_planning'); ?>
</h1>
<br />		<?php echo $this->selected_period; ?>

<table id="roster_days" border="1" cellpadding="0" 	cellspacing="0" style="border: 1px solid #000;">
	<tr>
		<td></td>
		<?php foreach ($month_days_array as $day): $day_type = date('w', strtotime($day)); ?>
		<th	class="<?php if(in_array($day, $national_holidays)) : ?> national_holidays <?php elseif ($day_type == 0 || $day_type == 6): ?> weekend <?php endif; ?>" width="30px">
			<?php echo date('d', strtotime($day)); ?> <?php echo strftime('%a', strtotime($day)); ?>
		</th>
		<?php endforeach; ?>
	</tr>

	
	<?php foreach ($this->groupUsers as $group_id => $group_users): ?>
	<?php foreach($group_users as $user_id=>$username): ?>
		<?php if($user_id == 0) : ?>
		<tr>
			<td><b><?php echo $this->groups[$group_id]['groupname'];?></b></td>
			<td colspan="<?php echo count($month_days_array); ?>">&nbsp;</td>
		</tr>
		
		<?php else: ?>
		<tr class="row_0">
			<td><?php echo $username; ?></td>
			
			<?php foreach ($month_days_array as $k_day => $day): $day_type = date('w', strtotime($day)); ?>
				<?php 
					$isactive = "";
					if ( ($users['all'][$user_id]['isactive'] == "1")  &&  (strtotime($day) >= strtotime( $users['all'][$user_id]['isactive_date'] )) )  {
						$isactive = " strikethrough_print ";
					}
				?>				
				<td class="cell <?php if(in_array($day, $national_holidays)) : ?> national_holidays <?php elseif ($day_type == 0 || $day_type == 6): ?> weekend <?php endif; ?> <?php echo 'col_' . (date('j', strtotime($day)) - 1); ?> <?php echo $isactive; ?>" align="center"  style="width:32px; border:2px solid <?php echo '#'.$this->client_shifts_min[$roster_saved_data[$user_id][$day][0]]['color'] ?>; background:<?php echo '#'.$this->client_shifts_min[$roster_saved_data[$user_id][$day][0]]['color'] ?>"> 
					<span id="span_<?php echo strtotime($day) . '_' . $user_id; ?>"> 
					 	<?php  echo $this->client_shifts_min[$roster_saved_data[$user_id][$day][0]]['shortcut']; ?>
					</span>
				</td>
			<?php endforeach; ?>
		</tr>		
		<tr class="row_1" <?php if(!empty($this->user_rows[$user_id]) && $this->user_rows[$user_id] < '2'): ?> style="display:none;" <?php endif; ?>>
			<td>&nbsp;</td>
			<?php foreach ($month_days_array as $k_day => $day): $day_type = date('w', strtotime($day)); ?>
				<?php 
					$isactive = "";
					if ( ($users['all'][$user_id]['isactive'] == "1")  &&  (strtotime($day) >= strtotime( $users['all'][$user_id]['isactive_date'] )) )  {
						$isactive = " strikethrough_print ";
					}
				?>
				<td class="cell <?php if(in_array($day, $national_holidays)) : ?> national_holidays <?php elseif ($day_type == 0 || $day_type == 6): ?> weekend <?php endif; ?> <?php echo 'col_' . (date('j', strtotime($day)) - 1); ?> <?php echo $isactive; ?>" align="center"   style="border:2px solid <?php echo '#'.$this->client_shifts_min[$roster_saved_data[$user_id][$day][1]]['color'] ?>; background:<?php echo '#'.$this->client_shifts_min[$roster_saved_data[$user_id][$day][1]]['color'] ?>"> 
					<span id="span_<?php echo strtotime($day) . '_' . $user_id; ?>">  
					 	<?php  echo $this->client_shifts_min[$roster_saved_data[$user_id][$day][1]]['shortcut']; ?>
					</span>
				</td>
			<?php endforeach; ?>
		</tr>
		<tr class="row_2" <?php if(!empty($this->user_rows[$user_id]) && $this->user_rows[$user_id] < '3'): ?> style="display:none;" <?php endif; ?>>
			<td>&nbsp;</td>
			<?php foreach ($month_days_array as $k_day => $day): $day_type = date('w', strtotime($day)); ?>
				<?php 
					$isactive = "";
					if ( ($users['all'][$user_id]['isactive'] == "1")  &&  (strtotime($day) >= strtotime( $users['all'][$user_id]['isactive_date'] )) )  {
						$isactive = " strikethrough_print ";
					}
				?>
				<td class="cell <?php if(in_array($day, $national_holidays)) : ?> national_holidays <?php elseif ($day_type == 0 || $day_type == 6): ?> weekend <?php endif; ?> <?php echo 'col_' . (date('j', strtotime($day)) - 1); ?> <?php echo $isactive; ?>" align="center"  style="border:2px solid <?php echo '#'.$this->client_shifts_min[$roster_saved_data[$user_id][$day][2]]['color'] ?>; background:<?php echo '#'.$this->client_shifts_min[$roster_saved_data[$user_id][$day][2]]['color'] ?>"> 
					<span id="span_<?php echo strtotime($day) . '_' . $user_id; ?>"> 
					 	<?php  echo $this->client_shifts_min[$roster_saved_data[$user_id][$day][2]]['shortcut']; ?>
					</span>
				</td>
			<?php endforeach; ?>
		</tr>
		<?php endif;?>
		
	<?php endforeach; ?>

		<?php if($this->sum_line == "1"):?>
		<tr>
			<td style="vertical-align: top;"><b><?php echo $this->groups[$group_id]['groupname'];?> <?php echo $this->translate('sum')?>:</b> </td>
			<?php foreach ($month_days_array as $k_day => $day): $day_type = date('w', strtotime($day)); ?>
				<td class="cell<?php if ($day_type == 0 || $day_type == 6): ?> weekend <?php endif; ?> <?php echo 'col_' . (date('j', strtotime($day)) - 1); ?>" align="left" > 
						<?php foreach($this->group_shifts[$group_id] as $sfid => $zero):?>
							<?php if(isset($this->group_shifts_count[$group_id][$day][$sfid])):?>
								<div class="sum_sp" style="font-size:8px;  width: 100%; height: 20px; border:1px solid <? echo '#'.$client_shifts_min[$sfid]['color']; ?>;  color: <? echo '#'.$client_shifts_min[$sfid]['color']; ?>" > <?php echo $this->client_shifts_min[$sfid]['shortcut']; ?> <?php echo $this->group_shifts_count[$group_id][$day][$sfid];?></div>
							<?php else:?>
								<div class="sum_sp" style="font-size:8px;   width: 100%; height: 20px;" >&nbsp;</div>
							<?php endif;?>
						<?php endforeach; ?>
				</td>
			<?php endforeach; ?>
		</tr>	
		<?php endif;?>
<?php endforeach; ?>



</table>
 <ul class="shift_substitution">
	<?php foreach ($this->client_shifts_l_arr as $k_c_shift => $v_c_shift): ?>
		<li>	<?php echo $this->client_shifts_min[$k_c_shift]['shortcut']; ?> = <?php echo $v_c_shift['name']; ?><?php echo $v_c_shift['valid_till_date']; ?></li>
	<?php endforeach; ?>
</ul>

<div style="font-size: 12px; text-align: center;">
 	<?php echo $this->translate("This plan was printed on"). " " . date("d.m.Y"); ?>
</div>
<div style="font-size: 12px;">
 	<b>&nbsp;</b>
</div>
