<script type="text/javascript">

$(document).ready(function() { /*------ Start $(document).ready --------------------*/
    $(".confirm_button").click(function () {
		$.confirmdeleteid = $(this).attr('rel');
		jConfirm('<?php echo $this->translate('confirmdeleterecord'); ?>', '<?php echo $this->translate('confirmdeletetitle'); ?>', function (r) {
			if(r)
			{
			location.href = "<?php echo APP_BASE ?>roster/delete?id="+ $.confirmdeleteid;	
			}
		});
    });
	
});

</script>

<h1><?php echo $this->translate('shift_lists_title'); ?></h1>
<br />

<div class="add_link">
		<a href="<?php echo APP_BASE.'roster/addshift'; ?>"><? echo $this->translate('add_shift') ?></a>
</div>
<table class="datatable">
	<thead>
		<tr>
			<th><?php echo $this->translate('#');  ?></th>
			<th><?php echo $this->translate('shift_name');  ?></th>
			<th><?php echo $this->translate('shift_start_time');  ?></th>
			<th><?php echo $this->translate('shift_end_time');  ?></th>
			<th><?php echo $this->translate('shift_color');  ?></th>
			<th><?php echo $this->translate('shift_edit');  ?></th>
			<th><?php echo $this->translate('delete');  ?></th>
		</tr>
	</thead>
	<tbody>
		<?php $i = '1'; foreach($this->client_shifts as $k_client_shift => $v_client_shift):  ?>
		<?php if($v_client_shift['id'] > '0'):  ?>
		<tr>
			<td>
				<?php echo $i; ?>
			</td>
			
			<?php if(in_array($v_client_shift['id'], $this->sfift_used )):?>
			           <td class="location_assigned">
				       <?php echo '<span id="clickedid" data-assigned="1">!</span>'.$v_client_shift['name'];  ?>
			            </td>
			<?php else: ?>
			           <td>
				       <?php echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'. $v_client_shift['name'];  ?>
				      </td>
			<?php  endif; ?>
			
			<td>
				<?php echo date('H:i', strtotime($v_client_shift['start']));  ?>
			</td>
			<td>
				<?php echo date('H:i', strtotime($v_client_shift['end']));  ?>
			</td>
			<td>
				<div style="border:1px solid #000;width:26px; padding:0px; margin: 0px; background-color: <?php echo "#".$v_client_shift['color'];  ?>">&nbsp;</div>
			</td>
			<td>

				<a href="<?php echo APP_BASE;  ?>roster/editshift?sid=<?php echo $v_client_shift['id']; ?>"><img src="<?php echo RES_FILE_PATH  ?>/images/edit.png" border="0"></a>
			</td>
			<?php if(in_array($v_client_shift['id'], $this->sfift_used )):?>
			           <td>
				       <?php echo '-'; ?>
				      </td>
			<?php else: ?>
			           <td>
			              <a href="javascript:void(0);" id="<?php echo 'delete_'.$v_client_shift['id'] ;?>" class="confirm_button" rel="<?php echo $v_client_shift['id'] ;?>" ><img border="0" src="<?php echo RES_FILE_PATH  ?>/images/action_delete.png" border="0"></a>
		              </td>
			<?php  endif; ?>
			
			
		</tr>
		<?php  $i++;  ?>
		<?php endif;  ?>
		<?php endforeach; ?>
	</tbody>
</table>
<div class="location_assigned">
          <span>!</span>) <?php echo $this->translate("The marked shifts are used in duty roster and they can't be deleted!");  ?>
</div>