<table style="width: 800px">
	<tr>
		<td colspan="2">

		</td>
	</tr>
	<tr>
		<td style="width: 800px">

			<div style="border: 1px solid #000;width: 650px; padding: 10px">
				<!--XXXXXX-->
				<input type="hidden" id="type_c" />
				<ul class="tabs addressb">
					<?php if (!$this->hide_patient_tab): ?>
						<li>
							<a href="#" id="patienttab">Patient</a>
						</li>
					<?php endif; ?>
					<li>
						<a href="#" id="All" class="tabf">Alle</a>
					</li>
					<li>
						<a href="#" id="H" class="tabf">Hausarzt</a>
					</li>
					<li>
						<a href="#" id="P" class="tabf">Pflegedienst</a>
					</li>
					<li>
						<a href="#" id="A" class="tabf">Apotheke</a>
					</li>
					<li>
						<a href="#" id="L" class="tabl">Aufenthaltsorte</a>
					</li>
					<li>
						<a href="#" id="S" class="tabs">Sonstiges</a>
					</li>
					<li>
						<a href="#" id="SH" class="tabf"><?php echo $this->translate('supplies');  ?></a>
					</li>

				</ul>
				<div id="content"><? echo $this->patientgrid ?></div>


				<?php if (!$this->hide_patient_tab): ?>


					<div id="pat" style="">
						<br /> <br /> <br />
						<div class="clear"></div>
						<!-- HAUSARTZ -->
						<div class="addr-details">
							<?php if ($this->fam_doctor > 0): ?>
								<table class="addr-moredetails">
									<tbody>
										<tr>
											<th colspan="2" style="background: #b3bed7; color: #000;"><b>Hausarzt</b>
											</th>
										</tr>
										<tr>
											<th>Name</th>
											<td>
												<?php echo $this->first_name . ' ' . $this->last_name; ?>
											</td>
										</tr>
										<tr>
											<th>Straße</th>
											<td>
												<?php echo $this->street1; ?>
											</td>
										</tr>
										<tr>
											<th>PLZ</th>
											<td>
												<?php echo $this->zip; ?>
											</td>
										</tr>
										<tr>
											<th>Stadt</th>
											<td>
												<?php echo $this->city; ?>
											</td>
										</tr>
										<tr>
											<th>Telefon Praxis</th>
											<td>
												<?php echo $this->phone_practice; ?>
											</td>
										</tr>
										<tr>
											<th>Handy Nummer</th>
											<td>
												<?php echo $this->phone_cell; ?>
											</td>
										</tr>
										<tr>
											<th>Fax</th>
											<td>
												<?php echo $this->fax; ?>
											</td>
										</tr>
									</tbody>
								</table>
							<?php else : ?>
							<?php endif; ?>
						</div>

						<!-- PFLEGE				 -->
						<div class="addr-details">
							<?php if (!empty($this->pat_pfleg)) : ?>
								<?php $i = 1;
								foreach ($this->pat_pfleg as $value) : ?>
									<table class="addr-moredetails">
										<tr>
											<th colspan="2" style="background: #b3bed7; color: #000;"><b>
			<?php echo $i; ?>. Pflegedienst</b>
											</th>
										</tr>
										<tr>
											<th>Pflegedienst</th>
											<td>
			<?php echo $value['nursing']; ?>
											</td>
										</tr>
										<tr>
											<th>Vorname</th>
											<td>
			<?php echo $value['first_name']; ?>
											</td>
										</tr>
										<tr>
											<th>Nachname</th>
											<td>
			<?php echo $value['last_name']; ?>
											</td>
										</tr>
										<tr>
											<th>Straße</th>
											<td>
			<?php echo $value['street1']; ?>
											</td>
										</tr>
										<tr>
											<th>PLZ</th>
											<td>
			<?php echo $value['zip']; ?>
											</td>
										</tr>
										<tr>
											<th>Stadt</th>
											<td>
			<?php echo $value['city']; ?>
											</td>
										</tr>
										<tr>
											<th>Telefon</th>
											<td>
			<?php echo $value['phone_practice']; ?>
											</td>
										</tr>
										<tr>
											<th>Telefon privat</th>
											<td>
			<?php echo $value['private_phone']; ?>
											</td>
										</tr>
										<tr>
											<th>Notruf telefon</th>
											<td>
			<?php echo $value['phone_emergency']; ?>
											</td>
										</tr>
										<tr>
											<th>Doctor number</th>
											<td>
			<?php echo $value['doctornumber']; ?>
											</td>
										</tr>
										<tr>
											<th>Fax</th>
											<td>
			<?php echo $value['fax']; ?>
											</td>
										</tr>
									</table>
									<?php $i++;
								endforeach; ?>
							<?php else : ?>
	<?php endif; ?>
						</div>
						<!-- PHARMACY				 -->
						<div class="addr-details">
	<?php if (!empty($this->pat_pharmacy)) : ?>
		<?php $i = 1;
		foreach ($this->pat_pharmacy as $value) : ?>
									<table class="addr-moredetails">
										<tr>
											<th colspan="2" style="background: #b3bed7; color: #000;"><b>
			<?php echo $i; ?>. Apotheke</b>
											</th>
										</tr>
										<tr>
											<th>Apotheke</th>
											<td>
			<?php echo $value['pharmacy']; ?>
											</td>
										</tr>
										<tr>
											<th>Vorname</th>
											<td>
			<?php echo $value['first_name']; ?>
											</td>
										</tr>
										<tr>
											<th>Nachname</th>
											<td>
			<?php echo $value['last_name']; ?>
											</td>
										</tr>
										<tr>
											<th>Straße</th>
											<td>
			<?php echo $value['street1']; ?>
											</td>
										</tr>
										<tr>
											<th>PLZ</th>
											<td>
			<?php echo $value['zip']; ?>
											</td>
										</tr>
										<tr>
											<th>Stadt</th>
											<td>
			<?php echo $value['street1']; ?>
											</td>
										</tr>
										<tr>
											<th>Telefon</th>
											<td>
			<?php echo $value['phone']; ?>
											</td>
										</tr>
										<tr>
											<th>Fax</th>
											<td>
									<?php echo $value['fax']; ?>
											</td>
										</tr>
									</table>
									<?php $i++;
								endforeach; ?>
	<?php else : ?>
							<?php endif; ?>
						</div>
						<!-- PATIENT CONTACTS -->

						<div class="addr-details">
											<?php $degree = $this->degree; ?>
											<?php if (!empty($this->patient_contacts)) : ?>
												<?php $i = 1;
												foreach ($this->patient_contacts as $value) : ?>
									<table class="addr-moredetails">
										<tr>
											<th colspan="2" style="background: #b3bed7; color: #000;"><b>
												<?php echo $i; ?>. Ansprechpartner</b>
											</th>
										</tr>
										<tr>
											<th>Vorname</th>
											<td>
												<?php echo $value['cnt_first_name']; ?>
											</td>
										</tr>
										<tr>
											<th>Nachname</th>
											<td>
												<?php echo $value['cnt_last_name']; ?>
											</td>
										</tr>
										<tr>
											<th>Straße</th>
											<td>
												<?php echo $value['cnt_street1']; ?>
											</td>
										</tr>
										<tr>
											<th>Stadt</th>
											<td>
												<?php echo $value['cnt_city']; ?>
											</td>
										</tr>
										<tr>
											<th>Telefon</th>
											<td>
												<?php echo $value['cnt_phone']; ?>
											</td>
										</tr>
										<tr>
											<th>Mobil</th>
											<td>
												<?php echo $value['cnt_mobile']; ?>
											</td>
										</tr>
										<tr>
											<th>Beziehung zum Pat.</th>
											<td>
									<?php echo $degree[$value['cnt_familydegree_id']]; ?>
											</td>
										</tr>
									</table>
									<?php $i++;
								endforeach; ?>
	<?php else: ?>
	<?php endif; ?>
	<?php if (empty($this->pat_pfleg) && empty($this->patient_contacts) && empty($this->pat_pharmacy) && empty($this->fam_doctor)): ?>
								<div style="text-align:center; font-size:1.2em; padding-top:5px;" ><span>keine Patient Details</span></div>
	<?php endif; ?>


						</div>


					</div>

						<?php endif; ?>

				<div id="addressbook-tabs">
					<table>
						<tr><td><a href="#" id="default-all">Alle</a></td></tr>
						<tr><td><a href="#" id="fav-filter"></a></td></tr>
						<?php
						$alphabet = array ("A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z");
						foreach ($alphabet as $letter)
						{
							echo '<tr><td><a href="#" class="addr-letter" rel="' . $letter . '">' . $letter . '</a></td></tr>';
						}
						?>
					</table>
				</div>
				<br style="clear: both" />
			</div>
		</td>
	</tr>
</table>
<?php if ($this->hide_patient_tab): ?>
	<script type="text/javascript">
		ajaxCallserver({callLoading:pl_loading,url:'addressbook/fetchlist?type=All'});
	</script>
<?php endif; ?>


