<? $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/anlagethreea.css'); ?>
<script type="text/javascript">
	$(document).ready(function() {
	 
	$( "#Veror63_NameDatuInpt").datepicker({
		dateFormat: 'dd.mm.yy',
		showOn: "both",
		buttonImage: $('#calImg').attr('src'),
		buttonImageOnly: true,
		changeMonth: true,
		changeYear: true,
		nextText: '',
		prevText: ''
	});

	$('.hasDatepicker').mask('99.99.9999');
	
	function getvalues(val)
	{
		//alert(val.name+"-val");
		document.getElementById(val.name+"val").value += val.value+'\n';
		document.getElementById(val.name).selectedIndex = 0;
	}

	});	
</script>
<?
	$kv_header = $this->data['kv_header'];
	$content = $this->data['content'];

//print_r($kv_header); exit;
?>
<div style="display: none;"> <img id="calImg" src="<?php echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger" style="margin-bottom: -4px;"/> </div>
<form action="" method="post">
	<div id="calImg" style="display: none;"> <img src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
	<? echo $this->patientinfo ?>
	<? echo $this->tabmenus ?>
	<div id="anlagePatintInfo" class="tab_container">
		<div id="analage">
		<div id="Veror_main" class="pallnetz_topform proper_height">
				<label id="Veror63_Kraner" for="Krankenkasse">Krankenkasse bzw. Kostenträger</label>
				<br />
				<input id="Veror63_KraneInpt" name="kv_header[insurance_company_name]" value="<? echo $kv_header['insurance_company_name'];?>" class="insurnace"  type="text" />
				<div class="redline"></div>
				<div class="clearer"></div>

				<div id="Veror63_NameVorVer" class="formleftdiv">
					<label id="Veror63_NameVorVeOuter" for="Name">Name, Vorname des Versicherten</label>
					<br />
					<textarea name="kv_header[patientname]" id="Veror63_NameVorVeInpt" cols="45" rows="2" class="textArea"><? echo  $kv_header['patientname'];?> </textarea>
				</div>
				<div id="Veror63_NameGeb" class="formrightdiv proper_height" >
					<label id="Veror63_NameGeLbl" for="geb">geb. am</label>
					<br />
					<input type="text" name="kv_header[patbirth]" id="Veror63_NameGeInpt" value="<? echo  $kv_header['patbirth'];?>" />
				</div>

				<div class="ClrBoth"></div>
				<div class="redline" id="Veror63_NameBlckLine"></div>

				<div id="Veror63_NameKassnr" class="formShortDiv proper_height">
					<label id="Veror63_NameKassnLbl" for="Kassen-Nr.">Kassen-Nr.</label><br />
					<input name="kv_header[kvnumber]" type="text" id="Veror63_NameKassnInpt" value="<? echo  $kv_header['kvnumber'];?>" /><!--kasse nr -->
				</div>

				<div class="VerLine" id="Veror63_NameVerline"></div>
				<div class="formShortDiv proper_height" id="Veror63_NameVerNr">
					<label for="Versicherten-Nr" id="Veror63_NameVerNTxt">Versicherten-Nr.</label><br />
					<input id="Veror63_NameVerNInpt" name="kv_header[insurance_no]" type="text" value="<? echo  $kv_header['insurance_no'];?>" />
				</div>

				<div class="VerLine" id="Veror63_NameVerlin2"></div>
				<div id="Veror63_NameStatus" class="formShortDiv proper_height">
					<label id="Veror63_NameStatuLbl" for="Status">Status</label><br />
					<input name="kv_header[insurance_status]" id="Veror63_NameStatInpt" type="text" value="<? echo  $kv_header['insurance_status'];?>"  />
				</div>
				<div class="ClrBoth"></div>
				<div class="redline" id="Veror63_NameBlacLine"></div>
				<div class="formShortDiv proper_height" id="Veror63_NameBetrinr">
					<label id="Veror63_NameBetrinLbl" for="Vertragsarzt-Nr.">Betriebsstätten-Nr.</label>
					<br />
					<input name="kv_header[betriebsstatten_nr]" id="Veror63_NameBetrinInpt" type="text" value="<? echo  $kv_header['betriebsstatten_nr'];?>" />
				</div>
				<div id="Veror63_NameVerlin3" class="VerLine"></div>
				<div id="Veror63_Namearztnr proper_height" class="formShortDiv">
					<label id="Veror63_NamearztnLbl" for="VK gültig bis">Arzt-Nr.</label>
					<br />
					<input id="Veror63_NamearztnInpt" name="kv_header[arzt_nr]" type="text" value="<? echo  $kv_header['arzt_nr'];?>"  />
				</div>
				<div class="VerLine" id="Veror63_NameaVerline"></div>
				<div id="Veror63_NameDatum proper_height" class="formShortDiv">
					<label id="Veror63_NameDatuLbl" for="Datum">Datum</label><br />
					<input name="topdatum" id="Veror63_NameDatuInpt" class="datum" type="text" value="<? echo date('d.m.Y') ?>" />
				</div>
			</div>
			<div class="info_title">
			&nbsp;<br/>
			&nbsp;<br/>
			&nbsp;<br/>
				<span>
					Anlage 3a<br/>
					zur Vereinbarung zur Umsetzung der ambulanten<br/>
					palliativmedizinischen Versorgung von unheilbar erkrankten<br/>
					Patienten im häuslichen Umfeld<br/>
				</span>
			</div>
			
			<div class="big_title">
				 Stammdatenblatt
			</div>
 
			<div id="palitive_patient" class="analage3a">
				<label id="Anlage3a_lbl_Diagnose"><strong>Den Status als Palliativpatient begründet/begründen folgende Erkrankung(en)/Diagnose(n):</strong></label>
				
				<textarea id="txtarea_diagnose" name="Diagnose" cols="" rows="5" ><? echo $this->diagnosis ?><? echo $this->diagnosis2 ?></textarea>
				
				<br />
				<br />
				<label id="lbl_stadium"><strong>Stadium/ggf. Metastasierung: </strong></label>
				<select name="stadium" id="stadium" onchange="getvalues(this)">
					<option value=""></option>
					<option value="Cerebrale Metastasierung">Cerebrale Metastasierung</option>
					<option value="Pulmonale Metastasierung">Pulmonale Metastasierung</option>
					<option value="Hepatische Metastasierung">Hepatische Metastasierung</option>
					<option value="Ossäre Metastasierung">Ossäre Metastasierung</option>
					<option value="Mesenteriale Metastasierung">Mesenteriale Metastasierung</option>
					<option value="Lokoregionäre Metastasierung">Lokoregionäre Metastasierung</option>
				</select>
				<textarea name="stadiumval" id="stadiumval" cols="" rows="5" ><? echo $this->metadiga ?></textarea>
				<br />
				<br />
				<label id="lbl_kurze"><strong>Kurze Angabe zum aktuellen Krankheitsbefund: </strong></label>
				<select name="kurze" id="kurze" style="width:430px;" onchange="getvalues(this)">
					<option value=""></option>
					<option value="Tumorerkrankung im fortgeschrittenen Stadium, palliative Therapie">Tumorerkrankung im fortgeschrittenen Stadium, palliative Therapie</option>
					<option value="deutlich reduzierter Allgemeinzustand bei maligner Systemerkrankung">deutlich reduzierter Allgemeinzustand bei maligner Systemerkrankung</option>
					<option value="schwer beherrschbare Symptomatik bei maligner Systemerkrankung">schwer beherrschbare Symptomatik bei maligner Systemerkrankung</option>
					<option value="Systemerkrankung im Endstadium">Systemerkrankung im Endstadium</option>
					<option value="Tumorpatient in Finalphase">Tumorpatient in Finalphase</option>
					<option value="Nach Rücksprache mit QPA">Nach Rücksprache mit QPA</option>
				</select>
				<textarea name="kurzeval" id="kurzeval" cols="" rows="5" ></textarea>
				<br />
				<br />
		<table width="100%">
			<tr>
				<td width="30%"> Patient befindet sich zur Zeit </td>
				<td width="5%"> <input name="zeit" id="zeit-1" value="1" type="radio" class="MarginZero" <? if($this->active_location_type == "5") :?>checked="checked" <? endif;?> /> </td>
				<td width="25%" align="left" > im häuslichen Umfeld </td>
				<td width="5%"> <input name="zeit" id="zeit-2" value="2" type="radio" class="MarginZero"> </td>
				<td width="30%" align="left" > in einem Alten/Pflegeheim </td>
			</tr>
		</table>
		
		
		<table>
			<tr>
				<td><b class="big_font">Zu erwartender palliativmedizinischer Bedarf: </b></td>
			</tr>	
		</table>	
		
		<table width="100%" border="1" class="bedarf_options">
			<tr>
				<td width="60%">Bereits begonnene Schmerztherapie</td>
				<td width="5%"><input name="Bereits" id="Bereits" value="0" type="radio" class="MarginZero"> </td>
				<td width="15%">Ja</td>
				<td width="5%"><input name="Bereits" id="Bereits" value="1" type="radio" class="MarginZero"></td>
				<td width="15%">Nein</td>
			</tr>
			<tr>
				<td> Zu erwartende Schmerztherapie  </td>
				<td> <input name="erwartende" id="erwartende" value="0" type="radio" class="MarginZero"> </td>
				<td>Ja</td>
				<td> <input name="erwartende" id="erwartende" value="1" type="radio" class="MarginZero"> </td>
				<td>Nein</td>
			</tr>

			<tr>
				<td> Symptomkontrolle/Krisenintervention<br/>(z.B. Erbrechen, Obstipation, Atemnot, Unruhe, etc.)</td>
				<td> <input name="Symptomkontrolle" id="Symptomkontrolle" value="0" type="radio" class="MarginZero"></td>
				<td>Ja</td>
				<td> <input name="Symptomkontrolle" id="Symptomkontrolle" value="1" type="radio" class="MarginZero"> </td>
				<td>Nein</td>
			</tr>
			<tr>
				<td> Spezielle Wundversorgung</td>
				<td><input name="Spezielle" id="Spezielle" value="0" type="radio" class="MarginZero"></td>
				<td>Ja</td>
				<td><input name="Spezielle" id="Spezielle" value="1" type="radio" class="MarginZero"> </td>
				<td>Nein</td>
			</tr>
			
			<tr>
				<td> Psychosoz. Unterstützung</td>
				<td><input name="Psychosoz" id="Psychosoz" value="0" type="radio" class="MarginZero"></td>
				<td>Ja</td>
				<td><input name="Psychosoz" id="Psychosoz" value="1" type="radio" class="MarginZero"></td>
				<td>Nein</td>
			</tr>
			<tr>
				<td>Sonstiges </td>
				<td><input name="Sonstiges" id="Sonstiges" value="0" type="radio" class="MarginZero"></td>
				<td>Ja</td>
				<td><input name="Sonstiges" id="Sonstiges" value="1" type="radio" class="MarginZero"></td>
				<td>Nein</td>
			</tr>
			<tr>
				<td colspan="5">
					<textarea name="comment" id="comment" cols="" rows="5" ></textarea>
				</td>
			</tr>
			<tr>
				<td>Es liegen Hinweise auf eine Infektionserkrankung vor </td>
				<td><input name="Hinweise" id="Hinweise" value="0" type="radio" class="MarginZero"></td>
				<td>Ja</td>
				<td><input name="Hinweise" id="Hinweise" value="1" type="radio" class="MarginZero"></td>
				<td>Nein</td>
			</tr>
			<tr>
				<td>Der/die Patient/in leidet an einer Suchterkrankung</td>
				<td><input name="Der" id="Der" value="0" type="radio" class="MarginZero"></td>
				<td>Ja</td>
				<td><input name="Der" id="Der" value="1" type="radio" class="MarginZero"></td>
				<td>Nein</td>
			</tr>
			
			
		</table>
 
				<table width="100%">
				<tr>
					<td colspan="3" height="50"></td>
				</tr>
					<tr>
						<td style="border-bottom: 1px solid #000"> <? echo $content['client_city']; ?>, <? echo date('d.m.Y'); ?> </td>
						<td width="30px"></td>
						<td style="border-bottom: 1px solid #000"></td>
					</tr>
					<tr>
						<td style="text-align: center;">Ort, Datum</td>
						<td width="30px"></td>
						<td style="text-align: center;">Stempel und Unterschrift des behandelnden Arztes</td>
					</tr>
				</table>
				
				<input id="pdf_erstellen_btn" name="" type="submit" value="PDF erstellen" class="button btnsubmit_usersessions" />
			</div>
		</div>
	</div>
</form>
