<?php
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/page-css/anlage4awlx.css?' . date('Ymd'));
?>
<script type="text/javascript">
	$(document).ready(function() {
		var has_vollversorgung = '<?php echo $this->has_vollversorgung; ?>';
		var renew_checked = '<?php echo $this->renew_checked; ?>'

		$( "#admission_date" ).datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true,
			nextText: '',
			prevText: ''
		});

		if($('#start_date').val()){
			$('#display').attr('checked', true);
		} else {
			$('#display').attr('checked', false);
		}

		$( "#start_date" ).live('change', function() {
			if($('#start_date').val()){
				$('#display').attr('checked', true);
			} else {
				$('#display').attr('checked', false);
			}
		});

		$( "#start_date" ).datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true,
			onSelect: function() {
				var start_date_object = $(this).datepicker( 'getDate' );
				$('#end_date').datepicker("option", "minDate", start_date_object);
				$('#display').attr('checked', true);
			}
		});

		$( "#end_date" ).datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true,
			onSelect: function() {
				var start_date_object = $(this).datepicker( 'getDate' );
			}
		});



		$( "#expected_more_time" ).datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true
		});


		var start_date_object = $('#start_date').datepicker( 'getDate' );
		$('#end_date').datepicker("option", "minDate", start_date_object);


		var end_date_object = new Date();

		//set max date
		end_date_object.setDate(end_date_object.getDate()+27);
		$( "#expected_more_time" ).datepicker( "option", "maxDate", end_date_object);

		$('.hasDatepicker').mask('99.99.9999');

		$('input[type=submit]').bind('click', function(e) {
			e.preventDefault();
			//check required textarea filled if renew is checked
			if(renew_checked == '1'){
				if($('#performed_periods').val()){
					$('#anlage4awl').submit();
					setTimeout(function () {$('input[type=submit]').attr('disabled', true);}, 150);
					setTimeout('redirect()', 1000);
					setTimeout(function () {$('input[type=submit]').attr('disabled', false);}, 22000);
				} else {
					alert('Bitte füllen Sie "Zeitraum/-räume aufführen"');
					return false;
				}
			} else {
				$('#anlage4awl').submit();
				setTimeout(function () {$('input[type=submit]').attr('disabled', true);}, 150);
				setTimeout('redirect()', 1000);
				setTimeout(function () {$('input[type=submit]').attr('disabled', false);}, 22000);
			}
		});
});

	function redirect() {
		window.location.href = "<?php echo APP_BASE; ?>patientcourse/patientcourse?id=<?php echo $_GET['id'] ?>";
	}
	function printObject(o) {
		var out = '';
		for (var p in o) {
			out += p + ': ' + o[p] + '\n';
		}
		alert(out);
	}
</script>
<form action="" method="post" onsubmit="" id="anlage4awl" target="_blank">
	<div style="display: none;"> <img id="calImg" src="<?php echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger" style="margin-bottom: -4px;"/> </div>
	<?php echo $this->patientinfo ?>
	<?php echo $this->tabmenus ?>
	<div class="tab_container">
		<div id="analage">
			<div id="Veror_main" class="pallnetz_topform proper_height">
				<label id="Veror63_Kraner" for="Krankenkasse">Krankenkasse bzw. Kostenträger</label>
				<br />
				<input id="Veror63_KraneInpt" name="kv_header[insurance_company_name]" value="<?php echo $this->insurance_company_name ?>" class="insurnace"  type="text" />
				<div class="redline"></div>
				<div class="clearer"></div>

				<div id="Veror63_NameVorVer" class="formleftdiv">
					<label id="Veror63_NameVorVeOuter" for="Name">Name, Vorname des Versicherten</label>
					<br />
					<textarea name="kv_header[patientname]" id="Veror63_NameVorVeInpt" cols="45" rows="2" class="textArea"><?php echo $this->patientname ?></textarea>
				</div>
				<div id="Veror63_NameGeb" class="formrightdiv proper_height" >
					<label id="Veror63_NameGeLbl" for="geb">geb. am</label>
					<br />
					<input type="text" name="kv_header[patbirth]" id="Veror63_NameGeInpt" value="<?php echo $this->birthdate ?>" />
				</div>

				<div class="ClrBoth"></div>
				<div class="redline" id="Veror63_NameBlckLine"></div>

				<div id="Veror63_NameKassnr" class="formShortDiv proper_height">
					<label id="Veror63_NameKassnLbl" for="Kassen-Nr.">Kassen-Nr.</label><br />
					<input name="kv_header[kvnumber]" type="text" id="Veror63_NameKassnInpt" value="<?php echo $this->kvnumber ?>" />
				</div>

				<div class="VerLine" id="Veror63_NameVerline"></div>
				<div class="formShortDiv proper_height" id="Veror63_NameVerNr">
					<label for="Versicherten-Nr" id="Veror63_NameVerNTxt">Versicherten-Nr.</label><br />
					<input id="Veror63_NameVerNInpt" name="kv_header[insurance_no]" type="text" value="<?php echo $this->insurance_no ?>" />
				</div>

				<div class="VerLine" id="Veror63_NameVerlin2"></div>
				<div id="Veror63_NameStatus" class="formShortDiv proper_height">
					<label id="Veror63_NameStatuLbl" for="Status">Status</label><br />
					<input name="kv_header[insurance_status]" id="Veror63_NameStatInpt" type="text" value="<?php echo $this->insurance_status ?>"  />
				</div>
				<div class="ClrBoth"></div>
				<div class="redline" id="Veror63_NameBlacLine"></div>
				<div class="formShortDiv proper_height" id="Veror63_NameBetrinr">
					<label id="Veror63_NameBetrinLbl" for="Vertragsarzt-Nr.">Betriebsstätten-Nr.</label>
					<br />
					<input name="kv_header[betriebsstatten_nr]" id="Veror63_NameBetrinInpt" type="text" value="<?php echo $this->betriebsstatten_nr ?>" />
				</div>
				<div id="Veror63_NameVerlin3" class="VerLine"></div>
				<div id="Veror63_Namearztnr proper_height" class="formShortDiv">
					<label id="Veror63_NamearztnLbl" for="VK gültig bis">Arzt-Nr.</label>
					<br />
					<input id="Veror63_NamearztnInpt" name="kv_header[arzt_nr]" type="text" value="<?php echo $this->arzt_nr ?>"  />
				</div>
				<div class="VerLine" id="Veror63_NameaVerline"></div>
				<div id="Veror63_NameDatum proper_height" class="formShortDiv">
					<label id="Veror63_NameDatuLbl" for="Datum">Datum</label><br />
					<input name="topdatum" id="Veror63_NameDatuInpt" type="text" value="<?php echo date('d.m.Y') ?>" />
				</div>
			</div>

			<div id="statment_insurnc_heading" class="formRightContent proper_height">
				<h4>Anlage 4a</h4>
				<p>
					zur Vereinbarung zur Umsetzung der ambulanten palliativmedi- zinischen Versorgung von unheilbar erkrankten Patienten im
					häuslichen Umfeld
				</p>
				<br />
				<br />
				<h4>
					SAPV-Vollversorgung nach Anlage 6 Ziffer 5
				</h4>
				<input type="checkbox" name="display" id="display" value="1"/> <label for="display" class="top_checkboxes">Anzeige</label>
				<br />
				<input type="checkbox" name="renew" id="renew" value="1" <?php if($this->renew_checked == '1'):  ?>checked="checked"<?php endif;  ?> /> <label for="renew" class="top_checkboxes">Verlängerungsantrag</label>
				<br />
				<span style="color:red;">(gilt nicht für Hospizpatienten)</span>
			</div>
			<div class="ClrBoth"></div>
			<div class="clearer"></div>
			<table cellpadding="3" width="100%">
				<tbody>
					<tr>
						<td colspan="2" class="proper_height">Datum der Einschreibung:<br /> <input type="text" name="admission_date" id="admission_date" value="<?php echo $this->addmissiondate; ?>" /></td>
						<td colspan="3">
							<table class="important_fax_notice proper_height">
								<tr>
									<td>
										<span style="color:red;">Wichtig:</span><br />
										<span>Diese Anlage unverzüglich an die KVWL faxen:<br />Telefax-Nr.: 0231 9432-8-7037</span>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="5">
							<table style="width:100%;">
								<tr>
									<td style="border-bottom: 1px dashed #000;">
										&nbsp;
									</td>
								</tr>
								<tr>
									<td>
										&nbsp;
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<tr>
						<td colspan="2" class="proper_height">
							Datum des Beginns der Vollversorgung:
						</td>
						<td>&nbsp;</td>
						<td colspan="2" class="proper_height">
							Datum der Beendigung Vollversorgung:
						</td>
					</tr>
					<tr>
						<td colspan="2" class="proper_height">
							<input type="text" name="start_date" id="start_date" value="<?php echo $this->sminDate;  ?>" />
						</td>
						<td class="proper_height"> &nbsp; </td>
						<td colspan="2" class="proper_height">
							<input type="text" name="end_date" id="end_date" value="<?php echo $this->smaxDate;  ?>" />
						</td>
					</tr>
					<tr>
						<td colspan="5" class="small_text">(Die Abrechnung der SNR 91516/91517 ist auf 28 Tage/4 Wochen begrenzt)</td>
					</tr>

					<tr>
						<td colspan="5">
							<table style="width:100%;">
								<tr>
									<td style="border-bottom: 1px dashed #000;">
										&nbsp;
									</td>
								</tr>
								<tr>
									<td>
										&nbsp;
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<tr>
						<td colspan="5" class="proper_height">
							<h4>Spezieller Versorgungsbedarf besteht in Bezug auf: </h4>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="psychosocial" id="psychosocial" value="1" />
							<label for="psychosocial">Psychosoziale/seelsorgliche Unterstützung</label>
						</td>
						<td>&nbsp;</td>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="catheters_supply" id="catheters_supply" value="1" />
							<label for="catheters_supply">Versorgung von Kathetern und Drainagen</label>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="pain_monitoring" id="pain_monitoring" value="1" />
							<label for="pain_monitoring">Überwachung von Schmerztherapie nach (WHO- Schema) </label>
						</td>
						<td>&nbsp;</td>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="tracheo_supply" id="tracheo_supply" value="1" />
							<label for="tracheo_supply">Versorgung von (Tracheo-, Uro-, Ileo-, Kolo-) Stomata </label>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="fluid_replacement" id="fluid_replacement" value="1" />
							<label for="fluid_replacement">s.c.- oder i.v.- Flüssigkeitssubstitution </label>
						</td>
						<td>&nbsp;</td>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="symptom_control" id="symptom_control" value="1" />
							<label for="symptom_control">Krisenintervention/Symptomkontrolle </label>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="drugs_infusion" id="drugs_infusion" value="1" />
							<label for="drugs_infusion">s.c.- oder i.v.-  Infusionen mit Medikamenten </label>
						</td>
						<td>&nbsp;</td>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="special_wound_care" id="special_wound_care" value="1" />
							<label for="special_wound_care">Spezielle Wundversorgung </label>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="pump_supply" id="pump_supply" value="1" />
							<label for="pump_supply">Versorgung von Port- bzw. Pumpensystemen</label>
						</td>
						<td>&nbsp;</td>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="entereal_nutrition" id="entereal_nutrition" value="1" />
							<label for="entereal_nutrition">Enterale Ernährung (PEG) </label>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="wunds" id="wunds" value="1" />
							<label for="wunds">Wundversorgung (Dekubitus, exulcerierende Tumore, Fisteln) </label>
						</td>
						<td>&nbsp;</td>
						<td colspan="2" class="proper_height">
							<input type="checkbox" name="parenteral_nutrition" id="parenteral_nutrition" value="1" />
							<label for="parenteral_nutrition">Parenterale Ernährung </label>
						</td>
					</tr>


					<tr>
						<td colspan="5">
							<table style="width:100%;">
								<tr>
									<td style="border-bottom: 1px dashed #000;">
										&nbsp;
									</td>
								</tr>
								<tr>
									<td>
										&nbsp;
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<tr>
						<td colspan="5" style="text-decoration: underline;" class="proper_height"><h4> im Fall eines Verlängerungsantrags:</h4></td>
					</tr>
					<tr>
						<td colspan="5" class="proper_height"><h4>Bislang erbrachte Vollversorgung Angabe des Zeitraums/der Zeiträume   </h4></td>
					</tr>
					<tr>
						<td colspan="5" class="proper_height">
							<p>
								Die Vollversorgung kann intermittierend oder durchgängig erbracht werden; eine intermittierende Leistungserbringung ist nicht gegeben, wenn die Vollversorgung an Einzeltagen mit zeitlichen Unterbrechungen (gesplittet) erbracht wird
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="5" class="proper_height" style="font-weight: bold;">
							<p> Zeitraum/-räume aufführen: </p>
						</td>
					</tr>
					<tr>
						<td colspan="5" class="proper_height">
							<textarea name="performed_periods" id="performed_periods" style="width:100%; height:60px;"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="3" class="proper_height"><h4> Gesamtzahl der erbrachten Tage der Vollversorgung: </h4></td>
						<td colspan="2" rowspan="2" class="proper_height">
							<div class="ClrBoth"></div>
							<div class="clearer"></div>
							<table style="width:75px; height:40px;border: 4px solid #000;">
								<tr>
									<td class="proper_height" style="font-size: 24pt; padding: 4px;">
										<?php echo $this->nr;  ?>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="proper_height"> &nbsp; </td>
					</tr>
					<tr>
						<td colspan="5" class="proper_height">
							<h4>Begründung zur weiteren Notwendigkeit der Vollversorgung</h4>
						</td>
					</tr>
					<tr>
						<td colspan="5" class="proper_height">
							<textarea name="full_supply_justification" id="full_supply_justification" style="width:100%; height:60px;"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="5" class="proper_height">
							Voraussichtliche weitere Dauer: <label for="expected_more_time">bis</labeBSNRl> <input type="text" name="expected_more_time" id="expected_more_time" /> (max. 28 Tage / 4 Wochen)
						</td>
					</tr>
					<tr>
						<td class="proper_height" colspan="5">
							<div class="ClrBoth"></div>
							<div class="clearer"></div>
							<div style="float:left; ">
								<label for="pcd_responsible">Zuständiger PKD: </label>
								<input type="text" name="pcd_responsible" id="pcd_responsible" value="<?php echo $this->team_name;  ?>" style="width:430px;" />
							</div>
							<div style="float:right; width:210px" >
								<label for="bsnr">BSNR: </label>
								<input type="text" name="bsnr" id="bsnr" value="<?php echo $this->client_bsnr;  ?>"/>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="5" class="proper_height"> &nbsp; </td>
					</tr>
					<tr>
						<td colspan="5" class="proper_height"> &nbsp; </td>
					</tr>
					<tr>
						<td colspan="5">
							<div class="ClrBoth"></div>
							<div class="clearer"></div>
							<table style="width:100%">
								<tr>
									<td colspan="2" style="width:200px; border-bottom: 1px solid #000;" class="proper_height"><p><?php echo $this->cityofclient.', '.date('d.m.Y')  ?><p></td>
									<td style="width:400px;">&nbsp;</td>
									<td colspan="2" style="width:200px; border-bottom: 1px solid #000;" class="proper_height"></td>
								</tr>
								<tr>
									<td colspan="2" class="small_text proper_height">Ort, Datum </td>
									<td style="width:400px;">&nbsp;</td>
									<td colspan="2" class="small_text proper_height">Stempel und Unterschrift des QPA </td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="ClrBoth"></div>
			<div class="clearer"></div>
			<div id="statment_insurnc_date" class="date_box">
				<input type="hidden" name="save" id="save" value="1" />
				<input type="hidden" name="start_vv" id="start_vv" value="1" />
				<input type="submit" name="tbnbutton" id="tbnbutton" value="PDF Erstellen" class="btnsubmit_usersessions"/>
			</div>

		</div>
	</div>
</form>