<script type="text/javascript" src="<? echo RES_FILE_PATH;  ?>/javascript/livesearch/assignpatient.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	$('#last_name').liveSearch({
		url: 'ajax/patientsearch?op=assigned_patients&q=',
		id: 'livesearch_global_patient',
		aditionalWidth: '200',
		noResultsDelay: '900',
		customStart: false,
		typeDelay: '900'
	});
});

function selectPatAssigned(i) { document.location.href = appbase+'patient/patienttodoctor?epid='+i; }
</script>

<div id="asign_patientDiv" class="grid">
	<h1><? echo $this->translate('assignpatient') ?></h1>
	<? echo $this->patientgrid ?>
</div>


<form action="" method="post" name="frmassign" id="frmassign" autocomplete="off" >
	<fieldset>
		<legend><? echo $this->translate('searchpatient') ?></legend>
		<label for="last_name" id="assign_patient_last_name"><? echo $this->translate('name')?> / <? echo $this->translate('firstname')?></label>
		<input type="text" name="last_name" id="last_name" >
		<div id="asign_patientDiv_error" class="error"><? echo $this->error_ipid?></div>
		<br />
		<div id="patdropdown" class="livesearchdropdown" style="position:absolute;display:none;"></div>
		
		<label for="epid" id="assign_patient_epid"><? echo $this->translate('ePid') ?>&nbsp;</label>
		<input type="text" name="epid" id="epid" >
		<div id="asign_patientDiv_error" class="error"><? echo $this->error_epid?></div>
		
		<input type="submit" name="btnsubmit" id="btnsubmit" class="button" value="<? echo $this->translate('search'); ?>">
		
	</fieldset>
</form>


<div id="livesearch_assigned_patients"  style="display: none;"></div>