<div style="text-align: center; display: block;">
    <strong>Faxvorlage Kurzinformation für den behandelnden Haus- / Facharzt</strong>
</div>
<div style="text-align: center;">
    <table cellpadding="3" cellspacing="5" border="0" style="width:760px;" align="center">
	<tr>
		<td colspan="4">
			&nbsp;<br />
			&nbsp;<br />
			&nbsp;<br />
			&nbsp;<br />
			&nbsp;<br />
			&nbsp;<br />
			&nbsp;<br />
			&nbsp;<br />
			&nbsp;<br />
			&nbsp;<br />			
			&nbsp;<br />
			&nbsp;<br />
			&nbsp;<br />			
			&nbsp;<br />			
			&nbsp;<br />			
			&nbsp;<br />			
		</td>
	</tr>
	<tr style="text-align: left; ">
	    <td style="width:50px;">An</td>
	    <td style="width:400px;"><?php echo $this->receiver_freetext; ?></td>
	    <td style="width:90px;">Datum</td>
	    <td><?php echo $this->letter_date; ?></td>
	</tr>
	<tr style="text-align: left;">
	    <td>Betrifft</td>
	    <td><?php echo $this->patientfirstname . ' ' . $this->patientlastname; ?></td>
	    <td>Geb.-Datum </td>
	    <td><?php echo $this->patientbirth; ?></td>
	</tr>
	<tr>
	    <td colspan="4"  align="center"><b>KURZINFORMATION</b></td>
	</tr>
    </table>

    <div style="width:760px; text-align: left;">
	<div><?php echo $this->content?></div>
    </div>

    <table cellpadding="3" cellspacing="5" border="0" style="width:760px;" align="center">
	<tr>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	</tr>
	<tr>
	    <td colspan="2"  align="left"><img src="images/<?php if($this->phone_consultation=='1'){ echo "check02.jpg"; }else{ echo "check01.jpg";}?>" /> Ich bitte um telefonische Rücksprache</td>
	    <td colspan="2"  align="left"><img src="images/<?php if($this->referral=='1'){ echo "check02.jpg"; }else{ echo "check01.jpg";}?>" /> Ich bitte um Zusendung einer Überweisung</td>
	</tr>
	<tr>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	</tr>
	<tr>
	    <td colspan="4"  align="left">Mit freundlichen Grüßen</td>
	</tr>
	<tr>
	    <td colspan="4"  align="left">&nbsp;<br />&nbsp;</td>
	</tr>
	<tr>
	    <td colspan="2" style="width:370px; text-align: left;">_________________________________________</td>
	    <td colspan="2" style="width:370px; text-align: left;">_________________________________________</td>
	</tr>
	<tr>
	    <td colspan="2" style="width:370px; font-size: small; text-align: left;">Palliativmediziner/in</td>
	    <td colspan="2" style="width:370px; font-size: small; text-align: left;">Pflegefachkraft / Koordinatorin </td>
	</tr>
    </table>
</div>

