<div id="fetchlist_four" class="grid">
<h1><? echo $this->translate('patientlist')?></h1>
<table class="datatable" cellpadding="0" cellspacing="0" border="0" >
<tr>
	<th class="sort<? echo $this->edorder ?>">
		<a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/fetchhospizlist?clm=ed&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})">
			<? echo $this->translate('nr') ?>
		</a>
	</th>
	<th class="sort<? echo $this->edorder ?>">
		<a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/fetchhospizlist?clm=ed&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})">
			<? echo $this->translate('ePid') ?>
		</a>
	</th>
	<th class="sort<? echo $this->lnorder ?>">
		<a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/fetchhospizlist?clm=ln&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})">
			<? echo $this->translate('lastname').", "; echo $this->translate('firstname'); ?>
		</a>
	</th>
	<th class="sort<? echo $this->bdorder ?>">
		<a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/fetchhospizlist?clm=bd&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})">
			<? echo $this->translate('birthd') ?>
		</a>
	</th>
    <th class="sort<? echo $this->loorder ?>">

			<? echo $this->translate('location') ?>

	</th>
	<th class="sort<? echo $this->phorder ?>">
		<a href="javascript:void(0);" onClick="ajaxCallserver({url:'patient/fetchhospizlist?clm=rd&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})">
			<? echo $this->translate('admissiondate') ?>
		</a>
	</th>
</tr>

<? echo $this->patientgrid ?>

<tr>
	<td colspan="6" valign="top">
		<? echo $this->navigation ?>
	</td>
</tr>
</table>
</div>
 