<script type="text/javascript">
	$(document).ready(function(){
		$(".confirm_button").click( function() {
			var am = $(this).attr('rel').split('-');
			$.confirmdeleteid  =am[1];
			$.patid  =am[2];
			jConfirm('<? echo $this->translate('confirmdeleterecord'); ?>', '<? echo $this->translate('confirmdeletetitle'); ?>', function(r) {
				if(r)
				{
					location.href = "<? echo APP_BASE ?>patient/deletehospizvbulk?vizitid="+ $.confirmdeleteid+"&pid="+ $.patid;
				}
			});
		});

	});

</script>
<form action="<? echo $this->act ?>" method="post" name="frmuser" id="frmuser" autocomplete="off" >
	<div style="display: none;">
		<img id="calImg" src="<? echo RES_FILE_PATH; ?>/images/calendar.png" alt="Popup" class="trigger">
	</div>
	<? echo $this->patientinfo ?>
	<? echo $this->tabmenus ?>
	<div id="family_dr_edit" class="tab_container">
		<div class="err"><? echo $this->error_message ?></div>
		<br />
		<div id="familydoctorlist_translateDiv" class="add">
			<ul id="FamDrli_ul">
				<li id="FamDrli_ul_li"><a href="patient/addbulkhospizv?id=<? echo $this->pid ?>"><? echo $this->translate('addvoluntaryvizit') ?> &raquo; </a></li>
			</ul></div>
		<table class="datatable" >
			<? if (!empty($this->hospizvgrid)) : ?>
				<? echo $this->hospizvgrid; ?>
			<? else : ?>
				<tr> <td colspan="5"><? echo $this->translate('nohospizv'); ?></td></tr>
			<? endif; ?>
		</table>
	</div>
</form>