<script type="text/javascript">
function checkedall(allid)
  {
  
  	checkbox = document.getElementsByName('bid[]');
	
	if(allid.checked==true)
	{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = true; 
		}
	}else{
		for(i=0; i<checkbox.length;i++)
		{
			checkbox[i].checked = false; 
		}
	}
  }
</script>
<form enctype="multipart/form-data"  action="<? echo $this->act ?>" method="post" name="frmuser" id="frmuser" autocomplete="off" >
	<div style="display: none;">
		<img id="calImg" src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger">
	</div>
	<? echo $this->patientinfo ?>
	<? echo $this->tabmenus ?>
	
	<div class="tab_container">
		<div id="TableContentOuter">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td width="23" align="left"  valign="top"><h1><? echo $this->translate('listbedarfsmedication');?></h1></td>
			  </tr>
			
			  <tr>
			    <td align="left" valign="top"><? echo $this->bedarfsmedications ?></td>
			  </tr>
			  <tr>
			    <td width="23" align="left" valign="top">&nbsp;</td>
			  </tr>
			  <tr>
			   <td width="913" align="left" valign="top"><input name="btnsubmut" type="submit" class="button" value="<? echo $this->translate('edit'); ?>" /></td>
			  </tr>
			 
			</table>
		</div>
	</div>
</form>