<script type="text/javascript">
	var jscount = 0;
	var jsmedcount = "0";
	var medcount = '<? echo $this->mcntr + 1 ?>';
	var jsusers = <? echo $this->jsusers ?>;
	var medblur = Array();
	var isdischarged = '<? echo $this->isdischarged ?>';

	$(document).ready(function(){
		$('.livesearchmedinp').live('change', function() {
			var input_row = parseInt($(this).attr('id').substr(('medication').length));
			reset_medications(input_row);
		}).liveSearch({
			url: 'ajax/medicationstreatmentcare?q=',
			id: 'livesearch_admission_medications',
			aditionalWidth: '300',
			noResultsDelay: '900',
			typeDelay: '900',
			returnRowId: function (input) {return parseInt($(input).attr('id').substr(('medication').length));}
		});


	});

	function reset_medications(input_row)
	{
		if($('#hidd_medication'+input_row).val()){
			$('#hidd_medication'+input_row).val('');
			$('#drid'+input_row).val('');
		}
	}

	function selectMedications(mid, row)
	{
		$('#medication'+row).val($('#medi_me_'+mid).val());
		$('#hidd_medication'+row).val($('#medi_id_'+mid).val());

	}
	function removeElem(ids)
	{
		$(ids).remove();
	}
	function createtreatmentcare()
	{
		var usrstr = "";
		for(var i in jsusers)
		{
			usrstr +='<option value="'+i+'">'+jsusers[i]+'</option>';
		}



		var userdrop = '<select name="add[verordnetvon]['+medcount+']">'+usrstr+'</select>';

		var trInnerHtml = $('<tr id="medadd'+medcount+'"><td align="left" valign="top"><input name="add[medication]['+medcount+']" value="" id="medication'+medcount+'" type="text" class="livesearchmedinp med"><input name="add[hidd_medication]['+medcount+']" value="" id="hidd_medication'+medcount+'" type="hidden"><div id="medidropdown'+medcount+'" style="position:absolute;display:none;" class="listPatMedEd livesearchdropdown"></div></td><td align="left" valign="top"><input  name="add[comments]['+medcount+']" id="comments" class="comments" value=""  /></td><td align="left" valign="top"><a href="javascript:void(0)" onclick="removeElem(\'#medadd'+medcount+'\')"><img src="images/action_delete.png" border="0" /></a></td></tr>');

		$('#medaddtable').append(trInnerHtml);


		$('#medication'+medcount).bind('keyup keydown change paste',function(){
			//livesearch medications ls
			$(this).live('change', function() {
				var input_row = parseInt($(this).attr('id').substr(('medication').length));
				reset_medications(input_row);
			}).liveSearch({
				url: 'ajax/medicationstreatmentcare?q=',
				id: 'livesearch_admission_medications',
				aditionalWidth: '300',
				noResultsDelay: '900',
				typeDelay: '900',
				returnRowId: function (input) {return parseInt($(input).attr('id').substr(('medication').length));}
			});
		});

		medcount++;
	}
</script>
	<? echo $this->patientinfo ?>
	<? echo $this->tabmenus ?>
<form action="" name="frmpatinethealth" id="frmpatinethealth" method="post" autocomplete="off" onsubmit="$('#btnsubmit').attr('disabled', true);" >

	<div class="tab_container">
		<br />
		<fieldset>
			<legend><? echo $this->translate('medicationtreatmentcare') ?></legend>
			<div id="med">
				<? echo $this->medicgrid ;?>
			</div>
			<div class="clearer"></div>
 
			<div class="clearer"></div>


			<div class="add_new_medi">
				<a href="javascript:createtreatmentcare()">
					<img src="<? echo RES_FILE_PATH;  ?>/images/edit_add.png" width="20" height="20" />
					<div class="add_new_medi_link" style="width:300px;">
						<? echo $this->translate('addnewmedicationtreatmentcare'); ?>
					</div>
				</a>
			</div>
			<br/>&nbsp;
			<br/>&nbsp;
			<div class="clearer"></div>
			<label></label>
			<input type="button" name="btnsubmit" id="btnsubmit-submit" value="<? echo $this->translate('submit')?>" class="button" onclick="checkdischargednew('frmpatinethealth')" />

		</fieldset>
	</div>
</form>
