<? $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/sapvfb4_style.css'); ?>
<script>
$(document).ready(function(){ 
	$('form').submit(function() {
		setTimeout(function () {$('input[type=submit]').attr('disabled', true);}, 150);
		setTimeout(function () {$('input[type=submit]').attr('disabled', false);}, 22000);
	});
});
</script>
	
<form id="CreTtemFurthFrm" action="" method="post">
  <div style="display: none;"> <img src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"> </div>
  <? echo $this->patientinfo ?>
  <? echo $this->tabmenus ?>
<div class="tab_container">
   
      <div id="Palliative">
        <div id="Relevantefrm_headingouter" class="Palliative_Heading">
          <div id="Relevantefrm_heading" class="Palliative_Heading_Left">ÜBERLEITUNG</div>
          <div id="Relevantefrm_subhead" class="Palliative_Heading_Right"></div>
          <div class="ClrBoth"></div>
        </div>
        <div id="Relevantefrm_header" class="Palliative_Header">
          <div id="Relevantefrm_header_content" class="Palliative_Contnet_Outer">
            <div id="Relevantefrm_content_outer" class="Palliative_Contnet_Outer">
              <div id="Relevantefrm_name" class="Recncilition"><strong>Patient:</strong> Name,
                
                Vorname</div>
              <div id="Relevantefrm_nme_content" class="Recncilition">
                <label id="Relevantefrm_txtbox_lbl">
                <input id="Relevantefrm_txtbox_inpt" type="text" name="patient_name" value="<? echo $this->patientname ?>" class="MarginZero" style="width:300px;" />
                </label>
              </div>
            </div>
            <div class="ClrBoth"></div>
            <div id="Relevantefrm_brder" class="BorderDiv"></div>
          </div>
          <div id="Relevantefrm_IdInfo" class="RecncilitionIdInfo">
            <div id="Relevantefrm_IdInfo_am">geboren am : <? echo $this->bdate ?><input type="hidden" name="birthdate" id="sapv_birthdate" value="<? echo $this->bdate ?>" /></div>
            <br />
            <div id="Relevantefrm_IdInfo_id">ID: <? echo $this->epid ?> <input type="hidden" name="epid" id="sapv_epid" value="<? echo $this->epid ?>" /></div>
          </div>
          <div class="ClrBoth"></div>
          <div id="Relevantefrm_AdrsInfo" class="Address_Info">
            <div id="Relevantefrm_AdrsInfoList" class="Address_Info_Outer_list">
              <div id="Relevantefrm_AdrsInfoOuter" class="Address_Info_Outer">
                <div id="Relevantefrm_AdrsInfo_head" class="Address_Info_left">Strasse</div>
                <div id="Relevantefrm_AdrsInfo_content" class="Address_Info_right">
                  <label id="Relevantefrm_strase_lbl">
                  <input id="Relevantefrm_strase_inpt" name="street" type="text" value="<? echo $this->street ?>" class="MarginZero" />
                  </label>
                </div>
                <div class="ClrBoth"></div>
              </div>
              <div id="Relevantefrm_AdrsInfo_Ort" class="Address_Info_Outer">
                <div id="Relevantefrm_AdrsInfo_Ort_heading" class="Address_Info_left">PLZ, Ort</div>
                <div id="Relevantefrm_AdrsInfo_Ort" class="Address_Info_right">
                  <label id="Relevantefrm_ort_lbl">
                  <input id="Relevantefrm_ort_inpt" name="zip" value="<? echo $this->zip ?>"  type="text" class="MarginZero" />
                  </label>
                </div>
                <div class="ClrBoth"></div>
              </div>
              <div id="Relevantefrm_telefon" class="Address_Info_Outer">
                <div id="Relevantefrm_telefon_head" class="Address_Info_left">Telefon</div>
                <div id="Relevantefrm_telefon_content" class="Address_Info_right">
                  <label id="Relevantefrm_telefon_lbl">
                  <input id="Relevantefrm_telefon_inpt" name="telephone" value="<? echo $this->telephone ?>" type="text" class="MarginZero" />
                  </label>
                </div>
                <div class="ClrBoth"></div>
              </div>
              <div id="Relevantefrm_Krankenkasse" class="Address_Info_Outer">
                <div id="Relevantefrm_Krankenkasse_head" class="Address_Info_left">Krankenkasse</div>
                <div id="Relevantefrm_Krankenkasse_content" class="Address_Info_right">
                  <label id="Relevantefrm_Krankenkasse_lbl">
                  <input id="Relevantefrm_Krankenkasse_inpt" name="insurance_com_name" value="<? echo $this->insurance_company_name ?>" type="text" class="MarginZero" />
                  </label>
                </div>
                <div class="ClrBoth"></div>
              </div>
            </div>
            <div id="Relevantefrm_oder" class="GrayDivider"></div>
            <div id="Relevantefrm_oder_list" class="Address_Info_Outer_list Address_Info_Outer_listMargin">
              <div id="Relevantefrm_oder_outr" class="Address_Info_Outer">
                <div id="Relevantefrm_oder_head" class="Address_Info_left">oder:</div>
                <div id="Relevantefrm_oder_content" class="Address_Info_right">
                  <label id="Relevantefrm_oder_lbl">
                  <input id="Relevantefrm_oder_inpt" name="mobile" type="text" value="<? echo $this->mobile ?>" class="MarginZero" />
                  </label>
                </div>
                <div class="ClrBoth"></div>
              </div>
              <div id="Relevantefrm_Versicherten" class="Address_Info_Outer">
                <div id="Relevantefrm_Versicherten_head" class="Address_Info_left"><strong>Versicherten-Nr.</strong></div>
                <div id="Relevantefrm_Versicherten_content" class="Address_Info_right">
                  <label id="Relevantefrm_Versicherten_lbl">
                  <input id="Relevantefrm_Versicherten_inpt" name="insurance_no" type="text" value="<? echo $this->insurance_no ?>" class="MarginZero" />
                  </label>
                </div>
                <div class="ClrBoth"></div>
              </div>
            </div>
            <div class="ClrBoth"></div>
            <div class="ClrBoth"></div>
          </div>
        </div>
        <div id="CheckboxGridsNew">
          <div id="Relevantefrm_Antrag" class="RelevanteListOuter">
            <div id="Relevantefrm_Antrag_head" class="paddingforlbl widfor_label RelevanteList_left"><strong>wird auf Antrag von</strong></div>
            <div id="Relevantefrm_Antrag_content" class="RelevanteList_left">
              <label id="Relevantefrm_Antrag_lbl">
              <input id="Relevantefrm_Antrag_inpt" name="wird_auf_antrag_von" type="text" value="<? echo $this->refarray ?>" class="MarginZero" style="width:500px;" />
              </label>
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div id="Relevantefrm_betreut" class="RelevanteListOuter">
            <div id="Relevantefrm_betreut_head" class="RelevanteList_left"><strong>von unserem Palliativ-Care-Team / Palliativnetz betreut.</strong></div>
            <div class="ClrBoth"></div>
          </div>
          <div id="Relevantefrm_Ansprchprtnr" class="RelevanteListOuter">
            <div id="Relevantefrm_Ansprchprtnr_head" class="widfor_label RelevanteList_leftSapvf"><strong>Ansprechpartner:</strong></div>
            <div id="Relevantefrm_Ansprchprtnr_content" class="RelevanteList_left">
              <label id="Relevantefrm_Ansprchprtnr_lbl">
              <input id="Relevantefrm_Ansprchprtnr_inpt" name="ansprechpartner" type="text" class="MarginZero" style="width:250px;" />
              </label>
            </div>
            <div id="Relevantefrm_Tel" class="RelevanteList_leftSapvf"><strong>Tel.:</strong></div>
            <div id="Relevantefrm_Tel_content" class="RelevanteList_left">
              <label id="Relevantefrm_Tel_lbl">
              <input id="Relevantefrm_Tel_inpt" name="tel" type="text" class="MarginZero" style="width:205px;" />
              </label>
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div id="Relevantefrm_geplante" class="RelevanteListOuter">
            <div id="Relevantefrm_geplante_head" class="widfor_label RelevanteList_leftSapvf"><strong>geplante Klinikaufnahme:</strong></div>
            <div id="Relevantefrm_geplante_content" class="RelevanteList_left">
              <label id="Relevantefrm_geplante_lbl">
              <input id="Relevantefrm_geplante_inpt" name="geplante_klinikaufnahme" type="text" class="MarginZero" style="width:207px;" />
              </label>
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div id="Relevantefrm_geplanteOne" class="RelevanteListOuter">
            <div id="Relevantefrm_geplanteOne_head" class="widfor_label RelevanteList_leftSapvf"><strong>geplante Klinikentlassung:</strong></div>
            <div id="Relevantefrm_geplanteOne_content" class="RelevanteList_left">
              <label id="Relevantefrm_geplanteOne_lbl">
              <input id="Relevantefrm_geplanteOne_inpt" name="geplante_klinikentlassung" type="text" class="MarginZero" style="width:202px;" />
              </label>
            </div>
            <div class="ClrBoth"></div>
          </div>
        </div>
        <div id="CheckboxGridsNew">
          <div id="Relevantefrm_Pflegestufe" class="RelevanteListOuter">
            <div id="Relevantefrm_Pflegestufe_head" class="RelevanteList_left_new_RightSapvf"><strong>Pflegestufe</strong></div>
            <div id="Relevantefrm_Pflegestufe_list" class="RelevanteList_left_Widht">
              <div id="_outer" class="RelevanteSubList">
                <div class="RelevanteList_left">
                  <div id="Relevantefrm_Pflegestufe_heading" class="CheckboxGrids_heading">
                    <div id="Relevantefrm_Pflegestufe1" class="sapvfb4Radio CheckboxGrids_heading_Sapvf"><input name="pflegestufe" type="radio" <? echo $this->stage1 ?> value="1" /><label id="sapvfb4_pfle1inpLbl">1</label></div>
                    <div id="Relevantefrm_Pflegestufe2" class="sapvfb4Radio CheckboxGrids_heading_Sapvf"><input name="pflegestufe" type="radio" <? echo $this->stage2 ?> value="2" /><label id="sapvfb4_pfle2inplbl">2</label></div>
                    <div id="Relevantefrm_Pflegestufe3" class="sapvfb4Radio CheckboxGrids_heading_Sapvf"><input name="pflegestufe" type="radio" <? echo $this->stage3 ?> value="3" /><label class="sapvfb4_pfle3inpLbl">3</label></div>
                    <div id="Relevantefrm_beantragt" class="CheckboxGrids_head_Sapvf"><strong>beantragt</strong></div>
                    <div id="Relevantefrm_beantragt_head" class="CheckboxGrids_heading_left">
                      <label id="Relevantefrm_ja_lbl">
                      <input id="Relevantefrm_ja_inpt" type="radio" name="beantragt_ja" value="1" class="MarginZero" />
                      </label>
                    </div>
                    <div id="Relevantefrm_ja" class="CheckboxGrids_heading_left">ja</div>
                    <div class="ClrBoth"></div>
                  </div>
                </div>
                <div id="Relevantefrm_nein" class="RelevanteList_left">
                  <div id="Relevantefrm_nein_head" class="CheckboxGrids_heading">
                    <div id="Relevantefrm_nein_content" class="CheckboxGrids_heading_left">
                      <label id="Relevantefrm_nein_lbl">
                      <input id="Relevantefrm_nein_inpg" type="radio" name="beantragt_nein" value="1" class="MarginZero" />
                      </label>
                    </div>
                    <div id="Relevantefrm_nein_heading" class="CheckboxGrids_heading_left">nein</div>
                    <div class="ClrBoth"></div>
                  </div>
                </div>
                <div class="ClrBoth"></div>
              </div>
              <div class="ClrBoth"></div>
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div id="Relevantefrm_gdb" class="RelevanteListOuter">
            <div id="Relevantefrm_gdb_head" class="sapvfb4_txtbxlbl RelevanteList_left_new_RightSapvf"><strong>MdE/GdB</strong></div>
            <div id="Relevantefrm_gdb_outer" class="RelevanteList_left_Widht">
              <div id="Relevantefrm_gdb_list" class="RelevanteSubList">
                <div id="Relevantefrm_gdb_list_left" class="RelevanteList_left">
                  <div id="Relevantefrm_Antrg" class="CheckboxGrids_heading">
                    <div id="Relevantefrm_subAntrg" class="CheckboxGrids_head_SapvfOne"><input type="text" name="mde_gdb" id="MdE_GdB" size="3" class="sapvfb4_txtbx"/><strong>%</strong></div>
                    <div id="Relevantefrm_Antrg_heading" class="CheckboxGrids_head_Sapvf"><strong>Antrag</strong></div>
                    <div class="CheckboxGrids_heading_left">
                      <label id="Relevantefrm_Antrg_ja_lbl">
                      <input id="Relevantefrm_Antrg_ja_inpt" type="radio" name="antrag_ja" value="1" class="MarginZero" />
                      </label>
                    </div>
                    <div id="Relevantefrm_Antrg_ja" class="CheckboxGrids_heading_left">ja</div>
                    <div class="ClrBoth"></div>
                  </div>
                </div>
                <div id="Relevantefrm_AntrgOne" class="RelevanteList_left">
                  <div id="Relevantefrm_AntrgOne_head" class="CheckboxGrids_heading">
                    <div id="Relevantefrm_AntrgOne_content" class="CheckboxGrids_heading_left">
                      <label id="Relevantefrm_AntrgOne_nein_lbl">
                      <input id="Relevantefrm_AntrgOne_nein_inpt" type="radio" name="antrag_nein" value="1" class="MarginZero" />
                      </label>
                    </div>
                    <div id="Relevantefrm_AntrgOne_nein_head" class="CheckboxGrids_heading_left">nein</div>
                    <div class="ClrBoth"></div>
                  </div>
                </div>
                <div id="Relevantefrm_AntrgOne_am" class="RelevanteList_left">
                  <div id="Relevantefrm_AntrgOne_am_head" class="CheckboxGrids_heading">
                    <div id="Relevantefrm_AntrgOne_blank" class="CheckboxGrids_heading_Sapvf"></div>
                    <div id="Relevantefrm_AntrgOne_am_head" class="CheckboxGrids_heading_left">am:</div>
                    <div class="CheckboxGrids_head_SapvfTwo">
                      <label id="Relevantefrm_AntrgOne_am_lbl">
                      <input id="Relevantefrm_AntrgOne_am_inpt" name="am" type="text" class="sapvfb4_txtbx MarginZero" style="width:135px;" />
                      </label>
                    </div>
                    <div class="ClrBoth"></div>
                  </div>
                </div>
                <div class="ClrBoth"></div>
              </div>
              <div class="ClrBoth"></div>
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div id="Relevantefrm_Hilfsmittel" class="Hilfsmittel">
            <div id="Relevantefrm_Hilfsmittel_outer" class="HilfsmittelOuter">
              <div id="Relevantefrm_Hilfsmittel_head" class="HilfsmittelListOne"><strong>Hilfsmittel</strong></div>
              <div id="Relevantefrm_Hilfsmittel_ja" class="HilfsmittelListTwo"><strong>ja</strong></div>
              <div id="Relevantefrm_Hilfsmittel_nein" class="HilfsmittelListTwo"><strong>nein</strong></div>
              <div id="Relevantefrm_Hilfsmittel_noch" class="HilfsmittelListThree"><strong>noch erforderlich</strong></div>
              <div class="ClrBoth"></div>
            </div>
            <div id="Relevantefrm_Pflgebt" class="HilfsmittelOuter">
              <div id="Relevantefrm_Pflgebt_head" class="HilfsmittelListOne">Pflegebett</div>
              <div id="Relevantefrm_Pflgebt_content" class="HilfsmittelListTwo">
                <input id="Relevantefrm_jaChkOne" name="pflegebett_ja" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_newChkDiv" class="HilfsmittelListTwo">
                <input id="Relevantefrm_Pflgebt_chkone" name="pflegebett_nein" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_HlfsmtelchkboxDivOne" class="HilfsmittelListThree">
                <input id="Relevantefrm_noch_chkone" name="pflegebett_noch_erforderlich" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div class="ClrBoth"></div>
            </div>
            <div id="Relevantefrm_Rollator_Outer" class="HilfsmittelOuter">
              <div id="Relevantefrm_Rollator_head" class="HilfsmittelListOne">Rollator</div>
              <div id="Relevantefrm_Rollator_content" class="HilfsmittelListTwo">
                <input id="Relevantefrm_jaChkOne" name="rollator_ja" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_newChkDiv" class="HilfsmittelListTwo">
                <input name="rollator_nein" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_HlfsmtelchkboxDivTwo" class="HilfsmittelListThree">
                <input id="Relevantefrm_noch_chkone" name="rollator_noch_erforderlich" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div class="ClrBoth"></div>
            </div>
            <div id="Relevantefrm_Rollstuhl_Outer" class="HilfsmittelOuter">
              <div id="Relevantefrm_Rollstuhl_head" class="HilfsmittelListOne">Rollstuhl</div>
              <div id="Relevantefrm_Rollstuhl_content" class="HilfsmittelListTwo">
                <input id="Relevantefrm_jaChkOne" name="rollstuhl_ja" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_newChkDiv" class="HilfsmittelListTwo">
                <input name="rollstuhl_nein" id="rollstuhl_neinChkOne" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_HlfsmtelchkboxDivThree" class="HilfsmittelListThree">
                <input id="Relevantefrm_noch_chkone" name="rollstuhl_noch_erforderlich" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div class="ClrBoth"></div>
            </div>
            <div id="Relevantefrm_Nachtstuhl" class="HilfsmittelOuter">
              <div id="Relevantefrm_Nachtstuhl_head" class="HilfsmittelListOne">Nachtstuhl</div>
              <div id="Relevantefrm_Nachtstuhl_content" class="HilfsmittelListTwo">
                <input id="Relevantefrm_jaChkOne" name="nachtstuhl_ja" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_newChkDiv" class="HilfsmittelListTwo">
                <input name="nachtstuhl_nein" id="Relevantefrm_nachtstuhl_nein" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_HlfsmtelchkboxDivFour" class="HilfsmittelListThree">
                <input id="Relevantefrm_noch_chkone" name="nachtstuhl_noch_erforderlich" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div class="ClrBoth"></div>
            </div>
            <div id="Relevantefrm_o2" class="HilfsmittelOuter">
              <div id="Relevantefrm_head" class="HilfsmittelListOne">O2</div>
              <div id="Relevantefrm_content" class="HilfsmittelListTwo">
                <input id="Relevantefrm_jaChktwo" name="zerotwo_ja" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div  id="Relevantefrm_newChkDiv" class="HilfsmittelListTwo">
                <input name="zerotwo_nein" id="Relevantefrm_zerotwo_ja" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_HlfsmtelchkboxDivFive" class="HilfsmittelListThree">
                <input id="Relevantefrm_noch_chkthree" name="zerotwo_noch_erforderlich" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div class="ClrBoth"></div>
            </div>
            <div id="Relevantefrm_Radern" class="HilfsmittelOuter">
              <div id="Relevantefrm_Radern_content" class="HilfsmittelListOne">
                <label id="Relevantefrm_Radern_lbl">
                <input id="Relevantefrm_Radern_inpt" name="valuebox" type="text" class="MarginZero" style="width:100px;" />
                </label>
              </div>
              <div id="Relevantefrm_RadernOne" class="HilfsmittelListTwo">
                <input id="Relevantefrm_jaChkOne" name="valuebox_ja" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_newChkDiv" class="HilfsmittelListTwo">
                <input name="valuebox_nein" id="Relevantefrm_valuebox_nein" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_HlfsmtelchkboxDivSix" class="HilfsmittelListThree">
                <input id="Relevantefrm_noch_chkfour" name="valuebox_noch_erforderlich" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div class="ClrBoth"></div>
            </div>
            <div id="Relevantefrm_Essen" class="HilfsmittelOuter">
              <div id="Relevantefrm_Essen_head" class="HilfsmittelListOne">Essen auf Rädern</div>
              <div id="Relevantefrm_Essen_content" class="HilfsmittelListTwo">
                <input id="Relevantefrm_jaChkOne" name="essen_auf_ja" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_newChkDiv" class="HilfsmittelListTwo">
                <input name="essen_auf_nein" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_HlfsmtelchkboxDivSevn" class="HilfsmittelListTwo">
                <input id="Relevantefrm_noch_chksix" name="essen_auf_noch_erforderlich" type="checkbox" value="1" class="MarginZero" />
              </div>
              <div id="Relevantefrm_durch_head" class="sapvfb4_txtbxlbl HilfsmittelListFour">durch:</div>
              <div id="Relevantefrm_durch_content" class="HilfsmittelListFour">
                <label id="Relevantefrm_durch_lbl">
                <input id="Relevantefrm_durch_inpt" name="durch" type="text" class="MarginZero" style="width:210px;" />
                </label>
              </div>
              <div class="ClrBoth"></div>
            </div>
          </div>
        </div>
        <div id="CheckboxGridsNew">
          <div id="Relevantefrm_vereinbarte" class="RelevanteListOuter">
            <div id="Relevantefrm_vereinbarte_head"class="paddingforlbl RelevanteList_left_Sapvf sapvfb4_txtbxlbl"><strong>vereinbarte Weiterversorgung durch:</strong></div>
            <div id="Relevantefrm_vereinbarte_content" class="RelevanteList_left">
              <label id="Relevantefrm_vereinbarte_lbl">
              <input id="Relevantefrm_vereinbarte_inpt" name="vereinbarte_weiterversorgung_durch" type="text" class="MarginZero" style="width:250px;" />
              </label>
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div id="Relevantefrm_weitere" class="RelevanteListOuter">
            <div id="Relevantefrm_weitere_head" class="RelevanteList_left_Sapvf"><strong>vereinbarte weitere Unterbringung:
              zuhause</strong></div>
            <div id="Relevantefrm_weitere_content" class="RelevanteList_left">
              <input id="Relevantefrm_weitere_inpt" name="vereinbarte_weitere_unterbringung" type="checkbox" value="1" class="MarginZero" />
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div id="Relevantefrm_Zirndorf" class="RelevanteListOuter">
            <div id="Relevantefrm_Zirndorf_head" class="RelevanteList_left_Sapvf"><strong>Hospizappartements Zirndorf</strong></div>
            <div id="Relevantefrm_Zirndorf_content" class="RelevanteList_left">
              <input id="Relevantefrm_Zirndorf_inpt" name="hospizappartements_zirndorf" type="checkbox" value="1" class="MarginZero" />
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div id="Relevantefrm_ZirndorfOne" class="RelevanteListOuter">
            <div id="Relevantefrm_ZirndorfOne_head" class="RelevanteList_left_Sapvf"><strong>Hospiz</strong></div>
            <div id="Relevantefrm_ZirndorfOne_content" class="RelevanteList_left">
              <div id="Relevantefrm_ZirndorfOneOuter" class="RelevanteList_left">
                <input id="Relevantefrm_ZirndorfOne_inpt" name="hospiz" type="checkbox" value="1" class="MarginZero" />
              </div>
            </div>
            <div class="ClrBoth"></div>
          </div>
          <div id="Relevantefrm_Pflegeheim" class="RelevanteListOuter">
            <div id="Relevantefrm_Pflegeheim_head" class="RelevanteList_left_Sapvf"><strong>Pflegeheim</strong></div>
            <div id="Relevantefrm_Pflegeheim_content" class="RelevanteList_left">
              <input id="Relevantefrm_Pflegeheim_inpt" name="pflegeheim_chk" type="checkbox" value="1" class="MarginZero" />
            </div>
            <div id="Relevantefrm_PflegeheimOuter" class="RelevanteList_left">
              <label id="Relevantefrm_PflegeheimTwo_lbl" style="margin-top:0px;">
              <input id="Relevantefrm_PflegeheimTwo_inpt" name="pflegeheim_text" type="text" class="Pflegeheimtext MarginZero" style="width:380px;" />
              </label>
            </div>
            <div class="ClrBoth"></div>
          </div>
        </div>
        <div id="Relevantefrm_Datum" class="Relevante">
          <div id="Relevantefrm_Datum_content" class="Relevantetextbox">
            
          </div>
          <div id="Relevantefrm_Datum_head" class="Relevantetext"><strong>Datum, Unterschrift: </strong> <? echo date('d.m.Y') ?>&nbsp;&nbsp;<? echo $this->lastname1 ?>&nbsp;<? echo $this->firstname1 ?>&nbsp;&nbsp;</div>
          
        </div>
        <div id="CheckboxGridsCenter"><input type="submit" name="btnsubmit" id="btnsubmit" value="<? echo $this->translate('generatepdf')?>" /></div>
      </div>
   
  </div>
  </form>