<?php $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/shwrapper.css'); ?>
<?php echo $this->patientinfo; ?>
<?php echo $this->tabmenus; ?>
<div class="clearer"></div>
<?php if($this->emergency_nr): ?>
<form name="shwrapper" method="POST" name="shwrapper" id="shwrapper">
	<?php foreach($this->emergency_nr as $k_nr => $v_nr): ?>
	<table class="wrapper_table">
		<tr>
			<td class="wrapper_cell_name"><?php echo $this->patient_only_name; ?></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="wrapper_cell_message">Im Notfall und für medizinische und palliativpflegerische Fragen wählen sie </td>
		</tr>
		
		<tr>
			<td class="wrapper_cell_phone"><?php echo $v_nr; ?></td>
		</tr>
		
		<tr>
			<td class="wrapper_cell_message">&nbsp;<br />&nbsp;</td>
		</tr>

		<tr>
			<td class="wrapper_cell_name">&nbsp;</td>
		</tr>
	</table>
	<br />
	<br />
	<?php endforeach; ?>
	<input type="submit" name="generatepdf" value="<?php echo $this->translate('generatepdf'); ?>" />
</form>
<?php else: ?>
<table>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><?php echo $this->translate('no_emergency_phones_filled'); ?></td>
	</tr>
</table>
<?php endif; ?>
