<script type="text/javascript">
	$(document).ready(function(){

		//specialists ls
		$('#practice_name').live('change', function() {
			$('#hidd_specialist_id').val('');
		}).liveSearch({
			url: 'ajax/specialists?q=',
			id: 'livesearch_stammdaten_specialists',
			aditionalWidth: '220',
			noResultsDelay: '900',
			typeDelay: '900',
			typeValue: function (input) {return $('#medical_speciality').val();}
		});


	});

	function selectSpecialist(sp_id)
	{
		$('#practice_name').val($('#sp_pr_' + sp_id).val());
		$('#first_name').val($('#sp_fn_' + sp_id).val());
		$('#last_name').val($('#sp_ln_' + sp_id).val());

		$('#title').val($('#sp_ti_' + sp_id).val());
		$('#salutation').val($('#sp_sal_' + sp_id).val());
		$('#title_letter').val($('#sp_til_' + sp_id).val());

		$('#old_specialist_first_name').val($('#sp_fn_' + sp_id).val());
		$('#old_specialist_last_name').val($('#sp_ln_' + sp_id).val());

		$('#street1').val($('#sp_st_' + sp_id).val());
		$('#street2').val($('#sp_st2_' + sp_id).val());
		$('#zip').val($('#sp_zip_' + sp_id).val());
		$('#city').val($('#sp_ci_' + sp_id).val());
		$('#phone_practice').val($('#sp_phpra_' + sp_id).val());
		$('#phone_private').val($('#sp_phpri_' + sp_id).val());
		$('#phone_cell').val($('#sp_cel_' + sp_id).val());
		$('#fax').val($('#sp_fax_' + sp_id).val());
		$('#doctornumber').val($('#sp_drnr_' + sp_id).val());

		$('#salutation_letter').val($('#sp_sall_' + sp_id).val());
		$('#doctornumber').val($('#sp_drnr_' + sp_id).val());
		$('#kv_no').val($('#sp_kvnr_' + sp_id).val());
		$('#email').val($('#sp_email_' + sp_id).val());

		$('#valid_from').val($('#sp_vfr_' + sp_id).val());
		$('#valid_till').val($('#sp_vtl_' + sp_id).val());
		$('#comment').val($('#sp_com_' + sp_id).val());


		$('#hidd_specialist_id').val($('#sp_id_' + sp_id).val());

	}
</script>
<?php echo $this->patientinfo ?>
<?php echo $this->tabmenus ?>

<form action="" method="post" name="frmspecialists" id="frmspecialists" autocomplete="off" >
	<div id="pat_supplies_add" class="tab_container">
		<br />
		<fieldset>
			<?php if($_REQUEST['sp_id']):  ?>
				<legend><?php echo $this->translate('editspecialist'); ?></legend>
			<?php else:  ?>
				<legend><?php echo $this->translate('addspecialist'); ?></legend>
			<?php endif;  ?>

			<div id="specialist_details"  style="display: block;">

				<label><?php echo $this->translate('specialist_type'); ?></label>
				<?php echo $this->formSelect('medical_speciality', $this->medical_speciality, null, $this->specialists_types); ?>
				<div class="clearer"></div>

				<label><?php echo $this->translate('practice') ?></label>
				<input type="text" name="practice" id="practice_name" value="<?php echo $this->practice; ?>"  class="practice left">
				<input type="hidden" name="hidd_specialist_id" id="hidd_specialist_id" value="<?php echo $this->id; ?>"  />
				<div class="error_specialist"><?php echo $this->error_practice; ?></div>
				<div class="clearer"></div>

				<label><?php echo $this->translate('title') ?></label>
				<input type="text" name="title"  id="title" value="<?php echo $this->title; ?>"  />
				<div class="clearer"></div>

				<label><?php echo $this->translate('lastname') ?></label>
				<input type="text" name="last_name"  id="last_name" value="<?php echo $this->last_name; ?>"  />
				<input type="hidden" name="old_specialist_first_name" id="old_specialist_first_name" value="<?php echo $this->first_name; ?>">
				<input type="hidden" name="old_specialist_last_name" id="old_specialist_last_name" value="<?php echo $this->last_name; ?>" >
				<div class="clearer"></div>

				<label><?php echo $this->translate('firstname') ?></label>
				<input type="text" name="first_name"  id="first_name" value="<?php echo $this->first_name; ?>"  />
				<div class="clearer"></div>

				<input type="hidden" name="street2"  id="street2" value="<?php echo $this->street2; ?>"  />
				<!--<input type="hidden" name="salutation"  id="salutation" value="<?php echo $this->salutation; ?>"  />-->
				<input type="hidden" name="title_letter"  id="title_letter" value="<?php echo $this->title_letter; ?>"  />
				<input type="hidden" name="salutation_letter"  id="salutation_letter" value="<?php echo $this->salutation_letter; ?>"  />
				<!-- <input type="hidden" name="email"  id="email" value="<?php echo $this->email; ?>"  /> -->
				<input type="hidden" name="kv_no"  id="kv_no" value="<?php echo $this->kv_no; ?>"  />
				<input type="hidden" name="valid_from"  id="valid_from" value="<?php echo $this->valid_from; ?>"  />
				<input type="hidden" name="valid_till"  id="valid_till" value="<?php echo $this->valid_till; ?>"  />


				<label><?php echo $this->translate('salutation'); ?></label>
				<input type="text" name="salutation"  id="salutation" value="<?php echo $this->salutation; ?>"  />
				<div class="clearer"></div>
				
				<label><?php echo $this->translate('address') ?></label>
				<input type="text" name="street1"  id="street1" value="<?php echo $this->street1; ?>"  />
				<div class="clearer"></div>

				<label><?php echo $this->translate('zip') ?></label>
				<input type="text" name="zip"  id="zip" value="<?php echo $this->zip; ?>"    />
				<div class="clearer"></div>

				<label><?php echo $this->translate('city') ?></label>
				<input type="text" name="city"  id="city" value="<?php echo $this->city; ?>"   />
				<div class="clearer"></div>

				<label><?php echo $this->translate('phone1') ?></label>
				<input type="text" name="phone_practice"  id="phone_practice" value="<?php echo $this->phone_practice; ?>"   />
				<div class="clearer"></div>

				<label><?php echo $this->translate('phone_private') ?></label>
				<input type="text" name="phone_private"  id="phone_private" value="<?php echo $this->phone_private; ?>"   />
				<div class="clearer"></div>

				<label><?php echo $this->translate('phone2') ?></label>
				<input type="text" name="phone_cell"  id="phone_cell" value="<?php echo $this->phone_cell; ?>"   />
				<div class="clearer"></div>

				<label><?php echo $this->translate('fax') ?></label>
				<input type="text" name="fax"  id="fax" value="<?php echo $this->fax; ?>" >
				<div class="clearer"></div>
								
				<label><?php echo $this->translate('email') ?></label>
				<input type="text" name="email"  id="email" value="<?php echo $this->email; ?>" >
				<div class="clearer"></div>
				<br />
				
				<label><?php echo $this->translate('doctornumber') ?></label>
				<input type="text" name="doctornumber"  id="doctornumber" value="<?php echo $this->doctornumber; ?>" >
				<div class="clearer"></div>
				<br />
			</div>
			<label><?php echo $this->translate('comment') ?></label>
			<textarea name="specialist_comment" id="comment" cols="40" rows="7"><?php echo $this->comment; ?></textarea>
			<div class="clearer"></div>

			<input type="submit" name="btnsubmit" id="btnsubmit" value="<?php echo $this->translate('submit') ?>" class="button">


			<?php if (!empty($_REQUEST['sp_id'])): ?>
				<span style="float: right;  "><a href="patient/specialists?decid=<?php echo $_REQUEST['sp_id'] ?>&id=<?php echo $_REQUEST['id']; ?>"   style="line-height: 30px; text-decoration: none;"><b  style="float: right;">Entfernen Spezialist</b><img src="<?php echo RES_FILE_PATH; ?>/images/action_delete.png" border="0" /></a></span>
			<?php endif; ?>


		</fieldset>
	</div>
</form>

