

<div id="feth_list_div" class="grid">
 <table class="datatable" cellpadding="0" cellspacing="0" border="0" >
 <tr>
    <th><input name="allmsg_id[]" type="checkbox" onclick="checkedall(this)" value="" /></th>
    <th class="sort<? echo $this->unorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'user/fetchlist?clm=un&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('username') ?></a></th>
    <th class="sort<? echo $this->lnorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'user/fetchlist?clm=ut&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('title') ?></a></th>
    <th class="sort<? echo $this->lnorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'user/fetchlist?clm=ln&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('lastname') ?></a></th>
    <th class="sort<? echo $this->fnorder ?>"><a href="javascript:void(0);" onClick="ajaxCallserver({url:'user/fetchlist?clm=fn&ord=<? echo $this->order ?>&pgno=<?=$_GET['pgno'] ?>'})"><? echo $this->translate('firstname') ?></a></th>
      <th><? echo $this->translate('status') ?></th>
        <th><? echo $this->translate('usergroup') ?></th>
    <th><? echo $this->translate('userprevilege') ?></th>
  </tr>
  <? echo $this->usergrid ?>
  <tr><td colspan="8" valign="top"><input name="remove" id="remove" type="submit" class="button"  value="<? echo $this->translate('delete')?>" /></td></tr>
  <tr><td colspan="8" valign="top"><? echo $this->navigation ?></td></tr>
 
  </table>
</div>