<style>
.btable{
 	border-collapse: collapse; 
}
.btable td{
	
}
.btable tr:nth-child(even) {background: #f2f2f2}
.btable tr:nth-child(odd) {background: #FFF}

.btable table th{
	border: 1px solid #000000;
	background: #f3f3f3
}
.btable table td{
	border: 1px solid #000000;
}
.btable table table td{
	border: 1px solid #ccc;
}
</style>



<table class="btable">
	<tr>
		<th width="30%"><?php echo $this->translate('name')?></th>
		<th width="70%"><?php echo $this->translate('vacation')?></th>
	</tr>

<?php  foreach($this->uvr as $userid => $udata):?>
		<tr>
			<td><?php echo $udata['name'];?></td>
			<td>
				<table width="100%">
				<?php if(!empty($udata['vacation'])):?>
					<? foreach($udata['vacation'] as $vid=>$vdata):?>
					<tr>
						<th width="30%">
							<?php echo $vdata['period']?>
						</th>
						<td width="70%">	
							<table width="100%">
								<? foreach($vdata['rpl'] as $key=>$vrd):?>
									<tr>
									<td width="40%"><?php echo $vrd['patient'];?></td>
									<td width="60%"><?php echo $vrd['replacement_user'];?></td>
									</tr>
								<?php endforeach;?>
							
							</table>
						</td>
					</tr>
				<?php endforeach;?>
			<?php endif; ?>
			</table>
			</td>
		</tr>
			
<?php endforeach;?>


</table>