<script>
	$(document).ready(function() {
		$('#edit_period').click(function(){
			if($(this).is(':checked')){
				$('#start').removeAttr('disabled');
				$('#end').removeAttr('disabled');
			} else {
				$('#start').attr('disabled', true);
				$('#end').attr('disabled', true);
			}
		});

		$( "#start" ).datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true,
			onSelect: function(date){
				$( "#end" ).datepicker( "option", "minDate", date);
			}
		});
		$( "#end" ).datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true
		});
	});
</script>
<div style="display: none;"><img id="calImg" src="<? echo RES_FILE_PATH;  ?>/images/calendar.png" alt="Popup" class="trigger"></div>
<h1>
	<?php echo $this->translate('vacation_replacement'); ?>
</h1>
<br />
<a href="<?php echo APP_BASE.'user/vacation?u_id='.$this->userid;  ?>"><?php echo $this->translate('back_to_vacation_list');  ?></a>
<form action="" name="assign_replacements" id="assign_replacements" method="POST" >
<table border="0" width="100%" cellpadding="2" class="datatable">
	<thead>
		<tr>
			<th colspan="4">
			<table width="100%">
				<tr>
					<td colspan="2" width="45%">
						<?php echo $this->translate('username'); ?>: <b><?php echo $this->current_username; ?></b>
					</td>
					<td colspan="2">
						<?php echo $this->translate('vacation_period'); ?>:
						<span id="edit_vacation_period" >
							<input type="text" name="start" id="start" value="<?php echo $this->curent_vacation_period_start; ?>" style="width:80px;" disabled="disabled"  />
							-
							<input type="text" name="end" id="end" value="<?php echo $this->curent_vacation_period_end; ?>" style="width:80px;" disabled="disabled" />
							&nbsp;&nbsp;&nbsp;
							<span>
								<input type="checkbox" id="edit_period" name="edit_period" value="1" /><label for="edit_period"><?php echo $this->translate('edit_period');  ?></label>
							</span>
						</span>
					</td>
				</tr>
			</table>
			</th>
		</tr>
		<tr>
			<th style="width: 40px;">#</th>
			<th style="width: 100px;" ><?php echo $this->translate('epid'); ?></th>
			<th><?php echo $this->translate('patient_fullname'); ?></th>
			<th style="width: 210px;"><?php echo $this->translate('replacement'); ?></th>
		</tr>
	</thead>
	<tbody>
		<?php if ($this->user_assigned_patients): $replacements_values = $this->replacements_values; ?>
			<?php $i = 1; foreach ($this->user_assigned_patients as $k_a_pat => $v_a_pat): ?>
				<tr>
					<td><?php echo $i; ?></td>
					<td><?php echo strtoupper($v_a_pat['epid']); ?></td>
					<td><?php echo $v_a_pat['last_name'] ?><?php if (!empty($v_a_pat['first_name'])): echo ', '; endif; ?><?php echo $v_a_pat['first_name']; ?></td>
					<td>
						<?php echo $this->formSelect('replacement['.$v_a_pat['patientid'].']', $replacements_values[$v_a_pat['patientid']], array("class"=>"select_doc"), $this->user_replacements);  ?>
					</td>
				</tr>
		<?php $i++; endforeach; ?>
		<?php else: ?>
			<tr>
				<td colspan="4"><?php echo $this->translate('no_assigned_patients_found'); ?></td>
			</tr>

		<?php endif; ?>
			<tr>
				<td colspan="4" style="text-align: right;">
					<input type="submit" value="<?php echo $this->translate('assign_replacements');  ?>" id="assign_replacements" name="assign_replacements" />
				</td>
			</tr>
	</tbody>
</table>

</form>