<script type="text/javascript">
<? echo $this->closefrm ?>;

 function setchild(grp)
	{
	 parent.window.document.frmuser.diagnosis.value = grp;
	 parent.disablePopup();	
	}
	
</script>

<form action="" method="post" name="frmdiagnosis" id="frmdiagnosis">

	<fieldset id="feldset_frmdiagnosis">
		
		<legend id="legnd_frmdiagnosis">
			<? echo $this->translate('diagnosis') ?>
		</legend>
		
		<div id="adddiagnosis_errorMessage" class="err"><? echo $this->error_message ?></div>
		<br />
		
		<label for="catalogue" id="lbl_catalogue"><? echo $this->translate('catalogue') ?></label>
		<input type="text" name="catalogue" tabindex="1" id="catalogue" value="<? echo $this->catalogue ?>">
		<div id="adddiagnosis_errorcatalogue" class="error"><?php echo $this->error_catalogue ?></div>&nbsp;
		<br />
		
		<label for="main_group" id="lbl_main_group"><? echo $this->translate('maingroup') ?></label>
		<input type="text" name="main_group" tabindex="2" id="main_group" value="<? echo $this->main_group ?>">
		<div id="adddiagnosis_maingroupError" class="error"><?php echo $this->error_main_group ?></div>&nbsp;
		<br />
		  
		<label for="detailcode" id="lbl_detailcode"><? echo $this->translate('detailcode') ?></label>
		<input type="text" name="detail_code" tabindex="3" id="detail_code" value="<? echo $this->detail_code ?>">
		<div id="adddiagnosis_errorDetail" class="error"> <?php echo $this->error_detail_code ?></div>&nbsp;
		<br />
		 
		<label for="description" id="lbl_description"><? echo $this->translate('description') ?></label>
		<textarea name="description" id="description" tabindex="4" cols="35" rows="7"><?echo $this->description ?></textarea>
		<div id="adddiagnosis_errordescription" class="error"> <?php echo $this->error_description ?></div>&nbsp;
		<br />
		
		<label  for="rating" id="lbl_rating"><? echo $this->translate('rating') ?></label>
		<input type="text" name="rating" id="rating" tabindex="5" value="<? echo $this->rating ?>">
		<div id="adddiagnosis_errorrating" class="error"> <?php echo $this->error_rating ?></div>&nbsp;
		<br />
		
		<label for="terminal" id="lbl_terminal"><? echo $this->translate('terminal') ?></label>
		<? echo $this->formSelect('terminal', $_POST['terminal'], null, $this->terminals) ?>
		<div id="adddiagnosis_errorterminal" class="error"><?php echo $this->error_terminal ?></div>&nbsp;
		<br />
		
		<label for="gender" id="lbl_gender"><? echo $this->translate('gender') ?></label>
		<? echo $this->formSelect('gender', $_POST['gender'], null, $this->genders) ?>
		<div id="adddiagnosis_errorGender" class="error"><?php echo $this->error_gender ?></div>&nbsp;
		<br />
		
		<label for="lowest_age" id="lbl_lowest_age"><? echo $this->translate('lowestage') ?></label>
		<input type="text" name="lowest_age" id="lowest_age" tabindex="7" value="<? echo $this->lowest_age ?>">
		<div id="adddiagnosis_errorlowestAge" class="error"> <?php echo $this->error_lowest_age ?></div>&nbsp;
		<br />
			
		<label for="highest_age" id="lbl_highest_age"><? echo $this->translate('highestage') ?></label>
		<input type="text" name="highest_age" id="highest_age" tabindex="8" value="<? echo $this->highest_age ?>">
		<div id="adddiagnosis_errorhighestAge" class="error"><?php echo $this->error_highest_age ?></div>&nbsp;
		<br />
			
		<label for="version" id="lbl_version"><? echo $this->translate('version') ?></label>
		<input type="text" name="version" id="version" tabindex="9" value="<? echo $this->version ?>">
		<div id="adddiagnosis_errorVersion" class="error"> <?php echo $this->error_version ?></div>&nbsp;
		<br />
		
		<label for="error1" id="lbl_error1"><? echo $this->translate('error1') ?></label>
		<input type="text" name="error1" id="error1" tabindex="10" value="<? echo $this->error1 ?>">
		<div id="adddiagnosis_errorerrorone" class="error"><?php echo $this->error_error1 ?></div>&nbsp;
		<br />
		
		<label for="error2" id="lbl_error2"><? echo $this->translate('error2') ?></label>
		<input type="text" name="error2" id="error2" tabindex="11" value="<? echo $this->error2 ?>">
		<div adddiagnosis_errortwo class="error"><?php echo $this->error_error2 ?></div>&nbsp;
		<br />
		
		<label></label>
		<input type="submit" name="btnsubmit" id="btnsubmit" tabindex="12" class="button" value="<? echo $this->translate('submit') ?>" >
	   
	</fieldset>
</form>