<script type="text/javascript">
	function getSelected(dbvalue, fieldname)
	{
		//var jsaszites = <?php echo $this->aszitesjs ?>;

		var fieldarray = document.getElementsByName(fieldname);
		for (i = 0; i < fieldarray.length; i++)
		{
			if (fieldarray[i].value == dbvalue)
			{
				fieldarray[i].checked = true;
			}
		}
	}
	$(document).ready(function() {
		$('#box_all').bind('click', function() {
			$('input[name="boxid[]"]').attr('checked', $(this).is(':checked'));
		})
	});
</script>
<form action="" method="post" name="frmboxover" id="frmboxover">
	<h1>List OverviewBox </h1>
	<table width="100%" border="0" class="datatable" cellspacing="0" cellpadding="0">

		<tr align="left">
			<th width="7%"><?php echo $this->translate('ID'); ?></th>
			<th width="60%"><?php echo $this->translate('boxname'); ?></th>
			<th width="33%"><?php echo $this->translate('select'); ?><input type="checkbox" name="" id="box_all" value=""></th>
		</tr>

		<tr>
			<td>1</td>
			<td>Letzten 10 Kontakte</td>
			<td><input type="checkbox" name="boxid[]" id="box_one" value="1"></td>
		</tr>
		<tr>
			<td>2</td>
			<td>Letzte 5 Aufnahmen</td>
			<td><input type="checkbox" name="boxid[]" id="box_two" value="2"></td>
		</tr>

		<tr>
			<td>3</td>
			<td>Latest News & Events</td>
			<td><input type="checkbox" name="boxid[]" id="box_three" value="3"></td>
		</tr>
		<tr>
			<td>4</td>
			<td>Bereitschaft <?php echo date("W", time()); ?> KW</td>
			<td><input type="checkbox" name="boxid[]" id="box_four" value="4"></td>
		</tr>
		<tr>
			<td>5</td>
			<td>Allgemeiner Support &amp; Kontakt</td>
			<td><input type="checkbox" name="boxid[]" id="box_five" value="5"></td>
		</tr>
		<tr>
			<td>6</td>
			<td>Verordnungen</td>
			<td><input type="checkbox" name="boxid[]" id="box_six" value="6"></td>
		</tr>
		<tr>
			<td>7</td>
			<td><?php echo $this->translate('admissionsofthelast7days'); ?></td>
			<td><input type="checkbox" name="boxid[]" id="box_seven" value="7"></td>
		</tr>
		<tr>
			<td>8</td>
			<td><?php echo $this->translate('Statistik'); ?></td>
			<td><input type="checkbox" name="boxid[]" id="box_eight" value="8"></td>
		</tr>
		<tr>
			<td>9</td>
			<td><?php echo $this->translate('Krise'); ?></td>
			<td><input type="checkbox" name="boxid[]" id="box_nine" value="9"></td>
		</tr>
		<tr>
			<td>10</td>
			<td><?php echo $this->translate('Standorte'); ?></td>
			<td><input type="checkbox" name="boxid[]" id="box_ten" value="10"></td>
		</tr>
		<tr>
			<td>11</td>
			<td><?php echo $this->translate('Todos'); ?></td>
			<td><input type="checkbox" name="boxid[]" id="box_eleven" value="11"></td>
		</tr>
		<tr>
			<td>12</td>
			<td><?php echo $this->translate('Vollversorgung'); ?></td>
			<td><input type="checkbox" name="boxid[]" id="box_twelve" value="12"></td>
		</tr>
		<tr>
			<td>13</td>
			<td><?php echo $this->translate('upcomingevents'); ?></td>
			<td><input type="checkbox" name="boxid[]" id="box_thirteen" value="13"></td>
		</tr>
		<tr>
			<td>14</td>
			<td><?php echo $this->translate('anlage4awlvv'); ?></td>
			<td><input type="checkbox" name="boxid[]" id="box_fourteenth" value="14"></td>
		</tr>
		<tr>
			<td>15</td>
			<td><?php echo $this->translate('Discharged in last 10 days'); ?></td>
			<td><input type="checkbox" name="boxid[]" id="box_fifthteen" value="15"></td>
		</tr>
		<tr>
			<td>16</td>
			<td><?php echo $this->translate('Dashboard'); ?></td>
			<td><input type="checkbox" name="boxid[]" id="box_twenty" value="20"></td>
		</tr>
        <tr>
            <td>17</td>
            <td><?php echo $this->translate('Pinnwand Latest News & Events'); ?></td>
            <td><input type="checkbox" name="boxid[]" id="box_twenty" value="21"></td>
        </tr>
 <!-- ISPC-2401 pct 8. Lore 18.09.2019 -->
         <tr>
            <td>18</td>
            <td><?php echo $this->translate('VW Status change'); ?></td>
            <td><input type="checkbox" name="boxid[]" id="box_twenty" value="22"></td>
        </tr>
 
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td> <input type="submit" name="btnsubmit" id="btnsubmit" value="<?php echo $this->translate('submit') ?>" class="button"></td>
			<td>&nbsp;</td>
		</tr>
	</table>
</form>
<script type="text/javascript">

	var boxid_js = [<?php echo ($this->boxjs); ?>];
	var overbox_array = document.getElementsByName('boxid[]');

	for (j = 0; j < overbox_array.length; j++)
	{
		for (k = 0; k < boxid_js.length; k++)
		{
			if (overbox_array[j].value == boxid_js[k])
			{
				overbox_array[j].checked = true;
			}
		}
	}
</script>