<!-- Maria:: Migration ISPC to CISPC 08.08.2020 -->
<!-- ISPC-2401 pct 8  Lore 19.09.2019 --> 
<?php 

 
$this->headScript()->appendScript($head_script, $type = 'text/javascript', $attrs = array());

?>
<table id="vw_colorstatus_action" class="vw_colorstatus_table" >
 	<thead >
 		<tr>
 			<th  width="70%"><strong><?php echo $this->translate('Name, Vorname');?></strong></th>
 			<th  width="5%"><strong><?php echo $this->translate('color old');?></strong></th>
 			<th  width="5%" ><strong><?php echo ' ';?></strong></th><!-- ISPC-2730, elena, 20.01.2021 -->
 			<th  width="5%"><strong><?php echo $this->translate('color new');?></strong></th>
 			<!-- ISPC-2316 @Lore 09.10.2019 -->
 			<th  width="5%" ><strong><?php echo ' ';?></strong></th>
 			<th  width="5%" ><strong><?php echo $this->translate('Date');?></strong></th>
 			
 		</tr>

 	</thead>
 		<tbody>
 			<?php $rowcount = 1;?>
	 		<?php foreach($this->datavw_cs as $k => $lcu):?>			<!-- changed on 18.12.2019 by Lore -->
				<tr  id="vw_line_<?php echo $lcu['vw_id']; ?>"  onclick="DoNav('voluntaryworkers/editvoluntaryworkerdet?id=<?php echo $lcu['vw_id']; ?>')">
	 				<td><?php echo $lcu['nume'];?></td>
		 			<td class="vw_colorstatus st_<?php echo $lcu['status_old']?> "><?php echo $lcu['color_old'];?></td>
		 			<td></td>
		 			<td class="vw_colorstatus st_<?php echo $lcu['status_new']?> "><?php echo $lcu['color_new'];?></td>
		 			<td></td>
		 			<td><?php echo $lcu['date'];?></td>
		 		</tr>	
		 	<?php $rowcount++;?>	
	 		<?php endforeach;?>			
 		</tbody>
 </table>	