/*  ISPC-2782 Cristi.C */

body {
	font-family: 'Open Sans', sans-serif;
}

.vital_signs {
	border-collapse: collapse;
}

.vital_signs tr th {
	font-family: 'Open Sans', sans-serif;
	background: #F2F3F9;
	font-weight: 600;
	font-size: 14px;
	line-height: 30px;
	color: #333333;
	padding-left:12px;
}

.vital_signs tr td {
	padding: 8px;
}

.vital_signs input {
	min-width: 60px !important;
	background-color: #fff;
	height: 30px;
	border: 1px solid #878A92;
	font-size: 14px;
	line-height: 30px;
	color: #545454;
	padding: 0 10px;
}

.vital_signs__wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.vital_signs__wrapper svg {
	margin-left: 6px;
}

.vital_signs__wrapper span {
	font-size: 14px;
	line-height: 30px;
	color: #333333;
}

.vital_signs span {
	font-size:14px;
}

.vital_signs input.age {
	padding:0;
}