<?php
//js
	$this->headScript()->appendFile(RES_FILE_PATH . '/javascript/views/healthinsurance/addclienthealthinsurannce.js?' . date('Ymd'));
?>

<script>

	$(function () {
		$(".accordion").accordion({
		collapsible: false
		});

	});</script>


<style>

	.accordion span.accordion_span_name {
		height: 27px;
		margin-left: 30px;
		font-weight: 400;
		font-size: 12px;	
		line-height: 20px;
	}


	.nonaccordion span.accordion_span_name {
		color: #000;
		font-size: 16px;	
		margin: 20px 0 20px 0;
		clear: both;
		display: block;
		width: 100%;
		float: left;

	}


</style>


<!-- <div id="healthinsurancelist_translate" class="add">
	<ul>
		<li><a href="healthinsurance/clienthealthinsurancelist"><< <?php echo $this->translate('back'); ?></a></li>
	</ul>
</div> -->
<a href="<?php echo $this->url(array('controller'=>'healthinsurance' , 'action' => 'clienthealthinsurancelist' )); ?>"><?php echo $this->translate("back")?></a>
<form action="" method="post" name="frmhealthin" id="frmhealthin" >
	<div id="addhealthinsurance_errorMsg" class="err"><?php echo $this->error_message ?></div>

	<fieldset id="addHeaInsu_fieldset">
		<?php if(!empty($this->divisions)): ?>
			<div class="accordion">
		<?php else: ?>
			<div class="nonaccordion">
		<?php endif; ?>
		<?php if($_REQUEST['id'] > '0') { ?>
			<h3><span class="accordion_span_name"><?php echo $this->translate('editclienthealthinsurance') ?></span></h3>
		<?php } else { ?>
			<h3><span class="accordion_span_name"><?php echo $this->translate('addclienthealthinsurance') ?></span></h3>
		<?php } ?>
			<div>
				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('name'); ?></label>
					<input type="text" name="name" tabindex="1"   value="<?php echo $this->name ?>">
					<div id="addhealthinsurance_nameerror" class="error"><?php echo $this->error_name ?></div>
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('insurance_provider'); ?></label>
					<input name="insurance_provider" tabindex="2"  value="<?php echo $this->insurance_provider; ?>" />
					<div id="addhealthinsurance_insurance_providererror" class="error"><?php echo $this->error_insurance_provider ?></div>
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('street1'); ?></label>
					<input type="text" name="street1" tabindex="3"    value="<?php echo $this->street1 ?>">
					<div id="addhealthinsurance_streetOneerror" class="error"><?php echo $this->error_street1 ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('zip'); ?></label>
					<input type="text" name="zip" tabindex="5"    value="<?php echo $this->zip ?>">
					<div id="addhealthinsurance_ziperror" class="error"><?php echo $this->error_zip ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('city'); ?></label>
					<input type="text" name="city" tabindex="6"    value="<?php echo $this->city ?>">
					<div id="addhealthinsurance_cityerror" class="error"> <?php echo $this->error_city ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('phone'); ?></label>
					<input type="text" name="phone" tabindex="7"    value="<?php echo $this->phone ?>">
					<div id="addhealthinsurance_Phoneerror" class="error"><?php echo $this->error_phone ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('Telefon 2'); ?></label>
					<input type="text" name="phone2" tabindex="8"    value="<?php echo $this->phone2 ?>">
					<div id="addhealthinsurance_Phoneerror" class="error"><?php echo $this->error_phone2 ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('post_office_box'); ?></label>
					<input type="text" name="post_office_box" tabindex="9"    value="<?php echo $this->post_office_box ?>">
					<div id="addhealthinsurance_faxerror" class="error"><?php echo $this->error_post_office_box ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('post_office_box_location'); ?></label>
					<input type="text" name="post_office_box_location"   tabindex="10" value="<?php echo $this->post_office_box_location ?>">
					<div id="addhealthinsurance_faxerror" class="error"><?php echo $this->error_post_office_box_location ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('zip_mailbox'); ?></label>
					<input type="text" name="zip_mailbox"  tabindex="11" value="<?php echo $this->zip_mailbox ?>">
					<div id="addhealthinsurance_zip_mailboxerror" class="error"><?php echo $this->error_zip_mailbox ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('phonefax'); ?></label>
					<input type="text" name="phonefax" tabindex="12" value="<?php echo $this->phonefax ?>">
					<div id="addhealthinsurance_faxerror" class="error"><?php echo $this->error_phonefax ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('email'); ?></label>
					<input type="text" name="email" tabindex="13" value="<?php echo $this->email ?>">
					<div id="addhealthinsurance_faxerror" class="error"><?php echo $this->error_email ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('kvnumber'); ?></label>
					<input type="text" name="kvnumber"  tabindex="14"   value="<?php echo $this->kvnumber ?>">
					<div id="addhealthinsurance_kvnoerror" class="error"><?php echo $this->error_kvnumber ?></div>&nbsp;
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('iknumber'); ?></label>
					<input type="text" name="iknumber" tabindex="15"   value="<?php echo $this->iknumber ?>">
					<div id="addhealthinsurance_iknumbererror" class="error"><?php echo $this->error_iknumber ?></div>&nbsp;
				</div>
				<?php if($this->show_debtor_number == "1" && $this->generate_debtor_number == "1"): ?>
					<!-- ISPC-2452 Ancuta 21.11.2019 --> 
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('debtor_number'); ?></label>
						<input type="text" name="debtor_number" tabindex="15" class="w100"   style="  margin-right:5px; " value="<?php echo $this->debtor_number ?>">
						<button  id="generatehidebitornrBtn" type="button" value="1" style="  padding:0px!important; " onclick="generatehidebitornr(this, 'debtor_number'); return false;"><?php echo $this->translate('generate_debtor_number') ?></button>
						<br/>
						<div id="addhealthinsurance_debtor_numbererror" class="error" style="width: 100%;"><?php echo $this->error_debtor_number ?></div>&nbsp;
					</div>
					<?php if(isset($_REQUEST['id']) && !empty($_REQUEST['id'])):?>
						<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('Update, debitor numbers saved in patients for this company?');?></label>
						<input type="checkbox" name="update_company_in_patients" value="1" style="width:15px;" />
						</div>
					<?php endif;?>
					
				<?php else:?>
				
					<?php if($this->show_debtor_number == "1"  && $this->generate_debtor_number != "1"): ?>
						<div class="hi_subdivizion_row">
							<label><?php echo $this->translate('debtor_number'); ?></label>
							<input type="text" name="debtor_number" tabindex="15"   value="<?php echo $this->debtor_number ?>">
							<div id="addhealthinsurance_debtor_numbererror" class="error"><?php echo $this->error_debtor_number ?></div>&nbsp;
						</div>
				<?php endif; ?>

				<?php endif; ?>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('comments'); ?></label>
					<textarea name="comments" cols="40" rows="5" tabindex="16"><?php echo $this->comments ?></textarea>
				</div>

				<div class="hi_subdivizion_row">
					<label><?php echo $this->translate('pricelist_groups_label') ?></label> 
					<select name="price_sheet_group">
						<option value="0"><?php echo $this->translate('select_pricelist_group') ?></option>
						<?php foreach($this->pricelist_groups as $k_plist_gr => $v_plist_gr): ?>
								<option value="<?php echo $v_plist_gr['id'] ?>"<?php if($this->price_sheet_group == $v_plist_gr['id']): ?>	selected="selected"	<?php endif; ?>><?php echo $v_plist_gr['name'] ?>&nbsp;<?php if($v_plist_gr['private'] == '1'): ?>*<?php endif; ?></option>
							<?php endforeach; ?>
					</select>
				</div>

				<?php if($this->he_price_list_permission == '1'): ?>				
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('he price list type') ?></label>
						<select name="he_price_list_type" >
							<option value="0" ><?php echo $this->translate('Select he price type') ?></option>
							<?php foreach($this->he_list_types_array as $typ => $list_type): ?>
								<option value="<?php echo $typ; ?>"  <?php if($this->he_price_list_type == $typ): ?> selected="selected"  <?php endif; ?>  ><?php echo $this->translate('hessen_list_' . $list_type); ?></option>
							<?php endforeach; ?>	
						</select>
					</div>					
				<?php endif; ?>				
				
				
				
				<!-- ISPC-2461 Ancuta 03.10.2019 -->
				<?php if($this->show_demstepcare_billing == "1"): ?>
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('demstepcare_billing_0_price'); ?></label>
						<select name="demstepcare_billing" >
							<option value="no"  <? if ($this->demstepcare_billing == "no"): ?> selected="selected" <? endif; ?> > <? echo $this->translate('dms_no'); ?> </option>
							<option value="yes" <? if ($this->demstepcare_billing == "yes"):?> selected="selected" <? endif; ?> > <? echo $this->translate('dms_yes'); ?> </option>
						</select>
					</div>
				<?php endif; ?>
				
			</div>

			<?php foreach($this->divisions as $dk => $subdiv): ?>
				<h3><span class="accordion_span_name"><?php echo $subdiv['subdivision_name'] ?></span></h3>
				<div>
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('name'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][name]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['name'] ?>" />
					</div>
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('insurance_provider'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][insurance_provider]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['insurance_provider'] ?>" />
					</div>
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('contact_person'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][contact_person]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['contact_person'] ?>" />
					</div>

					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('street'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][street1]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['street1'] ?>" />
					</div>

					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('zip'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][zip]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['zip'] ?>" />
					</div>

					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('city'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][city]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['city'] ?>" />
					</div>

					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('phone1'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][phone]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['phone'] ?>" />
					</div>

					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('Telefon 2'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][phone2]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['phone2'] ?>" />
					</div>

					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('fax'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][fax]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['fax'] ?>" />
					</div>
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('post_office_box'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][post_office_box]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['post_office_box'] ?>" />
					</div>
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('post_office_box_location'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][post_office_box_location]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['post_office_box_location'] ?>" />
					</div>
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('zip_mailbox'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][zip_mailbox]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['zip_mailbox'] ?>" />
					</div>

					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('email'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][email]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['email'] ?>" />
					</div>
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('kvnumber'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][kvnumber]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['kvnumber'] ?>" />
					</div>
					<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('iknumber'); ?></label>
						<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][iknumber]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['iknumber'] ?>" />
					</div>
					<?php if($this->show_debtor_number == "1"): ?>
						<div class="hi_subdivizion_row">
							<label><?php echo $this->translate('debtor_number'); ?></label>
							<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][debtor_number]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['debtor_number'] ?>" />
						</div>
					<?php endif; ?>

			<!-- Show ikbilling (Abrechnungs IK) only on sapv tab -->
			<?php if($subdiv['subdiv_id'] == "3"): ?>
					<div class="hi_subdivizion_row">
				<label><?php echo $this->translate('lbl_billing_ik'); ?></label>
				<input name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][ikbilling]" value="<?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['ikbilling']; ?>" />
			</div>
			<?php endif; ?>

			<div class="hi_subdivizion_row">
						<label><?php echo $this->translate('comments'); ?></label>
						<textarea name="subdivizion[<?php echo $subdiv['subdiv_id'] ?>][comments]" ><?php echo $this->subdivizion_details[$subdiv['subdiv_id']]['comments'] ?></textarea>
					</div>
				</div>
			<?php endforeach; ?>
		</div>
		<br />
		<br />
		<label for="btnsubmit" id="addHeaInsu_SubmitBtn_Lbl"></label>
		<input type="submit" name="btnsubmit" class="button" tabindex="17" id="btnsubmit" value="<?php echo $this->translate('submit') ?>">
	</fieldset>
</form>