/*ISPC-2825 Dragos 08.03.2021 */
.ambulatory-curve-wrapper {
	clear: both;
	position: relative;
}
.ambulatory-curve-table-wrapper {
	/*overflow-x: scroll;*/
	/*margin-left: 14em;*/
	padding: 0 10px;
	overflow-y: visible;
	background-color: #f3f3f3;
}
.ambulatory-curve-table-wrapper > table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 5px;
}

.ambulatory-curve-table-wrapper > table tr {
	background-color: white;
}

.ambulatory-curve-table-wrapper > table tr > td:not(:last-child) {
	border-left: 0;
	border-right: 1px solid #DDDDDD ;

}
/*.section-row , .section-row > td:not(.headcol) {*/
/*	border-bottom: 2px solid #0ea6fd !important;*/
/*	!*border-bottom: 2px solid #DDDDDD !important;*!*/
/*}*/
/*.section-row:before {*/
/*	content: "";*/
/*	padding-left: 12em !important;*/
/*}*/

.headcol {
	/*position: absolute;*/
	width: 14em;
	/*margin-top: -22px;*/
	left: 0;
	top: auto;
	/*color: #ffffff;*/
	/*only relevant for first row*/
	/*compensate for top border*/
	/*border-radius: 10px;*/
	/*border: 1px solid transparent !important;*/
	/*background-color: #0ea6fd;*/
	outline:none;
	cursor:pointer;
	transition:background-color 0.3s ease;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.section_content {
	border: none !important;
}
.section_content td {
	border: none !important;
}

.ambulatory-curve-header {
	background-color: #DDDDDD !important;
	border: 1px solid #DDDDDD !important;
	padding: 5px;
	width: 30%;
	vertical-align: middle;
}

.ambulatory-curve-table-wrapper .btn.top_date_column{
	padding: 5px 20px;
	border-radius: 10px;
	height: 20px;
	display: flex;
	justify-content: center;
	background-color: white;
	margin: 3px auto 0;
	width: max-content;
	font-size: 13px;
	color: black;
	font-weight: bold;
	float: none;
}

.ambulatory-curve-table-wrapper .btn.top_date_column:hover{
	background-color: #DDDDDD;
	transition:background-color 0.3s ease;
}

.toggle-details-row:after {
	margin-left: 0.5em;
	content: "\25bc";
}
.toggle-details-row.open:after {
	margin-left: 0.5em;
	content: "\25b2";
}
.ambulatory-curve-table,.ambulatory-curve-admin, .ambulatory-curve-vital,.ambulatory-curve-symptoms-2, .ambulatory-curve-symptoms, .ambulatory-curve-history {
	max-width: inherit;
	width: 100%;
	overflow-x: auto;
}
.ambulatory-curve-table thead th, .ambulatory-curve-admin td, .ambulatory-curve-vital td, .ambulatory-curve-symptoms-2 td {
	text-align: center;
	/*white-space: nowrap;*/
}
.symptom_1_table,.art_en_ex_table {
	width: 100%;
}



.ambulatory-curve-table-wrapper > div:hover {
	cursor:pointer;
	background-color:#dbdee6;
	color:#000000;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.ambulatory-curve-table-wrapper .btn {
	border-radius:50%;
	height:30px;
	width:30px;
	border:0;
	float:left;
	background-color: #DDDDDD;
	outline:none;
	cursor:pointer;
	transition:background-color 0.3s ease;
}

.ambulatory-curve-table-wrapper .btn:hover {
	background-color:white;
	transition:background-color 0.3s ease;
}

.open_for_more {
	text-align: center;
	font-size: 14px;
	color: #DDDDDD;
	font-weight: bolder;
}

/*.ambulatory-curve-table-wrapper .btn.btnPrev:after,*/
/*.ambulatory-curve-table-wrapper .btn.btnPrevMultiple:after*/
/*{*/
/*	font-size: x-large;*/
/*}*/

/*.ambulatory-curve-table-wrapper .btn.btnNext,*/
/*.ambulatory-curve-table-wrapper .btn.btnNextMultiple*/
/*{*/
/*	float: right;*/
/*	font-size: x-large;*/
/*}*/

.ambulatory-curve-table-wrapper .btn.btnPrev {
	background-image: url(../../images/patient_header/arr-left-white.svg);
	background-repeat:no-repeat;
	background-position: 10px 50%;
}

.ambulatory-curve-table-wrapper .btn.btnPrevMultiple {
	background-image: url(../../images/patient_header/m-arr-left-white.png);
	background-repeat:no-repeat;
	background-position: 5px 50%;
	margin-right: 2px;
}
.ambulatory-curve-table-wrapper .btn.btnNext {
	background-image: url(../../images/patient_header/arr-right-white.svg);
	background-repeat:no-repeat;
	background-position: 12px 50%;
	float:right;
}
.ambulatory-curve-table-wrapper .btn.btnNextMultiple {
	background-image: url(../../images/patient_header/m-arr-right-white.png);
	background-repeat:no-repeat;
	background-position: 8px 50%;
	margin-left: 2px;
	float:right;
}


.display_none{
	display: none;
}



.view_selector{
	position:absolute;
	margin-top:-15px;
	margin-left:100px;
	border-radius: 30px;
	display: none;
	width: unset !important;
	height: unset !important;
	/*min-height: 530px;*/
	background: #dbdee6;
	z-index:8;
	padding:5px;

}

.view_selector >h2{
	color: #000;
	line-height:26px;
}
.dp_view_title{
	color: #000;
	font-size: 14px;
	font-weight: 800;
	line-height:26px;
}

.view_selector .change_view {
	background:#00a2ff url(../../images/patient_header/icon-calendar-white.svg) 9px 50% no-repeat;
	background-size:16px auto;
	border:0;
	height:30px;
	padding-left:32px;
	padding-right:12px;
	border-radius:30px;
	margin-left:5px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;

	font-size:14px;
	color:#FFF;
	font-weight:700;
	letter-spacing:-0.5pt;
	cursor:pointer;
	outline:none;
	transition:background-color 0.3s ease;
	margin-right:15px;
}
.view_selector  .change_view:hover {
	background-color:#345392;
	transition:background-color 0.3s ease;
}

.view_selector .apply_btn{
	background:#00a2ff;
	background-size:16px auto;
	border:0;
	height:30px;
	padding:8px;
	border-radius:5px;
	margin-left:5px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#FFF;
	font-weight:700;
	letter-spacing:-0.5pt;
	cursor:pointer;
	outline:none;
	transition:background-color 0.3s ease;
	margin-right:15px;
	float: right;
}

.view_selector .cancel_btn{
	background:#ede8e8;
	background-size:16px auto;
	border:0;
	height:30px;
	padding:8px;
	border-radius:5px;
	margin-left:5px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#000000;
	font-weight:700;
	letter-spacing:-0.5pt;
	cursor:pointer;
	outline:none;
	transition:background-color 0.3s ease;
	margin-right:15px;
}

.interval_selection{
	display: none;
}

.interval_selection .select_oneday{

}
.interval_selection .select_threedays{

}
.interval_selection .select_week{

}

.dp_view_title{
	font-size: 12px;
	color:#000000;
}

/* ISPC-2516 Carmen 13.07.2020
#symptomatology_modal legend {
	display: none;
}

#symptomatology_modal fieldset {
	border: 0px;
}

#symptomatology_modal div {
	float: right;
	margin-right: 35px;
}*/

.modal_overlay{
	z-index:9;
	position: absolute;
	background:  transparent  url(../../images/ui-bg_diagonals-thick_90_eeeeee_40x40.png) 50% 50% repeat;
	opacity: .80;
	top: 0;
	left: 0;
	width: 100%;
	height: 1500px;

}


.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	display: none;
}

.change_view {
	background:#00a2ff url(../../images/patient_header/icon-calendar-white.svg) 9px 50% no-repeat;
	background-size:16px auto;
	border:0;
	height:30px;
	padding-left:32px;
	padding-right:12px;
	border-radius:30px;
	margin-left:15px;
	position:absolute;
	/*right:0;*/
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;

	font-size:14px;
	color:#FFF;
	font-weight:700;
	letter-spacing:-0.5pt;
	cursor:pointer;
	outline:none;
	transition:background-color 0.3s ease;
	margin-right:15px;
}

.change_view:hover{
	background-color:#345392;
	transition:background-color 0.3s ease;
}

.view_selector .change_view {
	position: unset;
}

/* datepicker stuff */

.view_selector .ui-datepicker table {
	width:280px;
}
.view_selector .ui-datepicker {
	width:280px;
	border:0;
	background:transparent;

}
.view_selector .ui-datepicker .ui-datepicker-calendar thead th {
	font-size:14px;
	font-weight:800;
	color:#000;
	padding:0;
	padding-bottom:15px;
}
.view_selector .ui-datepicker .ui-datepicker-calendar tbody td {
	padding:0;
	text-align:center;
}
.view_selector .ui-datepicker .ui-datepicker-calendar tbody td > a {
	border:0px;
	background:transparent;
	text-align:center;
	padding:0;
	width:32px;
	height:32px;
	line-height:32px;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	font-weight:600;
	color:#3a3a3a;
	margin:2px auto !important;
	display:block;
	box-sizing:border-box;

}

.view_selector .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-other-month  > a {
	color:#888b91;
	font-weight:normal;
}
.view_selector .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-current-day > a {
	font-weight:bold;
	background:#00a2ff;
	color:#fff !important;
	border-radius:6px;

}


.view_selector .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-today  > a {
	border:1px solid #00a2ff;
	border-radius:6px;
	color:#00a2ff;

}
.view_selector .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-today > a:hover {
	background-color:#345392;
	transition:background-color 0.3s ease;
}
.view_selector .ui-datepicker-header {
	background:transparent;
	border:0;
	margin-bottom:15px;
}

.view_selector .ui-datepicker .ui-datepicker-prev, .view_selector .ui-datepicker .ui-datepicker-next {
	background:#00a2ff;
	height:30px !important;
	width:30px !important;
	border-radius:50%;
	top:3px;
	border:0 !Important;
}

.view_selector .ui-datepicker .ui-datepicker-prev:hover, .view_selector .ui-datepicker .ui-datepicker-next:hover {
	background-color:#345392;
	transition:background-color 0.3s ease;
}

.view_selector .ui-datepicker .ui-datepicker-next {
	right:0;
}

.view_selector .ui-datepicker .ui-datepicker-prev {
	left:0;
}

.view_selector .ui-datepicker .ui-icon-circle-triangle-e {
	/* background-image: url(../../images/patient_header/arr-right-white.svg); */
	background-image: url(../../images/patient_header/arr-right-white.svg) !important;		/*TODO-3265 Lore 07.07.2020*/
	background-position:calc(50% + 1px) 50%;
	background-repeat:no-repeat;
	background-size:8px auto;
}



.view_selector .ui-datepicker .ui-icon-circle-triangle-w {
	/* background-image: url(../../images/patient_header/arr-left-white.svg); */
	background-image: url(../../images/patient_header/arr-left-white.svg) !important;		/*TODO-3265 Lore 07.07.2020*/
	background-position:calc(50% - 2px) 50%;
	background-repeat:no-repeat;
	background-size:8px auto;
}



.view_selector .ui-datepicker-month, .view_selector .ui-datepicker-year {


	background:#f3f3f3 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9UUi8yMDAxL1JFQy1TVkctMjAwMTA5MDQvRFREL3N2ZzEwLmR0ZCI+PHN2ZyB2ZXJzaW9uPSIxLjAiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEycHgiIGhlaWdodD0iN3B4IiB2aWV3Qm94PSIwIDAgMTIgNyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgNyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzM3MzczNyIgZD0iTTExLjgsMC4yYy0wLjMtMC4zLTAuNy0wLjMtMSwwTDYsNS4ybC00LjgtNWMtMC4zLTAuMy0wLjctMC4zLTEsMGMtMC4zLDAuMy0wLjMsMC44LDAsMWw1LjMsNS41QzUuNiw2LjksNS44LDcsNiw3YzAuMiwwLDAuNC0wLjEsMC41LTAuMmw1LjMtNS41QzEyLjEsMSwxMi4xLDAuNSwxMS44LDAuMnoiLz48L3N2Zz4=) calc(100% - 10px) 50% no-repeat;
	background-size:15px auto;
	border:0;
	border-radius:15px;
	height:30px;
	margin-right:5px !important;
	font-size:14px !Important;
	font-family:"Open Sans", sans-serif !Important;
	color:#3a3a3a;
	text-transform:uppercase;
	font-weight:700;
	padding-left:7px;
	-webkit-appearance: none;
	appearance: none  !important;
}

.view_selector .ui-datepicker-year {
	width:70px !important;
}

.view_selector .apply_btn, .view_selector .cancel_btn {
	height:42px;
	width:130px;
	font-size:15px;

}

.view_selector .apply_btn:hover {
	background-color:#345392;
	transition:background-color 0.3s ease;

}


.kurve_date_selector_button{
	display: block;
	height: 40px;
	float: left;
}

.kurve_date_selector_button .change_view{
	background:#fff url(../../images/efa_images/calendar.svg) 9px 50% no-repeat;
	background-size:16px auto;
	color: #666;
	border: 1px solid #666;
	font-size: 12px;
}

