div#statment_insurnc_heading {
	float: left;
	width: 343px;
	height: 100px;
	padding-left: 10px;
}

div#stampel_heading{
	float: left;
	width: 104px;
	height: 60px;
	padding-left: 5px;
}
div#statment_insurnc_heading input[type=checkbox] {
	margin-left: 10px;
}
div#statment_insurnc_heading label.top_checkboxes {
	font-weight: bold;
	font-size: 13px;
}

.proper_height p, .proper_height span, .proper_height div, .proper_height a, .proper_height label, .proper_height h4  {
	line-height: 25px;
}

#analage .pallnetz_topform {
	width: 355px;
	float: left;
	border: 1px solid red;
	margin-top: 10px;
	padding: 10px;
	padding-bottom: 5px;
	color: red;
	font-weight: bold;
}

#analage .pallnetz_topform label {
	width: auto;
}

#analage .pallnetz_topform .blackline {
	border-bottom: 1px solid #000000;
	margin: 5px -10px 0 -10px;
}

#analage .pallnetz_topform .redline {
	border-bottom: 1px solid red;
	margin: 5px -10px 0 -10px;
}

#analage .pallnetz_topform .formleftdiv {
	float: left;
	width: 200px;
}

#analage .pallnetz_topform input {
	margin-left: 0px;
	width: 95px;
}

#analage input.insurnace {
	margin-left: 0px;
	width: 320px;
}

#analage input.datum {
	margin-left: 0px;
	width: 80px;
}

#analage .pallnetz_topform .formleftdiv .textArea {
	width: 160px;
	margin-left: 0px;
	margin-bottom: 5px;
}

#analage .pallnetz_topform .formrightdiv {
	float: right;
	width: 130px;
	padding-top: 25px;
}

#analage .pallnetz_topform .formShortDiv {
	float: left;
	margin-top: 5px;
}

#analage .pallnetz_topform .VerLine {
	float: left;
	width: 1px;
	height: 27px;
	background: red;
	margin: 35px 7px 0px 7px;
	margin-bottom: -5px;
}


table.important_fax_notice {
	width:320px;
	border: 1px solid #000;
}
table.important_fax_notice tr td{
	padding-left: 5px;
}
input[type=text]#admission_date {
	width: 200px!important;
}
.small_text {
	font-size:10px;
}

table.header_table{
	width: 100%;
	text-align: center!important;
}
table.header_table td.title{
	text-align: right!important;
}
table.header_table td{
	text-align: center!important;
}

table.anlage2data{
	width: 100%;
}

table.anlage2data tr th{
	border: 1px solid #000;
	padding: 5px;
	vertical-align: top;
}

table.anlage2data tr td{
	border: 1px solid #000;
	padding: 5px;
	vertical-align: top;
}

table.anlage2data tr td table td{
	border:0!important;
	vertical-align: middle;
}
table.anlage2data tr td table td textarea{
	width: 90%;
}
table.anlage2data #diagnosis_date{
	width: 52px;
	text-align: center;
}
table.anlage2data #main_diagnosis{
	width: 60px;
	text-align: center;
}
/*------------------- Stamp information -------------------------------*/

.stamp_table{
	display: block;
	height: 150px;
	margin: 10px 0 10px 0;
}
.stempel{
	float: left;
	width: 412px;
	height: 150px;
	padding-left: 10px;
}
 #tbl_stamp{
 	border: 1px solid black;
 	height: 140px;
	width: 300px;
	text-align: center;
	vertical-align: bottom;
	margin-left: 108px;
 }
 #tbl_stamp td{
 	text-align: center;
	vertical-align: bottom;
 }

.stamp_user_select{
	display: block;
	float: right;
	height: 30px;
	width: 350px;
	margin: 0;
}

.stamp_user_select .userstamps {
	
}

.stamp_alert {
	
}

.user_stamp_block{
	display: block;
	height:130px;
	vertical-align: middle;	
    width:100%; float:left;
}

textarea#stamp_textarea {
	border:  #000;
	background: #fff;
	display: block;
	margin: 5px;
	height: 115px;
	width: 270px;
	text-align: center;
	
}
.stamp_information{
	border: 1px solid #000;
}

.stamp_user_area {
    border: 1px solid black;
    display: block;
    float: right;
    height: 150px;
    margin: 0;
    text-align: center;
    width: 280px;
}


.userstamps label {
    display: block;
    float: left;
    font-weight: 700;
    line-height: 26px;
    padding-left: 70px;
    width: 95px;
}