body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
.MarginZero {
margin:0px 0 0 1px;
}


.ClrBoth {
	clear:both;
}

.anlagetitle{
	display: block;
	width: 100%;
	float: left;
	text-align: left;
	font-size:18px;
	font-weight: 700; 
	line-height: 25px;
}
.anlagemotto{
	display: block;
	width: 100%;
	float: left;
	text-align: center;
	font-size:18px;
	font-weight: 700;
	line-height: 29px;
	color: #ff0000;
	
}
.subtitle{
	display: block;
	width: 100%; 
	float: left;
	text-indent: 20px;
	font-size: 14px;
	font-weight: 700;
	margin: 20px 0 40px 0;
	
}
.anlage4a2table{
	float: left;
	width:80%;
	border: 1px solid #000;
}
.anlage4a2table td{
	border: 1px solid #000;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	padding: 0 0 0 5px
}

td.tdheader {
	background: #FFFF99;
	font-size: 17px;
	font-weight: 700;
	line-height: 40px;
	height: 40px;
 
}
 .tdheader select{
	float: right;
	margin: 8px 5px 0 0;
	background: #fff;
	border: 0;
	font-size:16px; 
	font-weight: 700;
}
.tdheader span {
	border-bottom: 1px dashed #000;
	padding: 0 5px 0 5px;
	width: 150px
}
.anzhal{
	text-align: center;
	font-size: 17px;
	font-weight: 700;
	width:15%;
	padding: 0 5px 0 0;
}
span.todgesamt {
	line-height: 16px;
	float: left;
	font-size: 15px;
	margin: 3px 0 -8px 0;
}

.anlagea4a2sectable {
	font-size: 16px;
	line-height: 16px;
}