table.datatable_new input[type='radio']
{
	margin-top: 4px;
}

#anlage5part2 h1
{
	font-size: 18px;
	color: #555;
}
#anlage5part2 h2
{
	font-size: 16px;
	color: #555;
}
#anlage5part2 h3
{
	font-size: 14px;
	color: #555;
}
table.datatable_new h1
{
	font-size: 18px;
	color: #555;
}

table.datatable_new h2
{
	font-size: 16px;
	color: #555;
}

table.datatable_new h3
{
	font-size: 14px;
	color: #555;
}


.datatable_new
{
	border:1px solid #000;
	line-height: 250%;
}

.datatable_new tr td
{
	padding-left: 5px;
}

input.long_input
{
	width:98%;
}

table .subtable
{
	width: 100%;
	vertical-align: middle;
}

table .subtable tr td
{
	padding-left: 5px;
}

table .subtable tr td.radio_input
{
	width:20px;
}

table .subtable tr td.input_label
{
	width:145px;
}

table#actual_problems {
	width:100%;
}

table#actual_problems thead th.description
{
	width:200px;
}
table#actual_problems thead th.main_reason
{
	width:15%
}

table#actual_problems thead th.option
{
	width:15%;
}
input#living_will_more{
	width: 70px;
}



.textarea_table{
	width: 93%;
	height: 105px;
	background-color: #fff;
}

table#grid tr td {
	vertical-align: top;
}
.datatable td.noborders {
	border: 0px solid #fff;
}
div#period_sel_bar{
	text-align: right;
	width:100%;
}

th.header_row_left {
	font-weight: bold;
	border-right: 0px;
}
th.header_row_right {
	font-weight: bold;
	text-align: right;
	border-left: 0px;
	padding-right: 5px;
}
#select_all {
	float: left;
	margin-top: 5px;
}