div#anlage5_container, div#anlage5_container table td{
    font-size: 11pt;
    line-height: 150%;
}
#anlage5_top td{
	padding: 5px; 
}
table#anlage5_top {
	width: 100%;
}
table#beratung_table td.header_table{
	text-align: center;
}
table.table_cust {
	width: 100%;

}
table#table_cust {
	width: 100%;

}
table.table_cust td.anlage5_prefilled
{
	border-bottom: 1px solid #000;
    padding-top: 10px;
    text-align: left;
}


table#table_footer{
	width: 100%;
}

table#table_footer td#stempel_td{
	padding: 20px;
	width: 45%;
	text-align: center;
}
table#anlage5_stempel{
	width: 100%;
	padding: 20px;
}
table#stempel_tbl {
	width: 100%;
}
table#stempel_tbl td {
	padding: 2px 2px 2px 2px;
}
table#anlage5_stempel td.anlage5_label
{	
	padding: 0 5px 2px 0;
    text-align: center;
}
table#table_cust td.anlage5_prefilled{
	padding: 20px 5px 5px 0;
}
.top_border{
	border-top: 1px solid #000;
	vertical-align:  top;
	font-size: 11px!important; 
	line-height: 12px!important;
}
#anlage5_stempel_bord {
	height: 105px;
	border: 1px solid #000;
	align: right;
}
#beratung_table tr td{
	border: 1px solid #000;
	padding: 5px 5px 5px 5px;
}
#anlage5_td_top{
	border: 1px solid #000;
}
.anlage5_stempel_inpt{
	width : 100%;
	
	text-align: center;
}