body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin: 0 auto;
	padding: 10px;
	width: 790px;
}

.bayern_doctor_form {
	margin: 0 10px 0 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.bayern_header {
	height: 30px;
	border-bottom: solid 1px #000000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
.visit_patient_information{
	width: 100%;
	height: 100%;
	display: block;
	float: left;
/*  	border-bottom: 1px solid #000; */
margin-bottom: 10px;
}

.visit_patient_information table{
	margin: 10px;
/* 	display: block; */
	float: left;
	width: 98%;
	height: 100%;
	font-size: 14px;
	font-weight: 400;
}
.visit_patient_information table td {
/* 	width: 100%; */
/* 	height: 100%; */
/* 	font-size: 12px; */
	font-weight: 800;
/* 	line-height:22px; */
}
.visit_patient_information table td i{
	width: 100%;
	height: 100%;
	font-size: 12px;
	font-weight: 400;
	line-height:12px;
}


.bayern_stamdatenlink {
	margin: 10px 0 20px 0;
	width: 100%;
}

.bayern_stamdatenlink td {
	height: 26px;
	line-height: 26px;
	padding: 0px;
	border-bottom: 1px dashed #000;
	vertical-align: center;
}

.bayern_stamdatenlink td.bayern_hiddenobject {
	width: 310px;
	padding: 0px;
	margin: 0px;
}

.bayern_stamdatenlink td.bayern_hiddenobject input[type="text"] {
	width: 270px;
	/* 	margin-top:12px; */
}

.bayern_stamdatenlink input[type="radio"] {
	margin: 7px 5px 0 5px;
	padding: 0px;
	float: left;
}

.bayern_mediumtd {
	width: 325px;
}

.bayern_mediumtd_b {
	width: 80px;
	/* 	width: 198px; */
}

.bayern_smalltd { /* 	width: 70px; */
	width: 80px;
}

.bayern_bigtd { /* 	width: 198px; */
	width: 185px;
}

.bayern_korpelicht_befund {
	margin: 10px 0 20px 0;
}

.bayern_korpelicht_befund td {
	height: 20px;
}

.bayern_korpelicht_befund input[type=radio] {
	margin: 2px 5px 0 5px;
	padding: 0px;
	float: left;
}

.bayern_korpelicht_befund input[type=text] { /* 	width: 270px; */
	width: 300px;
	margin: 5px 0px 3px 0px;
}

.bayern_korpelicht_befund td.textdiv {
	width: 310px;
	height: 20px;
	background: red;
}

.textdiv {
	width: 310px;
	height: 28px;
}

.empty_befun { /* 	width: 51px; */
	width: 40px;
}

.bayern_ecog {

}

.bayern_ecog td {
	height: 28px;
}

.bayern_ecog input {
	margin: 0px 5px -3px 5px;
}

.bayern_fotodoc {
	margin: 10px 0 10px 0;
}

.bayern_fotodoc textarea {
	width: 100%;
/* 	height: 40px; */
height: auto;
}

.bayern_sonstiges {
	margin: 10px 0 10px 0;
}

.bayern_sonstiges textarea {
	width: 100%;
/* 	height: 40px; */
	height: auto;
}

.bayern_globalline {
	padding: 10px 0 10px 0;
}

.bayern_globalline span {
	float: left;
	width: 100px;
}

.bayern_globalline span input,.bayern_globalline span label {
	float: left;
}

.bayern_globalline span input {
	margin: -2px 5px 0 5px;
}

.bayern_medizineline1 {
	padding: 10px 0 10px 0;
	display: block;
}

.bayern_medizineline1 span {
	float: left;
	width: 200px;
}

.bayern_medizineline1 span input,.bayern_medizineline1 span label {
	float: left;
}

.bayern_medizineline1 span input {
	margin: -2px 5px 0 5px;
}

.bayern_medizineline2 {
	padding: 10px 0 10px 0;
	display: block;
}

.bayern_medizineline2 span {
	float: left;
	width: 134px;
}

.bayern_medizineline2 span input,.bayern_medizineline2 span label {
	float: left;
}

.bayern_medizineline2 span input {
	margin: -2px 5px 0 5px;
}

.bayern_buttons {
	width: 100%;
	padding: 20px 0 20px 0;
	float: left;
	text-align: center;
	border-top: 1px solid #000;
}

.bayern_symptomatics {

}

.bayern_symptomatics table {
	border: collapse;
}

.bayern_symptomatics table tr {
	border-bottom: 1px dashed #ccc;
}

.bayern_symptomatics table th {
	border: 1px solid #ccc;
}

.bayern_symptomatics table td {
	border: 1px solid #ccc;
}

.bayern_komentinput {
	text-align: left;
}

.bayern_komentinput input {
	width: 96%;
	margin: 3px 0 0 3px;
}

.bayern_tinyinpt {
	text-align: center;
}

.bayern_tinyinpt input {
	width: 30px;
}

.bayern_top_labels {
	line-height: 28px;
	display: block;
	width: 185px;
	float: left;
}

.bayern_doctor_vboxes {
	display: block;
	float: left;
	width: 100%;
}

.bayern_vboxes_left {
	width: 50%;
	float: left;
}

.bayern_vboxes_right {
	width: 50%;
	float: left;
}

.bayern_dragvbox {
	margin: 5px 2px 20px;
	background: #fff;
	position: relative;
	border: 1px solid #d8d8d8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: auto;
	width: 99%;
}

.bayern_dragvbox h2 {
	display: block;
	width: 97.4%;
	margin: 0;
	font-size: 12px;
	padding: 5px;
	background: #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	cursor: pointer;
	color: #000;
}

.bayern_dragvbox_content {
	background: #fff;
	min-height: 50px;
	margin: 5px;
	font-size: 0.9em;
	line-height: 1.5em;
	width: 97%;
}

.bayern_sapvfb3_content {
	display: block;
	width: 100%;
	height: 100%;
}

table.bayern_sapvfb3_table {
	display: block;
	width: 100% !important;
	height: auto;
	border-collapse: collapse;
}

table.bayern_sapvfb3_table tbody {
	display: block;
	width: 100%;
	height: auto;
}

.bayern_sapvfb3_table tr {
	width: 100% !important;
}

.bayern_sapvfb3_table td {
	text-indent: 5px;
}

.bayern_sapvfb3_table td.brd_bottom {
	border-bottom: 1px solid  #f1f1f1;
}

.more_sapvfb3 td {
	text-indent: 60px;
}

.more_sapvfb3 th {
	color: #000;
	font-weight: 800;
	line-height: 22px;
	background: #f1f1f1;
	text-indent: 5px;
	text-align: left;
}

.bayern_sapvfb3_table tr.bayern_box_alt td {
	background: #FFFFE0;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

.bayern_sapvfb3_table label {
	display: block;
	float: left;
	width:100%;
}

.bayern_sapvfb3_table label span {
	display: block;
	float: left;
	text-indent: 100px;
}

.bayern_sapvfb3_table tr.bayern_sapvfb3_kmh td {
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
	text-indent: 5px;
	font-weight: 800;
	line-height: 20px;
}
div.bayern_sapvfb3_content b {
	font-size: 14px;
}
div.bayern_dragvbox_content table.datatable {
	width: 750px;
	line-height: 150%;
	margin-top: 20px;
}

.medication_container {
	width:100%;
	height:auto;
	display: block;
}

.medication_container p {
	line-height: 140%;
	width: 100%;
	clear: both;
	padding-top: 15px;
}