body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin: 0 auto;
	padding: 10px;
	width: 790px;
}



table.form_header {
	width: 99%;
	margin: 0 5px 25px 5px;
	border-collapse: collapse;
	border-spacing: 0;
}
table.form_header td.bbottom{
	border-bottom: 1px solid #000 !important;
	font-weight: 800;
	font-size: 20px;
}


textarea.header_textarea{
	width: 99.5%;
}

table.patient_info {
	width: 99%;
	margin: 0 5px 0 5px;
	border-collapse: collapse;
	border-spacing: 0;
}

table.patient_info th {
	border: 1px solid #000 !important;
	padding: 5px;
	width: 15%;
}

table.patient_info td {
	width: 35%;
	padding: 5px;
	border: 1px solid #000 !important;
}
 
 


table.emergency_medication {
	width: 99%;
	margin: 10px 5px 10px 5px;
	border-collapse: collapse;
	border-spacing: 0;
}


table.emergency_medication th {
	padding: 5px;
	width: 15%;
}

table.emergency_medication td {
	width: 35%;
	padding: 5px;
	font-size: 18px;
}
 


table.emergency_symptom {
	width: 99%;
	margin: 10px 5px 10px 5px;
	border-collapse: collapse;
	border-spacing: 0;
}


table.emergency_symptom th {
	padding: 5px;
	border: 1px solid #000 !important;
	font-weight: 800;
}



table.emergency_symptom td {
	width: 35%;
	padding: 5px;
	border: 1px solid #000 !important;
}

table.emergency_symptom td b{
	font-weight:400;
}



table.emergency_symptom td table{
	border-collapse: collapse;
	border-spacing: 0;
}
table.emergency_symptom td table td{
	border: 0!important;
}




