#besdsurvey_form .SimpleTable {
		margin: 0px;
}

#besdsurvey_form .clear {
		clear: both;
	}
	
#besdsurvey_form .fulldiv {
		width: 100%;
	}
	
#besdsurvey_form h2 {
		font-size: 36px;
		color: #000;
	}
	
#besdsurvey_form .center {
		text-align: center;
	}
	
#besdsurvey_form .div_calm {
		width: 60px;
		font-size: 16px;
		line-height: 17px;
		font-weight: bold;
	}
	
#besdsurvey_form .div_mob {
		width: 385px;
		float: left;
		margin-right: 10px;
		font-size: 16px;
		line-height: 17px;
		font-weight: bold;
	}
	
#besdsurvey_form .div_mobby {
		float: left;
	}
	
/*#besdsurvey_form label.optional {
		display: block;
		float: right;
	}*/
/*#total {
		display: block;
		width: 20px;
		float: left;
		border-bottom: 1px solid #000;
		margin-right: 2px;
	}*/