body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.tab_container {
	border-top: none;
	float: left;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
}

.w_100percentage {
	width: 100%;
}

.w_40percentage {
	width: 40%;
}

.w_60percentage {
	width: 60%;
}

.buttons_div {
	display: block;
	width: 100%;
	float: left;
}

.htitle {
	display: block;
	float: left;
	width: 100%;
	font-size: 12px;
	font-weight: 800;
	color: #000000;
	border-bottom: 1px solid #000000;
	line-height: 16px;
	margin-bottom: 20px;	
}

.ht_left {
	float: left;	
	
}

.ht_right {
	float: right;	
}


.f_row {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.no {
	display: block;
	float: left;
	width: 2%;
	text-align: right;
}
.wspace {
	display: block;
	float: left;
	width: 2%;
}

.data_label {
	display: block;
	float: left;
	width: 25%;
}

.data_text {
	display: block;
	float: left;
	width: 20%;
	border-bottom: 1px solid #000000; 
}

.data_table_location table td{
	font-size: 10px;
}
.noborder{
	border: 0px!important;
}
.nomargin{
	margin: 0px!important;
}
.marginb10px{
	margin-bottom: 10px!important;
}


select.uselect{
	width: 100%;
}

.anlage_table{
	width: 100%;
	display: block; float: let;
}
.anlage_table  th{
	border: 1px solid #000000;
	padding:2px;
}
.anlage_table  td{
	padding:2px;
	border: 1px solid #000000;
}
.anlage_table tr th{
	background:#bfbfbf; 
	color:#000000;
	font-weight: 800;
	
}
