body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin: 0 auto;
	padding: 10px;
	width: 790px;
}

.kvno_doctor_form {
	margin: 0 10px 0 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.kvno_header {
	height: 30px;
	border-bottom: solid 1px #000000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
.visit_patient_information{
	width: 100%;
	height: 100%;
	display: block;
	float: left;
/*  	border-bottom: 1px solid #000; */
margin-bottom: 10px;
}

.visit_patient_information table{
	margin: 10px;
/* 	display: block; */
	float: left;
	width: 98%;
	height: 100%;
	font-size: 14px;
	font-weight: 400;
}
.visit_patient_information table td {
/* 	width: 100%; */
/* 	height: 100%; */
/* 	font-size: 12px; */
	font-weight: 800;
/* 	line-height:22px; */
}
.visit_patient_information table td i{
	width: 100%;
	height: 100%;
	font-size: 12px;
	font-weight: 400;
	line-height:12px;
}


.kvno_stamdatenlink {
	margin: 10px 0 20px 0;
	width: 100%;
}

.kvno_stamdatenlink td {
	height: 26px;
	line-height: 26px;
	padding: 0px;
	border-bottom: 1px dashed #000;
	vertical-align: center;
}

.kvno_stamdatenlink td.kvno_hiddenobject {
	width: 310px;
	padding:0px;
	margin: 0px;

}

.kvno_stamdatenlink td.kvno_hiddenobject input[type="text"] {
	width:270px;
/* 	margin-top:12px; */
}

.kvno_stamdatenlink input[type="radio"] {
	margin: 7px 5px 0 5px;
	padding: 0px;
	float: left;
}

.kvno_mediumtd {
	width: 325px;
}

.kvno_mediumtd_b {
 	width: 80px;
/* 	width: 198px; */
}

.kvno_smalltd {
/* 	width: 70px; */
	width: 80px;
}

.kvno_bigtd {
/* 	width: 198px; */
	 width: 185px;
}

.kvno_korpelicht_befund {
	margin: 10px 0 20px 0;
}

.kvno_korpelicht_befund td {
	height: 20px;
}

.kvno_korpelicht_befund input[type=radio] {
	margin: 2px 5px 0 5px;
	padding: 0px;
	float: left;
}

.kvno_korpelicht_befund input[type=text] {
/* 	width: 270px; */
	width: 300px;
	margin: 5px 0px 3px 0px;
}

.kvno_korpelicht_befund td.textdiv {
	width: 310px;
	height: 20px;
	background: red;
}

.textdiv {
	width: 310px;
	height: 28px;
}

.empty_befun {
/* 	width: 51px; */
	width: 40px;
}

.kvno_ecog {

}

.kvno_ecog td {
	height: 28px;
}

.kvno_ecog input {
	margin: 0px 5px -3px 5px;
}

.kvno_fotodoc {
	margin: 10px 0 10px 0;
}

.kvno_fotodoc textarea {
	width: 100%;
	height: 40px;
}

.kvno_sonstiges {
	margin: 10px 0 10px 0;
}

.kvno_sonstiges textarea {
	width: 100%;
	height: inherit;
}

.kvno_globalline {
	padding: 10px 0 10px 0;
}

.kvno_globalline span {
	float: left;
	width: 100px;
}

.kvno_globalline span input,.kvno_globalline span label {
	float: left;
}

.kvno_globalline span input {
	margin: -2px 5px 0 5px;
}

.kvno_medizineline1 {
	padding: 10px 0 10px 0;
	display: block;
}

.kvno_medizineline1 span {
	float: left;
	width: 200px;
}

.kvno_medizineline1 span input,.kvno_medizineline1 span label {
	float: left;
}

.kvno_medizineline1 span input {
	margin: -2px 5px 0 5px;
}

.kvno_medizineline2 {
	padding: 10px 0 10px 0;
	display: block;
}

.kvno_medizineline2 span {
	float: left;
	width: 134px;
}

.kvno_medizineline2 span input,.kvno_medizineline2 span label {
	float: left;
}

.kvno_medizineline2 span input {
	margin: -2px 5px 0 5px;
}

.kvno_buttons {
	width: 100%;
	padding: 20px 0 20px 0;
	float: left;
	text-align: center;
	border-top: 1px solid #000;
}

.kvno_symptomatics {

}

.kvno_symptomatics table {
	border: collapse;
}

.kvno_symptomatics table tr {
	border-bottom: 1px dashed #ccc;
}

.kvno_symptomatics table th {
	border: 1px solid #ccc;
}

.kvno_symptomatics table td {
	border: 1px solid #ccc;
}

.kvno_komentinput {
	text-align: left;
}

.kvno_komentinput input {
	width: 96%;
	margin: 3px 0 0 3px;
}

.kvno_tinyinpt {
	text-align: center;
}

.kvno_tinyinpt input {
	width: 30px;
}

.kvno_top_labels {
	line-height: 28px;
	display: block;
/* 	width: 105px; */
	width: 155px;
	float: left;
}


.visit_quality{

}
.visit_quality ul{
	float: left;
	list-style: none;
}
.visit_quality ul li{
	float: left;
	width: 130px;
}

.contactform_dragvbox {
	margin: 5px 2px 20px;
	background: #fff;
	position: relative;
	border: 1px solid #d8d8d8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: auto;
	width: 99%;
}

.contactform_dragvbox .groupHeader,
.contactform_dragvbox h2 {
	display: block;
	width: 98.7%;
	margin: 0;
	font-size: 12px;
	padding: 5px;
	background: #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	cursor: pointer;
	color: #000;
}

.contactform_dragvbox .groupHeader {
    font-weight: bold;
}
.contactform_dragvbox .groupHeader.expanded::before {
    content: " - ";
}
.contactform_dragvbox .groupHeader.collapsed::before {
    content: " + ";
}
.contactform_dragvbox .groupHeader .btnControl{
    display:none;
}

.contactform_dragvbox .contactform_dragvbox_content.besuch.collapsed{
    display:none;
}



.contactform_dragvbox_content {
	background: #fff;
	min-height: 50px;
	margin: 5px;
	font-size: 0.9em;
	line-height: 1.5em;
	width: 97%;
}

div.contactform_dragvbox_content table.datatable {
	width: 750px;
	line-height: 150%;
	margin-top: 20px;
}

.medication_container {
	width:100%;
	height:auto;
	display: block;
}

.medication_container p {
	line-height: 140%;
	width: 100%;
	clear: both;
	padding-top: 15px;
	font-size: 15px;
}
div.medication_type_block {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 5px 0 5px 0;
	width: 101%;
	height: auto;
	margin: 5px 0 5px 0;
}

.textarea_full {
	width: 100%;
}

table#social_actions_table.datatable tr.custom_action td{
	background: #ffffc9;
	color: #000;
}

select.sympt_details_select{
	width: 200px;
}
.sgbv_loading_img {
    position: absolute;
    top: 4px;
    left: 130px;
    display:none;
}
.blockOverlay {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #000;
    opacity: 0.75;
}

table.symptom_details{
	border-collapse: collapse;	
}

table.symptom_details td{
	border:0px;
}
#kvno_signs_date{
	width: 90px;
	text-align: center;
}
input.rightAlign{
	text-align: right;
}

.kvno_visit_type{

}
.kvno_visit_type ul{
	float: left;
	list-style: none;
}
.kvno_visit_type ul li{
	float: left;
	width: 130px;
}




 
.bayern_doctor_vboxes {
	display: block;
	float: left;
	width: 100%;
}

.bayern_vboxes_left {
	width: 50%;
	float: left;
}

.bayern_vboxes_right {
	width: 50%;
	float: left;
}

.bayern_dragvbox {
	margin: 5px 2px 20px;
	background: #fff;
	position: relative;
	border: 1px solid #e5e5e5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: auto;
	width: 99%;
}

.bayern_dragvbox h2 {
	display: block;
	width: 97.4%;
	margin: 0;
	font-size: 12px;
	padding: 5px;
	background: #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	cursor: pointer;
	color: #000;
	
}

.bayern_dragvbox_content {
	background: #fff;
	min-height: 50px;
	margin: 5px;
	font-size: 0.9em;
	line-height: 1.5em;
	width: 97%;
}

.bayern_sapvfb3_content {
	display: block;
	width: 100%;
	height: 100%;
}

table.bayern_sapvfb3_table {
	display: block;
	width: 100% !important;
	height: auto;
	border-collapse: collapse;
}

table.bayern_sapvfb3_table tbody {
	display: block;
	width: 100%;
	height: auto;
}

.bayern_sapvfb3_table tr {
	width: 100% !important;
}

.bayern_sapvfb3_table td {
	text-indent: 5px;
}

.bayern_sapvfb3_table td.brd_bottom {
	border-bottom: 1px solid  #f1f1f1;
}
 
.more_sapvfb3 td {
	text-indent: 20px;
}

.more_sapvfb3 th {
	color: #000;
	font-weight: 800;
	line-height: 22px;
	background: #f1f1f1;
	text-indent: 5px;
	text-align: left;
}

.bayern_sapvfb3_table tr.bayern_box_alt td {
	background: #FFFFE0;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

.bayern_sapvfb3_table label {
	display: block;
	float: left;
	width:100%;
}

.bayern_sapvfb3_table label span {
	display: block;
	float: left;
	text-indent: 100px;
}

.bayern_sapvfb3_table tr.bayern_sapvfb3_kmh td {
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
	text-indent: 5px;
	font-weight: 800;
	line-height: 20px;
}
div.bayern_sapvfb3_content b {
	font-size: 14px;
}
 
 
 
 #lmu_pmba_psysoz h3{
 	    color: #53669f;
    font-size: 14px;
 }
 
 
 
 /* SYMPTOME II */
 .client_symptomatics{
 }
 
 .client_symptomatics th{
 	font-weight: 800;
	 border-bottom: 1px solid #000; 
 }
 .client_symptomatics td{
 	padding: 2px;
 }
 .sym_default_row{
 }
 
 .bbotttom{
	 border-bottom: 1px dashed #000; 
 }
 
 
 .cl_sym_row_odd td{
 background: #f8f8f8;
 }
 
 .cl_sym_row_even{
 }
 
 
 .client_symptomatics td .sym_name_drop{
 	width:100%;
 }
 
 .client_symptomatics td .sym_comment{
 	width:100%;
 }
 .sym_care_instruction{
 width: 100%;
 }
 
 .block_ventilation_table{
 }
 .block_ventilation_table label{
 }
 .block_ventilation_table input, 
 .block_ventilation_table textarea{
 	padding:2px; 
 	width:120px;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }
 .block_ventilation_table textarea{
 	width:100%;
 }

/* style the inputs like jquery.chosen */
.todorow input.todo_date,
.todorow input.todo_text {

  width: 100%;
  height: 25px;
  
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
  
  margin: 5px;
  padding: 1px 5px;
  
  outline: 0;
  color: #000;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;

 }
 .todorow div.chosen-container {
 margin: 5px;
 }
 
 .todorow .ui-datepicker-trigger {
 	padding-top:2px;
 }

.time_block{
	display: block; 
	float: left;
	clear: both;
	width: 100%;
}
.billable_days_option{
	display: none;
	width: 100%;
	float: right;
	height: 50px; 
}
.billable_days_option span{
	display: block; 
	float: left;
	border: 0 none;
    font-size: 12px!important;;
    margin: 0;
    outline: 0 none;
    padding: 0;
    line-height: 26px;
	
}
.billable_days_option div{
	display: block; 
	float: left;
	width: 100px;
	margin-left: 10px;
}
.billable_days_option  label{
	line-height: 26px;
	width: 100%;
	float: left; 
	display: block;
}
.billable_days_option  input{
	margin-top: 5px;

}
.hidden_div{
	display: none;
}
.visible_div{
	display: block;
}

table.Infusion_ampoules_extra input{
    width: 60px;
}

.align_right {
    text-align: right;
}



.contactform_dragvbox_content label.required:after {
   content:" *";
   color: #e32;
   display:inline;
}



.contactform_dragvbox_content .label_same_size_auto label,
.contactform_dragvbox_content .SimpleTable label.label_same_size_auto,
.contactform_dragvbox_content .label_same_size_100 label,
.contactform_dragvbox_content .SimpleTable label.label_same_size_100,
.contactform_dragvbox_content .label_same_size_80 label,
.contactform_dragvbox_content .SimpleTable label.label_same_size_80
{
    display: inline-block;
    min-height :20px;    
    padding-left: 15px;
    text-indent: -15px;
    /*font-size: 12px;*/
}

.contactform_dragvbox_content .label_same_size_80 label,
.contactform_dragvbox_content .SimpleTable label.label_same_size_80  {
    width :80px;    
}
.contactform_dragvbox_content .label_same_size_100 label,
.contactform_dragvbox_content .SimpleTable label.label_same_size_100  {
    width :100px;    
}
.contactform_dragvbox_content .label_same_size_auto label,
.contactform_dragvbox_content .SimpleTable label.label_same_size_auto  {
    width :auto;    
}







 
.create_form_visitclasification .print_column_first,
.create_form_visitclasification .cbrdList,
.selector_vc_extra
{
	vertical-align: top;
}
.selector_vc_extra label.optional {
	text-indent: 0px;
}
.selector_vc_extra textarea {
	width: 90%;
	height: 40px;
}
.selector_vc_extra  input {
	width: 60px;
}

.contact_careprocessclinic {
	clear: both;
}

.contact_careprocessclinic .section_problem_header {
	width: 100%;
	padding: 4px;
	float: left;
    box-sizing: border-box;
	margin-top:1px;
	font-weight:bold;
	background-color: #fa7777;
}

.contact_careprocessclinic .section_problem_header.selected{
	width: 100%;
	padding: 4px;
	float: left;
	box-sizing: border-box;
	margin-top:1px;
	font-weight:bold;
	background-color: #f74d4d;
}

.contact_careprocessclinic .section_problem_item   {
	width: 100%;
	padding: 4px;
	float: left;
	height: 30px;

	background-color: #ffcccc;
    box-sizing: border-box;
    display: inline-block;
}

.contact_careprocessclinic .section_target_item   {
	width: 99%;
	padding: 4px;
	float: left;
	height: 38px;

	background-color: #ccfacc;
    box-sizing: border-box;
    display: inline-block;

}

.contact_careprocessclinic .section_resource_item   {
	width: 99%;
	padding: 4px;
	float: left;
	height: 38px;

	background-color: #10d6d6;
	box-sizing: border-box;
	display: inline-block;

}

.contact_careprocessclinic .section_activity_item   {
	width: 100%;
	padding: 4px;
	float: left;
	height: 30px;

	background-color: #ccccff;
	box-sizing: border-box;
	display: inline-block;
}

.contact_careprocessclinic .one_two {
	width: 50%;
}

.contact_careprocessclinic .one_third  {

	width: 35%;
}

.contact_careprocessclinic .one_four  {

	width: 25%;
}

.contact_careprocessclinic .two_third {

	width: 65%;
}

.contact_careprocessclinic .one_ten {

    width: 10%;
}

.contact_careprocessclinic .nine_ten {

    width: 90%;
}

.contact_careprocessclinic .nine_ten input{

    width: 90%;
}

.contact_careprocessclinic .section_problem_header input[type=checkbox]:before
{
	content: ">>";
	width:14px;
	height:14px;
	background: #fa7777;
	display:inline-block;

}
.contact_careprocessclinic .section_problem_header input[type=checkbox]:checked:before
{
	content: "<<";
}

.contact_careprocessclinic .section_problem_header.selected input[type=checkbox]:before
{
	content: ">>";
	width:14px;
	height:14px;
	background:  #f74d4d;
	display:inline-block;

}
.contact_careprocessclinic .section_problem_header.selected input[type=checkbox]:checked:before
{
	content: "<<";
}

.contact_timedocumentationclinic input{

	width: 90%;
}

.contact_timedocumentationclinic input:read-only{

	border: none;
	background-color: white;
}

.contact_timedocumentationclinic .timelog-table{

	table-layout: fixed;
	width: 100%;
}
.contact_timedocumentationclinic .timelog-table{

	table-layout: fixed;
	width: 100%;
}

.contact_timedocumentationclinic table.timelog-table .timelog-headrow th{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: none;
	border-right: none;
	font-weight: normal;
	padding-right: 0px;
	padding-left: 0px;
}

.contact_timedocumentationclinic table.timelog-table .timelog-sumrow td{
	font-weight: bold;
	font-size: 12px;
	padding: 4px;
	border-top: 2px solid black;
}

.contact_timedocumentationclinic table.timelog-table #timelog-addrow td{
	background-color: #60c2e2;
}





/*ISPC-2470 Carmen 29.10.2019*/
#tbl_vitalsigns input {
	width: 60px;
}
/*#tbl_vitalsigns select {
	width: 40px;
}*/
#tbl_vitalsigns .datepick {
	width: 120px;
}
/*#tbl_vitalsigns .lbltd {
	width: 76px;
	word-break: break-all;
	display: block;
}  */

#block-Infusion_content .labeldiv {
	display: inline-block;
	width: 100px;
}

#block-Infusion_content .dont_Show {
	display: none;
}	
	
/*ISPC-2488 Lore 22.11.2019*/
.create_form_delegation .print_column_first,
.create_form_delegation .cbrdList,
.selector_d_extra
{
	vertical-align: top;
}	
.selector_d_extra textarea {
	width: 90%;
	height: 10px;
}
.selector_d_extra label.optional {
	text-indent: 0px;
}
.selector_d_extra textarea {
	width: 90%;
	height: 40px;
}
.selector_d_extra  input {
	width: 60px;
}

/* ISPC-2487 Ancuta  */

 .coordinator_actions_history_block{
    background:#f3f3f3;
    width: 100% ;
 	display: block;
 	float: left;
 	display: none; 
 	
 }
 .coordinator_actions_history_block h2{
 	width: auto;
 	text-align: center;
    background:#f3f3f3;
 	color: #000;
 	padding:0px;
 	line-height: 20px;
 	border: 0px;
 }
 .coordinator_actions_history_block table{
 	
 }
 .coordinator_actions_history_block table td{
 	padding: 0px;;
 	line-height: 16px;
 	text-align: center;
 	border:1px solid #bbb;
 }
 
 
.ca_filled{
	background: #73f58a;
 }
 
 
 .coordinator_actions_history_block table td.ca_labels_history{
 	padding: 0px;;
 	line-height: 16px;
 	text-align: left;;
 	width:10%;
 }
 .coordinator_actions_history_block table th{
 	text-align: center;
 	padding: 0px;;
 	line-height: 16px;
 }

/*ISPC-2508 Carmen 30.01.2020*/
#block-KünstlicheZugängeAusgänge_content .artificial_table td:nth-child(1) {
	width: 90px;
}

#block-KünstlicheZugängeAusgänge_content .artificial_table td:nth-child(2), #block-KünstlicheZugängeAusgänge_content .artificial_table td:nth-child(3) {
	width: 80px;
}

#block-KünstlicheZugängeAusgänge_content .artificial_table td:nth-child(4) {
	width: 120px;
}

#block-KünstlicheZugängeAusgänge_content .artificial_table td:nth-child(5) {
	width: 140px;
}
 
#block-KünstlicheZugängeAusgänge_content .artificial_table td:nth-child(6) {
	width: 40px;
}

#block-KünstlicheZugängeAusgänge_content .artificial_table {
	word-break: break-all;
}

#block-KünstlicheZugängeAusgänge_content .SimpleTable {
	width: 100%;
}

.ui-dialog-buttonset .rightButton {
	float: right;
}

/*TODO-3284 Carmen 17.07.2020*/
#clientsymptoms .selector_th_1 {
	max-width: 300px;
	min-width: 300px;
}
#clientsymptoms .selector_th_2, #clientsymptoms .selector_th_3 {
	min-width: 90px;
}
#clientsymptoms .selector_th_4 {
	min-width: 180px;
}
/* // */


/* Maria:: Migration CISPC to ISPC 22.07.2020  */ 


#block-discharge_planning_clinic_content table td.date{
	width:110px;
	float: left;
}

#block-discharge_planning_clinic_content table td.date input.fbkvdisdate{
	background:#fff url(../../images/roomplan/btn-date.svg) calc(100% - 6px) 50% no-repeat;
	background-size:17px auto;
}

#block-discharge_planning_clinic_content .dischargeplanning_clinic td input[type="text"],
#block-discharge_planning_clinic_content .dischargeplanning_clinic td select {
	width:100%;
	height:30px;
	border-radius:6px;
	box-sizing:border-box;
	background:#ffffff;
	border:1px solid #D8D8D8;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
	transition:border 0.3s ease;
	margin:0;
}

#block-discharge_planning_clinic_content .dischargeplanning_clinic td select {
	background:#f2f2f2;
}

#block-screen_depression_clinic input:read-only{

	border: none;
	background-color: white;
}

#block-screen_depression_clinic td select {
	width:80%;
	height:30px;
	border-radius:6px;
	box-sizing:border-box;
	background:#f2f2f2;
	border:1px solid #D8D8D8;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
	transition:border 0.3s ease;
	margin:0;
}

#block-screen_depression_clinic .freetext {
	width:80%;
	border-radius: 6px;
	height: 25px;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
}

#block-talkwith .SimpleTable {
	display: table;
}

#block-talkwith td select {
	width:100%;
	height:30px;
	border-radius:6px;
	box-sizing:border-box;
	background:#f2f2f2;
	border:1px solid #D8D8D8;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
	transition:border 0.3s ease;
	margin:0;
}

#block-talkwith .freetext {
	width:98%;
	border-radius: 6px;
	height: 25px;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
}

#block-talkcontent .SimpleTable {
	display: table;
}

#block-talkcontent .headline {
	width:98%;
	font-weight: bold;
	border-radius: 6px;
	height: 25px;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
	padding-top:15px;
}

#block-talkcontent .noheadline {
	width:98%;
	border-radius: 6px;
	height: 15px;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
}

#block-talkcontent .freetext {
	width:98%;
	border-radius: 6px;
	height: 15px;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
}

#block-palliativassessment .palassitem {
	width:100%;
	height:30px;
	border-radius:6px;
	box-sizing:border-box;
	background:#f2f2f2;
	border:1px solid #D8D8D8;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
	transition:border 0.3s ease;
	margin:0;
}

#block-palliativassessment .freetextrow {
	width: 100%;
	height: 160px;
	border-radius:6px;
	box-sizing:border-box;
	background:#f2f2f2;
	border:1px solid #D8D8D8;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
	transition:border 0.3s ease;
	margin:0;
}
/*ISPC-2629 Carmen 10.08.2020*/
.visitshistory {
	/*top: 445px;
	left: 1080px;*/
	position: absolute;
	width:300px;
	height:auto;
	min-height: 190px;
	max-height: 800px;
	display:inline-table;
	
	/*left:1030px;
	margin-top:50px;*/
	margin-left: 50px;
	
	display: inline-block;
	background: rgba(245,245,245,0.25);
	border: 1px solid rgba(159,159,159,0.25);
	padding:3px 3px;
/* 	TODO-4058 Ancuta 20.04.2021*/
/* 	z-index: 101; */
/* 	z-index: -1; */  /* 	TODO-4058 Ancuta 20.04.2021*/
	z-index: 1;
/* 	/-- */
	overflow: auto;
	 

}
.visitshistory h3 {
	color:#000;
	padding:10px 5px;
	margin:0;
	background:url('../../images/visit_history/historyback.svg') 2px 50% no-repeat;
	padding-left:28px;
	background-size:20px auto;
	margin-bottom:3px;
}

.visitshistory ul {
	margin:0;
	padding:0;
	width:100%;
}
.visitshistory ul li {
	background: #F3F3F3;
	font-size: 13px;
	border-radius:6px;
	display:inline-table;
	padding:9px;
	width:100%;
	box-sizing:border-box;
	transition:all 0.3s ease;
	margin-bottom:3px;
}
.visitshistory ul li:hover {
	background-color: #EDEDED;
	cursor:pointer;
}


.visitshistory ul li .details {
	display:none;
	margin-top:10px;
	margin-bottom:5px;
	border-top:1px solid #D8D8D8;
	width:100%;
	padding-top:5px;
}
.visitshistory ul li:hover .details {
	display:inline-table;
	}

.visitshistory ul li .name {
	width:60%;
	/*display:inline-table;*/
	padding-top:3px;
}
.visitshistory ul li .visit_date {
	float:right;
	background:url(../../images/visit_history/dategray.svg) 0% 50% no-repeat;
	background-size:16px auto;
	padding-left:20px;
	margin-left: 2px;
	height: 16px;
}
.visitshistory .header {
	width: 100%;
}
.openinmodal
{
	display: none;
}
/* // */


.group_hide{
	display:none;
}
.group_show{
	display: block;
}
.text_data-pmba2{
	width:200px;
	height:100px;
	border:1px solid lightgrey;
}
.lmu_pmba2_col2{
	width:220px;
	vertical-align:top;
}
.lmu_pmba2_col3{
	width:300px;
	vertical-align:top;
}

.lmu_pmba2_col3_1{
	width:350px;
	vertical-align:top;
}

/*ISPC-2663 Carmen 02.09.2020 */
#block-talkwithsingleselection td select {
	width:100%;
	height:30px;
	border-radius:6px;
	box-sizing:border-box;
	background:#f2f2f2;
	border:1px solid #D8D8D8;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
	transition:border 0.3s ease;
	margin:0;
}

#block-talkwithsingleselection .freetext {
	width:98%;
	border-radius: 6px;
	height: 25px;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
}
/* // */



.medication_edit_table{
	z-index: 2;
	position: relative;
}