/*
Maria:: Migration CISPC to ISPC 22.07.2020
*/
/* start full width for #MainContent (auto) */
body>div.outer{
	width: 100%!important;

}
body>div.outer>div#Wrapper {
	width: 100%!important;
	min-height: 5px;
	overflow: hidden;

}
body>div.outer>div#Wrapper>div.LeftDiv {
	float: left;
	width: 200px;
	overflow: hidden;
	min-height: 100px;
}
body>div.outer>div#Wrapper>div#MainContent {
	width: auto!important;
	display: block; /*default display for div */
	float: none;/*default float for div*/

	padding-left:10px;
	padding-right:30px;

	min-height: 100px;
	overflow: hidden;
}
div#MainContent table.datatable td {
	padding-left:5px;
	padding-right:5px;
}
div#MainContent table.datatable.overalllistatable textarea {
	width: 100%;
}

div#MainContent table.datatable.halflisttable textarea {
	width: 100%;
	height: 100px;
}

body {
	overflow-x: hidden;
}

/*
- Added on 29.08.2018 Ancuta
*/
.ui-datepicker{
	z-index: 4!important;
}
tr.multiple_inputrow td{
	padding:0px;
	text-align:center;
}
tr.multiple_inputrow input{
	border:0px;
}
tr.multiple_inputrow td{
	padding:4px;
}

.datatable input{
	width: 98%;
}

h1.display_help_icon {
	background-image: url(../../images/help_transp.gif);
	background-repeat: no-repeat;
	background-position: 140px;
	background-size: 25px 25px;
	line-height: 50px;
}
.display_help {
	display: block;
	width: 45%;
	border: #b3bed7 1px solid;
	padding: 10px;
	margin: 25px 40px 25px 10px;
}
.display_help h4{
	color: #b3bed7;
}

.error_display_field {
	border: red 1px solid;
}

.error_display_area {
	display: block;
	width: 45%;
	height: 12px;
	color: red;
	border: red 2px solid;
	padding: 10px;
	margin: 25px 40px 25px 40px;
}

.ui-dialog-titlebar-close {
	visibility: hidden;
}

.ui-widget input{
	background-color: white;
}

input:read-only {
	background-color: white;
	border: none;
}
input:read-only.error_display_field {
	border: red 1px solid;
}

.area_header input{
	font-size: 16px;
	color: #b3bed7;
}

.theme {
	background-color: #fa7777;
}

.datatable th.problem   {
	background-color: #ffcccc;
}

.datatable th.resource   {
	background-color: #10d6d6;
}

.datatable th.target   {
	background-color: #ccfacc;

}

.datatable th.action   {
	background-color: #ccccff;
}

.help_theme {
	background-color: #fa7777;
}

.help_problem {
	background-color: #ffcccc;
}

.help_resource {
	background-color: #10d6d6;
}

.help_target {
	background-color: #ccfacc;
}

.help_action {
	background-color:#ccccff;
}

