/*
Maria:: Migration CISPC to ISPC 22.07.2020
*/

div.config-container {
	display: inline-table;
	width: 100%;
	margin-top: 25px;
	font-family: arial;
	box-sizing: border-box;
	position:relative;
	float:none;
}

div.config-container .readonly {
	background-color: white;
}

div.config-container .bp-container {

	/**background: rgba(245,245,245,0.25);*/
	border: 1px solid rgba(159,159,159,0.25);
	padding:25px;
	margin:10px;

}

div.config-container h1 {
	font-size: 20px;
	font-family:Arial;
	font-weight: bold;
	margin:15px 15px;
	padding:0;
	padding-bottom:5px;
	color:#000;
}

div.config-container .bp-container h2 {
	font-size: 16px;
	font-family:Arial;
	font-weight: bold;
	padding:0;
	padding-bottom:5px;
	color:#b3bed7;
}

div.config-container .bp-container .datatable input{
	width: 98%;
}


div.config-container .bp-container .bp-block{
	margin-top: 25px;
}

div.config-container .bp-container .bp-block select{
	margin-top: 15px;
}

.btnSpeichern {
	display: inline-block;
	box-sizing: border-box;
	width: calc(100% - 16px);
	max-width: 1200px;
	margin-left: 8px;
	margin-bottom:8px;
	height: 47px;
	background: #00A2FF url(../../images/roomplan/btn-checkmark-white.svg) calc(50% - 100px) 50% no-repeat;
	background-size: 21px auto;
	border: 0;
	border-radius: 6px;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
	padding-left: 25px;
	transition: background-color 0.3s ease;
}

.btnSpeichern:hover {
	cursor:pointer;
	background-color:#008AD9;
	transition:background-color 0.3s ease;

}









