.new_row{
	background: transparent url("../../images/action_add.png") center no-repeat;
	border: 0px;
	width:20px;
	height:20px;
}
.delete_row{
	background: transparent url("../../images/action_delete.png") center no-repeat;
	border: 0px;
	width:20px;
	height:20px; 
}
 
tr.deleted td{
	background-color: #FFBABA;
} 

tr.deleted td input{
/* 	background: transparent; */
/* 	border: 0px;  */
/* 	text-decoration: line-through; */
} 
 
 