/*
* Maria:: Migration CISPC to ISPC 22.07.2020
*/
body {
	overflow-x: hidden;
}

.mydatepick {
	width: 70px;
}

#entlassplanung table,
#entlassplanung th,
#entlassplanung td {
	border: none;
	border-collapse: separate;
}

#entlassplanung td.label {
	width: 20%;
}

#entlassplanung div,
#entlassplanung h2 {
	margin-top: 12px;
}

#entlassplanung div.suggestionbox {
	padding: 0px;
	margin-top: -2px;
	display: none;
}

#entlassplanung div.suggestionbox .suggitem {
	width: 100%;
	padding: 2px;
	border: 1px solid #b3bed7;
	margin: 0px;
	cursor: pointer;
}

#entlassplanung div.suggestionbox .suggitem:hover {
	border: 1px solid #b3bed7;
	background-color: #f6ffd1;
}

#entlassplanung .log_discharge {
	background-color: #ffffff;
	font-size: 10px;
	width: 200px;
	border: none;
	font-style: italic;
	color: #333;
}

#entlassplanung select.destinations {
	min-width: 360px;
	width: 360px;
	max-width: 360px;
}

#entlassplanung select.black {
	background-color: black;
	color: orange;
}

#entlassplanung select.white {
	background-color: white;
	color: black;
}

#entlassplanung select.yellow {
	background-color: yellow;
	color: black;
}

#entlassplanung select.orange {
	background-color: #FFA500;
	color: black;
}

#entlassplanung select.green {
	background-color: #00b300;
	color: black;
}

#entlassplanung select.red {
	background-color: #ff4d4d;
	color: black;
}


#entlassplanung input:read-only {
	background-color: white;
	border: none;
}

#entlassplanung input.discharge_input {
	min-width: 50px;
	max-width: 250px;
}

#entlassplanung input.input_large {
	min-width: 360px;
	width: 360px;
	max-width: 600px;
}
#entlassplanung input.contact {
	min-width: 360px;
	width: 360px;
	max-width: 600px;
}

#entlassplanung input[type=submit]{
	padding:8px;
	margin:22px;
	cursor:pointer;
}

/* Add a background color on hover */
#entlassplanung input[type=submit]:hover {
	background-color: #BDE5F8;
}

.error_display_field {
	border: red 2px solid;
}

.error_display_area {
	display: block;
	width: 45%;
	height: auto;
	color: red;
	border: red 2px solid;
	padding: 10px;
	margin: 25px 40px 25px 40px;
}

 
 
 