
form#discharge_planning{
	float: left;
	display: block;
	width: 100%;
}


.planning_table {
	width: 100%;
	line-height: 150%;
	margin-top: 20px;
}

.planning_table td {
	padding-left: 5px;
	line-height: 200%;
	border: 1px solid #000;
}

.planning_table th {
	line-height: 200%;
	border: 1px solid #000;
	padding-left: 5px;
	background-color: #f3f3f3;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
}
 


.planning_table_sec{
	
}


.planning_table_sec {
	width: 100%;
	line-height: 150%;
	margin-top: 20px;
}

.planning_table_sec td {
	cursor: pointer;
	padding-left: 5px;
	line-height: 200%;
	border:0;
}
.planning_table_sec td  textarea {
	height: 80px;
	width: 96.5%;	
}
.planning_table_sec td  textarea.txt_big {
	width: 98.5%;	
}
.planning_table_sec td  table.time_km {
	width: auto;	
}
.planning_table_sec td  table.time_km td.driving_time {
	width: 50px;	
}

.planning_table_sec td  table.time_km td.driving_distance {
	width: 50px;	
}

.planning_table_sec td  table.time_km td.driving_sep {
	width: 10px;	
}
 
.planning_table_sec td  table.time_km td.driving_time  input {
	width: 65px;	
}
.planning_table_sec td  table.time_km td.driving_distance  input {
	width: 65px;	
}

.time_field{
	width:35px;
}

.datepick{
	
    background-color: #F2F2F2!important;
    border: 1px solid #BBBBBB!important;
    border-radius:0!important;
    padding: 2px;
    font-size: 12px;
    margin: 3px 0;
    line-height: 14px;
}


.extra_size{
	width: 98.5%;
}

.full_size{
	width: 96.5%;
}

.existing_aid{
	height: 77px;
    width: 227px;
}

.other_pflege_table{
	
}


.other_pflege_table td table{
	width: 100%;
		
}

.other_pflege_table td table td input{
	width:150px!important;
}


form.contactperson_modal {
	padding: 0 20px 0 20px;	

}

form.contactperson_modal div{
	display: block;
	float: left;
	width: 100%;
}


form.contactperson_modal div label{
	display: block;
	float: left;
	width: 200px;
	line-height: 26px;
}

form.contactperson_modal div input{
	display: block;
	float: left;
}
form.contactperson_modal div textarea{
	display: block;
	float: left;
	height: 50px;
}


.planning_table_aid{
	width: 99%;
 
}
.planning_table_aid th{
	color: #000;
	font-size: 12px;
	background: #F3F3F3;
}
.planning_table_aid td{
	border:1px solid #000000;
}


.planning_table_aid_supp{
	display:block;
	float:right;
	width: 98%;
	border-collapse: collapse;
	border:1px solid #e4e4e4;
	margin-right: 6px;
}
.planning_table_aid_supp td{
	border: 0px;
	line-height: 12px;
	padding:0px;
}
.planning_table_aid_supp td input{
	width: 120px;
}























