body {
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
text-decoration:none;
font-weight:normal;
color:#4a565c;
}
 
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
}
.emergency_form{
	margin: 0 10px 0 10px;
}
 .emergency_parg{
 	font-size: 14px;
line-height: 22px;
 }
 .emergency_header {
	height:30px;
	border-bottom:solid 1px #000000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}
 
/*-----------------------------------------------------*/
.emergency_topline {
	
}
.emergency_topline span{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 30px;
	margin-top:3px;
	font-size: 14px;
}
.emergency_diagn{
	 line-height: 18px;
	 font-size: 14px;
}



.emergency_table {
	width: 100%;
	text-align: center;
	border:collapse;
		border: 1px solid #999;
}
.emergency_table  th{
	border: 1px solid #999;
}
.emergency_table  td{
	border: 1px solid #999;
}
.emergency_table th{
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}
.em_right{
	width: 55%;
}
.em_right input{
	width: 97%;
	margin: 3px 0 3px 5px;
}
.em_left{
	width: 45%;
}
.em_left input{
	width: 95%;
	margin: 3px 0 3px 5px;
}
.emergency_date_city{
	font-size: 14px;	
}
.date_city{
	width: 600px;
	display: block;

}
.date_city_underline{
	border-top: 1px dashed #000;
}
.emergency_geset{
	display: block;
	
}
.emergency_geset input{
	float: left;
}
.emergency_geset input#gesetzliche{
	float: left;
	width: 330px;
}
.emergency_gesevert {
	float: left;
	width: 150px;
	line-height:22px;
	font-size: 14px;
}
.emergency_voll{
 float: left;
 margin: 5px 0 0 5px; 
 font-size: 14px;
}
.emergency_voll span{
	float: left;
}
.emergency_voll label{
	float: left;
	margin: 0 0 0 10px
}
.emergency_voll input{
	float: left;
	margin:0 5px -10px 5px;
}