body {
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
text-decoration:none;
font-weight:normal;
color:#4a565c;
}
.headline_notfall_sapv24 {
	text-align: center;
	height:30px;
	padding-bottom: 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}
.headline_notfall_sapv24 span {
	border-bottom: 1px solid #000;
}
.headline_notfall_sapv24.left_align{
	float: left;
}
.headline_notfall_sapv24.right_align{
	float: right;
}
.emergenty_plan_sapv24{
	width: 100%;
	display: block;
	float: left;
}
.emergenty_plan_sapv24_table {
 	width: 100%;
 	border: 1px solid #000;
}
.no-border {
	border:  0!important;	
}
.emergenty_plan_sapv24_table td, .emergenty_plan_sapv24_table td {
	padding: 0px 2px 0px 2px;
	vertical-align: top;
}
.emergenty_plan_sapv24_table td.left_td_col {
	width: 100%;
	text-align: left;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
.emergenty_plan_sapv24_table td.right_td_col {
	width: 100%;
	text-align: right !important;
	border-bottom: 1px solid #000;
}
.emergenty_plan_sapv24_table td.center_td_col {
	text-align: center !important;
}
.half {
	width: 50% !important;
} 
.emergenty_plan_sapv24_table textarea {
	width: 95%;
}
.quart {
 	width: 25% !important;
}
.fifteen {
	width: 15% !important;
}
.twenty {
	width: 20% !important;
}
.ninety{
	width: 90% !important;
}
.five {
	width: 5% !important;
}
.ten {
	width: 10% !important;
}
.sixtyfive {
	width: 65% !important;
} 
.forty {
	width: 40% !important;
} 
.thirty {
	width: 33.33% !important;
}
.thirtyfive {
	width: 35% !important;
}
.two {
	width: 2.5% !important;
}
.bold {
	font-weight:bold;
}
.emergenty_plan_sapv24_patientinfo_half {
 	width: 100%;
}
input.datepick {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	/*     padding: 2px; */
	border-radius: 0;
	font-size: 12px;
	width: 115px;
}
.ui-datepicker-trigger {
	position: relative;
}
.bigfont {
	font-size: 14px;
}
td.vert_middle {
	vertical-align: middle;
}
input.large_text {
	width: 97%;
}
input.large_textarea {
	width: 98%;
}
.medication_add_link {
    display: block;
    height: 32px;
    margin: 0px 0 10px 0;
    color: #1b346f;
    width: auto;
    background: transparent url('../../images/edit_add.png') no-repeat top left;
    padding-left: 35px;
    vertical-align: middle;
    text-align: left;
    line-height: 32px;
    font-size: 14px;
    text-decoration: none;
}
.medication_delete_link {
    display: block;
    height: 25px;
    width: auto;
    background: transparent url('../../images/action_delete.png') no-repeat top left;
    margin-top: 8px;
	margin-bottom: -8px;
	margin-left: 8px;
}
.vmiddle {
	vertical-align: middle !important;
}
.vtop {
	padding: 0px 2px 10px 2px !important;
}
 