body {
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
text-decoration:none;
font-weight:normal;
color:#4a565c;
}
 
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
}

.emergenty_plan_sapv{
	width: 100%;
	display: block; 
	float: left;
}

form#emergenty_plan{
	margin: 0 10px 0 10px;
}


 .headline {
	height:30px;
	border-bottom:solid 1px #000000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}
 
 .emergenty_plan_sapv_table{
 	width: 100%;
 }

.emergenty_plan_sapv_table td{
	border:  1px solid #ccc;	
	padding: 5px 2px 5px 2px;
	vertical-align: top;
} 
.no-border td{
	border:  0!important;	
} 


.emergenty_plan_sapv_table td.left_td_col{
	width: 40%;
} 
 
.emergenty_plan_sapv_table td.left_td_col{
	width: 40%;
} 
 
.emergenty_plan_sapv_table td.empty_td{
	width: 10%;
} 

.emergenty_plan_sapv_table td.td_text{
	font-size: 14px;
} 
 
.emergenty_plan_sapv_table td.sms_input_td{
	font-size: 14px; 
	font-weight: 400;
		
} 
.emergenty_plan_sapv_table td.radio_label_td{
	text-align: center;
	width: 10%; 

} 
.emergenty_plan_sapv_table td.radio_td{
	text-align: center;
	width: 10%;		
} 
 

 
.emergenty_plan_sapv_table td.lgs_label_td{
	font-size: 16px; 
	font-weight: 800;
} 
.emergenty_plan_sapv_table td textarea.eps_textarea{
	height: 100%;
	width: 97.5%;
	
} 
 
.emergenty_plan_sapv_table td  input[type=text] {
	width: 97%;
	
}

 
 
 
 
 
 
 
 
 
 
 
 