/*expanding buttons 2020-06-09*/
.extrabuttons {
	display:inline-table;
	 
	width:80px;
	height:80px;
	position:fixed;
	bottom:72px;
	box-sizing:border-box;
	right:72px;
	border-radius:70px;
	z-index:98;
	overflow:hidden;
	display:block;
	 
}
 

.extrabuttons > .btnPrev, .extrabuttons > .btnTop, .extrabuttons > .btnNext {
	border-radius:50%;
	width:50px;
	height:50px;
	background-color:#00a2ff;
	border:0;
	display:block;
	overflow:hidden;
	position:absolute;
	right:-150px;
	opacity:0;
	transition:right 0.3s ease, opacity 0.3s ease;
		
}
.extrabuttons > .btnPrev:hover, .extrabuttons > .btnTop:hover, .extrabuttons > .btnNext:hover {
	border:0px solid red;
	background-color:#008CDC;
	transition:background-color 0.3s ease;
}



.patient-main-add-btn:hover ~ .extrabuttons, .extrabuttons:hover {
	border:0px solid red;
	width:270px;
	 
}

.patient-main-add-btn:hover ~ .extrabuttons > .btnNext, 
.extrabuttons:hover > .btnNext,
.patient-main-add-btn:hover ~ .extrabuttons > .btnTop, 
.extrabuttons:hover > .btnTop,
.patient-main-add-btn:hover ~ .extrabuttons > .btnPrev, 
.extrabuttons:hover > .btnPrev   {
	display:block;
	float:left;
	margin-right:10px;
	margin-top:13px;
	cursor:pointer;
	transition:right 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
	opacity:1;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.15);
box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.15);



}
.extrabuttons > .btnNext {
	background:#00a2ff url(../../images/patient_header/arr-right.svg) calc(50% + 2px) 50% no-repeat;
}
.extrabuttons > .btnPrev {
	background:#00a2ff url(../../images/patient_header/arr-left.svg) calc(50% - 2px) 50% no-repeat;
}
.extrabuttons > .btnTop {
	background:#00a2ff url(../../images/patient_header/arr-top.svg) 50% 50% no-repeat;
}



.patient-main-add-btn:hover ~ .extrabuttons > .btnNext, 
.extrabuttons:hover > .btnNext {
	right:80px;
	transition-delay:0.2s;
}
.patient-main-add-btn:hover ~ .extrabuttons > .btnTop, 
.extrabuttons:hover > .btnTop {
	right:135px;
	transition-delay:0.1s;
}
.patient-main-add-btn:hover ~ .extrabuttons > .btnPrev, 
.extrabuttons:hover > .btnPrev {
	right:190px;
}

/* NEW PLUS BTN ICON */
.patient-main-add-btn {
	background-image:url(../../images/patient_header/plus.svg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	font-size:0;
	width:80px;
	height:80px;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.15);
}
