body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
ul {
	list-style:none;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
	margin:8px 0 0 10px;
}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
}
form .error {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .NewError {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .contentlist {
	margin: 0;
	padding: 0;
	width:100%;
	display:block;
}
form .contentlistRight {
	width:auto;
	margin-left:20px;
}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
	clear:both;
}
#Palliative {
	width:750px;
	margin:0 auto;
	height:auto;
	margin-top:20px;
	color:#000000;
}
.Palliative_Heading {
	width:750px;
	height:30px;
	border-bottom:solid 1px #000000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}
.Palliative_Heading_Left {
	height:auto;
	width:auto;
	margin-right:20px;
	float:left;
}
.Palliative_Heading_Right {
	height:auto;
	width:auto;
	float:right;
	text-align:right;
}
.Palliative_Header {
	width:750px;
	margin:0 auto;
	height:auto;
	margin-top:15px;
	border-left:solid 3px #000000;
	border-right:solid 3px #000000;
	border-top:solid 2px #000000;
	border-bottom:solid 2px #000000;
	margin-top:20px;
	font-size:14px;
}
.Palliative_Contnet_Outer {
	display:block;
	width:585px;
	height:auto;
	float:left;
}
.Palliative_Contnet_Outer .Patient_Name {
	background:#f3f3f3;
	width:auto;
	float:left;
	margin-left:10px;
	padding:5px;
}
.Patient_Name label {
	width:441px;
}
.BorderDiv {
	background:#000000;
	height:2px;
	width:100%;
}
.IdInfo {
	background:#f3f3f3;
	width:153px;
	float:left;
	border:solid 2px #000000;
	border-top:0px;
	border-right:0px;
	padding:5px;
}
.ClrBoth {
	clear:both;
}
.Palliative_Header .Address_Info {
	width:auto;
	height:auto;
	display:block;
}
.Palliative_Header .Address_Info_Outer_list {
	width:350px;
	height:auto;
	float:left;
	margin-bottom:10px;
}
.Palliative_Header .Address_Info_Outer {
	width:auto;
	height:auto;
	display:block;
	margin-top:10px;
	float:left;
}
.Palliative_Header .Address_Info_left {
	width:140px;
	height:auto;
	float:left;
	margin-left:10px;
	margin-right:5px;
}
.Palliative_Header .Address_Info_right {
	width:180px;
	height:auto;
	float:left;
}
.MarginZero {
	margin:0px 0 0 1px;
}
.GrayDivider {
	float:left;
	width:2px;
	height:25px;
	background:#c0c0c0;
	margin:113px 12px 0px 5px;
}
.Palliative_Header .Address_Info_Outer_listMargin {
	margin-top:65px;
}
#CheckboxGrids {
	width:100%;
	height:auto;
	border:solid 1px #000000;
	margin-top:10px;
	display:block;
}
.CheckboxGrids_heading {
	line-height:23px;
	display:block;
}
.CheckboxGrids_heading_left {
	line-height:23px;
	display:block;
	width:auto;
	float:left;
}

.CheckboxGrids_heading_left label {
	width:auto;
	padding-right:5px;

}

.checkBox_hor_border {
	margin-left:-8px;
	margin-right:-8px;
	border-top:solid 1px #000000;
}

.CheckboxGrids_left {
	width:auto;
	height:auto;
	border-right:solid 1px #000000;
	float:left;
	padding:8px;
	margin-right:10px;
}

.CheckboxGrids_left .CheckboxGrids_left_textBox_heading {
	width:150px;
	margin-top:5px;
	float:left;
}
.CheckboxGrids_left .CheckboxGrids_left_textBox {
	width:65px;
	float:left;
	margin-top:5px;
}

.CheckboxGrids_left .CheckboxGrids_left_textBox input
{	width:45px;
	margin:0;
}

.ForBorder {
	border:none;
	margin:0;
	
}
#CheckboxGrids .CheckboxGrids_left_width {
	width:256px;
}
#CheckboxGridsGray .CheckboxGrids_left_width {
	width:256px;
}
#CheckboxGridsGray {
	width:100%;
	height:auto;
	border:solid 1px #000000;
	margin-top:10px;
	display:block;
	background:#f3f3f3;
}
.RowThree {
	width:145px;
	float:left;
}
.RowFour {
	width:35px;
	float:left;
}
/*ISPC-2500 Lore 10.01.2020*/
.RowFourFirst {
	width:60px;
	float:left;
}
/*.*/
.RowFive {
	width:25px;
	float:left;
	margin-right:30px;
}
.textAlign_center {
	text-align:center;
}

.textAlign_center td
{	text-align:center;
}
.RelevanteListOuter {
	width:97%;
	height:auto;
	display:block;
	margin-top:10px;
}
.Relevante_Symptome_Heading {
	width:100%;
	height:auto;
	padding:10px;
}
.margin_left_ten {
	margin-left:10px;
}
.margin_left_five {
	margin-left:5px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.textAlign_right {
	text-align:right;
}
.margin_left_five {
	margin-left:5px;
}
.padding_five {
	padding:5px;
}
#auch_Palliativstation {
	width:100%;
	height:auto;
	border:solid 1px #000000;
	margin-top:10px;
	display:block;
	line-height:22px;
}
#auch_Palliativstation input, label {
	margin:0px;
	padding:0;
	height:22px;
}
#auch_Palliativstation .col_one {
	width:30px;
	float:left;
	border-right:1px solid black;
}
#auch_Palliativstation .col_two {
	width:80px;
	border-right:1px solid black;
	float:left;
}
#auch_Palliativstation .col_three {
	width:219px;
	float:left;
}
#auch_Palliativstation .col_four {
	width:150px;
	float:left;
	border-right:1px solid black;
}
#auch_Palliativstation .col_five {
	width:336px;
	display:block;
	float:left;
}
#auch_Palliativstation .middle_div {
	width:auto;
	display:block;
}
#auch_Palliativstation .col_six {
	width:111px;
	float:left;
}
#auch_Palliativstation .auch_outer_div {
	width:auto;
	float:left;
}
#auch_Palliativstation .auch_outer_div_for_radio {
	width:auto;
	float:left;
}
.border_bottom {
	border-bottom:1px solid black;
}
.border_right {
	border-right:1px solid black;
}
.border_top {
	border-top:1px solid black;
}
.border_left {
	border-left:1px solid black;
}
.padding_left_right {
	padding:0 10px 0 10px;
}
#grids_layout_for_checkbox {
	width:100%;
	float:left;
	display:block;
	margin-top:10px;
	line-height:15px;
}
#grids_layout_for_checkbox input {
	width:auto;
	margin:0 auto;
	padding:0;
	margin-bottom:1px;
	margin-top:1px;
}
#grids_layout_for_checkbox table {
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	text-align:center;
}
#grids_layout_for_checkbox td {
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	padding:5px 0 5px 5px;

}
.textAlign_left {
	text-align:left;
}

td.textAlign_left
{	text-align:left;
}

.CheckboxGrids_left {
	width:auto;
	height:auto;
	border-right:solid 1px #000000;
	float:left;
	padding:8px;
	margin-right:10px;
}

.rightBorderNone
{	border-right:none;
}

.RowTwo {
	width:auto;
	float:left;
	line-height:28px;
}

.CheckboxGrids_heading_Margin {
	line-height:23px;
	display:block;
	margin-left:20px;
}

#auchPall_textbxgrid
{ width:100%;
height:auto;
border:solid 1px #000000;
margin-top:10px;
display:block;
line-height:22px;
}

#auchPall_textbxgrid input, label
{ margin:2px;
	padding:0;
	width:90%;

}

#auchPall_textbxgrid .col_one
{ width:30px;
float:left;
border-right:1px solid black;
}

#auchPall_textbxgrid .col_two
{ width:80px;
border-right:1px solid black;
float:left;
}

#auchPall_textbxgrid .col_three
{ width:219px;
float:left;
}

#auchPall_textbxgrid .col_four
{ width:150px;
float:left;
border-right:1px solid black;
}

#auchPall_textbxgrid .col_five
{ width:336px;
display:block;
float:left;
}

#auchPall_textbxgrid .middle_div
{ width:auto;
display:block;

}

#auchPall_textbxgrid .col_six
{ width:111px;
float:left;

}


#auchPall_textbxgrid .auch_outer_div
{ width:auto;
float:left;

}

