/*body {
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#4a565c;


}*/
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin: 0 auto;
	padding: 10px;
	width: 780px;
}

.DatumRight {
	width: auto;
	float: right;
	text-align: center;
	margin-right: 30px;
}

.left {
	float: left;
}

.ClrBoth {
	clear: both;
}

#form1_wurzburg {
	width: 97%;
	font-size: 17px;
	color: #000000;
	padding: 15px;
}

#form1_wurzburg h1 {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 50px;
	color: #000000;
}

#form1_wurzburg h2 {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: bold;
	color: #000000;
}

#form1_wurzburg_Cntent {
	width: 100%;
	display: block;
}

.LftBx {
	width: auto;
	float: left;
}

.BtmMrgn {
	margin-bottom: 20px;
}

#OrtDiv {
	margin-top: 50px;
	display: block;
}

.DatumLeft {
	width: auto;
	float: left;
	margin-right: 35px;
	text-align: center;
}

.LftBxNew {
	width: auto;
	float: left;
	padding-right: 15px;
}

.LftBxNewOne {
	width: auto;
	float: left;
	/*	padding-left:60px;*/
}

.LftBxNewTwo {
	width: auto;
	float: left;
	padding-left: 10px;
}