body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
	margin:8px 0 0 10px;
}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
}
form .error {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .NewError {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .contentlist {
	margin: 0;
	padding: 0;
	width:100%;
	display:block;
}
form .contentlistRight {
	width:auto;
	margin-left:20px;
}
.FloatLeft {
	float:left;
	width:auto;
	text-align:center;
	padding-left:5px;
	padding-right:8px;
	color:#4a565c;
}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
	clear:both;
}
#Evaluation {
	width:100%;
	height:auto;
	display:block;
	padding:10px;
}
#Evaluation label {
	width:auto;
	padding: 0;
	margin:0;
	text-align: left;
	margin-left:0px;
}
#Evaluation .InfoSection {
	width:400px;
	margin-right:20px;
	height:auto;
	float:left;
	line-height:26px;
	border:solid 1px #ccd4d6;
}
.InfoDiv {
	margin-right:10px;
	padding:10px 0px 0px 10px;
	display:block;
}
.MarginZero {
	margin:0px 0 0 1px;
}
.Inforight {
	width:110px;
	float:left;
}
#Evaluation .InfoSectionBottom {
	width:400px;
	height:auto;
	line-height:26px;
	border-top:solid 1px #ccd4d6;
	float:left;
	margin:0;
	padding:0;
}
#Evaluation .HeadingSection {
	width:320px;
	height:auto;
	float:left;
}
#Evaluation .HeadingSection h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	text-decoration:none;
	color:#4f5456;
	margin:0;
	padding:0;
}
#Evaluation .HeadingSection h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	color:#686b6c;
	margin:0;
	padding:0;
}
#Evaluation h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	color:#4f5456;
	margin:0;
	padding:0;
	padding-top:10px;
}
.Options {
	width:100%;
	height:auto;
	margin-top:10px;
}
.OptionsContentOuter {
	float:left;
	width:auto;
}
.OptionsContent {
	width:auto;
	margin-right:10px;
	height:auto;
	float:left;
	line-height:31px;
	margin-left:10px;
}
.Options label {
	display: block;
	float: left;
	padding: 0;
	text-align: left;
	margin:0;
	line-height:32px;
	color:#4a565c;
}
.left {
	float:left;
}
CheckboxListOuter {
	width:100%;
	display:block;
	margin-top:30px;
}
.CheckboxList .CheckboxListLebt {
	width:auto;
	padding-right:5px;
	text-align:left;
	display:block;
}
.CheckboxList {
	width:auto;
	font-size:13px;
	font-weight:bold;
	padding-bottom:10px;
	margin-right:30px;
}
.CheckboxListHeading {
	width:auto;
	font-size:13px;
	font-weight:bold;
	padding-bottom:10px;
}
.CheckboxListeftDiv {
	width:auto;
	line-height:25px;
	font-weight:normal;
}
.CheckboxListNew {
	width:auto;
	display:block;
}
.CheckboxListRightDiv {
	width:30px;
	line-height:25px;
}
#SymptomList {
	width:100%;
	height:auto;
	margin-top:25px;
	margin-bottom:20px;
}
.SymptomListOuter {
	width:auto;
	margin-right:15px;
	display:block;
}
.SymptomListContent {
	float:left;
	width:auto;
	line-height:28px;
	margin-right:5px;
}
.SymptomListContent01 {
	line-height:18px;
	width:32px;
	text-align:center;
	float:left;
}
.OptionsWidth {
	width:550px;
	float:left;
	margin-right:10px;
	height:auto;
}
.OptionsWidthRight {
	width:190px;
	float:left;
	background:#ffffff;
	height:220px;
	border:solid 1px #ccd4d6;
}

.LeftMarginBig {
margin-left:47px;
}

.LeftMarginOption {
margin-left:34px;
}

.SymptomListMargin {
	margin-left:47px;
}
.MarginLeft {
	margin-left:4px;
}
.Infoleft {
width:220px;
margin-right:10px;
float:left;
height:auto;

}

.Inforight {
width:110px;
float:left;
}

.BlackDivider { 
float:left;
width:1px;
height:20px;
background:#ccd4d6;
margin:40px 12px 0px 5px;

}