body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
ul {
	list-style:none;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
	margin:8px 0 0 10px;
}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
}
form .error {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .NewError {
	display: block;
	margin:-25px 0 5px 450px;
	width:250px;
	height:8px;
	color:red;
}
form .contentlist {
	margin: 0;
	padding: 0;
	width:100%;
	display:block;
}
form .contentlistRight {
	width:auto;
	margin-left:20px;
}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
	clear:both;
}
#Certificate .Adressfeld {
	width:500px;
	border:solid 1px #000000;
	height:390px;
	margin-right:20px;
	float:left;
	padding:15px;
}
#Certificate .contactinfo {
	width:200px;
	border:solid 1px #000000;
	height:390px;
	float:left;
	padding:15px;
}
.contactinfo h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	text-align:center;
}
.contactinfo h6 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:19px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	text-align:left;
	line-height:26px;
	margin:0;
	padding:0;
}
.contactinfo h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	text-align:center;
}
.ClrBoth {
	clear:both;
}
.CertificateContentNew {
	width:100%;
	margin:0 auto;
	height:auto;
	margin-top:5px;
	padding-top:15px;
	display:block;
	padding:0;
}
.CertificateContentLeft {
	width:85px;
	height:900px;
	float:left;
	margin-right:20px;
}
.CertificateContentRight {
	width:650px;
	height:auto;
	float:left;
}
.CertificateContentRight .CertificateContact {
	width:220px;
	float:right;
	height:auto;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	line-height:26px;
}
.CertificateContentRightOuter {
	width:auto;
	height:auto;
	display:block;
	margin-top:10px;
}
.CertificateContentRight_left {
	width:auto;
	height:auto;
	float:left;
	margin-right:5px;
}
.MarginZero {
	margin:0px 0 0 1px;
}
.CertificateContentRight_right {
	width:auto;
	height:auto;
	float:left;
	margin-right:230px;
}
.CertificateContentRight_center {
	width:auto;
	height:auto;
	float:left;
	margin-right:5px;
}
#CheckboxGrids {
	width:100%;
	height:auto;
	border:solid 1px #000000;
	margin-top:10px;
	display:block;
}
.CheckboxGridsHeading {
	width:100%;
	height:auto;
	height:30px;
	line-height:30px;
	padding-left:4px;
}
.VersorgungOuter {
	width:325px;
	height:auto;
	display:block;
	border-right:solid 1px #000000;
	float:left;
}
.VersorgungOuterList {
	display:block;
}
.VersorgungOuterRight {
	width:323px;
	float:left;
}
.VersorgungListOuter {
	height:auto;
	display:block;
	border-top:solid 1px #000000;
	padding:5px;
}
.LeftRowOne {
	width:auto;
	height:auto;
	margin-right:5px;
	float:left;
}
.LeftRowTwo {
	width: auto;
	height:auto;
	float:left;
	margin-right:10px;
}
#Sonstiges {
	width:100%;
	height:auto;
	margin-top:20px;
}
#Sonstiges h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	margin:0;
	padding:0;
}
.pflegekraft {
	width:350px;
	height:auto;
	margin-top:10px;
}
.pflegekrafttextbox {
	border-bottom:solid 1px #000000;
	text-align:center;
	padding:5px;
}
.pflegekrafttext {
	text-align:center;
	padding:5px;
}
.pflegekraftList {
	width:100%;
	height:auto;
	margin-top:10px;
}
.pflegekraftListOuter {
	width:auto;
	height:auto;
	display:block;
	float:left;
}
.pflegekraftListLeft {
	width:auto;
	height:auto;
	float:left;
	margin-right:15px;
}
.pflegekrOuter {
	width:160px;
	height:auto;
	display:block;
	float:left;
	border-right:solid 1px #000000;
}
.pflegekrOuterNew {
	width:160px;
	height:auto;
	display:block;
	float:left;
	border-right:solid 1px #000000;
}
.pflegekrOuter label {
	width:auto;
	margin:0;
	padding:0;
}
.pflegekrOuterList {
	display:block;
}
.pflegekrOuterRight {
	width:160px;
	float:left;
}
.pflegekrListOuter {
	height:auto;
	display:block;
	padding:5px;
}
