
.special_dgp_block {
    border: 1px solid #ffdd00;
    position: relative; opacity: 1; left: 0px; top: 0px;
    display: block; 
    width: 100%;
    float: left;
}
.special_dgp_block h2{
   background: #ffdd00 none repeat scroll 0 0;
    border-bottom: 1px solid #ffdd00;
    color: #000000;
}

.dgb_block{
    display: block; 
    width: 98%;
    float: left;
    height: 100%;
    margin: 5px;
}
.dgp_block_line{
    display: block; 
    width: 100%;
    float: left;
}
.dgp_block_line label{
    display: block; 
    width: 30%;
    float: left;
}

.mandatory{
	color: red;
}
.labels {
	float: left; 
	width: 70%;
}

.labels label {
	width: 33%;
}
.labels label input{
	 margin: 0 5px 0 0;
}
.symptomatic_table{
width: 100%;
}
.symptomatic_table td label{
float: left;
width: 25%;
}
td.radio_data label{
float: left;
width: 25%;
}
td.checkbox_data label{
	float: left;
	width: 33%;
	font-size: 100%;
}
.inp_textarea{
	width: 100%;
	height: 45px;
}
.inp_textarea70{
	width: 69%;
	height: 45px;
}