/*
    Document   : kvno_assessment_style
    Created on : May 26, 2011, 5:18:09 PM
    Author     : radu
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}
.kvnotitle{
    text-align: center;
}
.kvnotitle h1{
    font-size: 18px;
    color:#000000;
}

.kvnoheader{
    width: 100%
    margin:0 auto;
    height:auto;
    margin-top:15px;
/*    border-left:solid 3px #000000;
    border-right:solid 3px #000000;
    border-top:solid 2px #000000;
    border-bottom:solid 2px #000000;*/
    border-bottom: solid 1px #000;
    margin-top:20px;
    font-size:14px;
}
.kvnoheader h2{
    font-size: 16px;
    color:#000000;
}
.kvnoheader h3{
    font-size: 16px;
    color:#000000;
}
.left_side{
    float: left;
}
.right_side{
    float: right;
}
.kvnohalf{
    width:50%;
    padding-top: 10px;
}
.kvnofull{
    width:100%;
    padding-top: 15px;
    line-height: 25px;
}
.kvnofull tr td.label_row{
    width:300px;
}
input[type=radio], input[type=checkbox]  { vertical-align: middle; margin: 0; margin-right: 5px; *margin-top: -2px; }
.label { vertical-align: middle; margin-right: 5px; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
 input[type=radio] { margin-top: -2px; }
}

.left_align{
    text-align: left;

}

.right_align{
    text-align: right;
    width: 200px;
}
.kvnocontainer{
    padding-top: 10px;
}
.kvnofull p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 900;

}
label{


}
input{
    padding-right: 5px;
}
textarea{
    width:800px;
    height:50px;
}
.dotted{
    clear:both;
    border-bottom: thin dashed black;
    border-collapse: separate;
    padding-bottom: 2px;
    padding-top: 2px;
}
.td_label{
	width: 200px;
}
.td_label_big{
	width: 225px;
}
.error_assessment {
    display: block;
    margin: 0px 0 5px 0px;
/*    width: 250px;*/
    height: 12px;
    color: #900;
}

.dates_table{
	width: 100%;
		
}
.dates_table td{
	border-top: 1px solid #000;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #000;
	vertical-align: middle!important;
	padding-left:5px;	
}
.dates_table td label{
	float: left;
	font-size: 14px;
    font-weight: 900;
    line-height: 18px;	
}

.date_div{
	width: 100%;
	display: block;
	float: left;
}
.reass {
	float: right;
}
.reass .ui-datepicker-trigger {
	margin-top: -9px;
}
.reass h1 {
	display:block;
	float: left;
}
.reass input {
	width:107px;
	display:block;
	float:left;
	margin-top: -5px;
}