/* Maria:: Migration ISPC to CISPC 08.08.2020 */
#table td span {
	font-weight: 800;
	font-size: 12px;
	color: red;
	padding: 0px 5px 0px 5px;	
}
#table td {
	word-break: break-all;
}
div.nodel {
	display: inline-block;
	width: 18px;
	height: 18px;
	font-size: 18px;
	padding: 0px 5px 0px 5px;
}
#table td a {
	color: #555;
	text-decoration: none;
}
img.icon_image {
	margin-top: 5px;
	margin-bottom: -3px;
	height: 24px;
}

#materialslist .add_link {
	width: 50% !important;
}

#materialslist #add_default {
	float: right;
	margin: 10px 0 15px 0;
}

#materialslist #add_default a {
	padding: 5px 8px 5px 8px;
	background: #1b346f;
	border: 1px solid #1b346f;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: auto;
	margin: auto;
	color: #ffffff;
	text-decoration: none;
}
/*ISPC-2508 Carmen 30.01.2020*/
#table {
	word-break: break-all;
}

/* ISPC-2432 Ancuta 13.01.2020  START*/
/* MEP-208,MEP-209,MEP-210 Ancuta 19.10.2020 */
.clname{
    float: left;
    display: block;
    background-color: #deedf7;
    height: 30px;
    border-radius: 6px;
    box-sizing: border-box;
    line-height: 30px;
    margin-right: 3px;
    margin-bottom: 3px;
    position: relative;
    font-size: 10px!important;
    font-weight: normal!important;
    color: #272727!important;
    padding-left: 25px;
    padding-right: 25px;
}
.survey_datatable td{
	vertical-align: top; 
}

.survey_datatable tr:nth-child(even) {background: #f2f2f2}
.survey_datatable tr:nth-child(odd) {background: #FFF}

/* ISPC-2432 Ancuta 13.01.2020  END */
