@CHARSET "UTF-8";

/* be aware, dompdf main css file is /library/dompdf/lib/res/html.css */
/* do NOT change that */


.dontPrint {
    display:none!important;
}

.just_a_headline {
    border:2px solid #000;
    background-color: #ebedb4;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top:15px;
    margin-bottom:15px;
}


div.just_a_headline_modul_1,
div.just_a_headline_modul_2,
div.just_a_headline_modul_3,
div.just_a_headline_modul_4,
.mambo_assessment_form_class fieldset#fieldset-PatientFeedbackCareAidscare_aids{
    page-break-before: always!important;
}

.mambo_assessment_form_class fieldset#fieldset-PatientFeedbackCareAidscare_aids{
    page-break-inside: avoid!important;    
}


div.legend {
    font-weight:bold;
    font-size: 1.2em;
    padding: 10px 0;
}


.PatientFeedbackCareAidscare_aids table.align_center tr td,    
.PatientFeedbackCareAidscare_aids table.align_center tr th {
    text-align:center;
}




.PatientFeedbackCareAidscare_aids table.align_center.create_form_care_aids_cb1 tr td:nth-child(2),    
.PatientFeedbackCareAidscare_aids table.align_center.create_form_care_aids_cb1 tr th:nth-child(2),    
.PatientFeedbackCareAidscare_aids table.align_center.create_form_care_aids_radios tr td:nth-child(1),    
.PatientFeedbackCareAidscare_aids table.align_center.create_form_care_aids_radios tr th:nth-child(1) {
    text-align:left;
}


.PatientFeedbackCareAidscare_aids table.align_center th:nth-child(2),
.PatientFeedbackCareAidscare_aids table.align_center th:nth-child(3),
.PatientFeedbackCareAidscare_aids table.align_center th:nth-child(4),
.PatientFeedbackCareAidscare_aids table.align_center tr td:nth-child(2),
.PatientFeedbackCareAidscare_aids table.align_center tr td:nth-child(3),
.PatientFeedbackCareAidscare_aids table.align_center tr td:nth-child(4){
    width:110px;
    padding:2px;
}

table.SimpleTable.create_form_care_aids_cb2 thead,
table.SimpleTable.create_form_care_aids_cb1 thead,
{
    display:none;
}








#assessment_problems_table select, 
#assessment_problems_table input[type=text] {
    background-color: transparent;    
}

#assessment_problems_table table.SimpleTable {
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#assessment_problems_table td {
    border:1px solid black;
}

#assessment_problems_table th {
    border:1px solid black;
    background-color: #e6e6e6;
    font-weight: bold;
 border-spacing: 0;
    border-collapse: collapse;
}



#assessment_problems_table .topic_row_main td {
    font-weight: bold;
    background-color: #ededed; 
}

#assessment_problems_table .topic_row_main.hasStatusdone td {
    background-color: #d4edda;
}
#assessment_problems_table .topic_row_main.hasStatustodo td {
    background-color: #f8d7da;
}
#assessment_problems_table .topic_row_main.hasStatusinprogress td {
    background-color: #fff3cd;
}
