@CHARSET "UTF-8";


.just_a_headline {
    border:2px solid #000;
    background-color: #ebedb4;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top:15px;
}


/* form */
.mambo_assessment_form_class {
    
}


.mambo_assessment_form_class .mamboTabsPageBody > fieldset table {
    /* border:1px solid fuchsia; */
    width:100%;
    
}

.mambo_assessment_form_class .mamboTabsPageBody > fieldset table .print_column_first{
    
    width:25%;
    
}


.qtip.position_fixed{
    /*
    position : inherit;
    float:right;
    top:0;
    right:0;
    
    */
    text-indent:0;
    width:auto;
    min-width:235px;
}

div.legend {
    font-weight:bold;
    font-size: 1.2em;
    padding: 10px 0;
}


#page-5>fieldset {
    margin-bottom:50px;
}

table.align_center th{
    text-align:center;
}
table.SimpleTable.create_form_care_aids_cb2 thead,
table.SimpleTable.create_form_care_aids_cb1 thead
{
    display:none;
}
    
table.SimpleTable.create_form_care_aids_cb1 td:not(:first-child),
table.SimpleTable.create_form_care_aids_cb1 td:not(:first-child),
table.SimpleTable.create_form_care_aids_cb1 th:not(:first-child),
table.SimpleTable.create_form_care_aids_radios td:not(:first-child),
table.SimpleTable.create_form_care_aids_radios th:not(:first-child),
table.SimpleTable.create_form_care_aids_cb2 td:not(:first-child),
table.SimpleTable.create_form_care_aids_cb2 th:not(:first-child) {
    width:150px;
    padding:2px;
}

.mambo_assessment_form_class button.qtip_toggler {
    float:right;
}

