body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
	color: #000;
}

#mdksapvq {
	font-size: 14px;
}

#mdksapvq td, #mdksapvq input[type="text"], #mdksapvq textarea, #mdksapvq select {
	font-size: 13px;
}

#mdksapvq input[name="patient_health_insurance"] {
	width: 40%;	
}

#mdksapvq .userstamp {
	vertical-align: top;
	padding-top: 10px;
}

#mdksapvq .userstamp select, #mdksapvq .userstamp textarea {
	width: 90%;
}

#mdksapvq .userstamp input {
	width:70%;
}

.tab_container {
	border: 0px solid #e3e3e1;
	border-top: none;
	float: left;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
}

.sapv_questionnaire {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	margin:10px 0 10px 0;
}

.sapvq_title {
	height: auto;
	width: 100%;
	display: block;
	float: left;
	text-align: center;

}
.sapvq_title h2{
	font-size: 22px;
	color: #000;
	display: block;
	margin: auto;
	text-align: center;
	border: 1px solid #000;
	padding: 5px 10px 5px 10px;
}


.sapvq {
	height: auto;
	width: 100%;
	display: block;
	float: left;
	margin: 10px 0 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px dashed #e3e3e1;
}

.sapvq table{
	width: 100%;
	text-align: left;
}

.sapvq textarea{
	width: 100%;
	text-align: left;
}

.sapvq_sapvdetails table,
.sapvq_healthinsurance table,
.sapvq_patientdetails table,
.sapvq_stm_pflegestufe table,
.sapvq_stm_modal_bloc table{
	width: 100%;
	text-align: left;
}

.sapvq_stm_pflegestufe table td input[type="checkbox"],
.sapvq_stm_modal_bloc table td input[type="checkbox"]
{
	margin-right:5px;
}



.sapvq_diagnostics_main {

}

.sapvq_diagnostics_side {

}

.sapvq_diagnostics_metastasen {

}

.sapvq_surgery_block {

}

.sapvq_hospitalization {

}

.sapvq_sympt_block {

}

.sapvq_medication {

}
.sapvq_medication table td input[type="checkbox"]{
	margin-right:5px;
}
.sapvq_treatments_r_block {

}
.sapvq_treatments_r_block table td input[type="checkbox"]{
	margin-right:5px;
}
.sapvq_stm_other_s_block {

}
.sapvq_stm_other_s_block table td input[type="checkbox"]{
	margin-right:5px;
}

.sapvq_psych {

}

.sapvq_stm_living_will {

}

.sapvq_date {

}

.sapvq_signitures {

}

.contactperson_block {

}

form.contactperson_modal {
	padding: 0 20px 0 20px;

}
form.contactperson_modal div{
	display: block;
	float: left;
	width: 100%;
}

form.contactperson_modal div label{
	display: block;
	float: left;
	width: 200px;
	line-height: 26px;
}

form.contactperson_modal div input{
	display: block;
	float: left;
}
form.contactperson_modal div textarea{
	display: block;
	float: left;
	height: 50px;
}

table tr td select {
	width: 200px;
}
#tdleft{
	width: 10%;
}
#tdright{
	width: 90%;
}
table.kvnofull select{
	width: 240px;
}
table.kvnofull {
	width: 35%;
}
div.sh_users table td {
	font-size: 11pt;
    line-height: 150%;
}
#widthuser select {
	width: 80%;
}