body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
* {
/*	border: 1px solid red;*/
}
.ClrBoth {
	clear:both;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
}
.MarginZero {
	margin:0px 0 0 1px;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:auto;
	padding: 0;
	margin: 3px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
/*	margin:5px 0 5px 10px;*/
}
form select{
width:99%;
	}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
} 



table.mdk_table {
	border: 1px solid #555;
	width: 99%;
	margin: 3px;
	color: #000;
}
.mdk_table td {
	border: 1px solid #555;
}

th.bigtitle {
	background: #ccc;
	text-align: center;
	font-size: 24px;
	padding-top: 20px;
}
th.smalltitle {
	background: #ccc;
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}
.partheader{
	background: #aaa;
	text-align: left;
	line-height: 26px;
	font-size: 16px;
	font-weight: 800;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}
.top_smalltable {
	height: 100%;
	margin: 0px;
	width: 350px;
}
.top_smalltable td {
	text-align: center;
	width:50px;
	height: 25px;
	border:0;
	border-right: 1px solid #555;
	font-size: 16px;
	font-weight: 800;
}
.bd_bottom {
	border-bottom: 1px solid #555;
}
.st_normal{
	font-weight: 400 !important;
	font-size: 16px;
 
}
td.palliative_title {
	text-align: center;
	font-size: 16px;
}
span.healthins_name{
	width: 95%;
	margin: auto;
    display: block;
	padding-bottom: 5px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	
}
span.indice{
	text-align: center;
		width: 95%;
	margin: auto;
    display: block;
    padding: 4px 4px 10px 4px;
}
.right-title {
	font-size: 16px;
	font-weight: 800;
	text-align: justify;
	padding: 3px;
}
.hghtall {
	height: 30px;
}
.hghtallest {
	height: 40px;
}
.lblspan{
	background: #fff;
	margin: 10px 0 -10px 0;
	display: block;
	line-height:25px;
	float: left;
	font-size: 14px;
	padding:0 5px 0 5px;
	font-weight: 800;
}
.blockspan {
	float: left;
	padding: 12px 0 0 0px;
	width: 113px;
	text-align: left;
 	font-size: 14px;
	vertical-align: baseline;
	background: #fff;
}
.blockspanall {
	float: left;
	padding: 12px 0 0 0px;
	text-align: left;
 	font-size: 14px;
	vertical-align: baseline;
	background: #fff;
}
.blockspan_small {
	float: left;
	padding: 12px 0 0 0px;
	width: 75px;
	text-align: left;
 	font-size: 14px;
	vertical-align: baseline;
	background: #fff;
}

.pflegenduste{
	height:70px;
	float: left;
	padding:0 0 0 5px;
}
.pflegenduste label {
	float: left;
}
.pflegenduste table{
	float: left;
	width: 100%;
	border: 0;
}
.pflegenduste table td{
	border: 0;
}
.pflegenduste input {
	margin:-1px 0 1px 0;
	float: left;
} 
.left_total{
	 float: left; 
	 width:100%; 
}
span.pv_per{
	font-size: 14px;
	padding: 10px 0 10px 0;
	display: block;
}
table.contactpers {
	width: 100%;
	border: 0px;
	margin: 0px;
		font-size: 14px;
}
.contactpers td {
	 height: 20px;
	 line-height: 20px;
}
span.beteiligen {
	float: left;
	font-size: 14px;
	line-height: 24px;
}
.beteiligenchk {
	float: left;
	margin : 0 0 0 10px;
}
.beteiligenchk input {
	float: left;
	margin:7px 0 0px 20px;	
}
.beteiligenchk label {
	float: left;	
	line-height: 20px;
	font-size: 14px;
	margin:3px 10px 0 10px;
}
span.pflege_benefits{
/*	float: left;*/
}
input#pflege_benefits {
	width: 63%;
 
}
span.bitte{
	float: left;
	margin-left:120px;
}
input#maindiagnosis{
	width: 84.5%;
}
.ambulante{
	float: left;
	width: 27%;
	padding: 5px;
	border-right: 1px solid #555;
	font-size: 13px;
}
span.ambulante_title{
	font-weight: 800;
}
span.ambulante_subtitle{
	font-weight: 400;
	font-style: italic;
}
.ambulante table{
	width: 100%;
}
.ambulante table td{
	border: 0;
	height: 21px;
}
.ambulante table td input{
	float: left;
	margin: 0 0 1px 0;
}
.kurativeplus{
	float: left;
	width: 36%;
	border-right: 1px solid #555;
	font-size: 14px;
	line-height: 22px;
	height: 182px;
}
.kurativeplus table {
	width: 100%;
	margin: 15px 0 0 5px ;
}
.kurativeplus table td {
	border: 0;
}
.kurativeplus b {
	font-size: 12px;
}
.wd35px {
	width:0px;
}
.livingwillplus{
	float: left;
	font-size: 12px;
/*	line-height: 22px;*/
	height: 182px;
	width: 35%;
}
.livingwillplus b{
	margin-left: 5px;
}
.livingwillplus table {
	width:100%;
	margin: 0px;
}
.livingwillplus table td{
	border:0;
}
.schm {

}
.schm span{
	font-weight: 800;
	font-size: 12px;
	padding: 5px 0 0 5px;
	display: block;
	float: left;
}
.schm input {
	float: left;
	margin: 4px 5px -4px 5px;
}
.schm label{
	float: left;
	width: 50px;
 
}
 table.extreme_symp{
	width:100%;
}
table.extreme_symp  td{ 
	border:0;
}
table.extreme_symp  td input{ 
	float: left;
	margin:0px 5px 1px 5px;
}
table.extreme_symp  td input[type="text"]{ 
	float: left;
 
	margin:-3px 5px 6px 5px;
}
table.psycho {
	width: 100%;
}
.psycho td{
	border: 0;
}
.psycho label{
	float: left;
	width: 300px;
	padding-left: 5px;
	font-size: 12px;
	line-height: 22px;
}
.psycho input[type="checkbox"]{
	float: left;
	margin:7px 0 -4px  5px;
}
.psycho input[type="text"]{
	float: left;
	width:56.5%;
}
.private_prs {
	margin-left: 5px;
}
.private_prs span{
	font-weight: 800;
	float: left;
	line-height: 22px;
	font-size: 14px;
}
.private_prs input{
	float: left;
	margin: 8px 5px 0px  5px;
}
.private_prs input[type="text"]{
	float: left;
	margin: 1px 0 0 5px ;
}
.private_prs label{
	float: left;
	line-height: 22px;
	font-size: 14px;
	width: 60px;
}
.private_prs textarea{
	width: 99%;
}