.generated_flow_element{
 background-color: greenyellow;
}

input,textarea,select{
	background: #fdfdfd!important;
}
textarea.text_blocks{
	background: #fdfdfd!important;
}
 
 
.button {
    background-color: #eee!important;
    border: 1px solid #bbb;
    cursor: pointer;
    padding: 4px 10px;
}
 
.error_overlapping{
	border: 1px solid red;
	background: #ffcccc;
}
.PatientDetail_datatable td {
    border: 1px solid #bbb;
}




.PatientDetail_datatable {
    width: 100%;
    line-height: 150%;
    margin-top: 20px;
}

.PatientDetail_datatable td {
    cursor: pointer;
    padding-left: 5px;
    line-height: 200%;
    border: 1px solid #eee;
}

.PatientDetail_datatable td a {
    color: #555;
    display: block;
}

.PatientDetail_datatable td a:hover {
    color: #666;
    text-decoration: none;
}

.PatientDetail_datatable th {
    line-height: 200%;
    border: 1px solid #bbb;
    border-left: 0px;
    padding-left: 5px;
    background-color: #f3f3f3;
}

.PatientDetail_datatable th:first-child {
    border-left: 1px solid #bbb;
}

.PatientDetail_datatable th a {
    display: block;
    color: #666;
}

.PatientDetail_datatable th a:hover {
    text-decoration: none;
}

.PatientDetail_datatable .img {
    margin-top: 5px;
}

.PatientDetail_datatable a.listPatiAddLink {
    margin: -8px 5px 0px 0;
    position: absolute;
    left: 1000px;
    display: block;
    bottom: auto;
    *bottom: auto;
}
.PatientDetail_datatable .datepick-trigger {
    margin: 7px 0 0 5px;
}

.PatientDetail_datatable label {
    width: auto;
    display: block;
    float: left;
    padding-top: 5px;
    line-height: 13px;
}

.PatientDetail_datatable select {
    width: 98% !important;
}

.hospiz_v_table td {
    border: 1px solid #bbb;
}

.hospiz_v_table td input[type="text"] {
    margin: auto 1px auto 1px;
    width: 39px;
}

.hospiz_v_table td input.date[type="text"] {
    float: none;
    margin: auto;
    width: 70px;
}

.a_date{
	width: 75px;
}
.date_input{
	width: 75px;
}
.tcontainer {
	display: block;
	width: 100%;
	height: auto;
	clear: both;
}
.form_row_vw {
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

.form_row_vw label{
	width: 16%;
	display: block; 
	float: left;
	line-height: 26px;
}
.form_row_vw .form_row_inpt{
	width: 80%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses{
	width: 40%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses li.voluntaryworkers_p_statuses_li{
	width: 100%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses li.voluntaryworkers_p_statuses_li input{
	width: 20px;
	display: block; 
	float: left;
	margin-top:5px;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_p_statuses li.voluntaryworkers_p_statuses_li label{
	width: 80%;
	display: block; 
	float: left;
	line-height: 26px;
}

.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses{
	width: 40%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses li.voluntaryworkers_statuses_li{
	width: 100%;
	display: block; 
	float: left;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses li.voluntaryworkers_statuses_li input{
	width: 25px;
	display: block; 
	float: left;
	margin-top:5px;
}
.form_row_vw .form_row_inpt ul.voluntaryworkers_statuses li.voluntaryworkers_statuses_li label{
	width: 80%;
	display: block; 
	float: left;
	line-height: 26px;
}
.span_page_title{
	display: block; 
	float: left; 
	widht: 100%;
	margin: 2px 0 5px 0; 
	text-align: center;
	font-size: 14px;
}

.add_new_patient_line span,
.add_new_shv_patient_line span
.add_new_bhv_patient_line span
{
	float: left; 
	display: block;
	line-height: 26px;
	font-size: 13px;
}

.add_new_patient_line img,
.add_new_shv_patient_line img
.add_new_bhv_patient_line img
{
	float: left; 
	display: block;
	margin-top:2px;
}
.pat_tab_title{
	float: left; 
	display: block;
	font-size: 14px;

}
img.vw_color_status{
	height:20px;
	width:20px;
}
input.vw_color_status_input{
	display: block;
 	float: left;
	margin: 4px 0 0 3px;
}

td.vw_status_color_td_input{
	width:20px; 
	vertical-align:top;
}
td.vw_status_color_td_img{
	width:60px; 
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	text-decoration: none;
	padding: 0.5em 0.5em;
}

.datatable td  {
	vertical-align: top!important;
}
 input.members{
 	margin:4px 4px 0 0px;;
 }
 
 .ui-tabs .ui-tabs-nav li a {
	float: left;
	text-decoration: none;
	padding: 0.5em 0.5em;
}



.datatable td div.ui-icon-printer a {
    color: #555;
    display: block;
    height: 30px!important;
    width: 30px!important;
}

.inactive_option_div{
	 display: block; 
	 float: left;
	 width: auto;
}

#inactive_from_div{
	display: none;
	float: left;
	width: 180px;
	margin-left: 5px; 
}


.force_display{
	display: block!important;
}


.donation_date_input{
	width: 80px;
}

.membership_price{
	width: 45px;
}



.members_total {
	display: block;
	 width: 100%;
	 height: 40px;
	 clear: both;
}
.members_total label{
	color: #2779aa;
    text-decoration: none;
    font-weight:800;
    font-size: 16px;
}
.members_total span{
	color: #333;
    text-decoration: none;
    font-weight:800;
    font-size: 16px;
}


/*
*start tabs FILES
*/

#files_table tr td { background-color: #ffffff }
#files_table tr:hover td { background-color: #fafafa };



a.show_versions:HOVER {
	text-decoration: none;
}

.arrow_down{
	background: transparent url(../../images/down-arrow.png) no-repeat right!important;
}
.arrow_up{
	background: transparent  url(../../images/up-arrow.png) no-repeat right!important;
}

.custom-file-upload {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../../images/ajax-loader-bar.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}	
/*
*end tabs FILES
*/


.dataTable>tbody>tr:nth-of-type(2n+1) {
	background-color: #f8f8f8;
}
 table#table-projects {
 	border-collapse: collapse;
 }
 
 table#table-projects td{
 	border: 1px solid #ddd;
 }
 
ul.ColVis_collection{
	width:auto!important;
}

.sepa_when_table{
	border: 1px solid #bbb;	
}
.sepa_when_table th{
	width:40px;
	padding:5px;
	border-left: 1px solid #bbb;	
	border-bottom: 1px solid #bbb;	
}

.sepa_when_table td{
	padding:5px;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;	
	width:50px;	
}
.sepa_when_table td input[type="text"] {
	width:30px;
}
.sepa_when_annually_hide_year .ui-datepicker-year
{
 display:none;   
}

#tabs-3 input[type=text]{
	width:380px;
}
#tabs-3 .error{
	width:600px;
	margin:0 0 5px 120px;
}
