/* ISPC-2530 !!! */
form#muster13 {
    float: left;
}
form#muster13 table tr td {
    vertical-align: top;
}
#muster13_tbl {
    background: url('../../images/muster/Muster_13_01102020.jpg') no-repeat;
    /*width: 820px;
    height: 1170px;
    border: none;*/
    /* position:relative;*/
    /* align: left;*/
    background-size: cover;
}

#td_row1 {
    width: 820px;
    height: 284px;
}

#header_tbl td#header_td {
    width: 500px;
    height: 284px;
    align: left;
}

#header_tbl {
    border: none;
    width: 820px;
    height: 284px;
    margin: 0px;
}

#krankenkasse_tbl {
    width: 500px;
    height: 292px;
    align: left;
    border: none;
    margin-left: 10px;
}

#muster13_tbl td#title_td {
    margin-left: 20px;
    width: 320px;
    align: left;
}

#muster13_tbl  td#verordnung_td {
    /* width: 200px; */
    align: left;
}

#rechnnung_tbl {
    height: 185px;
    margin-left: 0;
    margin-top: 6px;
    width: 450px;
}

#rechnnung_tbl td {
    /* 	border: 1px solid black; */
}

td.radio_td {
    position: relative;

}

#table_row2 {
    width: 820px;
    margin-left: 10px;
    /* 	border: 1px solid black; */
}

#insurance_com_name_inpt {
    width: 425px;
    margin-left: 40px;
    margin-top: 22px;
    background: none repeat scroll 0 0 transparent;
}

#patient_name_inpt {
    margin-left: 40px;
    margin-top: 30px;
    width: 325px;
    background: none repeat scroll 0 0 transparent;
}

#street_inpt {
    margin-left: 40px;
    margin-top: 5px;
    width: 300px;
    background: none repeat scroll 0 0 transparent;
}

#zip_inpt {
    margin-left: 40px;
    width: 100px;
    background: none repeat scroll 0 0 transparent;
}

#city_inpt {
    margin-left: 2px;
    /*  margin-top: 10px; */
    width: 190px;
    background: none repeat scroll 0 0 transparent;
}

#birthd_inpt {
    margin-left: 20px;
    margin-top: 25px;
    width: 80px;
    background: none repeat scroll 0 0 transparent;
}

#kassen_no_inpt {
    margin-left: 45px;
    margin-top: 15px;
    width: 120px;
    background: none repeat scroll 0 0 transparent;
}

#insurance_no_inpt {
    margin-left: 20px;
    margin-top: 15px;
    width: 165px;
    background: none repeat scroll 0 0 transparent;
}

#insurance_status_inpt {
    margin-left: 20px;
    margin-top: 15px;
    width: 80px;
    background: none repeat scroll 0 0 transparent;
}

#betriebsstatten_nr_inpt {
    margin-left: 40px;
    margin-top: 20px;
    width: 135px;
    background: none repeat scroll 0 0 transparent;
}

#lanr_inpt {
    margin-left: 20px;
    margin-top: 20px;
    width: 140px;
    background: none repeat scroll 0 0 transparent;
}

#insurance_datum_inpt {
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
    background: none repeat scroll 0 0 transparent;
}

#muster13_tbl td#space_td {
    width: 10px;
}
/* #title_hd{
	margin-left: 20px;
	width: 200px;
	height: 110px;
} */
#table_title {
    margin-top: 2px;
    margin-left: 0px;
    width: 300px;
    height: 292px;
    /* border: 1px solid black; */
}

.client_lf {
    height: 26px;
    /* width: 18px; */
    text-align: left;
}
#table_group {
    margin-top : 82px;
    margin-left: 10px;
}

#table_group td {
    border : 0px solid green;
    background-color: #ccc;
    height:35px;
}

.client_rh {
    height: 26px;
    text-align: right;
}

.client_ik_number_inpt {
    background: none repeat scroll 0 0 transparent;
    /*     font-size: 24px; */
    font-size: 24px;
    height: 26px;
    letter-spacing: 14px;
    margin-top: 92px;
    width: 240px;
    margin-left:200px;
    /*margin-left: 2px;*/
    text-align: right;
}

#gesamt_inpt {
    background: none repeat scroll 0 0 transparent;
    font-size: 24px;
    height: 24px;
    letter-spacing: 7px;
    /*margin-left: 4px;*/
    margin-top: 13px;
    width: 100px;
    text-align: right;
}

#gesamt_brutto_inpt {
    background: none repeat scroll 0 0 transparent;
    font-size: 24px;
    height: 24px;
    letter-spacing: 8px;
    /*margin-left: 4px;*/
    margin-top: 13px;
    width: 122px;
    text-align: right;
}

.heilmittel_pos_inpt {
    background: none repeat scroll 0 0 transparent;
    font-size: 24px;
    height: 24px;
    letter-spacing: 6px;
    /*margin-left: 2px;*/
    margin-top: 13px;
    width: 95px;
}

.faktor_inpt {
    background: none repeat scroll 0 0 transparent;
    font-size: 24px;
    height: 24px;
    letter-spacing: 8px;
    margin-left: 20px;
    margin-top: 13px;
    width: 40px;
}

#km_inpt {
    width: 25px;
}

#faktor_5_inpt {
    width: 25px;
}

#verordnung_tbl {
    border: 1px solid black;
    margin-left: 40px;
    /*width: 308px;
    height: 180px;*/
    margin-top: 0px;
}

#veror_tbl1 {
    height: 80px;
    width: 302px;
}

#veror_tbl2 {
    height: 48px;
    width: 302px;;
}

#veror_tbl3 {
    /*height: 32px;*/
    width: 750px;
    margin-left: 40px;
    border: 0px solid green;
}

#behandlungsbeginn_date_inpt {
    background: none repeat scroll 0 0 transparent;
    font-size: 24px;
    height: 30px;
    letter-spacing: 8px;
    margin-bottom: 0;
    margin-left: 161px;
    margin-top: 8px;
    width: 128px;
}

.wegegeld_inpt {
    background: none repeat scroll 0 0 transparent;
    font-size: 24px;
    height: 24px;
    letter-spacing: 7px;
    margin-left: 22px;
    /* margin-right: 6px;*/
    margin-top: 2px;
    width: 100px;
}

.faktor3_inpt {
    background: none repeat scroll 0 0 transparent;
    font-size: 24px;
    height: 24px;
    letter-spacing: 8px;
    margin-left: 3px;
    margin-top: 2px;
    width: 40px;
}

.faktor4_inpt {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 24px;
    height: 24px;
    letter-spacing: 7px;
    margin-left: 20px;
    /*  margin-top: 6px;*/
    width: 37px;

}

.faktor5_inpt {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 24px;
    height: 24px;
    letter-spacing: 7px;
    margin-left: 10px;
    /*  margin-top: 6px;*/
    width: 37px;
}

.km_inpt {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 24px;
    height: 24px;
    letter-spacing: 7px;
    margin-left: -5px;
    margin-top: 2px;
    width: 58px;

}


.hausbesuch_inpt{
    background: none repeat scroll 0 0 transparent;
    font-size: 24px;
    height: 24px;
    letter-spacing: 7px;
}

#left_hausbesuch{
    float: left;
    margin-left: -2px;
    margin-right: 9px;
    /* margin-top: 6px;*/
    width: 100px;
}
#right_hausbesuch{
    float: left;
    margin-left: 7px;
    margin-right: 0;
    /* margin-top: 6px;*/
    width: 98px;

}

#rechnungsnummer_inpt {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 24px;
    height: 24px;
    letter-spacing: 8px;
    margin-left: -5px;
    /*   margin-top: 6px;*/
    width: 440px;
}

#belegnummer_inpt {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 24px;
    height: 24px;
    letter-spacing: 8px;
    margin-bottom: 0;
    margin-left: -2px;
    /*   margin-top: 4px;*/
    width: 208px;
}

#verordnung_menge_tbl {
    border: medium none;
    /*height: 80px;*/
    margin-left: 48px;
    margin-top: 50px;
    width: 720px;
}

.verordnungs_menge_inpt {
    background: none repeat scroll 0 0 transparent;
    font-size: 16px;
    height: 24px;
    /*margin-left: 5px;*/
    width: 65px;
}

.heilmittel_inpt {
    width: 595px;
    height: 24px;
    font-size: 16px;
    background: transparent;
}

.anzahl_woche_inpt {
    width: 80px;
    height: 24px;
    font-size: 16px;
    background: transparent;
}

#diagnosis_tbl {
    width: 770px;
    height: 562px;
    margin-left: 48px;
    border: none;
}

#indikation_tbl {
    border: none;
    height: 25px;
    width: 60px;
    margin-left: 8px;
}

#diagnosis_tbl table, input {
    margin-top: 2px;
    margin-bottom: 0px;
}

.icd_tbl {
    border: none;
    /*height: 25px;
    width: 60px;*/
    /* margin-left: 8px; */
    margin: 0px 0px 0px 8px;
}
/* ISPC-2530,Elena,16.04.2021  */
#tbl_diags_right {
    margin-top:20px;
    margin-left:40px;
}
/* ISPC-2530,Elena,16.04.2021  */
#tbl_diags_right textarea {
    width:550px;
    height: 15px;
    background-color:#fff;
}

#indikationkey1 {
    background: none repeat scroll 0 0 transparent;
    font-size: 26px;
    height: 26px;
    letter-spacing: 7px;
    vertical-align: bottom;
    width: 80px;
}

.indikation_name_inpt {
    width: 615px;
    height: 26px;
    font-size: 16px;
    margin-left: 40px;
    background: transparent;
}

#icdnumber1 {
    background: none repeat scroll 0 0 transparent;
    font-size: 20px;
    height: 22px;
    letter-spacing: 5px;
    width: 110px;
    /* 	margin: 9px 0 0 0; */
}
#icdnumber2 {
    background: none repeat scroll 0 0 transparent;
    font-size: 20px;
    height: 22px;
    letter-spacing: 5px;
    width: 110px;
    /* 	margin: 9px 0 0 0; */
}
.td_space {
    width: 13px;
}
/* ISPC-2530,Elena,16.04.2021  */
#diagnosis1 {
    background: none repeat scroll 0 0 transparent;
    font-size: 12px;
    height: 16px;
    /*margin: 3px 0px 0px 10px;*/
    margin:0px;
    width: 550px;

}

/* ISPC-2530,Elena,16.04.2021  */
#diagnosis2 {
    background: none repeat scroll 0 0 transparent;
    font-size: 12px;
    height: 16px;
    /*margin: 3px 0px 0px 10px;*/
    margin:0px;
    width: 550px;

}

.diagnosis_inpt2 {
    width: 740px;
    height: 25px;
    font-size: 16px;
    margin-left: 2px;
    margin-bottom: 0;
    margin-top: 7px;
    background: transparent;
}

#gegebenenfalls_inpt {
    width: 740px;
    height: 25px;
    font-size: 16px;
    margin-left: 56px;
    margin-bottom: 0;
    margin-top: 9px;
    background: transparent;
}

#gegeb_tbl {
    width: 740px;
    height: 30px;
    margin-left: 8px;
}

#medizinische_tbl {
    border: none;
    height: 340px;
    /*width: 470px;*/
    margin-left: 8px;
}

#med_tbl {
    height: 297px;
    margin-top: 60px;
    margin-left: 56px;
}

.med_inpt {
    width: 450px;
    height: 25px;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: -1px;
    background: transparent;
}

.med_inpt2 {
    width: 450px;
    height: 25px;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 2px;
    background: transparent;
}

#stamp_tbl {
    width: 300px;
    /* 	height: 336px; */
    text-align: center;
}

#stamp_tbl td {
    text-align: center;
}

#muster13_tbl #searchstamp_tbl {
    width: 300px;
    height: 72px;
    margin-top: 45px;
}

.userstamps {
    /* 	position:absolute;  */
    /* 	left:610px;  */
    /* 	top:310px;  */
    text-align: right;
    width: 190px;
}

#user_stamp_block {
    height: auto !important;
    width: 100% !important;
}

.stamp_alert {
    color: #ff0000;
    display: block;
    float: right;
    width: 100%;
    text-align: center;
}
.gegebenenfalls_spezifizierung_txt{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 16px;
    height: 134px;
    line-height: 49px;
    margin-left: 8px;
    overflow: hidden;
    width: 461px;

}
.medizinische_begrundung_verordnungen_txt{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 16px;
    height: 234px;
    line-height: 49px;
    margin-left: 1px;
    overflow: hidden;
    width: 461px;
}

#muster13_tbl .rcb_dummy{
    width:25px;
    height:25px;
    border: 0;
    position: absolute;
    background:none;
    background-repeat:no-repeat;
    cursor: pointer;
}
.rcbx_dummy{
    width:25px;
    height:25px;
    position: absolute;
    cursor: pointer;
}
.rcbx_g2_dummy{
    width:25px;
    height:25px;
    position: absolute;
    cursor: pointer;
}
.rcby_dummy{
    width:25px;
    height:25px;
    position: absolute;
    cursor: pointer;
}
.rcbz_dummy,
.rcbz_v1_dummy,
.rcbz_v2_dummy,
.rcbz_v3_dummy,
.rcbz_v4_dummy
{
    width:25px;
    height:25px;
    position: absolute;
    cursor: pointer;
}
.rcbw_dummy{
    width:25px;
    height:25px;
    /*position: absolute;*/
    cursor: pointer;
}
.rcbt_dummy{
    width:25px;
    height:25px;
    position: absolute;
    cursor: pointer;
}

.rcbd_dummy{
    width:25px;
    height:25px;
    position: absolute;
    cursor: pointer;
}

.rcbgr_dummy{
    width:25px;
    height:25px;
    position: absolute;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 3px;
}
.rcb_imgx{

    background: url(../../images/muster/checkboxmark.png) no-repeat;
}
.rcb_img{

    background:none;
}
.first_half
{
    display: block;
    margin-left: 20px;
    text-align: left;
    float:left;

}
.second_half {
    margin-right: -20px;
    float:right;
    padding: 5px;
    text-align: right;
    border: 1px solid #bbb;
    background: #f2f2f2;
}
.second_half a {
    font-size: 18px;
    color: #555;
}
th.ui-state-default, div.ui-widget-header {
    color: #000 !important;
    background: #f2f2f2 !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border: 1px solid #bbb;
}
img.image_action {
    padding: 3px;
}
#muster13_table td {
    border: 1px solid #eee;
}
.ui-accordion .ui-accordion-header a {
    padding: .2em .2em .2em .5em !important;
}
.ui-accordion-icons .ui-accordion-header a {
    padding-left: 2.2em !important;
}
.ui-accordion .ui-accordion-content {
    padding: .5em 1.2em !important;
}
input#list_muster13 {
    font-size: 18px;
    color: #555;
    padding: 5px;
}

#leitsympt{
    margin-top:0px;
    margin-left: 56px;
}

.rcblt_dummy{
    width:25px;
    height:25px;
    /*position: absolute;*/
    cursor: pointer;
    margin-top: 7px;
    margin-left: 3px;
}

.rcbcd_dummy{
    width:25px;
    height:25px;
    /*position: absolute;*/
    cursor: pointer;
    margin-top: 7px;
    margin-left: 3px;
}

#diaggroup{
    width:40px;
    margin-left:80px;
}
.mainsym_td1{
    padding-left:220px;
}
.mainsym_td2{
    padding-left:30px;
}
.mainsym_td3{
    padding-left:30px;
}
.mainsym_td4{
    padding-left:210px;
}
#tbl_diags_left{
    margin-bottom: 0px;
}
#mainsymptomatic_freetext{
    margin-top: 35px;
    width : 650px;
    height:40px;
    background-color: #fff;
}
.hausbesuch_radios{
    margin-left : 40px;
    margin-top: 15px;
}
#therapie_frequenz{
    margin-top: 19px;
    margin-left:57px;
    background-color: #fff;
}
#therapieziele{
    margin-top: 30px;
    width: 420px;
    height: 100px;
    background-color: #fff;
}