@CHARSET "UTF-8";

input[type=checkbox] {
/*     1.4-sized Checkboxes */
/*   -ms-transform: scale(1.4); IE */
/*   -moz-transform: scale(1.4); FF */
/*   -webkit-transform: scale(1.4); Safari and Chrome */
/*   -o-transform: scale(1.4); Opera */
/*   padding: 10px; */
/*   background: #FFF; */
}

.pallnetz_topform_right h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    text-align: left;
    color: #000;
    font-size: 16px;
}

.div_bg
{
	background-image: url('/ispc/public/snapshot5.png');
	background-repeat: no-repeat;
	background-position: right bottom;

}
/* top div left*/
.pallnetz_second,
.pallnetz_topform{
    border: 1px solid #000000;
    color: #000;
    float: left;
    margin-top: 10px;
    padding: 10px 10px 5px;
    width: 450px;	
	
}
.pallnetz_topform input[type="text"]  {
    margin-left: 0;
    width: 110px;
    padding: 2px;
}

.pallnetz_topform input.insurnace {
    margin-left: 0;
    width: 100%;
}

.pallnetz_topform textarea {
    margin-bottom: 5px;
    margin-left: 0;
    width: 160px;
}


.blackline {
    border-bottom: 1px solid #000000;
    margin: 5px -10px 0;
}

.formleftdiv {
    float: left;
    width: 200px;
}

.formrightdiv {
    float: right;
    padding-top: 25px;
    width: 130px;
}

.formShortDiv {
    float: left;
    margin-top: 5px;
}

.VerLine {
    background: #000 none repeat scroll 0 0;
    float: left;
    height: 25px;
    margin: 35px 7px -5px;
    width: 1px;
}

/* top div right*/
.pallnetz_topform_right{
	float: left;
    margin-left: 10px;
    margin-top: 35px;
    width: 260px;
}
 
.pallnetz_topform_right label{
	font-weight: bold;
}
.pallnetz_topform_right .veror50{
	padding :10px;
	
}


/*second row*/
.pallnetz_second{
	border:none;
	
}

.div30{
	width :30%;	
}
.div40{
	width :40%;	
}
.div50{
	width :50%;	
}
.div60{
	width :60%;	
}
.div70{
	width :70%;	
}



.fleft{
	float:left;
}
.fright{
	float:right;
	
}

.pallnetz_second .input10{
	font-size:0;
}
.pallnetz_second input[type="text"]{
	padding:5px;
	margin:0;
	width: 10px;
	border-top: none;
	border-left: 1px solid #000;
	border-bottom:1px solid #000;
}  
.pallnetz_second input[type="text"]:last-of-type { border-right: 1px solid #000; }



.pallnetz_fourth .ClrBoth,
.pallnetz_second .ClrBoth{
	padding:10px;
	
}


.pallnetz_second_right{
	float: left;
	width:200px;
	height:200px;
	position: relative;
	margin-left: 10px;
    margin-top: 25px;
    padding:5px;	
    border:3px double #5F5F5F;
}


.pallnetz_second_right .select_user_stamp{
	position: absolute; 
	bottom: 0;
}

.pallnetz_second_right .stamp_alert{
	border:1px solid red;
	padding:5px;
	font-weight:bold;
	display:none;
}
.pallnetz_second_right .userstamps{
	float: none;
	margin-bottom: 0px;
}
    

.pallnetz_second_right #stampusers,
.pallnetz_second_right .user_stamp_block{
	width:90%;
	text-align:center;
}


/*third row*/
.pallnetz_third{
    color: #000;
    float: left;
    margin-top: 10px;
    padding: 5px;
    width: 600px;	
}
.pallnetz_third .third_last_div,
.pallnetz_third .formShortDiv{
	margin:5px 10px 5px 10px;
}
.pallnetz_third .third_last_div{
	width:100%;
	padding-top:10px;
}
.third_last_div input[type="text"] { 
	width:500px;
}

.pallnetz_second .ausfertigung{
	border:1px solid #000;
	text-align:center;
	padding:5px;
	font-size: 14px;
	font-weight: bold;	
}
.pallnetz_third h2{
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    text-align: left;
    color: #000;
}

/*fourth row*/
.pallnetz_fourth{
    color: #000;
    float: left;
    margin-top: 10px;
    padding: 10px;
    width: 600px;	
}
.pallnetz_second .div50 ,
.pallnetz_fourth .div50{
	width:45%;
	padding-left:5px;
}

.pallnetz_topform_right .veror50 label,
.pallnetz_fifth .div30 label ,
.pallnetz_second .div50 label ,
.pallnetz_fourth .div50 label {
  display: block;
  padding-left: 20px;
  text-indent: -28px;
  
}

.pallnetz_topform_right .veror50 input[type=checkbox],
.pallnetz_fifth .div30 input[type=checkbox],
.pallnetz_second .div50 input[type=checkbox],
.pallnetz_fourth .div50 input[type=checkbox] {
  width: 20px;
  height: 20px;
    
  padding: 0;
  margin:0px;
  
  margin-right:5px;
  vertical-align: top;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.pallnetz_fourth .div70 input[type=text]{
	width:100%;
}

/*fifth row*/
.pallnetz_fifth{
	border: 1px solid #E82B25;
    color: #000;
    float: left;
    margin-top: 10px;
    padding: 10px 10px 5px;
    width: 600px;	
    background-color:#FBD3C2;
}

.maxlength{
	color: green;
}