/* Maria:: Migration ISPC to CISPC 08.08.2020 */
/* Maria:: Migration ISPC to CISPC 02.09.2020 */
/* ISPC-2370 */
#munster4new {
    width:800px;
    background: url('../../images/forms_images/munster4new/muster_4_2020-1.jpg') no-repeat;
    padding-top: 12px;
    padding-left: 5px;
    background-size: contain;
}
#munster4new .kvheaderform {
    border-color: transparent;
    width: 90%;
    margin-left: 38px;
    padding-top: 15px;
    padding-left: 6px;
}

#munster4new .kvheaderform input, #munster4new .kvheaderform textarea {
    /* 	font-size: 11px;  */
    /* 	TODO-2851 Ancuta 27.01.2020 */
    font-size: 12px;
    line-height: 12px;
}

#munster4new .kvheaderform label, #munster4new .kvheaderform .verline, #munster4new .kvheaderform .innerline{
    display: none;
}

#munster4new .kvheaderform .formleftdiv {
    margin-top: 38px;
    margin-bottom: 38px;
}

#munster4new .kvheaderform .formrightdiv {
    margin-top: 63px;
    margin-bottom: 20px;
    padding-top: 0px;
    width: 28%;
}

#munster4new .kvheaderform .formlongdiv {
    margin-right: 2px;
    margin-top:  22px;
    width: 35.5%;
}

#munster4new .kvheaderform .formshortdiv {
    width: 28%;
    margin-top:  22px;
}

#munster4new .kvheaderform .formshortdiv img{
    width: 14px;
    height: 14px;
}

#munster4new .kvheaderform .pat_number{
    width: 42%;
}

#munster4new .kvheaderform .stat{
    width: 20%;
}

#munster4new td {
    position: relative;
    vertical-align: top;
}

#munster4new .fees_type_dummy {
    width: 37px;
    height: 37px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#munster4new .sick_reason_dummy {
    width: 26px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#munster4new .sick_reason_label {
    width: 250px;
    height: 25px;
    line-height: 25px;
    color: transparent;
    font-size: 14px;
    position: absolute;
}

#munster4new .travel_dummy {
    width: 26px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#munster4new .travel_label {
    width: 250px;
    height: 25px;
    line-height: 25px;
    color: transparent;
    font-size: 14px;
    position: absolute;
}

#munster4new .treatmentinclinic_dummy {
    width: 26px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#munster4new .treatmentinclinic_label {
    width: 250px;
    height: 25px;
    line-height: 25px;
    color: transparent;
    font-size: 14px;
    position: absolute;
}

#munster4new .otherreason_dummy {
    width: 26px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#munster4new .otherreason_label {
    width: 250px;
    height: 25px;
    line-height: 25px;
    color: transparent;
    font-size: 14px;
    position: absolute;
}

#munster4new .otherreason_text {
    left: 322px;
    top: 133px;
    width: 400px;
    height: 36px;
    font-size: 11px;
    position: absolute;
    z-index: 1;
}

#munster4new .otherreason_text_label {
    left: 120px;
    top: 110px;
    position: absolute;
    font-size: 14px;
    width: 250px;
}

#munster4new .high_frequency_treatment_dummy {
    width: 26px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#munster4new .high_frequency_treatment_label {
    width: 250px;
    height: 25px;
    line-height: 25px;
    color: transparent;
    font-size: 14px;
    position: absolute;
}

#munster4new .durable_limited_mobility_dummy {
    width: 26px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#munster4new .durable_limited_mobility_label {
    width: 250px;
    height: 25px;
    line-height: 25px;
    color: transparent;
    font-size: 14px;
    position: absolute;
}

#munster4new .reason_needed_for_transfer_text {
    left: 140px;
    top: 266px;
    width: 618px;
    height: 36px;
    font-size: 11px;
    position: absolute;
    z-index: 1;
}

#munster4new .reason_needed_for_transfer_text_label {
    left: 40px;
    top: 264px;
    position: absolute;
    font-size: 14px;
    width: 90px;
}

#munster4new .otherreason_needing_approval_dummy {
    width: 26px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#munster4new .otherreason_needing_approval_label {
    width: 450px;
    height: 25px;
    line-height: 25px;
    color: transparent;
    font-size: 14px;
    position: absolute;
}

#munster4new .from_text {
    left: 108px;
    top: 350px;
    width: 160px;
    height: 36px;
    font-size: 14px;
    position: absolute;
    z-index: 1;
}

#munster4new .from_text_label {
    left: 40px;
    top: 262px;
    position: absolute;
    font-size: 14px;
    width: 90px;
}

#munster4new .per_week_text {
    left: 320px;
    top: 350px;
    width: 25px;
    height: 36px;
    font-size: 14px;
    position: absolute;
    z-index: 1;
}

#munster4new .per_week_text_label {
    left: 36px;
    top: 262px;
    position: absolute;
    font-size: 14px;
    width: 90px;
}

#munster4new .till_text {
    left: 600px;
    top: 350px;
    width: 160px;
    height: 36px;
    font-size: 14px;
    position: absolute;
    z-index: 1;
}

#munster4new .till_text_label {
    left: 40px;
    top: 262px;
    position: absolute;
    font-size: 14px;
    width: 90px;
}

#munster4new .treatment_location_text {
    left: 44px;
    top: 400px;
    width: 710px;
    height: 36px;
    font-size: 11px;
    position: absolute;
    z-index: 1;
}

#munster4new .treatment_location_text_label {
    left: 40px;
    top: 262px;
    position: absolute;
    font-size: 14px;
    width: 90px;
}

#munster4new .transport_type_dummy {
    width: 26px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#munster4new .transport_type_label {
    width: 450px;
    height: 25px;
    line-height: 25px;
    color: transparent;
    font-size: 14px;
    position: absolute;
}

#munster4new .transport_type_text {
    left: 44px;
    top: 540px;
    width: 320px;
    height: 36px;
    font-size: 11px;
    position: absolute;
    z-index: 1;
}
#munster4new .transport_type_more_text {
    left: 44px;
    top: 570px;
    width: 320px;
    height: 36px;
    font-size: 11px;
    position: absolute;
    z-index: 1;
}
#transport_type_more_text{
    width:320px;
}

#munster4new .transport_type_text_label {
    left: 40px;
    top: 262px;
    position: absolute;
    font-size: 14px;
    width: 90px;
}

#munster4new .special_transport_type_dummy {
    width: 26px;
    height: 26px;
    font-size: 11px;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#munster4new .special_transport_type_label {
    width: 450px;
    height: 25px;
    line-height: 25px;
    color: transparent;
    font-size: 14px;
    position: absolute;
}

#munster4new .special_transport_type_text {
    left: 304px;
    top: 601px;
    width: 180px;
    height: 36px;
    font-size: 11px;
    position: absolute;
    z-index: 1;
}

#munster4new .special_transport_type_text_label {
    left: 262px;
    top: 262px;
    position: absolute;
    font-size: 14px;
    width: 110px;
}

#munster4new .special_transport_type_more_text {
    left: 44px;
    top: 690px;
    width: 430px;
    height: 36px;
    font-size: 11px;
    position: absolute;
    z-index: 1;
}

#munster4new .special_transport_type_more_text_label {
    left: 262px;
    top: 262px;
    position: absolute;
    font-size: 14px;
    width: 110px;
}

#munster4new .special_transport_type_othermore_text {
    left: 44px;
    top: 717px;
    width: 430px;
    height: 36px;
    font-size: 11px;
    position: absolute;
    z-index: 1;
}

#munster4new .special_transport_type_othermore_text_label {
    left: 262px;
    top: 262px;
    position: absolute;
    font-size: 14px;
    width: 110px;
}

#munster4new .users_stamps {
    left: 524px;
    top: 534px;
    width: 430px;
    height: 36px;
    font-size: 11px;
    position: absolute;
    z-index: 1;
}

#munster4new .optional {
    color: transparent;
}

#munster4new input, #munster4new textarea
{
    background: transparent;
}

#munster4new input[type=radio], #munster4new input[type=checkbox]
{
    display: none;
}

#munster4new .otherreason_text input, .reason_needed_for_transfer_text input, .treatment_location_text input, .transport_type_text input, .special_transport_type_text input, .special_transport_type_more_text input, .special_transport_type_othermore_text input{
    width: 99%;
}

#munster4new .from_text input, .per_week_text input, .till_text input{
    padding-left: 10px;
    letter-spacing: 19px;
    width: 99%;
    height: 55%;
}

#munster4new .rcb_img {

    background: url(../../images/muster/checkboxmark.png) no-repeat center center;
}

#munster4new .no_img {

    background:none;
}

#munster4new .formular_actions {
    margin-top:850px;
}

#transport_type_dummy1 {
    left: 42px!important;
    top: 463px!important;
}

#transport_type_dummy2 {
    left: 380px!important;
    top: 463px!important;
}

#transport_type_dummy3 {
    left: 380px!important;
    top: 503px!important;
}

#transport_type_dummy4 {
    left: 380px!important;
    top: 543px!important;
}

#transport_type_dummy5 {
    left: 42px!important;
    top: 503px!important;
}

#special_transport_type_dummy1 {
    left: 42px!important;
    top: 599px!important;
}

#special_transport_type_dummy2 {
    left: 126px!important;
    top: 599px!important;
}

#special_transport_type_dummy3 {
    left: 210px!important;
    top: 599px!important;
}

#high_frequency_treatment_dummy1 {
    left: 69px!important;
    top: 195px!important;
}

#high_frequency_treatment_dummy2 {
    left: 500px!important;
    top: 195px!important;
}

#durable_limited_mobility_dummy1 {
    left: 69px!important;
    top: 237px!important;
}

#durable_limited_mobility_dummy2 {
    left: 518px!important;
    top: 207px!important;
}

#treatmentinclinic_dummy1 {
    left: 69px!important;
    top: 43px!important;
}

#treatmentinclinic_dummy2 {
    left: 501px!important;
    top: 43px!important;
}

#treatmentinclinic_dummy3 {
    left: 69px!important;
    top: 93px!important;
}

#sick_reason_dummy1 {
    left: 20px!important;
    top: 73px!important;
}

#sick_reason_dummy2 {
    left: 20px!important;
    top: 119px !important;
}

#sick_reason_dummy3 {
    left: 20px!important;
    top: 168px !important;
}

#travel_dummy1 {
    left: 20px !important;
    top: 212px !important;
}

#travel_dummy2 {
    left: 161px !important;
    top: 212px !important;
}

#otherreason_dummy1 {
    left: 69px!important;
    top: 133px!important;
}

#otherreason_needing_approval_dummy1 {
    left: 69px!important;
    top: 268px!important;
}



