.sapv_flow {
    width: 100%;
}

ul li.sapv_flow_arrow {
    float: left;
    width: 10px;
    padding: 2px;
    margin: 3px 0 3px 0;
    /*border:1px solid #000;*/
}
.sapv_flow_element {
    width: 162px;
    float: left;
    border: 1px solid #000;
    padding: 2px 2px 2px 4px;
    margin: 3px;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.selected_element {
    background-color: lightyellow;
}
.sapv_flow_element:hover {
    background-color:#6BCFF7;
    font-weight: bolder;
}

li.sapv_flow_element input {
    margin-top: 2px;
}

.generated_flow_element {
    background-color:greenyellow;
}
.generated_flow_element:hover {
    background-color:greenyellow;
    font-weight: bolder;
}


.current_month_flow_element {
    width: 162px;
    float: left;
    border: 1px solid #000;
    padding: 2px 2px 2px 4px;
    margin: 3px;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.current_month_flow_element:hover {
    background-color:#6BCFF7;
    font-weight: bolder;
}

li.current_month_flow_element input {
    margin-top: 2px;
}



 .datatable td.border_bottom {
    border-bottom: 1px solid #000;
}
 .datatable td {
    vertical-align: top;
}



 tr.blocks_row:nth-child(even) {
    background: #CCC;
}
 tr.blocks_row:nth-child(odd) {
    background: #FFF
}


/* ISPC-2312 Invoice system revamp CRISTI. C 
#generate_new_invoice #content  tr.row td {
    border-top: 2px solid #000;
}

#generate_new_invoice #content  td {
	height:30px;
	vertical-align: middle;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:1em;
	
}

#generate_new_invoice #content  tr > td:first-child {
	border-radius:5px 0 0 5px;
}

#generate_new_invoice #content  .datatable td {
	border:none;
}

#generate_new_invoice #content [id*="listpharmacy"]{
	border-top:2px solid;
}

#generate_new_invoice #content  .datatable th {
	font-weight:bold;	
    vertical-align: middle;
    font-size: 12px;
}

#generate_new_invoice #content table { border-collapse: separate; }
#generate_new_invoice #content  td { border: solid 1px #000; }
#generate_new_invoice #content  tr td:first-child { border-top-left-radius: 5px; }
#generate_new_invoice #content  tr td:last-child { border-top-right-radius: 5px; }
#generate_new_invoice #content  tr td:first-child { border-bottom-left-radius: 5px; }
#generate_new_invoice #content  tr td:last-child { border-bottom-right-radius: 5px; }

.sapv_flow_element, .current_month_flow_element {
	border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid #b3b3b3;
}	

#select_month, #search {	
	background-color:#f1f1f1;
	border-radius: 5px;
}

#select_month {
	width:130px;
}
*/
