.nraapv {
	width: 100%;
	float: left;
}
.nraapv_header_center {
	color: black;
	text-align: center;
	font-size: 200%;
}
h2.nraapv_header_center {
	font-weight: normal;
}
.nraapv_header_left, .nraapv_table h3 {
	color: black;
	line-height: 1.5;
}
h3.nraapv_header_left {
	background: #ffff00;
	display: block;
}
.nraapv_table {
	width: 100%;
	table-layout: fixed;
	color: black;
}
.bordered td {
	border: 2px solid #808080;
}
.fulltr {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
}
.thin {
	font-size: 16px;
	font-weight: normal;
}
.halftr {
	text-align: left;
	font-size: 14px;
	height:30px;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 10px;
	width: 50%;
}
.nraapv_table .empty_td {
	height: 20px;
}
.nraapv_table input[type="text"] {
	width:96%;
	font=size: 14px;
	padding-top: 0px;
	margin-top: 0px;
	line-height: 2;
}

