/* ISPC-2589 Ancuta 28.05.2020 [migration from clinic CISPC] */
#ontodrug .btnmodule{
    width: 110px;
    height: 60px;
    background: grey;

    background: linear-gradient(to bottom, white, grey);
    box-shadow: inset 0px 0px 6px #fff, inset 0px -1px 6px #fff;
    border : 1px solid #f0ad4e;
    border-radius: 1em;
    margin: 5px;/* 1em;*/
    padding: 10px;
}

#ontodrug .modulchecked{
    background: linear-gradient(to bottom, white, orangered);
}
#ontodrug .deaktivieren{
    cursor: not-allowed;
}
#ontodrug .btnmodule:hover,
#ontodrug .btnmodule:focus{
    box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
#ontodrug .tooltip {
    position: relative;
    display: inline-block;
    color: red;
    cursor: help;
    /*border-bottom: 1px dotted red*/;}

#ontodrug .tooltip .tooltiptext{
    visibility: hidden;
    background-color: #555555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position:relative;
    z-index: 1;
    bottom: 125%;
    left:30%;
    margin-left: -65%;
    opacity:0;
    transition: opacity 0.3s;
    white-space: pre-line; /**/
}

#ontodrug .tooltip:hover .tooltiptext{
    visibility: visible;
    opacity:1;
}
div.amts-buttons{
    width: 100%;
    border-style: groove;
    border-width: medium;

}
#printarea{
    padding-left: 0.3em;
    width: 100%;
    border-style: groove;
    border-width: medium;
}
button.aufgrund, button.aufgrundvon{
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
}
.aufgrund, .aufgrundvon{
    padding:0;
}
.aufgrund:hover, .aufgrund:focus{
    box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
.aufgrundvon:hover, .aufgrundvon:focus{
    box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

button.btnhaftung{
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
}
.btnhaftung{
    padding:0;
}
.btnhaftung:hover, .btnhaftung:focus{
    box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

#buttons{
    display:flex;
}
.beschreibung{
    text-align:left;
}
#ontodrug fieldset{
    /* background:lightgrey;*/
    padding:10px;
    width: 30%;
    /* float:left;*/
    display:inline-flex;
    vertical-align: top;
}
legend{

}
label{
    display:block;
    margin-bottom: .5em;
    position:relative;
}

.ontodrug-meds-col-right {
    float: left;
    width: 150px;
}

.ontodrug-meds-col-left {
    float: left;
    width: 150px;
}
.ontodrug-meds-cols-container{
    width: 450px;
}
.ontodrug-meds-end-right{
    float: left;
    width: 150px;
}
.warningdet{
    padding-left: 1.5em;
}
div.warningdet::before{
    content: "▶︎";
    color: blue;
}
div.warningdet.opened::before{
    content: "▼";
    color: blue;
}
.det{
    padding-left: 2em;
}

div.warningdet>li
{
    display:inline-block;
}