/*ISPC charts page issues fix 2020-05-07 v1.2*/
/* #ISPC-2512PatientCharts */
#change_patient_chosen.chosen-container  {
	width: calc(100% + 41px) !important;
    left:-41px;
    background:transparent !important;
    height:50px;
    border:0 !important;
    border-radius:25px;
    display:inline-table;
    position:relative;
}

#change_patient_chosen.chosen-container .chosen-single {
	width:100% !important;
    height:50px;
    background:transparent;
    padding-left:51px;
    border:0px !Important;
    border-radius:25px;
    
}
#change_patient_chosen.chosen-container-active  .chosen-single {
	background:transparent !Important;
    

}

#change_patient_chosen.chosen-container-active {
	border-radius:25px 25px 0 0px;
    background:#fbfbff !important;
}

#change_patient_chosen.chosen-container-active  .chosen-single span {
    color:#0ea6fd;
}


#change_patient_chosen .chosen-drop{
border-radius: 0 !important;
    background: #fbfbff;
    -webkit-box-shadow: 0px 30px 64px 0px rgba(219,222,230,0.84);
    -moz-box-shadow: 0px 30px 64px 0px rgba(219,222,230,0.84);
    box-shadow: 0px 30px 64px 0px rgba(219,222,230,0.84);
     
    border:0;
    
    display:inline-table;
}
#change_patient_chosen .chosen-drop .chosen-search {
	margin-left:15px;
    margin-right:15px;
    height:50px;
}
#change_patient_chosen.chosen-container-single .chosen-search input[type="text"] {
	height:35px;
    border-radius:30px;
    
    border:0;
    font-family:"Open Sans", sans-serif;
    font-size:14px;
    padding-left:35px;
    background:#f3f3f3 url(../../images/patient_header/search-gray.svg) 10px 50% no-repeat !important;
    background-size:15px auto !important;
}


#change_patient_chosen.chosen-container .chosen-results {
	margin:10px;
}
#change_patient_chosen.chosen-container .chosen-results > li {
	font-family:"Open Sans", sans-serif;
    font-size:14px;
    font-weight:600;
    margin-bottom:5px;
   
    
}


#change_patient_chosen.chosen-container .chosen-results > li.group-option { 
    background: #fbfcfd url(../../images/patient_header/user-gray.svg) 10px 50% no-repeat;
	background-size:10px auto;
    padding-left:30px;
}





.patient_name div.patient_icon_cell {
	margin-top:2px;
    margin-left:5px;
    z-index:5;
    position:absolute;
}

/*date range*/

.view_selector {
	border-radius:0 !important;
    background:#fbfbff;
    -webkit-box-shadow: 0px 0px 64px 0px rgba(219,222,230,0.84);
	-moz-box-shadow: 0px 0px 64px 0px rgba(219,222,230,0.84);
	box-shadow: 0px 0px 64px 0px rgba(219,222,230,0.84);
    padding:25px;
    height:490px;
    width:300px;
    z-index:10;
}

.view_selector h2, .view_selector .dp_view_title {
	font-size:15px;
    font-family:"Open Sans", sans-serif;
    color:#111111;
/* Commented By Ancuta  - as it is not OK! */
/*     text-transform:capitalize; */ 
    font-weight:700;
    margin-bottom:10px;
}
.view_selector .dp_view_title {
	margin-top:20px;
}
.view_selector .change_view { /*ISPC-2661 Carmen pct.10 15.09.2020 */
	margin-left:0;
/*     margin-right:9px; */
    margin-right:5px; /* Changed by Ancuta 07.05.2020*/
}

.view_selector .interval_selection {
	margin-bottom:15px;
}

.view_selector .ui-datepicker table {
	width:280px;
}
.view_selector .ui-datepicker {
	width:280px;
    border:0;
    background:transparent;

}
.view_selector .ui-datepicker .ui-datepicker-calendar thead th {
 	font-size:14px;
    font-weight:800;
    color:#000;
    padding:0;
    padding-bottom:15px;
}
.view_selector .ui-datepicker .ui-datepicker-calendar tbody td {
	padding:0;
     text-align:center;
}
.view_selector .ui-datepicker .ui-datepicker-calendar tbody td > a {
	border:0px;
    background:transparent;
    text-align:center;
    padding:0;
    width:32px;
    height:32px;
    line-height:32px;
    font-family:"Open Sans", sans-serif;
    font-size:14px;
    font-weight:600;
    color:#3a3a3a;
    margin:2px auto !important;
    display:block;
    box-sizing:border-box;

}

.view_selector .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-other-month  > a {
	color:#888b91;
    font-weight:normal;
}
.view_selector .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-current-day > a {
	font-weight:bold;
    background:#00a2ff;
    color:#fff !important;
    border-radius:6px;
    
}


.view_selector .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-today  > a {
	border:1px solid #00a2ff;
    border-radius:6px;
    color:#00a2ff;
     
}
.view_selector .ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-today > a:hover {
 background-color:#345392;
    transition:background-color 0.3s ease;
}
.view_selector .ui-datepicker-header {
	background:transparent;
    border:0;
    margin-bottom:15px;
}

.view_selector .ui-datepicker .ui-datepicker-prev, .view_selector .ui-datepicker .ui-datepicker-next {
	background:#00a2ff;
    height:30px !important;
    width:30px !important;
    border-radius:50%;
    top:3px;
    border:0 !Important;
}

.view_selector .ui-datepicker .ui-datepicker-prev:hover, .view_selector .ui-datepicker .ui-datepicker-next:hover {
    background-color:#345392;
    transition:background-color 0.3s ease;
}

.view_selector .ui-datepicker .ui-datepicker-next {
	right:0;
}
	
.view_selector .ui-datepicker .ui-datepicker-prev {
	left:0;
}

.view_selector .ui-datepicker .ui-icon-circle-triangle-e {
	/* background-image: url(../../images/patient_header/arr-right-white.svg); */
	background-image: url(../../images/patient_header/arr-right-white.svg) !important;		/*TODO-3265 Lore 07.07.2020*/
    background-position:calc(50% + 1px) 50%;
    background-repeat:no-repeat;
    background-size:8px auto;
}



.view_selector .ui-datepicker .ui-icon-circle-triangle-w {
	/* background-image: url(../../images/patient_header/arr-left-white.svg); */
	background-image: url(../../images/patient_header/arr-left-white.svg) !important;		/*TODO-3265 Lore 07.07.2020*/
    background-position:calc(50% - 2px) 50%;
    background-repeat:no-repeat;
    background-size:8px auto;
}



.view_selector .ui-datepicker-month, .view_selector .ui-datepicker-year {
    
    
	background:#f3f3f3 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9UUi8yMDAxL1JFQy1TVkctMjAwMTA5MDQvRFREL3N2ZzEwLmR0ZCI+PHN2ZyB2ZXJzaW9uPSIxLjAiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEycHgiIGhlaWdodD0iN3B4IiB2aWV3Qm94PSIwIDAgMTIgNyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgNyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzM3MzczNyIgZD0iTTExLjgsMC4yYy0wLjMtMC4zLTAuNy0wLjMtMSwwTDYsNS4ybC00LjgtNWMtMC4zLTAuMy0wLjctMC4zLTEsMGMtMC4zLDAuMy0wLjMsMC44LDAsMWw1LjMsNS41QzUuNiw2LjksNS44LDcsNiw3YzAuMiwwLDAuNC0wLjEsMC41LTAuMmw1LjMtNS41QzEyLjEsMSwxMi4xLDAuNSwxMS44LDAuMnoiLz48L3N2Zz4=) calc(100% - 10px) 50% no-repeat;
    background-size:15px auto;
    border:0;
    border-radius:15px;
    height:30px;
    margin-right:5px !important;
    font-size:14px !Important;
    font-family:"Open Sans", sans-serif !Important;
    color:#3a3a3a;
    text-transform:uppercase;
    font-weight:700;
    padding-left:7px;
    -webkit-appearance: none; 
    appearance: none  !important;
}

.view_selector .ui-datepicker-year {
	width:70px !important;
}

.view_selector .apply_btn, .view_selector .cancel_btn {
    height:42px;
    width:130px;
    font-size:15px;

}

.view_selector .apply_btn:hover {
	   background-color:#345392;
    transition:background-color 0.3s ease;

}

/*plus button */
.patient-main-add-btn {
	background-color:#00a2ff;
    cursor:pointer;
      -webkit-box-shadow: 0px 0px 64px 0px rgba(219,222,230,0.84);
	-moz-box-shadow: 0px 0px 64px 0px rgba(219,222,230,0.84);
	box-shadow: 0px 0px 64px 0px rgba(219,222,230,0.84);
    bottom:35px;
    padding:30px;
}

.open_event_modal {
    background-color:#00a2ff !important;
    font-family:"Open Sans", sans-serif;
    border-radius:6px;
}
.open_event_modal:hover {
     background-color:#345392 !important;
    transition:background-color 0.3s ease;
}

.contact_form_main {
background-position:50% 25px;
    font-weight:700;
    font-family:"Open Sans", sans-serif !important;
    padding-top:35px;
}

/*buttons*/
.main_patient_header .buttons-container ul.bc li.besuch {
    background-image: url(../../images/patient_header/icon-besuch.svg) !important;
    width: 150px;
}
.main_patient_header .buttons-container ul.bc {
	margin-top:30px;
}




/*full width header*/
.outer {
width:100% !important;}

#Wrapper {
width:calc(100% - 20px) !important;
}

#MainContent {
	width:calc(100% - 202px) !important;
}


.error_select{
	background: #ff00000d;
}

.error_info{
	background: #ff00000d;
	color: #ff0000;
	display: none; 
	float: left;
	width: 100%;
	text-align: center;
	line-height: 20px;
	
}