table.datatable_new input[type='radio']
{
    margin-top: 4px;
}

table.datatable_new h1
{
    font-size: 18px;
    color: #555;
}

table.datatable_new h2
{
    font-size: 16px;
    color: #555;
}

table.datatable_new h3
{
    font-size: 14px;
    color: #555;
    display: block;
    float: left;
    width: 99%;
}
table.datatable_new h4
{
    font-size: 12px;
    color: #555;
}
.patin_q_header{
	
    border-bottom: 1px solid #000000;
    color: #000000;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    text-decoration: none;
}


.datatable_new
{
    border:1px solid #f5f5f5;
    line-height: 250%;
}
.datatable_new tr td
{
    padding-left: 5px;
    /*width: 15%;*/
}
.datatable_new tr td.anim_inside
{
    height:60px;
    display: table-cell;
}

input.small_input
{
    width:50px;
}
input.small_input_second
{
    width:150px;
}
input.long_input
{
    width:98%;
}
input.long_input_second
{
    width:95%;
}

.datatable_new_sub
{
    /*border:1px solid #000;*/
    line-height: 250%;
    width:400px;;
}
.datatable_new_sub tr td
{
    width:300px;
}
.datatable_new_sub tr td.checkbox_cell
{
    width:30px;
    padding-left: 5px;
}

.advanced_human_body_canvas, .preview_human_body_canvas {
    border: 1px solid #999999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background: url(../../images/wundlocation.png);
}

.grid_5{
    width: 5%;
}
.grid_10{
    width: 10%;
}
.grid_11{
    width: 11%;
}

.grid_20{
    width: 20%;
}

.grid_25{
    width: 25%;
}

.grid_30{
    width: 30%;
}

.grid_32{
    width: 32%;
}

.grid_35{
    width: 35%;
}

.grid_40{
    width: 40%;
}
.grid_45{
    width: 45%;
}

.grid_50{
    width: 50%;
}
.human_big {
	background: url(../../images/human_big.jpg);
}

.grid_75 {
    width: 75%;
}

.grid_90 {
    width: 90%;
}

.grid_98 {
    padding-left: 0;
    width: 98%;
}
.grid_100 {
    padding-left: 0;
    width: 100%;
}

.grid_15px {
    width: 15px;
}
div.documents {
    width: 270px;
}
div.documents{
    overflow-y: auto;
}

div.documents ul{
    width: 240px;
    height: 400px;
}
li.shadow {
    line-height: 125%;
    width: 100%;
    margin: 0 0 5px 0;
    border: 1px solid #ccc;
    padding: 2px;
    cursor: pointer;
}

li.shadow.selected {
    line-height: 125%;
    width: 100%;
    margin: 0 0 5px 0;
    border: 1px solid #ccc;
    padding: 6px;
    cursor: pointer;
}

li.shadow.selected a {
    font-weight: 700;
}

li a, li a:hover {
    text-decoration: none;
}

li.shadow:hover {
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
td.curent_file {
    font-size: 32px;
    vertical-align: middle;
}
table td em {
    font-size: 10px;
}
.required_element{
    border: 1px solid red;
}