/**
 * Maria:: Migration CISPC to ISPC 22.07.2020
 */ 

#patientcasestatus {
    width: 100%;
}
/* Maria:: Migration CISPC to ISPC 20.08.2020 */
#patientcasestatus #casetable tr td:nth-child(1) input,
#patientcasestatus #casetable tr td:nth-child(3) input{
    width:70px;
}

#patientcasestatus #casetable tr td:nth-child(2) input,
#patientcasestatus #casetable tr td:nth-child(4) input{
    width:50px;
}

#patientcasestatus input.button{
    padding:8px;
    margin:20px;
    margin-left:0px;
    cursor:pointer;
    float:left;
}

/* Add a background color on hover */
#patientcasestatus input.button:hover {
    background-color: #BDE5F8;
}

#patientcasestatus .discharge{
    margin-top: 100px;
    clear: both;
}


#patientcasestatus .message{
    border:1px solid green;
    background-color: #90ee90;
    padding:8px;
    margin-top:8px;
    margin-bottom:8px;
}

.error_display_field {
    border: red 2px solid;
}

.error_display_area {
    display: block;
    width: 45%;
    height: auto;
    color: red;
    border: red 2px solid;
    padding: 10px;
    margin: 25px 40px 25px 40px;
}

.row_proto{
    display:none;
}


