/**
 * Maria:: Migration CISPC to ISPC 22.07.2020
 */ 

body>div.outer{
	width: 100%!important;

}
body>div.outer>div#Wrapper {
	width: 100%!important;
	min-height: 5px;
	overflow: hidden;

}

#printarea {
	max-width:1100px;

}

#assignarea {
	max-width:1100px;

}
div.bp-container {
	display: inline-table;
	width: 100%;

	background: rgba(245,245,245,0.25);
	border: 1px solid rgba(159,159,159,0.25);
	font-family: arial;
	margin-bottom: 10px;
	box-sizing: border-box;
	position:relative;
	float:none;
}

div.bp-container h2, h2.bp-h2 {
	font-size: 20px;
	font-family:Arial;
	font-weight: bold;
	margin:15px 15px;
	padding:0;
	padding-bottom:5px;
	color:#000;
}


div.bp-container ul.right-buttons {
	margin:0;
	padding:0;
	position:absolute;
	right:10px;
	top:7px;
}
div.bp-container ul.right-buttons li {
	float:left;
	margin-left:10px;
}
div.bp-container ul.right-buttons li button {
	border:1px solid #00A2FF;
	display:inline-table;
	box-sizing:border-box;
	height:34px;
	background:transparent;
	color:#00A2FF;
	border-radius:6px;
	cursor:pointer;
	font-size:13px;
	line-height:33px;
	font-family:Arial;
	padding:0;
	padding-right:10px;
	transition:background 0.3s ease, color 0.3s ease;
}
div.bp-container ul.right-buttons li button:hover {
	transition:background 0.3s ease, color 0.3s ease;
	color:#FFF;
}
div.bp-container ul.right-buttons li button.btnPrint {
	background:transparent url(../../images/roomplan/btn-print.svg) 10px 50% no-repeat;
	background-size:14px auto;
	padding-left:32px;
}
div.bp-container ul.right-buttons li button.btnPrint:hover {
	background:#00A2FF url(../../images/roomplan/btn-print-w.svg) 10px 50% no-repeat;
	background-size:14px auto;
}
div.bp-container ul.right-buttons li button.btnPatient {
	background:transparent url(../../images/roomplan/btn-patienten-zuweisen.svg) 8px 50% no-repeat;
	background-size:18px auto;
	padding-left:33px;
}
div.bp-container ul.right-buttons li button.btnPatient:hover {
	background:#00A2FF url(../../images/roomplan/btn-patienten-zuweisen-w.svg) 8px 50% no-repeat;
	background-size:18px auto;
}


div.bp-container div.bp-item {
	border-radius:6px;
	background:#F3F3F3;
	display: inline-table;
	width: calc(100% - 16px);
	position:relative;
	box-sizing:border-box;
	margin:8px;
	margin-top:0;
	margin-bottom:5px;
}

div.bp-container div.bp-item:nth-child(2n+2) {
	background:#EBEBEB;

}
div.bp-container div.bp-item:last-child {
	margin-bottom:10px;
}


div.room-item ul.description {
	width:100%;
	display:flex;
	align-items: center;
	margin:0;
	padding:0;
	border-bottom:1px solid #D8D8D8;
}

div.room-item ul.description li {
	float:left;
	height:100%;
	width:25%;
	box-sizing:border-box;
	display:flex;

	align-items: center;
	padding-left:50px;
	padding-right:10px;
	list-style:none;
	font-size:13px;
	padding-top:12px;
	padding-bottom:12px;

	font-size:13px;
	font-family:Arial;
	color:#000;
}


div.room-item ul.description li.room-name {
	background:url(../../images/roomplan/ico-room.svg) 18px 50% no-repeat;
	background-size:27px auto;
	font-weight:bold;
	width:140px;
}
div.room-item ul.description li.room-patient {
	background:url(../../images/roomplan/ico-user.svg) 18px 50% no-repeat;
	background-size:17px auto;
}
div.room-item ul.description li.room-patient div {
	width:100% !important;

	display:inline;
	float:none !important;

}
div.room-item ul.description li.room-patient div.status {
	padding-left:20px;
	display:inline;
	width:100%;
	line-height:22px;
}
div.room-item ul.description li.room-patient div.status.red {
	background: url(../../images/roomplan/ico-priority-red.svg) 0% 50% no-repeat;
	color:red;
}
div.room-item ul.description li.room-patient div.status.green {
	background: url(../../images/roomplan/ico-priority-green.svg) 0% 50% no-repeat;
	color:#79eb74;
}
div.room-item ul.description li.room-patient div.status.yellow {
	background: url(../../images/roomplan/ico-priority-yellow.svg) 0% 50% no-repeat;
	color:#fc0;
}

div.room-item ul.description li.room-doctor {
	background:url(../../images/roomplan/ico-doctor.svg) 18px 50% no-repeat;
	background-size:22px auto;
}
div.room-item ul.description li.diagnose {
	background:url(../../images/roomplan/ico-diagnose.svg) 18px 50% no-repeat;
	background-size:22px auto;
}
div.room-item ul.description li.date {
	background:url(../../images/roomplan/ico-date-gray.svg) 18px 50% no-repeat;
	background-size:22px auto;
}
div.room-item ul.description li.date strong {
	width:100%;
	float:left;
	display:block;
}


div.bp-container ul.editable-autoresize {
	width:100%;
	box-sizing:border-box;
	display:inline-table;
	margin:0;
	padding:0;
}
div.bp-container ul.editable-autoresize  li {
	float:left;
	list-style:none;
	width:33.33%;
	box-sizing:border-box;
	display:inline-table;
}
div.bp-container ul.editable-autoresize li label,
div.bp-container ul.wli-top li label {
	display:inline-table;
	width:100%;
	font-weight:bold;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	letter-spacing:0.5pt;
	text-transform:uppercase;
	padding-top:14px;
	margin-left:10px;
	margin-bottom:5px;
}
div.bp-container ul.editable-autoresize li:first-child label,
div.bp-container ul.wli-top li:first-child label {
	margin-left:18px;
}


div.bp-container ul.editable-autoresize  li textarea {
	width:100%;
	height:30px;
	box-sizing:border-box;
	background:#ffffff;
	border:1px solid #D8D8D8;
	/*max-height:130px;*//*ISPC-2810,Elena,28.01.2021*/
	font-size:13px;
	font-family:Arial;
	padding:7px;
	z-index:1;
	position:relative;
	transition:border 0.3s ease;
	margin:0;
	margin-bottom:7px;
	line-height:18px;

}
div.bp-container ul.editable-autoresize  li:first-child textarea  {
	margin-left:10px;
	width:calc(100% - 9px);
	border-radius:6px 0 0 6px;
	/* border-right:0; */
	margin-right:-1px;
}

div.bp-container ul.editable-autoresize  li:last-child textarea  {
	margin-right:10px;
	width:calc(100% - 9px);
	border-radius:0 6px 6px 0;

	margin-left:-1px;
}


div.bp-container ul.editable-autoresize li textarea::-webkit-scrollbar {background:#CCCDCE; width:7px; border-radius:7px; margin-right:0px; padding:10px;}
div.bp-container ul.editable-autoresize li textarea::-webkit-scrollbar-track {background:#EBEDEE; width:5px; border-radius:10px;}
div.bp-container ul.editable-autoresize li textarea::-webkit-scrollbar-thumb {border-radius:10px; background:#CCCDCE;}




/*patient list*/

div.bp-container table.patient-list {
	width:calc(100% - 16px);
	margin:8px;

}

div.bp-container table.patient-list tr th {
	height:30px;
	border-right:1px solid #D8D8D8;
	font-size:12px;
	font-family:Arial;
	color:#000;
	font-weight:bold;
	letter-spacing:0.5pt;
	padding:9px 12px;
	box-sizing:border-box;
}
div.bp-container table.patient-list tr th.alt, div.bp-container table.patient-list tr th.verst {
	width:150px;
}

div.bp-container table.patient-list tr th:last-child {
	border:0;
}
div.bp-container table.patient-list tr td {
	height:52px;
	vertical-align:middle;
	border-right:1px solid #D8D8D8;
	padding:12px;
	box-sizing:border-box;

}
div.bp-container table.patient-list tr td:first-child {
	border-radius:6px 0 0 6px;
}
div.bp-container table.patient-list tr td:last-child {
	border-radius:0 6px 6px 0;
	border-right:0;
}

div.bp-container table.patient-list tr.even td {
	background:#F3F3F3;
}
div.bp-container table.patient-list tr.odd td{
	background:#EBEBEB;
}

div.bp-container table.patient-list tr.separator td {
	height:5px;
	padding:0;
}

/*Wlist*/

div.bp-container ul.wli-top {
	width:calc(100% - 45px);
	box-sizing:border-box;
	display:inline-table;
	margin:0;
	padding:0;
}
div.bp-container ul.wli-top li {
	float:left;
	margin-right:10px;
}

div.bp-container ul.wli-top li.date {
	width:110px;
}
div.bp-container ul.wli-top li.date input.date {
	background:#fff url(../../images/roomplan/btn-date.svg) calc(100% - 6px) 50% no-repeat;
	background-size:17px auto;
}

div.bp-container ul.wli-top li input[type="text"] {
	width:100%;
	height:30px;
	border-radius:6px;
	box-sizing:border-box;
	background:#ffffff;
	border:1px solid #D8D8D8;
	font-size:13px;
	font-family:Arial;
	padding-left:7px;
	transition:border 0.3s ease;
	margin:0;
}
div.bp-container ul.wli-top li input[type="text"]:focus, div.bp-container ul.editable-autoresize li textarea:focus {
	border:1px solid #00A2FF;
	z-index:2;
	transition:border 0.3s ease;
}


div.bp-container ul.wli-top li.name {
	width:calc(100% - 580px);
	margin-left:10px;
}


div.bp-container ul.wli-top li.name label {
	margin-left:8px;
}

div.bp-container ul.wli-top li.age {
	width:120px;

}
div.bp-container ul.wli-top li.priority {
	width:180px;

}
div.bp-container ul.wli-top li.priority .priority {
	display:block;
	width:15px;
	height:19px;
	margin-left:7px;
}
div.bp-container ul.wli-top li.priority .priority.red {
	background:url(../../images/roomplan/ico-priority-red.svg) 50% 50% no-repeat;
}

div.bp-container ul.wli-top li.priority .priority.yellow {
	background:url(../../images/roomplan/ico-priority-yellow.svg) 50% 50% no-repeat;
}
div.bp-container ul.wli-top li.priority .priority.green {
	background:url(../../images/roomplan/ico-priority-green.svg) 50% 50% no-repeat;
}

/*checkboxes/radio */



ul.radio-checkbox {

	margin-top:8px;

}
ul.radio-checkbox li {
	float:left;
	width:auto;

	margin-right:15px !important;
}


ul.radio-checkbox input[type="checkbox"],
ul.radio-checkbox input[type="radio"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
ul.radio-checkbox label {
	position: relative;
	display: inline-block;
	padding: 0px 0 0 20px;
	height: 21px;
	line-height: 3px;
	cursor: pointer;
	font-size:16px;
	padding-top:1px !important;

	margin-left:0px !important;

}
ul.radio-checkbox label::before,
ul.radio-checkbox label::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 21px;
	height: 21px;
}
ul.radio-checkbox label::before {
	content: " ";
	border: 2px solid #D8D8D8;
	border-radius: 20%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background:#fff;
}


/* Checkbox */
ul.radio-checkbox input[type="checkbox"] + label::after {
	content: " ";
	background-image:url(../../images/roomplan/btn-checkmark-white.svg);
	background-repeat:no-repeat;
	background-position:50% 50%;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-size:11px;
}
/* Radio */
ul.radio-checkbox input[type="radio"] + label::before {
	border-radius: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.radio-checkbox input[type=radio] + label::after {
	content: " ";
	top: 5px;
	left: 5px;
	width: 11px;
	height: 11px;
	background: #707070;
	border: 0;
	border-radius: 50%;
}
/* :checked */
ul.radio-checkbox input[type="checkbox"]:checked + label::before,
ul.radio-checkbox input[type="radio"]:checked + label::before {
	background: #707070;
	border-color: #707070;
}
ul.radio-checkbox input[type="radio"]:checked + label::before {
	background:transparent;
}

ul.radio-checkbox input[type="checkbox"] + label::after,
ul.radio-checkbox input[type=radio] + label::after {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
ul.radio-checkbox input[type="checkbox"]:checked + label::after,
ul.radio-checkbox input[type=radio]:checked + label::after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* Transition */
ul.radio-checkbox label::before,
ul.radio-checkbox label::after {
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}


ul.radio-checkbox input[type="checkbox"]:checked + label,
ul.radio-checkbox input[type="radio"]:checked + label{
	font-weight:500;
	color:#000000;

}
/*disabled*/
ul.radio-checkbox.disabled label::before {
	border-color:#f0f0f0;
}

ul.radio-checkbox.disabled input[type="checkbox"]:checked + label::before,
ul.radio-checkbox.disabled input[type="radio"]:checked + label::before {
	background: #f0f0f0;
	border-color: #f0f0f0;
}
/*end checkbox*/

div.bp-container .wl-item {
	position:relative;
}
div.bp-container .wl-item .btnDelete {
	position:absolute;
	background:red;
	height:100%;
	right:0;
	margin:0;
	padding:0;
	top:0;
	border:0;
	background:rgba(170,170,170,0.1) url(../../images/roomplan/btn-cross-red.svg) 50% 50% no-repeat;
	background-size:16px 16px;
	border-left:1px solid #D8D8D8;
	width:44px;
	cursor:pointer;
	border-radius:0 6px 6px 0 ;
	transition:background 0.3s ease;
}
div.bp-container .wl-item .btnDelete:hover {
	background:rgba(170,170,170,0.2) url(../../images/roomplan/btn-cross-red.svg) 50% 50% no-repeat;
	background-size:16px 16px;
	transition:background 0.3s ease;
}

div.bp-container .wl-item ul.room-editable {
	width:calc(100% - 43px);
}

.btnSpeichern {
	display: inline-block;
	box-sizing: border-box;
	width: calc(100% - 16px);
	max-width: 1200px;
	margin-left: 8px;
	margin-bottom:8px;
	height: 47px;
	background: #00A2FF url(../../images/roomplan/btn-checkmark-white.svg) calc(50% - 78px) 50% no-repeat;
	background-size: 21px auto;
	border: 0;
	border-radius: 6px;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
	padding-left: 25px;
	transition: background-color 0.3s ease;
}

.btnSpeichern:hover {
	cursor:pointer;
	background-color:#008AD9;
	transition:background-color 0.3s ease;

}



