/*body {
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#4a565c;


}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:820px;
}*/

.left {
	float:left;
}

.right {
	float:right;
}
.ClrBoth {
	clear:both; 
}

#ReceoiptFrom {
	width:100%;
	border:solid 1px #d8d8d8;
	padding:10px;
	font-size:11px;
}

#ReceoiptFrom .LeftBox {
margin-right:5px;
float:left;
width:auto;
display:block;
}

#ReceoiptFrom .LeftBoxLast {
float:left;
width:auto;
display:block;
}
#ReceoiptFrom .LeftBoxLastOne {
float:left;
width:auto;
display:block;
margin-left:8px;
}

#ReceoiptFrom .LeftBoxCenter {
margin-right:15px;
float:left;
width:auto;
display:block;
text-align:center;
margin-top:15px;
margin-bottom:3px;
}

#ReceoiptFrom .LeftBoxCenterNw {
margin-right:15px;
float:left;
width:auto;
display:block;
text-align:center;
margin-bottom:3px;
}
#ReceoiptFrom .LeftInnerBox {
margin-right:5px;
float:left;
width:auto;
line-height:18px;
margin-bottom:32px;
}

#ReceoiptFrom .LeftInnerBoxBig {
margin-right:5px;
float:left;
width:auto;
line-height:18px;
margin-bottom:32px;
margin-top:10px;

}
#ReceoiptFrom .LeftInnerBoxBigNew {
margin-right:5px;
float:left;
width:auto;
line-height:18px;
margin-bottom:32px;
margin-top:8px;

}
.pallnetz_topform
{	width:400px;
	float:left;
	border:1px solid #000000;
	padding:5px;
	color:#000;
	font-size:11px;
}

.pallnetz_topform label
{	width:auto;
}

.pallnetz_topform .blackline
{	border-bottom:1px solid #000000;
	margin:3px -5px 0 -5px;
}

.pallnetz_topform .formleftdiv
{	float:left;
	width:auto;
	margin-right:5px;

}

.pallnetz_topform .formleftdiv .textArea
{	width:160px;
	margin-left:0px;
	margin-bottom:5px;
}

.pallnetz_topform .formrightdiv
{	float:right;
	width:75px;
	padding-right:5px;
}

.pallnetz_topform .formShortDiv
{	float:left;
	margin-top:5px;
}

.pallnetz_topform .VerLine
{	float:left;
	width:1px;
	height:25px;
	background:#000;
	margin:35px 7px 0px 7px;
	margin-bottom:-3px;
}
.formleftdivPding {
padding-top:5px;
}

.pallnetz_topform .formleftdivNew
{	float:left;
	width:auto;

}
.RezepturText {
float:left;
padding-top:17px;
padding-bottom:10px;
}

.FrTxtarea {
	display:block;
	margin-top:3px;
	
}

.FrTxtareaInner {
width:auto;
float:left;
margin-right:5px;

}

.FrTxtareaInnerNew {
width:auto;
float:left;
margin-right:5px;
margin-bottom:3px;

}
.FrTxtareaInnerRight {
width:auto;
float:left;

}
.FrTxtareaInnerRight {
width:auto;
float:left;
margin-bottom:3px;
}
.frlefttextarea {
margin-top:30px;
}

#ReceoiptFrom .LeftBoxBvg {
margin-right:18px;
float:left;
width:auto;
display:block;
text-align:center;
margin-bottom:3px;
padding-left:2px;
}

#ReceoiptFrom .CheckBx {
float:left;
width:auto;
display:block;
line-height:17px;
margin-right:3px;
margin-left:3px;

}
.CheckBxOuter {
margin-top:2px;
border:solid 1px #d8d8d8;

}
.Ausstolungdetum {
text-align:center;
}

.FrTxtareaInnerRightNew {
	width:auto;
	float:right;
}

.MrgTop {
margin-top:13px;
}

#ReceoiptFrom .LeftBoxNew {
margin-right:15px;
float:left;
width:auto;
display:block;
}
div#livesearch_receipt_mmi {
    background-color: #fff;
}


.receipt_background{
    background:url('../../images/pharmaindex/kv_blank.png') no-repeat;
    width:820px;
    height:575px;
    position:relative;
}