table.datatable_new input[type='radio']
{
	margin-top: 4px;
}

table.datatable_new h1
{
	font-size: 18px;
	color: #555;
}

table.datatable_new h2
{
	font-size: 16px;
	color: #555;
}

table.datatable_new h3
{
	font-size: 14px;
	color: #555;
	    display: block;
    float: left;
    width: 99%;
}
table.datatable_new h4
{
	font-size: 12px;
	color: #555;
}


.datatable_new
{
	border:1px solid #000;
	line-height: 250%;
}
.datatable_new tr td
{
	padding-left: 5px;
	width: 15%;
}
.datatable_new tr td.anim_inside
{
	height:60px;
	display: table-cell;
}

input.long_input
{
	width:98%;
}
input.long_input_second
{
	width:95%;
}
textarea#curent_medical_history, textarea#social_history {
	width: 98%;
	height: 60px;
}
textarea#other_findings {
	width: 94%;
	height: 380px;
}

input#contact_person_name, input#contact_person_lastname, input#other_theraphy_more {
	width: 220px;
}

.datatable_new_sub
{
	/*border:1px solid #000;*/
	line-height: 250%;
        width:400px;;
}
.datatable_new_sub tr td
{
    width:300px;
}
.datatable_new_sub tr td.checkbox_cell
{
	width:30px;
	padding-left: 5px;
}

.contactperson_block {

}

form.contactperson_modal {
	padding: 0 20px 0 20px;

}
form.contactperson_modal div{
	display: block;
	float: left;
	width: 100%;
}

form.contactperson_modal div label{
	display: block;
	float: left;
	width: 200px;
	line-height: 26px;
}

form.contactperson_modal div input{
	display: block;
	float: left;
}
form.contactperson_modal div textarea{
	display: block;
	float: left;
	height: 50px;
}
.human_body_canvas {
	border: 1px solid #999999;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	background: url(../../images/human_small.jpg);
}
.human_big {
	background: url(../../images/human_big.jpg);
}