/**
 * Maria:: Migration CISPC to ISPC 22.07.2020
 */ 


.reportclinic {
}

.reportclinic h1{
	float: left;
	margin-top: 20px;
	margin-left: 10px;

}

.reportclinic table{
	width: 100%;
	border-collapse: collapse;
	border:1px solid grey;
}

.reportclinic table th {
	padding: 3px;
	background-color: #b3bed7;
	margin-left: 10px;
}

.reportclinic table th.second{
	padding: 3px;
	background-color: #eee;
}

.reportclinic table td {
	padding: 3px;

}

.reportclinic .button_bar{

	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	float: right;

}

.reportclinic button{
	padding: 10px 10px;
	border: 1px solid currentColor;
	color: #016898;
	float: right;
	background: transparent;
	margin-bottom: 10px;
	margin-left: 10px;
}

.reportclinic .buttonText{
	display: inline-block;
	margin-left: 5px;
}

.reportclinic button:hover{
	color: #19B5FE;
}

.reportclinic .buttonIcon{
	width: 16px;
	height: 16px;
}

.reportclinic .tabnav{
	clear: both;
	margin-top:26px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.reportclinic .tabnav label{
	float: left;
	padding: 10px 15px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	background: #9DA3B3;
	background-image: -moz-linear-gradient( 90deg, rgb(157,163,179) 0%, rgb(181,191,213) 99%);
	background-image: -webkit-linear-gradient( 90deg, rgb(157,163,179) 0%, rgb(181,191,213) 99%);
	background-image: -ms-linear-gradient( 90deg, rgb(157,163,179) 0%, rgb(181,191,213) 99%);
	color: #f4f4f4;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	border-radius: 5px 5px 0 0;
}

.reportclinic .tabnav label:hover {
	background:#8d97b0;
}

.reportclinic .tabnav label.tab-active {
	background: #ffffff;
	color: #111;
	position: relative;
	border-bottom: none;
}

.reportclinic .tabgroup{
	display: block;
	margin-left: 10px;
	clear: both;
}

.reportclinic .tabelement{
	padding: 10px 10px 10px 1px;
	border: 1px solid silver;
	display: none;
}

.reportclinic .tabelement.tab-active{
	display: block;
}

.reportclinic .filter_block {
	clear: both;
	padding: 10px 10px;
	border: 1px solid currentColor;
	border-color: #016898;
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 97%;

}

.reportclinic .select_block {
	padding: 10px 10px;
	border: 1px solid currentColor;
	border-color: #016898;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	width: 40%;
}

.reportclinic .select_block .select_radio_block span{
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-self: flex-end;
	justify-content: left;
	justify-items: start;
	align-content: space-around;
}

.reportclinic .select_block .select_radio_block span :nth-child(2n+1) {
	/**flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 10rem;*/
}
.reportclinic .select_block .select_radio_block span :nth-child(2n+2) {
	margin-left: 2rem;
	/*flex-grow: 1;
	flex-shrink: 1;
	flex-basis: calc(50% - 10rem);*/
}
.reportclinic .select_block .select_radio_block span :nth-child(2n+3) {
	margin-left: 2rem;
	/*flex-grow: 3;
	flex-shrink: 3;
	flex-basis: calc(100% - 10rem);*/
}
.reportclinic .select_block select{
	font-size: 16px;
	margin-left: 5px;
}





