body {
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    font-weight:normal;
    color:#4a565c;
}
#container, div#container_rpperformance_record table {
    margin: 0 0 0 0;
}

.datatable_new {
    width: 800px;
    line-height: 150%;
    border: 1px solid #000;

}
td.shortcuts, td.sums, td.inside_container_cell {
    border: 1px solid #000;
}

div#container_rpperformance_record td {
    /*padding: 0 2px 0 2px;*/
    padding-left: 1px;
    padding-right: 1px;
    margin: 0;
    vertical-align: middle;
    word-break: break-word;

}
#inside_table{
    border: 1px solid #000;
    border-color: #ccc;
}
#clear_td {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0px solid #ccc;
    /*text-align: center;*/
    vertical-align: top;
}
.datatable_new td#container {
    padding: 0 0 0 0;
    text-align: center;
    vertical-align: middle;
}
div.overflowed_div table.datatable_new tr td
{
    text-align: center;
}
.datatable_new tr.selected_group {
    color: #666;
    background-color: #EEE;
    text-decoration: none;
}
.datatable_new th, table#performance th {
    line-height: 200%;
    /*padding-left: 5px;*/
    border: 1px solid #000000;
    font-weight: bold;
    /*padding-right: 5px;*/
    text-align: center;
    border-top-width: 0px;
}
table.datatable_new tbody tr td div.overflowed_div {
    margin:0px;
    padding:0 0 0 0;
    clear:both;
    width:590px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-width:0px;
}

td.inactive_day_class, th.inactive_day_class {
    background: #FFCCCC;
}

td.current_day, th.current_day {
    background: #FFFDD0;
}

td.shortcuts {
    width:185px;
    height: 80px;
}
td.shortcuts.last {
    height:107px;
    font-weight: bold;
}

td.sums_header {
    border: 1px solid #000;
    text-align: center;
    font-weight: bold
}
td.sums {
    border: 1px solid #000;
    width:50px;
    text-align: center;
}

td.weekend, th.weekend {
    background-color: #ccc;
}

table.datatable_new td.header_title_selector{
    text-align: left;
    height:60px;
}
#performance th {
    height: 60px;
}
#performance td.inside_container_cell {
    margin:0;
    /*padding-left: 10px;*/
    height: 80px;
}


input.p_home {
    width: 25px;
}
input.p_nurse {
    width: 25px;
}
input.p_hospiz {
    width: 25px;
}

table.input_container_table {
    border:0;
    margin: 0;
    padding:0;
    width: 33px;
    height: 100%;
    padding:2px;
}
table.input_container_table td, table.qty_types td
{
    height: 30px;
}
table.qty_types {
    border:none;
    margin: 0;
    padding:0;
    width: 15px;
    height: 90px;
    padding-left: 2px;
    text-align: center;
}
table.header_price_types{
    font-size: 9px;
    vertical-align: bottom;
    width: 100%;
    line-height: 120%;
}
table.header_price_types td{
    vertical-align: bottom;
}

td.first_inside{
    width: 47px;
    text-align: center;
}
td.middle_inside{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 55px;
    text-align: center;
    padding: 0 1px 0 1px;
}
td.last_inside{

    text-align: center;
}