@CHARSET "UTF-8";

/**
* Created by Carmen
* changed by Ancuta
* 23.04.2018
*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#content {
	width: 100%;
	padding-left: 20px;
}

#content .fulldiv, #content .SimpleTable {
	width: 100%;
}

#content .fulldiv {
	/*padding-left: 10px;*/
	
}

#content h2 {
	color: #000;
	font-size: 18px;
}

#content .center {
	text-align: center;
}

#content .innerdiv {
	width: 100%;
	padding-left: 10px;
}

#content .title_td .innerdiv {
	width: 100%;
	padding-left: 10px;
	margin: 10px 0 0px 0;
	margin-bottom: 1px;
	font-size: 12px;
	padding: 10px 0 8px 0;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	margin-bottom: 10px;
}

#content .innerdiv label {
	display: block;
	padding-left: 20px;
}

#content .titletd {
	/*padding: 10px;*/
	font-weight: bold;
	width: 100%;
	font-size: 16px;
}

#content .normaltd {
	padding-top: 1px;
	padding-bottom: 1px;
	width: 100%;
	font-size: 12px;
}

#content .question6 label {
	width: 340px;;
	display: block;
}

#content .inner {
	padding-left: 30px;
}

#content .totaltd {
	margin-left: 300px;
	margin-top: 5px;
}

#content .SimpleTable .totaltd input {
	width: 210px;
	font-size: 14px;
}

#content .SimpleTable .text_total {
	border: 0px;
	background: transparent;
}

#weight, #height, #bmi {
	height: 12px;
	margin-left: 20px;
}

#content .optional {
	display: inline-block;
	width: 100px;
	padding-left: 30px;
}

#content .labeldiv {
	display: inline-block;
}

#content .description {
	height: 0px;
	display: none;
}

#content .div20
{
	width: 20%;
	display: inline-block;
	font-weight: bold;
}

#content .div40
{
	width: 40%;
	display: inline-block;
}

#content .bordtop
{
	border-top: 1px solid #000;
	height: 15px;	
}

#content .bordbott
{
	border-bottom: 1px solid #000;
	height: 15px;
}

#content .empty
{
	height: 15px;
}
.extra_space{
	margin-bottom: 12px;
}
.extra_space br{
	display: none;
}

.cl_anamnesis_total{
	padding-top:30px;
}


.cl_before_anamnesis_total{
	padding-top:30px;
}