body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	float: left;
	margin: 0 auto;
	padding: 15px;
	width: 780px;
}

.ruhen {
	margin: 5px;
}

.ruhen_header {
	font-size: 18px;
	display: block;
	border-bottom: 1px solid #000;
	height: 22px;
	margin: 10px 0 30px 0;
}

.ruhen_header span {
	float: right;
	font-size: 13px;
	line-height: 22px;
}

.ruhen_header b {
	float: left;
}

.ruhen_pr {
	font-size: 18px;
	line-height: 20px;
	float: left;
	display: block;
	width: 100%;
}

.ruhen_patdetails {
	
}

.ruhen_patdetails span {
	float: left;
	font-size: 18px;
	margin: 20px 0 20px 0;
	width: 100%;
}

.ruhne_table {
	float: left;
	width: 100%;
	font-size: 18px;
	border: 1px solid #000;
}

.ruhne_table td {
	border: 1px solid #000;
	padding: 5px;
}

.ruhne_table td input {
	width: 98%;
}

.ruhen_beginn span {
	float: left;
	font-size: 18px;
	margin: 20px 0 20px 0;
	width: 100%;
}

.ruhen_beginn label {
	font-size: 18px;
}

.durch {
	
}
.durch textarea {
	width: 98%;
	height: 50px;
}

.durch span {
	float: left;
	font-size: 18px;
	margin: 20px 0 20px 0;
	width: 100%;
}

.durch table {
	float: left;
	font-size: 18px;
	width: 100%;
}

.durch table input {
	float: right;
	margin: 0 5px 0 0;
}

.addrname {
	float: left;
	font-size: 18px;
	margin: 20px 0 20px 0;
	width: 100%;
}

.addrname label {
	font-size: 18px;
}

.addrname input {
	width: 97%;
}

.palliat {
	
}

.palliat span {
	float: left;
	font-size: 18px;
	margin: 20px 0 20px 0;
	width: 100%;
}

.palliat table {
	float: left;
	font-size: 18px;
	width: 100%;
}

.palliat table input {
	float: right;
	margin: 0 5px 0 0;
}
.einmalige {
	
}

.einmalige span {
	float: left;
	font-size: 18px;
	margin: 20px 0 20px 0;
	width: 100%;
}

.einmalige table {
	float: left;
	font-size: 18px;
	width: 35%;
}

.einmalige table input {
	float: right;
	margin: 0 5px 0 0;
}

.arzts {
	float: left;
	height: 35px;
	width: 100%;
	display: block;
	border-bottom: 1px solid #000;
	margin: 20px 0 20px 0;
}
.arztmore {
	float: left;
	height: 75px;
	width: 100%;
	display: block;
	border-bottom: 1px solid #000;
	margin: 20px 0 20px 0;
}

.arzt {
	float: left;
	font-size: 18px;
}

.dat {
	float: right;
	font-size: 18px;
}

.zeit {
	font-size: 18px;
	float: left;
}
.hp_end{
	margin: 20px 0 20px 0;
}
.ruhne_buttons {
	float: left;
	margin: 10px;
}




td.grund_txtline span{
	float: left; 
	width: 100px;
	margin: 0px
}
td.grund_txtline input{
	float: left; 
	width: 400px;
	margin: 0px
}

input.vdurch_input {
	margin: 5px 5px -5px 5px;
}











