label#lbl_from
{
	float: left;
    display: block;
    width: 18px;
   // margin-left: 154px;
    padding: 6px 10px 3px 0;
}

 label#lbl_till {
 	float: left;
    display: block;
    width: 18px;
    margin-left: 15px;
    padding: 6px 10px 3px 0;
 }

.ui-datepicker-trigger {
	display: block;
	float:left;
}

label#after_opposition {
	width: 145px;
	display: block;
	float:left;
}
.sapvverordnung_new
{
	float: left;
	display: block;
	margin-right: 10px;
	padding: 6px 10px 3px 0;
	width: 134px;
}