body {
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#4a565c;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
	clear:both;
}

.left {
float:left;
}

.right {
float:right;
}

#Palliative {
	width:750px;
	margin:0 auto;
	height:auto;
	margin-top:20px;
	color:#000000;
}

.widthForSapvHeader
{	width:765px;
}

.widthForSapvIdInfo
{	width:168px;
}

.Palliative_Heading {
	width:750px;
	height:30px;
	border-bottom:solid 1px #000000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}

.Palliative_Heading_Left {
	height:auto;
	width:auto;
	margin-right:20px;
	float:left;
}

.Palliative_Heading_Right {
	height:auto;
	width:auto;
	float:right;
	text-align:right;
}

.ClrBoth {
	clear:both;
}

.Palliative_Header {
	width:750px;
	margin:0 auto;
	height:auto;
	border-left:solid 3px #000000;
	border-right:solid 3px #000000;
	border-top:solid 2px #000000;
	border-bottom:solid 2px #000000;
	font-size:14px;
}

.Palliative_Contnet_Outer {
	display:block;
	width:585px;
	height:auto;
	float:left;
}

.Palliative_Contnet_Outer .Patient_Name {
	width:auto;
	float:left;
	padding:5px;
	border-left:5px solid #fff;
}

.MarginZero {
margin:0px 0 0 1px;
}

.BorderDiv {
	background:#000000;
	height:2px;
	width:100%;
}	

.IdInfo {
	width:153px;
	float:left;
	border:solid 2px #000000;
	border-top:0px;
	border-right:0px;
	padding:5px;
}

.IdInfo input
{	margin-top:5px;
}

.IdInfo label
{	margin-top:5px;
	margin-bottom:5px;
}

.Palliative_Header .Address_Info {
	width:auto;
	height:auto;
	display:block;

}

.Palliative_Header .Address_Info_Outer_list {
	width:350px;
	height:auto;
	float:left;
	margin-bottom:10px;
}

.Palliative_Header .Address_Info_left {
	width:140px;
	height:auto;
	float:left;
	margin-left:10px;
	margin-right:5px;
}

.Palliative_Header .Address_Info_right {
	width:180px;
	height:auto;
	float:left;
}
.Palliative_Header .Address_Info_Outer {
	width:auto;
	height:auto;
	display:block;
	margin-top:10px;
	float:left;
}

.GrayDivider { 
	float:left;
	width:2px;
	height:25px;
	background:#c0c0c0;
	margin:113px 12px 0px 5px;
}

.Palliative_Header .Address_Info_Outer_listMargin {
	margin-top:65px;
}

.sapvBthree_outer
{	width:100%;
	margin-top:10px;
	font-size:13px;
}

.Black_border
{	border:1px solid black;
}

.padding_five
{	padding:5px;
}

.textAlign_center
{	text-align:center;
}

.textAlign_right
{	text-align:right;
}

.padding_five
{	padding:5px;
}

.anfrageOuter
{	width:100%;
	display:block;
	line-height:15px;
}

.anfrage30
{	width:30%;
	float:left;
}

.anfrage35
{	width:35%;
	float:left;
}

.anfrage20
{	width:20%;
	float:left;
}

.anfrage70
{	width:70%;
	float:left;
}

.anfrage15
{	width:15%;
	float:left;
	margin-right:10px;
}


.anfrage50
{	width:50%;
	float:left;
}

.anfrage40
{	width:40%;
	float:left;
}

.anfrage60
{	width:60%;
	float:left;
}

.anfrageHeading
{	width:auto;
	float:left;
	padding:5px;
}

.anfrageOuter input
{	margin:0;
	padding:0;
}

.anfrageMainOuter
{	width:100%;
}

.anfrageOuter textarea
{	margin-left:10px;
	margin-bottom:10px;
	width:90%;
}

.anfrageOuter label
{	margin:0;
	width:auto;
	padding:0px;
	margin-left:5px;
}

.border_bottom
{	border-bottom:1px solid black;
}

.border_right
{	border-right:1px solid black;
}

.border_top
{	border-top:1px solid black;
}

.border_left
{	border-left:1px solid black;
}

.anfrageHeadText
{	font-size:14px;
}

.anfrageInputSub
{	margin-left:17px;
	float:left;
}

.anfrageInputSubHead
{	padding:3px;
	width:auto;
	float:left;
}

label.anfrageMrgnL
{	margin-left:20px;
}

.anfrageHeightForDiv
{	height:214px;
}