body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left;
	margin: 0 auto;
/* 	padding: 10px; */
	padding: 0px!important;
	width: 790px;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.Evaluation {
	width: 100%;
	height: auto;
	display: block;
	padding: 10px;
}

.Evaluation label {
	width: auto;
	padding: 0;
	margin: 0;
	text-align: left;
	margin-left: 0px;
}

.Evaluation .InfoSection {
	width: 386px;
	margin-right: 20px;
	height: auto;
	float: left;
	line-height: 26px;
	border: solid 1px #000;
}

.InfoDiv {
	margin-right: 10px;
	padding: 5px 0px 0px 10px;
	display: block;
}

.InfoDivNew {
	margin-right: 10px;
	padding: 10px 0px 8px 10px;
	display: block;
}

.Infoleft {
	width: 220px;
	margin-right: 10px;
	float: left;
	height: auto;
}

.Inforight {
	width: 110px;
	float: left;
}

.Evaluation .HeadingSection {
	width: 275px;
	height: auto;
	float: left;
}
.Evaluation .HeadingSection1 {
	width: 30px;
	height: auto;
	float: left;
}

.Evaluation #betriebsstatten_nr {
	width: 95px;
}
.Evaluation #betriebsstatten_nr1 {
	width: 95px;
}
.Evaluation #betriebsstatten_nr2 {
	width: 95px;
}
.Evaluation #betriebsstatten_nr3 {
	width: 95px;
}
.Evaluation #institutskennzeichen {
	width: 95px;
}
.Evaluation #institutskennzeichen1 {
	width: 95px;
}
.Evaluation #institutskennzeichen2 {
	width: 95px;
}
.Evaluation #institutskennzeichen3 {
	width: 95px;
}
.Evaluation #kassen_nr {
	width: 100px;
}
.Evaluation #kassen_nr1 {
	width: 100px;
}
.Evaluation #kassen_nr2 {
	width: 100px;
}
.Evaluation #kassen_nr3 {
	width: 100px;
}
.HeadingSection .vom {
	width: auto;
	float: left;
	line-height: 18px;
	margin-top: 15px;
	margin-right: 5px;
}
.HeadingSection1 .vom {
	width: auto;
	float: left;
	line-height: 18px;
	margin-top: 15px;
	margin-right: 5px;
}

.Evaluation .HeadingSection h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #4f5456;
	margin: 0;
	padding: 0;
}
.Evaluation .title_point{
  padding: 7px;
  font-weight: bold;
  border:solid 1px #686b6c; 
 /* border:solid 1px #686b6c; */
  width:70px;
  margin-right:10px;
  line-height: 35px;
  display: inline;
  text-decoration: underline;
}


.Evaluation .HeadingSection h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	/*font-weight: normal;*/
	font-weight: bold;
	text-decoration: none;
	/*color: #686b6c;*/
	color: #4f5456;
	margin: 0;
	padding: 0;
}

.Evaluation .HeadingSection .center  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	 line-height:250%;
	text-decoration: none;
	color: #686b6c;
	margin: 0;
	padding-top: 10px;
}

.MarginZero {
	margin: 0px 0 0 1px;
}

.Evaluation .InfoSectionBottom {
	width: 386px;
	height: auto;
	line-height: 26px;
	/*border-top:solid 1px #ccd4d6;*/
	border-top: solid 1px #000;
	float: left;
	margin: 0;
	padding: 0;
}

.Evaluation h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: underline;
	color: #4f5456;
	margin: 0;
	padding: 0;
	padding-top: 10px;
}

.patinfosection {
	width: 100%;
	height: auto;
	font-size: 12px;
	float: left;
	margin-top:5px;
}

.patientenid {
/* 	display: block; */
/* 	float: left; */
	
}
.spacing{
	padding-left:30px;
}
.geschlecht{
	display: block;
	float: left;
	padding-left:6px;
	padding-top:3px;
}
.patientenid label {
/* 	margin: 0; */
/* 	padding: 0; */
/* 	float: left; */
/* 	display: block; */
/* 	text-align: left; */
/* /* 	line-height: 22px; */ */
/* 	color: #4a565c; */
}

.patientenid input {
/* 	float: left; */
/* 	/*width: 100px;*/ */
/* 	margin:0px!important; */
}


.ui-datepicker-trigger {
/*     float: left; */
/*     padding-left: 3px; */
/*     padding-right: 3px; */
/*     padding-top: 0px!important; */
}
.spacing-row{
	margin-top:10px;
}

.spacinginput{
	padding-left:5px!important;
}

.patientenid  ul li {
    float: left;
    width: 130px;
}
.first-contact  ul li {
    float: left;
    width: 170px;
    height: 26px;
}
.life_admission  ul li {
    float: left;
    width: 315px;
}
.first-contact-admission ul li{
	 float: left;
    width: 158px;
}
.AKPS ul li{
	 float: left;
    width: 60px;
}

.assessment_disease ul li{
	float: left;
    width: 100px;
}

.cell_1{
	border: 1px solid black;
	vertical-align:middle;
	width:10%;
	height:20px;
	padding-right:4px;	 
}
.cell_1a{
	border: 1px solid black;
	vertical-align:middle;
	width:15%;
	height:20px;
	padding-right:4px;	 
}
.cell_2{
	border: 1px solid black;
	vertical-align:middle;
	width:80%;
	height:20px;
	padding-right:4px;
	 
}

ul{
	list-style-type:none;
}
.separator{
	height:50px;
	width:100%;
}

.antet{
   display:inline-block;
	width:100%;
}




/* Messpunkt II   */


.Evaluation .title_point2{
  padding: 7px;
  font-weight: bold;
  border:solid 1px #686b6c; 
 /* border:solid 1px #686b6c; */
  width:80px;
  margin-right:10px;
  /*line-height: 35px; */
  display: inline;
  /*text-decoration: underline;*/
  float:right!important;
  margin-right: 75px;
  text-align:center;
}

.radio_but  ul li {
    float: left;
    width: 55px;
}
.col_1{
	width:30%;
}

.col_2{
	width:20%;
}
.col_3{
	width:23%;
}
.col_4{
	width:25%;
}
.additiona_information  ul li {
    float: left;
    width: 220px;
}

	

/* IPOS Messpunkt I   */

.cell1{
	border: 1px solid black;
	vertical-align:middle;
	width:34%;
	height:20px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:4px; 
}
.cell2,.cell3,.cell4,.cell5,.cell6,.cell7{
	border: 1px solid black;
	vertical-align:middle;
	width:10%;
	height:20px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:4px;
	text-align:center;	 
}

.cell7{
	border: 1px solid black;
	vertical-align:middle;
	width:15%;
	height:20px;
	padding-right:4px;
	text-align:center;	 
}


/* IPOS Messpunkt 7 Tage   */

.Evaluation .title_point3 {
    border: 1px solid #686b6c;
    display: inline;
    float: right !important;
    font-weight: bold;
    margin-right: 75px;
    padding: 7px;
    text-align: center;
    width: 120px;
}









.patgenders {
	width: 180px;
	display: block;
	float: left;
}


.patientenid span.years{
	padding-top:7px!important;
}



.patgenders span.gendersex {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 27px;
	color: #4a565c;
}

.patgenders label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 27px;
	color: #4a565c;
}

.patgenders input {
	float: left;
	margin-right: 5px;
	
}

.patage {
	width: 140px;
	display: block;
	float: left;
}

.patage span.patalter {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 22px;
}


.patage input {
	width: 50px;
	float: left;
	margin:0px!important;
	margin-right: 3px;
	margin-left: 1px;
}

.sapvbegin {
	width: 230px;
	display: block;
	float: left;
}

.sapvbegin label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 27px;
	color: #4a565c;
}

.sapvbegin input {
	float: left;
	margin:0px!important;
	width: 80px;
}

.pat_icds {
	width: 100%;
	height: auto;
	font-size: 12px;
}
.pat_icds label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 32px;
	color: #4a565c;
}
.pat_icds input {
	width: 590px;
}


.sidediagnos {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.sidediagnos label {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 32px;
	color: #4a565c;
	font-weight:800;
}
.sidediagnos input {
	width: 462px;
}

.erstverordnung {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.erstverordnung table {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.erstverordnung span{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 28px;
	color: #4a565c;
	font-weight:800;
	width: 200px;
	
}
.erstverordnung label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 27px;
	color: #4a565c;
}
.erstverordnung input {
	float: left;
	margin-right:4px;
}
.erstverordnung ul{
	list-style: none;
	float: left;
}
.erstverordnung ul li{
	float: left;
	width:130px;
	
}
.pflegestufetop {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.pflegestufetop span.Pflegestufespn{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 27px;
	color: #4a565c;
	font-weight:800;
	
	width:170px;
}

.pflegestufetop span.pflegestufe_kein{
	float: left;
	line-height: 27px;
}
.pflegestufetop span.pflegestufe_kein label{
	display: block;
	float: left;
	line-height: 27px;
}
.pflegestufetop span.pflegestufe_nr{
	float: left;
	width: 50px;
}
.pflegestufetop span.pflegestufe_nr label{
	line-height: 27px;
}
.pflegestufetop span.hoherstufung{
	display: block;
	text-align: right;
	line-height: 27px;
	color: #4a565c;
	width: 170px;
	float: left;
}
.pflegestufetop span.pflegestufe_beantragt{
	float: left;
}
.pflegestufetop span.pflegestufe_beantragt2{
	float: left;
	width:88px;
}
.pflegestufetop span.pflegestufe_nicbeantragt{
	float: left;
}

.pflegestufetop label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 27px;
	color: #4a565c;
}
.pflegestufetop input{
	float: left;
	margin-right: 3px;
}
 .ErwartungdesPat {
 	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
	margin-top:10px;
 }
.ErwartungdesPat label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 27px;
	color: #4a565c;
}
.ErwartungdesPat input{
	float: left;
	margin-right: 3px;
}
.ErwartungdesPat span.ErwartungdesPat_spn{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 28px;
	color: #4a565c;
	font-weight:800;
	width:232px;
}
.ErwartungdesPat span.ErwartungdesPat_keine{ 
	float: left;
	width: 130px;
}
.ErwartungdesPat span.ErwartungdesPat_sonstiges{ 
	width: 272px;
	float: left;
	display: block;
}
.ErwartungdesPat input[type="text"]{ 
	width: 180px;
	float: left;
	margin:3px 0 0 0px!important;
 
}
.SAPVBehandlungsziel {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.SAPVBehandlungsziel label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 27px;
	color: #4a565c;
}
.SAPVBehandlungsziel span{
	float: left;
	display: block;
	text-align: left;
	line-height: 32px;
}
.SAPVBehandlungsziel input{
	float: left;
	margin-right:3px;
}
.SAPVBehandlungsziel table{
	float: left;
	width: 100%;
}
.SAPVBehandlungsziel table td.SAPVBehandlu_big{
	width: 370px;
}
.komplexes span{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 32px;
	color: #4a565c;
}

.komplexes {
	clear: both;
	width: 98.5%;
	height: auto;
	font-size: 12px;
}
.komplexes table{
	width: 100%;
	float: left;
}
.komplexes table td.komplexesrad_td{
	width: 155px;
	padding-right: 10px;
}





.weitereskomplexes {
	clear: both;
	width: 98.5%;
	height: auto;
	font-size: 12px;
}
.weitereskomplexes span{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 32px;
	color: #4a565c;
}
.weitereskomplexes table{
	width: 100%;
	float: left;
}
.weitereskomplexes table td.weitereskomplexesrad_td{
	width: 155px;
	padding-right: 10px;
}
 
 .ErwartungdesPat2 {
  	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
 }
.ErwartungdesPat2 label{ 
	font-size: 12px;
 	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 30px;
	color: #4a565c;
}
.ErwartungdesPat2. table{
	width: 100%;
	float: left;
	
	display: block;
}


 
table.radiooptions{
	float: left;
 	font-size: 12px;
	margin: 0;
	width: 145px;
}
table.radiooptions td{
	border: 1px solid #CCD4D6;
	border-top: 0px;	
}
 
table.radiooptions input{
	float: left;
    margin: 2px 1px 0 1px;	
}
table.radiooptions label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 20px;
	color: #4A565C;
}
 
 
 
 
 
 
/* old css*/
 

.FloatLeft {
	float: left;
	width: auto;
	text-align: center;
	padding-left: 5px;
	padding-right: 8px;
	color: #4a565c;
}

.FloatLeftForNo {
	float: left;
	width: auto;
	text-align: center;
	padding-left: 5px;
	color: #4a565c;
}
 

.BlackDivider {
	float: left;
	width: 1px;
	height: 20px;
	/*background:#ccd4d6;*/
	background: #000;
	margin: 40px 12px 0px 5px;
}
  
.LeftMargin {
	margin-left: 16px;
}

.LeftMarginOption {
	margin-left: 34px;
}
 
form {
	font: normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

form fieldset {
	border: solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top: 10px;
	background: #ffffff;
}

form fieldset legend {
	font-size: 1.3em;
	font-weight: bold;
	color: #2d3a67;
}

form label {
	display: block;
	float: left;
	width: 160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}

form input,form textarea,form select {
	width: auto;
	margin: 7px 0 0 10px;
}

form input#reset {
	margin-left: 0px;
}

textarea {
	overflow: auto;
}

form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size: 11px;
}

form .help {
	display: block;
	margin: 0 0 5px 380px;
	width: 27px;
	height: 27px;
	background: green;
}

form .required {
	font-weight: bold;
}

form br {
	clear: left;
}

form .button {
	width: auto;
	height: 27px;
	background: #FFFFFF;
	border: solid 1px #088fd5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #2257a1;
}

form .button1 {
	width: auto;
	height: 27px;
	background: #FFFFFF;
	border: solid 1px #088fd5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #2257a1;
}

form .checkbox {
	width: 100%;
	padding-top: 5px;
}

form .checkbox {
	width: 200px;
}

.TxtbxLbl {
	padding-top: 5px;
}

.LblWidth {
	width: 109px;
}
 
.ClrBth {
	clear: both;
}
 
.durchgefuhrteSAPV {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.durchgefuhrteSAPV table {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.durchgefuhrteSAPV span{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 28px;
	color: #4a565c;
	font-weight:800;
	width: 200px;
	
}
.durchgefuhrteSAPV label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 27px;
	color: #4a565c;
}
.durchgefuhrteSAPV input {
	float: left;
	margin-right:4px;
}
.durchgefuhrteSAPV ul{
	float: left;
	list-style: none;
}
.durchgefuhrteSAPV ul li{
	float: left;
	width:145px;
	
}



.Beendigung{
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.Beendigung span{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 22px;
	color: #4a565c;
}
.Beendigung input {
	float: left;
	margin:0px!important;
	margin-right:4px;
}






.Verstorbenen {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.Verstorbenen table {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
 
.Verstorbenen span{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 32px;
	color: #4a565c;
	font-weight:800;
	width: 200px;
	
}
.Verstorbenen label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height:27px;
	color: #4a565c;
}
.Verstorbenen input {
	float: left;
	margin-right:4px;
	margin-left:0px;
}
span.SterbeortnWunsch{
	width:150px;
	font-weight:400;
}
div.wunsch{
	float: left;
	margin-top:4px;
}
div.wunsch input{
	float: left;
}
div.wunsch div.wunsch_ja{
	width:100px;
	float: left;
	display: block;
}
div.wunsch div.wunsch_nein{
	width:100px;
	float: left;
	display: block;
}
div.wunsch div.wunsch_unbekannt{
	width:150px;
	float: left;
	display: block;
}
div.wunsch label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 27px;
	color: #4a565c;
}

.WeitereAngaben{
	width:510px;
	
	float: left;
}
.tagemit{
	float:left;
	width: 100%;
}
.tagemit label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 32px;
	color: #4a565c;
}
.tagemit label.tagemitlbl{
	width: 160px!important;
	display: block;

}
.tagemit label.inTagen{
	width: 145px;
	display: block;
	margin-left:5px!important;
	margin-right:5px!important;
	
}
.tagemit label.BesuchePC{
	width: 160px!important;
	
}
 

.tagemit input{
	float:left;
	width: 80px;
	margin-right:0px;
	margin-left:0;
}
 


.Notarzteinsatze­­ {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.Notarzteinsatze­­ span {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 22px;
	color: #4a565c;
	
	width:170px;
}

.Notarzteinsatze­­ span.Notarzteinsatze­­_kein{
	float: left;
	width: 65px;
}
.Notarzteinsatze­­ span.Notarzteinsatze­­_kein label{
	display: block;
	float: left;
	margin:0px!important;
}
.Notarzteinsatze­­ span.Notarzteinsatze­­_nr{
	float: left;
	width: 40px;
}
.Notarzteinsatze­­ span.Notarzteinsatze­­_nr­ label{
	line-height: 22px;
}
.Notarzteinsatze­­ label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 22px;
	color: #4a565c;
}
.Notarzteinsatze­­ input{
	float: left;
	margin-top:4px!important;
	margin-right: 3px;
	margin-left:5px;
}


.Einweisungen {
	clear: both;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.Einweisungen span {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 22px;
	color: #4a565c;
	width:170px;
}

.Einweisungen span.Einweisungen_kein{
	float: left;
	width: 65px;
}
.Einweisungen span.Einweisungen_kein label{
	display: block;
	float: left;
}
.Einweisungen span.Einweisungen_nr{
	float: left;
	width: 40px;
}
.Einweisungen span.Einweisungen_nr label{
	line-height: 22px;
}
.Einweisungen label{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	text-align: left;
	line-height: 22px;
	color: #4a565c;
}
.Einweisungen input{
	float: left;
	margin-top:4px!important;
	margin-right: 3px;
	margin-left:5px;
}

.rightstamp{
	float: left;
	display: block;
	width: 260px;
	height: 160px;
	border: 1px solid #000;
	margin: -30px 0 0px 5px;
	text-align: center;
}
.allwhite {
	width:99%;
	height:90%;
	float: left;
	display: block;
	
}
.rightstamp span{
	font-size:9px;
}
.table_msp1{
	width:99%!important;;
}
.table_msp1 td{
	padding: 0px;
	height: 22px;
/* 	border:1px solid red; */
}
.table_msp1 td input{
	margin:0px!important;
	padding:0px!important;
}
.table_msp1 td input[type="text"]{
	height: 18px;
}

.table_msp2{
	width:99%!important;;
}
.table_msp2 td{
	padding: 0px;
	height: 22px;
/* 	border:1px solid red; */
}
.table_msp2 td input{
	margin:0px!important;
	padding:0px!important;
}
.table_msp2 td input[type="text"]{
	height: 20px;
}
.f_highlight{
	display: none;
	 float: left;
	width:98%;
	margin: 10px 0 10px 0; 
	padding: 3px 0 3px 0;
	height: 20%;
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	background: #f8f8f8;

}


ul.tabs{
		
	margin: 0px;
	padding: 0px;
	list-style: none;
	width:99%!important;
}
	
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 0px 10px 0px 10px!important;
	cursor: pointer;
	height: 32px;
}

ul.tabs li.current{
}

.tab_block{
	display: none;
}

.tab_block.current{
	display: inherit;
}

.bottom_footer{
	display: block;
	float: left;
	border:0;
	border-collapse:collapse;
	width: 99%;
	margin-top:80px;
}
.bottom_footer td{
	color:#fff;
	font-size: 10px;
	font-weight: 900;
}


.fall_selector {
	display: block; 
	float: left;
	height: 30px;
	width: 98%;
	padding: 10px 5px 0px 5px;
	border-bottom:1px solid #000000;
	margin-bottom: 15px;
}

.fall_selector label {
	width: 120px;
	line-height: 25px;
}


.se_master_buttons{
	border: 1px solid #999;
    clear: both;
    float: left;
    margin: 20px auto;
    padding: 10px 0 !important;
    width: 790px;
    text-align: center;
}
.se_master_buttons span{
   float: left;
   width: 100%;
   margin: 7px 0 0 0px;
   text-align: left!important; 
}

.se_tabs_buttons{
    float: left;
    width: 100%;
}
.se_tabs_buttons button{
    background-color: #f2f2f2;
    border: 1px solid #bbb;
    padding: 2px;
        margin: 7px 0 0 10px;
    width: auto;
    font-size: 12px;
}
.se_tabs_buttons span{
   float: left;
   width: 100%;
   margin: 7px 0 0 0px;
   
   
}

.tab_form_alert_info {
    background-color: #bde5f8;
    background-image: url("../../images/alert_info.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    color: #00529b;
    font-size: 13px;
    height: 55px;
    margin: 5px 0 5px 0;
    padding: 15px 10px 0 50px;
	float: left; 
	width: 90%;
}

#msp2 .patient_info {
	display: block;
	float: left;
	width: 50%;
}

#msp2 .show_patient_info {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background: transparent url(../../images/info_med.png) no-repeat top left;
	min-height: 16px;
	margin-top: -3px;
} 

#patient_info4hospitalization {
	display: none;
}

#patient_info4hospitalization a{
	cursor: default;
  	text-decoration: none;
  	outline:none !important;
}

#patient_info4hospitalization a:hover {
  	text-decoration: none;
}

#tab_container_provider {
	border: 0px;
	width: 100%;
}

#patient_info4hospitalization .catdetails {
	width: 450px;
}

#patient_info4hospitalization .selector_th_3 {
	width: 35%;
}

#patient_info4hospitalization a:active, a:focus{
	outline:none !important;
}


