@CHARSET "UTF-8";

table.dataTable tbody tr.even{

	background-color: #F0F7FB;
}


table.dataTable tbody tr.odd{
	
}

table.transparent tbody tr {
	background-color:rgba(0, 0, 0, 0);
}

table.transparent{
	
}
table.transparent tbody tr.smalltable td:first-child {
	font-weight:bold;
	color:#666666

}


.top_filter {
	float:right;
	
}