body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin: 0 auto;
	width: 100%;
}
  
input.datepick {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 80px!important;
}
input#sgbv_valid_from {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 80px!important;
}
input#sgbv_valid_till {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 80px!important;
}
input.action_datepick {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 65px!important;
}
input.action_date {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 65px!important;
}

.ui-datepicker-trigger {
	position: relative;
	/*top: 3px; */ /*ISPC-2703, elena, 04.01.2021 */
}



input.approve_datepick {
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	font-size: 12px;
	width: 65px!important;
}
 
#analage {
	width: 98%;
	height: auto;
	margin:auto;
}

#analage h1 {
	font-size: 18px;
	margin-bottom: 8px;
	padding-left: 0px;
}

#analage h3 {
	font-size: 15px;
	margin: 0;
	margin-bottom: 8px;
	padding-left: 0px;
}

#analage .pallnetz_topform {
	width: 355px;
	float: left;
	border: 1px solid #000000;
	margin-top: 10px;
	padding: 10px;
	padding-bottom: 5px;
	color: #000;
}

#analage .pallnetz_topform label {
	width: auto;
}

#analage .pallnetz_topform .blackline {
	border-bottom: 1px solid #000000;
	margin: 5px -10px 0 -10px;
}

#analage .pallnetz_topform .formleftdiv {
	float: left;
	width: 200px;
}

#analage .pallnetz_topform input {
	margin-left: 0px;
	width: 102px;
}

#analage input.insurnace {
	margin-left: 0px;
	width: 320px;
}

#analage .pallnetz_topform .formleftdiv .textArea {
	width: 160px;
	margin-left: 0px;
	margin-bottom: 5px;
}

#analage .pallnetz_topform .formrightdiv {
	float: right;
	width: 130px;
	padding-top: 25px;
}

#analage .pallnetz_topform .formShortDiv {
	float: left;
	margin-top: 5px;
}

#analage .pallnetz_topform .VerLine {
	float: left;
	width: 1px;
	height: 25px;
	background: #000;
	margin: 35px 7px 0px 7px;
	margin-bottom: -5px;
}

/* ################################################ */
#analage .right_heading {
	width: 51%;
	float: right;
	margin-left: 5px;
}

.right_heading h2 {
	font-size: 22px;
	line-height: 25px;
	margin-top: 0;
	margin: 0;
	font-weight: normal;
	text-align: left;
	color: #000;
}

.right_heading input {
	
}
 
.red_alert{
	width:100%; 
	border: 2px solid red; 
	text-align: center;
}
	 
 
.ClrBoth {
	clear: both;
}

.verorRightDiv,
.verorOuter,
.verContentOuter,
.verContentleft {
	width: 100%;
}

.verorRightDiv,
.verorOuter {
	float: left;
	margin-top: 10px;
	display: block;
}

.verorRightDiv input,
.verorContent input {
	width: auto;
	margin-left: 5px;
	float: left;
}

.verorRightDiv label,
.verorContent label {
	width: auto;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}

label.verorTxtbxLbl {
	margin-top: 8px;
}

.veror50 {
	width: 50%;
	float: left;
}

.veror60 {
	width: 60%;
	float: left;
}

.veror35 {
	width: 35%;
	float: left;
}

.veror70 {
	width: 70%;
	float: left;
}

.veror30 {
	width: 30%;
	float: left;
}

.veror5 {
	width: 5%;
	float: left;
}

.veror20 {
	width: 20%;
	float: left;
}

.veror40 {
	width: 40%;
	float: left;
}

.verorTopMargin {
	margin-top: 60px;
}

.verorContent {
	margin-left: 20px;
	margin-top: 10px;
}

.verorContent textarea {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.verorbottombox {
	border: 1px solid black;
	font-size: 10px;
	text-align: center;
	padding: 5px;
}

.border {
	border: 1px solid black;
}

.padding5 {
	padding: 5px;
}

.verorBlackHead {
	font-size: 18px;
	font-weight: bold;
}

.verorBlackHead h1 {
	margin: 5px 0 5px 20px;
}

.verorSmallT {
	font-size: 10px;
}

.textAlignCenter {
	text-align: center;
}

.border_bottom {
	border-bottom: 1px solid black;
}

.border_right {
	border-right: 1px solid black;
}

.border_top {
	border-top: 1px solid black;
}

.border_left {
	border-left: 1px solid black;
}

.verorInput input {
	width: 90%;
	margin-left: 0px;
}

/* ############################################# */

.sgbv_outer{

	width: 100%;
	display: block;
	border: 1px solid #000;
	height: 100%;	
	float: left;
	
}

.verordungen_regulation{
	width: 100%;
}

.verordungen_regulation label{
	display: block;
	float: left;
	width: 38%;
	font-weight: 800;
	line-height: 26px;
	text-indent:3px;
}

.verordungen_regulation input{
	display: block;
	float: left;
	width: 60.5%;
}
.diagnosen_block{
	width: 100%;
}
.diagnosen_block span{
	width: 100%;
	display: block;
	float: left;
	font-weight: 800;
	text-indent:3px;
}
.diagnosen_block label{
	text-indent:3px;
	display: block;
	float: left;
	width: 22%;
	line-height: 21px;
}

.diagnosen_block textarea{
	display: block;
	float: left;
	width: 77%;
}


.treatment_location_block{
	width: 100%;
	display: block;
	float: left;
}
.treatment_location_block span{
	display: block;
	float: left;
	line-height: 26px;
	font-weight: 800;
	font-size: 14px;
}
.treatment_location_block input{
	width: 20px;
	margin-left: 5px;
	margin-right: 5px;
	display: block;
	float: left;
}
.treatment_location_block label{
	display: block;
	float: left;
	line-height: 26px;
}

.action_blocks{
	margin: 5px;
	display: block;
}


span.titlelike{
	width: 100%;
	display: block;
	float: left;
	line-height: 26px;
	
}
span.subtitlelike{
	width: 100%;
	display: block;
	float: left;
	line-height: 26px;
	
}


.table_treatment_care{
	width: 100%;
	float: left;
	border: 0px;
	border-collapse: collapse;
}

.table_treatment_care  sup{
	margin: auto;
	width: 100%;
	text-align: center;
	display: block;
}
.table_treatment_care td.K_info{
	
}
.table_treatment_care td.K_info input {
	width:25px;
	margin-right: 5px;
	float: left;
	display: block;
	
}
.table_treatment_care td.K_info label{
	
	float: left;
	display: block;
}

.table_treatment_care td.L_info{
	border-bottom:1px solid #000;	
}

.table_treatment_care td.M_info{
	border-bottom:1px solid #000;	
}





.table_actions{
	width: 100%;
	float: left;
	border: 1px;
	
}
.table_actions td{
	border: 0px solid #000;
}
.table_actions th{
	border: 0px solid #000;
}

.table_actions th.act_nr  {
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
}


.table_actions th.act_valid  {
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
}


.table_actions th.day_nr  {
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
}


.table_actions th.week_nr  {
	text-align: center;
	font-weight: 800;
}


.table_actions td.day_nr  {
	text-align: center;
 
}
.table_actions td.day_nr input {
	width: 30px;
 
}
.table_actions td.week_nr{
	text-align: center;
}

.table_actions td.week_nr input {
	width: 30px;
}



.table_actions th.act_from  {
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
}


.table_actions th.act_till  {
	text-align: center;
	font-weight: 800;
}
.table_actions td.act_from  {
	text-align: center;
}
.table_actions td.act_till  {
	text-align: center;
}
.table_actions td textarea.Z7_info  {
	text-align: center;
	width:100%;
	height:auto;
}








.table_actions_nofunction{
	width: 100%;
	float: left;
	border: 1px;
	
}
.table_actions_nofunction td{
	border: 0px solid #000;
}
.table_actions_nofunction th{
	border: 0px solid #000;
}

.table_actions_nofunction th.act_nr  {
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
}


.table_actions_nofunction th.act_valid  {
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
}


.table_actions_nofunction th.day_nr  {
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
}


.table_actions_nofunction th.week_nr  {
	text-align: center;
	font-weight: 800;
}


.table_actions_nofunction td.day_nr  {
	text-align: center;
 
}
.table_actions_nofunction td.day_nr input {
	width: 30px;
 
}
.table_actions_nofunction td.week_nr{
	text-align: center;
}

.table_actions_nofunction td.week_nr input {
	width: 30px;
}



.table_actions_nofunction th.act_from  {
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
}


.table_actions_nofunction th.act_till  {
	text-align: center;
	font-weight: 800;
}
.table_actions_nofunction td.act_from  {
	text-align: center;
}
.table_actions_nofunction td.act_till  {
	text-align: center;
}
.table_actions_nofunction td textarea.Z7_info  {
	text-align: center;
	width:100%;
	height:auto;
}




.small_portion {
	width: 69%;
	border-top: 0px;
	background: #fff;
	margin-top: -1px
}

.sgbv_stamp_outer {
	display: block;
	width: 29%;
	height: auto;
	float: left;
	padding: 5px;
}
.sgbv_stamp  {
	float: left;
	display: block;
	height: 130px;
	border: 1px solid black;
	font-size: 10px;
	padding: 5px;
	text-align: center;
	width:100%;
}
/* ############################################# */

.sgbv_form_options{
	display: block;
	margin-bottom: 20px;
	width: 100%;
	
}

.sgbv_form_options h2{
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 16px;
	font-weight: 800;
}

.sgbv_form_options table{
	width: 100%;	
}

.sgbv_form_options table th{
	vertical-align: middle;
/* 	border: 1px solid silver; */
}

.sgbv_form_options table td{
/* 	border: 1px solid silver; */
}


.sgbv_form_options table td ul{
	width: 50%;
	display: block;
	float: left;
}

.sgbv_form_options table th{
	font-weight: 800;
		
}

.sgbv_form_options_table{
	width: 100%;	
	border-collapse: collapse;
	
}
.sgbv_form_options_table th{
	border: 0px solid #000;
	text-align: center;
}
.sgbv_form_options_table td{
	border-bottom: 1px solid #000;
	
}

a.status_show{
	width: 20px;
	height : 20px;
	background: url('../../images/action_add.png') no-repeat center center;
}
a.status_hide{
	width: 20px;
	height : 20px;
	background: url('../../images/action_add.png') no-repeat center center;
	
}


.actions-status{
	
}
.actions-status td{
	border: 0;
}



.history {
	margin: 5px 2px 20px;
	background: #fff;
	position: relative;
	border: 1px solid #d8d8d8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: auto;
	width: 99%;
}

a.history_title{
    background: none repeat scroll 0 0 #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 5px;
    width: 98.8%;
    font-weight: 800;
}
a.history_title:HOVER{
	text-decoration: none;
	
	
}

.history  table {
	line-height: 150%;
	margin: 10px;
	width:95%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;
}

.history  table td {
	border: 1px solid #EEEEEE;
	cursor: pointer;
	line-height: 200%;
	padding-left: 5px;
}

.history  table th {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F3F3F3;
	border-color: #BBBBBB #BBBBBB #BBBBBB -moz-use-text-color;
	border-image: none;
	border-style: solid solid solid none;
	border-width: 1px 1px 1px 0;
	line-height: 200%;
	padding-left: 5px;
}
.history th:first-child {
    border-left: 1px solid #BBBBBB;
}
/* ############################################# */
.userstamps {
	float: right !important;
	margin-bottom: 0 !important;
}

.userstamps label {
	width: 100px !important;
}

.userstamps select {
	margin-top: 5px;
	width: 220px;
}

#user_stamp_block span {
	border: 0px !important;
	background: #FFFFFF !important;
	font-size: 10px;
	height: 110px;
	text-align: center;
	margin: 0px;
}

.stamp_alert {
	color: #ff0000;
	display: block;
	float: right;
	width: 100%;
	text-align: center;
}






.sgbv_buttons{
	display: block;
	width: 100%;
	float: left;
	margin: 50px 0 50px 0;
	
}
.sgbv_buttons div{
	display: block;
	width:50%;
	float: left;
}

.sgbv_buttons div.btns_right{
	width:50%;
	float: right;
	
}
.sgbv_buttons div.btns_right input{
	float: right;
	
}

.sgbv_buttons div input[type="button"]{
	height: 23px;
	margin: 1px!important;
}


.sgbv_buttons div input#save_form{

}

.sgbv_buttons div input#cancel_form{

}

.sgbv_buttons div input#edit_actions_onform{

}

.sgbv_buttons div input#pre_pdf_btnsubmit{

}

.sgbv_buttons div input#pdf_btnsubmit{


}
