.sapv_flow {
    width: 100%;
}

ul li.sapv_flow_arrow {
    float: left;
    width: 10px;
    padding: 2px;
    margin: 3px 0 3px 0;
    /*border:1px solid #000;*/
}
.sapv_flow_element {
    width: 162px;
    float: left;
    border: 1px solid #000;
    padding: 2px 2px 2px 4px;
    margin: 3px;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.selected_element {
    background-color: lightyellow;
}
.sapv_flow_element:hover {
    background-color:#6BCFF7;
    font-weight: bolder;
}

li.sapv_flow_element input {
    margin-top: 2px;
}

.generated_flow_element {
    background-color:greenyellow;
}
.generated_flow_element:hover {
    background-color:greenyellow;
    font-weight: bolder;
}


.current_month_flow_element {
    width: 162px;
    float: left;
    border: 1px solid #000;
    padding: 2px 2px 2px 4px;
    margin: 3px;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.current_month_flow_element:hover {
    background-color:#6BCFF7;
    font-weight: bolder;
}

li.current_month_flow_element input {
    margin-top: 2px;
}

.datatable td.border_bottom {
    border-bottom: 1px solid #000;
}

.datatable td {
    vertical-align: top;
}
tr.blocks_row:nth-child(even) {
    background: #CCC;
}
tr.blocks_row:nth-child(odd) {
    background: #FFF
}
tr.row td {
    border-top: 2px solid #000;
}

.datatable td table.sub_table td {
    width: 100%;
    border:0px;
}