.sis_header_table {
	width: 100%;
	margin-bottom: 40px;
}

.sis_header_table td.empty_td {
	width: 2%;
}

.sis_header_table td.td_top_border {
	border-top: 1px solid #000000;
}

.sis_header_table td.td_small_font {
	font-size: 9px;
}

.sis_header_table td span.txt_sis {
	color: #000000;
	font-size: 20px;
	font-weight: 800;
}

.sis_header_table td span.txt_ambulant {
	color: #d22027;
	font-size: 20px;
	font-weight: 800;
}

.sis_header_table td span.txt_minus {
	color: #000000;
	font-size: 16px;
	font-weight: 800;
}

.them_table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000000;
	margin-bottom: 20px;
}

.them_table td textarea.full_textarea {
	margin: 2px;
	width: 99%;
	height: 100px;
}

.textarea_th {
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	padding: 3px;
}

.th_0 {
	background: #d22027;
}

.th_1 {
	background: #f35746;
}

.th_2 {
	background: #fbbd09;
}

.th_3 {
	background: #66c76b;
}

.th_4 {
	background: #9e50ae;
}

.th_5 {
	background: #69b4e7;
}

.th_6 {
	background: #f14770;
}

.th_7 {
	background: #4f4c4c;
}

.th_8 {
	background: #fee3ac;
	color: #4f4c4c
}

.th_color000000 {
	color: #000 !important;
}

.bottom_table {
	width: 100%;
}

.bottom_table td {
	font-size: 11px;
	border: 1px solid #000;
	text-align: center;
	line-height: 26px;
}

.bottom_table th {
	font-size: 12px;
	border: 1px solid #000;
	color: #fff;
	font-weight: 800;
}

.alg_left {
	text-align: left !important;
}

.lh_small {
	line-height: 12px !important;
	font-size: 10px;
}

img.beratrung_img {
	border: 0;
	vertical-align: middle !important;
}
img{
	vertical-align: middle !important;
}