body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	color:#4a565c;
}
.ClrBoth {
	clear:both;
}

.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:790px;
}
.MarginZero {
	margin:0px 0 0 1px;
}
form {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}
form fieldset {
	border:solid 1px #ffffff;
	padding: 15px;
	margin: 0;
	margin-top:10px;
	background:#ffffff;
}
form fieldset legend {
	font-size:1.3em;
	font-weight:bold;
	color:#2d3a67;
}
form label {
	display: block;
	float: left;
	width:160px;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;
}
form input, form textarea, form select {
	width:auto;
	margin:8px 0 0 10px;
}
form input#reset {
	margin-left:0px;
}
textarea {
	overflow: auto;
}
form small {
	display: block;
	margin: 0 0 5px 168px;
	padding: 1px 3px;
	font-size:11px;
}
form .help {
	display: block;
	margin:0 0 5px 380px;
	width:25px;
	height:25px;
	background:green;
}
form .required {
	font-weight:bold;
}
form br {
	clear:left;
}
form .button {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}
form .button1 {
	width:auto;
	height:25px;
	background:#FFFFFF;
	border:solid 1px #088fd5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#2257a1;
}


form .checkbox {
	width:100%;
	padding-top:5px;
}
form .checkbox {
	width:200px;
}
#Palliative {
	width:750px;
	margin:0 auto;
	height:auto;
	margin-top:20px;
	color:#000000;
}
.Palliative_Heading {
	width:750px;
	height:30px;
	border-bottom:solid 1px #000000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}
.Palliative_Heading_Left {
	height:auto;
	width:auto;
	margin-right:20px;
	float:left;
}
.Palliative_Heading_Right {
	height:auto;
	width:auto;
	float:right;
	text-align:right;
}
.Palliative_Header {
	width:750px;
	margin:0 auto;
	height:auto;
	margin-top:15px;
	border-left:solid 3px #000000;
	border-right:solid 3px #000000;
	border-top:solid 2px #000000;
	border-bottom:solid 2px #000000;
	margin-top:20px;
	font-size:14px;
}
.Palliative_Contnet_Outer {
	display:block;
	width:585px;
	height:auto;
	float:left;
}
.Palliative_Contnet_Outer .Patient_Name {
	background:#f3f3f3;
	width:auto;
	float:left;
	margin-left:10px;
	padding:5px;
}
.Patient_Name label {
	width:441px;
}
.BorderDiv {
	background:#000000;
	height:2px;
	width:100%;
}
.RecncilitionIdInfo {
	width:153px;
	float:left;
	border:solid 2px #000000;
	border-top:0px;
	border-right:0px;
	padding:5px;
}
.Palliative_Header .Address_Info {
	width:auto;
	height:auto;
	display:block;
}
.Palliative_Header .Address_Info_Outer_list {
	width:350px;
	height:auto;
	float:left;
	margin-bottom:10px;
}
.Palliative_Header .Address_Info_left {
	width:140px;
	height:auto;
	float:left;
	margin-left:10px;
	margin-right:5px;
}
.Palliative_Header .Address_Info_right {
	width:180px;
	height:auto;
	float:left;
}
.Palliative_Header .Address_Info_Outer {
	width:auto;
	height:auto;
	display:block;
	margin-top:10px;
	float:left;
}
.Palliative_Header .Address_Info_Outer_listMargin {
	margin-top:65px;
}
#CheckboxGrids {
	width:100%;
	height:auto;
	border:solid 1px #000000;
	margin-top:10px;
	display:block;
}
.CheckboxGrids_left {
	width:auto;
	height:auto;
	border-right:solid 1px #000000;
	float:left;
	padding:8px;
	margin-right:10px;
}
.CheckboxGrids_heading {
	line-height:23px;
	display:block;
}
.CheckboxGrids_heading_left {
	line-height:23px;
	display:block;
	width:auto;
	float:left;
}
.RelevanteList_left .RelevanteSubList {
	width:450px;
	height:auto;
	margin-right:10px;
	float:left;
}
.CheckboxGrids_heading_left_Mrgin {
	line-height:23px;
	display:block;
	width:auto;
	float:left;
	margin-left:8px;
}
.RelevanteListOuter {
	width:97%;
	height:auto;
	display:block;
	margin-top:10px;
}
.RelevanteList_left {
	width:auto;
	height:auto;
	margin-right:10px;
	float:left;
}
.RelevanteList_left_Widht {
	width:510px;
	height:auto;
	margin-right:10px;
	float:left;
}
.RelevanteList_left_new {
	width:170px;
	height:auto;
	margin-right:10px;
	margin-top: 5px;
	float:left;
}
.RelevanteList_left label {
	width:auto;
	margin:0;
	padding:0;
	

}



.RelevanteList_left label {
	width:auto;
	margin:0;
	padding:0;
	margin-right:5px;
}
.RelevanteList_left_new_Right {
	width:150px;
	height:auto;
	margin-right:25px;
	float:left;
	text-align:right;
	padding-top:5px;
}
.RelevanteList_left_Widht {
	width:510px;
	height:auto;
	margin-right:10px;
	float:left;
}
.Relevante_Symptome_Heading {
	width:100%;
	height:auto;
	padding:10px;
}
.Relevante_Symptome {
	width:100%;
	height:auto;
	margin-bottom:10px;
}
.Relevante_Symptome_Heading_Outer {
	margin-top:8px;
	height:auto;
	width:auto;
	display:block;
	border-bottom:solid 1px #000000;
}
.RowOne {
	width:auto;
	width:60px;
	float:left;
}
.RowTwo {
	width:auto;
	float:left;
	line-height:28px;
}
.Relevante_Symptome_Heading_Outer_New {
	margin-top:8px;
	height:auto;
	width:auto;
	display:block;
}
.Relevante_Symptome_Sub {
	margin-left:60px;
	width:auto;
	display:block;
	margin-bottom:8px;
}
.RowThree {
	width:150px;
	float:left;
}
.RowFour {
	width:40px;
	float:left;
}
.RowFive {
	width:25px;
	float:left;
	margin-right:30px;
}
.CheckboxGrids_heading_left_Margin {
	line-height:23px;
	display:block;
	width:190px;
	float:left;
}
.ForBorder {
	border:none;
	margin:0;
}
.CheckboxGrids_left_Margin {
	width:auto;
	height:auto;
	border-right:solid 1px #000000;
	float:left;
	padding:8px;
}
.CheckboxGrids_heading_border {
	line-height:28px;
	display:block;
	border-bottom:solid 1px #000000;
	border-right:solid 1px #000000;
	padding-left:5px;
}
.CheckboxGrids_left_Widht {
	width:190px;
	height:auto;
	border-right:solid 1px #000000;
	float:left;
	padding:8px;
}
.CheckboxGrids_heading_Margin {
	line-height:23px;
	display:block;
	margin-left:20px;
}
.CheckboxGridsGrayHeadingNew {
	width:98%;
	height:auto;
	margin-top:10px;
	background:#f3f3f3;
	padding-left:10px;
	line-height:32px;
}
.CheckboxGrids_left_GrayNew {
	width:auto;
	height:auto;
	float:left;
	padding:8px;
	background:#f3f3f3;
}
#CheckboxGridsGray {
	width:100%;
	height:auto;
	border:solid 1px #000000;
	margin-top:10px;
	display:block;
	background:#f3f3f3;
}
#CheckboxGridsCenter {
	width:99%;
	height:auto;
	border:solid 1px #000000;
	margin-top:25px;
	display:block;
	padding:3px;
	text-align:center;
}
.CheckboxGrids_heading_left_Mrgin label {
	width:auto;
	padding-right:5px;
}
.CheckboxGrids_heading_left label {
	width:auto;
	padding-right:5px;
	margin-top:3px;
	
}

.IdInfo {
	background:#f3f3f3;
	width:153px;
	float:left;
	border:solid 2px #000000;
	border-top:0px;
	border-right:0px;
	padding:5px;
}

#CheckboxGridsNew {
	width:97%;
	height:auto;
	border:solid 1px #000000;
	margin-top:10px;
	display:block;
	padding:11px;
}

#CheckboxGridsNew input
{	margin:0;
}

.CheckboxGridsGrayHeading {
	width:100%;
	height:auto;
	background:#f3f3f3;
	text-align:center;
	height:50px;
	line-height:30px;
	border-bottom:solid 1px #000000;
}

.CheckboxGridsGrayBox {
	float:left;
	width:auto;
}
.Tableradiobox input[type="radio"]{
	float: left;
	margin:3px 5px 0px  5px !important;
/*	border: 1px solid red;*/
}
.diagnosegruppe {
	width:550px;
		margin-left: -5px;
}
.diagnosegruppe label{
	width: 150px;
	display: block;
	margin: 5px;
	float: left;
}
.primartumor {
	width:560px;
	padding:0px !important;
	margin-left: -5px;
}
.primartumor label{
	width: 155px;
	float: left;
 
 
}
.metastasen {
	width:560px;
}
.metastasen label{
	width: 73px;
	float: left;
 
}
.metastasen input{
	margin: 3px 5px 10px 0px!important;
	float: left;
	display: block
}
.artz_klinik {
	margin-left: -5px;
}
.artz_klinik label{
	margin-right: 50px!important;
}
.sapv_status {
	margin-left: -5px;
}
.aktuelle{
	width: 250px;
}
.aktuelle textarea{
	width: 240px;
}
.sterbens{
}
.sterbens  .RelevanteList_left{
	width: 155px;
}
.zeit  .RelevanteList_left{
	width: 155px;
}
.patientenverfugung {
	width: 513px;
}
#stammblatt_patienten_aktuell {
	margin: 0px;
}
#stammblatt_patienten_mundich {
	margin: 0px;
}
  #stammblatt_patienten_vom_outer{
	margin-right: 5px;
}
#stammblatt_patienten_schriftlich {
	margin: 0px;
}
#stammblatt_patienten_vom {
	margin: 0px;
}
#stammblatt_patienten_vom_textbox {
	width: 106px;
}
#stammblatt_ortDatum {
 margin-right: 23px;
}

.Familienstand_table.ISPC1891 div {
	padding-left:5px;
}
.Familienstand_table.ISPC1891 div label {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  text-indent: -5px;
  font-size: 14px;
  margin:0px;
}
.Familienstand_table.ISPC1891 div input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:3px 5px 0px 5px;
  vertical-align: bottom;
  position: relative;
  top: -2px;
  *overflow: hidden;
}
