/*ISPC-2494 Lore 10.12.2019*/
.table_stddoc {
  border: 1px solid #888a85;
  width: 100%;
}

.table_stddoc th, 
.table_stddoc td {
  padding: 5px ;
  border: 1px solid #888a85;
}

.table_stddoc th {
  background: #f3f3f3; 
 }