	#treatment_plan {
		width: 770px;
		margin: 0px 10px 0px 10px;
	}
	
	#treatment_plan .contactform_dragvbox {
		margin: 5px 2px 20px;
		background: #fff;
		position: relative;
		border: 1px solid #d8d8d8;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		height: auto;
		width: 99%;
	}

	#treatment_plan .contactform_dragvbox h2 {
		display: block;
		width: 98.7%;
		margin: 0;
		font-size: 12px;
		padding: 5px;
		background: #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
		cursor: pointer;
		color: #000;
	}

	#treatment_plan .contactform_dragvbox_content {
		background: #fff;
		min-height: 50px;
		margin: 5px;
		font-size: 0.9em;
		line-height: 1.5em;
		width: 97%;
	}
	
	#treatment_plan .extrafields {
		width: 100%;
		padding-top: 40px;
		font-size: 14px;
	}
	
	#treatment_plan .fulleldiv
	{
		width: 100%;
		padding: 5px 5px 5px 0px;
	}

	#treatment_plan .extra
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
	#treatment_plan .fulleldiv textarea
	{
		width: 99%;
	}
	
	#treatment_plan .title
{
	font-size: 20px;
}

#treatment_plan .title_bold
{
	font-size: 20px;
	font-weight: bold;
}

#treatment_plan .SimpleTable {
	width: 750px;
}

