body{
     font-family: Arial, Helvetica, sans-serif;
}

#treatment_plan {
	width: 100%;
	padding-bottom: 60px;
	border-bottom: 2px solid #000; 
}

#treatment_plan .formular_header
{
	width: 100%;
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 15px;
	border-bottom: 1px solid #000;
}

#treatment_plan .fulleldiv
{
	width: 100%;
	padding: 5px 5px 5px 0px;
}

#treatment_plan .innerdiv
{	
	width: 100%;
	display: inline-block;
}

#treatment_plan .fullbord
{
	border: 1px solid #000;
}

#treatment_plan .bottbord
{
	border-bottom: 1px solid #000;
}

#treatment_plan .extrafields {
		width: 100%;
		font-size: 12px;
		font-weight: bold;
		padding-top: 20px;
}

#treatment_plan .div30
{
	width: 30%;
}

#treatment_plan .div25
{
	width: 25%;
}

#treatment_plan .div48
{
	width: 48%;
}

#treatment_plan .extra
{
	padding-top: 25px;
	padding-bottom: 25px;
}

#treatment_plan .fulleldiv textarea
{
	width: 99%;
	border: 0px;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	font-family: Arial, Helvetica, sans-serif;
}

#treatment_plan .title
{
	font-size: 18px;
}

#treatment_plan .title_bold
{
	font-size: 18px;
	font-weight: bold;
}

#treatment_plan .contactform_dragvbox textarea
{
	white-space: pre-wrap;
	overflow-wrap: break-word;
}


