body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4a565c;
}

.tab_container {
	border-top: none;
	float: left;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
}

.week {
	display: block;
	float: left;
	height: auto;
	width: 95%;
	border: 1px solid #e3e3e1;
	margin-bottom: 10px;
	padding:10px;
}


.week_block {
	display: block;
	float: left;
	width: 50%;
}
.week_driving_block {
	display: block;
	float: left;
	width: 29%;
	margin-left: 10px;
}
.week_anlage5_block {
	display: block;
	float: left;
	width: 49%;
	margin-left: 5px;
}
 
.week_driving_block input.km_input{
	width: 45px;
	margin-left: 3px;
}

.week_table {
	border-collapse: collapse;	margin:0px!important;
}
.green{
	background: #97d96e;
}
.week_table td{
	padding-left: 3px; 
	line-height: 30px;
}
.week_table td.week_dates{
	font-size: 16px;
	font-weight: 900;
}

.week_table td table td{
	padding-left: 0px!important; 
}

.table_border  {
	border: 1px solid #000000;
}
.w_100percentage{
	width: 100%;
}
.w_40percentage{
	width: 40%;
}
.w_60percentage{
	width: 60%;
}
.buttons_div{
	display: block; 
	width: 100%;
	float: left;
}

.anlage_5_table{
    width: 800px;
    line-height: 150%;
}
.nobrdr{
    width: auto;
    line-height: 150%;
    border-collapse: collapse;
}
.nobrdr td{
	border: 0!important;
}

.anlage_5_table td{
	    cursor: pointer;
    padding-left: 5px;
    line-height: 200%;
    border: 1px solid #eee;
}

.anlage_5_table th{
    line-height: 200%;
    border: 1px solid #bbb;
    border-left: 0px;
    padding-left: 5px;
    background-color: #f3f3f3;
}

.week_table tr.invoiced td,
.anlage_5_table tr.invoiced td
{
	background: greenyellow;
}


.anlage_link{
	display: block;
	float: left;
	height: auto;
	line-height: 26px;
}
a.anlage_link a{
	text-decoration: none;
}



.history{
	display: block;
	float: left;
	height: auto;
}


.no-data{
	display: block; 
	width: 100%;
	float: left;
	height: auto;
	line-height: 30px;
	text-align: center;
	border: 1px solid #000000;
}

.mesage_block{
	display: block; 
	float: left;
	width: 100%;
	line-height: 30px;
	text-align: center;
	border: 1px solid #000000;
	color: green;
	
}