ol, ul, li {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul.sortable {
	width: 1065px;
}

ul.header {
	width: 1065px;
}

.selected_cell {
	background-color: #ffc4c4;
}

.day_checkbox {
	display: none;
}

.hover {
	background-color: #FFFDD0;
}

div#user_color_preview {
	width: 25px;
	height: 25px;
	border: 1px solid #000;
	margin-left: 5px;
	text-align: center;
}

div.bar_right {
	float: right;
	width: 475px;
	vertical-align: middle;
}

div.bar_right table {
	width: 100%;
}

div.bar_left {
	float: left;
	width: 150px;
	vertical-align: middle;
}

div.bar_center {
	float: left;
	width: 150px;
	vertical-align: middle;
}

.bar_left table td label {
	margin-right: 5px;
}

div.bar_right label {
	width: 100px;
	/*float: left;*/
}

div.bar_right select#shift_selector {
	/*float:left;*/
	margin-left: 5px;
	width: 200px;
}

ul.shift_substitution {
	display: block;
	float: right;
	height: auto;
	width: 300px;
	border: 1px solid #cfcfcf;
	padding: 5px;
}

ul.shift_substitution li {
	display: block;
	float: left;
	width: 100%;
	margin: 10px 0 10px 0;
}

th.users_column, td.users_column {
	height: 50px;
}

th.day_display {
	height: 49px;
}

#roster_days td.grouped_cell {
	line-height: 200%;
	padding-left: 5px;
	line-height: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	vertical-align: middle;
	border-left: 0px solid #000 !important;
	text-align: left;
	height: 25px !important;
	font-size: 12px;
}

div.container_block {
	overflow: auto;
	height: auto;
	width: 835px;
	float: left;
	margin: 0px !important;
	padding: 0px !important;
	display: block;
}

td.brbr_white {
	border: 1px solid #fff !important
}

tr.first_row td.user_names {
	font-weight: bold;
	width: 187px;
}

/*sortable placeholder*/
.placeholder {
	display: block;
	background: red;
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
}

.placeholder:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: red;
	margin-top: -5px;
	left: -5px;
	border-right: none;
}

#fixed {
	position: fixed;
	top: 0;
	left: 0;
}

/*table*/
div#navcontainer {
	clear: both;
	display: inline-table;
	/*vertical-align: middle;*/ // disable overflow-y scrollbar on firefox
	overflow-y : auto;
	overflow-x: scroll;
	width: 780px;
}

.header_row_cell {
	border: 1px #000 solid;
	text-align: center;
	font-weight: bold;
	line-height: 200%;
}

.fixed .header_row_cell {
	border: 1px #000 solid;
	border-top: 2px #ff0000 solid;
	border-bottom: 2px #ff0000 solid;
	text-align: center;
	font-weight: bold;
	line-height: 200%;
}
.fixed .new_selectors {
	border: 1px #000 solid;
	border-top: 2px #ff0000 solid;
	border-bottom: 2px #ff0000 solid;
}

.col_names.header_row_cell {
	padding-top: 2px;
	padding-bottom: 2px;
}

.col.header_row_cell {
	padding: 2px;
}

div.col.weekend {
	background-color: #ccc;
}

.cell {
	height: 25px;
	border: 1px #000 solid;
	text-align: center;
	padding: 2px;
}

.control .cell {
	height: 25px;
	border: 0px;
	text-align: center;
	padding: 2px;
}

.group_cell_names {
	height: 25px;
	padding: 2px 0 2px 0;
}

.cell_names {
	height: 25px;
	border: 1px #000 solid;
	padding: 2px 0 2px 0;
}

.control .cell_names {
	height: 20px;
	border: 0px #000 solid;
	padding: 1px 0 0 0;
}

.normal_day, .header_row_cell {
	background-color: #fff;
}

.col_names {
	width: 130px;
	float: left;
}

.col {
	width: 24px;
	float: left;
}

/*.col_group{*/
/*width: 1060px;*/
/*    width: 100%;
    display: inline-table;
    border:1px #000 solid;*/
/*}*/
.col_group {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 35px;
	font-size: medium;
}

#navcontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 1065px;
}

#navcontainer li {
	display: table-row;
}

#navcontainer li li span {
	/*    display: block;
	color: #000;
	padding: 0 3px 0 0;
	text-decoration: none;
	font-weight: normal;*/
	
}

#navcontainer li div.col_group span {
	font-weight: bold;
	color: #ff0000;
	padding-left: 4px;
	line-height: 200%;
}

#navcontainer li li div.col_names span {
	font-weight: bold;
	color: #000;
	padding-left: 2px;
	display: table-cell;
}

span.dragger {
	background-image: url(../images/drag_1.png);
	background-repeat: repeat-y;
	width: 15px;
	height: 25px;
	/*cursor: move;*/
	/*padding: 3px 0 0 0;*/
	position: static;
	margin: 3px 0 0 0;
}

span.dragger {
	background-image: url(../images/drag_1.png);
	background-repeat: no-repeat;
	width: 14px;
	height: 24px;
	cursor: move;
}

/*Portamento floating*/
/*
#portamento_container {
    position:relative;
    height: 65px;
    overflow: hidden;
    width: 1062px;
}

#portamento_container #header_row {
    float:none; 
    position:absolute;
}

#portamento_container #header_row.fixed {
    position:fixed;
    width: 1100px;
    
}
*/
#portamento_container {
	position: relative;
/* 	height: 100px; */
	height: 130px;
	background-color: #fff;
	width: 800px !important;
	max-width: 1062px !important;
}

#portamento_container #container {
	float: none;
	position: absolute;
	background-color: #fff;
	width: 1062px !important;
}

#portamento_container #container.fixed {
	position: fixed;
	top: 180px;
	background-color: #F5F5F5;
	width: 1062px !important;
}

#example_wrapper {
	position: fixed;
	top: 180px;
	background-color: #fff;
	display: block;
}

li#no_users {
	width: 100%;
	text-align: center;
	line-height: 200%;
	border-bottom: 1px #000 solid;
}

li#no_users div {
	border: 1px #000 solid;
	line-height: 200%;
}

@media screen and (max-width: 1050px) {
	div#navcontainer {
		clear: both;
		display: inline-table;
		overflow-x: scroll;
		width: 780px;
	}
	#navcontainer ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		width: 780px;
	}
	.col {
		width: 19px;
		float: left;
	}
	.col.header_row_cell {
		padding: 0px;
	}
	.cell {
		height: 27px;
		border: 1px #000 solid;
		text-align: center;
		padding: 0px;
	}
	.cell_names {
		height: 25px;
		border: 1px #000 solid;
		padding: 0px 0 0px 0;
	}
	.col_names {
		width: 125px;
		float: left;
		padding-top: 2px;
	}
	.col_names.header_row_cell {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	ul.header {
		overflow: hidden;
	}
	ul.sortable {
		width: 780px;
	}
	ul.header {
		width: 780px;
	}
	#portamento_container {
		position: relative;
		height: 100px;
		overflow: hidden;
		width: 100%;
	}
	#portamento_container #header_row.fixed {
		position: fixed;
		width: 780;
	}
}

@media screen and (min-width: 1052px) and (max-width: 1300px) {
	div#navcontainer {
		clear: both;
		width: 1001px;
	}
	#navcontainer ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		width: 1001px;
	}
	.col {
		width: 22px;
		float: left;
	}
	.col.header_row_cell {
		padding: 1px;
	}
	.cell {
		height: 27px;
		border: 1px #000 solid;
		text-align: center;
		padding: 1px;
	}
	.cell_names {
		height: 26px;
		border: 1px #000 solid;
		/*padding: 0px 0 0px 0;*/
		padding: 1px;
	}
	.col_names {
		width: 125px;
		float: left;
		padding-top: 2px;
	}
	.col_names.header_row_cell {
		padding: 1px;
	}
	ul.header {
		overflow: hidden;
	}
	ul.sortable {
		width: 1001px;
	}
	ul.header {
		width: 1001px;
	}
	#portamento_container {
		position: relative;
		height: 100px;
		overflow: shown;
		width: 1001px;
	}
	#portamento_container #header_row.fixed {
		position: fixed;
		width: 1001px;
	}
}
/* ispc-1533 roster/newroster */
.strikethrough {
	position: relative;
	pointer-events: none;
	opacity: 0.5;
}

.strikethrough:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	right: 0;
	border-top: 1px solid;
	border-color: inherit;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.user_is_inactive_span {
	font-weight: bold;
}

.user_is_inactive_li {
	/*pointer-events:none;*/
	
}

.prevent_strikethrough {
	position: relative;
	pointer-events: none;
	opacity: 0.5;
}

.prevent_strikethrough:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	right: 0;
	border-top: 1px solid;
	border-color: red;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}




.new_selectors{
	border: 1px solid #000;;	
	padding-top:2px;
}
.new_selectors span{
	width: 100%;
	float: left;
	margin-top:2px;
/* 	border-bottom: 1px dashed #000;; */
	border-bottom: 1px solid #ccc;
}
.new_selectors span.last_selector{
	margin-top:4px;
	border-bottom: 0;
	margin-bottom: 3px;
}
.new_selectors label{
/* 	background: #cdd; */
	float: left;
/* 	font-weight: 900; */
	line-height: 140%
}
.new_selectors input{
	margin: 0px;
	float: right;
}
