body {
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#4a565c;


}
.tab_container {
	border: 1px solid #e3e3e1;
	border-top: none;
	clear: both;
	float: left;
	margin:0 auto;
	padding:10px;
	width:760px;
}

#analage
{	width:100%;
	height:auto;
}

#analage h1
{	font-size:18px;
	margin-bottom:8px;
	padding-left:0px;
}

#analage h3
{	font-size:15px;
	margin:0;
	margin-bottom:8px;
	padding-left:0px;
}

#analage .pallnetz_topform
{	width:355px;
	float:left;
	border:1px solid #000000;
	margin-top:10px;
	padding:10px;
	padding-bottom:5px;
	color:#000;
}

#analage .pallnetz_topform label
{	width:auto;
}

#analage .pallnetz_topform .blackline
{	border-bottom:1px solid #000000;
	margin:5px -10px 0 -10px;
}

#analage .pallnetz_topform .formleftdiv
{	float:left;
	width:200px;

}

#analage .pallnetz_topform input
{	margin-left:0px;
	width:102px;
}

#analage input.insurnace 
{	margin-left:0px;
	width:320px;
}


#analage .pallnetz_topform .formleftdiv .textArea
{	width:160px;
	margin-left:0px;
	margin-bottom:5px;
}

#analage .pallnetz_topform .formrightdiv
{	float:right;
	width:130px;
	padding-top:25px;
}

#analage .pallnetz_topform .formShortDiv
{	float:left;
	margin-top:5px;
}

#analage .pallnetz_topform .VerLine
{	float:left;
	width:1px;
	height:25px;
	background:#000;
	margin:35px 7px 0px 7px;
	margin-bottom:-5px;
}

#analage .Pallnetz_RightHeadingDiv
{	width:370px;
	float:right;
	margin-left:10px;
	margin-top:45px;
	*margin-top:35px;
	margin-top:35px\9;
}

.Pallnetz_RightHeadingDiv h2
{	font-size:20px;
	line-height:25px;
	margin-top:0;
	margin:0;
	font-weight:normal;
	text-align:left;
}

.Pallnetz_RightHeadingDiv input
{	
}

.thickB_Top
{	border-top:2px solid #000;
}

.ClrBoth {
	clear:both;
}

.verorRightDiv, .verorOuter, .verContentOuter, .verContentleft
{	width:100%;
}

.verorRightDiv, .verorOuter
{	float:left;
	margin-top:10px;
	display:block;
}

.verorRightDiv input, .verorContent input
{	width:auto;
	margin-left:5px;
	float:left;
}

.verorRightDiv label, .verorContent label
{	width:auto;
	margin-left:5px;
	margin-top:5px;
	float:left;
}

label.verorTxtbxLbl
{	margin-top:8px;
}


.veror50
{	width:50%;
	float:left;
}

.veror60
{	width:60%;
	float:left;
}

.veror35
{	width:35%;
	float:left;
}

.veror70
{	width:70%;
	float:left;
}

.veror30
{	width:30%;
	float:left;
}

.veror5
{	width:5%;
	float:left;
}


.veror20
{	width:20%;
	float:left;
}

.veror40
{	width:40%;
	float:left;
}

.verorTopMargin
{	margin-top:60px;
}

.verorContent
{	margin-left:20px;
	margin-top:10px;
}

.verorContent textarea
{	margin:0;
	padding:0;
	margin-top:10px;
	margin-bottom:10px;
	width:90%;
}

.left {
float:left;
}

.right {
float:right;
}

.verorbottombox
{	border:1px solid black;
	font-size:10px;
	text-align:center;
	padding:5px;
}

.border
{ border:1px solid black;
}

.padding5
{	padding:5px;
}

.verorBlackHead
{	font-size:18px;
	font-weight:bold;
}

.verorBlackHead h1
{	margin:5px 0 5px 20px;
}

.verorSmallT
{	font-size:10px;
}

.textAlignCenter
{	text-align:center;
}

.border_bottom
{	border-bottom:1px solid black;
}

.border_right
{	border-right:1px solid black;
}

.border_top
{	border-top:1px solid black;
}

.border_left
{	border-left:1px solid black;
}

.verorInput input
{	width:90%;
	margin-left:0px;
}
#user_stamp_block span{
	border: 0px !important;
	background:#FFFFFF!important;
	font-size: 10px;
	height:110px;
	text-align: center;
	margin:0px;
}
.userstamps {
    float: right!important;
    width: 44%!important;
   margin-bottom:0!important;
}
.userstamps label{
	width:100px!important;
}
.userstamps select{
	margin-top:5px;
	width: 220px;
}
.stamp_alert{
	color: #ff0000;
	display: block;
	float: right;
	width: 100%;
	text-align: center;
}