@CHARSET "UTF-8";
body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

div.info_first_page_head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666;

}
/* TODO-3848,Elena,15.02.2021 */
div.versorger-left {
    width: 360px;
   /* float: left;*/
}
/* TODO-3848,Elena,15.02.2021 */
div.versorger-right {
    width: 360px;
   /* float: left;*/
}
/* TODO-3848,Elena,11.02.2021 */
div.versorger-third {
    width: 360px;
    /* float: left;*/
}
/* TODO-3848,Elena,11.02.2021 */
#tabs_ga2{
    display:block !important;
}
/* TODO-3848,Elena,11.02.2021 */
#tabs_ea2{
    display:block !important;

}
/* TODO-3848,Elena,11.02.2021 */
ul.anamnese_tabs{
    display:none;
}
.versorger .catdetails {
    width: 350px;
    margin-bottom: 20px;
}

.versorger-catheader {
    background-color: #B5BFD5;
    color: #20396B;
    cursor: move;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #B5BFD5;
    padding: 0px;
}

.versorger-catheader .headtitle {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.versorger-catheader .headtitle-img {
    padding: 2px;
    float: right;
    display: inline-block;
}

.versorger-catheader .headtitle-img img {
    width: 16px;
    vertical-align: bottom;
}

.versorger-catheader.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.versorger-catheader.inactive {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.versorger .entries {
    background-color: #eef;
    border: 1px solid #B5BFD5;
    padding: 0px;
    min-height: 100px;
    font-size: 10px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.catdetails {
    page-break-inside: avoid;
}

.catdetails label {
    width: 120px;
    display: inline-block;
}

.catdetails .entry {
    padding: 4px;
    
    /* different bg and border*/
    background: #fff;
    border: 1px solid #B5BFD5;
    /*Nico*/
    /*border: 1px solid #8396BF;*/
    
    border-radius: 4px;
    margin: 3px 3px 3px 3px;
    min-height: 40px;
    position: relative;
    padding-bottom: 0px;
}

.entrydetail {
    font-weight: bold;
}

.entryline {
    margin-bottom: 8px;
}

.ibutton {
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    padding-right: 6px;
    background-color: #ddd;
    color: #333;
    margin: 3px;
}

.ibutton:hover {
    background-color: #B5BFD5;
    color: black;
}

.ibutton img {
    vertical-align: middle;
    width: 16px;
}

.entry .info-button {
    text-align: right;
    cursor: pointer;
    position: absolute;
    right: 2px;
    bottom: 2px;
    display: inline-block;
}

.entry .info-button img {
    vertical-align: baseline;
    margin-bottom: -3px;
}

#versorger-entryeditor .content label {
    width: 160px;
    display: inline-block;
}

#versorger-entryeditor .content input[type="text"] {
    width: 360px;
}

#versorger-entryeditor {
    display: none;
}

#livesearch-versorger {
    height: 280px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid #cccccc;
    z-index: 1200;
}

.versorger-livesearch-entry {
    margin: 2px 2px 4px 2px;
    border: 1px solid #ADD8E6;
    padding: 3px;
    border-radius: 3px;
    background-color: #deedf7;
    cursor: pointer;
}

#versorger-clipboardcopy, #versorger-memo {
    display: none;
}

#versorger-clipboardcopy textarea {
    width: 300px;
    height: 120px;
}

#versorger-entryeditor .toolbar input {
    padding: 3px;
    margin: 3px;
}

#versorger-entryeditor .toolbar {
    margin-top: 12px;
}



/* @cla */

.versorgerEditDialog .ui-dialog-buttonset {
    width:100%;
}

.versorgerEditDialog .ui-dialog-buttonset .rightButton {
    float:right;
}
.versorgerEditDialog .ui-dialog-buttonset .leftButton {
    float:left;
}


.versorgerEditDialog textarea {
    width: 360px;
}



#versorger-entryeditor .content input.date {
    width:100px;
}

.ui-accordion .ui-accordion-content.accordion_body,
.versorger .entry .accordion_body{
    padding : 5px;
    border: 1px solid #8396BF;
    border-top:none;
    border-radius: 0 0 4px 4px;
    line-height: 1;
    font-size: 12px;
    color: #333;
}


.ui-accordion .ui-accordion-header.accordion_head, 
.versorger .entry .accordion_head{
    text-indent: 25px; 
    background:#B5BFD5;
    border-color : #B5BFD5;
    height : 20px;
    color : #20396B;
    line-height: 1;
    font-size: 12px;
}

.spinner_square {
  z-index:9999;
  width: 40px;
  height: 40px;
  background-color: #62BBE8;
  border:1px solid #fff;

  margin: 20px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}





/* livesearch result html */
.livesearch_unified_style, /* this is the default class used in all the live_searches */
#livesearch_zipcities,
#livesearch_healthinsurance,
#livesearch_admission_diagnosis {
        
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 680px;
    background-color: #fff;
    border: 2px solid #000;
    display:block;
    z-index:2147483647; /* !! MAX */
}
#livesearch_zipcities table,
#livesearch_healthinsurance table,
#livesearch_admission_diagnosis table {
    background-color: #fff;
}


/* default zend_form class for errors*/
.errors {
    color:#900;    
}

.wlassessment_form_class .date{
    width:100px
}
.wlassessment_form_class .time{
    width:60px;
}
.wlassessment_form_class fieldset {
    border: 1px solid #DDD;
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+10,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}


dt {
    float: left;
    clear: left;
    width: 180px;        
    padding: 5px 0;
    margin:0;
}
dd {
    float: left;
    width: 200px;
    padding: 5px 0;
    margin:0;
}
.cf:after {
    content:'';
    display:table;
    clear:both;
}


.wlassessment_form_class fieldset table {
    
}
.wlassessment_form_class fieldset table td {
    padding:2px 2px 2px 5px;
    border-bottom: 1px solid #DDD;
   
    text-indent: 0px;
    vertical-align: middle;
}


.wlassessment_form_class label.required:after {
   content:" *";
   color: #e32;
   display:inline;
}


.wlassessment_form_class .label_same_size label,
.wlassessment_form_class .label_same_size_100 label,
.wlassessment_form_class .label_same_size_80 label, 
.wlassessment_form_class .label_same_size_auto label, 
.wlassessment_form_class .label_same_size_180 label 
{
    display: inline-block;
    width :190px;    
    height :20px;    
    padding-left: 15px;
    text-indent: -15px;
}
.wlassessment_form_class .label_same_size_100 label {
    width :100px;    
}


.wlassessment_form_class .label_same_size_170 label{
    width :170px; 
}

.wlassessment_form_class .label_same_size_80 label{
    width :80px; 
}
.wlassessment_form_class .label_same_size_auto label{
    width: auto;
}

.wlassessment_form_class .label_same_size_180 label{
    width :180px; 
}


.wlassessment_form_class .label_same_size label.size_80{
    width :80px; 
}
.wlassessment_form_class .label_same_size label.size_100{
    width :100px; 
}
.wlassessment_form_class .label_same_size label.size_120{
    width :120px; 
}
.wlassessment_form_class .label_same_size label.size_140{
    width :140px; 
}
.wlassessment_form_class .label_same_size label.size_160{
    width :160px; 
}
.wlassessment_form_class .label_same_size label.size_180{
    width :180px; 
}


.wlassessment_form_class .label_same_size label input,   
.wlassessment_form_class .label_same_size_100 label input,  
.wlassessment_form_class .label_same_size_180 label input,  
.wlassessment_form_class .label_same_size_auto label input {    
    width: 25px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 2px;
}

.wlassessment_form_class .accordion_c fieldset{
    border:0;
    padding:0px;
    margin:0px;    
    text-indent:25px;
}

.wlassessment_form_class .accordion_c fieldset legend{
    width:100%;
    text-indent:25px;
    padding-top:5px;
}


.wlassessment_form_class .accordion_c fieldset table{
    width:100%;
}


.wlassessment_form_class .tdwidth20percent {
    width:20%;
}

.wlassessment_form_class fieldset table.SimpleTable {
    width:auto;
}
.wlassessment_form_class fieldset table.SimpleTable td {
    border-bottom: 1px solid #DDD;
}
   
.wlassessment_form_class fieldset table.SimpleTable th {
    border: 1px solid #bbb;
    background-color: #f3f3f3;
    font-weight:bold;
    line-height: 200%;
    padding-right: 5px;
    padding-left: 5px;
}
   
.wlassessment_form_class .formular_actions {
   padding: 5px;
    
}
.wlassessment_form_class .formular_actions input {
   margin:5px;
}


.wlassessment_form_class .align_right {
    text-align:right;
}

.wlassessment_form_class .align_center{
    text-align:center;
}
.wlassessment_form_class .delete_row {
    background: transparent url(../../images/action_delete.png) no-repeat center;
    background-size: 20px 20px;
    width:20px;
    height:20px;
    display:inline-block;
    margin: auto;    
}

.wlassessment_form_class .icd_holder_row .diagdesc {
       padding-right:15px;
        
}


.dontPrint {
    display:none !important;
}


/* patient Details page */


.versorger .catdetails fieldset.inlineEdit{
    border:none;
    margin: 0px;
    padding: 5px;
    font-size: 10px !important;
}

.versorger .catdetails fieldset.inlineEdit > legend {
    display:none
}


.versorger .catdetails .multipleCheckboxes label{
    display: block;
    width: auto;    
    margin-bottom: 5px;
}

.versorger .catdetails .multipleCheckboxes label input {
    
    padding: 0px;
    margin: 0 5px  0 0;
    position: relative;
    top: 2px;
    
}

#box-PatientLocation th,
#box-PatientLocation td,
.versorger .catdetails fieldset.inlineEdit label{
font-size: 10px !important;
}


.versorger .catdetails .multipleCheckboxes.create_form_patient_germination .comments td,
.versorger .catdetails .multipleCheckboxes.create_form_patient_mobility .comments td,
.versorger .catdetails .multipleCheckboxes.create_form_artificial_exits .comments td,
.versorger .catdetails .multipleCheckboxes .group_communication_limited td,
.versorger .catdetails .multipleCheckboxes .group_communication td {
    padding-left : 20px;
}

.acp_accordion > fieldset {
    padding:0;    
    margin: 0;
}
.acp_accordion table td {
    padding-left:2px;
}

.acp_accordion table label {
    width: auto;
}





.versorger .catdetails fieldset.create_form_patient_visits_settings{
    border:none;
    margin: 0px;
    padding: 1px;
}




#patient_locations_table tr.odd td,
#table_visits_per_day tr.odd td {
    background: #f2f2f2;
}
#patient_locations_table tr.even td,
#table_visits_per_day tr.even td {
    background: #FFF;
}



#table_visits_per_day select {
    width : 80%
}
#table_visits_per_day .x_cross {
    padding: 0;
        padding-left: 0px;
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

#box-SapvVerordnung .entry .entryline .entrydetail .s1 {
    width:180px;
    display: inline-block;
}
#box-SapvVerordnung .entry .entryline .entrydetail .s2 {
}

#versorger-entryeditor .content .create_form_patient_sapv_verordnung .tr_verordnet label,
#versorger-entryeditor .content .create_form_patient_sapv_verordnung .label_status label,
#versorger-entryeditor .content .create_form_patient_sapv_verordnung .label_extra_set label {
    width:100px;
}
#versorger-entryeditor .content .create_form_patient_sapv_verordnung .label_status label.optional {
    width:180px;
}



#versorger-entryeditor .content .create_form_patient_sapv_verordnung .label_bra_options label {
    width:60px;
}

.wlassessment_form_class td.required::after {
    content: " *";
    color: #e32;
    display: inline;
}


#box-PatientAcp td label {
    width : auto;
}



#box-PatientAcp td a,
#box-PatientVisitsSettings table#table_visits_per_day th,

#box-SapvVerordnung table.PatientDetail_datatable th,
#box-SapvVerordnung table.PatientDetail_datatable td,

#box-SapvVerordnung table.sgbv_details th,
#box-SapvVerordnung table.sgbv_details td,
#box-SapvVerordnung table.sgbv_details td a{
    font-size:10px;
} 


#box-PatientReadmission table,
#box-SapvVerordnung table.sgbv_details td {
    border:none !important;
    font-size:10px;
}
/* CRISTI C. 18.02.2021 */
#box-PatientGermination table tr td {
	position:relative;
}

#box-PatientSurveySettings {
	overflow:hidden;
}

