@CHARSET "UTF-8";

/* be aware, dompdf main css file is /library/dompdf/lib/res/html.css */
/* do NOT change that */


.dontPrint {
    display:none!important;
}


body{
     font-family: Arial, Helvetica, sans-serif;
}


textarea {
    width: auto;
    height:auto;
    min-height: 60px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    
    
    border: 0!important;
    outline: none!important;
    
    width: auto!important;
    text-align:left;   
}

select {
    border: 0!important;
    outline: none!important;
    
    width: auto!important;
    text-align:left;   
}

.wlassessment_form_class select:after {
    content: none;
    display: none;
}
.wlassessment_form_class fieldset {
    border: 1px solid #DDD;
    width:700px;
    padding:4px 2px 2px 2px;
    margin-bottom:25px;
    
   
}
.wlassessment_form_class fieldset legend {
    font-weight : 600;
}

.wlassessment_form_class fieldset > table {
    /*table-layout:fixed;*/
   margin-top: 15px;
   
   
}

.wlassessment_form_class fieldset table {
    /*table-layout:fixed;*/
    width : 700px;
    page-break-inside: avoid;
}
.wlassessment_form_class fieldset table td {
    padding:2px 2px 2px 5px;
    border-bottom: 1px solid #DDD;
    
}

.wlassessment_form_class td.print_column_first {
   
    width:180px;
    /*border:1px solid red;*/
    overflow:hidden;
    
}


.wlassessment_form_class td.print_column_data {
    width:500px;
   /* border:1px solid lime;*/
}



/*
.wlassessment_form_class fieldset table td:first-child {
    width: 100px;
    border: 1px solid red;
}
.wlassessment_form_class fieldset table td:nth-child(2) {
    width: 100px;
    border: 1px solid #f00;
}
*/
.wlassessment_form_class fieldset table td {
   /* width: auto!important;*/
    
}
/*SimpleTable header align left*/
.wlassessment_form_class .SimpleTable thead th {
    text-align:left;
}

/*diagnosis table rows*/
.wlassessment_form_class .icd_holder_row td.diagicd {
    width: 60px;
}
.wlassessment_form_class .icd_holder_row td.diagdesc {
    width: 460px;
}

.wlassessment_form_class fieldset#fieldset-Medications {
    padding-left:0;
    padding-right:0;
    
    page-break-inside: auto;
    
}
.wlassessment_form_class fieldset#fieldset-Medications table.medication_table {
    
    page-break-inside: avoid;
}

.wlassessment_form_class table.medication_table {
    
    page-break-inside: auto;
    width:700px;
}


.wlassessment_form_class table.medication_table.medication_pumpe table {
    width:100%;
}




.wlassessment_form_class fieldset#fieldset-Medications>h3{
    padding-left:4px;
}

.wlassessment_form_class fieldset#fieldset-Medications table.medication_pumpe>tbody>tr>td {
    padding:0;
}


.wlassessment_form_class .medication_table td,
.wlassessment_form_class .medication_table th {
         border: 1px solid #DDD;
}


.wlassessment_form_class fieldset#fieldset-Patient_ACP fieldset {
    width:auto;
}
.wlassessment_form_class fieldset#fieldset-Patient_ACP fieldset table{
    width:100%;
}


.wlassessment_form_class fieldset.one_Contact_Persons table,
.wlassessment_form_class fieldset.one_Specialists table,
.wlassessment_form_class fieldset.one_PatientPflegediensts table {
    width:100%;
}
.wlassessment_form_class fieldset.one_Contact_Persons table tr td:first-child,
.wlassessment_form_class fieldset.one_Specialists table tr td:first-child,
.wlassessment_form_class fieldset.one_PatientPflegediensts table tr td:first-child,

.wlassessment_form_class fieldset#fieldset-maintenancestage table tr td:first-child, 
.wlassessment_form_class fieldset#fieldset-PatientHospizverein table tr td:first-child, 
.wlassessment_form_class fieldset#fieldset-PatientChildMourning table tr td:first-child, 
.wlassessment_form_class fieldset#fieldset-PatientPsychooncological table tr td:first-child, 
{
    width:180px;
    overflow:hidden;
}



.wlassessment_form_class fieldset#fieldset-PatientAnlage33a label,
.wlassessment_form_class fieldset#fieldset-PatientDgpKern label,
.wlassessment_form_class fieldset#fieldset-Marital_status label,
/* .wlassessment_form_class fieldset#fieldset-Nationality label, */
.wlassessment_form_class fieldset#fieldset-Religion label,
.wlassessment_form_class fieldset#fieldset-Remedies label,
.wlassessment_form_class fieldset#fieldset-Orientation2 label,
/* .wlassessment_form_class fieldset#fieldset-Mobility2 label, */
/* .wlassessment_form_class fieldset#fieldset-Artificial_exits label, */
/* .wlassessment_form_class fieldset#fieldset-Excretion label */
.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
{
    display: block;
    /*white-space: nowrap;*/
    /*
    white-space: pre-line;
    overflow-x: hidden;
    padding:10px;
    width:100px;
    */
}


.alwaysPrintBlock {
    display: block!important;
}

.alwaysPrintTR {
    display: table-row!important;
}




input.emergency_preparedness_1,
input.emergency_preparedness_2{
    width:45%!important;
}
