<table width="820" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px;">

  <tr>
    <td width="3%" align="left" valign="bottom" style="font-size:16px; font-weight:bold;">&nbsp;</td>
    <td width="97%" height="50" align="left" valign="bottom" style="font-size:16px; font-weight:bold;">&nbsp;</td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="bottom" style="font-size:16px; font-weight:bold;">&nbsp;</td>
    <td width="97%" height="40" align="left" valign="bottom" style="font-size:16px; font-weight:bold;"><strong>Anlage 7</strong></td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle" style="font-size:15px; font-weight:bold;">&nbsp;</td>
    <td width="97%" height="60" align="left" valign="middle" style="font-size:15px; font-weight:bold;">zur Vereinbarung über die ambulante palliativmedizinische Versorgung von unheilbar<br />
    erkrankten Patienten im häuslichen Umfeld</td>
  </tr>
  <tr>
    <td width="3%">&nbsp;</td>
    <td width="97%">&nbsp;</td>
  </tr>
  <tr>
    <td width="3%">&nbsp;</td>
    <td width="97%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="48%" align="left" valign="top">
        <table width="100%" border="1" bordercolor="#FF0000" cellspacing="0" cellpadding="0" style="font-size:12px;">
          <tr>
            <td height="30" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              
              <tr>
                <td width="2%">&nbsp;</td>
                <td width="98%" height="20" align="left" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:10px; color:#ff0000; padding-left:5px;">Krankenkasse bzw. Kostenträger</font></td>
              </tr>
              <tr>
                <td width="2%">&nbsp;</td>
                <td width="98%" height="20" align="left" valign="top"><? echo $this->krankenkassenmae ?></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td width="100%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="2%" height="20">&nbsp;</td>
                <td width="58%" height="20"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:10px; color:#ff0000; padding-left:5px;">Name, Vorname des Versicherten</font></td>
                <td width="38%" height="20">&nbsp;</td>
                <td width="2%" height="20">&nbsp;</td>
              </tr>
              <tr>
                <td width="2%" height="30">&nbsp;</td>
                <td width="50%" height="20">
                  <? echo nl2br($this->patient_name); ?>                </td>
                <td width="30%" height="30" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="10%" height="20" align="left" valign="top">&nbsp;</td>
                    <td width="90%" height="20" align="left" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:10px; color:#ff0000; padding-left:5px;">geb. am</font></td>
                    <td width="5" height="30">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="10%" height="20">&nbsp;</td>
                    <td width="90%" height="20"><? echo $this->birthd ?></td>
                    <td width="5" height="30">&nbsp;</td>
                  </tr>
                </table></td>
                <td width="2%" height="30">&nbsp;</td>
              </tr>
              
            </table></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              
              <tr>
                <td width="2%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="25%" height="20" align="left" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:10px; color:#ff0000; padding-left:5px;">Kassen-Nr.</font></td>
                <td width="1" height="20" align="left" valign="top" ></td>
                <td width="2%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="40%" height="20" align="left" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:10px; color:#ff0000; padding-left:5px;">Versicherten-Nr.</font></td>
                <td width="1" height="20" align="left" valign="top" ></td>
                <td width="2%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="29%" height="20" align="left" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:10px; color:#ff0000; padding-left:5px;">Status</font></td>
              </tr>
              <tr>
                <td width="2%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="25%" height="20" align="left" valign="top"><? echo $this->kassen_nr ?></td>
                <td width="1" height="20" align="left" valign="top" bgcolor="#FF0000"></td>
                <td width="2%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="40%" height="20" align="left" valign="top"><? echo $this->versicherten_nr ?></td>
                <td width="1" height="20" align="left" valign="top" bgcolor="#FF0000"></td>
                <td width="2%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="29%" height="20" align="left" valign="top"><? echo $this->status ?></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
             
              <tr>
                <td width="2%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="36%" height="20" align="left" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:10px; color:#ff0000; padding-left:5px;">Vertragsarzt-Nr.</font></td>
                <td width="1" height="20" align="left" valign="top" ></td>
                <td width="2%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="30%" height="20" align="left" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:10px; color:#ff0000; padding-left:5px;">VK gültig bis</font></td>
                <td width="1" height="20" align="left" valign="top" ></td>
                <td width="1%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="29%" height="20" align="left" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:10px; color:#ff0000; padding-left:5px;">Datum</font></td>
              </tr>
              <tr>
                <td width="2%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="36%" height="20" align="left" valign="top"><? echo $this->vertragsarzt_nr ?></td>
                <td width="1" height="20" align="left" valign="top" bgcolor="#FF0000"></td>
                <td width="2%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="25%" height="20" align="left" valign="top"><? echo $this->vk_gultig_bis ?></td>
                <td width="1" height="20" align="left" valign="top" bgcolor="#FF0000"></td>
                <td width="1%" height="20" align="left" valign="top">&nbsp;</td>
                <td width="29%" height="20" align="left" valign="top"><? echo $this->datum ?></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="52%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="10%" height="25" align="left" valign="top">&nbsp;</td>
            <td width="90%" height="25" align="left" valign="top">&nbsp;</td>
          </tr>
          
          <tr>
            <td width="10%" height="25" align="left" valign="middle">&nbsp;</td>
            <td width="90%" height="25" align="left" valign="middle">Telefax</td>
          </tr>
          <tr>
            <td width="10%" height="25" align="left" valign="middle">&nbsp;</td>
            <td width="90%" height="25" align="left" valign="middle"> an den</td>
          </tr>
          <tr>
            <td width="10%" height="25" align="left" valign="middle">&nbsp;</td>
            <td width="90%" height="25" align="left" valign="middle"> Palliativmedizinischen Konsiliardienst</td>
          </tr>
          <tr>
            <td width="10%" height="25" align="left" valign="middle">&nbsp;</td>
            <td width="90%" height="25" align="left" valign="middle"><? echo $this->palliativmedizinischen_konsiliardienst ?></td>
          </tr>
          <tr>
            <td width="10%" height="25" align="left" valign="middle">&nbsp;</td>
            <td width="90%" height="25" align="left" valign="middle">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%">&nbsp;</td>
    <td width="97%" height="20">&nbsp;</td>
  </tr>
  <tr>
    <td width="3%">&nbsp;</td>
    <td width="97%" height="20"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="22%" height="20" align="left" valign="middle">Mein o. a. Patient ist am</td>
        <td width="20%" height="20" align="left" valign="middle"><? echo $this->mein_patient_ist_am ?></td>
        <td width="58%" height="20" align="left" valign="middle">verstorben</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%">&nbsp;</td>
    <td width="97%" height="20">&nbsp;</td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" height="20" align="left" valign="middle">Während der Palliativversorgung ist</td>
  </tr>
  <tr>
    <td width="3%">&nbsp;</td>
    <td width="97%" height="20">&nbsp;</td>
  </tr>
  
  <tr>
    <td width="3%">&nbsp;</td>
    <td width="97%" height="20"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" height="40" align="left" valign="middle">a)</td>
        <td width="96%" height="40" align="left" valign="middle"> eine Krankenhausbehandlung</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%">&nbsp;</td>
    <td width="97%" height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle">
        <img src="images/<? if($this->eine_krankenhausbehandlung[1]=='no'){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />        </td>
        <td width="93%" height="30" align="left" valign="middle">nicht veranlasst</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" height="20" align="left" valign="middle">
   
    
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <? if(count($this->eine_krankenhausbehandlung_from)>0 && $this->eine_krankenhausbehandlung[2]=='yes'){
      	for($i=0; $i<count($_POST['eine_krankenhausbehandlung_from']); $i++)
        {
      ?>
      <tr>
       <? if($i==0){?> 
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->eine_krankenhausbehandlung[2]=='yes'){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="7%" height="30" align="left" valign="middle">am</td>
       <? }else{?> 
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"></td>
        <td width="7%" height="30" align="left" valign="middle"></td>
        <? }?>
        
        <td width="30%" height="30" align="left" valign="middle"><? echo htmlspecialchars($this->eine_krankenhausbehandlung_from[$i]); ?></td>
        <td width="2%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="10%" height="30" align="left" valign="middle">wegen</td>
        <td width="54%" height="30" align="left" valign="middle"><? echo htmlspecialchars($this->eine_krankenhausbehandlung_to[$i]); ?></td>
      </tr>
      <? } }else{ ?>
       <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->eine_krankenhausbehandlung[2]=='yes'){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="7%" height="30" align="left" valign="middle">am</td>
        <td width="20%" height="30" align="left" valign="middle">---------------------</td>
        <td width="2%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="10%" height="30" align="left" valign="middle">wegen</td>
        <td width="54%" height="30" align="left" valign="middle">---------------------</td>
      </tr>
      <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="7%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="20%" height="30" align="left" valign="middle">---------------------</td>
        <td width="2%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="10%" height="30" align="left" valign="middle">wegen</td>
        <td width="54%" height="30" align="left" valign="middle">---------------------</td>
      </tr>
      <? } ?>
    </table>    </td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" height="40" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" height="40" align="left" valign="middle">&nbsp;</td>
        <td width="96%" height="40" align="left" valign="middle"> notwendig gewesen.</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->notwendig_gewesen==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
        <td width="93%" height="30" align="left" valign="middle">Patient ist im Krankenhaus verstorben</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" height="30" align="left" valign="middle">b)</td>
        <td width="96%" height="30" align="left" valign="middle"> häusliche Krankenpflege</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->hausliche_krankenpflege[1]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="93%" height="30" align="left" valign="middle">nicht erforderlich gewesen</td>
      </tr>
      <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->hausliche_krankenpflege[2]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="93%" height="30" align="left" valign="middle">als HKP verordnet worden</td>
      </tr>
      <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->hausliche_krankenpflege[3]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> </td>
        <td width="93%" height="30" align="left" valign="middle">als Palliativpflege verordnet worden</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" height="30" align="left" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" height="40" align="left" valign="middle">Den palliativmedizinischen Konsiliardienst habe ich</td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->hausliche_krankenpflege[4]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="13%" height="30" align="left" valign="middle">telefonisch</td>
        <td width="10%" height="30" align="left" valign="middle"><? echo $this->telefonisch_text ?></td>
        <td width="70%" height="30" align="left" valign="middle">mal kontaktiert</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->hausliche_krankenpflege[5]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="8%" height="30" align="left" valign="middle"><? echo $this->mal_gebeten_einen_hausbesuch ?></td>
        <td width="85%" height="30" align="left" valign="middle">mal gebeten, einen Hausbesuch durchzuführen</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" height="30" align="left" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" height="40" align="left" valign="middle">Die Betreuung durch den PKD bewerte ich als</td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" height="20" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->die_betreuung_durch[1]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="18%" height="30" align="left" valign="middle">sehr gut</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->die_betreuung_durch[2]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="16%" height="30" align="left" valign="middle">gut</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->die_betreuung_durch[3]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="16%" height="30" align="left" valign="middle">befriedigend</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->die_betreuung_durch[4]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="34%" height="30" align="left" valign="middle">nicht zufriedenstellend</td>
      </tr>
      <tr>
        <td width="4%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle"><img src="images/<? if($this->die_betreuung_durch[5]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
        <td width="18%" height="30" align="left" valign="middle">keine Angabe</td>
        <td width="3%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="16%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="16%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="3%" height="30" align="left" valign="middle">&nbsp;</td>
        <td width="34%" height="30" align="left" valign="middle">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" height="40" align="left" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td width="3%" align="left" valign="middle">&nbsp;</td>
    <td width="97%" height="20" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="60%" height="30" align="left" valign="bottom"><? echo $this->todaydate ?>        </td>
        <td width="40%" height="30" align="left" valign="bottom"></td>
      </tr>
      <tr>
        <td width="60%" height="30" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /><br />
          Ort, Datum</td>
        <td width="40%" height="30" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /><br />
          Stempel, Unterschrift</td>
      </tr>
    </table></td>
  </tr>
  
</table>
