<table width="100%" border="0" align="left" cellpadding="1" cellspacing="4" style="line-height: 12px; font-family: Arial, Helvetica, sans-serif; ">
  <tr>
    <td align="left" colspan="2">
	<table width="100%" border="0" cellspacing="0" cellpadding="1">
	    <tr style="font-family:Arial, Helvetica, sans-serif; font-size:1.8em; color:#000000;font-weight:bold;">
		<td width="100%" height="20" align="left"><center>Patientenaufnahmeformular für Assessment und Koordination der Versorgung</center></td>
	    </tr>
	</table>
    </td>
  </tr>
  
  <tr>
      <td><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.6em; color:#000000;font-weight:bold;">Name:</font> <span  style="font-size: 1.4em;"><?php echo $this->patientname; ?></span><br /><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.6em; color:#000000;font-weight:bold;">IK Nummber:</font><span  style="font-size: 1.4em;"><?php echo $this->iknumber; ?></span></td>
      <td><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.6em; color:#000000;font-weight:bold;text-align: right;">Geburtsdatum:</font> <span  style="font-size: 1.4em;"><?php echo $this->birthd; ?></span></td>
  </tr>
  <tr>
      <td colspan="2"><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.6em; color:#000000;font-weight:bold;text-align: left;">Familien- und Versorgungssituation:</font></td>
  </tr>
  
  <tr style="font-size: 1.4em; text-align: justify;">
      <td colspan="2"><?php echo $this->fammore; ?></td>
  </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
   <tr>
       <td colspan="2"><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.4em; color:#000000;font-weight:bold;">Ängste / Sorgen:</font></td>
  </tr>
   <tr>
       <td colspan="2" width="100%">
	   <table width="100%" style="width: 100%;"  style="font-size: 1.4em; text-align: justify;">
		<tr>
		    <td width="60%">Depressivität</td>
		    <td width="10%" style="text-align: right;"><label for="kein1"><img src="../../images/<? if($this->depresiv == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
		    <td width="10%" style="text-align: right;"><label for="leicht1"><img src="../../images/<? if($this->depresiv == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		    <td width="10%" style="text-align: right;"><label for="mittel1"><img src="../../images/<? if($this->depresiv == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		    <td width="10%" style="text-align: right;"><label for="stark1"><img src="../../images/<? if($this->depresiv == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		</tr>
		<tr>
		    <td width="60%">Angst</td>
		    <td width="10%" style="text-align: right;"><label for="kein2"><img src="../../images/<? if($this->angst == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
		    <td width="10%" style="text-align: right;"><label for="leicht2"><img src="../../images/<? if($this->angst == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		    <td width="10%" style="text-align: right;"><label for="mittel2"><img src="../../images/<? if($this->angst == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		    <td width="10%" style="text-align: right;"><label for="stark2"><img src="../../images/<? if($this->angst == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		</tr>
		<tr>
		    <td width="60%">Anspannung</td>
		    <td width="10%" style="text-align: right;"><label for="kein3"><img src="../../images/<? if($this->anspannung == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
		    <td width="10%" style="text-align: right;"><label for="leicht3"><img src="../../images/<? if($this->anspannung == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		    <td width="10%" style="text-align: right;"><label for="mittel3"><img src="../../images/<? if($this->anspannung == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		    <td width="10%" style="text-align: right;"><label for="stark3"><img src="../../images/<? if($this->anspannung == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		</tr>
		<tr>
		    <td width="60%">Desorientiertheit / Verwirrtheit</td>
		    <td width="10%" style="text-align: right;"><label for="kein4"><img src="../../images/<? if($this->desorientier == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
		    <td width="10%" style="text-align: right;"><label for="leicht4"><img src="../../images/<? if($this->desorientier == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		    <td width="10%" style="text-align: right;"><label for="mittel4"><img src="../../images/<? if($this->desorientier == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		    <td width="10%" style="text-align: right;"><label for="stark4"><img src="../../images/<? if($this->desorientier == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		</tr>
	    </table>
       </td>
  </tr>
   <tr>
      <td colspan="2"  style="font-size: 1.4em; text-align: justify;"><?php echo $this->angstemore; ?></td>
  </tr>
  
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
  
   <tr>
      <td colspan="2"><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.4em; color:#000000;font-weight:bold;">Wünsche / Hoffnungen:</font></td>
  </tr>
   <tr>
      <td colspan="2"  style="font-size: 1.4em; text-align: justify;"><?php echo $this->wuschemore; ?></td>
  </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
   <tr>
      <td colspan="2"><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.4em; color:#000000;font-weight:bold;">Was ist Grund der Behandlung:</font></td>
  </tr>
   <tr>
      <td colspan="2"  style="font-size: 1.4em; text-align: justify;"><?php echo $this->behandlungmore; ?></td>
  </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
   <tr>
      <td colspan="2"><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.4em; color:#000000;font-weight:bold;">Ressourcen:</font></td>
  </tr>
   <tr>
      <td colspan="2"  style="font-size: 1.4em; text-align: justify;"><?php echo $this->ressourcenmore; ?></td>
  </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
   <tr>
      <td colspan="2"><font style="font-family:Arial, Helvetica, sans-serif; font-size:1.4em; color:#000000;font-weight:bold;">Hilfsbedürftigkeit:</font></td>
  </tr>
   <tr>
      <td colspan="2">
	  <table width="100%" style="width: 100%;"  style="font-size: 1.4em; text-align: justify;">
		    <tr>
			<td width="60%">Pflegeprobleme wg. Wunden / Dekubitus</td>
			<td width="10%"><label for="kein5"><img src="../../images/<? if($this->dekubitus == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"><label for="leicht5"><img src="../../images/<? if($this->dekubitus == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"><label for="mittel5"><img src="../../images/<? if($this->dekubitus == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" />  mittel</label></td>
			<td width="10%"><label for="stark5"><img src="../../images/<? if($this->dekubitus == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr>
			<td width="60%">Hilfebedarf b. Aktivitäten d. tägl. Lebens</td>
			<td width="10%"><label for="kein6"><img src="../../images/<? if($this->hilfebedarf == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"><label for="leicht6"><img src="../../images/<? if($this->hilfebedarf == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"><label for="mittel6"><img src="../../images/<? if($this->hilfebedarf == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"><label for="stark6"><img src="../../images/<? if($this->hilfebedarf == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr>
			<td width="60%">Probleme mit Organisation der Versorgung</td>
			<td width="10%"><label for="kein7"><img src="../../images/<? if($this->versorgung == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"><label for="leicht7"><img src="../../images/<? if($this->versorgung == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"><label for="mittel7"><img src="../../images/<? if($this->versorgung == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"><label for="stark7"><img src="../../images/<? if($this->versorgung == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr>
			<td width="60%">Überforderung der Familie, des Umfelds</td>
			<td width="10%"><label for="kein8"><img src="../../images/<? if($this->umfelds == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"><label for="leicht8"><img src="../../images/<? if($this->umfelds == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"><label for="mittel8"><img src="../../images/<? if($this->umfelds == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"><label for="stark8"><img src="../../images/<? if($this->umfelds == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		</table>
      </td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;">
	  <?php echo $this->hilfsmore; ?>
      </td>
  </tr>
  <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2">
	  <table width="100%" style="width: 100%;" style="font-size: 1.4em; text-align: justify;">
		<tr>
		    <td width="60%"><strong>Vigilanz:</strong></td>
		    <td width="10%"><label for="kein9"><img src="../../images/<? if($this->vigilanz == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
		    <td width="10%"><label for="leicht9"><img src="../../images/<? if($this->vigilanz == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		    <td width="10%"><label for="mittel9"><img src="../../images/<? if($this->vigilanz == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		    <td width="10%"><label for="stark9"><img src="../../images/<? if($this->vigilanz == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		</tr>
	    </table>
      </td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><?php echo $this->vigilanzmore; ?></td>
  </tr>
  
  <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Mobilität:</strong></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;">
	  <?php echo $this->mobilitatmore; ?>
      </td>
  </tr>
  <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2">
	<table style="font-size: 1.4em; text-align: justify;">
	    <tr>
		<td width="60%"><strong>Schmerzen: </strong></td>
		<td width="10%"><label for="kein10"><img src="../../images/<? if($this->schmerzen == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" />  kein</label></td>
		<td width="10%"><label for="leicht10"><img src="../../images/<? if($this->schmerzen == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
		<td width="10%"><label for="mittel10"><img src="../../images/<? if($this->schmerzen == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
		<td width="10%"><label for="stark10"><img src="../../images/<? if($this->schmerzen == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
	    </tr>
	    <tr>
		<td width="60%">bisher behandelt nach WHO III</td>
		<td width="10%" colspan="2"></td>
		<td width="10%"><label for="ja1"><img src="../../images/<? if($this->who == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Ja</label></td>
		<td width="10%"><label for="nein1"><img src="../../images/<? if($this->who == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Nein</label></td>
	    </tr>
	</table>
      </td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><?php echo $this->whomore; ?></td>
  </tr>
  <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Andere schwerwiegende Symptome:</strong></td>
  </tr>
  <tr>
      <td colspan="2">
	  <table style="font-size: 1.4em; text-align: justify;">
		    <tr>
			<td width="60%"><strong>Übelkeit</strong></td>
			<td width="10%"><label for="kein11"><img src="../../images/<? if($this->ubelkeit == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"><label for="leicht11"><img src="../../images/<? if($this->ubelkeit == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"><label for="mittel11"><img src="../../images/<? if($this->ubelkeit == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"><label for="stark11"><img src="../../images/<? if($this->ubelkeit == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr>
			<td width="60%"><strong>Erbrechen</strong></td>
			<td width="10%"><label for="kein12"><img src="../../images/<? if($this->erbrechen == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"><label for="leicht12"><img src="../../images/<? if($this->erbrechen == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"><label for="mittel12"><img src="../../images/<? if($this->erbrechen == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"><label for="stark12"><img src="../../images/<? if($this->erbrechen == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr>
			<td width="60%"><strong>Luftnot</strong></td>
			<td width="10%"><label for="kein13"><img src="../../images/<? if($this->luftnot == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"><label for="leicht13"><img src="../../images/<? if($this->luftnot == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"><label for="mittel13"><img src="../../images/<? if($this->luftnot == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"><label for="stark13"><img src="../../images/<? if($this->luftnot == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr>
			<td width="60%"><strong>Verstopfung</strong></td>
			<td width="10%"><label for="kein14"><img src="../../images/<? if($this->verstopfung == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"><label for="leicht14"><img src="../../images/<? if($this->verstopfung == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"><label for="mittel14"><img src="../../images/<? if($this->verstopfung == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"><label for="stark14"><img src="../../images/<? if($this->verstopfung == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		    <tr>
			<td width="60%"><strong>Schwäche</strong></td>
			<td width="10%"><label for="kein15"><img src="../../images/<? if($this->swache == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"><label for="leicht15"><img src="../../images/<? if($this->swache == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"><label for="mittel15"><img src="../../images/<? if($this->swache == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"><label for="stark15"><img src="../../images/<? if($this->swache == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" />  stark</label></td>
		    </tr>
		    <tr>
			<td width="60%"><strong>Appetitmangel</strong></td>
			<td width="10%"><label for="kein16"><img src="../../images/<? if($this->appetitmangel == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> kein</label></td>
			<td width="10%"><label for="leicht16"><img src="../../images/<? if($this->appetitmangel == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> leicht</label></td>
			<td width="10%"><label for="mittel16"><img src="../../images/<? if($this->appetitmangel == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> mittel</label></td>
			<td width="10%"><label for="stark16"><img src="../../images/<? if($this->appetitmangel == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> stark</label></td>
		    </tr>
		</table>
      </td>
  </tr>
  <tr>
      <td colspan="2" >&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Besonderer Aufwand mit:</strong></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;">
	  <?php echo $this->anderemore; ?>
      </td>
  </tr>
  <tr>
      <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Biographie:</strong></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><?php echo $this->biographiemore; ?></td>
  </tr>
  <tr>
      <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Angaben zur Erkrankung:</strong></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Hauptdiagnose / Grundkrankheit</strong></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;">
	  <?php echo $this->diagno; ?><br />
      </td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Angaben zur Versorgung:</strong></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;">Behandlung, Begleitung (bei Behandlungsbeginn oder bei Übernahme des Patienten)</td>
  </tr>
  <tr>
      <td colspan="2">
	  <table style="font-size: 1.4em; text-align: justify;">
	    <tr>
		<td width="20%"><strong>Ambulant</strong></td>
		<td width="20%"><label for="sapvteam"><img src="../../images/<? if($this->sapvteam == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> SAPV-Team</label></td>
		<td width="20%"><label for="hausarzt"><img src="../../images/<? if($this->hausarzt == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> Hausarzt</label></td>
		<td width="20%"><label for="pflege"><img src="../../images/<? if($this->pflege == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> ambulante Pflege</label></td>
		<td width="20%"><label for="palliativ"><img src="../../images/<? if($this->palliativ == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> Palliativarzt (QPA)</label></td>
	    </tr>
	    <tr>
		<td>&nbsp;</td>
		<td ><label for="palliativpf"><img src="../../images/<? if($this->palliativpf == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> Palliativpflege (AHPP, APD)</label></td>
		<td ><label for="palliativber"><img src="../../images/<? if($this->palliativber == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> Palliativberatung (AHPB)</label></td>
		<td colspan="2"><label for="dienst"><img src="../../images/<? if($this->dienst == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> Ehrenamtlicher Dienst</label></td>
		
	    </tr>
	    <tr>
		<td width="20%"><br /><strong>Stationär:</strong></td>
		<td colspan="3">
		    <? echo  $this->locaarray[$this->stationar]; ?>
		</td>
	    </tr>
	</table>
      </td>
  </tr>
  <tr>
      <td colspan="2">
	  <table style="font-size: 1.4em; text-align: justify;">
	      <tr>
		  <td><strong>Psychosoziale Betreuung durch Hospiz-Bewegung</strong></td>
	      </tr>
	      <tr>
		    <td width="20%"></td>
		    <td width="20%"><label for="erwunscht"><img src="../../images/<? if($this->psycho == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> erwünscht</label></td>
		    <td width="20%"><label for="veranlasst"><img src="../../images/<? if($this->psycho == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> veranlasst</label></td>
		    <td width="20%"><label for="nerwunscht"><img src="../../images/<? if($this->psycho == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> nicht erwünscht</label></td>
		    <td width="20%"></td>
		</tr>
	    </table>
      </td>
  </tr>
  <tr>
      <td colspan="2">
	  <table style="font-size: 1.4em;">
	    <tr>
		<td width="40%"><strong>Anzahl d. beteiligten Angehörigen:</strong></td>
		<td width="20%" colspan="3"><? echo $this->numbers[$this->anzahl] ?></td>
		
	    </tr>
	</table>
      </td>
  </tr>
  <tr>
      <td colspan="2">
	  <table style="font-size: 1.4em;">
		<tr>
		    <td width="21%"><strong>Absprache / Vorlage:</strong></td>
		    <td width="21%"><img src="../../images/<?php if($this->pverfungung == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> Patientenverfügung</td>
		    <td width="21%"><img src="../../images/<?php if($this->versorgevoll == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> Vorsorgevollmacht </td>
		    <td width="21%"><img src="../../images/<?php if($this->gesetzl == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> gesetzl. Betreuung</td>
		</tr>
	    </table>
      </td>
  </tr>
  <tr>
      <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Aktuelle Medikation:</strong></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><?php echo $this->medications; ?><br /></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Bedarfs Medikation:</strong></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><?php echo $this->bedarfsmedications; ?><br /></td>
  </tr>
  <tr>
      <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2">
	  <table width="100%" style="font-size: 1.4em; text-align: justify;">
		    <tr>
			<td colspan="5">
			    <strong>Körperlicher Befund:</strong>
			</td>
		    </tr>
		    
		    <tr>
			<td>
			    <img src="../../images/<? if($this->peg == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/>&nbsp;PEG-Sonde
			</td>
			<td width="18%">
			    <img src="../../images/<? if($this->magensonde == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> Magensonde
			</td>
			<td width="16%">
			    <img src="../../images/<? if($this->port == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>"/> Port
			</td>
			<td width="16%">
			    <img src="../../images/<? if($this->zvk == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> ZVK
			</td>
			<td width="16%">
			    <img src="../../images/<? if($this->pumps == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> Pumpe
			</td>
			<td width="16%">
			    <img src="../../images/<? if($this->dk == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> DK
			</td>
		    </tr>
		    <tr>
			<td colspan="6">&nbsp;</td>
		    </tr>
		    <tr>
			<td colspan="2"><p class="label">Klinisch:</p></td>
			
			<td width="15%"><label for="kachexie"><img src="../../images/<? if($this->kachexie == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> Kachexie</label></td>
			<td width="15%"><label for="mager"><img src="../../images/<? if($this->mager == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> mager</label></td>
			<td width="15%"><label for="normal"><img src="../../images/<? if($this->normal == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> normal</label></td>
			<td width="15%"><label for="adipos"><img src="../../images/<? if($this->adipos == "1"){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /> adipös</label></td>
		    </tr>
		    <tr>
			<td colspan="5">&nbsp;</td>
		    </tr>
		    <tr>
			<td colspan="5">
			    <strong>Funktionsstatus (ECOG)</strong>
			</td>
		    </tr>
		    <tr>
			<td colspan="5">
			    <div style="padding-left: 20px;">
				<label for="nromaleaktiv"><img src="../../images/<? if($this->nromaleaktiv == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Normale Aktivität</label><br />
				<label for="gehfahig"><img src="../../images/<? if($this->nromaleaktiv == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Gehfähig, leichte Arbeit möglich</label><br />
				<label for="arbeitsfahig"><img src="../../images/<? if($this->nromaleaktiv == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> nicht arbeitsfähig, kann > 50 % der Wachzeit aufstehen</label><br />
				<label for="begrenzte"><img src="../../images/<? if($this->nromaleaktiv == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> begrenzte Selbstversorgung, > 50 % Wachzeit bettlägerig</label><br />
				<label for="pflegebedurftig"><img src="../../images/<? if($this->nromaleaktiv == "5"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Pflegebedürftig, permanent bettlägerig</label>
			    </div>
			</td>
		    </tr>
		    <tr><td colspan="2">&nbsp;</td></tr>
		    <tr><td colspan="2">&nbsp;</td></tr>
		    <tr>
			<td>Kopf</td>
			<td width="28%"><label for="kopfk"><img src="../../images/<? if($this->kopf == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> krankheitsentsprechend</label></td>
			<td width="10%"><label for="kopfb"><img src="../../images/<? if($this->kopf == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Befund</label></td>
			<td colspan="2"><div id="kopfmorediv" style="text-align: left;"><?php echo $this->kopfmore; ?></div></td>
		    </tr>
		    <tr>
			<td>Thorax</td>
			<td width="28%"><label for="thoraxk"><img src="../../images/<? if($this->thorax == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> krankheitsentsprechend</label></td>
			<td width="10%"><label for="thoraxb"><img src="../../images/<? if($this->thorax == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Befund</label></td>
			<td colspan="2"><div id="thoraxmorediv" style="text-align: left;"><?php echo $this->thoraxmore; ?></div></td>
		    </tr>
		    <tr>
			<td>Abdomen</td>
			<td width="28%"><label for="abdomenk"><img src="../../images/<? if($this->abdomen == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> krankheitsentsprechend</label></td>
			<td width="10%"><label for="abdomenb"><img src="../../images/<? if($this->abdomen == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Befund</label></td>
			<td colspan="2"><div id="abdomenmorediv" style="text-align: left;"><?php echo $this->abdomenmore; ?></div></td>
		    </tr>
		    <tr>
			<td>Extremitäten</td>
			<td width="28%"><label for="extremitatenk"><img src="../../images/<? if($this->extremitaten == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> krankheitsentsprechend</label></td>
			<td width="10%"><label for="extremitatenb"><img src="../../images/<? if($this->extremitaten == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Befund</label></td>
			<td colspan="2"><div id="extremitatenmorediv" style="text-align: left;"><?php echo $this->extremitatenmore; ?></div></td>
		    </tr>
		    <tr>
			<td>Haut/Wunden</td>
			<td width="28%"><label for="hautk"><img src="../../images/<? if($this->haut == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> krankheitsentsprechend</label></td>
			<td width="10%"><label for="hautb"><img src="../../images/<? if($this->haut == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Befund</label></td>
			<td colspan="2"><div id="hautmorediv" style="text-align: left;"><?php echo $this->hautmore; ?></div></td>
		    </tr>
		</table>
      </td>
  </tr>
  <tr>
      <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Fotodokumentation:</strong></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><?php echo $this->fotodokmore; ?></td>
  </tr>
  <tr>
      <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><strong>Sonstiges und oder zusammenfassende Beurteilung: </strong></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><?php echo $this->sonstigesmore; ?></td>
  </tr>
  
  <tr>
      <td colspan="2">
	  <table style="font-size: 1.4em; text-align: justify;">
		<tr>
		    <td width="56%"><strong>Geschätzte Lebenserwartung:</strong></td>
		    <td width="11%"><label for="days"><img src="../../images/<? if($this->estimation == "1"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Tage</label></td>
		    <td width="11%"><label for="weeks"><img src="../../images/<? if($this->estimation == "2"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Wochen</label></td>
		    <td width="11%"><label for="months"><img src="../../images/<? if($this->estimation == "3"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> Monaten</label></td>
		    <td width="11%"><label for="langer"><img src="../../images/<? if($this->estimation == "4"){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /> länger</label></td>
		</tr>
	    </table>
      </td>
  </tr>
  <tr>
      <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em; text-align: justify;"><?php echo $this->todos; ?></td>
  </tr>
    <tr>
      <td colspan="2" style="font-size: 1.4em;">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em;"> <?php  if($this->iscompleted == "1") :?> <strong>Assessment abgeschlossen:</strong> <?php echo date("d.m.Y", strtotime($this->completeddate)); ?> <?php endif;?></td>
  </tr>
    <tr>
      <td colspan="2" style="font-size: 1.4em;">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em;"><strong>Reevaluation:</strong> <?php echo date("d.m.Y", strtotime($this->reeval)); ?></td>
  </tr>
   <?php
	$doc = $this->doctors;
	$doctor = $doc[$this->doc_id];
	
	$pfl = $this->pfleges;
	$pfleges = $pfl[$this->pfl_id];
	
  ?>
  <tr>
      <td colspan="2" style="font-size: 1.4em;"><strong>Arzt: </strong> <?php echo $doctor; ?></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em;"><strong>Pflege / Koordination: </strong> <?php echo $pfleges; ?></td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em;">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em;">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="2" style="font-size: 1.4em;">&nbsp;</td>
  </tr>
</table>