<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="250" align="center" valign="top"><? if(strlen($this->imgpath)>0){?><img src="<? echo $this->imgpath ?>" border="0" /> <? } ?></td>
  </tr>
  <tr>
    <td><table width="97%" border="0" align="right" cellpadding="0" cellspacing="0">
  <tr>
    <td width="44" align="left">&nbsp;</td>
    <td width="720" align="left" valign="top"><table width="720">
      <tr>
        <td height="33" align="center" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; font-size:26px; color:#000000;">Behandlungsvertrag</font></td>
      </tr>
      <tr>
        <td height="18" align="left"></td>
      </tr>
      <tr>
        <td height="30" align="center"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; font-size:19px; color:#000000;">Stiftung Juliusspital Würzburg</font></td>
      </tr>
      <tr>
        <td height="30" align="center"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:19px; color:#000000;">als Träger der SAPV/des ambulanten Palliativdienstes</font></td>
      </tr>
      <tr>
        <td height="50" align="left">&nbsp;</td>
      </tr>
      <tr>
        <td height="38" align="left"><table width="720" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12%" height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">Name:</font></td>
              <td width="88%" height="23" align="left">&nbsp;&nbsp;<font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:18px; color:#000000;"><? echo $this->patient_name ?></font></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="38" align="left"><table width="720" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12%" height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">Anschrift:</font></td>
              <td width="88%" height="23" align="left">&nbsp;&nbsp;<font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:18px; color:#000000;"><? echo $this->addresshdn ?></font></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="38" align="left"><table width="720" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="100%" height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:18px; color:#000000;"><? echo $this->zipcity ?></font></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="38" align="left"><table width="720" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="14%" height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">Versicherung:</font></td>
              <td width="86%" height="23" align="left">&nbsp;&nbsp;<font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:18px; color:#000000;"><? echo $this->hdninsurance ?></font></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="80" align="left">&nbsp;</td>
      </tr>
      <tr>
        <td height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">über die ambulante Behandlung im Rahmen der spezialisierten ambulanten
          Palliativversorgung.<br />
                <br />
          Die Abrechnung der erbrachten ärztlichen und pflegerischen Leistungen erfolgt nach
          folgenden Fallpauschalen: </font></td>
      </tr>
      <tr>
        <td height="8" align="left"></td>
      </tr>
      <tr>
        <td height="65" align="left"><table width="720" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="4%" align="left"><img src="../../images/pdf-arrow.jpg" width="12" height="15" /></td>
              <td width="96%" height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">Für Beratung ohne stattfindende Koordination, Teil- oder Vollversorgung: </font></td>
            </tr>
            <tr>
              <td height="31" align="left">&nbsp;</td>
              <td align="center"><table width="90%" border="0" align="right" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">200,-- €</font></td>
                  </tr>
              </table></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="65" align="left"><table width="720" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="4%" align="left"><img src="../../images/pdf-arrow.jpg" width="12" height="15" /></td>
              <td width="96%" height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">Für Koordination ohne stattfindende Teil- oder Vollversorgung einmalig:</font></td>
            </tr>
            <tr>
              <td height="31" align="left">&nbsp;</td>
              <td align="center"><table width="90%" border="0" align="right" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">800,-- €</font></td>
                  </tr>
              </table></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="65" align="left"><table width="720" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="4%" align="left"><img src="../../images/pdf-arrow.jpg" width="12" height="15" /></td>
              <td width="96%" height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">Für eine Teil- oder Vollversorgung einmalig (diese beinhaltet eine 24 Std.
                Verfügbarkeit für den Patienten):</font></td>
            </tr>
            <tr>
              <td height="31" align="left">&nbsp;</td>
              <td align="center"><table width="90%" border="0" align="right" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">3.250,-- €</font></td>
                  </tr>
              </table></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="50" align="left">&nbsp;</td>
      </tr>
      <tr>
        <td height="23" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="22%" height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">Würzburg, den</font></td>
              <td width="78%" height="23" align="left"><div align="right"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:18px; color:#000000;">.......................................................................................................</font></div></td>
            </tr>
            <tr>
              <td height="23" align="left">&nbsp;</td>
              <td height="23" align="left"><div align="right"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:17px; color:#000000;">(Unterschrift des/der Patenten/-in bzw. des Zahlungspflichtigen)</font></div></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table></td>
  </tr>
</table>

