<table width="820" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">

  <tr>
    <td width="100%" height="10" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; font-size:18px; color:#000000; line-height:28px; text-align:left">SAPV – Anfrage</font></td>
  </tr>
  <tr>
    <td height="10" align="left"><img src="images/black-line.jpg" width="820" height="2" /></td>
  </tr>
  <tr>
    <td height="10" align="left" >&nbsp;</td>
  </tr>
  <tr>
  <td height="23" align="left" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
         <td width="82%"  height="26" align="right" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Datum der Anfrage:</font></td>
      <td width="18%" align="right"><? echo $this->sapv_date ?></td>
    </tr>
  </table></td>
</tr>
<tr>
  <td height="23" align="left" ><table width="820" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
<tr>
<td ><table width="820" border="0" cellspacing="0" cellpadding="0">
<tr >
<td width="80%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="80%" ><table width="650" border="0" align="center" cellpadding="5" cellspacing="0">
<tr>
<td width="32%" height="45" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; line-height:20px; color:#000000;"><strong>Patient:</strong> Name, Vorname
</font></td>
<td width="68%" height="45" align="left"><? echo $this->patient_name  ?></td>
</tr>
</table></td>
</tr>
<tr>
<td><img src="images/black-line.jpg" width="655" height="2" /></td>
</tr>


</table>
<table width="100%" border="0" align="left" cellpadding="5" cellspacing="0">
<tr>
<td width="18%" height="20" align="left" valign="middle"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Strasse</font></td>
<td width="82%" height="20" align="left" valign="middle"><? echo $this->street ?></td>
</tr>
<tr>
<td width="18%" height="20" align="left" valign="middle"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">PLZ, Ort</font></td>
<td width="82%" height="20" align="left" valign="middle" style="text-align:left;"><? echo $this->zip ?></td>
</tr>
</table></td>
<td width="20%" align="right" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="2" bgcolor="#000000"></td>
<td width="99%"><table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
     <td  height="15" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">geboren am</font></td>
</tr>
<tr>
  <td align="left"><? echo $this->birthd ?></td>
</tr>

<tr>
<td height="15" align="left" valign="top" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="13%"  height="28" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">ID:</font></td>
    <td width="87%" align="left"><? echo $this->patientepid ?></td>
  </tr>
</table></td>
</tr>
</table></td>
</tr>
<tr>
<td colspan="2" align="left" valign="top"><img src="images/black-line.jpg" width="162" height="2" /></td>
</tr>
</table></td>
</tr>
<tr>
<td width="80%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="56%"><table width="99%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
      <td width="32%" height="28" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Telefon</font></td>
      <td width="68%" height="28" align="left"><? echo $this->telephon ?></td>
    </tr>
    <tr>
      <td width="32%" height="28" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Krankenkasse</font></td>
      <td width="68%" height="28" align="left"><? echo $this->insurance_com_name ?></td>
    </tr>
  </table></td>
  <td width="44%"><table width="83%" border="0" align="right" cellpadding="0" cellspacing="0">
<tr>
<td width="17%" height="30" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:13px; color:#000000;">oder:</font></td>
<td width="83%" height="30" align="left" ><? echo $this->mobile ?></td>
</tr>
<tr>

<td width="17%" height="30" align="left" >&nbsp;</td>
</tr>
</table></td>
</tr>
</table></td>
<td width="20%" align="right" valign="top">&nbsp;</td>
</tr>
</table></td>
</tr>
</table></td>
</tr>

<tr>
  <td height="23" align="left" ><table width="100%" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
    <tr>
      <td height="35" align="left" valign="top"><table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
        <tr>
           <td height="28" align="left" valign="middle" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Anfragende Person</strong> [Name, Vorname / Fachstelle / Adresse / Tel. usw.]</font></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td height="23" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="208" align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
           <td height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>&nbsp;&nbsp;Beziehung zum Patient</strong></font></td>
            </tr>
            <tr>
              <td height="23" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="13%" height="23" align="left"><img src="images/<? if($this->beziehung_zum_patient==1){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                   <td width="87%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Patient</strong> fragt selbst an</font></td>
                </tr>
                <tr>
                  <td width="13%" height="23" align="left"><img src="images/<? if($this->beziehung_zum_patient==2){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                    <td width="87%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Angehörige:</strong></font></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="23" align="right"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="13%" align="left">&nbsp;</td>
                  <td width="13%" height="20" align="left"><img src="images/<? if($this->beziehung_zum_patient==3){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                 <td width="74%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Eltern</font></td>
                  </tr>
                <tr>
                  <td width="13%" align="left">&nbsp;</td>
                  <td width="13%" height="20" align="left"><img src="images/<? if($this->beziehung_zum_patient==4){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                    <td width="74%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Partner</font></td>
                  </tr>
                <tr>
                  <td width="13%" align="left">&nbsp;</td>
                  <td width="13%" height="20" align="left"><img src="images/<? if($this->beziehung_zum_patient==5){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                    <td width="74%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Kinder</font></td>
                </tr>
              </table></td>
            </tr>
              
              <tr>
                <td height="23" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="13%" height="23" align="left"><img src="images/<? if($this->beziehung_zum_patient==6){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                    <td width="87%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Fachstellen</strong></font></td>
                  </tr>
                </table></td>
              </tr>
  <tr>
    <td height="23" align="right"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr>
        <td width="13%" align="left">&nbsp;</td>
        <td width="13%" height="20" align="left"><img src="images/<? if($this->beziehung_zum_patient==7){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
        <td width="74%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">niedergelassener Arzt</font></td>
      </tr>
      <tr>
        <td width="13%" align="left">&nbsp;</td>
        <td width="13%" height="20" align="left"><img src="images/<? if($this->beziehung_zum_patient==8){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
        <td width="74%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">amb. Pflege</font></td>
      </tr>
      <tr>
        <td width="13%" align="left">&nbsp;</td>
        <td width="13%" height="20" align="left"><img src="images/<? if($this->beziehung_zum_patient==9){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
        <td width="74%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Stat. Pflege</font></td>
      </tr>
      <tr>
        <td width="13%" align="left">&nbsp;</td>
        <td width="13%" height="20" align="left"><img src="images/<? if($this->beziehung_zum_patient==10){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
        <td width="74%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Krankenhaus</font></td>
      </tr>
      <tr>
        <td width="13%" align="left">&nbsp;</td>
        <td width="13%" height="20" align="left"><img src="images/<? if($this->beziehung_zum_patient==11){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
        <td width="74%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Seelsorgestelle</font></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="23" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="13%" height="20" align="left"><img src="images/<? if($this->beziehung_zum_patient==12){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
        <td width="87%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Nachbarn/ Bekannte</strong></font></td>
      </tr>
      <tr>
        <td width="13%" height="20" align="left"><img src="images/<? if($this->beziehung_zum_patient==13){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
        <td width="87%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Sonstiges</strong></font></td>
      </tr>
    </table></td>
  </tr>

          </table></td>
          <td width="1" bgcolor="#000000"></td>
          <td width="307" align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="100%" height="23" align="left" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="2%">&nbsp;</td>
                  <td width="98%" align="left" valign="middle"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Gründe für die Anfrage</strong></font></td>
                </tr>
              </table></td>
              </tr>
            <tr>
              <td width="100%" height="23" align="left"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="15%" height="20" align="left" valign="middle"><img src="images/<? if($this->grunde_fur_die_anfrage[1]==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" valign="middle" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Überprüfung SAPV-Relevanz</font></td>
                </tr>
                <tr>
                  <td width="15%" height="20" align="left" valign="middle"><img src="images/<? if($this->grunde_fur_die_anfrage[2]==2){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" valign="middle" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Schmerztherapie</font></td>
                </tr>
                <tr>
                  <td width="15%" height="20" align="left" valign="middle"><img src="images/<? if($this->grunde_fur_die_anfrage[3]==3){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" valign="middle" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Symptomkontrolle</font></td>
                </tr>
                <tr>
                  <td width="15%" height="20" align="left" valign="middle"><img src="images/<? if($this->grunde_fur_die_anfrage[4]==4){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" valign="middle" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Wunden / Nekrosen</font></td>
                </tr>
                <tr>
                  <td width="15%" height="20" align="left" valign="middle"><img src="images/<? if($this->grunde_fur_die_anfrage[5]==5){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" valign="middle" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Ernährungsproblematik</font></td>
                </tr>
                   <tr>
                  <td width="15%" height="20" align="left" valign="middle"><img src="images/<? if($this->grunde_fur_die_anfrage[6]==6){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" valign="middle" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Koordination Terminalphase</font></td>
                </tr>
              </table></td>
              </tr>
            <tr>
              <td width="100%" height="23" align="left"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="6%" height="20" align="left">&nbsp;</td>
                  <td width="9%" height="20" align="left"><img src="images/<? if($this->grunde_fur_die_anfrage[7]==7){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Terminalbetreuung: zuhause</font></td>
                </tr>
                <tr>
                  <td width="6%" height="20" align="left">&nbsp;</td>
                  <td width="9%" height="20" align="left"><img src="images/<? if($this->grunde_fur_die_anfrage[8]==8){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Terminalbetreuung: stat. Hospiz</font></td>
                </tr>
                <tr>
                  <td width="6%" height="20" align="left">&nbsp;</td>
                  <td width="9%" height="20" align="left"><img src="images/<? if($this->grunde_fur_die_anfrage[9]==9){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Terminalbetreuung:. Palliativstation</font></td>
                </tr>
                <tr>
                  <td width="6%" height="20" align="left">&nbsp;</td>
                  <td width="9%" height="20" align="left"><img src="images/<? if($this->grunde_fur_die_anfrage[10]==10){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Terminalbetreuung:. Pflegeheim</font></td>
                </tr>

              </table></td>
              </tr>
            <tr>
              <td width="100%" height="23" align="left"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="15%" height="20" align="left"><img src="images/<? if($this->grunde_fur_die_anfrage[11]==11){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                  <td width="85%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">nicht SAPV-relevante Gründe</font></td>
                </tr>

              </table></td>
              </tr>

          </table></td>
          <td width="1" bgcolor="#000000"></td>
          <td width="303" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="2%" align="left" >&nbsp;</td>
                         <td width="98%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Kommentar / spez. Wünsche</strong></font></td>
                </tr>
                <tr>
                  <td width="2%" valign="top">&nbsp;</td>
                  <td width="98%" height="150" valign="top"><? echo $this->kommentar_spez_wunsche ?></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td><img src="images/black-line.jpg" width="302" height="1" /></td>
            </tr>
            <tr>
              <td align="left" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

                <tr>
                  <td width="2%" align="left">&nbsp;</td>
                  <td width="98%" height="23" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Vermittelt von:</strong></font></td>
                </tr>
                <tr>
                  <td width="2%" align="left">&nbsp;</td>
                  <td width="98%" height="23" align="left"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="10%" height="23" align="left"><img src="images/<? if($this->vermittelt_von==1){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                      <td width="90%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Privat</font></td>
                    </tr>
                    <tr>
                      <td width="10%" height="23" align="left"><img src="images/<? if($this->vermittelt_von==2){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                      <td width="90%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Fachstelle</font></td>
                    </tr>
                    <tr>
                      <td width="10%" height="23" align="left"><img src="images/<? if($this->vermittelt_von==3){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                      <td width="90%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Hausarzt</font></td>
                    </tr>
                  </table></td>
                </tr>
          
              </table></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td width="100%" height="23" align="center"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="362" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" align="left" >&nbsp;</td>
              <td width="98%" height="28" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>relevante Diagnosen</strong></font></td>
            </tr>
            <tr>
              <td width="2%" align="left" valign="top">&nbsp;</td>
              <td width="98%" height="80" align="left" valign="top"><? echo $this->relevante_diagnosen ?></td>
            </tr>
            <tr>
              <td width="2%" align="left" >&nbsp;</td>
             <td width="98%" height="28" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>relevante Nebendiagnosen</strong></font></td>
            </tr>
            <tr>
              <td width="2%" align="left" valign="top">&nbsp;</td>
              <td width="98%" height="40" align="left" valign="top"><? echo $this->relevante_nebendiagnosen ?></td>
            </tr>
          </table></td>
          <td width="1" bgcolor="#000000"></td>
          <td width="443" align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="2%" align="left" >&nbsp;</td>
             <td width="98%" height="28" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Beteiligte Fachstellen</strong></font></td>
            </tr>
            <tr>
              <td width="2%" align="left">&nbsp;</td>
              <td width="98%" height="23" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="26%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Hausarzt</font></td>
                           <td width="10%" height="23" align="right" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Praxis</font></td>
                           <td width="2%" align="left" >&nbsp;</td>
                           <td width="62%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><? echo $this->hausarzt_praxis ?></font></td>
                </tr>
                <tr>
                    <td width="26%" height="23" align="left" >&nbsp;</td>
                           <td width="10%" height="23" align="right" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">mobil:</font></td>
                           <td width="2%" align="left" >&nbsp;</td>
                           <td width="62%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><? echo $this->hausarzt_mobil ?></font></td>
                </tr>
                <tr>
                    <td width="26%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Palliativarzt</font></td>
                           <td width="10%" height="23" align="right" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">mobil:</font></td>
                           <td width="2%" align="left" >&nbsp;</td>
                           <td width="62%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><? echo $this->palliativarzt_mobil ?></font></td>
                </tr>
                <tr>
                    <td width="26%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Palliativkraft</font></td>
                           <td width="10%" height="23" align="right" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">mobil:</font></td>
                           <td width="2%" align="left" >&nbsp;</td>
                           <td width="62%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><? echo $this->palliativkraft_mobil ?></font></td>
                </tr>
               <tr>
                    <td width="26%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Pflegedienst</font></td>
                           <td width="10%" height="23" align="right" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Tel.:</font></td>
                           <td width="2%" align="left" >&nbsp;</td>
                           <td width="62%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><? echo $this->pflegedienst_tel ?></font></td>
                </tr>
                <tr>
                    <td width="26%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Hospizhelfer</font></td>
                           <td width="10%" height="23" align="right" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Tel.:</font></td>
                           <td width="2%" align="left" >&nbsp;</td>
                           <td width="62%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><? echo $this->hospizhelfer_tel ?></font></td>
                </tr>
                <tr>
                    <td width="26%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Klinikum</font></td>
                           <td width="10%" height="23" align="right" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Tel.:</font></td>
                           <td width="2%" align="left" >&nbsp;</td>
                           <td width="62%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><? echo $this->klinikum_tel ?></font></td>
                </tr>
                <tr>
                    <td width="26%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Krankenkasse</font></td>
                           <td width="10%" height="23" align="right" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Tel.:</font></td>
                           <td width="2%" align="left" >&nbsp;</td>
                           <td width="62%" height="23" align="left" ><? echo $this->krankenkasse_tel ?></td>
                </tr>
                
            
              </table></td>
            </tr>

          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td height="40" align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="1%" align="left" >&nbsp;</td>
          <td width="16%" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Besonderheiten</strong></font> :</td>
          <td width="82%" height="28" align="left" ><? echo $this->besonderheiten ?></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td width="100%" height="23" align="center"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="362" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
            
            <tr>
              <td width="1%" height="23" align="left" valign="middle">&nbsp;</td>
              <td width="70%" height="23" align="left" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Patient einverstanden mit Anfrage</strong></font></td>
              <td width="29%" height="23" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="30%" height="23"><img src="images/<? if($this->patient_einverstanden_mit_anfrage==1){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                  <td width="70%" height="23"><strong>Ja</strong></td>
                </tr>
                <tr>
                  <td width="30%" height="23"><img src="images/<? if($this->patient_einverstanden_mit_anfrage==2){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                  <td width="70%" height="20"><strong>Nein</strong></td>
                </tr>
              </table></td>
              </tr>
            
          </table></td>
          <td width="1" bgcolor="#000000"></td>
          <td width="443" align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td width="1%" align="left" >&nbsp;</td>
                <td width="99%" height="28" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Aktueller Aufenthalt des Patienten / Erstkontakt:</strong></font></td>
              </tr>
              <tr>
                <td width="1%" align="left">&nbsp;</td>
                <td width="99%" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="6%" height="23" align="left"><img src="images/<? if($this->aktueller_aufenthalt_des_patienten==1){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                    <td width="37%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">zuhause, allein</font></td>
                    <td width="6%" height="23" align="left"><img src="images/<? if($this->aktueller_aufenthalt_des_patienten==4){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                     <td width="51%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">stationäres Hospiz</font></td>
                  </tr>
                  <tr>
                    <td width="6%" height="23" align="left"><img src="images/<? if($this->aktueller_aufenthalt_des_patienten==2){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                     <td width="37%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">zuhause, Angehörige</font></td>
                    <td width="6%" height="23" align="left"><img src="images/<? if($this->aktueller_aufenthalt_des_patienten==5){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                      <td width="51%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">stationäre Pflegeeinrichtung</font></td>
                  </tr>
                  <tr>
                    <td width="6%" height="23" align="left"><img src="images/<? if($this->aktueller_aufenthalt_des_patienten==3){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                     <td width="37%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Krankenhaus</font></td>
                    <td width="6%" height="23" align="left"><img src="images/<? if($this->aktueller_aufenthalt_des_patienten==6){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
                      <td width="51%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;">Palliativstation</font></td>
                  </tr>
                </table></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
  </table></td>
</tr>

<tr>
  <td height="23" align="center" ><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td height="2" align="left" valign="top">&nbsp;</td>
      <td height="2" align="left" valign="top">&nbsp;</td>
      <td height="2" align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td width="40%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="35%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Empfehlung:</strong></font></td>
          <td width="7%" height="20" align="left"><img src="images/<? if($this->empfehlung==1){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
          <td width="58%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Beratung</strong></font></td>
        </tr>
        <tr>
          <td width="35%" height="20" align="left">&nbsp;</td>
          <td width="7%" height="20" align="left"><img src="images/<? if($this->empfehlung==2){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
          <td width="58%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>SAPV Koordination</strong></font></td>
        </tr>
        <tr>
          <td width="35%" height="20" align="left">&nbsp;</td>
          <td width="7%" height="20" align="left"><img src="images/<? if($this->empfehlung==3){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
          <td width="58%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>SAPV Teilversorgung</strong></font></td>
        </tr>
        <tr>
          <td width="35%" height="20" align="left">&nbsp;</td>
          <td width="7%" height="20" align="left"><img src="images/<? if($this->empfehlung==4){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
          <td width="58%" height="20" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>SAPV Vollversorgung</strong></font></td>
        </tr>
      </table></td>
      <td width="20%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">

        <tr>
     
          <td width="15%" height="23" align="left"><img src="images/<? if($this->empfehlung==5){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
          <td width="85%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Hospizbegleitung</strong></font></td>
        </tr>

      </table></td>
      <td width="40%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="8%" height="23" align="left"><img src="images/<? if($this->empfehlung==6){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
          <td width="92%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>beenden wegen fehlender Notwendigkeit</strong></font></td>
        </tr>
      </table></td>
    </tr>
  </table></td>
</tr>
<tr>
  <td height="3" align="left" ></td>
</tr>
<tr>
  <td height="23" align="center" ><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="15%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Procedere:</strong></font></td>
       <td width="25%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Verordnungsanfrage</strong></font></td>
      <td width="3%" height="23" align="left"><img src="images/<? if($this->verordnungsanfrage==1){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
      <td width="17%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Hausarzt</strong></font></td>
      <td width="3%" height="23" align="left"><img src="images/<? if($this->verordnungsanfrage==2){ echo "radio-selected-btn.jpg"; }else{ echo "radio-btn.jpg";} ?>" /></td>
      <td width="48%" height="23" align="left" ><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Klinik</strong></font></td>
    </tr>

  </table></td>
</tr>
<tr>
  <td height="50" align="left" >&nbsp;</td>
</tr>
<tr>
  <td height="23" align="left" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
       <td width="8%" height="28" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Datum:</strong></font></td>
       <td width="20%" height="28" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong><? echo $this->curdate ?></strong></font></td>
     <td width="12%" height="28" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong>Unterschrift:</strong></font></td>
       <td width="60%" height="28" align="left"><font style="font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none; font-size:14px; color:#000000;"><strong><? echo $this->loginusername ?></strong></font></td>
    </tr>
  </table></td>
</tr>



</table>
