<table width="820" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;">
  <tr>
    <td><table width="820" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="410" align="left" valign="top">
        <table width="410" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0" style="font-size:12px;">
          <tr>
            <td height="30" align="left" valign="top"><table width="410" border="0" cellspacing="0" cellpadding="0">
              
              <tr>
                <td width="10">&nbsp;</td>
                <td height="20" align="left" valign="top">Krankenkasse bzw. Kostenträger</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20" align="left" valign="top"><? echo $this->krankenkassenmae ?></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td><table width="410" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10" height="20">&nbsp;</td>
                <td height="20">Name, Vorname des Versicherten</td>
                <td height="20">&nbsp;</td>
                <td width="10" height="20">&nbsp;</td>
              </tr>
              <tr>
                <td width="10" height="30">&nbsp;</td>
                <td width="210" height="20">
                  <? echo $this->patient_name ?>                </td>
                <td height="30" align="left" valign="top"><table width="180" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20" height="10" align="left" valign="top"></td>
                    <td height="10" align="left" valign="top"></td>
                    <td height="30">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="20" height="20" align="left" valign="top">&nbsp;</td>
                    <td height="20" align="left" valign="top">geb. am</td>
                    <td width="5" height="30">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="20" height="20">&nbsp;</td>
                    <td height="20"><? echo $this->birthd ?></td>
                    <td width="5" height="30">&nbsp;</td>
                  </tr>
                </table></td>
                <td width="10" height="30">&nbsp;</td>
              </tr>
              
            </table></td>
          </tr>
          <tr>
            <td><table width="410" border="0" cellspacing="0" cellpadding="0">
              
              <tr>
                <td width="10" height="20" align="left" valign="top">&nbsp;</td>
                <td width="100" height="20" align="left" valign="top">Kassen-Nr.</td>
                <td width="1" height="20" align="left" valign="top" ></td>
                <td width="5" height="20" align="left" valign="top">&nbsp;</td>
                <td width="150" height="20" align="left" valign="top">Versicherten-Nr.</td>
                <td width="1" height="20" align="left" valign="top" ></td>
                <td width="5" height="20" align="left" valign="top">&nbsp;</td>
                <td width="120" height="20" align="left" valign="top">Status</td>
              </tr>
              <tr>
                <td width="10" height="20" align="left" valign="top">&nbsp;</td>
                <td width="100" height="20" align="left" valign="top"><? echo $this->kassen_nr ?></td>
                <td width="1" height="20" align="left" valign="top" bgcolor="#000000"></td>
                <td width="5" height="20" align="left" valign="top">&nbsp;</td>
                <td width="150" height="20" align="left" valign="top"><? echo $this->versicherten_nr ?></td>
                <td width="1" height="20" align="left" valign="top" bgcolor="#000000"></td>
                <td width="5" height="20" align="left" valign="top">&nbsp;</td>
                <td width="120" height="20" align="left" valign="top"><? echo $this->status ?></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td><table width="410" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10" height="3" align="left" valign="top"></td>
                <td width="140" height="3" align="left" valign="top"></td>
                <td width="1" height="3" align="left" valign="top" ></td>
                <td width="5" height="3" align="left" valign="top"></td>
                <td width="100" height="3" align="left" valign="top"></td>
                <td width="1" height="3" align="left" valign="top" ></td>
                <td width="5" height="3" align="left" valign="top"></td>
                <td width="100" height="3" align="left" valign="top"></td>
              </tr>
              <tr>
                <td width="10" height="20" align="left" valign="top">&nbsp;</td>
                <td width="140" height="20" align="left" valign="top">Vertragsarzt-Nr.</td>
                <td width="1" height="20" align="left" valign="top" ></td>
                <td width="5" height="20" align="left" valign="top">&nbsp;</td>
                <td width="100" height="20" align="left" valign="top">VK gültig bis</td>
                <td width="1" height="20" align="left" valign="top" ></td>
                <td width="5" height="20" align="left" valign="top">&nbsp;</td>
                <td width="100" height="20" align="left" valign="top">Datum</td>
              </tr>
              <tr>
                <td width="10" height="20" align="left" valign="top">&nbsp;</td>
                <td width="140" height="20" align="left" valign="top"><? echo $this->vertragsarzt_nr ?></td>
                <td width="1" height="20" align="left" valign="top" bgcolor="#000000"></td>
                <td width="5" height="20" align="left" valign="top">&nbsp;</td>
                <td width="100" height="20" align="left" valign="top"><? echo $this->vk_gultig_bis ?></td>
                <td width="1" height="20" align="left" valign="top" bgcolor="#000000"></td>
                <td width="5" height="20" align="left" valign="top">&nbsp;</td>
                <td width="100" height="20" align="left" valign="top"><? echo $this->datum ?></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="410" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" height="15" align="center" valign="middle">&nbsp;</td>
            <td width="97%" height="15" align="center" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td width="3%" height="20" align="center" valign="middle">&nbsp;</td>
            <td width="97%" height="20" align="center" valign="middle" style="font-size:20px; font-weight:normal; line-height:28px;">Palliativnetzwerk</td>
          </tr>
          <tr>
            <td width="3%" height="20" align="center" valign="middle">&nbsp;</td>
            <td width="97%" height="20" align="center" valign="middle" style="font-size:18px; font-weight:normal; line-height:25px;">            Wanne | Herne | Castrop-Rauxel</td>
          </tr>
          <tr>
            <td width="3%" height="20" align="center" valign="middle">&nbsp;</td>
            <td width="97%" height="20" align="center" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td width="3%" align="center" valign="middle">&nbsp;</td>
            <td width="97%" align="center" valign="middle"><table width="390" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
              <tr>
                <td width="195" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="5" height="5">&nbsp;</td>
                    <td width="95%" height="5">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="5" height="30" align="left" valign="top">&nbsp;</td>
                    <td width="97%" height="30" align="left" valign="top" style="font-size:12px;">Eingeschrieben von I am</td>
                  </tr>
                  <tr>
                    <td width="5" height="30" align="left" valign="top">&nbsp;</td>
                    <td height="30" align="left" valign="top"><? echo $this->eingeschrieben_von_i_am ?></td>
                  </tr>
                </table></td>
                <td width="195" align="left" valign="top"><table width="195" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10" height="30" align="left" valign="top">&nbsp;</td>
                    <td width="25" height="30" align="left" valign="top">&nbsp;</td>
                    <td height="30" align="left" valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="10" height="30" align="left" valign="middle">&nbsp;</td>
                    <td width="25" height="30" align="left" valign="middle"><label>
                    <img src="images/<? if($this->aapv_seit==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" />
                    </label></td>
                    <td height="30" align="left" valign="middle">AAPV seit</td>
                  </tr>
                  <tr>
                    <td width="10" align="left" valign="top">&nbsp;</td>
                    <td width="25" align="left" valign="top">&nbsp;</td>
                    <td align="left" valign="top">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td width="195" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="5" height="5">&nbsp;</td>
                    <td width="97%" height="5">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="5" height="30" align="left" valign="top">&nbsp;</td>
                    <td width="97%" height="30" align="left" valign="top" style="font-size:12px;">Dokumentation I Version vom</td>
                  </tr>
                  <tr>
                    <td width="5" height="30" align="left" valign="top">&nbsp;</td>
                    <td height="30" align="left" valign="top"><? echo $this->dokumentation_i_version_vom ?></td>
                  </tr>
                </table></td>
                <td width="195" align="left" valign="top"><table width="195" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10" height="30" align="left" valign="top">&nbsp;</td>
                    <td width="25" height="30" align="left" valign="top">&nbsp;</td>
                    <td height="30" align="left" valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="10" height="30" align="left" valign="middle">&nbsp;</td>
                    <td width="25" height="30" align="left" valign="middle"><label>
                    <img src="images/<? if($this->sapv_seit==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></label></td>
                    <td height="30" align="left" valign="middle">SAPV seit</td>
                  </tr>
                  <tr>
                    <td width="10" align="left" valign="top">&nbsp;</td>
                    <td width="25" align="left" valign="top">&nbsp;</td>
                    <td align="left" valign="top">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
  <tr>
    <td><table width="820" border="3" bordercolor="#000000" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="500" align="left" valign="top" ><table width="500" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="25" align="left" valign="top" ><table width="500" border="0" cellpadding="0" cellspacing="0" bgcolor="#F3F3F3">
              <tr>
                <td width="10">&nbsp;</td>
                <td width="490" height="25" align="left" valign="middle"><strong>Kontaktpersonen</strong></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="500" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
              <tr bgcolor="#f3f3f3">
                <td width="190" height="25" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                    <td height="25" align="left" valign="middle"><strong>Name</strong></td>
                  </tr>
                </table></td>
                <td width="190" height="25" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                    <td height="25" align="left" valign="middle">Beziehung</td>
                  </tr>
                </table></td>
                <td width="120" height="25" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                    <td height="25" align="left" valign="middle">Telefon</td>
                  </tr>
                </table></td>
              </tr>
              <? if(count($_POST['cnt_name'])>0){
              for($i=1; $i<=count($_POST['cnt_name']); $i++){?>
              <tr>
                <td width="190" height="25" align="left" valign="middle"><? echo $this->cnt_name[$i] ?></td>
                <td width="190" height="25" align="left" valign="middle"><? echo $this->cnt_familydegree[$i] ?></td>
                <td width="120" height="25" align="left" valign="middle"><? echo $this->cnt_mobile[$i] ?></td>
              </tr>
              <? } } ?>
             
              <tr>
                <td width="190" height="25" align="left" valign="middle">&nbsp;</td>
                <td width="190" height="25" align="left" valign="middle">&nbsp;</td>
                <td width="120" height="25" align="left" valign="middle">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="500" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
              <tr bgcolor="#F3F3F3">
                <td width="380" height="20" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                      <td height="25" align="left" valign="middle"><strong>Behandelnde Ärzte</strong></td>
                    </tr>
                </table></td>
                <td width="120" height="20"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="10" height="20" align="left" valign="middle">&nbsp;</td>
                      <td height="20" align="left" valign="middle">Telefon</td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td width="380" height="25"><table width="380" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
                  <tr>
                    <td width="190" height="25" align="left" valign="middle">&nbsp;</td>
                    <td width="190" height="25" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                          <td height="25" align="left" valign="middle">Hausarzt</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td width="190" height="25" align="left" valign="middle">&nbsp;</td>
                    <td width="190" height="25" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                          <td height="25" align="left" valign="middle">Palliativarzt</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td width="190" height="25" align="left" valign="middle">&nbsp;</td>
                    <td width="190" height="25" align="left" valign="middle">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="190" height="26" align="left" valign="middle">&nbsp;</td>
                    <td width="190" height="26" align="left" valign="middle">&nbsp;</td>
                  </tr>
                </table></td>
                <td width="120" height="25" align="left" valign="top"><table width="118" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
                  <tr>
                    <td width="120" height="27" align="left" valign="middle">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="120" height="25" align="left" valign="middle">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="120" height="25" align="left" valign="middle">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="120" height="25" align="left" valign="middle">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="500" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
              <tr bgcolor="#F3F3F3">
                <td width="380" height="20" >
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                    <td height="25" align="left" valign="middle"><strong>Pflegedienst</strong></td>
                  </tr>
                </table></td>
                <td width="120" height="20"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                    <td height="25" align="left" valign="middle">Telefon</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td width="380" height="25">&nbsp;</td>
                <td width="120" height="25">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="500" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
              <tr bgcolor="#F3F3F3">
                <td width="380" height="20" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                      <td height="25" align="left" valign="middle"><strong>Palliativ- I Hospizdienst</strong></td>
                    </tr>
                </table></td>
                <td width="120" height="20"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                      <td height="25" align="left" valign="middle">Telefon</td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td width="380" height="25">&nbsp;</td>
                <td width="120" height="25">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top">
            <table width="500" border="1" bordercolor="#000000" cellspacing="0" cellpadding="0">
              <tr bgcolor="#F3F3F3">
                <td width="380" height="20" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                      <td width="360" height="25" align="left" valign="middle"><strong>Ehrenamtliche I Seelsorger etc.</strong></td>
                    </tr>
                </table></td>
                <td width="120" height="20"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="10" height="25" align="left" valign="middle">&nbsp;</td>
                      <td height="25" align="left" valign="middle">Telefon</td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td width="380" height="25">&nbsp;</td>
                <td width="120" height="25">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td width="500" align="left" valign="top"><table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
              <tr >
                <td width="252" height="25" align="left" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="25" align="left" bgcolor="#F3F3F3"><table width="235" border="0" align="center" cellpadding="3" cellspacing="0">
                      <tr>
                        <td align="left"><strong>Lebenssituation</strong></td>
                      </tr>
                    </table></td>
                  </tr>
                  
                  <tr>
                    <td height="1" align="center" ><img src="images/black-line.jpg" width="249px" height="2px" /></td>
                  </tr>
                  <tr>
                    <td height="20" align="center" valign="top"><table width="235" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><label><img src="images/<? if($this->lebt_alleine==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></label></td>
                        <td width="80%" height="20" align="left" valign="middle">lebt alleine</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->house_of_relatives==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Familie I Gemeinschaft</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->home==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Pflegeeinrichtung</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->unterstutzung_durch==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Unterstützung durch:</td>
                      </tr>
                      
                    </table></td>
                  </tr>
                  <tr>
                    <td height="2" align="center"><img src="images/black-line.jpg" width="249px" height="2px" /></td>
                  </tr>
                  <tr>
                    <td height="25" align="center" bgcolor="#F3F3F3"><table width="235" border="0" align="center" cellpadding="3" cellspacing="0">
                      <tr>
                        <td align="left"><strong>Religion I Spiritualität</strong></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1" align="center"><img src="images/black-line.jpg" width="249px" height="1px" /></td>
                  </tr>
                  <tr>
                    <td height="20" align="center">&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="2" align="center"><img src="images/black-line.jpg" width="249px" height="2px" /></td>
                  </tr>
                  <tr>
                    <td height="25" align="center" bgcolor="#F3F3F3"><table width="235" border="0" align="center" cellpadding="3" cellspacing="0">
                      <tr>
                        <td align="left"><strong>Spezielle Versorgung</strong></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1" align="center"><img src="images/black-line.jpg" width="249px" height="1px" /></td>
                  </tr>
                  <tr>
                    <td height="25" align="center"><table width="235" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><label><img src="images/<? if($this->dk==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></label></td>
                        <td width="80%" height="20" align="left" valign="middle">DK I SPF seit:</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->stoma==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Stoma:</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->magensonde_seit==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Magensonde seit:</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->preg==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">PEG seit:</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->port==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Port I ZVK seit:</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->pumpe==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">[Schmerz-] Pumpe</td>
                      </tr>
                      
                      
                    </table></td>
                  </tr>
                  <tr>
                    <td height="2" align="center"><img src="images/black-line.jpg" width="249px" height="2px" /></td>
                  </tr>
                  <tr>
                    <td height="25" align="center"><table width="235" border="0" align="center" cellpadding="0" cellspacing="0">
                      
                      <tr>
                        <td width="20%" height="25" align="center" valign="middle"><img src="images/<? if($this->wundmanagement_chk==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="25" align="left" valign="middle">Wundmanagement:</td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
                <td width="247" height="25" align="left" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="25" align="center" bgcolor="#F3F3F3"><table width="235" border="0" align="center" cellpadding="3" cellspacing="0">
                        <tr>
                          <td align="left"><strong>Pflegestufe</strong></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1" align="center" ><img src="images/black-line.jpg" width="245px" height="2px" /></td>
                  </tr>
                  <tr>
                    <td height="20" align="center"><table width="235" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="20%" height="20" align="center" valign="middle"><label><img src="images/<? if($this->keine==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></label></td>
                          <td width="80%" height="20" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td>keine</td>
                              <td width="20"><img src="images/<? if($this->beantragt_chk==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                              <td width="100">beantragt</td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->Pflegestufe1==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                          <td width="80%" height="20" align="left" valign="middle">Pflegestufe I</td>
                        </tr>
                        <tr>
                          <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->Pflegestufe2==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                          <td width="80%" height="20" align="left" valign="middle">Pflegestufe II</td>
                        </tr>
                        <tr>
                          <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->Pflegestufe3==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                          <td width="80%" height="20" align="left" valign="middle">Pflegestufe III</td>
                        </tr>
                        
                    </table></td>
                  </tr>
                  <tr>
                    <td height="2" align="center"><img src="images/black-line.jpg" width="245px" height="2px" /></td>
                  </tr>
                  <tr>
                    <td height="25" align="center" bgcolor="#F3F3F3"><table width="235" border="0" align="center" cellpadding="3" cellspacing="0">
                        <tr>
                          <td align="left"><strong>Hilfsmittel</strong></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1" align="center"><img src="images/black-line.jpg" width="246px" height="1px" /></td>
                  </tr>
                  <tr>
                    <td height="25" align="left" valign="middle"><table width="235" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><label><img src="images/<? if($this->arm_i_beinprothese==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></label></td>
                        <td width="80%" height="20" align="left" valign="middle">Arm- I Beinprothese</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->zahnprothese==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Zahnprothese</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->brille==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Brille</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->kontaktlinsen==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Kontaktlinsen</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->horgerat==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Hörgerät</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->gehhilfe==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Gehhilfe:</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->CPAP==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">CPAP</td>
                      </tr>
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->sauerstoff_therapie==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">Sauerstoff-Therapie</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1" align="center"><img src="images/black-line.jpg" width="245px" height="1px" /></td>
                  </tr>
                  <tr>
                    <td height="2" align="center"><table width="235" border="0" align="center" cellpadding="0" cellspacing="0">
                      
                      <tr>
                        <td width="20%" height="20" align="center" valign="middle"><img src="images/<? if($this->weitere_hilfsmittel==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                        <td width="80%" height="20" align="left" valign="middle">weitere Hilfsmittel:</td>
                      </tr>
                    </table></td>
                  </tr>
                  
                </table></td>
              </tr>
              
              
              
            </table></td>
          </tr>
          <tr>
            <td height="25" align="center" valign="middle" bgcolor="#F3F3F3"><table width="97%" border="0" cellspacing="0" cellpadding="0">			 <tr>
            <td height="1" align="left" valign="top"><img src="images/black-line.jpg" width="499" height="1px" /></td>
          </tr>
              <tr>
                <td align="left"><strong>Besonders beachten:</strong></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="top"><img src="images/black-line.jpg" width="499" height="1px" /></td>
          </tr>
          <? if(count($_POST['course_data'])>0){ 
          for($c=0; $c<count($_POST['course_data']); $c++){
          ?>
          <tr>
            <td height="25" align="left" valign="middle"><? echo $this->course_data[$c] ?></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="top"><img src="images/black-line.jpg" width="499" height="1px" /></td>
          </tr>
          <? } }?>
          <tr>
            <td height="15" align="left" valign="middle">&nbsp;</td>
          </tr>
        </table></td>
        <td width="320" align="left" valign="top" ><table width="320" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="25" align="left" valign="middle" bgcolor="#F3F3F3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%" height="25" align="left" valign="middle">&nbsp;</td>
                <td width="97%" height="25" align="left" valign="middle"><strong>[Palliativ-] Diagnosen I Leitsymptome</strong></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
         <? if(count($_POST['maindiagnosis'])>0){
         for($d=1; $d<=count($_POST['maindiagnosis']); $d++){?>
          <tr>
            <td height="25" align="left" valign="middle"><? echo $this->maindiagnosis[$d]?></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          <? } } ?>
         
          <tr>
            <td height="25" align="left" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          <tr>
            <td height="25" align="left" valign="middle" bgcolor="#F3F3F3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%" height="25" align="left" valign="middle">&nbsp;</td>
                <td width="97%" height="25" align="left" valign="middle"><strong>Tumorausbreitung I Metastasierung</strong></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          <tr>
            <td height="25" align="left" valign="middle"><table width="320" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="2%" align="left" valign="middle">&nbsp;</td>
                <td width="10%" align="left" valign="middle"><img src="images/<? if($this->Leber==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td width="40%" height="25" align="left" valign="middle">Leber</td>
                <td width="1" height="25" align="left" valign="middle" bgcolor="#000000"></td>
                <td width="2%" align="left" valign="middle">&nbsp;</td>
                <td width="10%" align="left" valign="middle"><img src="images/<? if($this->Lunge==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td width="40%" height="25" align="left" valign="middle">Lunge</td>
              </tr>
              <tr>
                <td width="2%" align="left" valign="middle">&nbsp;</td>
                <td width="10%" align="left" valign="middle"><img src="images/<? if($this->knochen==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td width="40%" height="25" align="left" valign="middle">Knochen</td>
                <td width="1" height="25" align="left" valign="middle" bgcolor="#000000"></td>
                <td width="2%" align="left" valign="middle">&nbsp;</td>
                <td width="10%" align="left" valign="middle"><img src="images/<? if($this->hirn==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td width="40%" height="25" align="left" valign="middle">Hirn</td>
              </tr>
              <tr>
                <td width="2%" align="left" valign="middle">&nbsp;</td>
                <td width="10%" align="left" valign="middle"><img src="images/<? if($this->nerven==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td width="40%" height="25" align="left" valign="middle">Nerven- I Plexus</td>
                <td width="1" height="25" align="left" valign="middle" bgcolor="#000000"></td>
                <td width="2%" align="left" valign="middle">&nbsp;</td>
                <td width="10%" align="left" valign="middle"><img src="images/<? if($this->andere==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td width="40%" height="25" align="left" valign="middle">andere:</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          <tr>
            <td height="25" align="left" valign="middle" bgcolor="#F3F3F3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%" height="25" align="left" valign="middle">&nbsp;</td>
                <td width="97%" height="25" align="left" valign="middle"><strong>weitere (wichtige) Diagnosen</strong></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          
            <? if(count($_POST['other_diagnosis'])>0){
         for($d=1; $d<=count($_POST['other_diagnosis']); $d++){?>
           <tr>
            <td height="25" align="left" valign="middle"><? echo $this->other_diagnosis[$d] ?></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          <? } } ?>
          
         
           <tr>
            <td height="25" align="left" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
           <tr>
            <td height="25" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="30" height="25" align="center" valign="middle"><img src="images/<? if($this->infektionskrankheiten==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td height="25" align="left" valign="middle">Infektionskrankheiten:</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
           <tr>
            <td height="25" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="30" height="25" align="center" valign="middle"><img src="images/<? if($this->allergien==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td height="25" align="left" valign="middle">Allergien::</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
           <tr >
            <td height="25" align="left" valign="middle" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%" height="25" align="left" valign="middle" bgcolor="#F3F3F3">&nbsp;</td>
                <td width="97%" height="25" align="left" valign="middle" bgcolor="#F3F3F3"><strong>Entscheidungshilfen</strong></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="25" align="left" valign="middle"><table width="100%" border="1" bordercolor="#000000" cellspacing="0" cellpadding="5">
              <tr>
                <td width="55%" height="18" align="left" valign="middle">Patient aufgeklärt über:</td>
                <td width="22%" height="18" align="left" valign="middle">Arzt</td>
                <td width="23%" height="18" align="left" valign="middle">Dat. I Hdz.</td>
              </tr>
              <tr>
                <td width="55%" height="18" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20%" height="25" align="center" valign="middle"><img src="images/<? if($this->erkrankung==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                    <td width="80%" height="18" align="left" valign="middle">Erkrankung</td>
                  </tr>
                </table></td>
                <td width="22%" height="18" align="left" valign="middle">&nbsp;</td>
                <td width="23%" height="18" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="55%" height="18" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20%" height="25" align="center" valign="middle"><img src="images/<? if($this->sapv_seit==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                    <td width="80%" height="18" align="left" valign="middle">Status I Ausbreitung</td>
                  </tr>
                </table></td>
                <td width="22%" height="18" align="left" valign="middle">&nbsp;</td>
                <td width="23%" height="18" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="55%" height="18" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20%" height="25" align="center" valign="middle"><img src="images/<? if($this->prognose==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                    <td width="80%" height="18" align="left" valign="middle">Prognose</td>
                  </tr>
                </table></td>
                <td width="22%" height="18" align="left" valign="middle">&nbsp;</td>
                <td width="23%" height="18" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="55%" height="18" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20%" height="25" align="center" valign="middle"><img src="images/<? if($this->patientenverfugung==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                    <td width="80%" height="25" align="left" valign="middle">Patientenverfügung</td>
                  </tr>
                </table></td>
                <td width="22%" height="18" align="left" valign="middle">&nbsp;</td>
                <td width="23%" height="18" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="55%" height="18" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20%" height="25" align="center" valign="middle"><img src="images/<? if($this->vorsorgevollmacht==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                    <td width="80%" height="25" align="left" valign="middle">Vorsorgevollmacht</td>
                  </tr>
                </table></td>
                <td width="22%" height="18" align="left" valign="middle">&nbsp;</td>
                <td width="23%" height="18" align="left" valign="middle">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
           <tr>
            <td height="25" align="left" valign="middle"><table width="98%" border="1" cellpadding="5" cellspacing="0" bordercolor="#000000" bgcolor="#F3F3F3">
              
              <tr>
                <td width="56%" height="15" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="20%" height="25" align="center" valign="middle"><img src="images/<? if($this->CPR_abgelehnt==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                      <td width="80%" height="15" align="left" valign="middle"><strong>CPR abgelehnt</strong></td>
                    </tr>
                </table></td>
                <td width="23%" height="15" align="left" valign="middle">&nbsp;</td>
                <td width="23%" height="15" align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td width="56%" height="15" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="20%" height="15" align="center" valign="middle"><img src="images/<? if($this->ITN_abgelehnt==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                      <td width="80%" height="15" align="left" valign="middle"><strong>ITN abgelehnt</strong></td>
                    </tr>
                </table></td>
                <td width="23%" height="15" align="left" valign="middle">&nbsp;</td>
                <td width="23%" height="15" align="left" valign="middle">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          <tr>
            <td height="25" align="left" valign="middle" bgcolor="#F3F3F3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%" height="25" align="left" valign="middle">&nbsp;</td>
                <td width="97%" height="25" align="left" valign="middle"><strong>Palliative Notfallsituationen</strong></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          <tr>
            <td height="25" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15%" height="25" align="center" valign="middle"><img src="images/<? if($this->luftnot_siehe_notfallplan==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td width="85%" height="25" align="left" valign="middle">Luftnot &rarr; siehe Notfallplan</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr><tr>
            <td height="25" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15%" height="25" align="center" valign="middle"><img src="images/<? if($this->blutungen_siehe_notfallplan==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td width="85%" height="25" align="left" valign="middle">Blutungen &rarr; siehe Notfallplan</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          <tr>
            <td height="25" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15%" height="25" align="center" valign="middle"><img src="images/<? if($this->andere_siehe_notfallplan==1){ echo "check02.jpg"; }else{ echo "check01.jpg";} ?>" /></td>
                <td width="85%" height="25" align="left" valign="middle">andere &rarr; siehe Notfallplan</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          <tr>
            <td height="20" align="left" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td height="1" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="1px" /></td>
          </tr>
          
          <tr>
            <td height="20" align="left" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td height="2" align="left" valign="middle"><img src="images/black-line.jpg" width="320" height="2px" /></td>
          </tr>
          <tr>
            <td height="100" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              
              <tr style="font-size:12px;">
                <td width="10" height="20" >&nbsp;</td>
                <td width="97%" height="20">Name I Datum I Unterschrift</td>
              </tr>
              <tr style="font-size:12px;">
                <td width="10" height="20" >&nbsp;</td>
                <td width="97%" height="20"><? echo $this->name_i_datum_i_unterschrift ?>&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>