<style>
	table.datatable td {
		vertical-align: top;
	}
	table.datatable td a{
		display: inline;
	}
	#zips_tag{
		width:95px;
	}
</style>
<form name="save_type" id="save_type" method="POST" action="" >
	<fieldset>
		<legend id="addFamDr_fieldsetLegend"><?php echo $this->translate('edit_team_event_type_page_heading'); ?></legend>
		<div class="add">
			<ul>
				<li><a href="team/teameventtypes">&laquo;  <?php echo $this->translate('team_event_types') ?></a></li>
			</ul>
		</div>
		
		<div class="error"><? echo $this->error_message; ?></div>
		
		<table class="datatable" id="table_paycenters">
			<tr>
				<td>
					<?php echo $this->translate('event type name'); ?>:
				</td>
				<td>
					<input type="text" name="name" value="<?php echo $this->name; ?>" id="name" />
				</td>
			</tr>
			<tr>
				<td colspan="2"> 
					<input type="submit" name="save_name" id="save_name" value="<?php echo $this->translate('save'); ?>" />
				</td>
			</tr>
		</table>
	</fieldset>
</form>