<?php
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/color_picker/colorpicker.css');
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/color_picker/layout.css');
$this->headScript()->appendFile(RES_FILE_PATH . '/javascript/colorpicker/colorpicker.js');
$this->headScript()->appendFile(RES_FILE_PATH . '/javascript/colorpicker/eye.js');
$this->headScript()->appendFile(RES_FILE_PATH . '/javascript/colorpicker/utils.js');
?>
<script type="text/javascript">
	var pl_loading = function()
	{
		var dlist = '<div class="loadingdiv" align="center"><img src="images/pageloading.gif"><br />	Loading... please wait</div>';
		document.getElementById('content').innerHTML = dlist;
	}
  function DoNav(theUrl)
  {
  	document.location.href = appbase+theUrl;
  }

   $(document).ready(function()
  {

	 $('#colorSelector').ColorPicker({
		color: '#<? echo $this->font_color?>',

		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onChange: function (hsb, hex, rgb) {

			document.getElementById('font_color').value = hex;
			$('#colorSelector div').css('backgroundColor', '#' + hex);
		}
	});

	$('#colorSelector div').css('backgroundColor', '#<? echo $this->font_color?>');
  });
  </script>

<form action="" method="post" name="frmcourseshortcuts" id="frmcourseshortcuts" >

<div style="clear:both;"></div>

	<p>
		<div id="addcorseshortcuts_translateList">
			<a href="courseshortcuts/courseshortcutlist"><? echo $this->translate('Course Shortcuts List') ?> &raquo; </a>
		</div>
	</p>
  
	<div id="addcorseshortcuts_messageError" class="err">
		<? echo $this->error_message ?>
	</div>

	<fieldset id="addCorShor_Fieldset">

		<legend id="addCorShor_FieldsetLegend"></legend>
	
		<br />
		<label for="shortcut" id="lbl_shortcut"><? echo $this->translate('shortcut') ?></label>
		<input type="text" name="shortcut" tabindex="1" id="shortcut" value="<? echo $this->shortcut ?>"  <? echo $this->invis?>  onkeyup="upper()"  >
		<div id="addcorseshortcuts_shortcutError" class="error"><? echo $this->error_shortcut_error ?> </div>
	
		<br />
		<label for="shortcut" id="lbl_shortcut"><? echo $this->translate('coursefullname') ?></label>
		<input type="text" name="course_fullname" tabindex="1" id="course_fullname" value="<? echo $this->course_fullname ?>" >
		<div id="addcorseshortcuts_fullnameError" class="error"> <? echo $this->error_course_fullname_error?></div>
	  
	  	<br />
	  	<label for="isunderline" id="lbl_isunderline"><? echo $this->translate('isfilter') ?></label>
	    <? echo $this->formCheckbox('isfilter', $this->isfilter,null, array('1')); ?>
	    <div id="addcorseshortcuts_isfilterError" class="error"><?php echo $this->error_isfilter ?></div>&nbsp;
	    
		<br />
		<label for="font_color" id="lbl_font_color"><? echo $this->translate('fontcolor') ?></label>
	    <input name="font_color" id="font_color" type="hidden" value="<? echo $this->font_color; ?>" />
	   	<div id="colorSelector" class="addcorseshortcuts_colorSelector"><div style="background-color: #0000ff"></div></div>
	  	<div id="addcorseshortcuts_alertColorError" class="error"> <?php echo $this->error_alert_color ?></div>&nbsp;
	  
	  	<br />
		<label for="isbold" id="lbl_isbold"><? echo $this->translate('bold') ?></label>
	    <? echo  $this->formCheckbox('isbold', $this->isbold, null, array('1')); ?>
	    <div id="addcorseshortcuts_isboldError" class="error"><?php echo $this->error_isbold ?></div>&nbsp;
	    
	    <br />
	   	<label for="isbold" id="lbl_isitalic"><? echo $this->translate('italic') ?></label>
	    <? echo  $this->formCheckbox('isitalic', $this->isitalic, null, array('1')); ?>
	    <div id="addcorseshortcuts_isitalicError" class="error"><?php echo $this->error_isitalic ?></div>&nbsp;
	    
	    
	    <br />
	    <label for="isunderline" id="lbl_isunderline"><? echo $this->translate('underline') ?></label>
	    <? echo  $this->formCheckbox('isunderline', $this->isunderline, null, array('1')); ?>
	    <div id="addcorseshortcuts_isunderlineError" class="error"><?php echo $this->error_isunderline ?></div>&nbsp;
	    
	    <br />
		<label id="addCorShor_SubmitBtn"></label>
	  	<input type="submit" name="btnsubmit" id="btnsubmit" tabindex="4" class="button" value="<? echo $this->translate('submit') ?>" >
  
	</fieldset>
  
</form>

<script type="text/javascript">
	function upper()
	{
		document.getElementById("shortcut").value = document.getElementById("shortcut").value.toUpperCase();
	}
</script>