<?php $this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/page-css/national_holidays_style.css');?>
<script>
	$(document).ready(function() {
		$('#nholiday_del').val('');
		
		$('.delete_nholiday').live('click',function(){
			$('#nholiday_del').val( $(this).attr('rel'));

			
			jConfirm('<?php echo $this->translate('confirmdeleterecord'); ?>', '', function(r) {
			    if(r){	
			    	$('#national_holidays_form').submit();
			    } else{
					$('#nholiday_del').val('');
			    }
			});
			return false;
		});
	});
</script>
		


<h1><?php echo $this->translate('National Holidays')?></h1>


<div class="add_link">
	<a href="misc/addnationalholiday"><? echo $this->translate('add national holiday') ?></a>
</div>

<div class="nationalholiday_block">

<form action="misc/nationalholidays" method="post" name="national_holidays_form" id="national_holidays_form">
	<table class="nh_master">

		<tr>
			<td class="th_like">
				<b><?php  echo $this->translate('holiday')?></b>
			</td>
			<td class="th_like">
				<b><?php echo $this->translate('date')?></b>
			</td>
			<td rowspan="<?php echo count($this->snational_holiday)+2 ;?>"	class="scrol_td">
				<div class="table_overflow">
					<table class="kid_table">
						<tr>
							<?php foreach($this->regions as $regid=>$reg_name):?>
							<?php if($regid !=""):?>
							<th>
								<?php echo $reg_name;?>
							</th>
							<?php endif;?>
							<?php endforeach;?>
						</tr>

						<?php foreach ($this->snational_holiday as $holiday=>$holiday_value):?>
						<tr>
							<?php foreach($this->regions as $regid=>$reg_name):?>
							<?php if($regid !=""):?>
								<?php if( in_array($regid, $holiday_value['holiday_states'])):?>
									<td>X</td>
								<?php else:?>
									<td></td>
								<?php endif;?>
							<?php endif;?>
							<?php endforeach;?>
						</tr>
						<?php endforeach;?>

					</table>
				</div>
			</td>
			<td class="th_like" colspan="2"><?php echo $this->translate('holiday_actions')?></td>
			
		</tr>

		<?php foreach ($this->snational_holiday as $holiday=>$holiday_value):?>
		<tr>
			<td class="th_like">
				<?php echo $holiday_value['holiday_name'];?>
			</td>
			<td class="th_like">
				<?php echo $holiday_value['holiday_date'];?>
			</td>
			<td> 
			<a href="misc/editnationalholiday?holiday_id=<?php echo $holiday;?>"><img border="0" src="<?php echo RES_FILE_PATH;  ?>/images/edit.png"></a> 
			</td>
			<td> 
			<a href="javascript:void(0);" class="delete_nholiday" class="confirm_button" rel="<?php echo $holiday; ?>" id="delete_<?php echo $holiday; ?>" ><img border="0" src="<?php echo RES_FILE_PATH;  ?>/images/action_delete.png"></a>
			</td>
		</tr>
		
		<?php endforeach;?>
		<tr>
			<td colspan="2"></td>
			<td ></td>
			<td ></td>
			
		</tr>

	</table>
	<input type="hidden" name="nholiday_del" id="nholiday_del" value="" /> 
	</form>
</div>