<?php
	$pl = $this->price_list;
	$blocks_settings = $this->blocks_settings;
	$price_form_blocks = $this->price_form_blocks;
 

 
?>
 

<h1><?php echo $this->translate('Price List Details');  ?></h1>
<p>
	<a href="<?php echo APP_BASE;  ?>misc/pricelist" ><?php echo $this->translate('back_to_price_list');  ?></a>
</p>
<p>
	<?php if($this->price_list): ?>
	<?php echo $this->translate('price_list_for_selected_period');  ?> <?php echo date('d.m.Y', strtotime($pl[$_REQUEST['list']]['start'])).' - '.date('d.m.Y', strtotime($pl[$_REQUEST['list']]['end']));  ?>
	<?php endif;  ?>
</p>


<form method="POST" action="" id="save_prices_form" name="save_prices_form">
 <?php foreach($blocks_settings as $block => $options):?>
 <table class="datatable" id="block_<?php echo $block; ?>">
	<tr>
		<th colspan="4">
			<h1><?php echo $this->translate('block_'.$block); ?></h1>
		</th>
	</tr>	
 	<tr>
 		<th><?php echo $this->translate('option_shortcut');?></th>
 		<th><?php echo $this->translate('option_name');?></th>
 		<th><?php echo $this->translate('price');?></th>
 	</tr>
		<?php $o = 1; foreach($options as $key=>$values): ?>
		
		<tr id="option_row_<?php echo $values['id'];?>">	
			<td width="5%"><b><?php echo  $values['shortcut'];?></b>
			<input type="hidden" value="<?php echo $values['shortcut'];  ?>" name="form_blocks[<?php echo $block;?>][<?php echo $values['id'];?>][shortcut]" class="curency_format"  />
			</td>
			<td width="70%"><?php echo  $values['option_name'];?></td>
			<td><input type="text" value="<?php echo number_format($price_form_blocks[$block][$values['id']]['price'], '2', ',', '.');  ?>" name="form_blocks[<?php echo $block;?>][<?php echo $values['id'];?>][price]" class="curency_format" />&nbsp;&nbsp;&euro;</td>
		</tr>
		 <?php $o++; endforeach;?>
		 
		 
 </table>
 <?php endforeach;?>
 
<input type="submit" value="<?php echo $this->translate('save');?>" id="save_prices" name="save_prices" />
</form>