<script>
	$(document).ready(function() {
		$('#has_access_all').click(function(){
			if($(this).is(':checked')){
				$('.has_access').attr('checked', true);
			} else {
				$('.has_access').removeAttr('checked');
			}
		});
	});
</script>
<?php
	$types_permisions = $this->types_permisions;
?>
<table width="60%">
	<tr>
		<td colspan="6" valign="top">&nbsp;</td>

	</tr>
	<tr>
		<td valign="top">&nbsp;</td>
		<td valign="top"><b><? echo $this->translate('groupname') ?> :</b></td>
		<td valign="top"><? echo $this->groupname ?></td>
		<td valign="top"><b><? echo $this->translate('clientname') ?> :</b>
			<input type="hidden" name="hdnclientid" id="hdnclientid" value="<? echo $this->theclientid ?>" /></td>
		<td valign="top"><? echo $this->client_name ?>&nbsp;</td>
		<td valign="top">&nbsp;</td>
	</tr>

</table>
<form action="" method="post" name="frmcourse" id="frmcourse" >
	<div class="grid">
		<table class="datatable" border="0">
			<tr>
				<th style="width: 50px;">#</th>
				<th><?php echo $this->translate('form_type_name'); ?></th>
				<th><input type="checkbox" id="has_access_all" value="" />&nbsp;<? echo $this->translate("has_access"); ?></th>
			</tr>
			<?php $i = '1'; foreach($this->types as $k_type => $v_type):  ?>
			<tr>

				<td><?php echo $i;  ?></td>
				<td><?php echo $v_type['name'];  ?></td>
				<td>
					<input name="has_access[<?php echo $k_type; ?>]" type="checkbox" class="has_access" value="1" <?php if($types_permisions[$k_type] == '1'): ?>checked="checked"<?php endif; ?> />
				</td>
			</tr>
			<?php $i++; endforeach;  ?>
			<tr>
				<td colspan="8" valign="top" align="left">
					<a class="button"  href="groupdefault/clientgroupmasterlist" style="padding: 0;"><?php echo $this->translate('backtolist') ?></a>
					<input name="submit" id="submit" type="submit" class="button" value="<? echo $this->translate('submit') ?>" />
				</td>
			</tr>
		</table>
	</div>
</form>