<?php
//ISPC-2782 Ancuta 21.01.2021
$this->headLink()->appendStylesheet(RES_FILE_PATH.'/css/menus/submenuspage.css?'.date('Ymd'));
$groups = $this->menus_groups_info;
$groups = $this->menus_groups_info;
$groupped_menus = $this->groupped_menus;
$menu_groups = $this->menu_groups;
$menu_link = $this->menu_link;
?>
 
<div class="settings-list">
			<!--  ISPC-2782 CRISTI.C-->
			<div class="container-fluid">
				<div class="row ">				
					<div class="col-4">
					<?php $col = 1;?>
					<?php foreach($groupped_menus as $group_id=>$submenus):?>					
					<div class="collapse-item-header-wrapper">
							<div class="collapse-item-header collapsed" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="menu1">
								<span class="title"><?php echo $submenus['menu_group_name']; ?> <?php echo $menu_groups[$group_id]['menu_group_name']; ?>  </span> 
								<?php if (!empty($menu_groups[$group_id]['info']) ):?>
								<span class="right infoTooltip">
								<span class="imgInfo"></span>	
									<span class="infoContainer">
										<span class="infoGroup">
											<i class="info-icon"></i>
											<span><?php echo $menu_groups[$group_id]['info']; ?></span>
										</span>
									</span>															
								</span>
								<?php endif; ?>
							</div>
							<div class="collapse collapse-item-body" id="menu1">
								<div class="card card-body">
									<ul class="collapse-item-menu">
										<?php foreach($submenus as $k=>$menu_info):?>
										<li>
											<a href="javascript:void(0)" onClick="setSelected(<?php echo "'m_$menu_info[id]','$menu_info[menu_link]' "?>)" ><span><?php echo $menu_info['menu_title']; ?></span></a>	
												<?php if (!empty($menu_info['menu_info']) )  {?>
											<span class="infoTooltip">					
												<span class="imgInfo"></span>
												<span class="infoContainer">
												<div class="arrow" style="left: 158px;"></div> 
												<span class="infoGroup">
													<i class="info-icon"></i>
													<span>
														<?php echo $menu_info['menu_info']; ?>
													</span>
												</span>
											</span>
												<?php } ?>											
										</li>
										<?php endforeach; ?>
									</ul>
								</div>
							</div>
						</div>
						
						<?php if(is_int($col/3)):?>
						</div>
							<div class="col-4">
						<?php endif;?>
						<?php $col++;?>
						<?php endforeach;?>
					</div>

				</div>
			</div>
<script>
$(".collapse-item-header.collapsed").on('click', function(){
	$(this).siblings('.collapse.collapse-item-body').slideToggle('slow');
	$(this).toggleClass('open');
});
</script>
		</div>	
			
		
		
		
		
		
		
		