<script type="text/javascript" >
	$(document).ready(function() {
		$('#check_all').live('change', function(){
			if($(this).is(':checked')){
				$('.client_selector').attr('checked', true);
			} else {
				$('.client_selector').removeAttr('checked');
			}
		});
		
		
		$("#makes_visits")
		.focus(function () {
			// Store the current value on focus, before it changes
			previous = this.value;
			$.data(this, "previous", previous);
			var before_change = $(this).data('previous');//get the pre data
		})
		.change(function(){
		
			if (this.value != 'tours'){

				$("table[name='client_list']").show();
				$.data(this, "previous", this.value);

			}else{
				var checked_users = $("table[name='client_list'] input:checkbox:checked");
				var this_select = this;			
				if (checked_users.length > 0){
					jConfirm('<?php echo $this->translate('confirm_pseudogroup_change_type_tours'); ?>', '<?php echo $this->translate('confirmdeletetitle'); ?>', function(r) {
						if(r)
						{	
							$("table[name='client_list']").hide();
							$(checked_users).removeAttr('checked');						
						}else{
							$(this_select).val($(this_select).data('previous'));
						}
					});
				}else{
					$("table[name='client_list']").hide();
					$(checked_users).removeAttr('checked');
					$.data(this, "previous", this.value);
				}
			}
			
		});
		
	});
	
	/*
		function display_selectbox_help( selectbox ), done without jquery 
		create an element with the id =  "helpdiv_" + the real selectbox's id
		
		create in the object selectbox_help_text_array an element with selectbox's id, and in this element, for each value of the selectobox you want to display info, add values
	*/
	var selectbox_help_text_array = {}
	selectbox_help_text_array.makes_visits = {};
	selectbox_help_text_array.makes_visits['0'] = '<?php echo $this->translate('help_pseudo_makes_visits_0');?>';
	selectbox_help_text_array.makes_visits['1'] = '<?php echo $this->translate('help_pseudo_makes_visits_1');?>';
	selectbox_help_text_array.makes_visits['tours'] = '<?php echo $this->translate('help_pseudo_makes_visits_tours');?>';
	
	function display_selectbox_help( selectbox )
	{
		var selectbox_value = selectbox.value ;
		var selectbox_id = selectbox.id ;
		var selectbox_helpdiv_id = "helpdiv_" +  selectbox_id ;
		
		if (selectbox_help_text_array != undefined && selectbox_help_text_array[selectbox_id] != undefined && selectbox_help_text_array[selectbox_id][selectbox_value] ){
			var helpdiv = document.getElementById(selectbox_helpdiv_id);
			helpdiv.innerText = selectbox_help_text_array[selectbox_id][selectbox_value];
			helpdiv.style.display = "inline-block";	
		}else{
			document.getElementById(selectbox_helpdiv_id).style.display = "none";
		}
		return true;
	}
	
</script>

<br/>
<!-- <a href="userpseudogroup/list" class="back">
&laquo; <?php echo  $this->translate("back"); ?>
</a> -->
<a href="<?php echo $this->url(array('controller'=>'userpseudogroup' , 'action' => 'list' )); ?>"><?php echo $this->translate("back")?></a>

<form action="" method="post" name="frmremedy" id="frmremedy">
	<fieldset id="addRemedy_fieldset">
		<?php if($_REQUEST['id'] > '0'): ?>
				<legend><?php echo $this->translate('edit_user_pseudo_group'); ?></legend>
			<?php else: ?>
				<legend><?php echo $this->translate('add_user_pseudo_group'); ?></legend>
		<?php endif; ?>

		<div id="addfamilydoctor_Msgerror" class="err"><? echo $this->error_message ?></div>
		<br />
 
 
		<div class="upg_form_row">
			<label><?php echo $this->translate('servicesname') ?></label>
			<input type="text" id="first_name" name="servicesname" value="<? echo $this->servicesname; ?>">
			<div id="user_error" class="error"> <?php echo $this->error_servicesname ?></div>
		</div>
		
		<div class="upg_form_row">
			<label id="lbl_indikation_phone" for="phone" style=""><?php echo $this->translate('phone') ?></label>
			<input type="text" id="phone" name="phone"  id="phone"  value="<? echo $this->phone; ?>">
		</div>
		
		<div class="upg_form_row">
			<label id="lbl_indikation_mobile" for="mobile" style=""><?php echo $this->translate('mobile') ?></label>
			<input type="text" id="mobile" name="mobile"  id="mobile"  value="<? echo $this->mobile; ?>">
		</div>
		
		<div class="upg_form_row">
			<label id="lbl_indikation_fax" for="fax" style=""><?php echo $this->translate('fax') ?></label>
			<input type="text" id="fax" name="fax"  id="fax"  value="<? echo $this->fax; ?>">
		</div>
		
		<div class="upg_form_row">
			<label id="lbl_indikation_email" for="email" style=""><?php echo $this->translate('email') ?></label>
			<input type="text" id="email" name="email"  id="email"  value="<? echo $this->email; ?>">
		</div>
		
		<div class="upg_form_row">
			<label for="makes_visits"><?php echo $this->translate('label_pseudogroup_makes_visits') ?></label>
			<select name="makes_visits" id="makes_visits" onchange="display_selectbox_help(this);">
				<option value="0" <?php if($this->makes_visits == "0"): ?> selected="selected" <?php endif; ?>  > <?php echo $this->translate('option_nein') ?> </option>
				<option value="1" <?php if($this->makes_visits == "1"): ?> selected="selected" <?php endif; ?> > <?php echo $this->translate('option_tours_and_dailyplaning') ?> </option>
				<option value="tours" <?php if($this->makes_visits == "tours"): ?> selected="selected" <?php endif; ?> > <?php echo $this->translate('option_tours') ?> </option>
			</select>
			<div id="helpdiv_makes_visits"></div>
			<div class="clearer"></div>
		</div>
		
	</fieldset>
	
	<table class="datatable" name="client_list"  style="<?php if($this->makes_visits == "tours"): echo "display:none;"; endif;?>" >
		<tr>
			<td style="text-align:right;"> <input type="checkbox" id="check_all" name="checked_all" />&nbsp;</td>
			<td >#<?php echo $this->translate('selectall');  ?>  </td>
		</tr>
		<?php foreach($this->user_groups as $group_id => $group_data ):?>
			
			<tr>
				<td colspan="2"><strong><?php echo $group_data['group_name']?></strong></td>
			</tr>
			
			<?php foreach($group_data['users'] as $user_id => $user_name):?>
				<tr>
					<td style="text-align:right;"> <input type="checkbox" id="u_<?php echo $user_id;?>" <?php  if(in_array($user_id,$this->ps_user)):?> checked="checked" <?php elseif(in_array($user_id,$this->exit_user)) : ?> disabled="disabled" <?php endif; ?> class="client_selector" name="user_id[<?php echo $user_id; ?>]" value="<?php echo $user_id; ?>" /> &nbsp;</td>
					<td><label  for="u_<?php echo $user_id;?>" ><?php echo $user_name; ?></label></td>
				</tr>
			<?php endforeach?>
		<?php endforeach?>
	
</table>	
	
	
 
	
	<input type="submit" name="btnsubmit" id="btnsubmit" class="button" tabindex="16" value="<? echo $this->translate('submit') ?>">
</form>
