<?php  
	$logininfo= new Zend_Session_Namespace('Login_Info');
?>
<script type="text/javascript">
$(function() {
		$('#news_date').datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			buttonImage: $('#calImg').attr('src'),
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true,
			nextText: '',
			prevText: ''
		});
		$("#news_date").mask("99.99.9999");
});

tinyMCE.init({

// General options
//plugins :"-example",
mode : "textareas",

theme : "advanced",
relative_urls : false,
absolute_urls : true,

file_browser_callback : "openSwampyBrowser",
		
plugins : "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

 

// Theme options

theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",

theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",

theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",

theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",

theme_advanced_toolbar_location : "top",

theme_advanced_toolbar_align : "left",

theme_advanced_statusbar_location : "bottom",

theme_advanced_resizing : true,

template_replace_values : {

username : "Some User",

staffid : "991234"

}

});

function getUservalues(val)
{	
//	location.href =appbase+'news/fetchuser?id='+val.value;
	ajaxCallserver({url:'news/fetchuser?id='+val.value});
}

var callBack = function(params)
{
	document.getElementById('userlist').innerHTML = params.userlist; 
}


</script>
<a href="<?php echo $this->url(array('controller'=>'news' , 'action' => 'newslist' )); ?>"><?php echo $this->translate("back")?></a>
<form action="" method="post" name="frmnews" id="frmnews">
<div id="addnews_calendarImg" style="display: none;">
	<img id="calImg" src="_ipad/images/calendar.png" alt="Popup" class="trigger">
</div>
	<fieldset>
    	<legend><?php echo $this->translate('addnews') ?></legend>
        <div id="addnews_MsgError" class="err"><?php echo $this->error_message ?></div>
        <label><?php echo $this->translate('newstitle') ?></label>
        <input type="text" name="news_title" id="news_title" value="<?php echo $this->news_title ?>" >
       <div id="addnews_newstitleError" class="error"> <?php echo $this->error_newstitle ?></div>
        <br>
        <br>
        <label><?php echo $this->translate('newscontent') ?></label>
     &nbsp;&nbsp;   <textarea name="news_content" id="news_content" cols="50" rows="7"><?php echo $this->news_content ?></textarea>
       <div id="addnews_newsContentError" class="error"> <?php echo $this->error_newscontent ?></div>
        <br>
       
         <label><?php echo $this->translate('newsdate') ?></label>
          <input type="text" name="news_date" id="news_date" value="<?php echo $this->news_date ?>" >
       <div id="addnews_newsdateError" class="error"><?php echo $this->error_newsdate ?></div>
        <br>
         <?php if($logininfo->usertype=='SA'){?>
        
        	<label><?php echo $this->translate('Client') ?></label>
           	<?php echo $this->formSelect('clientid', $this->clientarray, array("onChange"=>"getUservalues(this);"), $this->client_array); ?>  
			
        <br>
        <?php echo $this->commentbox ?>
       
         <label><?php echo $this->translate('users') ?></label>
         <div id="userlist">
        	<?php echo $this->formSelect('userid', $this->useridarray, array("multiple"=>"multiple"), $this->userarray); ?>  
		</div>
         <?php }?>
        <br>
        <label></label>
        <input name="btnsubmit" id="btnsubmit" type="submit" class="button" value="<?php echo $this->translate('submit') ?>" >
    
     </fieldset>

</form>