<?php

$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/data_tables/jquery.dataTables.js?'.date('Ymd'));
$this->headScript()->appendFile(RES_FILE_PATH.'/javascript/data_tables/dataTables.jqueryui.js?'.date('Ymd'));
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/data_tables/dataTables.jqueryui.css?' . date('Ymd'));
$this->headLink()->appendStylesheet(RES_FILE_PATH . '/css/page-css/listscommon.css?' . date('Ymd'));

?>

<script type="text/javascript">
var category = '<?php echo $this->category; ?>';
</script>

<br/>

<div id="materialslist">
<div class="add_link">
	<a href="<?php echo $this->url(array('controller'=>'orders' , 'action' => 'addmaterial')); ?>?category=<?php echo $this->category; ?>"><? echo $this->translate('addarticle'); ?></a>
</div>
<?php if($this->usertype == 'SA')	{ ?>
<div id="add_default">
	<a href="<?php echo $this->url(array('controller'=>'orders' , 'action' => 'adddefault')); ?>?category=<?php echo $this->category; ?>"><? echo $this->translate('adddefault'); ?></a>
</div>
<?php } ?>
</div>
<div style="clear:both;"></div>

 <h1><? echo $this->translate('list_'.$this->category); ?></h1>
<br/>
<div style="clear:both;"></div>
	
<table id="table" class="table table-striped table-bordered table-hover table-condensed dataTable no-footer  left_menu_datatable">
</table>	
