<form id="frmpdf" name="" action="" method="post">
	<table width="100%" cellpadding="0"  cellspacing="0" id="formpdf_table">
	<tr id="frmpdfTr1">
	  <td id="frmpdfTd1" valign="top"><a href="formbuilder/listforms"><? echo $this->translate('backtolist')?></a></td>
	</tr>
	<tr id="frmpdfTr2">
	  <td id="frmpdfTd2" valign="top">&nbsp;</td>
	</tr>
	<tr id="frmpdfTr3">
		<td id="frmpdfTd3" valign="top"><strong><? echo $this->translate('setpdfs')?></strong></td>
	</tr>
	<tr id="frmpdfTr4">
		<td id="frmpdfTd4" valign="top">
			<table width="100%" id="formpdf_buttonTable">
				<tr id="formpdf_buttonTableTr1">
				  <td id="formpdf_buttonTableTd1" valign="top">&nbsp;</td>
				</tr>
				<tr id="formpdf_buttonTableTr2">
					<td id="formpdf_buttonTableTd2" valign="top"><? echo $this->listpdfs ?></td>
				</tr>
				<tr id="formpdf_buttonTableTr3">
					<td id="formpdf_buttonTableTd2" valign="top"><input id="formpdf_submit_btn" type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</td>
	</tr>
	</table>
</form>