<form action="" name="frmpatinethealth" id="frmpatinethealth" method="post" >
<div id="showform_calendarImg" style="display: none;">
	<img id="calImg" src="_ipad/images/calendar.png" alt="Popup" class="trigger">
</div>
<? echo $this->patientinfo ?>
<? include("edit_patientmenus.html"); ?>
<div id="showform_tabContainer" class="tab_container">
<br />
<script type="text/javascript">
$(function(){
 $(".datepicker").mask("99.99.9999");
$('.datepicker').datepicker({
		dateFormat: 'dd.mm.yy',
		showOn: "both",
		buttonImage: $('#calImg').attr('src'),
		buttonImageOnly: true,
		changeMonth: true,
		changeYear: true,
		nextText: '',
		prevText: ''
	});
});
</script>
<?php foreach($this->items as $l => $field): ?>
	<fieldset>
		<legend><? echo  "Group ".$l ?></legend>
		<ul style="list-style:none;">
			<?php foreach($field as $k => $item): ?>
			<li>
				<?php if ($item['type'] != 'text'): ?>
					<label for='field_<?=$item['id']?>'><strong><?=((isset($item['label']))?$item['label']:'No Label')?></strong></label>
					<div id="showform_errorField" class='block'>
				<?php endif; ?>
						<?=((isset($item['html']))?$item['html']:NULL) ?><?=$this->{"error_field_".$item['id']}?>
						<?php if (isset($item['description'])): ?>
							<span class='note'><?=$item['description']?></span>
						<?php endif; ?>
				<?php if ($item['type'] != 'text'): ?>
					</div>
				<?php endif; ?>
			</li>
			<?php endforeach; ?>
           
		</ul>
	</fieldset>
<?php endforeach; ?>
<input type="submit" name="submit" value="Save" />
<? echo $this->pdflist?>
</div>

</form>